USE [eazybusiness]
GO
/****** Object:  View [Abgleich].[vNaechsterZulaufLagerartikel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Abgleich].[vNaechsterZulaufLagerartikel]
AS
    SELECT *
    FROM Abgleich.vZulaufLagerartikel
    WHERE vZulaufLagerartikel.nRowNumber = 1
GO
