USE [eazybusiness]
GO
/****** Object:  View [Abgleich].[vOffeneBestellpositionen]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Abgleich].[vOffeneBestellpositionen]
AS
SELECT	CONVERT(DATE, tLieferantenBestellungPos.dLieferdatum) AS dLieferdatum,
		tLieferantenBestellungPos.kArtikel,
		SUM(tLieferantenBestellungPos.fMenge - tLieferantenBestellungPos.fMengeGeliefert) AS fMengeNochZuLiefern
FROM dbo.tLieferantenBestellungPos
JOIN dbo.tLieferantenBestellung ON tLieferantenBestellungPos.kLieferantenBestellung = tLieferantenBestellung.kLieferantenBestellung
WHERE tLieferantenBestellungPos.dLieferdatum IS NOT NULL
	AND tLieferantenBestellungPos.dLieferdatum >= GETDATE()
	AND tLieferantenBestellungPos.fMenge > tLieferantenBestellungPos.fMengeGeliefert -- Nur noch offene Positionen
	AND tLieferantenBestellungPos.kArtikel IS NOT NULL
	AND tLieferantenBestellungPos.kArtikel <> 0
	AND tLieferantenBestellung.nStatus IN (20, 30) -- 20 = In Bearbeitung, 30 = Teilgeliefert
GROUP BY CONVERT(DATE, tLieferantenBestellungPos.dLieferdatum), tLieferantenBestellungPos.kArtikel;
GO
