USE [eazybusiness]
GO
/****** Object:  View [Abgleich].[vZulaufLagerartikel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Abgleich].[vZulaufLagerartikel]
AS
    SELECT
        AlleZulaeufe.*,
        ROW_NUMBER() OVER(PARTITION BY AlleZulaeufe.kArtikel ORDER BY AlleZulaeufe.dLieferdatum) AS nRowNumber
    FROM 
	(
		SELECT	vOffeneBestellpositionen.dLieferdatum,
				vOffeneBestellpositionen.kArtikel,
				vOffeneBestellpositionen.fMengeNochZuLiefern,
				SUM(vOffeneBestellpositionen.fMengeNochZuLiefern) OVER(PARTITION BY vOffeneBestellpositionen.kArtikel ORDER BY vOffeneBestellpositionen.dLieferdatum ROWS UNBOUNDED PRECEDING) AS fAnzahlOffenGesamt,
				ISNULL(Fehlbestand.fAnzahlFehlbestand, 0) AS fAnzahlFehlbestand,
				CASE
					WHEN SUM(vOffeneBestellpositionen.fMengeNochZuLiefern) OVER(PARTITION BY vOffeneBestellpositionen.kArtikel ORDER BY vOffeneBestellpositionen.dLieferdatum ROWS UNBOUNDED PRECEDING) - ISNULL(Fehlbestand.fAnzahlFehlbestand, 0) > 0
					THEN SUM(vOffeneBestellpositionen.fMengeNochZuLiefern) OVER(PARTITION BY vOffeneBestellpositionen.kArtikel ORDER BY vOffeneBestellpositionen.dLieferdatum ROWS UNBOUNDED PRECEDING) - ISNULL(Fehlbestand.fAnzahlFehlbestand, 0)
					ELSE 0
				END AS fAnzahlZulauf
		FROM Abgleich.vOffeneBestellpositionen
		LEFT JOIN
		(
			SELECT tlagerbestand.kArtikel,
			CASE
	            WHEN tlagerbestand.fInAuftraegen > tlagerbestand.fLagerbestandEigen
				THEN tlagerbestand.fInAuftraegen - tlagerbestand.fLagerbestandEigen
				ELSE 0
			END AS fAnzahlFehlbestand
			FROM dbo.tlagerbestand
		) AS Fehlbestand ON Fehlbestand.kArtikel = vOffeneBestellpositionen.kArtikel
    ) AS AlleZulaeufe
    WHERE [AlleZulaeufe].fAnzahlZulauf > 0;
GO
