USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvIduUploadQueue]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvIduUploadQueue]
AS
(
	SELECT 
		tIduUploadQueue.kIduUploadQueue,
        tIduUploadQueue.kBeleg,
        tIduUploadQueue.nBelegtyp,
        tIduUploadQueue.cOrderId,
        tIduUploadQueue.cBelegnummer,
        tIduUploadQueue.kUser,
        tIduUploadQueue.nAusgabeVersuche,
        tIduUploadQueue.nUploadVersuche,
        tIduUploadQueue.nStatus,
        tIduUploadQueue.dErstelltUtc,
		tIduUploadQueue.dBelegdatum,
        tIduUploadQueue.dAusgabeGestartetUtc,
        tIduUploadQueue.dAusgabeBeendetUtc,
        tIduUploadQueue.dUploadErfolgtUtc,
        tIduUploadQueue.cMeldung,
		(SELECT MAX(dStatusaenderung)
			FROM (VALUES(tIduUploadQueue.dAusgabeGestartetUtc), (tIduUploadQueue.dAusgabeBeendetUtc), (tIduUploadQueue.dUploadErfolgtUtc)) 
			AS StatusAenderung(dStatusaenderung))
		AS dLetzteStatusAenderung,
		tIduUploadQueue.nHerkunftstyp,
		pf_user.cName AS cKontoname
	FROM Amazon.tIduUploadQueue
	LEFT JOIN dbo.pf_user ON pf_user.kUser = tIduUploadQueue.kUser
);
GO
