USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tBerichtsanfrageMarktplatz]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tBerichtsanfrageMarktplatz](
	[kBerichtsanfrageMarktplatz] [int] IDENTITY(1,1) NOT NULL,
	[kBerichtsanfrage] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
 CONSTRAINT [PK_Amazon_tBerichtsanfrageMarktplatz] PRIMARY KEY CLUSTERED 
(
	[kBerichtsanfrageMarktplatz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Amazon_tBerichtsanfrageMarktplatz_kBerichtsanfrage_kPlattform] UNIQUE NONCLUSTERED 
(
	[kBerichtsanfrage] ASC,
	[kPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tBerichtsanfrageMarktplatz]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tBerichtsanfrageMarktplatz_kBerichtsanfrage] FOREIGN KEY([kBerichtsanfrage])
REFERENCES [Amazon].[tBerichtsanfrage] ([kBerichtsanfrage])
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tBerichtsanfrageMarktplatz] CHECK CONSTRAINT [FK_Amazon_tBerichtsanfrageMarktplatz_kBerichtsanfrage]
GO
