USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaInboundProductBillOfMaterials]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaInboundProductBillOfMaterials]
AS
(
    SELECT
        tArtikel.kArtikel,
        tArtikel.cArtNr,
        tArtikelBeschreibung.cName,
        tStueckliste.fAnzahl,
        tStueckliste.kStueckliste
    FROM dbo.tArtikel
    JOIN dbo.tStueckliste ON tStueckliste.kArtikel = tArtikel.kArtikel
    CROSS JOIN dbo.tSpracheUsed
    LEFT JOIN dbo.tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
        AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache
        AND tArtikelBeschreibung.kPlattform = 1
    WHERE tSpracheUsed.nStandard = 1
)
GO
