USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tFbaPackagingDetail]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tFbaPackagingDetail](
	[kPackagingDetail] [int] IDENTITY(1,1) NOT NULL,
	[cSku] [nvarchar](100) NOT NULL,
	[cName] [nvarchar](60) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[nUnitsPerCarton] [int] NOT NULL,
	[nUnitsPerPallet] [int] NOT NULL,
	[fWidth] [decimal](25, 13) NOT NULL,
	[fHeight] [decimal](25, 13) NOT NULL,
	[fDepth] [decimal](25, 13) NOT NULL,
	[fWeight] [decimal](25, 13) NOT NULL,
	[nPrepOwnerType] [tinyint] NOT NULL,
	[nLabelOwnerType] [tinyint] NOT NULL,
	[nGlobalPackaging] [bit] NOT NULL,
 CONSTRAINT [PK_Amazon_tFbaPackagingDetail] PRIMARY KEY CLUSTERED 
(
	[kPackagingDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tFbaPackagingDetail] ADD  CONSTRAINT [DF_Amazon_tFbaPackagingDetail_nGlobalPackaging]  DEFAULT ((0)) FOR [nGlobalPackaging]
GO
