USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vAngebotsdetailsLetzteVerkaeufe]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Amazon].[vAngebotsdetailsLetzteVerkaeufe]
AS
(
	SELECT
		pf_amazon_bestellungpos.kAmazonBestellungPos,
		pf_amazon_bestellungpos.cName,
		pf_amazon_bestellung.cBuyerName,
		pf_amazon_bestellung.dPurchaseDate,
		ROUND(pf_amazon_bestellungpos.fItemPrice / 
			CASE 
				WHEN pf_amazon_bestellungpos.nQuantityPurchased < 1 OR pf_amazon_bestellungpos.nQuantityPurchased IS NULL THEN 1
				ELSE pf_amazon_bestellungpos.nQuantityPurchased
			END, 2) AS fEinzelpreis,
		pf_amazon_bestellungpos.fItemPrice AS fGesamtpreis,
		pf_amazon_bestellung.cSalesChannel,
		pf_amazon_bestellungpos.nQuantityPurchased,
        pf_amazon_bestellungpos.cArtNr,
        pf_amazon_bestellung.kUser
	FROM dbo.pf_amazon_bestellungpos
	JOIN dbo.pf_amazon_bestellung ON pf_amazon_bestellung.kAmazonBestellung = pf_amazon_bestellungpos.kAmazonBestellung
)
GO
