USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vAbgleichBerichtsanfrage]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vAbgleichBerichtsanfrage]
AS
	SELECT * 
	FROM Amazon.tBerichtsanfrage
GO
