USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vUmlagerungVersand]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vUmlagerungVersand]
AS
(
    SELECT
        pf_amazon_umlagerung_versendet.kAmazonUmlagerungVersendet,
        pf_amazon_umlagerung_versendet_pos.kAmazonUmlagerungVersendetPos,
        tVersand.kVersand,
        tAuftrag.kAuftrag,
        tAuftrag.kVersandArt,
        tAuftragPosition.cName AS AuftragPosName,
        tAuftragPosition.nType AS AuftragPosType,
        tLieferschein.cLieferscheinNr,
        tVersand.cIdentCode,
        tversandart.cName AS VersandArtName,
        pf_amazon_umlagerung_versendet_pos.nDimensionUnit,
        pf_amazon_umlagerung_versendet_pos.fHeight,
        pf_amazon_umlagerung_versendet_pos.fLength,
        pf_amazon_umlagerung_versendet_pos.fWidth,
        pf_amazon_umlagerung_versendet_pos.nWeightUnit,
        pf_amazon_umlagerung_versendet_pos.fWeight
    FROM Verkauf.tAuftrag
    JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftrag = tAuftrag.kAuftrag
    JOIN tLieferschein ON tlieferschein.kBestellung = tAuftrag.kAuftrag
    JOIN dbo.tLieferscheinPos ON tLieferscheinPos.kLieferschein = tLieferschein.kLieferschein
        AND tLieferscheinPos.kBestellPos = tAuftragPosition.kAuftragPosition
    JOIN tversand ON tversand.kLieferschein = tLieferschein.kLieferschein
    JOIN tVersandart ON tversandart.kVersandArt = tAuftrag.kVersandArt
    JOIN dbo.pf_amazon_umlagerung_versendet ON pf_amazon_umlagerung_versendet.kAuftrag = tAuftrag.kAuftrag
    JOIN dbo.pf_amazon_umlagerung_versendet_pos ON pf_amazon_umlagerung_versendet_pos.kAmazonUmlagerungVersendet = pf_amazon_umlagerung_versendet.kAmazonUmlagerungVersendet
    LEFT JOIN dbo.pf_amazon_umlagerung_versendet_pos_versand ON pf_amazon_umlagerung_versendet_pos_versand.kVersand = tVersand.kVersand
        AND pf_amazon_umlagerung_versendet_pos_versand.kAmazonUmlagerungVersendetPos = pf_amazon_umlagerung_versendet_pos.kAmazonUmlagerungVersendetPos
    WHERE pf_amazon_umlagerung_versendet_pos_versand.kAmazonUmlagerungVersendetPosVersand IS NULL
        AND LEN(ISNULL(tVersand.cIdentCode, '')) > 0
)
GO
