USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tVcsRechnungsherkunft]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tVcsRechnungsherkunft](
	[kUser] [int] NOT NULL,
	[cOrderId] [nvarchar](19) NOT NULL,
	[nVcsTyp] [tinyint] NOT NULL,
 CONSTRAINT [UQ_Amazon_tVcsRechnungsherkunft_cOrderId_kUser] UNIQUE NONCLUSTERED 
(
	[cOrderId] ASC,
	[kUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
