USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vBuchhaltungsuebersichtGutschrift]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vBuchhaltungsuebersichtGutschrift]
AS
(
    SELECT
        tgutschrift.kGutschrift,
        tgutschrift.cGutschriftNr,
        tRechnung.cRechnungsnr,
        tgutschrift.fPreis,
        tgutschrift.fMwSt,
        tgutschrift.cWaehrung,
        tRechnung.cExterneAuftragsnummer,
        tgutschrift.dErstellt
    FROM dbo.tgutschrift
    JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tgutschrift.kRechnung
)
GO
