USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonAbrechnungsdatenPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonAbrechnungsdatenPos]
AS SELECT * FROM pf_amazon_settlementpos
GO
