USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tReportType]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tReportType](
	[cReportType] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Amazon_tReportType] PRIMARY KEY CLUSTERED 
(
	[cReportType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
