USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vVcsLiteUpload]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vVcsLiteUpload] AS 
SELECT tVcsLiteUploadQueue.kVcsLiteUploadQueue,
    tVcsLiteUploadQueue.kExternerBeleg,
    tVcsLiteUploadQueue.nBelegtyp,
    tVcsLiteUploadQueue.cBelegnummer,
    tVcsLiteUploadQueue.cBezugsbelegnummer,
    tVcsLiteUploadQueue.cOrderId,
    tVcsLiteUploadQueue.cShippingID,
    tVcsLiteUploadQueue.cTransactionId,
    tVcsLiteUploadQueue.kUser,
    tVcsLiteUploadQueue.nUploadVersuche,
    tVcsLiteUploadQueue.nStatus,
    tExternerBelegEckdaten.fVkBrutto AS fTotalAmount,
	tExternerBelegEckdaten.fVkBrutto - tExternerBelegEckdaten.fVkNetto AS fTotalVatAmount,
    tFile.kFile,
    tFile.bData,
    tFile.dErstelltUtc AS dFileErstelltUtc,
    tFile.cFileName
FROM Amazon.tVcsLiteUploadQueue
JOIN Rechnung.tExternerBelegEckdaten ON tExternerBelegEckdaten.kExternerBeleg = tVcsLiteUploadQueue.kExternerBeleg
LEFT JOIN dbo.tOptions ON tOptions.cKey = 'Amazon.BuchungsdatenPdf.MaxUploadVersuche'
LEFT JOIN Report.tFile ON tFile.kReferenz = tVcsLiteUploadQueue.kVcsLiteUploadQueue
    AND tFile.nReferenztyp = 1 --VcsLiteUploadQueue
WHERE tVcsLiteUploadQueue.nUploadVersuche < ISNULL(CAST(tOptions.cValue AS INT), 3)
GO
