USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tFbaConfigurationLanguage]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tFbaConfigurationLanguage](
	[kFbaConfigurationLanguage] [int] IDENTITY(1,1) NOT NULL,
	[kFbaConfiguration] [int] NOT NULL,
	[cLocale] [nvarchar](10) NOT NULL,
	[cLabel] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Amazon_tFbaConfigurationLanguage] PRIMARY KEY CLUSTERED 
(
	[kFbaConfigurationLanguage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tFbaConfigurationLanguage]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tFbaConfigurationLanguage_kFbaConfiguration] FOREIGN KEY([kFbaConfiguration])
REFERENCES [Amazon].[tFbaConfiguration] ([kFbaConfiguration])
GO
ALTER TABLE [Amazon].[tFbaConfigurationLanguage] CHECK CONSTRAINT [FK_Amazon_tFbaConfigurationLanguage_kFbaConfiguration]
GO
