USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvListerOfferPriceDetail]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvListerOfferPriceDetail] AS
(	
	SELECT 
	    CAST(vOfferPriceDetail.kOffer AS INT) AS kId,
	    * 
	FROM SCX.vOfferPriceDetail
)
GO
