USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tVcsSelfInvoice]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tVcsSelfInvoice](
	[kVCSData] [int] IDENTITY(1,1) NOT NULL,
	[kUser] [int] NOT NULL,
	[OrderID] [nvarchar](50) NOT NULL,
	[OrderItemID] [nvarchar](50) NULL,
	[SKU] [nvarchar](100) NULL,
	[ProductName] [nvarchar](255) NULL,
	[ASIN] [nvarchar](10) NULL,
	[QuantityPurchased] [decimal](25, 13) NULL,
	[ShippingID] [nvarchar](50) NULL,
	[TransactionID] [nvarchar](50) NULL,
	[TransactionType] [nvarchar](10) NULL,
	[OrderDate] [datetime] NULL,
	[ShippingDate] [datetime] NULL,
	[Currency] [nvarchar](10) NULL,
	[ItemVatInclAmount] [decimal](25, 13) NULL,
	[ItemVatAmount] [decimal](25, 13) NULL,
	[ItemVatExclAmount] [decimal](25, 13) NULL,
	[ItemVatRate] [decimal](25, 13) NULL,
	[ItemPromoVatInclAmount] [decimal](25, 13) NULL,
	[ItemPromoVatAmount] [decimal](25, 13) NULL,
	[ItemPromoVatExclAmount] [decimal](25, 13) NULL,
	[ItemPromoVatRate] [decimal](25, 13) NULL,
	[ShippingVatInclAmount] [decimal](25, 13) NULL,
	[ShippingVatAmount] [decimal](25, 13) NULL,
	[ShippingVatExclAmount] [decimal](25, 13) NULL,
	[ShippingVatRate] [decimal](25, 13) NULL,
	[ShippingPromoVatInclAmount] [decimal](25, 13) NULL,
	[ShippingPromoVatAmount] [decimal](25, 13) NULL,
	[ShippingPromoVatExclAmount] [decimal](25, 13) NULL,
	[ShippingPromoVatRate] [decimal](25, 13) NULL,
	[GiftWrapVatInclAmount] [decimal](25, 13) NULL,
	[GiftWrapVatAmount] [decimal](25, 13) NULL,
	[GiftWrapVatExclAmount] [decimal](25, 13) NULL,
	[GiftWrapVatRate] [decimal](25, 13) NULL,
	[GiftPromoVatInclAmount] [decimal](25, 13) NULL,
	[GiftPromoVatExclAmount] [decimal](25, 13) NULL,
	[GiftPromoVatAmount] [decimal](25, 13) NULL,
	[GiftPromoVatRate] [decimal](25, 13) NULL,
	[ItemPromotionID] [nvarchar](50) NULL,
	[ShipPromotionID] [nvarchar](50) NULL,
	[GiftPromotionID] [nvarchar](50) NULL,
	[BuyerVatNumber] [nvarchar](30) NULL,
	[SellerVatNumber] [nvarchar](30) NULL,
	[IsBusinessOrder] [nvarchar](5) NULL,
	[PriceDesignation] [nvarchar](5) NULL,
	[MarketplaceID] [nvarchar](20) NULL,
	[PurchaseOrderNumber] [nvarchar](255) NULL,
	[RecipientName] [nvarchar](255) NULL,
	[BuyerName] [nvarchar](255) NULL,
	[BuyerCompanyName] [nvarchar](255) NULL,
	[ShipServiceLevel] [nvarchar](30) NULL,
	[ShipAddress1] [nvarchar](255) NULL,
	[ShipAddress2] [nvarchar](255) NULL,
	[ShipAddress3] [nvarchar](255) NULL,
	[ShipCity] [nvarchar](100) NULL,
	[ShipState] [nvarchar](100) NULL,
	[ShipPostalCode] [nvarchar](20) NULL,
	[ShipCountry] [nvarchar](5) NULL,
	[ShipPhoneNumber] [nvarchar](100) NULL,
	[BillingName] [nvarchar](255) NULL,
	[BillAddress1] [nvarchar](255) NULL,
	[BillAddress2] [nvarchar](255) NULL,
	[BillAddress3] [nvarchar](255) NULL,
	[BillCity] [nvarchar](100) NULL,
	[BillState] [nvarchar](100) NULL,
	[BillPostalCode] [nvarchar](20) NULL,
	[BillCountry] [nvarchar](5) NULL,
	[BillingPhoneNumber] [nvarchar](100) NULL,
	[ShipFromCity] [nvarchar](100) NULL,
	[ShipFromState] [nvarchar](100) NULL,
	[ShipFromCountry] [nvarchar](5) NULL,
	[ShipFromPostalCode] [nvarchar](20) NULL,
	[FulfilledBy] [nvarchar](30) NULL,
	[InvoiceNumber] [nvarchar](100) NULL,
	[InvoiceStatus] [nvarchar](100) NULL,
	[InvoiceStatusDescription] [nvarchar](255) NULL,
	[LegacyCustomerOrderItemId] [nvarchar](255) NULL,
	[RecommendedInvoiceFormat] [nvarchar](50) NULL,
	[kBestellPos] [int] NULL,
	[CreationDate] [datetime] NULL,
	[kGutschriftPos] [int] NULL,
	[nUploadVersuche] [int] NOT NULL,
	[cWawiRechnungsnummer] [varchar](50) NULL,
	[cWawiRechnungskorrekturnummer] [varchar](50) NULL,
	[kRechnung] [int] NOT NULL,
	[kGutschrift] [int] NOT NULL,
	[nInProgress] [bit] NOT NULL,
	[nProcessed] [bit] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[isInvoiceCorrected] [bit] NOT NULL,
	[originalVATInvoiceNumber] [nvarchar](100) NULL,
	[invoiceCorrectionDetails] [nvarchar](max) NULL,
	[buyerTaxRegistrationType] [nvarchar](30) NULL,
	[buyerEInvoiceAccountId] [nvarchar](30) NULL,
	[isBuyerPhysicallyPresent] [bit] NOT NULL,
	[isSellerPhysicallyPresent] [bit] NOT NULL,
	[citationEs] [nvarchar](max) NULL,
	[citationIt] [nvarchar](max) NULL,
	[citationFr] [nvarchar](max) NULL,
	[citationDe] [nvarchar](max) NULL,
	[citationEn] [nvarchar](max) NULL,
	[exportOutsideEu] [bit] NULL,
	[IsAmazonInvoiced] [bit] NOT NULL,
 CONSTRAINT [PK_Amazon_tVcsSelfInvoice] PRIMARY KEY CLUSTERED 
(
	[kVCSData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tVcsSelfInvoice] ADD  CONSTRAINT [DF_Amazon_tVcsSelfInvoice_nUploadVersuche]  DEFAULT ((0)) FOR [nUploadVersuche]
GO
ALTER TABLE [Amazon].[tVcsSelfInvoice] ADD  CONSTRAINT [DF_Amazon_tVcsSelfInvoice_kRechnung]  DEFAULT ((0)) FOR [kRechnung]
GO
ALTER TABLE [Amazon].[tVcsSelfInvoice] ADD  CONSTRAINT [DF_Amazon_tVcsSelfInvoice_kGutschrift]  DEFAULT ((0)) FOR [kGutschrift]
GO
ALTER TABLE [Amazon].[tVcsSelfInvoice] ADD  CONSTRAINT [DF_Amazon_tVcsSelfInvoice_nInProgress]  DEFAULT ((0)) FOR [nInProgress]
GO
ALTER TABLE [Amazon].[tVcsSelfInvoice] ADD  CONSTRAINT [DF_Amazon_tVcsSelfInvoice_nProcessed]  DEFAULT ((0)) FOR [nProcessed]
GO
ALTER TABLE [Amazon].[tVcsSelfInvoice] ADD  CONSTRAINT [DF_Amazon_tVcsSelfInvoice_isInvoiceCorrected]  DEFAULT ((0)) FOR [isInvoiceCorrected]
GO
ALTER TABLE [Amazon].[tVcsSelfInvoice] ADD  CONSTRAINT [DF_Amazon_tVcsSelfInvoice_isBuyerPhysicallyPresent]  DEFAULT ((0)) FOR [isBuyerPhysicallyPresent]
GO
ALTER TABLE [Amazon].[tVcsSelfInvoice] ADD  CONSTRAINT [DF_Amazon_tVcsSelfInvoice_isSellerPhysicallyPresent]  DEFAULT ((0)) FOR [isSellerPhysicallyPresent]
GO
ALTER TABLE [Amazon].[tVcsSelfInvoice] ADD  CONSTRAINT [DF_Amazon_tVcsSelfInvoice_IsAmazonInvoiced]  DEFAULT ((0)) FOR [IsAmazonInvoiced]
GO
