USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaInboundData]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaInboundData]
AS
(
	SELECT
		tAuftrag.kAuftrag,
		tAuftrag.kFarbe,
		tAuftrag.cAuftragsNr,
		tAuftrag.kVersandArt,
		tUmlagerung.kUmlagerung,
		tUmlagerung.kQuellLager,
		tUmlagerung.kZielLager,
		tUmlagerung.kStreckenLager,
		tFbaInbound.kFbaInbound,
		tFbaInbound.kUser,
		tFbaInbound.kPlattform,
		tFbaInbound.nShippingServiceProvider,
		tFbaInbound.cPlanId,
		tFbaInbound.nUseGlobalPackagingDetails
	FROM Verkauf.tAuftrag
	JOIN dbo.tUmlagerung ON tUmlagerung.kBestellung = tAuftrag.kAuftrag
	JOIN Amazon.tFbaInbound ON tFbaInbound.kUmlagerung = tUmlagerung.kUmlagerung
)
GO
