USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vBuchhaltungsuebersichtGutschriftPosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vBuchhaltungsuebersichtGutschriftPosition]
AS
(
	SELECT
		tGutschriftPos.kGutschriftPos,
		tGutschriftPos.tGutschrift_kGutschrift,
		tGutschriftPos.cArtNr,
		tGutschriftPos.cString,
		tGutschriftPos.fVKPreis,
		tGutschriftPos.fVKNetto,
		tGutschriftPos.fMwSt
	FROM dbo.tGutschriftPos
)
GO
