USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vIduUpload]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vIduUpload] AS 
SELECT tIduUploadQueue.kIduUploadQueue,
    tIduUploadQueue.kBeleg,
    tIduUploadQueue.nBelegtyp,
    tIduUploadQueue.cBelegnummer, 
    tIduUploadQueue.cBezugsbelegnummer,
    tIduUploadQueue.cOrderId,		
    tIduUploadQueue.kUser,
    tIduUploadQueue.nUploadVersuche,
    tIduUploadQueue.nStatus,	
    tIduUploadQueue.nHerkunftstyp,
    tFile.kFile,
    tFile.bData,
    tFile.dErstelltUtc AS dFileErstelltUtc,
    tFile.cFileName
FROM Amazon.tIduUploadQueue
LEFT JOIN dbo.tOptions ON tOptions.cKey = 'Amazon.BuchungsdatenPdf.MaxUploadVersuche'
LEFT JOIN Report.tFile ON tFile.kReferenz = tIduUploadQueue.kIduUploadQueue
    AND tFile.nReferenztyp = 2 --IduUploadQueue
WHERE tIduUploadQueue.nUploadVersuche < ISNULL(CAST(tOptions.cValue AS INT), 3)
GO
