USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tVcsUploadDataQueue]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tVcsUploadDataQueue](
	[kVcsUploadDataQueue] [int] IDENTITY(1,1) NOT NULL,
	[kRechnung] [int] NULL,
	[kGutschrift] [int] NULL,
	[cShippingID] [nvarchar](50) NULL,
	[nVersuche] [int] NULL,
	[nTyp] [tinyint] NOT NULL,
	[kUser] [int] NOT NULL,
	[cTransactionId] [nvarchar](50) NULL,
 CONSTRAINT [PK_Amazon_tVcsUploadDataQueue] PRIMARY KEY CLUSTERED 
(
	[kVcsUploadDataQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tVcsUploadDataQueue] ADD  CONSTRAINT [DF_Amazon_tVcsUploadDataQueue_kUser]  DEFAULT ((0)) FOR [kUser]
GO
