USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vRetouren]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vRetouren] AS
(
	SELECT DISTINCT		
		ISNULL(AuftragDaten.kAuftrag, 0) AS kBestellung,
		ISNULL(AuftragDaten.kArtikel, 0) AS kArtikel,
		pf_amazon_retourpos.kAmazonBestellung,
		pf_amazon_retourpos.kAmazonRetourPos,
		pf_amazon_retourpos.kUser,
		pf_amazon_retourpos.cOrderId,
		AuftragDaten.cAuftragsNr AS cBestellNr,
		pf_amazon_retourpos.cSellerSKU,
		pf_amazon_retourpos.cFremdSKU,
		pf_amazon_retourpos.cASIN,
		CASE WHEN pf_amazon_retourpos.cArtikelname = 'NotAvailable'
			THEN AuftragDaten.cName
			ELSE pf_amazon_retourpos.cArtikelname
		END AS cArtikelname,
		pf_amazon_retourpos.nMenge,
		pf_amazon_retourpos.cFulfillmentCenter,
		pf_amazon_retourpos.cArtikelzustand,
		pf_amazon_retourpos.cRueckgabegrund,
		pf_amazon_retourpos.dRetourzeit,
		pf_amazon_retourpos.nStatus,
		pf_amazon_retourpos.nGutschriftStatus,
		pf_amazon_retourpos.dEingelesen,
		pf_amazon_retourpos.cLicencePlateNumber,
		AuftragDaten.dLetzterVersand AS dVersandt,
		AuftragDaten.cKundenName AS KundenName,
		AuftragDaten.cPlattformName AS MarkteplaceName,
		pf_amazon_retourpos.fAmountPerItem,
		ISNULL(AuftragDaten.fWertBrutto, 0) AS fAuftragsWertBrutto,
		ISNULL(AuftragDaten.nHasRechnung, 0) AS nHasRechnung,
		Gutschrift.fPreis AS fGutschrift,
		pf_amazon_retourpos.cFehler,
		pf_amazon_retourpos.cOrderItemCode,
		pf_amazon_retourpos.cFulfillmentId,
		ISNULL(AuftragDaten.nIsAmazonInvoice, pf_amazon_bestellung.nIsAmazonInvoice) AS nIsAmazonInvoice,
		pf_amazon_bestellungpos.cShipCountry,
		Gutschrift.cGutschriftNr
	FROM dbo.pf_amazon_retourpos
	JOIN dbo.pf_amazon_bestellung ON pf_amazon_bestellung.kAmazonBestellung = pf_amazon_retourpos.kAmazonBestellung
	JOIN dbo.pf_amazon_bestellungpos ON pf_amazon_bestellungpos.kAmazonBestellung = pf_amazon_retourpos.kAmazonBestellung
	LEFT JOIN
	(
		SELECT 	
			tAuftragPosition.kArtikel,
			tAuftragPosition.kAuftrag,
			tAuftragPosition.kAmazonBestellungPos,
			tAuftrag.cAuftragsNr,
			tAuftragEckdaten.dLetzterVersand,
			tAuftragPosition.cName,
			tPlattform.cName AS cPlattformName,
			tAuftragEckdaten.fWertBrutto,
			Lieferadresse.cName AS cKundenName,
			CASE WHEN tAuftragEckdaten.nRechnungStatus = 0 THEN 0 ELSE 1 END AS nHasRechnung,
			CASE WHEN tAuftrag.nIstExterneRechnung > 0 THEN CAST(1 AS BIT) ELSE 0 END AS nIsAmazonInvoice
		FROM Verkauf.tAuftragPosition 
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragPosition.kAuftrag
		JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag		
		JOIN Verkauf.vAuftragLieferadresse AS Lieferadresse ON Lieferadresse.kAuftrag = tAuftrag.kAuftrag
		JOIN dbo.tPlattform ON tPlattform.nPlattform = tAuftrag.kPlattform
			AND tPlattform.nTyp = 6
		WHERE ISNULL(tAuftrag.cExterneAuftragsnummer, '') <> ''
	) AS AuftragDaten ON AuftragDaten.kAmazonBestellungPos = pf_amazon_bestellungpos.kAmazonBestellungPos
	LEFT JOIN
	(
		SELECT 
			tRetourPosGutschriftMapping.kAmazonRetourPos,
			SUM(tgutschrift.fPreis) AS fPreis,
			MAX(tgutschrift.cGutschriftNr) AS cGutschriftNr
		FROM Amazon.tRetourPosGutschriftMapping
		JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = tRetourPosGutschriftMapping.kGutschrift
		GROUP BY tRetourPosGutschriftMapping.kAmazonRetourPos
	) AS Gutschrift ON Gutschrift.kAmazonRetourPos = pf_amazon_retourpos.kAmazonRetourPos
	JOIN dbo.pf_user ON pf_user.kUser = pf_amazon_retourpos.kUser
)
GO
