USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaConfigurationWithLanguage]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaConfigurationWithLanguage]
AS
(
    SELECT
        tFbaConfiguration.kFbaConfiguration,
        tFbaConfiguration.cValue,
        tFbaConfiguration.nType,
        tFbaConfigurationLanguage.kFbaConfigurationLanguage,
        tFbaConfigurationLanguage.cLocale,
        tFbaConfigurationLanguage.cLabel
    FROM Amazon.tFbaConfiguration
    JOIN Amazon.tFbaConfigurationLanguage ON tFbaConfigurationLanguage.kFbaConfiguration = tFbaConfiguration.kFbaConfiguration
)
GO
