USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tFbaConfiguration]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tFbaConfiguration](
	[kFbaConfiguration] [int] IDENTITY(1,1) NOT NULL,
	[cValue] [nvarchar](255) NOT NULL,
	[nType] [tinyint] NOT NULL,
 CONSTRAINT [PK_Amazon_tFbaConfiguration] PRIMARY KEY CLUSTERED 
(
	[kFbaConfiguration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Amazon_tFbaConfiguration_cValue_nType] UNIQUE NONCLUSTERED 
(
	[cValue] ASC,
	[nType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
