USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tAmazonAngebotFehler]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tAmazonAngebotFehler](
	[kAmazonAngebotFehler] [int] IDENTITY(1,1) NOT NULL,
	[cSku] [nvarchar](100) NOT NULL,
	[nPlattform] [int] NOT NULL,
	[kUser] [int] NOT NULL,
	[cFehlerCode] [nvarchar](30) NOT NULL,
	[cFehlerTyp] [tinyint] NOT NULL,
	[cFehlerText] [nvarchar](max) NOT NULL,
	[dErstellt] [datetime] NOT NULL,
 CONSTRAINT [PK_Amazon_tAmazonAngebotFehler] PRIMARY KEY CLUSTERED 
(
	[kAmazonAngebotFehler] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tAmazonAngebotFehler]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tAmazonAngebotFehler_kUser] FOREIGN KEY([kUser])
REFERENCES [dbo].[pf_user] ([kUser])
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tAmazonAngebotFehler] CHECK CONSTRAINT [FK_Amazon_tAmazonAngebotFehler_kUser]
GO
