USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tBestelldatumLand]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tBestelldatumLand](
	[kBestelldatumLand] [int] IDENTITY(1,1) NOT NULL,
	[kUser] [int] NOT NULL,
	[dBestellDatum] [datetime] NULL,
	[dVcsDatum] [datetime] NULL,
	[cShipFromCountry] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_Amazon_tBestelldatumLand] PRIMARY KEY CLUSTERED 
(
	[kBestelldatumLand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
