USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vBuchungsdatenWizardStornoGutschrift]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vBuchungsdatenWizardStornoGutschrift]
AS
(
	SELECT DISTINCT
        tRechnung.cExterneAuftragsnummer AS cOrderId,
        tgutschrift.cGutschriftNr AS cBelegnummer,
		ISNULL(tgutschrift.fPreis, 0) AS fBruttoGesamt,
		tgutschrift.kGutschrift AS kBeleg,
		tgutschrift.cWaehrung AS cWaehrung,
		ISNULL(CASE WHEN (Vcs.kMessageId IS NULL OR Vcs.IsAmazonInvoiced = 0) 
					AND (VcsLite.kVcsLite IS NULL OR VcsLite.IsAmazonInvoiced = 0) THEN CAST(1 AS BIT) 
				ELSE CAST(0 AS BIT) 
			END, 0)
		AS nCanBeCancelled
    FROM dbo.tgutschrift
    JOIN dbo.tPlattform ON tPlattform.nPlattform = tgutschrift.kPlattform
    JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tgutschrift.kRechnung
    OUTER APPLY 
    (
        SELECT TOP (1) tVcs.kMessageId, tVcs.IsAmazonInvoiced 
        FROM Amazon.tVcs 
		JOIN Amazon.tTransaktionType ON tTransaktionType.nIstGutschrift = 1
			AND tTransaktionType.cTransactionType = tVcs.TransactionType
        WHERE tVcs.VATInvoiceNumber = tgutschrift.cGutschriftNr            
    ) AS Vcs
    OUTER APPLY
    (
        SELECT TOP(1) tVcsLite.kVcsLite, tVcsLite.IsAmazonInvoiced 
        FROM Amazon.tVcsLite
		JOIN Amazon.tTransaktionType ON tTransaktionType.nIstGutschrift = 1
			AND tTransaktionType.cTransactionType = tVcsLite.TransactionType
        WHERE tVcsLite.OrderID = tRechnung.cExterneAuftragsnummer
    ) AS VcsLite
    WHERE tPlattform.nTyp IN (6, 7)
        AND tgutschrift.nStorno = 0
        AND tgutschrift.nStornoTyp = 0
);
GO
