USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tAbgleichBestandHistory]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tAbgleichBestandHistory](
	[kAbgleichBestandHistory] [int] IDENTITY(1,1) NOT NULL,
	[cSellerSku] [nvarchar](100) NOT NULL,
	[kUser] [int] NOT NULL,
	[kArtikel] [int] NULL,
	[fVerfuegbar] [decimal](25, 13) NOT NULL,
	[fVerfuegbarExtern] [decimal](25, 13) NOT NULL,
	[nMaxBestand] [int] NULL,
	[nBestandExtern] [decimal](25, 13) NULL,
	[nQuantity] [int] NULL,
	[kPlattform] [int] NOT NULL,
	[nBearbeitungszeitExtern] [int] NULL,
	[nMaxBestandAbgleich] [decimal](25, 13) NULL,
	[cFulfillmentChannel] [nvarchar](20) NULL,
	[dRestockDate] [datetime2](7) NULL,
	[nBearbeitungsZeitAutomatischErmittelt] [int] NULL,
	[dErstellt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Amazon_tAbgleichBestandHistory] PRIMARY KEY CLUSTERED 
(
	[kAbgleichBestandHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
