USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tTransaktionType]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tTransaktionType](
	[cTransactionType] [nvarchar](50) NOT NULL,
	[nIstRechnung] [bit] NOT NULL,
	[nIstGutschrift] [bit] NOT NULL,
	[nIstVernichtungsbeleg] [bit] NOT NULL,
 CONSTRAINT [UQ_Amazon_tTransaktionType_cTransactionType] UNIQUE CLUSTERED 
(
	[cTransactionType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
