USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vAbgleichBestandLogging]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vAbgleichBestandLogging]
AS
(
	SELECT
		pf_amazon_angebot.cSellerSKU AS cSellerSKU,
		pf_user.kUser,
		pf_amazon_angebot.nPlattform,
		tartikel.kArtikel AS kArtikel,
		ISNULL(tlagerbestand.fVerfuegbar, 0) AS fVerfuegbar,
		ISNULL(tlagerbestand.fVerfuegbar - tArtikel.nPuffer, 0) AS fVerfuegbarExtern,
		pf_amazon_angebot_ext.nMaxBestand AS nMaxBestand,
		CASE
			-- Angebote ohne Artikelbezug oder mit Artikel ohne Lagerführung oder mit Artikel mit Überverkäufen senden grundsätzlich den MaxBestand
			WHEN tArtikel.kArtikel IS NULL OR tArtikel.cLagerAktiv <> 'Y' OR tArtikel.cLagerKleinerNull <> 'N' THEN ISNULL(pf_amazon_angebot_ext.nMaxBestand, 0)
			-- Ausverkaufte Artikel senden grundsätzlich Bestand von 0
			WHEN ISNULL(tlagerbestand.fVerfuegbar - tArtikel.nPuffer, 0) < 1 THEN 0
			-- Bestand unterhalb vom MaxBestand sendet tatsächliche Verfügbarkeit
			WHEN ISNULL(tlagerbestand.fVerfuegbar - tArtikel.nPuffer, 0) < ISNULL(pf_amazon_angebot_ext.nMaxBestand, 2147483640) THEN FLOOR(ISNULL(tlagerbestand.fVerfuegbar - tArtikel.nPuffer, 0))
			-- Bestand oberhalb vom MaxBestand sendet den MaxBestand
			ELSE
				pf_amazon_angebot_ext.nMaxBestand
		END AS nBestandExtern,
		pf_amazon_angebot.nQuantity,
		CASE
			-- Angebote ohne Artikelbezug haben keine Beschaffungszeit
			WHEN tArtikel.kArtikel IS NULL THEN -1
			-- Verfügbare Artikel
			WHEN tArtikel.cLagerAktiv <> 'Y' OR ISNULL(tlagerbestand.fVerfuegbar - tArtikel.nPuffer, 0) >= 1 THEN ISNULL([tArtikel].[nBearbeitungszeit], 0) + [pf_user].[nBearbeitungszeitAufschlag]
			-- Nicht mehr verfügbare Artikel
			ELSE ISNULL(tArtikel.nLiefertageWennAusverkauft, 0) + ISNULL(tArtikel.nBearbeitungszeit, 0) + pf_user.nBearbeitungszeitAufschlag
		END AS nBearbeitungszeitExtern	
	FROM
		dbo.pf_amazon_angebot
	JOIN pf_user ON pf_user.kUser = pf_amazon_angebot.kUser 
    JOIN pf_amazon_angebot_ext ON pf_amazon_angebot.cSellerSKU = pf_amazon_angebot_ext.cSellerSKU 
        AND pf_amazon_angebot_ext.kUser = pf_amazon_angebot.kUser
        AND pf_amazon_angebot_ext.nPlattform = pf_amazon_angebot.nPlattform
	LEFT JOIN dbo.pf_amazon_angebot_mapping ON [pf_amazon_angebot].[cSellerSKU] = [pf_amazon_angebot_mapping].[cSellerSKU]
	    AND [pf_amazon_angebot].[kUser] = [pf_amazon_angebot_mapping].[kUser]
	LEFT JOIN dbo.[tArtikel] ON [pf_amazon_angebot_mapping].[kArtikel] = [tArtikel].[kArtikel] 
	    OR ([pf_amazon_angebot_mapping].[kArtikel] IS NULL 
	        AND [pf_amazon_angebot].[cSellerSKU] = [tArtikel].[cArtNr]) 
	    AND [tArtikel].[cAktiv] <> 'N'
	LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = [tArtikel].kArtikel
    WHERE ISNULL(tArtikel.nIstVater, 0) = 0
)
GO
