USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tVCSSelfInvoiceLogeintrag]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tVCSSelfInvoiceLogeintrag](
	[kVCSSelfInvoiceLogeintrag] [int] IDENTITY(1,1) NOT NULL,
	[kAmazonabgleichLogsitzung] [int] NOT NULL,
	[dZeitpunkt] [datetime] NOT NULL,
	[nSchweregrad] [tinyint] NOT NULL,
	[cMeldung] [nvarchar](2048) NOT NULL,
	[kUser] [int] NOT NULL,
	[nVorgang] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Amazon_tVCSSelfInvoiceLogeintrag] PRIMARY KEY CLUSTERED 
(
	[kVCSSelfInvoiceLogeintrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tVCSSelfInvoiceLogeintrag]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tVCSSelfInvoiceLogeintrag_kAmazonabgleichLogsitzung] FOREIGN KEY([kAmazonabgleichLogsitzung])
REFERENCES [Amazon].[tAmazonabgleichLogsitzung] ([kAmazonabgleichLogsitzung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tVCSSelfInvoiceLogeintrag] CHECK CONSTRAINT [FK_Amazon_tVCSSelfInvoiceLogeintrag_kAmazonabgleichLogsitzung]
GO
