USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaVerpackungsdetailsSkuInfos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaVerpackungsdetailsSkuInfos]
AS
(
SELECT cSellerSKU,
       kUser,
       nPlattform,
       kArtikel,
       cItemName,
       cASIN1,
       bVorschauBild,
       nNr
FROM
(
    SELECT dbo.pf_amazon_angebot.cSellerSKU,
           dbo.pf_amazon_angebot.kUser,
           dbo.pf_amazon_angebot.nPlattform,
           dbo.pf_amazon_angebot.cItemName,
           dbo.pf_amazon_angebot_mapping.kArtikel,
           dbo.pf_amazon_angebot.cASIN1,
           dbo.tBild.bVorschauBild,
           dbo.tArtikelbildPlattform.nNr,
           ROW_NUMBER() OVER (PARTITION BY pf_amazon_angebot_mapping.kArtikel
                              ORDER BY CASE
                                           WHEN pf_amazon_angebot.nPlattform = tArtikelbildPlattform.kPlattform THEN
                                               1
                                           WHEN tArtikelbildPlattform.kPlattform = 50 THEN
                                               2
                                           ELSE
                                               3
                                       END
                             ) AS rn
    FROM dbo.pf_amazon_angebot
        JOIN dbo.pf_amazon_angebot_mapping
            ON pf_amazon_angebot_mapping.cSellerSKU = pf_amazon_angebot.cSellerSKU
               AND pf_amazon_angebot_mapping.kUser = pf_amazon_angebot.kUser
        JOIN dbo.tArtikelbildPlattform
            ON tArtikelbildPlattform.kArtikel = pf_amazon_angebot_mapping.kArtikel
        JOIN dbo.tPlattform
            ON tPlattform.nPlattform = tArtikelbildPlattform.kPlattform
        LEFT JOIN dbo.tBild
            ON tBild.kBild = tArtikelbildPlattform.kBild
    WHERE tPlattform.nTyp = 6
) AS RankedData
WHERE RankedData.rn = 1
);
GO
