USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tVcsUploadData]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tVcsUploadData](
	[kVcsUploadData] [int] IDENTITY(1,1) NOT NULL,
	[bData] [varbinary](max) NULL,
	[kBenutzer] [int] NOT NULL,
	[kRechnung] [int] NULL,
	[kGutschrift] [int] NULL,
	[dErstellDatum] [datetime] NOT NULL,
	[cFileHash] [nvarchar](255) NULL,
	[cFileName] [nvarchar](255) NULL,
	[nFileSizeKB] [int] NOT NULL,
	[nStatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_Amazon_tVcsUploadData] PRIMARY KEY CLUSTERED 
(
	[kVcsUploadData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tVcsUploadData] ADD  CONSTRAINT [DF_Amazon_tVcsUploadData_dErstelldatum]  DEFAULT (getdate()) FOR [dErstellDatum]
GO
ALTER TABLE [Amazon].[tVcsUploadData] ADD  CONSTRAINT [DF_Amazon_tVcsUploadData_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
