USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vVcsLiteRechnungOffenerBeleg]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vVcsLiteRechnungOffenerBeleg] AS
(
    SELECT
        tVcsLite.TransactionID,
        tVcsLite.kUser,
        MAX(tVcsLite.dVerarbeitetUtc) AS dVerarbeitetUtc,
        MAX(tVcsLite.dAktualisiertUtc) AS dAktualisiertUtc,
        MAX(tVcsLite.nFehlgeschlagenAnzahl) AS nFehlgeschlagenAnzahl
    FROM Amazon.tVcsLite
	JOIN Amazon.tTransaktionType ON tTransaktionType.nIstRechnung = 1
		AND tTransaktionType.cTransactionType = tVcsLite.TransactionType
    JOIN dbo.pf_user ON pf_user.kUser = tVcsLite.kUser
    WHERE tVcsLite.dVerarbeitetUtc IS NULL
        AND tVcsLite.InvoiceStatus = 'InvoicePending'
        AND (tVcsLite.dFehlgeschlagenUtc IS NULL
            OR (DATEADD(HOUR, 1, tVcsLite.dFehlgeschlagenUtc) < GETUTCDATE() AND tVcsLite.nFehlgeschlagenSchweregrad < 2 ))
        AND (tVcsLite.dErstelltUtc < pf_user.dVcsLiteSperreUtc
            OR pf_user.dVcsLiteSperreUtc IS NULL)
        AND tVcsLite.ShippingDate >= pf_user.dStartVCS
        AND pf_user.nAktiv = 1
    GROUP BY tVcsLite.TransactionID,
        tVcsLite.kUser
);
GO
