USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vVcsBestelldatumLand]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vVcsBestelldatumLand]
AS
(
	SELECT 
		tBestelldatumLand.*
	FROM Amazon.tBestelldatumLand 
	WHERE tBestelldatumLand.dVcsDatum IS NOT NULL	
		AND (DATEADD(DAY, 7, tBestelldatumLand.dVcsDatum) > tBestelldatumLand.dBestellDatum 
			OR tBestelldatumLand.dBestellDatum IS NULL)
);
GO
