USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vAbgleichBerichtDownloadQueue]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vAbgleichBerichtDownloadQueue]
AS
	SELECT tBerichtDownloadQueue.*,
		tBerichtsanfrage.cPfad,
		tBerichtsanfrage.cBerichtstyp,
		tBerichtsanfrage.kUser
	FROM Amazon.tBerichtDownloadQueue
	JOIN Amazon.tBerichtsanfrage ON tBerichtsanfrage.kBerichtsanfrage = tBerichtDownloadQueue.kBerichtsanfrage
GO
