USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vAngebotsdetails]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vAngebotsdetails]
AS
(
	SELECT
		pf_amazon_angebot.cSellerSKU,
		tArtikel.cBarcode AS cGTIN,
		pf_amazon_angebot.dOpenDate,
		tArtikel.cArtNr,
		pf_amazon_angebot_fba.cFNSKU,
		tArtikel.fGewicht AS fGewicht,
		pf_amazon_angebot.cItemName,
		tArtikelBeschreibung.cName,
		pf_amazon_angebot_ext.nSwitchFulfillmentTo AS nFulfillmentChannel,
		pf_amazon_angebot.cASIN1 AS cAsin,
		tPlattform.cName AS cPlattformName,
        tPlattform.cID AS cPlattformIdName,
		pf_user.cName AS cAccount,
		pf_amazon_angebot_ext.kSteuercode,
		pf_amazon_angebot_ext.kAmazonVersandgruppe,
		tPlattform.cWaehrung,
		tArtikel.fVKNetto,
		tArtikel.fEKNetto,
		tArtikel.fUVP,
		pf_amazon_angebot.fPrice AS fAmazonPreis,
		pf_amazon_angebot_ext.fPreis AS fPreisNeu,
		pf_amazon_angebot_ext.nB2BPreiseSenden,
		pf_amazon_angebot_ext.nSonderpreiseAktiv,
		pf_amazon_angebot_ext.fSalePrice,
		pf_amazon_angebot_ext.dSaleStart,
		pf_amazon_angebot_ext.dSaleEnd,
		tlagerbestand.fLagerbestand,
		tlagerbestand.fLagerbestandEigen,
		tArtikel.nPuffer,
		tlagerbestand.fVerfuegbar,
		tlagerbestand.fVerfuegbarGesperrt,
		tlagerbestand.fZulauf,
		pf_amazon_angebot.nQuantity AS nBestandAmazon,
		pf_amazon_angebot_ext.nMaxBestand,
        CASE
            WHEN tArtikel.kArtikel IS NOT NULL AND pf_user.nBearbeitungszeitAnpassen = 1 --BearbeitungszeitAendernBeiBestand0 BeschaffungsUndBearbeitungszeit
                AND tlagerbestand.fLagerbestandEigen > 0 AND tlagerbestand.fVerfuegbar > 0
                THEN ISNULL(tArtikel.nBearbeitungszeit, 0) + pf_user.nBearbeitungszeitAufschlag
            WHEN tArtikel.kArtikel IS NOT NULL AND pf_user.nBearbeitungszeitAnpassen = 1
                THEN ISNULL(tArtikel.nLiefertageWennAusverkauft, 0) + ISNULL(tArtikel.nBearbeitungszeit, 0) + pf_user.nBearbeitungszeitAufschlag
            ELSE pf_amazon_angebot_ext.nBearbeitungsZeit
        END AS nBearbeitungsZeit,
		pf_amazon_angebot_ext.nVerfuegbarkeitsdatumAktiv,
		pf_amazon_angebot_ext.dRestockDate,
		pf_amazon_angebot_fba.fVolume,
		pf_amazon_angebot_fba.nQuantity AS nFbaQuantity,
		pf_amazon_angebot_fba.nQtyWarehouse AS nFbaAufLager,
		pf_amazon_angebot_fba.nQtyReserved AS nFbaReserviert,
		pf_amazon_angebot_fba.nQtyUnsellable AS nFbaUnverkaeuflich,
		pf_amazon_angebot_fba.nQtyInboundWorking AS nFbaInboundWorking,
		pf_amazon_angebot_fba.nQtyInboundShipped AS nFbaInboundShipped,
		pf_amazon_angebot_fba.nQtyReceiving AS nFbaInboundReceiving,
		pf_amazon_angebot_fba.nQtyTotal AS nFbaGesamt,
		pf_amazon_angebot.nPlattform AS kPlattform,
		pf_amazon_angebot.kUser,
        tArtikel.kSteuerklasse,
        pf_user.nBearbeitungszeitAnpassen,
        pf_user.nLagerSenden,
        pf_amazon_plattform.nRegion,
        pf_user.nEU,
        pf_user.kFirma,
        ifGetNetPrice.dNettoPreis,
        pf_amazon_angebot.nItemCondition,
        pf_amazon_angebot.cProductId,
        pf_amazon_angebot.nProductIdType,
        tArtikel.kArtikel,
        tWaehrung.cName AS cStandardWaehrung,
        pf_amazon_angebot_ext.nGpsrRequiredType,
        ISNULL(dbo.pf_amazon_angebot_ext.nGpsrResponsibleType, 0) AS nGpsrResponsibleType,
        ContactArtikel.kContact AS kContactArtikel,
        ContactHersteller.kContact AS kContactHersteller
	FROM dbo.pf_amazon_angebot
	JOIN dbo.pf_user ON pf_user.kUser = pf_amazon_angebot.kUser
	JOIN dbo.tPlattform ON tPlattform.nPlattform = pf_amazon_angebot.nPlattform
    JOIN dbo.pf_amazon_plattform ON pf_amazon_plattform.kPlattform = tPlattform.nPlattform
	JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	LEFT JOIN dbo.pf_amazon_angebot_fba ON pf_amazon_angebot_fba.cSellerSKU = pf_amazon_angebot.cSellerSKU
		AND pf_amazon_angebot_fba.kUser = pf_amazon_angebot.kUser
		AND pf_amazon_angebot_fba.nPlattform = pf_amazon_angebot.nPlattform
	LEFT JOIN dbo.pf_amazon_angebot_ext ON pf_amazon_angebot_ext.cSellerSKU = pf_amazon_angebot.cSellerSKU
		AND pf_amazon_angebot_ext.kUser = pf_amazon_angebot.kUser
		AND pf_amazon_angebot_ext.nPlattform = pf_amazon_angebot.nPlattform
	LEFT JOIN dbo.pf_amazon_angebot_mapping ON pf_amazon_angebot_mapping.cSellerSKU = pf_amazon_angebot.cSellerSKU
		AND pf_amazon_angebot_mapping.kUser = pf_amazon_angebot.kUser
	LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = pf_amazon_angebot_mapping.kArtikel
	LEFT JOIN dbo.tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = pf_amazon_angebot_mapping.kArtikel
		AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache
		AND tArtikelBeschreibung.kPlattform = 1
    LEFT JOIN dbo.tHersteller ON tHersteller.kHersteller = tArtikel.kHersteller
    LEFT JOIN Artikel.tArtikelComplianceContact ON tArtikelComplianceContact.kArtikel = tArtikel.kArtikel
    LEFT JOIN Contact.tProductComplianceContact ON tProductComplianceContact.kProductComplianceContact = tArtikelComplianceContact.kProductComplianceContact
    LEFT JOIN Contact.tContact AS ContactArtikel ON ContactArtikel.kContact = tProductComplianceContact.kContact
    LEFT JOIN Contact.tContact AS ContactHersteller ON ContactHersteller.kContact = tHersteller.kContact
	LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tArtikel.kArtikel
    OUTER APPLY dbo.ifGetNetPrice(ISNULL(pf_amazon_angebot_mapping.kArtikel, 0), 0, pf_user.kKundengruppe, 0, 0)
    LEFT JOIN dbo.tWaehrung ON tWaehrung.nStandard = 1
)
GO
