USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vPlattform]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vPlattform] AS
(
    SELECT 
        pf_amazon_plattform.kPlattform,
        pf_amazon_plattform.cMarketPlaceId,
        pf_amazon_plattform.nRegion,
        pf_amazon_plattform.cDomain,
        pf_amazon_plattform.cIso,
        pf_amazon_plattform.cLanguageIso,
        tPlattform.cName,
        tPlattform.nTyp,
        tPlattform.nInet,
        tland.cWaehrung,
        CASE WHEN ISNULL(tland.nEU, 0) > 0
            THEN CAST(1 AS BIT)
            ELSE CAST(0 AS BIT)
        END AS nIstEuLand,
        tland.cISO3 AS cIso3,
        tland.cDefaultCulture,
        tAmazonRegion.cKurzname AS cRegionKurzname,
        ISNULL(tSpracheUsed.kSprache, StandardSprache.kSprache) AS kSprache,
        CASE WHEN pf_amazon_plattform.cDomain = 'GB'
            THEN 'UK'
            ELSE pf_amazon_plattform.cDomain
        END AS cAnmerkungCode
    FROM dbo.pf_amazon_plattform
    JOIN dbo.tPlattform ON tPlattform.nPlattform = pf_amazon_plattform.kPlattform
    JOIN dbo.tland ON tland.cISO = pf_amazon_plattform.cISO
    JOIN Amazon.tAmazonRegion ON tAmazonRegion.kRegion = pf_amazon_plattform.nRegion
    LEFT JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1
    LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.cISO2 = pf_amazon_plattform.cLanguageIso
)
GO
