USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAbgleichStornoAnfragen]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAbgleichStornoAnfragen]
AS
(
	SELECT
		pf_amazon_bestellung.kAmazonBestellung,  
		pf_amazon_bestellung.cBuyerName, 
		pf_amazon_bestellung.cBuyerEmail, 
		pf_amazon_bestellung.cBuyerPhoneNumber, 
		pf_amazon_bestellung.cBillAddress1, 
		pf_amazon_bestellung.cBillAddress2, 
		pf_amazon_bestellung.cBillAddress3, 
		pf_amazon_bestellung.cBillCity, 
		pf_amazon_bestellung.cBillState, 
		pf_amazon_bestellung.cBillPostalCode, 
		pf_amazon_bestellung.cBillCountry, 
		pf_amazon_bestellung.cRecipientName, 
		pf_amazon_bestellung.cShipAddress1, 
		pf_amazon_bestellung.cShipAddress2, 
        pf_amazon_bestellung.cShipAddress3, 
		pf_amazon_bestellung.cShipCity, 
		pf_amazon_bestellung.cShipState, 
		pf_amazon_bestellung.cShipPostalCode, 
		pf_amazon_bestellung.cShipCountry, 
		pf_amazon_bestellung.cShipPhoneNumber, 
		pf_amazon_bestellung.cCurrency, 
		pf_amazon_bestellung.cShipServiceLevel, 
		pf_amazon_bestellung.fItemPromotionDiscount, 
        pf_amazon_bestellung.cItemPromotionId, 
		pf_amazon_bestellung.cShipPromotionId, 
		pf_amazon_bestellung.dPaymentsDate, 
		pf_amazon_bestellung.dShipmentDate, 
		pf_amazon_bestellung.dErstellt, 
		pf_user.cName AS cKontoName,
		pf_amazon_bestellung.cOriginalOrderId AS cExterneAuftragsnummer,
		ISNULL(pf_amazon_bestellung.dPurchaseDate, pf_amazon_bestellung.dErstellt) AS dFilterDate,
		CASE WHEN pf_amazon_bestellung_storno.kAmazonBestellungStorno IS Null THEN 1 
			WHEN pf_amazon_bestellung_storno.dBearbeitet IS NULL THEN 2		
			WHEN Not pf_amazon_bestellung_storno.dBearbeitet IS NULL AND ISNULL(pf_amazon_bestellungstatus.cOrderStatus, '') = 'Canceled' THEN 4
		ELSE
			3
		END AS nStatus,
		tAuftrag.kAuftrag,
		tAuftrag.cAuftragsNr,
		pf_user.kUser AS kAmazonUser
	FROM dbo.pf_amazon_bestellungpos
	JOIN dbo.pf_amazon_bestellung ON pf_amazon_bestellung.kAmazonBestellung = pf_amazon_bestellungpos.kAmazonBestellung
	JOIN dbo.pf_user ON pf_user.kUser = pf_amazon_bestellung.kUser
	JOIN Verkauf.tAuftrag ON tAuftrag.cExterneAuftragsnummer = pf_amazon_bestellung.cOrderId
	LEFT JOIN dbo.pf_amazon_bestellung_storno ON pf_amazon_bestellung_storno.cOrderId = pf_amazon_bestellung.cOrderId
	LEFT JOIN dbo.pf_amazon_bestellungstatus ON pf_amazon_bestellungstatus.cOrderId = pf_amazon_bestellung.cOrderId
	WHERE pf_amazon_bestellungpos.nStornoAngefragt > 0	
	GROUP BY 
		pf_amazon_bestellung.kAmazonBestellung, 
		pf_amazon_bestellung.cBuyerName, 
		pf_amazon_bestellung.cBuyerEmail, 
		pf_amazon_bestellung.cBuyerPhoneNumber, 
		pf_amazon_bestellung.cBillAddress1, 
		pf_amazon_bestellung.cBillAddress2, 
		pf_amazon_bestellung.cBillAddress3, 
		pf_amazon_bestellung.cBillCity, 
		pf_amazon_bestellung.cBillState, 
		pf_amazon_bestellung.cBillPostalCode, 
		pf_amazon_bestellung.cBillCountry, 
		pf_amazon_bestellung.cRecipientName, 
		pf_amazon_bestellung.cShipAddress1, 
		pf_amazon_bestellung.cShipAddress2, 
		pf_amazon_bestellung.cShipAddress3, 
		pf_amazon_bestellung.cShipCity, 
		pf_amazon_bestellung.cShipState, 
		pf_amazon_bestellung.cShipPostalCode, 
		pf_amazon_bestellung.cShipCountry, 
		pf_amazon_bestellung.cShipPhoneNumber, 
		pf_amazon_bestellung.cCurrency, 
		pf_amazon_bestellung.cShipServiceLevel, 
		pf_amazon_bestellung.fItemPromotionDiscount, 
		pf_amazon_bestellung.cItemPromotionId, 
		pf_amazon_bestellung.cShipPromotionId, 
		pf_amazon_bestellung.dPaymentsDate, 
		pf_amazon_bestellung.dShipmentDate, 
		pf_amazon_bestellung.dErstellt, 
		pf_user.cName, 
		pf_amazon_bestellung.cOriginalOrderId, 
		ISNULL(pf_amazon_bestellung.dPurchaseDate, pf_amazon_bestellung.dErstellt), 
		tAuftrag.kAuftrag, 
		tAuftrag.cAuftragsNr, 
		pf_user.kUser, 
		pf_amazon_bestellungstatus.cOrderStatus, 
		pf_amazon_bestellung_storno.dBearbeitet, 
		pf_amazon_bestellung_storno.kAmazonBestellungStorno
)
GO
