USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vBuchhaltungsuebersichtAuftragPosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vBuchhaltungsuebersichtAuftragPosition]
AS
(
	SELECT
		tAuftragPosition.kAuftragPosition,
		tAuftragPosition.kArtikel,
		tAuftragPosition.kAuftrag,
		tAuftragPosition.cArtNr,
		tAuftragPosition.cName,
		tAuftragPosition.fAnzahl,
		tAuftragPositionEckdaten.fWertNetto,
		tAuftragPositionEckdaten.fWertBrutto,
		tAuftragPosition.fMwSt,
		tAuftragPosition.fRabatt,
		tAuftragPosition.cNameStandard,
		tAuftragPosition.nType
	FROM Verkauf.tAuftragPosition
	JOIN Verkauf.tAuftragPositionEckdaten ON tAuftragPositionEckdaten.kAuftragPosition = tAuftragPosition.kAuftragPosition
);
GO
