USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonBestellungen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonBestellungen]
AS
(
    SELECT
        pf_amazon_bestellung.corderid AS cOrderId,
        pf_amazon_bestellung.cbuyername AS cBuyerName,
        pf_amazon_bestellung.cbuyeremail AS cBuyerEmail,
        pf_amazon_bestellung.cbuyerphonenumber AS cBuyerPhonenumber,
        pf_amazon_bestellung.cBuyerCompanyName AS cBuyerCompanyName,
        pf_amazon_bestellung.cBuyerTaxRegistrationId AS cBuyerTaxRegistrationId,
        pf_amazon_bestellung.cBuyerCstNumber AS cBuyerCstNumber,
        pf_amazon_bestellung.dEarliestShipAt AS dEarliestShipAt,
        pf_amazon_bestellung.dLatestShipAt AS dLatestShipAt,
        pf_amazon_bestellung.dEarliestDeliveryAt AS dEarliestDeliveryAt,
        pf_amazon_bestellung.dLatestDeliveryAt AS dLatestDeliveryAt,
        pf_amazon_bestellung.cShipServiceName AS cShipServiceName,
        pf_amazon_bestellung.cPaymentMethod AS cPaymentMethod,
        pf_amazon_bestellung.cbilladdress1 AS cBillAddress1,
        pf_amazon_bestellung.cbilladdress2 AS cBillAddress2,
        pf_amazon_bestellung.cbilladdress3 AS cBillAddress3,
        pf_amazon_bestellung.cbillcity AS cBillCity,
        pf_amazon_bestellung.cbillstate AS cBillState,
        pf_amazon_bestellung.cbillpostalcode AS cBillPostalCode,
        pf_amazon_bestellung.cbillcountry AS cBillCountry,
        pf_amazon_bestellung.crecipientname AS cRecipientName,
        pf_amazon_bestellung.cshipaddress1 AS cShipAddress1,
        pf_amazon_bestellung.cshipaddress2 AS cShipAddress2,
        pf_amazon_bestellung.cshipaddress3 AS cShipAddress3,
        pf_amazon_bestellung.cshipcity AS cShipCity,
        pf_amazon_bestellung.cshipstate AS cShipState,
        pf_amazon_bestellung.cshippostalcode AS cShipPostalcode,
        pf_amazon_bestellung.cshipcountry AS cShipCountry,
        pf_amazon_bestellung.cshipphonenumber AS cShipPhonenumber,
        pf_amazon_bestellung.ccurrency AS cCurrency,
        pf_amazon_bestellung.cshipservicelevel AS cShipServicelevel,
        pf_amazon_bestellung.fitempromotiondiscount AS fItemPromotionalDiscount,
        pf_amazon_bestellung.citempromotionid AS cItemPromotionId,
        pf_amazon_bestellung.cshippromotionid AS cShipPromotionId,
        pf_amazon_bestellung.fversandkosten AS fVersandkosten,
        pf_amazon_bestellung.dpaymentsdate AS dPaymentsDate,
        pf_amazon_bestellung.dpurchasedate AS dPurchasedate,
        pf_amazon_bestellung.derstellt AS dErstellt,
        Bestellpositionen.nAnzahlPos AS nAnzahlPos,
        Bestellpositionen.fSumGesamtOfItemPrice + pf_amazon_bestellung.fVersandkosten AS fSumGesamtOfItemPrice,
        pf_user.cname AS cUserName,
        Bestellpositionen.nAnzahlArtikel AS nAnzahlArtikel,
        pf_amazon_bestellung.nstatus AS nStatus,
        CASE
            WHEN ISNULL(dbo.pf_amazon_bestellung_storno.kAmazonBestellungStorno, 0) > 0 THEN 10
            WHEN pf_amazon_bestellung.nstatus = 25 THEN 20
            WHEN corderstatus = 'PartiallyShipped' THEN 30 
            WHEN corderstatus = 'Shipped' THEN 40
            ELSE 0
        END AS nVersandStatus,
        pf_amazon_bestellung.csaleschannel AS cSalesChannel,
        pf_amazon_bestellung.nerrorcode AS nErrorCode,
        pf_amazon_bestellung.cerrormessage AS cErrorMessage,
        pf_amazon_bestellung.nfba AS nFba,
        pf_amazon_bestellung.cversandlandiso AS cVersandlandIso,
        pf_amazon_bestellung.kamazonbestellung AS kAmazonBestellung,
        pf_amazon_bestellung.kuser AS kUser,
        CASE
            WHEN pf_amazon_bestellung.corderstatus = 'Pending' THEN 80
            WHEN pf_amazon_bestellung.nfba = 1 THEN 100
            WHEN pf_amazon_bestellung.nstatus = 5 THEN 90
            WHEN pf_amazon_bestellung.nErrorCode > 0 THEN 50
            WHEN Bestellpositionen.nErrorCode > 0 THEN 50
            WHEN pf_amazon_bestellung.nstatus = 0 THEN 0
            WHEN pf_amazon_bestellung.corderstatus = 'PartiallyShipped' THEN 30
            WHEN pf_amazon_bestellung.corderstatus = 'Shipped' THEN 40
            ELSE -1
        END AS nOrderStatus,
        Bestellpositionen.nIstGeschenk AS nIstGeschenk,
        Bestellpositionen.nIstCustom AS nIstCustom,
        pf_amazon_bestellung.cOrderStatus AS cOrderStatus,
        dbo.pf_amazon_bestellung_storno.nCancelReason AS nStornogrund,
        ISNULL(Stornobenutzer.cName, '') AS cStornobenutzer,
        dbo.pf_amazon_bestellung_storno.dErstellt AS dStornozeitpunkt,
        dbo.pf_amazon_bestellung.nB2B AS nB2B,
		pf_amazon_bestellung.nPrime
    FROM dbo.pf_amazon_bestellung
    JOIN dbo.pf_user ON pf_user.kuser = pf_amazon_bestellung.kuser AND pf_user.naktiv = 1
    LEFT JOIN (
        SELECT
            dbo.pf_amazon_bestellungpos.kAmazonBestellung,
            COUNT(*) AS nAnzahlPos,
            MAX(ISNULL(dbo.pf_amazon_bestellungpos.nGeschenk, 0)) AS nIstGeschenk,
            SUM(ISNULL(dbo.pf_amazon_bestellungpos.nErrorCode, 0)) AS nErrorCode,
            SUM(dbo.pf_amazon_bestellungpos.fitemprice) AS fSumGesamtOfItemPrice,
            SUM(dbo.pf_amazon_bestellungpos.nQuantityPurchased) AS nAnzahlArtikel,
            MAX(CONVERT(TINYINT, pf_amazon_bestellungpos.nCustom)) AS nIstCustom
        FROM
            dbo.pf_amazon_bestellungpos
        GROUP BY
            dbo.pf_amazon_bestellungpos.kAmazonBestellung
    ) AS Bestellpositionen ON Bestellpositionen.kAmazonBestellung = dbo.pf_amazon_bestellung.kAmazonBestellung
    LEFT JOIN dbo.pf_amazon_bestellung_storno ON pf_amazon_bestellung_storno.cOrderId = dbo.pf_amazon_bestellung.cOrderId
    LEFT JOIN eazybusiness.dbo.tbenutzer Stornobenutzer ON Stornobenutzer.kBenutzer = dbo.pf_amazon_bestellung_storno.kBenutzer
    WHERE (pf_amazon_bestellung.ndeleted = 0)
        AND ( pf_amazon_bestellung.kfulfillmentauftrag = 0 )
        AND ( pf_amazon_bestellung.nIsMultichannelOrder = 0 )
)
GO
