USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonAbgleichBestellungen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonAbgleichBestellungen]
AS
(
	SELECT 

		pf_amazon_bestellung.kamazonbestellung AS kAmazonBestellung, 
		pf_amazon_bestellung.corderid AS cOrderId, 
		pf_amazon_bestellung.cbuyername AS cBuyerName, 
		pf_amazon_bestellung.cbuyeremail AS cBuyerEmail, 
		pf_amazon_bestellung.cbuyerphonenumber AS cBuyerPhonenumber, 
		pf_amazon_bestellung.cbilladdress1 AS cBilladdress1, 
		pf_amazon_bestellung.cbilladdress2 AS cBilladdress2, 
		pf_amazon_bestellung.cbilladdress3 AS cBilladdress3, 
		pf_amazon_bestellung.cbillcity AS cBillCity, 
		pf_amazon_bestellung.cbillstate AS cBillState, 
		pf_amazon_bestellung.cbillpostalcode AS cBillPostalcode, 
		pf_amazon_bestellung.cbillcountry AS cBillCountry, 
		pf_amazon_bestellung.crecipientname AS cRecipientName, 
		pf_amazon_bestellung.cshipaddress1 AS cShipAddress1, 
		pf_amazon_bestellung.cshipaddress2 AS cShipaddress2, 
		pf_amazon_bestellung.cshipaddress3 AS cShipaddress3, 
		pf_amazon_bestellung.cshipcity AS cShipCity, 
		pf_amazon_bestellung.cshipstate AS cShipState, 
		pf_amazon_bestellung.cshippostalcode AS cShipPostalcode, 
		pf_amazon_bestellung.cshipcountry AS cShipCountry, 
		pf_amazon_bestellung.cshipphonenumber AS cShipPhonenumber, 
		pf_amazon_bestellung.ccurrency AS cCurrency, 
		pf_amazon_bestellung.cshipservicelevel AS cShipserviceleve, 
		pf_amazon_bestellung.fitempromotiondiscount AS fItemPromotionDiscount, 
		pf_amazon_bestellung.citempromotionid AS cItemPromotionId, 
		pf_amazon_bestellung.cshippromotionid AS cShippromotionId, 		
		pf_amazon_bestellung.dpaymentsdate AS dPaymentsDate, 
		pf_amazon_bestellung.dpurchasedate AS dPurchaseDate, 
		pf_amazon_bestellung.derstellt AS dErstellt, 		
		pf_user.cname AS cName,
		pf_user.kUser AS kUser

	FROM   pf_amazon_bestellung
	JOIN pf_user ON pf_user.kuser = pf_amazon_bestellung.kuser AND pf_user.naktiv = 1 
	JOIN 
	(
		SELECT DISTINCT kAmazonBestellung
		FROM dbo.pf_amazon_bestellungpos JOIN dbo.pf_amazon_bestellung_versand ON dbo.pf_amazon_bestellung_versand.kAmazonBestellungPos = dbo.pf_amazon_bestellungpos.kAmazonBestellungPos
		WHERE dbo.pf_amazon_bestellung_versand.dBearbeitet IS NULL 
	) AmazonBestellungPks ON AmazonBestellungPks.kAmazonBestellung = dbo.pf_amazon_bestellung.kAmazonBestellung
)
GO
