USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vBuchhaltungsuebersichtAuftrag]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vBuchhaltungsuebersichtAuftrag]
AS
(
	SELECT
		tAuftrag.kAuftrag,   
		tAuftrag.cAuftragsNr,
		tAuftrag.nType,
		tAuftrag.dErstellt,
		tAuftrag.kPlattform,
		tAuftrag.cExterneAuftragsnummer,
		LEFT(tAuftrag.cExterneAuftragsnummer, 19) AS cOriginalOrderId,
		tAuftragEckdaten.fWertNetto,
		tAuftragEckdaten.fWertBrutto
	FROM Verkauf.tAuftrag
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
);
GO
