USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonAngebote]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonAngebote]
AS
(
    SELECT
        pf_amazon_angebot.cSellerSKU + CAST(pf_amazon_angebot.kUser AS VARCHAR(255)) + CAST(pf_amazon_angebot.nPlattform AS VARCHAR(255)) AS kAmazonAngebot,
        pf_amazon_angebot.cItemName AS cItemname,
        pf_amazon_angebot.cASIN1 AS cAsin1,
        pf_amazon_angebot.dOpenDate AS dOpendate,
        pf_amazon_angebot.cSellerSKU AS cSellerSku,
        pf_amazon_angebot.fPrice AS fPrice,
        pf_amazon_angebot.cFulfillmentChannel AS cFulfillmentChannel,
        pf_amazon_angebot.nPlattform AS nPlattform,
        pf_amazon_angebot.kUser AS kUser,
        pf_amazon_angebot.nChangedQuantity AS nChangedQuantity,        
        pf_amazon_angebot.nChangedPrice AS nChangedPrice,
        pf_amazon_angebot.nQuantity as nDefaultFulfillmentChannelQuantity,
        pf_amazon_angebot.nItemCondition AS nCondition,
        ROUND((pf_amazon_angebot.fPrice - pf_amazon_angebot_ext.fPreisSeller1), 2) AS fAbstandPrice,
        ISNULL(pf_amazon_angebot_ext.nSwitchFulfillmentTo, 0) AS nSwitchFulfillmentTo,
        pf_amazon_angebot_ext.dLastSwitchFulfillmentTo,
        CASE WHEN pf_amazon_angebot_ext.nSwitchFulfillmentTo = 0
        THEN
            CASE WHEN pf_amazon_angebot.cFulfillmentChannel = 'DEFAULT'
                THEN 'MFN'
                ELSE 'AFN'
            END
        ELSE
            CASE WHEN pf_amazon_angebot_ext.nSwitchFulfillmentTo = 1
                THEN 'MFN'
                ELSE 'AFN'
            END
        END AS cFulfilledNetwork,
        Artikel.nIstVater AS nIstVater,
        CASE WHEN ISNULL(Artikel.cLagerAktiv, 'N') = 'Y'
            THEN 1
            ELSE 0
        END AS nLagerAktiv,
        CASE WHEN ISNULL(Artikel.cLagerKleinerNull, 'N') = 'Y'
            THEN 1
            ELSE 0
        END AS nLagerKleinerNull,
        Artikel.fLagerbestand AS fLagerbestand,
        Artikel.cName AS cArtikelName,
        Artikel.cEinheit AS cEinheit,
        Artikel.cBarcode AS cBarcode,
        Artikel.fGewicht AS fGewicht,
        Artikel.cHan AS cHan,
        Artikel.cIsbn cIsbn,
        Artikel.cUPC AS cUpc,
        Artikel.fReserviert AS fReserviert,
        Artikel.fVkNetto AS fVkNetto,
        Artikel.fEbayPreis AS fEbayPreis,
        Artikel.cHersteller AS cHersteller,
        Artikel.fEkNetto AS fEkNetto,
        Artikel.cArtNr AS cArtNr,
        Artikel.fAmazonVk AS fAmazonVk,
        Artikel.fVerfuegbar AS fVerfuegbar,
        Artikel.fVerfuegbarExtern AS fVerfuegbarExtern,
        Artikel.fVerfuegbarExtern - pf_amazon_angebot_fba.nQuantity AS fVerfuegbarExternOhneFba,
        Artikel.kArtikel AS kArtikel,
        pf_amazon_angebot_fba.cConditionType AS cConditiontype,
        pf_amazon_angebot_fba.cWarehouseConditionType AS cWarehouseConditiontype,
        pf_amazon_angebot_ext.fVersandkosten AS fVersandkosten, 
        CASE
            WHEN pf_user.nBearbeitungszeitAnpassen = 1 AND fVerfuegbar > 0
                THEN pf_user.nBearbeitungszeitAufschlag + ISNULL(Artikel.nBearbeitungszeit, 0)
                ELSE
                    CASE
                        WHEN pf_user.nBearbeitungszeitAnpassen = 1 AND fVerfuegbar <= 0
                            THEN pf_user.nBearbeitungszeitAufschlag + Artikel.nLiefertageWennAusverkauft + ISNULL(Artikel.nBearbeitungszeit, 0)
                            ELSE pf_amazon_angebot_ext.nBearbeitungsZeit
                        END
            END AS nBearbeitungszeit,
        pf_amazon_angebot_ext.dRestockDate AS dRestockdate,
        pf_amazon_angebot_ext.dSaleStart AS dSaleStart,
        pf_amazon_angebot_ext.dSaleEnd AS dSaleEnd,
        pf_amazon_angebot_ext.fSalePrice AS fSalePrice,
        pf_amazon_angebot_ext.fPreisSeller1 AS fPreisseller1,
        pf_amazon_angebot_ext.fVersandSeller1 AS fVersandseller1,
        pf_amazon_angebot_ext.dSellerdaten AS dSellerdaten,
        pf_amazon_angebot_ext.cConditionNote AS cConditionnote,
        pf_amazon_angebot_ext.nB2BPreiseSenden AS nB2BPreiseSenden, 
        pf_amazon_angebot_fba.cFNSKU AS cFnsku,
        pf_amazon_angebot_fba.fVolume AS fVolume,
        pf_amazon_angebot_fba.nQuantity AS nFfbaQuantity,
        pf_amazon_angebot_fba.nQtyWarehouse AS nQuantityWarehouse,
        pf_amazon_angebot_fba.nQtyUnsellable AS nQuantityUnsellable,
        pf_amazon_angebot_fba.nQtyReserved AS nQuantityReserved,
        pf_amazon_angebot_fba.nQtyInboundWorking AS nQuantityInboundWorking,
        pf_amazon_angebot_fba.nQtyInboundShipped AS nQuantityInboundShipped,
        pf_amazon_angebot_fba.nQtyReceiving AS nQuantityReceiving,
        pf_amazon_angebot_fba.nQtyTotal AS nQuantityTotal, 
        pf_amazon_angebot_ext.fPreis AS fPreis,
        pf_amazon_angebot_ext.nDelete AS nDelete,
        pf_amazon_Steuercodes.kSteuercode AS kSteuercode,
        pf_amazon_Steuercodes.cName AS cSteuercodeName,
        CASE
            WHEN pf_amazon_angebot_ext.fPreis IS NOT NULL AND pf_amazon_angebot_ext.fPreis > 0
                THEN 1
                ELSE 0
            END AS nHasPrice,
        CASE
            WHEN pf_amazon_angebot.cFulfillmentChannel = 'DEFAULT'
                THEN pf_amazon_angebot.nQuantity
                ELSE pf_amazon_angebot_fba.nQuantity
            END AS nQuantity,
        pf_amazon_angebot_ext.nMaxBestand AS nMaxBestand,
		tplattform.cWaehrung AS cWaehrung,
		tWaehrung.fFaktor AS fFactor,
        tplattform.cName AS cPlattformname,
        pf_user.cName AS cPfUsername,      
        pf_user.nLagerSenden AS nLagerSenden,
        pf_user.nBearbeitungszeitAnpassen AS nBearbeitungszeitAnpassen,
        dbo.pf_amazon_versandgruppen.cName AS cVersandgruppe,
		(
			SELECT 
				COUNT(tAmazonAngebotFehler.kAmazonAngebotFehler) 
			FROM Amazon.tAmazonAngebotFehler 
			WHERE 
				tAmazonAngebotFehler.cSku = dbo.pf_amazon_angebot.cSellerSKU
				AND tAmazonAngebotFehler.nPlattform = dbo.pf_amazon_angebot.nPlattform 
				AND tAmazonAngebotFehler.kUser = dbo.pf_amazon_angebot.kUser
		) AS nAngebotFehlerAnzahl,		
		pf_amazon_angebot_ext.nPreisUndBestandsaenderungenAusschliessen,
		pf_amazon_angebot.cShippingGroup AS cVersandgruppeAmazon,
        pf_user.nSendPriceAdjustment AS nPreisanpassungSenden,
        Artikel.kContactArtikel,
        Artikel.kContactHersteller
    FROM dbo.pf_amazon_angebot
    JOIN dbo.pf_user ON dbo.pf_user.kUser = dbo.pf_amazon_angebot.kUser
                        AND dbo.pf_user.nAktiv = 1
    LEFT JOIN dbo.tplattform ON dbo.tplattform.nPlattform = dbo.pf_amazon_angebot.nPlattform
	LEFT JOIN dbo.tWaehrung ON tWaehrung.cEAMapping = tPlattform.cWaehrung
    LEFT JOIN dbo.pf_amazon_angebot_ext ON dbo.pf_amazon_angebot.cSellerSKU = dbo.pf_amazon_angebot_ext.cSellerSKU
                                            AND dbo.pf_amazon_angebot_ext.kUser = dbo.pf_amazon_angebot.kUser
                                            AND dbo.pf_amazon_angebot_ext.nPlattform = dbo.pf_amazon_angebot.nPlattform
    LEFT JOIN dbo.pf_amazon_angebot_fba ON dbo.pf_amazon_angebot_fba.cSellerSKU = dbo.pf_amazon_angebot.cSellerSKU
                                    AND dbo.pf_amazon_angebot_fba.kUser = dbo.pf_amazon_angebot.kUser
									AND dbo.pf_amazon_angebot_fba.nPlattform = dbo.pf_amazon_angebot.nPlattform
    LEFT JOIN dbo.pf_amazon_angebot_mapping ON pf_amazon_angebot_mapping.cSellerSKU = pf_amazon_angebot.cSellerSKU
        AND pf_amazon_angebot_mapping.kUser = pf_amazon_angebot_ext.kUser  
    LEFT JOIN(
        SELECT  tlagerbestand.fLagerbestand AS fLagerbestand,
                tArtikelbeschreibung.cName, 
                tArtikel.cBarcode AS cBarcode,
                tArtikel.fGewicht AS fGewicht,
                tArtikel.cHAN AS cHan,
                tArtikel.cISBN cIsbn,
                tArtikel.cUPC AS cUpc,
                tlagerbestand.fInAuftraegen AS fReserviert,
                tartikel.fVKNetto AS fVkNetto,
                tartikel.fEbayPreis AS fEbayPreis,
                tartikel.fEKNetto AS fEkNetto,
                tArtikel.cArtNr AS cArtNr,
                tArtikel.cLagerAktiv AS cLagerAktiv,
                tArtikel.cLagerKleinerNull AS cLagerKleinerNull,
                tArtikel.kArtikel AS kArtikel,     
                tArtikel.nIstVater AS nIstVater,
                tartikel.fAmazonVK AS fAmazonVk,
                tartikel.nBearbeitungszeit AS nBearbeitungszeit,
                tartikel.nLiefertageWennAusverkauft AS nLiefertageWennAusverkauft,
                tlagerbestand.fVerfuegbar AS fVerfuegbar,
                tlagerbestand.fVerfuegbar - dbo.tArtikel.nPuffer AS fVerfuegbarExtern,
                tHersteller.cName AS cHersteller,
                VerkaufsEinheitSprache.cName AS cEinheit,
                ContactArtikel.kContact AS kContactArtikel,
                ContactHersteller.kContact AS kContactHersteller
            FROM dbo.tArtikel
            JOIN dbo.tlagerbestand ON dbo.tArtikel.kArtikel = dbo.tlagerbestand.kArtikel
            JOIN dbo.tSpracheUsed ON dbo.tSpracheUsed.nStandard = 1
            LEFT JOIN dbo.tHersteller ON dbo.tHersteller.kHersteller = dbo.tArtikel.kHersteller
            LEFT JOIN dbo.tEinheitSprache AS VerkaufsEinheitSprache ON VerkaufsEinheitSprache.kEinheit = dbo.tArtikel.kVerkaufsEinheit
                                                                AND VerkaufsEinheitSprache.kSprache = dbo.tSpracheUsed.kSprache
            LEFT JOIN dbo.tArtikelbeschreibung ON dbo.tArtikelbeschreibung.kArtikel = dbo.tArtikel.kArtikel
                                            AND dbo.tArtikelbeschreibung.kSprache = dbo.tSpracheUsed.kSprache
                                            AND dbo.tArtikelbeschreibung.kPlattform = 1
            LEFT JOIN Artikel.tArtikelComplianceContact ON tArtikelComplianceContact.kArtikel = tArtikel.kArtikel
            LEFT JOIN Contact.tProductComplianceContact ON tProductComplianceContact.kProductComplianceContact = tArtikelComplianceContact.kProductComplianceContact
            LEFT JOIN Contact.tContact AS ContactArtikel ON ContactArtikel.kContact = tProductComplianceContact.kContact
            LEFT JOIN Contact.tContact AS ContactHersteller ON ContactHersteller.kContact = tHersteller.kContact
            WHERE dbo.tArtikel.cAktiv <> 'N'
    ) AS Artikel ON Artikel.kArtikel = pf_amazon_angebot_mapping.kArtikel
    LEFT JOIN dbo.pf_amazon_Steuercodes ON pf_amazon_Steuercodes.kSteuercode = pf_amazon_angebot_ext.kSteuercode
    LEFT JOIN dbo.pf_amazon_versandgruppen ON dbo.pf_amazon_versandgruppen.kAmazonVersandgruppe = dbo.pf_amazon_angebot_ext.kAmazonVersandgruppe	
)
GO
