USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tBerichtsanfrage]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tBerichtsanfrage](
	[kBerichtsanfrage] [int] IDENTITY(1,1) NOT NULL,
	[kUser] [int] NOT NULL,
	[cBerichtstyp] [nvarchar](255) NOT NULL,
	[nIntervallTyp] [tinyint] NOT NULL,
	[nZeitraumTyp] [tinyint] NOT NULL,
	[nRelativerZeitraumTyp] [tinyint] NOT NULL,
	[dStartUtc] [datetime2](7) NULL,
	[dEndeUtc] [datetime2](7) NULL,
	[cPfad] [nvarchar](255) NOT NULL,
	[nExternalId] [bigint] NOT NULL,
	[nStatus] [tinyint] NOT NULL,
	[cMeldung] [nvarchar](max) NULL,
 CONSTRAINT [PK_Amazon_tBerichtsanfrage] PRIMARY KEY CLUSTERED 
(
	[kBerichtsanfrage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Amazon_tBerichtsanfrage_kUser_cBerichtstyp] UNIQUE NONCLUSTERED 
(
	[kUser] ASC,
	[cBerichtstyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tBerichtsanfrage] ADD  CONSTRAINT [DF_Amazon_tBerichtsanfrage_nIntervallTyp]  DEFAULT ((0)) FOR [nIntervallTyp]
GO
ALTER TABLE [Amazon].[tBerichtsanfrage] ADD  CONSTRAINT [DF_Amazon_tBerichtsanfrage_nZeitraumTyp]  DEFAULT ((0)) FOR [nZeitraumTyp]
GO
ALTER TABLE [Amazon].[tBerichtsanfrage] ADD  CONSTRAINT [DF_Amazon_tBerichtsanfrage_nRelativerZeitraumTyp]  DEFAULT ((0)) FOR [nRelativerZeitraumTyp]
GO
ALTER TABLE [Amazon].[tBerichtsanfrage] ADD  CONSTRAINT [DF_Amazon_tBerichtsanfrage_nExternalId]  DEFAULT ((0)) FOR [nExternalId]
GO
ALTER TABLE [Amazon].[tBerichtsanfrage]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tBerichtsanfrage_kUser] FOREIGN KEY([kUser])
REFERENCES [dbo].[pf_user] ([kUser])
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tBerichtsanfrage] CHECK CONSTRAINT [FK_Amazon_tBerichtsanfrage_kUser]
GO
