USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vVcsGutschriftOffenerManuellerBeleg]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vVcsGutschriftOffenerManuellerBeleg] AS
(
    SELECT
        tVcs.TransactionID,
        tVcs.kUser,
        MAX(tVcs.dVerarbeitetUtc) AS dVerarbeitetUtc,
        MAX(tVcs.dAktualisiertUtc) AS dAktualisiertUtc,
        MAX(tVcs.nFehlgeschlagenAnzahl) AS nFehlgeschlagenAnzahl
    FROM Amazon.tVcs
	JOIN Amazon.tTransaktionType ON tTransaktionType.nIstGutschrift = 1
		AND tTransaktionType.cTransactionType = tVcs.TransactionType
    JOIN dbo.pf_user ON pf_user.kUser = tVcs.kUser
    OUTER APPLY
	(
		SELECT Shipment.kMessageId, Shipment.dVerarbeitetUtc 
		FROM Amazon.tVcs AS Shipment 
		JOIN Amazon.tTransaktionType ON tTransaktionType.nIstRechnung = 1
			AND tTransaktionType.cTransactionType = Shipment.TransactionType
		WHERE Shipment.kUser = tVcs.kUser
        AND Shipment.SKU = tVcs.SKU
        AND Shipment.ShipmentID = tVcs.ShipmentID     
        AND Shipment.ASIN = tVcs.ASIN
	) AS Shipment
    OUTER APPLY
    (
        SELECT TOP(1) tVcsLite.kVcsLite
        FROM Amazon.tVcsLite
        WHERE tVcsLite.kUser = tVcs.kUser
            AND tVcsLite.OrderID = tVcs.OrderID
			AND tVcsLite.InvoiceStatus NOT IN ('InvoiceCreatedByAmazon', 'CreditNoteCreatedByAmazon')
    ) AS VcsLite
    WHERE tVcs.dVerarbeitetUtc IS NULL       
        AND tVcs.IsAmazonInvoiced = 1
        AND (tVcs.dErstelltUtc < pf_user.dVcsSperreUtc
            OR pf_user.dVcsSperreUtc IS NULL)
        AND VcsLite.kVcsLite IS NULL
        AND tVcs.VATInvoiceNumber LIKE 'N/A%'
        AND pf_user.nAktiv = 1
        AND (Shipment.kMessageId IS NULL OR Shipment.dVerarbeitetUtc IS NOT NULL)
    GROUP BY tVcs.TransactionID,
        tVcs.kUser
)
GO
