USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tAmazonabgleichLogsitzung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tAmazonabgleichLogsitzung](
	[kAmazonabgleichLogsitzung] [int] IDENTITY(1,1) NOT NULL,
	[nTyp] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cRechnername] [nvarchar](64) NOT NULL,
	[dStart] [datetime] NOT NULL,
	[dEnde] [datetime] NULL,
	[nStatus] [tinyint] NULL,
	[cStatusMeldung] [nvarchar](2048) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Amazon_tAmazonabgleichLogsitzung] PRIMARY KEY CLUSTERED 
(
	[kAmazonabgleichLogsitzung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
