USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tFbaCartonDimension]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tFbaCartonDimension](
	[kFbaCartonDimension] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[fHeight] [decimal](25, 13) NOT NULL,
	[fWidth] [decimal](25, 13) NOT NULL,
	[fDepth] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_Amazon_tFbaCartonDimension] PRIMARY KEY CLUSTERED 
(
	[kFbaCartonDimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Amazon_tFbaCartonDimension_cName] UNIQUE NONCLUSTERED 
(
	[cName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
