USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaInboundProductSearch]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaInboundProductSearch]
AS
(
    SELECT
        tArtikel.kArtikel,
        tArtikel.cArtNr,
        tArtikel.kStueckliste,
        ISNULL(CASE WHEN tArtikel.kStueckliste > 0
                THEN CAST(1 AS BIT)
                ELSE CAST(0 AS BIT)
            END, CAST(0 AS BIT)) AS nIstStueckliste,
        tArtikelBeschreibung.cName,
        AnzahlArtikelspeicher.nCount, 
        ISNULL(tGebinde.fAnzahl, 1) AS fAnzahl,
        tArtikelSpeicher.cNummer
    FROM dbo.tArtikelSpeicher
    JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelSpeicher.kArtikel
    JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1 
    JOIN dbo.tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
        AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache
        AND tArtikelBeschreibung.kPlattform = 1
    OUTER APPLY
    (
        SELECT
            COUNT(DISTINCT kArtikel) AS nCount
        FROM dbo.tArtikelSpeicher AS SpeicherCount
        WHERE SpeicherCount.cNummer = tArtikelSpeicher.cNummer
    ) AS AnzahlArtikelspeicher
    LEFT JOIN dbo.tGebinde ON tGebinde.kArtikel = tArtikel.kArtikel
        AND (tGebinde.cEAN = tArtikelSpeicher.cNummer
            OR tGebinde.cUPC = tArtikelSpeicher.cNummer)
    WHERE tArtikel.cAktiv = 'Y'
        AND tArtikel.nIstVater = 0
)
GO
