USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaInboundStockPerWarehouse]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaInboundStockPerWarehouse]
AS
WITH Bestand AS
(
    SELECT
        tArtikel.kArtikel,
        ISNULL(vLagerbestandProLager.fBestand, 0) AS fLagerbestand,
        CASE WHEN tArtikel.kStueckliste > 0
            THEN 0
            ELSE ISNULL(vLagerbestandProLager.fBestand - ISNULL(MAX(PickPos.fAnzahl),0),0)
        END AS fLagerbestandVerfuegbar,
        tWarenLager.kWarenLager
    FROM dbo.tArtikel
    JOIN dbo.tWarenLager ON nAktiv > 0
    JOIN dbo.vLagerbestandProLager ON vLagerbestandProLager.kArtikel = tArtikel.kArtikel
        AND vLagerbestandProLager.kWarenlager = tWarenLager.kWarenLager
    LEFT JOIN
    (
        SELECT
            tPicklistePos.kArtikel,
            SUM(tPicklistePos.fAnzahl) AS fAnzahl
        FROM dbo.tPicklistePos
        WHERE tPicklistePos.nStatus < 40
        GROUP BY tPicklistePos.kArtikel
    ) AS PickPos ON PickPos.kArtikel = tArtikel.kArtikel
    GROUP BY tArtikel.kArtikel,
        tArtikel.kStueckliste,
        tWarenLager.kWarenLager,
        tWarenLager.nFulFillment,
        vLagerbestandProLager.fBestand
)
SELECT
    Bestand.kArtikel,
    Bestand.fLagerbestand,
    IIF(Bestand.fLagerbestandVerfuegbar < 0, 0, Bestand.fLagerbestandVerfuegbar) AS fLagerbestandVerfuegbar,
    Bestand.kWarenLager
FROM Bestand
GO
