USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tVcs]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tVcs](
	[kMessageId] [bigint] NOT NULL,
	[kUser] [int] NOT NULL,
	[MarketplaceID] [nvarchar](20) NULL,
	[MerchantID] [nvarchar](50) NULL,
	[OrderDate] [date] NULL,
	[TransactionType] [nvarchar](50) NULL,
	[OrderID] [nvarchar](30) NULL,
	[ShipmentDate] [date] NULL,
	[ShipmentID] [nvarchar](30) NULL,
	[TransactionID] [nvarchar](50) NULL,
	[ASIN] [nvarchar](30) NULL,
	[SKU] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[TaxCalculationDate] [date] NULL,
	[TaxRate] [decimal](25, 13) NULL,
	[ProductTaxCode] [nvarchar](30) NULL,
	[Currency] [nvarchar](10) NULL,
	[TaxType] [nvarchar](30) NULL,
	[TaxCalculationReasonCode] [nvarchar](30) NULL,
	[TaxAddressRole] [nvarchar](30) NULL,
	[JurisdictionLevel] [nvarchar](30) NULL,
	[JurisdictionName] [nvarchar](80) NULL,
	[OUR_PRICETaxInclusiveSellingPrice] [decimal](25, 13) NULL,
	[OUR_PRICETaxAmount] [decimal](25, 13) NULL,
	[OUR_PRICETaxExclusiveSellingPrice] [decimal](25, 13) NULL,
	[OUR_PRICETaxInclusivePromoAmount] [decimal](25, 13) NULL,
	[OUR_PRICETaxAmountPromo] [decimal](25, 13) NULL,
	[OUR_PRICETaxExclusivePromoAmount] [decimal](25, 13) NULL,
	[SHIPPINGTaxInclusiveSellingPrice] [decimal](25, 13) NULL,
	[SHIPPINGTaxAmount] [decimal](25, 13) NULL,
	[SHIPPINGTaxExclusiveSellingPrice] [decimal](25, 13) NULL,
	[SHIPPINGTaxInclusivePromoAmount] [decimal](25, 13) NULL,
	[SHIPPINGTaxAmountPromo] [decimal](25, 13) NULL,
	[SHIPPINGTaxExclusivePromoAmount] [decimal](25, 13) NULL,
	[GIFTWRAPTaxInclusiveSellingPrice] [decimal](25, 13) NULL,
	[GIFTWRAPTaxAmount] [decimal](25, 13) NULL,
	[GIFTWRAPTaxExclusiveSellingPrice] [decimal](25, 13) NULL,
	[GIFTWRAPTaxInclusivePromoAmount] [decimal](25, 13) NULL,
	[GIFTWRAPTaxAmountPromo] [decimal](25, 13) NULL,
	[GIFTWRAPTaxExclusivePromoAmount] [decimal](25, 13) NULL,
	[SellerTaxRegistration] [nvarchar](30) NULL,
	[SellerTaxRegistrationJurisdiction] [nvarchar](20) NULL,
	[BuyerTaxRegistration] [nvarchar](30) NULL,
	[BuyerTaxRegistrationJurisdiction] [nvarchar](20) NULL,
	[InvoiceLevelCurrencyCode] [nvarchar](20) NULL,
	[InvoiceLevelExchangeRate] [decimal](25, 13) NULL,
	[InvoiceLevelExchangeRateDate] [date] NULL,
	[ConvertedTaxAmount] [decimal](25, 13) NULL,
	[VATInvoiceNumber] [nvarchar](100) NULL,
	[InvoiceUrl] [nvarchar](500) NULL,
	[ShipFromCity] [nvarchar](300) NULL,
	[ShipFromState] [nvarchar](100) NULL,
	[ShipFromCountry] [nvarchar](10) NULL,
	[ShipFromPostalCode] [nvarchar](30) NULL,
	[ShipFromTaxLocationCode] [nvarchar](30) NULL,
	[ShipToCity] [nvarchar](300) NULL,
	[ShipToState] [nvarchar](100) NULL,
	[ShipToCountry] [nvarchar](10) NULL,
	[ShipToPostalCode] [nvarchar](30) NULL,
	[ShipToLocationCode] [nvarchar](30) NULL,
	[ReturnFcCountry] [nvarchar](10) NULL,
	[TaxReportingScheme] [nvarchar](30) NULL,
	[IsInvoiceCorrected] [bit] NOT NULL,
	[OriginalVATInvoiceNumber] [nvarchar](100) NULL,
	[InvoiceCorrectionDetails] [nvarchar](max) NULL,
	[SDIInvoiceDeliveryStatus] [nvarchar](100) NULL,
	[SDIInvoiceErrorCode] [nvarchar](30) NULL,
	[SDIInvoiceErrorDescription] [nvarchar](max) NULL,
	[SDIInvoiceStatusLastUpdatedDate] [date] NULL,
	[TaxCollectionResponsibility] [nvarchar](30) NULL,
	[BuyerTaxRegistrationType] [nvarchar](30) NULL,
	[BuyerEInvoiceAccountId] [nvarchar](30) NULL,
	[IsAmazonInvoiced] [bit] NOT NULL,
	[EInvoiceUrl] [nvarchar](500) NULL,
	[dErstelltUtc] [datetime2](0) NOT NULL,
	[dAktualisiertUtc] [datetime2](0) NOT NULL,
	[dStatusAktualisiertUtc] [datetime2](0) NULL,
	[dVerarbeitetUtc] [datetime2](0) NULL,
	[ExportOutsideEU] [bit] NOT NULL,
	[dFehlgeschlagenUtc] [datetime2](7) NULL,
	[nFehlgeschlagenSchweregrad] [tinyint] NOT NULL,
	[nFehlgeschlagenAnzahl] [int] NOT NULL,
	[nFehlercode] [int] NOT NULL,
	[cFehler] [nvarchar](4000) NULL,
 CONSTRAINT [PK_Amazon_tVcs] PRIMARY KEY CLUSTERED 
(
	[kMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tVcs] ADD  CONSTRAINT [DF_Amazon_tVcs_IsInvoiceCorrected]  DEFAULT ((0)) FOR [IsInvoiceCorrected]
GO
ALTER TABLE [Amazon].[tVcs] ADD  CONSTRAINT [DF_Amazon_tVcs_IsAmazonInvoiced]  DEFAULT ((1)) FOR [IsAmazonInvoiced]
GO
ALTER TABLE [Amazon].[tVcs] ADD  CONSTRAINT [DF_Amazon_tVcs_dErstelltUtc]  DEFAULT (getutcdate()) FOR [dErstelltUtc]
GO
ALTER TABLE [Amazon].[tVcs] ADD  CONSTRAINT [DF_Amazon_tVcs_dAktualisiertUtc]  DEFAULT (getutcdate()) FOR [dAktualisiertUtc]
GO
ALTER TABLE [Amazon].[tVcs] ADD  CONSTRAINT [DF_Amazon_tVcs_nFehlgeschlagenSchweregrad]  DEFAULT ((0)) FOR [nFehlgeschlagenSchweregrad]
GO
ALTER TABLE [Amazon].[tVcs] ADD  CONSTRAINT [DF_Amazon_tVcs_nFehlgeschlagenAnzahl]  DEFAULT ((0)) FOR [nFehlgeschlagenAnzahl]
GO
ALTER TABLE [Amazon].[tVcs] ADD  CONSTRAINT [DF_Amazon_tVcs_nFehlercode]  DEFAULT ((0)) FOR [nFehlercode]
GO
