USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvVcsLiteBuchungsPositionen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvVcsLiteBuchungsPositionen]
AS
(
    SELECT
        tVcsLite.kVcsLite,
        tVcsLite.kUser,
        tVcsLite.OrderID,
        tVcsLite.OrderItemID,
        tVcsLite.SKU,
        tVcsLite.ProductName,
        tVcsLite.ASIN,
        tVcsLite.QuantityPurchased,
        tVcsLite.ShippingID,
        tVcsLite.TransactionID,
        tVcsLite.TransactionType,
        tVcsLite.OrderDate,
        tVcsLite.ShippingDate,
        tVcsLite.Currency,
        ISNULL(tVcsLite.ItemVatInclAmount, 0) AS ItemVatInclAmount,
        ISNULL(tVcsLite.ItemVatAmount, 0) AS ItemVatAmount,
        ISNULL(tVcsLite.ItemVatExclAmount, 0) AS ItemVatExclAmount,
        ISNULL(tVcsLite.ItemVatRate, 0) AS ItemVatRate,
        ISNULL(tVcsLite.ItemPromoVatInclAmount, 0) AS ItemPromoVatInclAmount,
        ISNULL(tVcsLite.ItemPromoVatAmount, 0) AS ItemPromoVatAmount,
        ISNULL(tVcsLite.ItemPromoVatExclAmount, 0) AS ItemPromoVatExclAmount,
        ISNULL(tVcsLite.ItemPromoVatRate, 0) AS ItemPromoVatRate,
        ISNULL(tVcsLite.ShippingVatInclAmount, 0) AS ShippingVatInclAmount,
        ISNULL(tVcsLite.ShippingVatAmount, 0) AS ShippingVatAmount,
        ISNULL(tVcsLite.ShippingVatExclAmount, 0) AS ShippingVatExclAmount,
        ISNULL(tVcsLite.ShippingVatRate, 0) AS ShippingVatRate,
        ISNULL(tVcsLite.ShippingPromoVatInclAmount, 0) AS ShippingPromoVatInclAmount,
        ISNULL(tVcsLite.ShippingPromoVatAmount, 0) AS ShippingPromoVatAmount,
        ISNULL(tVcsLite.ShippingPromoVatExclAmount, 0) AS ShippingPromoVatExclAmount,
        ISNULL(tVcsLite.ShippingPromoVatRate, 0) AS ShippingPromoVatRate,
        ISNULL(tVcsLite.GiftWrapVatInclAmount, 0) AS GiftWrapVatInclAmount,
        ISNULL(tVcsLite.GiftWrapVatAmount, 0) AS GiftWrapVatAmount,
        ISNULL(tVcsLite.GiftWrapVatExclAmount, 0) AS GiftWrapVatExclAmount,
        ISNULL(tVcsLite.GiftWrapVatRate, 0) AS GiftWrapVatRate,
        ISNULL(tVcsLite.GiftPromoVatInclAmount, 0) AS GiftPromoVatInclAmount,
        ISNULL(tVcsLite.GiftPromoVatExclAmount, 0) AS GiftPromoVatExclAmount,
        ISNULL(tVcsLite.GiftPromoVatAmount, 0) AS GiftPromoVatAmount,
        ISNULL(tVcsLite.GiftPromoVatRate, 0) AS GiftPromoVatRate,
        tVcsLite.ItemPromotionID,
        tVcsLite.ShipPromotionID,
        tVcsLite.GiftPromotionID,
        tVcsLite.BuyerVatNumber,
        tVcsLite.SellerVatNumber,
        tVcsLite.IsBusinessOrder,
        tVcsLite.PriceDesignation,
        tVcsLite.MarketplaceID,
        tVcsLite.PurchaseOrderNumber,
        tVcsLite.RecipientName,
        tVcsLite.BuyerName,
        tVcsLite.BuyerCompanyName,
        tVcsLite.ShipServiceLevel,
        tVcsLite.ShipAddress1,
        tVcsLite.ShipAddress2,
        tVcsLite.ShipAddress3,
        tVcsLite.ShipCity,
        tVcsLite.ShipState,
        tVcsLite.ShipPostalCode,
        tVcsLite.ShipCountry,
        tVcsLite.ShipPhoneNumber,
        tVcsLite.BillingName,
        tVcsLite.BillAddress1,
        tVcsLite.BillAddress2,
        tVcsLite.BillAddress3,
        tVcsLite.BillCity,
        tVcsLite.BillState,
        tVcsLite.BillPostalCode,
        tVcsLite.BillCountry,
        tVcsLite.BillingPhoneNumber,
        tVcsLite.ShipFromCity,
        tVcsLite.ShipFromState,
        tVcsLite.ShipFromCountry,
        tVcsLite.ShipFromPostalCode,
        tVcsLite.FulfilledBy,
        tVcsLite.InvoiceNumber,
        tVcsLite.InvoiceStatus,
        tVcsLite.InvoiceStatusDescription,
        tVcsLite.LegacyCustomerOrderItemId,
        tVcsLite.RecommendedInvoiceFormat,
        tVcsLite.IsInvoiceCorrected,
        tVcsLite.OriginalVatInvoiceNumber,
        tVcsLite.InvoiceCorrectionDetails,
        tVcsLite.BuyerTaxRegistrationType,
        tVcsLite.BuyerEInvoiceAccountId,
        tVcsLite.IsBuyerPhysicallyPresent,
        tVcsLite.IsSellerPhysicallyPresent,
        tVcsLite.CitationEs,
        tVcsLite.CitationIt,
        tVcsLite.CitationFr,
        tVcsLite.CitationDe,
        tVcsLite.CitationEn,
        tVcsLite.ExportOutsideEu,
        tVcsLite.IsAmazonInvoiced,
        tVcsLite.dErstelltUtc,
        tVcsLite.dAktualisiertUtc,
        tVcsLite.dStatusAktualisiertUtc,
        tVcsLite.dVerarbeitetUtc,
        tVcsLite.dFehlgeschlagenUtc,
        tVcsLite.nFehlgeschlagenSchweregrad,
        tVcsLite.nFehlgeschlagenAnzahl,
        tVcsLite.nFehlercode,
        tVcsLite.cFehler,
        CASE WHEN tVcsLite.InvoiceStatus = 'InvoiceCreatedByAmazon' THEN tVcsLite.InvoiceNumber
            ELSE tVcsLite.TransactionID
        END AS cIdentifier,
		CASE WHEN tVcsLite.InvoiceStatus = 'InvoiceCreatedByAmazon' THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS nIsIdentifierInvoiceNumber,
		tExternerBeleg.cBelegnr,
        tExternerBeleg.kExternerBeleg,
		CASE WHEN tVcsLite.InvoiceStatus = 'NoTaxCalculated' 
			AND tVcsLite.dVerarbeitetUtc IS NULL
			AND tTransaktionType.nIstRechnung IS NOT NULL
			THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) 
		END AS nManuellVerarbeiten,
		CASE WHEN (tTransaktionType.nIstRechnung = 1 OR tTransaktionType.nIstGutschrift = 1) AND tVcsLite.nFehlercode IN (50002)  --kAmazonBestellungPos nicht gefunden
			AND tVcsLite.dVerarbeitetUtc IS NULL			
			THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) 
		END AS nIgnoriereFehlerVerarbeiteManuell,
		CASE WHEN tTransaktionType.nIstRechnung = 1 THEN 1
			WHEN tTransaktionType.nIstGutschrift = 1 THEN 2
			WHEN tTransaktionType.nIstVernichtungsbeleg = 3 THEN 3
			ELSE 0
		END nBuchungsdatenDocumenttyp
    FROM Amazon.tVcsLite
	LEFT JOIN Amazon.tTransaktionType ON tTransaktionType.cTransactionType = tVcsLite.TransactionType
    OUTER APPLY
	(
		SELECT TOP(1) tExternerBeleg.cBelegnr, tExternerBeleg.kExternerBeleg
		FROM Rechnung.tExternerBelegPosition 
		LEFT JOIN Rechnung.tExternerBelegTransaktion ON tExternerBelegTransaktion.kExternerBelegTransaktion = tExternerBelegPosition.kExternerBelegTransaktion
		LEFT JOIN Rechnung.tExternerBeleg ON tExternerBeleg.kExternerBeleg = tExternerBelegTransaktion.kExternerBeleg
		LEFT JOIN dbo.tPlattform ON tPlattform.nPlattform = tExternerBeleg.kPlattform
			AND tExternerBeleg.cHerkunft IN ('VCS-Lite', 'VCS-Lite IDU')
		WHERE tExternerBelegPosition.kExterneId = tVcsLite.kVcsLite
			AND tPlattform.nTyp = 6
	) AS tExternerBeleg
);
GO
