USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvVCSSelfInvoiceLogeintrag]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvVCSSelfInvoiceLogeintrag]
AS
SELECT  
	tVCSSelfInvoiceLogeintrag.kVCSSelfInvoiceLogeintrag, 
	tVCSSelfInvoiceLogeintrag.kAmazonabgleichLogsitzung, 
	tVCSSelfInvoiceLogeintrag.dZeitpunkt, 
	tVCSSelfInvoiceLogeintrag.nSchweregrad, 
	tVCSSelfInvoiceLogeintrag.cMeldung, 
	tVCSSelfInvoiceLogeintrag.kUser, 
	tVCSSelfInvoiceLogeintrag.nVorgang
FROM Amazon.tVCSSelfInvoiceLogeintrag
GO
