USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tAmazonRegion]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tAmazonRegion](
	[kRegion] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](50) NOT NULL,
	[cKurzname] [nvarchar](2) NULL,
 CONSTRAINT [PK_Amazon_tAmazonRegion] PRIMARY KEY CLUSTERED 
(
	[kRegion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
