USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tSFPVersand]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tSFPVersand](
	[kSFPVersand] [int] IDENTITY(1,1) NOT NULL,
	[kVersandArt] [int] NOT NULL,
	[cShippingOption] [nvarchar](50) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fWarnIfLabelCostExceeds] [decimal](25, 13) NOT NULL,
	[nPrintErrorLabel] [bit] NOT NULL,
	[nPrintErrorLabels] [bit] NOT NULL,
	[nCustomAdresseVerwenden] [bit] NOT NULL,
	[cFirma] [nvarchar](30) NULL,
	[cStrasse] [nvarchar](180) NULL,
	[cPLZ] [nvarchar](30) NULL,
	[cOrt] [nvarchar](30) NULL,
	[cLandIso] [nvarchar](2) NULL,
	[cTel] [nvarchar](30) NULL,
	[cMail] [nvarchar](255) NULL,
 CONSTRAINT [PK_Amazon_tSFPVersand] PRIMARY KEY CLUSTERED 
(
	[kSFPVersand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tSFPVersand] ADD  DEFAULT ((10)) FOR [fWarnIfLabelCostExceeds]
GO
ALTER TABLE [Amazon].[tSFPVersand] ADD  CONSTRAINT [DF_Amazon_tSFPVersand_nPrintErrorLabel]  DEFAULT ((0)) FOR [nPrintErrorLabel]
GO
ALTER TABLE [Amazon].[tSFPVersand] ADD  CONSTRAINT [DF_Amazon_tSFPVersand_nPrintErrorLabels]  DEFAULT ((0)) FOR [nPrintErrorLabels]
GO
ALTER TABLE [Amazon].[tSFPVersand] ADD  CONSTRAINT [DF_Amazon_tSFPVersand_nCustomAdresseVerwenden]  DEFAULT ((0)) FOR [nCustomAdresseVerwenden]
GO
ALTER TABLE [Amazon].[tSFPVersand]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tSFPVersand_kVersandArt] FOREIGN KEY([kVersandArt])
REFERENCES [dbo].[tversandart] ([kVersandArt])
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tSFPVersand] CHECK CONSTRAINT [FK_Amazon_tSFPVersand_kVersandArt]
GO
