USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tBerichtDownloadQueue]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tBerichtDownloadQueue](
	[kBerichtDownloadQueue] [int] IDENTITY(1,1) NOT NULL,
	[kBerichtsanfrage] [int] NOT NULL,
	[cDocumentId] [nvarchar](max) NOT NULL,
	[dErstelltUtc] [datetime2](7) NOT NULL,
	[nCount] [int] NOT NULL,
 CONSTRAINT [PK_Amazon_tBerichtDownloadQueue] PRIMARY KEY CLUSTERED 
(
	[kBerichtDownloadQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tBerichtDownloadQueue] ADD  CONSTRAINT [DF_Amazon_tBerichtDownloadQueue_nCount]  DEFAULT ((0)) FOR [nCount]
GO
ALTER TABLE [Amazon].[tBerichtDownloadQueue]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tBerichtDownloadQueue_kBerichtsanfrage] FOREIGN KEY([kBerichtsanfrage])
REFERENCES [Amazon].[tBerichtsanfrage] ([kBerichtsanfrage])
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tBerichtDownloadQueue] CHECK CONSTRAINT [FK_Amazon_tBerichtDownloadQueue_kBerichtsanfrage]
GO
