USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vBuchhaltungsuebersichtExternerBelegPosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vBuchhaltungsuebersichtExternerBelegPosition]
AS
(
    SELECT
        tExternerBelegPosition.kExternerBelegPosition,
        tExternerBelegPosition.kExternerBelegTransaktion,
        tExternerBelegPosition.cArtNr,
        tExternerBelegPosition.cText,
        tExternerBelegPosition.fAnzahl,
        tExternerBelegPosition.fVkBrutto,
        tExternerBelegPosition.fVkNetto,
        tExternerBelegPosition.fMwStSatz,
        tExternerBelegPosition.fRabattBrutto,
        tExternerBelegPosition.fRabattNetto
    FROM Rechnung.tExternerBelegPosition
)
GO
