USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tAbgleichEventQueue]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tAbgleichEventQueue](
	[kAbgleichEventQueue] [int] IDENTITY(1,1) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[cMarketplaceId] [nvarchar](50) NULL,
 CONSTRAINT [PK_Amazon_tAbgleichEventQueue] PRIMARY KEY CLUSTERED 
(
	[kAbgleichEventQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Amazon_tAbgleichEventQueue_nType_cMarketplaceId] UNIQUE NONCLUSTERED 
(
	[nType] ASC,
	[cMarketplaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
