USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvVcsBuchungsPositionen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvVcsBuchungsPositionen]
AS
(
	SELECT
		tVcs.kMessageId,
		tVcs.kUser,
		tVcs.MarketplaceID,
		tVcs.MerchantID,
		tVcs.OrderDate,
		tVcs.TransactionType,
		tVcs.OrderID,
		tVcs.ShipmentDate,
		tVcs.ShipmentID,
		tVcs.TransactionID,
		tVcs.ASIN,
		tVcs.SKU,
		ISNULL(tVcs.Quantity, 0) AS Quantity,
		tVcs.TaxCalculationDate,
		ISNULL(tVcs.TaxRate, 0) AS TaxRate,
		tVcs.ProductTaxCode,
		tVcs.Currency,
		tVcs.TaxType,
		tVcs.TaxCalculationReasonCode,
		tVcs.TaxAddressRole,
		tVcs.JurisdictionLevel,
		tVcs.JurisdictionName,
		ISNULL(tVcs.OUR_PRICETaxInclusiveSellingPrice, 0) AS OURPRICETaxInclusiveSellingPrice,
		ISNULL(tVcs.OUR_PRICETaxAmount, 0) AS OURPRICETaxAmount,
		ISNULL(tVcs.OUR_PRICETaxExclusiveSellingPrice, 0) AS OURPRICETaxExclusiveSellingPrice,
		ISNULL(tVcs.OUR_PRICETaxInclusivePromoAmount, 0) AS OURPRICETaxInclusivePromoAmount,
		ISNULL(tVcs.OUR_PRICETaxAmountPromo, 0) AS OURPRICETaxAmountPromo,
		ISNULL(tVcs.OUR_PRICETaxExclusivePromoAmount, 0) AS OURPRICETaxExclusivePromoAmount,
		ISNULL(tVcs.SHIPPINGTaxInclusiveSellingPrice, 0) AS SHIPPINGTaxInclusiveSellingPrice,
		ISNULL(tVcs.SHIPPINGTaxAmount, 0) AS SHIPPINGTaxAmount,
		ISNULL(tVcs.SHIPPINGTaxExclusiveSellingPrice, 0) AS SHIPPINGTaxExclusiveSellingPrice,
		ISNULL(tVcs.SHIPPINGTaxInclusivePromoAmount, 0) AS SHIPPINGTaxInclusivePromoAmount,
		ISNULL(tVcs.SHIPPINGTaxAmountPromo, 0) AS SHIPPINGTaxAmountPromo,
		ISNULL(tVcs.SHIPPINGTaxExclusivePromoAmount, 0) AS SHIPPINGTaxExclusivePromoAmount,
		ISNULL(tVcs.GIFTWRAPTaxInclusiveSellingPrice, 0) AS GIFTWRAPTaxInclusiveSellingPrice,
		ISNULL(tVcs.GIFTWRAPTaxAmount, 0) AS GIFTWRAPTaxAmount,
		ISNULL(tVcs.GIFTWRAPTaxExclusiveSellingPrice, 0) AS GIFTWRAPTaxExclusiveSellingPrice,
		ISNULL(tVcs.GIFTWRAPTaxInclusivePromoAmount, 0) AS GIFTWRAPTaxInclusivePromoAmount,
		ISNULL(tVcs.GIFTWRAPTaxAmountPromo, 0) AS GIFTWRAPTaxAmountPromo,
		ISNULL(tVcs.GIFTWRAPTaxExclusivePromoAmount, 0) AS GIFTWRAPTaxExclusivePromoAmount,
		tVcs.SellerTaxRegistration,
		tVcs.SellerTaxRegistrationJurisdiction,
		tVcs.BuyerTaxRegistration,
		tVcs.BuyerTaxRegistrationJurisdiction,
		tVcs.InvoiceLevelCurrencyCode,
		ISNULL(tVcs.InvoiceLevelExchangeRate, 0) AS InvoiceLevelExchangeRate,
		tVcs.InvoiceLevelExchangeRateDate,
		ISNULL(tVcs.ConvertedTaxAmount, 0) AS ConvertedTaxAmount,
		tVcs.VATInvoiceNumber,
		tVcs.InvoiceUrl,
		tVcs.ExportOutsideEU,
		tVcs.ShipFromCity,
		tVcs.ShipFromState,
		tVcs.ShipFromCountry,
		tVcs.ShipFromPostalCode,
		tVcs.ShipFromTaxLocationCode,
		tVcs.ShipToCity,
		tVcs.ShipToState,
		tVcs.ShipToCountry,
		tVcs.ShipToPostalCode,
		tVcs.ShipToLocationCode,
		tVcs.ReturnFcCountry,
		tVcs.TaxReportingScheme,
		tVcs.IsInvoiceCorrected,
		tVcs.OriginalVATInvoiceNumber,
		tVcs.InvoiceCorrectionDetails,
		tVcs.SDIInvoiceDeliveryStatus,
		tVcs.SDIInvoiceErrorCode,
		tVcs.SDIInvoiceErrorDescription,
		tVcs.SDIInvoiceStatusLastUpdatedDate,
		tVcs.TaxCollectionResponsibility,
		tVcs.BuyerTaxRegistrationType,
		tVcs.BuyerEInvoiceAccountId,
		tVcs.IsAmazonInvoiced,
		tVcs.EInvoiceUrl,
		tVcs.dErstelltUtc,
		tVcs.dAktualisiertUtc,
		tVcs.dStatusAktualisiertUtc,
		tVcs.dVerarbeitetUtc,
		tVcs.dFehlgeschlagenUtc,
        tVcs.nFehlgeschlagenSchweregrad,
        tVcs.nFehlgeschlagenAnzahl,
        tVcs.nFehlercode,
        tVcs.cFehler,		
		tVcs.OUR_PRICETaxInclusiveSellingPrice + tVcs.OUR_PRICETaxInclusivePromoAmount AS fTaxInclusivePrice, --Verkaufspreis brutto
		tVcs.OUR_PRICETaxExclusiveSellingPrice + tVcs.OUR_PRICETaxExclusivePromoAmount AS fTaxExclusivePrice, --Verkaufspreis netto
		tVcs.SHIPPINGTaxInclusiveSellingPrice + tVcs.SHIPPINGTaxInclusivePromoAmount AS fShippingTaxInclusivePrice, --Versand brutto
		tVcs.SHIPPINGTaxExclusiveSellingPrice + tVcs.SHIPPINGTaxExclusivePromoAmount AS fShippingTaxExclusivePrice, --Versand netto
		tVcs.GIFTWRAPTaxInclusiveSellingPrice + tVcs.GIFTWRAPTaxInclusivePromoAmount AS fGiftwrapTaxInclusivePrice, --Verpackung brutto
		tVcs.GIFTWRAPTaxExclusiveSellingPrice + tVcs.GIFTWRAPTaxExclusivePromoAmount AS fGiftwrapTaxExclusivePrice, --Verpackung netto		
		CASE WHEN tVcs.IsAmazonInvoiced = 1 AND tvcs.VATInvoiceNumber NOT LIKE 'N/A%' THEN tVcs.VATInvoiceNumber 
			ELSE CONCAT(tVcs.OrderID, '_', tVcs.TransactionID) 
		END AS cIdentifier,
		CASE WHEN tVcs.IsAmazonInvoiced = 1 AND tvcs.VATInvoiceNumber NOT LIKE 'N/A%' THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS nIsIdentifierInvoiceNumber,
		tExternerBeleg.cBelegnr,
        tExternerBeleg.kExternerBeleg,        
        CASE WHEN tVcs.VATInvoiceNumber LIKE 'N/A%' 
			AND tVcs.dVerarbeitetUtc IS NULL
			AND tTransaktionType.nIstRechnung IS NOT NULL
			THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) 
		END AS nManuellVerarbeiten,
		CASE WHEN (tTransaktionType.nIstRechnung = 1 OR tTransaktionType.nIstGutschrift = 1) AND tVcs.nFehlercode IN (50002)  --kAmazonBestellungPos nicht gefunden
			AND tVcs.dVerarbeitetUtc IS NULL			
			THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) 
		END AS nIgnoriereFehlerVerarbeiteManuell,
		CASE WHEN tVcs.dVerarbeitetUtc IS NULL AND 
			(tVcs.dFehlgeschlagenUtc IS NULL OR (tVcs.nFehlgeschlagenSchweregrad < 2 AND tVcs.nFehlgeschlagenAnzahl < 3)) 
			THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS nWarteAufVerarbeitung,
		CASE WHEN tVcs.dFehlgeschlagenUtc IS NOT NULL AND tVcs.nFehlgeschlagenSchweregrad > 0 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS nFehlerhaft,
		CASE WHEN tTransaktionType.nIstRechnung = 1 THEN 1
			WHEN tTransaktionType.nIstGutschrift = 1 THEN 2
			WHEN tTransaktionType.nIstVernichtungsbeleg = 3 THEN 3
			ELSE 0
		END nBuchungsdatenDocumenttyp
	FROM Amazon.tVcs
	LEFT JOIN Amazon.tTransaktionType ON tTransaktionType.cTransactionType = tVcs.TransactionType
	OUTER APPLY
	(
		SELECT TOP(1) tExternerBeleg.cBelegnr, tExternerBeleg.kExternerBeleg
		FROM Rechnung.tExternerBelegPosition 
		LEFT JOIN Rechnung.tExternerBelegTransaktion ON tExternerBelegTransaktion.kExternerBelegTransaktion = tExternerBelegPosition.kExternerBelegTransaktion
		LEFT JOIN Rechnung.tExternerBeleg ON tExternerBeleg.kExternerBeleg = tExternerBelegTransaktion.kExternerBeleg
		LEFT JOIN dbo.tPlattform ON tPlattform.nPlattform = tExternerBeleg.kPlattform
			AND tExternerBeleg.cHerkunft IN ('VCS', 'VCS-IDU')
		WHERE tExternerBelegPosition.kExterneId = tVcs.kMessageId
			AND tPlattform.nTyp = 6
	) AS tExternerBeleg
);
GO
