USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonFulfillmentAuftraege]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonFulfillmentAuftraege]
AS
(
    SELECT 
	
		tfulfillmentauftrag.kfulfillmentauftrag AS kFulfillmentAuftrag, 
		tfulfillmentauftrag.klieferschein AS kLieferschein, 
		tfulfillmentauftrag.kkunde AS kKunde, 
		tfulfillmentauftrag.klieferadresse AS kLieferadresse, 
		tfulfillmentauftrag.kwarenlager AS kWarenlager, 
		tfulfillmentauftrag.kbenutzer AS kBenutzer, 
		tfulfillmentauftrag.ksprache AS kSprache, 
		tfulfillmentauftrag.derstellt AS dErstelltAm, 
		tfulfillmentauftrag.nfulfillmentdienstleister AS nFulfillmentDienstleister, 
		tfulfillmentauftrag.nstatus AS nStatus, 
		tfulfillmentauftrag.clieferscheinnummer AS cLieferscheinnummer, 
		tfulfillmentauftrag.clieferadressebundesland AS cLieferadresseBundesland, 
		tfulfillmentauftrag.clieferadressekundennummer AS cLieferadresseKundennummer, 
		tfulfillmentauftrag.clieferadressefirma AS cLieferadresseFirma, 
		tfulfillmentauftrag.clieferadressevorname AS cLieferadresseVorname, 
		tfulfillmentauftrag.clieferadressename AS cLieferadresseName, 
		tfulfillmentauftrag.clieferadressestrasse AS cLieferadresseStrasse, 
		tfulfillmentauftrag.clieferadresseplz AS cLieferadressePLZ, 
		tfulfillmentauftrag.clieferadresseort AS cLieferadresseOrt, 
		tfulfillmentauftrag.clieferadresseland AS cLieferadresseLand, 
		tfulfillmentauftrag.cfehlermeldung AS cFehlermeldung, 
		tfulfillmentauftrag.dinbearbeitung AS dInBearbeitung, 
		tfulfillmentauftrag.cbestellnummer AS cBestellnummer, 
		tfulfillmentauftrag.clieferadressetel AS cLieferadresseTel, 
		tfulfillmentauftrag.clieferadressefax AS cLieferadresseFax, 
		tfulfillmentauftrag.clieferadresseemail AS cLieferadresseEmail, 
		tfulfillmentauftrag.kuser AS kUser, 
		pf_user.cName AS cPfUsername,
		tfulfillmentauftrag.ckommentar AS cKommentar, 
		tfulfillmentauftrag.clieferprioritaet AS cLieferprioritaet,
		tWarenLager.nFulfillment AS nWarenlagerFulfillment
	FROM tfulfillmentauftrag
	JOIN
	(
		SELECT DISTINCT dbo.tFulfillmentAuftragPos.kFulfillmentAuftrag 
		FROM dbo.tFulfillmentAuftragPos
	) AS PosTemp ON PosTemp.kFulfillmentAuftrag = dbo.tFulfillmentAuftrag.kFulfillmentAuftrag
	JOIN dbo.pf_user AS pf_user ON dbo.tFulfillmentAuftrag.kUser = pf_user.kUser AND pf_user.nAktiv = 1
	JOIN dbo.tWarenLager ON dbo.tWarenLager.kWarenLager = dbo.tFulfillmentAuftrag.kWarenlager
	WHERE (tfulfillmentauftrag.nfulfillmentdienstleister = 1) 
)
GO
