USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonBestellungPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonBestellungPos]
AS
(
    SELECT 
		pf_amazon_bestellungpos.cname AS cName, 
		pf_amazon_bestellungpos.cartnr AS cArtNr, 
		pf_amazon_bestellungpos.nquantitypurchased AS nQuantityPurchased, 
		Round(pf_amazon_bestellungpos.fitemprice / 
			CASE
				WHEN pf_amazon_bestellungpos.nquantitypurchased = 0 THEN 1 
				ELSE pf_amazon_bestellungpos.nquantitypurchased 
			END, 2) AS fItemPrice, 
		CASE 
			WHEN pf_amazon_bestellungpos.cfulfillmentchannel = 'AFN' THEN 3
			WHEN ISNULL(AmazonBestellVersand.nQuantity, 0) >= pf_amazon_bestellungpos.nquantitypurchased THEN 2
			WHEN ISNULL(AmazonBestellVersand.nQuantity, 0) > 0 THEN 1
			ELSE 0 END AS nVersandStatus,
		pf_amazon_bestellungpos.ccarrier AS cCarrier, 
		pf_amazon_bestellungpos.ctrackingnumber AS cTrackingNumber, 
		pf_amazon_bestellungpos.destimatedarrivaldate AS dEstimatedArrivalDate, 
		pf_amazon_bestellungpos.cfulfillmentcenterid AS cFulfillmentCenterId, 
		pf_amazon_bestellungpos.cfulfillmentchannel AS cFulfillmentChannel, 
		pf_amazon_bestellungpos.nerrorcode AS nErrorCode, 
		pf_amazon_bestellungpos.cerrormessage AS cErrorMessage, 
		pf_amazon_bestellungpos.fgeschenkverpackungkosten AS fGeschenkVerpackungskosten, 
		pf_amazon_bestellungpos.cgeschenkverpackungtyp AS cGeschenkVerpackungstyp, 
		pf_amazon_bestellungpos.cgrusstext AS cGrusstext, 
		pf_amazon_bestellungpos.kamazonbestellungpos AS kAmazonBestellungPos, 
		pf_amazon_bestellungpos.kamazonbestellung AS kAmazonBestellung,
		CASE 
			WHEN pf_amazon_bestellungpos.nerrorcode > 0 THEN 50 
			WHEN ISNULL(AmazonBestellVersand.nQuantity, 0) >= pf_amazon_bestellungpos.nquantitypurchased THEN 1 
			ELSE -1 
		END AS VersandNachrichtCode,
		pf_amazon_bestellungpos.cCustomUrl AS cCustomUrl
	FROM pf_amazon_bestellungpos 
	LEFT JOIN (
		SELECT
			pf_amazon_bestellung_versand.kAmazonBestellungPos,
			SUM(ISNULL(pf_amazon_bestellung_versand.nquantity, 0)) AS nQuantity
		FROM	
			dbo.pf_amazon_bestellung_versand AS pf_amazon_bestellung_versand
		GROUP BY
			pf_amazon_bestellung_versand.kAmazonBestellungPos
	) AS AmazonBestellVersand ON AmazonBestellVersand.kAmazonBestellungpos = dbo.pf_amazon_bestellungpos.kAmazonBestellungPos 
)
GO
