USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vRetourenposition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vRetourenposition] AS
(
	SELECT
		Auftrag.kBestellPos AS kBestellPos,
		Auftrag.cArtNr AS cArtNr,
		Auftrag.nAnzahl AS nAnzahl,
		pf_amazon_retourpos.nMenge,
		AmazonRetourePos.nMaxRetoureMenge,
		0 AS nRetourMenge,
		0 AS nOffeneMenge,
		pf_amazon_retourpos.fAmountPerItem,
		pf_amazon_retourpos.cOrderId,
		pf_amazon_retourpos.cSellerSKU,
		Auftrag.nMengeGutgeschrieben AS nMengeGutgeschrieben,
		Auftrag.kBestellung AS kBestellung,
		ISNULL(Auftrag.tArtikel_kArtikel, 0) AS kArtikel,
		Auftrag.fMwSt AS fMwSt,
		Auftrag.nPlatform
	FROM dbo.pf_amazon_retourpos
	JOIN dbo.pf_amazon_angebot_mapping ON pf_amazon_angebot_mapping.cSellerSKU = pf_amazon_retourpos.cSellerSKU
	JOIN dbo.pf_amazon_bestellung ON pf_amazon_bestellung.kAmazonBestellung = pf_amazon_retourpos.kAmazonBestellung
	JOIN dbo.pf_amazon_bestellungpos ON pf_amazon_bestellungpos.kAmazonBestellung = pf_amazon_retourpos.kAmazonBestellung
	JOIN
	(
		SELECT
			tAuftragPosition.kAuftragPosition AS kBestellPos,
			tAuftragPosition.cArtNr AS cArtNr,
			tAuftragPosition.fAnzahl AS nAnzahl,
			tAuftragPosition.kArtikel AS tArtikel_kArtikel,
			tAuftragPosition.kAuftrag AS kBestellung,
			tAuftragPosition.fMwSt AS fMwSt,
			tAuftrag.kPlattform AS nPlatform,
			tAuftragPosition.kAmazonBestellungPos,
			tAuftragPositionEckdaten.fAnzahlGutgeschrieben AS nMengeGutgeschrieben
		FROM Verkauf.tAuftragPosition
		JOIN Verkauf.tAuftragPositionEckdaten ON tAuftragPositionEckdaten.kAuftragPosition = tAuftragPosition.kAuftragPosition
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragPosition.kAuftrag
		WHERE ISNULL(tAuftrag.cExterneAuftragsnummer, '') <> ''
	) AS Auftrag ON Auftrag.kAmazonBestellungPos = pf_amazon_bestellungpos.kAmazonBestellungPos
		AND pf_amazon_angebot_mapping.kArtikel = Auftrag.tArtikel_kArtikel
	JOIN dbo.tPlattform ON tPlattform.nPlattform = Auftrag.nPlatform
		AND tPlattform.nTyp = 6
	OUTER APPLY
	(
		SELECT SUM(AmazonRetourePos.[nMenge]) AS nMaxRetoureMenge
		FROM dbo.pf_amazon_retourpos AS AmazonRetourePos
		WHERE AmazonRetourePos.cOrderId = pf_amazon_retourpos.cOrderId
	) AS AmazonRetourePos
)
GO
