USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvListerOffer]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvListerOffer] AS
(
	SELECT 
		CAST(lvAngebote.kOffer AS INT) AS kId,
		CAST(lvAngebote.nStatus AS INT) AS nAngebotstatus,
		CAST(ISNULL(lvAngebote.nType, 0) AS INT) AS nOfferType,
		lvAngebote.* 
	FROM SCX.lvAngebote
	JOIN SCX.tChannel ON tChannel.kChannel = lvAngebote.kChannel
	WHERE tChannel.cChannel LIKE 'AMAZON%JTL'
)
GO
