USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[WarenlagerMarktplatzMapping]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[WarenlagerMarktplatzMapping](
	[kWarenlager] [int] NULL,
	[cMarketplaceID] [nvarchar](50) NULL,
	[cRegion] [nvarchar](4) NULL,
	[nGeteilterBestand] [bit] NOT NULL,
 CONSTRAINT [UQ_Amazon_WarenlagerMarktplatzMapping_kWarenlager_cMarketplaceID] UNIQUE NONCLUSTERED 
(
	[kWarenlager] ASC,
	[cMarketplaceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[WarenlagerMarktplatzMapping] ADD  CONSTRAINT [DF_Amazon_WarenlagerMarktplatzMapping_nGeteilterBestand]  DEFAULT ((0)) FOR [nGeteilterBestand]
GO
