USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvListerOfferError]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvListerOfferError] AS
(
	SELECT * 
	FROM SCX.lvAngebotFehler
)
GO
