USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tVcsLiteHistory]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tVcsLiteHistory](
	[kVcsLite] [int] NOT NULL,
	[kUser] [int] NOT NULL,
	[OrderID] [nvarchar](50) NOT NULL,
	[OrderItemID] [nvarchar](50) NULL,
	[SKU] [nvarchar](100) NULL,
	[ProductName] [nvarchar](510) NULL,
	[ASIN] [nvarchar](10) NULL,
	[QuantityPurchased] [decimal](25, 13) NULL,
	[ShippingID] [nvarchar](50) NULL,
	[TransactionID] [nvarchar](50) NULL,
	[TransactionType] [nvarchar](10) NULL,
	[OrderDate] [datetime2](0) NULL,
	[ShippingDate] [datetime2](0) NULL,
	[Currency] [nvarchar](10) NULL,
	[ItemVatInclAmount] [decimal](25, 13) NULL,
	[ItemVatAmount] [decimal](25, 13) NULL,
	[ItemVatExclAmount] [decimal](25, 13) NULL,
	[ItemVatRate] [decimal](25, 13) NULL,
	[ItemPromoVatInclAmount] [decimal](25, 13) NULL,
	[ItemPromoVatAmount] [decimal](25, 13) NULL,
	[ItemPromoVatExclAmount] [decimal](25, 13) NULL,
	[ItemPromoVatRate] [decimal](25, 13) NULL,
	[ShippingVatInclAmount] [decimal](25, 13) NULL,
	[ShippingVatAmount] [decimal](25, 13) NULL,
	[ShippingVatExclAmount] [decimal](25, 13) NULL,
	[ShippingVatRate] [decimal](25, 13) NULL,
	[ShippingPromoVatInclAmount] [decimal](25, 13) NULL,
	[ShippingPromoVatAmount] [decimal](25, 13) NULL,
	[ShippingPromoVatExclAmount] [decimal](25, 13) NULL,
	[ShippingPromoVatRate] [decimal](25, 13) NULL,
	[GiftWrapVatInclAmount] [decimal](25, 13) NULL,
	[GiftWrapVatAmount] [decimal](25, 13) NULL,
	[GiftWrapVatExclAmount] [decimal](25, 13) NULL,
	[GiftWrapVatRate] [decimal](25, 13) NULL,
	[GiftPromoVatInclAmount] [decimal](25, 13) NULL,
	[GiftPromoVatExclAmount] [decimal](25, 13) NULL,
	[GiftPromoVatAmount] [decimal](25, 13) NULL,
	[GiftPromoVatRate] [decimal](25, 13) NULL,
	[ItemPromotionID] [nvarchar](50) NULL,
	[ShipPromotionID] [nvarchar](50) NULL,
	[GiftPromotionID] [nvarchar](50) NULL,
	[BuyerVatNumber] [nvarchar](30) NULL,
	[SellerVatNumber] [nvarchar](30) NULL,
	[IsBusinessOrder] [nvarchar](5) NULL,
	[PriceDesignation] [nvarchar](128) NULL,
	[MarketplaceID] [nvarchar](20) NULL,
	[PurchaseOrderNumber] [nvarchar](255) NULL,
	[RecipientName] [nvarchar](255) NULL,
	[BuyerName] [nvarchar](255) NULL,
	[BuyerCompanyName] [nvarchar](255) NULL,
	[ShipServiceLevel] [nvarchar](30) NULL,
	[ShipAddress1] [nvarchar](255) NULL,
	[ShipAddress2] [nvarchar](255) NULL,
	[ShipAddress3] [nvarchar](255) NULL,
	[ShipCity] [nvarchar](100) NULL,
	[ShipState] [nvarchar](100) NULL,
	[ShipPostalCode] [nvarchar](20) NULL,
	[ShipCountry] [nvarchar](5) NULL,
	[ShipPhoneNumber] [nvarchar](100) NULL,
	[BillingName] [nvarchar](255) NULL,
	[BillAddress1] [nvarchar](255) NULL,
	[BillAddress2] [nvarchar](255) NULL,
	[BillAddress3] [nvarchar](255) NULL,
	[BillCity] [nvarchar](100) NULL,
	[BillState] [nvarchar](100) NULL,
	[BillPostalCode] [nvarchar](20) NULL,
	[BillCountry] [nvarchar](5) NULL,
	[BillingPhoneNumber] [nvarchar](100) NULL,
	[ShipFromCity] [nvarchar](100) NULL,
	[ShipFromState] [nvarchar](100) NULL,
	[ShipFromCountry] [nvarchar](5) NULL,
	[ShipFromPostalCode] [nvarchar](20) NULL,
	[FulfilledBy] [nvarchar](30) NULL,
	[InvoiceNumber] [nvarchar](100) NULL,
	[InvoiceStatus] [nvarchar](100) NULL,
	[InvoiceStatusDescription] [nvarchar](255) NULL,
	[LegacyCustomerOrderItemId] [nvarchar](255) NULL,
	[RecommendedInvoiceFormat] [nvarchar](50) NULL,
	[IsInvoiceCorrected] [bit] NOT NULL,
	[OriginalVatInvoiceNumber] [nvarchar](100) NULL,
	[InvoiceCorrectionDetails] [nvarchar](max) NULL,
	[BuyerTaxRegistrationType] [nvarchar](30) NULL,
	[BuyerEInvoiceAccountId] [nvarchar](30) NULL,
	[IsBuyerPhysicallyPresent] [bit] NOT NULL,
	[IsSellerPhysicallyPresent] [bit] NOT NULL,
	[CitationEs] [nvarchar](max) NULL,
	[CitationIt] [nvarchar](max) NULL,
	[CitationFr] [nvarchar](max) NULL,
	[CitationDe] [nvarchar](max) NULL,
	[CitationEn] [nvarchar](max) NULL,
	[ExportOutsideEu] [bit] NULL,
	[IsAmazonInvoiced] [bit] NOT NULL,
	[dErstelltUtc] [datetime2](0) NOT NULL,
	[dAktualisiertUtc] [datetime2](0) NOT NULL,
	[dStatusAktualisiertUtc] [datetime2](0) NULL,
	[dVerarbeitetUtc] [datetime2](0) NULL,
	[ReportId] [bigint] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
