USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tPreiskonfiguration]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tPreiskonfiguration](
	[kPreiskonfiguration] [int] IDENTITY(1,1) NOT NULL,
	[kUser] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
	[kKundengruppe] [int] NULL,
	[nPreisglaettung] [bit] NOT NULL,
	[nGlaettungBisZehn] [tinyint] NOT NULL,
	[nGlaettungZwischenZehnUndHundert] [tinyint] NOT NULL,
	[nGlaettungZwischenHundertUndTausend] [tinyint] NOT NULL,
	[nGlaettungGroesserTausend] [tinyint] NOT NULL,
 CONSTRAINT [PK_Amazon_tPreiskonfiguration] PRIMARY KEY CLUSTERED 
(
	[kPreiskonfiguration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Amazon_tPreiskonfiguration_kUser_kPlattform] UNIQUE NONCLUSTERED 
(
	[kUser] ASC,
	[kPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tPreiskonfiguration] ADD  CONSTRAINT [DF_Amazon_tPreiskonfiguration_nPreisglaettung]  DEFAULT ((0)) FOR [nPreisglaettung]
GO
ALTER TABLE [Amazon].[tPreiskonfiguration] ADD  CONSTRAINT [DF_Amazon_tPreiskonfiguration_nGlaettungBisZehn]  DEFAULT ((0)) FOR [nGlaettungBisZehn]
GO
ALTER TABLE [Amazon].[tPreiskonfiguration] ADD  CONSTRAINT [DF_Amazon_tPreiskonfiguration_nGlaettungZwischenZehnUndHundert]  DEFAULT ((0)) FOR [nGlaettungZwischenZehnUndHundert]
GO
ALTER TABLE [Amazon].[tPreiskonfiguration] ADD  CONSTRAINT [DF_Amazon_tPreiskonfiguration_nGlaettungZwischenHundertUndTausend]  DEFAULT ((0)) FOR [nGlaettungZwischenHundertUndTausend]
GO
ALTER TABLE [Amazon].[tPreiskonfiguration] ADD  CONSTRAINT [DF_Amazon_tPreiskonfiguration_nGlaettungGroesserTausend]  DEFAULT ((0)) FOR [nGlaettungGroesserTausend]
GO
ALTER TABLE [Amazon].[tPreiskonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tPreiskonfiguration_kKundengruppe] FOREIGN KEY([kKundengruppe])
REFERENCES [dbo].[tKundenGruppe] ([kKundenGruppe])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Amazon].[tPreiskonfiguration] CHECK CONSTRAINT [FK_Amazon_tPreiskonfiguration_kKundengruppe]
GO
ALTER TABLE [Amazon].[tPreiskonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tPreiskonfiguration_kPlattform] FOREIGN KEY([kPlattform])
REFERENCES [dbo].[tPlattform] ([nPlattform])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tPreiskonfiguration] CHECK CONSTRAINT [FK_Amazon_tPreiskonfiguration_kPlattform]
GO
ALTER TABLE [Amazon].[tPreiskonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tPreiskonfiguration_kUser] FOREIGN KEY([kUser])
REFERENCES [dbo].[pf_user] ([kUser])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tPreiskonfiguration] CHECK CONSTRAINT [FK_Amazon_tPreiskonfiguration_kUser]
GO
