USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vVerkaufskanalBerichtsanfrageMarktplatz]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vVerkaufskanalBerichtsanfrageMarktplatz]
AS
(
    SELECT
        tBerichtsanfrageMarktplatz.kBerichtsanfrage,
        tPlattform.cName
    FROM Amazon.tBerichtsanfrageMarktplatz
    JOIN dbo.tPlattform ON tPlattform.nPlattform = tBerichtsanfrageMarktplatz.kPlattform
)
GO
