USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonAbgleichBestellungPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonAbgleichBestellungPos]
AS
(
	SELECT 
		pf_amazon_bestellungpos.kamazonbestellung AS kAmazonBestellung,
		pf_amazon_bestellungpos.kamazonbestellungpos AS kAmazonBestellungPos,
		pf_amazon_bestellungpos.cArtNr AS cArtNr,	
		pf_amazon_bestellungpos.cname AS cArtikelname, 
		pf_amazon_bestellungpos.fitemprice AS fItemPrice,
		pf_amazon_bestellungpos.nquantitypurchased AS nQuantityPurchased,
		pf_amazon_bestellung_versand.dshipdate AS dShipdate
	FROM pf_amazon_bestellungpos
	JOIN pf_amazon_bestellung_versand ON pf_amazon_bestellung_versand.kamazonbestellungpos = pf_amazon_bestellungpos.kamazonbestellungpos 
)
GO
