USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvVcsLiteUploadQueue]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvVcsLiteUploadQueue]
AS
(
    SELECT
        tVcsLiteUploadQueue.kVcsLiteUploadQueue,
        tVcsLiteUploadQueue.kExternerBeleg,
        tVcsLiteUploadQueue.nBelegtyp,
        tVcsLiteUploadQueue.cBelegnummer,
        tVcsLiteUploadQueue.cOrderId,
        tVcsLiteUploadQueue.cShippingID,
        tVcsLiteUploadQueue.cTransactionId,
        tVcsLiteUploadQueue.kUser,
        tVcsLiteUploadQueue.nAusgabeVersuche,
        tVcsLiteUploadQueue.nUploadVersuche,
        tVcsLiteUploadQueue.nStatus,
        tVcsLiteUploadQueue.dErstelltUtc,
        tVcsLiteUploadQueue.dBelegdatumUtc,
        tVcsLiteUploadQueue.dAusgabeGestartetUtc,
        tVcsLiteUploadQueue.dAusgabeBeendetUtc,
        tVcsLiteUploadQueue.dUploadErfolgtUtc,
        tVcsLiteUploadQueue.cMeldung,
        (SELECT MAX(dStatusaenderung)
            FROM (VALUES(tVcsLiteUploadQueue.dAusgabeGestartetUtc), (tVcsLiteUploadQueue.dAusgabeBeendetUtc), (tVcsLiteUploadQueue.dUploadErfolgtUtc))
            AS StatusAenderung(dStatusaenderung))
        AS dLetzteStatusAenderung
    FROM Amazon.tVcsLiteUploadQueue
);
GO
