USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaInboundProduct]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaInboundProduct]
AS
(
    SELECT
        tArtikel.kArtikel,
        tArtikel.cArtNr,
        tArtikel.kStueckliste,
        ISNULL(CASE WHEN tArtikel.kStueckliste > 0
                THEN CAST(1 AS BIT)
                ELSE CAST(0 AS BIT)
        END, CAST(0 AS BIT)) AS nIstStueckliste,
        tArtikelBeschreibung.cName
    FROM dbo.tArtikel
    CROSS JOIN dbo.tSpracheUsed
    LEFT JOIN dbo.tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
        AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache
        AND tArtikelBeschreibung.kPlattform = 1
    WHERE tArtikel.nIstVater = 0
        AND tSpracheUsed.nStandard = 1
);
GO
