USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tSettlementPosKostentypen]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tSettlementPosKostentypen](
	[cAmountType] [nvarchar](30) NOT NULL,
	[cAmountDescription] [nvarchar](50) NOT NULL,
	[nKostentyp] [tinyint] NULL,
 CONSTRAINT [PK_Amazon_tSettlementPosKostentypen] PRIMARY KEY CLUSTERED 
(
	[cAmountType] ASC,
	[cAmountDescription] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tSettlementPosKostentypen]  WITH CHECK ADD  CONSTRAINT [CK_Amazon_tSettlementPosKostentypen_nKostentyp] CHECK  (([nKostentyp] IS NULL OR ([nKostentyp]=(6) OR [nKostentyp]=(5) OR [nKostentyp]=(4) OR [nKostentyp]=(3) OR [nKostentyp]=(2) OR [nKostentyp]=(1) OR [nKostentyp]=(0))))
GO
ALTER TABLE [Amazon].[tSettlementPosKostentypen] CHECK CONSTRAINT [CK_Amazon_tSettlementPosKostentypen_nKostentyp]
GO
