USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vBuchungsdatenWizardStornoRechnung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vBuchungsdatenWizardStornoRechnung]
AS
(
	SELECT DISTINCT
		tRechnung.cExterneAuftragsnummer AS cOrderId,
        tRechnung.cRechnungsnr AS cBelegnummer,				
		ISNULL(tRechnungEckdaten.fVkBruttoGesamt, 0) AS fBruttoGesamt,
		tRechnung.kRechnung AS kBeleg,
		tRechnung.cWaehrung,
		ISNULL(CASE WHEN (Vcs.kMessageId IS NULL OR Vcs.IsAmazonInvoiced = 0) 
					AND (VcsLite.kVcsLite IS NULL OR VcsLite.IsAmazonInvoiced = 0) THEN CAST(1 AS BIT) 
				ELSE CAST(0 AS BIT) 
			END, 0)
		AS nCanBeCancelled
    FROM Rechnung.tRechnung
    JOIN dbo.tPlattform ON tPlattform.nPlattform = tRechnung.kPlattform
    JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
    OUTER APPLY 
    (
        SELECT TOP (1) tVcs.kMessageId, tVcs.IsAmazonInvoiced 
        FROM Amazon.tVcs 
		JOIN Amazon.tTransaktionType ON tTransaktionType.nIstRechnung = 1
			AND tTransaktionType.cTransactionType = tVcs.TransactionType
        WHERE tVcs.VATInvoiceNumber = tRechnung.cRechnungsnr
    ) AS Vcs
    OUTER APPLY
    (
        SELECT TOP(1) tVcsLite.kVcsLite, tVcsLite.IsAmazonInvoiced 
        FROM Amazon.tVcsLite
		JOIN Amazon.tTransaktionType ON tTransaktionType.nIstRechnung = 1
			AND tTransaktionType.cTransactionType = tVcsLite.TransactionType
        WHERE tVcsLite.OrderID = tRechnung.cExterneAuftragsnummer
    ) AS VcsLite
    WHERE tPlattform.nTyp IN (6, 7)	
        AND tRechnung.nStorno = 0
        AND tRechnungEckdaten.fVkBruttoGesamt - tRechnungEckdaten.fGutschrift <> 0.0
);
GO
