USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonAbrechnungsdaten]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonAbrechnungsdaten]
AS SELECT kMessageId,pf_User.cName AS Username,ReportID,SettlementID,SettlementStartDate,SettlementEndDate,DepositDate,TotalAmount,Currency,dErstellt,pf_user.kUser FROM pf_amazon_settlement
join pf_User ON pf_User.kUser = dbo.pf_amazon_settlement.kUser
GO
