USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonAbgleichAngebote]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonAbgleichAngebote]
AS
(
	SELECT 
		pf_amazon_angebot.csellersku + CAST(pf_amazon_angebot.kuser AS VARCHAR(255)) + CAST(pf_amazon_angebot.nplattform AS VARCHAR(255)) AS kAmazonAngebot, 
		pf_amazon_angebot.kuser AS kUser, 
		pf_amazon_angebot.citemname AS cItemname, 
		pf_amazon_angebot.csellersku AS cSellerSku, 
		Artikel.cArtNr AS cArtNr,
		pf_user.cname AS cName, 
		pf_amazon_angebot_ext.nplattform AS nPlattform, 
		pf_amazon_angebot.casin1 AS cAsin1, 
		pf_amazon_angebot.fprice AS fPrice, 
		pf_amazon_angebot_ext.fpreis AS fPreis,
		tplattform.cwaehrung AS cWaehrung,
		pf_amazon_angebot.nquantity AS nQuantity,
		CASE 
			WHEN Artikel.fverfuegbar >= 0 
			AND ( 
					pf_amazon_angebot_ext.nmaxbestand IS NULL 
					OR 
					(
						Artikel.fverfuegbar < pf_amazon_angebot_ext.nmaxbestand 
						AND Artikel.clageraktiv = 'Y' 
						AND Artikel.clagerkleinernull = 'N' 
					) 
				) 
			AND Artikel.fverfuegbar != pf_amazon_angebot.nquantity THEN CONVERT(INT, Artikel.fverfuegbar) 
			WHEN Artikel.fverfuegbar < 0 
			AND pf_amazon_angebot.nquantity > 0 
			AND 
			(
				pf_amazon_angebot_ext.nmaxbestand IS NULL 
				OR 
				(
					Artikel.fverfuegbar < pf_amazon_angebot_ext.nmaxbestand 
					AND Artikel.clageraktiv = 'Y' 
					AND Artikel.clagerkleinernull = 'N' 
				) 
			) 
			AND Artikel.fverfuegbar != pf_amazon_angebot.nquantity THEN 0 
			WHEN 
			( 
				pf_amazon_angebot_ext.nmaxbestand >= 0 
				AND 
				(
					pf_amazon_angebot_ext.nmaxbestand <= Artikel.fverfuegbar 
					OR Artikel.clageraktiv = 'N' 
					OR Artikel.clagerkleinernull = 'Y' 
				) 
				AND pf_amazon_angebot_ext.nmaxbestand != pf_amazon_angebot.nquantity 
			) 
				OR Artikel.kartikel IS NULL THEN pf_amazon_angebot_ext.nmaxbestand 
			ELSE '' 
		END AS nMaxBestand, 
		CASE 
			WHEN pf_amazon_angebot_ext.ndelete = 1 THEN 'wird aus Sortiment entfernt' 
			WHEN pf_amazon_angebot_ext.fversandkosten >= 0 
			AND pf_amazon_angebot_ext.dletzteversandaenderung IS NULL THEN 'Versandkostenanpassung' 
			WHEN pf_amazon_angebot_ext.fversandkosten = -1 
			AND pf_amazon_angebot_ext.dletzteversandaenderung IS NULL THEN 'Versandkosten zurücksetzen' 
			WHEN pf_amazon_angebot_ext.dLetzteBestandAenderung IS NULL 
			AND 
			(
				drestockdate IS NOT NULL 
				OR pf_amazon_angebot_ext.nbearbeitungszeit 
				> 0 
			) 
			THEN 'Anpassung von Verfügbarkeit / Bearbeitungszeit' 
			ELSE 'Preis-/Bestandsanpassung' 
		END AS cKommentar, 
		pf_amazon_angebot_ext.fversandkosten AS fVersandkosten,
		Artikel.cBarcode AS cEan,
		Artikel.cISBN AS cIsbn,
		Artikel.cUPC AS cUpc,
		tArtikelBeschreibung.cName AS cArtikelName,
		ISNULL(pf_amazon_angebot_ext.nDelete, 0) AS nWirdAusSortimentEntfernt,
		CASE WHEN pf_amazon_angebot_ext.fPreis IS NOT NULL AND ISNULL(pf_amazon_angebot_ext.nDelete, 0) <> 1 THEN 1 ELSE 0 END AS nPreisBestandsAnpassung
	FROM dbo.pf_amazon_angebot
	JOIN dbo.pf_user ON pf_user.kuser = pf_amazon_angebot.kuser AND pf_user.naktiv = 1 
	LEFT JOIN dbo.tplattform ON tplattform.nplattform = pf_amazon_angebot.nplattform 
	LEFT JOIN dbo.pf_amazon_angebot_mapping 
		ON pf_amazon_angebot.cSellerSKU = pf_amazon_angebot_mapping.cSellerSKU 
		AND pf_amazon_angebot.kUser = pf_amazon_angebot_mapping.kUser 
	LEFT JOIN (
		SELECT tArtikel.kArtikel, tArtikel.cArtNr, tlagerbestand.fVerfuegbar, tlagerbestand.fVerfuegbar - tArtikel.nPuffer AS VerfuegbarExtern,
				tArtikel.nIstVater, tArtikel.cLagerAktiv, tArtikel.cLagerKleinerNull,
				tArtikel.cBarcode, tArtikel.cISBN, tArtikel.cUPC
			FROM dbo.tArtikel
			JOIN dbo.tlagerbestand ON tArtikel.kArtikel = tlagerbestand.kArtikel
			WHERE tArtikel.cAktiv <> 'N'
		) AS Artikel ON pf_amazon_angebot_mapping.kArtikel = Artikel.kArtikel
	LEFT JOIN dbo.pf_amazon_angebot_ext ON pf_amazon_angebot_ext.csellersku = pf_amazon_angebot.csellersku 
		AND pf_amazon_angebot_ext.kuser = pf_amazon_angebot.kuser 
		AND pf_amazon_angebot_ext.nplattform = pf_amazon_angebot.nplattform 
	JOIN dbo.tSpracheUsed ON dbo.tSpracheUsed.nStandard = 1
	LEFT JOIN dbo.tArtikelBeschreibung  ON tArtikelBeschreibung.kArtikel = Artikel.kArtikel
		AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache
		AND tArtikelBeschreibung.kPlattform = 1
	WHERE  
	(
		(Artikel.nistvater != 1 OR Artikel.kartikel IS NULL ) 
		AND 
		( 
			pf_amazon_angebot_ext.ndelete = 1 
			OR pf_amazon_angebot_ext.fpreis IS NOT NULL 
			OR 
			(
				pf_amazon_angebot_ext.fversandkosten IS NOT NULL 
				AND pf_amazon_angebot_ext.dletzteversandaenderung IS NULL 
			) 
			OR 
			(
				pf_amazon_angebot_ext.dletztepreisaenderung IS NULL 
				AND pf_amazon_angebot_ext.fsaleprice > 0
			) 
			OR 
			(
				pf_user.nlagersenden = 1 
				AND pf_amazon_angebot.cfulfillmentchannel = 'DEFAULT' 
				AND pf_amazon_angebot_ext.nSwitchFulfillmentTo <> 2
				AND 
				( 
					(
						(
							Artikel.VerfuegbarExtern >= 0 
							OR 
							(
								Artikel.VerfuegbarExtern < 0 
								AND pf_amazon_angebot.nquantity > 0
							)
						) 
						AND 
						(
							pf_amazon_angebot_ext.nmaxbestand IS NULL 
							OR 
							( 
								Artikel.VerfuegbarExtern < 
								pf_amazon_angebot_ext.nmaxbestand 
								AND Artikel.clageraktiv = 'Y' 
								AND Artikel.clagerkleinernull = 'N' 
							) 
						) 
						AND FLOOR(Artikel.VerfuegbarExtern) != pf_amazon_angebot.nquantity 
						OR 
						(
							pf_amazon_angebot_ext.nmaxbestand >= 0 
							AND 
							(
								pf_amazon_angebot_ext.nmaxbestand <= Artikel.VerfuegbarExtern 
								OR Artikel.clageraktiv = 'N' 
								OR Artikel.clagerkleinernull = 'Y' 
							) 
							AND pf_amazon_angebot_ext.nmaxbestand != pf_amazon_angebot.nquantity 
						) 
						OR 
						(Artikel.kartikel IS NULL AND pf_amazon_angebot_ext.nmaxbestand != pf_amazon_angebot.nquantity ) 
					) 
					OR (pf_amazon_angebot_ext.dLetzteBestandAenderung IS NULL AND ( pf_amazon_angebot_ext.dRestockDate IS NOT NULL OR pf_amazon_angebot_ext.nbearbeitungszeit > 0 )) 
				) 
			)
		)
	)
)
GO
