USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonLogsitzung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonLogsitzung]
AS
SELECT tAmazonabgleichLogsitzung.kAmazonabgleichLogsitzung,
	   tAmazonabgleichLogsitzung.nTyp,
	   tAmazonabgleichLogsitzung.kBenutzer,
	   tbenutzer.cName AS cBenutzername,
	   tAmazonabgleichLogsitzung.cRechnername,
	   tAmazonabgleichLogsitzung.dStart,
	   tAmazonabgleichLogsitzung.dEnde,
	   tAmazonabgleichLogsitzung.nStatus,
	   tAmazonabgleichLogsitzung.cStatusmeldung
FROM Amazon.tAmazonabgleichLogsitzung 
LEFT JOIN eazybusiness.dbo.tbenutzer ON tbenutzer.kBenutzer = tAmazonabgleichLogsitzung.kBenutzer;
GO
