USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vAbgleichBestand]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vAbgleichBestand]
AS
WITH vArtikelMappings AS 
(
	SELECT tArtikel.*, 
		pf_amazon_angebot_mapping.cSellerSKU AS cSellerSKU,
		pf_amazon_angebot_mapping.kUser AS kUser,
		CASE 
			WHEN tArtikel.cLagerKleinerNull = 'Y' AND tPlattformUeberverkaeufeMoeglich.kArtikel IS NOT NULL 
			THEN 'Y'
			ELSE 'N'
		END AS cUeberverkaufAktiv
	FROM dbo.tArtikel
	JOIN dbo.pf_amazon_angebot_mapping ON tArtikel.kArtikel = pf_amazon_angebot_mapping.kArtikel
	JOIN dbo.pf_user ON pf_amazon_angebot_mapping.kUser = pf_user.kUser
	LEFT JOIN dbo.tPlattformUeberverkaeufeMoeglich ON pf_amazon_angebot_mapping.kArtikel = tPlattformUeberverkaeufeMoeglich.kArtikel
		AND pf_user.nPlattform = tPlattformUeberverkaeufeMoeglich.nPlattform
), 
vAngebotSellerSKUs AS 
(
	SELECT 
		pf_amazon_angebot.cSellerSKU,    
		pf_amazon_angebot_ext.cFulfillmentChannel, 
		pf_amazon_angebot_ext.nBearbeitungsZeit, 
		pf_amazon_angebot_ext.nPlattform,
		pf_amazon_angebot_ext.dRestockDate,                     
		CASE WHEN vLagerbestandEx.fVerfuegbarExtern >= 0 
				AND (pf_amazon_angebot_ext.nMaxBestand IS NULL 
					OR vLagerbestandEx.fVerfuegbarExtern < pf_amazon_angebot_ext.nMaxBestand 
						AND vArtikelMappings.cLagerAktiv='Y' 
						AND vArtikelMappings.cUeberverkaufAktiv='N') 
				AND FLOOR(vLagerbestandEx.fVerfuegbarExtern) != pf_amazon_angebot.nQuantity 
			THEN FLOOR(vLagerbestandEx.fVerfuegbarExtern)                      
			WHEN vLagerbestandEx.fVerfuegbarExtern < 0 AND pf_amazon_angebot.nQuantity > 0 
				AND (pf_amazon_angebot_ext.nMaxBestand IS NULL 
					OR vLagerbestandEx.fVerfuegbarExtern < pf_amazon_angebot_ext.nMaxBestand 
						AND vArtikelMappings.cLagerAktiv='Y' 
						AND vArtikelMappings.cUeberverkaufAktiv='N')
				AND FLOOR(vLagerbestandEx.fVerfuegbarExtern) != pf_amazon_angebot.nQuantity 
			THEN 0
			WHEN vArtikelMappings.kArtikel IS NULL 
				OR pf_amazon_angebot_ext.nMaxBestand >= 0 
				AND (pf_amazon_angebot_ext.nMaxBestand <= vLagerbestandEx.fVerfuegbarExtern 
					OR vArtikelMappings.cLagerAktiv='N' OR vArtikelMappings.cUeberverkaufAktiv='Y') 
				AND pf_amazon_angebot_ext.nMaxBestand != pf_amazon_angebot.nQuantity
			THEN pf_amazon_angebot_ext.nMaxBestand
			ELSE pf_amazon_angebot.nQuantity       
		END AS nMaxBestand,                           
		CASE WHEN vArtikelMappings.kArtikel IS NULL 
				THEN -1 
			WHEN (vLagerbestandEx.fEigenerBestand - vLagerbestandEx.fReserviert) > 0 
				THEN ISNULL(vArtikelMappings.nBearbeitungszeit, 0) + pf_user.nBearbeitungszeitAufschlag             
			ELSE ISNULL(vArtikelMappings.nLiefertageWennAusverkauft, 0) + ISNULL(vArtikelMappings.nBearbeitungszeit, 0) + pf_user.nBearbeitungszeitAufschlag                     
		END AS nBearbeitungsZeitAutomatischErmittelt,
		pf_user.nMaxBearbeitungszeit,
		pf_user.kUser
	FROM pf_amazon_angebot
	JOIN pf_user ON pf_user.kUser = pf_amazon_angebot.kUser                   
	JOIN pf_amazon_angebot_ext ON pf_amazon_angebot_ext.cSellerSKU = pf_amazon_angebot.cSellerSKU 
		AND pf_amazon_angebot.kUser = pf_amazon_angebot_ext.kUser 
		AND pf_amazon_angebot_ext.nPlattform = pf_amazon_angebot.nPlattform        
	LEFT JOIN vArtikelMappings ON vArtikelMappings.cSellerSKU = pf_amazon_angebot_ext.cSellerSKU 
		AND vArtikelMappings.kUser = pf_amazon_angebot_ext.kUser
	LEFT JOIN dbo.vLagerbestandEx ON vLagerbestandEx.kArtikel= vArtikelMappings.kArtikel  
	WHERE pf_amazon_angebot.cFulfillmentChannel = 'DEFAULT'        
   		AND pf_amazon_angebot_ext.nSwitchFulfillmentTo <> 2       
		AND ISNULL(pf_amazon_angebot_ext.nDelete, 0) <> 1   
		AND pf_amazon_angebot_ext.nPlattform IN 
			(SELECT 
				ISNULL(pf_amazon_plattform.kPlattform, pf_user.nPlattform) AS kPlattform
			FROM dbo.pf_user 
			LEFT JOIN dbo.pf_amazon_plattform ON pf_amazon_plattform.nRegion = CASE WHEN pf_user.nEU = 1 THEN 2
																					WHEN pf_user.nEU = 2 THEN 1 
																					ELSE 0 
																				END)
		AND pf_amazon_angebot_ext.nPreisUndBestandsaenderungenAusschliessen = 0
		AND ((vArtikelMappings.nIstVater != 1 OR vArtikelMappings.kArtikel IS NULL)
			AND (vLagerbestandEx.fVerfuegbarExtern >= 0 
				OR FLOOR(vLagerbestandEx.fVerfuegbarExtern) < 0
				AND pf_amazon_angebot.nQuantity > 0 ) 
			AND (pf_amazon_angebot_ext.nMaxBestand IS NULL 
				OR FLOOR(vLagerbestandEx.fVerfuegbarExtern) < pf_amazon_angebot_ext.nMaxBestand 
				AND vArtikelMappings.cLagerAktiv='Y' AND vArtikelMappings.cUeberverkaufAktiv='N') 
			AND FLOOR(vLagerbestandEx.fVerfuegbarExtern) != pf_amazon_angebot.nQuantity                                    
				OR pf_amazon_angebot_ext.nMaxBestand >= 0 
			AND (pf_amazon_angebot_ext.nMaxBestand <= FLOOR(vLagerbestandEx.fVerfuegbarExtern) 
				OR vArtikelMappings.cLagerAktiv='N' 
				OR vArtikelMappings.cUeberverkaufAktiv='Y')
			AND pf_amazon_angebot_ext.nMaxBestand != pf_amazon_angebot.nQuantity
				OR vArtikelMappings.kArtikel IS NULL 
					AND pf_amazon_angebot_ext.nMaxBestand != pf_amazon_angebot.nQuantity
				OR pf_amazon_angebot_ext.dLetzteBestandAenderung IS NULL
					AND (dRestockDate IS NOT NULL OR ISNULL(pf_amazon_angebot_ext.nBearbeitungsZeit, -2) > -2) -- Wenn nBearbeitungszeit auf -1 steht, möchte der Händler keine Bearbeitungszeit mitsenden.
			OR (vArtikelMappings.kArtikel > 0 
				AND vArtikelMappings.nIstVater != 1 
				AND CASE WHEN (vLagerbestandEx.fEigenerBestand - vLagerbestandEx.fReserviert) > 0 
					THEN CASE WHEN ISNULL(vArtikelMappings.nBearbeitungszeit, 0) + pf_user.nBearbeitungszeitAufschlag > pf_user.nMaxBearbeitungszeit AND pf_user.nMaxBearbeitungszeit > 0 
						THEN pf_user.nMaxBearbeitungszeit
						ELSE ISNULL(vArtikelMappings.nBearbeitungszeit, 0) + pf_user.nBearbeitungszeitAufschlag END
					ELSE CASE WHEN ISNULL(vArtikelMappings.nLiefertageWennAusverkauft, 0) + ISNULL(vArtikelMappings.nBearbeitungszeit, 0) + pf_user.nBearbeitungszeitAufschlag > pf_user.nMaxBearbeitungszeit AND pf_user.nMaxBearbeitungszeit > 0
						THEN pf_user.nMaxBearbeitungszeit
						ELSE ISNULL(vArtikelMappings.nLiefertageWennAusverkauft, 0) + ISNULL(vArtikelMappings.nBearbeitungszeit, 0) + pf_user.nBearbeitungszeitAufschlag END
				END != pf_amazon_angebot_ext.nLetzteBearbeitungsZeit
				AND dbo.pf_user.nBearbeitungszeitAnpassen = 1)
			)
		OR pf_amazon_angebot_ext.nSendeBestand = 1
),
Ergebnis AS 
(
	SELECT
		vAngebotSellerSKUs.cSellerSKU, 
		vAngebotSellerSKUs.nMaxBestand, 
		vAngebotSellerSKUs.cFulfillmentChannel,
        ISNULL(vAngebotSellerSKUs.nBearbeitungsZeit, 0) AS nBearbeitungsZeit,
		vAngebotSellerSKUs.dRestockDate,
        ISNULL(IIF(vAngebotSellerSKUs.nMaxBearbeitungszeit > 0 AND vAngebotSellerSKUs.nMaxBearbeitungszeit < vAngebotSellerSKUs.nBearbeitungsZeitAutomatischErmittelt,  
			vAngebotSellerSKUs.nMaxBearbeitungszeit, 
			vAngebotSellerSKUs.nBearbeitungsZeitAutomatischErmittelt), -1) AS nBearbeitungsZeitAutomatischErmittelt,
		vAngebotSellerSKUs.nPlattform,
		vAngebotSellerSKUs.kUser
	FROM vAngebotSellerSKUs
)
SELECT
    Ergebnis.cSellerSKU,
    Ergebnis.nMaxBestand,
    Ergebnis.cFulfillmentChannel,
    Ergebnis.nBearbeitungsZeit,
    Ergebnis.dRestockDate,
    Ergebnis.nBearbeitungsZeitAutomatischErmittelt,
    Ergebnis.nPlattform,
    Ergebnis.kUser
FROM Ergebnis
GROUP BY Ergebnis.cSellerSKU,
         Ergebnis.nMaxBestand,
         Ergebnis.cFulfillmentChannel,
         Ergebnis.nBearbeitungsZeit,
         Ergebnis.dRestockDate,
         Ergebnis.nBearbeitungsZeitAutomatischErmittelt,
         Ergebnis.nPlattform,
         Ergebnis.kUser
GO
