USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tRetourPosGutschriftMapping]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tRetourPosGutschriftMapping](
	[kAmazonRetourPos] [int] NOT NULL,
	[kGutschrift] [int] NOT NULL,
 CONSTRAINT [UQ_Amazon_tRetourPosGutschriftMapping_kAmazonRetourPos_kGutschrift] UNIQUE NONCLUSTERED 
(
	[kAmazonRetourPos] ASC,
	[kGutschrift] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
