USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vVcsRechnungOffenerBeleg]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vVcsRechnungOffenerBeleg] AS
(
    SELECT
        tVcs.VATInvoiceNumber,
        tVcs.kUser,
        MAX(tVcs.dVerarbeitetUtc) AS dVerarbeitetUtc,
        MAX(tVcs.dAktualisiertUtc) AS dAktualisiertUtc,
        MAX(tVcs.nFehlgeschlagenAnzahl) AS nFehlgeschlagenAnzahl
    FROM Amazon.tVcs
	JOIN Amazon.tTransaktionType ON tTransaktionType.nIstRechnung = 1
		AND tTransaktionType.cTransactionType = tVcs.TransactionType
    JOIN dbo.pf_user ON pf_user.kUser = tVcs.kUser
    OUTER APPLY
    (
        SELECT TOP(1) tVcsLite.kVcsLite
        FROM Amazon.tVcsLite
        WHERE tVcsLite.kUser = tVcs.kUser
            AND tVcsLite.OrderID = tVcs.OrderID
            AND tVcsLite.InvoiceStatus NOT IN ('InvoiceCreatedByAmazon', 'CreditNoteCreatedByAmazon')
    ) AS VcsLite
    WHERE tVcs.dVerarbeitetUtc IS NULL       
        AND tVcs.IsAmazonInvoiced = 1
        AND (tVcs.dFehlgeschlagenUtc IS NULL
            OR (DATEADD(HOUR, 1, tVcs.dFehlgeschlagenUtc) < GETUTCDATE() AND tVcs.nFehlgeschlagenSchweregrad < 2 ))
        AND (tVcs.dErstelltUtc < pf_user.dVcsSperreUtc
            OR pf_user.dVcsSperreUtc IS NULL)
        AND tVcs.dErstelltUtc <= DATEADD(HOUR, -48, GETUTCDATE())
        AND VcsLite.kVcsLite IS NULL
		AND LEN(tVcs.VATInvoiceNumber) > 0        
        AND tVcs.VATInvoiceNumber NOT LIKE 'N/A%'
        AND tVcs.ShipmentDate >= pf_user.dStartVCS
        AND pf_user.nAktiv = 1
    GROUP BY tVcs.VATInvoiceNumber,
        tVcs.kUser
)
GO
