USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvVcsBuchungsPositionenHistory]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvVcsBuchungsPositionenHistory]
AS
(
	SELECT
		tVcsHistory.kMessageId,
		tVcsHistory.kUser,
		tVcsHistory.MarketplaceID,
		tVcsHistory.MerchantID,
		tVcsHistory.OrderDate,
		tVcsHistory.TransactionType,
		tVcsHistory.OrderID,
		tVcsHistory.ShipmentDate,
		tVcsHistory.ShipmentID,
		tVcsHistory.TransactionID,
		tVcsHistory.ASIN,
		tVcsHistory.SKU,
		tVcsHistory.Quantity,
		tVcsHistory.TaxCalculationDate,
		ISNULL(tVcsHistory.TaxRate, 0) AS TaxRate,
		tVcsHistory.ProductTaxCode,
		tVcsHistory.Currency,
		tVcsHistory.TaxType,
		tVcsHistory.TaxCalculationReasonCode,
		tVcsHistory.TaxAddressRole,
		tVcsHistory.JurisdictionLevel,
		tVcsHistory.JurisdictionName,
		ISNULL(tVcsHistory.OUR_PRICETaxInclusiveSellingPrice, 0) AS OURPRICETaxInclusiveSellingPrice,
		ISNULL(tVcsHistory.OUR_PRICETaxAmount, 0) AS OURPRICETaxAmount,
		ISNULL(tVcsHistory.OUR_PRICETaxExclusiveSellingPrice, 0) AS OURPRICETaxExclusiveSellingPrice,
		ISNULL(tVcsHistory.OUR_PRICETaxInclusivePromoAmount, 0) AS OURPRICETaxInclusivePromoAmount,
		ISNULL(tVcsHistory.OUR_PRICETaxAmountPromo, 0) AS OURPRICETaxAmountPromo,
		ISNULL(tVcsHistory.OUR_PRICETaxExclusivePromoAmount, 0) AS OURPRICETaxExclusivePromoAmount,
		ISNULL(tVcsHistory.SHIPPINGTaxInclusiveSellingPrice, 0) AS SHIPPINGTaxInclusiveSellingPrice,
		ISNULL(tVcsHistory.SHIPPINGTaxAmount, 0) AS SHIPPINGTaxAmount,
		ISNULL(tVcsHistory.SHIPPINGTaxExclusiveSellingPrice, 0) AS SHIPPINGTaxExclusiveSellingPrice,
		ISNULL(tVcsHistory.SHIPPINGTaxInclusivePromoAmount, 0) AS SHIPPINGTaxInclusivePromoAmount,
		ISNULL(tVcsHistory.SHIPPINGTaxAmountPromo, 0) AS SHIPPINGTaxAmountPromo,
		ISNULL(tVcsHistory.SHIPPINGTaxExclusivePromoAmount, 0) AS SHIPPINGTaxExclusivePromoAmount,
		ISNULL(tVcsHistory.GIFTWRAPTaxInclusiveSellingPrice, 0) AS GIFTWRAPTaxInclusiveSellingPrice,
		ISNULL(tVcsHistory.GIFTWRAPTaxAmount, 0) AS GIFTWRAPTaxAmount,
		ISNULL(tVcsHistory.GIFTWRAPTaxExclusiveSellingPrice, 0) AS GIFTWRAPTaxExclusiveSellingPrice,
		ISNULL(tVcsHistory.GIFTWRAPTaxInclusivePromoAmount, 0) AS GIFTWRAPTaxInclusivePromoAmount,
		ISNULL(tVcsHistory.GIFTWRAPTaxAmountPromo, 0) AS GIFTWRAPTaxAmountPromo,
		ISNULL(tVcsHistory.GIFTWRAPTaxExclusivePromoAmount, 0) AS GIFTWRAPTaxExclusivePromoAmount,
		tVcsHistory.SellerTaxRegistration,
		tVcsHistory.SellerTaxRegistrationJurisdiction,
		tVcsHistory.BuyerTaxRegistration,
		tVcsHistory.BuyerTaxRegistrationJurisdiction,
		tVcsHistory.InvoiceLevelCurrencyCode,
		ISNULL(tVcsHistory.InvoiceLevelExchangeRate, 0) AS InvoiceLevelExchangeRate,
		tVcsHistory.InvoiceLevelExchangeRateDate,
		ISNULL(tVcsHistory.ConvertedTaxAmount, 0) AS ConvertedTaxAmount,
		tVcsHistory.VATInvoiceNumber,
		tVcsHistory.InvoiceUrl,
		tVcsHistory.ExportOutsideEU,
		tVcsHistory.ShipFromCity,
		tVcsHistory.ShipFromState,
		tVcsHistory.ShipFromCountry,
		tVcsHistory.ShipFromPostalCode,
		tVcsHistory.ShipFromTaxLocationCode,
		tVcsHistory.ShipToCity,
		tVcsHistory.ShipToState,
		tVcsHistory.ShipToCountry,
		tVcsHistory.ShipToPostalCode,
		tVcsHistory.ShipToLocationCode,
		tVcsHistory.ReturnFcCountry,
		tVcsHistory.TaxReportingScheme,
		tVcsHistory.IsInvoiceCorrected,
		tVcsHistory.OriginalVATInvoiceNumber,
		tVcsHistory.InvoiceCorrectionDetails,
		tVcsHistory.SDIInvoiceDeliveryStatus,
		tVcsHistory.SDIInvoiceErrorCode,
		tVcsHistory.SDIInvoiceErrorDescription,
		tVcsHistory.SDIInvoiceStatusLastUpdatedDate,
		tVcsHistory.TaxCollectionResponsibility,
		tVcsHistory.BuyerTaxRegistrationType,
		tVcsHistory.BuyerEInvoiceAccountId,
		tVcsHistory.IsAmazonInvoiced,
		tVcsHistory.EInvoiceUrl,
		tVcsHistory.dErstelltUtc,
		tVcsHistory.dAktualisiertUtc,
		tVcsHistory.dStatusAktualisiertUtc,
		tVcsHistory.dVerarbeitetUtc,		
		CASE
			WHEN tVcsHistory.IsInvoiceCorrected = 1 THEN 'InvoiceCorrection'
			WHEN tVcsHistory.IsAmazonInvoiced = 1 AND tVcsHistory.VATInvoiceNumber LIKE 'INV%' THEN 'Invoice'
			WHEN tVcsHistory.IsAmazonInvoiced = 1 AND tVcsHistory.VATInvoiceNumber LIKE 'CN%' THEN 'CreditNote'
			WHEN tVcsHistory.IsAmazonInvoiced = 1 THEN 'Receipt'
			WHEN tTransaktionType.nIstRechnung = 1 THEN 'Invoice'
			ELSE 'CreditNote'
		END AS cDocumentType,
		tVcsHistory.OUR_PRICETaxInclusiveSellingPrice + tVcsHistory.OUR_PRICETaxInclusivePromoAmount AS fTaxInclusivePrice, --Verkaufspreis brutto
		tVcsHistory.OUR_PRICETaxExclusiveSellingPrice + tVcsHistory.OUR_PRICETaxExclusivePromoAmount AS fTaxExclusivePrice, --Verkaufspreis netto
		tVcsHistory.SHIPPINGTaxInclusiveSellingPrice + tVcsHistory.SHIPPINGTaxInclusivePromoAmount AS fShippingTaxInclusivePrice, --Versand brutto
		tVcsHistory.SHIPPINGTaxExclusiveSellingPrice + tVcsHistory.SHIPPINGTaxExclusivePromoAmount AS fShippingTaxExclusivePrice, --Versand netto
		tVcsHistory.GIFTWRAPTaxInclusiveSellingPrice + tVcsHistory.GIFTWRAPTaxInclusivePromoAmount AS fGiftwrapTaxInclusivePrice, --Verpackung brutto
		tVcsHistory.GIFTWRAPTaxExclusiveSellingPrice + tVcsHistory.GIFTWRAPTaxExclusivePromoAmount AS fGiftwrapTaxExclusivePrice, --Verpackung netto		
		CASE WHEN tVcsHistory.IsAmazonInvoiced = 1 THEN tVcsHistory.VATInvoiceNumber 
			ELSE CONCAT(tVcsHistory.OrderID, '_', tVcsHistory.TransactionID) 
		END AS cIdentifier
	FROM Amazon.tVcsHistory 
	LEFT JOIN Amazon.tTransaktionType ON tTransaktionType.cTransactionType = tVcsHistory.TransactionType 
);
GO
