USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvVcsLiteBuchungsPositionenHistory]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvVcsLiteBuchungsPositionenHistory]
AS
(
    SELECT
        tVcsLiteHistory.kVcsLite,
        tVcsLiteHistory.kUser,
        tVcsLiteHistory.OrderID,
        tVcsLiteHistory.OrderItemID,
        tVcsLiteHistory.SKU,
        tVcsLiteHistory.ProductName,
        tVcsLiteHistory.ASIN,
        tVcsLiteHistory.QuantityPurchased,
        tVcsLiteHistory.ShippingID,
        tVcsLiteHistory.TransactionID,
        tVcsLiteHistory.TransactionType,
        tVcsLiteHistory.OrderDate,
        tVcsLiteHistory.ShippingDate,
        tVcsLiteHistory.Currency,
        ISNULL(tVcsLiteHistory.ItemVatInclAmount, 0) AS ItemVatInclAmount,
        ISNULL(tVcsLiteHistory.ItemVatAmount, 0) AS ItemVatAmount,
        ISNULL(tVcsLiteHistory.ItemVatExclAmount, 0) AS ItemVatExclAmount,
        ISNULL(tVcsLiteHistory.ItemVatRate, 0) AS ItemVatRate,
        ISNULL(tVcsLiteHistory.ItemPromoVatInclAmount, 0) AS ItemPromoVatInclAmount,
        ISNULL(tVcsLiteHistory.ItemPromoVatAmount, 0) AS ItemPromoVatAmount,
        ISNULL(tVcsLiteHistory.ItemPromoVatExclAmount, 0) AS ItemPromoVatExclAmount,
        ISNULL(tVcsLiteHistory.ItemPromoVatRate, 0) AS ItemPromoVatRate,
        ISNULL(tVcsLiteHistory.ShippingVatInclAmount, 0) AS ShippingVatInclAmount,
        ISNULL(tVcsLiteHistory.ShippingVatAmount, 0) AS ShippingVatAmount,
        ISNULL(tVcsLiteHistory.ShippingVatExclAmount, 0) AS ShippingVatExclAmount,
        ISNULL(tVcsLiteHistory.ShippingVatRate, 0) AS ShippingVatRate,
        ISNULL(tVcsLiteHistory.ShippingPromoVatInclAmount, 0) AS ShippingPromoVatInclAmount,
        ISNULL(tVcsLiteHistory.ShippingPromoVatAmount, 0) AS ShippingPromoVatAmount,
        ISNULL(tVcsLiteHistory.ShippingPromoVatExclAmount, 0) AS ShippingPromoVatExclAmount,
        ISNULL(tVcsLiteHistory.ShippingPromoVatRate, 0) AS ShippingPromoVatRate,
        ISNULL(tVcsLiteHistory.GiftWrapVatInclAmount, 0) AS GiftWrapVatInclAmount,
        ISNULL(tVcsLiteHistory.GiftWrapVatAmount, 0) AS GiftWrapVatAmount,
        ISNULL(tVcsLiteHistory.GiftWrapVatExclAmount, 0) AS GiftWrapVatExclAmount,
        ISNULL(tVcsLiteHistory.GiftWrapVatRate, 0) AS GiftWrapVatRate,
        ISNULL(tVcsLiteHistory.GiftPromoVatInclAmount, 0) AS GiftPromoVatInclAmount,
        ISNULL(tVcsLiteHistory.GiftPromoVatExclAmount, 0) AS GiftPromoVatExclAmount,
        ISNULL(tVcsLiteHistory.GiftPromoVatAmount, 0) AS GiftPromoVatAmount,
        ISNULL(tVcsLiteHistory.GiftPromoVatRate, 0) AS GiftPromoVatRate,
        tVcsLiteHistory.ItemPromotionID,
        tVcsLiteHistory.ShipPromotionID,
        tVcsLiteHistory.GiftPromotionID,
        tVcsLiteHistory.BuyerVatNumber,
        tVcsLiteHistory.SellerVatNumber,
        tVcsLiteHistory.IsBusinessOrder,
        tVcsLiteHistory.PriceDesignation,
        tVcsLiteHistory.MarketplaceID,
        tVcsLiteHistory.PurchaseOrderNumber,
        tVcsLiteHistory.RecipientName,
        tVcsLiteHistory.BuyerName,
        tVcsLiteHistory.BuyerCompanyName,
        tVcsLiteHistory.ShipServiceLevel,
        tVcsLiteHistory.ShipAddress1,
        tVcsLiteHistory.ShipAddress2,
        tVcsLiteHistory.ShipAddress3,
        tVcsLiteHistory.ShipCity,
        tVcsLiteHistory.ShipState,
        tVcsLiteHistory.ShipPostalCode,
        tVcsLiteHistory.ShipCountry,
        tVcsLiteHistory.ShipPhoneNumber,
        tVcsLiteHistory.BillingName,
        tVcsLiteHistory.BillAddress1,
        tVcsLiteHistory.BillAddress2,
        tVcsLiteHistory.BillAddress3,
        tVcsLiteHistory.BillCity,
        tVcsLiteHistory.BillState,
        tVcsLiteHistory.BillPostalCode,
        tVcsLiteHistory.BillCountry,
        tVcsLiteHistory.BillingPhoneNumber,
        tVcsLiteHistory.ShipFromCity,
        tVcsLiteHistory.ShipFromState,
        tVcsLiteHistory.ShipFromCountry,
        tVcsLiteHistory.ShipFromPostalCode,
        tVcsLiteHistory.FulfilledBy,
        tVcsLiteHistory.InvoiceNumber,
        tVcsLiteHistory.InvoiceStatus,
        tVcsLiteHistory.InvoiceStatusDescription,
        tVcsLiteHistory.LegacyCustomerOrderItemId,
        tVcsLiteHistory.RecommendedInvoiceFormat,
        tVcsLiteHistory.IsInvoiceCorrected,
        tVcsLiteHistory.OriginalVatInvoiceNumber,
        tVcsLiteHistory.InvoiceCorrectionDetails,
        tVcsLiteHistory.BuyerTaxRegistrationType,
        tVcsLiteHistory.BuyerEInvoiceAccountId,
        tVcsLiteHistory.IsBuyerPhysicallyPresent,
        tVcsLiteHistory.IsSellerPhysicallyPresent,
        tVcsLiteHistory.CitationEs,
        tVcsLiteHistory.CitationIt,
        tVcsLiteHistory.CitationFr,
        tVcsLiteHistory.CitationDe,
        tVcsLiteHistory.CitationEn,
        tVcsLiteHistory.ExportOutsideEu,
        tVcsLiteHistory.IsAmazonInvoiced,
        tVcsLiteHistory.dErstelltUtc,
        tVcsLiteHistory.dAktualisiertUtc,
        tVcsLiteHistory.dStatusAktualisiertUtc,
        tVcsLiteHistory.dVerarbeitetUtc,
        CASE WHEN tVcsLiteHistory.IsAmazonInvoiced = 1 THEN tVcsLiteHistory.InvoiceNumber
            ELSE tVcsLiteHistory.TransactionID
        END AS cIdentifier,
        CASE
            WHEN tVcsLiteHistory.IsInvoiceCorrected = 1 THEN 'InvoiceCorrection'
            WHEN tVcsLiteHistory.IsAmazonInvoiced = 1 AND tVcsLiteHistory.InvoiceNumber LIKE 'INV%' THEN 'Invoice'
            WHEN tVcsLiteHistory.IsAmazonInvoiced = 1 AND tVcsLiteHistory.InvoiceNumber LIKE 'CN%' THEN 'CreditNote'
            WHEN tVcsLiteHistory.IsAmazonInvoiced = 1 THEN 'Receipt'
            WHEN tTransaktionType.nIstRechnung = 1 THEN 'Invoice'
            ELSE 'CreditNote'
        END AS cDocumentType
    FROM Amazon.tVcsLiteHistory
	LEFT JOIN Amazon.tTransaktionType ON tTransaktionType.cTransactionType = tVcsLiteHistory.TransactionType
);
GO
