USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vBuchhaltungsuebersichtExternerBelegTransaktion]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vBuchhaltungsuebersichtExternerBelegTransaktion]
AS
(
    SELECT
        tExternerBelegTransaktion.kExternerBelegTransaktion,
        tExternerBelegTransaktion.kExternerBeleg,
        tExternerBelegTransaktion.nTransaktionstyp,
        tExternerBelegTransaktion.cTransaktionId,
        tExternerBelegTransaktion.cBezugstransaktionId,
        tExternerBelegTransaktion.dTransaktionsdatumUtc,
        tExternerBelegTransaktion.cExterneAuftragsnummer,
        tExternerBelegTransaktion.cKundenAuftragsnummer
    FROM Rechnung.tExternerBelegTransaktion
)
GO
