USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonLogbuch]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonLogbuch]
AS
(
	Select 
		pf_logbuch.kLogbuch, 
		pf_user.cName, 
		pf_logbuch.cKategorie, 
		pf_logbuch.cBetreff, 
		pf_logbuch.dZeit,
		pf_logbuch.cLog,
		pf_user.kUser
	FROM pf_logbuch
	LEFT JOIN pf_user ON pf_user.kUser = pf_logbuch.kUser
);
GO
