USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tFbaInboundPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tFbaInboundPosition](
	[kFbaInboundPosition] [int] IDENTITY(1,1) NOT NULL,
	[kFbaInbound] [int] NOT NULL,
	[kUmlagerungPos] [int] NOT NULL,
	[cSKU] [nvarchar](100) NULL,
	[cFNSKU] [nvarchar](100) NULL,
	[nBoxQuantity] [int] NOT NULL,
	[kPackagingDetail] [int] NULL,
	[cPrepCategory] [nvarchar](255) NULL,
	[nLabelOwner] [tinyint] NOT NULL,
	[nPrepOwner] [tinyint] NOT NULL,
	[nPackagingDetailType] [tinyint] NULL,
	[nUnitsPerCarton] [int] NULL,
	[nUnitsPerPallet] [int] NULL,
	[fWidth] [decimal](25, 13) NULL,
	[fHeight] [decimal](25, 13) NULL,
	[fDepth] [decimal](25, 13) NULL,
	[fWeight] [decimal](25, 13) NULL,
	[nPalletQuantity] [int] NULL,
 CONSTRAINT [PK_Amazon_tFbaInboundPosition] PRIMARY KEY CLUSTERED 
(
	[kFbaInboundPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tFbaInboundPosition]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tFbaInboundPosition_kFbaInbound] FOREIGN KEY([kFbaInbound])
REFERENCES [Amazon].[tFbaInbound] ([kFbaInbound])
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tFbaInboundPosition] CHECK CONSTRAINT [FK_Amazon_tFbaInboundPosition_kFbaInbound]
GO
ALTER TABLE [Amazon].[tFbaInboundPosition]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tFbaInboundPosition_kUmlagerungPos] FOREIGN KEY([kUmlagerungPos])
REFERENCES [dbo].[tUmlagerungPos] ([kUmlagerungPos])
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tFbaInboundPosition] CHECK CONSTRAINT [FK_Amazon_tFbaInboundPosition_kUmlagerungPos]
GO
