USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaInboundWarehouse]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaInboundWarehouse]
AS
(
    SELECT
        tWarenLager.kWarenLager,
        tWarenLager.kUser,
        tWarenLager.nFulfillment,
        tWarenLager.cName,
        tWarenLager.cStrasse,
        tWarenLager.cPLZ,
        tWarenLager.cOrt,
        tWarenLager.cLand,
        tWarenLager.cAnsprechpartnerAnrede,
        tWarenLager.cAnsprechpartnerVorname,
        tWarenLager.cAnsprechpartnerName,
        tWarenLager.cAnsprechpartnerTel,
        tWarenLager.cAnsprechpartnerFax,
        tWarenLager.cAnsprechpartnerEMail,
        tWarenLager.cAnsprechpartnerAbteilung,
        tWarenLager.cBundesland,
        tland.cISO,
        ISNULL(WarenlagerMarktplatzMapping.nGeteilterBestand, 0) AS nGeteilterBestand,
        WarenlagerMarktplatzMapping.cRegion AS cRegionIso,
		tWarenLager.cEmpfaengerFirma
    FROM dbo.tWarenlager
    LEFT JOIN dbo.tland ON tland.cName = tWarenLager.cLand
    LEFT JOIN Amazon.WarenlagerMarktplatzMapping ON WarenlagerMarktplatzMapping.kWarenlager = tWarenLager.kWarenLager
    WHERE ISNULL(tWarenlager.kQuellLager, 0) = 0
        AND ISNULL(tWarenlager.kZielLager, 0) = 0
        AND tWarenlager.nAktiv = 1
)
GO
