USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tVcsLiteUploadQueue]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tVcsLiteUploadQueue](
	[kVcsLiteUploadQueue] [int] IDENTITY(1,1) NOT NULL,
	[nBelegtyp] [tinyint] NOT NULL,
	[cBelegnummer] [nvarchar](50) NOT NULL,
	[cOrderId] [nvarchar](30) NOT NULL,
	[cShippingID] [nvarchar](50) NOT NULL,
	[cTransactionId] [nvarchar](50) NOT NULL,
	[kUser] [int] NOT NULL,
	[nAusgabeVersuche] [int] NOT NULL,
	[nUploadVersuche] [int] NOT NULL,
	[nStatus] [tinyint] NOT NULL,
	[dErstelltUtc] [datetime2](7) NOT NULL,
	[dAusgabeGestartetUtc] [datetime2](7) NULL,
	[dAusgabeBeendetUtc] [datetime2](7) NULL,
	[dUploadErfolgtUtc] [datetime2](7) NULL,
	[cMeldung] [nvarchar](4000) NULL,
	[kExternerBeleg] [int] NOT NULL,
	[cBezugsbelegnummer] [nvarchar](50) NULL,
	[dBelegdatumUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Amazon_tVcsLiteUploadQueue] PRIMARY KEY CLUSTERED 
(
	[kVcsLiteUploadQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tVcsLiteUploadQueue] ADD  CONSTRAINT [DF_Amazon_tVcsLiteUploadQueue_nAusgabeVersuche]  DEFAULT ((0)) FOR [nAusgabeVersuche]
GO
ALTER TABLE [Amazon].[tVcsLiteUploadQueue] ADD  CONSTRAINT [DF_Amazon_tVcsLiteUploadQueue_nUploadVersuche]  DEFAULT ((0)) FOR [nUploadVersuche]
GO
ALTER TABLE [Amazon].[tVcsLiteUploadQueue] ADD  CONSTRAINT [DF_Amazon_tVcsLiteUploadQueue_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
ALTER TABLE [Amazon].[tVcsLiteUploadQueue] ADD  CONSTRAINT [DF_Amazon_tVcsLiteUploadQueue_dErstelltUtc]  DEFAULT (getutcdate()) FOR [dErstelltUtc]
GO
