USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFBABestand]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFBABestand] AS
SELECT	pf_amazon_angebot_mapping.kUser AS kUser,
		pf_amazon_angebot_mapping.kArtikel AS kArtikel,
		SUM(pf_amazon_angebot_fba.nQuantity) AS nBestand,
		SUM(						
			CASE WHEN Umlagerungslager.kArtikel IS NOT NULL THEN 0.0 ELSE ISNULL(pf_amazon_Angebot_fba.nQtyReserved, 0.0) + ISNULL(pf_amazon_Angebot_fba.nQtyReceiving, 0.0) + ISNULL(pf_amazon_Angebot_fba.nQtyInboundWorking, 0.0) + ISNULL(pf_amazon_Angebot_fba.nQtyInboundShipped, 0.0)   END
		) AS nBestandReserviert,
		pf_amazon_angebot_fba.cMarketplaceID,
		pf_amazon_angebot_fba.cRegion
FROM dbo.pf_amazon_angebot_mapping
JOIN dbo.pf_amazon_angebot_fba ON pf_amazon_angebot_mapping.cSellerSKU = pf_amazon_angebot_fba.cSellerSKU AND pf_amazon_angebot_fba.kUser = pf_amazon_angebot_mapping.kUser
LEFT JOIN
(
	SELECT	Ziellager.kUser,
			LagerbestandproLager.kArtikel
	FROM dbo.twarenlager AS Quelllager
	JOIN dbo.twarenlager AS Ziellager ON Quelllager.kZielLager = Ziellager.kWarenLager
	CROSS APPLY
	(
		SELECT	tWarenlagereingang.kArtikel,
				SUM(tWarenlagereingang.fAnzahlaktuell) AS fAnzahlAktuell
		FROM dbo.tWarenlagereingang
		JOIN dbo.tWarenlagerplatz ON tWarenlagereingang.kWarenlagerplatz = tWarenlagerplatz.kWarenlagerplatz
		WHERE tWarenlagerplatz.kWarenlager = Quelllager.kWarenlager
		GROUP BY tWarenlagereingang.kArtikel
	) AS LagerbestandproLager (kArtikel, fBestand)	
	LEFT JOIN dbo.tUmlagerung ON Quelllager.kWarenLager = tUmlagerung.kQuellLager -- Offene Umlagerung hat noch keinen Bestand im Streckenlager und muss trotzdem berücksichtigt werden
		AND Ziellager.kWarenLager = tUmlagerung.kZielLager
		AND tUmlagerung.nStatus = 1		
	WHERE	Quelllager.kZielLager > 0 AND
			Ziellager.kUser > 0 AND
			( LagerbestandproLager.fBestand > 0.0 OR -- Bestand im Streckenlager 
				tUmlagerung.kUmlagerung IS NOT NULL) -- Offene Umlagerung
	GROUP BY	Ziellager.kUser,
				LagerbestandproLager.kArtikel
) AS Umlagerungslager ON pf_amazon_angebot_mapping.kUser = Umlagerungslager.kUser
	AND pf_amazon_angebot_mapping.kArtikel = Umlagerungslager.kArtikel
WHERE pf_amazon_angebot_fba.cWarehouseConditionType = 'SELLABLE'	
GROUP BY	pf_amazon_angebot_mapping.kUser,
			pf_amazon_angebot_mapping.kArtikel,
			pf_amazon_angebot_fba.cMarketplaceID,
			pf_amazon_angebot_fba.cRegion;
GO
