USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonFulfillmentAuftragPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonFulfillmentAuftragPos]
AS
(
	SELECT
		dbo.tFulfillmentAuftragPos.kFulfillmentAuftragPos AS kFulfillmentAuftragPos,
		dbo.tFulfillmentAuftragPos.kArtikel AS kArtikel, 
		dbo.tFulfillmentAuftragPos.cArtNr AS cArtNr, 
		dbo.tFulfillmentAuftragPos.cName AS cName, 
		ISNULL(tVersandPos.fAnzahl, tFulfillmentAuftragPos.fAnzahl) AS fAnzahl, 
		dbo.tFulfillmentAuftragPos.nStatus AS nStatus,  
		dbo.tFulfillmentAuftragPos.cArtikelGeschenkText AS cArtikelGeschenkText,
		dbo.tFulfillmentAuftragPos.cArtikelHinweis AS cArtikelHinweis,	
		ISNULL(Pakete.cIdentCode, '') AS cIdentCode,
		dbo.tFulfillmentAuftragPos.cErrorType AS cErrorType,
		dbo.tFulfillmentAuftragPos.nErrorCode AS nErrorCode,
		dbo.tFulfillmentAuftragPos.cErrorMessage AS cErrorMessage,
		dbo.tFulfillmentAuftragPos.cAbhilfe AS cAbhilfe,	
		dbo.tFulfillmentAuftragPos.kFulfillmentAuftrag AS kFulfillmentAuftrag,
		pf_amazon_bestellungpos.cShipCountry AS cShipCountry
	FROM tFulfillmentAuftragPos
	LEFT JOIN tVersandPos ON tFulfillmentAuftragPos.kLieferscheinPos = tVersandPos.kLieferscheinPos
	LEFT JOIN tLieferscheinPos ON tFulfillmentAuftragPos.kLieferscheinPos = tLieferscheinPos.kLieferscheinPos
	LEFT JOIN dbo.pf_amazon_bestellungpos ON pf_amazon_bestellungpos.kFulfillmentAuftragPos = tFulfillmentAuftragPos.kFulfillmentAuftragPos
	LEFT JOIN
	(
		SELECT tVersand.kLieferschein, MAX(tVersand.cIdentCode) AS cIdentCode
		FROM tVersand
		GROUP BY tVersand.kLieferschein
	) AS Pakete ON tLieferscheinPos.kLieferschein = Pakete.kLieferschein
)
GO
