USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaInboundAddressData]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaInboundAddressData]
AS
(
	SELECT
		tUmlagerung.kUmlagerung,
		tAuftragAdresse.kAuftrag,
		tAuftragAdresse.cFirma,
		tAuftragAdresse.cAnrede,
		tAuftragAdresse.cTitel,
		tAuftragAdresse.cVorname,
		tAuftragAdresse.cName,
		tAuftragAdresse.cStrasse,
		tAuftragAdresse.cPLZ,
		tAuftragAdresse.cOrt,
		tAuftragAdresse.cLand,
		tAuftragAdresse.cTel,
		tAuftragAdresse.cZusatz,
		tAuftragAdresse.cAdressZusatz,
		tAuftragAdresse.cPostID,
		tAuftragAdresse.cMobil,
		tAuftragAdresse.cMail,
		tAuftragAdresse.cFax,
		tAuftragAdresse.cBundesland,
		tAuftragAdresse.cISO,
		tAuftragAdresse.nTyp
	FROM Verkauf.tAuftragAdresse
	JOIN dbo.tUmlagerung ON tUmlagerung.kBestellung = tAuftragAdresse.kAuftrag
)
GO
