USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonAufzuschaltendeAngebote]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonAufzuschaltendeAngebote]
AS
(
    SELECT 

		pf_amazon_angebot_neu.csellersku + CAST(pf_amazon_angebot_neu.kuser AS varchar(255)) + CAST(pf_amazon_angebot_neu.nplattform AS varchar(255)) AS kAmazonAngebotNeu,
		pf_amazon_angebot_neu.csellersku AS cSellerSku, 
		pf_amazon_angebot_neu.cname AS cName, 
		pf_amazon_angebot_neu.nquantity AS nQuantity, 
		pf_amazon_angebot_neu.fprice AS fPrice, 
		pf_amazon_angebot_neu.ncondition AS nCondition, 
		CASE 
			WHEN pf_amazon_angebot_neu.nproductidtype = 1 THEN pf_amazon_angebot_neu.cproductid 
			ELSE tartikel.casin 
		END AS cAsin, 
		CASE 
			WHEN pf_amazon_angebot_neu.nproductidtype = 4 THEN pf_amazon_angebot_neu.cproductid 
			ELSE tartikel.cbarcode 
		END AS cEan, 
		CASE 
			WHEN pf_amazon_angebot_neu.nproductidtype = 2 THEN pf_amazon_angebot_neu.cproductid 
			ELSE tartikel.cisbn 
		END AS cIsbn, 
		CASE 
			WHEN pf_amazon_angebot_neu.nproductidtype = 3 THEN pf_amazon_angebot_neu.cproductid 
			ELSE tartikel.cupc 
		END AS cUpc, 
		pf_amazon_angebot_neu.kuser AS kUser, 
		pf_user.cName AS cPfUsername,
		tplattform.cwaehrung AS cWaehrung, 
		tlagerbestand.fverfuegbar AS fVerfuegbar, 
		pf_amazon_angebot_neu.nstatus AS nStatus, 
		pf_amazon_angebot_neu.cletzterfehler AS cLetzerFehler, 
		pf_amazon_angebot_neu.nplattform AS nPlattform, 
		pf_amazon_angebot_neu.cconditionnote AS cConditionnote, 
		pf_amazon_angebot_neu.nproductidtype AS nProductIdType,
		pf_amazon_angebot_neu.nFulfillmentChannel AS nFulfillmentChannel,
		pf_amazon_versandgruppen.cName AS cAmazonVersandgruppe,
		CASE 
			WHEN pf_amazon_angebot_neu.kArtikel IS NULL THEN tArtikel.kArtikel 
			ELSE pf_amazon_angebot_neu.kArtikel
		END AS ArtikelId,
		tArtikelBeschreibung.cName AS cArtikelName,
		tArtikel.cHAN AS cHan,
		tArtikel.cArtNr AS cArtikelnummerWawi

	FROM pf_amazon_angebot_neu
	LEFT JOIN tartikel ON tartikel.kArtikel = pf_amazon_angebot_neu.kArtikel 
	JOIN pf_user ON pf_user.kuser = pf_amazon_angebot_neu.kuser AND pf_user.naktiv = 1 
	LEFT JOIN tplattform ON pf_amazon_angebot_neu.nplattform = tplattform.nplattform 
	LEFT JOIN tlagerbestand ON tlagerbestand.kartikel = tartikel.kartikel 
	JOIN tspracheused ON tspracheused.nstandard = 1 
	LEFT JOIN tartikelbeschreibung ON tartikelbeschreibung.kartikel = tartikel.kartikel 
		AND tartikelbeschreibung.ksprache = tspracheused.ksprache 
		AND tartikelbeschreibung.kplattform = 1
	LEFT JOIN dbo.pf_amazon_versandgruppen ON pf_amazon_versandgruppen.kAmazonVersandgruppe = pf_amazon_angebot_neu.kAmazonVersandgruppe
)
GO
