USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vBuchhaltungsuebersichtExternerBeleg]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vBuchhaltungsuebersichtExternerBeleg]
AS
(
    SELECT
        tExternerBeleg.kExternerBeleg,
        tExternerBeleg.cBelegnr,
        tExternerBeleg.dBelegdatumUtc,
        tExternerBeleg.cWaehrungISO,
        tExternerBelegEckdaten.fVkBrutto,
        tExternerBelegEckdaten.fVkNetto
    FROM Rechnung.tExternerBeleg
    JOIN Rechnung.tExternerBelegEckdaten ON tExternerBelegEckdaten.kExternerBeleg = tExternerBeleg.kExternerBeleg
)
GO
