USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaInboundPositionData]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaInboundPositionData]
AS
(
	SELECT
		tAuftragPosition.kAuftragPosition,
		tUmlagerungPos.kUmlagerung,
		tAuftragPosition.kAuftrag,
		tAuftragPosition.kArtikel,
		tAuftragPosition.cArtNr,
		tAuftragPosition.cName,
		tAuftragPosition.fAnzahl,
		tFbaInboundPosition.kFbaInboundPosition,
		tFbaInboundPosition.kFbaInbound,
		tFbaInboundPosition.kUmlagerungPos,
		tFbaInboundPosition.cSKU,
		tFbaInboundPosition.cFNSKU,
		tFbaInboundPosition.nBoxQuantity,
		tFbaInboundPosition.kPackagingDetail,
		tFbaInboundPosition.cPrepCategory,
		tFbaInboundPosition.nLabelOwner,
		tFbaInboundPosition.nPrepOwner,
		tFbaInboundPosition.nPackagingDetailType,
		tFbaInboundPosition.nUnitsPerCarton,
		tFbaInboundPosition.nUnitsPerPallet,
		tFbaInboundPosition.fWidth,
		tFbaInboundPosition.fHeight,
		tFbaInboundPosition.fDepth,
		tFbaInboundPosition.fWeight,
		tFbaInboundPosition.nPalletQuantity
	FROM Verkauf.tAuftragPosition
	JOIN dbo.tUmlagerungPos ON tUmlagerungPos.kAuftragPosition = tAuftragPosition.kAuftragPosition
	JOIN Amazon.tFbaInboundPosition ON tFbaInboundPosition.kUmlagerungPos = tUmlagerungPos.kUmlagerungPos
	WHERE ISNULL(tAuftragPosition.kAuftragStueckliste, tAuftragPosition.kAuftragPosition) = tAuftragPosition.kAuftragPosition
)
GO
