USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vFbaInboundSkuFnskuMapping]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vFbaInboundSkuFnskuMapping]
AS
(
    SELECT
        pf_amazon_angebot_fba.cFNSKU,
        pf_amazon_angebot_fba.cSellerSKU,
        pf_amazon_angebot_fba.cMarketplaceID,
        pf_amazon_angebot_fba.cRegion,
        pf_amazon_angebot_fba.kUser,
        pf_amazon_angebot_mapping.kArtikel
    FROM dbo.pf_amazon_angebot_fba
    JOIN Amazon.vPlattform ON vPlattform.cMarketPlaceId = pf_amazon_angebot_fba.cMarketplaceID
    JOIN dbo.pf_amazon_angebot_mapping ON pf_amazon_angebot_mapping.cSellerSKU = pf_amazon_angebot_fba.cSellerSKU
        AND pf_amazon_angebot_mapping.kUser = pf_amazon_angebot_fba.kUser
)
GO
