USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvPreiskonfiguration]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvPreiskonfiguration] AS
(
	SELECT 
		tPreiskonfiguration.*,
		tPlattform.cName AS cPlattformName,
		ISNULL(pf_user.cRegion, '') AS cRegion
	FROM Amazon.tPreiskonfiguration
	JOIN dbo.pf_user ON pf_user.kUser = tPreiskonfiguration.kUser
	JOIN dbo.tPlattform ON tPlattform.nPlattform = tPreiskonfiguration.kPlattform
)
GO
