USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvAmazonItems]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvAmazonItems]
AS
(
    SELECT 
	
		nstatus AS nStatus, 
		tartikel.cartnr AS cArtNr, 
		tartikelbeschreibung.cname AS cName, 
		pf_amazon_item.kuser AS kUser, 
		pf_user.cName AS cPfUsername,
		Preis.cvalue          AS cDummyPreis, 
		pf_amazon_item.kplattform AS kPlattform, 
		pf_amazon_itemmapping.cvalue AS cValue, 
		pf_amazon_item.kitem AS kItem, 
		pf_amazon_group.cname AS cGroupName,
		SUBSTRING(pf_amazon_group.cname, 0, CHARINDEX('_', pf_amazon_group.cname, 0)) as cFlatFileName,
		SUBSTRING(pf_amazon_group.cname, CHARINDEX('_', pf_amazon_group.cname, 0) + 1, LEN(pf_amazon_group.cname)) as cProducttypeName,
		pf_amazon_item.kgroup AS kGroup, 
		BarcodeType.cvalue    AS cDummyBarcodeType, 
		Barcode.cvalue        AS cDummyBarcode, 
		ParentChild.cvalue    AS cDummyParentChild, 
		ParentSku.cvalue      AS cDummyParentSku, 
		ConditionType.cvalue  AS cDummyConditionType,
		tartikel.kartikel AS kArtikel, 
		pf_amazon_item.cerrormessage AS cErrormessage, 
		pf_amazon_item.derrorerstellt AS dErrorErstellt, 
		pf_amazon_item.nerrorcode AS nErrorCode, 
		pf_amazon_item.cerrorhilfetext AS cErrorHilfetext,
		tArtikel.cBarcode AS cEan,
		tArtikel.cISBN AS cIsbn,
		tArtikel.cUPC AS cUpc,
		tArtikel.cASIN AS cAsin,
		tArtikel.cHAN AS cHan, 
		pf_amazon_item.dlasttransmission AS dLastTransmission

	FROM pf_amazon_item 
    JOIN tartikel 
        ON tartikel.kartikel = pf_amazon_item.kartikel 
    JOIN tspracheused 
        ON tspracheused.nstandard = 1 
    JOIN tartikelbeschreibung 
        ON tartikelbeschreibung.kartikel = tartikel.kartikel 
        AND tartikelbeschreibung.ksprache = tspracheused.ksprache 
        AND tartikelbeschreibung.kplattform = 1 
    JOIN tplattform 
        ON tplattform.nplattform = pf_amazon_item.kplattform 
    JOIN pf_user 
        ON pf_user.kuser = pf_amazon_item.kuser AND pf_user.nAktiv = 1
    JOIN pf_amazon_group 
        ON pf_amazon_group.kgroup = pf_amazon_item.kgroup 
    LEFT JOIN pf_amazon_itemmapping 
            ON pf_amazon_itemmapping.kitem = pf_amazon_item.kitem 
                AND pf_amazon_itemmapping.ckey = 'item_sku' 
    LEFT JOIN pf_amazon_itemmapping Preis 
            ON Preis.kitem = pf_amazon_item.kitem 
                AND Preis.ckey = 'standard_price' 
    LEFT JOIN pf_amazon_itemmapping BarcodeType 
            ON BarcodeType.kitem = pf_amazon_item.kitem 
                AND BarcodeType.ckey = 'external_product_id_type' 
    LEFT JOIN pf_amazon_itemmapping Barcode 
            ON Barcode.kitem = pf_amazon_item.kitem 
                AND Barcode.ckey = 'external_product_id' 
    LEFT JOIN pf_amazon_itemmapping ParentChild 
            ON ParentChild.kitem = pf_amazon_item.kitem 
                AND ParentChild.ckey = 'parent_child' 
    LEFT JOIN pf_amazon_itemmapping ParentSku 
            ON ParentSku.kitem = pf_amazon_item.kitem 
                AND ParentSku.ckey = 'parent_sku' 
	LEFT JOIN pf_amazon_itemmapping ConditionType
            ON ConditionType.kitem = pf_amazon_item.kitem
                AND ConditionType.ckey = 'condition_type'
	WHERE dbo.pf_amazon_item.nStatus != 0
)
GO
