USE [eazybusiness]
GO
/****** Object:  View [Amazon].[lvVcsInvoiceDuplicate]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[lvVcsInvoiceDuplicate] AS
(
	SELECT 
		Auftrag.kAuftrag,
		tAuftrag.cAuftragsNr AS cAuftragsNr,
		Auftrag.cOriginalOrderId AS cExterneAuftragsNr,
		tAuftrag.dErstellt AS dAuftragsdatum,
		tAuftragEckdaten.fWertBrutto AS fAuftragsbetrag,
		trechnung.kRechnung,
		tRechnung.cRechnungsnr AS cRechnungsNr,
		tRechnungEckdaten.fVkBruttoGesamt AS fRechnungsbetrag,
		trechnung.dErstellt AS dRechnungsdatum,
		VcsHead.cExterneRechnungsNr AS cExterneRechnungsNr,
		ISNULL(VcsHead.dExternErstelldatum, VcsLiteHead.dExternErstelldatum) AS dExternErstelldatum,
		ISNULL(VcsBetrag.fExternerRechnungsbetrag, VcsLiteBetrag.fExternerRechnungsbetrag) AS fExternerRechnungsbetrag
	FROM 
	(
		SELECT
			tAuftragPosition.kAuftrag AS kAuftrag,
			pf_amazon_bestellung.cOriginalOrderId
		FROM Verkauf.tAuftragPosition 
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragPosition.kAuftrag AND tAuftrag.nType = 1
		JOIN dbo.pf_amazon_bestellungpos ON pf_amazon_bestellungpos.kAmazonBestellungPos = tAuftragPosition.kAmazonBestellungPos
		JOIN dbo.pf_amazon_bestellung ON pf_amazon_bestellung.kAmazonBestellung = pf_amazon_bestellungpos.kAmazonBestellung
		LEFT JOIN dbo.pf_amazon_vcs ON pf_amazon_vcs.OrderID = pf_amazon_bestellung.cOriginalOrderId
			AND pf_amazon_vcs.kUser = pf_amazon_bestellung.kUser		
			AND pf_amazon_vcs.TransactionType = 'SHIPMENT'
		LEFT JOIN dbo.pf_amazon_vcs_history ON pf_amazon_vcs_history.OrderID = pf_amazon_bestellung.cOriginalOrderId
			AND pf_amazon_vcs_history.kUser = pf_amazon_bestellung.kUser
			AND pf_amazon_vcs_history.TransactionType = 'SHIPMENT'
		LEFT JOIN Amazon.tVcsSelfInvoice ON tVcsSelfInvoice.OrderID = pf_amazon_bestellung.cOriginalOrderId
			AND tVcsSelfInvoice.kUser = pf_amazon_bestellung.kUser
			AND tVcsSelfInvoice.TransactionType = 'SHIPMENT'
		LEFT JOIN Amazon.tVcsSelfInvoiceHistory  ON tVcsSelfInvoiceHistory.OrderID = pf_amazon_bestellung.cOriginalOrderId
			AND tVcsSelfInvoiceHistory.kUser = pf_amazon_bestellung.kUser
			AND tVcsSelfInvoiceHistory.TransactionType = 'SHIPMENT'
		WHERE (pf_amazon_vcs.kMessageId IS NOT NULL
			OR pf_amazon_vcs_history.kMessageId IS NOT NULL
			OR tVcsSelfInvoice.kVCSData IS NOT NULL
			OR tVcsSelfInvoiceHistory.kVCSData IS NOT NULL)
			AND pf_amazon_bestellung.dErstellt > DATEADD(MONTH, -6, GETDATE())
		GROUP BY tAuftragPosition.kAuftrag, pf_amazon_bestellung.cOriginalOrderId
	) AS Auftrag
	JOIN Verkauf.tAuftrag  ON Auftrag.kAuftrag = tAuftrag.kAuftrag
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	OUTER APPLY
	(
		SELECT DISTINCT
			tRechnung.kRechnung,
			tRechnung.dErstellt,
			tRechnung.cRechnungsnr,
			tRechnung.nStorno
		FROM Rechnung.tRechnung 
		JOIN Rechnung.tRechnungPosition ON tRechnung.kRechnung = tRechnungPosition.kRechnung
		JOIN Verkauf.tAuftragPosition ON  tRechnungPosition.kAuftrag = tAuftrag.kAuftrag
		LEFT JOIN Amazon.tAmazonbestellpositionVCSZuordnung ON tAmazonbestellpositionVCSZuordnung.kRechnungPosition = tRechnungPosition.kRechnungPosition
		WHERE tAmazonbestellpositionVCSZuordnung.kRechnungPosition IS NULL
	) AS tRechnung
	JOIN Rechnung.tRechnungEckdaten ON tRechnung.kRechnung = tRechnungEckdaten.kRechnung
	LEFT JOIN dbo.tgutschrift ON tgutschrift.kRechnung = tRechnung.kRechnung
	LEFT JOIN Rechnung.tRechnungKorrektur ON tRechnung.kRechnung = tRechnungKorrektur.kRechnung	
	OUTER APPLY
	(
		SELECT TOP (1) 
			Vcs.cExterneRechnungsNr,
			Vcs.dExternErstelldatum
		FROM
		(
			SELECT 
				pf_amazon_vcs.VATInvoiceNumber AS cExterneRechnungsNr,
				pf_amazon_vcs.ShipmentDate AS dExternErstelldatum,
				pf_amazon_vcs.OrderID
			FROM dbo.pf_amazon_vcs 
			WHERE pf_amazon_vcs.TransactionType = 'SHIPMENT'
			UNION ALL
			SELECT 
				pf_amazon_vcs_history.VATInvoiceNumber AS cExterneRechnungsNr,
				pf_amazon_vcs_history.ShipmentDate AS dExternErstelldatum,
				pf_amazon_vcs_history.OrderID
			FROM dbo.pf_amazon_vcs_history  
			WHERE pf_amazon_vcs_history.TransactionType = 'SHIPMENT'
		) AS Vcs
		WHERE Vcs.OrderID = Auftrag.cOriginalOrderId
	) AS VcsHead
	OUTER APPLY
	(
		SELECT TOP (1) 
			VcsLite.dExternErstelldatum
		FROM
		(
			SELECT 
				tVcsSelfInvoice.ShippingDate AS dExternErstelldatum,
				tVcsSelfInvoice.OrderID
			FROM Amazon.tVcsSelfInvoice 
			WHERE tVcsSelfInvoice.TransactionType = 'SHIPMENT'
			UNION ALL
			SELECT 			
				tVcsSelfInvoiceHistory.ShippingDate AS dExternErstelldatum,
				tVcsSelfInvoiceHistory.OrderID
			FROM Amazon.tVcsSelfInvoiceHistory  
			WHERE tVcsSelfInvoiceHistory.TransactionType = 'SHIPMENT'
		) AS VcsLite
		WHERE VcsLite.OrderID = Auftrag.cOriginalOrderId
	) AS VcsLiteHead
	OUTER APPLY
	(
		SELECT 
			SUM(VcsLiteBetrag.fExternerRechnungsbetrag) AS fExternerRechnungsbetrag
		FROM
		(
			SELECT 
				SUM(VcsLite.ItemVatInclAmount)
				+ SUM(VcsLite.ItemPromoVatInclAmount)
				+ SUM(VcsLite.ShippingVatInclAmount)
				+ SUM(VcsLite.ShippingPromoVatInclAmount)
				+ SUm(VcsLite.GiftWrapVatInclAmount)
				+ SUM(VcsLite.GiftPromoVatInclAmount) AS fExternerRechnungsbetrag
			FROM
			(
				SELECT 
					tVcsSelfInvoiceHistory.ItemVatInclAmount,
					tVcsSelfInvoiceHistory.ItemPromoVatInclAmount,
					tVcsSelfInvoiceHistory.ShippingVatInclAmount,
					tVcsSelfInvoiceHistory.ShippingPromoVatInclAmount,
					tVcsSelfInvoiceHistory.GiftWrapVatInclAmount,
					tVcsSelfInvoiceHistory.GiftPromoVatInclAmount,
					tVcsSelfInvoiceHistory.OrderID,
					tVcsSelfInvoiceHistory.kUser,
					tVcsSelfInvoiceHistory.ShippingID,
					tVcsSelfInvoiceHistory.SKU,
					tVcsSelfInvoiceHistory.[ASIN]
				FROM Amazon.tVcsSelfInvoiceHistory
				WHERE tVcsSelfInvoiceHistory.TransactionType = 'SHIPMENT'
				UNION ALL
				SELECT 
					tVcsSelfInvoice.ItemVatInclAmount,
					tVcsSelfInvoice.ItemPromoVatInclAmount,
					tVcsSelfInvoice.ShippingVatInclAmount,
					tVcsSelfInvoice.ShippingPromoVatInclAmount,
					tVcsSelfInvoice.GiftWrapVatInclAmount,
					tVcsSelfInvoice.GiftPromoVatInclAmount,
					tVcsSelfInvoice.OrderID,
					tVcsSelfInvoice.kUser,
					tVcsSelfInvoice.ShippingID,
					tVcsSelfInvoice.SKU,
					tVcsSelfInvoice.[ASIN]
				FROM Amazon.tVcsSelfInvoice 
				WHERE tVcsSelfInvoice.TransactionType = 'SHIPMENT'
			) AS VcsLite
			WHERE VcsLite.OrderID = Auftrag.cOriginalOrderId
			GROUP BY VcsLite.OrderID, VcsLite.kUser, VcsLite.ShippingID, VcsLite.SKU, VcsLite.[ASIN]
		) AS VcsLiteBetrag
	) AS VcsLiteBetrag
	OUTER APPLY
	(
		SELECT 
			SUM(VcsBetrag.fExternerRechnungsbetrag) AS fExternerRechnungsbetrag
		FROM
		(
			SELECT 
				SUM(Vcs.OUR_PRICETaxInclusiveSellingPrice)
				+ SUM(Vcs.OUR_PRICETaxInclusivePromoAmount)
				+ SUM(Vcs.SHIPPINGTaxInclusiveSellingPrice)
				+ SUM(Vcs.SHIPPINGTaxInclusivePromoAmount)
				+ SUm(Vcs.GIFTWRAPTaxInclusiveSellingPrice)
				+ SUM(Vcs.GIFTWRAPTaxInclusivePromoAmount) AS fExternerRechnungsbetrag
			FROM
			(
				SELECT 
					pf_amazon_vcs.OUR_PRICETaxInclusiveSellingPrice,
					pf_amazon_vcs.OUR_PRICETaxInclusivePromoAmount,
					pf_amazon_vcs.SHIPPINGTaxInclusiveSellingPrice,
					pf_amazon_vcs.SHIPPINGTaxInclusivePromoAmount,
					pf_amazon_vcs.GIFTWRAPTaxInclusiveSellingPrice,
					pf_amazon_vcs.GIFTWRAPTaxInclusivePromoAmount,
					pf_amazon_vcs.OrderID,
					pf_amazon_vcs.kUser,
					pf_amazon_vcs.ShipmentID,
					pf_amazon_vcs.SKU,
					pf_amazon_vcs.[ASIN]
				FROM dbo.pf_amazon_vcs
				WHERE pf_amazon_vcs.TransactionType = 'SHIPMENT'
				UNION ALL
				SELECT 
					pf_amazon_vcs_history.OUR_PRICETaxInclusiveSellingPrice,
					pf_amazon_vcs_history.OUR_PRICETaxInclusivePromoAmount,
					pf_amazon_vcs_history.SHIPPINGTaxInclusiveSellingPrice,
					pf_amazon_vcs_history.SHIPPINGTaxInclusivePromoAmount,
					pf_amazon_vcs_history.GIFTWRAPTaxInclusiveSellingPrice,
					pf_amazon_vcs_history.GIFTWRAPTaxInclusivePromoAmount,
					pf_amazon_vcs_history.OrderID,
					pf_amazon_vcs_history.kUser,
					pf_amazon_vcs_history.ShipmentID,
					pf_amazon_vcs_history.SKU,
					pf_amazon_vcs_history.[ASIN]
				FROM dbo.pf_amazon_vcs_history 
				WHERE pf_amazon_vcs_history.TransactionType = 'SHIPMENT'
			) AS Vcs
			WHERE Vcs.OrderID = Auftrag.cOriginalOrderId
			GROUP BY Vcs.OrderID, Vcs.kUser, Vcs.ShipmentID, Vcs.SKU, Vcs.[ASIN]
		) AS VcsBetrag
	) AS VcsBetrag
	WHERE tRechnungKorrektur.kRechnung IS NULL
		AND tRechnung.kRechnung IS NOT NULL
		AND tRechnung.nStorno = 0
		AND tgutschrift.kGutschrift IS NULL		
)
GO
