USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vWarenlagerMarktplatzMapping]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vWarenlagerMarktplatzMapping]
AS
(
    SELECT
        tWarenLager.kWarenLager,
        tWarenLager.cName,
        WarenlagerMarktplatzMapping.cMarketplaceID,
        tWarenLager.kUser,
        pf_amazon_plattform.kPlattform
    FROM Amazon.WarenlagerMarktplatzMapping
    JOIN dbo.tWarenLager ON tWarenLager.kWarenLager = WarenlagerMarktplatzMapping.kWarenlager
    JOIN dbo.pf_amazon_plattform ON pf_amazon_plattform.cMarketPlaceId = WarenlagerMarktplatzMapping.cMarketplaceID
    WHERE tWarenLager.nFulfillment = 2
);
GO
