USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tAmazonbestellpositionVCSZuordnung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tAmazonbestellpositionVCSZuordnung](
	[kMessageId] [bigint] NOT NULL,
	[kAmazonBestellungPos] [int] NOT NULL,
	[nTyp] [tinyint] NOT NULL,
	[kRechnungPosition] [int] NULL
) ON [PRIMARY]
GO
