USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vAbgleichBerichtsanfrageMarktplatz]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vAbgleichBerichtsanfrageMarktplatz]
AS
	SELECT tBerichtsanfrageMarktplatz.*,
		pf_amazon_plattform.cMarketPlaceId
	FROM Amazon.tBerichtsanfrageMarktplatz
	JOIN dbo.pf_amazon_plattform ON pf_amazon_plattform.kPlattform = tBerichtsanfrageMarktplatz.kPlattform
GO
