USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tVcsSelfInvoicePosMapping]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tVcsSelfInvoicePosMapping](
	[kAmazonBestellungPos] [int] NOT NULL,
	[kBestellPos] [int] NOT NULL,
	[kVCSData] [int] NOT NULL,
	[nQuantity] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_Amazon_tVcsSelfInvoicePosMapping] PRIMARY KEY CLUSTERED 
(
	[kAmazonBestellungPos] ASC,
	[kBestellPos] ASC,
	[kVCSData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
