USE [eazybusiness]
GO
/****** Object:  Table [Amazon].[tFbaInbound]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Amazon].[tFbaInbound](
	[kFbaInbound] [int] IDENTITY(1,1) NOT NULL,
	[kUmlagerung] [int] NOT NULL,
	[kUser] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
	[nShippingServiceProvider] [tinyint] NOT NULL,
	[cPlanId] [nvarchar](200) NULL,
	[nUseGlobalPackagingDetails] [bit] NOT NULL,
 CONSTRAINT [PK_Amazon_tFbaInbound] PRIMARY KEY CLUSTERED 
(
	[kFbaInbound] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Amazon].[tFbaInbound]  WITH CHECK ADD  CONSTRAINT [FK_Amazon_tFbaInbound_kUmlagerung] FOREIGN KEY([kUmlagerung])
REFERENCES [dbo].[tUmlagerung] ([kUmlagerung])
ON DELETE CASCADE
GO
ALTER TABLE [Amazon].[tFbaInbound] CHECK CONSTRAINT [FK_Amazon_tFbaInbound_kUmlagerung]
GO
