USE [eazybusiness]
GO
/****** Object:  View [Amazon].[vVcsLiteRechnungErneuterUpload]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Amazon].[vVcsLiteRechnungErneuterUpload] AS SELECT 	
    tVcsLite.TransactionID,
    tVcsLite.kUser,
    MAX(tVcsLite.dVerarbeitetUtc) AS dVerarbeitetUtc,
    MAX(tVcsLite.dAktualisiertUtc) AS dAktualisiertUtc	
FROM Amazon.tVcsLite
JOIN Amazon.tTransaktionType ON tTransaktionType.nIstRechnung = 1
	AND tTransaktionType.cTransactionType = tVcsLite.TransactionType
WHERE tVcsLite.dVerarbeitetUtc IS NOT NULL
    AND tVcsLite.dAktualisiertUtc IS NOT NULL
    AND tVcsLite.dVerarbeitetUtc < tVcsLite.dAktualisiertUtc
    AND tVcsLite.InvoiceStatus IN ('InvoicePending', 'InvoiceRejected')
    AND tVcsLite.IsAmazonInvoiced = 0
GROUP BY tVcsLite.TransactionID,
    tVcsLite.kUser
GO
