USE [eazybusiness]
GO
/****** Object:  Table [Artikel].[tArtikelMehrzweckGutschein]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Artikel].[tArtikelMehrzweckGutschein](
	[kArtikel] [int] NOT NULL,
	[nIsMehrzweckGutschein] [tinyint] NOT NULL,
	[nGutscheinTyp] [int] NOT NULL,
	[nGutscheinVersandArt] [int] NULL,
	[kGutscheinDruckVorlage] [int] NULL,
	[cISO] [nvarchar](5) NOT NULL,
	[nBetrag] [decimal](28, 14) NULL,
	[cKampagne] [nvarchar](255) NULL,
	[nHatFestenBetrag] [bit] NOT NULL,
	[nGutscheinArt] [tinyint] NOT NULL,
 CONSTRAINT [PK_Artikel_tArtikelMehrzweckGutschein] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelMehrzweckGutschein_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein] CHECK CONSTRAINT [FK_Artikel_tArtikelMehrzweckGutschein_kArtikel]
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein]  WITH NOCHECK ADD  CONSTRAINT [FK_Artikel_tArtikelMehrzweckGutschein_kGutscheinDruckVorlage] FOREIGN KEY([kGutscheinDruckVorlage])
REFERENCES [Report].[tVorlagenset] ([kVorlagenset])
ON DELETE SET NULL
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein] CHECK CONSTRAINT [FK_Artikel_tArtikelMehrzweckGutschein_kGutscheinDruckVorlage]
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein]  WITH NOCHECK ADD  CONSTRAINT [CK_Artikel_tArtikelMehrzweckGutschein_nBetrag] CHECK  (([nGutscheinTyp]=(0) AND ([nHatFestenBetrag]=(1) AND [nBetrag] IS NOT NULL AND [nBetrag]>(0) OR [nHatFestenBetrag]=(0) AND [nBetrag] IS NULL) OR [nGutscheinTyp]=(1) AND ([nHatFestenBetrag]=(1) AND [nBetrag] IS NOT NULL AND [nBetrag]>=(0) OR [nHatFestenBetrag]=(0) AND [nBetrag] IS NULL)))
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein] CHECK CONSTRAINT [CK_Artikel_tArtikelMehrzweckGutschein_nBetrag]
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein]  WITH NOCHECK ADD  CONSTRAINT [CK_Artikel_tArtikelMehrzweckGutschein_nGutscheinArt] CHECK  (([nGutscheinArt]>=(0) AND [nGutscheinArt]<=(1)))
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein] CHECK CONSTRAINT [CK_Artikel_tArtikelMehrzweckGutschein_nGutscheinArt]
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein]  WITH NOCHECK ADD  CONSTRAINT [CK_Artikel_tArtikelMehrzweckGutschein_nGutscheinVersandArt] CHECK  (([nGutscheinTyp]=(0) AND [nGutscheinVersandArt]>=(0) AND [nGutscheinVersandArt]<=(2) AND [nGutscheinVersandArt] IS NOT NULL OR [nGutscheinTyp]=(1) AND [nGutscheinVersandArt] IS NULL))
GO
ALTER TABLE [Artikel].[tArtikelMehrzweckGutschein] CHECK CONSTRAINT [CK_Artikel_tArtikelMehrzweckGutschein_nGutscheinVersandArt]
GO
