USE [eazybusiness]
GO
/****** Object:  Table [Artikel].[tArtikelAsin]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Artikel].[tArtikelAsin](
	[kArtikelAsin] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cAsin] [nvarchar](30) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Artikel_tArtikelAsin] PRIMARY KEY CLUSTERED 
(
	[kArtikelAsin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Artikel_tArtikelAsin_cAsin_kArtikel] UNIQUE NONCLUSTERED 
(
	[cAsin] ASC,
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Artikel].[tArtikelAsin]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelAsin_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelAsin] CHECK CONSTRAINT [FK_Artikel_tArtikelAsin_kArtikel]
GO
