USE [eazybusiness]
GO
/****** Object:  View [ArtikelVerwaltung].[vKategorienMitSubKategorien]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ArtikelVerwaltung].[vKategorienMitSubKategorien]
AS
WITH KategorieMitUnterkategorien AS
(
    SELECT kKategorie,
           kKategorie AS StartKategorie
    FROM dbo.tkategorie
    UNION ALL
    SELECT dbo.tkategorie.kKategorie,
           KategorieMitUnterkategorien.StartKategorie
    FROM KategorieMitUnterkategorien
    JOIN dbo.tkategorie
        ON tkategorie.kOberKategorie = KategorieMitUnterkategorien.kKategorie
)
SELECT KategorieMitUnterkategorien.kKategorie,
       KategorieMitUnterkategorien.StartKategorie
FROM KategorieMitUnterkategorien;
GO
