USE [eazybusiness]
GO
/****** Object:  Table [Artikel].[tArtikelDimension]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Artikel].[tArtikelDimension](
	[kArtikelDimension] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kDimension] [int] NOT NULL,
	[fWert] [decimal](28, 14) NOT NULL,
	[kMasseinheit] [int] NULL,
	[fMinWert] [decimal](28, 14) NULL,
	[fMaxWert] [decimal](28, 14) NULL,
 CONSTRAINT [PK_Artikel_tArtikelDimension] PRIMARY KEY CLUSTERED 
(
	[kArtikelDimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Artikel].[tArtikelDimension]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelDimension_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelDimension] CHECK CONSTRAINT [FK_Artikel_tArtikelDimension_kArtikel]
GO
ALTER TABLE [Artikel].[tArtikelDimension]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelDimension_kDimension] FOREIGN KEY([kDimension])
REFERENCES [subset].[tDimension] ([kDimension])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelDimension] CHECK CONSTRAINT [FK_Artikel_tArtikelDimension_kDimension]
GO
ALTER TABLE [Artikel].[tArtikelDimension]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelDimension_kMassEinheit] FOREIGN KEY([kMasseinheit])
REFERENCES [dbo].[tMassEinheit] ([kMassEinheit])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelDimension] CHECK CONSTRAINT [FK_Artikel_tArtikelDimension_kMassEinheit]
GO
