USE [eazybusiness]
GO
/****** Object:  View [Artikel].[vGpsrAttributes]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Artikel].[vGpsrAttributes]
AS
/*************************************************************************************************************
Beschreibung:	Diese View wird zum Konvertieren der GPSR-Attribute in die GPSR-Zielstruktur verwendet
				und zeigt die Inhalte in den Attributen "normalisiert" an
--------------------------------------------------------------------------------------------------------------
-- Beispiel-Aufruf:
SELECT * FROM Artikel.vGpsrAttributes ORDER BY kArtikel
*************************************************************************************************************/
SELECT
			Art.kArtikel,
			Art.cArtNr,
			LEFT(HName.Inhalt, 128) AS HerstellerName,
			LEFT(HStreet.Inhalt, 255) AS HerstellerStreet,
			LEFT(HHouseNr.Inhalt, 30) AS HerstellerHouseNr,
			CASE
				WHEN LEN(HPostCode.Inhalt) = 4 AND HCountryIso2.cISO = 'DE' THEN '0' + HPostCode.Inhalt -- Führende 0 bei PLZ in DE ergänzen
				ELSE HPostCode.Inhalt
			END AS HerstellerPostCode, -- LEFT(..., 24) erfolgt im Subselect
			LEFT(HCity.Inhalt, 255) AS HerstellerCity,
			CASE WHEN HCountryStatesCheck.HasStates = 1 THEN NULL ELSE LEFT(HState.Inhalt, 255) END AS HerstellerState, -- Falls Bundesstaaten für das Land definiert sind => kein State-Freitext
			CASE WHEN HCountryStatesCheck.HasStates = 1 THEN HStateIso.cStateIso ELSE NULL END AS HerstellerStateIso,
			HCountry.Inhalt AS HerstellerCountry,
			HCountryIso2.cISO AS HerstellerCountryIso2,
			LEFT(HEmail.Inhalt, 255) AS HerstellerEmail,
			LEFT(HHomepage.Inhalt, 500) AS HerstellerHomepage,

			PName.Inhalt AS PersonName,
			LEFT(PParseName.FirstName, 255) AS PersonFirstName,
			LEFT(PParseName.LastName, 255) AS PersonLastName,
			LEFT(PStreet.Inhalt, 255) AS PersonStreet,
			LEFT(PHousNr.Inhalt, 30) AS PersonHouseNr,
			CASE
				WHEN LEN(PPostCode.Inhalt) = 4 AND PCountryIso2.cISO = 'DE' THEN '0' + PPostCode.Inhalt -- Führende 0 bei PLZ in DE ergänzen
				ELSE PPostCode.Inhalt
			END AS PersonPostCode,  -- LEFT(..., 24) erfolgt im Subselect
			LEFT(PCity.Inhalt, 255) AS PersonCity,
			CASE WHEN PCountryStatesCheck.HasStates = 1 THEN NULL ELSE LEFT(PState.Inhalt, 255) END AS PersonState, -- Falls Bundesstaaten für das Land definiert sind => kein State-Freitext
			CASE WHEN PCountryStatesCheck.HasStates = 1 THEN PStateIso.cStateIso ELSE NULL END AS PersonStateIso,
			PCountry.Inhalt AS PersonCountry,
			PCountryIso2.cIso AS PersonCountryIso2,
			LEFT(PEmail.Inhalt, 255) AS PersonEmail,
			LEFT(PHomepage.Inhalt, 500) AS PersonHomepage
FROM		dbo.tArtikel AS Art
OUTER APPLY	(
				SELECT	TOP (1)
						ArtAtt.kArtikel,
						ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_manufacturer_name'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS HName
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_manufacturer_street'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS HStreet
OUTER APPLY	(
				SELECT	TOP (1)
						CASE
							WHEN ISNULL(ArtAttSpr.cWertVarchar, '') = '' THEN CONVERT(NVARCHAR(10), ArtAttSpr.nWertInt)
							ELSE ArtAttSpr.cWertVarchar
						END AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_manufacturer_housenumber'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS HHouseNr
OUTER APPLY	(
				SELECT	TOP (1)
						CASE
							WHEN ISNULL(ArtAttSpr.cWertVarchar, '') = '' THEN CONVERT(NVARCHAR(24), ArtAttSpr.nWertInt)
							ELSE LEFT(ArtAttSpr.cWertVarchar, 24)
						END AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_manufacturer_postalcode'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS HPostCode
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_manufacturer_city'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS HCity
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_manufacturer_state'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS HState
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_manufacturer_country'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS HCountry 
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_manufacturer_email'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS HEmail
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_manufacturer_homepage'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS HHomepage
OUTER APPLY	(
				SELECT	TOP(1) L.cISO
				FROM	dbo.tLand AS L
				WHERE	L.cName = HCountry.Inhalt
						OR L.cNameEng = HCountry.Inhalt
						OR L.cNameFra = HCountry.Inhalt
						OR L.cISO = HCountry.Inhalt
						OR L.cISO3 = HCountry.Inhalt
			) AS HCountryIso2
CROSS APPLY	(
				SELECT	CASE
							WHEN EXISTS(SELECT 1 FROM dbo.tCountryState AS Chk WHERE Chk.cCountryIso2 = HCountryIso2.cISO) THEN 1
							ELSE 0
						END AS HasStates
			) AS HCountryStatesCheck
OUTER APPLY	(
				SELECT	TOP(1) CS.cCountryIso2 + '-' + CS.cStateIso AS cStateIso
				FROM	dbo.tCountryState AS CS
				WHERE	CS.cCountryIso2 = HCountryIso2.cIso
						AND (CS.cName = HState.Inhalt
							OR CS.cNameEng = HState.Inhalt
							OR CS.cStateIso = HState.Inhalt
						)
			) AS HStateIso
OUTER APPLY	(
				SELECT	TOP (1)
						ArtAttSpr.cWertVarchar AS Inhalt,
						ArtAtt.kArtikel
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_responsibleperson_name'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS PName
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_responsibleperson_street'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS PStreet
OUTER APPLY	(
				SELECT	TOP (1)
						CASE
							WHEN ISNULL(ArtAttSpr.cWertVarchar, '') = '' THEN CONVERT(NVARCHAR(10), ArtAttSpr.nWertInt)
							ELSE ArtAttSpr.cWertVarchar
						END AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_responsibleperson_housenumber'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS PHousNr
OUTER APPLY	(
				SELECT	TOP (1)
						CASE
							WHEN ISNULL(ArtAttSpr.cWertVarchar, '') = '' THEN CONVERT(NVARCHAR(24), ArtAttSpr.nWertInt)
							ELSE LEFT(ArtAttSpr.cWertVarchar, 24)
						END AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_responsibleperson_postalcode'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS PPostCode
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_responsibleperson_city'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS PCity
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_responsibleperson_state'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS PState
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_responsibleperson_country'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS PCountry
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_responsibleperson_email'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS PEmail
OUTER APPLY	(
				SELECT	TOP (1) ArtAttSpr.cWertVarchar AS Inhalt
				FROM	dbo.tAttribut AS Att
				JOIN	dbo.tFeldTyp AS FT ON FT.kFeldTyp = Att.kFeldTyp
				JOIN	dbo.tArtikelAttribut AS ArtAtt ON ArtAtt.kAttribut = Att.kAttribut
				JOIN	dbo.tArtikelAttributSprache AS ArtAttSpr ON ArtAttSpr.kArtikelAttribut = ArtAtt.kArtikelAttribut AND ArtAttSpr.kSprache = 0
				WHERE	Att.cAttributId = 'gpsr_responsibleperson_homepage'
						AND ArtAtt.kArtikel = Art.kArtikel
				ORDER BY ArtAtt.kShop
			) AS PHomepage
OUTER APPLY	(
				SELECT	TOP(1) L.cISO
				FROM	dbo.tLand AS L
				WHERE	L.cName = PCountry.Inhalt
						OR L.cNameEng = PCountry.Inhalt
						OR L.cNameFra = PCountry.Inhalt
						OR L.cISO = PCountry.Inhalt
						OR L.cISO3 = PCountry.Inhalt
			) AS PCountryIso2
CROSS APPLY	(
				SELECT	CASE
							WHEN EXISTS(SELECT 1 FROM dbo.tCountryState AS Chk WHERE Chk.cCountryIso2 = PCountryIso2.cISO) THEN 1
							ELSE 0
						END AS HasStates
			) AS PCountryStatesCheck
OUTER APPLY	(
				SELECT	TOP(1) CS.cCountryIso2 + '-' + CS.cStateIso AS cStateIso
				FROM	dbo.tCountryState AS CS
				WHERE	CS.cCountryIso2 = PCountryIso2.cIso
						AND (CS.cName = PState.Inhalt
							OR CS.cNameEng = PState.Inhalt
							OR CS.cStateIso = PState.Inhalt
						)
			) AS PStateIso
CROSS APPLY	dbo.tfnParseVorNachname(PName.Inhalt) AS PParseName
WHERE		HName.kArtikel IS NOT NULL -- Herstellername muss in den Attributen vorhanden sein oder
			OR PName.kArtikel IS NOT NULL -- Personenname muss in den Attributen vorhanden sein
GO
