USE [eazybusiness]
GO
/****** Object:  Table [Artikel].[tArtikelkosten]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Artikel].[tArtikelkosten](
	[kArtikelkosten] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[fArtikelkosten] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_Artikel_tArtikelkosten] PRIMARY KEY CLUSTERED 
(
	[kArtikelkosten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Artikel_tArtikelkosten_kArtikel] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Artikel].[tArtikelkosten]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelkosten_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelkosten] CHECK CONSTRAINT [FK_Artikel_tArtikelkosten_kArtikel]
GO
