USE [eazybusiness]
GO
/****** Object:  View [Artikel].[vGutschein]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- legt den View an. Die Spalten werden lediglich umbenannt. Es gibt keine Spalte nIsMehrzweckGutschein mehr. Dafür gibt es den JOIN auf tArtikel.
CREATE VIEW [Artikel].[vGutschein] AS
SELECT tArtikelMehrzweckGutschein.kArtikel,
       tArtikelMehrzweckGutschein.nGutscheinTyp AS nTyp,
	   tArtikelMehrzweckGutschein.nGutscheinVersandArt AS nAusgabeart,
	   tArtikelMehrzweckGutschein.kGutscheinDruckvorlage AS kVorlagenset,
	   tArtikelMehrzweckGutschein.cISO AS cIso,
	   tArtikelMehrzweckGutschein.nBetrag,
	   tArtikelMehrzweckGutschein.cKampagne,
	   tArtikelMehrzweckGutschein.nHatFestenBetrag,
	   tArtikelMehrzweckGutschein.nGutscheinArt AS nArt
FROM Artikel.tArtikelMehrzweckGutschein
JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelMehrzweckGutschein.kArtikel WHERE tArtikel.nSondertyp = 2
GO
