USE [eazybusiness]
GO
/****** Object:  View [ArtikelVerwaltung].[vArtikellisteMitLagerbestaenden]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ArtikelVerwaltung].[vArtikellisteMitLagerbestaenden] AS
SELECT
    vArtikel.*,
    startlagerTable.kWarenlager AS startlager,
    startlagerTable.fBestand AS startlagerbestand,
    ziellagerTable.kWarenlager AS ziellager,
    ziellagerTable.fBestand AS ziellagerbestand
FROM ArtikelVerwaltung.vArtikelliste AS vArtikel
         JOIN dbo.vLagerBestandProLagerAlle AS startlagerTable
                   ON vArtikel.kArtikel = startlagerTable.kArtikel
         JOIN dbo.vLagerBestandProLagerAlle AS ziellagerTable
                   ON vArtikel.kArtikel = ziellagerTable.kArtikel
GO
