USE [eazybusiness]
GO
/****** Object:  Table [Artikel].[tArtikelComplianceContact]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Artikel].[tArtikelComplianceContact](
	[kArtikelComplianceContact] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kProductComplianceContact] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Artikel_tArtikelComplianceContact] PRIMARY KEY CLUSTERED 
(
	[kArtikelComplianceContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Artikel_tArtikelComplianceContact_kArtikel_kProductComplianceContact] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kProductComplianceContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Artikel].[tArtikelComplianceContact]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelComplianceContact_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelComplianceContact] CHECK CONSTRAINT [FK_Artikel_tArtikelComplianceContact_kArtikel]
GO
ALTER TABLE [Artikel].[tArtikelComplianceContact]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelComplianceContact_kProductComplianceContact] FOREIGN KEY([kProductComplianceContact])
REFERENCES [Contact].[tProductComplianceContact] ([kProductComplianceContact])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelComplianceContact] CHECK CONSTRAINT [FK_Artikel_tArtikelComplianceContact_kProductComplianceContact]
GO
