USE [eazybusiness]
GO
/****** Object:  View [ArtikelVerwaltung].[vCategoryFamilyTree]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ArtikelVerwaltung].[vCategoryFamilyTree]
AS

WITH FindRoot AS
(
    SELECT kKategorie, kOberKategorie
    FROM tkategorie

    UNION ALL

    SELECT C.kKategorie, P.kOberKategorie
    FROM tkategorie P
    JOIN FindRoot C
		ON C.kOberKategorie = P.kKategorie 
		AND P.kOberKategorie <> P.kKategorie 
		AND C.kOberKategorie <> C.kKategorie
 )

	SELECT *
	FROM FindRoot R
GO
