USE [eazybusiness]
GO
/****** Object:  Table [Artikel].[tArtikelMindestLagerbestandProLager]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Artikel].[tArtikelMindestLagerbestandProLager](
	[kArtikelMindestLagerbestandProLager] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[fMindestbestand] [decimal](28, 14) NULL,
	[fMaximalbestand] [decimal](28, 14) NULL,
 CONSTRAINT [PK_Artikel_tArtikelMindestLagerbestandProLager] PRIMARY KEY CLUSTERED 
(
	[kArtikelMindestLagerbestandProLager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Artikel_tArtikelMindestLagerbestandProLager_kArtikel_kWarenlager] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kWarenlager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Artikel].[tArtikelMindestLagerbestandProLager]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelMindestLagerbestandProLager_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelMindestLagerbestandProLager] CHECK CONSTRAINT [FK_Artikel_tArtikelMindestLagerbestandProLager_kArtikel]
GO
ALTER TABLE [Artikel].[tArtikelMindestLagerbestandProLager]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelMindestLagerbestandProLager_kWarenlager] FOREIGN KEY([kWarenlager])
REFERENCES [dbo].[tWarenLager] ([kWarenLager])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelMindestLagerbestandProLager] CHECK CONSTRAINT [FK_Artikel_tArtikelMindestLagerbestandProLager_kWarenlager]
GO
