USE [eazybusiness]
GO
/****** Object:  View [ArtikelVerwaltung].[vEbayVorlagen]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ArtikelVerwaltung].[vEbayVorlagen] AS
SELECT tArtikel.kArtikel AS kArtikel, 
	   COUNT(EbayItem.kArtikel) AS AnzahlVorlagen
FROM dbo.tArtikel
LEFT JOIN 
(
	SELECT ebay_item.kArtikel
	FROM dbo.ebay_item 
	WHERE ebay_item.Status = 0
	AND ebay_item.Type = 'V'
) AS EbayItem ON EbayItem.kArtikel = tArtikel.kArtikel
GROUP BY tArtikel.kArtikel
GO
