USE [eazybusiness]
GO
/****** Object:  Table [Artikel].[tArtikelStateNotification]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Artikel].[tArtikelStateNotification](
	[uObserverId] [uniqueidentifier] NOT NULL,
	[kArtikel] [int] NOT NULL,
 CONSTRAINT [PK_Artikel_tArtikelStateNotification] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[uObserverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Artikel].[tArtikelStateNotification]  WITH CHECK ADD  CONSTRAINT [FK_tArtikelStateNotification_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelStateNotification] CHECK CONSTRAINT [FK_tArtikelStateNotification_kArtikel]
GO
ALTER TABLE [Artikel].[tArtikelStateNotification]  WITH CHECK ADD  CONSTRAINT [CK_Artikel_tArtikelStateNotification_uObserverId] CHECK  (([tArtikelStateNotification].[uObserverId]<>0x00))
GO
ALTER TABLE [Artikel].[tArtikelStateNotification] CHECK CONSTRAINT [CK_Artikel_tArtikelStateNotification_uObserverId]
GO
