USE [eazybusiness]
GO
/****** Object:  Table [Artikel].[tArtikelType]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Artikel].[tArtikelType](
	[kArtikel] [int] NOT NULL,
	[uArtikelType] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Artikel_tArtikelType] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[uArtikelType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Artikel].[tArtikelType]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelType_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelType] CHECK CONSTRAINT [FK_Artikel_tArtikelType_kArtikel]
GO
ALTER TABLE [Artikel].[tArtikelType]  WITH CHECK ADD  CONSTRAINT [CK_Artikel_tArtikelType_uArtikelTyp] CHECK  (([tArtikelType].[uArtikelType]<>0x00))
GO
ALTER TABLE [Artikel].[tArtikelType] CHECK CONSTRAINT [CK_Artikel_tArtikelType_uArtikelTyp]
GO
