USE [eazybusiness]
GO
/****** Object:  Table [Artikel].[tArtikelTeilmengen]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Artikel].[tArtikelTeilmengen](
	[kArtikel] [int] NOT NULL,
	[nTeilmengenPuffer] [int] NULL,
	[nReservierungsModus] [int] NOT NULL,
 CONSTRAINT [PK_Artikel_tArtikelTeilmengen] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Artikel].[tArtikelTeilmengen]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_tArtikelTeilmengen_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Artikel].[tArtikelTeilmengen] CHECK CONSTRAINT [FK_Artikel_tArtikelTeilmengen_kArtikel]
GO
