USE [eazybusiness]
GO
/****** Object:  View [ArtikelVerwaltung].[vArtikelliste]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ArtikelVerwaltung].[vArtikelliste] AS
SELECT
			Art.kArtikel,
			Art.kStueckliste,
			Art.kVaterArtikel,
			Art.kArtikel AS kArtikelForKategorieArtikel,
			Art.cArtNr AS Artikelnummer,
			ISNULL(Art.nSort, 0) AS Sortiernummer,
			ArtBe.cName AS Artikelname,
			EinhSpr.cName AS Einheit,
			Art.cBarcode AS EAN,
			Art.cHerkunftsland AS Herkunftsland,
			Art.cUNNummer AS UNNUmmer,
			Art.cHAN,
			Art.cGefahrnr AS Gefahrennummer,
			Art.cISBN AS ISBN,
			Art.cASIN AS "ASIN",
			Art.cTaric AS TaricCode,
			Art.cUPC AS UPC,
			Herst.cName AS Hersteller,
			LiefSt.cName AS Lieferstatus,
			Art.fBreite AS Breite,
			Art.fHoehe AS Hoehe,
			Art.fLaenge AS Laenge,
			CONVERT(datetime2(2), DATEADD(dd, 0, DATEDIFF(dd, 0, Art.dErstelldatum))) AS Erstelldatum,
            CONVERT(datetime2(2), DATEADD(dd, 0, DATEDIFF(dd, 0, Art.dMod))) AS Bearbeitungsdatum,
            CONVERT(datetime2(2), Art.dMod) AS Bearbeitungsuhrzeit,
			Ben.cName AS Bearbeiter,
			Art.fEKNetto AS EinkaufspreisDurchschnittNetto,
			Art.fLetzterEK AS EinkaufspreisLetzerEinkauf,
			Art.dLetzterEK AS DatumLetzerEinkauf,
			Art.fVKNetto AS VerkaufspreisNetto,
			Art.cLabelNamen AS Labels,
			Art.fUVP AS UVP,
			CASE WHEN Art.nIstVater = 1 THEN NULL ELSE Art.fVKNetto - Art.fEKNetto END AS Gewinn,
			Art.kZustand AS Zustand,
			ZuSpr.cName AS ZustandName,
			CASE WHEN Art.fVKNetto <> 0.0 THEN (Art.fVKNetto - Art.fEKNetto) / Art.fVKNetto * 100.0 ELSE 0.0 END AS GewinnInProzent,
			Art.fAmazonVK AS PreisAmazon,
			Art.fEbayPreis AS PreisEbay,
			CASE
				WHEN SPr.kArtikel IS NULL THEN 0
				ELSE CASE WHEN SPr.DatumAbgelaufen = 1 OR SPr.BestandAbgelaufen = 1 THEN 1 ELSE 2 END
			END AS Sonderpreis,
			CASE WHEN Art.nVPE > 0 THEN Art.fGrundpreisMenge ELSE NULL END AS GrundpreisWert,
			GPEinh.cDisplayCode AS Grundpreiseinheit,
			MEinh.cName AS Masseinheit,
			Art.fGewicht AS Versandgewicht,
			Art.fArtGewicht AS Gewicht,
			LB.fLagerbestand AS BestandGesamt,
			LB.fLagerbestandEigen AS BestandEigen,
			LB.fZulauf AS BestandImZulauf,
			LB.fAufEinkaufsliste AS BestandAufEinkaufsliste,
			LB.fInAuftraegen AS BestandInAuftraegen,
			LB.fVerfuegbar AS BestandVerfuegbar,
			Art.nMindestbestellmaenge AS MindestAbnahmemenge,
			Art.fAbnahmeintervall AS Abnahmeintervall,
			ISNULL(AmAngSum.AnzahlInAmazonAngeboten, 0.0) AS BestandInAmazonAngeboten,
			Art.cLagerAktiv AS cLagerfuehrungaktiv,
			Art.cPreisliste AS cIstAufPreisliste,
			Art.cAktiv AS cIstAktiv,
			Art.cTopArtikel AS cIstTopArtikel,
			Art.cNeu AS cIstNeu,
			CONVERT(BIT, CASE WHEN Art.kStueckliste > 0 THEN 1 ELSE 0 END) AS IstStueckliste,
			CONVERT(BIT, CASE WHEN SLKomp.kArtikel IS NULL THEN 0 ELSE 1 END) AS IstStuecklistenkomponente,
			Art.cLagerArtikel AS cIstSeriennummer,
			Art.cTeilbar AS cIstStueckzahlteilbar,
			Art.cLagerKleinerNull AS cIstUeberverkaufMoeglich,
			Art.nIstVater AS nIstVarkombiVater,
			CASE WHEN Art.kVaterArtikel > 0 THEN 1 ELSE 0 END AS nIstVarkombikind,
			Art.nIstMindestbestand AS nHatMindestbestand,
			Art.nMHD AS nIstMHD,
			Art.nCharge AS nIstCharge,
			Art.nNichtBestellbar AS nIstFuerBestellvorschlagGesperrt,
			CASE WHEN ShopAktiv.kArtikel > 0 THEN 1 ELSE 0 END AS nShopAktiv,
			Art.nVPE,
			CASE
				WHEN Art.kVaterArtikel > 0 THEN ISNULL(EbIV.Summe, 0) + ISNULL(EbI.ItemSumme, 0)
				WHEN Art.nIstVater > 0 THEN ISNULL(EbI.KombiSumme, 0) + ISNULL(EbI.ItemSumme, 0)
				ELSE ISNULL(EbI.ItemSumme, 0)
			END AS EBayBestand,
			Art.fVKNetto + ISNULL(Art.fVKNetto / 100 * (StS.fSteuersatz), 0) AS VerkaufspreisBrutto,	
			LEFT(Art.cAnmerkung, 255) AS Anmerkung,
			StdLief.cFirma AS Lieferant,
			Art.nAutomatischeLiefertageberechnung AS nBeschaffungszeitAutomatisch,
			Art.nLiefertageWennAusverkauft AS BeschaffungszeitManuell,
			LEFT(ArtBe.cBeschreibung, 255) AS Beschreibung,
			CONVERT(datetime2(2), DATEADD(dd, 0, DATEDIFF(dd, 0, dErscheinungsdatum))) AS ErscheintAm,
			LEFT(ArtBe.cKurzBeschreibung, 255) AS Kurzbeschreibung,
			Art.nNichtBestellbar AS KeinBestellvorgang,
			Art.cSerie AS Serie,
			SK.cName AS Steuerklasse,
			WG.cName AS Warengruppe,
			Art.nBearbeitungszeit AS ZusaetzlicheBearbeitungszeit,
			VK.cName AS Versandklasse,
			FfnRef.cJfsku AS JTLFPID,
			CASE WHEN ISNULL(FfnRef.cJfsku, '') <> '' AND FfnRef.nType = 2 THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS FfnAktiv,
			CASE WHEN ISNULL(FfnRef.cJfsku, '') <> '' AND SUBSTRING(FfnRef.cJfsku,1,4) = (SELECT TOP(1) cUserId FROM FulfillmentNetwork.tLogin) THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS FfnEigen,
			ZuSpr.kSprache AS ZustandSprache,
			LB.fInAuftraegen AS ReserviertGesamt,
			Art.cAmazonFNSKU AS AmazonFNSKU,
			Art.nPuffer AS Puffer,
			Art.nSeriennummernVerfolgung AS nSeriennummernVerfolgung,
			LEFT(ArtBe.cMetaDescription, 255) AS MetaDescription,
			LEFT(ArtBe.cTitleTag, 255) AS TitleTag,
			LEFT(ArtBe.cMetaKeywords, 255) AS MetaKeywords,
			Art.nMidestbestand,
			F.kFirma AS kFirma
FROM		dbo.tArtikel AS Art
JOIN		dbo.tZustand AS Zu ON Art.kZustand = Zu.kZustand
JOIN		dbo.tZustandSprache AS ZuSpr ON Art.kZustand = ZuSpr.kZustand
JOIN		dbo.tArtikelBeschreibung AS ArtBe ON Art.kArtikel = ArtBe.kArtikel AND ZuSpr.kSprache = ArtBe.kSprache AND ArtBe.kPlattform = 1
JOIN		dbo.tLagerbestand AS LB ON Art.kArtikel = LB.kArtikel
CROSS APPLY	dbo.tFirma AS F
LEFT JOIN	Steuern.tSteuerdatenCache AS SC ON SC.kFirma = F.kFirma AND SC.cVersandlandIso = F.cLandISO AND SC.cZiellandIso = F.cLandISO AND SC.cZielbundesland = ''
LEFT JOIN	dbo.tSteuersatz AS StS ON StS.kSteuerklasse = Art.kSteuerklasse AND StS.kSteuerzone = SC.kSteuerzone
LEFT JOIN	dbo.tSteuerklasse AS SK ON SK.kSteuerklasse = Art.kSteuerklasse
LEFT JOIN	FulfillmentNetwork.tProductRef AS FfnRef ON FfnRef.kArtikel = Art.kArtikel
LEFT JOIN	(
				SELECT	LiefArt.tArtikel_kArtikel AS kArtikel,
						Lief.cFirma,
						Lief.nJtlFulfillment
				FROM	dbo.tLieferant AS Lief
				JOIN	dbo.tLiefartikel AS LiefArt ON Lief.kLieferant = LiefArt.tLieferant_kLieferant
				WHERE	LiefArt.nStandard = 1
			) AS StdLief ON StdLief.kArtikel = Art.kArtikel 
LEFT JOIN	dbo.tWarengruppe AS WG ON WG.kWarengruppe = Art.kWarengruppe
LEFT JOIN	dbo.tVersandklasse AS VK ON VK.kVersandklasse = Art.kVersandklasse
LEFT JOIN	eazybusiness.dbo.tBenutzer AS Ben ON Art.kBenutzerLetzteAenderung = Ben.kBenutzer
LEFT JOIN	dbo.tLieferStatus AS LiefSt ON Art.kLieferStatus = LiefSt.kLieferStatus AND ZuSpr.kSprache = LiefSt.kSprache
LEFT JOIN	dbo.tHersteller AS Herst ON Art.kHersteller = Herst.kHersteller
LEFT JOIN	dbo.tEinheitSprache AS EinhSpr ON Art.kVerkaufsEinheit = EinhSpr.kEinheit AND ZuSpr.kSprache = EinhSpr.kSprache
LEFT JOIN	dbo.tMassEinheit AS GPEinh /* Grundpreiseinheit */ ON Art.kGrundPreisEinheit = GPEinh.kMassEinheit
LEFT JOIN	dbo.tMassEinheitSprache AS MEinh ON MEinh.kSprache = ZuSpr.kSprache AND MEinh.kMassEinheit = Art.kMassEinheit
LEFT JOIN	(
				SELECT	SL.kArtikel
				FROM	dbo.tStueckliste AS SL
				GROUP BY SL.kArtikel
			) AS SLKomp ON Art.kArtikel = SLKomp.kArtikel
LEFT JOIN	(
				SELECT DISTINCT ArtSh.kArtikel
				FROM	dbo.tArtikelShop AS ArtSh
				WHERE	EXISTS (SELECT 1  FROM dbo.tShop AS Sh WHERE Sh.nGesperrt = 0 AND Sh.kShop = ArtSh.kShop)
			) AS ShopAktiv ON ShopAktiv.kArtikel = Art.kArtikel
LEFT JOIN	(
				SELECT	ArtSP.kArtikel,
						MIN(CASE WHEN ArtSP.nIstDatum <> 0 AND CONVERT(DATE, ISNULL(ArtSP.dEnde, GETDATE())) < CONVERT(DATE, GETDATE()) THEN 1 ELSE 0 END) AS DatumAbgelaufen,
						MIN(CASE WHEN ArtSP.nIstAnzahl <> 0 AND ArtSP.nAnzahl > LB.fVerfuegbar THEN 1 ELSE 0 END) AS BestandAbgelaufen
				FROM	dbo.tArtikelSonderpreis AS ArtSP
				JOIN	dbo.tLagerbestand AS LB ON ArtSP.kArtikel = LB.kArtikel
				WHERE	ArtSP.nAktiv = 1
				GROUP BY ArtSP.kArtikel
			) AS SPr /* SonderPreise */ ON Art.kArtikel = SPr.kArtikel
LEFT JOIN	(
				SELECT		cSellerSKU,
							SUM(AmA.nQuantity) AS AnzahlInAmazonAngeboten
				FROM		dbo.pf_amazon_angebot AS AmA
				GROUP BY	AmA.cSellerSKU
			) AS AmAngSum /* AmazonInAngebotMengen */ ON Art.cArtNr = AmAngSum.cSellerSKU
LEFT JOIN	(
				SELECT		EbI.kArtikel,
							SUM(EbI.Quantity) AS ItemSumme,
							SUM(I2K.Summe) AS KombiSumme
				FROM		dbo.ebay_item AS EbI
				LEFT JOIN	(
								SELECT	EbI2K.kItem,
										SUM(fAnzahl) AS Summe 
								FROM	dbo.ebay_item2kombi AS EbI2K
								GROUP BY EbI2K.kItem
							) AS I2K ON EbI.kItem = I2K.kItem
				WHERE		EbI.Status IN (3, 7) -- 3 = laufend | 7 = laufend + fehlerhaft
				GROUP BY	EbI.kArtikel --, item2kombi.Summe
			) AS EbI ON EbI.kArtikel = Art.kArtikel
LEFT JOIN	(
				SELECT		EbI2K.kEigenschaftKombi,
							SUM(fAnzahl) AS Summe 
				FROM		dbo.ebay_item AS EbI
				JOIN		dbo.ebay_item2kombi AS EbI2K ON EbI.kItem = EbI2K.kItem
				WHERE		EbI.Status IN (3, 7) -- 3 = laufend | 7 = laufend + fehlerhaft
				GROUP BY	kEigenschaftKombi
			) AS EbIV /* EbayItemVater */ ON EbIV.kEigenschaftKombi = Art.kEigenschaftKombi;
GO
