USE [eazybusiness]
GO
/****** Object:  View [ArtikelVerwaltung].[vArtikelStuecklistenKomponenten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [ArtikelVerwaltung].[vArtikelStuecklistenKomponenten] AS 
    SELECT tStueckliste.kStueckliste AS kVaterStueckliste, tStueckliste.fAnzahl, ArtikelVerwaltung.vArtikelliste.*
	FROM dbo.tStueckliste
	JOIN ArtikelVerwaltung.vArtikelliste ON tStueckliste.kArtikel = vArtikelliste.kArtikel
GO
