USE [eazybusiness]
GO
/****** Object:  View [Auftrag].[vProzentGeliefert]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Auftrag].[vProzentGeliefert] AS 
SELECT	vAuftrag.kAuftrag AS kBestellung,
		CASE 
			WHEN vAuftrag.nKomplettAusgeliefert > 1 OR ISNULL(Mengen.fAnzahl, 0.0) = 0.0 THEN 100
			ELSE ROUND((AufLieferschein.fAnzahl - Unversendet.fAnzahl) / Mengen.fAnzahl * 100.0, 0)
		END AS ProzGeliefert,
		CASE 
			WHEN vAuftrag.nKomplettAusgeliefert > 0 OR ISNULL(Mengen.fAnzahl, 0.0) = 0.0 THEN 100
			ELSE ROUND(AufLieferschein.fAnzahl / Mengen.fAnzahl * 100.0, 0)
		END AS ProzAufLieferschein
FROM Verkauf.vAuftrag
LEFT JOIN
(
	SELECT
		vAuftragPosition.kAuftrag AS kBestellung,
		SUM(vAuftragPosition.fAnzahl) AS fAnzahl
	FROM Verkauf.vAuftragPosition
	WHERE vAuftragPosition.nType IN (0, 1, 11, 17, 18, 19, 20)
	GROUP BY vAuftragPosition.kAuftrag
) AS Mengen ON Mengen.kBestellung = vAuftrag.kAuftrag
LEFT JOIN(
	SELECT
		vAuftragPosition.kAuftrag AS kBestellung,
		SUM(ISNULL(tLieferscheinPos.fAnzahl, 0)) AS fAnzahl
	FROM Verkauf.vAuftragPosition
	LEFT JOIN dbo.tLieferscheinPos ON tLieferscheinPos.kBestellPos = vAuftragPosition.kAuftragPosition	
	WHERE vAuftragPosition.nType IN (0, 1, 11, 17, 18, 19, 20)
	GROUP BY vAuftragPosition.kAuftrag
) AS AufLieferschein ON AufLieferschein.kBestellung = vAuftrag.kAuftrag
LEFT JOIN
(
	SELECT
		vAuftragPosition.kAuftrag AS kBestellung,
		SUM(ISNULL(NichtVersendeteLieferscheinPos.fAnzahl, 0)) AS fAnzahl
	FROM Verkauf.vAuftragPosition
	LEFT JOIN (
		SELECT
			tLieferscheinPos.kBestellPos,
			tLieferscheinPos.fAnzahl
		FROM dbo.tLieferscheinPos
		JOIN (
			SELECT 
				tVersand.kLieferschein
			FROM dbo.tVersand
			WHERE tVersand.dVersendet IS NULL
			GROUP BY tVersand.kLieferschein
		) AS NichtVersendeteLieferscheine ON NichtVersendeteLieferscheine.kLieferschein = tLieferscheinPos.kLieferschein
	) AS NichtVersendeteLieferscheinPos ON NichtVersendeteLieferscheinPos.kBestellPos = vAuftragPosition.kAuftragPosition
	WHERE vAuftragPosition.nType IN (0, 1, 11, 17, 18, 19, 20)
	GROUP BY vAuftragPosition.kAuftrag
) AS Unversendet ON Unversendet.kBestellung = vAuftrag.kAuftrag
WHERE vAuftrag.nType = 1
GO
