USE [eazybusiness]
GO
/****** Object:  View [Auslieferung].[vBestellPos]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Auslieferung].[vBestellPos] 
AS
	SELECT	tAuftragPosition.kAuftragPosition AS kBestellPos,
			tAuftrag.kAuftrag AS kBestellung, 
			tAuftrag.nType AS nBestellungTyp,
			CASE WHEN tAuftragPosition.nType IS NULL THEN NULL ELSE tAuftragPosition.nType END AS nTyp,
			ISNULL(tAuftragPosition.kArtikel, 0) AS kArtikel,
			tAuftragPosition.cArtNr,
			tAuftragPosition.cName AS cString,
			tAuftragPosition.cNameStandard AS cStringStandard,
			tAuftragPosition.fAnzahl AS fAnzahl, 
			tAuftragPosition.fVKNetto,
			ISNULL(CAST(tAuftragPosition.fVkNetto + ((100 + tAuftragPosition.fMwSt) / 100) AS DECIMAL(25,13)),0.0) AS fVKPreis, 
			tAuftragPosition.fMwSt,
			tAuftragPosition.fRabatt, 
			tAuftragPosition.cHinweis, 
			CAST(tAuftragPosition.nHatUpload AS INT) nHatUpload, 
			CAST(tAuftragPosition.kKonfigVater AS VARCHAR(30)) AS cUnique, 
			ISNULL(tAuftragPosition.kAuftragStueckliste, 0) AS kBestellStueckliste,
			tAuftragPosition.kKonfigitem,
			tAuftragPosition.fEKNetto, 
			CAST(pf_amazon_bestellungpos.cOrderItemId AS VARCHAR(255)) AS cOrderItemId, 
			ebay_transaction.ItemID AS cItemID, 
			ebay_transaction.TransactionID AS cTransactionID, 
			tAuftragPosition.kAmazonBestellungPos, 
			tAuftragPosition.nSort, 
			vBestellPosLieferInfoProLager.fAnzahlOffen AS fAnzahlOffen,
			CASE 
				WHEN tArtikel.cLagerAktiv = 'Y' AND tArtikel.cLagerVariation = 'N' 
					THEN CASE WHEN tAuftrag.nType = 2 THEN tlagerbestand.fLagerbestand - tlagerbestand.fAuslieferungGesperrt
								ELSE tlagerbestand.fLagerbestand
						END
				ELSE tAuftragPosition.fAnzahl
			END AS fLagerbestand,
			ISNULL(tArtikel.nCharge, 0) AS nIstChargenartikel,
			ISNULL(tArtikel.nMHD, 0) AS nIstMHDArtikel,
			CASE 
				WHEN tArtikel.cLagerArtikel = 'Y' THEN 1
				ELSE 0
			END AS nIstSeriennummernartikel,
			CASE
				WHEN tArtikel.cLagerAktiv = 'Y' AND tArtikel.cLagerVariation != 'Y' THEN 1
				ELSE 0
			END    AS nIstLagerfuehrend,
			ISNULL(tArtikel.fGewicht, 0.0) AS fVersandgewicht,
			CASE
				WHEN Stuecklistenvater.kBestellStueckliste IS NOT NULL AND Stuecklistenvater.nAnzahl > 0 THEN tAuftragPosition.fAnzahl / Stuecklistenvater.nAnzahl
				WHEN Stuecklistenvater.kBestellStueckliste IS NOT NULL THEN tAuftragPosition.fAnzahl
				WHEN Konfivater.cUnique IS NOT NULL AND Konfivater.nAnzahl > 0 THEN tAuftragPosition.fAnzahl / Konfivater.nAnzahl
				WHEN Konfivater.cUnique IS NOT NULL THEN tAuftragPosition.fAnzahl
				WHEN tAuftrag.nType = 2 THEN tAuftragPosition.fAnzahl --Umlagerung
				ELSE 1
			END AS fTeillieferungFaktor,
			Bestelleigenschaften.cName AS cVariationen,
			CASE
				WHEN tArtikel.nIstVater > 0 THEN 100 -- 100 == Artikel ist Varkombivater
				WHEN ISNULL(tAuftrag.kRueckhaltegrund, 0) > 0 THEN 200 -- 200 == Bestellung ist gesperrt
				WHEN ISNULL(tkunde.cSperre, 'N') = 'Y' AND tAuftrag.kPlattform <> 7  THEN 201 -- 201 == Kunde ist gesperrt
				WHEN ISNULL(tAuftrag.nType, '') NOT IN (1,2) THEN 202 -- 202 == Kein Auftrag
				WHEN (tAuftragEckdaten.dBezahlt IS NULL) AND (ISNULL(tZahlungsart.nAusliefernVorZahlung, 0) = 0) THEN 203 -- 203 == unbezahlt
				WHEN tversandart.kVersandArt IS NULL THEN 204 -- 204 == keine Versandart gesetzt
				WHEN tAuftragPositionEckdaten.nVersandSperre = 1 THEN 205 -- 205 == Versandsperre gesetzt
				ELSE 0
			END AS nSperrungStatus,
			CASE    
				WHEN tAuftragPosition.fAnzahl = 0 THEN 1 -- 1 == Position mit Menge 0				
				WHEN ISNULL(vBestellPosLieferInfoProLager.fAnzahlOffen, -1) = 0 THEN 3 -- 3 == Position nicht reserviert
				WHEN ISNULL(vBestellPosLieferInfoProLager.fAnzahlReserviert, 0) + ISNULL(BestaendeProSession.fAnzahlAufPicklisten, 0.0) = 0 THEN 2 -- 2 == Bereits auf Picklisten
				ELSE 0
			END AS nWarnungStatus,
			BestaendeProSession.kSessionId AS kSessionId,
			CASE WHEN tAuftrag.nType = 2 THEN 1
				ELSE 0
			END AS nIstUmlagerung
	FROM Verkauf.tAuftragPosition
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragPosition.kAuftrag
	LEFT JOIN dbo.ebay_transaction ON tAuftragPosition.kEbayTransaction = ebay_transaction.kTransaction
	LEFT JOIN dbo.pf_amazon_bestellungpos ON pf_amazon_bestellungpos.kAmazonBestellungPos = tAuftragPosition.kAmazonBestellungPos
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	JOIN Verkauf.tAuftragPositionEckdaten ON tAuftragPositionEckdaten.kAuftragPosition = tAuftragPosition.kAuftragPosition
	LEFT JOIN dbo.tZahlungsart ON tZahlungsArt.kZahlungsArt = tAuftrag.kZahlungsArt
	LEFT JOIN dbo.tversandart ON tversandart.kVersandArt = tAuftrag.kVersandArt
	LEFT JOIN dbo.tkunde ON tkunde.kKunde = tAuftrag.kKunde
	LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tAuftragPosition.kArtikel
	LEFT JOIN Versand.vBestellPosLieferInfoProLager ON vBestellPosLieferInfoProLager.kBestellPos = tAuftragPosition.kAuftragPosition 
													AND vBestellPosLieferInfoProLager.kWarenlager = 0
	LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = tAuftragPosition.kArtikel
	LEFT JOIN (
				SELECT	PLP.kBestellPos,
						SUM(ISNULL(PLP.fAnzahl, 0.0)) AS fAnzahlAufPicklisten,
						PL.kSessionId
				FROM	dbo.tPicklistePos AS PLP
				JOIN	dbo.tPickliste AS PL ON PL.kPickliste = PLP.kPickliste
				WHERE	PLP.nStatus < 40 -- 40 = Abgeschlossen
						AND PL.nType <> 3 -- 3 = Reserviert
				GROUP BY PLP.kBestellPos, PL.kSessionId
				UNION
				SELECT	tAuftragPosition.kAuftragPosition AS kBestellPos,
						0.0 AS fAnzahlAufPicklisten,
						NULL AS kSessionId
				FROM	Verkauf.tAuftragPosition
			  ) AS BestaendeProSession ON BestaendeProSession.kBestellPos = tAuftragPosition.kAuftragPosition
	LEFT JOIN (
		SELECT	tAuftragPosition.kAuftragStueckliste AS kBestellStueckliste,
				tAuftragPosition.fAnzahl AS nAnzahl
		FROM Verkauf.tAuftragPosition
		WHERE tAuftragPosition.kAuftragStueckliste > 0 
			AND tAuftragPosition.kAuftragStueckliste = tAuftragPosition.kAuftragPosition
	) AS Stuecklistenvater ON tAuftragPosition.kAuftragStueckliste <> tAuftragPosition.kAuftragPosition 
						AND Stuecklistenvater.kBestellStueckliste = tAuftragPosition.kAuftragStueckliste
	LEFT JOIN (
		SELECT	tAuftragPosition.kAuftrag,
				tAuftragPosition.kKonfigVater AS cUnique,
				tAuftragPosition.fAnzahl AS nAnzahl
		FROM Verkauf.tAuftragPosition
		WHERE tAuftragPosition.kKonfigVater IS NOT NULL 
			AND tAuftragPosition.kKonfigItem = 0
	) AS Konfivater ON Konfivater.kAuftrag = tAuftrag.kAuftrag
						AND tAuftragPosition.kKonfigVater IS NOT NULL 
						AND tAuftragPosition.kKonfigItem IS NOT NULL
						AND Konfivater.cUnique = tAuftragPosition.kKonfigVater 
	LEFT JOIN (
		SELECT	tAuftragPositionEigenschaft.kAuftragPosition,
				cName = STUFF((SELECT ', ' + CAST(be.[cName] AS VARCHAR(MAX)) + ':' + CAST(be.[cWert] AS VARCHAR(MAX)) 
								FROM Verkauf.tAuftragPositionEigenschaft AS be 
								WHERE (be.kAuftragPosition = tAuftragPositionEigenschaft.kAuftragPosition) 
								FOR XML PATH(''),TYPE).value('(./text())[1]','VARCHAR(MAX)'),1,2,'')
		FROM Verkauf.tAuftragPositionEigenschaft
		GROUP BY tAuftragPositionEigenschaft.kAuftragPosition
	) AS Bestelleigenschaften ON Bestelleigenschaften.kAuftragPosition = tAuftragPosition.kAuftragPosition
	WHERE tAuftragPosition.nType IN (0,1,10,11,17,18,19,20)
GO
