USE [eazybusiness]
GO
/****** Object:  View [Auslieferung].[vBestellung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Auslieferung].[vBestellung] AS
SELECT
	vAuftrag.kAuftrag AS kBestellung, 
	vAuftrag.kBenutzer AS kBenutzer, 
	ISNULL(vAuftrag.kKunde, 0) AS kKunde, 
	vAuftrag.cAuftragsNr AS cBestellNr,
	vAuftrag.kVersandArt AS kVersandart,
	vAuftragLieferadresse.cPLZ AS cLieferadressePlz,
	vAuftragLieferadresse.cLand AS cLieferadresseLand,   
	vAuftragRechnungsadresse.cFirma AS cRechnungsadresseFirma,
	vAuftragRechnungsadresse.cVorname AS cRechnungsadresseVorname,
	vAuftragRechnungsadresse.cName AS cRechnungsadresseNachname,
	vAuftragRechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
	vAuftragRechnungsadresse.cPLZ AS cRechnungsadressePlz,
	vAuftragRechnungsadresse.cOrt AS cRechnungsadresseOrt,
	vAuftrag.kKundenGruppe AS kKundengruppe,
	tRueckhalteGrund.cName AS cRueckhaltegrund
FROM Verkauf.vAuftrag
LEFT JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN dbo.tRueckhalteGrund ON vAuftrag.kRueckhalteGrund = tRueckhalteGrund.kRueckhalteGrund
GO
