USE [eazybusiness]
GO
/****** Object:  View [Auslieferung].[vLieferscheinPosDetail]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Auslieferung].[vLieferscheinPosDetail] AS
SELECT dbo.tLieferscheinPos.kLieferschein,
		dbo.tLieferscheinPos.kLieferscheinPos,
		ISNULL(dbo.tWarenLagerAusgang.fAnzahl, dbo.tLieferscheinPos.fAnzahl) AS fAnzahl,
		ISNULL(dbo.tWarenLager.kWarenLager, 0) AS kWarenlager,
		ISNULL(dbo.tLieferant.cFirma, ISNULL(dbo.tWarenLager.cName, 'unbekannt')) AS cWarenlagerName,
		ISNULL(dbo.tLieferant.cAnrede + ' ' + dbo.tlieferant.cNachname, 
		CASE WHEN dbo.tWarenLager.nLagerplatzVerwaltung > 0 THEN dbo.tWarenLagerPlatz.cName
		ELSE ISNULL(dbo.tWarenLagerPlatzArtikel.cKommentar_1, '') + ' ' + ISNULL(dbo.tWarenLagerPlatzArtikel.cKommentar_2, '') 
		END) AS cWarenlagerplatzName,
		dbo.tWarenLagerEingang.cChargenNr AS cCharge,
		dbo.tWarenLagerEingang.dMHD AS dMHD
FROM dbo.tLieferscheinPos
LEFT JOIN dbo.tWarenLagerAusgang ON dbo.tWarenLagerAusgang.kLieferscheinPos = dbo.tLieferscheinPos.kLieferscheinPos
JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = dbo.tLieferscheinPos.kBestellPos
LEFT JOIN dbo.tWarenLagerPlatz ON dbo.tWarenLagerPlatz.kWarenLagerPlatz = dbo.tWarenLagerAusgang.kWarenLagerPlatz
LEFT JOIN dbo.tWarenLager ON dbo.tWarenLager.kWarenLager = dbo.tWarenLagerPlatz.kWarenLager
LEFT JOIN dbo.tWarenLagerEingang ON dbo.tWarenLagerEingang.kWarenLagerEingang = dbo.tWarenLagerAusgang.kWarenLagerEingang
LEFT JOIN dbo.tWarenLagerPlatzArtikel ON dbo.tWarenLagerPlatzArtikel.kWarenLagerPLatz = dbo.tWarenLagerPlatz.kWarenLagerPlatz 
									AND dbo.tWarenLagerPlatzArtikel.kArtikel = vAuftragPosition.kArtikel
LEFT JOIN dbo.tLieferantenBestellungPos ON dbo.tLieferantenBestellungPos.kLieferscheinPos = dbo.tlieferscheinPos.kLieferscheinPos
LEFT JOIN dbo.tLieferantenBestellung ON dbo.tLieferantenBestellung.kLieferantenBestellung = dbo.tLieferantenBestellungPos.kLieferantenBestellung
LEFT JOIN dbo.tLieferant ON dbo.tLieferant.kLieferant = dbo.tLieferantenBestellung.kLieferant
GO
