USE [eazybusiness]
GO
/****** Object:  View [Auslieferung].[vWarenlagerEingang]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Auslieferung].[vWarenlagerEingang] 
AS
	SELECT	vAuftragPosition.kAuftragPosition AS kBestellPos,
			tWarenLagerPlatz.kWarenLager AS kWarenlager,
			tWarenLagerEingang.kWarenLagerEingang AS kWarenlagerEingang,
			tWarenLagerEingang.cChargenNr AS cChargenNr,
			tWarenLagerEingang.dMHD AS dMHD,
			tWarenLagerEingang.fAnzahlAktuell - tWarenLagerEingang.fAnzahlReserviertPickpos + ISNULL(GepickteMengen.fAnzahl, 0.0) AS fAnzahl,
			GepickteMengen.kSessionId AS kSessionId
	FROM dbo.tWarenLagerEingang
	JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kArtikel = tWarenLagerEingang.kArtikel
	JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vAuftragPosition.kAuftrag
	JOIN dbo.tWarenLagerPlatz ON tWarenLagerPlatz.kWarenLagerPlatz = tWarenLagerEingang.kWarenLagerPlatz
	LEFT JOIN (
		SELECT	tPicklistePos.kWarenLagerEingang,
				SUM(tPicklistePos.fAnzahl) AS fAnzahl,
				tPickliste.kSessionId AS kSessionId
		FROM dbo.tPicklistePos
		JOIN dbo.tPickliste ON tPickliste.kPickliste = tPicklistePos.kPickliste 
							AND tPickliste.kSessionId IS NOT NULL
		WHERE tPicklistePos.nStatus < 10
		GROUP BY tPicklistePos.kWarenLagerEingang, tPickliste.kSessionId
	) AS GepickteMengen ON GepickteMengen.kWarenLagerEingang = tWarenLagerEingang.kWarenLagerEingang 
	WHERE tWarenLagerEingang.fAnzahlAktuell - dbo.tWarenLagerEingang.fAnzahlReserviertPickpos + ISNULL(GepickteMengen.fAnzahl, 0.0) > 0.0
		AND (	
				(vAuftrag.nType = 2 
				AND tWarenLagerPlatz.nAuslieferungGesperrt = 1
				) 
				OR tWarenLagerPlatz.nAuslieferungGesperrt = 0
			)
GO
