USE [eazybusiness]
GO
/****** Object:  View [Auslieferung].[vBestand]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Auslieferung].[vBestand] AS
SELECT	vAuftragPosition.kAuftragPosition AS kBestellPos,
		vAuftragPosition.kAuftrag AS kBestellung,
		tWarenLager.kWarenLager AS kWarenLager,
		0 AS kLieferant,
		ISNULL(MIN(teigenschaftwert.fLagerbestand) + 
					vAuftragPosition.fAnzahl, 
				ISNULL(MIN(vLagerbestandProLager.fBestand), 
				CASE WHEN (tArtikel.kArtikel IS NULL OR tArtikel.cLagerAktiv <> 'Y') AND tWarenLager.nFulfillment NOT IN(2, 3) 
					THEN vAuftragPosition.fAnzahl 
					ELSE 0 
				END))
		AS fLagerbestand
FROM Verkauf.vAuftragPosition
JOIN dbo.tWarenLager ON tWarenLager.nAktiv > 0
LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = vAuftragPosition.kArtikel
LEFT JOIN dbo.vLagerbestandProLager ON vLagerbestandProLager.kArtikel = tArtikel.kArtikel 
									AND vLagerbestandProLager.kWarenlager = tWarenLager.kWarenLager 
									AND tArtikel.cLagerAktiv = 'Y'
LEFT JOIN Verkauf.vAuftragPositionEigenschaft ON vAuftragPositionEigenschaft.kAuftragPosition = vAuftragPosition.kAuftragPosition 
									AND tArtikel.cLagerVariation = 'Y'
LEFT JOIN dbo.teigenschaftwert ON teigenschaftwert.kEigenschaftWert = vAuftragPositionEigenschaft.kEigenschaftWert 
									AND tArtikel.cLagerVariation = 'Y'
GROUP BY vAuftragPosition.kAuftragPosition, vAuftragPosition.kAuftrag, vAuftragPosition.fAnzahl, tWarenLager.kWarenLager, tArtikel.kArtikel, tArtikel.cLagerAktiv, tWarenLager.nFulfillment
UNION (
SELECT	vAuftragPosition.kAuftragPosition AS kBestellPos,
		vAuftragPosition.kAuftrag AS kBestellung,
		0 AS kWarenLager,
		tLieferant.kLieferant AS kLieferant,
	CASE WHEN dbo.tliefartikel.kLiefartikel IS NULL AND vAuftragPosition.kArtikel > 0 THEN 0 -- Keine Zuordnung zum Lieferanten
		WHEN dbo.tliefartikel.nLagerBeachten > 0 THEN dbo.tliefartikel.fLagerbestand  -- Lagerbestand beachten
		WHEN vAuftragPosition.kArtikel = 0 AND dbo.tLieferant.nDropshippingFreipositionen = 0 THEN 0
		ELSE vAuftragPosition.fAnzahl -- Lagerbestand nicht beachten
	END AS fLagerbestand
FROM Verkauf.vAuftragPosition
JOIN dbo.tLieferant ON dbo.tLieferant.nDropshipping > 0
JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vAuftragPosition.kAuftrag
JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = vAuftrag.kAuftrag
JOIN dbo.tLieferantErlaubteLieferlaender ON dbo.tLieferantErlaubteLieferlaender.kLieferant = dbo.tLieferant.kLieferant 
										AND dbo.tLieferantErlaubteLieferlaender.cISO = vAuftragLieferadresse.cISO
LEFT JOIN dbo.tliefartikel ON dbo.tliefartikel.tArtikel_kArtikel = vAuftragPosition.kArtikel 
							AND dbo.tliefartikel.tLieferant_kLieferant = tlieferant.kLieferant 
							AND dbo.tliefartikel.nDropshipping > 0
WHERE ISNULL(vAuftragPosition.kAuftragStueckliste, 0) <> vAuftragPosition.kAuftragPosition
)
UNION (
SELECT DISTINCT
vAuftragPosition.kAuftragPosition AS kBestellPos,
vAuftragPosition.kAuftrag AS kBestellung,
0 AS kWarenLager,
dbo.tLieferant.kLieferant AS kLieferant,
vAuftragPosition.fAnzahl AS fLagerbestand
FROM Verkauf.vAuftragPosition
JOIN dbo.tLieferant ON dbo.tLieferant.nDropshipping > 0
JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vAuftragPosition.kAuftrag
JOIN Verkauf.vAuftragAdresse ON vAuftragAdresse.kAuftrag = vAuftrag.kAuftrag
JOIN dbo.tLieferantErlaubteLieferlaender ON dbo.tLieferantErlaubteLieferlaender.kLieferant = dbo.tLieferant.kLieferant 
										AND dbo.tLieferantErlaubteLieferlaender.cISO = vAuftragAdresse.cISO
JOIN Verkauf.vAuftragPosition AS KindArtikel ON KindArtikel.kAuftragStueckliste = vAuftragPosition.kAuftragPosition
JOIN dbo.tliefartikel ON dbo.tliefartikel.tArtikel_kArtikel = KindArtikel.kArtikel 
		AND dbo.tliefartikel.tLieferant_kLieferant = dbo.tLieferant.kLieferant 
		AND dbo.tliefartikel.nDropshipping > 0
WHERE vAuftragPosition.kAuftragStueckliste = vAuftragPosition.kAuftragPosition
)
GO
