USE [eazybusiness]
GO
/****** Object:  View [Auslieferung].[vLieferschein]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Auslieferung].[vLieferschein] AS 
SELECT
	dbo.tLieferschein.kLieferschein, 
	dbo.tLieferschein.kBestellung, 
	dbo.tLieferschein.kLieferantenBestellung, 
	dbo.tLieferschein.kBenutzer, 
	dbo.tLieferschein.cLieferscheinNr, 
	vAuftrag.cAuftragsNr AS cBestellNr,
	tFirmaHistory.kFirma,
	vAuftrag.kVersandArt AS kVersandart,
	ISNULL(vAuftrag.kKunde, 0) AS kKunde, 
	dbo.tkunde.cKundenNr AS cKundenNr,
	CASE WHEN Lieferadresse.kAuftrag IS NULL THEN NULL ELSE Lieferadresse.kAuftrag END AS kLieferadresse,
	vAuftrag.kSprache, 
	dbo.tLieferschein.cHinweis, 
	dbo.tLieferschein.dMailVersand, 
	dbo.tLieferschein.dErstellt, 
	dbo.tLieferschein.dGedruckt, 
	dbo.tLieferschein.nFulfillment,
	dbo.tkunde.cKundenNr AS cLieferadresseKundenNr,
	Lieferadresse.cTitel AS cLieferadresseTitel,
	Lieferadresse.cAnrede AS cLieferadresseAnrede,
	Lieferadresse.cFirma AS cLieferadresseFirma,    
	Lieferadresse.cVorname AS cLieferadresseVorname,
	Lieferadresse.cName AS cLieferadresseNachname,
	Lieferadresse.cZusatz AS cLieferadresseZusatz,
	Lieferadresse.cAdressZusatz AS cLieferadresseAdressZusatz,
	Lieferadresse.cStrasse AS cLieferadresseStrasse,
	Lieferadresse.cPLZ AS cLieferadressePlz,
	Lieferadresse.cOrt AS cLieferadresseOrt,
	Lieferadresse.cBundesland AS cLieferadresseBundesland,
	Lieferadresse.cLand AS cLieferadresseLand,
	Lieferadresse.cISO AS cLieferadresseLandIso,
	Lieferadresse.cMail AS cLieferadresseMail,
	CAST(Lieferadresse.cTel AS NVARCHAR(255)) AS cLieferadresseTelefon,
	Lieferadresse.cFax AS cLieferadresseFax,      
	Lieferadresse.cMobil AS cLieferadresseMobil,
	dbo.tLieferschein.kSessionId,
	tFirmaHistory.cName AS cFirmaName,
	tFirmaHistory.cStrasse AS cFirmaStrasse,
	tFirmaHistory.cPLZ AS cFirmaPlz,
	tFirmaHistory.cOrt AS cFirmaOrt,
	dbo.tland.cISO AS cFirmaLandISO,
	tFirmaHistory.cTel AS cFirmaTelefon,
	tFirmaHistory.cFax AS cFirmaFax,
	tFirmaHistory.cEMail AS cFirmaMail,
	CASE WHEN PaketeVersendet.nAnzahlUnversendet > 0 THEN 0 ELSE 1 END AS nIstVersendet,
	ISNULL(CAST(vAuftrag.nKomplettAusgeliefert AS TINYINT), 0) AS nKomplettAusgeliefert
FROM dbo.tLieferschein
JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = dbo.tLieferschein.kBestellung
JOIN Verkauf.vAuftragLieferadresse AS Lieferadresse ON Lieferadresse.kAuftrag = vAuftrag.kAuftrag					
LEFT JOIN dbo.tkunde ON dbo.tkunde.kKunde = vAuftrag.kKunde AND  (ISNULL(dbo.tkunde.kKunde,0) > 0 OR vAuftrag.nType = 2)
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = vAuftrag.kFirmaHistory
JOIN dbo.tland ON tFirmaHistory.cLand = dbo.tland.cName
LEFT JOIN (SELECT
dbo.tVersand.kLieferschein AS kLieferschein,
COUNT(tVersand.kVersand) AS nAnzahlUnversendet
FROM dbo.tVersand 
WHERE dbo.tVersand.dVersendet IS NULL
GROUP BY dbo.tVersand.kLieferschein
) AS PaketeVersendet ON PaketeVersendet.kLieferschein = dbo.tLieferschein.kLieferschein
GO
