USE [eazybusiness]
GO
/****** Object:  View [Auslieferung].[vLagerartikel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Auslieferung].[vLagerartikel] AS
SELECT
dbo.tlagerartikel.kLagerartikel,
dbo.tlagerartikel.kBestellPos,
dbo.tlagerartikel.kLieferscheinPos,
dbo.tLieferschein.kLieferschein,
dbo.tLieferschein.kSessionId,
dbo.tlagerartikel.kPicklistePos,
dbo.tlagerartikel.kWarenlager,
dbo.tlagerartikel.cSeriennr, 
dbo.tlagerartikel.cBeschreibung1,
dbo.tlagerartikel.cBeschreibung2
FROM dbo.tlagerartikel 
JOIN dbo.tLieferscheinPos ON dbo.tLieferscheinPos.kLieferscheinPos = dbo.tlagerartikel.kLieferscheinPos
JOIN dbo.tlieferschein ON dbo.tLieferschein.kLieferschein = dbo.tLieferscheinPos.kLieferschein
GO
