USE [eazybusiness]
GO
/****** Object:  View [Auslieferung].[vLieferscheinPos]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Auslieferung].[vLieferscheinPos] AS
SELECT
	dbo.tLieferscheinPos.kLieferscheinPos,
	dbo.tLieferscheinPos.kLieferschein,
	vAuftragPosition.kAuftragPosition AS kBestellPos, 
	vAuftragPosition.kAuftrag AS kBestellung,  
	CAST(vAuftragPosition.nType AS TINYINT) AS nTyp, 
	ISNULL(vAuftragPosition.kArtikel, 0) AS kArtikel, 
	vAuftragPosition.cArtNr, 
	vAuftragPosition.cName AS cString, 
	vAuftragPosition.cNameStandard AS cStringStandard, 
	dbo.tLieferscheinPos.fAnzahl,
	vAuftragPosition.fVKNetto, 
	ISNULL(CAST(vAuftragPosition.fVkNetto * ((100 + vAuftragPosition.fMwSt) / 100) AS DECIMAL(25,13)), 0.0) AS fVKPreis, 
	vAuftragPosition.fMwSt, 
	vAuftragPosition.fRabatt, 
	dbo.tLieferscheinPos.cHinweis AS cHinweis,
	vAuftragPosition.cHinweis AS cHinweisBestellung, 
	CAST(vAuftragPosition.nHatUpload AS INT) AS nHatUpload, 
	CAST(vAuftragPosition.kKonfigVater AS NVARCHAR(30)) AS cUnique, 
	ISNULL(vAuftragPosition.kAuftragStueckliste, 0) AS kBestellStueckliste, 
	vAuftragPosition.kKonfigitem, 
	vAuftragPosition.fEKNetto, 
	CAST(pf_amazon_bestellungpos.cOrderItemId AS NVARCHAR(255)) AS cOrderItemId, 
	ebay_transaction.ItemID AS cItemID, 
	ebay_transaction.TransactionID AS cTransactionID, 
	vAuftragPosition.kAmazonBestellungPos, 
	vAuftragPosition.nSort, 
	vAuftragPosition.fAnzahl AS fAnzahlBestellung, 
	vAuftragPositionEckdaten.fAnzahlOffen - ISNULL(Bestaende.fAnzahlAufPicklisten, 0.0) AS fAnzahlOffen,
	dbo.tLieferschein.kSessionId
FROM dbo.tLieferscheinPos
JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = dbo.tLieferscheinPos.kBestellPos
LEFT JOIN dbo.pf_amazon_bestellungpos ON pf_amazon_bestellungpos.kAmazonBestellungPos = vAuftragPosition.kAmazonBestellungPos
LEFT JOIN dbo.ebay_transaction ON vAuftragPosition.kEbayTransaction = ebay_transaction.kTransaction
JOIN dbo.tLieferschein ON dbo.tLieferschein.kLieferschein = dbo.tLieferscheinPos.kLieferschein
JOIN Verkauf.vAuftragPositionEckdaten ON vAuftragPositionEckdaten.kAuftragPosition = vAuftragPosition.kAuftragPosition
LEFT JOIN dbo.tArtikel ON dbo.tArtikel.kArtikel = vAuftragPosition.kArtikel
LEFT JOIN (
	SELECT 
		vAuftragPosition.kAuftragPosition,
		SUM(ISNULL([dbo].[tpicklistepos].[fAnzahl], 0.0)) AS fAnzahlAufPicklisten
	FROM Verkauf.vAuftragPosition
	JOIN [dbo].[tpicklistepos] ON [dbo].[tpicklistepos].[kbestellpos] = vAuftragPosition.kAuftragPosition 
								AND [dbo].[tPicklistePos].[nStatus] < 40
	GROUP BY vAuftragPosition.kAuftragPosition
) AS Bestaende ON Bestaende.kAuftragPosition = vAuftragPosition.kAuftragPosition
GO
