USE [eazybusiness]
GO
/****** Object:  View [B2BNetzwerk].[vProduct]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [B2BNetzwerk].[vProduct]
AS
	WITH B2BProductKeys AS (
	SELECT DISTINCT ArtikelShop.kArtikel
	,	ArtikelShop.cInet
	,	B2BArtikel.cJpid
	,	CASE 	WHEN ArtikelShop.cInet = 'Y' 	THEN 1 -- Add or Update
												ELSE 0 END AS nAktion
	FROM 		dbo.tArtikelShop		 AS ArtikelShop
	JOIN 		dbo.tShop				 AS Shop ON Shop.kShop = ArtikelShop.kShop AND Shop.nTyp = 2
	JOIN 		dbo.tkategorieartikel	 AS KategorieArtikel ON ArtikelShop.kArtikel = KategorieArtikel.kArtikel
	JOIN 		dbo.tKategorieMapping	 AS KategorieMapping ON KategorieMapping.kKategorie = KategorieArtikel.kKategorie AND KategorieMapping.nPlattform = 3
	LEFT JOIN 	dbo.tB2BArtikel			 AS B2BArtikel ON ArtikelShop.kArtikel = B2BArtikel.kArtikel
	
	)
	SELECT DISTINCT Artikel.kArtikel
	,	Artikel.cArtNr
	,	Artikel.fVKNetto
	,	Artikel.fUVP
	,	Artikel.cAnmerkung
	,	Artikel.nMindestbestellmaenge
	,	Artikel.cBarcode
	,	Artikel.cTopArtikel
	,	Artikel.fGewicht
	,	Artikel.cLagerArtikel
	,	Artikel.cTeilbar
	,	Artikel.cLagerAktiv
	,	Artikel.cLagerKleinerNull
	,	Artikel.nMidestbestand
	,	Artikel.cLagerVariation
	,	Artikel.dMod
	,	Artikel.nVPE
	,	Artikel.fVPEWert
	,	Artikel.cSuchbegriffe
	,	Artikel.cTaric
	,	Artikel.cHerkunftsland
	,	Artikel.dErstelldatum
	,	Artikel.dErscheinungsdatum
	,	Artikel.nSort
	,	Artikel.kVersandklasse
	,	Artikel.fArtGewicht
	,	Artikel.cHAN
	,	Artikel.cISBN
	,	Artikel.cUNNummer
	,	Artikel.cGefahrnr
	,	Artikel.cASIN
	,	Artikel.kVaterArtikel
	,	Artikel.nIstVater
	,	Artikel.fAbnahmeintervall
	,	Artikel.cUPC
	,	Artikel.kWarengruppe
	,	Artikel.cEPID
	,	Artikel.nMHD
	,	Artikel.nCharge
	,	Artikel.kHersteller
	,	Artikel.kMassEinheit
	,	Artikel.fMassMenge
	,	Artikel.kGrundPreisEinheit
	,	Artikel.fGrundpreisMenge
	,	Artikel.fBreite
	,	Artikel.fHoehe
	,	Artikel.fLaenge
	,	Artikel.kVerkaufsEinheit
	,	Artikel.dZulaufVerfuegbarAm
	,	Artikel.nZulaufVerfuegbarMenge
	,	B2BProductKeys.cJpid
	,	GrundPreis.cCode AS cGrundpreisCode
	,	GrundPreis.cDisplayCode AS cGrundpreisDisplayCode
	,	MassEinheit.cCode AS cMassEinheitCode
	,	B2BProductKeys.nAktion
	,	Hersteller.cName AS HerstellerName
	FROM 		dbo.tArtikel				 AS Artikel
	JOIN 		B2BProductKeys ON Artikel.kArtikel = B2BProductKeys.kArtikel
	LEFT JOIN 	dbo.tMassEinheit			 AS GrundPreis ON GrundPreis.kMassEinheit = Artikel.kGrundPreisEinheit
	LEFT JOIN 	dbo.tMassEinheit			 AS MassEinheit ON MassEinheit.kMassEinheit = Artikel.kGrundPreisEinheit
	LEFT JOIN	dbo.tHersteller				 AS Hersteller ON Artikel.kHersteller = Hersteller.kHersteller
GO
