USE [eazybusiness]
GO
/****** Object:  View [B2BNetzwerk].[vProductAttrAndValues]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [B2BNetzwerk].[vProductAttrAndValues] AS
SELECT * FROM (
SELECT  Attribut.kAttribut																
, 		Attribut.nIstFreifeld															
, 		Attribut.nIstMehrsprachig														
, 		ArtikelAttribut.kArtikel														
, 		SpracheUsed.cISO																
, 		AttributSprache.cName															
, 		CASE FeldTyp.nDatenTyp 	WHEN 0 	THEN CONVERT(nvarchar(max), ArtikelAttributSprache.nWertInt)
								WHEN 1 	THEN CONVERT(nvarchar(max),ArtikelAttributSprache.fWertDecimal)
								WHEN 2 	THEN ArtikelAttributSprache.cWertVarchar
								WHEN 3 	THEN CONVERT(nvarchar(max),ArtikelAttributSprache.dWertDateTime) END	
AS cValue										
FROM 	tAttributSprache AttributSprache
JOIN 	tAttribut AS Attribut ON Attribut.kAttribut = AttributSprache.kAttribut
JOIN 	tFeldTyp AS FeldTyp ON Attribut.kFeldTyp = FeldTyp.kFeldTyp
JOIN 	tArtikelAttribut AS ArtikelAttribut ON Attribut.kAttribut = ArtikelAttribut.kAttribut
JOIN 	tArtikelAttributSprache AS ArtikelAttributSprache ON ArtikelAttribut.kArtikelAttribut = ArtikelAttributSprache.kArtikelAttribut AND AttributSprache.kSprache = ArtikelAttributSprache.kSprache
JOIN 	tSpracheUsed AS SpracheUsed ON AttributSprache.kSprache = SpracheUsed.kSprache OR (AttributSprache.kSprache = 0 AND SpracheUsed.nStandard = 1)
) ProductAttr WHERE NOT ProductAttr.cValue IS NULL AND NOT ProductAttr.cValue = ''
GO
