USE [eazybusiness]
GO
/****** Object:  View [B2BNetzwerk].[vMappedProductKeys]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [B2BNetzwerk].[vMappedProductKeys]
AS
	SELECT DISTINCT ArtikelShop.kArtikel
	,	ArtikelShop.cInet
	,	B2BArtikel.cJpid
	,	CASE 	WHEN ArtikelShop.cInet = 'Y' 	THEN 1 -- Add or Update
												ELSE 0 END AS nAktion
	FROM 		dbo.tArtikelShop		 AS ArtikelShop
	JOIN 		dbo.tShop				 AS Shop ON Shop.kShop = ArtikelShop.kShop AND Shop.nTyp = 2
	JOIN 		dbo.tkategorieartikel	 AS KategorieArtikel ON ArtikelShop.kArtikel = KategorieArtikel.kArtikel
	JOIN 		dbo.tKategorieMapping	 AS KategorieMapping ON KategorieMapping.kKategorie = KategorieArtikel.kKategorie AND KategorieMapping.nPlattform = 3
	LEFT JOIN 	dbo.tB2BArtikel			 AS B2BArtikel ON ArtikelShop.kArtikel = B2BArtikel.kArtikel
GO
