USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvBestellung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvBestellung] AS 	
	SELECT  
		tLieferantenBestellung.kLieferantenBestellung AS kBestellung,
		tLieferantenBestellung.cEigeneBestellnummer AS cBestellnummer,
		tLieferantenBestellung.dErstellt AS dErstellt,
		tLieferantenBestellung.kLieferant AS kLieferant,
		ISNULL(tlieferant.cFirma, '') AS cLieferantName,
		ISNULL(tlieferant.cLieferantID, '') AS cLieferantennummer,
		ISNULL(tlieferant.cFirmenZusatz, '') AS cLieferantFirmenZusatz,
		ISNULL(tlieferant.cLiefNr, '') AS cLieferantEigeneKundennummer,
		ISNULL(tLieferantenBestellung.nStatus, 0) AS nStatus,
		tLieferantenBestellung.nManuellAbgeschlossen AS nManuellAbgeschlossen,
		tLieferantenBestellung.dGemailt AS dGemailt,
		tLieferantenBestellung.dGefaxt AS dGefaxt,
		tLieferantenBestellung.dGedruckt AS dGedruckt,
		tLieferantenBestellung.dAngemahnt AS dAngemahnt,
		tLieferantenBestellung.cInternerKommentar AS cInternerKommentar,
		tLieferantenBestellung.cFremdbelegnummer AS cFremdbelegnummer,
		tLieferantenBestellung.nBestaetigt AS nBestaetigt,
		ISNULL(tLieferantenBestellung.dLieferdatum, GETDATE()+ISNULL(tlieferant.nLieferzeit, 14)) AS dLieferdatum,
		tLieferantenBestellung.cDruckAnmerkung,
		ISNULL(tWarenLager.cName, '') AS cWarenLagerName,
		tLieferantenBestellung.dExportiert AS dExportiert,
		tbenutzer.cName AS cBenutzerName,
		tLieferantenBestellung.cBezugsAuftragsNummer AS cBezugsAuftragsNummer,
		ISNULL(PositionDaten.fSummePositionenNetto, 0) AS fSummePositionenNetto,
		ISNULL(PositionDaten.fSummePositionenBrutto, 0) AS fSummePositionenBrutto,
		ISNULL(PositionDaten.nAnzahlPositionen, 0) AS nAnzahlPositionen,
		CASE 
			WHEN tLieferantenBestellung.nStatus = 700
				THEN ISNULL(PositionDaten.fGesamtmenge, 0)
			ELSE ISNULL(PositionDaten.fMengeGeliefert, 0) 
		END AS fMengeGeliefert,
		ISNULL(PositionDaten.fProzentGeliefert, 0) AS fProzentGeliefert,
		ISNULL(PositionDaten.fGesamtmenge, 0) AS fGesamtmenge,
		ISNULL(tkunde.cKundenNr, '') AS cKundenNr,
		ISNULL(tAdresse.cFirma, '') AS cKundeFirma,
		ISNULL(tAdresse.cVorname, '') AS cKundeVorname,
		ISNULL(tAdresse.cName, '') AS cKundeName,
		ISNULL(tLieferantenBestellungLA.cFirma, '') AS cLieferadresseFirma,
		ISNULL(tLieferantenBestellungLA.cVorname, '') AS cLieferadresseVorname,
		ISNULL(tLieferantenBestellungLA.cNachname, '') AS cLieferadresseName,		
		ISNULL(tLieferantenBestellungLA.cPLZ, '') AS cLieferadressePlz,
		ISNULL(tLieferantenBestellungLA.cOrt, '') AS cLieferadresseOrt,
		ISNULL(tLieferantenBestellungLA.cLandISO, '') AS cLieferadresseLand,
		ISNULL(tLieferantenBestellungLA.cStrasse, '') AS cLieferadresseStrasse,
		ISNULL(tLieferantenBestellungLA.cMail, '') AS cLieferadresseMail,
		ISNULL(tLieferantenBestellungRA.cFirma, '') AS cRechnungsadresseFirma,
		ISNULL(tLieferantenBestellungRA.cVorname, '') AS cRechnungsadresseVorname,
		ISNULL(tLieferantenBestellungRA.cNachname, '') AS cRechnungsadresseName,
		DATEDIFF(DAY, ISNULL(dGedruckt, ISNULL(dGemailt, ISNULL(dGefaxt, tLieferantenBestellung.dErstellt))),CONVERT(DATETIME, GETDATE(), 104)) AS nAlterBestellung,
		ISNULL(tLand.cName, '') + ' ' + ISNULL(tLieferantenBestellungLA.cFirma, '') + ' ' + ISNULL(tLieferantenBestellungLA.cStrasse, '') + ' ' + ISNULL(tLieferantenBestellungLA.cAdresszusatz, '') + ' ' + ISNULL(tLieferantenBestellungLA.cPLZ, '') + ' ' + ISNULL(tLieferantenBestellungLA.cOrt, '') AS cLieferanschrift,
		CASE
			WHEN Eingangsrechnung.kLieferantenbestellung IS NOT NULL
				THEN 1
			ELSE 0
		END AS nHasEingangsrechnung,
		CASE
			WHEN tLieferantenBestellung.nStatus >= 20 AND tLieferantenBestellung.nStatus <= 50
				AND PositionDaten.fGesamtmenge - PositionDaten.fMengeGeliefert > 0 
				AND DATEDIFF(DAY,GETDATE(),CONVERT(DATETIME, tLieferantenBestellung.dLieferdatum))<0
			THEN 1
			ELSE 0
		END AS nIstUeberfaellig,
		tInboundRef.kInboundRef AS kInboundRef
	FROM dbo.tLieferantenBestellung
	LEFT JOIN dbo.tlieferant ON tlieferant.kLieferant = tLieferantenBestellung.kLieferant
	LEFT JOIN dbo.tWarenLager ON tWarenLager.kWarenLager = tLieferantenBestellung.kLager
	LEFT JOIN eazybusiness.dbo.tbenutzer ON tbenutzer.kBenutzer = tLieferantenBestellung.kBenutzer
	LEFT JOIN dbo.tkunde ON tLieferantenBestellung.kKunde = tkunde.kKunde
	LEFT JOIN dbo.tAdresse ON tKunde.kKunde = tAdresse.kKunde AND tAdresse.nTyp = 1 AND tAdresse.nStandard = 1
	LEFT JOIN dbo.tLieferantenBestellungLA ON tLieferantenBestellungLA.kLieferantenBestellungLA = tLieferantenBestellung.kLieferantenBestellungLA
	LEFT JOIN dbo.tLieferantenBestellungRA ON tLieferantenBestellungRA.kLieferantenBestellungRA = tLieferantenBestellung.kLieferantenBestellungRA
	LEFT JOIN dbo.tLand ON tLand.cISO = tLieferantenBestellungLA.cLandISO
	LEFT JOIN (SELECT 
					tLieferantenBestellungPos.kLieferantenBestellung, 
					SUM(tLieferantenBestellungPos.fEKNetto * tLieferantenbestellungPos.fMenge) AS fSummePositionenNetto,
					SUM(tLieferantenBestellungPos.fEKNetto * tLieferantenBestellungPos.fMenge * (1 + (tLieferantenBestellungPos.fUST / 100))) AS fSummePositionenBrutto,
					COUNT(tLieferantenBestellungPos.kLieferantenBestellungPos) AS nAnzahlPositionen,
					SUM(tLieferantenBestellungPos.fMengeGeliefert) AS fMengeGeliefert,
					CASE 
						WHEN SUM(tLieferantenBestellungPos.fMenge) > 0 
							THEN (1 - (SUM(tLieferantenBestellungPos.fMenge - tLieferantenBestellungPos.fMengeGeliefert) / SUM(tLieferantenBestellungPos.fMenge))) * 100 
						ELSE 0 
					END AS fProzentGeliefert,
					SUM(CASE
							WHEN tLieferantenBestellungPos.nPosTyp != 6
								THEN tLieferantenBestellungPos.fMenge
							ELSE 0
						END) AS fGesamtmenge
			   FROM tLieferantenbestellungPos
			   GROUP BY tLieferantenbestellungPos.kLieferantenbestellung) PositionDaten ON PositionDaten.kLieferantenBestellung = tLieferantenBestellung.kLieferantenBestellung
	LEFT JOIN (SELECT DISTINCT
					tEingangsrechnungPos.kLieferantenbestellung
			   FROM dbo.tEingangsrechnungPos) Eingangsrechnung ON Eingangsrechnung.kLieferantenbestellung = tLieferantenBestellung.kLieferantenBestellung
	LEFT JOIN tUmlagerung ON tUmlagerung.kLieferantenBestellung = tLieferantenBestellung.kLieferantenBestellung
	LEFT JOIN FulfillmentNetwork.tInboundRef ON tInboundRef.kLieferantenBestellung = tLieferantenBestellung.kLieferantenBestellung
	WHERE tUmlagerung.kUmlagerung IS NULL AND tLieferantenBestellung.nStatus != 100
GO
