USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvEingangsrechnungBestellung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvEingangsrechnungBestellung]
AS
SELECT  DISTINCT 
		tLieferantenBestellung.kLieferantenBestellung,
		tLieferantenBestellung.cEigeneBestellnummer,
		tLieferantenBestellung.cFremdbelegnummer,
		tEingangsrechnungPos.kEingangsrechnung
FROM dbo.tEingangsrechnungPos
JOIN dbo.tLieferantenBestellung ON tLieferantenBestellung.kLieferantenBestellung = tEingangsrechnungPos.kLieferantenbestellung
WHERE ISNULL(tLieferantenBestellung.nDeleted, 0) = 0 AND tLieferantenBestellung.nStatus != 100;
GO
