USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvEingangsrechnung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvEingangsrechnung]
AS
SELECT	tEingangsrechnung.kEingangsrechnung,
		tEingangsrechnung.kLieferant,
		tEingangsrechnung.cEigeneRechnungsnummer,
		tEingangsrechnung.cFremdbelegnummer,
		tEingangsrechnung.cLieferant,
		tEingangsrechnung.cAdresszusatz,
		tEingangsrechnung.cStrasse,
		tEingangsrechnung.cPLZ,
		tEingangsrechnung.cOrt,
		tEingangsrechnung.cLandISO,
		tEingangsrechnung.cBundesland,
		tEingangsrechnung.cTel,
		tEingangsrechnung.cFax,
		tEingangsrechnung.cMobil,
		tEingangsrechnung.cMail,
		tEingangsrechnung.nStatus,
		tEingangsrechnung.nZahlungFreigegeben,
		tEingangsrechnung.dBezahlt,
		tEingangsrechnung.dErstellt,
		tEingangsrechnung.dZahlungsziel,
		tEingangsrechnung.dBelegdatum,
		ISNULL(tlieferant.cWaehrungISO, '') AS cWaehrungLieferantIso,
		CASE WHEN DATEDIFF(dd, GETDATE(), tEingangsrechnung.dZahlungsziel) >= 0 THEN DATEDIFF(dd, GETDATE(), tEingangsrechnung.dZahlungsziel) ELSE 0 END AS nTageVerbleibend,
		ISNULL(ISNULL(tSummen.fNetto, 0.00) + ISNULL(tSummen.fZusatzkostenNetto, 0.00), 0.00) AS fNetto,
		ISNULL(ISNULL(tSummen.fBrutto, 0.00) + ISNULL(tSummen.fZusatzkostenBrutto, 0.00), 0.00) AS fBrutto,
		ISNULL((ISNULL(tSummen.fNetto, 0.00) + ISNULL(tSummen.fZusatzkostenNetto, 0.00)) * tEingangsrechnung.fFremdFaktor, 0.00) AS fNettoLieferantenWaehrung,
		ISNULL((ISNULL(tSummen.fBrutto, 0.00) + ISNULL(tSummen.fZusatzkostenBrutto, 0.00)) * tEingangsrechnung.fFremdFaktor, 0.00) AS fBruttoLieferantenWaehrung
FROM dbo.tEingangsrechnung
LEFT JOIN dbo.tlieferant ON tlieferant.kLieferant = tEingangsrechnung.kLieferant
LEFT JOIN (SELECT	tEingangsrechnungPos.kEingangsrechnung,
					SUM(ISNULL(tEingangsrechnungPos.fEKNetto, 0.0) * ISNULL(tEingangsrechnungPos.fMenge, 0.0)) AS fNetto,
					SUM(tmpZusatzkosten.fZusatzkostenNetto) AS fZusatzkostenNetto,
					SUM(ISNULL(tEingangsrechnungPos.fEKNetto, 0.0) * (1 + tEingangsrechnungPos.fMwSt/100) * ISNULL(tEingangsrechnungPos.fMenge, 0.0)) AS fBrutto,
				    SUM(tmpZusatzkosten.fZusatzkostenBrutto) AS fZusatzkostenBrutto
			FROM dbo.tEingangsrechnungPos
			LEFT JOIN (
				SELECT tEingangsrechnungPosZusatzkosten.kEingangsrechnungPos,
				       SUM(ISNULL(tEingangsrechnungPosZusatzkosten.dWert, 0.0)) AS fZusatzkostenNetto,
					   SUM(ISNULL(tEingangsrechnungPosZusatzkosten.dWert, 0.0) * (1 + tEingangsrechnungPosZusatzkosten.fMwst/100)) AS fZusatzkostenBrutto
				  FROM dbo.tEingangsrechnungPosZusatzkosten
	          GROUP BY tEingangsrechnungPosZusatzkosten.kEingangsrechnungPos
			) AS tmpZusatzkosten ON tEingangsrechnungPos.kEingangsrechnungPos = tmpZusatzkosten.kEingangsrechnungPos
			GROUP BY tEingangsrechnungPos.kEingangsrechnung
) AS tSummen ON tSummen.kEingangsrechnung = tEingangsrechnung.kEingangsrechnung
WHERE ISNULL(tEingangsrechnung.nDeleted, 0) = 0;
GO
