USE [eazybusiness]
GO
/****** Object:  Table [Beschaffung].[tBestellvorschlagVorlage]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Beschaffung].[tBestellvorschlagVorlage](
	[kBestellvorschlagVorlage] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[xKonfiguration] [xml] NULL,
	[nAktiv] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Beschaffung_tBestellvorschlagVorlage] PRIMARY KEY CLUSTERED 
(
	[kBestellvorschlagVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
