USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvRueckstandserinnerungLieferanten]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW 
	[Beschaffung].[lvRueckstandserinnerungLieferanten]
AS
SELECT DISTINCT
	tLieferantenBestellung.kLieferantenBestellungLieferant AS kBestellungLieferant,
	tLieferantenBestellungLieferant.cFirma AS cBestellungLieferant
FROM
	dbo.tLieferantenBestellungErinnerung
JOIN
	dbo.tLieferantenBestellung ON tLieferantenBestellung.kLieferantenBestellung = tLieferantenBestellungErinnerung.kLieferantenBestellung
JOIN
	dbo.tLieferantenBestellungLieferant ON tLieferantenBestellungLieferant.kLieferantenBestellungLieferant = tLieferantenBestellung.kLieferantenBestellungLieferant
GO
