USE [eazybusiness]
GO
/****** Object:  Table [Beschaffung].[tItemStockDemandStatusTransition]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Beschaffung].[tItemStockDemandStatusTransition](
	[kItemStockDemandStatusTransition] [int] IDENTITY(1,1) NOT NULL,
	[kItemStockDemand] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cComment] [ntext] NOT NULL,
	[nPreviousStatus] [tinyint] NOT NULL,
	[nNextStatus] [tinyint] NOT NULL,
	[dCreationDate] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Beschaffung_tItemStockDemandStatusTransition] PRIMARY KEY CLUSTERED 
(
	[kItemStockDemandStatusTransition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Beschaffung].[tItemStockDemandStatusTransition]  WITH CHECK ADD  CONSTRAINT [FK_Beschaffung_tItemStockDemandStatusTransition_kItemStockDemand] FOREIGN KEY([kItemStockDemand])
REFERENCES [Beschaffung].[tItemStockDemand] ([kItemStockDemand])
ON UPDATE CASCADE
GO
ALTER TABLE [Beschaffung].[tItemStockDemandStatusTransition] CHECK CONSTRAINT [FK_Beschaffung_tItemStockDemandStatusTransition_kItemStockDemand]
GO
