USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvRueckstandserinnerungsposition]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW 
	[Beschaffung].[lvRueckstandserinnerungsposition]
AS
SELECT 
	tLieferantenBestellungErinnerungPos.kLieferantenBestellungErinnerung,
	tLieferantenBestellungPos.cArtNr,
	tLieferantenBestellungPos.cLieferantenArtNr,
	tLieferantenBestellungPos.cName AS cName,
	tLieferantenBestellungPos.fUST,
	tLieferantenBestellungErinnerungPos.fAnzahl,
	tLieferantenBestellungPos.fEKNetto,
	tLieferantenBestellungPos.fEKNetto * tLieferantenBestellungErinnerungPos.fAnzahl AS fEKNettoGesamt,
	tLieferantenBestellungPos.cHinweis
FROM 
	dbo.tLieferantenBestellungErinnerungPos
JOIN 
	dbo.tLieferantenBestellungPos ON tLieferantenBestellungErinnerungPos.kLieferantenBestellungPos = tLieferantenBestellungPos.kLieferantenBestellungPos
GO
