USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvEingangsrechnungPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvEingangsrechnungPos]
AS
SELECT	tEingangsrechnungPos.kEingangsrechnungPos,
		tEingangsrechnungPos.cArtNr,
		tEingangsrechnungPos.cLieferantenArtNr,
		tEingangsrechnungPos.cName,
		tEingangsrechnungPos.cLieferantenBezeichnung,
		tEingangsrechnungPos.fMwSt,
		tEingangsrechnungPos.cEinheit,
		tEingangsrechnungPos.fEKNetto,
		ISNULL(tEingangsrechnungPos.fEKNetto * tEingangsrechnungPos.fMenge, 0) AS fEKNettoGesamt,
		ISNULL(tEingangsrechnungPos.fEKNetto * (1 + tEingangsrechnungPos.fMwSt / 100), 0) AS fEKBrutto,
		ISNULL(tEingangsrechnungPos.fEKNetto * (1 + tEingangsrechnungPos.fMwSt / 100) * tEingangsrechnungPos.fMenge, 0) AS fEKBruttoGesamt,
		tEingangsrechnungPos.cHinweis,
		ISNULL(tArtikel.cHAN, '') AS cHan,
		tArtikel.kArtikel,
		tEingangsrechnungPos.kEingangsrechnung,
		tEingangsrechnungPos.kLieferantenbestellung,
		tEingangsrechnungPos.fMenge
FROM dbo.tEingangsrechnungPos
LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = tEingangsrechnungPos.kArtikel;
GO
