USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvEinkaufsliste]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvEinkaufsliste] AS
	WITH tmpEinkaufsliste AS (
	    SELECT tmpLiefartikelAufEinkaufsliste.kLiefArtikel AS kLiefArtikel, 
			   tmpLiefartikelAufEinkaufsliste.kArtikel AS kArtikel,
			   tmpLiefartikelAufEinkaufsliste.kLieferant AS kLieferant,
			   ISNULL(CASE WHEN tmpLiefartikelAufEinkaufsliste.nAbnahmeIntervall IS NULL 
				             OR tmpLiefartikelAufEinkaufsliste.nAbnahmeIntervall = 0.0 
					         OR tmpLiefartikelAufEinkaufsliste.fAnzahl % tmpLiefartikelAufEinkaufsliste.nAbnahmeIntervall = 0.0
				           THEN tmpLiefartikelAufEinkaufsliste.fAnzahl
					       ELSE tmpLiefartikelAufEinkaufsliste.fAnzahl + (tmpLiefartikelAufEinkaufsliste.nAbnahmeIntervall - (tmpLiefartikelAufEinkaufsliste.fAnzahl - (CONVERT(INT, (tmpLiefartikelAufEinkaufsliste.fAnzahl / tmpLiefartikelAufEinkaufsliste.nAbnahmeIntervall)) * tmpLiefartikelAufEinkaufsliste.nAbnahmeIntervall))) 
				       END, 0.0) AS fAnzahl,
			   tmpLiefartikelAufEinkaufsliste.nMindestAbnahme AS nMindestAbnahme,
			   tmpLiefartikelAufEinkaufsliste.nAbnahmeIntervall AS nAbnahmeIntervall,
			   tmpLiefartikelAufEinkaufsliste.fEKNetto AS fEKNetto,
			   tmpLiefartikelAufEinkaufsliste.cLiefArtNr AS cLiefArtNr,
			   tmpLiefartikelAufEinkaufsliste.cName AS cName,
			   tmpLiefartikelAufEinkaufsliste.cWaehrung AS cWaehrung,
			   tmpLiefartikelAufEinkaufsliste.nLieferzeit AS nLieferzeit,
			   tmpLiefartikelAufEinkaufsliste.fLagerbestand AS fLagerbestand,
			   tmpLiefartikelAufEinkaufsliste.kwarenlager AS kWarenlager
		  FROM (
		SELECT tliefartikel.kLiefArtikel AS kLiefArtikel, 
			       tliefartikel.tArtikel_kArtikel AS kArtikel,
				   tliefartikel.tLieferant_kLieferant AS kLieferant,
				   ISNULL(CASE WHEN tliefartikel.nMindestAbnahme IS NOT NULL AND ( SUM(tArtikelEinkaufsliste.fAnzahl) IS NULL OR tliefartikel.nMindestAbnahme >  SUM(tArtikelEinkaufsliste.fAnzahl))
			   	        THEN tliefartikel.nMindestAbnahme
			   			ELSE SUM(tArtikelEinkaufsliste.fAnzahl)
		           END, 0.0) AS fAnzahl,
				   tliefartikel.nMindestAbnahme AS nMindestAbnahme,
				   tliefartikel.nAbnahmeIntervall AS nAbnahmeIntervall,
				   tliefartikel.fEKNetto AS fEKNetto,
				   tliefartikel.cLiefArtNr AS cLiefArtNr,
				   tliefartikel.cName AS cName,
				   tliefartikel.cWaehrung AS cWaehrung,
				   tliefartikel.nLieferzeit AS nLieferzeit,
				   tliefartikel.fLagerbestand AS fLagerbestand,
				   ISNULL(tArtikelEinkaufsliste.kWarenlager,0) AS kWarenlager
	          FROM dbo.tArtikelEinkaufsliste
			  JOIN dbo.tliefartikel ON tliefartikel.tArtikel_kArtikel = tArtikelEinkaufsliste.kArtikel
			   AND tArtikelEinkaufsliste.kLieferant = tliefartikel.tLieferant_kLieferant
			   GROUP BY tArtikelEinkaufsliste.kArtikel,
			       tArtikelEinkaufsliste.kLieferant,
			       ISNULL(tArtikelEinkaufsliste.kWarenlager,0),
			       tliefartikel.nMindestAbnahme,
				   tliefartikel.nAbnahmeIntervall,
				   tliefartikel.fEKNetto,
				   tliefartikel.cLiefArtNr,
				   tliefartikel.cName,
				   tliefartikel.cWaehrung,
				   tliefartikel.nLieferzeit,
				   tliefartikel.fLagerbestand,
				   tliefartikel.kLiefArtikel, 
			       tliefartikel.tArtikel_kArtikel,
				   tliefartikel.tLieferant_kLieferant
		  ) AS tmpLiefartikelAufEinkaufsliste
	)

		 SELECT tArtikel.kArtikel AS kArtikel,
		        tArtikel.kSteuerklasse AS kSteuerklasse,
				tArtikel.fEKNetto AS fArtikelGld,
				ISNULL(tArtikelEinkaufsliste.kLieferant, 0) AS kLieferant,
				tArtikelEinkaufsliste.cHinweis AS cHinweis,
				 tArtikelEinkaufsliste.fAnzahl AS fAnzahl,
				--
				-- Netto Einkaufspreis ermitteln (Wenn keine Staffel, dann Standard)
				--
				ISNULL(CASE WHEN tmpEinkaufslistePreis.fEkNettoAktuell IS NULL OR tmpEinkaufslistePreis.fEkNettoAktuell = 0.0
				     THEN CASE WHEN tmpEinkaufsliste.fEKNetto IS NULL 
					           THEN 0.0
							   ELSE tmpEinkaufsliste.fEKNetto
						  END
					 ELSE tmpEinkaufslistePreis.fEkNettoAktuell
				END, 0.0) AS fEKNettoAktuell,
				--
				-- Lieferzeit ermitteln, Mindeste von allen wenn kein Lieferant
				--
				ISNULL(tmpEinkaufslisteSummen.nLieferzeit , 0) AS nLieferzeit,
				CASE WHEN tmpEinkaufsliste.cLiefArtNr IS NULL 
				     THEN tArtikel.cArtNr
					 ELSE tmpEinkaufsliste.cLiefArtNr
				END AS cLiefArtNr,
				CASE WHEN tmpEinkaufsliste.cName IS NULL 
				     THEN tArtikelBeschreibung.cName
					 ELSE tmpEinkaufsliste.cName
				END AS cNameBeimLieferanten,
				tArtikel.cArtNr AS cArtNr,
				tArtikelBeschreibung.cName AS cName,
                CASE WHEN tlieferant.cFirma  IS NULL
				     THEN ''
					 ELSE tlieferant.cFirma 
				END AS cLieferantName,
				CASE WHEN tmpEinkaufsliste.cWaehrung IS NULL
				     THEN ''
					 ELSE tmpEinkaufsliste.cWaehrung
				END AS cWaehrungISO,
				--
				-- Bestand des Lieferanten, wenn kein Lieferant dann Bestand aller Lieferanten
				--
				ISNULL(tmpEinkaufslisteSummen.fLagerbestand, 0.0) AS fLiefBestand,
				--
				-- Fehlbestand wird positiv ausgegeben, statt negativem wird 0.0 ausgegeben
				--
				ISNULL(CASE WHEN dbo.tlagerbestand.fVerfuegbar < 0.0 
				     THEN dbo.tlagerbestand.fVerfuegbar * -1 
					 ELSE 0.0 
			    END, 0) AS fFehlbestand,
				ISNULL(tlagerbestand.fVerfuegbar, 0.0) AS fVerfuegbar,
				ISNULL(tArtikelMindestLagerbestandProLager.fMindestbestand, 0) AS fMindestbestand,
				tArtikel.nMidestbestand AS fMindestbestandGlobal,
				CASE WHEN LieferantStandard.kLieferant IS NULL 
				     THEN 0
					 ELSE LieferantStandard.kLieferant
				END AS kLieferantStd,
				CASE WHEN LieferantStandard.cName IS NULL 
				     THEN ''
					 ELSE LieferantStandard.cName
				END AS cLieferantStd,
				CASE WHEN LieferantSchnellster.kLieferant IS NULL 
				     THEN 0
					 ELSE LieferantSchnellster.kLieferant
				END AS kLieferantSchnellster,
				CASE WHEN LieferantSchnellster.cName IS NULL 
				     THEN ''
					 ELSE LieferantSchnellster.cName
				END AS cLieferantSchnellster,
				CASE WHEN guenstigsterLieferant.kLieferant IS NULL 
				     THEN 0
					 ELSE guenstigsterLieferant.kLieferant
				END AS kLieferantGuenstigster,
				CASE WHEN guenstigsterLieferant.cName IS NULL 
				     THEN ''
					 ELSE guenstigsterLieferant.cName
				END AS cLieferantGuenstigster,
				CASE WHEN tArtikel.cBarcode IS NULL 
				     THEN '' 
					 ELSE tArtikel.cBarcode 
				END AS cBarcode,
				ISNULL(tmpEinkaufsliste.nMindestAbnahme, 0) AS nMindestAbnahme,
				ISNULL(tmpEinkaufsliste.nAbnahmeIntervall, 0.0) AS fAbnahmeIntervall,
				CASE WHEN tbenutzer.cName IS NULL 
				     THEN ''
					 ELSE tbenutzer.cName
				END AS cNameBenutzer,
				tArtikelEinkaufsliste.dErstellt AS dErstellt,
				ISNULL(tlagerbestand.fInAuftraegen, 0) AS fReserviert,
				ISNULL(tlagerbestand.fZulauf, 0) AS fZulauf,
				ISNULL(tlagerbestand.fLagerbestandEigen, 0) AS fLagerbestandEigen,
				CASE WHEN tArtikel.cHAN IS NULL 
				     THEN '' 
					 ELSE tArtikel.cHAN 
				END AS cHAN,
				CASE WHEN tArtikel.cTeilbar = 'Y' THEN 1 ELSE 0 END AS nTeilbar,
				tArtikelEinkaufsliste.fAnzahl AS fAufEinkaufslisteGesetzt,
				tWarenLager.cName AS WarenlagerName,
				SUM(tArtikelEinkaufsliste.fAnzahl) OVER(PARTITION BY tArtikelEinkaufsliste.kArtikel) AS BestellmengeGesamt,
				tArtikelEinkaufsliste.kArtikelEinkaufsliste,
				tWarenLager.kWarenLager,
				LieferantLager.kWarenLager AS nStandardLager
	       FROM dbo.tArtikelEinkaufsliste
		   JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelEinkaufsliste.kArtikel
		   JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
		   LEFT JOIN dbo.tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = tArtikel.kArtikel AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache AND tArtikelBeschreibung.kPlattform = 1
		   JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tArtikel.kArtikel
	  LEFT JOIN dbo.tWarenLager ON tWarenLager.kWarenLager = tArtikelEinkaufsliste.kWarenlager
	  LEFT JOIN dbo.tlieferant ON tlieferant.kLieferant = tArtikelEinkaufsliste.kLieferant
	  LEFT JOIN dbo.tWarenlager AS LieferantLager ON LieferantLager.kWarenLager = tlieferant.nStandardLager AND LieferantLager.nAktiv = 1
	  LEFT JOIN eazybusiness.dbo.tbenutzer ON tbenutzer.kBenutzer = tArtikelEinkaufsliste.kBenutzer
	  LEFT JOIN tmpEinkaufsliste ON tmpEinkaufsliste.kArtikel = tArtikel.kArtikel AND tmpEinkaufsliste.kLieferant = tArtikelEinkaufsliste.kLieferant AND tmpEinkaufsliste.kWarenlager = ISNULL(tArtikelEinkaufsliste.kWarenlager,0)
	  LEFT JOIN Artikel.tArtikelMindestLagerbestandProLager ON tArtikelMindestLagerbestandProLager.kArtikel = tArtikelEinkaufsliste.kArtikel AND tArtikelMindestLagerbestandProLager.kWarenlager = ISNULL(NULLIF(tArtikelEinkaufsliste.kWarenlager, 0), LieferantLager.kWarenLager)
	  LEFT JOIN (
		   SELECT tliefartikel.tArtikel_kArtikel AS kArtikel,
			      tliefartikel.tLieferant_kLieferant AS kLieferant,
			      SUM(tliefartikel.fLagerbestand) AS fLagerbestand,
				  MIN(tliefartikel.nLieferzeit) AS nLieferzeit
             FROM dbo.tArtikelEinkaufsliste
		     JOIN dbo.tliefartikel ON tliefartikel.tArtikel_kArtikel = tArtikelEinkaufsliste.kArtikel
		 GROUP BY tliefartikel.tArtikel_kArtikel, tliefartikel.tLieferant_kLieferant
	  ) AS tmpEinkaufslisteSummen ON tmpEinkaufslisteSummen.kArtikel = tArtikel.kArtikel AND (   tmpEinkaufslisteSummen.kLieferant = tArtikelEinkaufsliste.kLieferant
																						  OR tArtikelEinkaufsliste.kLieferant IS NULL) 
	  LEFT JOIN (
		   SELECT tLiefArtikelPreis.kLiefArtikel,
		          MIN(tLiefArtikelPreis.fPreisNetto) AS fEkNettoAktuell
		     FROM dbo.tLiefArtikelPreis
                      JOIN
                  (
                      SELECT
                          Mindestabnahme.kLiefArtikel,
                          CASE
                              WHEN Mindestabnahme.nAbnahmeIntervall IS NULL
                                  OR Mindestabnahme.nAbnahmeIntervall = 0.0
                                  OR Mindestabnahme.fAnzahl % Mindestabnahme.nAbnahmeIntervall = 0.0
				THEN Mindestabnahme.fAnzahl
                              WHEN Mindestabnahme.fAnzahl <= Mindestabnahme.nAbnahmeIntervall
                                  THEN Mindestabnahme.nAbnahmeIntervall
                              ELSE
                                  Mindestabnahme.fAnzahl + Mindestabnahme.nAbnahmeIntervall
                                      - (Mindestabnahme.fAnzahl % Mindestabnahme.nAbnahmeIntervall)
                              END AS fAnzahl
                      FROM
                          (
                              SELECT
                                  tliefartikel.kLiefArtikel AS kLiefArtikel,
                                  CASE
                                      WHEN tliefartikel.nMindestAbnahme IS NOT NULL
                                          AND
                                           (
                                               tArtikelEinkaufsliste.fAnzahl IS NULL
                                                   OR tliefartikel.nMindestAbnahme > tArtikelEinkaufsliste.fAnzahl
                                               )
                                          THEN tliefartikel.nMindestAbnahme
                                      ELSE tArtikelEinkaufsliste.fAnzahl
                                      END AS fAnzahl,
                                  tliefartikel.nAbnahmeIntervall
                              FROM dbo.tArtikelEinkaufsliste
                                       JOIN dbo.tliefartikel ON tliefartikel.tArtikel_kArtikel = tArtikelEinkaufsliste.kArtikel
                          ) AS Mindestabnahme
                  ) AS tmpEinkaufsliste ON tmpEinkaufsliste.kLiefArtikel = tLiefArtikelPreis.kLiefArtikel
                      AND tLiefArtikelPreis.fAb <= tmpEinkaufsliste.fAnzahl
		 GROUP BY tLiefArtikelPreis.kLiefArtikel
	  ) AS tmpEinkaufslistePreis ON tmpEinkaufslistePreis.kLiefArtikel = tmpEinkaufsliste.kLiefArtikel
	  LEFT JOIN (
		SELECT tliefartikel.tLieferant_kLieferant AS kLieferant,
			   tliefartikel.tArtikel_kArtikel AS kArtikel,
			   CASE WHEN ISNULL(tlieferant.cLiefNr, '') != ''
				    THEN CONCAT(tlieferant.cFirma, ' - ', tlieferant.cLiefNr)
			    	ELSE tlieferant.cFirma
			    END AS cName,
				ROW_NUMBER() OVER(PARTITION BY tliefartikel.tArtikel_kArtikel ORDER BY tliefartikel.nLieferzeit ASC, tliefartikel.nStandard DESC) AS nPrio
		   FROM dbo.tArtikelEinkaufsliste
		   JOIN dbo.tliefartikel ON tArtikelEinkaufsliste.kArtikel = tliefartikel.tArtikel_kArtikel
		   JOIN dbo.tlieferant ON tliefartikel.tLieferant_kLieferant = tlieferant.kLieferant
		  WHERE tlieferant.cAktiv <> 'N' AND tlieferant.nKeineEinkaufsliste = 0
	  ) AS LieferantSchnellster ON LieferantSchnellster.kArtikel = tArtikel.kArtikel AND LieferantSchnellster.nPrio = 1
	  LEFT JOIN (
	    SELECT tliefartikel.tLieferant_kLieferant AS kLieferant,
			   tliefartikel.tArtikel_kArtikel AS kArtikel,
			   CASE WHEN ISNULL(tlieferant.cLiefNr, '') != ''
				    THEN CONCAT(tlieferant.cFirma, ' - ', tlieferant.cLiefNr)
			    	ELSE tlieferant.cFirma
			    END AS cName,
				ROW_NUMBER() OVER(PARTITION BY tliefartikel.tArtikel_kArtikel ORDER BY tliefartikel.nLieferzeit ASC) AS nPrio
		   FROM dbo.tArtikelEinkaufsliste
		   JOIN dbo.tliefartikel ON tArtikelEinkaufsliste.kArtikel = tliefartikel.tArtikel_kArtikel
		   JOIN dbo.tlieferant ON tliefartikel.tLieferant_kLieferant = tlieferant.kLieferant
		  WHERE tlieferant.cAktiv <> 'N' AND tlieferant.nKeineEinkaufsliste = 0 AND tliefartikel.nStandard = 1
	  ) AS LieferantStandard ON LieferantStandard.kArtikel = tArtikel.kArtikel AND LieferantStandard.nPrio = 1
	 LEFT JOIN
	(
			SELECT *
		FROM
		(
			SELECT ROW_NUMBER() OVER (PARTITION BY kArtikel ORDER BY GesamtSumme) AS RowNumber, * FROM 
			(
			SELECT  tmpEinkaufsliste.kArtikel, 
					tLieferant.kLieferant, 
					CASE
						WHEN ISNULL(tlieferant.cLiefNr, '') != ''
							THEN CONCAT(tlieferant.cFirma, ' - ', tlieferant.cLiefNr)
						ELSE tlieferant.cFirma
					END AS cName,
					(
						CASE WHEN ISNULL(tliefartikel.nMindestabnahme,0.0) < ISNULL(tmpEinkaufsliste.fAnzahl,0.0)
						THEN
							CASE WHEN MIN(tLieferantRabattStaffel.fAb) IS NOT NULL AND MIN(tLieferantRabattStaffel.fAb) <= Preis.fGesamtNetto
							THEN	--MitRabatt	
								Preis.fGesamtRabatt + ISNULL(tLieferant.fFrachtkosten,0.0)
							ELSE	--Ohne Rabatt
								Preis.fGesamtNetto + ISNULL(tLieferant.fFrachtkosten,0.0)
							END
						ELSE
							CASE WHEN MIN(tLieferantRabattStaffel.fAb) IS NOT NULL AND MIN(tLieferantRabattStaffel.fAb) <= Preis.fGesamtNetto
							THEN	--Mit Rabatt
								Preis.fGesamtRabatt + ISNULL(tLieferant.fFrachtkosten,0.0) + ISNULL(tLieferant.fMindermengenzuschlag,0.0) 
							ELSE	--Ohne Rabatt
								Preis.fGesamtNetto + ISNULL(tLieferant.fFrachtkosten,0.0) + ISNULL(tLieferant.fMindermengenzuschlag,0.0) 
							END
						END * (1 - ISNULL(tLieferant.fSkonto,0.0)/100)
					) AS GesamtSumme
					FROM dbo.tLieferant	
						JOIN dbo.tliefartikel ON tliefartikel.tLieferant_kLieferant = tLieferant.kLieferant
						JOIN tmpEinkaufsliste ON tliefartikel.tArtikel_kArtikel = tmpEinkaufsliste.kArtikel
						LEFT JOIN dbo.tLieferantRabattStaffel ON tLieferant.kLieferant = tLieferantRabattStaffel.kLieferant	
						--
						-- Summenpreise
						--
						JOIN
						(
							SELECT tliefartikel.tLieferant_kLieferant, tliefartikel.tArtikel_kArtikel, Rabatt.RabattAb, fGesamtNetto = GesamtPreis.Preis
							,fGesamtRabatt =
							CASE WHEN RabattAb <= GesamtPreis.Preis
								THEN	--Mit Rabatt
									GesamtPreis.Preis * (1-MAX(tLieferantRabattStaffel.fRabatt)/100)
								ELSE	--Ohne Rabatt
									0.0
							END
							FROM dbo.tliefartikel
							LEFT JOIN dbo.tliefartikelPreis ON tliefartikelPreis.kLiefArtikel = tliefartikel.kLiefArtikel
							LEFT JOIN tmpEinkaufsliste ON  tliefartikel.tArtikel_kArtikel = tmpEinkaufsliste.kArtikel
							LEFT JOIN dbo.tLieferantRabattStaffel ON tLieferantRabattStaffel.kLieferant = tliefartikel.tLieferant_kLieferant
							--
							-- Rabattgrenze
							--
							LEFT JOIN
							(
								SELECT kLieferant, ISNULL(MIN(tLieferantRabattStaffel.fAb),0.0) AS RabattAb 
								  FROM dbo.tLieferantRabattStaffel
							  GROUP BY kLieferant
							) AS Rabatt ON Rabatt.kLieferant = tliefartikel.tLieferant_kLieferant
							--
							--	Staffelpreise
							--
							JOIN
							(
								SELECT tliefartikel.tLieferant_kLieferant, 
								       tliefartikel.tArtikel_kArtikel, 
									   Preis = CASE WHEN MIN(tliefartikelPreis.fAb) >= tmpEinkaufsliste.fAnzahl
												    THEN --Mit Staffelpreis 
													tmpEinkaufsliste.fAnzahl * MIN(tliefartikelPreis.fPreisNetto)
													ELSE --Ohne Staffelpreis
													tmpEinkaufsliste.fAnzahl * tliefartikel.fEKNetto
												END
								FROM dbo.tliefartikel
								LEFT JOIN dbo.tliefartikelPreis ON tliefartikelPreis.kLiefArtikel = tliefartikel.kLiefArtikel
								JOIN tmpEinkaufsliste ON  tliefartikel.tArtikel_kArtikel = tmpEinkaufsliste.kArtikel
								GROUP BY tliefartikel.tArtikel_kArtikel, tliefartikelPreis.fAb, tmpEinkaufsliste.fAnzahl, tliefartikel.fEKNetto, tliefartikel.tLieferant_kLieferant
							) AS GesamtPreis ON GesamtPreis.tArtikel_kArtikel = tmpEinkaufsliste.kArtikel AND GesamtPreis.tLieferant_kLieferant = tliefartikel.tLieferant_kLieferant
							WHERE ISNULL(tLieferantRabattStaffel.fAb, 0.0) <=
							CASE WHEN Rabatt.RabattAb <= GesamtPreis.Preis 
								THEN GesamtPreis.Preis
								ELSE ISNULL(tLieferantRabattStaffel.fAb, 0.0)
							END 
							GROUP BY Rabatt.RabattAb,tliefartikel.tArtikel_kArtikel, GesamtPreis.Preis, tliefartikel.tLieferant_kLieferant
						) AS Preis ON Preis.tArtikel_kArtikel = tliefartikel.tArtikel_kArtikel AND Preis.tLieferant_kLieferant = tliefartikel.tLieferant_kLieferant
						WHERE tLieferant.nKeineEinkaufsliste = 0
						GROUP BY tLieferant.kLieferant, tliefartikel.nMindestabnahme, tmpEinkaufsliste.fAnzahl, tLieferant.fVersandfreiAb,
								Preis.fGesamtRabatt, Preis.fGesamtNetto, tLieferant.fFrachtkosten,tLieferant.fMindermengenzuschlag,tLieferant.fSkonto,
								tmpEinkaufsliste.kArtikel, tLieferant.cFirma, tlieferant.cLiefNr
			) AS Result
		) AS Result2
		WHERE Result2.rowNumber = 1
	) AS guenstigsterLieferant ON tArtikelEinkaufsliste.kArtikel = guenstigsterLieferant.kArtikel
GO
