USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvItemStockDemand]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvItemStockDemand] AS 
SELECT tItemStockDemand.kItemStockDemand,
       tItemStockDemand.iContext,
       tItemStockDemand.kContext,
       tItemStockDemand.kWarenLager,
       tItemStockDemand.kWarenLagerPlatz,
       tItemStockDemand.kWarenLagerBereich,
       tItemStockDemand.kArtikel,
       tItemStockDemand.fQuantity,
       tItemStockDemand.kBenutzer,
       tItemStockDemand.cComment,
       tItemStockDemand.dCreationDate,
       CONVERT(DATETIME2, tItemStockDemand.dCreationDate) AS dFilterDate,
       tItemStockDemand.dTargetDate,
       tItemStockDemand.nStatus,
       vStandardArtikel.cArtNr,
       vStandardArtikel.cName,
       vStandardArtikel.nSort,
       CONVERT(BIT, vStandardArtikel.nMHD) AS IstMHD,
       CONVERT(BIT, vStandardArtikel.nCharge) AS IstCharge,
       CAST(CASE
                WHEN vStandardArtikel.cLagerArtikel = 'Y' THEN
                    1
                ELSE
                    0
            END AS BIT) AS IstSeriennummer,
       CAST(CASE
                WHEN vStandardArtikel.cTeilbar = 'Y' THEN
                    1
                ELSE
                    0
            END AS BIT) AS IstStueckzahlteilbar,
       CAST(CASE
                WHEN vStandardArtikel.nIstTeilmengenArtikel > 0 THEN
                    1
                ELSE
                    0
            END AS BIT) AS TeilmengenArtikel,
       CAST(CASE
                WHEN vStandardArtikel.nSeriennummernVerfolgung > 0 THEN
                    1
                ELSE
                    0
            END AS BIT) AS SeriennummernVerfolgung,
       CAST(CASE
                WHEN vStandardArtikel.cLagerKleinerNull = 'Y' THEN
                    1
                ELSE
                    0
            END AS BIT) AS IstUeberverkaufMoeglich,
       CASE
           WHEN vStandardArtikel.nIstMindestbestand > 0 THEN
               vStandardArtikel.nMidestbestand
           ELSE
               NULL
       END AS Mindestbestand,
       vStandardArtikel.cHAN,
       vStandardArtikel.fBreite AS Breite,
       vStandardArtikel.fHoehe AS Hoehe,
       vStandardArtikel.fLaenge AS Laenge,
       vStandardArtikel.cBarcode AS GTIN,
       vStandardArtikel.fGewicht AS Versandgewicht,
       vStandardArtikel.fArtGewicht AS Gewicht,
       tlagerbestand.fLagerbestand AS BestandGesamt,
       tlagerbestand.fLagerbestandEigen AS BestandEigen,
       tlagerbestand.fZulauf AS BestandImZulauf,
       tlagerbestand.fAufEinkaufsliste AS BestandAufEinkaufsliste,
       tlagerbestand.fInAuftraegen AS BestandInAuftraegen,
       tlagerbestand.fVerfuegbar AS BestandVerfuegbar,
       tbenutzer.cName AS BenutzerNameDemand,
       ISNULL(tLagerbestandVirtuell.fBestand, 0.0) AS Produzierbar, -- Der Bestand, welcher errechnet Produzierbar ist,.
       ISNULL(tLagerbestandVirtuell.fZulauf, 0.0) AS InProduktion   -- Bestand, welcher aktuell Produziert wird. Vorab Errechnet, + Live Errechnet
FROM Beschaffung.tItemStockDemand
    JOIN dbo.vStandardArtikel
        ON tItemStockDemand.kArtikel = vStandardArtikel.kArtikel
    JOIN dbo.tlagerbestand
        ON vStandardArtikel.kArtikel = tlagerbestand.kArtikel
    LEFT OUTER JOIN dbo.tLagerbestandVirtuell
        ON vStandardArtikel.kArtikel = tLagerbestandVirtuell.kArtikel
           AND tLagerbestandVirtuell.iModuleId = '0200D767-9A5C-4B6A-882E-051FFA69A9D2'
    LEFT JOIN eazybusiness.dbo.tbenutzer
        ON tbenutzer.kBenutzer = tItemStockDemand.kBenutzer
GO
