USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvLieferant]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvLieferant] AS 	
	SELECT  
		dbo.tLieferant.kLieferant AS kLieferant,
		dbo.tLieferant.cLieferantID AS cLieferantennummer,
		dbo.tLieferant.cFirma AS cFirma,
		dbo.tLieferant.cFirmenZusatz AS cFirmaZusatz,
		dbo.tLieferant.cKontakt AS cKontakt,
		dbo.tLieferant.cTelZentralle AS cTelZentrale,
		dbo.tLieferant.cTelDurchwahl AS cTelDurchwahl,
		dbo.tLieferant.cFax AS cFax,
		dbo.tLieferant.cOrt AS cOrt,
		dbo.tLieferant.cLand AS cLand,
		dbo.tLieferant.cLiefNr AS cEigeneKundennummer,
		dbo.tLieferant.cPLZ AS cPlz,
		dbo.tLieferant.cStrasse AS cStrasse,
		dbo.tLieferant.cEMail AS cEMail,
		ISNULL(dbo.tSpracheUsed.cNameDeu, '') AS cSprache,
		CONVERT(VARCHAR(1000), dbo.tLieferant.cAnmerkung) AS cAnmerkung,
		ISNULL(tLieferant.nJtlFulfillment, 0) AS nIstJtlFulfillment
	FROM dbo.tLieferant
	LEFT JOIN dbo.tSpracheUsed ON dbo.tSpracheUsed.kSprache = dbo.tLieferant.kSprache
	WHERE tLieferant.cAktiv = 'Y' 
	AND tLieferant.nType = 0
GO
