USE [eazybusiness]
GO
/****** Object:  Table [Beschaffung].[tBestellvorschlagVorlageStandardZielbereich]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Beschaffung].[tBestellvorschlagVorlageStandardZielbereich](
	[kBedarfsgrundlage] [int] NOT NULL,
	[cWarenlager] [nvarchar](255) NULL,
	[dTimeStamp] [datetime2](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
