USE [eazybusiness]
GO
/****** Object:  Table [Beschaffung].[tItemStockDemand]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Beschaffung].[tItemStockDemand](
	[kItemStockDemand] [int] IDENTITY(1,1) NOT NULL,
	[iContext] [uniqueidentifier] NULL,
	[kContext] [int] NULL,
	[kWarenLager] [int] NULL,
	[kWarenLagerPlatz] [int] NULL,
	[kWarenLagerBereich] [int] NULL,
	[kArtikel] [int] NOT NULL,
	[fQuantity] [decimal](25, 13) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cComment] [ntext] NOT NULL,
	[dCreationDate] [datetimeoffset](7) NOT NULL,
	[dTargetDate] [datetimeoffset](7) NULL,
	[nStatus] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Beschaffung_tItemStockDemand] PRIMARY KEY CLUSTERED 
(
	[kItemStockDemand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Beschaffung].[tItemStockDemand] ADD  CONSTRAINT [DF_Beschaffung_tItemStockDemand_fQuantity]  DEFAULT ((0)) FOR [fQuantity]
GO
ALTER TABLE [Beschaffung].[tItemStockDemand] ADD  CONSTRAINT [DF_Beschaffung_tItemStockDemand_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
