USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvPreisanfragePos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvPreisanfragePos] AS 	
	SELECT 
		tLieferantenBestellungPos.kLieferantenBestellungPos AS kLieferantenBestellungPos,
		tLieferantenBestellungPos.kLieferantenBestellung AS kLieferantenBestellung,
		tLieferantenBestellungPos.cLieferantenArtNr AS cLieferantenArtNr,
		tLieferantenBestellungPos.cArtNr AS cArtNr,
		tLieferantenBestellungPos.kArtikel AS kArtikel,
		ISNULL(tLieferantenBestellungPos.cName, tArtikelBeschreibung.cName) AS cName,
		tLieferantenBestellungPos.cLieferantenBezeichnung AS cNameLief,
		tLieferantenBestellungPos.fUST AS fUST,
		tLieferantenBestellungPos.fMenge AS fMenge,
		tLieferantenBestellungPos.fEKNetto AS fEKNetto,
		tartikel.fEKNetto AS fAverageEkNetto,
		tLieferantenBestellungPos.cHinweis AS cHinweis,
		tArtikel.cHAN AS cHAN
	FROM dbo.tLieferantenBestellungPos
	JOIN dbo.tLieferantenBestellung ON tLieferantenBestellung.kLieferantenBestellung = tLieferantenBestellungPos.kLieferantenBestellung
	LEFT JOIN dbo.tSpracheUsed ON dbo.tSpracheUsed.kSprache = dbo.tLieferantenBestellung.kSprache
	LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = tLieferantenBestellungPos.kArtikel
	LEFT JOIN dbo.tArtikelBeschreibung ON tartikel.kArtikel = tArtikelBeschreibung.kArtikel;
GO
