USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvPreisanfrage]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------
--				WAWI-37495
---------------------------------------------


CREATE VIEW [Beschaffung].[lvPreisanfrage] AS 	
	SELECT  
		tLieferantenBestellung.kLieferantenBestellung AS kLieferantenBestellung,
		tLieferantenBestellung.cEigeneBestellnummer AS cPreisanfrage,
		ISNULL(tlieferant.cFirma, '') AS cLieferant,
		ISNULL(tlieferant.cFirmenZusatz, '') AS cLieferantFirmenZusatz,
		ISNULL(tlieferant.cLieferantID, '') AS cLieferantennummer,
		ISNULL(tlieferant.cLiefNr, '') AS cLieferantEigeneKundennummer,
		tLieferantenBestellung.dErstellt AS dErstellt,
		tLieferantenBestellung.dGedruckt AS dGedruckt,
		tLieferantenBestellung.dGemailt AS dGemailt,
		tLieferantenBestellung.dGefaxt AS dGefaxt,
		tLieferantenBestellung.cInternerKommentar AS cKommentar,
		tLieferantenBestellung.nBestaetigt AS nBestaetigt,
		ISNULL(tLieferantenBestellungLA.cFirma, '') AS cLieferadresseFirma,
		ISNULL(tLieferantenBestellungLA.cVorname, '') AS cLieferadresseVorname,
		ISNULL(tLieferantenBestellungLA.cNachname, '') AS cLieferadresseName,	
		ISNULL(tLieferantenBestellungRA.cFirma, '') AS cRechnungsadresseFirma,
		ISNULL(tLieferantenBestellungRA.cVorname, '') AS cRechnungsadresseVorname,
		ISNULL(tLieferantenBestellungRA.cNachname, '') AS cRechnungsadresseName,
		ISNULL(tLieferantenBestellungLA.cPLZ, '') AS cLieferadressePlz,
		ISNULL(tLieferantenBestellungLA.cOrt, '') AS cLieferadresseOrt,
		ISNULL(tLieferantenBestellungLA.cLandISO, '') AS cLieferadresseLand,
		ISNULL(tLieferantenBestellungLA.cStrasse, '') AS cLieferadresseStrasse,
		ISNULL(tLieferantenBestellungLA.cMail, '') AS cLieferadresseMail
	FROM dbo.tLieferantenBestellung
	JOIN dbo.tlieferant ON tLieferantenBestellung.kLieferant = tlieferant.kLieferant
	LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tlieferant.kSprache
	LEFT JOIN dbo.tLieferantenBestellungLA ON tLieferantenBestellungLA.kLieferantenBestellungLA = tLieferantenBestellung.kLieferantenBestellungLA
	LEFT JOIN dbo.tLieferantenBestellungRA ON tLieferantenBestellungRA.kLieferantenBestellungRA = tLieferantenBestellung.kLieferantenBestellungRA
	WHERE tLieferantenBestellung.nStatus = 100;
GO
