USE [eazybusiness]
GO
/****** Object:  Table [Beschaffung].[tUmlagerungVersandartenMapping]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Beschaffung].[tUmlagerungVersandartenMapping](
	[kStartlager] [int] NOT NULL,
	[kZiellager] [int] NOT NULL,
	[kVersandart] [int] NOT NULL,
 CONSTRAINT [PK_Beschaffung_tUmlagerungVersandartenMapping] PRIMARY KEY CLUSTERED 
(
	[kStartlager] ASC,
	[kZiellager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
