USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvBestellPositionen]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvBestellPositionen] AS 	
	SELECT  
		tLieferantenbestellungPos.kLieferantenBestellung AS kBestellung,
		tLieferantenbestellungPos.kLieferantenBestellungPos AS kBestellungPos,
		tLieferantenbestellungPos.kArtikel AS kArtikel,
		tLieferantenBestellungPos.cArtNr AS cArtNr,
		tLieferantenBestellungPos.cLieferantenArtNr AS cLieferantenArtNr,
		tLieferantenBestellungPos.nSort AS nSort,
		ISNULL(tLieferantenBestellungPos.cName, vStandardArtikel.cName) AS cName,
		tliefartikel.cName AS cNameLief,
		tLieferantenBestellungPos.fUST AS fUST,
		tLieferantenBestellungPos.fMenge AS fMenge,
				CASE 
				WHEN tLieferantenBestellung.nStatus = 700
					THEN tLieferantenBestellungPos.fMenge
				ELSE tLieferantenBestellungPos.fMengeGeliefert 
			END AS fMengeGeliefert,
			tLieferantenBestellungPos.fEKNetto AS fEKNetto,
			ISNULL(vStandardArtikel.fEKNetto, 0.0) AS fEKNettoArtikel,
			tLieferantenBestellungPos.fEKNetto * tLieferantenBestellungPos.fMenge AS fEkNettoGesamt,
			tLieferantenBestellungPos.cHinweis AS cHinweis,
			tLieferantenBestellungPos.dLieferdatum AS dLieferdatum,
			tLieferantenBestellungPos.nPosTyp AS nPosTyp,
			vStandardArtikel.cHAN AS cHAN,
			tliefartikel.cSonstiges  AS cKommentar
	FROM dbo.tLieferantenbestellungPos
	JOIN tLieferantenBestellung ON tLieferantenBestellung.kLieferantenbestellung = tLieferantenbestellungPos.kLieferantenBestellung
	LEFT JOIN dbo.vStandardArtikel ON vStandardArtikel.kArtikel = tLieferantenbestellungPos.kArtikel
	LEFT JOIN dbo.tliefartikel ON tliefartikel.tArtikel_kArtikel = tLieferantenbestellungPos.kArtikel AND tliefartikel.tLieferant_kLieferant = tLieferantenBestellung.klieferant
GO
