USE [eazybusiness]
GO
/****** Object:  View [Beschaffung].[lvRueckstandserinnerung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Beschaffung].[lvRueckstandserinnerung] 
AS
SELECT
	tLieferantenBestellungErinnerung.kLieferantenBestellungErinnerung AS kLieferantenBestellungErinnerung,
	tLieferantenBestellungErinnerung.dDatum AS dErinnerungDatum,
	tLieferantenBestellung.cEigeneBestellnummer AS cEigeneBestellnummer,
	tLieferantenBestellungLieferant.cFirma AS cBestellungLieferant,
	tLieferantenBestellung.kLieferantenBestellungLieferant AS kBestellungLieferant,
	tLieferantenBestellung.dErstellt AS dBestellungErstellt,
	tLieferantenBestellung.nStatus AS nBestellungStatus,
	tLieferantenBestellung.dLieferdatum AS dBestellungLieferdatum,
	tLieferantenBestellung.dGedruckt AS dBestellungGedruckt,
	tLieferantenBestellung.dGemailt AS dBestellungGemailt,
	tLieferantenBestellung.dGefaxt AS dBestellungGefaxt,
	tLieferantenBestellung.dExportiert AS dBestellungExportiert,
	tLieferantenBestellung.cInternerKommentar AS cBestellungInternerKommentar,
	Positionssumme.fBetragNetto AS fBetragNetto
FROM
	dbo.tLieferantenBestellungErinnerung
JOIN
	dbo.tLieferantenBestellung ON tLieferantenBestellung.kLieferantenBestellung = tLieferantenBestellungErinnerung.kLieferantenBestellung
JOIN
	dbo.tLieferantenBestellungLieferant ON tLieferantenBestellungLieferant.kLieferantenBestellungLieferant = tLieferantenBestellung.kLieferantenBestellungLieferant
JOIN
	(
		SELECT	
			tLieferantenBestellungErinnerungPos.kLieferantenBestellungErinnerung,
			SUM(ISNULL(tLieferantenBestellungErinnerungPos.fAnzahl, 0.0) * ISNULL(tLieferantenBestellungPos.fEKNetto, 0.0)) AS fBetragNetto
		FROM
			dbo.tLieferantenBestellungErinnerungPos
		JOIN
			dbo.tLieferantenBestellungPos ON tLieferantenBestellungPos.kLieferantenBestellungPos = tLieferantenBestellungErinnerungPos.kLieferantenBestellungPos
		GROUP BY 
			tLieferantenBestellungErinnerungPos.kLieferantenBestellungErinnerung
	) AS Positionssumme ON Positionssumme.kLieferantenBestellungErinnerung = tLieferantenBestellungErinnerung.kLieferantenBestellungErinnerung
GO
