USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vBestandsartikel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vBestandsartikel]
-- Alle Artikel die physikalisch einen Bestand führen
AS
SELECT 
	tArtikel.kArtikel
FROM
	dbo.tArtikel
WHERE tArtikel.cLagerAktiv = 'Y' AND tArtikel.kStueckliste = 0 AND tArtikel.nIstVater = 0 AND tArtikel.cLagerVariation = 'N';
GO
