USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vNaechsterZulauf]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vNaechsterZulauf]
AS
/*************************************************************************************************************
Beschreibung:	Diese View gibt den nächsten Zulauf für bestellte Artikel aus den Lieferanten-Bestellungen an
*************************************************************************************************************/
SELECT	LiefBP.kArtikel,
		SUM(LiefBP.fAnzahlOffen) AS fZulauf,
		MIN(CONVERT(DATE, LiefBP.dLieferdatum)) AS dLieferdatum
FROM	dbo.tLieferantenBestellungPos AS LiefBP
JOIN	dbo.tLieferantenBestellung AS LiefB ON LiefB.kLieferantenBestellung = LiefBP.kLieferantenBestellung
JOIN	(
			SELECT	LiefBP.kArtikel,
					MIN(CONVERT(DATE, LiefBP.dLieferdatum)) AS dLieferDatumMin
			FROM	dbo.tLieferantenBestellungPos AS LiefBP
			JOIN	dbo.tLieferantenBestellung AS LiefB ON LiefB.kLieferantenBestellung = LiefBP.kLieferantenBestellung
			WHERE	LiefB.nStatus BETWEEN 20 AND 50 -- 20 = In Bearbeitung | 50 = Ueberfaellig
					AND LiefBP.fAnzahlOffen > 0.0
			GROUP BY LiefBP.kArtikel
		) AS ArtikelMinLieferdatum ON ArtikelMinLieferdatum.kArtikel = LiefBP.kArtikel AND ArtikelMinLieferdatum.dLieferDatumMin = CONVERT(DATE, LiefBP.dLieferdatum)
WHERE	LiefB.nStatus BETWEEN 20 AND 50 -- 20 = In Bearbeitung | 50 = Ueberfaellig
		AND LiefBP.fAnzahlOffen > 0.0
GROUP BY LiefBP.kArtikel;
GO
