USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vBestandBestandsartikel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vBestandBestandsartikel]
AS
/*************************************************************************************************************
Beschreibung:	Diese View enthält den aktuellen Bestand aller physikalisch lagerführenden Artikel
				(live berechnet)
*************************************************************************************************************/
SELECT		WLE.kArtikel,
			SUM(WLE.fAnzahlAktuell) AS fBestand,
			SUM(CASE WHEN WLP.nGesperrt = 1 THEN WLE.fAnzahlAktuell ELSE ISNULL(GesperrtAufPL.fAnzahlAufPL2, 0.0) END) AS fBestandGesperrtFuerVerfuegbar,
			SUM(CASE WHEN WLP.nAuslieferungGesperrt = 1 THEN WLE.fAnzahlAktuell ELSE 0.0 END) AS fBestandGesperrtFuerAuslieferung,
			SUM(CASE
					WHEN WLP.nGesperrt = 1 THEN WLE.fAnzahlAktuell -- Warenlagerplatz gesperrt
					WHEN WL.kQuellLager <> WL.kZielLager THEN WLE.fAnzahlAktuell -- Streckenlager
					WHEN WL.nFulfillment > 0 THEN WLE.fAnzahlAktuell -- FulFillment-Lager
					ELSE ISNULL(GesperrtAufPL.fAnzahlAufPL2, 0.0) -- gesperrt aufgrund Produktions-PL
				END) AS fBestandGesperrtProduktion
FROM		dbo.tWarenLagerEingang AS WLE
JOIN		dbo.tWarenLagerPlatz AS WLP ON WLP.kWarenLagerPlatz = WLE.kWarenLagerPlatz
JOIN		dbo.tWarenLager AS WL ON WLP.kWarenLager = WL.kWarenLager
LEFT JOIN	(
				SELECT	PLP.kArtikel,
						PLP.kWarenLagerEingang,
						SUM(PLP.fAnzahl) AS fAnzahlAufPL2
				FROM	dbo.tPicklistePos AS PLP
				JOIN	dbo.tPickliste AS PL ON PL.kPickliste = PLP.kPickliste
				WHERE	PLP.nStatus < 40 -- 40 = Abgeschlossen
						AND PL.nType = 2 -- 2 = Produktions-Pickliste
						AND PLP.kBestellPos IS NULL -- Nur Positionen mit kBestellPos = NULL, da die anderen in fInAuftraegen "gezählt" werden
				GROUP BY PLP.kArtikel, PLP.kWarenLagerEingang
			) AS GesperrtAufPL ON GesperrtAufPL.kWarenLagerEingang = WLE.kWarenLagerEingang AND GesperrtAufPL.kArtikel = WLE.kArtikel
WHERE		WLE.fAnzahlAktuell > 0
GROUP BY	WLE.kArtikel;
GO
