USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vWarenlager]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vWarenlager]
-- Alle Warenläger die physikalische Bestände führen
AS
SELECT
	tWarenLager.kWarenLager
FROM
	dbo.tWarenLager
WHERE tWarenLager.nAktiv = 1
GO
