USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vZulauf]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vZulauf]
AS
/*************************************************************************************************************
Beschreibung:	Diese View gibt die Anzahl des Zulaufs für bestellte Artikel aus den Lieferanten-Bestellungen an
*************************************************************************************************************/
SELECT	LiefBP.kArtikel,
		SUM(LiefBP.fAnzahlOffen) AS fZulauf,
		MIN(LiefBP.dLieferdatum) AS dLieferdatum
FROM	dbo.tLieferantenBestellungPos AS LiefBP
JOIN	dbo.tLieferantenBestellung AS LiefB ON LiefB.kLieferantenBestellung = LiefBP.kLieferantenBestellung
WHERE	LiefB.nStatus BETWEEN 20 AND 50 -- 20 = In Bearbeitung | 50 = Überfällig
		AND LiefBP.fAnzahlOffen > 0.0
GROUP BY LiefBP.kArtikel;
GO
