USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vInAuftraegen]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vInAuftraegen]
AS
/*************************************************************************************************************
Beschreibung:	Summe aller Artikel in noch offenen Aufträgen
*************************************************************************************************************/
SELECT	Results.kArtikel,
		SUM(Results.fInAuftraegen) AS fInAuftraegen
FROM	(
			SELECT	VAPEckD.kArtikel, 
					VAPEckD.fAnzahlOffen AS fInAuftraegen
			FROM	Verkauf.tAuftragPositionEckdaten AS VAPEckD
			JOIN	Verkauf.tAuftragPosition AS VAP ON VAP.kAuftragPosition = VAPEckD.kAuftragPosition
			WHERE	VAPEckD.fAnzahlOffen > 0.0 -- nur Aufträge mit offenen Positionen
					AND VAP.nReserviert = 1 -- keine Abos oder Angebote
			UNION ALL
			SELECT	ER.kArtikel,
					ER.fAnzahl AS fInAuftraegen 
			FROM	dbo.tExterneReservierung AS ER
		) AS Results
GROUP BY Results.kArtikel;
GO
