USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vBestandLieferanten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vBestandLieferanten]
-- Liefert die Summe aller Artikel die bei Lieferanten lagern
AS
SELECT 
	tliefartikel.tArtikel_kArtikel AS kArtikel,
	SUM(tliefartikel.fLagerbestand) AS fBestand
FROM dbo.tliefartikel
WHERE tliefartikel.nLagerBeachten > 0 AND tliefartikel.fLagerbestand > 0.0
GROUP BY tliefartikel.tArtikel_kArtikel
GO
