USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vBestandVarkombivater]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vBestandVarkombivater]
AS
/*************************************************************************************************************
Beschreibung:	Bestand aller Varkombiväter

				ACHTUNG: wenn diese View geändert wird, Änderungen auch in dbo.spUpdateLagerbestand durchführen!
*************************************************************************************************************/
SELECT 
			KindA.kVaterArtikel AS kArtikel,
			SUM(LB.fLagerbestand) AS fBestand,
			SUM(CASE WHEN KindA.cLagerAktiv = 'Y' AND LB.fLagerbestandEigen > 0.0 THEN LB.fLagerbestandEigen ELSE 0.0 END) AS fBestandEigen,
			SUM(CASE WHEN KindA.cLagerAktiv = 'Y' AND LB.fVerfuegbarGesperrt > 0.0 THEN LB.fVerfuegbarGesperrt ELSE 0.0 END) AS fBestandGesperrtFuerVerfuegbar,
			SUM(CASE WHEN KindA.cLagerAktiv = 'Y' AND LB.fAuslieferungGesperrt > 0.0 THEN LB.fAuslieferungGesperrt ELSE 0.0 END) AS fBestandGesperrtFuerAuslieferung,
			SUM(CASE WHEN KindA.cLagerAktiv = 'Y' AND LB.fProduktionGesperrt > 0.0 THEN LB.fProduktionGesperrt ELSE 0.0 END) AS fBestandGesperrtProduktion,
			SUM(LB.fInAuftraegen) AS fInAuftraegen,
			SUM(CASE WHEN KindA.cLagerAktiv = 'Y' AND LB.fVerfuegbar > 0.0 THEN LB.fVerfuegbar ELSE 0.0 END) AS fVerfuegbar,
			SUM(LB.fZulauf) AS fZulauf,
			MIN(LB.dLieferdatum) AS dLieferdatum,
			SUM(LB.fAufEinkaufsliste) AS fAufEinkaufsliste
FROM		dbo.tArtikel AS KindA
JOIN		dbo.tLagerbestand AS LB ON LB.kArtikel = KindA.kArtikel
WHERE		KindA.kVaterArtikel > 0
GROUP BY	KindA.kVaterArtikel;
GO
