USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vAufEinkaufsliste]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vAufEinkaufsliste]
-- Liefert die Menge auf Einkaufsliste für jeden Artikel
AS
SELECT tArtikelEinkaufsliste.kArtikel,
	SUM(tArtikelEinkaufsliste.fAnzahl) AS fAnzahl
FROM dbo.tArtikelEinkaufsliste 
GROUP BY tArtikelEinkaufsliste.kArtikel
GO
