USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vBestandVirtuell]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vBestandVirtuell]
-- Liefert die Summe aller Artikel die einen Externen Bestand haben
AS
SELECT 
	tLagerbestandVirtuell.kArtikel AS kArtikel,
	SUM(tLagerbestandVirtuell.fBestand) AS fBestand,
	SUM(tLagerbestandVirtuell.fZulauf) AS fZulauf
FROM dbo.tLagerbestandVirtuell
WHERE tLagerbestandVirtuell.nLagerBeachten > 0 
GROUP BY tLagerbestandVirtuell.kArtikel
GO
