USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vBestandStueckliste]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vBestandStueckliste]
AS
/*************************************************************************************************************
Beschreibung:	Bestand der Stücklistenväter über alle Warenlager hinweg
				In der View werden zwei Werte für die Stücklistenkinder verwendet:
				Dominant			... Wert gewinnt über "nicht dominante" Werte
				Nicht dominant		... Wert ist nur relevant wenn kein "besserer" (dominanter)  Wert da ist

				ACHTUNG: wenn diese View geändert wird, Änderungen auch in dbo.spUpdateLagerbestand durchführen!
*************************************************************************************************************/
SELECT
		A.kArtikel,
		A.cArtNr,
		A.kStueckliste,
		CASE
			WHEN SLD.fLagerbestandDominant = 1000000000.0 AND SLD.fLagerbestandNichtDominant = 1000000000.0 THEN 0.0
			WHEN SLD.fLagerbestandDominant = 1000000000.0 THEN SLD.fLagerbestandNichtDominant
			ELSE SLD.fLagerbestandDominant 
		END AS fBestand,
		CASE
			WHEN SLD.fLagerbestandEigenDominant = 1000000000.0 AND SLD.fLagerbestandEigenNichtDominant = 1000000000.0 THEN 0.0
			WHEN SLD.fLagerbestandEigenDominant = 1000000000.0 THEN SLD.fLagerbestandEigenNichtDominant
			ELSE SLD.fLagerbestandEigenDominant 
		END AS fBestandEigen,
		CASE
			WHEN SLD.fVerfuegbarGesperrtDominant = 1000000000.0 AND SLD.fVerfuegbarGesperrtNichtDominant = 1000000000.0 THEN 0.0
			WHEN SLD.fVerfuegbarGesperrtDominant = 1000000000.0 THEN SLD.fVerfuegbarGesperrtNichtDominant
			ELSE SLD.fVerfuegbarGesperrtDominant
		END AS fBestandGesperrtVerfuegbar,
		CASE
			WHEN SLD.fAuslieferungGesperrtDominant = 1000000000.0 AND SLD.fAuslieferungGesperrtNichtDominant = 1000000000.0 THEN 0.0
			WHEN SLD.fAuslieferungGesperrtDominant = 1000000000.0 THEN SLD.fAuslieferungGesperrtNichtDominant
			ELSE SLD.fAuslieferungGesperrtDominant 
		END AS fBestandGesperrtAuslieferung,
		CASE
			WHEN SLD.fProduktionGesperrtDominant = 1000000000.0 AND SLD.fProduktionGesperrtNichtDominant = 1000000000.0 THEN 0.0
			WHEN SLD.fProduktionGesperrtDominant = 1000000000.0 THEN SLD.fProduktionGesperrtNichtDominant
			ELSE SLD.fProduktionGesperrtDominant 
		END AS fBestandGesperrtProduktion,
		CASE
			WHEN SLD.fVerfuegbarDominant = 1000000000.0 AND SLD.fVerfuegbarNichtDominant = 1000000000.0 THEN 0.0
			WHEN SLD.fVerfuegbarDominant = 1000000000.0 THEN SLD.fVerfuegbarNichtDominant
			ELSE SLD.fVerfuegbarDominant 
		END AS fVerfuegbar,
		CASE
			WHEN SLD.fZulaufDominant = 1000000000.0 AND SLD.fZulaufNichtDominant = 1000000000.0 THEN 0.0
			WHEN SLD.fZulaufDominant = 1000000000.0 THEN SLD.fZulaufNichtDominant
			ELSE SLD.fZulaufDominant 
		END AS fZulauf,
		SLD.dLieferdatum,
		SLD.fAufEinkaufsliste

FROM	dbo.tArtikel AS A
JOIN	(
			/*
			-- Subselect ab hier: Stuecklisten-Details - Berechnung der Bestandszahlen der Stücklisten-Kinder --
			cLagerAktiv			= Artikel mit/ohne Lagerbestand
			cLagerKleinerNull	= Überverkäufe möglich?
			cTeilbar			= Artikel teilbar?
			nPuffer				= Sicherheits-Menge, damit es keine Überverkäufe gibt
			*/
			SELECT
				VaterA.kArtikel AS kVaterArtikel,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN KindA.cLagerKleinerNull = 'Y' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fLagerbestand / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fLagerbestand / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fLagerbestandDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fLagerbestand / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fLagerbestand / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fLagerbestandNichtDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN KindA.cLagerKleinerNull = 'Y' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fLagerbestandEigen / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fLagerbestandEigen / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fLagerbestandEigenDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fLagerbestandEigen / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fLagerbestandEigen / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fLagerbestandEigenNichtDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN KindA.cLagerKleinerNull = 'Y' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN (LB.fVerfuegbar - KindA.nPuffer) / SL.fAnzahl
						ELSE CAST(FLOOR((LB.fVerfuegbar - KindA.nPuffer) / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fVerfuegbarDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN (LB.fVerfuegbar - KindA.nPuffer) / SL.fAnzahl
						ELSE CAST(FLOOR((LB.fVerfuegbar - KindA.nPuffer) / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fVerfuegbarNichtDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN KindA.cLagerKleinerNull = 'Y' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fVerfuegbarGesperrt / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fVerfuegbarGesperrt / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fVerfuegbarGesperrtDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fVerfuegbarGesperrt / SL.fAnzahl
						ELSE CAST(CEILING(LB.fVerfuegbarGesperrt / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fVerfuegbarGesperrtNichtDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN KindA.cLagerKleinerNull = 'Y' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fZulauf / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fZulauf / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fZulaufDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fZulauf / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fZulauf / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fZulaufNichtDominant,
				MIN(CASE
					WHEN VaterA.cTeilbar = 'Y' THEN LB.fAufEinkaufsliste / SL.fAnzahl
					ELSE CAST(FLOOR(LB.fAufEinkaufsliste / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fAufEinkaufsliste,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN KindA.cLagerKleinerNull = 'Y' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fAuslieferungGesperrt / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fAuslieferungGesperrt / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fAuslieferungGesperrtDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fAuslieferungGesperrt / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fAuslieferungGesperrt / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fAuslieferungGesperrtNichtDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN KindA.cLagerKleinerNull = 'Y' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fProduktionGesperrt / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fProduktionGesperrt / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fProduktionGesperrtDominant,
				MIN(CASE
						WHEN KindA.cLagerAktiv = 'N' THEN 1000000000.0
						WHEN VaterA.cTeilbar = 'Y' THEN LB.fProduktionGesperrt / SL.fAnzahl
						ELSE CAST(FLOOR(LB.fProduktionGesperrt / SL.fAnzahl) AS DECIMAL(25, 13))
					END) AS fProduktionGesperrtNichtDominant,
				MAX(LB.dLieferdatum) AS dLieferdatum

			FROM dbo.tArtikel AS VaterA
			JOIN dbo.tStueckliste AS SL ON SL.kStueckliste = VaterA.kStueckliste
			JOIN dbo.tArtikel AS KindA ON KindA.kArtikel = SL.kArtikel
			JOIN dbo.tLagerbestand AS LB ON LB.kArtikel = KindA.kArtikel
			GROUP BY VaterA.kArtikel
		) AS SLD ON SLD.kVaterArtikel = A.kArtikel
GO
