USE [eazybusiness]
GO
/****** Object:  View [Bestand].[vBestandEinfacheVariation]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Bestand].[vBestandEinfacheVariation]
-- Bestände von Artikeln mit Bestand in einfachen Variationen
AS
SELECT 
	teigenschaft.kArtikel AS kArtikel,
	MIN(teigenschaftwert.fLagerbestand) AS fBestand 
FROM dbo.teigenschaftwert
JOIN dbo.teigenschaft ON teigenschaft.kEigenschaft = teigenschaftwert.kEigenschaft		
WHERE teigenschaftwert.fLagerbestand > 0
GROUP BY teigenschaft.kArtikel
GO
