USE [eazybusiness]
GO
/****** Object:  View [BI].[BinLocation]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--So machen wir es, mit eine index-incl alle spalten
CREATE VIEW [BI].[BinLocation] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tWarenLagerPlatz].[kWarenLagerPlatz]							AS [BinLocationID],
		[tWarenLagerPlatz].[kWarenLager]								AS [WarehouseID],
		[tWarenLagerPlatz].[kWarenLagerPlatzTyp]						AS [BinLocationTypeID],
		[tWarenLagerPlatz].[kWmsInventur]								AS [StocktakingID],
		[tWarenLagerPlatz].[cName]										AS [BinLocationName],
		[tWarenLagerPlatz].[cKommentar]									AS [BinLocationComment],
		[tWarenLagerPlatz].[fLaenge]									AS [BinLength],
		[tWarenLagerPlatz].[fHoehe]										AS [BinHeight],
		[tWarenLagerPlatz].[fBreite]									AS [BinWidth],
		[tWarenLagerPlatz].[fGewichtMax]								AS [BinMaxWeight],
		[tWarenLagerPlatz].[dWmsInventurDatum]							AS [LastStocktakingDate],
		[tWarenLagerPlatz].[nAuslieferungGesperrt]						AS [IsLocked],
		[tWarenLagerPlatz].[nGesperrt]									AS [IsUsedForAvialableStock],
		[tWarenLagerPlatz].[bRowversion]								AS [LastChange]
	 FROM [dbo].[tWarenLagerPlatz]
	 WHERE 
		[tWarenLagerPlatz].[bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
													 FROM [BI].[tAbgleichSync]
												     WHERE [cAbgleichName] = 'BinLocation'), 0x0) 
											AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
