USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerGroup]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerGroup] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tKundenGruppe].[kKundenGruppe]								AS [CustomerGroupID],
		[tKundenGruppe].[bRowversion]								AS [LastChange]
	FROM [dbo].[tKundenGruppe]
	WHERE [tKundenGruppe].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'CustomerGroup'), 0x0) 
											AS TIMESTAMP)
	OR [tKundenGruppe].[kKundenGruppe] IN	(
											SELECT [CustomerGroupName].[CustomerGroupID]
											FROM [BI].[CustomerGroupName]
											LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CustomerGroupName'
											WHERE [CustomerGroupName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
	OR [tKundenGruppe].[kKundenGruppe] IN	(
											SELECT [CustomerGroupProperties].[CustomerGroupID]
											FROM [BI].[CustomerGroupProperties]
											LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CustomerGroupProperties'
											WHERE [CustomerGroupProperties].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP)
											OR [CustomerGroupProperties].[CustomerGroupPropertyID] IN (
																						SELECT [CustomerGroupPropertyName].[CustomerGroupPropertyID]
																						FROM [BI].[CustomerGroupPropertyName]
																						LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CustomerGroupPropertyName'
																						WHERE [CustomerGroupPropertyName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
											OR [CustomerGroupProperties].[CustomerGroupPropertyID] IN (
																						SELECT [CustomerGroupPropertyValueName].[CustomerGroupPropertyID]
																						FROM [BI].[CustomerGroupPropertyValueName]
																						LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CustomerGroupPropertyValueName'
																						WHERE [CustomerGroupPropertyValueName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
											)
) AS subselect -- kein Index
ORDER BY subselect.LastChange
GO
