USE [eazybusiness]
GO
/****** Object:  View [BI].[Customer]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Customer] AS
SELECT TOP (999999999) * FROM
(
	SELECT
		[tkunde].[kKunde]								AS [CustomerID],
		[tkunde].[cKundenNr]							AS [CustomerNumber],
		[tkunde].[kKundenGruppe]						AS [CustomerGroupID],
		[tkunde].[kKundenKategorie]						AS [CustomerCategoryID],
		[tkunde].[dErstellt]							AS [CreationDate],
		[tkunde].[bRowversion]							AS [LastChange]
	FROM [dbo].[tkunde]
	WHERE [tkunde].[bRowversion] >	CAST(ISNULL(
											(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
												FROM [BI].[tAbgleichSync]
												WHERE [cAbgleichName] = 'Customer'), 0x0) 
									AS TIMESTAMP)
) AS [Customer] -- index auf Kunde.tKundeEigenesFeld
ORDER BY [Customer].[LastChange]
GO
