USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerGroupPropertyValueName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerGroupPropertyValueName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		CONCAT(CAST([tKundenGruppeAttribute].[kKundenGruppe] AS NVARCHAR(18)), N'-A-' + CAST([tKundenGruppeAttribute].[kKundenGruppeAttribute] AS NVARCHAR(18)))	AS [CustomerGroupPropertyID],
		(SELECT [tSpracheUsed].[cISO2] FROM [dbo].[tSpracheUsed] WHERE [tSpracheUsed].[nStandard] = 1)																AS [LanguageIso],
		LEFT([tKundenGruppeAttribute].[cValue], 128)																												AS [Name],
		[tKundenGruppeAttribute].[bRowversion]																														AS [LastChange]
	FROM [dbo].[tKundenGruppeAttribute]
	WHERE LEN(ISNULL(LEFT([tKundenGruppeAttribute].[cValue], 128), '')) > 0
) AS subselect
ORDER BY subselect.LastChange
GO
