USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerPropertyValueName]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerPropertyValueName] AS
SELECT TOP(999999999) * FROM
(
	SELECT * FROM 
	(
		SELECT
			CONCAT(CAST([tKundeEigenesFeld].[kKunde] AS NVARCHAR(18)), N'-A-' + CAST([tKundeEigenesFeld].[kAttribut] AS NVARCHAR(18)))	AS [CustomerPropertyID],
			'zz'																														AS [LanguageIso],
			CAST(LEFT(CASE [tFeldTyp].[nDatenTyp]
				WHEN 0 THEN CONVERT(NVARCHAR(1024), [tKundeEigenesFeld].[nWertInt]) 
				WHEN 1 THEN CONVERT(NVARCHAR(1024), [tKundeEigenesFeld].[fWertDecimal]) 
				WHEN 3 THEN CONVERT(NVARCHAR(1024), [tKundeEigenesFeld].[dWertDateTime]) 
				ELSE [tKundeEigenesFeld].[cWertVarchar] 
			END, 128) AS NVARCHAR(128))																									AS [Name],
			[tKundeEigenesFeld].[bRowversion]																							AS [LastChange]
		FROM [Kunde].[tKundeEigenesFeld]
			JOIN [dbo].[tAttribut]	ON [tKundeEigenesFeld].[kAttribut] = [tAttribut].[kAttribut]
			JOIN [dbo].[tFeldTyp]	ON [tAttribut].[kFeldTyp] = [tFeldTyp].[kFeldTyp]
	) [CustomerPropertyValueName]
	WHERE [CustomerPropertyValueName].[Name] IS NOT NULL
	AND LEN([CustomerPropertyValueName].[Name]) > 0
) AS [CustomerPropertyValueName]
ORDER BY [CustomerPropertyValueName].[LastChange]
GO
