USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerGroupName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerGroupName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tKundenGruppeSprache].[kKundenGruppe]		AS [CustomerGroupID],
		[tSprachen].[cISO2]							AS [LanguageIso],
		LEFT([tKundenGruppeSprache].[cName], 128)	AS [Name],
		[tKundenGruppeSprache].[bRowversion]		AS [LastChange]
	FROM [dbo].[tKundenGruppeSprache]
		JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[kSprache] = [tKundenGruppeSprache].[kSprache]
		JOIN [dbo].[tSprachen]		ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
	UNION ALL
	SELECT 
		[tKundenGruppe].[kKundenGruppe]		AS [CustomerGroupID],
		[tSprachen].[cISO2]					AS [LanguageIso],
		LEFT([tKundenGruppe].[cName], 128)	AS [Name],
		[tKundenGruppe].[bRowversion]		AS [LastChange]
	FROM [dbo].[tKundenGruppe]
		CROSS JOIN [dbo].[tSpracheUsed]
		JOIN [dbo].[tSprachen]	ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
	WHERE [tKundenGruppe].[kKundenGruppe] NOT IN (SELECT [tKundenGruppeSprache].[kKundenGruppe] FROM [dbo].[tKundenGruppeSprache])
) AS subselect
ORDER BY subselect.LastChange
GO
