USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerAddress]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerAddress] AS
SELECT TOP (999999999) * FROM
    (
        SELECT
            [tAdresse].[kAdresse]		AS [CustomerAddressID],
            [tAdresse].[kKunde]			AS [CustomerID],
            [tAdresse].[cFirma]			AS [Company],
            [tAdresse].[cAnrede]		AS [Salutation],
            [tAdresse].[cTitel]			AS [Title],
            [tAdresse].[cVorname]		AS [FirstName],
            [tAdresse].[cName]			AS [LastName],
            [tAdresse].[cStrasse]		AS [Street],
            [tAdresse].[cPLZ]			AS [ZipCode],
            [tAdresse].[cOrt]			AS [City],
            [tAdresse].[cLand]			AS [Country],
            [tAdresse].[cTel]			AS [Telephone],
            [tAdresse].[cZusatz]		AS [Addition],
            [tAdresse].[cAdressZusatz]	AS [AddressAddition],
            [tAdresse].[cPostID]		AS [PostID],
            [tAdresse].[cMobil]			AS [Mobilephone],
            [tAdresse].[cMail]			AS [Mailaddress],
            [tAdresse].[cFax]			AS [Telefax],
            [tAdresse].[cBundesland]	AS [State],
            [tAdresse].[cISO]			AS [ISOCode],
            [tAdresse].[nStandard]		AS [IsStandard],
            [tAdresse].[nTyp]			AS [Type],
            [tAdresse].[cUSTID]			AS [VATID],
            [tAdresse].[bRowversion]	AS [LastChange]
        FROM [dbo].[tAdresse]
        WHERE [tAdresse].[bRowversion] >	CAST(ISNULL(
            (SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
            FROM [BI].[tAbgleichSync]
            WHERE [cAbgleichName] = 'CustomerAddress'), 0x0)
            AS TIMESTAMP)
    ) AS [CustomerAddress] 
ORDER BY [CustomerAddress].[LastChange]
GO
