USE [eazybusiness]
GO
/****** Object:  View [BI].[CategoryPropertyValueName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CategoryPropertyValueName] AS
SELECT TOP (999999999) *
FROM (
	SELECT * FROM
	(
		SELECT
			CONCAT(CAST([kategorieAttr].[kKategorie] AS NVARCHAR(18)), N'-A-' + CAST([kategorieAttr].[kKategorie] AS NVARCHAR(18)))	AS [CategoryPropertyID],
			ISNULL([tSprachen].[cISO2], 'zz')																						AS [LanguageIso],
			CAST(LEFT(CASE [tFeldTyp].[nDatenTyp]
				WHEN 0 THEN CONVERT(NVARCHAR(1024), [tKategorieAttributSprache].[nWertInt]) 
				WHEN 1 THEN CONVERT(NVARCHAR(1024), [tKategorieAttributSprache].[fWertDecimal]) 
				WHEN 3 THEN CONVERT(NVARCHAR(1024), [tKategorieAttributSprache].[dWertDateTime]) 
				ELSE [tKategorieAttributSprache].[cWertVarchar]
			END, 128) AS NVARCHAR(128))																				AS [Name],
			[tKategorieAttributSprache].[bRowversion]																AS [LastChange]
		FROM [dbo].[tKategorieAttribut] AS [kategorieAttr]
			JOIN [dbo].[tKategorieAttribut]			ON [tKategorieAttribut].[kKategorieAttribut] = [kategorieAttr].[kKategorieAttribut]
			JOIN [dbo].[tAttributSprache]			ON [kategorieAttr].[kAttribut] = [tAttributSprache].[kAttribut]
			JOIN [dbo].[tKategorieAttributSprache]	ON [tKategorieAttributSprache].[kKategorieAttribut] = [tKategorieAttribut].[kKategorieAttribut] 
													AND [tKategorieAttributSprache].[kSprache] = [tAttributSprache].[kSprache]
			JOIN [dbo].[tAttribut]					ON [tKategorieAttribut].kAttribut = [tAttribut].[kAttribut]
			JOIN [dbo].[tFeldTyp]					ON [tAttribut].[kFeldTyp] = [tFeldTyp].[kFeldTyp]
			LEFT JOIN [dbo].[tSpracheUsed]			ON [tAttributSprache].[kSprache] = [tSpracheUsed].[kSprache]
			LEFT JOIN [dbo].[tSprachen]				ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
		WHERE [tKategorieAttribut].[kKategorieAttribut] = [kategorieAttr].[kKategorieAttribut]
	) CategoryPropertyValueNam
	WHERE [CategoryPropertyValueNam].[Name] IS NOT NULL
	AND LEN([CategoryPropertyValueNam].[Name]) > 0
	UNION ALL
	SELECT
		ISNULL(CAST(tShop.kKategorie AS NVARCHAR(12)), '') + N'-R-cat'	[CategoryPropertyID],
		N'zz'															[LanguageIso],
		CAST(tShop.kKategorie AS NVARCHAR(12))							[Name],
		tShop.bRowversion												[LastChange]
	FROM dbo.tShop
	WHERE tShop.nTyp = 5 AND tShop.kKategorie IS NOT NULL
) AS subselect
ORDER BY subselect.LastChange
GO
