USE [eazybusiness]
GO
/****** Object:  View [BI].[Company]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Company] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tfirma].[kFirma]									AS [CompanyID],
		LEFT([tfirma].[cName], 50)							AS [CompanyName],
		LEFT([tfirma].[cPLZ], 10)							AS [PostalCode],
		LEFT([tfirma].[cOrt], 50)							AS [City],
		LEFT([tfirma].[cLandISO], 2)						AS [CountryISO],
		LEFT([tfirma].[cLand], 50)							AS [Country],
		[tfirma].[bRowversion]								AS [LastChange]
	FROM [dbo].[tfirma]
	WHERE [tfirma].[bRowversion] >	CAST(ISNULL(
											(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
											 FROM [BI].[tAbgleichSync]
											 WHERE [cAbgleichName] = 'Company'), 0x0) 
									AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
