USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerInvoice]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerInvoice] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tRechnung].[kRechnung] AS [CustomerInvoiceID],
		[tRechnung].[kFirmaHistory] AS [CompanyHistoryID],
		[trechnung].[dErstellt] AS [CreationDate],
		[tRechnung].[cRechnungsNr] AS [CustomerInvoiceNo],
		CASE WHEN [tRechnungEckdaten].[dBezahlt] IS NOT NULL THEN 1 ELSE 0 END AS [IsPayed],
		[tRechnung].[fWaehrungsfaktor] AS [InvoiceCurrencyFactor],
		[tRechnung].[cWaehrung] AS [InvoiceCurrencyISO],
        [tRechnung].[nStorno] AS [IsCancelled],
		[tRechnung].[bRowversion] AS [LastChange]
	FROM [Rechnung].[tRechnung]
		JOIN [Rechnung].[tRechnungEckdaten]	ON [tRechnungEckdaten].[kRechnung] = [tRechnung].[kRechnung]
	WHERE [tRechnung].[nIstEntwurf] = 0 
	AND [tRechnung].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
												 FROM [BI].[tAbgleichSync]
												 WHERE [cAbgleichName] = 'CustomerInvoice'), 0x0) 
										AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
