USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerOrderPropertyName]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerOrderPropertyName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		CONCAT(CAST([tAuftragAttribut].[kAuftrag]  AS NVARCHAR(18)), N'-A-' + CAST([tAuftragAttribut].[kAuftragAttribut] AS NVARCHAR(18)))	AS [CustomerOrderPropertyID],
		ISNULL([tSprachen].[cISO2], 'zz')																									AS [LanguageIso],
		LEFT([tAttributSprache].[cName], 128)																								AS [Name],
		[tAttributSprache].[bRowversion]																									AS [LastChange]
	FROM [Verkauf].[tAuftragAttribut]
		JOIN [dbo].[tAttributSprache] ON [tAuftragAttribut].[kAttribut] = [tAttributSprache].[kAttribut]
		LEFT JOIN [dbo].[tSpracheUsed] ON [tAttributSprache].[kSprache] = [tSpracheUsed].[kSprache]
		LEFT JOIN [dbo].[tSprachen] ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
