USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerReturnPos]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerReturnPos] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tRMRetourePos].[kRMRetourePos]								AS [CustomerReturnPosID],
		[tRMRetourePos].[kRMRetoure]								AS [CustomerReturnID],
		[tRMRetourePos].[kRMGrund]									AS [ReturnReasonID],
		[tRMRetourePos].[kArtikel]									AS [ProductID],
		[tRMRetourePos].[kZustand]									AS [ProductStateID],
		[tRMRetourePos].[kLieferscheinPos]							AS [DeliveryNotePosID],
		[tRMRetourePos].[fAnzahl]									AS [Amount],
		[tRMRetourePos].[bRowversion]								AS [LastChange]
	FROM [dbo].[tRMRetourePos]
	WHERE [tRMRetourePos].[bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													 FROM [BI].[tAbgleichSync]
													 WHERE [cAbgleichName] = 'CustomerReturnPos'), 0x0) 
												AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
