USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerCategoryName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerCategoryName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tKundenKategorie].[kKundenKategorie]	AS [CustomerCategoryID],
		[tSprachen].[cISO2]						AS [LanguageIso],
		[tKundenKategorie].[cName]				AS [Name],
		[tKundenKategorie].[bRowversion]		AS [LastChange]
	FROM [dbo].[tKundenKategorie]
		JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[nStandard] = 1
		JOIN [dbo].[tSprachen]		ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
