USE [eazybusiness]
GO
/****** Object:  View [BI].[CategoryName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CategoryName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tKategorieSprache].[kKategorie]		AS [CategoryID],
		[tSprachen].[cISO2]						AS [LanguageIso],
		LEFT([tKategorieSprache].[cName], 128)	AS [Name],
		[tKategorieSprache].[bRowversion]		AS [LastChange]
	FROM [dbo].[tKategorieSprache]
		LEFT JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[kSprache] = [tKategorieSprache].[kSprache]
		LEFT JOIN [dbo].[tSprachen]		ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
