USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerOrderProperties]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerOrderProperties] AS
SELECT TOP (999999999) * FROM
(
	SELECT
		[tAuftragAttribut].[kAuftrag]																											AS [CustomerOrderID],
		N'A-' + CAST([tAuftragAttribut].[kAuftragAttribut] AS NVARCHAR(18))																		AS [PropertyID],
		CONCAT(CAST([tAuftragAttribut].[kAuftrag] AS NVARCHAR(18)), N'-A-' + CAST([tAuftragAttribut].[kAuftragAttribut] AS NVARCHAR(18)))		AS [CustomerOrderPropertyID],
		CASE WHEN [tAttribut].[nIstFreifeld] = 0 THEN 'A' ELSE 'E' END																			AS [PropertyType],
		[tAuftragAttribut].[bRowversion]																										AS [LastChange]
	FROM [Verkauf].[tAuftragAttribut]
		JOIN [dbo].[tAttribut]							ON [tAuftragAttribut].[kAttribut] = [tAttribut].[kAttribut]
	WHERE 1=0
	OR [tAuftragAttribut].[bRowversion] >				CAST(ISNULL(
																(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
																 FROM [BI].[tAbgleichSync]
																 WHERE [cAbgleichName] = 'CustomerOrderProperties'), 0x0) 
															AS TIMESTAMP)
	OR tAuftragAttribut.kAuftragAttribut IN (
											SELECT  [tAuftragAttribut].[kAuftragAttribut]
											FROM [Verkauf].[tAuftragAttribut]
											JOIN [Verkauf].[tAuftragAttributSprache] ON tAuftragAttributSprache.kAuftragAttribut = tAuftragAttribut.kAuftragAttribut
											LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CustomerOrderPropertyValueName'
											WHERE 1=1
											AND [tAuftragAttributSprache].[bRowversion] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP)  
											AND LEN(
													ISNULL(CAST([tAuftragAttributSprache].[nWertInt] AS NVARCHAR(1024)), '') + 
													ISNULL(CAST([tAuftragAttributSprache].[fWertDecimal] AS NVARCHAR(1024)), '') + 
													ISNULL(CAST([tAuftragAttributSprache].[dWertDateTime] AS NVARCHAR(1024)), '') +
													ISNULL([tAuftragAttributSprache].[cWertVarchar], '')) > 0)
) AS [CustomerOrderProperties] -- kein Index
ORDER BY [CustomerOrderProperties].[LastChange]
GO
