USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerCategory]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerCategory] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tKundenKategorie].[kKundenKategorie]							AS [CustomerCategoryID],
		[tKundenKategorie].[bRowversion]								AS [LastChange]
	FROM [dbo].[tKundenKategorie]
		JOIN [dbo].[tSpracheUsed] ON [tSpracheUsed].[nStandard] = 1
		JOIN [dbo].[tSprachen] ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
	WHERE [tKundenKategorie].[bRowversion] >	CAST(ISNULL(
														(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
														 FROM [BI].[tAbgleichSync]
														 WHERE [cAbgleichName] = 'CustomerCategory'), 0x0)
													AS TIMESTAMP)
	OR [tKundenKategorie].[kKundenKategorie] IN (
												SELECT [CustomerCategoryName].[CustomerCategoryID]
												FROM [BI].[CustomerCategoryName]
												LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CustomerCategoryName'
												WHERE [CustomerCategoryName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect -- kein Index
ORDER BY subselect.LastChange
GO
