USE [eazybusiness]
GO
/****** Object:  View [BI].[Category]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Category] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tkategorie].[kKategorie]								AS [CategoryID],
		[tkategorie].[kOberKategorie]							AS [ParentCategoryID],
		[tkategorie].[nSort]									AS [Sorting],
		[tkategorie].[bRowversion]								AS [LastChange]
	FROM [dbo].[tkategorie]
	WHERE
		[tkategorie].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
													FROM [BI].[tAbgleichSync] 
													WHERE [cAbgleichName] = 'Category'), 0x0) 
										AS TIMESTAMP)
		OR [tkategorie].[kKategorie] IN (
									SELECT [CategoryName].[CategoryID]
									FROM [BI].[CategoryName]
									LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CategoryName'
									WHERE [CategoryName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
		OR [tkategorie].[kKategorie] IN (
									SELECT [CategoryProperties].[CategoryID]
									FROM [BI].[CategoryProperties]
									LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CategoryProperties'
									WHERE [CategoryProperties].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP)
									OR [CategoryProperties].[CategoryPropertyID] IN (
																				SELECT [CategoryPropertyName].[CategoryPropertyID]
																				FROM [BI].[CategoryPropertyName]
																				LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CategoryPropertyName'
																				WHERE [CategoryPropertyName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
									OR [CategoryProperties].[CategoryPropertyID] IN (
																				SELECT [CategoryPropertyValueName].[CategoryPropertyID]
																				FROM [BI].[CategoryPropertyValueName]
																				LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CategoryPropertyValueName'
																				WHERE [CategoryPropertyValueName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
									)
) AS subselect
ORDER BY subselect.LastChange
GO
