USE [eazybusiness]
GO
/****** Object:  View [BI].[CategoryPropertyName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CategoryPropertyName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		CONCAT(CAST([tKategorieAttribut].[kKategorie]  AS NVARCHAR(18)), N'-A-' + CAST([tKategorieAttribut].[kAttribut] AS NVARCHAR(18)))		AS [CategoryPropertyID],
		ISNULL([tSprachen].[cISO2], 'zz')																										AS [LanguageIso],
		LEFT([tAttributSprache].[cName], 128)																									AS [Name],
		[tAttributSprache].[bRowversion]																										AS [LastChange]
	FROM [dbo].[tKategorieAttribut]
		JOIN [dbo].[tAttributSprache]	ON [tKategorieAttribut].[kAttribut] = [tAttributSprache].[kAttribut]
		LEFT JOIN [dbo].[tSpracheUsed]	ON [tAttributSprache].[kSprache] = [tSpracheUsed].[kSprache]
		LEFT JOIN [dbo].[tSprachen]		ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
	UNION ALL 
	SELECT TOP (1)
		  ISNULL(CAST(tShop.kKategorie AS NVARCHAR(12)), '') + N'-R-cat'	[CategoryPropertyID],
		  N'zz'																[LanguageIso],
		  N'root-category'													[Name],
		  tShop.bRowversion													[LastChange]
	FROM dbo.tShop
	WHERE tShop.nTyp = 5 AND tShop.kKategorie IS NOT NULL	
) AS subselect
ORDER BY subselect.LastChange
GO
