USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerOrderPos]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerOrderPos] AS
SELECT TOP (999999999) *
FROM (
	SELECT 
		tAuftragPosition.kAuftragPosition AS CustomerOrderPosID,
		tAuftragPosition.kAuftrag AS CustomerOrderID,
		tAuftragPosition.nType AS CustomerOrderPosTypeID,
		tAuftragPosition.kArtikel AS ProductID,
		tAuftragPosition.cArtNr AS ProductNumber,
		tAuftragPosition.cNameStandard AS ProductName,
		tAuftragPosition.fVkNetto AS NetSalesPrice,
		tAuftragPosition.fEkNetto AS NetPurchasePrice,
		tAuftragPosition.fAnzahl AS Amount,
		tAuftragPosition.cEinheit AS Unit,
		tAuftragPosition.fRabatt AS Discount,
		tAuftragPosition.fMwSt AS VATPercent,
		tAuftragPosition.kKonfigVater AS ConfigurationPosID,
		tAuftragPosition.kAuftragStueckliste AS PartsListPosID,
		tAuftragPosition.nSort AS Sorting,
		tAuftragPosition.bRowversion AS LastChange
	FROM Verkauf.tAuftragPosition
	WHERE tAuftragPosition.bRowversion >	CAST(ISNULL((
													SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'CustomerOrderPos'), 0x0) 
											AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
