USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerGroupProperties]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerGroupProperties] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tKundenGruppeAttribute].[kKundenGruppe]																													AS [CustomerGroupID],
		N'A-' + CAST([tKundenGruppeAttribute].[kKundenGruppeAttribute] AS NVARCHAR(18))																				AS [PropertyID],
		CONCAT(CAST([tKundenGruppeAttribute].[kKundenGruppe] AS NVARCHAR(18)), N'-A-' + CAST([tKundenGruppeAttribute].[kKundenGruppeAttribute] AS NVARCHAR(18)))	AS [CustomerGroupPropertyID],
		'A'																																							AS [PropertyType], -- keine Verknüpfung zu tAttribut, deswegen erstmal 'A'
		[tKundenGruppeAttribute].[bRowversion]																														AS [LastChange]
	FROM [dbo].[tKundenGruppeAttribute]
) AS subselect
ORDER BY subselect.LastChange
GO
