USE [eazybusiness]
GO
/****** Object:  View [BI].[CostType]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CostType] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tKostenTyp].[kKostentyp]	AS [CostTypeID],
		[tKostenTyp].[cKostentyp]	AS [Name],
		[tKostenTyp].[cKommentar]	AS [Comment],
		[tKostenTyp].[dAenderung]	AS [ChangeDate],
		[tKostenTyp].[dErstellt]	AS [CreationDate],
		[tKostenTyp].[bRowversion]	AS [LastChange]
	FROM [BI].[tKostenTyp]
	WHERE [tKostenTyp].[bRowversion] >	CAST(ISNULL(
											(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
											 FROM [BI].[tAbgleichSync]
											 WHERE [cAbgleichName] = 'CostType'), 0x0) 
									AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
