USE [eazybusiness]
GO
/****** Object:  View [BI].[Carrier]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Carrier] AS
SELECT TOP (999999999) *
FROM (
	SELECT 
		0 AS CarrierID, 
		GETDATE() CreateDate, 
		GETDATE() ChangeDate, 
		CAST(0x0000000000000001 AS TIMESTAMP) LastChange
	WHERE CAST(0x0000000000000001 AS TIMESTAMP) >	CAST(ISNULL(
														(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
														FROM [BI].[tAbgleichSync]
														WHERE [cAbgleichName] = 'Carrier'), 0x0) 
													AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
