USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerCreditNote]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerCreditNote] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tgutschrift].[kGutschrift]								AS [CustomerCreditNoteID],
		[tgutschrift].[kRechnung]								AS [CustomerInvoiceID],
		[tgutschrift].[kFirma]									AS [CompanyID],
		[tgutschrift].[kSprache]								AS [LanguageID],
		[tgutschrift].[cWaehrung]								AS [CurrencyISO],
		[tgutschrift].[fFaktor]									AS [CurrencyFactor],
		[tgutschrift].[cGutschriftNr]							AS [CustomerCreditNoteNo],
		[tgutschrift].[bRowversion]								AS [LastChange]
	FROM [dbo].[tgutschrift]
	WHERE [tgutschrift].[bRowversion] >	CAST(ISNULL(
											(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
											 FROM [BI].[tAbgleichSync]
											 WHERE [cAbgleichName] = 'CustomerCreditNote'), 0x0)
										AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
