USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerReturn]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerReturn] AS
SELECT TOP (999999999) *
FROM (
	SELECT 
		[tRMRetoure].[kRMRetoure]								AS [CustomerReturnID],
		[tRMRetoure].[kRMStatus]								AS [StatusID],
		[tRMRetoure].[kKunde]									AS [CustomerID],
		[tRMRetoure].[kWarenlager]								AS [WarehouseID],
		[tRMRetoure].[kFirma]									AS [CompanyID],
		[tRMRetoure].[kGutschrift]								AS [CustomerInvoiceCorrID],
		[tRMRetoure].[kBestellung]								AS [CustomerOrderID],
		[tRMRetoure].[cRetoureNr]								AS [CustomerReturnNo],
		[tRMRetoure].[dErstellt]								AS [CreationDate],
		[tRMRetoure].[bRowversion]								AS [LastChange]
	FROM [dbo].[tRMRetoure]
	WHERE [tRMRetoure].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
												 FROM [BI].[tAbgleichSync]
												 WHERE [cAbgleichName] = 'CustomerReturn'), 0x0) 
										AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
