USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerOrderPropertyValueName]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerOrderPropertyValueName] AS
SELECT TOP (999999999) * FROM
(
	SELECT * FROM 
	(
		SELECT
			CONCAT(CAST([tAuftragAttribut].[kAuftrag] AS NVARCHAR(18)), N'-A-' + CAST([tAuftragAttribut].[kAuftragAttribut] AS NVARCHAR(18)))	AS [CustomerOrderPropertyID],
			'zz'																									AS [LanguageIso],
			CAST(LEFT(CASE [tFeldTyp].[nDatenTyp] 
				WHEN 0 THEN CONVERT(NVARCHAR(1024), [tAuftragAttributSprache].[nWertInt]) 
				WHEN 1 THEN CONVERT(NVARCHAR(1024), [tAuftragAttributSprache].[fWertDecimal]) 
				WHEN 3 THEN CONVERT(NVARCHAR(1024), [tAuftragAttributSprache].[dWertDateTime]) 
				ELSE CONVERT(NVARCHAR(1024), [tAuftragAttributSprache].[cWertVarchar])
			END, 128) AS NVARCHAR(128))																											AS [Name],
			[tAuftragAttributSprache].[bRowversion]																								AS [LastChange]
		FROM [Verkauf].[tAuftragAttribut]
			LEFT JOIN [Verkauf].[tAuftragAttributSprache]	ON [tAuftragAttributSprache].[kAuftragAttribut] = [tAuftragAttribut].[kAuftragAttribut] 
			LEFT JOIN [dbo].[tAttribut]						ON [tAuftragAttribut].[kAttribut] = [tAttribut].[kAttribut]
			LEFT JOIN [dbo].[tFeldTyp]						ON [tAttribut].[kFeldTyp] = [tFeldTyp].[kFeldTyp]
		WHERE LEN(
			ISNULL(CAST([tAuftragAttributSprache].[nWertInt] AS NVARCHAR(1024)), '') + 
			ISNULL(CAST([tAuftragAttributSprache].[fWertDecimal] AS NVARCHAR(1024)), '') + 
			ISNULL(CAST([tAuftragAttributSprache].[dWertDateTime] AS NVARCHAR(1024)), '') +
			ISNULL([tAuftragAttributSprache].[cWertVarchar], '')) > 0
	) [CustomerOrderPropertyValueName]
	WHERE [CustomerOrderPropertyValueName].[Name] IS NOT NULL
	AND LEN([CustomerOrderPropertyValueName].[Name]) > 0
) AS [CustomerOrderPropertyValueName]
ORDER BY [CustomerOrderPropertyValueName].[LastChange]
GO
