USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerAddressDelivery]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerAddressDelivery] AS
SELECT TOP (999999999) *
FROM (
	SELECT 
		[tAuftrag].[kAuftrag]									AS [CustomerOrderID],
		ISNULL([tAuftrag].[kKunde], -1)							AS [CustomerID],
		LEFT([vAuftragLieferadresse].[cPLZ], 24)				AS [PostalCode],
		LEFT([vAuftragLieferadresse].[cOrt], 64)				AS [City],
		LEFT([vAuftragLieferadresse].[cISO], 2)					AS [CountryISO],
		[tAuftrag].[bRowversion]								AS [LastChange]
	FROM [Verkauf].[tAuftrag]
		JOIN [Verkauf].[vAuftragLieferadresse] ON [tAuftrag].[kAuftrag]= [vAuftragLieferadresse].[kAuftrag]
	WHERE [tAuftrag].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'CustomerAddressDelivery'), 0x0) 
											AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
