USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerOrder]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerOrder] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tAuftrag].[kAuftrag]													AS [CustomerOrderID],
		[tAuftrag].[kFirmaHistory]												AS [CompanyHistoryID],
		-- TODO prüfen, wie die Typen wirklich sind
		CASE [tAuftrag].[nType] WHEN 1 THEN 'B' WHEN 2 THEN 'A' ELSE 'U' END	AS [CustomerOrderType],
		[tAuftrag].[dErstellt]													AS [OrderDate],
		[tAuftrag].[dVoraussichtlichesLieferdatum]								AS [DeliveryDate],
		[tAuftrag].[dAuslieferdatum]											AS [SendDate],
		[tAuftrag].[cAuftragsNr]												AS [OrderNumber],
	    [tAuftrag].[cExterneAuftragsnummer]										AS [OrderNumberExternal],
		[tAuftrag].[fSkonto]													AS [Discount],
		CAST(tAuftrag.[nStorno] AS BIT )										AS [IsCancled],
		CAST (tAuftrag.[nKomplettAusgeliefert] AS BIT)							AS [IsCompletelyDelivered],
		[tAuftrag].[nLieferPrioritaet]											AS [Prio],
		[tAuftrag].[nAuftragStatus]												AS [OrderState],
		[tAuftrag].[kKunde]														AS [CustomerID],
		[tAuftrag].[kKundengruppe]												AS [CustomerGroupID],
		[tAuftrag].[kPlattform]													AS [PlatformID],
		[tAuftrag].[kShop]														AS [WebshopID],
		[tAuftrag].[kVersandArt]												AS [ShippingMethodID],
		LEFT([tAuftrag].[cVersandlandISO], 2)									AS [ShipFromCountryISO],
		[tAuftrag].[cVersandlandWaehrung]										AS [CurrencyShipFromCountryISO],
		[tAuftrag].[fVersandlandWaehrungFaktor]									AS [CurrencyFactorShipFromCountry],
		[tAuftrag].[fFaktor]													AS [OrderCurrencyFactor],
		[tAuftrag].[cWaehrung]													AS [OrderCurrencyISO],
		[tAuftrag].[kZahlungsart]												AS [PaymentTypeID],
		0.0																		AS [PaymentTypeCost],
        [tAuftrag].[kRueckhaltegrund]											AS [OnHoldReasonID],
		[tAuftrag].[bRowversion]												AS [LastChange]
	FROM [Verkauf].[tAuftrag]
	WHERE [tAuftrag].[bRowversion] >					CAST(ISNULL(
																(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
																 FROM [BI].[tAbgleichSync]
																 WHERE [cAbgleichName] = 'CustomerOrder'), 0x0) 
															AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
