USE [eazybusiness]
GO
/****** Object:  View [BI].[Country]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Country] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tland].[cISO]										AS [CountryID],
		[tland].[bRowversion]								AS [LastChange]
	FROM [dbo].[tland]
	WHERE [tland].[bRowversion] >	CAST(ISNULL(
											(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
											 FROM [BI].[tAbgleichSync]
											 WHERE [cAbgleichName] = 'Country'), 0x0) 
									AS TIMESTAMP)
	OR [tland].[cISO] IN (
									SELECT [CountryName].[CountryID]
									FROM [BI].[CountryName]
									LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'CountryName'
									WHERE [CountryName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
ORDER BY subselect.LastChange
GO
