USE [eazybusiness]
GO
/****** Object:  View [BI].[CategoryProperties]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CategoryProperties] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tKategorieAttribut].[kKategorie]																									AS [CategoryID],
		N'A-' + CAST(tKategorieAttribut.kAttribut AS NVARCHAR(18))																			AS [PropertyID],
		CONCAT(CAST([tKategorieAttribut].[kKategorie] AS NVARCHAR(18)), N'-A-' + CAST([tKategorieAttribut].[kAttribut] AS NVARCHAR(18)))	AS [CategoryPropertyID],
		CASE WHEN [tAttribut].[nIstFreifeld] = 0 THEN 'A' ELSE 'E' END																		AS [PropertyType],
		[tKategorieAttribut].[bRowversion]																									AS [LastChange]
	FROM [dbo].[tKategorieAttribut]
		JOIN [dbo].[tAttribut] ON [tKategorieAttribut].[kAttribut] = [tAttribut].[kAttribut]
	UNION ALL
	SELECT TOP(1)
		ISNULL(tShop.kKategorie, 0)									AS [CategoryID],
		'R-cat'														AS [PropertyID],
		ISNULL(CAST(kKategorie AS NVARCHAR(12)), '') + N'-R-cat'	AS [CategoryPropertyID],
		N'R'														AS [PropertyType],
		tShop.bRowversion											AS [LastChange]
	FROM dbo.tShop
	WHERE tShop.nTyp = 5 AND tShop.kKategorie IS NOT NULL
) AS subselect
ORDER BY subselect.LastChange
GO
