USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerAddressInvoice]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerAddressInvoice] AS
SELECT TOP (999999999) *
FROM (
	SELECT 
		[tAuftrag].[kAuftrag]									AS [CustomerOrderID],
		ISNULL([tAuftrag].[kKunde], -1)							AS [CustomerID],
		LEFT([vAuftragRechnungsadresse].[cPLZ], 24)				AS [PostalCode],
		LEFT([vAuftragRechnungsadresse].[cOrt], 64)				AS [City],
		LEFT([vAuftragRechnungsadresse].[cISO], 2)				AS [CountryISO],
		[tAuftrag].[bRowversion]								AS [LastChange]
	FROM [Verkauf].[tAuftrag]
		JOIN [Verkauf].[vAuftragRechnungsadresse] ON [tAuftrag].[kAuftrag] = [vAuftragRechnungsadresse].[kAuftrag]
	WHERE [tAuftrag].[bRowversion] >	CAST(ISNULL(
											(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
											 FROM [BI].[tAbgleichSync]
											 WHERE [cAbgleichName] = 'CustomerAddressInvoice'), 0x0)
										AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
