USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerOrderCost]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerOrderCost] AS
SELECT TOP (999999999) *
FROM (
	SELECT tAuftragkosten.kAuftragkosten		AS CustomerOrderCostID,
		   tAuftragkosten.kAuftrag				AS CustomerOrderID,
		   tAuftragkosten.kAuftragPosition		AS CustomerOrderPosID,
		   tAuftragkosten.cSKU					AS ProductNumber,
		   tAuftragkosten.nKostentyp			AS CustomerOrderCostTypeID,
		   tAuftragkosten.fSumme				AS CostValue,
		   tAuftragkosten.cBeschreibung			AS CostDescription,
		   tAuftragkosten.dErstelltUtc			AS CreateDate,
		   tAuftragkosten.dBerechnungsdatumUtc	AS CalculationDate,
		   tAuftragkosten.bRowversion			AS LastChange
	FROM Verkauf.tAuftragkosten
	WHERE tAuftragkosten.[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
												 FROM [BI].[tAbgleichSync]
												 WHERE [cAbgleichName] = 'CustomerOrderCost'), 0x0) 
										AS TIMESTAMP)
) AS CustomerOrderCost
ORDER BY CustomerOrderCost.LastChange
GO
