USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerLabel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerLabel] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tKundeLabel].[kKunde]		AS [CustomerID],
		[tKundeLabel].[kLabel]		AS [LabelID],
		[tKundeLabel].[bRowversion]	AS [LastChange]
	FROM [dbo].[tKundeLabel]
	WHERE [tKundeLabel].[bRowversion] >	CAST(ISNULL(
			(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
			 FROM [BI].[tAbgleichSync]
			 WHERE [cAbgleichName] = 'CustomerLabel'), 0x0)
		AS TIMESTAMP)
) AS [CustomerLabel]
GO
