USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerProperties]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerProperties] AS
SELECT TOP (999999999) * FROM
(
	SELECT
		[tKundeEigenesFeld].[kKunde]																								AS [CustomerID],
		CONCAT (N'A-', CAST([tKundeEigenesFeld].[kAttribut] AS NVARCHAR(18)))														AS [PropertyID],
		CONCAT (CAST([tKundeEigenesFeld].[kKunde] AS NVARCHAR(18)), N'-A-', CAST([tKundeEigenesFeld].[kAttribut] AS NVARCHAR(18)))	AS [CustomerPropertyID],
		'E'																															AS [PropertyType],
		[tKundeEigenesFeld].[bRowversion]																							AS [LastChange]
	FROM [Kunde].[tKundeEigenesFeld]
	WHERE [Kunde].[tKundeEigenesFeld].[bRowversion]	>	CAST(ISNULL(
																(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
																	FROM [BI].[tAbgleichSync]
																	WHERE [cAbgleichName] = 'CustomerProperties'), 0x0) 
																AS TIMESTAMP)
) AS [CustomerProperties]
ORDER BY [CustomerProperties].[LastChange]
GO
