USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerPropertyName]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerPropertyName] AS
SELECT TOP(999999999) * FROM 
(
	SELECT
		CONCAT(CAST([tKundeEigenesFeld].[kKunde] AS NVARCHAR(18)), N'-A-', CAST([tKundeEigenesFeld].[kAttribut] AS NVARCHAR(18)))	AS [CustomerPropertyID],
		'zz'																														AS [LanguageIso],
		LEFT([tAttributSprache].[cName], 128)																						AS [Name],
		[tAttributSprache].[bRowversion]																							AS [LastChange]
	FROM [Kunde].[tKundeEigenesFeld]
		JOIN [dbo].[tAttributSprache]	ON [tKundeEigenesFeld].[kAttribut] = [tAttributSprache].[kAttribut]
) AS [CustomerPropertyName]
ORDER BY [CustomerPropertyName].[LastChange]
GO
