USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerInvoicePos]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerInvoicePos] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tRechnungPosition].[kRechnungPosition]							AS [CustomerInvoicePosID],
		[tRechnungPosition].[kRechnung]									AS [CustomerInvoiceID],
		[tRechnungPosition].[kAuftragPosition]							AS [CustomerOrderPosID],
		[tRechnungPosition].[kArtikel]									AS [ProductID],
		LEFT([tRechnungPosition].[cArtNr], 50)							AS [ProductNo],
		LEFT([tRechnungPosition].[cName], 128)							AS [ProductName],
		[tRechnungPosition].[fVkNetto]									AS [NetSalesPrice],
		[tRechnungPosition].[fEkNetto]									AS [NetPurchasePrice],
		[tRechnungPosition].[fAnzahl]									AS [Amount],
		LEFT([tRechnungPosition].[cEinheit], 20)						AS [Unit],
		[tRechnungPosition].[fRabatt]									AS [Discount],
		[tRechnungPosition].[fMwSt]										AS [VATPercent],
		[tRechnungPosition].[nType]										AS [PosType],
		[tRechnungPosition].[kKonfigVaterRechnungPos]					AS [ConfigurationPosID],
		[tRechnungPosition].[kStuecklisteRechnungPos]					AS [PartsListPosID],
		[tRechnungPosition].[nSort]										AS [Sorting],
		[tRechnungPosition].[bRowversion]								AS [LastChange]
	FROM [Rechnung].[tRechnungPosition]
	JOIN [Rechnung].[tRechnung] ON [tRechnung].[kRechnung] = [tRechnungPosition].[kRechnung]
	WHERE [tRechnung].[nIstEntwurf] = 0
	AND [tRechnungPosition].[bRowversion] >	CAST(ISNULL(
														(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
															FROM [BI].[tAbgleichSync]
															WHERE [cAbgleichName] = 'CustomerInvoicePos'), 0x0) 
												AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
