USE [eazybusiness]
GO
/****** Object:  View [BI].[CustomerCreditNotePos]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CustomerCreditNotePos] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tGutschriftPos].[kGutschriftPos]							AS [CustomerCreditNotePosID],
		[tGutschriftPos].[tGutschrift_kGutschrift]					AS [CustomerCreditNoteID],
		[tGutschriftPos].[kRechnungPosition]						AS [CustomerInvoicePosID],
		[tGutschriftPos].[kBestellPos]								AS [CustomerOrderPosID],
		[tGutschriftPos].[tArtikel_kArtikel]						AS [ProductID],
		[tGutschriftPos].[fVKNetto]									AS [NetSalesPrice],
		[tGutschriftPos].[fRabatt]									AS [Discount],
		[tGutschriftPos].[nAnzahl]									AS [Amount],
		[tGutschriftPos].[kGutschriftStueckliste]					AS [PartsListPosID],
		[tGutschriftPos].[bRowversion]								AS [LastChange]
	FROM [dbo].[tGutschriftPos]
	WHERE [tGutschriftPos].[bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange]) 
													 FROM [BI].[tAbgleichSync]
													 WHERE [cAbgleichName] = 'CustomerCreditNotePos'), 0x0)
											AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
