USE [eazybusiness]
GO
/****** Object:  View [BI].[CountryName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[CountryName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[CountryName].[CountryID]		AS [CountryID],
		[CountryName].[LanguageIso]		AS [LanguageIso],
		LEFT([CountryName].[Name], 128)	AS [Name],
		[tland].[bRowversion]			AS [LastChange]
	FROM
	(
		SELECT	[tland].[cISO]			AS [CountryID],
				[tSprachen].[cISO2]		AS [LanguageIso],
				[tland].[cName]			AS [Name]
		FROM [dbo].[tland]
			JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[nStandard] = 1
			JOIN [dbo].[tSprachen]		ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
		UNION 
		SELECT	[tland].[cISO]			AS [CountryID],
				'en'					AS [LanguageIso],
				[tland].[cNameEng]		AS [Name]
		FROM [dbo].[tland]
		UNION 
		SELECT	[tland].[cISO]			AS [CountryID],
				'fr'					AS [LanguageIso],
				[tland].[cNameFra]		AS [Name]
		FROM [dbo].[tland]
	) AS [CountryName]
		JOIN [tland] ON [tland].[cISO] = [CountryName].[CountryID]
) AS subselect
ORDER BY subselect.LastChange
GO
