USE [eazybusiness]
GO
/****** Object:  View [BI].[DeliveryNotePos]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[DeliveryNotePos] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tLieferscheinPos].[kLieferscheinPos]							AS [DeliveryNotePosID],
		[tLieferscheinPos].[kLieferschein]								AS [DeliveryNoteID],
		[tLieferscheinPos].[kBestellPos]								AS [CustomerOrderPosID],
		ISNULL([pickPosStatus].[PickTime], 0)							AS [PickTime],
		[tLieferscheinPos].[fAnzahl]									AS [Amount],
		[tLieferscheinPos].[bRowversion]								AS [LastChange]
	FROM [dbo].[tLieferscheinPos]
		LEFT JOIN 
		(
			SELECT 
				[tPicklistePos].[kBestellPos],
				MAX(DATEDIFF(ss, [t_pps].[dZeitstempel], [t_pps2].[dZeitstempel]))	AS [PickTime]
			FROM
				[tPicklistePosStatus] [t_pps]
				INNER JOIN [tPicklistePosStatus] [t_pps2]	ON [t_pps].[kPicklistePos] = [t_pps2].[kPicklistePos] 
															AND [t_pps].[nStatus] = 10 
															AND [t_pps2].[nStatus] = 20
				JOIN [tPicklistePos]						ON [tPicklistePos].[kPicklistePos] = [t_pps].[kPicklistePos]
			GROUP BY [kBestellPos]
		) AS [pickPosStatus] ON [pickPosStatus].[kBestellPos] = [tLieferscheinPos].[kBestellPos]
	WHERE [tLieferscheinPos].[bRowversion] >	CAST(ISNULL(
														(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
														 FROM [BI].[tAbgleichSync]
														 WHERE [cAbgleichName] = 'DeliveryNotePos'), 0x0) 
													AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
