USE [eazybusiness]
GO
/****** Object:  View [BI].[DeliveryNote]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[DeliveryNote] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tLieferschein].[kLieferschein]								AS [DeliveryNoteID],
		[tLieferschein].[kBestellung]								AS [CustomerOrderID],
		[tLieferschein].[cLieferscheinNr]							AS [DeliveryNoteNo],
		[tLieferschein].[dErstellt]									AS [CreationDate],
		CAST([tLieferschein].[nFulfillment] AS BIT)					AS [IsFulfillment],
		[tLieferschein].[kLieferantenBestellung]					AS [SupplierOrderID],
		[tLieferschein].[bRowversion]								AS [LastChange]
	FROM [dbo].[tLieferschein]
	WHERE [tLieferschein].[bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													 FROM [BI].[tAbgleichSync]
													 WHERE [cAbgleichName] = 'DeliveryNote'), 0x0) 
												AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
