USE [eazybusiness]
GO
/****** Object:  View [BI].[GroupOfProductsName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[GroupOfProductsName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tWarengruppe].[kWarengruppe]		AS [GroupOfProductsID],
		[tSprachen].[cISO2]					AS [LanguageIso],
		LEFT([tWarengruppe].[cName], 128)	AS [Name],
		[tWarengruppe].[bRowversion]		AS [LastChange]
	FROM [dbo].[tWarengruppe]
		JOIN [dbo].[tSpracheUsed] ON [tSpracheUsed].[nStandard] = 1
		JOIN [dbo].[tSprachen] ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
