USE [eazybusiness]
GO
/****** Object:  View [BI].[GoodsOut]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[GoodsOut] AS
SELECT TOP (999999999) *
FROM (
	SELECT 
		[tWarenLagerAusgang].[kWarenLagerAusgang]						AS [GoodsOutID],
		[tWarenLagerAusgang].[kWarenLagerEingang]						AS [GoodsInID],
   		[tWarenLagerAusgang].[kWarenLagerPlatz]							AS [BinLocationID],
		[tWarenLagerAusgang].[kBuchungsart]								AS [MovementTypeID],
		[tWarenLagerAusgang].[kLieferscheinPos]							AS [DeliveryNotePosID],
		[tWarenLagerAusgang].[kArtikel]									AS [ProductID],
		[tWarenLagerAusgang].[kBenutzer]								AS [SystemUserID],
		[tWarenLagerAusgang].[dErstellt]								AS [CreationDate],
		[tWarenLagerAusgang].[fAnzahl]									AS [Amount],
		[tWarenLagerAusgang].[cKommentar]								AS [GoodsOutComment],
		[tWarenLagerAusgang].[bRowversion]								AS [LastChange]
	FROM [dbo].[tWarenLagerAusgang]
	WHERE [tWarenLagerAusgang].[bRowversion] >	CAST(ISNULL(
														(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
														 FROM [BI].[tAbgleichSync]
														 WHERE [cAbgleichName] = 'GoodsOut'), 0x0) 
													AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
