USE [eazybusiness]
GO
/****** Object:  View [BI].[GroupOfProducts]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[GroupOfProducts] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tWarengruppe].[kWarengruppe]								AS [GroupOfProductsID],
		[tWarengruppe].[bRowversion]								AS [LastChange]
	FROM [dbo].[tWarengruppe]
	WHERE [tWarengruppe].[bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													 FROM [BI].[tAbgleichSync]
													 WHERE [cAbgleichName] = 'GroupOfProducts'), 0x0) 
												AS TIMESTAMP)
	OR [tWarengruppe].[kWarengruppe] IN	(
											SELECT [GroupOfProductsName].[GroupOfProductsID]
											FROM [BI].[GroupOfProductsName]
											LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'GroupOfProductsName'
											WHERE [GroupOfProductsName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
ORDER BY subselect.LastChange
GO
