USE [eazybusiness]
GO
/****** Object:  View [BI].[GoodsIn]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[GoodsIn] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tWarenLagerEingang].[kWarenLagerEingang]						AS [GoodsInID],
   		[tWarenLagerEingang].[kWarenLagerPlatz]							AS [BinLocationID],
   		[tWarenLagerEingang].[kArtikel]									AS [ProductID],
   		[tWarenLagerEingang].[dErstellt]								AS [CreationDate],
   		[tWarenLagerEingang].[kBestellPosUmlagerung]					AS [CustomerOrderPosID],
		[tWarenLagerEingang].[kBuchungsart]								AS [MovementTypeID],
		[tWarenLagerEingang].[kLieferantenBestellungPos]				AS [SupplierOrderPosID],
		[tWarenLagerEingang].[kRMRetourePos]							AS [CustomerReturnPosID],
		[tWarenLagerEingang].[kGutschriftPos]							AS [CustomerCreditNotePosID],
		[tWarenLagerEingang].[kBenutzer]								AS [SystemUserID],
		[tWarenLagerEingang].[fEKEinzel]								AS [NetPurchasePrice],
		[tWarenLagerEingang].[fAnzahl]									AS [Amount],
		[tWarenLagerEingang].[dMHD]										AS [BestBeforeDate],
		[tWarenLagerEingang].[cChargenNr]								AS [BatchName],
		[tWarenLagerEingang].[cKommentar]								AS [GoodsInComment],
		[tWarenLagerEingang].[bRowversion]								AS [LastChange]
	FROM [dbo].[tWarenLagerEingang]
	WHERE [tWarenLagerEingang].[bRowversion] >	CAST(ISNULL(
														(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
														 FROM [BI].[tAbgleichSync]
														 WHERE [cAbgleichName] = 'GoodsIn'), 0x0) 
													AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
