USE [eazybusiness]
GO
/****** Object:  View [BI].[Language]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Language] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tSpracheUsed].[kSprache]									AS [LanguageID],
		LEFT([tSpracheUsed].[cNameDeu], 64)							AS [NameGerman],
		LEFT([tSprachen].[cISO2], 2)								AS [ISO2],
		LEFT([tSprachen].[cISO], 3)									AS [ISO3],
		[tSpracheUsed].[bRowversion]								AS [LastChange]
	FROM [dbo].[tSpracheUsed]
		JOIN [dbo].[tSprachen] ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
	WHERE [tSpracheUsed].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'Language'), 0x0) 
											AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
