USE [eazybusiness]
GO
/****** Object:  View [BI].[LabelName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[LabelName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tLabel].[kLabel]			AS [LabelID],
		[tSprachen].[cISO2]			AS [LanguageIso],
		LEFT([tLabel].[cName], 128)	AS [Name],
		[tLabel].[bRowversion]		AS [LastChange]
	FROM [dbo].[tLabel]
	JOIN [dbo].[tSpracheUsed] ON [tSpracheUsed].[nStandard] = 1
	JOIN [dbo].[tSprachen] ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
