USE [eazybusiness]
GO
/****** Object:  View [BI].[Label]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Label] AS
SELECT TOP (999999999) * 
FROM (
	SELECT
		[tLabel].[kLabel]			AS [LabelID],
		[tLabel].[nTyp]				AS [LabelType],
		[tLabel].[cColor]			AS [ColorCode],
		[tLabel].[bRowversion]		AS [LastChange]
	FROM [dbo].[tLabel]
	WHERE [tLabel].[bRowversion] >	CAST(ISNULL(
			(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
			 FROM [BI].[tAbgleichSync]
			 WHERE [cAbgleichName] = 'Label'), 0x0)
		AS TIMESTAMP)
	OR [tLabel].[kLabel] IN	(
			SELECT [LabelName].[LabelID]
			FROM [BI].[LabelName]
			LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'LabelName'
			WHERE [LabelName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS [Label]
ORDER BY [Label].[LastChange]
GO
