USE [eazybusiness]
GO
/****** Object:  View [BI].[Manufacturer]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Manufacturer] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tHersteller].[kHersteller]								AS [ManufacturerID],
		LEFT([tHersteller].[cName], 128)						AS [ManufacturerName],
		[tHersteller].[bRowversion]								AS [LastChange]
	FROM [dbo].[tHersteller]
	WHERE [tHersteller].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'Manufacturer'), 0x0) 
											AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
