USE [eazybusiness]
GO
/****** Object:  View [BI].[MovementTypeName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[MovementTypeName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tBuchungsArt].[kBuchungsart]		AS [MovementTypeID],
		'de'								AS [LanguageIso],
		LEFT([tBuchungsArt].[cName], 128)	AS [Name],
		[tBuchungsArt].[bRowversion]		AS [LastChange]
	FROM [dbo].[tBuchungsArt]
) AS subselect
ORDER BY subselect.LastChange
GO
