USE [eazybusiness]
GO
/****** Object:  View [BI].[MovementType]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[MovementType] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tBuchungsArt].[kBuchungsart]								AS [MovementTypeID],
		[tBuchungsArt].[bRowversion]								AS [LastChange]
	FROM [dbo].[tBuchungsArt]
	WHERE [tBuchungsArt].[bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													 FROM [BI].[tAbgleichSync]
													 WHERE [cAbgleichName] = 'MovementType'), 0x0) 
												AS TIMESTAMP)
	OR [tBuchungsArt].[kBuchungsart] IN	(
										SELECT [MovementTypeName].[MovementTypeID]
										FROM [BI].[MovementTypeName]
										LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'MovementTypeName'
										WHERE [MovementTypeName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
ORDER BY subselect.LastChange
GO
