USE [eazybusiness]
GO
/****** Object:  View [BI].[OnHoldReasonName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[OnHoldReasonName] AS
SELECT TOP (999999999) * FROM 
(
     SELECT
         [tRueckhalteGrund].[kRueckhalteGrund]	AS [OnHoldReasonID],
         [tSprachen].[cISO2]						AS [LanguageIso],
         LEFT([tRueckhalteGrund].[cName], 128)	AS [Name],
         [tRueckhalteGrund].[bRowversion]		AS [LastChange]
     FROM [dbo].[tRueckhalteGrund]
         JOIN [dbo].[tSpracheUsed] ON [tSpracheUsed].[nStandard] = 1
         JOIN [dbo].[tSprachen] ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
