USE [eazybusiness]
GO
/****** Object:  View [BI].[OnHoldReason]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[OnHoldReason] AS
SELECT TOP (999999999) * FROM
(
    SELECT
        [tRueckhalteGrund].[kRueckhalteGrund]		AS [OnHoldReasonID],
        [tRueckhalteGrund].[nZusammenfassbar]		AS [Combinable],
        [tRueckhalteGrund].[nEinkaufslisteGesperrt]	AS [PurchaseListLocked],
        [tRueckhalteGrund].[bRowversion]			AS [LastChange]
    FROM [dbo].[tRueckhalteGrund]
    WHERE [tRueckhalteGrund].[bRowversion] >	CAST(ISNULL(
        (SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
        FROM [BI].[tAbgleichSync]
        WHERE [cAbgleichName] = 'OnHoldReason'), 0x0)
        AS TIMESTAMP)
       OR [tRueckhalteGrund].[kRueckhalteGrund] IN	(
        SELECT [OnHoldReasonName].[OnHoldReasonID]
        FROM [BI].[OnHoldReasonName]
        LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'OnHoldReasonName'
        WHERE [OnHoldReasonName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
ORDER BY subselect.LastChange
GO
