USE [eazybusiness]
GO
/****** Object:  View [BI].[Product]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Product] AS
SELECT TOP (999999999) * FROM 
(
	SELECT 
		[tArtikel].[kArtikel]									AS [ProductID],
		[tArtikel].[kVaterArtikel]								AS [VariationParentID],
		[tArtikel].[kWarengruppe]								AS [GroupOfProductsID],
		[tArtikel].[kHersteller]								AS [ManufacturerID],
		[tArtikel].[kZustand]									AS [ProductStateID],
		[tArtikel].[kVersandklasse]								AS [ShippingClassID],
		[tArtikel].[kSteuerklasse]								AS [VATClassID],
		[tArtikel].[nSonderTyp]									AS [SpecialTypeID],
		LEFT([tArtikel].[cArtNr], 128)							AS [ProductNumber],
		[tArtikel].[fVKNetto]									AS [NetSalesPrice],
		[tArtikel].[fUVP]										AS [RRP],
		[tArtikel].[fEKNetto]									AS [NetPurchasePrice],
		[tArtikel].[cBarcode]									AS [EAN],
		[tArtikel].[cUPC]										AS [UPC],
		[tArtikel].[cISBN]										AS [ISBN],
		[tArtikel].[nIstVater]									AS [IsParentItem],
		CAST(CASE WHEN ISNULL([tArtikel].[kStueckliste], 0) > 0
			THEN 1
			ELSE 0
		END AS BIT)												AS [IsPartsList],
		CAST(CASE WHEN [tArtikel].[cTopArtikel] = 'Y'
			THEN 1
			ELSE 0
		END	AS BIT)												AS [IsBestSellingItem],
		[tArtikel].[nCharge]									AS [HasBatch],
		[tArtikel].[nSeriennummernVerfolgung]					AS [HasSerialNo],
		[tArtikel].[nMHD]										AS [HasBestBeforeDate],
		[tArtikel].[fHoehe]										AS [ProductHeight],
		[tArtikel].[fBreite]									AS [ProductWidth],
		[tArtikel].[fLaenge]									AS [ProductDepth],
		[tArtikel].[fArtGewicht]								AS [ProductWeight],
		[tArtikel].[fGewicht]									AS [ShippingWeight],
		[tArtikel].[nMidestbestand]								AS [MinimumAmount],
		[tArtikel].[dErstelldatum]								AS [CreationDate],
		[tArtikel].[bRowversion]								AS [LastChange],
		CAST(CASE WHEN [tArtikel].[cLagerAktiv] = 'Y'
			THEN 1
			ELSE 0
		END	AS BIT)												AS [IsStockActive],
		CAST(CASE WHEN [tArtikel].[cAktiv] = 'N'
			THEN 1
			ELSE 0
		END AS BIT) 											AS [IsActive],
		CAST(CASE WHEN [tArtikel].[cTeilbar] = 'N' 
			THEN 0 
			ELSE 1 
		END AS BIT)												AS [IsAmountSplitable],
		CAST(CASE WHEN [tArtikel].[cLagerArtikel] = 'N' 
			THEN 0 
			ELSE 1 
		END AS BIT)												AS [IsSerialNumberArticle],
		CAST(CASE WHEN [tArtikel].[cLagerKleinerNull] = 'N' 
			THEN 0 
			ELSE 1 
		END AS BIT)												AS [CanAmountUnderZero],
		[tArtikel].[cTaric]											AS [TaricCode],
		[tArtikel].[cGefahrnr]										AS [HazardIdentificationNumber],
		[tArtikel].[cHAN]											AS [ManufacturerPartNumber],
		[tArtikel].[cSerie]											AS [SeriesCode],
		[tArtikel].[nVPE]											AS [PackagingUnit],
		CAST(CASE WHEN [tArtikel].[cNeu] = 'N' 
			THEN 0 
			ELSE 1 
		END AS BIT)												AS [IsArticleNew],
		[tArtikel].[dNeuImSortiment]							AS [ArticleNewDate]
	FROM [dbo].[tArtikel]
		JOIN (
				SELECT DISTINCT innerst.Id AS kArtikel
				FROM (
					SELECT innerer.Id, MAX(innerer.bRowversion) AS bRowversion
					FROM (
						SELECT kArtikel AS Id, tArtikelBeschreibung.bRowversion
						FROM tArtikelBeschreibung
						LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'ProductName'
						WHERE bRowversion > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP)
						UNION 
						SELECT tkategorieartikel.kArtikel [ProductID], tkategorieartikel.bRowversion
						FROM tkategorieartikel 
						LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'ProductCategories'
						WHERE tkategorieartikel.bRowversion > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP)
						UNION 
						SELECT kArtikel, bRowversion
						FROM [dbo].[tArtikel] 
						WHERE [bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'Product'), 0x0) 
											AS TIMESTAMP)
					)innerer
					GROUP BY Id
				)innerst
		) AS art2 ON art2.kArtikel = tArtikel.kArtikel
			
) AS [Product]
ORDER BY [Product].[LastChange]
GO
