USE [eazybusiness]
GO
/****** Object:  View [BI].[PaymentTypeName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[PaymentTypeName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tZahlungsart].[kZahlungsart]		AS [PaymentTypeID],
		[tSprachen].[cISO2]					AS [LanguageIso],
		LEFT([tZahlungsart].[cName], 128)	AS [Name],
		[tZahlungsart].[bRowversion]		AS [LastChange]
	FROM [dbo].[tZahlungsart]
		JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[nStandard] = 1
		JOIN [dbo].[tSprachen]		ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
	UNION
	SELECT
		[tZahlungsArtSprache].[kZahlungsart]		AS [PaymentTypeID],
		[tSprachen].[cISO2]							AS [LanguageIso],
		LEFT([tZahlungsArtSprache].[cName], 128)	AS [Name],
		[tZahlungsArtSprache].[bRowversion]			AS [LastChange]
	FROM [dbo].[tZahlungsArtSprache] 
		JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[kSprache] = [tZahlungsArtSprache].[kSprache]
		JOIN [dbo].[tSprachen]		ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
