USE [eazybusiness]
GO
/****** Object:  View [BI].[ProductProperties]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/***************************************************************************************************
 *    Kombination der Views ProductProperties, ProductPropertiyName und ProductPropertyValueName   *
 **************************************************************************************************/

CREATE VIEW [BI].[ProductProperties] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		ProductProperties.ProductID,
		ProductProperties.PropertyID,
		ProductProperties.PropertyNameType,
		ProductProperties.PropertyType,
		ProductProperties.LanguageIso,
		ProductProperties.[Name],
		ProductProperties.ValueName,
		ProductProperties.LastChange 
	FROM
	(
		/* Attribute und Eigene Felder */
		SELECT
			[tArtikelAttribut].[kArtikel]																							AS [ProductID],
			[tArtikelAttribut].[kAttribut]																							AS [PropertyID],
			'A'																														AS [PropertyNameType],
			CASE WHEN [tAttribut].[nIstFreifeld] = 0 THEN 'A' ELSE 'E' END															AS [PropertyType],
			ISNULL([tSprachen].[cISO2], 'zz')																						AS [LanguageIso],
			IIF( LEN( LEFT([tAttributSprache].[cName], 128 ) ) = 0, '-', LEFT( ISNULL( [tAttributSprache].[cName], '-' ), 128) )	AS [Name],
			CAST(LEFT(CASE [tFeldTyp].[nDatenTyp] 
				WHEN 0 THEN CONVERT(NVARCHAR(1024), [tArtikelAttributSprache].[nWertInt]) 
				WHEN 1 THEN CONVERT(NVARCHAR(1024), [tArtikelAttributSprache].[fWertDecimal]) 
				WHEN 3 THEN CONVERT(NVARCHAR(1024), [tArtikelAttributSprache].[dWertDateTime]) 
				ELSE [tArtikelAttributSprache].[cWertVarchar] 
			END, 128) AS NVARCHAR(128))																								AS [ValueName],
			CASE
				WHEN [tArtikelAttribut].[bRowversion] > [tAttributSprache].[bRowversion] 
					AND [tArtikelAttribut].[bRowversion] > [tArtikelAttributSprache].[bRowversion] 
					THEN [tArtikelAttribut].[bRowversion]
				WHEN [tAttributSprache].[bRowversion] > [tArtikelAttribut].[bRowversion] 
					AND [tAttributSprache].[bRowversion] > [tArtikelAttributSprache].[bRowversion] 
					THEN [tAttributSprache].[bRowversion]
				WHEN [tArtikelAttributSprache].[bRowversion] > [tArtikelAttribut].[bRowversion] 
					AND [tArtikelAttributSprache].[bRowversion] > [tAttributSprache].[bRowversion] 
					THEN [tArtikelAttributSprache].[bRowversion]
				ELSE [tArtikelAttribut].[bRowversion]
			END																														AS [LastChange]
		FROM [dbo].[tArtikelAttribut] 
			JOIN [dbo].[tAttributSprache]			ON [tArtikelAttribut].[kAttribut] = [tAttributSprache].[kAttribut]
			JOIN [dbo].[tArtikelAttributSprache]	ON [tArtikelAttributSprache].[kArtikelAttribut] = [tArtikelAttribut].[kArtikelAttribut] 
													AND [tArtikelAttributSprache].[kSprache] = [tAttributSprache].[kSprache]
			JOIN [dbo].[tAttribut]					ON [tArtikelAttribut].[kAttribut] = [tAttribut].[kAttribut]
			JOIN [dbo].[tFeldTyp]					ON [tAttribut].[kFeldTyp] = [tFeldTyp].[kFeldTyp]
			LEFT JOIN [dbo].[tSpracheUsed]			ON [tAttributSprache].[kSprache] = [tSpracheUsed].[kSprache]
			LEFT JOIN [dbo].[tSprachen]				ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
		WHERE (
			[tArtikelAttribut].[kAttribut] IN (
			SELECT [kAttribut]
			FROM [dbo].[tAttributShop]
			WHERE [kShop] IN (
					SELECT [kShop]
					FROM [dbo].[tShop]
					WHERE [nTyp] = 5
				) 
			) OR [tArtikelAttribut].[kAttribut] IN (
					SELECT [kAttribut]
					FROM [dbo].[tAttribut]
					WHERE [tAttribut].[nIstFreifeld] = 1
			)
			)AND(
				CASE WHEN [tArtikelAttribut].[bRowversion] > [tAttributSprache].[bRowversion] 
					AND [tArtikelAttribut].[bRowversion] > [tArtikelAttributSprache].[bRowversion] 
					THEN [tArtikelAttribut].[bRowversion]
				WHEN [tAttributSprache].[bRowversion] > [tArtikelAttribut].[bRowversion] 
					AND [tAttributSprache].[bRowversion] > [tArtikelAttributSprache].[bRowversion] 
					THEN [tAttributSprache].[bRowversion]
				WHEN [tArtikelAttributSprache].[bRowversion] > [tArtikelAttribut].[bRowversion] 
					AND [tArtikelAttributSprache].[bRowversion] > [tAttributSprache].[bRowversion] 
					THEN [tArtikelAttributSprache].[bRowversion]
				ELSE [tArtikelAttribut].[bRowversion] END > CAST(ISNULL((
														SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
														FROM [BI].[tAbgleichSync]
														WHERE [cAbgleichName] = 'ProductProperties'), 0x0) 
													AS TIMESTAMP)
			)

		UNION ALL

		/* Variationen */
		SELECT
			[tArtikel].[kArtikel]																									AS [ProductID],
			[tEigenschaftKombiWert].[kEigenschaft]																					AS [PropertyID],
			'V'																														AS [PropertyNameType],
			'V'																														AS [PropertyType],
			ISNULL([tSprachen].[cISO2], 'zz')																						AS [LanguageIso],
			IIF( LEN( LEFT([tEigenschaftSprache].[cName], 128) ) = 0, '-', LEFT( ISNULL([tEigenschaftSprache].[cName], '-'), 128) )	AS [Name],
			LEFT([tEigenschaftWertSprache].[cName], 128)																			AS [ValueName],
			CASE
				WHEN [tEigenschaftKombiWert].[bRowversion] > [tEigenschaftSprache].[bRowversion] 
					AND [tEigenschaftKombiWert].[bRowversion] > [tEigenschaftWertSprache].[bRowversion] 
					THEN [tEigenschaftKombiWert].[bRowversion]
				WHEN [tEigenschaftSprache].[bRowversion] > [tEigenschaftKombiWert].[bRowversion] 
					AND [tEigenschaftSprache].[bRowversion] > [tEigenschaftWertSprache].[bRowversion] 
					THEN [tEigenschaftSprache].[bRowversion]
				WHEN [tEigenschaftWertSprache].[bRowversion] > [tEigenschaftKombiWert].[bRowversion] 
					AND [tEigenschaftWertSprache].[bRowversion] > [tEigenschaftSprache].[bRowversion] 
					THEN [tEigenschaftWertSprache].[bRowversion]
				ELSE [tEigenschaftKombiWert].[bRowversion]
			END																														AS [LastChange]
		FROM [dbo].[tEigenschaftSprache] 
			JOIN [dbo].[teigenschaftwert]			ON [tEigenschaftSprache].[kEigenschaft] = [teigenschaftwert].[kEigenschaft]
			JOIN [dbo].[tEigenschaftWertSprache]	ON [tEigenschaftSprache].[kSprache] = [tEigenschaftWertSprache].[kSprache] 
													AND [teigenschaftwert].[kEigenschaftWert] = [tEigenschaftWertSprache].[kEigenschaftWert]
			LEFT JOIN [dbo].[tSpracheUsed]			ON [tEigenschaftWertSprache].[kSprache] = [tSpracheUsed].[kSprache]
			LEFT JOIN [dbo].[tSprachen]				ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
			JOIN [dbo].[tEigenschaftKombiWert]		ON [tEigenschaftKombiWert].[kEigenschaftWert] = [tEigenschaftWertSprache].[kEigenschaftWert] 
													AND [teigenschaftwert].[kEigenschaftWert] = [tEigenschaftKombiWert].[kEigenschaftWert]
			JOIN [dbo].[tArtikel] 					ON [tArtikel].[kEigenschaftKombi] = [tEigenschaftKombiWert].[kEigenschaftKombi]
		WHERE (
			CASE WHEN [tEigenschaftKombiWert].[bRowversion] > [tEigenschaftSprache].[bRowversion] 
					AND [tEigenschaftKombiWert].[bRowversion] > [tEigenschaftWertSprache].[bRowversion] 
					THEN [tEigenschaftKombiWert].[bRowversion]
				WHEN [tEigenschaftSprache].[bRowversion] > [tEigenschaftKombiWert].[bRowversion] 
					AND [tEigenschaftSprache].[bRowversion] > [tEigenschaftWertSprache].[bRowversion] 
					THEN [tEigenschaftSprache].[bRowversion]
				WHEN [tEigenschaftWertSprache].[bRowversion] > [tEigenschaftKombiWert].[bRowversion] 
					AND [tEigenschaftWertSprache].[bRowversion] > [tEigenschaftSprache].[bRowversion] 
					THEN [tEigenschaftWertSprache].[bRowversion]
				ELSE [tEigenschaftKombiWert].[bRowversion] END > CAST(ISNULL((
														SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
														FROM [BI].[tAbgleichSync]
														WHERE [cAbgleichName] = 'ProductProperties'), 0x0) 
													AS TIMESTAMP)
		)

		UNION ALL

		/* Merkmale */
		SELECT 
			tArtikelMerkmal.kArtikel		AS ProductID, 
			ISNULL(tArtikelMerkmal.kMerkmal, 0)	AS PropertyID, 
			'M'								AS PropertyNameType, 
			'M'								AS PropertyType, 
			tSprachen.cISO2					AS LanguageIso,
			tMerkmalSprache.cName		AS [Name],
			LTRIM(RTRIM(REPLACE((	SELECT CAST((tMerkmalWertSprache.cWert + '
	') AS NVARCHAR(4000))
				FROM dbo.tMerkmalWert
				JOIN dbo.tMerkmalWertSprache ON tMerkmalWertSprache.kMerkmalWert = tMerkmalWert.kMerkmalWert
				WHERE tMerkmalWert.kMerkmalWert = tArtikelMerkmal.kMerkmalWert AND tMerkmalSprache.kSprache = tMerkmalWertSprache.kSprache
				FOR XML PATH('')
			), '
	', CHAR(13)+CHAR(10)))) AS [ValueName],
			tMerkmalSprache.bRowversion	AS [LastChange]
		FROM dbo.tArtikelMerkmal 
		JOIN dbo.tMerkmalSprache ON tMerkmalSprache.kMerkmal = tArtikelMerkmal.kMerkmal
		JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tMerkmalSprache.kSprache
		JOIN dbo.tSprachen ON tSprachen.cISO = tSpracheUsed.cISO
		WHERE tArtikelMerkmal.kMerkmal IS NOT NULL AND (
			tMerkmalSprache.bRowversion > CAST(ISNULL((
														SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
														FROM [BI].[tAbgleichSync]
														WHERE [cAbgleichName] = 'ProductProperties'), 0x0) 
													AS TIMESTAMP)
		)

	) [ProductProperties]
) AS subselect
ORDER BY subselect.LastChange
GO
