USE [eazybusiness]
GO
/****** Object:  View [BI].[ProductCategories]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ProductCategories] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tkategorieartikel].[kArtikel]		AS [ProductID],
		[tkategorieartikel].[kKategorie]	AS [ID],
		[tkategorieartikel].[bRowversion]	AS [LastChange]
	FROM [dbo].[tkategorieartikel]
) AS subselect
ORDER BY subselect.LastChange
GO
