USE [eazybusiness]
GO
/****** Object:  View [BI].[ProductName]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ProductName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tArtikelBeschreibung].[kArtikel]																								AS [ProductID],
		[tSprachen].[cISO2]																												AS [LanguageIso],
		IIF( LEN( LEFT( [tArtikelBeschreibung].[cName], 128)) = 0, '-', LEFT( ISNULL( [tArtikelBeschreibung].[cName] , '-' ), 128) )	AS [Name],
		[tArtikelBeschreibung].[bRowversion]																							AS [LastChange]
	FROM [dbo].[tArtikelBeschreibung]
		JOIN [dbo].[tSpracheUsed]	ON [tArtikelBeschreibung].[kSprache] = [tSpracheUsed].[kSprache] 
		JOIN [dbo].[tSprachen]		ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
	WHERE [tArtikelBeschreibung].[kPlattform] = 1
) AS subselect
ORDER BY subselect.LastChange
GO
