USE [eazybusiness]
GO
/****** Object:  View [BI].[Picture]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Picture] AS
SELECT TOP (999999999) *
FROM (
	SELECT * FROM (
		SELECT
			[tArtikelbildPlattform].[kArtikel]	AS [ObjectID],
			'Product'							AS  [ObjectType],
			[tbild].[bVorschauBild]				AS [PictureData],
			[tbild].[bRowversion]				AS [LastChange]
		FROM [dbo].[tBild]
			JOIN [dbo].[tArtikelbildPlattform] ON [tArtikelbildPlattform].[kBild] = [tBild].[kBild]
		WHERE [tArtikelbildPlattform].[nNr] = 1 -- erstes Bild
			AND [tArtikelbildPlattform].[kPlattform] = 1 -- WAWI
		UNION ALL
		SELECT
			[tHerstellerBildPlattform].[kHersteller]	AS [ObjectID],
			'Manufacturer'								AS [ObjectType],
			[tbild].[bVorschauBild]						AS [PictureData],
			[tbild].[bRowversion]						AS [LastChange]
		FROM [dbo].[tBild]
			JOIN [dbo].[tHerstellerBildPlattform] ON [tHerstellerBildPlattform].[kBild] = [tBild].[kBild]
		WHERE [tHerstellerBildPlattform].[kPlattform] = 1 -- WAWI
		UNION ALL
		SELECT
			[tKategoriebildPlattform].[kKategorie]	AS [ObjectID],
			'Category'								AS [ObjectType],
			[tbild].[bVorschauBild]					AS [PictureData],
			[tbild].[bRowversion]					AS [LastChange]
		FROM [dbo].[tBild]
			JOIN [dbo].[tKategoriebildPlattform] ON [tKategoriebildPlattform].[kBild] = [tBild].[kBild]
		WHERE [tKategoriebildPlattform].[nNr] = 1 -- erstes Bild
			AND [tKategoriebildPlattform].[kPlattform] = 1 -- WAWI
	) Picture
	WHERE [LastChange] >	CAST(ISNULL(
								(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
									FROM [BI].[tAbgleichSync]
									WHERE [cAbgleichName] = 'Picture'), 0x0) 
							AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
