USE [eazybusiness]
GO
/****** Object:  View [BI].[ProductAsin]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ProductAsin] AS
SELECT TOP (999999999) * FROM
	(
		SELECT
			[tArtikelAsin].[kArtikelAsin]	AS [ProductAsinID],
			[tArtikelAsin].[kArtikel]		AS [ProductID],
			[tArtikelAsin].[cAsin]			AS [Asin],
			[tArtikelAsin].[bRowversion]	AS [LastChange]
		FROM [Artikel].[tArtikelAsin]
		WHERE [tArtikelAsin].[bRowversion] >	CAST(ISNULL(
					(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
					 FROM [BI].[tAbgleichSync]
					 WHERE [cAbgleichName] = 'ProductAsin'), 0x0)
				AS TIMESTAMP)
	) AS [ProductAsin]
ORDER BY [ProductAsin].[LastChange]
GO
