USE [eazybusiness]
GO
/****** Object:  View [BI].[PlatformName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[PlatformName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tPlattform].[nPlattform]	AS [PlatformID],
		'de'						AS [LanguageIso],
		LEFT(tPlattform.cName, 128)	AS [Name],
		[tPlattform].[bRowversion]	AS [LastChange]
	FROM [dbo].[tPlattform]
) AS subselect
ORDER BY subselect.LastChange
GO
