USE [eazybusiness]
GO
/****** Object:  View [BI].[Parcel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Parcel] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tVersand].[kVersand]									AS [ParcelID],
		[tVersand].[kLieferschein]								AS [DeliveryNoteID],
		[tVersand].[kVersandArt]								AS [ShippingMethodID],
		[tVersand].[kBenutzer]									AS [SystemUserID],
		[tVersand].[dErstellt]									AS [CreationDate],
		[tVersand].[fGewicht]									AS [ParcelWeight],
		[tVersand].[dAnkunftszeit]								AS [ArrivedDate],
		[tVersand].[cIdentCode]									AS [IdentCode],
		[tVersand].[nVerpackZeitSek]							AS [PackingDuration],
		[tVersand].[nStatus]									AS [Status],
		[tVersand].[bRowversion]								AS [LastChange]
	FROM [dbo].[tVersand]
	WHERE [tVersand].[bRowversion] >	CAST(ISNULL(
											(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
												FROM [BI].[tAbgleichSync]
												WHERE [cAbgleichName] = 'Parcel'), 0x0) 
										AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
