USE [eazybusiness]
GO
/****** Object:  View [BI].[ProductStateName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ProductStateName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tZustandSprache].[kZustand]	AS [ProductStateID],
		[tSprachen].[cISO2]				AS [LanguageIso],
		[tZustandSprache].[cName]		AS [Name],
		[tZustandSprache].[bRowversion]	AS [LastChange]
	FROM [dbo].[tZustandSprache]
		JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[kSprache] = [tZustandSprache].[kSprache]
		JOIN [dbo].[tSprachen]		ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
