USE [eazybusiness]
GO
/****** Object:  View [BI].[PaymentType]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[PaymentType] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tZahlungsart].[kZahlungsart] AS [PaymentTypeID],
		[tZahlungsart].[bRowversion] AS [LastChange]
	FROM dbo.tZahlungsart
	WHERE [tZahlungsart].[bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													 FROM [BI].[tAbgleichSync]
													 WHERE [cAbgleichName] = 'PaymentType'), 0x0) 
												AS TIMESTAMP)
	OR [tZahlungsart].[kZahlungsart] IN	(
										SELECT [PaymentTypeName].[PaymentTypeID]
										FROM [BI].[PaymentTypeName]
										LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'PaymentTypeName'
										WHERE [PaymentTypeName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
ORDER BY subselect.LastChange
GO
