USE [eazybusiness]
GO
/****** Object:  View [BI].[PlatformAllowNegativeStock]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[PlatformAllowNegativeStock] AS
SELECT TOP (999999999) *
FROM (
		 SELECT
			 [PlatformAllowNegativeStock].[kPlattformUeberverkaeufeMoeglich] 	AS [PlatformAllowNegativeStockID],
			 [PlatformAllowNegativeStock].[kArtikel]							AS [ProductID],
			 [PlatformAllowNegativeStock].[nPlattform]							AS [PlatformID],
			 [PlatformAllowNegativeStock].[bRowversion]							AS [LastChange]
		 FROM dbo.tPlattformUeberverkaeufeMoeglich AS [PlatformAllowNegativeStock]
		 WHERE [bRowversion] >	CAST(ISNULL(
			 (SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
			 FROM [BI].[tAbgleichSync]
			 WHERE [cAbgleichName] = 'PlatformAllowNegativeStock'), 0x0)
			 AS TIMESTAMP)
	 ) AS subselect
ORDER BY subselect.LastChange
GO
