USE [eazybusiness]
GO
/****** Object:  View [BI].[ProductState]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ProductState] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tZustand].[kZustand]									AS [ProductStateID],
		[tZustand].[bRowversion]								AS [LastChange]
	FROM [dbo].[tZustand]
	WHERE [tZustand].[bRowversion] >	CAST(ISNULL((
											SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
											FROM [BI].[tAbgleichSync]
											WHERE [cAbgleichName] = 'ProductState'), 0x0) 
										AS TIMESTAMP)
	OR [tZustand].[kZustand] IN	(
								SELECT [ProductStateName].[ProductStateID]
								FROM [BI].[ProductStateName]
								LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'ProductStateName'
								WHERE [ProductStateName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
ORDER BY subselect.LastChange
GO
