USE [eazybusiness]
GO
/****** Object:  View [BI].[ProductLabel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ProductLabel] AS
SELECT TOP (999999999) *
FROM (
	SELECT 
		[tArtikelLabel].[kArtikel]		AS [ProductID],
		[tArtikelLabel].[kLabel]		AS [LabelID],
		[tArtikelLabel].[bRowversion]	AS [LastChange]
	FROM [dbo].[tArtikelLabel]
	WHERE [tArtikelLabel].[bRowversion] >	CAST(ISNULL(
				(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
				 FROM [BI].[tAbgleichSync]
				 WHERE [cAbgleichName] = 'ProductLabel'), 0x0)
			AS TIMESTAMP)
) AS [ProductLabel]
ORDER BY [ProductLabel].[LastChange]
GO
