USE [eazybusiness]
GO
/****** Object:  View [BI].[Platform]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Platform] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tPlattform].[nPlattform]								AS [PlatformID],
		[tPlattform].[bRowversion]								AS [LastChange]
	FROM [dbo].[tPlattform]
	LEFT JOIN [BI].[PlatformName] ON [tPlattform].[nPlattform] = [PlatformName].[PlatformID]
	WHERE [tPlattform].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
												FROM [BI].[tAbgleichSync]
												WHERE [cAbgleichName] = 'Platform'), 0x0)
										AS TIMESTAMP)
	OR [tPlattform].[nPlattform] IN	(
										SELECT [PlatformName].[PlatformID]
										FROM [BI].[PlatformName]
										LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'PlatformName'
										WHERE [PlatformName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
ORDER BY subselect.LastChange
GO
