USE [eazybusiness]
GO
/****** Object:  View [BI].[ProductComponents]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ProductComponents] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tStueckliste].[kArtikel]									AS [ComponentProductID],
		[tStueckliste].[kStueckliste]								AS [ProductID],
		[tStueckliste].[fAnzahl]									AS [Amount],
		[tStueckliste].[bRowversion]								AS [LastChange]
	FROM [dbo].[tStueckliste]
	WHERE [tStueckliste].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'ProductComponents'), 0x0) 
											AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
