USE [eazybusiness]
GO
/****** Object:  View [BI].[ReturnReasonName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ReturnReasonName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tRMGrundSprache].[kRMGrund]	AS [ReturnReasonID],
		[tSprachen].[cISO2]				AS [LanguageIso],
		[tRMGrundSprache].[cName]		AS [Name],
		[tRMGrundSprache].[bRowversion]	AS [LastChange]
	FROM [dbo].[tRMGrundSprache]
		JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[kSprache] = [tRMGrundSprache].[kSprache]
		JOIN [dbo].[tSprachen]		ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
