USE [eazybusiness]
GO
/****** Object:  View [BI].[ReturnReason]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ReturnReason] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tRMGrund].[kRMGrund] AS [ReturnReasonID],
		[tRMGrund].[bRowversion] AS [LastChange]
	FROM [dbo].[tRMGrund]
	WHERE [tRMGrund].[bRowversion] >	CAST(ISNULL((
											SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
											FROM [BI].[tAbgleichSync]
											WHERE [cAbgleichName] = 'ReturnReason'), 0x0) 
										AS TIMESTAMP)
	OR [tRMGrund].[kRMGrund] IN	(
								SELECT [ReturnReasonName].[ReturnReasonID]
								FROM [BI].[ReturnReasonName]
								LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'ReturnReasonName'
								WHERE [ReturnReasonName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
ORDER BY subselect.LastChange
GO
