USE [eazybusiness]
GO
/****** Object:  View [BI].[Supplier]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Supplier] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tlieferant].[kLieferant]								AS [SupplierID],
		LEFT([tlieferant].[cLiefNr], 128)						AS [SupplierNumber],
		LEFT([tlieferant].[cFirma], 128)						AS [SupplierName],
		LEFT([tlieferant].[cPLZ], 10)							AS [Postalcode],
		LEFT([tlieferant].[cOrt], 64)							AS [City],
		LEFT([tlieferant].[cLand], 64)							AS [Country],
		LOWER(LEFT([tlieferant].[cISO], 2))						AS [CountryISO],
		[tlieferant].[nZahlungsziel]							AS [DaysForPayment],
		[tlieferant].[fMindestbestellwert]						AS [MinimumOrderValue],
		[tlieferant].[fMindermengenzuschlag]					AS [MinimumQuantitySurcharge],
		[tlieferant].[fFrachtkosten]							AS [DeliveryCost],
		[tlieferant].[bRowversion]								AS [LastChange]
	FROM [dbo].[tlieferant]
	WHERE [tlieferant].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
												FROM [BI].[tAbgleichSync]
												WHERE [cAbgleichName] = 'Supplier'), 0x0) 
										AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
