USE [eazybusiness]
GO
/****** Object:  View [BI].[SupplierOrderReminderPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SupplierOrderReminderPos] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		LEFT(
			CAST([tLieferantenBestellungErinnerungPos].[kLieferantenBestellungErinnerung] AS NVARCHAR(100)) + N'-' + 
			CAST([tLieferantenBestellungErinnerungPos].[kLieferantenBestellungPos] AS NVARCHAR(100)), 50)	AS [SupplierOrderReminderPosID],
		[tLieferantenBestellungErinnerungPos].[kLieferantenBestellungErinnerung]							AS [SupplierOrderReminderID],
		[tLieferantenBestellungErinnerungPos].[kLieferantenBestellungPos]									AS [SupplierOrderPosID],
		[tLieferantenBestellungErinnerungPos].[fAnzahl]														AS [Amount],
		[tLieferantenBestellungErinnerungPos].[bRowversion]													AS [LastChange]
	FROM [dbo].[tLieferantenBestellungErinnerungPos]
	WHERE [tLieferantenBestellungErinnerungPos].[bRowversion] >	CAST(ISNULL(
																		(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
																		FROM [BI].[tAbgleichSync]
																		WHERE [cAbgleichName] = 'SupplierOrderReminderPos'), 0x0) 
																AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
