USE [eazybusiness]
GO
/****** Object:  View [BI].[SupplierInvoicePosExtraCharge]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SupplierInvoicePosExtraCharge] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		tEingangsrechnungPosZusatzkosten.kZusatzkosten									AS SupplierInvoicePosExtraChargesID,
		tEingangsrechnungPosZusatzkosten.kEingangsrechnungPos							AS SupplierInvoicePosID,
		tEingangsrechnungPosZusatzkosten.dWert											AS ChargeValue,
		tEingangsrechnungPosZusatzkosten.cWaehrungISO									AS CurrencyISO,
		tEingangsrechnungPosZusatzkosten.fFremdFaktor									AS CurrencyFactor,
		tEingangsrechnungPosZusatzkosten.fMwst											AS VATPercent,
		tEingangsrechnungPosZusatzkosten.bRowversion									AS [LastChange]
	FROM dbo.tEingangsrechnungPosZusatzkosten
	WHERE tEingangsrechnungPosZusatzkosten.bRowversion >	CAST(ISNULL(
															(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
															FROM [BI].[tAbgleichSync]
															WHERE [cAbgleichName] = 'SupplierInvoicePosExtraCharge'), 0x0) 
													AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
