USE [eazybusiness]
GO
/****** Object:  View [BI].[SupplierOrderPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SupplierOrderPos] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tLieferantenBestellungPos].[kLieferantenBestellungPos]					AS [SupplierOrderPosID],
		[tLieferantenBestellungPos].[kLieferantenBestellung]					AS [SupplierOrderID],
		[tLieferantenBestellungPos].[kLieferscheinPos]							AS [DeliveryNotePosID],
		[tLieferantenBestellungPos].[kArtikel]									AS [ProductID],
		LEFT([tLieferantenBestellungPos].[cArtNr], 50)							AS [ProductNo],
		LEFT([tLieferantenBestellungPos].[cName], 128)							AS [ProductName],
		[tLieferantenBestellungPos].[fUST]										AS [VATPercent],
		[tLieferantenBestellungPos].[fMenge]									AS [AmountOrdered],
		[tLieferantenBestellungPos].[fMengeGeliefert]							AS [AmountDelivered],
		[tLieferantenBestellungPos].[fEKNetto]									AS [NetPurchasePrice],
		[tLieferantenBestellungPos].[dLieferdatum]								AS [DeliveryDate],
		[tLieferantenBestellungPos].[nPosTyp]									AS [PosType],
		[tLieferantenBestellungPos].[nSort]										AS [Sorting],
		[tLieferantenBestellungPos].[bRowversion]								AS [LastChange]
	FROM [dbo].[tLieferantenBestellungPos]
	WHERE [tLieferantenBestellungPos].[bRowversion] >	CAST(ISNULL(
																(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
																FROM [BI].[tAbgleichSync]
																WHERE [cAbgleichName] = 'SupplierOrderPos'), 0x0) 
														AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
