USE [eazybusiness]
GO
/****** Object:  View [BI].[ShippingClass]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ShippingClass] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tVersandklasse].[kVersandklasse]							AS [ShippingClassID],
		[tVersandklasse].[bRowversion]								AS [LastChange]
	FROM [dbo].[tVersandklasse]
	WHERE [tVersandklasse].[bRowversion] >	CAST(ISNULL((
												SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
												FROM [BI].[tAbgleichSync]
												WHERE [cAbgleichName] = 'ShippingClass'), 0x0) 
											AS TIMESTAMP)
	OR [tVersandklasse].[kVersandklasse] IN	(
											SELECT [ShippingClassName].[ShippingClassID]
											FROM [BI].[ShippingClassName]
											LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'ShippingClassName'
											WHERE [ShippingClassName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
ORDER BY subselect.LastChange
GO
