USE [eazybusiness]
GO
/****** Object:  View [BI].[SystemUserId]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SystemUserId] AS
SELECT TOP (999999999) *
FROM (
	SELECT
        [tbenutzer].[kBenutzer] AS [SystemUserID]
	FROM [eazybusiness].[dbo].[tbenutzer]
	-- noch kein Eintrag vorhanden
	WHERE NOT EXISTS (
			SELECT 1 FROM [BI].[tAbgleichSync]
			WHERE [tAbgleichSync].[cAbgleichName] = 'SystemUserId'
		)
		OR EXISTS (
				SELECT 1 FROM [BI].[tAbgleichSync]
				WHERE [tAbgleichSync].[cAbgleichName] = 'SystemUserId'
			AND (
				-- letzte Ausfuehrung laenger als 1 Tag her und es ist Samstag
				(
					DATEDIFF(DAY, ISNULL([tAbgleichSync].[dLastExecutionTime], GETDATE()-10), GETDATE()) >= 1
					-- DATEFIRST + 6(anzahl verbleibender Tage) - 1(erster Tag der Woche - Montag) % 7 (anzahl Tage in der Woche) + 1(Modulo ist 0 basiert, Wochentag im SQL ist 1 basiert) = 6 (Samstag)
					AND (DATEPART(WEEKDAY, GETDATE()) + @@DATEFIRST + 6 - 1) % 7 + 1 = 6
				)
				-- letzte Ausfuehrung laenger als 7 Tage her
				OR DATEDIFF(DAY, ISNULL([tAbgleichSync].[dLastExecutionTime], GETDATE()-10), GETDATE()) >= 7
			)	
		)
) AS subselect
ORDER BY 1
GO
