USE [eazybusiness]
GO
/****** Object:  View [BI].[SupplierProduct]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SupplierProduct] AS
SELECT TOP (999999999) *
FROM (
	SELECT 
		[tliefartikel].[kLiefArtikel]								AS [SupplierProductID],
		[tliefartikel].[tArtikel_kArtikel]							AS [ProductID],
		[tliefartikel].[tLieferant_kLieferant]						AS [SupplierID],
		[tliefartikel].[cLiefArtNr]									AS [SupplierProductNumber],
		[tliefartikel].[cName]										AS [SupplierProductName],
		[tliefartikel].[fEKNetto]									AS [NetPurchasePrice],
		[tliefartikel].[fMwSt]										AS [VATPercent],
		[tliefartikel].[cVPEEinheit]								AS [PackingUnit],
		[tliefartikel].[nVPEMenge]									AS [PackingAmount],
		[tliefartikel].[nMindestAbnahme]							AS [MinimumOrderAmount],
		[tliefartikel].[nAbnahmeIntervall]							AS [OrderInterval],
		[tliefartikel].[nLieferzeit]								AS [DeliveryDuration],
		[tliefartikel].[nStandard]									AS [IsDefault],
		[tliefartikel].[bRowversion]								AS [LastChange]
	FROM [dbo].[tliefartikel]
	WHERE [tliefartikel].[bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'SupplierProduct'), 0x0) 
											AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
