USE [eazybusiness]
GO
/****** Object:  View [BI].[ShippingClassName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ShippingClassName] AS
SELECT TOP (999999999) *
FROM (
	SELECT	
		[tVersandklasse].[kVersandklasse]	AS [ShippingClassID],
		[tSprachen].[cISO2]					AS [LanguageIso],
		LEFT([tVersandklasse].[cName], 128)	AS [Name],
		[tVersandklasse].[bRowversion]		AS [LastChange]
	FROM [dbo].[tVersandklasse]
		JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[nStandard] = 1
		JOIN [dbo].[tSprachen]		ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
