USE [eazybusiness]
GO
/****** Object:  View [BI].[SupplierOrderReminder]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SupplierOrderReminder] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tLieferantenBestellungErinnerung].[kLieferantenBestellungErinnerung]			AS [SupplierOrderReminderID],
		[tLieferantenBestellungErinnerung].[kLieferantenBestellung]						AS [SupplierOrderID],
		[tLieferantenBestellungErinnerung].[kBenutzer]									AS [SystemUserID],
		[tLieferantenBestellungErinnerung].[dDatum]										AS [ReminderDate],
		[tLieferantenBestellungErinnerung].[bRowversion]								AS [LastChange]
	FROM [dbo].[tLieferantenBestellungErinnerung]
	WHERE [tLieferantenBestellungErinnerung].[bRowversion] >	CAST(ISNULL(
																		(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
																		FROM [BI].[tAbgleichSync]
																		WHERE [cAbgleichName] = 'SupplierOrderReminder'), 0x0) 
																AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
