USE [eazybusiness]
GO
/****** Object:  View [BI].[ShippingMethodName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ShippingMethodName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tversandart].[kVersandart]								AS [ShippingMethodID],
		[tSprachen].[cISO2]										AS [LanguageIso],
		CAST(LEFT([tversandart].[cName], 128) AS NVARCHAR(128))	AS [Name],
		[tversandart].[bRowversion]								AS [LastChange]
	FROM [dbo].[tversandart]
		JOIN [dbo].[tSpracheUsed] ON [nStandard] = 1
		JOIN [dbo].[tSprachen] ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
	WHERE [tversandart].[cName] IS NOT NULL
		AND LEN([tversandart].[cName]) > 0
	UNION
	SELECT	
		[tVersandartSprache].[kVersandart]								AS [ShippingMethodID],
		[tSprachen].[cISO2]												AS [LanguageIso],
		CAST(LEFT([tVersandartSprache].[cName], 128) AS NVARCHAR(128))	AS [Name],
		[tVersandartSprache].[bRowversion]								AS [LastChange]
	FROM [dbo].[tVersandartSprache] 
		JOIN [dbo].[tSpracheUsed] ON [tSpracheUsed].[kSprache] = [tVersandartSprache].[kSprache]
		JOIN [dbo].[tSprachen] ON [tSpracheUsed].[cISO] = [tSprachen].[cISO]
	WHERE [tVersandartSprache].[cName] IS NOT NULL
		AND LEN([tVersandartSprache].[cName]) > 0
) AS subselect
ORDER BY subselect.LastChange
GO
