USE [eazybusiness]
GO
/****** Object:  View [BI].[SystemUser]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SystemUser] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tbenutzer].[kBenutzer]								AS [SystemUserID],
		LEFT([tbenutzer].[cName], 128)						AS [SystemUserName],
		CAST(0x0 AS TIMESTAMP)								AS [LastChange]
	FROM [eazybusiness].[dbo].[tbenutzer]
) AS subselect
ORDER BY subselect.LastChange
GO
