USE [eazybusiness]
GO
/****** Object:  View [BI].[ShippingMethod]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[ShippingMethod] AS
SELECT TOP (999999999) * 
FROM
(
	SELECT
		[tversandart].[kVersandart]								AS [ShippingMethodID],
        [tversandart].[fEKPreis]                                AS [ShippingCost],
		[tversandart].[bRowversion]								AS [LastChange]
	FROM [dbo].[tversandart]
	WHERE [tversandart].[bRowversion] >		CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'ShippingMethod'), 0x0) 
											AS TIMESTAMP)
	OR [tversandart].[kVersandart] IN	(
											SELECT [ShippingMethodName].[ShippingMethodID]
											FROM [BI].[ShippingMethodName]
											LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'ShippingMethodName'
											WHERE [ShippingMethodName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS [ShippingMethod]
ORDER BY ShippingMethod.LastChange
GO
