USE [eazybusiness]
GO
/****** Object:  View [BI].[Stocktaking]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Stocktaking] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tInventur].[kInventur]									AS [StocktakingID],
		[tInventur].[kWarenLagerPlatz]							AS [BinLocationID],
		[tInventur].[kArtikel]									AS [ProductID],
		[tInventur].[fAnzahl]									AS [StockAmount],
		[tInventur].[dMHD]										AS [BestBeforeDate],
		LEFT([tInventur].[cCharge], 128)						AS [BatchName],
		[tInventur].[cSeriennummer]								AS [SerialNumber],
		[tInventur].[bRowversion]								AS [LastChange]
	FROM [dbo].[tInventur]
	WHERE [tInventur].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
												FROM [BI].[tAbgleichSync]
												WHERE [cAbgleichName] = 'Stocktaking'), 0x0) 
										AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
