USE [eazybusiness]
GO
/****** Object:  View [BI].[SupplierInvoice]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SupplierInvoice] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tEingangsrechnung].[kEingangsrechnung]							AS [SupplierInvoiceID],
		[tEingangsrechnung].[kLieferant]								AS [SupplierID],
		[tEingangsrechnung].[dErstellt]									AS [CreationDate],
		[tEingangsrechnung].[nStatus]									AS [Status],
		[tlieferant].[cWaehrungISO]										AS [CurrencyISO],
		[tEingangsrechnung].[fFremdFaktor]								AS [CurrencyFactor],
		[tEingangsrechnung].[nDeleted]									AS [Deleted],
		[tEingangsrechnung].[bRowversion]								AS [LastChange]
	FROM [dbo].[tEingangsrechnung]
		JOIN [dbo].[tlieferant] ON [tlieferant].[kLieferant] = [tEingangsrechnung].[kLieferant]
	WHERE [tlieferant].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
												FROM [BI].[tAbgleichSync]
												WHERE [cAbgleichName] = 'SupplierInvoice'), 0x0) 
										AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
