USE [eazybusiness]
GO
/****** Object:  View [BI].[SupplierOrder]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SupplierOrder] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tLieferantenBestellung].[kLieferantenBestellung]					AS [SupplierOrderID],
		[tLieferantenBestellung].[kLieferant]								AS [SupplierID],
		[tLieferantenBestellung].[kFirma]									AS [CompanyID],
		[tLieferantenBestellung].[kLager]									AS [WarehouseID],
		[tLieferantenBestellung].[kLieferschein]							AS [DeliveryNoteID],
		LEFT(
			CASE 
				WHEN ISNULL([tLieferantenBestellung].[cFremdbelegnummer], '') <> ''
				THEN [tLieferantenBestellung].[cFremdbelegnummer]
				ELSE [tLieferantenBestellung].[cEigeneBestellnummer]
			END, 128)														AS [SupplierOrderNo],
		[tLieferantenBestellung].[dErstellt]								AS [CreationDate],
		[tLieferantenBestellung].[dInBearbeitung]							AS [OrderDate],
		[tLieferantenBestellung].[dLieferdatum]								AS [DeliveryDate],
		[tLieferantenBestellung].[cWaehrungISO]								AS [CurrencyISO],
		[tLieferantenBestellung].[fFaktor]									AS [CurrencyFactor],
		[tLieferantenBestellung].[nDropShipping]							AS [DropShipping],
		[tLieferantenBestellung].[bRowversion]								AS [LastChange]
	FROM [dbo].[tLieferantenBestellung]
	WHERE [tLieferantenBestellung].[bRowversion] >	CAST(ISNULL(
															(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
															FROM [BI].[tAbgleichSync]
															WHERE [cAbgleichName] = 'SupplierOrder'), 0x0) 
													AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
