USE [eazybusiness]
GO
/****** Object:  View [BI].[SupplierInvoicePos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[SupplierInvoicePos] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tEingangsrechnungPos].[kEingangsrechnungPos]						AS [SupplierInvoicePosID],
		[tEingangsrechnungPos].[kEingangsrechnung]							AS [SupplierInvoiceID],
		[tEingangsrechnungPos].[kLieferantenbestellung]						AS [SupplierOrderID],
		[tEingangsrechnungPos].[kArtikel]									AS [ProductID],
		[tEingangsrechnungPos].[fMenge]										AS [Amount],
		[tEingangsrechnungPos].[fEKNetto]									AS [NetPurchasePrice],
		[tEingangsrechnungPos].[fMwSt]										AS [VATPercent],
		[tEingangsrechnungPos].[nPosTyp]									AS [PosType],
		[tEingangsrechnungPos].[bRowversion]								AS [LastChange]
	FROM [dbo].[tEingangsrechnungPos]
	WHERE [tEingangsrechnungPos].[bRowversion] >	CAST(ISNULL(
															(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
															FROM [BI].[tAbgleichSync]
															WHERE [cAbgleichName] = 'SupplierInvoicePos'), 0x0) 
													AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
