USE [eazybusiness]
GO
/****** Object:  Table [BI].[tAbgleichConfig]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BI].[tAbgleichConfig](
	[kAbgleichConfig] [int] IDENTITY(1,1) NOT NULL,
	[cAbgleichName] [nvarchar](50) NOT NULL,
	[nAbgleichGroesse] [int] NULL,
 CONSTRAINT [PK_bi_kAbgleichConfig] PRIMARY KEY CLUSTERED 
(
	[kAbgleichConfig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
