USE [eazybusiness]
GO
/****** Object:  Table [BI].[tLogeintrag]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BI].[tLogeintrag](
	[kLogeintrag] [int] IDENTITY(1,1) NOT NULL,
	[kLogsitzung] [int] NOT NULL,
	[dZeitpunkt] [datetime] NOT NULL,
	[nSchweregrad] [tinyint] NOT NULL,
	[cMeldung] [nvarchar](2048) NULL,
	[cAbgleichName] [nvarchar](50) NULL,
 CONSTRAINT [PK_BI_tLogeintrag] PRIMARY KEY CLUSTERED 
(
	[kLogeintrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [BI].[tLogeintrag]  WITH CHECK ADD  CONSTRAINT [FK_BI_tLogeintrag_kLogsitzung] FOREIGN KEY([kLogsitzung])
REFERENCES [BI].[tLogsitzung] ([kLogsitzung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [BI].[tLogeintrag] CHECK CONSTRAINT [FK_BI_tLogeintrag_kLogsitzung]
GO
