USE [eazybusiness]
GO
/****** Object:  Table [BI].[tKostenTyp]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BI].[tKostenTyp](
	[kKostentyp] [int] IDENTITY(1,1) NOT NULL,
	[cKostentyp] [nvarchar](128) NOT NULL,
	[cKommentar] [nvarchar](512) NULL,
	[dAenderung] [datetime] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_bi_kKostentyp] PRIMARY KEY CLUSTERED 
(
	[kKostentyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [BI].[tKostenTyp] ADD  DEFAULT (getdate()) FOR [dErstellt]
GO
