USE [eazybusiness]
GO
/****** Object:  Table [BI].[tAbgleichToken]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BI].[tAbgleichToken](
	[kAbgleichToken] [int] IDENTITY(1,1) NOT NULL,
	[cAbgleichToken] [nvarchar](max) NOT NULL,
	[dAenderung] [datetime] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
 CONSTRAINT [PK_BI_kAbgleichToken] PRIMARY KEY CLUSTERED 
(
	[kAbgleichToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [BI].[tAbgleichToken] ADD  CONSTRAINT [DF_BI_tAbgleichToken_dAenderung]  DEFAULT (getdate()) FOR [dAenderung]
GO
ALTER TABLE [BI].[tAbgleichToken] ADD  CONSTRAINT [DF_BI_tAbgleichToken_dErstellt]  DEFAULT (getdate()) FOR [dErstellt]
GO
