USE [eazybusiness]
GO
/****** Object:  Table [BI].[tAbgleichSync]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BI].[tAbgleichSync](
	[kAbgleichSync] [int] IDENTITY(1,1) NOT NULL,
	[cAbgleichName] [nvarchar](50) NOT NULL,
	[bLastChange] [varbinary](8) NOT NULL,
	[nKomplettAbgleich] [bit] NOT NULL,
	[dLastExecutionTime] [datetime2](7) NULL,
 CONSTRAINT [PK_bi_kAbgleichHist] PRIMARY KEY CLUSTERED 
(
	[kAbgleichSync] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [BI].[tAbgleichSync] ADD  DEFAULT ((0)) FOR [nKomplettAbgleich]
GO
