USE [eazybusiness]
GO
/****** Object:  Table [BI].[tAbgleichOption]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BI].[tAbgleichOption](
	[cKey] [nvarchar](256) NOT NULL,
	[cValue] [nvarchar](500) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_bi_tAbgleichOption] PRIMARY KEY CLUSTERED 
(
	[cKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
