USE [eazybusiness]
GO
/****** Object:  Table [BI].[tStatistic]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BI].[tStatistic](
	[kStatistic] [int] IDENTITY(1,1) NOT NULL,
	[iRunId] [uniqueidentifier] NOT NULL,
	[cName] [nvarchar](50) NOT NULL,
	[cKey] [nvarchar](50) NOT NULL,
	[nNumber] [int] NOT NULL,
	[nTime] [bigint] NOT NULL,
	[dCreationDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BI_tStatistic] PRIMARY KEY CLUSTERED 
(
	[kStatistic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
