USE [eazybusiness]
GO
/****** Object:  Table [BI].[tLogsitzung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BI].[tLogsitzung](
	[kLogsitzung] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cRechnername] [nvarchar](64) NULL,
	[dStart] [datetime] NOT NULL,
	[dEnde] [datetime] NULL,
	[nStatus] [tinyint] NULL,
	[cStatusMeldung] [nvarchar](2048) NULL,
 CONSTRAINT [PK_BI_tLogsitzung] PRIMARY KEY CLUSTERED 
(
	[kLogsitzung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
