USE [eazybusiness]
GO
/****** Object:  View [BI].[VATClassName]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[VATClassName] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tSteuerklasse].[kSteuerklasse]		AS [VATClassID],
		[tSprachen].[cISO2]					AS [LanguageIso],
		LEFT([tSteuerklasse].[cName], 128)	AS [Name],
		[tSteuerklasse].[bRowversion]		AS [LastChange]
	FROM [dbo].[tSteuerklasse]
		JOIN [dbo].[tSpracheUsed]	ON [tSpracheUsed].[nStandard] = 1
		JOIN [dbo].[tSprachen]		ON [tSprachen].[cISO] = [tSpracheUsed].[cISO]
) AS subselect
ORDER BY subselect.LastChange
GO
