USE [eazybusiness]
GO
/****** Object:  View [BI].[VATClass]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[VATClass] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tSteuerklasse].[kSteuerklasse]								AS [VATClassID],
		[tSteuerklasse].[bRowversion]								AS [LastChange]
	FROM [dbo].[tSteuerklasse]
	WHERE [tSteuerklasse].[bRowversion] >	CAST(ISNULL(
													(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
													FROM [BI].[tAbgleichSync]
													WHERE [cAbgleichName] = 'VATClass'), 0x0) 
											AS TIMESTAMP)
	OR [tSteuerklasse].[kSteuerklasse] IN	(
											SELECT [VATClassName].[VATClassID]
											FROM [BI].[VATClassName]
											LEFT JOIN [BI].[tAbgleichSync] ON [cAbgleichName] = 'VATClassName'
											WHERE [VATClassName].[LastChange] > CAST([tAbgleichSync].[bLastChange] AS TIMESTAMP))
) AS subselect
GO
