USE [eazybusiness]
GO
/****** Object:  View [BI].[WarehouseAreaLocation]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[WarehouseAreaLocation] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tWMSLagerBereichPlatz].[kWMSLagerBereichPlatz]						AS [WarehouseAreaLocationID],
		[tWMSLagerBereichPlatz].[kWMSLagerBereich]							AS [WarehouseAreaID],
		[tWMSLagerBereichPlatz].[kWarenLagerPlatz]							AS [BinLocationID],
		[tWMSLagerBereichPlatz].[bRowversion]								AS [LastChange]
	FROM [dbo].[tWMSLagerBereichPlatz]
	WHERE [tWMSLagerBereichPlatz].[bRowversion] >	CAST(ISNULL(
															(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
															FROM [BI].[tAbgleichSync]
															WHERE [cAbgleichName] = 'WarehouseAreaLocation'), 0x0) 
													AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
