USE [eazybusiness]
GO
/****** Object:  View [BI].[Warehouse]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Warehouse] AS
SELECT TOP (999999999) *
FROM (
	SELECT 
		[tWarenLager].[kWarenLager]								AS [WarehouseID],
		[tWarenLager].[kFirma]									AS [CompanyID],
		[tWarenLager].[cKuerzel]								AS [Code],
		LEFT([tWarenLager].[cName], 255)						AS [WarehouseName],
		CASE
			WHEN [tWarenLager].[nLagerplatzVerwaltung] = 1 THEN 'WMS'
			WHEN [tWarenLager].[kQuellLager] <> 0 OR [tWarenLager].[kZielLager] <> 0 THEN 'Steckenlager'
			WHEN [tWarenLager].[nFulfillment] = 1 THEN 'Fulfillment'
			WHEN [tWarenLager].[nFulfillment] = 2 THEN 'FBA'
			WHEN [tWarenLager].[nFulfillment] = 3 THEN 'FFN'
			WHEN [tWarenLager].[nFulfillment] = 4 THEN 'FBA Pending'
			ELSE 'Standard'
		END														AS [WarehouseType],
		LEFT([tland].[cISO], 2)									AS CountryISO,
		ISNULL([tWarenLager].[cLand], [tland].[cName])			AS Country,
		[tWarenLager].[bRowversion]								AS LastChange
	FROM [dbo].[tWarenLager]
		JOIN [dbo].[tfirma]		ON [tfirma].[kFirma] = [tWarenLager].[kFirma]
		LEFT JOIN [dbo].[tland] ON [tWarenLager].[cLand] = [tLand].[cName]
	WHERE [tWarenLager].[bRowversion] >	CAST(ISNULL(
												(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
												FROM [BI].[tAbgleichSync]
												WHERE [cAbgleichName] = 'Warehouse'), 0x0) 
										AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
