USE [eazybusiness]
GO
/****** Object:  View [BI].[Webshop]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[Webshop] AS
SELECT TOP (999999999) *
FROM (
SELECT
	[tShop].[kShop]										AS [ShopID],
    LEFT([tShop].[cName], 128)							AS [ShopName],
	[tShop].[kFirma]									AS [CompanyID],
    [tShop].[nTyp]										AS [ShopType],
	[tShop].[bRowversion]								AS [LastChange]
FROM [dbo].[tShop]
WHERE [tShop].[bRowversion] >	CAST(ISNULL(
										(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
										FROM [BI].[tAbgleichSync]
										WHERE [cAbgleichName] = 'Webshop'), 0x0) 
								AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
