USE [eazybusiness]
GO
/****** Object:  View [BI].[WarehouseArea]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [BI].[WarehouseArea] AS
SELECT TOP (999999999) *
FROM (
	SELECT
		[tWMSLagerBereich].[kWMSLagerBereich]							AS [WarehouseAreaID],
		[tWMSLagerBereich].[cKuerzel]									AS [Code],
		[tWMSLagerBereich].[cBeschreibung]								AS [Description],
		[tWMSLagerBereich].[kWarenLager]								AS [WarehouseID],
		[tWMSLagerBereich].[bRowversion]								AS [LastChange]
	FROM [dbo].[tWMSLagerBereich]
	WHERE [tWMSLagerBereich].[bRowversion] >	CAST(ISNULL(
														(SELECT IIF([nKomplettAbgleich] = 1, 0x0, [bLastChange])
														FROM [BI].[tAbgleichSync]
														WHERE [cAbgleichName] = 'WarehouseArea'), 0x0) 
												AS TIMESTAMP)
) AS subselect
ORDER BY subselect.LastChange
GO
