USE [eazybusiness]
GO
/****** Object:  Table [Blockly].[tDirectory]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Blockly].[tDirectory](
	[kDirectory] [int] IDENTITY(1,1) NOT NULL,
	[kParentDirectory] [int] NULL,
	[cName] [nvarchar](100) NOT NULL,
	[nSort] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dCreated] [datetime] NOT NULL,
	[nType] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Blockly_tDirectory] PRIMARY KEY CLUSTERED 
(
	[kDirectory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Blockly].[tDirectory] ADD  CONSTRAINT [DF_Blockly_tDirectory_nType]  DEFAULT ((0)) FOR [nType]
GO
ALTER TABLE [Blockly].[tDirectory]  WITH CHECK ADD  CONSTRAINT [FK_Blockly_tDirectory_kParentDirectory] FOREIGN KEY([kParentDirectory])
REFERENCES [Blockly].[tDirectory] ([kDirectory])
GO
ALTER TABLE [Blockly].[tDirectory] CHECK CONSTRAINT [FK_Blockly_tDirectory_kParentDirectory]
GO
