USE [eazybusiness]
GO
/****** Object:  Table [Blockly].[tScript]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Blockly].[tScript](
	[kScript] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](100) NOT NULL,
	[cData] [varbinary](max) NOT NULL,
	[nSort] [int] NOT NULL,
	[nDebug] [bit] NOT NULL,
	[nVerbose] [bit] NOT NULL,
	[kDirectory] [int] NULL,
	[kBenutzer] [int] NOT NULL,
	[dCreated] [datetime] NOT NULL,
	[dModified] [datetime] NOT NULL,
	[nEnabled] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Blockly_tScript] PRIMARY KEY CLUSTERED 
(
	[kScript] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Blockly_tScript_cName_kDirectory] UNIQUE NONCLUSTERED 
(
	[cName] ASC,
	[kDirectory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Blockly].[tScript]  WITH CHECK ADD  CONSTRAINT [FK_Blockly_tScript_kDirectory] FOREIGN KEY([kDirectory])
REFERENCES [Blockly].[tDirectory] ([kDirectory])
ON DELETE CASCADE
GO
ALTER TABLE [Blockly].[tScript] CHECK CONSTRAINT [FK_Blockly_tScript_kDirectory]
GO
