USE [eazybusiness]
GO
/****** Object:  Table [Contact].[tContact]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[tContact](
	[kContact] [int] IDENTITY(1,1) NOT NULL,
	[nType] [int] NOT NULL,
	[cNumber] [nvarchar](100) NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastChanged] [datetimeoffset](7) NOT NULL,
	[nActive] [bit] NOT NULL,
	[kSprache] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Contact_tContact] PRIMARY KEY CLUSTERED 
(
	[kContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Contact_tContact_cNumber] UNIQUE NONCLUSTERED 
(
	[cNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Contact].[tContact] ADD  CONSTRAINT [DF_Contact_tContact_dCreated]  DEFAULT (getdate()) FOR [dCreated]
GO
ALTER TABLE [Contact].[tContact] ADD  CONSTRAINT [DF_Contact_tContact_dLastChanged]  DEFAULT (getdate()) FOR [dLastChanged]
GO
ALTER TABLE [Contact].[tContact] ADD  CONSTRAINT [DF_Contact_tContact_nActive]  DEFAULT ((1)) FOR [nActive]
GO
