USE [eazybusiness]
GO
/****** Object:  Table [Contact].[tProductComplianceContact]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[tProductComplianceContact](
	[kProductComplianceContact] [int] IDENTITY(1,1) NOT NULL,
	[kContact] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Contact_tProductComplianceContact] PRIMARY KEY CLUSTERED 
(
	[kProductComplianceContact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Contact].[tProductComplianceContact]  WITH CHECK ADD  CONSTRAINT [FK_Contact_tProductComplianceContact_kContact] FOREIGN KEY([kContact])
REFERENCES [Contact].[tContact] ([kContact])
GO
ALTER TABLE [Contact].[tProductComplianceContact] CHECK CONSTRAINT [FK_Contact_tProductComplianceContact_kContact]
GO
