USE [eazybusiness]
GO
/****** Object:  Table [Contact].[tAddress]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Contact].[tAddress](
	[kAddress] [int] IDENTITY(1,1) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[kContact] [int] NOT NULL,
	[cSalutation] [int] NULL,
	[cAcademicTitle] [nvarchar](64) NULL,
	[cFirstName] [nvarchar](255) NULL,
	[cLastName] [nvarchar](255) NULL,
	[cStreet] [nvarchar](255) NULL,
	[cHouseNumber] [nvarchar](30) NULL,
	[cPostalCode] [nvarchar](24) NULL,
	[cCity] [nvarchar](255) NULL,
	[cCountryIso2] [char](2) NULL,
	[cCompanyName] [nvarchar](128) NULL,
	[cCompanyAdditionalName] [nvarchar](60) NULL,
	[cAddressSupplement] [nvarchar](255) NULL,
	[cState] [nvarchar](255) NULL,
	[cStateIso] [char](10) NULL,
	[cPhoneNumber] [nvarchar](30) NULL,
	[cMobileNumber] [nvarchar](30) NULL,
	[cFaxNumber] [nvarchar](30) NULL,
	[cEmail] [nvarchar](255) NULL,
	[cHomepage] [nvarchar](500) NULL,
	[nIsDefault] [bit] NOT NULL,
	[cVatId] [nvarchar](20) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Contact_tAddress] PRIMARY KEY CLUSTERED 
(
	[kAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Contact].[tAddress] ADD  CONSTRAINT [DF_Contact_tAddress_nType]  DEFAULT ((0)) FOR [nType]
GO
ALTER TABLE [Contact].[tAddress]  WITH CHECK ADD  CONSTRAINT [FK_Contact_tAddress_kContact] FOREIGN KEY([kContact])
REFERENCES [Contact].[tContact] ([kContact])
GO
ALTER TABLE [Contact].[tAddress] CHECK CONSTRAINT [FK_Contact_tAddress_kContact]
GO
