USE [eazybusiness]
GO
/****** Object:  Table [CustomWorkflows].[tWorkflowObjects]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CustomWorkflows].[tWorkflowObjects](
	[nObjekt] [int] NOT NULL,
	[cName] [nvarchar](100) NOT NULL,
	[cPkColumn] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
