USE [eazybusiness]
GO
/****** Object:  View [CustomWorkflows].[vCustomActionCheck]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CustomWorkflows].[vCustomActionCheck]
AS
WITH PkParams
AS (
   SELECT Params.cActionName,
          Objekte.nObjekt,
          Objekte.cName AS cObjekt,
          Params.cName AS cPkCol
   FROM CustomWorkflows.vCustomActionParameter Params
       JOIN CustomWorkflows.tWorkflowObjects Objekte
           ON Params.cName = Objekte.cPkColumn
              AND Params.nPos = 0
              AND Params.cDataType = 'int'),
     NotAllowedParamTypes
AS (SELECT DISTINCT
           Params.cActionName
    FROM CustomWorkflows.vCustomActionParameter Params
    WHERE Params.cDataType IS NULL),
     ParamCounts
AS (SELECT Params.cActionName,
           COUNT(Params.cActionName) AS nParamCount
    FROM CustomWorkflows.vCustomActionParameter Params
    GROUP BY Params.cActionName)
SELECT CAST(Prods.name AS NVARCHAR(255)) AS cName,
       CAST(ISNULL(displayName.value, Prods.name) AS NVARCHAR(255)) AS cDisplayName,
       CAST(description.value AS NVARCHAR(255))  AS cDescription,
       CAST(versionCode.value AS NVARCHAR(255))  AS cVersionCode,
       PkParams.cObjekt AS cObjekt,
       PkParams.nObjekt AS nObjekt,
       PkParams.cPkCol AS cPkCol,
       ParamCounts.nParamCount,
       CAST(NotAllowedParamTypes.cActionName AS NVARCHAR(255)) AS cNotAllowedParamTypesInAction,
       CASE
           WHEN PkParams.cObjekt IS NULL
                OR NotAllowedParamTypes.cActionName IS NOT NULL
                OR ParamCounts.nParamCount > 7 THEN
               'ERROR'
           ELSE
               'OK'
           END AS [Status],
           Prods.object_id
FROM sys.procedures AS Prods
    JOIN sys.schemas Schem
        ON Schem.schema_id = Prods.schema_id
    LEFT JOIN PkParams
        ON PkParams.cActionName = Prods.name
    LEFT JOIN sys.extended_properties displayName
        ON displayName.major_id = Prods.object_id
           AND displayName.name = 'DisplayName'
    LEFT JOIN sys.extended_properties description
        ON description.major_id = Prods.object_id
            AND description.name = 'Description'
        LEFT JOIN sys.extended_properties versionCode
        ON versionCode.major_id = Prods.object_id
        AND versionCode.name = 'VersionCode'
        LEFT JOIN NotAllowedParamTypes
        ON Prods.name = NotAllowedParamTypes.cActionName
        LEFT JOIN ParamCounts
        ON Prods.name = ParamCounts.cActionName
WHERE Schem.name = 'CustomWorkflows'
  AND Prods.name NOT LIKE '\_%' ESCAPE '\';
GO
