USE [eazybusiness]
GO
/****** Object:  Table [CustomWorkflows].[tAllowedDatatypes]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [CustomWorkflows].[tAllowedDatatypes](
	[typeName] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
