USE [eazybusiness]
GO
/****** Object:  View [CustomWorkflows].[vCustomActionParameter]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CustomWorkflows].[vCustomActionParameter]
AS
SELECT CAST(prd.name  AS NVARCHAR(255))AS cActionName,
       ISNULL(clmns.column_id - 1, params.parameter_id - 1) AS [nPos],
       ISNULL(clmns.name, REPLACE(params.name, '@', '')) AS [cName],       
       CAST(ISNULL(usrt.name, allowedDatatypes.typeName) AS NVARCHAR(255)) AS [cDataType],
       CAST(ISNULL(displayNameUserType.value, REPLACE(params.name, '@', '')) AS NVARCHAR(255))  AS cDisplayName,       
	   CAST(descriptionUserType.value AS NVARCHAR(255)) AS cDescription,
       CAST(params.name AS NVARCHAR(255)) AS cParameterName,
       CAST(userTypes.name AS NVARCHAR(255)) AS cUserType
FROM sys.procedures AS prd
    INNER JOIN sys.schemas AS stt
        ON stt.schema_id = prd.schema_id
    INNER JOIN sys.parameters AS params
        ON params.object_id = prd.object_id
    LEFT JOIN sys.table_types AS tt
        ON tt.user_type_id = params.user_type_id
    LEFT JOIN sys.all_columns AS clmns
        ON clmns.object_id = tt.type_table_object_id
    LEFT OUTER JOIN sys.types AS usrt
        ON usrt.user_type_id = clmns.user_type_id
    LEFT JOIN sys.types ty
        ON params.system_type_id = ty.user_type_id
           AND tt.user_type_id IS NULL
    LEFT JOIN CustomWorkflows.tAllowedDatatypes allowedDatatypes
        ON ty.name = allowedDatatypes.typeName
    LEFT JOIN sys.types userTypes
        ON userTypes.is_user_defined = 1
           AND ty.system_type_id = userTypes.system_type_id
           AND params.user_type_id = userTypes.user_type_id
    LEFT JOIN sys.extended_properties displayNameUserType
        ON displayNameUserType.major_id = params.user_type_id
           AND displayNameUserType.minor_id = 0
           AND displayNameUserType.name = 'DisplayName'
    LEFT JOIN sys.extended_properties descriptionUserType
        ON descriptionUserType.major_id = params.user_type_id
           AND descriptionUserType.minor_id = 0
           AND descriptionUserType.name = 'Description'
WHERE stt.name = 'CustomWorkflows'
      AND prd.name NOT LIKE '\_%' ESCAPE '\';
GO
