USE [eazybusiness]
GO
/****** Object:  View [CustomWorkflows].[vCustomAction]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [CustomWorkflows].[vCustomAction]
AS
SELECT CAST(cName AS NVARCHAR(255)) AS cName,
CAST(cDisplayName AS NVARCHAR(255)) AS cDisplayName,
CAST(cDescription AS NVARCHAR(255)) AS cDescription,
      
       cObjekt,
       nObjekt,
       cPkCol,
       cVersionCode,
       object_id
FROM CustomWorkflows.vCustomActionCheck
WHERE Status = 'OK';
GO
