USE [eazybusiness]
GO
/****** Object:  View [Dashboard].[vAllgemeinDatenbankBackups]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Dashboard].[vAllgemeinDatenbankBackups]
AS
/*************************************************************************************************************
Beschreibung:	Diese View ist die Basis-Query für das Dashboard-Widget "Allgemein/Backup-Erinnerung"
*************************************************************************************************************/
SELECT		CONVERT(VARCHAR(255), SyDb.name) AS cDbName, -- Muss nach VARCHAR konvertiert werden aufgrund DBOC (SyDb.name ist ein sysname)
			FORMAT(MAX(BS.backup_finish_date), 'dd.MM.yyyy HH:mm') AS cLastBackup,
			MAX(BS.backup_finish_date) AS dLastBackup,
			DATEDIFF(DAY, CONVERT(DATETIME, MAX(BS.backup_finish_date)),  GETDATE()) AS nDaysLastBackup
FROM		sys.databases AS SyDb
JOIN		eazybusiness.dbo.tMandant AS Md ON Md.cDB = SyDb.name
LEFT JOIN	msdb.dbo.backupset AS BS ON BS.database_name = SyDb.name
GROUP BY	SyDb.name
GO
