USE [eazybusiness]
GO
/****** Object:  View [Dashboard].[vAllgemeinDoppelteIdentnummernOhneZustandsartikel]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [Dashboard].[vAllgemeinDoppelteIdentnummernOhneZustandsartikel]
AS
/*************************************************************************************************************
Beschreibung:	Diese View ist die Basis-Query für das Dashboard-Widget "Allgemein / Doppelte Identnummern"
				(vgl. auch die nahezu identische View Dashboard.vAllgemeinDoppelteIdentnummernMitZustandsartikel
				=> wenn Änderungen an dieser View vorgenommen werden, sollte auch diese angepasst werden)
--------------------------------------------------------------------------------------------------------------
-- Beispielaufruf:
SELECT * FROM Dashboard.vAllgemeinDoppelteIdentnummernOhneZustandsartikel
*************************************************************************************************************/
SELECT	
		Art.kArtikel,
		Art.cArtNr,
		ArtBe.cName AS cArtikelName,
		ArtSp.nID,
		CASE ArtSp.nID
			WHEN 0 THEN 'ArtNr' 
			WHEN 1 THEN 'EAN'
			WHEN 2 THEN 'HAN'
			WHEN 3 THEN 'UPC'
			WHEN 4 THEN 'ISBN'
			WHEN 5 THEN 'Name'
			WHEN 6 THEN 'GebindeEAN'
			WHEN 7 THEN 'ASIN'
			WHEN 8 THEN 'LiefArtNr'
			WHEN 9 THEN 'GebindeUPC'
			WHEN 10 THEN 'FNSKU'
			WHEN 11 THEN 'JFSKU'
			WHEN 12 THEN 'TeilmengenNr'
			ELSE '(unbekannt)'
		END AS cFeld,
		ArtSp.cNummer AS cIDNummer,
		Art.kZustand
FROM	dbo.tArtikelSpeicher AS ArtSp
JOIN	dbo.tArtikel AS Art ON Art.kArtikel = ArtSp.kArtikel
JOIN	dbo.tSpracheUsed AS SprU ON SprU.nStandard = 1
JOIN	dbo.tArtikelBeschreibung AS ArtBe ON ArtBe.kArtikel = Art.kArtikel AND ArtBe.kSprache = SprU.kSprache AND ArtBe.kPlattform = 1 AND ArtBe.kShop = 0
WHERE	ArtSp.nID IN (0, 1, 2, 3, 4, 6, 7) -- Nur bestimmte IDs
		AND EXISTS(
			    SELECT	1
				FROM	dbo.tArtikelSpeicher AS ASTemp
				JOIN	dbo.tArtikel AS ArtTemp ON ArtTemp.kArtikel = ASTemp.kArtikel
				WHERE	ASTemp.cNummer = ArtSp.cNummer -- Gleiche (doppelte) Nummer
						AND ASTemp.kArtikel <> ArtSp.kArtikel -- Bei anderem Artikel
						AND ASTemp.nID IN (0, 1, 2, 3, 4, 6, 7) -- Nur bestimmte IDs
						AND ArtTemp.kZustand = 1 -- Keine Zustandsartikel (1 = Default)
		)
		AND Art.kZustand = 1 -- Keine Zustandsartikel (1 = Default)
GO
