USE [eazybusiness]
GO
/****** Object:  View [Dashboard].[vVerkaufOffeneAuftraege]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Dashboard].[vVerkaufOffeneAuftraege]
AS
/*************************************************************************************************************
Beschreibung:	Diese View ist die Basis-Query für das Dashboard-Widget "Verkauf / Offene Aufträge"
				Sie zeigt alle noch nicht vollständig ausgelieferten Aufträge älter als x Tage an.
--------------------------------------------------------------------------------------------------------------
-- Beispielaufruf:
SELECT * FROM Dashboard.vVerkaufOffeneAuftraege
*************************************************************************************************************/
SELECT
			VA.kAuftrag,
			VA.cAuftragsNr,
			NN1.dVergleichsdatum AS dDatum,
			FORMAT(NN1.dVergleichsdatum, 'dd.MM.yyyy') AS cDatum,
			FORMAT(NN1.dVergleichsdatum, 'yyyy.MM.dd') AS cDatum_Sort,
			F.nFarbcode AS RowColor,
			Adr.cVorname AS Vorname,
			Adr.cName AS Nachname,
			Adr.cFirma AS Firma,
			CASE WHEN NN2.VerzugTage < 0 THEN 0 ELSE NN2.VerzugTage END AS VerzugTage,
			CONVERT(DECIMAL(10, 2), VAEckD.fWertNetto) AS BetragNetto,
			BLIpL.nLieferbarEigen -- 0 = nicht ~ | 1 = teilweise ~ | 2 = vollständig lieferbar

FROM		Verkauf.tAuftrag AS VA
JOIN		Verkauf.tAuftragEckdaten AS VAEckD ON VAEckD.kAuftrag = VA.kAuftrag
JOIN		Versand.vBestellungLieferInfoProLager AS BLIpL ON BLIpL.kBestellung = VA.kAuftrag
LEFT JOIN	dbo.tZahlungsart AS ZA ON ZA.kZahlungsart = VA.kZahlungsart
LEFT JOIN	dbo.tFarbe AS F ON VA.kFarbe = F.kFarbe
LEFT JOIN	dbo.tKunde AS Kd ON VA.kKunde = Kd.kKunde
LEFT JOIN	dbo.tAdresse AS Adr ON Adr.kKunde = Kd.kKunde AND Adr.nTyp = 1 AND Adr.nStandard = 1
LEFT JOIN	dbo.tFirmaHistory AS FH ON VA.kFirmaHistory = FH.kFirmaHistory
CROSS APPLY	(
				SELECT	DATEDIFF(day, VA.dErstellt, GETDATE()) - VA.nZahlungszielTage AS VerzugTage,
						CASE WHEN ZA.nAusliefernVorZahlung = 1 THEN VA.dErstellt ELSE ISNULL(VAEckD.dBezahlt, VA.dErstellt) END AS dVergleichsdatum
			) AS NN1 -- Nice Names 1
CROSS APPLY	(
				SELECT	DATEDIFF(day, NN1.dVergleichsdatum, GETDATE()) - VA.nZahlungszielTage AS VerzugTage
			) AS NN2 -- Nice Names 2
WHERE		VA.nType = 1 -- 1 = Auftrag
			AND VA.nStorno = 0 -- kein Storno
			AND VA.nKomplettAusgeliefert = 0 -- Noch nicht vollständig ausgeliefert
			AND CASE WHEN VAEckD.nIstFuerAuslieferungGesperrt & 1 = 0 THEN 1 ELSE 0 END = 1 -- Ist bezahlt? -- spAuftragEckdaten => Doku (Zahlung fehlt und Auftrag darf nicht ohne Zahlung ausgeliefet werden) | VAEckD.dBezahlt IS NOT NULL
			AND ISNULL(VA.kRueckhalteGrund, 0) = 0 -- kein Rückhaltegrund
			AND BLIpL.kWarenlager = 0 -- Standard-Warenlager
			AND VA.nPending = 0
GO
