USE [eazybusiness]
GO
/****** Object:  View [DB].[vFilestreamQuickcheck]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DB].[vFilestreamQuickcheck]
AS
/*************************************************************************************************************
Beschreibung:	Übersicht, ob alle einzelnen Teile von FILESTREAM erfolgreich aktiviert wurden oder nicht
*************************************************************************************************************/
SELECT 'Server' AS Was, CONVERT(VARCHAR(255), CASE WHEN EXISTS(SELECT 1 FROM sys.configurations AS SyConf WHERE name = 'filestream access level' AND value = 2) THEN 'OK, Filestream-Server-Option gesetzt' ELSE 'FEHLER, Filestream-Server-Option nicht gesetzt' END) AS Status
UNION ALL SELECT 'Datenbank ' + DB_NAME(), CASE WHEN EXISTS (SELECT 1 FROM sys.filegroups AS SyDbF WHERE type_desc = 'FILESTREAM_DATA_FILEGROUP') THEN 'OK, Filestream-Filegroup ''' + ISNULL((SELECT TOP(1) DF.name FROM sys.filegroups AS DF WHERE DF.type_desc = 'FILESTREAM_DATA_FILEGROUP'), '') + ''' wurde für DB ''' + DB_NAME() + ''' gefunden' ELSE 'FEHLER, Filegroup für DB ''' + DB_NAME() + ''' nicht gefunden.' END
UNION ALL SELECT 'Datenbank ' + DB_NAME(), CASE WHEN EXISTS (SELECT 1 FROM sys.database_files AS SyDbF WHERE type_desc = 'FILESTREAM') THEN 'OK, Filestream-File ''' + ISNULL((SELECT TOP(1) DBF.name FROM sys.database_files AS DBF WHERE DBF.type_desc = 'FILESTREAM'), '') + ''' wurde in DB ''' + DB_NAME() + ''' gefunden' ELSE 'FEHLER, kein Filestream-File für DB ''' + DB_NAME() + ''' gefunden.' END
UNION ALL SELECT 'Tabelle dbo.tBild', CASE WHEN EXISTS (SELECT 1 FROM sys.tables WHERE object_id = OBJECT_ID('dbo.tBild') AND filestream_data_space_id > 0) THEN 'OK, dbo.tBild ist eine Filestream-Tabelle' ELSE 'FEHLER, dbo.tBild ist keine Filestream-Tabelle' END
UNION ALL SELECT 'Tabelle dbo.tFile', CASE WHEN EXISTS (SELECT 1 FROM sys.tables WHERE object_id = OBJECT_ID('dbo.tFile') AND filestream_data_space_id > 0) THEN 'OK, dbo.tFile ist eine Filestream-Tabelle' ELSE 'FEHLER, dbo.tFile ist keine Filestream-Tabelle' END
UNION ALL SELECT 'Spalte dbo.tBild.idFile', CASE WHEN EXISTS (SELECT 1 FROM sys.columns AS SyCol WHERE object_id = OBJECT_ID('dbo.tBild') AND name = 'idBild') THEN 'OK, Spalte idBild ist vorhanden' ELSE 'FEHLER, Spalte idBild ist nicht vorhanden' END
UNION ALL SELECT 'Spalte dbo.tBild.bBild', CASE WHEN EXISTS (SELECT 1 FROM sys.columns AS SyCol WHERE object_id = OBJECT_ID('dbo.tBild') AND name = 'bBild' AND is_filestream = 1) THEN 'OK, Spalte bBild ist eine Filestream-Spalte' ELSE 'FEHLER, Spalte bBild ist keine Filestream-Spalte' END
UNION ALL SELECT 'Spalte dbo.tBild.bVorschauBild', CASE WHEN EXISTS (SELECT 1 FROM sys.columns AS SyCol WHERE object_id = OBJECT_ID('dbo.tBild') AND name = 'bVorschauBild' AND is_filestream = 1) THEN 'OK, Spalte bVorschauBild ist eine Filestream-Spalte' ELSE 'FEHLER, Spalte bVorschauBild ist keine Filestream-Spalte' END
UNION ALL SELECT 'Spalte dbo.tFile.idFile', CASE WHEN EXISTS (SELECT 1 FROM sys.columns AS SyCol WHERE object_id = OBJECT_ID('dbo.tFile') AND name = 'idFile') THEN 'OK, Spalte idFile ist vorhanden' ELSE 'FEHLER, Spalte idFile ist nicht vorhanden' END
UNION ALL SELECT 'Spalte dbo.tFile.bFile', CASE WHEN EXISTS (SELECT 1 FROM sys.columns AS SyCol WHERE object_id = OBJECT_ID('dbo.tFile') AND name = 'bFile' AND is_filestream = 1) THEN 'OK, Spalte bFile ist eine Filestream-Spalte' ELSE 'FEHLER, Spalte bFile ist keine Filestream-Spalte' END
GO
