USE [eazybusiness]
GO
/****** Object:  View [DB].[vExtendedProperties]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DB].[vExtendedProperties]
AS
/*************************************************************************************************************
Beschreibung:	Auflistung aller Extended Properties in der aktuellen Datenbank
				(dies sind bei der WAWI i.Allg. die Beschreibungstexte der DB-Objekte sowie DBOC-Steuerungsanweisungen)
				(Herkunft: https://www.red-gate.com/simple-talk/devops/database-devops/reading-writing-creating-sql-server-extended-properties)
--------------------------------------------------------------------------------------------------------------
-- Beispielaufruf(e):
SELECT * FROM DB.vExtendedProperties AS EP WHERE EP.PathDesc = 'schema/table/column' -- Auflistung der EPs für Tabellenspalten
SELECT * FROM DB.vExtendedProperties AS EP WHERE EP.PathDesc = 'schema/table/index' -- Auflistung der EPs für Indexe
*************************************************************************************************************/
WITH cteSource AS
(
	-------------------------------------------------------------------------------------------------------------------------------------
	-- OBJECT AND COLUM
	SELECT
				CASE
				   WHEN SyObj.parent_object_id > 0 THEN OBJECT_SCHEMA_NAME(SyObj.parent_object_id) + '.' + OBJECT_NAME(SyObj.parent_object_id) + '.' + SyObj.name
				   ELSE OBJECT_SCHEMA_NAME(SyObj.object_id) + '.' + SyObj.name
				END + CASE WHEN SyEP.minor_id > 0 THEN '.' + SyCol.name ELSE '' END AS "Path",

				NN2.thing AS PathDesc,
				SyEP.class AS Class,
				SyEP.class_desc AS ClassDesc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",

				'this.Schema("' + OBJECT_SCHEMA_NAME(SyEP.major_id) + '")'
					+ '.' + NN1.CSharpObjectName + '("' + OBJECT_NAME(SyEP.major_id) + '")'
					+ CASE WHEN SyEP.minor_id > 0 THEN '.Column("' + COL_NAME(major_id, minor_id) + '")' ELSE '' END
					+ CASE
						WHEN SyEP.name = 'MS_Description' THEN '.AddDescription("'
						ELSE '.AddExtendedProperty("' + SyEP.name + '", "'
					END
					+ REPLACE(CONVERT(VARCHAR(1024), SyEP.value), '''', '''''') + '");' AS DbocMigrationCSharp,

				'EXEC sys.sp_addextendedproperty'
					+ ' @name = N''' + SyEP.name + ''','
					+ ' @value = N''' + REPLACE(CONVERT(VARCHAR(1024), SyEP.value), '''', '''''') + ''','
					+ ' @level0type = N''SCHEMA'', @level0name = ''' + OBJECT_SCHEMA_NAME(SyEP.major_id) + ''','
					+ ' @level1type = N''' + NN1.Level1Type + ''', @level1name = ''' + OBJECT_NAME(SyEP.major_id) + ''''
					+ CASE
						WHEN SyEP.minor_id > 0 THEN ', @level2type = N''COLUMN'', @level2name = ''' + COL_NAME(major_id, minor_id) + ''''
						ELSE ''
					END AS CreateSQL,

				'EXEC sys.sp_dropextendedproperty'
					+ ' @name = N''' + SyEP.name + ''','
					+ ' @level0type = N''SCHEMA'', @level0name = ''' + OBJECT_SCHEMA_NAME(SyEP.major_id) + ''','
					+ ' @level1type = N''' + NN1.Level1Type + ''', @level1name = ''' + OBJECT_NAME(SyEP.major_id) + ''''
					+ CASE
						WHEN SyEP.minor_id > 0 THEN ', @level2type = N''COLUMN'', @level2name = ''' + COL_NAME(major_id, minor_id) + ''''
						ELSE ''
					END AS DropSQL

	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.objects AS SyObj ON SyEP.major_id = SyObj.object_id AND SyEP.class = 1
	LEFT JOIN	sys.columns AS SyCol ON SyEP.major_id = SyCol.object_id AND SyEP.class = 1 AND SyEP.minor_id = SyCol.column_id
	CROSS APPLY	(
					SELECT	CASE
								WHEN SyObj.type IN ('TF', 'FN', 'IF', 'FS', 'FT') THEN 'FUNCTION'
								WHEN SyObj.type IN ('P', 'PC', 'RF', 'X') THEN 'PROCEDURE'
								WHEN SyObj.type IN ('U', 'IT') THEN 'TABLE'
								WHEN SyObj.type = 'SQ' THEN 'QUEUE'
								ELSE UPPER(SyObj.type_desc)
							END COLLATE DATABASE_DEFAULT AS Level1Type,
							CASE
								WHEN SyObj.type IN ('TF', 'FN', 'IF', 'FS', 'FT') THEN 'Function'
								WHEN SyObj.type IN ('P', 'PC', 'RF', 'X') THEN 'StoredProcedure'
								WHEN SyObj.type IN ('U', 'IT') THEN 'Table'
								ELSE UPPER(LEFT(SyObj.type_desc, 1)) + LOWER(RIGHT(SyObj.type_desc, LEN(SyObj.type_desc) - 1))
							END COLLATE DATABASE_DEFAULT AS CSharpObjectName
				) AS NN1
	CROSS APPLY	(
					SELECT	'schema'
								+ CASE WHEN SyObj.parent_object_id > 0 THEN '/table' ELSE '' END + '/'
								+ LOWER(NN1.Level1Type)
								+ CASE
									WHEN SyCol.column_id IS NULL THEN ''
									ELSE '/column'
								END COLLATE DATABASE_DEFAULT AS thing
				) AS NN2

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- INDEX
	SELECT
				OBJECT_SCHEMA_NAME(SyObj.object_id) + '.' + OBJECT_NAME(SyObj.object_id) + '.' + SyIdx.name,
				'schema/' + CASE WHEN SyObj.type = 'U' THEN 'table' ELSE LOWER(SyObj.type_desc) END + '/index',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",

				'this.Schema("' + OBJECT_SCHEMA_NAME(SyEP.major_id) + '")'
					+ '.Table("' + OBJECT_NAME(SyEP.major_id) + '")'
					+ '.Index().WithName("' + SyIdx.name + '")'
					+ CASE
						WHEN SyEP.name = 'MS_Description' THEN '.AddDescription("'
						ELSE '.AddExtendedProperty("' + SyEP.name + '", "'
					END
					+ REPLACE(CONVERT(VARCHAR(1024), SyEP.value), '''', '''''') + '");' AS DbocMigrationCSharp,

				'EXEC sys.sp_addextendedproperty'
					+ ' @name = N''' + SyEP.name + ''','
					+ ' @value = N''' + REPLACE(CONVERT(VARCHAR(1024), SyEP.value), '''', '''''') + ''','
					+ ' @level0type = N''SCHEMA'', @level0name = ''' + OBJECT_SCHEMA_NAME(SyEP.major_id) + ''','
					+ ' @level1type = N''' + NN1.Level1Type + ''', @level1name = ''' + OBJECT_NAME(SyEP.major_id) + ''''
					+ CASE
						WHEN SyEP.minor_id > 0 THEN ', @level2type = N''INDEX'', @level2name = ''' + SyIdx.name + ''''
						ELSE ''
					END AS CreateSQL,

				'EXEC sys.sp_dropextendedproperty'
					+ ' @name = N''' + SyEP.name + ''','
					+ ' @level0type = N''SCHEMA'', @level0name = ''' + OBJECT_SCHEMA_NAME(SyEP.major_id) + ''','
					+ ' @level1type = N''' + NN1.Level1Type + ''', @level1name = ''' + OBJECT_NAME(SyEP.major_id) + ''''
					+ CASE
						WHEN SyEP.minor_id > 0 THEN ', @level2type = N''INDEX'', @level2name = ''' + SyIdx.name + ''''
						ELSE ''
					END AS DropSQL

	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.objects AS SyObj ON SyEP.major_id = SyObj.object_id AND SyEP.class = 7
	INNER JOIN	sys.indexes AS SyIdx ON SyEP.major_id = SyIdx.object_id AND SyEP.class = 7 AND SyEP.minor_id = SyIdx.index_id
	CROSS APPLY	(
					SELECT	CASE
								WHEN SyObj.type IN ('TF', 'FN', 'IF', 'FS', 'FT') THEN 'FUNCTION'
								WHEN SyObj.type IN ('P', 'PC', 'RF', 'X') THEN 'PROCEDURE'
								WHEN SyObj.type IN ('U', 'IT') THEN 'TABLE'
								WHEN SyObj.type = 'SQ' THEN 'QUEUE'
								ELSE UPPER(SyObj.type_desc)
							END COLLATE DATABASE_DEFAULT AS Level1Type
				) AS NN1

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- PARAMETER
	SELECT
				OBJECT_SCHEMA_NAME(SyObj.object_id) + '.' + OBJECT_NAME(SyObj.object_id) + '.' + SyPar.name,
				'schema/' + LOWER(SyObj.type_desc) + '/parameter',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL

	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.objects AS SyObj ON SyEP.major_id = SyObj.object_id AND SyEP.class = 2
	INNER JOIN	sys.parameters AS SyPar ON SyEP.major_id = SyPar.object_id AND SyEP.class = 2 AND SyEP.minor_id = SyPar.parameter_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- SCHEMA
	SELECT		SySch.name,
				'schema',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.schemas AS SySch ON SyEP.class = 3 AND SyEP.major_id = schema_id

	-------------------------------------------------------------------------------------------------------------------------------------
	-- DATABASE
	UNION ALL

	SELECT		DB_NAME(),
				'database',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	WHERE		class = 0

	-------------------------------------------------------------------------------------------------------------------------------------
	-- XML SCHEMA COLLECTIONs
	UNION ALL

	SELECT		SCHEMA_NAME(schema_id) + '.' + SyXSC.name,
				'schema/xml_Schema_collection',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.xml_schema_collections AS SyXSC ON SyEP.class = 10 AND SyEP.major_id = xml_collection_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- DATABASE FILES
	SELECT		SyDF.name,
				'database_file',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.database_files AS SyDF ON SyEP.class = 22 AND SyEP.major_id = file_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- DATA SPACES
	SELECT		SyDS.name,
				'dataspace',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.data_spaces AS SyDS ON SyEP.class = 20 AND SyEP.major_id = data_space_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- USERs
	SELECT		SyDP.name,
				'database_principal',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.database_principals AS SyDP ON SyEP.class = 4 AND SyEP.major_id = SyDP.principal_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- PARTITION FUNCTIONs
	SELECT		SyPF.name,
				'partition_function',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.partition_functions AS SyPF ON SyEP.class = 21 AND SyEP.major_id = SyPF.function_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- REMOTE SERVICE BINDINGs
	SELECT		SyRSB.name,
				'remote service binding',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.remote_service_bindings AS SyRSB ON SyEP.class = 18 AND SyEP.major_id = SyRSB.remote_service_binding_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- ROUTEs
	SELECT		SyRt.name,
				'route',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.routes AS SyRt ON SyEP.class = 19 AND SyEP.major_id = SyRt.route_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- SERVICEs
	SELECT		SySrv.name COLLATE DATABASE_DEFAULT,
				'service',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.extended_properties AS SyEP
	INNER JOIN	sys.services AS SySrv ON SyEP.class = 17 AND SyEP.major_id = SySrv.service_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- CONTRACTs
	SELECT		SySC.name,
				'service_contract',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.service_contracts AS SySC
	INNER JOIN	sys.extended_properties AS SyEP ON SyEP.class = 16 AND SyEP.major_id = SySC.service_contract_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- MESSAGE TYPEs
	SELECT		SySMT.name,
				'message_type',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.service_message_types AS SySMT
	INNER JOIN	sys.extended_properties AS SyEP ON SyEP.class = 15 AND SyEP.major_id = SySMT.message_type_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- ASSEMBLYs
	SELECT		SyAsm.name,
				'assembly',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.assemblies AS SyAsm
	INNER JOIN	sys.extended_properties AS SyEP ON SyEP.class = 5 AND SyEP.major_id = SyAsm.assembly_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- TYPEs
	SELECT		SyTyp.name,
				'schema/type',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",

				'this.Schema("' + SCHEMA_NAME(SyTyp.schema_id) + '")'
					+ '.TableType("' + SyTyp.name + '")'
					+ CASE
						WHEN SyEP.name = 'MS_Description' THEN '.AddDescription("'
						ELSE '.AddExtendedProperty("' + SyEP.name + '", "'
					END
					+ REPLACE(CONVERT(VARCHAR(1024), SyEP.value), '''', '''''') + '");' AS DbocMigrationCSharp,

				'EXEC sys.sp_addextendedproperty'
					+ ' @name = N''' + SyEP.name + ''','
					+ ' @value = N''' + REPLACE(CONVERT(VARCHAR(1024), SyEP.value), '''', '''''') + ''','
					+ ' @level0type = N''SCHEMA'', @level0name = ''' + SCHEMA_NAME(SyTyp.schema_id) + ''','
					+ ' @level1type = N''TYPE'', @level1name = ''' + SyTyp.name + ''''
					AS CreateSQL,

				'EXEC sys.sp_dropextendedproperty'
					+ ' @name = N''' + SyEP.name + ''','
					+ ' @level0type = N''SCHEMA'', @level0name = ''' + SCHEMA_NAME(SyTyp.schema_id) + ''','
					+ ' @level1type = N''TYPE'', @level1name = ''' + SyTyp.name + ''''
					AS DropSQL

	FROM		sys.types AS SyTyp
	INNER JOIN	sys.extended_properties AS SyEP ON SyEP.class = 6 AND SyEP.major_id = SyTyp.user_type_id

	UNION ALL

	/*
	-------------------------------------------------------------------------------------------------------------------------------------
	-- CERTIFICATEs
	SELECT		cer.name,
				'certificate',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.certificates AS cer
	INNER JOIN	sys.extended_properties ep ON SyEP.class = ? AND SyEP.major_id = cer.certificate_id

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------------------
	-- ASYMMETRIC KEYs
	SELECT		SyAK.name,
				'asymmetric_key'
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.asymmetric_keys AS SyAK
	INNER JOIN	sys.extended_properties ep ON SyEP.class = ? AND SyEP.major_id = SyAK.asymmetric_key_id

	-------------------------------------------------------------------------------------------------------------------------------------
	-- SYMMETRIC KEYs
	SELECT		SySK.name,
				'symmetric_key',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.symmetric_keys AS AS SySK
	INNER JOIN	sys.services AS sv ON SyEP.class = ? AND SyEP.major_id = SySK.symmetric_key_id

	UNION ALL
	*/

	-------------------------------------------------------------------------------------------------------------------------------------
	-- PLAN GUIDEs
	SELECT		SyPG.name,
				'plan_guide',
				SyEP.class,
				SyEP.class_desc,
				CONVERT(NVARCHAR(128), SyEP.name) AS "Name",
				CONVERT(NVARCHAR(255), SyEP.value) AS "Value",
				NULL AS DbocMigrationCSharp,
				NULL AS CreateSQL,
				NULL AS DropSQL
	FROM		sys.plan_guides AS SyPG
	INNER JOIN	sys.extended_properties AS SyEP ON SyEP.class = 27 AND SyEP.major_id = SyPG.plan_guide_id
)
SELECT	S.*
FROM	cteSource AS S
GO
