USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vShopKundengruppe]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vShopKundengruppe]
AS
(
	SELECT
		tShopKundenGruppe.kWebShop AS kShop,
        tShopKundenGruppe.kKundenGruppe,
        tShopKundenGruppe.nStandard
	FROM dbo.tShopKundenGruppe
)
GO
