USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKategorieRabatt]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKategorieRabatt]
AS
(
	SELECT 
		tKategorieRabatt.kKundenGruppe AS kKundengruppe,
		tKategorieRabatt.kKategorie, 		 		
		tKategorieRabatt.fRabatt,
		tKategorieRabatt.kShop
	FROM dbo.tKategorieRabatt 
)
GO
