USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vDownloaddateiSprache]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vDownloaddateiSprache]
AS
(
	SELECT 
		tdownloadsprache.kDownload, 
		tdownloadsprache.kSprache, 
		tdownloadsprache.cName, 
		tdownloadsprache.cBeschreibung
	FROM dbo.tdownloadsprache
	WHERE tdownloadsprache.cName != '' AND tdownloadsprache.cName IS NOT NULL
);
GO
