USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAuftragUpdate]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vAuftragUpdate]
AS
(
	SELECT	
		tAuftrag.kAuftrag AS kAuftrag,
		tAuftrag.kShopauftrag AS kBestellung,
		tAuftrag.kSprache,
		tWaehrung.kWaehrung,
		ISNULL(Guthaben.fGuthaben, 0) AS fGuthaben,
		tAuftragEckdaten.fWertBrutto AS fGesamtsumme,
		tAuftrag.cExterneAuftragsnummer AS cBestellNr,
		tZahlungsart.cName AS cZahlungsartName,
		IIF(tQueue.kOption1 = 10, 'N', 'Y') AS cSendeEMail,
		tQueue.kShop
	FROM dbo.tQueue 
	JOIN Verkauf.tAuftrag ON tQueue.kWert = tAuftrag.kAuftrag
	JOIN Verkauf.tAuftragEckdaten ON tAuftrag.kAuftrag = tAuftragEckdaten.kAuftrag
	LEFT JOIN dbo.tWaehrung ON tAuftrag.cWaehrung = tWaehrung.cEAMapping
	LEFT JOIN dbo.tZahlungsart ON tAuftrag.kZahlungsart = tZahlungsart.kZahlungsart
	LEFT JOIN
	(
		SELECT tZahlung.kBestellung, SUM(tZahlung.fBetrag) AS fGuthaben
		FROM dbo.tZahlung
		WHERE tZahlung.cName = 'Guthaben'
		GROUP BY tZahlung.kBestellung
	) AS Guthaben ON tAuftrag.kAuftrag = Guthaben.kBestellung
	WHERE tQueue.cName = 'tBestellung' 
		AND tQueue.nInBearbeitung = 1
		AND tQueue.nAction = 1
);
GO
