USE [eazybusiness]
GO
/****** Object:  View [DbeS].[lvInetKunde]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[lvInetKunde] AS
(
	SELECT 
		tinetkunde.kInetKunde,
		tinetkunde.kKundenGruppe,
		tinetkunde.cVorname,
		tinetkunde.cNachname,
		tinetkunde.cFirma,
		tinetkunde.cStrasse,
		tinetkunde.cPLZ,
		tinetkunde.cStadt,
		tinetkunde.cLand,
		tinetkunde.cTel,
		tinetkunde.cFax,
		tinetkunde.cMail,
		tinetkunde.cUSTID,
		tinetkunde.cBenutzername,
		tinetkunde.kShop
	FROM dbo.tinetkunde 
);
GO
