USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelEigenschaftKombiWert]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelEigenschaftKombiWert]
AS
(
	SELECT 
		tEigenschaftKombiWert.kEigenschaftKombi,
		tEigenschaftKombiWert.kEigenschaft,
		tEigenschaftKombiWert.kEigenschaftWert,
		tArtikel.kArtikel,
		tArtikel.kVaterArtikel,
		tArtikelShop.kShop
	FROM dbo.tEigenschaftKombiWert
	JOIN dbo.tArtikel ON tEigenschaftKombiWert.kEigenschaftKombi = tArtikel.kEigenschaftKombi
	JOIN dbo.tArtikelShop ON tArtikel.kArtikel = tArtikelShop.kArtikel	
);
GO
