USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelAttributEinsprachig]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelAttributEinsprachig] 
AS
SELECT DISTINCT 
    vArtikelAttributSprachePlattform.kArtikelAttribut AS kArtikelAttributIntern,
    tArtikelAttributSprache.kSprache AS kSprache, 
    tAttribut.nSortierung AS nSortierung, 
    vArtikelAttributSprachePlattform.kArtikel AS kArtikel, 
    tAttributSprache.cName AS cName, 
    tArtikelAttributSprache.cWertVarchar AS cWertVarchar, 
    tArtikelAttributSprache.nWertInt AS nWertInt, 
    tArtikelAttributSprache.fWertDecimal AS fWertDecimal, 
    tArtikelAttributSprache.dWertDateTime AS dWertDateTime, 
    tFeldTyp.nDatenTyp AS nDatenTyp,
    tFeldTyp.kFeldTyp AS kFeldTyp,
    vArtikelAttributSprachePlattform.kShop
FROM dbo.vArtikelAttributSprachePlattform
JOIN dbo.tArtikelAttributSprache ON vArtikelAttributSprachePlattform.kArtikelAttribut = tArtikelAttributSprache.kArtikelAttribut
JOIN dbo.tAttributSprache ON vArtikelAttributSprachePlattform.kAttribut = tAttributSprache.kAttribut
    AND tArtikelAttributSprache.kSprache = tAttributSprache.kSprache
JOIN dbo.tAttribut ON vArtikelAttributSprachePlattform.kAttribut = tAttribut.kAttribut
JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
WHERE tAttribut.nIstMehrsprachig = 0 AND tAttribut.nIstFreifeld = 0
GO
