USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKundeKategorieRabatt]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKundeKategorieRabatt]
AS
(
	SELECT 
		tInetKundeShop.kInetKunde AS kKunde,
		tKundeKategorieRabatt.kKategorie,
		tKundeKategorieRabatt.fRabatt,
		tKategorieShop.kShop,
		NULL AS nDelete
	FROM Kunde.tKundeKategorieRabatt
	JOIN dbo.tKategorieShop ON tKundeKategorieRabatt.kKategorie = tKategorieShop.kKategorie
	JOIN dbo.tInetKundeShop ON tKategorieShop.kShop = tInetKundeShop.kShop
		AND tKundeKategorieRabatt.kKunde = tInetKundeShop.kKunde
	UNION
	SELECT
		tQueue.kOption1 AS kKunde,
		tQueue.kOption2 AS kKategorie,
		NULL AS fRabatt,
		tQueue.kShop,
		1 AS nDelete
	FROM dbo.tQueue
)
GO
