USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vSprache]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vSprache]
AS
(
	SELECT
		tSpracheUsed.kSprache,
		tSpracheUsed.cNameEng AS cNameEnglisch,
		tSpracheUsed.cNameDeu AS cNameDeutsch,
		tSpracheUsed.cISO,
		tShopSprache.nStandard,
		tShopSprache.nStandard AS nShopStandard,
		tSpracheUsed.nStandard AS nWawiStandard,
		tShopSprache.kWebShop AS kShop
	FROM dbo.tSpracheUsed
	JOIN dbo.tShopSprache ON tShopSprache.kSprache = tSpracheUsed.kSprache
)
GO
