USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKonfigItemSprache]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKonfigItemSprache]
AS
(
	SELECT 
		tkonfigitemsprache.kKonfigitem,
		tkonfigitemsprache.kSprache,
		CASE 
			WHEN tkonfigitemsprache.cName IS NULL OR tkonfigitemsprache.cName = '' THEN	Fallback.cName 
			ELSE tkonfigitemsprache.cName
		END AS cName,
		tkonfigitemsprache.cBeschreibung,
		tShopSprache.kWebShop AS kShop
	FROM dbo.tkonfigitemsprache
	JOIN dbo.tShopSprache ON tShopSprache.kSprache = tkonfigitemsprache.kSprache
	JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1 	
	LEFT JOIN dbo.tkonfigitemsprache AS Fallback ON tkonfigitemsprache.kKonfigitem = Fallback.kKonfigitem
		AND Fallback.kSprache = StandardSprache.kSprache
);
GO
