USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vSteuerklasse]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vSteuerklasse]
AS
(
	SELECT
		tSteuerklasse.kSteuerklasse,
		tSteuerklasse.cName,
		tSteuerklasse.nStandard
	FROM dbo.tSteuerklasse
)
GO
