USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelStuecklistenLieferbestand]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelStuecklistenLieferbestand]
AS
(
	SELECT  
		MIN(Bestand.fLagerbestand) AS fLagerbestand,
		Bestand.kStueckliste
	FROM
	(
		SELECT
		kStueckliste,
		ISNULL(Lieferartikel.fLagerbestand, 0.0) / tStueckliste.fAnzahl AS fLagerbestand
		FROM dbo.tStueckliste	
		OUTER APPLY
		(
			SELECT TOP(1) 
				tliefartikel.fLagerbestand 
			FROM dbo.tliefartikel
			WHERE tliefartikel.tArtikel_kArtikel = tStueckliste.kArtikel
			ORDER BY tliefartikel.nStandard DESC, tliefartikel.fDurchschnittlicheLieferzeit ASC
		) AS Lieferartikel
	) AS Bestand	
	GROUP BY Bestand.kStueckliste
);
GO
