USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKonfigItem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKonfigItem]
AS
(
	SELECT tkonfigitem.kKonfigitem,
		tkonfigitem.kKonfiggruppe,
		tkonfigitem.kArtikel,
		tkonfigitem.nPosTyp,
		tkonfigitem.bSelektiert,
		tkonfigitem.bEmpfohlen,
		tkonfigitem.bName,
		tkonfigitem.bPreis,
		tkonfigitem.nSort,
		tkonfigitem.bRabatt,
		tkonfigitem.bZuschlag,
		tkonfigitem.fMin,
		tkonfigitem.fMax,
		tkonfigitem.fInitial,
		tkonfigitem.fStandardpreis,
		tkonfigitem.bIgnoreMultiplier
	FROM dbo.tkonfigitem
);
GO
