USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKundenRechnungsadresse]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKundenRechnungsadresse]
AS
(
	SELECT
		tAdresse.kAdresse,
		tAdresse.kInetAdresse,
		tAdresse.kKunde,
		tAdresse.cFirma,
		tAdresse.cAnrede,
		tAdresse.cTitel,
		tAdresse.cVorname,
		tAdresse.cName,
		tAdresse.cStrasse,
		tAdresse.cPLZ,
		tAdresse.cOrt,
		tAdresse.cLand,
		tAdresse.cTel,
		tAdresse.cZusatz,
		tAdresse.cAdressZusatz,
		tAdresse.cPostID,
		tAdresse.cMobil,
		tAdresse.cMail,
		tAdresse.cFax,
		tAdresse.cBundesland,
		tAdresse.cISO,
		ISNULL(CAST(tAdresse.nStandard AS BIT), 0) AS nStandard,
		tAdresse.nTyp,
		tAdresse.cUSTID
	FROM dbo.tAdresse
	WHERE tAdresse.nTyp = 1
)
GO
