USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelUpload]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelUpload]
AS
(
	SELECT 
		tArtikelUpload.kArtikelUpload, 
		tArtikelUpload.kArtikel, 
		tArtikelUploadSprache.cName AS cName,
		tArtikelUploadSprache.cBeschreibung AS cBeschreibung, 
		tArtikelUpload.cDateiTyp, 
		tArtikelUpload.nPflicht,
		tArtikelUploadSprache.kSprache
	FROM dbo.tArtikelUpload 
	JOIN dbo.tArtikelUploadSprache ON tArtikelUploadSprache.kArtikelUpload = tArtikelUpload.kArtikelUpload 
);
GO
