USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelAttributEigeneFelder]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelAttributEigeneFelder]
AS
    SELECT
        tArtikelAttribut.kArtikelAttribut AS kArtikelAttributIntern,
        tArtikelAttributSprache.kSprache AS kSprache,
        tAttribut.nSortierung AS nSortierung,
        tArtikelAttribut.kArtikel AS kArtikel,
        tAttributSprache.cName AS cName,
        tArtikelAttributSprache.cWertVarchar AS cWertVarchar,
        tArtikelAttributSprache.nWertInt AS nWertInt,
        tArtikelAttributSprache.fWertDecimal AS fWertDecimal,
        tArtikelAttributSprache.dWertDateTime AS dWertDateTime,
        tFeldTyp.nDatenTyp AS nDatenTyp
    FROM dbo.tAttributSprache
    JOIN dbo.tAttribut ON tAttributSprache.kAttribut = tAttribut.kAttribut
    JOIN dbo.tArtikelAttribut ON tArtikelAttribut.kAttribut = tAttribut.kAttribut AND tArtikelAttribut.kShop = 0
    JOIN dbo.tArtikelAttributSprache ON tArtikelAttribut.kArtikelAttribut = tArtikelAttributSprache.kArtikelAttribut
    JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
    WHERE tAttribut.nIstFreifeld = 1 AND tAttributSprache.kSprache = 0
GO
