USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vDownloaddatei]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vDownloaddatei]
AS
(	
	SELECT 
		tDownload.kDownload,
		tDownload.cID,
		tDownload.cPfad,
		tDownload.cPfadVorschau,
		tDownload.nAnzahl,
		tDownload.nTage,
		tDownload.dErstellt,
		tDownload.nSort, 		
		tDownloadShop.kShop,
		0 AS nDataType
	FROM dbo.tDownload
	JOIN dbo.tDownloadShop ON tDownload.kDownload = tDownloadShop.kDownload	
	WHERE tDownload.kDownload != 0 AND tDownloadShop.cInet = 'Y' AND tDownloadShop.cDelInet != 'Y'
	UNION
	SELECT 
		tDownload.kDownload,
		tDownload.cID,
		tDownload.cPfad,
		tDownload.cPfadVorschau,
		tDownload.nAnzahl,
		tDownload.nTage,
		tDownload.dErstellt,
		tDownload.nSort, 
		tQueue.kShop,
		1 AS nDataType
	FROM dbo.tQueue
	JOIN dbo.tDownload ON tDownload.kDownload = tQueue.kWert
	WHERE tQueue.cName = 'tDownload' AND tQueue.nInBearbeitung = 1 AND tQueue.nAction = 1 AND tDownload.kDownload != 0
);
GO
