USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vWarengruppe]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vWarengruppe]
AS
(
	SELECT
		tWarengruppe.kWarengruppe,
		tWarengruppe.cName
	FROM dbo.tWarengruppe
)
GO
