USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vVersandklasse]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vVersandklasse]
AS
(
	SELECT
		tVersandklasse.kVersandklasse,
		tVersandklasse.cName
	FROM dbo.tVersandklasse
)
GO
