USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKonfigGruppe]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKonfigGruppe]
AS
(
	SELECT tkonfigshop.kKonfiggruppe,
		tkonfiggruppe.nMin,
		tkonfiggruppe.nMax,
		tkonfiggruppe.nTyp,
		tkonfiggruppe.nSort,
		tkonfiggruppe.cKommentar,
		tQueue.kShop,
		ISNULL(CASE tkonfigshop.cDelInet
			WHEN 'Y' THEN CAST(1 AS bit)
			ELSE CAST(0 AS bit)
		END, CAST(0 AS bit)) AS nDeleted
	FROM dbo.tkonfigshop
	JOIN dbo.tQueue
		ON tQueue.kWert = tkonfigshop.kkonfiggruppe
			AND tQueue.kShop = tkonfigshop.kShop
			AND tQueue.cName = 'tkonfigshop'
			AND tkonfigshop.cInet = 'Y'
	LEFT JOIN dbo.tkonfiggruppe
		ON tkonfiggruppe.kKonfiggruppe = tQueue.kWert
	WHERE tQueue.nInBearbeitung = 0
);
GO
