USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vLieferscheinPaket]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vLieferscheinPaket]
AS
(
	SELECT	
		tVersand.kLieferschein,
		tVersand.kVersand,
		IIF(ISNULL(tVersand.cLogistiker, '') = '', tversandart.cName, tVersand.cLogistiker) AS cLogistiker,
		REPLACE(REPLACE(REPLACE(REPLACE(REPLACE(tversandart.cTrackingUrlTemplate,
			'#PLZ#', Lieferadresse.cPLZ),
			'#IdentCode#', tVersand.cIdentCode),
			'#Tag#', DATEPART(DD, tVersand.dErstellt)),
			'#Monat#', DATEPART(MM, tVersand.dErstellt)),
			'#Jahr#', DATEPART(YYYY, tVersand.dErstellt)) AS cLogistikURL,
		tVersand.cIdentCode,
		tVersand.dErstellt,
		tVersand.cHinweis
	FROM dbo.tVersand
	LEFT JOIN dbo.tversandart ON tVersand.kVersandArt = tversandart.kVersandArt
	LEFT JOIN dbo.tLieferschein ON tVersand.kLieferschein = tLieferschein.kLieferschein
	LEFT JOIN Verkauf.vAuftragLieferadresse AS Lieferadresse ON tLieferschein.kBestellung = Lieferadresse.kAuftrag
);
GO
