USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelEigenschaftWert]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelEigenschaftWert]
AS
(
	SELECT
		tEigenschaftWert.kEigenschaftWert, 
		tEigenschaftWert.kEigenschaft, 
		tEigenschaftWertSprache.cName, 		
		tEigenschaftWert.fAufpreisNetto,
		tEigenschaftWert.fGewichtDiff,
		tEigenschaftWert.cArtNr, 
		tEigenschaftWert.nSort, 
		tEigenschaftWert.fLagerbestand, 
		tEigenschaftWert.fPackeinheit,
		tEigenschaftWert.fAufpreis,
		tEigenschaftWert.cBarcode,
		tEigenschaftWert.cAktiv,
		tEigenschaftWert.cInet,
		tEigenschaftWertSprache.kSprache
	FROM dbo.tEigenschaftWert
	JOIN dbo.tEigenschaftWertSprache ON tEigenschaftWertSprache.kEigenschaftWert = tEigenschaftWert.kEigenschaftWert	
	WHERE tEigenschaftWert.cAktiv != 'N' 	
);
GO
