USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelMerkmal]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelMerkmal]
AS
(
	SELECT 
		tArtikelMerkmal.kMerkmal, 
		tArtikelMerkmal.kMerkmalWert, 
		tArtikelMerkmal.kArtikel
	FROM dbo.tArtikelMerkmal
);
GO
