USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vMerkmalBild]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vMerkmalBild]
AS
(
	SELECT 
		tMerkmalBildPlattform.kMerkmalBildPlattform, 
		tMerkmalBildPlattform.kMerkmal, 
		tMerkmalBildPlattform.kPlattform, 
		tMerkmalBildPlattform.kShop, 
		tMerkmalBildPlattform.kBild, 
		tMerkmalBildPlattform.nInet,
		tBild.bBild,
		tBild.nDateigroesse,
		tBild.cHash
	FROM tMerkmalBildPlattform
	JOIN dbo.tBild ON tBild.kBild = tMerkmalBildPlattform.kBild
	WHERE tMerkmalBildPlattform.nInet > 0
		AND tBild.bBild IS NOT NULL
);
GO
