USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vInitialize]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vInitialize] AS
(
	SELECT 
		ISNULL(Kunde.kInetKunde, 0) AS kInetKunde, 
		ISNULL(Bestellung.kBestellung, 0) AS kBestellung,
		ISNULL(Addresse.kInetAdresse, 0) AS kInetAdresse, 
		ISNULL(ShopZahlung.kZahlungseingang, 0) AS kZahlungseingang,
		tShop.kShop AS kShop
	FROM dbo.tShop
	LEFT JOIN
	(
		SELECT 
			MAX(InetKunde.kInetKunde) AS kInetKunde, 
			InetKunde.kShop
		FROM
		(
			SELECT MAX(tinetkunde.kInetKunde) AS kInetKunde, tinetkunde.kShop
			FROM dbo.tinetkunde 
			GROUP BY tinetkunde.kShop
			UNION
			SELECT MAX(tInetKundeShop.kInetKunde) AS kInetKunde, tInetKundeShop.kShop
			FROM dbo.tInetKundeShop 
			GROUP BY tInetKundeShop.kShop
		) AS InetKunde
		GROUP BY InetKunde.kShop
	) AS Kunde ON Kunde.kShop = tShop.kShop
	FULL OUTER JOIN 
	(
		SELECT MAX(tAuftrag.kShopauftrag) AS kBestellung, tAuftrag.kShop
		FROM Verkauf.tAuftrag 
		WHERE tAuftrag.kShop > 0
		GROUP BY tAuftrag.kShop
	) AS Bestellung ON Bestellung.kShop = tShop.kShop
	FULL OUTER JOIN
	(
		SELECT MAX(tInetAdresseShop.kInetAdresse) AS kInetAdresse, tInetAdresseShop.kShop
		FROM tInetAdresseShop 
		GROUP BY tInetAdresseShop.kShop
	) AS Addresse ON Addresse.kShop = tShop.kShop
	FULL OUTER JOIN
	(
		SELECT MAX(tInetShopZahlung.kZahlungseingang) AS kZahlungseingang, tInetShopZahlung.kShop
		FROM tInetShopZahlung 
		GROUP BY tInetShopZahlung.kShop
	) AS ShopZahlung ON ShopZahlung.kShop = tShop.kShop
	WHERE tShop.nTyp = 0
);
GO
