USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vSteuerzoneLand]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vSteuerzoneLand]
AS
(
	SELECT
		tSteuerzoneLand.kSteuerzone,
		tSteuerzoneLand.cISO
	FROM dbo.tSteuerzoneLand
)
GO
