USE [eazybusiness]
GO
/****** Object:  View [DbeS].[lvInetBestellungPositionen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[lvInetBestellungPositionen] AS
(
	SELECT 
		tinetbestellpos.kInetBestellPos,
		tinetbestellpos.kInetBestellung,
		tArtikel.cArtNr,
		tinetbestellpos.kArikel, 
		tinetbestellpos.fPreis, 
		tinetbestellpos.fMwSt, 
		tinetbestellpos.nAnzahl, 
		tinetbestellpos.cName, 
		tinetbestellpos.kShop, 
		tinetbestellpos.nType, 
		tinetbestellpos.cHinweis,
		VerkaufsEinheitSprache.cName AS cEinheit
	FROM dbo.tinetbestellpos
	JOIN dbo.tShop ON tShop.kShop = tinetbestellpos.kShop
	JOIN dbo.tinetbestellung ON tinetbestellpos.kInetBestellung = tinetbestellung.kInetBestellung AND tinetbestellpos.kShop = tinetbestellung.kShop
	LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = tinetbestellpos.kArikel
	LEFT JOIN dbo.tEinheitSprache AS VerkaufsEinheitSprache ON VerkaufsEinheitSprache.kEinheit = tArtikel.kVerkaufsEinheit 
																	AND VerkaufsEinheitSprache.kSprache = tinetbestellung.kSprache
);
GO
