USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKategorie]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKategorie]
AS
(
	SELECT 
		tKategorieShop.kKategorie, 
		tKategorieShop.kShop, 
		tKategorieShop.cInet AS cKategorieShopInet, 
		tKategorieShop.cDelInet AS cKategorieShopDelInet, 
		tKategorieShop.nInBearbeitung,		
		CASE 
			WHEN tKategorie.kOberKategorie = tShop.kKategorie
				THEN 0
			ELSE tKategorie.kOberKategorie
		END AS kOberKategorie, 
		tKategorie.cInet AS cKategorieInet, 
		tKategorie.cDelInet AS cKategorieDelInet, 
		tKategorie.cAktiv, 	
		tKategorie.nSort,
		ISNULL(tKategorieSprache.cName, KategorieSpracheFallback.cName) AS cName,
		ISNULL(tKategorieSprache.cBeschreibung, KategorieSpracheFallback.cBeschreibung) AS cBeschreibung,
		ISNULL(tKategorieSprache.cUrlPfad, KategorieSpracheFallback.cUrlPfad) AS cUrlPfad,
		ISNULL(tKategorieSprache.cTitleTag, KategorieSpracheFallback.cTitleTag) AS cTitleTag,
		ISNULL(tKategorieSprache.cMetaKeywords, KategorieSpracheFallback.cMetaKeywords) AS cMetaKeywords,
		ISNULL(tKategorieSprache.cMetaDescription, KategorieSpracheFallback.cMetaDescription) AS cMetaDescription,
		StandardSprache.kSprache	
	FROM dbo.tKategorieShop 
	JOIN tShop ON tShop.kShop = tKategorieShop.kShop
	JOIN dbo.tKategorie ON tKategorieShop.kKategorie = tkategorie.kKategorie
	JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1 
	LEFT JOIN dbo.tKategorieSprache	ON tkategorie.kKategorie = tKategorieSprache.kKategorie
		AND tKategorieShop.kShop = tKategorieSprache.kShop
		AND StandardSprache.kSprache = tKategorieSprache.kSprache
	OUTER APPLY
	(
		SELECT TOP (1) 
			KategorieSpracheFallBack.*
		FROM dbo.tKategorieSprache AS KategorieSpracheFallBack
		WHERE KategorieSpracheFallBack.kShop = 0
			AND KategorieSpracheFallBack.kKategorie = tKategorieShop.kKategorie
			AND KategorieSpracheFallBack.kSprache = StandardSprache.kSprache
	) AS KategorieSpracheFallBack
	WHERE tKategorieShop.cInet = 'Y'
		AND tKategorie.cAktiv <> 'N' 
		AND tkategorie.kKategorie <> 0
);
GO
