USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikel]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikel] AS
(
	SELECT 	
		tArtikel.kArtikel, 
		ISNULL(tArtikel.kHersteller, 0) AS kHersteller,
		ISNULL(tArtikel.kLieferStatus, 0) AS kLieferstatus,
		VerkaufsEinheitSprache.cName AS cEinheit,
		ISNULL(VerkaufsEinheitSprache.kEinheit, 0) AS kEinheit,
		ISNULL(tArtikel.kSteuerklasse, 0) AS kSteuerklasse,
		ISNULL(tArtikel.kVPEEinheit, 0) AS kVPEEinheit,
		tArtikel.kVersandklasse,	
		tArtikel.cArtNr,
		ISNULL(tArtikelBeschreibung.cName, ArtikelBeschreibungFallBack.cName) AS cName,
		ISNULL(tArtikelBeschreibung.cUrlPfad, ArtikelBeschreibungFallBack.cUrlPfad) AS cSeo,
		ISNULL(tArtikelBeschreibung.cBeschreibung, ArtikelBeschreibungFallBack.cBeschreibung) AS cBeschreibung,
		tArtikel.cAnmerkung,
		tLagerbestand.fLagerbestand, 
		Steuercache.fSteuersatz AS fMwSt,
		tArtikel.fVKNetto AS fStandardpreisNetto,
		tArtikel.nMindestbestellmaenge AS fMindestbestellmenge,
		tArtikel.cBarcode,
		tArtikel.cTopArtikel,
		tArtikel.fGewicht,
		tArtikel.fArtGewicht AS fArtikelgewicht,
		tArtikel.cNeu,
		ISNULL(tArtikelBeschreibung.cKurzBeschreibung, ArtikelBeschreibungFallBack.cKurzBeschreibung) AS cKurzBeschreibung,
		tArtikel.fUVP,
		CASE 
			WHEN tArtikel.cLagerKleinerNull = 'Y' AND tShopUeberverkaeufeMoeglich.kArtikel IS NOT NULL THEN 'Y'
			ELSE 'N'
		END AS cLagerKleinerNull,
		tArtikel.cLagerVariation,
		tArtikel.cLagerAktiv AS cLagerBeachten,
		tArtikel.cTeilbar,
		tArtikel.fPackeinheit,
		CASE WHEN tArtikel.nVPE > 0
			THEN 'Y'
			ELSE 'N'
		END AS cVPE,
		tArtikel.fVPEWert,
		VPEEinheitSprache.cName AS cVPEEinheit,
		tArtikel.cSuchbegriffe,
		tArtikel.nSort,	
		tArtikel.dNeuImSortiment AS dErstellt,
		CONVERT(VARCHAR(63), tArtikel.dErscheinungsdatum, 104) AS dErscheinungsdatum,	
		tArtikel.cHAN,
		tArtikel.cSerie,
		tArtikel.cISBN,
		tArtikel.cASIN,
		tArtikel.cUNNummer,
		tArtikel.cGefahrnr,
		tArtikel.cTaric,
		tArtikel.nIstVater,
		tArtikel.kEigenschaftKombi,
		tArtikel.kVaterArtikel,	
		tArtikel.fAbnahmeintervall,
		tArtikel.kStueckliste,
		tArtikel.cUPC,
		tArtikel.cHerkunftsland,
		tArtikel.cEPID,
		tArtikel.kWarengruppe,
		ArtikelMhd.dMHD,	
		ISNULL(tArtikel.kMassEinheit, 0) AS kMassEinheit,
		tArtikel.fMassMenge,
		ISNULL(tArtikel.kGrundPreisEinheit, 0) AS kGrundPreisEinheit,
		tArtikel.fGrundpreisMenge,
		tArtikel.fBreite,
		tArtikel.fHoehe,
		tArtikel.fLaenge,
		ISNULL(tArtikel.nLiefertageWennAusverkauft, 0) AS nLiefertageWennAusverkauft,	
		ISNULL(tArtikel.kVerkaufsEinheit, 0) AS kVerkaufsEinheit,
		tArtikel.dZulaufVerfuegbarAm,
		ISNULL(tArtikel.nAutomatischeLiefertageberechnung, 0) AS nAutomatischeLiefertageberechnung,
		ISNULL(tArtikel.nBearbeitungszeit, 0) AS nBearbeitungszeit,	
		tArtikel.cAktiv,
		tArtikel.cInet,
		tArtikel.cDelInet,
		tArtikel.nPufferTyp,
		tArtikel.nPuffer,		
		tLagerbestand.fVerfuegbar,
		tArtikelShop.kShop,
		tArtikel.nZulaufVerfuegbarMenge,
		ISNULL(LieferArtikel.kLiefArtikel, 0) AS kLiefArtikel,
		ISNULL(LieferArtikel.fLagerbestand, 0) AS fLiefArtikelLagerbestand,
		ISNULL(LieferArtikel.nLieferzeit, 0) AS nLieferzeit,
		tArtikel.nNichtRabattfaehig,
		tZustand.nCode AS nGoogleCondition
	FROM dbo.tArtikelShop
	LEFT JOIN dbo.tShopUeberverkaeufeMoeglich ON tShopUeberverkaeufeMoeglich.kArtikel = tArtikelShop.kArtikel
		AND tShopUeberverkaeufeMoeglich.kShop = tArtikelShop.kShop
		AND tShopUeberverkaeufeMoeglich.nPlattform = 2
	JOIN dbo.tShop ON tArtikelShop.kShop = tShop.kShop
	JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelShop.kArtikel
	JOIN dbo.tZustand ON tZustand.kZustand = tArtikel.kZustand
	LEFT JOIN dbo.tLagerbestand ON tLagerbestand.kArtikel = tArtikelShop.kArtikel
	JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1 
	LEFT JOIN dbo.tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = tArtikel.kArtikel 
										AND tArtikelBeschreibung.kSprache = StandardSprache.kSprache 									
										AND tArtikelBeschreibung.kShop = tArtikelShop.kShop
	OUTER APPLY
		(
			SELECT TOP (1) 
				ArtikelBeschreibungFallBack.*
			FROM dbo.tArtikelBeschreibung AS ArtikelBeschreibungFallBack
			WHERE ArtikelBeschreibungFallBack.kArtikel = tArtikelShop.kArtikel 
				AND ArtikelBeschreibungFallBack.kSprache = StandardSprache.kSprache
				AND ArtikelBeschreibungFallBack.kPlattform = 1
		) AS ArtikelBeschreibungFallBack
	LEFT JOIN dbo.tEinheitSprache AS VPEEinheitSprache ON VPEEinheitSprache.kEinheit = tArtikel.kVPEEinheit 
		AND VPEEinheitSprache.kSprache = StandardSprache.kSprache
	LEFT JOIN dbo.tEinheitSprache AS VerkaufsEinheitSprache ON VerkaufsEinheitSprache.kEinheit = tArtikel.kVerkaufsEinheit 
		AND VerkaufsEinheitSprache.kSprache = StandardSprache.kSprache
	LEFT JOIN dbo.tHersteller ON tHersteller.kHersteller = tArtikel.kHersteller
	LEFT JOIN 
	(
		SELECT	kSteuerklasse,
				kFirma,
				MAX(fSteuersatz) AS fSteuersatz
		FROM dbo.tSteuercache
		WHERE tSteuercache.kFirma = 0
		GROUP BY	kSteuerklasse,
					kFirma
	) AS Steuercache ON Steuercache.kSteuerklasse = tArtikel.kSteuerklasse
	OUTER APPLY
	(
		SELECT TOP 1 tWarenlagerEingang.dMHD
		FROM dbo.tArtikel AS MHDArtikel
		LEFT JOIN dbo.tStueckliste ON MHDArtikel.kStueckliste = tStueckliste.kStueckliste
		JOIN dbo.tWarenlagerEingang ON tWarenLagerEingang.kArtikel = MHDArtikel.kArtikel
			OR tStueckliste.kArtikel = tWarenLagerEingang.kArtikel
		JOIN dbo.tWarenLagerPlatz ON tWarenLagerEingang.kWarenLagerPlatz = tWarenLagerPlatz.kWarenLagerPlatz
			AND tWarenLagerPlatz.nGesperrt = 0 
			AND tWarenLagerPlatz.nAuslieferungGesperrt = 0
		WHERE MHDArtikel.kArtikel = tArtikelShop.kArtikel
			AND fAnzahlAktuell > 0 
			AND dMHD IS NOT NULL 
		ORDER BY dMHD ASC
	) AS ArtikelMhd
	OUTER APPLY
	(
		SELECT TOP 1 
		 tLiefArtikel.kLiefArtikel,
		 tLiefArtikel.fLagerbestand,
		 tLiefArtikel.nLieferzeit
		FROM dbo.tLiefArtikel 
		WHERE tLiefArtikel.tArtikel_kArtikel = tArtikelShop.kArtikel 
		ORDER BY tLiefArtikel.nStandard DESC, tLiefArtikel.nLieferzeit ASC
	) AS LieferArtikel
	WHERE tArtikel.cAktiv <> 'N'
		AND tArtikelShop.nInBearbeitung = 1 		
		AND tArtikelShop.cInet = 'Y'
);
GO
