USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKonfigItemPreis]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKonfigItemPreis]
AS
(
	SELECT tkonfigitempreis.kKonfigitem,
		tkonfigitempreis.kKundengruppe,
		tkonfigitempreis.kSteuerklasse,
		tkonfigitempreis.fPreis,
		tkonfigitempreis.nTyp,
		tkonfigitempreis.kShop
	FROM dbo.tkonfigitempreis
);
GO
