USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vQuickSyncQueue]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vQuickSyncQueue]
AS
(
	SELECT
		tArtikelShop.kArtikel,
		tArtikelShop.kShop,
		tArtikelShop.cInet,
		tArtikelShop.cDelInet,
		tArtikelShop.nAktion,
		tArtikelShop.nInBearbeitung
	FROM dbo.tArtikelShop
	WHERE tArtikelShop.nAktion & 1 = 0
		AND (tArtikelShop.nAktion & 2 > 0 OR tArtikelShop.nAktion & 4 > 0) 
		AND tArtikelShop.cInet = 'Y'
		AND tArtikelShop.nInBearbeitung = 1
)
GO
