USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vVariationsBild]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vVariationsBild] 
AS
(
	SELECT
		tEigenschaftWertPict.kEigenschaftWertPict,
		tEigenschaftWertPict.kEigenschaftWert,
		tEigenschaftWertPict.kPlattform,
		tEigenschaftWertPict.kShop,
		tEigenschaftWertPict.kBild,
		tEigenschaftWertPict.nInet,
		tBild.bBild,
		tBild.nDateigroesse,
		tBild.cHash
	FROM tEigenschaftWertPict
	JOIN dbo.tBild ON tBild.kBild = tEigenschaftWertPict.kBild
	WHERE tEigenschaftWertPict.nInet > 0
		AND tBild.bBild IS NOT NULL
);
GO
