USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vHerstellerBild]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vHerstellerBild]
AS
(
	SELECT 
		tHerstellerBildPlattform.kHerstellerBildPlattform, 
		tHerstellerBildPlattform.kHersteller, 
		tHerstellerBildPlattform.kPlattform, 
		tHerstellerBildPlattform.kShop, 
		tHerstellerBildPlattform.kBild, 
		tHerstellerBildPlattform.nInet,
		tBild.bBild,
		tBild.nDateigroesse,
		tBild.cHash
	FROM tHerstellerBildPlattform
	JOIN dbo.tBild ON tBild.kBild = tHerstellerBildPlattform.kBild
	WHERE tHerstellerBildPlattform.nInet>0 
		AND tBild.bBild IS NOT NULL
);
GO
