USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vLand]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vLand]
AS
(
	SELECT
		tland.cISO,
        tland.cName,
        tland.cNameEng,
        tland.nEU,
        tland.cKontinent,
        tland.cNameFra,
        tland.cISO3,
        tland.nISONumeric,
        tland.cWaehrung,
        tland.cDefaultCulture
	FROM dbo.tland

);
GO
