USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAuftragLoeschen]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vAuftragLoeschen]
AS
(
	SELECT 
		tQueue.kShop,
        tQueue.kWert AS kBestellung
	FROM dbo.tQueue
	WHERE tQueue.cName = 'tBestellung' 
		AND tQueue.nInBearbeitung = 1
		AND tQueue.nAction = 2
);
GO
