USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelBeschreibung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelBeschreibung] 
AS
(
	SELECT 
		tArtikelShop.kArtikel AS kArtikel,
		ISNULL(tArtikelBeschreibung.kSprache, Fallback.kSprache) AS kSprache,
		tArtikelShop.kShop AS kShop,
		ISNULL(tArtikelBeschreibung.cName, Fallback.cName) AS cName,
		ISNULL(tArtikelBeschreibung.cBeschreibung, Fallback.cBeschreibung) AS cBeschreibung,
		ISNULL(tArtikelBeschreibung.cKurzBeschreibung, Fallback.cKurzBeschreibung) AS cKurzBeschreibung,
		ISNULL(tArtikelBeschreibung.cUrlPfad, Fallback.cUrlPfad) AS cUrlPfad,
		ISNULL(tArtikelBeschreibung.cMetaDescription, Fallback.cMetaDescription) AS cMetaDescription,
		ISNULL(tArtikelBeschreibung.cTitleTag, Fallback.cTitleTag) AS cTitleTag,
		ISNULL(tArtikelBeschreibung.cMetaKeywords, Fallback.cMetaKeywords) AS cMetaKeywords
	FROM dbo.tArtikelShop 
	JOIN dbo.tShopSprache ON tArtikelShop.kShop = tShopSprache.kWebShop
	LEFT JOIN dbo.tArtikelBeschreibung ON tArtikelShop.kArtikel = tArtikelBeschreibung.kArtikel 
		AND tArtikelShop.kShop = tArtikelBeschreibung.kShop 
		AND tShopSprache.kSprache = tArtikelBeschreibung.kSprache
	LEFT JOIN tArtikelBeschreibung AS Fallback ON Fallback.kArtikel = tArtikelShop.kArtikel
			AND Fallback.kPlattform = 1 
			AND Fallback.kShop = 0 
			AND Fallback.kSprache = tShopSprache.kSprache
);
GO
