USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAuftragUpdateAttribute]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vAuftragUpdateAttribute]
AS
(
	SELECT
		tAuftragAttribut.kAuftrag,
		tAttributSprache.cName AS cKey,
		CASE
			WHEN NOT tAuftragAttributSprache.dWertDateTime IS NULL THEN CAST(FORMAT(tAuftragAttributSprache.dWertDateTime, 'dd.MM.yyyy hh:mm:ss') AS NVARCHAR(4000))
			WHEN NOT tAuftragAttributSprache.nWertInt IS NULL THEN CAST(tAuftragAttributSprache.nWertInt AS NVARCHAR(4000))
			WHEN NOT tAuftragAttributSprache.fWertDecimal IS NULL THEN CAST(tAuftragAttributSprache.fWertDecimal AS NVARCHAR(4000))
			ELSE tAuftragAttributSprache.cWertVarchar
		END AS cValue
	FROM Verkauf.tAuftragAttribut
	JOIN Verkauf.tAuftragAttributSprache ON tAuftragAttributSprache.kAuftragAttribut = tAuftragAttribut.kAuftragAttribut
		AND tAuftragAttributSprache.kSprache = 0
	JOIN dbo.tAttribut ON tAttribut.kAttribut = tAuftragAttribut.kAttribut
	JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAttribut.kAttribut
		AND tAttributSprache.kSprache = 0
);
GO
