USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelDownload]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelDownload]
AS
(
	SELECT 
		tArtikelDownload.kDownload,
		tArtikelDownload.kArtikel,		
		tDownloadShop.kShop,
		ISNULL(tDownload.nSort, 0) AS nSort
	FROM dbo.tArtikelDownload 
	JOIN dbo.tDownloadShop ON tartikeldownload.kDownload = tDownloadShop.kDownload
	LEFT JOIN dbo.tDownload ON tArtikelDownload.kDownload = tDownload.kDownload 
);
GO
