USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKunde]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKunde]
AS
(
	SELECT
		tkunde.kKunde,
        tkunde.kInetKunde,
        tkunde.kKundenKategorie,
        tkunde.cKundenNr,
        tkunde.dErstellt,
        tkunde.fRabatt,
        tkunde.cNewsletter,
        tkunde.cEbayName,
        tkunde.kBuyer,
        tkunde.cGeburtstag,
        tkunde.cWWW,
        tkunde.cSperre,
        tkunde.kKundenGruppe,
        tkunde.nZahlungsziel,
        tkunde.kSprache,
        tkunde.cHerkunft,
        tkunde.cKassenKunde,
        tkunde.cHRNr,
        tkunde.kZahlungsart,
        tkunde.nDebitorennr,
        tkunde.cSteuerNr,
        tkunde.nKreditlimit,
        tkunde.kKundenDrucktext,
        tkunde.nMahnstopp,
        tkunde.nMahnrhythmus,
        tkunde.kFirma,
        tkunde.fProvision,
        tkunde.nVertreter,
        tkunde.fSkonto,
        tkunde.nSkontoInTagen
	FROM dbo.tkunde
);
GO
