USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vLieferschein]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vLieferschein]
AS
(
	SELECT	
		tLieferschein.kLieferschein,
		tAuftrag.kShopauftrag,		
		tLieferschein.cLieferscheinNr,
		tLieferschein.cHinweis,
		tLieferschein.dErstellt,
		tLieferschein.nFulfillment,
		tQueue.kShop,
		tAuftrag.kAuftrag
	FROM dbo.tQueue
	JOIN dbo.tLieferschein ON tQueue.kWert = tLieferschein.kLieferschein
	JOIN Verkauf.tAuftrag ON tLieferschein.kBestellung = tAuftrag.kAuftrag
	WHERE tQueue.cName = 'tLieferschein'
		AND tQueue.nInBearbeitung = 1
		AND tQueue.nAction = 1
);
GO
