USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKategorieAttributMehrsprachig]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKategorieAttributMehrsprachig]
AS
(
	SELECT DISTINCT
		KategorieAttribute.kKategorieAttribut,
		tShopSprache.kSprache,
		tAttribut.nSortierung,
		tKategorieShop.kKategorie,
		tAttributSprache.cName,
		KategorieAttribute.cWertVarchar,
		KategorieAttribute.nWertInt,
		KategorieAttribute.fWertDecimal,
		KategorieAttribute.dWertDateTime,
		tFeldTyp.nDatenTyp,
		tShopSprache.nStandard,
		tKategorieShop.kShop
	FROM dbo.tKategorieShop
	JOIN dbo.tAttributShop ON tKategorieShop.kShop = tAttributShop.kShop
	JOIN dbo.tShopSprache ON tKategorieShop.kShop = tShopSprache.kWebShop
	CROSS APPLY
	(
		SELECT	ISNULL(ShopAttr.kKategorieAttribut, tKategorieAttribut.kKategorieAttribut) AS kKategorieAttribut,
				tKategorieAttribut.kKategorie,
				tKategorieAttribut.kAttribut,
				ISNULL(ShopAttr.kSprache, tKategorieAttributSprache.kSprache) AS kSprache,
				ISNULL(ShopAttr.cWertVarchar, tKategorieAttributSprache.cWertVarchar) AS cWertVarchar,
				ISNULL(ShopAttr.nWertInt, tKategorieAttributSprache.nWertInt) AS nWertInt,
				ISNULL(ShopAttr.fWertDecimal, tKategorieAttributSprache.fWertDecimal) AS fWertDecimal,
				ISNULL(ShopAttr.dWertDateTime, tKategorieAttributSprache.dWertDateTime) AS dWertDateTime
		FROM dbo.tKategorieAttribut
		JOIN dbo.tKategorieAttributSprache ON tKategorieAttribut.kKategorieAttribut = tKategorieAttributSprache.kKategorieAttribut
			AND tShopSprache.kSprache = tKategorieAttributSprache.kSprache
		LEFT JOIN
		(
			SELECT	tKategorieAttribut.kKategorieAttribut,
					tKategorieAttribut.kKategorie,
					tKategorieAttribut.kAttribut,
					tKategorieAttributSprache.kSprache,
					tKategorieAttributSprache.cWertVarchar,
					tKategorieAttributSprache.nWertInt,
					tKategorieAttributSprache.fWertDecimal,
					tKategorieAttributSprache.dWertDateTime
			FROM dbo.tKategorieAttribut
			JOIN dbo.tKategorieAttributSprache ON tKategorieAttribut.kKategorieAttribut = tKategorieAttributSprache.kKategorieAttribut
			WHERE tKategorieShop.kKategorie = tKategorieAttribut.kKategorie
				AND tKategorieShop.kShop = tKategorieAttribut.kShop
		) AS ShopAttr ON tKategorieAttribut.kKategorie = ShopAttr.kKategorie
			AND tKategorieAttribut.kAttribut = ShopAttr.kAttribut
			AND ShopAttr.kSprache = tKategorieAttributSprache.kSprache
		WHERE tKategorieAttribut.kShop = 0
			AND tKategorieShop.kKategorie = tKategorieAttribut.kKategorie
			AND tAttributShop.kAttribut = tKategorieAttribut.kAttribut
	) AS KategorieAttribute 
	JOIN dbo.tAttribut ON tAttribut.kAttribut = KategorieAttribute.kAttribut
	JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
	JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAttribut.kAttribut
	    AND tAttributSprache.kSprache = KategorieAttribute.kSprache
	WHERE tAttribut.nIstMehrsprachig = 1
);
GO
