USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKundenAttribut]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKundenAttribut]
AS
(
	SELECT 
		tKundeEigenesFeld.kKunde, 
		tAttributSprache.cName, 
		CASE tFeldTyp.nDatentyp 
			WHEN 0 THEN CAST(tKundeEigenesFeld.nWertInt AS NVARCHAR(MAX))
			WHEN 1 THEN REPLACE(CAST(tKundeEigenesFeld.fWertDecimal AS NVARCHAR(MAX)),'.',',')
			WHEN 2 THEN CAST(tKundeEigenesFeld.cWertVarchar AS NVARCHAR(MAX))
			WHEN 3 THEN CONVERT(VARCHAR, tKundeEigenesFeld.dWertDateTime, 120) 
		END AS cWert
	FROM Kunde.tKundeEigenesFeld
	JOIN dbo.tAttribut ON tAttribut.kAttribut = Kunde.tKundeEigenesFeld.kAttribut 
		AND tAttribut.cGruppeName = 'Kundenattribute'
	JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAttribut.kAttribut
	JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
);
GO
