USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelDelete]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelDelete]
AS
(
	SELECT 
		tQueue.kWert AS kArtikel,
		tQueue.kShop, 
		tQueue.nInBearbeitung,
		0 AS nType
	FROM dbo.tQueue
	WHERE tQueue.cName = 'tArtikel' AND tQueue.nAction = 2
	UNION ALL
	SELECT 
		tArtikelShop.kArtikel,
		tArtikelShop.kShop,
		tArtikelShop.nInBearbeitung,
		1 AS nType
	FROM dbo.tArtikelShop 
	WHERE tArtikelShop.cInet = 'Y' AND tArtikelShop.cDelInet = 'Y'
    UNION ALL
    SELECT
        tArtikelShop.kArtikel,
        tArtikelShop.kShop,
        tArtikelShop.nInBearbeitung,
        1 AS nType
    FROM dbo.tArtikelShop
    JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelShop.kArtikel
    WHERE tArtikelShop.cInet = 'Y' AND tArtikel.cAktiv = 'N'
);
GO
