USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelEigenschaftWertSichtbarkeit]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelEigenschaftWertSichtbarkeit]
AS
(
	SELECT 
		tEigenschaftWertSichtbarkeit.kKundenGruppe AS kKundengruppe, 
		tEigenschaftWertSichtbarkeit.kEigenschaftWert, 
		tEigenschaftWertSichtbarkeit.kShop
	FROM dbo.tEigenschaftWertSichtbarkeit
);
GO
