USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vMerkmal]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vMerkmal]
AS
(
	SELECT	
		tMerkmal.kMerkmal,
		tMerkmal.nSort,
		tMerkmal.nGlobal,
		tMerkmalSprache.cName,
		tMerkmal.cTyp,
		ISNULL(tMerkmal.nMehrfachauswahl, 0) AS nMehrfachauswahl,
		tQueue.kShop
	FROM dbo.tQueue
	JOIN dbo.tMerkmal ON tQueue.kWert = tMerkmal.kMerkmal
		AND tMerkmal.nVerwendungszweck IN (0, 3)
	JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1 	
	LEFT JOIN dbo.tMerkmalSprache ON tMerkmal.kMerkmal = tMerkmalSprache.kMerkmal
		AND tMerkmalSprache.kSprache = StandardSprache.kSprache
	WHERE tQueue.cName = 'tMerkmal'
		AND tQueue.nInBearbeitung = 1
		AND tQueue.nAction = 1
);
GO
