USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vSteuersatz]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vSteuersatz]
AS
(
	SELECT
		tSteuersatz.kSteuersatz,
		tSteuersatz.kSteuerzone,
		tSteuersatz.kSteuerklasse,
		tSteuersatz.fSteuersatz,
		tSteuersatz.nPrio,
		CASE WHEN tfirma.kFirma IS NULL
			THEN tSteuerzone.kFirma
			ELSE tfirma.kFirma
		END AS kFirma
	FROM dbo.tSteuersatz
	JOIN dbo.tSteuerzone ON tSteuerzone.kSteuerzone = tSteuersatz.kSteuerzone
	LEFT JOIN dbo.tfirma ON tfirma.cLandISO = tSteuerzone.cLandISO
		AND tfirma.kFirma = tSteuerzone.kFirma
	WHERE tfirma.kFirma IS NOT NULL
		OR tSteuerzone.kFirma = 0
)
GO
