USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelAttributMehrsprachig]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelAttributMehrsprachig] 
AS
(
	SELECT 
		tArtikelAttribut.kArtikelAttribut,		
		tArtikelAttributSprache.kSprache,
		tAttribut.nSortierung AS nSort,	
		tArtikelAttribut.kArtikel,
		tAttributSprache.cName AS cName, 
		tArtikelAttributSprache.cWertVarchar AS cWertVarchar, 
		tArtikelAttributSprache.nWertInt AS nWertInt, 
		tArtikelAttributSprache.fWertDecimal AS fWertDecimal, 
		tArtikelAttributSprache.dWertDateTime AS dWertDateTime, 
		tFeldTyp.nDatenTyp AS nDatenTyp,
		tAttributShop.kShop,		
		tAttributShop.kAttribut,
		CASE 
			WHEN tArtikelAttribut.kShop > 0 THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS nIsShopSpecial
	FROM dbo.tAttributShop
	JOIN dbo.tAttribut ON tAttributShop.kAttribut = tAttribut.kAttribut
	JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
	JOIN dbo.tArtikelAttribut ON tAttributShop.kAttribut = tArtikelAttribut.kAttribut
		AND (tArtikelAttribut.kShop = tAttributShop.kShop OR tArtikelAttribut.kShop = 0)
	LEFT JOIN tShopSprache ON tAttributShop.kShop = tShopSprache.kWebShop
	JOIN dbo.tArtikelAttributSprache 
		ON 	tArtikelAttribut.kArtikelAttribut = tArtikelAttributSprache.kArtikelAttribut
	JOIN dbo.tAttributSprache ON tAttributShop.kAttribut = tAttributSprache.kAttribut
								AND tArtikelAttributSprache.kSprache = CASE
																			WHEN tAttribut.nIstStandard = 1
																			THEN tShopSprache.kSprache
																			ELSE tAttributSprache.kSprache
																		END
);
GO
