USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKategorieAttributEinsprachig]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKategorieAttributEinsprachig] AS
(
	SELECT DISTINCT 
		tKategorieAttribut.kKategorieAttribut AS kKategorieAttribut, 	
		ISNULL(tAttributSprache.kSprache, KategorieAttributSpracheDefault.kSprache) AS kSprache, 
		tAttribut.nSortierung AS nSortierung, 
		tKategorieAttribut.kKategorie AS kKategorie, 
		tAttributSprache.cName AS cName, 
		ISNULL(tKategorieAttributSprache.cWertVarchar, KategorieAttributSpracheDefault.cWertVarchar) AS cWertVarchar, 
		ISNULL(tKategorieAttributSprache.nWertInt, KategorieAttributSpracheDefault.nWertInt) AS nWertInt, 
		ISNULL(tKategorieAttributSprache.fWertDecimal, KategorieAttributSpracheDefault.fWertDecimal) AS fWertDecimal, 
		ISNULL(tKategorieAttributSprache.dWertDateTime, KategorieAttributSpracheDefault.dWertDateTime) AS dWertDateTime, 
		tFeldTyp.nDatenTyp AS nDatenTyp, 
		ISNULL(tAttributShop.kShop, tShop.kShop) AS kShop
	FROM dbo.tAttribut 
	CROSS JOIN dbo.tShop
	LEFT JOIN dbo.tAttributShop ON tAttributShop.kAttribut = tAttribut.kAttribut 
	JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1 	
	JOIN dbo.tAttributSprache ON tAttribut.kAttribut = tAttributSprache.kAttribut 	
	JOIN dbo.tKategorieAttribut AS KategorieInfo ON KategorieInfo.kAttribut = tAttribut.kAttribut
	OUTER APPLY 
	(
		SELECT 
			TOP (1) 
			tKategorieAttribut.kKategorieAttribut,
			tKategorieAttribut.kKategorie
		FROM dbo.tKategorieAttribut
		JOIN dbo.tKategorieAttributSprache ON tKategorieAttribut.kKategorieAttribut = tKategorieAttributSprache.kKategorieAttribut		
		WHERE tKategorieAttribut.kAttribut = tAttribut.kAttribut
			AND tKategorieAttribut.kKategorie = KategorieInfo.kKategorie
			AND tKategorieAttribut.kShop IN (0, ISNULL(tAttributShop.kShop, tShop.kShop))
		ORDER BY tKategorieAttribut.kShop DESC
	) AS tKategorieAttribut 

	LEFT JOIN dbo.tKategorieAttributSprache 
		ON tKategorieAttribut.kKategorieAttribut = tKategorieAttributSprache.kKategorieAttribut 
			AND tKategorieAttributSprache.kSprache = tAttributSprache.kSprache
	LEFT JOIN dbo.tKategorieAttributSprache AS KategorieAttributSpracheDefault 
		ON tKategorieAttribut.kKategorieAttribut = KategorieAttributSpracheDefault.kKategorieAttribut 
			AND KategorieAttributSpracheDefault.kSprache = StandardSprache.kSprache
	JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp 	
	WHERE tAttribut.nIstMehrsprachig = 0 
		AND tShop.nTyp = 0 AND tShop.nGesperrt = 0	
	GROUP BY	tKategorieAttribut.kKategorieAttribut,
				ISNULL(tAttributSprache.kSprache, KategorieAttributSpracheDefault.kSprache),
				tAttribut.nSortierung,
				tKategorieAttribut.kKategorie,
				tAttributSprache.cName,
				ISNULL(tKategorieAttributSprache.cWertVarchar, KategorieAttributSpracheDefault.cWertVarchar),
				ISNULL(tKategorieAttributSprache.nWertInt, KategorieAttributSpracheDefault.nWertInt),
				ISNULL(tKategorieAttributSprache.fWertDecimal, KategorieAttributSpracheDefault.fWertDecimal),
				ISNULL(tKategorieAttributSprache.dWertDateTime, KategorieAttributSpracheDefault.dWertDateTime),
				tFeldTyp.nDatenTyp,
				ISNULL(tAttributShop.kShop, tShop.kShop)					
);
GO
