USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vMerkmalwertBild]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vMerkmalwertBild]
AS
(
	SELECT 
		tMerkmalwertBildPlattform.kMerkmalwertBildPlattform, 
		tMerkmalwertBildPlattform.kMerkmalwert, 
		tMerkmalwertBildPlattform.kPlattform, 
		tMerkmalwertBildPlattform.kShop, 
		tMerkmalwertBildPlattform.kBild, 
		tMerkmalwertBildPlattform.nInet,
		tBild.bBild,
		tBild.nDateigroesse,
		tBild.cHash
	FROM tMerkmalwertBildPlattform
	JOIN dbo.tBild ON tBild.kBild = tMerkmalwertBildPlattform.kBild
	WHERE tMerkmalwertBildPlattform.nInet > 0
		AND tBild.bBild IS NOT NULL
);
GO
