USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelBild]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelBild]
AS
(
	SELECT 
		tBild.kBild,
		tBild.bBild,
		tBild.nDateigroesse,
		tBild.cHash
	FROM dbo.tBild	
	WHERE tBild.bBild IS NOT NULL
);
GO
