USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKundengruppeAttribut]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKundengruppeAttribut]
AS 
(
	SELECT
		tKundenGruppeAttribute.kKundenGruppeAttribute AS kKundengruppeAttribut,
		tKundenGruppeAttribute.kKundenGruppe AS kKundengruppe,
		tKundenGruppeAttribute.cName,
		tKundenGruppeAttribute.cValue AS cWert
	FROM dbo.tKundenGruppeAttribute
)
GO
