USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vDownloaddateiDelete]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vDownloaddateiDelete]
AS
(	
	SELECT 
		tDownloadShop.kDownload,
		tDownloadShop.kShop,
		0 AS nDataType
	FROM dbo.tDownloadShop	
	WHERE tDownloadShop.kDownload != 0 AND tDownloadShop.cInet = 'Y' AND tDownloadShop.cDelInet = 'Y'
	UNION
	SELECT 
		tQueue.kWert AS kDownload,		
		tQueue.kShop,
		1 AS nDataType
	FROM dbo.tQueue		
	WHERE tQueue.cName = 'tDownload' AND tQueue.nInBearbeitung = 1 AND tQueue.nAction = 2
);
GO
