USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vWaehrung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vWaehrung]
AS
(
	SELECT
		tWaehrung.kWaehrung,
		tWaehrung.cName,
		tWaehrung.cEAMapping AS cISO,
		tWaehrung.cNameHTML,
		tWaehrung.fFaktor,
		tShopWaehrung.nStandard,
		tWaehrung.nVorBetrag,
		tWaehrung.cTrennzeichenCent,
		tWaehrung.cTrennzeichenTausend,
		tShopWaehrung.kWebShop AS kShop
	FROM dbo.tWaehrung
	JOIN dbo.tShopWaehrung ON tShopWaehrung.kWaehrung = tWaehrung.kWaehrung
)
GO
