USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vHerstellerSprache]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vHerstellerSprache]
AS
(
	SELECT 
		tHerstellerSprache.kHersteller,
		tHerstellerSprache.kSprache,
		tHerstellerSprache.cBeschreibung,
		tHerstellerSprache.cMetaDescription,
		tHerstellerSprache.cMetaKeywords,
		tHerstellerSprache.cMetaTitle,
		tHerstellerSprache.cSeo
	FROM dbo.tHerstellerSprache 
);
GO
