USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelXSell]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelXSell]
AS
(
	SELECT 
		tXSell.kXSell,		
		tXSell.kXSellArtikel,
		tXSell.kXSellGruppe,
		tXSell.kArtikel
	FROM dbo.tXSell
);
GO
