USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vMerkmalwert]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vMerkmalwert]
AS
(
	SELECT	
		tMerkmalWert.kMerkmalWert,
		tMerkmalWert.kMerkmal,
		tMerkmalWert.nSort
	FROM dbo.tMerkmal
	JOIN dbo.tMerkmalWert ON tMerkmal.kMerkmal = tMerkmalWert.kMerkmal
	WHERE tMerkmal.nVerwendungszweck IN (0, 3)
);
GO
