USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKategorieArtikel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKategorieArtikel] 
AS
(
	SELECT 
		tKategorieArtikel.kKategorieArtikel,
		tKategorieArtikel.kKategorie,
		tKategorieArtikel.kArtikel,
		tKategorieShop.kShop
	FROM dbo.tKategorieArtikel
	JOIN dbo.tKategorieShop ON tkategorieartikel.kKategorie = tKategorieShop.kKategorie
	WHERE tKategorieShop.cDelInet <> 'Y'
);
GO
