USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAuftragUpdatePositionVariation]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vAuftragUpdatePositionVariation]
AS
(
	SELECT
		tAuftragPositionEigenschaft.kAuftragPosition,
		tAuftragPositionEigenschaft.kEigenschaft,
		tAuftragPositionEigenschaft.kEigenschaftWert,
		tAuftragPositionEigenschaft.cName AS cEigenschaftName,
		tAuftragPositionEigenschaft.cWert AS cEigenschaftWertName,
		tAuftragPositionEigenschaft.cWert AS cFreifeldWert,
		tAuftragPositionEigenschaft.fAufpreisNetto AS fAufpreis
	FROM Verkauf.tAuftragPositionEigenschaft
);
GO
