USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vEinheit]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vEinheit]
AS
(
	SELECT
		tEinheit.kEinheit,
		tEinheitSprache.kSprache,
		tEinheitSprache.cName
	FROM dbo.tEinheit
	JOIN dbo.tEinheitSprache ON tEinheitSprache.kEinheit = tEinheit.kEinheit
)
GO
