USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vGutschein]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vGutschein]
AS
(
	SELECT	
		tGutschein.kGutschein, 
		tInetKundeShop.kInetKunde,
		tGutschein.fWert,
		tGutschein.cGrund,
		tGutschein.kShop
	FROM dbo.tGutschein
	JOIN dbo.tInetKundeShop ON tGutschein.kShop = tInetKundeShop.kShop
		AND tGutschein.kKunde = tInetKundeShop.kKunde
	WHERE tGutschein.cInet = 'Y'
		AND tInetKundeShop.nRegistriert = 1
);
GO
