USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelSonderpreis]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelSonderpreis]
AS
(
	SELECT 
		tArtikelSonderpreis.kArtikelSonderpreis,
		tArtikelSonderpreis.kArtikel, 
		CASE WHEN tArtikelSonderpreis.nAktiv > 0
			THEN 'Y'
			ELSE 'N'
		END AS cAktiv,		
		tArtikelSonderpreis.dStart, 
		tArtikelSonderpreis.nAnzahl, 
		tArtikelSonderpreis.dEnde, 
		tArtikelSonderpreis.nIstAnzahl,
		tArtikelSonderpreis.nIstDatum,
		tSonderpreise.kKundenGruppe,
		tSonderpreise.fNettoPreis,
		tSonderpreise.kShop
	FROM dbo.tArtikelSonderpreis
	JOIN dbo.tSonderpreise ON tArtikelSonderpreis.kArtikelSonderpreis = tSonderpreise.kArtikelSonderpreis
);
GO
