USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelQuickSyncPreis]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelQuickSyncPreis]
AS
(
	SELECT
		tArtikel.kArtikel,
		tArtikel.fVKNetto AS fStandardpreisNetto,
		tArtikelShop.kShop
	FROM dbo.tArtikel
	JOIN dbo.tArtikelShop ON tArtikelShop.kArtikel = tArtikel.kArtikel
	WHERE tArtikel.cAktiv = 'Y'
		AND tArtikelShop.cInet = 'Y'
)
GO
