USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vGlobalsQueue]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vGlobalsQueue]
AS
(
	SELECT
		tGlobalsQueue.kShop,
        tGlobalsQueue.nType,
        tGlobalsQueue.cName,
        tGlobalsQueue.kKey,
        tGlobalsQueue.cText
	FROM dbo.tGlobalsQueue
)
GO
