USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vLieferscheinPositionInfo]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vLieferscheinPositionInfo]
AS
(
	SELECT	
		tLieferscheinPos.kLieferscheinPos,
		tLagerArtikel.cSeriennr,
		tWarenLagerEingang.dMHD,
		tWarenLagerEingang.cChargenNr
	FROM dbo.tLieferscheinPos
	LEFT JOIN dbo.tLagerArtikel ON tLieferscheinPos.kLieferscheinPos = tLagerArtikel.kLieferscheinPos
	LEFT JOIN dbo.tWarenLagerAusgang ON tLieferscheinPos.kLieferscheinPos = tWarenLagerAusgang.kLieferscheinPos
	LEFT JOIN dbo.tWarenLagerEingang ON tWarenLagerAusgang.kWarenLagerEingang = tWarenLagerEingang.kWarenLagerEingang
	GROUP BY 
		tLieferscheinPos.kLieferscheinPos,
		tLagerArtikel.cSeriennr,
		tWarenLagerEingang.dMHD,
		tWarenLagerEingang.cChargenNr
);
GO
