USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelMedienDateiSprache]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelMedienDateiSprache]
AS
(
	SELECT 
		tMedienDateiSprache.kMedienDatei,
		tMedienDateiSprache.kSprache,
		tMedienDateiSprache.cName,
		tMedienDateiSprache.cBeschreibung
	FROM dbo.tMedienDateiSprache 
);
GO
