USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vInetKundeShop]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vInetKundeShop]
AS
(
	SELECT
		tInetKundeShop.kInetKunde,
        tInetKundeShop.kShop,
        tInetKundeShop.kKundenGruppe,
        tInetKundeShop.dKundeSeit,
        tInetKundeShop.cInet,
        tInetKundeShop.kKunde,
        tInetKundeShop.nRegistriert,
        tInetKundeShop.cShopKundenNr
	FROM dbo.tInetKundeShop
);
GO
