USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAuftragUpdatePosition]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vAuftragUpdatePosition]
AS
(
	SELECT
		tAuftragPosition.kAuftrag,
		tAuftragPosition.kArtikel,
		tArtikel.kVersandklasse,
		tAuftragPosition.cName,
		tLieferStatus.cName AS cLieferstatus,
		tAuftragPosition.cArtNr,
		tAuftragPosition.cEinheit,
		tAuftragPosition.fVKNetto * (100.0 - tAuftragPosition.fRabatt) / 100.0 AS fPreisEinzelNetto,
		tAuftragPosition.fVKNetto * (100.0 - tAuftragPosition.fRabatt) / 100.0 AS fPreis,
		tAuftragPosition.fMwSt,
		tAuftragPosition.fAnzahl AS nAnzahl,
		tAuftragPosition.nType AS nPosTyp,
		tAuftragPosition.cHinweis,
		ISNULL(tAuftragPosition.kKonfigItem, 0) AS kKonfigitem,
		CAST(tAuftragPosition.kKonfigVater AS NVARCHAR(30)) AS cUnique,
		tAuftragPosition.kAuftragPosition AS kBestellpos
	FROM Verkauf.tAuftragPosition
	JOIN Verkauf.tAuftrag ON tAuftragPosition.kAuftrag = tAuftrag.kAuftrag
	LEFT JOIN dbo.tArtikel ON tAuftragPosition.kArtikel = tArtikel.kArtikel
	LEFT JOIN dbo.tLieferStatus ON tArtikel.kLieferStatus = tLieferStatus.kLieferStatus
		AND tLieferStatus.kSprache = tAuftrag.kSprache
	WHERE tAuftragPosition.kAuftragStueckliste IS NULL OR tAuftragPosition.kAuftragStueckliste = tAuftragPosition.kAuftragPosition
);
GO
