USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vWarenlager]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vWarenlager]
AS
(
	SELECT
		tWarenLager.kWarenLager,
		tWarenLager.cName,
		tWarenLager.cKuerzel,
		tWarenLager.cLagerTyp,
		tWarenLager.cBeschreibung,
		tWarenLager.cStrasse,
		tWarenLager.cPLZ,
		tWarenLager.cOrt,
		tWarenLager.cLand,
		tWarenLager.nFulfillment
	FROM dbo.tWarenLager
	WHERE tWarenLager.nAktiv > 0
)
GO
