USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKategorieSprache]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKategorieSprache] AS
(
	SELECT DISTINCT	
		tKategorieSprache.kSprache AS kSprache,
		tKategorieSprache.kKategorie AS kKategorie,		
		ISNULL(tKategorieSprache.cName, KategorieSpracheFallback.cName) AS cName,		
		ISNULL(tKategorieSprache.cUrlPfad, KategorieSpracheFallback.cUrlPfad) AS cUrlPfad,
		ISNULL(tKategorieSprache.cTitleTag, KategorieSpracheFallback.cTitleTag) AS cTitleTag,
		ISNULL(tKategorieSprache.cMetaKeywords, KategorieSpracheFallback.cMetaKeywords) AS cMetaKeywords,
		ISNULL(tKategorieSprache.cMetaDescription, KategorieSpracheFallback.cMetaDescription) AS cMetaDescription,
		ISNULL(tKategorieSprache.cBeschreibung, KategorieSpracheFallback.cBeschreibung) AS cBeschreibung,
		ISNULL(tKategorieSprache.kShop, KategorieSpracheFallback.kShop) AS kShop,		
		tKategorieSprache.kPlattform AS kPlattfrom
	FROM dbo.tKategorieSprache	
	LEFT JOIN
	(
		SELECT kSprache, kKategorie, kPlattform, kShop, cName, cUrlPfad, cTitleTag, cMetaKeywords, cMetaDescription, cBeschreibung
		FROM dbo.tKategorieSprache
		WHERE tKategorieSprache.kShop = 0
	) AS KategorieSpracheFallback ON tKategorieSprache.kKategorie = KategorieSpracheFallback.kKategorie
		AND tKategorieSprache.kSprache = KategorieSpracheFallback.kSprache
		AND tKategorieSprache.kPlattform = KategorieSpracheFallback.kPlattform
);
GO
