USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAuftragzahlung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vAuftragzahlung]
AS
(
	SELECT 
		tZahlung.kZahlung,
		tZahlung.cName,
		tZahlung.fBetrag,
		tZahlung.dDatum,
		tZahlung.nAnzahlung,
		tZahlung.kBestellung
	FROM dbo.tZahlung
);
GO
