USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKonfigGruppeSprache]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKonfigGruppeSprache]
AS
(
	SELECT 
		tkonfiggruppesprache.kKonfiggruppe,
		tkonfiggruppesprache.kSprache,
		CASE 
			WHEN tkonfiggruppesprache.cName IS NULL OR tkonfiggruppesprache.cName = '' THEN Fallback.cName
			ELSE tkonfiggruppesprache.cName
		END AS cName,	
		tkonfiggruppesprache.cBeschreibung,
		tShopSprache.kWebShop AS kShop
	FROM dbo.tkonfiggruppesprache
	JOIN dbo.tShopSprache ON tShopSprache.kSprache = tkonfiggruppesprache.kSprache
	JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1 	
	LEFT JOIN dbo.tkonfiggruppesprache AS Fallback ON tkonfiggruppesprache.kKonfiggruppe = Fallback.kKonfiggruppe
		AND Fallback.kSprache = StandardSprache.kSprache
);
GO
