USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vMassEinheit]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vMassEinheit]
AS
(
	SELECT
		tMassEinheit.kMassEinheit,
		tMassEinheit.cCode,
		tMassEinheit.cDisplayCode,
		tMassEinheit.kBezugsMassEinheit,
		tMassEinheit.fBezugsMassEinheitFaktor
	FROM dbo.tMassEinheit
)
GO
