USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelMedienDateiAttribut]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelMedienDateiAttribut]
AS
(
	SELECT 
		tMedienDateiAttribut.kMediendateiAttribut AS kMedienDateiAttribut,
		tMedienDateiAttribut.kMedienDatei,
		tMedienDateiAttribut.kSprache,
		tMedienDateiAttribut.cName,
		tMedienDateiAttribut.cWert
	FROM dbo.tMedienDateiAttribut 
);
GO
