USE [eazybusiness]
GO
/****** Object:  View [DbeS].[lvInetBestellung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[lvInetBestellung] AS
(
	SELECT 
		tinetbestellung.kInetBestellung,
		tinetbestellung.kShop,
		tinetbestellung.cInetBestNr,
		tinetbestellung.dTimestamp,		
		tinetbestellung.cKommentar,
		tAdresse.cVorname AS cRechnungVorname,
		tAdresse.cName AS cRechnungName,
		tAdresse.cFirma AS cRechnungFirma,
		tAdresse.cStrasse AS cRechnungStrasse,
		tAdresse.cPLZ AS cRechnungPLZ,
		tAdresse.cOrt AS cRechnungOrt,
		tAdresse.cLand AS cRechnungLand,
		tAdresse.cTel AS cRechnungTel,
		tAdresse.cMail AS cRechnungMail,
		tInetAdress.cVorname AS cLieferVorname,
		tInetAdress.cNachname AS cLieferName,
		tInetAdress.cFirma AS cLieferFirma,
		tInetAdress.cStrasse AS cLieferStrasse,
		tInetAdress.cPLZ AS cLieferPLZ,
		tInetAdress.cStadt AS cLieferOrt,
		tInetAdress.cLand AS cLieferLand,
		tInetAdress.cTel AS cLieferTel,
		tInetAdress.cMail AS cLieferMail,
		tinetadress.kInetAdress AS kInetAdress
	FROM dbo.tinetbestellung 
	LEFT JOIN dbo.tInetKundeShop ON tinetbestellung.kKunde = tInetKundeShop.kInetKunde AND tinetbestellung.kShop = tInetKundeShop.kShop
	LEFT JOIN dbo.tAdresse ON tAdresse.kKunde = tInetKundeShop.kKunde AND tAdresse.nStandard = 1 AND tAdresse.nTyp = 1
	LEFT JOIN dbo.tinetadress ON tinetadress.kShop = tinetbestellung.kShop AND tinetadress.kInetAdress = tinetbestellung.kLieferAdresse
);
GO
