USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelEigenschaftWertAufpreis]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelEigenschaftWertAufpreis]
AS
(
	SELECT 
		tEigenschaftWertAufpreis.kKundenGruppe AS kKundengruppe, 
		tEigenschaftWertAufpreis.kEigenschaftWert,		
		tEigenschaftWertAufpreis.fAufpreisNetto,
		tEigenschaftWertAufpreis.kShop
	FROM dbo.tEigenschaftWertAufpreis
);
GO
