USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelEigenschaftSichtbarkeit]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelEigenschaftSichtbarkeit]
AS
(
	SELECT 
		tEigenschaftSichtbarkeit.kKundenGruppe,
		tEigenschaftSichtbarkeit.kEigenschaft,		
		tEigenschaftSichtbarkeit.kShop
	FROM dbo.tEigenschaftSichtbarkeit		
);
GO
