USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelKonfigGruppe]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelKonfigGruppe]
AS
(
	SELECT 
		tArtikelkonfiggruppe.kKonfiggruppe,
		tArtikelkonfiggruppe.kArtikel,
		tArtikelkonfiggruppe.nSort
	FROM dbo.tArtikelkonfiggruppe 
);
GO
