USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelBildPlattform]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelBildPlattform]
AS
(
	SELECT 
		tArtikelBildPlattform.kArtikelBildPlattform,
		tArtikelBildPlattform.kArtikel,		
		tArtikelBildPlattform.kShop,
		tArtikelBildPlattform.kBild,
		tArtikelBildPlattform.nNr,
		tArtikelBildPlattform.nInet
	FROM dbo.tArtikelBildPlattform	
	WHERE tArtikelBildPlattform.nInet > 0
		AND tArtikelBildPlattform.kShop > 0
);
GO
