USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKategorieSichtbarkeit]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKategorieSichtbarkeit]
AS
(
	SELECT 
		tKategorieSichtbarkeit.kKundenGruppe AS kKundengruppe,
		tKategorieSichtbarkeit.kKategorie,		
		tKategorieSichtbarkeit.kShop
	FROm dbo.tKategorieSichtbarkeit
)
GO
