USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAuftragUpdateLieferadresse]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vAuftragUpdateLieferadresse]
AS
(
	SELECT
		Lieferadresse.kAuftrag,
		Lieferadresse.cAnrede,
		Lieferadresse.cVorname,
		Lieferadresse.cName AS cNachname,
		Lieferadresse.cTitel,
		ISNULL(Lieferadresse.cFirma, '') + ISNULL(IIF(Lieferadresse.cFirma IS NULL, '', ' ') + Lieferadresse.cZusatz, '') AS cFirma,
		Lieferadresse.cStrasse,
		Lieferadresse.cAdressZusatz,
		Lieferadresse.cPLZ,
		Lieferadresse.cOrt,
		Lieferadresse.cBundesland,
		Lieferadresse.cISO AS cLand,
		Lieferadresse.cTel,
		Lieferadresse.cMobil,
		Lieferadresse.cFax,
		Lieferadresse.cMail
	FROM Verkauf.vAuftragLieferadresse AS Lieferadresse
);
GO
