USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelAbnahme]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelAbnahme]
AS
(
	SELECT 
		tArtikelAbnahme.kArtikel, 
		tArtikelAbnahme.kKundengruppe, 
		tArtikelAbnahme.fMindestabnahme,
		tArtikelAbnahme.fIntervall	
	FROM dbo.tArtikelAbnahme
);
GO
