USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vMerkmalSprache]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vMerkmalSprache]
AS
(
	SELECT 
		tMerkmalSprache.kSprache,
		tMerkmalSprache.kMerkmal,
		tMerkmalSprache.cName
	FROM dbo.tMerkmalSprache 
);
GO
