USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAuftraginformation]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vAuftraginformation]
AS
(
	SELECT 
		tAuftrag.kAuftrag,
		tAuftrag.kShopauftrag,
		tAuftrag.dVoraussichtlichesLieferdatum,
		CASE 
			WHEN tAuftrag.nKomplettAusgeliefert = 1 AND VersandInfo.AnzahlUnversendet > 0
			THEN 0
			ELSE ISNULL(CAST(tAuftrag.nKomplettAusgeliefert AS TINYINT), 0)
		END AS nKomplettAusgeliefert,	
		vAuftragAdresse.cPLZ,	
		tAuftrag.kShop,
		Versand.dVersendet AS dVersandt,
		Versand.cIdentCode,
		Versand.cHinweis AS cVersandInfo,
		Versand.cName AS cLogistik,	
		Versand.cTrackingUrlTemplate,
		CASE 
			WHEN tAuftragEckdaten.dBezahlt IS NULL THEN 'N'
			ELSE 'Y'
		END AS cBezahlt,
		tAuftragEckdaten.dBezahlt AS dBezahltAm,
		Zahlung.cName AS cZahlungsartName
	FROM Verkauf.tAuftrag 
	JOIN Verkauf.tAuftragEckdaten ON tAuftrag.kAuftrag = tAuftragEckdaten.kAuftrag
	LEFT JOIN Verkauf.vAuftragAdresse ON
		CASE 
			WHEN tAuftrag.kAuftrag IS NULL 
			THEN NULL 
			ELSE tAuftrag.kAuftrag 
		END = vAuftragAdresse.kAuftrag
		AND vAuftragAdresse.nTyp = 0
	OUTER APPLY
	(
		SELECT 
			TOP(1)				
			tVersand.kVersandArt,
			tVersand.cIdentCode,
			tVersand.dVersendet,
			tVersand.cHinweis,
			tVersandArt.cName,
			tversandart.cTrackingUrlTemplate
		FROM dbo.tVersand 
		JOIN dbo.tLieferschein ON tLieferschein.kLieferschein = tVersand.kLieferschein AND tLieferschein.kBestellung = tAuftrag.kAuftrag
		JOIN dbo.tVersandArt ON tVersand.kVersandArt = tVersandArt.kVersandArt
		WHERE tVersand.dVersendet IS NOT NULL		
		ORDER BY kVersand
	) AS Versand
	OUTER APPLY
	(
		SELECT COUNT(*) AS AnzahlUnversendet
		FROM dbo.tLieferschein 
		JOIN dbo.tVersand ON tVersand.kLieferschein = tLieferschein.kLieferschein
		WHERE tLieferschein.kBestellung = tAuftrag.kAuftrag
			AND tVersand.dVersendet IS NULL
	) AS VersandInfo
	OUTER APPLY
	(
		SELECT 
			TOP(1)
			tZahlung.cName
		FROM dbo.tZahlung
		WHERE tZahlung.kBestellung = tAuftrag.kAuftrag
		ORDER BY tZahlung.kZahlung DESC
	) AS Zahlung
	WHERE tAuftrag.nType != 0 AND tAuftrag.cInet = 'P' AND tAuftrag.nStorno = 0
);
GO
