USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelWarenlager]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelWarenlager] AS
(
	SELECT 
		[vLagerbestandProLagerNurMitBestand].kArtikel, 
		[vLagerbestandProLagerNurMitBestand].kWarenlager,
		[vLagerbestandProLagerNurMitBestand].fBestand
	FROM dbo.[vLagerbestandProLagerNurMitBestand]
	WHERE vLagerbestandProLagerNurMitBestand.fBestand > 0.0
);
GO
