USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAuftragUpdateRechnungsadresse]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- WAWI-57673 Beginn

CREATE VIEW [DbeS].[vAuftragUpdateRechnungsadresse]
AS
(
	SELECT
		Rechnungsadresse.kAuftrag,
		Rechnungsadresse.cAnrede,
		Rechnungsadresse.cVorname,
		Rechnungsadresse.cName AS cNachname,
		Rechnungsadresse.cTitel,
		ISNULL(Rechnungsadresse.cFirma, '') + ISNULL(IIF(Rechnungsadresse.cFirma IS NULL, '', ' ') + Rechnungsadresse.cZusatz, '') AS cFirma,
		Rechnungsadresse.cStrasse,
		Rechnungsadresse.cAdressZusatz,
		Rechnungsadresse.cPLZ,
		Rechnungsadresse.cOrt,
		Rechnungsadresse.cBundesland,
		Rechnungsadresse.cISO AS cLand,
		Rechnungsadresse.cTel,
		Rechnungsadresse.cMobil,
		Rechnungsadresse.cFax,
		IIF(tAuftrag.cKundeUstId IS NULL OR LEN(tAuftrag.cKundeUstId) = 0, tAdresse.cUSTID, tAuftrag.cKundeUstId) AS cUSTID,
		tkunde.cWWW,
		Rechnungsadresse.cMail
	FROM Verkauf.vAuftragRechnungsadresse AS Rechnungsadresse
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = Rechnungsadresse.kAuftrag
	LEFT JOIN dbo.tkunde ON Rechnungsadresse.kKunde = tkunde.kKunde
	LEFT JOIN dbo.tAdresse ON tkunde.kKunde = tAdresse.kKunde
		AND tAdresse.nTyp = 1
		AND tAdresse.nStandard = 1
);
GO
