USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelMedienDatei]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelMedienDatei]
AS
(
	SELECT 
		tMedienDatei.kMedienDatei,
		tMedienDatei.kArtikel,
		tMedienDatei.cPfad,
		tMedienDatei.cURL,
		tMedienDatei.cKategorie,
		tMedienDatei.cTyp,
		tMedienDatei.nSort,
		tMedienDateiShop.kShop
	FROM dbo.tMedienDatei 
	JOIN dbo.tMedienDateiShop ON tMedienDatei.kMedienDatei = tMedienDateiShop.kMedienDatei
);
GO
