USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vLieferscheinPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vLieferscheinPosition]
AS
(
	SELECT	
		tLieferscheinPos.kLieferschein,
		tLieferscheinPos.kLieferscheinPos,
		tLieferscheinPos.kBestellPos,
		tLieferscheinPos.fAnzahl,
		tLieferscheinPos.cHinweis
	FROM dbo.tLieferscheinPos
	JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tLieferscheinPos.kBestellPos
	WHERE tAuftragPosition.nType != 15
);
GO
