USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vLieferstatus]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vLieferstatus]
AS
(
	SELECT 
		tLieferStatus.kLieferStatus,
		tLieferStatus.kSprache,
		tLieferStatus.cName
	FROM dbo.tLieferStatus
)
GO
