USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKategorieBild]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKategorieBild]
AS
(
	SELECT 
		tKategorieBildPlattform.kKategoriebildPlattform,
		tKategorieBildPlattform.kKategorie,
		tKategorieBildPlattform.kPlattform,
		tKategorieBildPlattform.kShop,
		tKategorieBildPlattform.kBild,
		tKategorieBildPlattform.nInet,
		tBild.bBild,
		tBild.nDateigroesse,
		tBild.cHash
	FROM dbo.tKategorieBildPlattform
	JOIN dbo.tBild ON tBild.kBild = tKategorieBildPlattform.kBild
	WHERE tKategorieBildPlattform.nInet > 0
		AND tKategorieBildPlattform.kShop > 0
		AND tKategorieBildPlattform.nNr = 1
		AND tBild.bBild IS NOT NULL
);
GO
