USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vAdresse]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vAdresse]
AS
(
	SELECT 
		tAdresse.kAdresse,						
		tAdresse.kKunde,		
		tAdresse.cAnrede,
		tAdresse.cFirma,
		tAdresse.cISO AS cLand,
		tAdresse.cName AS cNachname,
		tAdresse.cOrt,
		tAdresse.cPLZ,
		tAdresse.cStrasse,
		tAdresse.cTel,
		tAdresse.cTitel,
		tAdresse.cVorname,
		tAdresse.cAdressZusatz,
		tAdresse.cMobil,
		tAdresse.cMail,
		tAdresse.cFax,
		tAdresse.cBundesland,
		tAdresse.cZusatz,
		tAdresse.nStandard,
		tAdresse.nTyp,
		tAdresse.cUSTID
	FROM dbo.tAdresse	
);
GO
