USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vHersteller]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vHersteller]
AS
(
	SELECT	
		tHersteller.kHersteller, 
		tHersteller.cName, 
		tHersteller.cHomepage, 
		tHersteller.nSort, 
		tHerstellerSprache.cSeo,
		tQueue.kShop
	FROM dbo.tQueue 
	JOIN dbo.tHersteller ON tQueue.kWert = tHersteller.kHersteller
	JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1 
	LEFT JOIN dbo.tHerstellerSprache ON tHersteller.kHersteller = tHerstellerSprache.kHersteller 
		AND tHerstellerSprache.kSprache = StandardSprache.kSprache 
	WHERE tQueue.cName = 'tHersteller' 
		AND tQueue.nInBearbeitung = 1
		AND tQueue.nAction = 1
);
GO
