USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vDeletedQueue]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vDeletedQueue]
AS
(
	SELECT 
		tQueue.kShop,
		tQueue.cName,
		tQueue.kWert,
		tQueue.nAction,
		tQueue.kOption1,
		tQueue.kOption2,
		tQueue.nInBearbeitung
	FROM tQueue
	WHERE tQueue.nInBearbeitung = 1	
		AND tQueue.nAction = 2
);
GO
