USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vFirma]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vFirma]
AS
(
	SELECT
		tfirma.kFirma,
		tfirma.cName,
		tfirma.cUnternehmer,
		tfirma.cStrasse,
		tfirma.cPLZ,
		tfirma.cOrt,
		tfirma.cLand,
		tfirma.cTel,
		tfirma.cFax,
		tfirma.cEMail,
		tfirma.cWWW,
		tfirma.cBLZ,
		tfirma.cKontoNr,
		tfirma.cBank,
		tFirmaUStIdNr.cUStId,
		tfirma.cSteuerNr,
		tfirma.cIBAN,
		tfirma.cBIC,
		tfirma.cKontoInhaber AS cKontoinhaber,
		tShop.kShop
	FROM dbo.tfirma
	JOIN dbo.tShop ON tShop.kFirma = tfirma.kFirma
	LEFT JOIN dbo.tFirmaUStIdNr ON tFirmaUStIdNr.cLandISO = tfirma.cLandISO
		AND tFirmaUStIdNr.kFirma = tfirma.kFirma
)
GO
