USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vMassEinheitSprache]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vMassEinheitSprache]
AS
(
	SELECT
		tMassEinheitSprache.kMassEinheit,
		tMassEinheitSprache.kSprache,
		tMassEinheitSprache.cName
	FROM dbo.tMassEinheitSprache
)
GO
