USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vSteuerzone]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vSteuerzone]
AS
(	
	SELECT
		tSteuerzone.kSteuerzone,
		tSteuerzone.kFirma,
		tSteuerzone.cName
	FROM dbo.tSteuerzone
	LEFT JOIN dbo.tfirma ON tfirma.cLandISO = tSteuerzone.cLandISO
		AND tfirma.kFirma = tSteuerzone.kFirma
	WHERE tfirma.kFirma IS NOT NULL
		OR tSteuerzone.kFirma = 0
)
GO
