USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelEigenschaft]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelEigenschaft]
AS
(
	SELECT
		tEigenschaft.kEigenschaft, 
		tEigenschaft.kArtikel, 
		tEigenschaftSprache.cName, 
		tEigenschaft.cWaehlbar, 
		tEigenschaft.nSort, 
		tEigenschaft.cTyp, 		
		tEigenschaftSprache.kSprache
	FROM dbo.tEigenschaft
	JOIN tEigenschaftSprache ON tEigenschaftSprache.kEigenschaft = tEigenschaft.kEigenschaft		
);
GO
