USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKategorieDelete]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKategorieDelete]
AS
(
	SELECT 
		tQueue.kWert AS kKategorie,
		tQueue.kShop, 
		tQueue.nInBearbeitung,
		0 AS nType
	FROM tQueue
	WHERE tQueue.cName = 'tkategorie' AND tQueue.nAction = 2
	UNION
	SELECT 
		tKategorieShop.kKategorie,
		tKategorieShop.kShop,
		tKategorieShop.nInBearbeitung,
		1 AS nType
	FROM tKategorieShop 
	WHERE tKategorieShop.cInet = 'Y' AND tKategorieShop.cDelInet = 'Y'
);
GO
