USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vXSellGruppe]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vXSellGruppe]
AS
(	
	SELECT 
		tXSellGruppe.kXSellGruppe,
		tXSellGruppe.kSprache,
		tXSellGruppe.cName,
		tXSellGruppe.cBeschreibung
	FROM dbo.tXSellGruppe
)
GO
