USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelPreise]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelPreise]
AS
WITH Preisdefinitionen AS
(
	--
	--Individuelle Staffelpreise für Shop
	--
	SELECT	
		tPreis.kArtikel, 
		tPreis.kKundenGruppe, 
		tPreis.kKunde, 
		tPreis.kShop, 
		1 AS IstStaffelpreis, 
		0 AS IstVKNetto,
		tInetKundeShop.kInetKunde
	FROM dbo.tPreis
	JOIN dbo.tPreisDetail ON tPreis.kPreis = tPreisDetail.kPreis
	LEFT JOIN dbo.tInetKundeShop ON tInetKundeShop.kKunde = tPreis.kKunde AND tInetKundeShop.kKunde > 0
	WHERE tPreisDetail.nAnzahlAb > 0.0
		AND tPreis.kShop > 0
	GROUP BY 
		tPreis.kArtikel,
		tPreis.kKundenGruppe,
		tPreis.kKunde,
		tPreis.kShop,
		tInetKundeShop.kInetKunde
	UNION ALL
	--
	--Individuelle Standardpreise für Shop
	--
	SELECT
		tPreis.kArtikel, 
		tPreis.kKundenGruppe, 
		tPreis.kKunde, 
		CASE 
			WHEN tPreis.kShop > 0 THEN tPreis.kShop
			ELSE ISNULL(tInetKundeShop.kShop, 0)
		END AS kShop, 
		0 AS IstStaffelpreis, 
		1 AS IstVKNetto,
		tInetKundeShop.kInetKunde
	FROM dbo.tPreis
	JOIN dbo.tPreisDetail ON tPreis.kPreis = tPreisDetail.kPreis
	LEFT JOIN dbo.tInetKundeShop ON tInetKundeShop.kKunde = tPreis.kKunde AND tInetKundeShop.kKunde > 0
	WHERE tPreisDetail.nAnzahlAb = 0.0
		AND (tPreis.kShop > 0 OR tInetKundeShop.kShop > 0)
	GROUP BY
		tPreis.kArtikel,
		tPreis.kKundenGruppe,
		tPreis.kKunde,
		CASE 
			WHEN tPreis.kShop > 0 THEN tPreis.kShop
			ELSE ISNULL(tInetKundeShop.kShop, 0)
		END,
		tInetKundeShop.kInetKunde
)
SELECT
	PreisdetailsMitFallback.kPreis, 
	PreisdetailsMitFallback.kArtikel, 
	PreisdetailsMitFallback.kKundenGruppe, 
	PreisdetailsMitFallback.kShop, 
	PreisdetailsMitFallback.kKunde,
	PreisdetailsMitFallback.kInetKunde
FROM
(
	--
	--Staffelpreise als Fallback für Shops ohne individuelle Staffeln
	--
	SELECT
		tPreis.kPreis, 
		tPreis.kArtikel, 
		tPreis.kKundenGruppe, 
		tPreis.kKunde, 
		tShop.kShop, 
		tPreisDetail.nAnzahlAb, 
		tPreisDetail.fNettoPreis, 
		tPreisDetail.fProzent,
		tInetKundeShop.kInetKunde
	FROM dbo.tPreis
	JOIN dbo.tPreisDetail ON tPreis.kPreis = tPreisDetail.kPreis
	CROSS JOIN dbo.tShop
	LEFT JOIN Preisdefinitionen ON tPreis.kArtikel = Preisdefinitionen.kArtikel
		AND tPreis.kKundenGruppe = Preisdefinitionen.kKundenGruppe
		AND tPreis.kKunde = Preisdefinitionen.kKunde
		AND tShop.kShop = Preisdefinitionen.kShop
		AND Preisdefinitionen.IstStaffelpreis = 1
	LEFT JOIN dbo.tInetKundeShop ON tInetKundeShop.kKunde = tPreis.kKunde AND tInetKundeShop.kKunde > 0
	JOIN dbo.tShopKundenGruppe ON tShopKundenGruppe.kKundenGruppe = tPreis.kKundenGruppe
		AND tShop.kShop = tShopKundenGruppe.kWebShop
	WHERE tPreisDetail.nAnzahlAb > 0.0
		AND tPreis.kShop = 0
		AND tShop.nGesperrt = 0
		AND Preisdefinitionen.kShop IS NULL
	UNION
	--
	--Individuelle Staffelpreise
	--
	SELECT
		tPreis.kPreis, 
		tPreis.kArtikel, 
		tPreis.kKundenGruppe, 
		tPreis.kKunde, 
		CASE 
			WHEN tPreis.kShop > 0 THEN tPreis.kShop
			ELSE ISNULL(tInetKundeShop.kShop, 0)
		END AS kShop,
		tPreisDetail.nAnzahlAb, 
		tPreisDetail.fNettoPreis, 
		tPreisDetail.fProzent,
		tInetKundeShop.kInetKunde
	FROM dbo.tPreis
	JOIN dbo.tPreisDetail ON tPreis.kPreis = tPreisDetail.kPreis
	LEFT JOIN dbo.tInetKundeShop ON tInetKundeShop.kKunde = tPreis.kKunde AND tInetKundeShop.kKunde > 0
	WHERE (tPreis.kShop > 0 OR tInetKundeShop.kShop > 0)
		AND tPreisDetail.nAnzahlAb > 0.0
	UNION
	--
	--Standardpreise als Fallback für Shops ohne individuelle Standardpreise
	--
	SELECT
		tPreis.kPreis, 
		tPreis.kArtikel, 
		tPreis.kKundenGruppe, 
		tPreis.kKunde, 
		tShop.kShop, 
		tPreisDetail.nAnzahlAb, 
		tPreisDetail.fNettoPreis, 
		tPreisDetail.fProzent,
		NULL AS kInetKunde
	FROM dbo.tPreis
	JOIN dbo.tPreisDetail ON tPreis.kPreis = tPreisDetail.kPreis
	CROSS JOIN dbo.tShop
	LEFT JOIN Preisdefinitionen ON tPreis.kArtikel = Preisdefinitionen.kArtikel
		AND tPreis.kKundenGruppe = Preisdefinitionen.kKundenGruppe
		AND tPreis.kKunde = Preisdefinitionen.kKunde
		AND tShop.kShop = Preisdefinitionen.kShop
		AND Preisdefinitionen.IstVKNetto = 1
	WHERE tPreisDetail.nAnzahlAb = 0.0
		AND tPreis.kShop = 0
		AND tShop.nGesperrt = 0
		AND tPreis.kKundenGruppe > 0
		AND Preisdefinitionen.kShop IS NULL
	UNION
	--
	--Individuelle Standardpreise
	--
	SELECT
		tPreis.kPreis, 
		tPreis.kArtikel, 
		tPreis.kKundenGruppe, 
		tPreis.kKunde, 
		CASE 
			WHEN tPreis.kShop > 0 THEN tPreis.kShop
			ELSE ISNULL(tInetKundeShop.kShop, 0)
		END AS kShop,
		tPreisDetail.nAnzahlAb, 
		tPreisDetail.fNettoPreis, 
		tPreisDetail.fProzent,
		tInetKundeShop.kInetKunde
	FROM dbo.tPreis
	JOIN dbo.tPreisDetail ON tPreis.kPreis = tPreisDetail.kPreis
	LEFT JOIN dbo.tInetKundeShop ON tInetKundeShop.kKunde = tPreis.kKunde AND tInetKundeShop.kKunde > 0
	WHERE (tPreis.kShop > 0 OR tInetKundeShop.kShop > 0)
		AND tPreisDetail.nAnzahlAb = 0.0
) AS PreisdetailsMitFallback
GROUP BY
	PreisdetailsMitFallback.kPreis, 
	PreisdetailsMitFallback.kArtikel, 
	PreisdetailsMitFallback.kKundenGruppe, 
	PreisdetailsMitFallback.kShop, 
	PreisdetailsMitFallback.kKunde,
	PreisdetailsMitFallback.kInetKunde
GO
