USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vMerkmalwertSprache]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vMerkmalwertSprache]
AS
(
	SELECT 
		tMerkmalWertSprache.kSprache,
		tMerkmalWertSprache.kMerkmalWert,
		tMerkmalWertSprache.cWert,
		tMerkmalWertSprache.cSeo,
		tMerkmalWertSprache.cBeschreibung,
		tMerkmalWertSprache.cMetaDescription,
		tMerkmalWertSprache.cMetaTitle,
		tMerkmalWertSprache.cMetaKeywords,
        tShopSprache.kWebShop AS kShop
	FROM dbo.tMerkmalWertSprache
    JOIN dbo.tShopSprache ON tShopSprache.kSprache = tMerkmalWertSprache.kSprache
);
GO
