USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKundengruppeSprache]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKundengruppeSprache]
AS
(
	SELECT
		tKundenGruppeSprache.kKundenGruppe AS kKundengruppe,
		tKundenGruppeSprache.kSprache,
		tKundenGruppeSprache.cName
	FROM dbo.tKundenGruppeSprache
)
GO
