USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelEigenschaftWertAbhaengigkeit]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelEigenschaftWertAbhaengigkeit]
AS
(
	SELECT 
		tEigenschaftWertAbhaengigkeit.kEigenschaftWert, 
		tEigenschaftWertAbhaengigkeit.kEigenschaftWertZiel,
		tEigenschaftWertAbhaengigkeit.kEigenschaftWertAbhaengigkeit
	FROM dbo.tEigenschaftWertAbhaengigkeit
);
GO
