USE [eazybusiness]
GO
/****** Object:  Table [DbeS].[tRechnungadresse]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DbeS].[tRechnungadresse](
	[kInetBestellung] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[kRechnungadresse] [int] NOT NULL,
	[kInetKunde] [int] NULL,
	[cAnrede] [nvarchar](30) NULL,
	[cTitel] [nvarchar](64) NULL,
	[cVorname] [nvarchar](255) NULL,
	[cNachname] [nvarchar](255) NULL,
	[cFirma] [nvarchar](128) NULL,
	[cZusatz] [nvarchar](60) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cAdressZusatz] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](20) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cBundesland] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[cLandISO] [nvarchar](5) NULL,
	[cTel] [nvarchar](45) NULL,
	[cMobil] [nvarchar](30) NULL,
	[cFax] [nvarchar](45) NULL,
	[cUSTID] [nvarchar](20) NULL,
	[cWWW] [nvarchar](255) NULL,
	[cMail] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_DbeS_tRechnungadresse] PRIMARY KEY CLUSTERED 
(
	[kInetBestellung] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DbeS].[tRechnungadresse] ADD  CONSTRAINT [DF_DbeS_tRechnungadresse_kShop]  DEFAULT ((0)) FOR [kShop]
GO
