USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelQuickSyncBestand]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelQuickSyncBestand]
AS
(
	SELECT
		tArtikel.kArtikel,
		CASE 
			WHEN tArtikel.cLagerVariation != 'Y' AND tArtikel.nIstVater <= 0
				THEN ISNULL(tlagerbestand.fVerfuegbar, 0)
			WHEN tArtikel.cLagerVariation != 'Y' AND tArtikel.nIstVater > 0
				THEN CASE WHEN ISNULL(tlagerbestand.fVerfuegbar, 0) - tArtikel.nPuffer < 0
							THEN 0
						ELSE ISNULL(tlagerbestand.fVerfuegbar, 0) - tArtikel.nPuffer
					END
			ELSE tlagerbestand.fVerfuegbar
		END AS fLagerbestand,
		tArtikelShop.kShop
	FROM dbo.tArtikel
	JOIN dbo.tArtikelShop ON tArtikelShop.kArtikel = tArtikel.kArtikel
	LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tArtikel.kArtikel
	WHERE tArtikel.cAktiv = 'Y'
		AND tArtikelShop.cInet = 'Y'
)
GO
