USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vKundengruppe]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vKundengruppe]
AS 
(
	SELECT
		tKundenGruppe.kKundengruppe,
		tKundenGruppe.cName,
		ROUND(tKundenGruppe.fRabatt, 2) AS fRabatt,
		tShopKundenGruppe.nStandard,
		tKundenGruppe.nShopLogin,
		tKundenGruppe.nNettoPreise,
		tShopKundenGruppe.kWebShop AS kShop
	FROM dbo.tKundenGruppe
	JOIN dbo.tShopKundenGruppe ON tShopKundenGruppe.kKundenGruppe = tKundenGruppe.kKundengruppe
)
GO
