USE [eazybusiness]
GO
/****** Object:  View [DbeS].[vArtikelStueckliste]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DbeS].[vArtikelStueckliste]
AS
(
	SELECT 
		tStueckliste.kStueckliste,
		tStueckliste.kArtikel,
		tStueckliste.fAnzahl
	FROM dbo.tStueckliste 	
);
GO
