USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferavisIdentifier]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferavisIdentifier](
	[kLieferavisIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[kLieferavisPaket] [int] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cWert] [nvarchar](1024) NOT NULL,
 CONSTRAINT [PK_dbo_kLieferavisIdentifier] PRIMARY KEY CLUSTERED 
(
	[kLieferavisIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferavisIdentifier]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tLieferavisPaket_kPaket] FOREIGN KEY([kLieferavisPaket])
REFERENCES [dbo].[tLieferavisPaket] ([kLieferavisPaket])
GO
ALTER TABLE [dbo].[tLieferavisIdentifier] CHECK CONSTRAINT [FK_dbo_tLieferavisPaket_kPaket]
GO
