USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tnews]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tnews](
	[kNews] [int] NULL,
	[dErstellt] [nvarchar](12) NULL,
	[cBetreff] [nvarchar](255) NULL,
	[cText] [nvarchar](max) NULL,
	[cPicture] [nvarchar](255) NULL,
	[cInet] [char](1) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
