USE [eazybusiness]
GO
/****** Object:  View [dbo].[vEbayUserBestellungen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vEbayUserBestellungen] 
AS 
SELECT EbayUserBestellungen.kBestellung, EbayUserBestellungen.kEbayuser FROM  
( 
	SELECT ebay_transaction.kBestellung, 
	CASE WHEN ebay_transaction.kAlien = 0 THEN ebay_item.kEbayuser ELSE ebay_alienitem.kEbayuser END AS kEbayuser 
	FROM ebay_transaction 
	LEFT JOIN ebay_item ON ebay_transaction.ItemID = ebay_item.ItemID 
	LEFT JOIN ebay_alienitem ON ebay_transaction.ItemID = ebay_alienitem.ItemID 
) AS EbayUserBestellungen 
WHERE EbayUserBestellungen.kEbayuser IS NOT NULL AND EbayUserBestellungen.kBestellung <> 0 
GROUP BY EbayUserBestellungen.kBestellung, EbayUserBestellungen.kEbayuser
GO
