USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Auswahl]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Auswahl](
	[kAuswahl] [bigint] IDENTITY(1,1) NOT NULL,
	[kKunde] [bigint] NULL,
	[kBenutzer_Ausgabe] [bigint] NULL,
	[dDatum_Ausgabe] [datetime] NULL,
	[bData] [image] NOT NULL,
 CONSTRAINT [PK_POS_Auswahl] PRIMARY KEY CLUSTERED 
(
	[kAuswahl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
