USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_isglobalname]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_isglobalname](
	[kName] [int] NULL,
	[cName] [nvarchar](255) NULL
) ON [PRIMARY]
GO
