USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerPlatzArtikel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerPlatzArtikel](
	[kWarenLagerPlatz] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cKommentar_1] [nvarchar](255) NULL,
	[cKommentar_2] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenLagerPlatzArtikel] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerPlatz] ASC,
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
