USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRMRetoure]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRMRetoure](
	[kRMRetoure] [int] IDENTITY(1,1) NOT NULL,
	[kRMStatus] [int] NOT NULL,
	[kKunde] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cRetoureNr] [nvarchar](255) NOT NULL,
	[cAnsprechpartner] [nvarchar](255) NULL,
	[dErstellt] [datetime] NOT NULL,
	[cKommentarExtern] [nvarchar](max) NULL,
	[kRMRetoureAbholAdresse] [int] NOT NULL,
	[kWarenlager] [int] NULL,
	[kFirma] [int] NOT NULL,
	[nHerkunft] [tinyint] NOT NULL,
	[cKommentarIntern] [nvarchar](max) NULL,
	[fKorrekturBetrag] [decimal](25, 13) NOT NULL,
	[nVersandkostenErstatten] [tinyint] NOT NULL,
	[cKorrekturBetragKommentar] [nvarchar](max) NULL,
	[kBestellungUmtausch] [int] NULL,
	[kGutschrift] [int] NULL,
	[kBestellung] [int] NULL,
	[cFfnReturnId] [nvarchar](255) NULL,
	[cExternalNumber] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nKuponGutschriftGutschreiben] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_tRMRetoure] PRIMARY KEY CLUSTERED 
(
	[kRMRetoure] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRMRetoure] ADD  DEFAULT ((0)) FOR [nKuponGutschriftGutschreiben]
GO
