USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_Leecher_VariationMapping]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_Leecher_VariationMapping](
	[kEbayLeecherVariationMapping] [int] IDENTITY(1,1) NOT NULL,
	[cIso1] [nvarchar](10) NOT NULL,
	[cValue1] [nvarchar](max) NOT NULL,
	[cIso2] [nvarchar](10) NOT NULL,
	[cValue2] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo_ebay_Leecher_VariationMapping] PRIMARY KEY CLUSTERED 
(
	[kEbayLeecherVariationMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
