USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tStatistikvorlagenserialisierung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tStatistikvorlagenserialisierung](
	[kStatistikvorlagenserialisierung] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cAuswertungsvorlage] [nvarchar](max) NOT NULL,
	[cDarstellungsvorlage] [nvarchar](max) NOT NULL,
	[cName] [nvarchar](100) NOT NULL,
	[cBeschreibung] [nvarchar](1000) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tStatistikvorlagenserialisierung] PRIMARY KEY CLUSTERED 
(
	[kStatistikvorlagenserialisierung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
