USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVerfuegbarkeitsAnfrage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVerfuegbarkeitsAnfrage](
	[kVerfuegbarkeitsanfrage] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NULL,
	[kShop] [int] NULL,
	[cEMail] [nvarchar](255) NULL,
	[dDatum] [datetime] NULL,
	[cName] [nvarchar](255) NULL,
	[cVorname] [nvarchar](255) NULL,
	[cAnrede] [nvarchar](255) NULL,
	[kInetVerfuegbarkeit] [int] NULL,
	[nStatus] [smallint] NULL,
	[dBenachrichtigtAm] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVerfuegbarkeitsAnfrage] PRIMARY KEY CLUSTERED 
(
	[kVerfuegbarkeitsanfrage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tVerfuegbarkeitsAnfrage]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tVerfuegbarkeitsAnfrage_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tVerfuegbarkeitsAnfrage] CHECK CONSTRAINT [FK_dbo_tVerfuegbarkeitsAnfrage_kArtikel]
GO
ALTER TABLE [dbo].[tVerfuegbarkeitsAnfrage]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tVerfuegbarkeitsAnfrage_kShop] FOREIGN KEY([kShop])
REFERENCES [dbo].[tShop] ([kShop])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tVerfuegbarkeitsAnfrage] CHECK CONSTRAINT [FK_dbo_tVerfuegbarkeitsAnfrage_kShop]
GO
