USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferscheinPos]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferscheinPos](
	[kLieferscheinPos] [int] IDENTITY(1,1) NOT NULL,
	[kLieferschein] [int] NOT NULL,
	[kBestellPos] [int] NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[cHinweis] [nvarchar](4000) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferscheinPos] PRIMARY KEY CLUSTERED 
(
	[kLieferscheinPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferscheinPos] ADD  CONSTRAINT [DF_dbo_tLieferscheinPos_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[tLieferscheinPos] ADD  CONSTRAINT [DF_dbo_tLieferscheinPos_cHinweis]  DEFAULT (NULL) FOR [cHinweis]
GO
