USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPreiskalkulationLogbuch]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreiskalkulationLogbuch](
	[kLogbuch] [int] IDENTITY(1,1) NOT NULL,
	[cPlattform] [nvarchar](255) NULL,
	[cKategorie] [nvarchar](30) NULL,
	[cBetreff] [nvarchar](255) NULL,
	[cLog] [nvarchar](255) NULL,
	[dZeit] [datetime] NULL,
	[cArtikel] [nvarchar](255) NULL,
	[cArtNr] [nvarchar](255) NULL,
	[kUSer] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPreiskalkulationLogbuch] PRIMARY KEY CLUSTERED 
(
	[kLogbuch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
