USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBenutzerAktiv]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBenutzerAktiv](
	[kBenutzerAktiv] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NULL,
	[nApplikation] [int] NULL,
	[dLetzteAktion] [datetime] NULL,
	[cUniqueId] [nvarchar](255) NULL,
	[cCustom] [nvarchar](255) NULL,
	[bAbmelden] [tinyint] NULL,
	[cRechnername] [nvarchar](255) NULL,
	[kWarenlager] [int] NULL,
	[kMandant] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tBenutzerAktiv] PRIMARY KEY CLUSTERED 
(
	[kBenutzerAktiv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
