USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFormularEMailEinstellung]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFormularEMailEinstellung](
	[kFormularEMailEinstellung] [int] IDENTITY(1,1) NOT NULL,
	[kFormular] [int] NOT NULL,
	[cBcc] [nvarchar](127) NOT NULL,
	[nSignieren] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFormularEMailEinstellung] PRIMARY KEY CLUSTERED 
(
	[kFormularEMailEinstellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tFormularEMailEinstellung_kFormular] UNIQUE NONCLUSTERED 
(
	[kFormular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
