USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPreisDetail]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreisDetail](
	[kPreis] [int] NOT NULL,
	[nAnzahlAb] [int] NOT NULL,
	[fNettoPreis] [decimal](25, 13) NOT NULL,
	[fProzent] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPreisDetail] PRIMARY KEY CLUSTERED 
(
	[kPreis] ASC,
	[nAnzahlAb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPreisDetail] ADD  CONSTRAINT [DF_dbo_tPreisDetail_fNettoPreis]  DEFAULT ((0.0)) FOR [fNettoPreis]
GO
ALTER TABLE [dbo].[tPreisDetail] ADD  CONSTRAINT [DF_dbo_tPreisDetail_fProzent]  DEFAULT ((0.0)) FOR [fProzent]
GO
