USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tartikelkonfiggruppe]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tartikelkonfiggruppe](
	[kArtikelkonfiggruppe] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kKonfiggruppe] [int] NOT NULL,
	[nSort] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tartikelkonfiggruppe] PRIMARY KEY CLUSTERED 
(
	[kArtikelkonfiggruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tartikelkonfiggruppe]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelkonfiggruppe_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tartikelkonfiggruppe] CHECK CONSTRAINT [FK_dbo_tArtikelkonfiggruppe_kArtikel]
GO
ALTER TABLE [dbo].[tartikelkonfiggruppe]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelkonfiggruppe_kKonfiggruppe] FOREIGN KEY([kKonfiggruppe])
REFERENCES [dbo].[tkonfiggruppe] ([kKonfiggruppe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tartikelkonfiggruppe] CHECK CONSTRAINT [FK_dbo_tArtikelkonfiggruppe_kKonfiggruppe]
GO
