USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Bonpark]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Bonpark](
	[kBonpark] [bigint] IDENTITY(1,1) NOT NULL,
	[dDatum] [datetime] NULL,
	[kBenutzer] [int] NOT NULL,
	[cBenutzerName] [varchar](255) NULL,
	[kKunde] [int] NOT NULL,
	[cKundeName] [varchar](255) NULL,
	[kKasse] [int] NOT NULL,
	[fBetrag] [real] NOT NULL,
	[fAnzahl] [real] NOT NULL,
	[cData] [image] NOT NULL,
 CONSTRAINT [PK_POS_Bonpark] PRIMARY KEY CLUSTERED 
(
	[kBonpark] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
