USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSteuersatzschluessel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSteuersatzschluessel](
	[kSteuersatz] [int] NOT NULL,
	[kWarengruppe] [int] NOT NULL,
	[kVersandart] [int] NOT NULL,
	[nPositionstyp] [int] NOT NULL,
	[kSteuerschluessel] [int] NULL,
	[kStSchlIGL] [int] NULL,
	[kStSchlUStIGL] [int] NULL,
	[kStSchlReverse] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSteuersatzschluessel] PRIMARY KEY CLUSTERED 
(
	[kSteuersatz] ASC,
	[kWarengruppe] ASC,
	[kVersandart] ASC,
	[nPositionstyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
