USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tinetkunde]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tinetkunde](
	[kInetKunde] [int] NOT NULL,
	[cKundenNr] [nvarchar](20) NULL,
	[cBenutzername] [nvarchar](20) NULL,
	[cPasswort] [nvarchar](20) NULL,
	[cAnrede] [nvarchar](30) NULL,
	[cVorname] [nvarchar](128) NULL,
	[cNachname] [nvarchar](128) NULL,
	[cFirma] [nvarchar](128) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](20) NULL,
	[cStadt] [nvarchar](64) NULL,
	[cLand] [nvarchar](64) NULL,
	[cTel] [nvarchar](45) NULL,
	[cFax] [nvarchar](45) NULL,
	[cMail] [nvarchar](255) NULL,
	[cHaendler] [char](1) NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[cUSTID] [nvarchar](20) NULL,
	[cTitel] [nvarchar](64) NULL,
	[cNewsletter] [char](1) NULL,
	[cAdressZusatz] [nvarchar](255) NULL,
	[cGeburtstag] [nvarchar](32) NULL,
	[cWWW] [nvarchar](255) NULL,
	[kShop] [int] NOT NULL,
	[kKundenGruppe] [int] NULL,
	[cMobil] [nvarchar](30) NULL,
	[nAktiv] [tinyint] NULL,
	[kSprache] [int] NULL,
	[cBundesland] [nvarchar](255) NULL,
	[cHerkunft] [nvarchar](255) NULL,
	[nRegistriert] [smallint] NULL,
	[cZusatz] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tinetkunde] PRIMARY KEY CLUSTERED 
(
	[kInetKunde] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tinetkunde] ADD  CONSTRAINT [DF_dbo_tinetkunde_fRabatt]  DEFAULT ((0.0)) FOR [fRabatt]
GO
ALTER TABLE [dbo].[tinetkunde] ADD  CONSTRAINT [DF_dbo_tinetkunde_kShop]  DEFAULT ((0)) FOR [kShop]
GO
ALTER TABLE [dbo].[tinetkunde] ADD  CONSTRAINT [DF_dbo_tinetkunde_cMobil]  DEFAULT ('') FOR [cMobil]
GO
ALTER TABLE [dbo].[tinetkunde] ADD  CONSTRAINT [DF_dbo_tinetkunde_nAktiv]  DEFAULT ((0)) FOR [nAktiv]
GO
