USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_exportvorlage]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_exportvorlage](
	[kExportVorlage] [int] IDENTITY(1,1) NOT NULL,
	[kExportTyp] [int] NOT NULL,
	[kExportVorlageFilter] [int] NOT NULL,
	[kStandardVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nDateiformat] [tinyint] NOT NULL,
	[nSpaltenbegrenzer] [tinyint] NOT NULL,
	[nKopfzeile] [tinyint] NOT NULL,
	[nQuote] [tinyint] NOT NULL,
	[nEscape] [tinyint] NOT NULL,
	[cUebersicht] [nvarchar](max) NULL,
	[dErstellt] [datetime] NULL,
	[nDeleted] [tinyint] NOT NULL,
	[cExt] [nvarchar](max) NULL,
	[nDezimalTrennzeichen] [tinyint] NULL,
	[nTausenderTrennzeichen] [tinyint] NULL,
	[nNachkommastellen] [tinyint] NULL,
	[cEncoding] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_dbo_ameise_exportvorlage] PRIMARY KEY CLUSTERED 
(
	[kExportVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ameise_exportvorlage] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlage_kExportVorlageFilter]  DEFAULT ((0)) FOR [kExportVorlageFilter]
GO
ALTER TABLE [dbo].[ameise_exportvorlage] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlage_kStandardVorlage]  DEFAULT ((0)) FOR [kStandardVorlage]
GO
ALTER TABLE [dbo].[ameise_exportvorlage] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlage_nDateiformat]  DEFAULT ((0)) FOR [nDateiformat]
GO
ALTER TABLE [dbo].[ameise_exportvorlage] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlage_nSpaltenbegrenzer]  DEFAULT ((0)) FOR [nSpaltenbegrenzer]
GO
ALTER TABLE [dbo].[ameise_exportvorlage] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlage_nKopfzeile]  DEFAULT ((0)) FOR [nKopfzeile]
GO
ALTER TABLE [dbo].[ameise_exportvorlage] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlage_nQuote]  DEFAULT ((0)) FOR [nQuote]
GO
ALTER TABLE [dbo].[ameise_exportvorlage] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlage_nEscape]  DEFAULT ((0)) FOR [nEscape]
GO
ALTER TABLE [dbo].[ameise_exportvorlage] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlage_nDeleted]  DEFAULT ((0)) FOR [nDeleted]
GO
ALTER TABLE [dbo].[ameise_exportvorlage] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlage_cEncoding]  DEFAULT ('Windows1252') FOR [cEncoding]
GO
