USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVoucherCloudLogeintrag]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVoucherCloudLogeintrag](
	[kVoucherCloudLogeintrag] [int] IDENTITY(1,1) NOT NULL,
	[dZeitpunkt] [datetime] NOT NULL,
	[nSchweregrad] [tinyint] NOT NULL,
	[kShop] [int] NULL,
	[cMeldung] [nvarchar](2048) NULL,
 CONSTRAINT [PK_dbo_tVoucherCloudLogeintrag] PRIMARY KEY CLUSTERED 
(
	[kVoucherCloudLogeintrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
