USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKategoriebildPlattform]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKategoriebildPlattform](
	[kKategoriebildPlattform] [int] IDENTITY(1,1) NOT NULL,
	[kBild] [int] NOT NULL,
	[kKategorie] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[nNr] [int] NOT NULL,
	[nInet] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tKategoriebildPlattform] PRIMARY KEY CLUSTERED 
(
	[kKategoriebildPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tKategoriebildPlattform_kKategorie_kPlattform_kShop_nNr] UNIQUE NONCLUSTERED 
(
	[kKategorie] ASC,
	[kPlattform] ASC,
	[kShop] ASC,
	[nNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tKategoriebildPlattform] ADD  CONSTRAINT [DF_dbo_tKategoriebildPlattform_nInet]  DEFAULT ((1)) FOR [nInet]
GO
ALTER TABLE [dbo].[tKategoriebildPlattform]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tKategoriebildPlattform_nNr] CHECK  (([nNr]>(0)))
GO
ALTER TABLE [dbo].[tKategoriebildPlattform] CHECK CONSTRAINT [CK_dbo_tKategoriebildPlattform_nNr]
GO
