USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferavisPaket]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferavisPaket](
	[kLieferavisPaket] [int] IDENTITY(1,1) NOT NULL,
	[kLieferavis] [int] NOT NULL,
	[nPaketNummer] [int] NOT NULL,
	[cVersanddienstleister] [nvarchar](512) NOT NULL,
	[cTrackingId] [nvarchar](512) NULL,
	[cTrackingUrl] [nvarchar](2048) NULL,
	[fGewicht] [decimal](25, 13) NULL,
	[dVersanddatum] [datetime] NULL,
	[dVoraussichtlichesLieferdatum] [datetime] NULL,
	[nFrachtart] [int] NOT NULL,
	[nStatus] [int] NOT NULL,
	[cNotiz] [nvarchar](max) NOT NULL,
	[fBreite] [decimal](25, 13) NULL,
	[fTiefe] [decimal](25, 13) NULL,
	[fHoehe] [decimal](25, 13) NULL,
	[nAnzahlFrachtstuecke] [int] NULL,
 CONSTRAINT [PK_dbo_tPaket] PRIMARY KEY CLUSTERED 
(
	[kLieferavisPaket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferavisPaket] ADD  CONSTRAINT [DF_dbo_tLieferavisPaket_cFrachtart]  DEFAULT ((1)) FOR [nFrachtart]
GO
ALTER TABLE [dbo].[tLieferavisPaket]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tLieferavisPaket_kLieferavis] FOREIGN KEY([kLieferavis])
REFERENCES [dbo].[tLieferavis] ([kLieferavis])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tLieferavisPaket] CHECK CONSTRAINT [FK_dbo_tLieferavisPaket_kLieferavis]
GO
