USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSqlError]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSqlError](
	[kSqlError] [int] IDENTITY(1,1) NOT NULL,
	[kErrorMessage] [int] NOT NULL,
	[cErrorData] [xml] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSqlError] PRIMARY KEY CLUSTERED 
(
	[kSqlError] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tSqlError]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tSqlError_kErrorMessage] FOREIGN KEY([kErrorMessage])
REFERENCES [dbo].[tSqlErrorMessages] ([kErrorMessage])
GO
ALTER TABLE [dbo].[tSqlError] CHECK CONSTRAINT [FK_dbo_tSqlError_kErrorMessage]
GO
