USE [eazybusiness]
GO
/****** Object:  View [dbo].[vBestellungEckdaten]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vBestellungEckdaten] AS  SELECT * FROM DEPRECATED.vBestellungEckDaten
GO
