USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_mapitemSuchStrings]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_mapitemSuchStrings](
	[kEbay_mapitemSuchString] [int] IDENTITY(1,1) NOT NULL,
	[cSuchStringAnfang] [nvarchar](max) NOT NULL,
	[cSuchStringEnde] [nvarchar](max) NOT NULL,
	[nSource] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_mapitemSuchStrings] PRIMARY KEY CLUSTERED 
(
	[kEbay_mapitemSuchString] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
