USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSessionId]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSessionId](
	[kSessionId] [int] IDENTITY(1,1) NOT NULL,
	[cRechnername] [nvarchar](255) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dLastAction] [datetime] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSessionId] PRIMARY KEY CLUSTERED 
(
	[kSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
