USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_logbuch]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_logbuch](
	[kEbayLogbuch] [int] IDENTITY(1,1) NOT NULL,
	[kEbayuser] [int] NOT NULL,
	[cBetreff] [nvarchar](255) NOT NULL,
	[nKategorie] [int] NOT NULL,
	[nTyp] [int] NOT NULL,
	[cLog] [nvarchar](max) NULL,
	[dZeit] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_logbuch] PRIMARY KEY CLUSTERED 
(
	[kEbayLogbuch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
