USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRMRetoureAustauschArtikel]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRMRetoureAustauschArtikel](
	[kRMRetoureAustauschArtikel] [int] IDENTITY(1,1) NOT NULL,
	[kRMRetoure] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fVkPreis] [decimal](25, 13) NOT NULL,
	[fVkNetto] [decimal](25, 13) NOT NULL,
	[cHinweis] [nvarchar](max) NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRMRetoureAustauschArtikel] PRIMARY KEY CLUSTERED 
(
	[kRMRetoureAustauschArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRMRetoureAustauschArtikel] ADD  CONSTRAINT [DF_dbo_tRMRetoureAustauschArtikel_fMwSt]  DEFAULT ((0)) FOR [fMwSt]
GO
