USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferantenBestellungErinnerungPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferantenBestellungErinnerungPos](
	[kLieferantenBestellungErinnerung] [int] NOT NULL,
	[kLieferantenBestellung] [int] NOT NULL,
	[kLieferantenBestellungPos] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferantenBestellungErinnerungPos] PRIMARY KEY CLUSTERED 
(
	[kLieferantenBestellungErinnerung] ASC,
	[kLieferantenBestellung] ASC,
	[kLieferantenBestellungPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferantenBestellungErinnerungPos] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellungErinnerungPos_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
