USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEigenschaftWertSichtbarkeit]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEigenschaftWertSichtbarkeit](
	[kEigenschaftWert] [int] NOT NULL,
	[kKundenGruppe] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tEigenschaftWertSichtbarkeit] PRIMARY KEY CLUSTERED 
(
	[kEigenschaftWert] ASC,
	[kKundenGruppe] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
