USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_zahlung_out]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_zahlung_out](
	[kEbayCheckout] [int] NULL,
	[dDatum] [nvarchar](12) NULL,
	[fBetrag] [decimal](25, 13) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_zahlung_out] ADD  CONSTRAINT [DF_dbo_ebay_zahlung_out_fBetrag]  DEFAULT ((0.0)) FOR [fBetrag]
GO
