USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_exportvorlagefilter]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_exportvorlagefilter](
	[kExportVorlageFilter] [int] IDENTITY(1,1) NOT NULL,
	[kStandardfilter] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nFilterArt] [tinyint] NOT NULL,
	[cUebersicht] [nvarchar](max) NULL,
	[cExt] [nvarchar](255) NULL,
	[cSortierSpalte] [nvarchar](255) NULL,
	[cSortierReihenfolge] [nvarchar](255) NULL,
	[dErstellt] [datetime] NULL,
	[cExtMerkmale] [nvarchar](50) NULL,
	[cExtAttribute] [nvarchar](50) NULL,
	[cExtEigeneFelder] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo_ameise_exportvorlagefilter] PRIMARY KEY CLUSTERED 
(
	[kExportVorlageFilter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
