USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUpdateLog]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUpdateLog](
	[kUpdateLog] [int] IDENTITY(1,1) NOT NULL,
	[cModul] [nvarchar](50) NOT NULL,
	[dZeitstempel] [datetime] NOT NULL,
	[nSchweregrad] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cMeldung] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo_tUpdateLog] PRIMARY KEY CLUSTERED 
(
	[kUpdateLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
