USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_transaction]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_transaction](
	[kTransaction] [int] IDENTITY(1,1) NOT NULL,
	[kBuyer] [int] NULL,
	[AdjustmentAmount] [decimal](25, 13) NOT NULL,
	[AmountPaid] [decimal](25, 13) NOT NULL,
	[BestOfferSale] [tinyint] NULL,
	[BuyerPaidStatus] [nvarchar](255) NULL,
	[ConvertedAdjustmentAmount] [decimal](25, 13) NOT NULL,
	[ConvertedAmountPaid] [decimal](25, 13) NOT NULL,
	[ConvertedTransactionPrice] [decimal](25, 13) NOT NULL,
	[CreateDate] [datetime] NULL,
	[FL_CommentText] [nvarchar](255) NULL,
	[FL_CommentType] [nvarchar](255) NULL,
	[FL_TargetUser] [nvarchar](255) NULL,
	[FR_CommentText] [nvarchar](255) NULL,
	[FR_CommentType] [nvarchar](255) NULL,
	[FR_TargetUser] [nvarchar](255) NULL,
	[FinalValueFee] [decimal](25, 13) NOT NULL,
	[PaidTime] [datetime] NULL,
	[QuantityPurchased] [int] NULL,
	[ShippedTime] [datetime] NULL,
	[SSS_ExpeditedService] [tinyint] NULL,
	[SSS_ShippingInsuranceCost] [decimal](25, 13) NOT NULL,
	[SSS_ShippingService] [nvarchar](255) NULL,
	[SSS_ShippingServiceAdditionalCost] [decimal](25, 13) NOT NULL,
	[SSS_ShippingServiceCost] [decimal](25, 13) NOT NULL,
	[Status_BuyerSelectedShipping] [tinyint] NULL,
	[Status_CheckoutStatus] [nvarchar](255) NULL,
	[Status_CompleteStatus] [nvarchar](255) NULL,
	[Stauts_eBayPaymentStatus] [nvarchar](255) NULL,
	[Status_LastTimeModified] [datetime] NULL,
	[Status_PaymentMethodUsed] [nvarchar](255) NULL,
	[TransactionID] [nvarchar](255) NULL,
	[TransactionPrice] [decimal](25, 13) NOT NULL,
	[Status] [tinyint] NULL,
	[ItemID] [nvarchar](255) NULL,
	[dZahlungsdatum] [datetime] NULL,
	[kBestellung] [int] NULL,
	[kAlien] [tinyint] NULL,
	[VAT] [decimal](25, 13) NOT NULL,
	[nCheckout] [tinyint] NULL,
	[cDispute] [nvarchar](255) NULL,
	[cDisputeInfo] [nvarchar](512) NULL,
	[kEigenschaftKombi] [int] NULL,
	[VariationTitle] [nvarchar](255) NULL,
	[SKU] [nvarchar](64) NULL,
	[SiteID] [int] NOT NULL,
	[nKonflikt] [tinyint] NULL,
	[Currency] [nvarchar](255) NULL,
	[kEbayUser] [int] NULL,
	[nZuletztAktualisiert] [bigint] NULL,
 CONSTRAINT [PK_dbo_ebay_transaction] PRIMARY KEY CLUSTERED 
(
	[kTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_ebay_transaction_ItemID_TransactionID] UNIQUE NONCLUSTERED 
(
	[ItemID] ASC,
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_AdjustmentAmount]  DEFAULT ((0.0)) FOR [AdjustmentAmount]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_AmountPaid]  DEFAULT ((0.0)) FOR [AmountPaid]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_BestOfferSale]  DEFAULT ('0') FOR [BestOfferSale]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_ConvertedAdjustmentAmount]  DEFAULT ((0.0)) FOR [ConvertedAdjustmentAmount]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_ConvertedAmountPaid]  DEFAULT ((0.0)) FOR [ConvertedAmountPaid]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_ConvertedTransactionPrice]  DEFAULT ((0.0)) FOR [ConvertedTransactionPrice]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_FinalValueFee]  DEFAULT ((0.0)) FOR [FinalValueFee]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_SSS_ExpeditedService]  DEFAULT ('0') FOR [SSS_ExpeditedService]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_SSS_ShippingInsuranceCost]  DEFAULT ((0.0)) FOR [SSS_ShippingInsuranceCost]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_SSS_ShippingServiceAdditionalCost]  DEFAULT ((0.0)) FOR [SSS_ShippingServiceAdditionalCost]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_SSS_ShippingServiceCost]  DEFAULT ((0.0)) FOR [SSS_ShippingServiceCost]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_Status_BuyerSelectedShipping]  DEFAULT ('0') FOR [Status_BuyerSelectedShipping]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_TransactionPrice]  DEFAULT ((0.0)) FOR [TransactionPrice]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_kAlien]  DEFAULT ((0)) FOR [kAlien]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_VAT]  DEFAULT ((0.0)) FOR [VAT]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_nCheckout]  DEFAULT ((0)) FOR [nCheckout]
GO
ALTER TABLE [dbo].[ebay_transaction] ADD  CONSTRAINT [DF_dbo_ebay_transaction_SiteID]  DEFAULT ((77)) FOR [SiteID]
GO
