USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tInkassoUser]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInkassoUser](
	[kInkassoUser] [int] NOT NULL,
	[cUsername] [nvarchar](50) NULL,
	[cPasswort] [nvarchar](50) NULL,
	[kFirma] [int] NULL,
	[cAktiv] [char](1) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tInkassoUser] PRIMARY KEY CLUSTERED 
(
	[kInkassoUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
