USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUserControlSetting]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUserControlSetting](
	[kBenutzer] [int] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cNameTopLevelControl] [nvarchar](255) NOT NULL,
	[nSetting] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tUserControlSetting] PRIMARY KEY CLUSTERED 
(
	[kBenutzer] ASC,
	[cName] ASC,
	[cNameTopLevelControl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tUserControlSetting] ADD  CONSTRAINT [DF_dbo_tUserControlSetting_nSetting]  DEFAULT ((0)) FOR [nSetting]
GO
