USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tListViewSpalten]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tListViewSpalten](
	[kListView] [int] NULL,
	[nPos] [int] NULL,
	[cWert] [nvarchar](255) NULL,
	[kBenutzer] [int] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
