USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAttribut]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAttribut](
	[kAttribut] [int] IDENTITY(1,1) NOT NULL,
	[nIstMehrsprachig] [tinyint] NOT NULL,
	[nIstFreifeld] [tinyint] NOT NULL,
	[nSortierung] [int] NOT NULL,
	[cBeschreibung] [nvarchar](1000) NULL,
	[nBezugstyp] [tinyint] NOT NULL,
	[nAusgabeweg] [tinyint] NOT NULL,
	[nIstStandard] [tinyint] NOT NULL,
	[kFeldTyp] [int] NOT NULL,
	[cRegEx] [nvarchar](max) NULL,
	[cGruppeName] [nvarchar](150) NULL,
	[nReadOnly] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nAktivFuerArtikelOhneWarengruppe] [bit] NOT NULL,
	[nIstPflichtfeld] [bit] NULL,
	[cAttributId] [nvarchar](255) NOT NULL,
	[nIstUnsichtbar] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_tAttribut] PRIMARY KEY CLUSTERED 
(
	[kAttribut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tAttribut] ADD  CONSTRAINT [DF_dbo_tAttribut_nIstStandard]  DEFAULT ((0)) FOR [nIstStandard]
GO
ALTER TABLE [dbo].[tAttribut] ADD  CONSTRAINT [DF_dbo_tAttribut_nReadOnly]  DEFAULT ((0)) FOR [nReadOnly]
GO
ALTER TABLE [dbo].[tAttribut] ADD  CONSTRAINT [DF_dbo_tAttribut_nAktivFuerArtikelOhneWarengruppe]  DEFAULT ((1)) FOR [nAktivFuerArtikelOhneWarengruppe]
GO
ALTER TABLE [dbo].[tAttribut] ADD  CONSTRAINT [DF_dbo_tAttribut_nIstPflichtfeld]  DEFAULT ((0)) FOR [nIstPflichtfeld]
GO
ALTER TABLE [dbo].[tAttribut] ADD  CONSTRAINT [DF_dbo_tAttribut_cAttributId]  DEFAULT (newid()) FOR [cAttributId]
GO
ALTER TABLE [dbo].[tAttribut] ADD  CONSTRAINT [DF_dbo_tAttribut_nIstUnsichtbar]  DEFAULT ((0)) FOR [nIstUnsichtbar]
GO
ALTER TABLE [dbo].[tAttribut]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tAttribut_kFeldTyp] CHECK  (([kFeldTyp]>(0)))
GO
ALTER TABLE [dbo].[tAttribut] CHECK CONSTRAINT [CK_dbo_tAttribut_kFeldTyp]
GO
