USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelHistory]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelHistory](
	[kArtikelHistory] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLagerPlatz] [int] NULL,
	[kArtikel] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[dGebucht] [datetime] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kWarenEingang] [int] NULL,
	[kBestellPos] [int] NULL,
	[kGutschriftPos] [int] NULL,
	[fEKNetto] [decimal](25, 13) NOT NULL,
	[cKommentar] [nvarchar](255) NULL,
	[kPlattform] [int] NULL,
	[fLagerBestandGesamt] [decimal](25, 13) NOT NULL,
	[fVerfuegbar] [decimal](25, 13) NOT NULL,
	[fReserviert] [decimal](25, 13) NOT NULL,
	[kBuchungsart] [int] NULL,
	[fLagerBestand] [decimal](25, 13) NOT NULL,
	[kLieferscheinPos] [int] NULL,
	[kLieferantenBestellungPos] [int] NULL,
	[cLieferscheinNr] [nvarchar](255) NULL,
	[cChargenNr] [nvarchar](255) NULL,
	[dMHD] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kLHM] [int] NULL,
	[fLagerBestandInLager] [decimal](25, 13) NULL,
	[cSubsetNumber] [nvarchar](100) NULL,
	[cDimensionen] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_tArtikelHistory] PRIMARY KEY CLUSTERED 
(
	[kArtikelHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelHistory] ADD  CONSTRAINT [DF_dbo_tArtikelHistory_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[tArtikelHistory] ADD  CONSTRAINT [DF_dbo_tArtikelHistory_fEKNetto]  DEFAULT ((0.0)) FOR [fEKNetto]
GO
ALTER TABLE [dbo].[tArtikelHistory] ADD  CONSTRAINT [DF_dbo_tArtikelHistory_fLagerBestandGesamt]  DEFAULT ((0.0)) FOR [fLagerBestandGesamt]
GO
ALTER TABLE [dbo].[tArtikelHistory] ADD  CONSTRAINT [DF_dbo_tArtikelHistory_fVerfuegbar]  DEFAULT ((0.0)) FOR [fVerfuegbar]
GO
ALTER TABLE [dbo].[tArtikelHistory] ADD  CONSTRAINT [DF_dbo_tArtikelHistory_fReserviert]  DEFAULT ((0.0)) FOR [fReserviert]
GO
ALTER TABLE [dbo].[tArtikelHistory] ADD  CONSTRAINT [DF_dbo_tArtikelHistory_fLagerBestand]  DEFAULT ((0.0)) FOR [fLagerBestand]
GO
