USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_LVEinstellungen]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_LVEinstellungen](
	[kBenutzer] [int] NULL,
	[nListViewID] [int] NULL,
	[cRechnername] [nvarchar](255) NULL,
	[nHeaderID] [tinyint] NOT NULL,
	[nSize] [int] NULL,
	[nSort] [tinyint] NULL,
	[nOrderBy] [tinyint] NULL,
	[cOriginalName] [nvarchar](255) NULL,
	[cCustomName] [nvarchar](255) NULL,
	[kBenutzerAdmin] [int] NULL
) ON [PRIMARY]
GO
