USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tCsvSettings]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCsvSettings](
	[cKey] [nvarchar](50) NOT NULL,
	[cDelmiter] [nvarchar](1) NOT NULL,
	[cQuote] [nvarchar](1) NOT NULL,
	[cEscape] [nvarchar](1) NOT NULL,
	[cComment] [nvarchar](1) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tCsvSettings] PRIMARY KEY CLUSTERED 
(
	[cKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tCsvSettings_cKey] UNIQUE NONCLUSTERED 
(
	[cKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
