USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tTextFiltersSplitStreetExceptions]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTextFiltersSplitStreetExceptions](
	[cIso] [nvarchar](2) NOT NULL,
	[cException] [nvarchar](800) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tTextFiltersSplitStreetExceptions] PRIMARY KEY CLUSTERED 
(
	[cIso] ASC,
	[cException] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
