USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_listview_colors]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_listview_colors](
	[nColorId] [int] NOT NULL,
	[nSubColorId] [int] NOT NULL,
	[nListViewId] [int] NOT NULL,
	[cRGB] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_pf_listview_colors] PRIMARY KEY CLUSTERED 
(
	[nColorId] ASC,
	[nSubColorId] ASC,
	[nListViewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
