USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSpracheUsed]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSpracheUsed](
	[kSprache] [int] IDENTITY(1,1) NOT NULL,
	[cNameEng] [nvarchar](255) NULL,
	[cNameDeu] [nvarchar](255) NULL,
	[cISO] [nvarchar](10) NULL,
	[nStandard] [tinyint] NULL,
	[cKultur] [nchar](20) NULL,
	[cISO2] [char](2) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSpracheUsed] PRIMARY KEY CLUSTERED 
(
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tSpracheUsed] ADD  CONSTRAINT [DF_dbo_tSpracheUsed_cISO2]  DEFAULT ('') FOR [cISO2]
GO
EXEC sys.sp_addextendedproperty @name=N'ConnectorAttribute', @value=N'IsPrimaryKey' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'kSprache'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionDE', @value=N'Enthält den einzigartigen internen Primärschlüssel.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'kSprache'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionEN', @value=N'Unique language id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'kSprache'
GO
EXEC sys.sp_addextendedproperty @name=N'I18N', @value=N'Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'kSprache'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Primärschlüssel der Tabelle' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'kSprache'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'kSprache'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionDE', @value=N'Enthält den Namen in Englisch.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameEng'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionEN', @value=N'English term' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameEng'
GO
EXEC sys.sp_addextendedproperty @name=N'I18N', @value=N'NameEnglish' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameEng'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält den Namen in Englisch.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameEng'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameEng'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionDE', @value=N'Enthält den Namen in Deutsch.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameDeu'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionEN', @value=N'German term' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameDeu'
GO
EXEC sys.sp_addextendedproperty @name=N'I18N', @value=N'NameGerman' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameDeu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält den Namen in Deutsch.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameDeu'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cNameDeu'
GO
EXEC sys.sp_addextendedproperty @name=N'I18N', @value=N'LanguageISO' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'3-stelliger ISO Code der Sprache' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cISO'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cISO'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionDE', @value=N'Enthält die Flag-Markierung ob die Sprache die Standard Sprache ist. Es muss genau eine Sprache als solche markiert sein.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'nStandard'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionEN', @value=N'Flag default language for frontend. Exact 1 language must be marked as default.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'nStandard'
GO
EXEC sys.sp_addextendedproperty @name=N'I18N', @value=N'IsDefault' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'nStandard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die Flag-Markierung ob die Sprache die Standard Sprache ist. Es muss genau eine Sprache als solche markiert sein.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'nStandard'
GO
EXEC sys.sp_addextendedproperty @name=N'Type', @value=N'<type VisibleAttribute="None" name="IstStandard" type="bool"><value name="true" value="1"/><value name="false" value="0"/></type>' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'nStandard'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'nStandard'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Keine Beschreibung verfügbar' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cKultur'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cKultur'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'2-stelliger ISO Code der Sprache' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed', @level2type=N'COLUMN',@level2name=N'cISO2'
GO
EXEC sys.sp_addextendedproperty @name=N'Cache', @value=N'<cache name="Alle" />' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'entity jtlObject jtlObjectList' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'Connector', @value=N'<connector ItemName="Language" />' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'Content', @value=N'newdb' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionDE', @value=N'Diese Tabelle enthält die globalen Sprachmodelle.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'DescriptionEN', @value=N'Global language model' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'I18N', @value=N'Language' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Diese Tabelle enthält die aktiven Sprachen.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed'
GO
EXEC sys.sp_addextendedproperty @name=N'OrderBy', @value=N'tSpracheUsed.nStandard DESC' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tSpracheUsed'
GO
