USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelLabel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelLabel](
	[kArtikel] [int] NOT NULL,
	[kLabel] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelLabel] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[kLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelLabel]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelLabel_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tArtikelLabel] CHECK CONSTRAINT [FK_dbo_tArtikelLabel_kArtikel]
GO
ALTER TABLE [dbo].[tArtikelLabel]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelLabel_kLabel] FOREIGN KEY([kLabel])
REFERENCES [dbo].[tLabel] ([kLabel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tArtikelLabel] CHECK CONSTRAINT [FK_dbo_tArtikelLabel_kLabel]
GO
