USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_logbuch]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_logbuch](
	[kLogbuch] [int] IDENTITY(1,1) NOT NULL,
	[kPlattform] [tinyint] NULL,
	[cKategorie] [nvarchar](30) NULL,
	[cBetreff] [nvarchar](255) NULL,
	[cLog] [nvarchar](max) NULL,
	[dZeit] [datetime] NULL,
	[kUser] [tinyint] NULL,
 CONSTRAINT [PK_dbo_pf_logbuch] PRIMARY KEY CLUSTERED 
(
	[kLogbuch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
