USE [eazybusiness]
GO
/****** Object:  View [dbo].[vLagerbestandAvaibleProLager]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLagerbestandAvaibleProLager]
AS
WITH StuecklistenLagerartikel(kArtikel, kWarenlager, fAvaibleQuantity) AS
(
	-- NormaleArtikel
	SELECT kArtikel, kWarenlager, fBestand - fVerfuegbarGesperrt AS fAvaibleQuantity 
		FROM dbo.tlagerbestandProLagerLagerartikel
	UNION ALL
	-- Stücklisten
	SELECT kArtikel, kWarenlager, fLagerbestand AS fAvaibleQuantity
		FROM dbo.vLagerbestandStuecklisteProLager
)
SELECT kArtikel, kWarenlager, fAvaibleQuantity
	FROM StuecklistenLagerartikel
UNION ALL
SELECT Vater.kArtikel, Result.kWarenlager,CAST(Result.fBestand AS DECIMAL(28,14)) AS fBestand
	FROM dbo.tArtikel AS Vater
	JOIN (
		SELECT Kind.kVaterArtikel, StuecklistenLagerartikel.kWarenlager, SUM(StuecklistenLagerartikel.fAvaibleQuantity) AS fBestand
			FROM StuecklistenLagerartikel
			JOIN dbo.tArtikel AS Kind ON Kind.kVaterArtikel = StuecklistenLagerartikel.kArtikel
			GROUP BY Kind.kVaterArtikel, StuecklistenLagerartikel.kWarenlager
		) AS Result ON Result.kVaterArtikel = Vater.kArtikel
GO
