USE [eazybusiness]
GO
/****** Object:  View [dbo].[tBestellpos]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[tBestellpos] AS
SELECT * FROM DEPRECATED.vBestellpos;
GO
