USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tShopSubshop]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShopSubshop](
	[kShopSubshop] [int] IDENTITY(1,1) NOT NULL,
	[kShop] [int] NOT NULL,
	[cIdentifier] [nvarchar](50) NULL,
	[nGesperrt] [tinyint] NOT NULL,
	[cAuthToken] [nvarchar](255) NULL,
	[nMaxLastChanged] [bigint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tShopSubshop] PRIMARY KEY CLUSTERED 
(
	[kShopSubshop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tShopSubshop] ADD  CONSTRAINT [DF_dbo_tShopSubShop_nMaxLastChanged]  DEFAULT ((0)) FOR [nMaxLastChanged]
GO
