USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tkonfigitem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkonfigitem](
	[kKonfigitem] [int] IDENTITY(1,1) NOT NULL,
	[kKonfiggruppe] [int] NULL,
	[kArtikel] [int] NULL,
	[nPosTyp] [int] NULL,
	[bSelektiert] [tinyint] NULL,
	[bEmpfohlen] [tinyint] NULL,
	[bName] [tinyint] NULL,
	[bPreis] [tinyint] NULL,
	[nSort] [int] NULL,
	[bRabatt] [tinyint] NULL,
	[bZuschlag] [tinyint] NULL,
	[fMin] [decimal](25, 13) NOT NULL,
	[fMax] [decimal](25, 13) NOT NULL,
	[fInitial] [decimal](25, 13) NOT NULL,
	[fStandardpreis] [decimal](25, 13) NOT NULL,
	[bIgnoreMultiplier] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tkonfigitem] PRIMARY KEY CLUSTERED 
(
	[kKonfigitem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tkonfigitem] ADD  CONSTRAINT [DF_dbo_tkonfigitem_bRabatt]  DEFAULT ((0)) FOR [bRabatt]
GO
ALTER TABLE [dbo].[tkonfigitem] ADD  CONSTRAINT [DF_dbo_tkonfigitem_bZuschlag]  DEFAULT ((0)) FOR [bZuschlag]
GO
ALTER TABLE [dbo].[tkonfigitem] ADD  CONSTRAINT [DF_dbo_tkonfigitem_fMin]  DEFAULT ((1)) FOR [fMin]
GO
ALTER TABLE [dbo].[tkonfigitem] ADD  CONSTRAINT [DF_dbo_tkonfigitem_fMax]  DEFAULT ((1)) FOR [fMax]
GO
ALTER TABLE [dbo].[tkonfigitem] ADD  CONSTRAINT [DF_dbo_tkonfigitem_fInitial]  DEFAULT ((1)) FOR [fInitial]
GO
ALTER TABLE [dbo].[tkonfigitem] ADD  CONSTRAINT [DF_dbo_tkonfigitem_fStandardpreis]  DEFAULT ((0.0)) FOR [fStandardpreis]
GO
ALTER TABLE [dbo].[tkonfigitem] ADD  CONSTRAINT [DF_dbo_tkonfigitem_bIgnoreMultiplier]  DEFAULT ((0)) FOR [bIgnoreMultiplier]
GO
