USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tGutschriftStorno]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGutschriftStorno](
	[kGutschrift] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kGutschriftStornogrund] [int] NOT NULL,
	[dStorniert] [datetime] NOT NULL,
	[cKommentar] [nvarchar](100) NULL,
	[kStornoGutschrift] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tGutschriftStorno] PRIMARY KEY CLUSTERED 
(
	[kGutschrift] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tGutschriftStorno]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tGutschriftStorno_kStornoGutschrift] FOREIGN KEY([kStornoGutschrift])
REFERENCES [dbo].[tgutschrift] ([kGutschrift])
GO
ALTER TABLE [dbo].[tGutschriftStorno] CHECK CONSTRAINT [FK_dbo_tGutschriftStorno_kStornoGutschrift]
GO
