USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_Mapping_Variationswerte]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_Mapping_Variationswerte](
	[kMapping_Variationswerte] [int] IDENTITY(1,1) NOT NULL,
	[cValue] [nvarchar](max) NOT NULL,
	[cAmazonValue] [nvarchar](max) NOT NULL,
	[kGroup] [int] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_Mapping_Variationswerte] PRIMARY KEY CLUSTERED 
(
	[kMapping_Variationswerte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
