USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_apa_usersettings]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_apa_usersettings](
	[kUser] [int] NOT NULL,
	[fAPAPreisabstand] [decimal](25, 13) NOT NULL,
	[nIstAPAPreisabstandProzentual] [tinyint] NULL,
	[nPlattform] [int] NOT NULL,
	[nAPAShippingTime] [int] NULL,
	[nAPASellerPositiveFeedbackRating] [int] NULL,
	[fAPAPreisabstandFBA] [decimal](25, 13) NOT NULL,
	[nIstAPAPreisabstandFBAProzentual] [tinyint] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_apa_usersettings] PRIMARY KEY CLUSTERED 
(
	[kUser] ASC,
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_apa_usersettings] ADD  CONSTRAINT [DF_dbo_pf_amazon_apa_usersettings_fAPAPreisabstand]  DEFAULT ((0.0)) FOR [fAPAPreisabstand]
GO
ALTER TABLE [dbo].[pf_amazon_apa_usersettings] ADD  CONSTRAINT [DF_dbo_pf_amazon_apa_usersettings_fAPAPreisabstandFBA]  DEFAULT ((0.0)) FOR [fAPAPreisabstandFBA]
GO
