USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_umlagerung_versendet]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_umlagerung_versendet](
	[kAmazonUmlagerungVersendet] [int] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[dBearbeitet] [datetime] NULL,
	[cShipmentId] [nvarchar](250) NULL,
	[nIsPartnered] [tinyint] NOT NULL,
	[cCarrier] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_umlagerung_versendet] PRIMARY KEY CLUSTERED 
(
	[kAmazonUmlagerungVersendet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_umlagerung_versendet]  WITH CHECK ADD  CONSTRAINT [FK_dbo_pf_amazon_umlagerung_versendet_kBestellung] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pf_amazon_umlagerung_versendet] CHECK CONSTRAINT [FK_dbo_pf_amazon_umlagerung_versendet_kBestellung]
GO
