USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMerkmalWert]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMerkmalWert](
	[kMerkmalWert] [int] NOT NULL,
	[kMerkmal] [int] NULL,
	[nSort] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMerkmalWert] PRIMARY KEY CLUSTERED 
(
	[kMerkmalWert] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
