USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tDruckvorlage]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDruckvorlage](
	[kDruckvorlage] [int] NOT NULL,
	[kFirma] [int] NULL,
	[kSprache] [int] NULL,
	[kKundenGruppe] [int] NULL,
	[kLLVorlage] [int] NULL,
	[cName] [nvarchar](255) NULL,
	[nStandard] [tinyint] NULL,
	[kFormType] [int] NULL,
	[nAusgabe] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tDruckvorlage] PRIMARY KEY CLUSTERED 
(
	[kDruckvorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tDruckvorlage] ADD  CONSTRAINT [DF_dbo_tDruckvorlage_nAusgabe]  DEFAULT ((0)) FOR [nAusgabe]
GO
