USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_angebot]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_angebot](
	[cSellerSKU] [nvarchar](100) NOT NULL,
	[kUser] [int] NOT NULL,
	[cItemName] [nvarchar](255) NULL,
	[cListingId] [nvarchar](30) NULL,
	[fPrice] [decimal](25, 13) NOT NULL,
	[nQuantity] [int] NULL,
	[dOpenDate] [datetime] NULL,
	[cItemIsMarketplace] [nvarchar](5) NULL,
	[nProductIdType] [tinyint] NULL,
	[nItemCondition] [tinyint] NULL,
	[cASIN1] [nvarchar](30) NULL,
	[cASIN2] [nvarchar](30) NULL,
	[cASIN3] [nvarchar](30) NULL,
	[nWillShipInternationally] [tinyint] NULL,
	[cExpeditedShipping] [nvarchar](5) NULL,
	[cProductId] [nvarchar](30) NULL,
	[cFulfillmentChannel] [nvarchar](20) NULL,
	[nChangedPrice] [tinyint] NULL,
	[nChangedQuantity] [tinyint] NULL,
	[nPlattform] [int] NOT NULL,
	[cShippingGroup] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_angebot] PRIMARY KEY CLUSTERED 
(
	[cSellerSKU] ASC,
	[kUser] ASC,
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_angebot] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_fPrice]  DEFAULT ((0.0)) FOR [fPrice]
GO
