USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKunde_suche]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKunde_suche](
	[kKunde] [int] NOT NULL,
	[cValue] [nvarchar](255) NULL,
	[nId] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tKunde_suche] ADD  CONSTRAINT [DF_dbo_tKunde_suche_nId]  DEFAULT ((0)) FOR [nId]
GO
