USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_data_feedback_in]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_data_feedback_in](
	[kFeedbackIn] [int] NOT NULL,
	[ItemID] [nvarchar](255) NULL,
	[CommentingUser] [nvarchar](255) NOT NULL,
	[CommentingUserScore] [int] NULL,
	[CommentText] [nvarchar](80) NULL,
	[CommentTime] [nvarchar](30) NULL,
	[CommentType] [nvarchar](255) NULL,
	[FeedbackID] [nvarchar](255) NULL,
	[FeedbackRole] [nvarchar](255) NULL,
	[TransactionID] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_data_feedback_in] PRIMARY KEY CLUSTERED 
(
	[kFeedbackIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_data_feedback_in] ADD  CONSTRAINT [DF_dbo_ebay_data_feedback_in_ItemID]  DEFAULT (NULL) FOR [ItemID]
GO
ALTER TABLE [dbo].[ebay_data_feedback_in] ADD  CONSTRAINT [DF_dbo_ebay_data_feedback_in_CommentingUser]  DEFAULT ('') FOR [CommentingUser]
GO
ALTER TABLE [dbo].[ebay_data_feedback_in] ADD  CONSTRAINT [DF_dbo_ebay_data_feedback_in_CommentingUserScore]  DEFAULT (NULL) FOR [CommentingUserScore]
GO
