USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_settlement]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_settlement](
	[kMessageId] [bigint] NOT NULL,
	[kUser] [int] NOT NULL,
	[ReportID] [bigint] NOT NULL,
	[SettlementID] [bigint] NOT NULL,
	[SettlementStartDate] [datetime] NULL,
	[SettlementEndDate] [datetime] NULL,
	[DepositDate] [datetime] NULL,
	[TotalAmount] [decimal](25, 13) NOT NULL,
	[Currency] [nvarchar](10) NOT NULL,
	[dErstellt] [datetime] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_settlement] PRIMARY KEY CLUSTERED 
(
	[kMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
