USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tCustomerQueryOverviewRecht]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomerQueryOverviewRecht](
	[kCustomerQueryOverview] [int] NOT NULL,
	[kRechtBenutzerGruppe] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tCustomerQueryOverviewRecht] PRIMARY KEY CLUSTERED 
(
	[kCustomerQueryOverview] ASC,
	[kRechtBenutzerGruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tCustomerQueryOverviewRecht]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tCustomerQueryOverviewRecht_kCustomerQueryOverview] FOREIGN KEY([kCustomerQueryOverview])
REFERENCES [dbo].[tCustomerQueryOverview] ([kCustomerQueryOverview])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tCustomerQueryOverviewRecht] CHECK CONSTRAINT [FK_dbo_tCustomerQueryOverviewRecht_kCustomerQueryOverview]
GO
