USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_xx_isvalue]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_xx_isvalue](
	[SiteID] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[kName] [int] NOT NULL,
	[kValue] [int] NOT NULL
) ON [PRIMARY]
GO
