USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tShop]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShop](
	[kShop] [int] NOT NULL,
	[cAPIKey] [nvarchar](64) NULL,
	[cName] [nvarchar](255) NULL,
	[cServerWeb] [nvarchar](255) NULL,
	[cBenutzerWeb] [nvarchar](32) NULL,
	[cPasswortWeb] [nvarchar](255) NULL,
	[nHttpPut] [tinyint] NULL,
	[nShopAuftragsNr] [tinyint] NULL,
	[nGesperrt] [tinyint] NULL,
	[kFirma] [int] NULL,
	[nAngebot] [tinyint] NULL,
	[kKategorie] [int] NULL,
	[nTyp] [tinyint] NOT NULL,
	[kAlterShop] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kWarenlager] [int] NULL,
	[kWarenlagerRetoure] [int] NULL,
	[kWarenlagerRetourePlatz] [int] NULL,
	[kWarenlagerPlatz] [int] NULL,
	[nWarenlagerPlatztyp] [tinyint] NULL,
	[nWarenlagerRetourePlatztyp] [tinyint] NULL,
	[cBelegDrucker] [nvarchar](128) NULL,
	[cGutscheinDrucker] [nvarchar](128) NULL,
	[nAktiv] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_tShop] PRIMARY KEY CLUSTERED 
(
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tShop] ADD  CONSTRAINT [DF_dbo_tShop_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
ALTER TABLE [dbo].[tShop] ADD  CONSTRAINT [DF_dbo_tShop_cBelegDrucker]  DEFAULT (NULL) FOR [cBelegDrucker]
GO
ALTER TABLE [dbo].[tShop] ADD  CONSTRAINT [DF_dbo_tShop_nAktiv]  DEFAULT ((1)) FOR [nAktiv]
GO
