USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUmlagerung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUmlagerung](
	[kUmlagerung] [int] IDENTITY(1,1) NOT NULL,
	[kQuellLager] [int] NULL,
	[kZielLager] [int] NULL,
	[kStreckenLager] [int] NULL,
	[kBestellung] [int] NULL,
	[kLieferantenBestellung] [int] NULL,
	[nStatus] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nIstAnlieferungsplanErstellt] [bit] NOT NULL,
	[cFbaFulfillmentCenterId] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo_tUmlagerung] PRIMARY KEY CLUSTERED 
(
	[kUmlagerung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tUmlagerung] ADD  CONSTRAINT [DF_dbo_tUmlagerung_nIstAnlieferungsplanErstellt]  DEFAULT ((0)) FOR [nIstAnlieferungsplanErstellt]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Umlagerungen von Artikeln' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tUmlagerung'
GO
