USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKundenGruppeSprache]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKundenGruppeSprache](
	[kKundenGruppe] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tKundenGruppeSprache] PRIMARY KEY CLUSTERED 
(
	[kKundenGruppe] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tKundenGruppeSprache] ADD  CONSTRAINT [DF_dbo_tKundenGruppeSprache_cName]  DEFAULT (NULL) FOR [cName]
GO
