USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRechtBenutzerGruppenZuordnung]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRechtBenutzerGruppenZuordnung](
	[kRechtBenutzerGruppe] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRechtBenutzerGruppenZuordnung] PRIMARY KEY CLUSTERED 
(
	[kRechtBenutzerGruppe] ASC,
	[kBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
