USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_angebot_ext]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_angebot_ext](
	[cSellerSKU] [nvarchar](100) NOT NULL,
	[kUser] [int] NOT NULL,
	[fPreis] [decimal](25, 13) NULL,
	[nMaxBestand] [int] NULL,
	[fVersandkosten] [decimal](25, 13) NULL,
	[nDelete] [tinyint] NULL,
	[fAPAMinPreis] [decimal](25, 13) NULL,
	[fAPAMaxPreis] [decimal](25, 13) NULL,
	[fAPAPreisabstand] [decimal](25, 13) NULL,
	[nIstAPAPreisabstandProzentual] [tinyint] NULL,
	[nAPAUpdate] [tinyint] NULL,
	[dLetztePreisAenderung] [datetime] NULL,
	[dLetzteBestandAenderung] [datetime] NULL,
	[dLetzteVersandAenderung] [datetime] NULL,
	[dLetztesAPAUpdate] [datetime] NULL,
	[dRestockDate] [datetime] NULL,
	[nBearbeitungsZeit] [int] NULL,
	[cFulfillmentChannel] [nvarchar](20) NULL,
	[dSaleStart] [datetime] NULL,
	[dSaleEnd] [datetime] NULL,
	[fSalePrice] [decimal](25, 13) NULL,
	[nAPANutzen] [tinyint] NULL,
	[cNameSeller1] [nvarchar](255) NULL,
	[fPreisSeller1] [decimal](25, 13) NULL,
	[fVersandSeller1] [decimal](25, 13) NULL,
	[nVerkaufsrang] [tinyint] NULL,
	[dSellerdaten] [datetime] NULL,
	[nPlattform] [int] NOT NULL,
	[cConditionNote] [nvarchar](2000) NULL,
	[nConditionNoteChanged] [tinyint] NULL,
	[nAPAPruefIntervall] [int] NULL,
	[nAPAShippingTime] [int] NULL,
	[nAPASellerPositiveFeedbackRating] [int] NULL,
	[fAPAPreisabstandFBA] [decimal](25, 13) NULL,
	[nIstAPAPreisabstandFBAProzentual] [tinyint] NULL,
	[nUseAPAGlobal] [tinyint] NULL,
	[dLetzteBearbeitungszeitAenderung] [datetime] NULL,
	[kSteuercode] [int] NULL,
	[dLetzteTaxShippingAenderung] [datetime] NULL,
	[nB2BPreiseSenden] [bit] NOT NULL,
	[nSwitchFulfillmentTo] [int] NOT NULL,
	[dLastSwitchFulfillmentTo] [datetime] NULL,
	[nLetzteBearbeitungsZeit] [int] NOT NULL,
	[kAmazonVersandgruppe] [int] NOT NULL,
	[nDeleteB2BPreis] [int] NOT NULL,
	[nSendeBestand] [tinyint] NOT NULL,
	[nPreisUndBestandsaenderungenAusschliessen] [bit] NOT NULL,
	[dDeaktiviertUtc] [datetime2](7) NULL,
	[nSonderpreiseAktiv] [bit] NOT NULL,
	[nVerfuegbarkeitsdatumAktiv] [bit] NOT NULL,
	[nGpsrRequiredType] [tinyint] NOT NULL,
	[nGpsrChanged] [bit] NOT NULL,
	[nGpsrResponsibleType] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_angebot_ext] PRIMARY KEY CLUSTERED 
(
	[cSellerSKU] ASC,
	[kUser] ASC,
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nB2BPreiseSenden]  DEFAULT ((0)) FOR [nB2BPreiseSenden]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nSwitchFulfillmentTo]  DEFAULT ((0)) FOR [nSwitchFulfillmentTo]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nLetzteBearbeitungsZeit]  DEFAULT ((0)) FOR [nLetzteBearbeitungsZeit]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_kAmazonVersandgruppe]  DEFAULT ((0)) FOR [kAmazonVersandgruppe]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nDeleteB2BPreis]  DEFAULT ((0)) FOR [nDeleteB2BPreis]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  DEFAULT ((0)) FOR [nSendeBestand]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nPreisUndBestandsaenderungenAusschliessen]  DEFAULT ((0)) FOR [nPreisUndBestandsaenderungenAusschliessen]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nSonderpreiseAktiv]  DEFAULT ((0)) FOR [nSonderpreiseAktiv]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nVerfuegbarkeitsdatumAktiv]  DEFAULT ((0)) FOR [nVerfuegbarkeitsdatumAktiv]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nGpsrRequiredType]  DEFAULT ((0)) FOR [nGpsrRequiredType]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nGpsrChanged]  DEFAULT ((0)) FOR [nGpsrChanged]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_ext] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_ext_nGpsrResponsibleType]  DEFAULT ((0)) FOR [nGpsrResponsibleType]
GO
