USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_xx_categories]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_xx_categories](
	[SiteID] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CategoryParentId] [int] NOT NULL,
	[CategoryLevel] [tinyint] NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[LeafCategory] [tinyint] NOT NULL,
	[VariationsEnabled] [tinyint] NOT NULL,
	[ConditionEnabled] [tinyint] NOT NULL,
	[ConditionValues] [nvarchar](255) NOT NULL,
	[ItemSpecificsEnabled] [tinyint] NOT NULL,
	[AttributeConversionEnabled] [tinyint] NOT NULL,
	[ItemCompatibilityEnabled] [tinyint] NOT NULL,
	[CompatibleVehicleType] [nvarchar](100) NOT NULL,
	[ProductRequiredEnabled] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_xx_categories] PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_xx_categories] ADD  CONSTRAINT [DF_dbo_ebay_xx_categories_ItemCompatibilityEnabled]  DEFAULT ((0)) FOR [ItemCompatibilityEnabled]
GO
ALTER TABLE [dbo].[ebay_xx_categories] ADD  CONSTRAINT [DF_dbo_ebay_xx_categories_CompatibleVehicleType]  DEFAULT ('') FOR [CompatibleVehicleType]
GO
ALTER TABLE [dbo].[ebay_xx_categories] ADD  CONSTRAINT [DF_dbo_ebay_xx_categories_ProductRequiredEnabled]  DEFAULT ((0)) FOR [ProductRequiredEnabled]
GO
