USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_delete_co_pos]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_delete_co_pos](
	[TransactionID] [nvarchar](255) NULL,
	[ItemID] [nvarchar](255) NULL
) ON [PRIMARY]
GO
