USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWidgetLayout]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWidgetLayout](
	[kWidgetLayout] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NULL,
	[cLayout] [nvarchar](max) NULL,
	[cArbeitsplatz] [nvarchar](255) NULL,
	[nApplikation] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWidgetLayout] PRIMARY KEY CLUSTERED 
(
	[kWidgetLayout] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
