USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAttributWarengruppe]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAttributWarengruppe](
	[kAttributWarengruppe] [int] IDENTITY(1,1) NOT NULL,
	[kWarengruppe] [int] NOT NULL,
	[kAttribut] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tAttributWarengruppe] PRIMARY KEY CLUSTERED 
(
	[kAttributWarengruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tAttributWarengruppe_kAttribut_kWarengruppe] UNIQUE NONCLUSTERED 
(
	[kAttribut] ASC,
	[kWarengruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tAttributWarengruppe]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tAttributWarengruppe_kAttribut] FOREIGN KEY([kAttribut])
REFERENCES [dbo].[tAttribut] ([kAttribut])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tAttributWarengruppe] CHECK CONSTRAINT [FK_dbo_tAttributWarengruppe_kAttribut]
GO
ALTER TABLE [dbo].[tAttributWarengruppe]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tAttributWarengruppe_kWarengruppe] FOREIGN KEY([kWarengruppe])
REFERENCES [dbo].[tWarengruppe] ([kWarengruppe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tAttributWarengruppe] CHECK CONSTRAINT [FK_dbo_tAttributWarengruppe_kWarengruppe]
GO
