USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_KassenPlugin]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_KassenPlugin](
	[kKassenPlugin] [int] IDENTITY(1,1) NOT NULL,
	[kKasse] [int] NOT NULL,
	[kPlugin] [bigint] NULL,
	[nIndex] [bigint] NULL,
	[cAktiv] [varchar](1) NULL,
	[cData1] [image] NULL,
	[cData2] [image] NULL,
 CONSTRAINT [PK_POS_KassenPlugin] PRIMARY KEY CLUSTERED 
(
	[kKassenPlugin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_KassenPlugin] ADD  DEFAULT ((0)) FOR [nIndex]
GO
ALTER TABLE [dbo].[POS_KassenPlugin] ADD  DEFAULT ('N') FOR [cAktiv]
GO
