USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vRunningQueries]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[unicorn2_vRunningQueries] 
    AS
        SELECT 
			sqltext.TEXT,
			req.session_id,
			req.status,
			req.command,
			req.cpu_time,
			req.total_elapsed_time
		FROM sys.dm_exec_requests req
		CROSS APPLY sys.dm_exec_sql_text(sql_handle) AS sqltext;
GO
