USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKundenGruppeAttribute]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKundenGruppeAttribute](
	[kKundenGruppeAttribute] [int] NOT NULL,
	[kKundenGruppe] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cValue] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tKundenGruppeAttribute] PRIMARY KEY CLUSTERED 
(
	[kKundenGruppeAttribute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
