USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_exporttyp]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_exporttyp](
	[kExportTyp] [int] NOT NULL,
	[kExportTypParent] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nSort] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_ameise_exporttyp] PRIMARY KEY CLUSTERED 
(
	[kExportTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ameise_exporttyp] ADD  CONSTRAINT [DF_dbo_ameise_exporttyp_kExportTypParent]  DEFAULT ('0') FOR [kExportTypParent]
GO
ALTER TABLE [dbo].[ameise_exporttyp] ADD  CONSTRAINT [DF_dbo_ameise_exporttyp_nSort]  DEFAULT ((0)) FOR [nSort]
GO
