USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRechnungBackup]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRechnungBackup](
	[kRechnung] [int] NOT NULL,
	[tBenutzer_kBenutzer] [int] NOT NULL,
	[tBestellung_kBestellung] [int] NOT NULL,
	[tKunde_kKunde] [int] NOT NULL,
	[cRechnungsNr] [nvarchar](30) NULL,
	[cBezahlt] [char](1) NULL,
	[dErstellt] [datetime] NULL,
	[nZahlungsziel] [tinyint] NULL,
	[cStatus] [char](1) NULL,
	[cErloeskonto] [nvarchar](64) NULL,
	[kFirma] [int] NULL,
	[nInkassoStatus] [tinyint] NULL,
	[dEmailversandt] [datetime] NULL,
	[dDruckdatum] [datetime] NULL,
	[nMahnstopp] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRechnungBackup] PRIMARY KEY CLUSTERED 
(
	[kRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRechnungBackup] ADD  CONSTRAINT [DF_dbo_tRechnungBackup_nMahnstopp]  DEFAULT ((0)) FOR [nMahnstopp]
GO
