USE [eazybusiness]
GO
/****** Object:  Table [dbo].[unicorn2_tWawiVersionHistory]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unicorn2_tWawiVersionHistory](
	[cVersion] [varchar](19) NULL,
	[dInstallationDate] [datetime] NOT NULL,
	[bHandled] [bit] NULL
) ON [PRIMARY]
GO
