USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tCustomerQueryColumn]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomerQueryColumn](
	[kCustomerQueryColumn] [int] IDENTITY(1,1) NOT NULL,
	[kCustomerQueryUser] [int] NOT NULL,
	[nSqlIndex] [int] NOT NULL,
	[nGridIndex] [int] NOT NULL,
	[nWidth] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tCustomerQueryColumn] PRIMARY KEY CLUSTERED 
(
	[kCustomerQueryColumn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tCustomerQueryColumn]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tCustomerQueryColumn_kCustomerQueryUser] FOREIGN KEY([kCustomerQueryUser])
REFERENCES [dbo].[tCustomerQueryUser] ([kCustomerQueryUser])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tCustomerQueryColumn] CHECK CONSTRAINT [FK_dbo_tCustomerQueryColumn_kCustomerQueryUser]
GO
