USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPickliste]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPickliste](
	[kPickliste] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLager] [int] NULL,
	[kPicklistenVorlage] [int] NULL,
	[nStatus] [int] NULL,
	[kPicklisteStatus] [int] NULL,
	[kPicklisteStatusAngelegt] [int] NULL,
	[dGedruckt] [datetime] NULL,
	[kSessionId] [int] NULL,
	[kLieferant] [int] NULL,
	[kAnsprechpartner] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cPicklisteNr] [nvarchar](255) NULL,
	[nType] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tPickliste] PRIMARY KEY CLUSTERED 
(
	[kPickliste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPickliste] ADD  CONSTRAINT [DF_dbo_tPickliste_nType]  DEFAULT ((0)) FOR [nType]
GO
