USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerPlatz]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerPlatz](
	[kWarenLagerPlatz] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLager] [int] NOT NULL,
	[fGewichtMax] [decimal](25, 13) NOT NULL,
	[cKommentar] [nvarchar](max) NULL,
	[fLaenge] [decimal](25, 13) NOT NULL,
	[fBreite] [decimal](25, 13) NOT NULL,
	[fHoehe] [decimal](25, 13) NOT NULL,
	[nSort] [int] NULL,
	[cName] [nvarchar](50) NULL,
	[kWarenLagerPlatzTyp] [int] NULL,
	[nStatus] [int] NOT NULL,
	[dWmsInventurDatum] [datetime] NULL,
	[kWmsInventur] [int] NULL,
	[nPreInvStatus] [int] NULL,
	[nInvGezaehlt] [tinyint] NULL,
	[nGesperrt] [tinyint] NOT NULL,
	[nPrio] [int] NOT NULL,
	[nAuslieferungGesperrt] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenLagerPlatz] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerPlatz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tWarenLagerPlatz_cName_kWarenLager] UNIQUE NONCLUSTERED 
(
	[cName] ASC,
	[kWarenLager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenLagerPlatz] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatz_fGewichtMax]  DEFAULT ((0.0)) FOR [fGewichtMax]
GO
ALTER TABLE [dbo].[tWarenLagerPlatz] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatz_fLaenge]  DEFAULT ((0.0)) FOR [fLaenge]
GO
ALTER TABLE [dbo].[tWarenLagerPlatz] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatz_fBreite]  DEFAULT ((0.0)) FOR [fBreite]
GO
ALTER TABLE [dbo].[tWarenLagerPlatz] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatz_fHoehe]  DEFAULT ((0.0)) FOR [fHoehe]
GO
ALTER TABLE [dbo].[tWarenLagerPlatz] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatz_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
ALTER TABLE [dbo].[tWarenLagerPlatz] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatz_nInvGezaehlt]  DEFAULT ((0)) FOR [nInvGezaehlt]
GO
ALTER TABLE [dbo].[tWarenLagerPlatz] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatz_nGesperrt]  DEFAULT ((0)) FOR [nGesperrt]
GO
ALTER TABLE [dbo].[tWarenLagerPlatz] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatz_nPrio]  DEFAULT ((0)) FOR [nPrio]
GO
ALTER TABLE [dbo].[tWarenLagerPlatz] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatz_nAuslieferungGesperrt]  DEFAULT ((0)) FOR [nAuslieferungGesperrt]
GO
