USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vVersand]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[unicorn2_vVersand] 
    AS
        SELECT kId, kWawiId, dChangedDate
        FROM unicorn2_tChangeCache WITH (NOLOCK)
        WHERE cStatus = 'Add' AND cType = 'Versand';
GO
