USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersandKonfiguration]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersandKonfiguration](
	[kVersandKonfiguration] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](60) NULL,
	[nArt] [tinyint] NULL,
	[nAnzahl] [int] NULL,
	[nAnzahlProPaket] [tinyint] NULL,
	[kFormular] [int] NULL,
	[cText] [nvarchar](3000) NULL,
	[nLandTyp] [tinyint] NULL,
	[cLaenderListeISO] [nvarchar](max) NULL,
	[fWertVon] [decimal](25, 13) NOT NULL,
	[fWertBis] [decimal](25, 13) NOT NULL,
	[kWarenlager] [int] NULL,
	[cVersandartListe] [nvarchar](4000) NULL,
	[fGewichtMax] [decimal](25, 13) NOT NULL,
	[fGewichtMin] [decimal](25, 13) NOT NULL,
	[cFirmen] [nvarchar](1000) NULL,
	[cKundengruppen] [nvarchar](3000) NULL,
	[cVersandklassen] [nvarchar](3000) NULL,
	[cZahlungsarten] [nvarchar](3000) NULL,
	[cWarengruppen] [nvarchar](3000) NULL,
	[cPlattformen] [nvarchar](3000) NULL,
	[cShops] [nvarchar](3000) NULL,
	[nEnthaeltArtAusWarengruppe] [tinyint] NOT NULL,
	[nAlleOhneWarengruppe] [tinyint] NOT NULL,
	[nAlleOhneVersandart] [tinyint] NOT NULL,
	[nAlleOhneZahlungsart] [tinyint] NOT NULL,
	[cBenutzer] [nvarchar](3000) NULL,
	[nAuftragsArt] [tinyint] NOT NULL,
	[nVorgang] [int] NULL,
	[nAusfuehrungBei] [tinyint] NULL,
	[nDiffAdressRechnungLieferschein] [tinyint] NULL,
	[nArtikelBreiteVon] [int] NOT NULL,
	[nArtikelBreiteBis] [int] NOT NULL,
	[nArtikelHoeheVon] [int] NOT NULL,
	[nArtikelHoeheBis] [int] NOT NULL,
	[nArtikelLaengeVon] [int] NOT NULL,
	[nArtikelLaengeBis] [int] NOT NULL,
	[nEigeneFelderFilter] [tinyint] NOT NULL,
	[nArtikelZustandFilter] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersandKonfiguration] PRIMARY KEY CLUSTERED 
(
	[kVersandKonfiguration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_fWertVon]  DEFAULT ((0.0)) FOR [fWertVon]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_fWertBis]  DEFAULT ((0.0)) FOR [fWertBis]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_fGewichtMax]  DEFAULT ((0)) FOR [fGewichtMax]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_fGewichtMin]  DEFAULT ((0)) FOR [fGewichtMin]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nEnthaeltArtAusWarengruppe]  DEFAULT ((0)) FOR [nEnthaeltArtAusWarengruppe]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nAlleOhneWarengruppe]  DEFAULT ((0)) FOR [nAlleOhneWarengruppe]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nAlleOhneVersandart]  DEFAULT ((0)) FOR [nAlleOhneVersandart]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nAlleOhneZahlungsart]  DEFAULT ((0)) FOR [nAlleOhneZahlungsart]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nAuftragsArt]  DEFAULT ((0)) FOR [nAuftragsArt]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nVorgang]  DEFAULT ((0)) FOR [nVorgang]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nArtikelBreiteVon]  DEFAULT ((0)) FOR [nArtikelBreiteVon]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nArtikelBreiteBis]  DEFAULT ((0)) FOR [nArtikelBreiteBis]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nArtikelHoeheVon]  DEFAULT ((0)) FOR [nArtikelHoeheVon]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nArtikelHoeheBis]  DEFAULT ((0)) FOR [nArtikelHoeheBis]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nArtikelLaengeVon]  DEFAULT ((0)) FOR [nArtikelLaengeVon]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nArtikelLaengeBis]  DEFAULT ((0)) FOR [nArtikelLaengeBis]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nEigeneFelderFilter]  DEFAULT ((0)) FOR [nEigeneFelderFilter]
GO
ALTER TABLE [dbo].[tVersandKonfiguration] ADD  CONSTRAINT [DF_dbo_tVersandKonfiguration_nArtikelZustandFilter]  DEFAULT ((0)) FOR [nArtikelZustandFilter]
GO
