USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_item]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_item](
	[kItem] [int] NOT NULL,
	[ApplicationData] [nvarchar](32) NULL,
	[ApplyShippingDiscount] [tinyint] NULL,
	[AutoPay] [tinyint] NULL,
	[BestOfferEnabled] [tinyint] NULL,
	[BusinessSeller] [tinyint] NULL,
	[BuyItNowPrice] [decimal](25, 13) NOT NULL,
	[BuyerProtection] [nvarchar](255) NULL,
	[CategoryBasedAttributesPrefill] [tinyint] NULL,
	[CategoryMappingAllowed] [tinyint] NULL,
	[ChangePaymentInstructions] [tinyint] NULL,
	[Country] [nvarchar](255) NOT NULL,
	[Currency] [nvarchar](255) NOT NULL,
	[DispatchTimeMax] [tinyint] NULL,
	[GalleryType] [nvarchar](255) NULL,
	[GalleryURL] [nvarchar](255) NULL,
	[GetItFast] [tinyint] NULL,
	[GiftIcon] [tinyint] NULL,
	[GiftServices] [nvarchar](255) NULL,
	[HitCount] [int] NULL,
	[HitCounter] [nvarchar](255) NULL,
	[ItemID] [nvarchar](255) NULL,
	[LinkedPayPalAccount] [tinyint] NULL,
	[ListingDuration] [nvarchar](255) NULL,
	[ListingEnhancement] [nvarchar](255) NULL,
	[ListingType] [nvarchar](255) NULL,
	[Location] [nvarchar](255) NULL,
	[LotSize] [int] NULL,
	[NowAndNew] [tinyint] NULL,
	[PayPalEmailAddress] [nvarchar](255) NULL,
	[PaymentMethods] [nvarchar](255) NULL,
	[PhotoDisplay] [nvarchar](255) NULL,
	[PictureURL] [nvarchar](255) NULL,
	[PostalCode] [nvarchar](50) NULL,
	[PrimaryCategoryId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[QuestionCount] [int] NULL,
	[ReservePrice] [decimal](25, 13) NOT NULL,
	[RestrictedToBusiness] [tinyint] NULL,
	[SKU] [nvarchar](100) NULL,
	[SS_BidderCount] [int] NULL,
	[SS_CurrentPrice] [decimal](25, 13) NOT NULL,
	[SS_HighBidderUserId] [nvarchar](255) NULL,
	[ScheduleDate] [nvarchar](10) NULL,
	[ScheduleTime] [nvarchar](5) NULL,
	[SecondaryCategoryId] [int] NULL,
	[ShipToLocations] [nvarchar](255) NULL,
	[ShippingTerms] [nvarchar](255) NULL,
	[ShippingTermsInDescription] [tinyint] NULL,
	[ShippingType] [nvarchar](255) NULL,
	[Site] [nvarchar](255) NOT NULL,
	[StartPrice] [decimal](25, 13) NOT NULL,
	[StoreCategory2Id] [bigint] NULL,
	[StoreCategoryId] [bigint] NULL,
	[SubTitle] [nvarchar](55) NULL,
	[ThirdPartyCheckout] [tinyint] NULL,
	[Title] [nvarchar](80) NULL,
	[UUID] [nvarchar](32) NULL,
	[VATPercent] [decimal](25, 13) NOT NULL,
	[WatchCount] [int] NULL,
	[Type] [char](1) NULL,
	[ScheduleServerSide] [char](1) NULL,
	[kArtikel] [int] NULL,
	[kEbayuser] [int] NOT NULL,
	[htmlTemplate] [int] NOT NULL,
	[Sent] [char](1) NULL,
	[Totalfees] [decimal](25, 13) NOT NULL,
	[SS_BidCount] [int] NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Status] [tinyint] NULL,
	[Templatename] [nvarchar](1000) NULL,
	[ListingURL] [nvarchar](255) NULL,
	[kPlanung] [int] NULL,
	[kPlanungsItem] [int] NULL,
	[cRelistedItemID] [nvarchar](256) NULL,
	[fGewicht] [decimal](25, 13) NOT NULL,
	[kKategorie] [int] NULL,
	[BestOfferMinPrice] [decimal](25, 13) NOT NULL,
	[kTemplate] [int] NULL,
	[nVKSonderregel] [tinyint] NULL,
	[DiscountProfileID] [nvarchar](255) NULL,
	[nPickup] [tinyint] NULL,
	[nPremium] [tinyint] NULL,
	[cRelistID] [nvarchar](255) NULL,
	[BestOfferAutoAcceptPrice] [decimal](25, 13) NOT NULL,
	[nVKSonderregelInt] [tinyint] NULL,
	[DiscountProfileIDInt] [nvarchar](255) NULL,
	[nVariationenAktiv] [tinyint] NULL,
	[kEigenschaft] [int] NULL,
	[nReturnPolicy] [tinyint] NULL,
	[ConditionID] [int] NULL,
	[nLaufend] [int] NULL,
	[MaxQuantity] [int] NULL,
	[nAutomatischEinstellen] [tinyint] NULL,
	[nSchwelleAutomatischEinstellen] [int] NULL,
	[nLeecher] [tinyint] NULL,
	[SiteID] [int] NOT NULL,
	[cRueckgabeMoeglich] [nvarchar](50) NOT NULL,
	[cRueckgabefrist] [nvarchar](20) NULL,
	[cVersandkostenTraeger] [nvarchar](50) NULL,
	[bBestandReserviert] [tinyint] NULL,
	[nUseHomeShippingCostTable] [tinyint] NOT NULL,
	[nUseInternationalShippingCostTable] [tinyint] NOT NULL,
	[dZuEbayGesendet] [datetime] NULL,
	[nFehler] [int] NULL,
	[kMessage] [bigint] NOT NULL,
	[cEbayUserProfileIdShipping] [nvarchar](255) NULL,
	[cEbayUserProfileIdPayment] [nvarchar](255) NULL,
	[cEbayUserProfileIdReturn] [nvarchar](255) NULL,
	[ConditionDescription] [nvarchar](1000) NULL,
	[nEbayPlus] [tinyint] NULL,
	[nProduktKennzeichnung] [tinyint] NULL,
	[cEAN] [nvarchar](255) NULL,
	[nMinQuantity] [int] NULL,
	[nNurAnGewerbliche] [tinyint] NULL,
	[nSendVAT] [tinyint] NOT NULL,
	[IncludeeBayProductDetails] [tinyint] NOT NULL,
	[PrivateListing] [tinyint] NULL,
	[cPaymentInstructions] [nvarchar](max) NULL,
	[bIstVerkaufsaktion] [tinyint] NOT NULL,
	[fStreichPreis] [decimal](25, 13) NULL,
	[cStreichPreisTyp] [nvarchar](255) NULL,
	[cInternationaleRueckgabeMoeglich] [nvarchar](50) NULL,
	[cInternationaleRueckgabefrist] [nvarchar](20) NULL,
	[cInternationalerVersandkostenTraeger] [nvarchar](50) NULL,
	[cTakeBackId] [nvarchar](255) NULL,
	[dBeendetUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo_ebay_item] PRIMARY KEY CLUSTERED 
(
	[kItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_ApplyShippingDiscount]  DEFAULT ('0') FOR [ApplyShippingDiscount]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_AutoPay]  DEFAULT ('0') FOR [AutoPay]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_BestOfferEnabled]  DEFAULT ('0') FOR [BestOfferEnabled]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_BuyItNowPrice]  DEFAULT ((0.0)) FOR [BuyItNowPrice]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_ReservePrice]  DEFAULT ((0.0)) FOR [ReservePrice]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_SS_CurrentPrice]  DEFAULT ((0.0)) FOR [SS_CurrentPrice]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_StartPrice]  DEFAULT ((0.0)) FOR [StartPrice]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_VATPercent]  DEFAULT ((0.0)) FOR [VATPercent]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_ScheduleServerSide]  DEFAULT ('N') FOR [ScheduleServerSide]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_Totalfees]  DEFAULT ((0)) FOR [Totalfees]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_SS_BidCount]  DEFAULT ((0)) FOR [SS_BidCount]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_fGewicht]  DEFAULT ((0.0)) FOR [fGewicht]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_BestOfferMinPrice]  DEFAULT ((0)) FOR [BestOfferMinPrice]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_nPickup]  DEFAULT ((0)) FOR [nPickup]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_nPremium]  DEFAULT ((0)) FOR [nPremium]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_BestOfferAutoAcceptPrice]  DEFAULT ((0.0)) FOR [BestOfferAutoAcceptPrice]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_SiteID]  DEFAULT ((77)) FOR [SiteID]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_cRueckgabeMoeglich]  DEFAULT ('ReturnsNotAccepted') FOR [cRueckgabeMoeglich]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_kMessage]  DEFAULT ((0)) FOR [kMessage]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_nProduktKennzeichnung]  DEFAULT ((15)) FOR [nProduktKennzeichnung]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_nMinQuantity]  DEFAULT ((1)) FOR [nMinQuantity]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_nSendVAT]  DEFAULT ((1)) FOR [nSendVAT]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_IncludeeBayProductDetails]  DEFAULT ((0)) FOR [IncludeeBayProductDetails]
GO
ALTER TABLE [dbo].[ebay_item] ADD  CONSTRAINT [DF_dbo_ebay_item_bIstVerkaufsaktion]  DEFAULT ((0)) FOR [bIstVerkaufsaktion]
GO
