USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFormular]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFormular](
	[kFormular] [int] IDENTITY(1,1) NOT NULL,
	[nTyp] [int] NOT NULL,
	[cName] [nvarchar](64) NOT NULL,
	[nStandard] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFormular] PRIMARY KEY CLUSTERED 
(
	[kFormular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
