USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSteuerzone]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSteuerzone](
	[kSteuerzone] [int] IDENTITY(1,1) NOT NULL,
	[kFirma] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cLandISO] [nvarchar](5) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nUstIdB2B] [tinyint] NOT NULL,
	[nUstIdB2C] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_tSteuerzone] PRIMARY KEY CLUSTERED 
(
	[kSteuerzone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tSteuerzone] ADD  CONSTRAINT [DF_dbo_tSteuerzone_nUstIdB2B]  DEFAULT ((0)) FOR [nUstIdB2B]
GO
ALTER TABLE [dbo].[tSteuerzone] ADD  CONSTRAINT [DF_dbo_tSteuerzone_nUstIdB2C]  DEFAULT ((0)) FOR [nUstIdB2C]
GO
