USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POSGASTRO_DruckerWarengruppe]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSGASTRO_DruckerWarengruppe](
	[kDruckerWarengruppe] [bigint] IDENTITY(1,1) NOT NULL,
	[kGastroDrucker] [bigint] NOT NULL,
	[kWarengruppe] [bigint] NOT NULL,
 CONSTRAINT [PK_POSGASTRO_DruckerWarengruppe] PRIMARY KEY CLUSTERED 
(
	[kDruckerWarengruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
