USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferantErlaubteLieferlaender]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferantErlaubteLieferlaender](
	[kLieferant] [int] NOT NULL,
	[cIso] [nvarchar](5) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferantErlaubteLieferlaender] PRIMARY KEY CLUSTERED 
(
	[kLieferant] ASC,
	[cIso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
