USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_Steuercodes]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_Steuercodes](
	[kSteuercode] [int] NOT NULL,
	[cName] [nvarchar](40) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_Steuercodes] PRIMARY KEY CLUSTERED 
(
	[kSteuercode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
