USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMahnstufe]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMahnstufe](
	[kMahnstufe] [int] IDENTITY(1,1) NOT NULL,
	[kFirma] [int] NOT NULL,
	[kKundengruppe] [int] NOT NULL,
	[nStufe] [tinyint] NOT NULL,
	[nKarenzzeit] [int] NULL,
	[nZahlungsfristInTagen] [int] NULL,
	[fGebuehrPauschal] [decimal](25, 13) NOT NULL,
	[fGebuehrZinssatz] [decimal](25, 13) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMahnstufe] PRIMARY KEY CLUSTERED 
(
	[kMahnstufe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tMahnstufe_kFirma_kKundengruppe_nStufe] UNIQUE NONCLUSTERED 
(
	[kFirma] ASC,
	[kKundengruppe] ASC,
	[nStufe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tMahnstufe] ADD  CONSTRAINT [DF_dbo_tMahnstufe_kFirma]  DEFAULT ((0)) FOR [kFirma]
GO
ALTER TABLE [dbo].[tMahnstufe] ADD  CONSTRAINT [DF_dbo_tMahnstufe_kKundengruppe]  DEFAULT ((0)) FOR [kKundengruppe]
GO
ALTER TABLE [dbo].[tMahnstufe] ADD  CONSTRAINT [DF_dbo_tMahnstufe_fGebuehrPauschal]  DEFAULT ((0.0)) FOR [fGebuehrPauschal]
GO
ALTER TABLE [dbo].[tMahnstufe] ADD  CONSTRAINT [DF_dbo_tMahnstufe_fGebuehrZinssatz]  DEFAULT ((0.0)) FOR [fGebuehrZinssatz]
GO
