USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_log_zuordnen]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_log_zuordnen](
	[dErstellt] [datetime] NOT NULL,
	[cNachricht] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_log_zuordnen] PRIMARY KEY CLUSTERED 
(
	[dErstellt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
