USE [eazybusiness]
GO
/****** Object:  Table [dbo].[unicorn2_tShopDeletedArtikel]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unicorn2_tShopDeletedArtikel](
	[kWawiId] [int] NULL,
	[kShopId] [int] NULL,
	[dDeletionDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
