USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLoggingConfiguration]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLoggingConfiguration](
	[kLogsitzungTyp] [tinyint] NOT NULL,
	[dLogDateEnd] [datetime] NOT NULL,
	[nDisableLogging] [bit] NOT NULL,
	[nAufbewahrungErfolgreich] [int] NOT NULL,
	[nAufbewahrungFehlerhaft] [int] NOT NULL,
	[nDisableDotLiquidWarning] [bit] NOT NULL,
	[cLogbuchPfad] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_tLoggingConfiguration] PRIMARY KEY CLUSTERED 
(
	[kLogsitzungTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLoggingConfiguration] ADD  CONSTRAINT [DF_dbo_tLoggingConfiguration_nDisableLogging]  DEFAULT ((0)) FOR [nDisableLogging]
GO
ALTER TABLE [dbo].[tLoggingConfiguration] ADD  CONSTRAINT [DF_dbo_tLoggingConfiguration_nAufbewahrungErfolgreich]  DEFAULT ((3)) FOR [nAufbewahrungErfolgreich]
GO
ALTER TABLE [dbo].[tLoggingConfiguration] ADD  CONSTRAINT [DF_dbo_tLoggingConfiguration_nAufbewahrungFehlerhaft]  DEFAULT ((7)) FOR [nAufbewahrungFehlerhaft]
GO
ALTER TABLE [dbo].[tLoggingConfiguration] ADD  CONSTRAINT [DF_dbo_tLoggingConfiguration_nDisableDotLiquidWarning]  DEFAULT ((0)) FOR [nDisableDotLiquidWarning]
GO
