USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWmsInventurlogSubsets]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWmsInventurlogSubsets](
	[kWmsInventurlogSubsets] [int] IDENTITY(1,1) NOT NULL,
	[kWmsInventurlog] [int] NOT NULL,
	[cSubsetNumber] [nvarchar](100) NOT NULL,
	[fQuantity] [int] NOT NULL,
	[fFactor] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWmsInventurlogSubsets] PRIMARY KEY CLUSTERED 
(
	[kWmsInventurlogSubsets] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
