USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_item_reviseerror]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_item_reviseerror](
	[kItemReviseError] [int] IDENTITY(1,1) NOT NULL,
	[kEbayuser] [int] NOT NULL,
	[kItem] [int] NOT NULL,
	[ShortMessage] [nvarchar](max) NULL,
	[LongMessage] [nvarchar](max) NULL,
	[cAbhilfe] [nvarchar](2000) NULL,
	[dZeitpunkt] [datetime] NOT NULL,
	[epidSuggestion] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_ebay_item_reviseerror] PRIMARY KEY CLUSTERED 
(
	[kItemReviseError] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
