USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tDTAUS]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDTAUS](
	[cName] [nvarchar](512) NULL,
	[cZeile1] [nvarchar](27) NULL,
	[cZeile2] [nvarchar](27) NULL,
	[nZahlung] [tinyint] NULL,
	[cKontoInhaber] [nvarchar](28) NULL,
	[cBLZ] [nvarchar](8) NULL,
	[cKontoNr] [nvarchar](10) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
