USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_usermessagequeue]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_usermessagequeue](
	[kEbayDataUserOutputQueue] [bigint] NOT NULL,
	[cMessageType] [nvarchar](255) NULL,
	[cMessage] [nvarchar](max) NULL,
	[dErstellt] [nvarchar](255) NULL,
	[nDel] [int] NULL,
	[kEbayUser] [int] NULL,
	[kBuyer] [int] NULL,
 CONSTRAINT [PK_dbo_ebay_usermessagequeue] PRIMARY KEY CLUSTERED 
(
	[kEbayDataUserOutputQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_usermessagequeue] ADD  CONSTRAINT [DF_dbo_ebay_usermessagequeue_nDel]  DEFAULT ((0)) FOR [nDel]
GO
