USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_apa_preis]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_apa_preis](
	[cSellerSKU] [nvarchar](255) NULL,
	[nPlattform] [int] NULL,
	[fPreis] [decimal](25, 13) NOT NULL,
	[dErstellt] [datetime] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_apa_preis] ADD  CONSTRAINT [DF_dbo_pf_amazon_apa_preis_fPreis]  DEFAULT ((0.0)) FOR [fPreis]
GO
