USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_KassenOption]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_KassenOption](
	[kKassenOption] [bigint] IDENTITY(1,1) NOT NULL,
	[kKasse] [bigint] NULL,
	[cKey] [varchar](50) NULL,
	[cValue] [varchar](255) NULL,
	[dMod] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[kKassenOption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
