USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tGutschriftStornogrund]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGutschriftStornogrund](
	[kGutschriftStornogrund] [int] IDENTITY(1,1) NOT NULL,
	[cStornogrund] [nvarchar](50) NOT NULL,
	[nIstKommentarErforderlich] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_tGutschriftStornogrund] PRIMARY KEY CLUSTERED 
(
	[kGutschriftStornogrund] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tGutschriftStornogrund] ADD  CONSTRAINT [DF_dbo_tGutschriftStornogrund_nIstKommentarErforderlich]  DEFAULT ((0)) FOR [nIstKommentarErforderlich]
GO
