USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSteuerklasse]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSteuerklasse](
	[kSteuerklasse] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nStandard] [tinyint] NULL,
	[nTyp] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSteuerklasse] PRIMARY KEY CLUSTERED 
(
	[kSteuerklasse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tSteuerklasse] ADD  CONSTRAINT [DF_dbo_tSteuerklasse_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
