USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tkonfigitempreis]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkonfigitempreis](
	[kKonfigitem] [int] NOT NULL,
	[kKundengruppe] [int] NOT NULL,
	[kSteuerklasse] [int] NULL,
	[fPreis] [decimal](25, 13) NOT NULL,
	[kShop] [int] NOT NULL,
	[nTyp] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tkonfigitempreis] PRIMARY KEY CLUSTERED 
(
	[kKonfigitem] ASC,
	[kKundengruppe] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tkonfigitempreis] ADD  CONSTRAINT [DF_dbo_tkonfigitempreis_fPreis]  DEFAULT ((0.0)) FOR [fPreis]
GO
ALTER TABLE [dbo].[tkonfigitempreis] ADD  CONSTRAINT [DF_dbo_tkonfigitempreis_kShop]  DEFAULT ((0)) FOR [kShop]
GO
ALTER TABLE [dbo].[tkonfigitempreis] ADD  CONSTRAINT [DF_dbo_tkonfigitempreis_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
