USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWmsInventurlogSubsetDetails]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWmsInventurlogSubsetDetails](
	[kWmsInventurlogSubsets] [int] NOT NULL,
	[kDimension] [int] NOT NULL,
	[fValue] [decimal](25, 13) NOT NULL,
	[fGroundValue] [decimal](25, 13) NOT NULL,
	[kMassEinheit] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWmsInventurlogSubsetDetails] PRIMARY KEY CLUSTERED 
(
	[kWmsInventurlogSubsets] ASC,
	[kDimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
