USE [eazybusiness]
GO
/****** Object:  View [dbo].[lvLogeintrag]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[lvLogeintrag]
AS
(
	SELECT	
		tLog.dDatum AS dZeitpunkt,
		16 AS nSchweregrad,
		tLog.cLog AS cMeldung,
		tLog.nTyp,
		tLog.nVorgang,
		tbenutzer.cName AS cBenutzername
	FROM dbo.tLog
	LEFT JOIN eazybusiness.dbo.tbenutzer ON tLog.kBenutzer = tbenutzer.kBenutzer
)
GO
