USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tinetzahlungsinfo]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tinetzahlungsinfo](
	[kInetZahlungsInfo] [int] NOT NULL,
	[kInetBestellung] [int] NULL,
	[cBankName] [nvarchar](255) NULL,
	[cBLZ] [nvarchar](32) NULL,
	[cKontoNr] [nvarchar](32) NULL,
	[cKartenNr] [nvarchar](32) NULL,
	[cGueltigkeit] [nvarchar](12) NULL,
	[cCVV] [nvarchar](4) NULL,
	[cKartenTyp] [nvarchar](32) NULL,
	[cInhaber] [nvarchar](255) NULL,
	[kBestellung] [int] NULL,
	[kShop] [int] NOT NULL,
	[cIBAN] [nvarchar](32) NULL,
	[cBIC] [nvarchar](32) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
