USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAmazonShippingDruckereinstellungen]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAmazonShippingDruckereinstellungen](
	[kAmazonShippingDruckereinstellungen] [int] IDENTITY(1,1) NOT NULL,
	[kVersandart] [int] NULL,
	[cRechnername] [nvarchar](255) NOT NULL,
	[kBenutzer] [int] NULL,
	[cDruckername] [nvarchar](255) NOT NULL,
	[nPageScaling] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tAmazonShippingDruckereinstellungen] PRIMARY KEY CLUSTERED 
(
	[kAmazonShippingDruckereinstellungen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
