USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFormularVorlage]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFormularVorlage](
	[kFormularVorlage] [int] IDENTITY(1,1) NOT NULL,
	[nTyp] [tinyint] NOT NULL,
	[kFormular] [int] NOT NULL,
	[kFormularLLVorlageDaten] [int] NOT NULL,
	[cName] [nvarchar](64) NOT NULL,
	[kFirma] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[kKundenGruppe] [int] NOT NULL,
	[kLieferant] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
	[cMahnstufenName] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFormularVorlage] PRIMARY KEY CLUSTERED 
(
	[kFormularVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
