USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_vw_htmltemplatetag]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_vw_htmltemplatetag](
	[kEbayHtmlTemplateTag] [int] IDENTITY(1,1) NOT NULL,
	[kEbayHtmlTemplate] [int] NULL,
	[cTagType] [nvarchar](255) NULL,
	[cTagName] [nvarchar](255) NULL,
	[cTagExtension] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_vw_htmltemplatetag] PRIMARY KEY CLUSTERED 
(
	[kEbayHtmlTemplateTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
