USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tStueckliste]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tStueckliste](
	[kStueckliste] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cKommentar] [nvarchar](255) NULL,
	[nSort] [int] NOT NULL,
	[kVaterArtikel] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tStueckliste] PRIMARY KEY CLUSTERED 
(
	[kStueckliste] ASC,
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tStueckliste_kArtikel_kStueckliste_nSort] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kStueckliste] ASC,
	[nSort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tStueckliste] ADD  CONSTRAINT [DF_dbo_tStueckliste_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [dbo].[tStueckliste] ADD  CONSTRAINT [DF_dbo_tStueckliste_kVaterArtikel]  DEFAULT ((-1)) FOR [kVaterArtikel]
GO
ALTER TABLE [dbo].[tStueckliste]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tStueckliste_fAnzahl] CHECK  (([tStueckliste].[fAnzahl]>(0)))
GO
ALTER TABLE [dbo].[tStueckliste] CHECK CONSTRAINT [CK_dbo_tStueckliste_fAnzahl]
GO
