USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKundenDrucktextSprache]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKundenDrucktextSprache](
	[kKundenDrucktext] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cRechnungstext] [nvarchar](max) NULL,
	[cAuftragstext] [nvarchar](max) NULL,
	[cAngebotstext] [nvarchar](max) NULL,
	[cGutschrifttext] [nvarchar](max) NULL,
	[cLieferscheintext] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tKundenDrucktextSprache] PRIMARY KEY CLUSTERED 
(
	[kKundenDrucktext] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
