USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRMGrund]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRMGrund](
	[kRMGrund] [int] IDENTITY(1,1) NOT NULL,
	[nAktiv] [tinyint] NOT NULL,
	[cColor] [nvarchar](8) NULL,
	[nEinschraenkung] [tinyint] NOT NULL,
	[nWmsVisible] [tinyint] NULL,
	[nSort] [int] NULL,
	[nFFNCode] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nFfnDefaultMapping] [tinyint] NOT NULL,
	[kSCXReason] [int] NULL,
 CONSTRAINT [PK_dbo_tRMGrund] PRIMARY KEY CLUSTERED 
(
	[kRMGrund] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRMGrund] ADD  CONSTRAINT [DF_dbo_tRMGrund_nEinschraenkung]  DEFAULT ((0)) FOR [nEinschraenkung]
GO
ALTER TABLE [dbo].[tRMGrund] ADD  CONSTRAINT [DF_dbo_tRMGrund_nWmsVisible]  DEFAULT ((0)) FOR [nWmsVisible]
GO
ALTER TABLE [dbo].[tRMGrund] ADD  CONSTRAINT [DF_dbo_tRMGrund_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [dbo].[tRMGrund] ADD  CONSTRAINT [DF_dbo_tRMGrund_nFFNCode]  DEFAULT ((0)) FOR [nFFNCode]
GO
ALTER TABLE [dbo].[tRMGrund] ADD  DEFAULT ((0)) FOR [nFfnDefaultMapping]
GO
ALTER TABLE [dbo].[tRMGrund]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tRMGrund_kReturnReason] FOREIGN KEY([kSCXReason])
REFERENCES [SCX].[tReturnReason] ([kReturnReason])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tRMGrund] CHECK CONSTRAINT [FK_SCX_tRMGrund_kReturnReason]
GO
