USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_usersites]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_usersites](
	[kEbayuser] [int] NOT NULL,
	[SiteId] [int] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_usersites] PRIMARY KEY CLUSTERED 
(
	[kEbayuser] ASC,
	[SiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
