USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tlagerbestandProLagerLagerartikel]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlagerbestandProLagerLagerartikel](
	[kArtikel] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[fBestand] [decimal](25, 13) NOT NULL,
	[fVerfuegbarGesperrt] [decimal](25, 13) NOT NULL,
	[fAuslieferungGesperrt] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tlagerbestandProLagerLagerartikel] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[kWarenlager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlagerbestandProLagerLagerartikel] ADD  CONSTRAINT [DF_dbo_tlagerbestandProLagerLagerartikel_fBestand]  DEFAULT ((0.0)) FOR [fBestand]
GO
ALTER TABLE [dbo].[tlagerbestandProLagerLagerartikel] ADD  CONSTRAINT [DF_dbo_tlagerbestandProLagerLagerartikel_fVerfuegbarGesperrt]  DEFAULT ((0.0)) FOR [fVerfuegbarGesperrt]
GO
ALTER TABLE [dbo].[tlagerbestandProLagerLagerartikel] ADD  CONSTRAINT [DF_dbo_tlagerbestandProLagerLagerartikel_fAuslieferungGesperrt]  DEFAULT ((0.0)) FOR [fAuslieferungGesperrt]
GO
ALTER TABLE [dbo].[tlagerbestandProLagerLagerartikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tlagerbestandProLagerLagerartikel_fAuslieferungGesperrt] CHECK  (([fAuslieferungGesperrt]>=(0.0)))
GO
ALTER TABLE [dbo].[tlagerbestandProLagerLagerartikel] CHECK CONSTRAINT [CK_dbo_tlagerbestandProLagerLagerartikel_fAuslieferungGesperrt]
GO
ALTER TABLE [dbo].[tlagerbestandProLagerLagerartikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tlagerbestandProLagerLagerartikel_fBestand] CHECK  (([fBestand]>=(0.0)))
GO
ALTER TABLE [dbo].[tlagerbestandProLagerLagerartikel] CHECK CONSTRAINT [CK_dbo_tlagerbestandProLagerLagerartikel_fBestand]
GO
ALTER TABLE [dbo].[tlagerbestandProLagerLagerartikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tlagerbestandProLagerLagerartikel_fVerfuegbarGesperrt] CHECK  (([fVerfuegbarGesperrt]>=(0.0)))
GO
ALTER TABLE [dbo].[tlagerbestandProLagerLagerartikel] CHECK CONSTRAINT [CK_dbo_tlagerbestandProLagerLagerartikel_fVerfuegbarGesperrt]
GO
