USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSonderpreise]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSonderpreise](
	[kArtikelSonderpreis] [int] NOT NULL,
	[kKundenGruppe] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[fNettoPreis] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSonderpreise] PRIMARY KEY CLUSTERED 
(
	[kArtikelSonderpreis] ASC,
	[kKundenGruppe] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tSonderpreise] ADD  CONSTRAINT [DF_dbo_tSonderpreise_fNettoPreis]  DEFAULT ((0.0)) FOR [fNettoPreis]
GO
