USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelLagerOrt]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelLagerOrt](
	[kArtikelLagerOrt] [int] NOT NULL,
	[kLager] [int] NULL,
	[kLagerOrt] [int] NULL,
	[kArtikel] [int] NULL,
	[cKommentar] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelLagerOrt] PRIMARY KEY CLUSTERED 
(
	[kArtikelLagerOrt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
