USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPreiskalkulationSetting]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreiskalkulationSetting](
	[kPreiskalkulationSetting] [int] IDENTITY(1,1) NOT NULL,
	[cNameSetting] [nvarchar](255) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cModus] [nvarchar](255) NULL,
	[cModifikator] [nvarchar](255) NULL,
	[cPlattform] [nvarchar](255) NULL,
	[cKundenGruppe] [nvarchar](255) NULL,
	[kShop] [int] NULL,
	[kKundenGruppe] [int] NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fWert] [decimal](25, 13) NOT NULL,
	[fAPAMax] [decimal](25, 13) NOT NULL,
	[fAPAMin] [decimal](25, 13) NOT NULL,
	[dErstellt] [datetime] NULL,
	[kBenutzer] [int] NULL,
	[nPreisBis10] [tinyint] NULL,
	[nPreisBis100] [tinyint] NULL,
	[nPreisBis1000] [tinyint] NULL,
	[nPreisBis10000] [tinyint] NULL,
	[kUser] [int] NULL,
	[nPlattform] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPreiskalkulationSetting] PRIMARY KEY CLUSTERED 
(
	[kPreiskalkulationSetting] ASC,
	[cNameSetting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPreiskalkulationSetting] ADD  CONSTRAINT [DF_dbo_tPreiskalkulationSetting_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[tPreiskalkulationSetting] ADD  CONSTRAINT [DF_dbo_tPreiskalkulationSetting_fWert]  DEFAULT ((0.0)) FOR [fWert]
GO
ALTER TABLE [dbo].[tPreiskalkulationSetting] ADD  CONSTRAINT [DF_dbo_tPreiskalkulationSetting_fAPAMax]  DEFAULT ((0.0)) FOR [fAPAMax]
GO
ALTER TABLE [dbo].[tPreiskalkulationSetting] ADD  CONSTRAINT [DF_dbo_tPreiskalkulationSetting_fAPAMin]  DEFAULT ((0.0)) FOR [fAPAMin]
GO
