USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenlagerArtikelOptionen]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenlagerArtikelOptionen](
	[kArtikel] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[kWarenLagerPlatz] [int] NULL,
	[kWMSLagerBereich] [int] NULL,
	[fMindestMenge] [decimal](25, 13) NOT NULL,
	[fVorschlag] [decimal](25, 13) NOT NULL,
	[fNachschiebenAb] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenlagerArtikelOptionen] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[kWarenlager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenlagerArtikelOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerArtikelOptionen_fMindestMenge]  DEFAULT ((0)) FOR [fMindestMenge]
GO
ALTER TABLE [dbo].[tWarenlagerArtikelOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerArtikelOptionen_fVorschlag]  DEFAULT ((0)) FOR [fVorschlag]
GO
ALTER TABLE [dbo].[tWarenlagerArtikelOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerArtikelOptionen_fNachschiebenAb]  DEFAULT ((0)) FOR [fNachschiebenAb]
GO
