USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWMSPackItemData]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWMSPackItemData](
	[kWMSPackItemData] [int] IDENTITY(1,1) NOT NULL,
	[kWMSPackItem] [int] NOT NULL,
	[cChargenNr] [nvarchar](255) NULL,
	[dMHD] [datetime] NULL,
	[cSerNo] [nvarchar](255) NULL,
	[fMenge] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWMSPackItemData] PRIMARY KEY CLUSTERED 
(
	[kWMSPackItemData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
