USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_data_membermessage_out]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_data_membermessage_out](
	[kMemberMessageOut] [int] NOT NULL,
	[ItemID] [nvarchar](255) NULL,
	[EmailCopyToSender] [tinyint] NULL,
	[Body] [nvarchar](max) NULL,
	[DisplayToPublic] [tinyint] NULL,
	[MessageID] [nvarchar](255) NULL,
	[MessageType] [nvarchar](255) NULL,
	[QuestionType] [nvarchar](255) NULL,
	[ParentMessageID] [nvarchar](255) NULL,
	[RecipientID] [nvarchar](255) NULL,
	[Subject] [nvarchar](255) NULL,
	[cStatus] [nvarchar](255) NOT NULL,
	[Sent] [char](1) NULL,
	[kEbayuser] [int] NULL,
 CONSTRAINT [PK_dbo_ebay_data_membermessage_out] PRIMARY KEY CLUSTERED 
(
	[kMemberMessageOut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_data_membermessage_out] ADD  CONSTRAINT [DF_dbo_ebay_data_membermessage_out_cStatus]  DEFAULT ('zu versenden') FOR [cStatus]
GO
ALTER TABLE [dbo].[ebay_data_membermessage_out]  WITH CHECK ADD  CONSTRAINT [FK_ebay_data_membermessage_out_kEbayuser] FOREIGN KEY([kEbayuser])
REFERENCES [dbo].[ebay_user] ([kEbayuser])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ebay_data_membermessage_out] CHECK CONSTRAINT [FK_ebay_data_membermessage_out_kEbayuser]
GO
