USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMedienDatei]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMedienDatei](
	[kMedienDatei] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cPfad] [nvarchar](2000) NULL,
	[cURL] [nvarchar](2000) NULL,
	[cKategorie] [nvarchar](255) NULL,
	[cTyp] [nvarchar](255) NULL,
	[nSort] [smallint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMedienDatei] PRIMARY KEY CLUSTERED 
(
	[kMedienDatei] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
