USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFormularFaxEinstellung]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFormularFaxEinstellung](
	[kFormularFaxEinstellung] [int] IDENTITY(1,1) NOT NULL,
	[kFormular] [int] NOT NULL,
	[cRechnername] [nvarchar](255) NULL,
	[kBenutzer] [int] NULL,
	[cFaxname] [nvarchar](255) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFormularFaxEinstellung] PRIMARY KEY CLUSTERED 
(
	[kFormularFaxEinstellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tFormularFaxEinstellung_cRechnername_kBenutzer_kFormular] UNIQUE NONCLUSTERED 
(
	[cRechnername] ASC,
	[kBenutzer] ASC,
	[kFormular] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
