USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUmlagerungPos]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUmlagerungPos](
	[kUmlagerungPos] [int] IDENTITY(1,1) NOT NULL,
	[kUmlagerung] [int] NOT NULL,
	[kAuftragPosition] [int] NOT NULL,
	[cSellerSku] [nvarchar](100) NULL,
	[nLabelOwner] [tinyint] NULL,
	[nPrepOwner] [tinyint] NULL,
 CONSTRAINT [PK_dbo_tUmlagerungPos] PRIMARY KEY CLUSTERED 
(
	[kUmlagerungPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
