USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POSGASTRO_Items]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSGASTRO_Items](
	[kItem] [bigint] IDENTITY(1,1) NOT NULL,
	[kTisch] [bigint] NOT NULL,
	[nGast] [bigint] NULL,
	[fMenge] [float] NULL,
	[fPreis] [float] NOT NULL,
	[dErstellung] [datetime] NULL,
	[nZustand] [bigint] NULL,
	[nSort] [bigint] NULL,
	[cData] [image] NOT NULL,
 CONSTRAINT [PK_POSGASTRO_Items] PRIMARY KEY CLUSTERED 
(
	[kItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSGASTRO_Items] ADD  DEFAULT ((0)) FOR [nGast]
GO
ALTER TABLE [dbo].[POSGASTRO_Items] ADD  DEFAULT ((1)) FOR [fMenge]
GO
ALTER TABLE [dbo].[POSGASTRO_Items] ADD  DEFAULT ((0)) FOR [nZustand]
GO
ALTER TABLE [dbo].[POSGASTRO_Items] ADD  DEFAULT ((0)) FOR [nSort]
GO
