USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPreisImportVorlage]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreisImportVorlage](
	[kPreisImportVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[bZeile] [tinyint] NULL,
	[cTrennzeichen] [char](1) NULL,
	[kPlattform] [int] NULL,
	[kKundengruppe] [int] NULL,
	[nVKNettoberechnen] [tinyint] NULL,
	[fFaktor] [decimal](25, 13) NOT NULL,
	[nSTDVKNetto] [tinyint] NULL,
	[cIdent] [nvarchar](255) NULL,
	[kLieferant] [int] NULL,
	[sMapping] [nvarchar](3000) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPreisImportVorlage] PRIMARY KEY CLUSTERED 
(
	[kPreisImportVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPreisImportVorlage] ADD  CONSTRAINT [DF_dbo_tPreisImportVorlage_fFaktor]  DEFAULT ((0.0)) FOR [fFaktor]
GO
