USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLog]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLog](
	[dDatum] [datetime] NULL,
	[kBenutzer] [int] NULL,
	[cLog] [varchar](4000) NULL,
	[nTyp] [int] NULL,
	[nVorgang] [int] NULL
) ON [PRIMARY]
GO
