USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_checkout]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_checkout](
	[kEbayCheckout] [int] NOT NULL,
	[kEbayBuyer] [int] NULL,
	[kEbayUser] [int] NULL,
	[cVerwendungszweck] [nvarchar](32) NULL,
	[cLieferAnrede] [nvarchar](30) NULL,
	[cLieferVorname] [nvarchar](255) NULL,
	[cLieferNachname] [nvarchar](255) NULL,
	[cLieferNamenszusatz] [nvarchar](255) NULL,
	[cLieferStrasse] [nvarchar](255) NULL,
	[cLieferAdresszusatz] [nvarchar](255) NULL,
	[cLieferPLZ] [nvarchar](255) NULL,
	[cLieferOrt] [nvarchar](255) NULL,
	[cLieferOrtszusatz] [nvarchar](255) NULL,
	[cLieferLand] [nvarchar](255) NULL,
	[cLieferTel] [nvarchar](255) NULL,
	[cLieferFax] [nvarchar](255) NULL,
	[cLieferHandy] [nvarchar](255) NULL,
	[cZahlungsart] [nvarchar](255) NULL,
	[cZahlungBankName] [nvarchar](255) NULL,
	[cZahlungBLZ] [nvarchar](32) NULL,
	[cZahlungKontoNr] [nvarchar](32) NULL,
	[cZahlungKartenNr] [nvarchar](32) NULL,
	[cZahlungGueltigkeit] [nvarchar](12) NULL,
	[cZahlungCVV] [nvarchar](4) NULL,
	[cZahlungKartenTyp] [nvarchar](32) NULL,
	[cZahlungInhaber] [nvarchar](255) NULL,
	[fVersandkosten] [decimal](25, 13) NOT NULL,
	[dErstelltAm] [datetime] NULL,
	[dAbgeschlossenAm] [datetime] NULL,
	[nStatus] [tinyint] NULL,
	[nAnzahlPos] [tinyint] NULL,
	[fSumme] [decimal](25, 13) NOT NULL,
	[cVersandArt] [nvarchar](255) NULL,
	[cTel] [nvarchar](255) NULL,
	[cFax] [nvarchar](255) NULL,
	[cMobil] [nvarchar](255) NULL,
	[cEMail] [nvarchar](255) NULL,
	[cComment] [nvarchar](500) NULL,
	[cFirma] [nvarchar](255) NULL,
	[cLieferFirma] [nvarchar](255) NULL,
	[cUStID] [nvarchar](30) NULL,
	[cAdresszusatz] [nvarchar](255) NULL,
	[cAnrede] [nvarchar](30) NULL,
	[cVorname] [nvarchar](126) NULL,
	[cNachname] [nvarchar](126) NULL,
	[nCheckoutType] [tinyint] NULL,
	[cPaymentStatus] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](255) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[nNeu] [int] NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPaypalTransactionID] [nvarchar](255) NULL,
	[cPUIZahlungsdaten] [nvarchar](max) NULL,
	[nInBearbeitung] [tinyint] NULL,
	[cOrderId] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_checkout] PRIMARY KEY CLUSTERED 
(
	[kEbayCheckout] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_checkout] ADD  CONSTRAINT [DF_dbo_ebay_checkout_fVersandkosten]  DEFAULT ((0.0)) FOR [fVersandkosten]
GO
ALTER TABLE [dbo].[ebay_checkout] ADD  CONSTRAINT [DF_dbo_ebay_checkout_fSumme]  DEFAULT ((0.0)) FOR [fSumme]
GO
ALTER TABLE [dbo].[ebay_checkout] ADD  CONSTRAINT [DF_dbo_ebay_checkout_nCheckoutType]  DEFAULT ((2)) FOR [nCheckoutType]
GO
