USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAmazonVersandschnittstellenkonfiguration]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAmazonVersandschnittstellenkonfiguration](
	[kAmazonVersandschnittstellenkonfiguration] [int] IDENTITY(1,1) NOT NULL,
	[kVersandart] [int] NULL,
	[cVersandartName] [nvarchar](255) NOT NULL,
	[dWeight] [decimal](25, 13) NOT NULL,
	[dHeight] [decimal](25, 13) NOT NULL,
	[dLength] [decimal](25, 13) NOT NULL,
	[dWidth] [decimal](25, 13) NOT NULL,
	[nAutoCalcWeight] [tinyint] NOT NULL,
	[nCarrierWillPickUp] [tinyint] NOT NULL,
	[fMinWeight] [decimal](25, 13) NOT NULL,
	[nAdditionalInsurance] [tinyint] NOT NULL,
	[nUseWarenlagerAdresse] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tAmazonVersandschnittstellenkonfiguration] PRIMARY KEY CLUSTERED 
(
	[kAmazonVersandschnittstellenkonfiguration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tAmazonVersandschnittstellenkonfiguration] ADD  CONSTRAINT [DF_dbo_tAmazonVersandschnittstellenkonfiguration_fMinWeight]  DEFAULT ((0)) FOR [fMinWeight]
GO
ALTER TABLE [dbo].[tAmazonVersandschnittstellenkonfiguration] ADD  CONSTRAINT [DF_dbo_tAmazonVersandschnittstellenkonfiguration_nAdditionalInsurance]  DEFAULT ((0)) FOR [nAdditionalInsurance]
GO
