USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tOauthToken]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tOauthToken](
	[kOauthToken] [int] IDENTITY(1,1) NOT NULL,
	[cConfigId] [nvarchar](255) NOT NULL,
	[dValidUntil] [datetime] NOT NULL,
	[cAccessToken] [nvarchar](max) NOT NULL,
	[cRefreshToken] [nvarchar](max) NULL,
	[nInvalid] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_tOauthToken] PRIMARY KEY CLUSTERED 
(
	[kOauthToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tOauthToken] ADD  CONSTRAINT [DF_dbo_tOauthToken_nInvalid]  DEFAULT ((0)) FOR [nInvalid]
GO
ALTER TABLE [dbo].[tOauthToken]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tOauthToken_cConfigId] FOREIGN KEY([cConfigId])
REFERENCES [dbo].[tOauthConfig] ([cId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tOauthToken] CHECK CONSTRAINT [FK_dbo_tOauthToken_cConfigId]
GO
