USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_elPayPayment]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_elPayPayment](
	[kelPayPayment] [bigint] IDENTITY(1,1) NOT NULL,
	[kUmsaetze] [bigint] NULL,
	[dDatum] [datetime] NULL,
	[nBelegNummer] [bigint] NULL,
	[cKartenName] [varchar](100) NULL,
	[cWaehrung] [varchar](10) NULL,
	[fBetrag] [float] NULL,
	[cData] [image] NULL,
 CONSTRAINT [PK_POS_elPayPayment] PRIMARY KEY CLUSTERED 
(
	[kelPayPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
