USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tansprechpartner]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tansprechpartner](
	[kAnsprechpartner] [int] NOT NULL,
	[kLieferant] [int] NULL,
	[kKunde] [int] NULL,
	[cName] [nvarchar](64) NULL,
	[cTel] [nvarchar](32) NULL,
	[cFax] [nvarchar](32) NULL,
	[cMail] [nvarchar](255) NULL,
	[cAbteilung] [nvarchar](255) NULL,
	[cVorName] [nvarchar](255) NULL,
	[cAnrede] [nvarchar](255) NULL,
	[cMobil] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tansprechpartner] PRIMARY KEY CLUSTERED 
(
	[kAnsprechpartner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
