USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Umsaetze]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Umsaetze](
	[kUmsaetze] [bigint] IDENTITY(1,1) NOT NULL,
	[kBon] [bigint] NOT NULL,
	[cZahlart] [varchar](255) NULL,
	[kKasse] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kKunde] [int] NOT NULL,
	[dDatum] [datetime] NULL,
	[cTyp] [varchar](20) NOT NULL,
	[fGesamtSumme] [real] NOT NULL,
	[fSumme1] [real] NOT NULL,
	[fSumme2] [real] NOT NULL,
	[fSumme3] [real] NOT NULL,
	[fSumme4] [real] NOT NULL,
	[fSumme5] [real] NOT NULL,
	[fSumme6] [real] NOT NULL,
	[fSumme7] [real] NOT NULL,
	[fSumme8] [real] NOT NULL,
	[fSumme9] [real] NOT NULL,
	[fSumme10] [real] NOT NULL,
	[fMwSt1] [real] NOT NULL,
	[fMwSt2] [real] NOT NULL,
	[fMwSt3] [real] NOT NULL,
	[fMwSt4] [real] NOT NULL,
	[fMwSt5] [real] NOT NULL,
	[fMwSt6] [real] NOT NULL,
	[fMwSt7] [real] NOT NULL,
	[fMwSt8] [real] NOT NULL,
	[fMwSt9] [real] NOT NULL,
	[fMwSt10] [real] NOT NULL,
	[fGutscheinAusgabe] [real] NULL,
	[fGutscheinEinloesung] [real] NULL,
	[fAuftragsbezahlung] [real] NULL,
	[cUmsatzNr] [varchar](100) NULL,
 CONSTRAINT [PK_POS_Umsaetze] PRIMARY KEY CLUSTERED 
(
	[kUmsaetze] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_Umsaetze] ADD  DEFAULT ('0') FOR [fGutscheinAusgabe]
GO
ALTER TABLE [dbo].[POS_Umsaetze] ADD  DEFAULT ('0') FOR [fGutscheinEinloesung]
GO
ALTER TABLE [dbo].[POS_Umsaetze] ADD  DEFAULT ('0') FOR [fAuftragsbezahlung]
GO
