USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_zahlungsmethoden]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_zahlungsmethoden](
	[kEbay_DE_Zahlungsmethoden] [int] NOT NULL,
	[PaymentOption] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
	[DisplayText] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_de_zahlungsmethoden] PRIMARY KEY CLUSTERED 
(
	[kEbay_DE_Zahlungsmethoden] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
