USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_angebot_vater]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_angebot_vater](
	[cSellerSKU] [nvarchar](100) NOT NULL,
	[kUser] [int] NOT NULL,
	[cSellerSKUVater] [nvarchar](100) NOT NULL,
	[nPlattform] [int] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_angebot_vater] PRIMARY KEY CLUSTERED 
(
	[cSellerSKU] ASC,
	[kUser] ASC,
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
