USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBenutzer]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBenutzer](
	[kBenutzer] [int] IDENTITY(1,1) NOT NULL,
	[cLogin] [nvarchar](15) NULL,
	[cPasswort] [nvarchar](64) NULL,
	[cName] [nvarchar](255) NULL,
	[kFirma] [int] NULL,
	[cTel] [nvarchar](255) NULL,
	[cEMail] [nvarchar](255) NULL,
	[cAbteilung] [nvarchar](255) NULL,
	[cFax] [nvarchar](255) NULL,
	[cMobil] [nvarchar](255) NULL,
	[cHinweis] [nvarchar](255) NULL,
	[iSalt] [uniqueidentifier] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nAktiv] [bit] NOT NULL,
	[cApiToken] [nvarchar](36) NULL,
	[dPasswordLastChange] [datetime] NULL,
	[nPasswordNotExpire] [bit] NOT NULL,
	[nPasswordMustChange] [bit] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[dLastLogin] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo_tBenutzer] PRIMARY KEY CLUSTERED 
(
	[kBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tBenutzer_cLogin] UNIQUE NONCLUSTERED 
(
	[cLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tBenutzer] ADD  CONSTRAINT [DF_dbo_tBenutzer_iSalt]  DEFAULT (newid()) FOR [iSalt]
GO
ALTER TABLE [dbo].[tBenutzer] ADD  CONSTRAINT [DF_dbo_tBenutzer_nAktiv]  DEFAULT ((1)) FOR [nAktiv]
GO
ALTER TABLE [dbo].[tBenutzer] ADD  CONSTRAINT [DF_dbo_tBenutzer_nPasswordNotExpire]  DEFAULT ((0)) FOR [nPasswordNotExpire]
GO
ALTER TABLE [dbo].[tBenutzer] ADD  CONSTRAINT [DF_dbo_tBenutzer_nPasswordMustChange]  DEFAULT ((0)) FOR [nPasswordMustChange]
GO
ALTER TABLE [dbo].[tBenutzer] ADD  CONSTRAINT [DF_dbo_tBenutzer_nType]  DEFAULT ((0)) FOR [nType]
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'kBenutzer'
GO
EXEC sys.sp_addextendedproperty @name=N'description', @value=N'Enthält den Login-Namen des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cLogin'
GO
EXEC sys.sp_addextendedproperty @name=N'DisplayName', @value=N'LoginName' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cLogin'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält den Login-Namen des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cLogin'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cLogin'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cPasswort'
GO
EXEC sys.sp_addextendedproperty @name=N'description', @value=N'Enthält den Namen des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cName'
GO
EXEC sys.sp_addextendedproperty @name=N'DisplayName', @value=N'Name' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält den Namen des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cName'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'Ausgabe | Workflow' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cName'
GO
EXEC sys.sp_addextendedproperty @name=N'IsInactive', @value=N'true' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'kFirma'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_description', @value=N'Inaktiv. Wurde durch tBenutzerFirma-Tabelle ersetzt.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'kFirma'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'kFirma'
GO
EXEC sys.sp_addextendedproperty @name=N'description', @value=N'Enthält die Telefonnummer des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cTel'
GO
EXEC sys.sp_addextendedproperty @name=N'DisplayName', @value=N'Telefon' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cTel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die Telefonnummer des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cTel'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'Ausgabe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cTel'
GO
EXEC sys.sp_addextendedproperty @name=N'description', @value=N'Enthält die E-Mail-Adresse des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cEMail'
GO
EXEC sys.sp_addextendedproperty @name=N'DisplayName', @value=N'EMail' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cEMail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die E-Mail-Adresse des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cEMail'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'Ausgabe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cEMail'
GO
EXEC sys.sp_addextendedproperty @name=N'description', @value=N'Enthält die Abteilung des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cAbteilung'
GO
EXEC sys.sp_addextendedproperty @name=N'DisplayName', @value=N'Abteilung' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cAbteilung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die Abteilung des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cAbteilung'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'Ausgabe | Workflow' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cAbteilung'
GO
EXEC sys.sp_addextendedproperty @name=N'description', @value=N'Enthält die Faxnummer des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cFax'
GO
EXEC sys.sp_addextendedproperty @name=N'DisplayName', @value=N'Fax' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cFax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die Faxnummer des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cFax'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'Ausgabe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cFax'
GO
EXEC sys.sp_addextendedproperty @name=N'description', @value=N'Enthält die Mobilnummer des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cMobil'
GO
EXEC sys.sp_addextendedproperty @name=N'DisplayName', @value=N'Mobil' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cMobil'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die Mobilnummer des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cMobil'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'Ausgabe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cMobil'
GO
EXEC sys.sp_addextendedproperty @name=N'description', @value=N'Enthält den Hinweis des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cHinweis'
GO
EXEC sys.sp_addextendedproperty @name=N'DisplayName', @value=N'Hinweis' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cHinweis'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält den Hinweis des Benutzers' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cHinweis'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'Ausgabe' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'cHinweis'
GO
EXEC sys.sp_addextendedproperty @name=N'VisibleAttribute', @value=N'None' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'iSalt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Spalte für die Typ Unterscheidung von Benutzern.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'nType'
GO
EXEC sys.sp_addextendedproperty @name=N'type', @value=N'<type name="JtlBenutzerTyp" type="enum">
<value name="ApplicationUser" value="0" description="Benutzer" displayname="Benutzer"/>
<value name="ApiApplication" value="10" description="Wawi-Api Applikation" displayname="Wawi-Api Applikation"/>
<value name="SystemApplication" value="20" description="Wawi Anwendung" displayname="Wawi Anwendung"/>
</type>' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer', @level2type=N'COLUMN',@level2name=N'nType'
GO
EXEC sys.sp_addextendedproperty @name=N'cache', @value=N'<cache name="Alle" />' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'entity jtlObject jtlObjectList' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer'
GO
EXEC sys.sp_addextendedproperty @name=N'IsGlobal', @value=N'true' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer'
GO
EXEC sys.sp_addextendedproperty @name=N'Namespace', @value=N'BenutzerVerwaltung' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tBenutzer'
GO
