USE [eazybusiness]
GO
/****** Object:  View [dbo].[vGutschriftStornierbar]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vGutschriftStornierbar]
AS
SELECT
	tgutschrift.kGutschrift,
	tgutschrift.cGutschriftNr,
	CASE
		WHEN tgutschrift.nStorno = 1 THEN 1
		WHEN ISNULL(tgutschrift.cGutschriftNr, '') = '' THEN 2
		WHEN tgutschrift.nStornoTyp = 1 THEN 3
		WHEN tgutschrift.nStornoTyp = 2 THEN 4
		ELSE 0
	END	AS nError
FROM dbo.tgutschrift
GO
