USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPreisExportVorlage]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreisExportVorlage](
	[kPreisExportVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[kPlattform] [int] NULL,
	[kKundengruppe] [int] NULL,
	[sMapping] [nvarchar](3000) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPreisExportVorlage] PRIMARY KEY CLUSTERED 
(
	[kPreisExportVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
