USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWebCache]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWebCache](
	[cIdentifier] [nvarchar](64) NOT NULL,
	[bContent] [varbinary](max) NULL,
	[dLastUpdatedUtc] [datetime2](0) NOT NULL,
	[dMutexTimestamp] [datetime2](0) NULL,
	[cMutexOwner] [nvarchar](64) NULL,
	[dLastErrorUtc] [datetime2](0) NULL,
	[nLastErrorCount] [tinyint] NULL,
	[cLastError] [nvarchar](1024) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWebCache] PRIMARY KEY CLUSTERED 
(
	[cIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
