USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLizenz]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLizenz](
	[cAuthId] [nvarchar](32) NOT NULL,
	[cAuthToken] [nvarchar](32) NULL,
	[bLizenzen] [varbinary](max) NULL,
	[bSignatur] [varbinary](1024) NULL,
	[dDatum] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[dLetzteAktualisierung] [datetime] NOT NULL,
	[nAktualisierungsZaehler] [int] NOT NULL,
	[nAktualisierungsSperrZaehler] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLizenz] ADD  CONSTRAINT [DF_dbo_tLizenz_dLetzteAktualisierung]  DEFAULT ('1900-01-01') FOR [dLetzteAktualisierung]
GO
ALTER TABLE [dbo].[tLizenz] ADD  CONSTRAINT [DF_dbo_tLizenz_nAktualisierungsZaehler]  DEFAULT ((0)) FOR [nAktualisierungsZaehler]
GO
ALTER TABLE [dbo].[tLizenz] ADD  CONSTRAINT [DF_dbo_tLizenz_nAktualisierungsSperrZaehler]  DEFAULT ((0)) FOR [nAktualisierungsSperrZaehler]
GO
