USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_data_htmltemplatetagcontent]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_data_htmltemplatetagcontent](
	[kEbayHtmlTemplateTagContent] [int] NOT NULL,
	[kEbayHtmlTemplate] [int] NULL,
	[cTagName] [nvarchar](255) NULL,
	[kEbayItem] [int] NULL,
	[cTagValue] [nvarchar](max) NULL,
	[cTagOptions] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_data_htmltemplatetagcontent] PRIMARY KEY CLUSTERED 
(
	[kEbayHtmlTemplateTagContent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
