USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerAusgang]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerAusgang](
	[kWarenLagerEingang] [int] NOT NULL,
	[kLieferscheinPos] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[kWarenLagerAusgang] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLagerPlatz] [int] NULL,
	[kArtikel] [int] NOT NULL,
	[cKommentar] [nvarchar](255) NULL,
	[dErstellt] [datetime] NULL,
	[kBenutzer] [int] NULL,
	[kBuchungsart] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kSessionID] [int] NULL,
 CONSTRAINT [PK_dbo_tWarenLagerAusgang] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerAusgang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenLagerAusgang] ADD  CONSTRAINT [DF_dbo_tWarenLagerAusgang_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[tWarenLagerAusgang] ADD  CONSTRAINT [DF_dbo_tWarenLagerAusgang_kArtikel]  DEFAULT ((0)) FOR [kArtikel]
GO
ALTER TABLE [dbo].[tWarenLagerAusgang] ADD  CONSTRAINT [DF_dbo_tWarenLagerAusgang_kBuchungsart]  DEFAULT ((20)) FOR [kBuchungsart]
GO
