USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWorkerInfo]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkerInfo](
	[nEbayPID] [int] NULL,
	[dEbayStart] [datetime] NULL,
	[dEbayEnde] [datetime] NULL,
	[nEbayOption] [int] NULL,
	[nAmazonPID] [int] NULL,
	[dAmazonStart] [datetime] NULL,
	[dAmazonEnde] [datetime] NULL,
	[nAmazonOption] [int] NULL,
	[nShopPID] [int] NULL,
	[dShopStart] [datetime] NULL,
	[dShopEnde] [datetime] NULL,
	[nShopOption] [int] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
