USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsErinnerung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsErinnerung](
	[kZahlungsErinnerung] [int] IDENTITY(1,1) NOT NULL,
	[kRechnung] [int] NOT NULL,
	[kMahnstufe] [int] NOT NULL,
	[kFirma] [int] NOT NULL,
	[kKundengruppe] [int] NOT NULL,
	[nMahnstufeAktuell] [tinyint] NOT NULL,
	[dZahlungsfrist] [datetime] NULL,
	[dErstellt] [datetime] NULL,
	[dMahndatum] [datetime] NULL,
	[dErledigt] [datetime] NULL,
	[fGebuehr] [decimal](25, 13) NOT NULL,
	[nKarenzzeit] [int] NULL,
	[nZahlungsfristInTagen] [int] NULL,
	[fGebuehrPauschal] [decimal](25, 13) NOT NULL,
	[fGebuehrZinssatz] [decimal](25, 13) NOT NULL,
	[cKommentar] [nvarchar](max) NULL,
	[fBruttoBetrag] [decimal](25, 13) NULL,
	[kBenutzer] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tZahlungsErinnerung] PRIMARY KEY CLUSTERED 
(
	[kZahlungsErinnerung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tZahlungsErinnerung_kRechnung_nMahnstufeAktuell] UNIQUE NONCLUSTERED 
(
	[kRechnung] ASC,
	[nMahnstufeAktuell] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tZahlungsErinnerung] ADD  CONSTRAINT [DF_dbo_tZahlungsErinnerung_kFirma]  DEFAULT ((0)) FOR [kFirma]
GO
ALTER TABLE [dbo].[tZahlungsErinnerung] ADD  CONSTRAINT [DF_dbo_tZahlungsErinnerung_kKundengruppe]  DEFAULT ((0)) FOR [kKundengruppe]
GO
ALTER TABLE [dbo].[tZahlungsErinnerung] ADD  CONSTRAINT [DF_dbo_tZahlungsErinnerung_fGebuehr]  DEFAULT ((0.0)) FOR [fGebuehr]
GO
ALTER TABLE [dbo].[tZahlungsErinnerung] ADD  CONSTRAINT [DF_dbo_tZahlungsErinnerung_fGebuehrPauschal]  DEFAULT ((0.0)) FOR [fGebuehrPauschal]
GO
ALTER TABLE [dbo].[tZahlungsErinnerung] ADD  CONSTRAINT [DF_dbo_tZahlungsErinnerung_fGebuehrZinssatz]  DEFAULT ((0.0)) FOR [fGebuehrZinssatz]
GO
