USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tStatistikAuswertungstyp]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tStatistikAuswertungstyp](
	[kStatistikAuswertungstyp] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nSort] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tStatistikAuswertungstyp] PRIMARY KEY CLUSTERED 
(
	[kStatistikAuswertungstyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
