USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWidget]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWidget](
	[kWidget] [int] IDENTITY(1,1) NOT NULL,
	[kWidgetTemplate] [int] NULL,
	[kBenutzer] [int] NULL,
	[cTitel] [nvarchar](255) NULL,
	[cArbeitsplatz] [nvarchar](255) NULL,
	[nApplikation] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWidget] PRIMARY KEY CLUSTERED 
(
	[kWidget] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
