USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEigenschaftWertPict]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEigenschaftWertPict](
	[kEigenschaftWertPict] [int] IDENTITY(1,1) NOT NULL,
	[kEigenschaftWert] [int] NULL,
	[kBild] [int] NULL,
	[nInet] [tinyint] NULL,
	[kPlattform] [int] NULL,
	[kShop] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tEigenschaftWertPict] PRIMARY KEY CLUSTERED 
(
	[kEigenschaftWertPict] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
