USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_BonIC]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_BonIC](
	[kBonIC] [bigint] IDENTITY(1,1) NOT NULL,
	[kBon] [int] NULL,
	[kArtikel] [int] NULL,
	[kEigenschaftwert] [int] NULL,
	[kLagerArtikel] [int] NULL,
	[fAnzahl] [real] NULL,
	[cStorno] [varchar](1) NULL,
 CONSTRAINT [PK_POS_BonIC] PRIMARY KEY CLUSTERED 
(
	[kBonIC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_BonIC] ADD  DEFAULT ('N') FOR [cStorno]
GO
