USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPreis]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreis](
	[kPreis] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kKundenGruppe] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[kKunde] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPreis] PRIMARY KEY CLUSTERED 
(
	[kPreis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tPreis_kArtikel_kKundenGruppe_kShop_kKunde] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kKundenGruppe] ASC,
	[kShop] ASC,
	[kKunde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPreis]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tPreis_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tPreis] CHECK CONSTRAINT [FK_dbo_tPreis_kArtikel]
GO
