USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBestellungSperre]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBestellungSperre](
	[kBestellung] [int] NULL,
	[cName] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
