USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelbildPlattform]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelbildPlattform](
	[kArtikelbildPlattform] [int] IDENTITY(1,1) NOT NULL,
	[kBild] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[nNr] [int] NOT NULL,
	[nInet] [tinyint] NOT NULL,
	[kEbayUser] [int] NOT NULL,
	[cBildname] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelbildPlattform] PRIMARY KEY CLUSTERED 
(
	[kArtikelbildPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tArtikelbildPlattform_kArtikel_kPlattform_kShop_kEbayUser_nNr] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kPlattform] ASC,
	[kShop] ASC,
	[kEbayUser] ASC,
	[nNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tArtikelbildPlattform_kBild_kArtikel_kPlattform_kShop_kEbayUser] UNIQUE NONCLUSTERED 
(
	[kBild] ASC,
	[kArtikel] ASC,
	[kPlattform] ASC,
	[kShop] ASC,
	[kEbayUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelbildPlattform] ADD  CONSTRAINT [DF_dbo_tArtikelbildPlattform_nInet]  DEFAULT ((1)) FOR [nInet]
GO
ALTER TABLE [dbo].[tArtikelbildPlattform] ADD  CONSTRAINT [DF_dbo_tArtikelbildplattform_kEbayUser]  DEFAULT ((0)) FOR [kEbayUser]
GO
ALTER TABLE [dbo].[tArtikelbildPlattform]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelbildPlattform_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tArtikelbildPlattform] CHECK CONSTRAINT [FK_dbo_tArtikelbildPlattform_kArtikel]
GO
ALTER TABLE [dbo].[tArtikelbildPlattform]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelbildPlattform_kBild] FOREIGN KEY([kBild])
REFERENCES [dbo].[tBild] ([kBild])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tArtikelbildPlattform] CHECK CONSTRAINT [FK_dbo_tArtikelbildPlattform_kBild]
GO
ALTER TABLE [dbo].[tArtikelbildPlattform]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikelbildPlattform_nNr] CHECK  (([nNr]>(0)))
GO
ALTER TABLE [dbo].[tArtikelbildPlattform] CHECK CONSTRAINT [CK_dbo_tArtikelbildPlattform_nNr]
GO
