USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vUnhandledWawiVersionUpdate]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[unicorn2_vUnhandledWawiVersionUpdate] 
    AS
        SELECT 
			cVersion, dInstallationDate
		FROM unicorn2_tWawiVersionHistory
		WHERE unicorn2_tWawiVersionHistory.bHandled IS NULL OR unicorn2_tWawiVersionHistory.bHandled = 0;
GO
