USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLizenzInfo]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLizenzInfo](
	[kLizenzInfo] [int] IDENTITY(1,1) NOT NULL,
	[kApplication] [int] NOT NULL,
	[cShopType] [nvarchar](500) NULL,
	[dLastUsed] [datetime] NOT NULL,
	[kLicense] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tLizenzInfo] PRIMARY KEY CLUSTERED 
(
	[kLizenzInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
