USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPicklisteVorlageBoxen]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPicklisteVorlageBoxen](
	[kPicklisteVorlageBoxen] [int] IDENTITY(1,1) NOT NULL,
	[kPicklisteVorlage] [int] NOT NULL,
	[kLHM] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPicklisteVorlageBoxen] PRIMARY KEY CLUSTERED 
(
	[kPicklisteVorlageBoxen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
