USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelbildPlattformSeo]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelbildPlattformSeo](
	[kArtikelbildPlattformSeo] [int] IDENTITY(1,1) NOT NULL,
	[kArtikelbildPlattform] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cAlternativtext] [nvarchar](255) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelbildPlattformSeo] PRIMARY KEY CLUSTERED 
(
	[kArtikelbildPlattformSeo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tArtikelbildPlattformSeo_kArtikelbildPlattform_kSprache] UNIQUE NONCLUSTERED 
(
	[kArtikelbildPlattform] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelbildPlattformSeo]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelbildPlattformSeo_kArtikelbildPlattform] FOREIGN KEY([kArtikelbildPlattform])
REFERENCES [dbo].[tArtikelbildPlattform] ([kArtikelbildPlattform])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tArtikelbildPlattformSeo] CHECK CONSTRAINT [FK_dbo_tArtikelbildPlattformSeo_kArtikelbildPlattform]
GO
