USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_settlementpos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_settlementpos](
	[kMessageId] [bigint] NOT NULL,
	[kUser] [int] NOT NULL,
	[SettlementID] [bigint] NOT NULL,
	[TransactionType] [nvarchar](30) NOT NULL,
	[OrderID] [nvarchar](30) NULL,
	[MerchantOrderID] [nvarchar](50) NULL,
	[AdjustmentID] [nvarchar](100) NULL,
	[ShipmentID] [nvarchar](20) NULL,
	[MarketplaceName] [nvarchar](20) NULL,
	[AmountType] [nvarchar](30) NULL,
	[AmountDescription] [nvarchar](50) NULL,
	[Amount] [decimal](25, 13) NOT NULL,
	[FulfillmentID] [nvarchar](20) NULL,
	[PostedDateTime] [datetime] NULL,
	[OrderItemCode] [nvarchar](30) NULL,
	[MerchantOrderItemID] [nvarchar](50) NULL,
	[SKU] [nvarchar](50) NULL,
	[QuantityPurchased] [int] NULL,
	[PromotionID] [nvarchar](30) NULL,
	[dErstellt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_settlementpos] PRIMARY KEY CLUSTERED 
(
	[kMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
