USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Plugin]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Plugin](
	[kPlugin] [bigint] IDENTITY(1,1) NOT NULL,
	[cEID] [varchar](255) NULL,
	[cOID] [varchar](255) NULL,
	[nVersion] [bigint] NULL,
	[cData] [image] NULL,
 CONSTRAINT [PK_POS_Plugin] PRIMARY KEY CLUSTERED 
(
	[kPlugin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
