USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tinetbestellposeigenschaft]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tinetbestellposeigenschaft](
	[kInetBestellPosEigenschaft] [int] NOT NULL,
	[kInetBestellPos] [int] NULL,
	[kEigenschaft] [int] NULL,
	[kEigenschaftWert] [int] NULL,
	[fAufpreis] [decimal](25, 13) NOT NULL,
	[cWert] [nvarchar](255) NULL,
	[kShop] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tinetbestellposeigenschaft] PRIMARY KEY CLUSTERED 
(
	[kInetBestellPosEigenschaft] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tinetbestellposeigenschaft] ADD  CONSTRAINT [DF_dbo_tinetbestellposeigenschaft_fAufpreis]  DEFAULT ((0.0)) FOR [fAufpreis]
GO
ALTER TABLE [dbo].[tinetbestellposeigenschaft] ADD  CONSTRAINT [DF_dbo_tinetbestellposeigenschaft_kShop]  DEFAULT ((0)) FOR [kShop]
GO
