USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Kassensturz]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Kassensturz](
	[kKassensturz] [bigint] IDENTITY(1,1) NOT NULL,
	[kKasse] [bigint] NOT NULL,
	[kBenutzer] [bigint] NOT NULL,
	[dDatum] [datetime] NULL,
	[iInfo] [bigint] NULL,
	[cData] [image] NULL,
 CONSTRAINT [PK_POS_Kassensturz] PRIMARY KEY CLUSTERED 
(
	[kKassensturz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_Kassensturz] ADD  DEFAULT ((0)) FOR [iInfo]
GO
