USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsabgleichModul]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsabgleichModul](
	[kZahlungsabgleichModul] [int] IDENTITY(1,1) NOT NULL,
	[cModulID] [nvarchar](50) NOT NULL,
	[cEinstellungen] [nvarchar](max) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tZahlungsabgleichModul] PRIMARY KEY CLUSTERED 
(
	[kZahlungsabgleichModul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
