USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZALog]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZALog](
	[dDate] [nvarchar](12) NULL,
	[cDatum] [nvarchar](12) NULL,
	[cString] [nvarchar](64) NULL
) ON [PRIMARY]
GO
