USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFulfillmentWorker]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFulfillmentWorker](
	[kFulfillmentWorker] [int] NOT NULL,
	[nTaskId] [int] NOT NULL,
	[dUpdated] [datetime] NOT NULL,
	[cTaskId] [nvarchar](100) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFulfillmentWorker] PRIMARY KEY CLUSTERED 
(
	[kFulfillmentWorker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tFulfillmentWorker] ADD  CONSTRAINT [DF_dbo_tFulfillmentWorker_cTaskId]  DEFAULT (NULL) FOR [cTaskId]
GO
