USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKategorieMapping]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKategorieMapping](
	[kKategorieMapping] [int] IDENTITY(1,1) NOT NULL,
	[kKategorie] [int] NOT NULL,
	[kFremdKategorie] [int] NOT NULL,
	[nPlattform] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tKategorieMapping] PRIMARY KEY CLUSTERED 
(
	[kKategorieMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
