USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferantenBestellung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferantenBestellung](
	[kLieferantenBestellung] [int] IDENTITY(1,1) NOT NULL,
	[kLieferant] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[kLieferantenBestellungRA] [int] NULL,
	[kLieferantenBestellungLA] [int] NULL,
	[cWaehrungISO] [nvarchar](5) NOT NULL,
	[cInternerKommentar] [nvarchar](max) NULL,
	[cDruckAnmerkung] [nvarchar](max) NULL,
	[dGedruckt] [datetime] NULL,
	[dGemailt] [datetime] NULL,
	[dGefaxt] [datetime] NULL,
	[nStatus] [int] NULL,
	[dErstellt] [datetime] NULL,
	[kFirma] [int] NULL,
	[kLager] [int] NULL,
	[kKunde] [int] NULL,
	[dLieferdatum] [datetime] NULL,
	[cEigeneBestellnummer] [nvarchar](255) NULL,
	[cBezugsAuftragsNummer] [nvarchar](255) NULL,
	[nDropShipping] [int] NULL,
	[kLieferantenBestellungLieferant] [int] NULL,
	[kBenutzer] [int] NULL,
	[fFaktor] [decimal](25, 13) NOT NULL,
	[dAngemahnt] [datetime] NULL,
	[dInBearbeitung] [datetime] NULL,
	[nDeleted] [tinyint] NULL,
	[nManuellAbgeschlossen] [tinyint] NULL,
	[cFremdbelegnummer] [nvarchar](255) NULL,
	[kLieferschein] [int] NOT NULL,
	[nBestaetigt] [tinyint] NOT NULL,
	[dExportiert] [datetime] NULL,
	[nAngelegtDurchWMS] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferantenBestellung] PRIMARY KEY CLUSTERED 
(
	[kLieferantenBestellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferantenBestellung] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellung_fFaktor]  DEFAULT ((1)) FOR [fFaktor]
GO
ALTER TABLE [dbo].[tLieferantenBestellung] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellung_kLieferschein]  DEFAULT ((0)) FOR [kLieferschein]
GO
ALTER TABLE [dbo].[tLieferantenBestellung] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellung_nBestaetigt]  DEFAULT ((0)) FOR [nBestaetigt]
GO
ALTER TABLE [dbo].[tLieferantenBestellung]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tLieferantenBestellung_fFaktor] CHECK  ((isnull([fFaktor],(0))>(0)))
GO
ALTER TABLE [dbo].[tLieferantenBestellung] CHECK CONSTRAINT [CK_dbo_tLieferantenBestellung_fFaktor]
GO
