USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRechtBenutzerGruppe]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRechtBenutzerGruppe](
	[kRechtBenutzerGruppe] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](30) NULL,
	[cBeschreibung] [nvarchar](255) NULL,
	[nIsAdmin] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRechtBenutzerGruppe] PRIMARY KEY CLUSTERED 
(
	[kRechtBenutzerGruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
