USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVoucherEinloesungen]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVoucherEinloesungen](
	[kVoucherEinloesungen] [int] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kAuftragPosition] [int] NULL,
	[kZahlung] [int] NULL,
	[cVoucherId] [nvarchar](255) NOT NULL,
	[cUsageId] [nvarchar](255) NOT NULL,
	[fAmount] [decimal](25, 13) NOT NULL,
	[nStorno] [bit] NOT NULL,
	[kZahlungGegenbuchung] [int] NULL,
	[dEingeloest] [datetime] NOT NULL,
	[kZahlungsart] [int] NULL,
 CONSTRAINT [PK_dbo_tVoucherEinloesungen] PRIMARY KEY CLUSTERED 
(
	[kVoucherEinloesungen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tVoucherEinloesungen] ADD  CONSTRAINT [DF_dbo_tVoucherEinloesungen_nStorno]  DEFAULT ((0)) FOR [nStorno]
GO
ALTER TABLE [dbo].[tVoucherEinloesungen] ADD  CONSTRAINT [DF_dbo_tVoucherEinloesungen_dEingeloest]  DEFAULT (getdate()) FOR [dEingeloest]
GO
ALTER TABLE [dbo].[tVoucherEinloesungen]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tVoucherEinloesungen_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
GO
ALTER TABLE [dbo].[tVoucherEinloesungen] CHECK CONSTRAINT [FK_dbo_tVoucherEinloesungen_kAuftrag]
GO
ALTER TABLE [dbo].[tVoucherEinloesungen]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tVoucherEinloesungen_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tVoucherEinloesungen] CHECK CONSTRAINT [FK_dbo_tVoucherEinloesungen_kAuftragPosition]
GO
ALTER TABLE [dbo].[tVoucherEinloesungen]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tVoucherEinloesungen_kZahlung] FOREIGN KEY([kZahlung])
REFERENCES [dbo].[tZahlung] ([kZahlung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tVoucherEinloesungen] CHECK CONSTRAINT [FK_dbo_tVoucherEinloesungen_kZahlung]
GO
ALTER TABLE [dbo].[tVoucherEinloesungen]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tVoucherEinloesungen_kZahlungGegenbuchung] FOREIGN KEY([kZahlungGegenbuchung])
REFERENCES [dbo].[tZahlung] ([kZahlung])
GO
ALTER TABLE [dbo].[tVoucherEinloesungen] CHECK CONSTRAINT [FK_dbo_tVoucherEinloesungen_kZahlungGegenbuchung]
GO
