USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_mapping_versandart_versanddienstleister]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_mapping_versandart_versanddienstleister](
	[kVersandartDienstleisterMapping] [int] IDENTITY(1,1) NOT NULL,
	[kVersandArt] [int] NOT NULL,
	[kVersanddienstleister] [int] NOT NULL,
	[nIstAktiv] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_mapping_versandart_versanddienstleister] PRIMARY KEY CLUSTERED 
(
	[kVersandartDienstleisterMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_mapping_versandart_versanddienstleister] ADD  CONSTRAINT [DF_dbo_pf_amazon_versanddienstleister_nIstAktiv]  DEFAULT ((0)) FOR [nIstAktiv]
GO
ALTER TABLE [dbo].[pf_amazon_mapping_versandart_versanddienstleister]  WITH CHECK ADD  CONSTRAINT [FK_dbo_pf_amazon_mapping_versandart_versanddienstleister_kVersandArt] FOREIGN KEY([kVersandArt])
REFERENCES [dbo].[tversandart] ([kVersandArt])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pf_amazon_mapping_versandart_versanddienstleister] CHECK CONSTRAINT [FK_dbo_pf_amazon_mapping_versandart_versanddienstleister_kVersandArt]
GO
ALTER TABLE [dbo].[pf_amazon_mapping_versandart_versanddienstleister]  WITH CHECK ADD  CONSTRAINT [FK_dbo_pf_amazon_mapping_versandart_versanddienstleister_kVersanddienstleister] FOREIGN KEY([kVersanddienstleister])
REFERENCES [dbo].[pf_amazon_versanddienstleister] ([kVersanddienstleister])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pf_amazon_mapping_versandart_versanddienstleister] CHECK CONSTRAINT [FK_dbo_pf_amazon_mapping_versandart_versanddienstleister_kVersanddienstleister]
GO
