USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_versand_zahlung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_versand_zahlung](
	[kEbayVersandZahlung] [int] IDENTITY(1,1) NOT NULL,
	[kEbayUser] [int] NOT NULL,
	[cOrderId] [nvarchar](30) NOT NULL,
	[cItemId] [nvarchar](30) NOT NULL,
	[cTransactionId] [nvarchar](30) NOT NULL,
	[nPaymentSuccessful] [int] NOT NULL,
	[nShippingSuccessful] [int] NOT NULL,
	[cPaymentErrorMessage] [nvarchar](max) NULL,
	[cShippingErrorMessage] [nvarchar](max) NULL,
	[dUpdatedAt] [datetime] NOT NULL,
	[dCreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_versand_zahlung] PRIMARY KEY CLUSTERED 
(
	[kEbayVersandZahlung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
