USE [eazybusiness]
GO
/****** Object:  Table [dbo].[teklieferantpreise]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teklieferantpreise](
	[kEKLieferantPreise] [int] NOT NULL,
	[kArtikel] [int] NULL,
	[kLieferant] [int] NULL,
	[nAnzahl1] [int] NULL,
	[nAnzahl2] [int] NULL,
	[nAnzahl3] [int] NULL,
	[nAnzahl4] [int] NULL,
	[nAnzahl5] [int] NULL,
	[fPreis1] [decimal](25, 13) NOT NULL,
	[fPreis2] [decimal](25, 13) NOT NULL,
	[fPreis3] [decimal](25, 13) NOT NULL,
	[fPreis4] [decimal](25, 13) NOT NULL,
	[fPreis5] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_teklieferantpreise] PRIMARY KEY CLUSTERED 
(
	[kEKLieferantPreise] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[teklieferantpreise] ADD  CONSTRAINT [DF_dbo_teklieferantpreise_fPreis1]  DEFAULT ((0.0)) FOR [fPreis1]
GO
ALTER TABLE [dbo].[teklieferantpreise] ADD  CONSTRAINT [DF_dbo_teklieferantpreise_fPreis2]  DEFAULT ((0.0)) FOR [fPreis2]
GO
ALTER TABLE [dbo].[teklieferantpreise] ADD  CONSTRAINT [DF_dbo_teklieferantpreise_fPreis3]  DEFAULT ((0.0)) FOR [fPreis3]
GO
ALTER TABLE [dbo].[teklieferantpreise] ADD  CONSTRAINT [DF_dbo_teklieferantpreise_fPreis4]  DEFAULT ((0.0)) FOR [fPreis4]
GO
ALTER TABLE [dbo].[teklieferantpreise] ADD  CONSTRAINT [DF_dbo_teklieferantpreise_fPreis5]  DEFAULT ((0.0)) FOR [fPreis5]
GO
