USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLiefArtikelPreis]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLiefArtikelPreis](
	[kLiefArtikelPreis] [int] IDENTITY(1,1) NOT NULL,
	[kLiefArtikel] [int] NOT NULL,
	[fAb] [decimal](25, 13) NOT NULL,
	[fPreisNetto] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nUseProzentualerRabatt] [bit] NOT NULL,
	[fProzentualerRabatt] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_dbo_tLiefArtikelPreis] PRIMARY KEY CLUSTERED 
(
	[kLiefArtikelPreis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLiefArtikelPreis] ADD  CONSTRAINT [DF_dbo_tLiefArtikelPreis_fAb]  DEFAULT ((0.0)) FOR [fAb]
GO
ALTER TABLE [dbo].[tLiefArtikelPreis] ADD  CONSTRAINT [DF_dbo_tLiefArtikelPreis_fPreisNetto]  DEFAULT ((0.0)) FOR [fPreisNetto]
GO
ALTER TABLE [dbo].[tLiefArtikelPreis] ADD  CONSTRAINT [DF_dbo_tLiefArtikelPreis_nUseProzentualerRabatt]  DEFAULT ((0)) FOR [nUseProzentualerRabatt]
GO
ALTER TABLE [dbo].[tLiefArtikelPreis] ADD  CONSTRAINT [DF_dbo_tLiefArtikelPreis_fProzentualerRabatt]  DEFAULT ((0)) FOR [fProzentualerRabatt]
GO
