USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_retourpos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_retourpos](
	[kAmazonRetourPos] [int] IDENTITY(1,1) NOT NULL,
	[kUser] [int] NOT NULL,
	[kAmazonBestellung] [int] NULL,
	[cOrderId] [nvarchar](30) NULL,
	[cSellerSKU] [nvarchar](100) NULL,
	[cFremdSKU] [nvarchar](100) NULL,
	[cASIN] [nvarchar](30) NULL,
	[cArtikelname] [nvarchar](255) NULL,
	[nMenge] [int] NOT NULL,
	[cFulfillmentCenter] [nvarchar](30) NULL,
	[cArtikelzustand] [nvarchar](50) NULL,
	[cRueckgabegrund] [nvarchar](50) NULL,
	[dRetourzeit] [datetime] NULL,
	[nStatus] [tinyint] NULL,
	[dEingelesen] [datetime] NULL,
	[kMessageId] [bigint] NULL,
	[cFehler] [nvarchar](4000) NULL,
	[cLicencePlateNumber] [nvarchar](50) NULL,
	[cKundenkommentar] [nvarchar](255) NULL,
	[kSettlementPos] [bigint] NOT NULL,
	[nGutschriftStatus] [int] NOT NULL,
	[fAmountPerItem] [decimal](25, 13) NULL,
	[cOrderItemCode] [nvarchar](30) NULL,
	[cFulfillmentId] [nvarchar](20) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_retourpos] PRIMARY KEY CLUSTERED 
(
	[kAmazonRetourPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_retourpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_retourpos_kSettlementPos]  DEFAULT ((0)) FOR [kSettlementPos]
GO
ALTER TABLE [dbo].[pf_amazon_retourpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_retourpos_nGutschriftStatus]  DEFAULT ((0)) FOR [nGutschriftStatus]
GO
