USE [eazybusiness]
GO
/****** Object:  View [dbo].[tBestellungAttributeKey]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[tBestellungAttributeKey]
AS
SELECT tAuftragAttributSprache.kAuftragAttribut AS kBestellungAttributeKey,
	  tAttributSprache.cName,
	  tAuftragAttributSprache.bRowversion	   
FROM Verkauf.tAuftragAttributSprache
JOIN Verkauf.tAuftragAttribut ON tAuftragAttribut.kAuftragAttribut = tAuftragAttributSprache.kAuftragAttribut
JOIN dbo.tAttributSprache ON tAttributSprache.kSprache = tAuftragAttributSprache.kSprache
					AND tAttributSprache.kAttribut = tAuftragAttribut.kAttribut
WHERE tAuftragAttributSprache.kSprache = 0;					;
GO
