USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPLZ]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPLZ](
	[cPLZ] [nvarchar](10) NULL,
	[cOrt] [nvarchar](50) NULL,
	[cLand] [nvarchar](50) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
