USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWMSPackItem]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWMSPackItem](
	[kWMSPackItem] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[fMenge] [decimal](25, 13) NOT NULL,
	[kPickliste] [int] NOT NULL,
	[kBestellung] [int] NOT NULL,
	[kBestellpos] [int] NULL,
	[kBestellStueckliste] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nTyp] [tinyint] NOT NULL,
	[kKartonLagerPlatz] [int] NULL,
 CONSTRAINT [PK_dbo_tWMSPackItem] PRIMARY KEY CLUSTERED 
(
	[kWMSPackItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWMSPackItem] ADD  CONSTRAINT [DF_dbo_tWMSPackItem_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
