USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_bestellung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_bestellung](
	[kAmazonBestellung] [int] IDENTITY(1,1) NOT NULL,
	[kMessageId] [bigint] NOT NULL,
	[kUser] [int] NOT NULL,
	[cOrderId] [nvarchar](30) NULL,
	[cBuyerName] [nvarchar](255) NULL,
	[cBuyerEmail] [nvarchar](255) NULL,
	[cBuyerPhoneNumber] [nvarchar](50) NULL,
	[cBillAddress1] [nvarchar](255) NULL,
	[cBillAddress2] [nvarchar](255) NULL,
	[cBillAddress3] [nvarchar](255) NULL,
	[cBillCity] [nvarchar](100) NULL,
	[cBillState] [nvarchar](100) NULL,
	[cBillPostalCode] [nvarchar](20) NULL,
	[cBillCountry] [nvarchar](5) NULL,
	[cRecipientName] [nvarchar](255) NULL,
	[cShipAddress1] [nvarchar](255) NULL,
	[cShipAddress2] [nvarchar](255) NULL,
	[cShipAddress3] [nvarchar](255) NULL,
	[cShipCity] [nvarchar](100) NULL,
	[cShipState] [nvarchar](100) NULL,
	[cShipPostalCode] [nvarchar](20) NULL,
	[cShipCountry] [nvarchar](5) NULL,
	[cShipPhoneNumber] [nvarchar](100) NULL,
	[cCurrency] [nvarchar](5) NULL,
	[cShipServiceLevel] [nvarchar](30) NULL,
	[fItemPromotionDiscount] [decimal](25, 13) NOT NULL,
	[cItemPromotionId] [nvarchar](255) NULL,
	[fShipPromotionDiscount] [decimal](25, 13) NOT NULL,
	[cShipPromotionId] [nvarchar](255) NULL,
	[fVersandkosten] [decimal](25, 13) NOT NULL,
	[dPaymentsDate] [datetime] NULL,
	[dPurchaseDate] [datetime] NULL,
	[dErstellt] [datetime] NULL,
	[nStatus] [int] NOT NULL,
	[nDeleted] [tinyint] NULL,
	[cSalesChannel] [nvarchar](100) NULL,
	[dShipmentDate] [datetime] NULL,
	[cMerchantOrderId] [nvarchar](50) NULL,
	[nErrorCode] [int] NULL,
	[cErrorMessage] [nvarchar](2000) NULL,
	[dErrorErstellt] [datetime] NULL,
	[nFBA] [tinyint] NULL,
	[kFulfillmentAuftrag] [int] NULL,
	[cOrderStatus] [nvarchar](30) NULL,
	[cVersandlandISO] [nvarchar](3) NOT NULL,
	[nPrime] [tinyint] NOT NULL,
	[cKundenauftragsnummer] [nvarchar](250) NULL,
	[nIsAmazonInvoice] [bit] NOT NULL,
	[nB2B] [bit] NOT NULL,
	[cBuyerCompanyName] [nvarchar](255) NULL,
	[cBuyerTaxRegistrationId] [nvarchar](50) NULL,
	[cBuyerCstNumber] [nvarchar](50) NULL,
	[dEarliestShipAt] [datetime] NULL,
	[dLatestShipAt] [datetime] NULL,
	[dEarliestDeliveryAt] [datetime] NULL,
	[dLatestDeliveryAt] [datetime] NULL,
	[cShipServiceName] [nvarchar](255) NULL,
	[cPaymentMethod] [nvarchar](255) NULL,
	[cMarketplaceId] [nvarchar](25) NULL,
	[cOriginalOrderId] [nvarchar](19) NOT NULL,
	[nIsMultichannelOrder] [bit] NOT NULL,
	[nSSAEnabled] [bit] NOT NULL,
	[cSSACarrier] [nvarchar](100) NULL,
	[cSSAShipServiceMethod] [nvarchar](255) NULL,
	[cDropOffLocation] [nvarchar](500) NULL,
	[cAddressInstruction] [nvarchar](500) NULL,
	[cBusinessHours] [nvarchar](max) NULL,
	[cExceptionDates] [nvarchar](max) NULL,
	[cClosingDates] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_bestellung] PRIMARY KEY CLUSTERED 
(
	[kAmazonBestellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_pf_amazon_bestellung_kMessageId] UNIQUE NONCLUSTERED 
(
	[kMessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_kMessageId]  DEFAULT ((0)) FOR [kMessageId]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_kUser]  DEFAULT ((0)) FOR [kUser]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_fItemPromotionDiscount]  DEFAULT ((0.0)) FOR [fItemPromotionDiscount]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_fShipPromotionDiscount]  DEFAULT ((0.0)) FOR [fShipPromotionDiscount]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_fVersandkosten]  DEFAULT ((0.0)) FOR [fVersandkosten]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_nIsAmazonInvoice]  DEFAULT ((0)) FOR [nIsAmazonInvoice]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_nB2B]  DEFAULT ((0)) FOR [nB2B]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  DEFAULT ((0)) FOR [nIsMultichannelOrder]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_nSSAEnabled]  DEFAULT ((0)) FOR [nSSAEnabled]
GO
