USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFormularEMailVorlageAnhang]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFormularEMailVorlageAnhang](
	[kFormularEMailVorlageAnhang] [int] IDENTITY(1,1) NOT NULL,
	[kFormularVorlage] [int] NOT NULL,
	[cName] [nvarchar](128) NOT NULL,
	[nTyp] [tinyint] NOT NULL,
	[kFormularAnhangDaten] [int] NULL,
	[nKindElement] [int] NULL,
	[nFormular] [int] NULL,
	[nAusgabetyp] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFormularEMailVorlageAnhang] PRIMARY KEY CLUSTERED 
(
	[kFormularEMailVorlageAnhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
