USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKategorieAttribut]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKategorieAttribut](
	[kKategorieAttribut] [int] IDENTITY(1,1) NOT NULL,
	[kKategorie] [int] NOT NULL,
	[kAttribut] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tKategorieAttribut] PRIMARY KEY CLUSTERED 
(
	[kKategorieAttribut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tKategorieAttribut_kAttribut_kKategorie_kShop] UNIQUE NONCLUSTERED 
(
	[kKategorie] ASC,
	[kAttribut] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
