USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_buyer]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_buyer](
	[kBuyer] [int] NOT NULL,
	[AboutMePage] [tinyint] NULL,
	[CityName] [nvarchar](64) NULL,
	[Country] [nvarchar](255) NULL,
	[CountryName] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL,
	[PostalCode] [nvarchar](12) NULL,
	[Street] [nvarchar](255) NULL,
	[Street1] [nvarchar](255) NULL,
	[Street2] [nvarchar](255) NULL,
	[Phone] [nvarchar](64) NULL,
	[SA_CityName] [nvarchar](64) NULL,
	[SA_Country] [nvarchar](255) NULL,
	[SA_CountryName] [nvarchar](255) NULL,
	[SA_ExternalAddressID] [nvarchar](255) NULL,
	[SA_Name] [nvarchar](255) NULL,
	[SA_PostalCode] [nvarchar](12) NULL,
	[SA_StateOrProvince] [nvarchar](64) NULL,
	[SA_Street] [nvarchar](255) NULL,
	[SA_Street1] [nvarchar](255) NULL,
	[SA_Street2] [nvarchar](255) NULL,
	[SA_Phone] [nvarchar](64) NULL,
	[CharityID] [nvarchar](255) NULL,
	[eBayGoodStanding] [tinyint] NULL,
	[EIASToken] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[FeedbackPrivate] [tinyint] NULL,
	[FeedbackRatingStar] [nvarchar](255) NULL,
	[FeedbackScore] [int] NULL,
	[IDVerified] [tinyint] NULL,
	[NewUser] [tinyint] NULL,
	[PositiveFeedbackPercent] [decimal](25, 13) NOT NULL,
	[RegistrationDate] [nvarchar](20) NULL,
	[Site] [nvarchar](255) NULL,
	[SiteVerified] [tinyint] NULL,
	[Status] [nvarchar](255) NULL,
	[UserID] [nvarchar](255) NULL,
	[UserIDChanged] [tinyint] NULL,
	[UserIDLastChanged] [nvarchar](20) NULL,
	[VATStatus] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_buyer] PRIMARY KEY CLUSTERED 
(
	[kBuyer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_buyer] ADD  CONSTRAINT [DF_dbo_ebay_buyer_AboutMePage]  DEFAULT ('0') FOR [AboutMePage]
GO
ALTER TABLE [dbo].[ebay_buyer] ADD  CONSTRAINT [DF_dbo_ebay_buyer_eBayGoodStanding]  DEFAULT ('0') FOR [eBayGoodStanding]
GO
ALTER TABLE [dbo].[ebay_buyer] ADD  CONSTRAINT [DF_dbo_ebay_buyer_FeedbackPrivate]  DEFAULT ('0') FOR [FeedbackPrivate]
GO
ALTER TABLE [dbo].[ebay_buyer] ADD  CONSTRAINT [DF_dbo_ebay_buyer_IDVerified]  DEFAULT ('0') FOR [IDVerified]
GO
ALTER TABLE [dbo].[ebay_buyer] ADD  CONSTRAINT [DF_dbo_ebay_buyer_NewUser]  DEFAULT ('0') FOR [NewUser]
GO
ALTER TABLE [dbo].[ebay_buyer] ADD  CONSTRAINT [DF_dbo_ebay_buyer_PositiveFeedbackPercent]  DEFAULT ((0.0)) FOR [PositiveFeedbackPercent]
GO
ALTER TABLE [dbo].[ebay_buyer] ADD  CONSTRAINT [DF_dbo_ebay_buyer_SiteVerified]  DEFAULT ('0') FOR [SiteVerified]
GO
ALTER TABLE [dbo].[ebay_buyer] ADD  CONSTRAINT [DF_dbo_ebay_buyer_UserIDChanged]  DEFAULT ('0') FOR [UserIDChanged]
GO
