USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tkontodaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkontodaten](
	[kKontoDaten] [int] NOT NULL,
	[kKunde] [int] NULL,
	[kLieferant] [int] NULL,
	[cBankName] [nvarchar](255) NULL,
	[cBLZ] [nvarchar](32) NULL,
	[cKontoNr] [nvarchar](32) NULL,
	[cKartenNr] [nvarchar](32) NULL,
	[cGueltigkeit] [nvarchar](12) NULL,
	[cCVV] [char](4) NULL,
	[cKartenTyp] [nvarchar](32) NULL,
	[cInhaber] [nvarchar](255) NULL,
	[cIBAN] [nvarchar](64) NULL,
	[cBIC] [nvarchar](64) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nStandard] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_tkontodaten] PRIMARY KEY CLUSTERED 
(
	[kKontoDaten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tkontodaten] ADD  DEFAULT ((0)) FOR [nStandard]
GO
