USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_KassenBenutzer]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_KassenBenutzer](
	[kBenutzer] [int] NOT NULL,
	[kKasse] [int] NOT NULL,
	[kKassenBenutzer] [bigint] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]
GO
