USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tShopVersandarten]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShopVersandarten](
	[kShopVersandart] [int] IDENTITY(1,1) NOT NULL,
	[kShop] [int] NOT NULL,
	[kVersandart] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tShopVersandarten] PRIMARY KEY CLUSTERED 
(
	[kShopVersandart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tShopVersandarten]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopVersandarten_kShop] FOREIGN KEY([kShop])
REFERENCES [dbo].[tShop] ([kShop])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tShopVersandarten] CHECK CONSTRAINT [FK_dbo_tShopVersandarten_kShop]
GO
ALTER TABLE [dbo].[tShopVersandarten]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopVersandarten_kVersandart] FOREIGN KEY([kVersandart])
REFERENCES [dbo].[tversandart] ([kVersandArt])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tShopVersandarten] CHECK CONSTRAINT [FK_dbo_tShopVersandarten_kVersandart]
GO
