USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_UpdateOptimizer]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_UpdateOptimizer](
	[kArtikel] [int] NOT NULL,
	[kImportTyp] [int] NOT NULL,
	[cUpdateRawString] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_ameise_UpdateOptimizer] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[kImportTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
