USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tInetKundeShop]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInetKundeShop](
	[kInetKunde] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[kKundenGruppe] [int] NOT NULL,
	[dKundeSeit] [nvarchar](11) NULL,
	[cInet] [char](1) NULL,
	[kKunde] [int] NULL,
	[nRegistriert] [smallint] NULL,
	[cShopKundenNr] [nvarchar](30) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kSubShop] [int] NULL,
 CONSTRAINT [PK_dbo_tInetKundeShop] PRIMARY KEY CLUSTERED 
(
	[kInetKunde] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tInetKundeShop] ADD  CONSTRAINT [DF_dbo_tInetKundeShop_cInet]  DEFAULT ('Y') FOR [cInet]
GO
ALTER TABLE [dbo].[tInetKundeShop]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tInetKundeShop_kInetKunde] CHECK  (([tInetKundeShop].[kInetKunde]>(0)))
GO
ALTER TABLE [dbo].[tInetKundeShop] CHECK CONSTRAINT [CK_dbo_tInetKundeShop_kInetKunde]
GO
