USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_user]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_user](
	[kUser] [int] NOT NULL,
	[kFirma] [int] NULL,
	[cAuthToken] [nvarchar](255) NULL,
	[cId1] [nvarchar](255) NULL,
	[cId2] [nvarchar](255) NULL,
	[cId3] [nvarchar](255) NULL,
	[cName] [nvarchar](255) NULL,
	[nPlattform] [int] NOT NULL,
	[nAktiv] [int] NULL,
	[kSprache] [int] NULL,
	[kBenutzer] [int] NULL,
	[nZahlung] [int] NULL,
	[cVersandName] [nvarchar](255) NULL,
	[nBenutzePosName] [int] NULL,
	[dInventardaten] [datetime] NULL,
	[dInventardatenFBA] [datetime] NULL,
	[nVersandpos0] [int] NULL,
	[nAnmerkung] [int] NULL,
	[cAnmerkung] [nvarchar](255) NULL,
	[nLagerSenden] [int] NULL,
	[nRepricing] [tinyint] NULL,
	[dRepricingFull] [datetime] NULL,
	[nEU] [tinyint] NULL,
	[nFBALagerAbziehen] [tinyint] NULL,
	[kVersandartStandard] [int] NULL,
	[kVersandartExpedited] [int] NULL,
	[nFBAVersandmailAnKunde] [tinyint] NULL,
	[cFBAVersandmailKopie] [nvarchar](100) NULL,
	[nIgnorierePaymentsBestellungen] [tinyint] NULL,
	[cFBAKommentar] [nvarchar](1000) NULL,
	[kZahlungsart] [int] NULL,
	[cAmazonAuthToken] [nvarchar](255) NULL,
	[kVersandartNextDayNonPrime] [int] NOT NULL,
	[kVersandartSecondDayNonPrime] [int] NOT NULL,
	[kVersandartPrimeStandard] [int] NOT NULL,
	[kKundengruppe] [int] NULL,
	[nBearbeitungszeitAnpassen] [tinyint] NOT NULL,
	[nInventardatenAnfordern] [tinyint] NOT NULL,
	[nBearbeitungszeitAufschlag] [tinyint] NOT NULL,
	[dStartVCS] [datetime] NULL,
	[kColorFbaOrder] [int] NOT NULL,
	[kColorSellerFulfilledPrimeOrder] [int] NOT NULL,
	[kColorB2BOrder] [int] NOT NULL,
	[kColorCustomOrder] [int] NOT NULL,
	[kColorFbaAndB2BOrder] [int] NOT NULL,
	[kColorSellerFulfilledPrimeAndCustomOrder] [int] NOT NULL,
	[nSendPriceAdjustment] [bit] NOT NULL,
	[nVCSModus] [tinyint] NOT NULL,
	[nIsTerminated] [bit] NOT NULL,
	[dTrailPeriodEndAt] [datetime] NULL,
	[cRegion] [nvarchar](2) NULL,
	[nLastVcsLiteId] [bigint] NOT NULL,
	[nVcsLiteRequestForLastDays] [tinyint] NULL,
	[nBestandInitialSetzen] [bit] NOT NULL,
	[nAmazonCustomDataLaden] [bit] NOT NULL,
	[nAmazonCustomDataType] [tinyint] NOT NULL,
	[cAmazonCustomDataPath] [nvarchar](255) NULL,
	[nMaxBearbeitungszeit] [int] NOT NULL,
	[kVersandartPriority] [int] NOT NULL,
	[nMultichannelMailKopieSenden] [bit] NOT NULL,
	[nGeteilterWarenbestandEUGB] [bit] NOT NULL,
	[dVcsLiteSperreUtc] [datetime] NULL,
	[dVcsSperreUtc] [datetime] NULL,
	[nGesperrt] [bit] NOT NULL,
	[nSendeVersandadresse] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_pf_user] PRIMARY KEY CLUSTERED 
(
	[kUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_pf_user_cId1] UNIQUE NONCLUSTERED 
(
	[cId1] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kVersandartNextDayNonPrime]  DEFAULT ((0)) FOR [kVersandartNextDayNonPrime]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kVersandartSecondDayNonPrime]  DEFAULT ((0)) FOR [kVersandartSecondDayNonPrime]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kVersandartPrimeStandard]  DEFAULT ((0)) FOR [kVersandartPrimeStandard]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nBearbeitungszeitAnpassen]  DEFAULT ((0)) FOR [nBearbeitungszeitAnpassen]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nInventardatenAnfordern]  DEFAULT ((1)) FOR [nInventardatenAnfordern]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nBearbeitungszeitAufschlag]  DEFAULT ((0)) FOR [nBearbeitungszeitAufschlag]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kColorFbaOrder]  DEFAULT ((0)) FOR [kColorFbaOrder]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kColorSellerFulfilledPrimeOrder]  DEFAULT ((0)) FOR [kColorSellerFulfilledPrimeOrder]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kColorB2BOrder]  DEFAULT ((0)) FOR [kColorB2BOrder]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kColorCustomOrder]  DEFAULT ((0)) FOR [kColorCustomOrder]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kColorFbaAndB2BOrder]  DEFAULT ((0)) FOR [kColorFbaAndB2BOrder]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kColorSellerFulfilledPrimeAndCustomOrder]  DEFAULT ((0)) FOR [kColorSellerFulfilledPrimeAndCustomOrder]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nSendPriceAdjustment]  DEFAULT ((1)) FOR [nSendPriceAdjustment]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nVCSModus]  DEFAULT ((0)) FOR [nVCSModus]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nIsTerminated]  DEFAULT ((0)) FOR [nIsTerminated]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nLastVcsLiteId]  DEFAULT ((0)) FOR [nLastVcsLiteId]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nBestandInitialSetzen]  DEFAULT ((1)) FOR [nBestandInitialSetzen]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nAmazonCustomDataLaden]  DEFAULT ((0)) FOR [nAmazonCustomDataLaden]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nAmazonCustomDataType]  DEFAULT ((1)) FOR [nAmazonCustomDataType]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nMaxBearbeitungszeit]  DEFAULT ((0)) FOR [nMaxBearbeitungszeit]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_kVersandartPriority]  DEFAULT ((0)) FOR [kVersandartPriority]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nMultichannelMailKopieSenden]  DEFAULT ((0)) FOR [nMultichannelMailKopieSenden]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nGeteilterWarenbestandEUGB]  DEFAULT ((0)) FOR [nGeteilterWarenbestandEUGB]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nGesperrt]  DEFAULT ((0)) FOR [nGesperrt]
GO
ALTER TABLE [dbo].[pf_user] ADD  CONSTRAINT [DF_dbo_pf_user_nSendeVersandadresse]  DEFAULT ((1)) FOR [nSendeVersandadresse]
GO
