USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tInventur]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInventur](
	[kInventur] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kWarenLagerPlatz] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[dMHD] [datetime] NULL,
	[cCharge] [nvarchar](255) NULL,
	[cSeriennummer] [nvarchar](128) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo_tInventur] PRIMARY KEY CLUSTERED 
(
	[kInventur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tInventur] ADD  CONSTRAINT [DF_dbo_tInventur_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[tInventur] ADD  CONSTRAINT [DF_dbo_tinventur_dErstellt]  DEFAULT (getdate()) FOR [dErstellt]
GO
