USE [eazybusiness]
GO
/****** Object:  View [dbo].[lvBinOverview]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[lvBinOverview]
AS
SELECT 
	innerQuery.kWarenLagerPlatz AS kId
	,innerQuery.kWarenLagerPlatz
	,innerQuery.cBinName as cBinName
	,innerQuery.kWarenLagerPlatzTyp AS kBinType
	,innerQuery.nStatus
	,innerQuery.nAnzahlArtikel
	,innerQuery.cArtikelNr
	,innerQuery.fAnzahlAktuell
	,innerQuery.fLaenge
	,innerQuery.fBreite
	,innerQuery.fHoehe
	,innerQuery.fMaxWeight
	,innerQuery.nSort
	,innerQuery.nGesperrt
	,ISNULL(innerQuery.fSumVolume / NULLIF(innerQuery.fMaxVolume, 0),0) AS fUsedCapacityVolume
	,ISNULL(innerQuery.fSumWeight / NULLIF(innerQuery.fMaxWeight, 0),0) AS fUsedCapacityWeight
	,ISNULL(innerQuery.fSumWeight,0) AS fSumWeight
	,ISNULL(innerQuery.fSumVolume,0) AS fSumVolume
	,ISNULL(innerQuery.fMaxVolume,0) AS fMaxVolume
	,innerQuery.nCapacityVolumeValid
	,innerQuery.nCapacityWeightValid
	,innerQuery.kWarenlager
	,innerQuery.kWorkbenchResource
FROM
(
	SELECT 
		tWarenlagerplatz.kWarenLagerPlatz
		,tWarenLagerPlatz.cName as cBinName
		,tWarenLagerPlatz.kWarenLagerPlatzTyp
		,tWarenLagerPlatz.nStatus
		,COUNT(distinct tWarenLagerEingang.kArtikel) as nAnzahlArtikel 
		,CASE WHEN COUNT(distinct tWarenLagerEingang.kArtikel) = 1 THEN MAX(tartikel.cArtNr)
												ELSE  NULL	END as cArtikelNr
		,ISNULL(CASE WHEN SUM(tWarenLagerEingangSubsets.fQuantity) IS NOT NULL THEN SUM(tWarenLagerEingangSubsets.fQuantity) ELSE SUM(tWarenLagerEingang.fAnzahlAktuell) END,0) AS fAnzahlAktuell
		,tWarenLagerPlatz.fLaenge
		,tWarenLagerPlatz.fBreite
		,tWarenLagerPlatz.fHoehe
		,tWarenLagerPlatz.fGewichtMax AS fMaxWeight
		,tWarenLagerPlatz.nSort
		,CAST(tWarenLagerPlatz.nGesperrt AS bit) nGesperrt
		,CAST(CASE WHEN ISNULL(MIN(tArtikel.fLaenge * tArtikel.fBreite * tArtikel.fHoehe) * tWarenLagerPlatz.fLaenge * tWarenLagerPlatz.fBreite * tWarenLagerPlatz.fHoehe, 0) > 0 THEN 1 ELSE 0 END AS bit) AS nCapacityVolumeValid
		,CAST(CASE WHEN ISNULL(MIN(tArtikel.fGewicht) * tWarenLagerPlatz.fGewichtMax, 0) > 0 THEN 1 ELSE 0 END AS bit) AS nCapacityWeightValid
		,SUM(tWarenLagerEingang.fAnzahlAktuell * tArtikel.fGewicht) AS fSumWeight
		,(tWarenLagerPlatz.fLaenge * tWarenLagerPlatz.fBreite * tWarenLagerPlatz.fHoehe) AS fMaxVolume
		,SUM(tWarenLagerEingang.fAnzahlAktuell * (tArtikel.fLaenge * tArtikel.fBreite * tArtikel.fHoehe)) AS fSumVolume
	
		,tWarenLagerPlatz.kWarenlager
		,CASE WHEN tWarenlager.nLagerplatzVerwaltung = 1 THEN CASE WHEN tWorkbenchResource.kWorkbenchResource = tWorkbenchBin.kWorkbenchResource THEN tWorkbenchBin.kWorkbenchResource ELSE NULL END ELSE tWorkbenchResource.kWorkbenchResource END AS kWorkbenchResource
	FROM dbo.tWarenLagerPlatz
	JOIN dbo.tWarenLager ON (tWarenLager.kWarenLager = tWarenLagerPlatz.kWarenLager)
	LEFT JOIN tWarenLagerEingang ON (tWarenLagerEingang.kWarenLagerPlatz = tWarenLagerPlatz.kWarenLagerPlatz and tWarenLagerEingang.fAnzahlAktuell > 0 AND tWarenLagerEingang.kArtikel > 0)
	LEFT JOIN dbo.tWarenLagerEingangSubsets ON tWarenLagerEingangSubsets.kWarenLagerEingang = tWarenLagerEingang.kWarenLagerEingang 
	LEFT JOIN dbo.tArtikel ON (tArtikel.kArtikel = tWarenLagerEingang.kArtikel)
	LEFT JOIN pps.tWorkbenchBin ON tWarenLagerPlatz.kWarenLagerPlatz = pps.tWorkbenchBin.kWarenLagerPlatz
	LEFT JOIN ResPl.tWorkbenchResource ON tWorkbenchResource.kWarenLager = tWarenLager.kWarenLager
	WHERE 
		tWarenlagerplatz.kWarenlagerPlatzTyp  != 10 
		AND tWarenlagerplatz.nStatus != 4
	GROUP BY 
		tWarenlagerplatz.kWarenLagerPlatz
		,tWarenLagerPlatz.cName
		,tWarenLagerPlatz.kWarenLagerPlatzTyp
		,tWarenLagerPlatz.fLaenge
		,tWarenLagerPlatz.fBreite
		,tWarenLagerPlatz.fHoehe
		,tWarenLagerPlatz.fGewichtMax
		,tWarenLagerPlatz.nSort
		,tWarenLagerPlatz.nGesperrt
		,tWarenLagerPlatz.nStatus
		,tWarenLagerPlatz.kWarenlager
		,tWarenlager.nLagerplatzVerwaltung
		,tWorkbenchBin.kWorkbenchResource
		,tWorkbenchResource.kWorkbenchResource
) innerQuery
GO
