USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_importvorlage]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_importvorlage](
	[kImportVorlage] [int] IDENTITY(1,1) NOT NULL,
	[kImportTyp] [int] NOT NULL,
	[kStandardVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nDateiformat] [tinyint] NOT NULL,
	[nSpaltenbegrenzer] [tinyint] NOT NULL,
	[nAbZeile] [int] NOT NULL,
	[nKopfzeile] [tinyint] NOT NULL,
	[nQuote] [tinyint] NOT NULL,
	[nEscape] [tinyint] NOT NULL,
	[cUebersicht] [nvarchar](max) NULL,
	[dErstellt] [datetime] NULL,
	[nDeleted] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_ameise_importvorlage] PRIMARY KEY CLUSTERED 
(
	[kImportVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ameise_importvorlage] ADD  CONSTRAINT [DF_dbo_ameise_importvorlage_nDateiformat]  DEFAULT ((0)) FOR [nDateiformat]
GO
ALTER TABLE [dbo].[ameise_importvorlage] ADD  CONSTRAINT [DF_dbo_ameise_importvorlage_nSpaltenbegrenzer]  DEFAULT ((0)) FOR [nSpaltenbegrenzer]
GO
ALTER TABLE [dbo].[ameise_importvorlage] ADD  CONSTRAINT [DF_dbo_ameise_importvorlage_nAbZeile]  DEFAULT ((0)) FOR [nAbZeile]
GO
ALTER TABLE [dbo].[ameise_importvorlage] ADD  CONSTRAINT [DF_dbo_ameise_importvorlage_nKopfzeile]  DEFAULT ((0)) FOR [nKopfzeile]
GO
ALTER TABLE [dbo].[ameise_importvorlage] ADD  CONSTRAINT [DF_dbo_ameise_importvorlage_nQuote]  DEFAULT ((0)) FOR [nQuote]
GO
ALTER TABLE [dbo].[ameise_importvorlage] ADD  CONSTRAINT [DF_dbo_ameise_importvorlage_nEscape]  DEFAULT ((0)) FOR [nEscape]
GO
ALTER TABLE [dbo].[ameise_importvorlage] ADD  CONSTRAINT [DF_dbo_ameise_importvorlage_nDeleted]  DEFAULT ((0)) FOR [nDeleted]
GO
