USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tCountryState]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCountryState](
	[cCountryStateIso]  AS (([cCountryIso2]+'-')+[cStateIso]),
	[cCountryIso2] [nvarchar](5) NOT NULL,
	[cStateIso] [nvarchar](5) NOT NULL,
	[cName] [nvarchar](50) NOT NULL,
	[cNameEng] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo_tCountryState] PRIMARY KEY CLUSTERED 
(
	[cCountryStateIso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tCountryState]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tCountryState_cCountryIso2] FOREIGN KEY([cCountryIso2])
REFERENCES [dbo].[tland] ([cISO])
GO
ALTER TABLE [dbo].[tCountryState] CHECK CONSTRAINT [FK_dbo_tCountryState_cCountryIso2]
GO
