USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_usertexte]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_usertexte](
	[kEbayUserTexte] [int] NOT NULL,
	[kEbayUser] [int] NULL,
	[cTagName] [nvarchar](255) NULL,
	[cText] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_ebay_usertexte] PRIMARY KEY CLUSTERED 
(
	[kEbayUserTexte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
