USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_isglobalvalue]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_isglobalvalue](
	[kValue] [int] NULL,
	[cValue] [nvarchar](255) NULL
) ON [PRIMARY]
GO
