USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_is]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_is](
	[CategoryId] [int] NULL,
	[kName] [int] NULL,
	[cHelpText] [nvarchar](255) NULL,
	[cHelpURL] [nvarchar](255) NULL,
	[nSelectionMode] [tinyint] NULL,
	[nMaxValues] [tinyint] NULL,
	[nMinValues] [tinyint] NULL,
	[nSort] [tinyint] NULL
) ON [PRIMARY]
GO
