USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_Mapping_ItemsToVariationTheme]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_Mapping_ItemsToVariationTheme](
	[kMapping_ItemsToVariationTheme] [int] IDENTITY(1,1) NOT NULL,
	[kMapping_VariationThemes] [int] NOT NULL,
	[kMapping_AmazonVariationen] [int] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_Mapping_ItemsToVariationTheme] PRIMARY KEY CLUSTERED 
(
	[kMapping_ItemsToVariationTheme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
