USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_queue]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_queue](
	[kAmazonQueue] [int] IDENTITY(1,1) NOT NULL,
	[kUser] [int] NOT NULL,
	[nKey] [int] NOT NULL,
	[cFeed] [nvarchar](30) NULL,
	[cValue] [nvarchar](max) NULL,
	[nStatus] [tinyint] NOT NULL,
	[dErstellt] [datetime] NULL,
	[dGesendet] [datetime] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_queue] PRIMARY KEY CLUSTERED 
(
	[kAmazonQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
