USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSteuerzoneLand]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSteuerzoneLand](
	[kSteuerzone] [int] NOT NULL,
	[cISO] [nvarchar](5) NOT NULL,
	[cKuerzelBundesland] [nvarchar](5) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSteuerzoneLand] PRIMARY KEY CLUSTERED 
(
	[kSteuerzone] ASC,
	[cISO] ASC,
	[cKuerzelBundesland] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
