USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tlieferant]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlieferant](
	[kLieferant] [int] IDENTITY(1,1) NOT NULL,
	[cLiefNr] [nvarchar](64) NULL,
	[cFirma] [nvarchar](255) NULL,
	[cKontakt] [nvarchar](255) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](10) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[cTelZentralle] [nvarchar](30) NULL,
	[cTelDurchwahl] [nvarchar](30) NULL,
	[cFax] [nvarchar](30) NULL,
	[cEMail] [nvarchar](255) NULL,
	[cWWW] [nvarchar](255) NULL,
	[cAnmerkung] [nvarchar](max) NULL,
	[dErstellt] [datetime] NULL,
	[cAktiv] [char](1) NULL,
	[cUstid] [nvarchar](30) NULL,
	[cISO] [nvarchar](5) NULL,
	[kSprache] [int] NULL,
	[cStatus] [nvarchar](255) NULL,
	[cLieferantID] [nvarchar](64) NULL,
	[nKreditorennr] [int] NULL,
	[cWaehrungISO] [nvarchar](20) NULL,
	[nVSTFrei] [tinyint] NULL,
	[cExterneDatenUrl] [nvarchar](255) NULL,
	[nDropshipping] [tinyint] NULL,
	[nLieferzeit] [int] NULL,
	[nZahlungsziel] [int] NULL,
	[fSkonto] [decimal](25, 13) NOT NULL,
	[fMindestbestellwert] [decimal](25, 13) NOT NULL,
	[fMindermengenzuschlag] [decimal](25, 13) NOT NULL,
	[fFrachtkosten] [decimal](25, 13) NOT NULL,
	[fVersandfreiAb] [decimal](25, 13) NOT NULL,
	[cHinweisLieferbedingung] [nvarchar](1000) NULL,
	[cFirmenZusatz] [nvarchar](255) NULL,
	[cAdresszusatz] [nvarchar](255) NULL,
	[cBundesland] [nvarchar](255) NULL,
	[nSkontoTage] [int] NULL,
	[nStaffelPreisProBestellung] [tinyint] NULL,
	[nKeineEinkaufsliste] [tinyint] NULL,
	[cAnrede] [nvarchar](30) NULL,
	[cVorname] [nvarchar](126) NULL,
	[cNachname] [nvarchar](126) NULL,
	[nDropshippingBeiNachnahme] [tinyint] NOT NULL,
	[nStandardFirma] [int] NOT NULL,
	[nStandardLager] [int] NOT NULL,
	[fMwStFreiposition] [decimal](25, 13) NOT NULL,
	[nDropshippingFreipositionen] [tinyint] NOT NULL,
	[nJtlFulfillment] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nType] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tlieferant] PRIMARY KEY CLUSTERED 
(
	[kLieferant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlieferant] ADD  CONSTRAINT [DF_dbo_tlieferant_fSkonto]  DEFAULT ((0.0)) FOR [fSkonto]
GO
ALTER TABLE [dbo].[tlieferant] ADD  CONSTRAINT [DF_dbo_tlieferant_fMindestbestellwert]  DEFAULT ((0.0)) FOR [fMindestbestellwert]
GO
ALTER TABLE [dbo].[tlieferant] ADD  CONSTRAINT [DF_dbo_tlieferant_fMindermengenzuschlag]  DEFAULT ((0.0)) FOR [fMindermengenzuschlag]
GO
ALTER TABLE [dbo].[tlieferant] ADD  CONSTRAINT [DF_dbo_tlieferant_fFrachtkosten]  DEFAULT ((0.0)) FOR [fFrachtkosten]
GO
ALTER TABLE [dbo].[tlieferant] ADD  CONSTRAINT [DF_dbo_tlieferant_fVersandfreiAb]  DEFAULT ((0.0)) FOR [fVersandfreiAb]
GO
ALTER TABLE [dbo].[tlieferant] ADD  CONSTRAINT [DF_dbo_tlieferant_nDropshippingBeiNachnahme]  DEFAULT ((0)) FOR [nDropshippingBeiNachnahme]
GO
ALTER TABLE [dbo].[tlieferant] ADD  CONSTRAINT [DF_dbo_tlieferant_fMwStFreiposition]  DEFAULT ((0)) FOR [fMwStFreiposition]
GO
ALTER TABLE [dbo].[tlieferant] ADD  CONSTRAINT [DF_dbo_tlieferant_nDropshippingFreipositionen]  DEFAULT ((0)) FOR [nDropshippingFreipositionen]
GO
ALTER TABLE [dbo].[tlieferant] ADD  CONSTRAINT [DF_dbo_tlieferant_nType]  DEFAULT ((0)) FOR [nType]
GO
ALTER TABLE [dbo].[tlieferant]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tlieferant_nStandardFirma] CHECK  (([nStandardFirma]>(0)))
GO
ALTER TABLE [dbo].[tlieferant] CHECK CONSTRAINT [CK_dbo_tlieferant_nStandardFirma]
GO
ALTER TABLE [dbo].[tlieferant]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tlieferant_nStandardLager] CHECK  (([nStandardLager]>(0)))
GO
ALTER TABLE [dbo].[tlieferant] CHECK CONSTRAINT [CK_dbo_tlieferant_nStandardLager]
GO
