USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBedarfsgrundlagePosition]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBedarfsgrundlagePosition](
	[kBedarfsgrundlagePos] [int] IDENTITY(1,1) NOT NULL,
	[kBedarfsgrundlage] [int] NOT NULL,
	[nPrio] [int] NOT NULL,
	[kWarenlager] [int] NULL,
	[nTyp] [tinyint] NOT NULL,
	[kWMSLagerbereich] [int] NULL,
	[kWarenlagerplatz] [int] NULL,
	[kLieferant] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tBedarfsgrundlagePosition] PRIMARY KEY CLUSTERED 
(
	[kBedarfsgrundlagePos] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
