USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_fba_kommentar]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_fba_kommentar](
	[kUser] [int] NULL,
	[kSprache] [int] NULL,
	[cFBAKommentar] [nvarchar](1000) NULL
) ON [PRIMARY]
GO
