USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_synchartikel]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_synchartikel](
	[kArtikel] [int] NULL,
	[nDay] [tinyint] NULL,
	[dSent] [nvarchar](20) NULL
) ON [PRIMARY]
GO
