USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_data_store]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_data_store](
	[kStore] [int] NOT NULL,
	[kEbayUser] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[SubscriptionLevel] [nvarchar](255) NULL,
	[URL] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_data_store] PRIMARY KEY CLUSTERED 
(
	[kStore] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
