USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tDropShippingPos]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDropShippingPos](
	[kBestellPos] [int] NOT NULL,
	[kLieferantenBEstellungPos] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
