USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tInetKundenAttribute]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInetKundenAttribute](
	[kInetKunde] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cValue] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
