USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsabgleichUmsatz]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsabgleichUmsatz](
	[kZahlungsabgleichUmsatz] [int] IDENTITY(1,1) NOT NULL,
	[kZahlungsabgleichModul] [int] NOT NULL,
	[cKontoIdentifikation] [nvarchar](50) NOT NULL,
	[cTransaktionID] [nvarchar](100) NOT NULL,
	[dBuchungsdatum] [datetime] NOT NULL,
	[fBetrag] [decimal](25, 13) NOT NULL,
	[cWaehrungISO] [nvarchar](3) NOT NULL,
	[cName] [nvarchar](500) NOT NULL,
	[cKonto] [nvarchar](500) NOT NULL,
	[cKontozusatz] [nvarchar](500) NOT NULL,
	[cVerwendungszweck] [nvarchar](1000) NOT NULL,
	[cInternerKommentar] [nvarchar](1000) NOT NULL,
	[dAbgleichszeitpunkt] [datetime] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[nSichtbar] [bit] NOT NULL,
	[nBuchungstyp] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cReferenzTransaktionID] [nvarchar](100) NULL,
	[nStatus] [tinyint] NOT NULL,
	[cStatusText] [nvarchar](255) NULL,
	[cReferenz] [nvarchar](50) NULL,
	[cZusatzinformationen] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo_tZahlungsabgleichUmsatz] PRIMARY KEY NONCLUSTERED 
(
	[kZahlungsabgleichUmsatz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tZahlungsabgleichUmsatz_cKontoIdentifikation_cTransaktionID_kZahlungsabgleichModul] UNIQUE NONCLUSTERED 
(
	[cKontoIdentifikation] ASC,
	[cTransaktionID] ASC,
	[kZahlungsabgleichModul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tZahlungsabgleichUmsatz] ADD  CONSTRAINT [DF_dbo_tZahlungsabgleichUmsatz_nSichtbar]  DEFAULT ((1)) FOR [nSichtbar]
GO
ALTER TABLE [dbo].[tZahlungsabgleichUmsatz] ADD  CONSTRAINT [DF_dbo_tZahlungsabgleichUmsatz_nBuchungstyp]  DEFAULT ((0)) FOR [nBuchungstyp]
GO
ALTER TABLE [dbo].[tZahlungsabgleichUmsatz] ADD  CONSTRAINT [DF_dbo_tZahlungsabgleichUmsatz_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
ALTER TABLE [dbo].[tZahlungsabgleichUmsatz]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tZahlungsabgleichUmsatz_nStatus] CHECK  (([nStatus]=(102) OR [nStatus]=(101) OR [nStatus]=(100) OR [nStatus]=(5) OR [nStatus]=(0)))
GO
ALTER TABLE [dbo].[tZahlungsabgleichUmsatz] CHECK CONSTRAINT [CK_dbo_tZahlungsabgleichUmsatz_nStatus]
GO
