USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tinetbestellung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tinetbestellung](
	[kInetBestellung] [int] NOT NULL,
	[kWarenkorb] [int] NULL,
	[kKunde] [int] NULL,
	[kLieferAdresse] [int] NULL,
	[kVersandart] [int] NULL,
	[cInetBestNr] [nvarchar](50) NULL,
	[cVersandInfo] [nvarchar](255) NULL,
	[dVersandDatum] [nvarchar](12) NULL,
	[cTracking] [nvarchar](255) NULL,
	[cKommentar] [nvarchar](255) NULL,
	[cAbgeholt] [char](1) NULL,
	[cStatus] [char](1) NULL,
	[dTimestamp] [datetime] NULL,
	[kBestellHinweis] [int] NULL,
	[kShop] [int] NOT NULL,
	[kWaehrung] [int] NULL,
	[kSprache] [int] NULL,
	[fGutschein] [decimal](25, 13) NOT NULL,
	[cModulID] [nvarchar](255) NULL,
	[nZahlungsTyp] [int] NULL,
	[nHatUpload] [int] NULL,
	[cPUIZahlungsdaten] [nvarchar](max) NULL,
	[cKampagne] [nvarchar](255) NULL,
	[cKampagneParam] [nvarchar](255) NULL,
	[cKampagneName] [nvarchar](255) NULL,
	[cUserAgent] [nvarchar](512) NULL,
	[cReferrer] [nvarchar](255) NULL,
	[nMaxLiefertage] [int] NULL,
	[fFaktor] [decimal](25, 13) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cHinweis] [nvarchar](max) NULL,
	[nLongestMinDelivery] [int] NULL,
	[kRechnungsadresse] [int] NULL,
 CONSTRAINT [PK_dbo_tinetbestellung] PRIMARY KEY CLUSTERED 
(
	[kInetBestellung] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tinetbestellung] ADD  CONSTRAINT [DF_dbo_tinetbestellung_kBestellHinweis]  DEFAULT ((0)) FOR [kBestellHinweis]
GO
ALTER TABLE [dbo].[tinetbestellung] ADD  CONSTRAINT [DF_dbo_tinetbestellung_kShop]  DEFAULT ((0)) FOR [kShop]
GO
ALTER TABLE [dbo].[tinetbestellung] ADD  CONSTRAINT [DF_dbo_tinetbestellung_fGutschein]  DEFAULT ((0.0)) FOR [fGutschein]
GO
