USE [eazybusiness]
GO
/****** Object:  View [dbo].[vStuecklisteGutschriftPos]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vStuecklisteGutschriftPos]
AS
SELECT dbo.tgutschriftpos.kGutschriftPos,
		CASE WHEN vStuecklisteInBestellung.tartikel_kArtikel IS NULL
			THEN dbo.tStueckliste.kArtikel
			ELSE vStuecklisteInBestellung.tartikel_kArtikel
		END AS kArtikel,
		CASE WHEN vStuecklisteInBestellung.tartikel_kArtikel IS NULL
			THEN dbo.tStueckliste.fAnzahl
			ELSE vStuecklisteInBestellung.MengeInBestellung
		END AS fAnzahl
	FROM dbo.tgutschriftpos
	JOIN dbo.tArtikel ON dbo.tgutschriftpos.tArtikel_kArtikel = dbo.tArtikel.kArtikel
	LEFT JOIN (
		SELECT	Vater.kAuftragStueckliste AS Stueckliste,
			Kind.kArtikel AS tArtikel_kArtikel, 
			(Kind.fAnzahl / Vater.fAnzahl) AS MengeInBestellung
		FROM Verkauf.vAuftragPosition AS Vater
		JOIN Verkauf.vAuftragPosition AS Kind ON Kind.kAuftragStueckliste = Vater.kAuftragPosition
		WHERE Kind.kAuftragPosition <> Kind.kAuftragStueckliste
	) AS vStuecklisteInBestellung ON dbo.tgutschriftpos.kBestellPos = vStuecklisteInBestellung.Stueckliste
	LEFT JOIN dbo.tStueckliste ON dbo.tStueckliste.kStueckliste = dbo.tArtikel.kStueckliste
	WHERE dbo.tArtikel.kStueckliste > 0 OR vStuecklisteInBestellung.tartikel_kArtikel IS NOT NULL
GO
