USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferscheinEckdaten]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferscheinEckdaten](
	[dErstellt] [datetime] NULL,
	[kLieferschein] [int] NOT NULL,
	[dVersendet] [datetime] NULL,
	[nAnzahlPakete] [int] NOT NULL,
	[nAnzahlVersendetePakete] [int] NOT NULL,
	[nVersandStatus] [tinyint] NULL,
	[kVersandArt] [int] NULL,
	[nRechnungStatus] [tinyint] NOT NULL,
	[fArtikelGewicht] [decimal](25, 13) NOT NULL,
	[fVersandGewicht] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_dbo_tLieferscheinEckdaten] PRIMARY KEY NONCLUSTERED 
(
	[kLieferschein] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferscheinEckdaten]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tLieferscheinEckdaten_kLieferschein] FOREIGN KEY([kLieferschein])
REFERENCES [dbo].[tLieferschein] ([kLieferschein])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tLieferscheinEckdaten] CHECK CONSTRAINT [FK_dbo_tLieferscheinEckdaten_kLieferschein]
GO
