USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_validationrules]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_validationrules](
	[AttributeId] [int] NULL,
	[AttributeSetId] [int] NULL,
	[Name] [nvarchar](255) NULL,
	[PeerAttributeId] [int] NULL,
	[cSeparator] [nvarchar](5) NULL,
	[fMin] [decimal](25, 13) NOT NULL,
	[fMax] [decimal](25, 13) NOT NULL,
	[Mask] [nvarchar](255) NULL,
	[Precistion] [tinyint] NULL,
	[Regex] [nvarchar](100) NULL,
	[nLength] [smallint] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_validationrules] ADD  CONSTRAINT [DF_dbo_ebay_de_validationrules_fMin]  DEFAULT ((0.0)) FOR [fMin]
GO
ALTER TABLE [dbo].[ebay_de_validationrules] ADD  CONSTRAINT [DF_dbo_ebay_de_validationrules_fMax]  DEFAULT ((0.0)) FOR [fMax]
GO
