USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tReports]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tReports](
	[kReports] [int] NOT NULL,
	[cName] [nvarchar](128) NULL,
	[cData] [nvarchar](max) NULL,
	[cTyp] [nvarchar](128) NULL,
	[cDataSet] [nvarchar](3000) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tReports] PRIMARY KEY CLUSTERED 
(
	[kReports] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
