USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tDruckEinstellung]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDruckEinstellung](
	[kDruckEinstellung] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cArbeitsplatz] [nvarchar](64) NOT NULL,
	[kDruckvorlage] [int] NOT NULL,
	[cDruckername1] [nvarchar](64) NOT NULL,
	[cDruckername2] [nvarchar](64) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tDruckEinstellung] PRIMARY KEY CLUSTERED 
(
	[kDruckEinstellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tDruckEinstellung_cArbeitsplatz_kBenutzer_kDruckvorlage] UNIQUE NONCLUSTERED 
(
	[cArbeitsplatz] ASC,
	[kBenutzer] ASC,
	[kDruckvorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
