USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vKundengruppe]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[unicorn2_vKundengruppe] 
    AS
        SELECT kId, kWawiId, cStatus, dChangedDate
        FROM unicorn2_tChangeCache WITH (NOLOCK)
        WHERE cType = 'Kundengruppe';
GO
