USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_item2kombi]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_item2kombi](
	[kItem] [int] NOT NULL,
	[kEigenschaftKombi] [int] NOT NULL,
	[fPreis] [decimal](25, 13) NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fMaxAnzahl] [decimal](25, 13) NOT NULL,
	[cEAN] [nvarchar](255) NULL,
	[fMinAnzahl] [decimal](25, 13) NOT NULL,
	[fStreichPreis] [decimal](25, 13) NULL,
	[cStreichPreisTyp] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_item2kombi] PRIMARY KEY CLUSTERED 
(
	[kItem] ASC,
	[kEigenschaftKombi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_item2kombi] ADD  CONSTRAINT [DF_dbo_ebay_item2kombi_fPreis]  DEFAULT ((0.0)) FOR [fPreis]
GO
ALTER TABLE [dbo].[ebay_item2kombi] ADD  CONSTRAINT [DF_dbo_ebay_item2kombi_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[ebay_item2kombi] ADD  CONSTRAINT [DF_dbo_ebay_item2kombi_fMaxAnzahl]  DEFAULT ((0.0)) FOR [fMaxAnzahl]
GO
ALTER TABLE [dbo].[ebay_item2kombi] ADD  CONSTRAINT [DF_dbo_ebay_item2kombi_fMinAnzahl]  DEFAULT ((1)) FOR [fMinAnzahl]
GO
