USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBestellvorschlagEinstellungsSpeicher]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBestellvorschlagEinstellungsSpeicher](
	[kBenutzer] [int] NOT NULL,
	[xKonfiguration] [xml] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_DBO_tBestellvorschlagEinstellungsSpeicher] PRIMARY KEY CLUSTERED 
(
	[kBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
