USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelUpload]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelUpload](
	[kArtikelUpload] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NULL,
	[cDateiTyp] [nvarchar](255) NULL,
	[nPflicht] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelUpload] PRIMARY KEY CLUSTERED 
(
	[kArtikelUpload] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
