USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlung](
	[kZahlung] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[dDatum] [datetime] NULL,
	[fBetrag] [decimal](25, 13) NOT NULL,
	[kBestellung] [int] NULL,
	[kBenutzer] [int] NULL,
	[nAnzahlung] [tinyint] NULL,
	[cHinweis] [nvarchar](2000) NULL,
	[kZahlungsart] [int] NULL,
	[nKeinExport] [tinyint] NULL,
	[cSKRManuell] [nvarchar](255) NULL,
	[cExternalTransactionId] [nvarchar](255) NULL,
	[kZahlungsabgleichUmsatz] [int] NULL,
	[nZuweisungstyp] [tinyint] NULL,
	[nZahlungstyp] [tinyint] NOT NULL,
	[cZuweisungsinfo] [nvarchar](1000) NULL,
	[nZuweisungswertung] [int] NULL,
	[kRechnung] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kGutschrift] [int] NULL,
	[kEingangsrechnung] [int] NULL,
 CONSTRAINT [PK_dbo_tZahlung] PRIMARY KEY CLUSTERED 
(
	[kZahlung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tZahlung] ADD  CONSTRAINT [DF_dbo_tZahlung_fBetrag]  DEFAULT ((0)) FOR [fBetrag]
GO
ALTER TABLE [dbo].[tZahlung] ADD  CONSTRAINT [DF_dbo_tZahlung_nAnzahlung]  DEFAULT ((0)) FOR [nAnzahlung]
GO
