USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersanddatenImportVorlage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersanddatenImportVorlage](
	[kVersanddatenImportVorlage] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cTrennzeichen] [char](1) NOT NULL,
	[nKopfzeilen] [int] NOT NULL,
	[cDatumsFormat] [nvarchar](255) NOT NULL,
	[nSpalteId] [int] NOT NULL,
	[nSpalteVersandDatum] [int] NOT NULL,
	[nSpalteTrackingNummer] [int] NOT NULL,
	[nSpalteVersandInfo] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersanddatenImportVorlage] PRIMARY KEY CLUSTERED 
(
	[kVersanddatenImportVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
