USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSteuerschluessel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSteuerschluessel](
	[kSteuerschluessel] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cSteuerkonto] [nvarchar](10) NULL,
	[cSkontokonto] [nvarchar](10) NULL,
	[cBonuskonto] [nvarchar](10) NULL,
	[cErloeskonto] [nvarchar](10) NULL,
	[cAusbuchungskonto] [nvarchar](10) NULL,
	[cAnzahlungskonto] [nvarchar](10) NULL,
	[nAnzahlung] [tinyint] NULL,
	[nAutomatik] [tinyint] NULL,
	[nSchluesselnummer] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSteuerschluessel] PRIMARY KEY CLUSTERED 
(
	[kSteuerschluessel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tSteuerschluessel_nSchluesselnummer] UNIQUE NONCLUSTERED 
(
	[nSchluesselnummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
