USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLagerbestandVirtuell]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLagerbestandVirtuell](
	[kLagerbestandVirtuell] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[iModuleId] [uniqueidentifier] NOT NULL,
	[fBestand] [decimal](25, 13) NOT NULL,
	[nLagerBeachten] [bit] NOT NULL,
	[dGeandert] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fZulauf] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_dbo_tLagerbestandVirtuell] PRIMARY KEY CLUSTERED 
(
	[kLagerbestandVirtuell] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tLagerbestandVirtuell_iModuleId_kArtikel] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[iModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLagerbestandVirtuell] ADD  CONSTRAINT [DF_dbo_tLagerbestandVirtuell_fBestand]  DEFAULT ((0)) FOR [fBestand]
GO
ALTER TABLE [dbo].[tLagerbestandVirtuell] ADD  CONSTRAINT [DF_dbo_tLagerbestandVirtuell_nLagerBeachten]  DEFAULT ((0)) FOR [nLagerBeachten]
GO
ALTER TABLE [dbo].[tLagerbestandVirtuell] ADD  CONSTRAINT [DF_dbo_tLagerbestandVirtuell_fZulauf]  DEFAULT ((0.0)) FOR [fZulauf]
GO
