USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_item2xsell]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_item2xsell](
	[kEbayItem] [int] NULL,
	[kXSell] [int] NULL
) ON [PRIMARY]
GO
