USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAdressExportFelderErweitert]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAdressExportFelderErweitert](
	[kAdressExportVorlage] [int] NULL,
	[nFeldNr] [int] NULL,
	[cName] [nvarchar](255) NULL,
	[cWert] [nvarchar](255) NULL,
	[cZone] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
