USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRMRetourePos]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRMRetourePos](
	[kRMRetourePos] [int] IDENTITY(1,1) NOT NULL,
	[kRMRetoure] [int] NOT NULL,
	[kRMGrund] [int] NOT NULL,
	[kRMStatusVerlauf] [int] NOT NULL,
	[kZustand] [int] NULL,
	[kLieferscheinPos] [int] NOT NULL,
	[kBenutzer] [int] NULL,
	[cZustandKommentar] [nvarchar](max) NULL,
	[cGrundKommentar] [nvarchar](max) NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nGutschreiben] [tinyint] NOT NULL,
	[cFfnReturnPosId] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cArtNr] [nvarchar](100) NULL,
	[cName] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_tRMRetourePos] PRIMARY KEY CLUSTERED 
(
	[kRMRetourePos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRMRetourePos] ADD  CONSTRAINT [DF_dbo_tRmRetourePos_cArtNr]  DEFAULT (NULL) FOR [cArtNr]
GO
ALTER TABLE [dbo].[tRMRetourePos] ADD  CONSTRAINT [DF_dbo_tRmRetourePos_cName]  DEFAULT (NULL) FOR [cName]
GO
