USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_dependency]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_dependency](
	[childAttrId] [int] NULL,
	[parentValueId] [int] NOT NULL,
	[AttributeId] [int] NULL,
	[AttributeSetId] [int] NULL,
	[Type] [tinyint] NULL
) ON [PRIMARY]
GO
