USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_itemcompatibility]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_itemcompatibility](
	[kItemCompatibility] [int] IDENTITY(1,1) NOT NULL,
	[kItem] [int] NOT NULL,
	[kType] [bigint] NULL,
	[cMarke] [nvarchar](255) NULL,
	[cModell] [nvarchar](255) NULL,
	[cTyp] [nvarchar](255) NULL,
	[cPlattform] [nvarchar](255) NULL,
	[cBaujahr] [nvarchar](255) NULL,
	[cMotor] [nvarchar](255) NULL,
	[cHSNTSN] [nvarchar](255) NULL,
	[cCompatibilityNote] [nvarchar](505) NULL,
 CONSTRAINT [PK_dbo_ebay_itemcompatibility] PRIMARY KEY CLUSTERED 
(
	[kItemCompatibility] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
