USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPicklisteVorlage]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPicklisteVorlage](
	[kPicklisteVorlage] [int] IDENTITY(1,1) NOT NULL,
	[kPickliste] [int] NULL,
	[nIstVorlage] [tinyint] NULL,
	[nAnzahlBestellungen] [int] NULL,
	[kBestellNr] [int] NULL,
	[nAnzahlArtikelAuftragMax] [int] NULL,
	[nAnzahlArtikelAuftragMin] [int] NULL,
	[nTeillieferungen] [tinyint] NULL,
	[fTeillieferungenWert] [decimal](25, 13) NOT NULL,
	[nBoxenVon] [int] NULL,
	[nBoxenBis] [int] NULL,
	[fGewichtVon] [decimal](25, 13) NOT NULL,
	[fGewichtBis] [decimal](25, 13) NOT NULL,
	[nSortierung] [tinyint] NULL,
	[cKommentar] [nvarchar](255) NULL,
	[dVonDatum] [datetime] NULL,
	[dBisDatum] [datetime] NULL,
	[kBenutzer] [int] NULL,
	[dAngelegt] [datetime] NULL,
	[cVersandartNr] [nvarchar](4000) NULL,
	[cShops] [nvarchar](255) NULL,
	[cPlattformen] [nvarchar](255) NULL,
	[kWarenlager] [int] NULL,
	[cName] [nvarchar](64) NULL,
	[nQuickSlot] [int] NULL,
	[cWarengruppen] [nvarchar](4000) NULL,
	[kRollendeKommissionierungPickwagen] [int] NULL,
	[nBestellungWMSFreigabe] [tinyint] NULL,
	[nMaxAnzahlArtikel] [int] NOT NULL,
	[nNichtBezahltVorkommissionieren] [tinyint] NULL,
	[nNichtBezahltAutomatischAufVorkommi] [tinyint] NULL,
	[cLieferlaender] [nvarchar](3000) NULL,
	[cLagerbereiche] [nvarchar](3000) NULL,
	[fPreisAuftragMax] [decimal](25, 13) NOT NULL,
	[fPreisAuftragMin] [decimal](25, 13) NOT NULL,
	[cAuftragkennzeichnung] [nvarchar](255) NULL,
	[cFirmen] [nvarchar](1000) NULL,
	[cKundengruppen] [nvarchar](3000) NULL,
	[cVersandklassen] [nvarchar](3000) NULL,
	[cZahlungsarten] [nvarchar](3000) NULL,
	[nEnthaeltArtAusWarengruppe] [tinyint] NOT NULL,
	[nAlleOhneWarengruppe] [tinyint] NOT NULL,
	[nAlleOhneVersandart] [tinyint] NOT NULL,
	[nAlleOhneZahlungsart] [tinyint] NOT NULL,
	[nDirektVerpacken] [tinyint] NOT NULL,
	[cBenutzer] [nvarchar](3000) NULL,
	[nSortenrein] [tinyint] NOT NULL,
	[nAuftragsArt] [tinyint] NOT NULL,
	[nMHDHandling] [tinyint] NOT NULL,
	[nMHDMinHaltbarkeit] [int] NOT NULL,
	[nArtikelBreiteVon] [int] NOT NULL,
	[nArtikelBreiteBis] [int] NOT NULL,
	[nArtikelHoeheVon] [int] NOT NULL,
	[nArtikelHoeheBis] [int] NOT NULL,
	[nArtikelLaengeVon] [int] NOT NULL,
	[nArtikelLaengeBis] [int] NOT NULL,
	[nBoxenNurGanzeStuecklistenAufPL] [tinyint] NOT NULL,
	[nAuftragsVolumenVon] [bigint] NOT NULL,
	[nAuftragsVolumenBis] [bigint] NOT NULL,
	[nOhneVolumenAusschliessen] [tinyint] NOT NULL,
	[nStuecklisteVonGleichenPlatz] [tinyint] NOT NULL,
	[nMobileAppPicklistenVorlage] [tinyint] NOT NULL,
	[nNachschubPickenLast] [tinyint] NOT NULL,
	[nPlatzPrioBeruecksichtigen] [tinyint] NOT NULL,
	[kPicklistenVorlageUrsprung] [int] NULL,
	[nEnthaeltArtAusEigeneFelder] [tinyint] NOT NULL,
	[nEnthaeltArtArtikelZustand] [tinyint] NOT NULL,
	[nNurAusgewaehlteVersandartenAnzeigen] [tinyint] NOT NULL,
	[cAuftragsPrio] [nvarchar](512) NULL,
	[nStuecklisteNurWennAlleAufPlatz] [tinyint] NOT NULL,
	[nAngebrocheneBoxenImmerVervollstaendigen] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cColor] [nvarchar](32) NULL,
	[nAnzahlBestellungenMin] [int] NOT NULL,
	[cPlatzTypen] [nvarchar](1000) NULL,
	[nPicklistenVorlageTyp] [tinyint] NULL,
	[kVorlagenSet] [int] NULL,
	[nAlleOhneHersteller] [tinyint] NOT NULL,
	[nEnthaeltHersteller] [tinyint] NOT NULL,
	[cAuftragsFarben] [nvarchar](4000) NULL,
	[nAlleOhneFarben] [tinyint] NOT NULL,
	[nAdressenCheck] [tinyint] NOT NULL,
	[kWarenlagerUmlagerung] [int] NOT NULL,
	[nAlleOhneLagerbereich] [tinyint] NOT NULL,
	[nKeineOderAlleInLagerbereich] [tinyint] NOT NULL,
	[cVorlageSerialized] [nvarchar](max) NULL,
	[nReservierungsFehler] [int] NULL,
	[cRechnungslaender] [nvarchar](4000) NULL,
	[cBenutzerAuftrag] [nvarchar](4000) NULL,
	[nBenutzerAuftragAusschliessen] [tinyint] NULL,
	[nAutomatischErstellen] [tinyint] NOT NULL,
	[nEnthaeltAuftragAusEigeneFelder] [tinyint] NOT NULL,
	[nArtikelKuerzesteKanteMax] [int] NOT NULL,
	[nArtikelKuerzesteKanteMin] [int] NOT NULL,
	[nArtikelLaengsteKanteMax] [int] NOT NULL,
	[nArtikelLaengsteKanteMin] [int] NOT NULL,
	[nAutomatischErstellenMaxAnzahl] [int] NOT NULL,
	[nAuftraegeChargenrein] [tinyint] NULL,
	[nSortenreinMaxAnzahlArtikel] [int] NULL,
	[nMinAnzahlArtikel] [int] NOT NULL,
	[nLagerplatzNachMenge] [int] NOT NULL,
	[nKeineAuftraegeVollstaendigAufPickliste] [tinyint] NOT NULL,
	[nVollstaengigeImmerVorkommissionieren] [tinyint] NOT NULL,
	[nPicklisteFuerBenutzerAusblenden] [tinyint] NOT NULL,
	[nArtikelLabelFilterModus] [tinyint] NULL,
	[kPicklisteVorlageParent] [int] NULL,
	[nPlaetzeOhneReservierungZuerst] [tinyint] NOT NULL,
	[nVorschauDeaktiv] [tinyint] NOT NULL,
	[nArtikelEinzelPreisMin] [decimal](25, 13) NOT NULL,
	[nArtikelEinzelPreisMax] [decimal](25, 13) NOT NULL,
	[nVollstaendigTeilgeliefertFIFO] [tinyint] NOT NULL,
	[nTreeSort] [smallint] NOT NULL,
	[nMinLagerbereicheAnzahl] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tPicklisteVorlage] PRIMARY KEY CLUSTERED 
(
	[kPicklisteVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_fTeillieferungenWert]  DEFAULT ((0.0)) FOR [fTeillieferungenWert]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_fGewichtVon]  DEFAULT ((0.0)) FOR [fGewichtVon]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_fGewichtBis]  DEFAULT ((0.0)) FOR [fGewichtBis]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nBestellungWMSFreigabe]  DEFAULT ((0)) FOR [nBestellungWMSFreigabe]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nMaxAnzahlArtikel]  DEFAULT ((999999)) FOR [nMaxAnzahlArtikel]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nNichtBezahltVorkommissionieren]  DEFAULT ((0)) FOR [nNichtBezahltVorkommissionieren]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nNichtBezahltAutomatischAufVorkommi]  DEFAULT ((0)) FOR [nNichtBezahltAutomatischAufVorkommi]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_fPreisAuftragMax]  DEFAULT ((0)) FOR [fPreisAuftragMax]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_fPreisAuftragMin]  DEFAULT ((0)) FOR [fPreisAuftragMin]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nEnthaeltArtAusWarengruppe]  DEFAULT ((0)) FOR [nEnthaeltArtAusWarengruppe]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAlleOhneWarengruppe]  DEFAULT ((0)) FOR [nAlleOhneWarengruppe]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAlleOhneVersandart]  DEFAULT ((0)) FOR [nAlleOhneVersandart]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAlleOhneZahlungsart]  DEFAULT ((0)) FOR [nAlleOhneZahlungsart]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nDirektVerpacken]  DEFAULT ((0)) FOR [nDirektVerpacken]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nSortenrein]  DEFAULT ((0)) FOR [nSortenrein]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAuftragsArt]  DEFAULT ((0)) FOR [nAuftragsArt]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nMHDHandling]  DEFAULT ((0)) FOR [nMHDHandling]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nMHDMinHaltbarkeit]  DEFAULT ((0)) FOR [nMHDMinHaltbarkeit]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelBreiteVon]  DEFAULT ((0)) FOR [nArtikelBreiteVon]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelBreiteBis]  DEFAULT ((0)) FOR [nArtikelBreiteBis]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelHoeheVon]  DEFAULT ((0)) FOR [nArtikelHoeheVon]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelHoeheBis]  DEFAULT ((0)) FOR [nArtikelHoeheBis]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelLaengeVon]  DEFAULT ((0)) FOR [nArtikelLaengeVon]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelLaengeBis]  DEFAULT ((0)) FOR [nArtikelLaengeBis]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nBoxenNurGanzeStuecklistenAufPL]  DEFAULT ((0)) FOR [nBoxenNurGanzeStuecklistenAufPL]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAuftragsVolumenVon]  DEFAULT ((0)) FOR [nAuftragsVolumenVon]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAuftragsVolumenBis]  DEFAULT ((0)) FOR [nAuftragsVolumenBis]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nOhneVolumenAusschliessen]  DEFAULT ((0)) FOR [nOhneVolumenAusschliessen]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nStuecklisteVonGleichenPlatz]  DEFAULT ((0)) FOR [nStuecklisteVonGleichenPlatz]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nMobileAppPicklistenVorlage]  DEFAULT ((0)) FOR [nMobileAppPicklistenVorlage]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nNachschubPickenLast]  DEFAULT ((0)) FOR [nNachschubPickenLast]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nPlatzPrioBeruecksichtigen]  DEFAULT ((0)) FOR [nPlatzPrioBeruecksichtigen]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nEnthaeltArtAusEigeneFelder]  DEFAULT ((0)) FOR [nEnthaeltArtAusEigeneFelder]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nEnthaeltArtArtikelZustand]  DEFAULT ((0)) FOR [nEnthaeltArtArtikelZustand]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nNurAusgewaehlteVersandartenAnzeigen]  DEFAULT ((0)) FOR [nNurAusgewaehlteVersandartenAnzeigen]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nStuecklisteNurWennAlleAufPlatz]  DEFAULT ((0)) FOR [nStuecklisteNurWennAlleAufPlatz]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAngebrocheneBoxenImmerVervollstaendigen]  DEFAULT ((0)) FOR [nAngebrocheneBoxenImmerVervollstaendigen]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAnzahlBestellungenMin]  DEFAULT ((0)) FOR [nAnzahlBestellungenMin]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAlleOhneHersteller]  DEFAULT ((0)) FOR [nAlleOhneHersteller]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nEnthaeltHersteller]  DEFAULT ((0)) FOR [nEnthaeltHersteller]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAlleOhneFarben]  DEFAULT ((0)) FOR [nAlleOhneFarben]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAdressenCheck]  DEFAULT ((0)) FOR [nAdressenCheck]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_kWarenlagerUmlagerung]  DEFAULT ((0)) FOR [kWarenlagerUmlagerung]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAlleOhneLagerbereich]  DEFAULT ((0)) FOR [nAlleOhneLagerbereich]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nKeineOderAlleInLagerbereich]  DEFAULT ((0)) FOR [nKeineOderAlleInLagerbereich]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_tPicklisteVorlage_nAutomatischErstellen]  DEFAULT ((0)) FOR [nAutomatischErstellen]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nEnthaeltAuftragAusEigeneFelder]  DEFAULT ((0)) FOR [nEnthaeltAuftragAusEigeneFelder]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelKuerzesteKanteMax]  DEFAULT ((0)) FOR [nArtikelKuerzesteKanteMax]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelKuerzesteKanteMin]  DEFAULT ((0)) FOR [nArtikelKuerzesteKanteMin]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelLaengsteKanteMax]  DEFAULT ((0)) FOR [nArtikelLaengsteKanteMax]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelLaengsteKanteMin]  DEFAULT ((0)) FOR [nArtikelLaengsteKanteMin]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nAutomatischErstellenMaxAnzahl]  DEFAULT ((5)) FOR [nAutomatischErstellenMaxAnzahl]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nMinAnzahlArtikel]  DEFAULT ((0)) FOR [nMinAnzahlArtikel]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nLagerplatzNachMenge]  DEFAULT ((0)) FOR [nLagerplatzNachMenge]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nKeineAuftraegeVollstaendigAufPickliste]  DEFAULT ((0)) FOR [nKeineAuftraegeVollstaendigAufPickliste]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nVollstaengigeImmerVorkommissionieren]  DEFAULT ((0)) FOR [nVollstaengigeImmerVorkommissionieren]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nPicklisteFuerBenutzerAusblenden]  DEFAULT ((0)) FOR [nPicklisteFuerBenutzerAusblenden]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelLabelFilterModus]  DEFAULT ((0)) FOR [nArtikelLabelFilterModus]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_kPicklisteVorlageParent]  DEFAULT (NULL) FOR [kPicklisteVorlageParent]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nPlaetzeOhneReservierungZuerst]  DEFAULT ((0)) FOR [nPlaetzeOhneReservierungZuerst]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nVorschauDeaktiv]  DEFAULT ((0)) FOR [nVorschauDeaktiv]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelEinzelPreisMin]  DEFAULT ((0)) FOR [nArtikelEinzelPreisMin]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nArtikelEinzelPreisMax]  DEFAULT ((0)) FOR [nArtikelEinzelPreisMax]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nVollstaendigTeilgeliefertFIFO]  DEFAULT ((0)) FOR [nVollstaendigTeilgeliefertFIFO]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nTreeSort]  DEFAULT ((0)) FOR [nTreeSort]
GO
ALTER TABLE [dbo].[tPicklisteVorlage] ADD  CONSTRAINT [DF_dbo_tPicklisteVorlage_nMinLagerbereicheAnzahl]  DEFAULT ((0)) FOR [nMinLagerbereicheAnzahl]
GO
