USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_vw_htmltemplaterendered]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_vw_htmltemplaterendered](
	[kEbay_vw_htmltemplaterendered] [int] IDENTITY(1,1) NOT NULL,
	[kEbay_item] [int] NOT NULL,
	[cTemplate] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_ebay_vw_htmltemplaterendered] PRIMARY KEY CLUSTERED 
(
	[kEbay_vw_htmltemplaterendered] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
