USE [eazybusiness]
GO
/****** Object:  View [dbo].[vStuecklisteInBestellung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vStuecklisteInBestellung]
AS
SELECT	ISNULL(Vater.kAuftragStueckliste, 0) AS Stueckliste,
		ISNULL(Kind.kArtikel, 0) AS tArtikel_kArtikel, 
		(Kind.fAnzahl / Vater.fAnzahl) AS MengeInBestellung
	FROM Verkauf.vAuftragPosition AS Vater
	JOIN Verkauf.vAuftragPosition AS Kind ON Kind.kAuftragStueckliste = Vater.kAuftragPosition
	WHERE Kind.kAuftragPosition <> Kind.kAuftragStueckliste
GO
