USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_mapitem]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_mapitem](
	[kEbayuser] [int] NULL,
	[Title] [nvarchar](255) NULL,
	[ItemID] [nvarchar](255) NOT NULL,
	[SKU] [nvarchar](100) NULL,
	[Quantity] [int] NULL,
	[CurrentPrice] [decimal](25, 13) NOT NULL,
	[Currency] [nvarchar](10) NULL,
	[EndTime] [datetime] NULL,
	[ListingType] [nvarchar](30) NULL,
	[cJSONData] [nvarchar](max) NULL,
	[binJSONData] [varbinary](max) NULL,
	[kEbay_mapitemSuchString] [int] NULL,
	[SiteID] [int] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_mapitem] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_mapitem] ADD  CONSTRAINT [DF_dbo_ebay_mapitem_CurrentPrice]  DEFAULT ((0.0)) FOR [CurrentPrice]
GO
