USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRecht]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRecht](
	[kRecht] [int] NOT NULL,
	[cAnzeigeName] [nvarchar](50) NULL,
	[cBeschreibung] [nvarchar](max) NULL,
	[kRechtVater] [int] NULL,
	[nIstLabel] [tinyint] NULL,
	[nSort] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cResourceKey] [nvarchar](80) NULL,
 CONSTRAINT [PK_dbo_tRecht] PRIMARY KEY CLUSTERED 
(
	[kRecht] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
