USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEingangsrechnungPos]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEingangsrechnungPos](
	[kEingangsrechnungPos] [int] IDENTITY(1,1) NOT NULL,
	[kEingangsrechnung] [int] NULL,
	[kLieferantenbestellung] [int] NULL,
	[kArtikel] [int] NULL,
	[cArtNr] [nvarchar](255) NULL,
	[cLieferantenArtNr] [nvarchar](255) NULL,
	[cName] [nvarchar](255) NULL,
	[cLieferantenBezeichnung] [nvarchar](255) NULL,
	[cEinheit] [nvarchar](255) NULL,
	[cHinweis] [nvarchar](255) NULL,
	[fMenge] [decimal](25, 13) NOT NULL,
	[fEKNetto] [decimal](25, 13) NOT NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[nPosTyp] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kLieferantenBestellungPos] [int] NULL,
 CONSTRAINT [PK_dbo_tEingangsrechnungPos] PRIMARY KEY CLUSTERED 
(
	[kEingangsrechnungPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tEingangsrechnungPos] ADD  CONSTRAINT [DF_dbo_tEingangsrechnungPos_fMenge]  DEFAULT ((0.0)) FOR [fMenge]
GO
ALTER TABLE [dbo].[tEingangsrechnungPos] ADD  CONSTRAINT [DF_dbo_tEingangsrechnungPos_fEKNetto]  DEFAULT ((0.0)) FOR [fEKNetto]
GO
ALTER TABLE [dbo].[tEingangsrechnungPos] ADD  CONSTRAINT [DF_dbo_tEingangsrechnungPos_fMwSt]  DEFAULT ((0.0)) FOR [fMwSt]
GO
