USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUpdateInfo]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUpdateInfo](
	[kUpdateInfo] [int] IDENTITY(1,1) NOT NULL,
	[nVorgang] [tinyint] NOT NULL,
	[cKey] [nvarchar](max) NOT NULL,
	[cValueOld] [nvarchar](max) NULL,
	[cValueNew] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tUpdateInfo] PRIMARY KEY CLUSTERED 
(
	[kUpdateInfo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
