USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWmsInventur]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWmsInventur](
	[kWmsInventur] [int] IDENTITY(1,1) NOT NULL,
	[cKommentar] [nvarchar](255) NULL,
	[dAngelegt] [datetime] NULL,
	[kBenutzer] [int] NULL,
	[nStatus] [int] NULL,
	[kWarenlager] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nCreatedMobile] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_tWmsInventur] PRIMARY KEY CLUSTERED 
(
	[kWmsInventur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWmsInventur] ADD  CONSTRAINT [DF_dbo_tWmsInventur_nCreatedMobile]  DEFAULT ((0)) FOR [nCreatedMobile]
GO
