USE [eazybusiness]
GO
/****** Object:  View [dbo].[vVarkombiBestand]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vVarkombiBestand]
AS
SELECT 
	tArtikel.kVaterArtikel AS kArtikel,
	SUM(tlagerbestand.fLagerbestand) AS fLagerbestand,
	SUM(CASE WHEN tArtikel.cLagerAktiv = 'Y' AND tlagerbestand.fVerfuegbar > 0.0 THEN tlagerbestand.fVerfuegbar ELSE 0.0 END) AS fVerfuegbar,
	SUM(tlagerbestand.fInAuftraegen) AS fInAuftraegen,
	SUM(CASE WHEN tArtikel.cLagerAktiv = 'Y' AND tlagerbestand.fVerfuegbarGesperrt > 0.0 THEN tlagerbestand.fVerfuegbarGesperrt ELSE 0.0 END) AS fVerfuegbarGesperrt,
	SUM(tlagerbestand.fZulauf) AS fZulauf,
	SUM(tlagerbestand.fAufEinkaufsliste) AS fAufEinkaufsliste,
	MIN(ISNULL(tlagerbestand.dLieferdatum,  CAST('01.01.1900' AS DATETIME))) AS dLieferdatum,
	SUM(CASE WHEN tArtikel.cLagerAktiv = 'Y' AND tlagerbestand.fLagerbestandEigen > 0.0 THEN tlagerbestand.fLagerbestandEigen ELSE 0.0 END) AS fLagerbestandEigen,
	SUM(CASE WHEN tArtikel.cLagerAktiv = 'Y' AND tlagerbestand.fAuslieferungGesperrt > 0.0 THEN tlagerbestand.fAuslieferungGesperrt ELSE 0.0 END) AS fAuslieferungGesperrt
FROM dbo.tlagerbestand
JOIN dbo.tArtikel ON tArtikel.kArtikel = tlagerbestand.kArtikel
WHERE tArtikel.kVaterArtikel > 0
GROUP BY tArtikel.kVaterArtikel
GO
