USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tDatevConfig]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDatevConfig](
	[kFirma] [int] NOT NULL,
	[tOauthConfig_cId] [nvarchar](255) NOT NULL,
	[nBeraterNummer] [int] NOT NULL,
	[nMandantenNummer] [int] NOT NULL,
	[dAbgleichStartDatum] [datetime] NULL,
	[bUseSandbox] [bit] NULL,
	[bEnableDocumentImages] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_tDatevConfig] PRIMARY KEY CLUSTERED 
(
	[kFirma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tDatevConfig] ADD  CONSTRAINT [DF_dbo_tDatevConfig_bEnableDocumentImages]  DEFAULT ((0)) FOR [bEnableDocumentImages]
GO
