USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMassEinheit]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMassEinheit](
	[kMassEinheit] [int] IDENTITY(1,1) NOT NULL,
	[cCode] [nvarchar](10) NULL,
	[cDisplayCode] [nvarchar](255) NULL,
	[kBezugsMassEinheit] [int] NULL,
	[fBezugsMassEinheitFaktor] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMassEinheit] PRIMARY KEY CLUSTERED 
(
	[kMassEinheit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tMassEinheit] ADD  CONSTRAINT [DF_dbo_tMassEinheit_fBezugsMassEinheitFaktor]  DEFAULT ((0.0)) FOR [fBezugsMassEinheitFaktor]
GO
