USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerEingangHistorie]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerEingangHistorie](
	[kWarenLagerEingang] [int] NULL,
	[kWarenLagerPlatzStart] [int] NULL,
	[kWarenLagerPlatzZiel] [int] NULL,
	[dZeitstempel] [datetime] NULL,
	[kBenutzer] [int] NULL,
	[cKommentar] [nvarchar](255) NULL,
	[kBuchungsArt] [int] NULL,
	[kSessionID] [int] NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[kLHMStart] [int] NULL,
	[kLHMZiel] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kWarenLagerEingangHistorie] [int] IDENTITY(-1,-1) NOT NULL,
	[cSubsetNumber] [nvarchar](100) NULL,
	[cDimensionen] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_tWarenLagerEingangHistorie] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerEingangHistorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenLagerEingangHistorie] ADD  CONSTRAINT [DF_dbo_tWarenLagerEingangHistorie_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
