USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_queue_out]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_queue_out](
	[ItemID] [nvarchar](255) NULL,
	[TransactionID] [nvarchar](255) NULL,
	[kEbayUser] [int] NULL,
	[nType] [smallint] NULL,
	[cIdentcode] [nvarchar](255) NULL,
	[cCarrierCode] [nvarchar](255) NULL
) ON [PRIMARY]
GO
