USE [eazybusiness]
GO
/****** Object:  Table [dbo].[z_m1_Rabattgruppen]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_m1_Rabattgruppen](
	[kRabattGruppe] [int] NOT NULL,
	[cName] [nvarchar](10) NULL,
	[nS1] [int] NULL,
	[nR1] [int] NULL,
	[nS2] [int] NULL,
	[nR2] [int] NULL,
	[nS3] [int] NULL,
	[nR3] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_z_m1_Rabattgruppen] PRIMARY KEY CLUSTERED 
(
	[kRabattGruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
