USE [eazybusiness]
GO
/****** Object:  Table [dbo].[z_zm_Liste]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[z_zm_Liste](
	[kListe] [int] NOT NULL,
	[cKey] [nvarchar](255) NULL,
	[cDesc] [nvarchar](255) NULL,
	[nStatus] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_z_zm_Liste] PRIMARY KEY CLUSTERED 
(
	[kListe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
