USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEMailEinstellung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEMailEinstellung](
	[kEMailEinstellungen] [int] IDENTITY(1,1) NOT NULL,
	[kFirma] [int] NOT NULL,
	[cServerSMTP] [nvarchar](255) NOT NULL,
	[nPortSMTP] [int] NOT NULL,
	[cNutzernameSMTP] [nvarchar](255) NOT NULL,
	[cPasswortSMTP] [nvarchar](255) NOT NULL,
	[cAbsender] [nvarchar](255) NULL,
	[cBCC] [nvarchar](255) NULL,
	[nSecurity] [int] NOT NULL,
	[nSigPortalAktiv] [tinyint] NOT NULL,
	[cSigPortalKdNummer] [nvarchar](64) NOT NULL,
	[cSigPortalNutzername] [nvarchar](64) NOT NULL,
	[cSigPortalPasswort] [nvarchar](64) NOT NULL,
	[nSigPortalVerifizierung] [tinyint] NOT NULL,
	[cSigPortalPfad] [nvarchar](255) NOT NULL,
	[nSigBefehlAktiv] [tinyint] NOT NULL,
	[cSigBefehlDateiname] [nvarchar](255) NOT NULL,
	[cSigBefehlParameter] [nvarchar](255) NOT NULL,
	[nSMIMEAktiv] [tinyint] NOT NULL,
	[cSMIMEPasswort] [nvarchar](64) NOT NULL,
	[bSMIMEZertifikatData] [varbinary](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kOauthToken] [int] NULL,
 CONSTRAINT [PK_dbo_tEMailEinstellung] PRIMARY KEY CLUSTERED 
(
	[kEMailEinstellungen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
