USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLizenzlog]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLizenzlog](
	[kLizenzlog] [int] IDENTITY(1,1) NOT NULL,
	[nTyp] [tinyint] NOT NULL,
	[cAufruf] [nvarchar](255) NULL,
	[cLog] [nvarchar](max) NULL,
	[dDatum] [datetime] NULL,
 CONSTRAINT [PK_dbo_tLizenzlog] PRIMARY KEY CLUSTERED 
(
	[kLizenzlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
