USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_bestellung_storno]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_bestellung_storno](
	[kAmazonBestellungStorno] [int] IDENTITY(1,1) NOT NULL,
	[cOrderId] [nvarchar](30) NOT NULL,
	[nCancelReason] [tinyint] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[dBearbeitet] [datetime] NULL,
	[kBenutzer] [int] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_bestellung_storno] PRIMARY KEY CLUSTERED 
(
	[kAmazonBestellungStorno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_bestellung_storno] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellung_storno_kBenutzer]  DEFAULT ((0)) FOR [kBenutzer]
GO
