USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAttributShop]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAttributShop](
	[kAttribut] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tAttributShop] PRIMARY KEY CLUSTERED 
(
	[kAttribut] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tAttributShop]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tAttributShop_kShop] CHECK  (([kShop]>(0)))
GO
ALTER TABLE [dbo].[tAttributShop] CHECK CONSTRAINT [CK_dbo_tAttributShop_kShop]
GO
