USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vAmazonPortalId]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[unicorn2_vAmazonPortalId] 
    AS
        SELECT 
			'amazon' as cMarketplace, 
			tArtikel.cBarcode as cEan, 
			pf_amazon_ItemMapping.cValue as cPortalId1 
		FROM 
			pf_amazon_Item 
		JOIN
			pf_amazon_ItemMapping 
		ON
			pf_amazon_ItemMapping.kItem = pf_amazon_Item.kItem
		JOIN
			tArtikel
		ON 
			tArtikel.kArtikel = pf_amazon_Item.kArtikel 
		WHERE 
			pf_amazon_ItemMapping.cKey = 'recommended_browse_nodes' AND
			tArtikel.cBarcode IS NOT NULL AND 
			tArtikel.cBarcode != '' AND
			pf_amazon_ItemMapping.cValue IS NOT NULL AND 
			pf_amazon_ItemMapping.cKey != '' AND 
			pf_amazon_ItemMapping.cKey != '0';
GO
