USE [eazybusiness]
GO
/****** Object:  View [dbo].[vLogsitzung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLogsitzung]
AS
(
	SELECT 
		ROW_NUMBER() OVER (ORDER BY dStart DESC) AS kLogsitzung,
		*
	FROM
	(
		SELECT 
			7 AS nTyp,
			tLog.kBenutzer,	
			tbenutzer.cName AS cBenutzername,
			'' AS cRechnername,
			CAST(tLog.dDatum AS DATE) AS dStart,	
			DATEADD(DAY, 1, CAST(tLog.dDatum AS DATE)) AS dEnde,
			16 AS nStatus,
			'' cStatusMeldung
		FROM dbo.tLog 
		LEFT JOIN eazybusiness.dbo.tbenutzer ON tLog.kBenutzer = tbenutzer.kBenutzer
	) AS Logging
	GROUP BY Logging.dStart, Logging.dEnde, Logging.nTyp, Logging.cRechnername, Logging.nStatus, Logging.cStatusMeldung, Logging.kBenutzer, Logging.cBenutzername
)
GO
