USE [eazybusiness]
GO
/****** Object:  View [dbo].[vArtikelZustandMitStandardZustand]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vArtikelZustandMitStandardZustand] AS
SELECT dbo.tArtikelZustand.kHauptartikel, dbo.tArtikelZustand.kZustandArtikel FROM tArtikelZustand
UNION
SELECT dbo.tArtikel.kArtikel AS kHauptartikel, dbo.tArtikel.kArtikel AS kZustandArtikel
FROM dbo.tArtikel WHERE dbo.tArtikel.kZustand IN 
(
	SELECT DISTINCT tZustand.kZustand FROM tArtikelZustand
	JOIN tArtikel ON tArtikel.kArtikel = tArtikelZustand.kHauptartikel
	JOIN tZustand ON tZustand.kZustand = tArtikel.kZustand
) OR dbo.tArtikel.kZustand = 1
GO
