USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tStampit]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tStampit](
	[nAktiv] [smallint] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
