USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFormularAnhangDaten]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFormularAnhangDaten](
	[kFormularAnhangDaten] [int] IDENTITY(1,1) NOT NULL,
	[cDateiname] [nvarchar](255) NOT NULL,
	[bSHA1] [binary](20) NOT NULL,
	[bDaten] [varbinary](max) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFormularAnhangDaten] PRIMARY KEY CLUSTERED 
(
	[kFormularAnhangDaten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
