USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLaufendeNummern]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLaufendeNummern](
	[kLaufendeNummer] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](100) NULL,
	[nNummer] [int] NULL,
	[cPrefix] [nvarchar](20) NULL,
	[cSuffix] [nvarchar](20) NULL,
	[kFirma] [int] NULL,
	[cTable] [nvarchar](100) NULL,
	[cColumn] [nvarchar](100) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cTypeColumn] [nvarchar](20) NULL,
	[cTypeValue] [nvarchar](4) NULL,
	[cAnzeigename] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo_tLaufendeNummern] PRIMARY KEY CLUSTERED 
(
	[kLaufendeNummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
