USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vKategorieStruktur]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[unicorn2_vKategorieStruktur] 
                        AS
	                     WITH ebeneCTE (kKategorie, kEbene)
	                     AS
	                     (
		                    SELECT kKategorie, 0 AS Ebene FROM tKategorie WHERE kOberkategorie=0
		                    UNION ALL
		                    SELECT tKategorie.kKategorie, kEbene + 1 
		                    FROM tKategorie 
		                    INNER JOIN ebeneCTE ON tKategorie.kOberkategorie = ebeneCTE.kKategorie
	                     )
                            SELECT			
			                    vStandardKategorie.kKategorie AS kKategorie, 
			                    vStandardKategorie.kOberKategorie AS kOberKategorie,
			                    ROW_NUMBER() OVER(ORDER BY ebeneCTE.kEbene, vStandardKategorie.nSort, vStandardKategorie.cName) AS kUnicornSort,
			                    vStandardKategorie.cName AS cName,
			                    ebeneCTE.kEbene AS kEbene,
			                    vStandardKategorie.cAktiv AS cAktiv
		                    FROM vStandardKategorie 
		                    LEFT JOIN ebeneCTE 
			                    ON ebeneCTE.kKategorie = vStandardKategorie.kKategorie
		                    WHERE ebeneCTE.kEbene IS NOT NULL
GO
