USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWMSBoxenPackVerpackteSerNos]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWMSBoxenPackVerpackteSerNos](
	[kWMSBoxenPackVerpackteSerNos] [int] IDENTITY(1,1) NOT NULL,
	[kBestellung] [int] NOT NULL,
	[kBestellPos] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cSerNo] [nvarchar](128) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWMSBoxenPackVerpackteSerNos] PRIMARY KEY CLUSTERED 
(
	[kWMSBoxenPackVerpackteSerNos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
