USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersandInfo]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersandInfo](
	[kBestellung] [int] NOT NULL,
	[nAnzahlVersendetePakete] [int] NULL,
	[nAnzahlPakete] [int] NULL,
	[dVersanddatum] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersandInfo] PRIMARY KEY CLUSTERED 
(
	[kBestellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
