USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerPrioGlobal]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerPrioGlobal](
	[kWarenLager] [int] NOT NULL,
	[kVertriebsweg] [int] NOT NULL,
	[nPrio] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenLagerPrioGlobal] PRIMARY KEY CLUSTERED 
(
	[kWarenLager] ASC,
	[kVertriebsweg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
