USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBackup]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBackup](
	[kBackup] [tinyint] NULL,
	[dDatum] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tBackup] ADD  CONSTRAINT [DF_dbo_tBackup_kBackup]  DEFAULT ((0)) FOR [kBackup]
GO
