USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_importvorlagefeldps]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_importvorlagefeldps](
	[kImportVorlageFeldPS] [int] IDENTITY(1,1) NOT NULL,
	[kImportVorlage] [int] NOT NULL,
	[cTable] [nvarchar](255) NULL,
	[cDBName] [nvarchar](255) NULL,
	[cPraefix] [nvarchar](255) NULL,
	[cSuffix] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ameise_importvorlagefeldps] PRIMARY KEY CLUSTERED 
(
	[kImportVorlageFeldPS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
