USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsabgleichFilter]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsabgleichFilter](
	[kZahlungsabgleichFilter] [int] IDENTITY(1,1) NOT NULL,
	[cBeschreibung] [nvarchar](100) NOT NULL,
	[kZahlungsabgleichModul] [int] NOT NULL,
	[nUmsatzart] [tinyint] NOT NULL,
	[nFilterspalte] [tinyint] NOT NULL,
	[nFilteroperator] [tinyint] NOT NULL,
	[cFilterwert] [nvarchar](300) NOT NULL,
	[nAktion] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tZahlungsabgleichFilter] PRIMARY KEY CLUSTERED 
(
	[kZahlungsabgleichFilter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
