USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_lagerbewegung]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_lagerbewegung](
	[kAmazonLagerbewegung] [int] IDENTITY(1,1) NOT NULL,
	[kUser] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nMenge] [int] NOT NULL,
	[cFulfillmentCenter] [nvarchar](30) NULL,
	[dSnapshot] [datetime] NULL,
	[nStatus] [tinyint] NULL,
	[cTransactionType] [nvarchar](100) NULL,
	[kMessageId] [bigint] NULL,
	[cReferenzId] [nvarchar](250) NULL,
	[cBegruendung] [char](1) NULL,
	[nReconciledQuantity] [int] NULL,
	[nUnreconciledQuantity] [int] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_lagerbewegung] PRIMARY KEY CLUSTERED 
(
	[kAmazonLagerbewegung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
