USE [eazybusiness]
GO
/****** Object:  View [dbo].[vStandardMerkmal]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vStandardMerkmal] AS
    SELECT tMerkmal.kMerkmal, tMerkmal.nSort, tMerkmalSprache.cName, tMerkmal.nGlobal, tMerkmal.cTyp, tMerkmal.nVerwendungszweck, tMerkmal.nMehrfachauswahl
    FROM tMerkmal
    JOIN tSpracheUsed ON nStandard = 1
    JOIN tMerkmalSprache ON tMerkmalSprache.kMerkmal = tMerkmal.kMerkmal 
				    AND tMerkmalSprache.kSprache = tSpracheUsed.kSprache
GO
