USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWMSByLight]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWMSByLight](
	[kWMSByLight] [int] IDENTITY(1,1) NOT NULL,
	[cId] [nvarchar](50) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[dZeitstempel] [datetime] NOT NULL,
	[nTyp] [tinyint] NOT NULL,
	[nAktiv] [tinyint] NOT NULL,
	[cArbeitsPlatz] [nvarchar](200) NULL,
	[kPickliste] [int] NULL,
	[fPickAnzahl] [decimal](25, 13) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWMSByLight] PRIMARY KEY CLUSTERED 
(
	[kWMSByLight] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWMSByLight] ADD  CONSTRAINT [DF_dbo_tWMSByLight_nAktiv]  DEFAULT ((0)) FOR [nAktiv]
GO
