USE [eazybusiness]
GO
/****** Object:  View [dbo].[vLagerBestandProLagerAlle]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLagerBestandProLagerAlle] 
-- View veraltet! dbo.vLagerbestandProLager verwenden
AS   
	SELECT dbo.vLagerbestandProLager.kArtikel, dbo.vLagerbestandProLager.kWarenlager, dbo.vLagerbestandProLager.fBestand
	FROM dbo.vLagerbestandProLager
GO
