USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAnfangsNr]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAnfangsNr](
	[sRPre] [nvarchar](10) NULL,
	[sRPost] [nvarchar](10) NULL,
	[sGPre] [nvarchar](10) NULL,
	[sGPost] [nvarchar](10) NULL,
	[sAPre] [nvarchar](10) NULL,
	[sAPost] [nvarchar](10) NULL,
	[sAnPre] [nvarchar](10) NULL,
	[sAnPost] [nvarchar](10) NULL,
	[sArtPre] [nvarchar](10) NULL,
	[sArtPost] [nvarchar](10) NULL,
	[sKPre] [nvarchar](10) NULL,
	[sKPost] [nvarchar](10) NULL,
	[sBPre] [nvarchar](10) NULL,
	[sBPost] [nvarchar](10) NULL,
	[sPPre] [nvarchar](10) NULL,
	[sPPost] [nvarchar](10) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
