USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tliefartikel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tliefartikel](
	[kLiefArtikel] [int] IDENTITY(1,1) NOT NULL,
	[tArtikel_kArtikel] [int] NOT NULL,
	[tLieferant_kLieferant] [int] NOT NULL,
	[fEKBrutto] [decimal](25, 13) NOT NULL,
	[fEKNetto] [decimal](25, 13) NOT NULL,
	[cLiefArtNr] [nvarchar](255) NULL,
	[cWaehrung] [nvarchar](5) NULL,
	[cLiefFrist] [nvarchar](255) NULL,
	[nLieferbar] [int] NULL,
	[cSonstiges] [nvarchar](512) NULL,
	[nStandard] [tinyint] NOT NULL,
	[nMindestAbnahme] [int] NULL,
	[nAbnahmeIntervall] [decimal](25, 13) NOT NULL,
	[fLagerbestand] [decimal](25, 13) NOT NULL,
	[nLieferzeit] [int] NULL,
	[nDropShipping] [tinyint] NULL,
	[nDropShippingStandard] [tinyint] NULL,
	[cName] [nvarchar](255) NULL,
	[fDurchschnittlicheLieferzeit] [decimal](25, 13) NOT NULL,
	[nLagerBeachten] [tinyint] NULL,
	[dLBGeaendert] [datetime] NULL,
	[cVPEEinheit] [nvarchar](255) NULL,
	[nVPEMenge] [decimal](25, 13) NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[nLieferzeitAusLieferant] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tliefartikel] PRIMARY KEY CLUSTERED 
(
	[kLiefArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tliefartikel_tArtikel_kArtikel_tLieferant_kLieferant] UNIQUE NONCLUSTERED 
(
	[tArtikel_kArtikel] ASC,
	[tLieferant_kLieferant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tliefartikel] ADD  CONSTRAINT [DF_dbo_tliefartikel_fEKBrutto]  DEFAULT ((0.0)) FOR [fEKBrutto]
GO
ALTER TABLE [dbo].[tliefartikel] ADD  CONSTRAINT [DF_dbo_tliefartikel_fEKNetto]  DEFAULT ((0.0)) FOR [fEKNetto]
GO
ALTER TABLE [dbo].[tliefartikel] ADD  CONSTRAINT [DF_dbo_tliefartikel_nstandard]  DEFAULT ((0)) FOR [nStandard]
GO
ALTER TABLE [dbo].[tliefartikel] ADD  CONSTRAINT [DF_dbo_tliefartikel_nAbnahmeIntervall]  DEFAULT ((0.0)) FOR [nAbnahmeIntervall]
GO
ALTER TABLE [dbo].[tliefartikel] ADD  CONSTRAINT [DF_dbo_tliefartikel_fLagerbestand]  DEFAULT ((0.0)) FOR [fLagerbestand]
GO
ALTER TABLE [dbo].[tliefartikel] ADD  CONSTRAINT [DF_dbo_tliefartikel_fDurchschnittlicheLieferzeit]  DEFAULT ((0.0)) FOR [fDurchschnittlicheLieferzeit]
GO
ALTER TABLE [dbo].[tliefartikel] ADD  CONSTRAINT [DF_dbo_tliefartikel_fMwSt]  DEFAULT ((0)) FOR [fMwSt]
GO
ALTER TABLE [dbo].[tliefartikel] ADD  CONSTRAINT [DF_dbo_tliefartikel_nLieferzeitAusLieferant]  DEFAULT ((1)) FOR [nLieferzeitAusLieferant]
GO
ALTER TABLE [dbo].[tliefartikel]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tliefartikel_kArtikel] FOREIGN KEY([tArtikel_kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tliefartikel] CHECK CONSTRAINT [FK_dbo_tliefartikel_kArtikel]
GO
ALTER TABLE [dbo].[tliefartikel]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tliefartikel_kLieferant] FOREIGN KEY([tLieferant_kLieferant])
REFERENCES [dbo].[tlieferant] ([kLieferant])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tliefartikel] CHECK CONSTRAINT [FK_dbo_tliefartikel_kLieferant]
GO
