USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_xml_kat]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_xml_kat](
	[kID] [int] NOT NULL,
	[kIDParent] [int] NULL,
	[cName] [nvarchar](255) NULL,
	[kBrowseNode] [nvarchar](255) NULL,
	[nPlattform] [int] NULL,
	[nEbene] [int] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_xml_kat] PRIMARY KEY CLUSTERED 
(
	[kID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
