USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tbenutzerrechte]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbenutzerrechte](
	[kBenutzerRechte] [int] NULL,
	[kBenutzer] [int] NULL,
	[nRechte] [int] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
