USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVouchersToken]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVouchersToken](
	[kVouchers] [int] NOT NULL,
	[cAccessToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_tVouchersToken] PRIMARY KEY CLUSTERED 
(
	[kVouchers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tVouchersToken]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tVouchersToken_kVouchers] FOREIGN KEY([kVouchers])
REFERENCES [dbo].[tVouchers] ([kVouchers])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tVouchersToken] CHECK CONSTRAINT [FK_dbo_tVouchersToken_kVouchers]
GO
