USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tlagerbestand]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tlagerbestand](
	[kArtikel] [int] NOT NULL,
	[fLagerbestand] [decimal](25, 13) NOT NULL,
	[fVerfuegbar] [decimal](25, 13) NOT NULL,
	[fVerfuegbarGesperrt] [decimal](25, 13) NOT NULL,
	[fZulauf] [decimal](25, 13) NOT NULL,
	[fAufEinkaufsliste] [decimal](25, 13) NOT NULL,
	[dLieferdatum] [datetime] NULL,
	[fLagerbestandEigen] [decimal](25, 13) NOT NULL,
	[fInAuftraegen] [decimal](25, 13) NOT NULL,
	[nLagerAktiv] [tinyint] NOT NULL,
	[nArtikelTyp] [tinyint] NOT NULL,
	[nTeilbar] [tinyint] NOT NULL,
	[nLagerKleinerNull] [tinyint] NOT NULL,
	[fAuslieferungGesperrt] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fProduktionGesperrt] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_dbo_tlagerbestand] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_fLagerbestand]  DEFAULT ((0.0)) FOR [fLagerbestand]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_fVerfuegbar]  DEFAULT ((0.0)) FOR [fVerfuegbar]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_fVerfuegbarGesperrt]  DEFAULT ((0)) FOR [fVerfuegbarGesperrt]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_fZulauf]  DEFAULT ((0)) FOR [fZulauf]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_fAufEinkaufsliste]  DEFAULT ((0)) FOR [fAufEinkaufsliste]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_fLagerbestandEigen]  DEFAULT ((0)) FOR [fLagerbestandEigen]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_fInAuftraegen]  DEFAULT ((0.0)) FOR [fInAuftraegen]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_nLagerAktiv]  DEFAULT ((0)) FOR [nLagerAktiv]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_nArtikelTyp]  DEFAULT ((0)) FOR [nArtikelTyp]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_nTeilbar]  DEFAULT ((0)) FOR [nTeilbar]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_nLagerKleinerNull]  DEFAULT ((0)) FOR [nLagerKleinerNull]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tlagerbestand_fAuslieferungGesperrt]  DEFAULT ((0)) FOR [fAuslieferungGesperrt]
GO
ALTER TABLE [dbo].[tlagerbestand] ADD  CONSTRAINT [DF_dbo_tLagerbestand_fProduktionGesperrt]  DEFAULT ((0)) FOR [fProduktionGesperrt]
GO
ALTER TABLE [dbo].[tlagerbestand]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tlagerbestand_fInAuftraegen] CHECK  (([fInAuftraegen]>=(0.0)))
GO
ALTER TABLE [dbo].[tlagerbestand] CHECK CONSTRAINT [CK_dbo_tlagerbestand_fInAuftraegen]
GO
