USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tInetShopZahlung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInetShopZahlung](
	[kZahlungseingang] [int] NOT NULL,
	[kInetBestellung] [int] NULL,
	[kShop] [int] NOT NULL,
	[kZahlung] [int] NULL,
	[cZahlungsanbieter] [nvarchar](255) NULL,
	[fBetrag] [decimal](25, 13) NOT NULL,
	[fZahlungsgebuehr] [decimal](25, 13) NOT NULL,
	[cISO] [nvarchar](20) NULL,
	[cEmpfaenger] [nvarchar](255) NULL,
	[cZahler] [nvarchar](255) NULL,
	[dZeit] [nvarchar](20) NULL,
	[cHinweis] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tInetShopZahlung] PRIMARY KEY CLUSTERED 
(
	[kZahlungseingang] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tInetShopZahlung] ADD  CONSTRAINT [DF_dbo_tInetShopZahlung_fBetrag]  DEFAULT ((0.0)) FOR [fBetrag]
GO
ALTER TABLE [dbo].[tInetShopZahlung] ADD  CONSTRAINT [DF_dbo_tInetShopZahlung_fZahlungsgebuehr]  DEFAULT ((0.0)) FOR [fZahlungsgebuehr]
GO
