USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersandKonfigurationArtikelZustand]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersandKonfigurationArtikelZustand](
	[kVersandKonfiguration] [int] NOT NULL,
	[kZustand] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersandKonfigurationArtikelZustand] PRIMARY KEY CLUSTERED 
(
	[kVersandKonfiguration] ASC,
	[kZustand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
