USE [eazybusiness]
GO
/****** Object:  View [dbo].[vWMSBoxArtikel]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vWMSBoxArtikel] AS
SELECT     tArtikel.kArtikel, tLhm.kLHM, tLHM.cLHMID, tLHM.kWarenlagerPlatz, Verkauf.tAuftrag.cAuftragsNr AS cBestellNr, Verkauf.tAuftrag.kAuftrag AS kBestellung, tlhmstatus.kbestellung AS kBestellungDerLHM, 
                      tArtikel.cArtNr, CASE WHEN dbo.tWarenLagerOptionen.nArtikelBezeichnungAusArtikel = 1 THEN tArtikelBeschreibung.cName ELSE Verkauf.tAuftragPosition.cName END AS cName /* cArtName*/ ,
					  tArtikel.cBarcode/* cEanNr*/ , tLhm.kLHMStatus, 
					   ISNULL( CASE WHEN MAX(tAuftragPositionTeilmengen.kAuftragPosition) IS NULL 
					   THEN AnzahlAufPickliste.fAnzahl  
					   ELSE SUM(CASE WHEN tArtikelTeilmengen.nReservierungsModus = 0 
					                 THEN AnzahlAufPickliste.fAnzahl  
					  				 ELSE AnzahlAufPickliste.fAnzahl/ tAuftragPositionTeilmengen.fPreisFactor END)     
					   END , 0) AS fAnzahlGes,

					  MIN(ISNULL(t2.fAnzahlInBox,0)) fAnzahlInBox, CAST((SELECT  SUM(ISNULL(t3.fAnzahl,0)) - SUM(ISNULL(tGutschriftPos.nAnzahl,0))  AS nAnzahl 
				  FROM Verkauf.tAuftragPosition AS t3
				  LEFT JOIN tGutschriftPos ON tGutschriftPos.kBestellPos = t3.kAuftragPosition
				  WHERE t3.kAuftrag = Verkauf.tAuftrag.kAuftrag
				  AND t3.kArtikel =  tArtikel.kArtikel
				  AND EXISTS (SELECT kBestellPos FROM tPicklistePos WHERE tPicklistePos.kBestellPos = t3.kAuftragPosition AND tPicklistePos.nStatus < 40)
				  GROUP BY t3.kAuftrag,t3.kArtikel  ) AS DECIMAL(25,13)) fAnzahlAuftrag,
                      ISNULL(tLhm.nSperre, 0) nSperre, Verkauf.tAuftrag.dErstellt, Verkauf.tAuftragEckdaten.dBezahlt, vAuftragLieferadresse.cStrasse, vAuftragLieferadresse.cOrt, vAuftragLieferadresse.cPLZ, vAuftragLieferadresse.cLand, 
                      tVersandart.cName cVersName, tversandart.cName cLogistikName, (' (' + tEinheitSprache.cName + ') ') cEinheit

FROM         tLHM JOIN dbo.tWarenLagerOptionen ON tWarenLagerOptionen.kWarenlager = tLHM.kWarenlager
				  JOIN twarenlagerplatz ON tlhm.kwarenlagerplatz = twarenlagerplatz.kwarenlagerplatz 
				  JOIN tLHMStatus ON tLHMStatus.kLHMStatus = tLhm.kLHMStatus
				  JOIN Verkauf.tAuftrag ON Verkauf.tAuftrag.kAuftrag = tLHMStatus.kBestellung 
				  JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
				  JOIN Verkauf.tAuftragPosition ON Verkauf.tAuftragPosition.kAuftrag = Verkauf.tAuftrag.kAuftrag 
                  JOIN tPicklistepos ON tPicklistepos.kBestellpos = Verkauf.tAuftragPosition.kAuftragPosition AND twarenlagerplatz.kwarenlager = tPicklistePos.kWarenLager 
				  JOIN tpicklisteposstatus ON tpicklisteposstatus.kpicklisteposstatus = tpicklistepos.kpicklisteposstatus 
				  JOIN twarenlagereingang ON twarenlagereingang.kwarenlagereingang = tpicklistepos.kwarenlagereingang 
				  LEFT JOIN Artikel.tArtikelTeilmengen ON tArtikelTeilmengen.kArtikel = twarenlagereingang.kArtikel
				  LEFT JOIN Verkauf.tAuftragPositionTeilmengen ON tAuftragPositionTeilmengen.kAuftragPosition = tPicklistepos.kBestellPos
				  OUTER APPLY (
								SELECT  SUM(P2.fAnzahl)  AS fAnzahl                                      
								FROM dbo.tPicklistepos AS P2
								WHERE P2.nStatus < 30
								AND P2.kBestellpos = tAuftragPosition.kAuftragPosition  ) AS AnzahlAufPickliste
				  JOIN tArtikel ON tArtikel.kArtikel = tPicklistepos.kArtikel 
                       LEFT JOIN  (SELECT     SUM(ISNULL(tPicklistePos.fAnzahl,0.0)) fAnzahlInBox, tArtikel.kArtikel, twarenlagereingang.klhm, Verkauf.tAuftragPosition.kAuftrag
                       FROM          tPicklistePos JOIN
                                               twarenlagereingang ON twarenlagereingang.kwarenlagereingang = tpicklistepos.kwarenlagereingang JOIN
                                               tPicklistePosStatus ON tPicklistePosStatus.kPicklistePosStatus = tPicklistePos.kPicklistePosStatus JOIN
                                               Verkauf.tAuftragPosition ON tpicklistepos.kbestellpos = Verkauf.tAuftragPosition.kAuftragPosition JOIN
                                               tArtikel ON tArtikel.kArtikel = tPicklistepos.kArtikel
                       WHERE      tPicklistePosStatus.nStatus >= 30 AND tPicklistePosStatus.nStatus <= 35 AND twarenlagereingang.fAnzahlAktuell > 0 AND 
                                               tpicklistepos.kwarenlagereingang = twarenlagereingang.kwarenlagereingang
                       GROUP BY tArtikel.kArtikel, twarenlagereingang.klhm, Verkauf.tAuftragPosition.kAuftrag) AS t2 ON t2.kArtikel = tArtikel.kArtikel AND t2.klhm = tLHM.klhm AND 
                       t2.kAuftrag = tLHMStatus.kBestellung 
                      JOIN tSpracheUsed ON tSpracheUsed.nStandard = 1
				  LEFT JOIN tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = tArtikel.kArtikel AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache AND tArtikelBeschreibung.kPlattform = 1
			  	  LEFT JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag =  Verkauf.tAuftrag.kAuftrag 
		          LEFT JOIN tversandart ON tversandart.kversandart = Verkauf.tAuftrag.kVersandArt
				  LEFT JOIN tEinheitSprache ON tEinheitSprache.kEinheit = tArtikel.kVerkaufsEinheit AND tEinheitSprache.kSprache = tSpracheUsed.kSprache             
WHERE     twarenlagereingang.fAnzahlAktuell > 0
GROUP BY tArtikel.kArtikel, tLhm.kLhm, tLHM.cLHMID, tLHM.kWarenlagerPlatz, Verkauf.tAuftrag.cAuftragsNr, Verkauf.tAuftrag.kAuftrag, tlhmstatus.kbestellung, tArtikel.cArtNr, 
                      tArtikel.cBarcode, tLhm.kLHMStatus, tLhm.nSperre, Verkauf.tAuftrag.dErstellt, Verkauf.tAuftragEckdaten.dBezahlt, vAuftragLieferadresse.cStrasse, vAuftragLieferadresse.cOrt, 
                      vAuftragLieferadresse.cPLZ, vAuftragLieferadresse.cLand, tVersandart.cName, tversandart.cName, tEinheitSprache.cName  , Verkauf.tAuftragPosition.cName, tArtikelBeschreibung.cName,
					  dbo.tWarenLagerOptionen.nArtikelBezeichnungAusArtikel, AnzahlAufPickliste.fAnzahl



UNION

SELECT     tArtikel.kArtikel, tLhm.kLHM, tLHM.cLHMID, tLHM.kWarenlagerPlatz, Verkauf.tAuftrag.cAuftragsNr, Verkauf.tAuftrag.kAuftrag, tlhmstatus.kbestellung AS kBestellungDerLHM, 
                      tArtikel.cArtNr, 
					  CASE WHEN dbo.tWarenLagerOptionen.nArtikelBezeichnungAusArtikel = 1 THEN tArtikelBeschreibung.cName ELSE Verkauf.tAuftragPosition.cName END AS cName /*cArtName*/ , 
					  tArtikel.cBarcode/*cEanNr*/ , tLhm.kLHMStatus, 0 fAnzahlGes, SUM(twarenlagereingang.fAnzahlAktuell) fAnzahlInBox,
					  CAST((SELECT  SUM(ISNULL(t3.fAnzahl,0)) - SUM(ISNULL(tGutschriftPos.nAnzahl,0))  AS nAnzahl 
				  FROM Verkauf.tAuftragPosition AS t3
				  LEFT JOIN tGutschriftPos ON tGutschriftPos.kBestellPos = t3.kAuftragPosition
				  WHERE t3.kAuftrag = Verkauf.tAuftrag.kAuftrag
				  AND t3.kartikel =  tArtikel.kArtikel
				  GROUP BY t3.kAuftrag,t3.kartikel  ) AS DECIMAL(25,13)) fAnzahlAuftrag,
                      ISNULL(tLhm.nSperre, 0) nSperre, Verkauf.tAuftrag.dErstellt, Verkauf.tAuftragEckdaten.dBezahlt, vAuftragLieferadresse.cStrasse, vAuftragLieferadresse.cOrt, vAuftragLieferadresse.cPLZ, vAuftragLieferadresse.cLand, 
                      tVersandart.cName cVersName, tversandart.cName cLogistikName, (' (' + tEinheitSprache.cName  + ') ') cEinheit
FROM         tLHM 
			 JOIN dbo.tWarenLagerOptionen ON tWarenLagerOptionen.kWarenlager = tLHM.kWarenlager
			 JOIN tLHMStatus ON tLHMStatus.kLHMStatus = tLhm.kLHMStatus 
			 JOIN twarenlagereingang ON (twarenlagereingang.klhm = tlhm.klhm) 
			 LEFT JOIN tPicklistepos ON tPicklistepos.kwarenlagereingang = twarenlagereingang.kwarenlagereingang 
			 LEFT JOIN Verkauf.tAuftragPosition ON tpicklistepos.kbestellpos = Verkauf.tAuftragPosition.kAuftragPosition 
			 LEFT JOIN Verkauf.tAuftrag ON Verkauf.tAuftrag.kAuftrag = Verkauf.tAuftragPosition.kAuftrag 
			 LEFT JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
			 JOIN tArtikel ON tArtikel.kArtikel = twarenlagereingang.kArtikel 
			 JOIN tSpracheUsed ON tSpracheUsed.nStandard = 1 
			 LEFT JOIN tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = tArtikel.kArtikel AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache AND tArtikelBeschreibung.kPlattform = 1
			 LEFT JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag =  Verkauf.tAuftrag.kAuftrag 
		     LEFT JOIN tversandart ON tversandart.kversandart = Verkauf.tAuftrag.kVersandArt
			 LEFT JOIN tEinheitSprache ON tEinheitSprache.kEinheit = tArtikel.kVerkaufsEinheit AND tEinheitSprache.kSprache = tSpracheUsed.kSprache                    
WHERE     (Verkauf.tAuftragPosition.kAuftrag IS NULL OR Verkauf.tAuftragPosition.kAuftrag <> tLHMStatus.kbestellung) 
AND (Verkauf.tAuftrag.kAuftrag IS NULL OR Verkauf.tAuftrag.nKomplettAusgeliefert = 0)
AND twarenlagereingang.fAnzahlAktuell > 0
GROUP BY tArtikel.kArtikel, tLhm.kLhm, tLHM.cLHMID, tLHM.kWarenlagerPlatz, Verkauf.tAuftrag.cAuftragsNr, Verkauf.tAuftrag.kAuftrag, tlhmstatus.kbestellung, tArtikel.cArtNr, 
                      tArtikel.cBarcode, tLhm.kLHMStatus, tLhm.nSperre, Verkauf.tAuftrag.dErstellt, Verkauf.tAuftragEckdaten.dBezahlt, vAuftragLieferadresse.cStrasse, vAuftragLieferadresse.cOrt, 
                      vAuftragLieferadresse.cPLZ, vAuftragLieferadresse.cLand, tVersandart.cName, tEinheitSprache.cName , Verkauf.tAuftragPosition.cName, tArtikelBeschreibung.cName,
					  dbo.tWarenLagerOptionen.nArtikelBezeichnungAusArtikel

UNION

SELECT   
  tArtikel.kArtikel, tLhm.kLHM, tLHM.cLHMID, tLHM.kWarenlagerPlatz, Verkauf.tAuftrag.cAuftragsNr, Verkauf.tAuftrag.kAuftrag, tlhmstatus.kbestellung AS kBestellungDerLHM, 
                      tArtikel.cArtNr, CASE WHEN dbo.tWarenLagerOptionen.nArtikelBezeichnungAusArtikel = 1 THEN tArtikelBeschreibung.cName ELSE Verkauf.tAuftragPosition.cName END AS cName /*cArtName*/ , 
					  tArtikel.cBarcode/*cEanNr*/ , tLhm.kLHMStatus, 0 fAnzahlGes, 0 fAnzahlInBox,
                      CAST((SELECT  SUM(ISNULL(t3.fAnzahl,0)) - SUM(ISNULL(tGutschriftPos.nAnzahl,0))  AS nAnzahl 
				  FROM Verkauf.tAuftragPosition AS t3
				  LEFT JOIN tGutschriftPos ON tGutschriftPos.kBestellPos = t3.kAuftragPosition
				  WHERE t3.kAuftrag = Verkauf.tAuftrag.kAuftrag
				  AND t3.kartikel =  tArtikel.kArtikel
				  AND NOT EXISTS (SELECT * FROM tPicklistePos WHERE tPicklistePos.kBestellPos = t3.kAuftragPosition AND tPicklistePos.nStatus < 40)
				  GROUP BY t3.kAuftrag,t3.kartikel  ) AS DECIMAL(25,13)) fAnzahlAuftrag,
                      ISNULL(tLhm.nSperre, 0) nSperre, Verkauf.tAuftrag.dErstellt, Verkauf.tAuftragEckdaten.dBezahlt, vAuftragLieferadresse.cStrasse, vAuftragLieferadresse.cOrt, vAuftragLieferadresse.cPLZ, vAuftragLieferadresse.cLand, 
                      tVersandart.cName cVersName, tversandart.cName cLogistikName, (' (' + tEinheitSprache.cName  + ') ') cEinheit

FROM   tLHM
JOIN dbo.tWarenLagerOptionen ON tWarenLagerOptionen.kWarenlager = tLHM.kWarenlager
JOIN tLHMStatus ON tLHMStatus.kLHMStatus = tLhm.kLHMStatus 
JOIN Verkauf.tAuftrag ON Verkauf.tAuftrag.kAuftrag = tLHMStatus.kBestellung
JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
JOIN Verkauf.tAuftragPosition  ON Verkauf.tAuftragPosition.kAuftrag = Verkauf.tAuftrag.kAuftrag
JOIN tArtikel ON tArtikel.kArtikel = Verkauf.tAuftragPosition.kArtikel 
JOIN tSpracheUsed ON tSpracheUsed.nStandard = 1 
LEFT JOIN tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = tArtikel.kArtikel AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache AND tArtikelBeschreibung.kPlattform = 1 
LEFT JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag =  Verkauf.tAuftrag.kAuftrag 
LEFT JOIN tversandart ON tversandart.kversandart = Verkauf.tAuftrag.kVersandArt
LEFT JOIN tEinheitSprache ON tEinheitSprache.kEinheit = tArtikel.kVerkaufsEinheit AND tEinheitSprache.kSprache = tSpracheUsed.kSprache     
WHERE Verkauf.tAuftragPosition.kAuftragPosition NOT IN (SELECT kBestellPos FROM tPicklistePos WHERE tPicklistePos.nStatus < 40)
AND Verkauf.tAuftragPosition.kAuftragPosition != ISNULL(Verkauf.tAuftragPosition.kAuftragStueckliste,0)
GROUP BY tArtikel.kArtikel, tLhm.kLhm, tLHM.cLHMID, tLHM.kWarenlagerPlatz, Verkauf.tAuftrag.cAuftragsNr, Verkauf.tAuftrag.kAuftrag, tlhmstatus.kbestellung, tArtikel.cArtNr, 
                       tArtikel.cBarcode, tLhm.kLHMStatus, tLhm.nSperre, Verkauf.tAuftrag.dErstellt, Verkauf.tAuftragEckdaten.dBezahlt, vAuftragLieferadresse.cStrasse, vAuftragLieferadresse.cOrt, 
                      vAuftragLieferadresse.cPLZ, vAuftragLieferadresse.cLand, tVersandart.cName, tversandart.cName, tEinheitSprache.cName , Verkauf.tAuftragPosition.cName,
					  tArtikelBeschreibung.cName, dbo.tWarenLagerOptionen.nArtikelBezeichnungAusArtikel
GO
