USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tDownload]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDownload](
	[kDownload] [int] IDENTITY(1,1) NOT NULL,
	[cID] [nvarchar](255) NULL,
	[cPfad] [nvarchar](255) NULL,
	[cPfadVorschau] [nvarchar](255) NULL,
	[nAnzahl] [int] NULL,
	[nTage] [int] NULL,
	[dErstellt] [datetime] NULL,
	[nSort] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tDownload] PRIMARY KEY CLUSTERED 
(
	[kDownload] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
