USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tStatistikVorlageChartEinstellung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tStatistikVorlageChartEinstellung](
	[kStatistikVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cValue] [nvarchar](255) NULL,
	[nSort] [int] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
