USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferavisSeriennummer]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferavisSeriennummer](
	[kLieferavisSeriennummer] [int] IDENTITY(1,1) NOT NULL,
	[kLieferavisPosition] [int] NOT NULL,
	[cSeriennummer] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo_tLieferavisSeriennummer] PRIMARY KEY CLUSTERED 
(
	[kLieferavisSeriennummer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferavisSeriennummer]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tLieferavisSeriennummer_kLieferavisPosition] FOREIGN KEY([kLieferavisPosition])
REFERENCES [dbo].[tLieferavisPosition] ([kLieferavisPosition])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tLieferavisSeriennummer] CHECK CONSTRAINT [FK_dbo_tLieferavisSeriennummer_kLieferavisPosition]
GO
