USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_xx_versandarten]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_xx_versandarten](
	[SiteID] [int] NOT NULL,
	[cDescription] [nvarchar](255) NOT NULL,
	[ExpeditedService] [tinyint] NULL,
	[InternationalService] [tinyint] NULL,
	[ShippingService] [nvarchar](255) NOT NULL,
	[ShippingServiceID] [int] NOT NULL,
	[ShippingTimeMin] [tinyint] NOT NULL,
	[ShippingTimeMax] [tinyint] NOT NULL,
	[MappedToShippingServiceID] [int] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_xx_versandarten] PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC,
	[ShippingServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
