USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenlagerOptionenAuftragDetails]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenlagerOptionenAuftragDetails](
	[kWarenlagerOptionenAuftragDetails] [int] IDENTITY(1,1) NOT NULL,
	[nSort] [int] NULL,
	[cName] [nvarchar](255) NULL,
	[cCustomName] [nvarchar](255) NULL,
	[nSprache] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenlagerOptionenAuftragDetails] PRIMARY KEY CLUSTERED 
(
	[kWarenlagerOptionenAuftragDetails] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenlagerOptionenAuftragDetails] ADD  CONSTRAINT [DF_dbo_tWarenlagerOptionenAuftragDetails_nSprache]  DEFAULT ((49)) FOR [nSprache]
GO
