USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tkategorie]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkategorie](
	[kKategorie] [int] NOT NULL,
	[kOberKategorie] [int] NULL,
	[cInet] [char](1) NULL,
	[cAktiv] [char](1) NULL,
	[cDelInet] [char](1) NULL,
	[nSort] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tkategorie] PRIMARY KEY CLUSTERED 
(
	[kKategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
