USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsausgangLogeintrag]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsausgangLogeintrag](
	[kZahlungsausgangLogeintrag] [int] IDENTITY(1,1) NOT NULL,
	[kZahlungsabgleichLogsitzung] [int] NOT NULL,
	[dZeitpunkt] [datetime] NOT NULL,
	[nSchweregrad] [tinyint] NOT NULL,
	[cMeldung] [nvarchar](2048) NOT NULL,
	[kZahlungsabgleichModul] [int] NOT NULL,
	[cKontoIdentifikation] [nvarchar](50) NOT NULL,
	[kKunde] [int] NOT NULL,
	[kGutschrift] [int] NOT NULL,
	[fBetrag] [decimal](25, 13) NOT NULL,
	[cVerwendungszweck] [nvarchar](1000) NOT NULL,
	[dAnlagedatum] [datetime] NOT NULL,
	[kAnlagebenutzer] [int] NOT NULL,
	[dBuchungsdatum] [datetime] NOT NULL,
	[kBuchungsbenutzer] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tZahlungsausgangLogeintrag] PRIMARY KEY CLUSTERED 
(
	[kZahlungsausgangLogeintrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tZahlungsausgangLogeintrag]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tZahlungsausgangLogeintrag_kZahlungsabgleichLogsitzung] FOREIGN KEY([kZahlungsabgleichLogsitzung])
REFERENCES [dbo].[tZahlungsabgleichLogsitzung] ([kZahlungsabgleichLogsitzung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tZahlungsausgangLogeintrag] CHECK CONSTRAINT [FK_dbo_tZahlungsausgangLogeintrag_kZahlungsabgleichLogsitzung]
GO
