USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Log]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Log](
	[kLog] [bigint] IDENTITY(1,1) NOT NULL,
	[dDatum] [datetime] NULL,
	[kKasse] [bigint] NULL,
	[kBenutzer] [bigint] NULL,
	[cBenutzer] [varchar](255) NULL,
	[kWawiBenutzer] [bigint] NULL,
	[nType] [bigint] NULL,
	[cCheck] [varchar](255) NULL,
	[i1] [bigint] NULL,
	[i2] [bigint] NULL,
	[i3] [bigint] NULL,
	[i4] [bigint] NULL,
	[i5] [bigint] NULL,
	[f1] [float] NULL,
	[f2] [float] NULL,
	[f3] [float] NULL,
	[f4] [float] NULL,
	[f5] [float] NULL,
	[s1] [varchar](255) NULL,
	[s2] [varchar](255) NULL,
	[s3] [varchar](255) NULL,
	[s4] [varchar](255) NULL,
	[s5] [varchar](255) NULL,
	[d1] [datetime] NULL,
	[d2] [datetime] NULL,
	[d3] [datetime] NULL,
	[d4] [datetime] NULL,
	[d5] [datetime] NULL,
	[c1] [varchar](1) NULL,
	[c2] [varchar](1) NULL,
	[c3] [varchar](1) NULL,
	[c4] [varchar](1) NULL,
	[c5] [varchar](1) NULL,
	[b1] [smallint] NULL,
	[b2] [smallint] NULL,
	[b3] [smallint] NULL,
	[b4] [smallint] NULL,
	[b5] [smallint] NULL,
	[cData] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[kLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = OFF, ALLOW_PAGE_LOCKS = OFF, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [i1]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [i2]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [i3]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [i4]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [i5]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [f1]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [f2]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [f3]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [f4]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [f5]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [b1]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [b2]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [b3]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [b4]
GO
ALTER TABLE [dbo].[POS_Log] ADD  DEFAULT ((0)) FOR [b5]
GO
