USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_coposeigenschaft]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_coposeigenschaft](
	[kebay_coposeigenschaft] [int] NOT NULL,
	[kEbayCheckoutPos] [int] NULL,
	[kEigenschaft] [int] NULL,
	[kEigenschaftWert] [int] NULL,
	[fAufpreis] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_dbo_ebay_coposeigenschaft] PRIMARY KEY CLUSTERED 
(
	[kebay_coposeigenschaft] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_coposeigenschaft] ADD  CONSTRAINT [DF_dbo_ebay_coposeigenschaft_fAufpreis]  DEFAULT ((0.0)) FOR [fAufpreis]
GO
