USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBenutzerLog]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBenutzerLog](
	[kBenutzerLog] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NULL,
	[nApplikation] [int] NULL,
	[dZeitstempel] [datetime] NULL,
	[cAktion] [nvarchar](max) NULL,
	[nAktionsTyp] [int] NULL,
 CONSTRAINT [PK_dbo_tBenutzerLog] PRIMARY KEY CLUSTERED 
(
	[kBenutzerLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
