USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMerkmalWertSprache]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMerkmalWertSprache](
	[kMerkmalWert] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cWert] [nvarchar](255) NULL,
	[cSeo] [nvarchar](255) NULL,
	[cMetaTitle] [nvarchar](255) NULL,
	[cMetaKeywords] [nvarchar](255) NULL,
	[cMetaDescription] [nvarchar](max) NULL,
	[cBeschreibung] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMerkmalWertSprache] PRIMARY KEY CLUSTERED 
(
	[kMerkmalWert] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
