USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Splitzahlung]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Splitzahlung](
	[kSplitzahlung] [bigint] IDENTITY(1,1) NOT NULL,
	[kBon] [bigint] NULL,
	[fBetrag] [real] NULL,
	[cZahlart] [varchar](50) NULL,
 CONSTRAINT [PK_POS_Splitzahlung] PRIMARY KEY CLUSTERED 
(
	[kSplitzahlung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
