USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_xml_version]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_xml_version](
	[nVersion] [int] NOT NULL,
	[nSQLKorrekt] [int] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_xml_version] PRIMARY KEY CLUSTERED 
(
	[nVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
