USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRMStatusBerechtigung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRMStatusBerechtigung](
	[kRMStatus] [int] NOT NULL,
	[kRechtBenutzerGruppe] [int] NOT NULL,
	[nStatusSetzen] [tinyint] NOT NULL,
	[nStatusVerlassen] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRMStatusBerechtigung] PRIMARY KEY CLUSTERED 
(
	[kRMStatus] ASC,
	[kRechtBenutzerGruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
