USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_checkoutpos]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_checkoutpos](
	[kEbayCheckoutPos] [int] NOT NULL,
	[kEbayCheckout] [int] NULL,
	[ItemID] [nvarchar](255) NULL,
	[TransactionID] [nvarchar](255) NULL,
	[kXCheckoutPos] [int] NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fPreis] [decimal](25, 13) NOT NULL,
	[kArtikel] [int] NULL,
 CONSTRAINT [PK_dbo_ebay_checkoutpos] PRIMARY KEY CLUSTERED 
(
	[kEbayCheckoutPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_ebay_checkoutpos_ItemID_TransactionID] UNIQUE NONCLUSTERED 
(
	[ItemID] ASC,
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_checkoutpos] ADD  CONSTRAINT [DF_dbo_ebay_checkoutpos_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[ebay_checkoutpos] ADD  CONSTRAINT [DF_dbo_ebay_checkoutpos_fPreis]  DEFAULT ((0.0)) FOR [fPreis]
GO
