USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_ShippingCarrierCode]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_ShippingCarrierCode](
	[Description] [nvarchar](255) NULL,
	[Value] [nvarchar](255) NULL
) ON [PRIMARY]
GO
