USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKategorieSprache]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKategorieSprache](
	[kKategorie] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cBeschreibung] [nvarchar](max) NULL,
	[cUrlPfad] [nvarchar](255) NULL,
	[cMetaDescription] [nvarchar](max) NULL,
	[cTitleTag] [nvarchar](4000) NULL,
	[cMetaKeywords] [nvarchar](4000) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tKategorieSprache] PRIMARY KEY CLUSTERED 
(
	[kKategorie] ASC,
	[kSprache] ASC,
	[kPlattform] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tKategorieSprache] ADD  CONSTRAINT [DF_dbo_tKategorieSprache_kPlattform]  DEFAULT ((0)) FOR [kPlattform]
GO
ALTER TABLE [dbo].[tKategorieSprache] ADD  CONSTRAINT [DF_dbo_tKategorieSprache_kShop]  DEFAULT ((0)) FOR [kShop]
GO
