USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tversandart]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tversandart](
	[kVersandArt] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[fPrice] [decimal](25, 13) NOT NULL,
	[cAktiv] [char](1) NULL,
	[cInet] [char](1) NULL,
	[cZahlungsInfo] [char](1) NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[cDruckText] [nvarchar](255) NULL,
	[fVKFreiAB] [decimal](25, 13) NOT NULL,
	[cAuftragsText] [nvarchar](255) NULL,
	[fZusatzGewicht] [decimal](25, 13) NOT NULL,
	[nEigeneVersandart] [tinyint] NULL,
	[kMainVersandart] [int] NULL,
	[nVerwiegePflicht] [tinyint] NULL,
	[nTrackingIDEingabePflicht] [tinyint] NULL,
	[nExpress] [tinyint] NOT NULL,
	[cTrackingIDRegex] [nvarchar](1000) NULL,
	[nTrackingIDVon] [tinyint] NOT NULL,
	[nTrackingIDBis] [tinyint] NOT NULL,
	[nPrioritaet] [int] NOT NULL,
	[nEtikettenDrucken] [tinyint] NULL,
	[nEtikettenStartRueckfrage] [tinyint] NULL,
	[kEtikettenFormular] [int] NULL,
	[nVersandMailSenden] [tinyint] NOT NULL,
	[nVersandSchnittstelle] [tinyint] NOT NULL,
	[cTrackingUrlTemplate] [nvarchar](255) NULL,
	[cAmazonCarrierCode] [nvarchar](255) NULL,
	[cEbayCarrierCode] [nvarchar](255) NULL,
	[kVersanddatenImportVorlage] [int] NULL,
	[kVersanddatenExportVorlage] [int] NOT NULL,
	[kShippingServiceProviderType] [tinyint] NULL,
	[nAmazonPrime] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kSteuerklasse] [int] NULL,
	[fEKPreis] [decimal](25, 13) NOT NULL,
	[cMarktplatzLieferservice] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_tversandart] PRIMARY KEY CLUSTERED 
(
	[kVersandArt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_fPrice]  DEFAULT ((0.0)) FOR [fPrice]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_fMwSt]  DEFAULT ((0.0)) FOR [fMwSt]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_fVKFreiAB]  DEFAULT ((0.0)) FOR [fVKFreiAB]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_fZusatzGewicht]  DEFAULT ((0.0)) FOR [fZusatzGewicht]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_nExpress]  DEFAULT ((0)) FOR [nExpress]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_nTrackingIDVon]  DEFAULT ((1)) FOR [nTrackingIDVon]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_nTrackingIDBis]  DEFAULT ((100)) FOR [nTrackingIDBis]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_nPrioritaet]  DEFAULT ((0)) FOR [nPrioritaet]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_nEtikettenDrucken]  DEFAULT ((0)) FOR [nEtikettenDrucken]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_nEtikettenStartRueckfrage]  DEFAULT ((0)) FOR [nEtikettenStartRueckfrage]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_kEtikettenFormular]  DEFAULT ((0)) FOR [kEtikettenFormular]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_nVersandMailSenden]  DEFAULT ((1)) FOR [nVersandMailSenden]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_nVersandSchnittstelle]  DEFAULT ((1)) FOR [nVersandSchnittstelle]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_kVersanddatenExportVorlage]  DEFAULT ((0)) FOR [kVersanddatenExportVorlage]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_nAmazonPrime]  DEFAULT ((0)) FOR [nAmazonPrime]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_kSteuerklasse]  DEFAULT ((0)) FOR [kSteuerklasse]
GO
ALTER TABLE [dbo].[tversandart] ADD  CONSTRAINT [DF_dbo_tversandart_fEKPreis]  DEFAULT ((0)) FOR [fEKPreis]
GO
