USE [eazybusiness]
GO
/****** Object:  View [dbo].[tRechnung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[tRechnung] AS
SELECT * FROM DEPRECATED.vRechnung
GO
