USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tnummern]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tnummern](
	[kBestellung] [int] NULL,
	[kAngebot] [int] NULL,
	[kRechnung] [int] NULL,
	[kKunde] [int] NULL,
	[cInet] [char](1) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
