USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tListViewExHeader]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tListViewExHeader](
	[kListViewExHeader] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kBenutzerAdmin] [int] NOT NULL,
	[nListViewID] [int] NOT NULL,
	[cRechnername] [nvarchar](255) NOT NULL,
	[nHeaderID] [int] NOT NULL,
	[nSize] [int] NOT NULL,
	[nSort] [int] NOT NULL,
	[nOrderBy] [int] NOT NULL,
	[cOriginalName] [nvarchar](255) NOT NULL,
	[cCustomName] [nvarchar](255) NULL,
	[nRoundStellen] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tListViewExHeader] PRIMARY KEY CLUSTERED 
(
	[kListViewExHeader] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
