USE [eazybusiness]
GO
/****** Object:  View [dbo].[vZustandsartikel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vZustandsartikel] AS
SELECT AlleZustandsartikel.kZustandArtikel AS AusgangsArtikel, dbo.tArtikel.* FROM
dbo.vArtikelZustandMitStandardZustand AS AlleZustandsartikel
JOIN dbo.vArtikelZustandMitStandardZustand AS AlleZustandsartikel2 ON AlleZustandsartikel2.kHauptartikel = AlleZustandsartikel.kHauptartikel
JOIN dbo.tArtikel ON AlleZustandsartikel2.kZustandArtikel = dbo.tArtikel.kArtikel
GO
