USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tCustomerQueryOverview]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomerQueryOverview](
	[kCustomerQueryOverview] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cQueryText] [nvarchar](max) NOT NULL,
	[nTyp] [int] NOT NULL,
	[nSort] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[bIcon] [varbinary](max) NULL,
	[nBereich] [int] NOT NULL,
	[kParent] [int] NULL,
 CONSTRAINT [PK_dbo_tCustomerQueryOverview] PRIMARY KEY CLUSTERED 
(
	[kCustomerQueryOverview] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
