USE [eazybusiness]
GO
/****** Object:  View [dbo].[tBestellung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[tBestellung] AS
SELECT * FROM DEPRECATED.vBestellung
GO
