USE [eazybusiness]
GO
/****** Object:  Table [dbo].[teigenschaft]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teigenschaft](
	[kEigenschaft] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cWaehlbar] [char](1) NULL,
	[nSort] [int] NULL,
	[cTyp] [nvarchar](32) NOT NULL,
	[cAktiv] [char](1) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_teigenschaft] PRIMARY KEY CLUSTERED 
(
	[kEigenschaft] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[teigenschaft] ADD  CONSTRAINT [DF_dbo_teigenschaft_cWaehlbar]  DEFAULT ('Y') FOR [cWaehlbar]
GO
ALTER TABLE [dbo].[teigenschaft] ADD  CONSTRAINT [DF_dbo_teigenschaft_cTyp]  DEFAULT ('SELECTBOX') FOR [cTyp]
GO
ALTER TABLE [dbo].[teigenschaft] ADD  CONSTRAINT [DF_dbo_teigenschaft_cAktiv]  DEFAULT ('Y') FOR [cAktiv]
GO
