USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelEpid]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelEpid](
	[kArtikelEpid] [bigint] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kSiteId] [int] NOT NULL,
	[cEpid] [nvarchar](255) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelEpid] PRIMARY KEY CLUSTERED 
(
	[kArtikelEpid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tArtikelEpid_kArtikel_kSiteId] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kSiteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelEpid]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelEpid_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tArtikelEpid] CHECK CONSTRAINT [FK_dbo_tArtikelEpid_kArtikel]
GO
ALTER TABLE [dbo].[tArtikelEpid]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelEpid_kSiteId] FOREIGN KEY([kSiteId])
REFERENCES [dbo].[ebay_xx_sites] ([SiteID])
GO
ALTER TABLE [dbo].[tArtikelEpid] CHECK CONSTRAINT [FK_dbo_tArtikelEpid_kSiteId]
GO
