USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tprintform]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tprintform](
	[cKopfzeichnen] [char](1) NULL,
	[cFusszeichnen] [char](1) NULL,
	[fKALinks] [decimal](25, 13) NOT NULL,
	[fKAOben] [decimal](25, 13) NOT NULL,
	[fFDLinks] [decimal](25, 13) NOT NULL,
	[fFDOben] [decimal](25, 13) NOT NULL,
	[cFirmendatenklein] [char](1) NULL,
	[cFirmendatendrucken] [char](1) NULL,
	[cFuss] [nvarchar](255) NULL,
	[cKdNrDrucken] [char](1) NULL,
	[cbzglAuftragDrucken] [char](1) NULL,
	[cRechnungZzglMwst] [char](1) NULL,
	[fGLinks] [decimal](25, 13) NOT NULL,
	[fGRechts] [decimal](25, 13) NOT NULL,
	[cAngebotsText] [nvarchar](32) NULL,
	[cAuftragsText] [nvarchar](32) NULL,
	[cRechnungsText] [nvarchar](32) NULL,
	[cMwStAusweisen] [char](1) NULL,
	[cFdrucken] [char](1) NULL,
	[fFunten] [decimal](25, 13) NOT NULL,
	[fFmitte] [decimal](25, 13) NOT NULL,
	[fFoben] [decimal](25, 13) NOT NULL,
	[cZahlungsziel] [nvarchar](255) NULL,
	[fFbreite] [decimal](25, 13) NOT NULL,
	[nZwischensumme] [tinyint] NULL,
	[cEinheit] [char](1) NULL,
	[cLieferText] [nvarchar](40) NULL,
	[nVariationAufpreis] [tinyint] NULL,
	[nLAdrDrucken] [tinyint] NULL,
	[nTelDrucken] [tinyint] NULL,
	[nPixelFont] [tinyint] NULL,
	[cIGLText] [nvarchar](512) NULL,
	[cUStFreiText] [nvarchar](512) NULL,
	[cReverseCharge] [nvarchar](512) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fKALinks]  DEFAULT ((0.0)) FOR [fKALinks]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fKAOben]  DEFAULT ((0.0)) FOR [fKAOben]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fFDLinks]  DEFAULT ((0.0)) FOR [fFDLinks]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fFDOben]  DEFAULT ((0.0)) FOR [fFDOben]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fGLinks]  DEFAULT ((0.0)) FOR [fGLinks]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fGRechts]  DEFAULT ((0.0)) FOR [fGRechts]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_cMwStAusweisen]  DEFAULT ('N') FOR [cMwStAusweisen]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_cFdrucken]  DEFAULT ('N') FOR [cFdrucken]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fFunten]  DEFAULT ((20.3)) FOR [fFunten]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fFmitte]  DEFAULT ((14.85)) FOR [fFmitte]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fFoben]  DEFAULT ((9.0)) FOR [fFoben]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_cZahlungsziel]  DEFAULT ('Das Zahlungsziel beträgt <T> Tage.') FOR [cZahlungsziel]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_fFbreite]  DEFAULT ((0.3)) FOR [fFbreite]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_nZwischensumme]  DEFAULT ((0)) FOR [nZwischensumme]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_cEinheit]  DEFAULT ('Y') FOR [cEinheit]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_cLieferText]  DEFAULT ('LIEFERSCHEIN') FOR [cLieferText]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_nVariationAufpreis]  DEFAULT ((0)) FOR [nVariationAufpreis]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_nTelDrucken]  DEFAULT ((0)) FOR [nTelDrucken]
GO
ALTER TABLE [dbo].[tprintform] ADD  CONSTRAINT [DF_dbo_tprintform_nPixelFont]  DEFAULT ((0)) FOR [nPixelFont]
GO
