USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tCustomerQueryUser]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomerQueryUser](
	[kCustomerQueryUser] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kCustomerQuery] [int] NOT NULL,
	[cFormatConditions] [nvarchar](4000) NULL,
 CONSTRAINT [PK_dbo_tCustomerQueryUser] PRIMARY KEY CLUSTERED 
(
	[kCustomerQueryUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
