USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerFulFillmentDienstleister]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerFulFillmentDienstleister](
	[kWarenLager] [int] NOT NULL,
	[kFulfillmentDienstleister] [int] NULL,
	[nDruckLieferschein] [tinyint] NULL,
	[nFaxLieferschein] [tinyint] NULL,
	[nMailLieferschein] [tinyint] NULL,
	[nDruckFF] [tinyint] NULL,
	[nFaxFF] [tinyint] NULL,
	[nMailFF] [tinyint] NULL,
	[kFormularLieferschein] [int] NULL,
	[kFormularFulfillmentAuftrag] [int] NULL,
	[kFormularFfnLieferschein] [int] NULL,
	[kFormularFfnRechnung] [int] NULL,
	[xFfnOptionen] [xml] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nExportFF] [tinyint] NULL,
 CONSTRAINT [PK_dbo_tWarenLagerFulFillmentDienstleister] PRIMARY KEY CLUSTERED 
(
	[kWarenLager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
