USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_BonPositionRueckgabe]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_BonPositionRueckgabe](
	[kBonPositionRueckgabe] [bigint] IDENTITY(1,1) NOT NULL,
	[kBonPosition] [bigint] NOT NULL,
	[kBon] [bigint] NULL,
	[kBenutzer] [bigint] NULL,
	[dDatum] [datetime] NULL,
	[cGrund] [varchar](255) NULL,
	[fAnzahl] [real] NOT NULL,
	[nRueckgabeAktion] [bigint] NOT NULL,
	[kKunde] [bigint] NULL,
	[kBonRueckgabe] [bigint] NULL,
 CONSTRAINT [PK_POS_BonPositionRueckgabe] PRIMARY KEY CLUSTERED 
(
	[kBonPositionRueckgabe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
