USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEtikett]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEtikett](
	[kEtikett] [int] NOT NULL,
	[cName] [nvarchar](48) NULL,
	[cEZeile1] [nvarchar](128) NULL,
	[cEZeile2] [nvarchar](128) NULL,
	[cEZeile3] [nvarchar](128) NULL,
	[cEZeile4] [nvarchar](128) NULL,
	[cEZeile5] [nvarchar](128) NULL,
	[cEZeile6] [nvarchar](128) NULL,
	[dEX1] [decimal](25, 13) NOT NULL,
	[dEX2] [decimal](25, 13) NOT NULL,
	[dEX3] [decimal](25, 13) NOT NULL,
	[dEX4] [decimal](25, 13) NOT NULL,
	[dEX5] [decimal](25, 13) NOT NULL,
	[dEX6] [decimal](25, 13) NOT NULL,
	[dEY1] [decimal](25, 13) NOT NULL,
	[dEY2] [decimal](25, 13) NOT NULL,
	[dEY3] [decimal](25, 13) NOT NULL,
	[dEY4] [decimal](25, 13) NOT NULL,
	[dEY5] [decimal](25, 13) NOT NULL,
	[dEY6] [decimal](25, 13) NOT NULL,
	[cAZeile1] [nvarchar](128) NULL,
	[cAZeile2] [nvarchar](128) NULL,
	[cAZeile3] [nvarchar](128) NULL,
	[cAZeile4] [nvarchar](128) NULL,
	[cAZeile5] [nvarchar](128) NULL,
	[dAX1] [decimal](25, 13) NOT NULL,
	[dAX2] [decimal](25, 13) NOT NULL,
	[dAX3] [decimal](25, 13) NOT NULL,
	[dAX4] [decimal](25, 13) NOT NULL,
	[dAX5] [decimal](25, 13) NOT NULL,
	[dAY1] [decimal](25, 13) NOT NULL,
	[dAY2] [decimal](25, 13) NOT NULL,
	[dAY3] [decimal](25, 13) NOT NULL,
	[dAY4] [decimal](25, 13) NOT NULL,
	[dAY5] [decimal](25, 13) NOT NULL,
	[nEFontSize] [tinyint] NULL,
	[cEFontName] [nvarchar](128) NULL,
	[nAFontSize] [tinyint] NULL,
	[cAFontName] [nvarchar](128) NULL,
	[dEXX1] [decimal](25, 13) NOT NULL,
	[dEXX2] [decimal](25, 13) NOT NULL,
	[dEXX3] [decimal](25, 13) NOT NULL,
	[dEXX4] [decimal](25, 13) NOT NULL,
	[dEXX5] [decimal](25, 13) NOT NULL,
	[dEXX6] [decimal](25, 13) NOT NULL,
	[dEYY1] [decimal](25, 13) NOT NULL,
	[dEYY2] [decimal](25, 13) NOT NULL,
	[dEYY3] [decimal](25, 13) NOT NULL,
	[dEYY4] [decimal](25, 13) NOT NULL,
	[dEYY5] [decimal](25, 13) NOT NULL,
	[dEYY6] [decimal](25, 13) NOT NULL,
	[dAXX1] [decimal](25, 13) NOT NULL,
	[dAXX2] [decimal](25, 13) NOT NULL,
	[dAXX3] [decimal](25, 13) NOT NULL,
	[dAXX4] [decimal](25, 13) NOT NULL,
	[dAXX5] [decimal](25, 13) NOT NULL,
	[dAYY1] [decimal](25, 13) NOT NULL,
	[dAYY2] [decimal](25, 13) NOT NULL,
	[dAYY3] [decimal](25, 13) NOT NULL,
	[dAYY4] [decimal](25, 13) NOT NULL,
	[dAYY5] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tEtikett] PRIMARY KEY CLUSTERED 
(
	[kEtikett] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEX1]  DEFAULT ((0.0)) FOR [dEX1]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEX2]  DEFAULT ((0.0)) FOR [dEX2]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEX3]  DEFAULT ((0.0)) FOR [dEX3]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEX4]  DEFAULT ((0.0)) FOR [dEX4]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEX5]  DEFAULT ((0.0)) FOR [dEX5]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEX6]  DEFAULT ((0.0)) FOR [dEX6]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEY1]  DEFAULT ((0.0)) FOR [dEY1]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEY2]  DEFAULT ((0.0)) FOR [dEY2]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEY3]  DEFAULT ((0.0)) FOR [dEY3]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEY4]  DEFAULT ((0.0)) FOR [dEY4]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEY5]  DEFAULT ((0.0)) FOR [dEY5]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEY6]  DEFAULT ((0.0)) FOR [dEY6]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAX1]  DEFAULT ((0.0)) FOR [dAX1]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAX2]  DEFAULT ((0.0)) FOR [dAX2]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAX3]  DEFAULT ((0.0)) FOR [dAX3]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAX4]  DEFAULT ((0.0)) FOR [dAX4]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAX5]  DEFAULT ((0.0)) FOR [dAX5]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAY1]  DEFAULT ((0.0)) FOR [dAY1]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAY2]  DEFAULT ((0.0)) FOR [dAY2]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAY3]  DEFAULT ((0.0)) FOR [dAY3]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAY4]  DEFAULT ((0.0)) FOR [dAY4]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAY5]  DEFAULT ((0.0)) FOR [dAY5]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEXX1]  DEFAULT ((0)) FOR [dEXX1]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEXX2]  DEFAULT ((0)) FOR [dEXX2]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEXX3]  DEFAULT ((0)) FOR [dEXX3]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEXX4]  DEFAULT ((0)) FOR [dEXX4]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEXX5]  DEFAULT ((0)) FOR [dEXX5]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEXX6]  DEFAULT ((0)) FOR [dEXX6]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEYY1]  DEFAULT ((0)) FOR [dEYY1]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEYY2]  DEFAULT ((0)) FOR [dEYY2]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEYY3]  DEFAULT ((0)) FOR [dEYY3]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEYY4]  DEFAULT ((0)) FOR [dEYY4]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEYY5]  DEFAULT ((0)) FOR [dEYY5]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dEYY6]  DEFAULT ((0)) FOR [dEYY6]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAXX1]  DEFAULT ((0)) FOR [dAXX1]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAXX2]  DEFAULT ((0)) FOR [dAXX2]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAXX3]  DEFAULT ((0)) FOR [dAXX3]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAXX4]  DEFAULT ((0)) FOR [dAXX4]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAXX5]  DEFAULT ((0)) FOR [dAXX5]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAYY1]  DEFAULT ((0)) FOR [dAYY1]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAYY2]  DEFAULT ((0)) FOR [dAYY2]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAYY3]  DEFAULT ((0)) FOR [dAYY3]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAYY4]  DEFAULT ((0)) FOR [dAYY4]
GO
ALTER TABLE [dbo].[tEtikett] ADD  CONSTRAINT [DF_dbo_tEtikett_dAYY5]  DEFAULT ((0)) FOR [dAYY5]
GO
