USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_shop_category]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_shop_category](
	[kStoreCategory] [int] NOT NULL,
	[kStore] [int] NULL,
	[kEbayUser] [int] NULL,
	[CategoryID] [bigint] NULL,
	[ParentCategory] [bigint] NULL,
	[Name] [nvarchar](255) NULL,
	[nOrder] [int] NULL,
 CONSTRAINT [PK_dbo_ebay_shop_category] PRIMARY KEY CLUSTERED 
(
	[kStoreCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
