USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_xx_is]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_xx_is](
	[SiteID] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[kName] [int] NOT NULL,
	[cHelpText] [nvarchar](255) NOT NULL,
	[cHelpURL] [nvarchar](255) NOT NULL,
	[nSelectionMode] [tinyint] NOT NULL,
	[nMaxValues] [tinyint] NOT NULL,
	[nMinValues] [tinyint] NOT NULL,
	[nSort] [tinyint] NOT NULL,
	[isRecommended] [tinyint] NULL,
 CONSTRAINT [PK_dbo_ebay_xx_is] PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC,
	[CategoryId] ASC,
	[kName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
