USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Druckvorlagen]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Druckvorlagen](
	[kDruckvorlage] [int] IDENTITY(1,1) NOT NULL,
	[cBezeichnung] [varchar](255) NOT NULL,
	[cVorlagenOID] [varchar](255) NULL,
	[cVersion] [int] NULL,
	[cTyp] [varchar](50) NOT NULL,
	[cKlasse] [varchar](50) NOT NULL,
	[cInfo] [varchar](50) NOT NULL,
	[dDatum] [datetime] NULL,
	[cData] [image] NOT NULL,
	[cDataRendered] [image] NULL,
 CONSTRAINT [PK_POS_Druckvorlagen] PRIMARY KEY CLUSTERED 
(
	[kDruckvorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_Druckvorlagen] ADD  DEFAULT ('0') FOR [cVersion]
GO
