USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tListViewExDateTimeFilter]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tListViewExDateTimeFilter](
	[nListViewID] [int] NOT NULL,
	[dValue] [datetime] NULL,
	[nSelectedIndex] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tListViewExDateTimeFilter] PRIMARY KEY CLUSTERED 
(
	[nListViewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
