USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsart]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsart](
	[kZahlungsart] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cPrtString] [nvarchar](max) NULL,
	[nLastschrift] [tinyint] NULL,
	[cPrtStringVor] [nvarchar](max) NULL,
	[cPaymentOption] [nvarchar](255) NULL,
	[cKonto] [nvarchar](32) NULL,
	[nAusliefernVorZahlung] [tinyint] NULL,
	[nPrioritaet] [tinyint] NOT NULL,
	[nMahnwesenAktiv] [tinyint] NOT NULL,
	[fSkontoWert] [decimal](25, 13) NULL,
	[nSkontoZeitraum] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nMatchingOptionen] [tinyint] NOT NULL,
	[nIstStandard] [bit] NOT NULL,
	[nAktiv] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_tZahlungsart] PRIMARY KEY CLUSTERED 
(
	[kZahlungsart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tZahlungsart] ADD  CONSTRAINT [DF_dbo_tZahlungsart_nPrioritaet]  DEFAULT ((0)) FOR [nPrioritaet]
GO
ALTER TABLE [dbo].[tZahlungsart] ADD  CONSTRAINT [DF_dbo_tZahlungsart_nMahnwesenAktiv]  DEFAULT ((0)) FOR [nMahnwesenAktiv]
GO
ALTER TABLE [dbo].[tZahlungsart] ADD  CONSTRAINT [DF_dbo_tZahlungsart_nMatchingOptionen]  DEFAULT ((0)) FOR [nMatchingOptionen]
GO
ALTER TABLE [dbo].[tZahlungsart] ADD  CONSTRAINT [DF_dbo_tZahlungsart_nIstStandard]  DEFAULT ((0)) FOR [nIstStandard]
GO
ALTER TABLE [dbo].[tZahlungsart] ADD  CONSTRAINT [DF_dbo_tZahlungsart_nAktiv]  DEFAULT ((1)) FOR [nAktiv]
GO
