USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelSonderpreis]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelSonderpreis](
	[kArtikelSonderpreis] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nAktiv] [tinyint] NULL,
	[dStart] [datetime] NULL,
	[nAnzahl] [int] NULL,
	[dEnde] [datetime] NULL,
	[nIstDatum] [tinyint] NULL,
	[nIstAnzahl] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelSonderpreis] PRIMARY KEY CLUSTERED 
(
	[kArtikelSonderpreis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
