USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_geaenderte_laufende_angebote]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_geaenderte_laufende_angebote](
	[kItem] [int] NOT NULL,
	[nChanges] [int] NULL,
	[nTryUpload] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_geaenderte_laufende_angebote] PRIMARY KEY CLUSTERED 
(
	[kItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_geaenderte_laufende_angebote] ADD  CONSTRAINT [DF_dbo_ebay_geaenderte_laufende_angebote_nTryUpload]  DEFAULT ((1)) FOR [nTryUpload]
GO
