USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tShopKundenGruppe]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShopKundenGruppe](
	[kWebShop] [int] NOT NULL,
	[kKundenGruppe] [int] NOT NULL,
	[nStandard] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kShopKundengruppe] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo_tShopKundenGruppe] PRIMARY KEY CLUSTERED 
(
	[kShopKundengruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tShopKundenGruppe]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopKundengruppe_kKundenGruppe] FOREIGN KEY([kKundenGruppe])
REFERENCES [dbo].[tKundenGruppe] ([kKundenGruppe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tShopKundenGruppe] CHECK CONSTRAINT [FK_dbo_tShopKundengruppe_kKundenGruppe]
GO
ALTER TABLE [dbo].[tShopKundenGruppe]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopKundengruppe_kWebShop] FOREIGN KEY([kWebShop])
REFERENCES [dbo].[tShop] ([kShop])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tShopKundenGruppe] CHECK CONSTRAINT [FK_dbo_tShopKundengruppe_kWebShop]
GO
