USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRMStatus]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRMStatus](
	[kRMStatus] [int] IDENTITY(1,1) NOT NULL,
	[kRMStatusParent] [int] NOT NULL,
	[nPos] [int] NOT NULL,
	[nAktiv] [tinyint] NOT NULL,
	[nStatusTyp] [tinyint] NOT NULL,
	[nVisibleMode] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRMStatus] PRIMARY KEY CLUSTERED 
(
	[kRMStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRMStatus] ADD  CONSTRAINT [DF_tRMStatus_nVisibleMode]  DEFAULT ((0)) FOR [nVisibleMode]
GO
