USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_einstellungen]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_einstellungen](
	[kEbayEinstellungen] [int] NOT NULL,
	[nCheckout] [tinyint] NULL,
	[nVEAN] [tinyint] NULL,
	[nVISBN] [tinyint] NULL,
	[nVUPC] [tinyint] NULL,
	[nVEPID] [tinyint] NULL,
	[nVHAN] [tinyint] NULL,
	[nArtnamenutzen] [tinyint] NULL,
	[nUsePremium] [tinyint] NULL,
	[nUseGalleryPlus] [tinyint] NULL,
	[nVersandartPraefixVerwenden] [tinyint] NULL,
	[nNichtLaufendeLoeschen] [tinyint] NULL,
	[cAuftraegeAusgabeweg] [char](1) NOT NULL,
 CONSTRAINT [PK_dbo_ebay_einstellungen] PRIMARY KEY CLUSTERED 
(
	[kEbayEinstellungen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_einstellungen] ADD  CONSTRAINT [DF_ebay_einstellungen_cAuftraegeAusgabeweg]  DEFAULT ('E') FOR [cAuftraegeAusgabeweg]
GO
