USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tfirma]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tfirma](
	[kFirma] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cUnternehmer] [nvarchar](255) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](50) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[cTel] [nvarchar](50) NULL,
	[cFax] [nvarchar](30) NULL,
	[cEMail] [nvarchar](255) NULL,
	[cWWW] [nvarchar](255) NULL,
	[cBLZ] [nvarchar](20) NULL,
	[cKontoNr] [nvarchar](20) NULL,
	[cBank] [nvarchar](50) NULL,
	[cSteuerNr] [nvarchar](25) NULL,
	[cInet] [char](1) NULL,
	[cIntrashipKdNr] [nvarchar](15) NULL,
	[cUPSKdNr] [nvarchar](15) NULL,
	[cIBAN] [nvarchar](64) NULL,
	[cBIC] [nvarchar](64) NULL,
	[cKopfGrafik] [nvarchar](255) NULL,
	[cFusszeile] [nvarchar](255) NULL,
	[cKontoInhaber] [nvarchar](255) NULL,
	[cAktiv] [char](1) NULL,
	[cGlaeubigerID] [nvarchar](35) NULL,
	[cLandISO] [nvarchar](5) NULL,
	[cPayPalEMail] [nvarchar](250) NULL,
	[nKleinunternehmer] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cObfuskierung] [nvarchar](100) NULL,
 CONSTRAINT [PK_dbo_tfirma] PRIMARY KEY CLUSTERED 
(
	[kFirma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tfirma] ADD  CONSTRAINT [DF_dbo_tfirma_cAktiv]  DEFAULT ('Y') FOR [cAktiv]
GO
ALTER TABLE [dbo].[tfirma] ADD  CONSTRAINT [DF_dbo_tfirma_nKleinunternehmer]  DEFAULT ((0)) FOR [nKleinunternehmer]
GO
