USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tErrorlog]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tErrorlog](
	[kErrorlog] [int] IDENTITY(1,1) NOT NULL,
	[cRechnername] [nvarchar](64) NOT NULL,
	[dErstelltUtc] [datetime] NOT NULL,
	[nIstWorker] [bit] NOT NULL,
	[nFehlerID] [bigint] NOT NULL,
	[cMeldung] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo_tErrorlog] PRIMARY KEY CLUSTERED 
(
	[kErrorlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
