USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vExistingShopArtikel]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[unicorn2_vExistingShopArtikel] 
    AS
        SELECT 
			unicorn2_tExistingArtikel.kWawiId AS kWawiId, 
			tShop.kShop AS kShop
		FROM tShop WITH (NOLOCK) 
		JOIN 
			unicorn2_tExistingArtikel WITH (NOLOCK) 
			ON unicorn2_tExistingArtikel.kWawiId IN 
				(SELECT tArtikel.kArtikel FROM tArtikel WITH (NOLOCK))
		WHERE tShop.kShop NOT IN 
			(SELECT tArtikelShop.kShop FROM tArtikelShop WITH (NOLOCK) 
				WHERE tArtikelShop.kArtikel = unicorn2_tExistingArtikel.kWawiId)
GO
