USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_AuswahlPosition]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_AuswahlPosition](
	[kAuswahlPosition] [bigint] IDENTITY(1,1) NOT NULL,
	[kAuswahl] [bigint] NOT NULL,
	[kKunde] [bigint] NULL,
	[kBenutzer_Ausgabe] [bigint] NULL,
	[kBenutzer_Rueckgabe] [bigint] NULL,
	[dDatum_Ausgabe] [datetime] NULL,
	[dDatum_Rueckgabe] [datetime] NULL,
	[fMenge] [real] NULL,
	[kArtikel] [bigint] NULL,
	[bBonPosition] [image] NULL,
	[cArtNr] [varchar](100) NULL,
	[cName] [varchar](255) NULL,
	[cVariationen] [varchar](255) NULL,
	[cSerienNr] [varchar](128) NULL,
	[fVKPreis] [float] NULL,
 CONSTRAINT [PK_POS_AuswahlPosition] PRIMARY KEY CLUSTERED 
(
	[kAuswahlPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
