USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersanddatenaustausch]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersanddatenaustausch](
	[kVorlage] [int] IDENTITY(1,1) NOT NULL,
	[nVorlagenTyp] [tinyint] NOT NULL,
	[kVersanddatenVorlage] [int] NOT NULL,
	[cVorlagenName] [nvarchar](255) NOT NULL,
	[cSpeicherpfad] [nvarchar](max) NOT NULL,
	[nImportServiceActive] [bit] NOT NULL,
	[nIsActive] [bit] NOT NULL,
	[cArbeitsplatzName] [nvarchar](255) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersanddatenaustausch] PRIMARY KEY CLUSTERED 
(
	[kVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
