USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsArtSprache]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsArtSprache](
	[kZahlungsart] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cPrtString] [nvarchar](max) NULL,
	[cPrtStringVor] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tZahlungsArtSprache] PRIMARY KEY CLUSTERED 
(
	[kZahlungsart] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
