USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSteuercache]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSteuercache](
	[kSteuerklasse] [int] NOT NULL,
	[fSteuersatz] [decimal](25, 13) NOT NULL,
	[kFirma] [int] NULL,
	[kSteuerzone] [int] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
