USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferavisPosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferavisPosition](
	[kLieferavisPosition] [int] IDENTITY(1,1) NOT NULL,
	[kLieferavis] [int] NOT NULL,
	[nPaketNummer] [int] NULL,
	[kArtikel] [int] NOT NULL,
	[cArtikelnummer] [nvarchar](100) NOT NULL,
	[fMenge] [decimal](25, 13) NOT NULL,
	[dMHD] [date] NULL,
	[cCharge] [nvarchar](255) NULL,
	[cSeriennummer] [nvarchar](255) NULL,
	[cNotiz] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_tLieferavisArtikel] PRIMARY KEY CLUSTERED 
(
	[kLieferavisPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferavisPosition]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tLieferavis_kLieferavis] FOREIGN KEY([kLieferavis])
REFERENCES [dbo].[tLieferavis] ([kLieferavis])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tLieferavisPosition] CHECK CONSTRAINT [FK_dbo_tLieferavis_kLieferavis]
GO
