USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerEingang]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerEingang](
	[kWarenLagerEingang] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kWarenLagerPlatz] [int] NOT NULL,
	[kLieferantenBestellungPos] [int] NULL,
	[kBenutzer] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fEKEinzel] [decimal](25, 13) NOT NULL,
	[cLieferscheinNr] [nvarchar](255) NULL,
	[cChargenNr] [nvarchar](255) NULL,
	[dMHD] [datetime] NULL,
	[dErstellt] [datetime] NULL,
	[dGeliefertAM] [datetime] NULL,
	[cKommentar] [nvarchar](255) NULL,
	[kGutschriftPos] [int] NULL,
	[kWarenLagerAusgang] [int] NULL,
	[kLHM] [int] NULL,
	[fAnzahlAktuell] [decimal](25, 13) NOT NULL,
	[fAnzahlReserviertPickpos] [decimal](25, 13) NOT NULL,
	[kSessionID] [int] NULL,
	[kWarenLagerEingang_Ursprung] [int] NULL,
	[kBuchungsart] [int] NOT NULL,
	[kBestellPosUmlagerung] [int] NULL,
	[kRMRetourePos] [int] NULL,
	[nGLDBerechnungMitEingangsrechnung] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[dAusgebuchtAm] [datetime] NULL,
 CONSTRAINT [PK_dbo_tWarenLagerEingang] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerEingang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenLagerEingang] ADD  CONSTRAINT [DF_dbo_tWarenLagerEingang_fEKEinzel]  DEFAULT ((0.0)) FOR [fEKEinzel]
GO
ALTER TABLE [dbo].[tWarenLagerEingang] ADD  CONSTRAINT [DF_dbo_tWarenLagerEingang_kBuchungsart]  DEFAULT ((10)) FOR [kBuchungsart]
GO
ALTER TABLE [dbo].[tWarenLagerEingang] ADD  CONSTRAINT [DF_dbo_tWarenLagerEingang_nGLDBerechnungMitEingangsrechnung]  DEFAULT ((0)) FOR [nGLDBerechnungMitEingangsrechnung]
GO
ALTER TABLE [dbo].[tWarenLagerEingang]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tWarenLagerEingang_fAnzahlAktuell] CHECK  (([fAnzahlAktuell]>=(0.0)))
GO
ALTER TABLE [dbo].[tWarenLagerEingang] CHECK CONSTRAINT [CK_dbo_tWarenLagerEingang_fAnzahlAktuell]
GO
ALTER TABLE [dbo].[tWarenLagerEingang]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tWarenLagerEingang_fAnzahlReserviertPickpos] CHECK  (([fAnzahlReserviertPickpos]>=(0.0)))
GO
ALTER TABLE [dbo].[tWarenLagerEingang] CHECK CONSTRAINT [CK_dbo_tWarenLagerEingang_fAnzahlReserviertPickpos]
GO
