USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_globaletexte]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_globaletexte](
	[kEbayGlobaleTexte] [int] NOT NULL,
	[kEbayuser] [int] NOT NULL,
	[cAGB] [nvarchar](max) NULL,
	[cBewertung] [nvarchar](max) NULL,
	[cImpressum] [nvarchar](max) NULL,
	[cLieferzeit] [nvarchar](max) NULL,
	[cNachDerAuktion] [nvarchar](max) NULL,
	[cUeberUns] [nvarchar](max) NULL,
	[cVersandVerpackung] [nvarchar](max) NULL,
	[cWiderrufsrecht] [nvarchar](max) NULL,
	[cZahlungshinweis] [nvarchar](max) NULL,
	[cAnzeigen] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_globaletexte] PRIMARY KEY CLUSTERED 
(
	[kEbayGlobaleTexte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
