USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWMSVersandLock]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWMSVersandLock](
	[kWMSVersandLock] [int] IDENTITY(1,1) NOT NULL,
	[kPickliste] [int] NOT NULL,
	[kBestellung] [int] NOT NULL,
	[nSort] [int] NULL,
	[kBenutzer] [int] NOT NULL,
	[dDatum] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWMSVersandLock] PRIMARY KEY CLUSTERED 
(
	[kWMSVersandLock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWMSVersandLock] ADD  CONSTRAINT [DF_tWMSVersandLock_nSort]  DEFAULT ((0)) FOR [nSort]
GO
