USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerDimensionTyp]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerDimensionTyp](
	[kWarenLagerDimensionTyp] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenLagerDimensionTyp] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerDimensionTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
