USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWorkflowEigenschaft]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkflowEigenschaft](
	[kWorkflowEigenschaft] [int] IDENTITY(1,1) NOT NULL,
	[cDotLiquid] [nvarchar](max) NOT NULL,
	[cName] [nvarchar](100) NOT NULL,
	[nObjekt] [int] NOT NULL,
	[nDatenTyp] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWorkflowEigenschaft] PRIMARY KEY CLUSTERED 
(
	[kWorkflowEigenschaft] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWorkflowEigenschaft] ADD  CONSTRAINT [DF_dbo_tWorkflowEigenschaft_nDatenTyp]  DEFAULT ((0)) FOR [nDatenTyp]
GO
