USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vEbayPortalId]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[unicorn2_vEbayPortalId] 
    AS
        SELECT 
			'ebay' AS cMarketplace, 
			tArtikel.cBarcode AS cEan, 
			ebay_item.PrimaryCategoryId AS cPortalId1, 
			ebay_item.SecondaryCategoryId AS cPortalId2 
		FROM 
			ebay_item 
		JOIN 
			tArtikel 
		ON 
			tArtikel.kArtikel = ebay_item.kArtikel 
		WHERE 
			tArtikel.cBarcode IS NOT NULL AND 
			tArtikel.cBarcode != '' AND 
			(ebay_item.PrimaryCategoryId > 0 OR ebay_item.SecondaryCategoryId > 0)
		GROUP BY 
			tArtikel.cBarcode, 
			ebay_item.PrimaryCategoryId, 
			ebay_item.SecondaryCategoryId;
GO
