USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWorkflowLog]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkflowLog](
	[kWorkflowLog] [int] IDENTITY(1,1) NOT NULL,
	[kObjektPk] [int] NOT NULL,
	[kWorkflowAktion] [int] NOT NULL,
	[dDatum] [datetime] NOT NULL,
	[cArbeitsplatz] [nvarchar](255) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[nTyp] [int] NOT NULL,
	[cLog] [nvarchar](max) NOT NULL,
	[kWorkflow] [int] NOT NULL,
	[cObjectId] [nvarchar](255) NULL,
	[uniqueId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo_tWorkflowLog] PRIMARY KEY CLUSTERED 
(
	[kWorkflowLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWorkflowLog] ADD  CONSTRAINT [DF_dbo_tWorkflowLog_uniqueId]  DEFAULT (newid()) FOR [uniqueId]
GO
