USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelShop]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelShop](
	[kArtikel] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[cInet] [char](1) NULL,
	[cDelInet] [char](1) NULL,
	[nAktion] [int] NOT NULL,
	[nInBearbeitung] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelShop] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelShop] ADD  CONSTRAINT [DF_dbo_tArtikelShop_nAktion]  DEFAULT ((1)) FOR [nAktion]
GO
ALTER TABLE [dbo].[tArtikelShop] ADD  CONSTRAINT [DF_tArtikelShop_nInBearbeitung]  DEFAULT ((0)) FOR [nInBearbeitung]
GO
