USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_versions]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_versions](
	[getCategories] [int] NULL,
	[getCategory2CS] [int] NULL,
	[getAttributeCS] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_versions] ADD  CONSTRAINT [DF_ebay_de_versions_getAttributeCS]  DEFAULT ('0') FOR [getAttributeCS]
GO
