USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tmahnung]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmahnung](
	[kMahnung] [int] NOT NULL,
	[kRechnung] [int] NULL,
	[kKunde] [int] NULL,
	[cKurzText] [nvarchar](255) NULL,
	[cAnrede] [nvarchar](255) NULL,
	[cText] [nvarchar](max) NULL,
	[fBruttoBetrag] [decimal](25, 13) NOT NULL,
	[dErstellt] [datetime] NULL,
	[nStuffe] [tinyint] NULL,
	[kSprache] [int] NULL,
	[kBenutzer] [int] NULL,
	[kFirma] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tmahnung] PRIMARY KEY CLUSTERED 
(
	[kMahnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmahnung] ADD  CONSTRAINT [DF_dbo_tmahnung_fBruttoBetrag]  DEFAULT ((0.0)) FOR [fBruttoBetrag]
GO
