USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPlattform]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPlattform](
	[nPlattform] [int] IDENTITY(20000,1) NOT NULL,
	[cName] [nvarchar](30) NOT NULL,
	[cID] [nvarchar](30) NOT NULL,
	[nInet] [int] NOT NULL,
	[cWaehrung] [nvarchar](20) NULL,
	[nTyp] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPlattform] PRIMARY KEY CLUSTERED 
(
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPlattform] ADD  CONSTRAINT [DF_dbo_tPlattform_nTyp]  DEFAULT ((9)) FOR [nTyp]
GO
