USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferantenRankingZeitraum]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferantenRankingZeitraum](
	[kLieferant] [int] NOT NULL,
	[nZeitraum] [tinyint] NOT NULL,
	[dVon] [datetime] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[nRang] [int] NOT NULL,
	[nRangMax] [int] NULL,
	[nAnteilProzent] [decimal](25, 13) NOT NULL,
	[nPauschal] [decimal](25, 13) NOT NULL,
	[dStand] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferantenRankingZeitraum] PRIMARY KEY CLUSTERED 
(
	[kLieferant] ASC,
	[nZeitraum] ASC,
	[dVon] ASC,
	[nType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferantenRankingZeitraum] ADD  CONSTRAINT [DF_dbo_tLieferantenRankingZeitraum_nAnteilProzent]  DEFAULT ((0.0)) FOR [nAnteilProzent]
GO
ALTER TABLE [dbo].[tLieferantenRankingZeitraum] ADD  CONSTRAINT [DF_dbo_tLieferantenRankingZeitraum_nPauschal]  DEFAULT ((0.0)) FOR [nPauschal]
GO
