USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_bestellungpos]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_bestellungpos](
	[kAmazonBestellungPos] [int] IDENTITY(1,1) NOT NULL,
	[kAmazonBestellung] [int] NOT NULL,
	[cArtNr] [nvarchar](50) NULL,
	[cName] [nvarchar](255) NULL,
	[nQuantityPurchased] [int] NOT NULL,
	[fItemPrice] [decimal](25, 13) NOT NULL,
	[fItemTax] [decimal](25, 13) NOT NULL,
	[fShippingPrice] [decimal](25, 13) NOT NULL,
	[fShippingTax] [decimal](25, 13) NOT NULL,
	[cOrderItemId] [nvarchar](30) NULL,
	[nVersandt] [int] NULL,
	[cCarrier] [nvarchar](20) NULL,
	[cTrackingNumber] [nvarchar](50) NULL,
	[dEstimatedArrivalDate] [datetime] NULL,
	[cFulfillmentCenterId] [nvarchar](20) NULL,
	[cFulfillmentChannel] [nvarchar](20) NULL,
	[cMerchantOrderItemId] [nvarchar](50) NULL,
	[nErrorCode] [int] NULL,
	[cErrorMessage] [nvarchar](2000) NULL,
	[dErrorErstellt] [datetime] NULL,
	[fGeschenkverpackungKosten] [decimal](25, 13) NULL,
	[cGeschenkverpackungTyp] [nvarchar](50) NULL,
	[cGrusstext] [nvarchar](255) NULL,
	[nGeschenk] [tinyint] NULL,
	[kFulfillmentAuftragPos] [int] NULL,
	[fPreisNetto] [decimal](25, 13) NULL,
	[nCustom] [bit] NOT NULL,
	[cCustomJson] [nvarchar](max) NULL,
	[cCustomUrl] [nvarchar](255) NULL,
	[cShipCountry] [nvarchar](5) NULL,
	[cArchiveUrl] [nvarchar](512) NULL,
	[nStornoAngefragt] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_bestellungpos] PRIMARY KEY CLUSTERED 
(
	[kAmazonBestellungPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellungpos_kAmazonBestellung]  DEFAULT ((0)) FOR [kAmazonBestellung]
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellungpos_fItemPrice]  DEFAULT ((0.0)) FOR [fItemPrice]
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellungpos_fItemTax]  DEFAULT ((0.0)) FOR [fItemTax]
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellungpos_fShippingPrice]  DEFAULT ((0.0)) FOR [fShippingPrice]
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellungpos_fShippingTax]  DEFAULT ((0.0)) FOR [fShippingTax]
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellungpos_fGeschenkverpackungKosten]  DEFAULT ((0.0)) FOR [fGeschenkverpackungKosten]
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellungpos_nCustom]  DEFAULT ((0)) FOR [nCustom]
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos] ADD  CONSTRAINT [DF_dbo_pf_amazon_bestellungpos_nStornoAngefragt]  DEFAULT ((0)) FOR [nStornoAngefragt]
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos]  WITH CHECK ADD  CONSTRAINT [CK_dbo_pf_amazon_bestellungpos_nQuantityPurchased] CHECK  ((isnull([nQuantityPurchased],(0))>(0)))
GO
ALTER TABLE [dbo].[pf_amazon_bestellungpos] CHECK CONSTRAINT [CK_dbo_pf_amazon_bestellungpos_nQuantityPurchased]
GO
