USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsabgleichAusgang]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsabgleichAusgang](
	[kZahlungsabgleichAusgang] [int] IDENTITY(1,1) NOT NULL,
	[kZahlungsabgleichModul] [int] NOT NULL,
	[cKontoIdentifikation] [nvarchar](50) NOT NULL,
	[kZahlungsabgleichUmsatzEingang] [int] NOT NULL,
	[kZahlungsabgleichUmsatzAusgang] [int] NOT NULL,
	[kKunde] [int] NOT NULL,
	[kLieferant] [int] NOT NULL,
	[kGutschrift] [int] NOT NULL,
	[kEingangsrechnung] [int] NOT NULL,
	[fBetrag] [decimal](25, 13) NOT NULL,
	[cWaehrungISO] [nvarchar](3) NOT NULL,
	[cName] [nvarchar](500) NOT NULL,
	[cKonto] [nvarchar](500) NOT NULL,
	[cKontozusatz] [nvarchar](500) NOT NULL,
	[cVerwendungszweck] [nvarchar](1000) NOT NULL,
	[cInternerKommentar] [nvarchar](1000) NOT NULL,
	[nVollstaendigerReferenzbetrag] [tinyint] NOT NULL,
	[dAnlagedatum] [datetime] NOT NULL,
	[kAnlagebenutzer] [int] NOT NULL,
	[dBuchungsdatum] [datetime] NULL,
	[kBuchungsbenutzer] [int] NOT NULL,
	[cTransaktionID] [nvarchar](1000) NOT NULL,
	[kZahlungAusgang] [int] NULL,
	[kZahlungEingang] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[dFehlerdatum] [datetime2](0) NULL,
	[cFehler] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo_tZahlungsabgleichAusgang] PRIMARY KEY CLUSTERED 
(
	[kZahlungsabgleichAusgang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tZahlungsabgleichAusgang] ADD  CONSTRAINT [DF_dbo_tZahlungsabgleichAusgang_cTransaktionID]  DEFAULT ('') FOR [cTransaktionID]
GO
