USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWorkflow]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkflow](
	[kWorkflow] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[nEvent] [int] NOT NULL,
	[nObjekt] [int] NOT NULL,
	[nVerknuepfung] [int] NOT NULL,
	[nPos] [int] NOT NULL,
	[nTyp] [int] NOT NULL,
	[nApplikation] [int] NOT NULL,
	[nSchedulerOptions] [bigint] NULL,
	[dtSchedulerTime] [datetime] NULL,
	[nSchedulerHour] [int] NULL,
	[nSchedulerMinute] [int] NULL,
	[nSchedulerDayValue] [int] NULL,
	[nSchedulerMonthValue] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWorkflow] PRIMARY KEY CLUSTERED 
(
	[kWorkflow] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
