USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_angebot_fba]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_angebot_fba](
	[cSellerSKU] [nvarchar](100) NULL,
	[kUser] [int] NULL,
	[nQuantity] [int] NULL,
	[cConditionType] [nvarchar](25) NULL,
	[cWarehouseConditionType] [nvarchar](25) NULL,
	[nQtyWarehouse] [int] NULL,
	[nQtyUnsellable] [int] NULL,
	[nQtyReserved] [int] NULL,
	[nQtyTotal] [int] NULL,
	[nQtyInboundWorking] [int] NULL,
	[nQtyInboundShipped] [int] NULL,
	[nQtyReceiving] [int] NULL,
	[fVolume] [decimal](25, 13) NULL,
	[cFNSKU] [nvarchar](50) NULL,
	[cMarketplaceID] [nvarchar](50) NULL,
	[cRegion] [nvarchar](4) NULL,
	[nPlattform] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_fba] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_fba_nPlattform]  DEFAULT ((0)) FOR [nPlattform]
GO
