USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_user]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_user](
	[kEbayuser] [int] NOT NULL,
	[Login] [nvarchar](40) NOT NULL,
	[Passwort] [nvarchar](255) NULL,
	[SiteId] [int] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Umgebung] [nvarchar](30) NULL,
	[kFirma] [int] NULL,
	[nSonderRegel] [tinyint] NULL,
	[nEbayPayment] [tinyint] NULL,
	[nOutOfStockControl] [tinyint] NOT NULL,
	[dLetzterBestellabgleich] [datetime] NULL,
	[cEbayUsername] [nvarchar](100) NULL,
	[dLetzerEbayAbgleich] [datetime] NULL,
	[nLagerbestaendeAendern] [tinyint] NOT NULL,
	[nGesperrt] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_user] PRIMARY KEY CLUSTERED 
(
	[kEbayuser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_user] ADD  CONSTRAINT [DF_dbo_ebay_user_nOutOfStockControl]  DEFAULT ((0)) FOR [nOutOfStockControl]
GO
ALTER TABLE [dbo].[ebay_user] ADD  CONSTRAINT [DF_dbo_ebay_user_nLagerbestaendeAendern]  DEFAULT ((1)) FOR [nLagerbestaendeAendern]
GO
ALTER TABLE [dbo].[ebay_user] ADD  CONSTRAINT [DF_dbo_ebay_user_nGesperrt]  DEFAULT ((0)) FOR [nGesperrt]
GO
