USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFile]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFile](
	[kFile] [int] IDENTITY(1,1) NOT NULL,
	[bFile] [varbinary](max) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dErstellDatum] [datetime] NOT NULL,
	[cFileHash] [nvarchar](255) NOT NULL,
	[cFileName] [nvarchar](255) NOT NULL,
	[cFileType] [nvarchar](20) NOT NULL,
	[nFileSizeKB] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tFile] PRIMARY KEY CLUSTERED 
(
	[kFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tFile] ADD  CONSTRAINT [DF_dbo_tFile_dErstelldatum]  DEFAULT (getdate()) FOR [dErstellDatum]
GO
