USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_data_membermessage_in]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_data_membermessage_in](
	[kMemberMessageIn] [int] NOT NULL,
	[ItemID] [nvarchar](255) NULL,
	[CreationDate] [nvarchar](30) NULL,
	[QuestionBody] [nvarchar](max) NULL,
	[QuestionDisplayToPublic] [tinyint] NULL,
	[QuestionMessageID] [nvarchar](255) NULL,
	[QuestionMessageType] [nvarchar](255) NULL,
	[QuestionQuestionType] [nvarchar](255) NULL,
	[QuestionRecipientID] [nvarchar](255) NULL,
	[QuestionSenderID] [nvarchar](255) NULL,
	[QuestionSubject] [nvarchar](255) NULL,
	[Status] [tinyint] NULL,
	[kEbayuser] [int] NULL,
 CONSTRAINT [PK_dbo_ebay_data_membermessage_in] PRIMARY KEY CLUSTERED 
(
	[kMemberMessageIn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_data_membermessage_in] ADD  CONSTRAINT [DF_dbo_ebay_data_membermessage_in_Status]  DEFAULT ('0') FOR [Status]
GO
ALTER TABLE [dbo].[ebay_data_membermessage_in]  WITH CHECK ADD  CONSTRAINT [FK_ebay_data_membermessage_in_kEbayuser] FOREIGN KEY([kEbayuser])
REFERENCES [dbo].[ebay_user] ([kEbayuser])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ebay_data_membermessage_in] CHECK CONSTRAINT [FK_ebay_data_membermessage_in_kEbayuser]
GO
