USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelBeschreibung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelBeschreibung](
	[kArtikel] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cBeschreibung] [nvarchar](max) NULL,
	[cKurzBeschreibung] [nvarchar](max) NULL,
	[cUrlPfad] [nvarchar](255) NULL,
	[cMetaDescription] [nvarchar](max) NULL,
	[cTitleTag] [nvarchar](4000) NULL,
	[cMetaKeywords] [nvarchar](4000) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelBeschreibung] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[kSprache] ASC,
	[kPlattform] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelBeschreibung]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikelBeschreibung_kArtikel] CHECK  (([kArtikel]>(0)))
GO
ALTER TABLE [dbo].[tArtikelBeschreibung] CHECK CONSTRAINT [CK_dbo_tArtikelBeschreibung_kArtikel]
GO
