USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferantenBestellungPos]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferantenBestellungPos](
	[kLieferantenBestellungPos] [int] IDENTITY(1,1) NOT NULL,
	[kLieferantenBestellung] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cArtNr] [nvarchar](255) NULL,
	[cLieferantenArtNr] [nvarchar](255) NULL,
	[cName] [nvarchar](255) NULL,
	[cLieferantenBezeichnung] [nvarchar](255) NULL,
	[fUST] [decimal](25, 13) NOT NULL,
	[fMenge] [decimal](25, 13) NOT NULL,
	[cHinweis] [nvarchar](2000) NULL,
	[fEKNetto] [decimal](25, 13) NOT NULL,
	[nPosTyp] [int] NULL,
	[cNameLieferant] [nvarchar](255) NULL,
	[nLiefertage] [int] NULL,
	[dLieferdatum] [datetime] NULL,
	[nSort] [int] NOT NULL,
	[kLieferscheinPos] [int] NOT NULL,
	[cVPEEinheit] [nvarchar](255) NULL,
	[nVPEMenge] [decimal](25, 13) NULL,
	[fMengeGeliefert] [decimal](25, 13) NOT NULL,
	[fAnzahlOffen] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferantenBestellungPos] PRIMARY KEY CLUSTERED 
(
	[kLieferantenBestellungPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferantenBestellungPos] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellungPos_fUST]  DEFAULT ((0.0)) FOR [fUST]
GO
ALTER TABLE [dbo].[tLieferantenBestellungPos] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellungPos_fMenge]  DEFAULT ((0.0)) FOR [fMenge]
GO
ALTER TABLE [dbo].[tLieferantenBestellungPos] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellungPos_fEKNetto]  DEFAULT ((0.0)) FOR [fEKNetto]
GO
ALTER TABLE [dbo].[tLieferantenBestellungPos] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellungPos_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [dbo].[tLieferantenBestellungPos] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellungPos_kLieferscheinPos]  DEFAULT ((0)) FOR [kLieferscheinPos]
GO
ALTER TABLE [dbo].[tLieferantenBestellungPos] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellungPos_fMengeGeliefert]  DEFAULT ((0)) FOR [fMengeGeliefert]
GO
ALTER TABLE [dbo].[tLieferantenBestellungPos] ADD  CONSTRAINT [DF_dbo_tLieferantenBestellungPos_fAnzahlOffen]  DEFAULT ((0.0)) FOR [fAnzahlOffen]
GO
ALTER TABLE [dbo].[tLieferantenBestellungPos]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tLieferantenBestellungPos_fAnzahlOffen] CHECK  (([fAnzahlOffen]>=(0.0)))
GO
ALTER TABLE [dbo].[tLieferantenBestellungPos] CHECK CONSTRAINT [CK_dbo_tLieferantenBestellungPos_fAnzahlOffen]
GO
