USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWmsInventurlog]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWmsInventurlog](
	[kWmsInventurlog] [int] IDENTITY(1,1) NOT NULL,
	[kWmsInventur] [int] NULL,
	[kWarenlagerPlatz] [int] NULL,
	[kArtikel] [int] NULL,
	[dMHD] [datetime] NULL,
	[cCharge] [nvarchar](255) NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[dZeitstempel] [datetime] NULL,
	[kBenutzer] [int] NULL,
	[fDifferenz] [decimal](25, 13) NOT NULL,
	[nTyp] [int] NULL,
	[kWarenLagerEingangSubset] [int] NULL,
 CONSTRAINT [PK_dbo_tWmsInventurlog] PRIMARY KEY CLUSTERED 
(
	[kWmsInventurlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWmsInventurlog] ADD  CONSTRAINT [DF_dbo_tWmsInventurlog_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[tWmsInventurlog] ADD  CONSTRAINT [DF_dbo_tWmsInventurlog_fDifferenz]  DEFAULT ((0.0)) FOR [fDifferenz]
GO
ALTER TABLE [dbo].[tWmsInventurlog]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tWmsInventurlog_kWarenlagerPlatz] CHECK  (([kWarenlagerplatz]>(0)))
GO
ALTER TABLE [dbo].[tWmsInventurlog] CHECK CONSTRAINT [CK_dbo_tWmsInventurlog_kWarenlagerPlatz]
GO
