USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_vw_htmltemplate]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_vw_htmltemplate](
	[kEbayHtmlTemplate] [int] IDENTITY(1,1) NOT NULL,
	[cHtmlTemplateName] [nvarchar](255) NOT NULL,
	[cHtmlTemplateDescription] [nvarchar](255) NOT NULL,
	[dCreated] [datetime] NOT NULL,
	[nIsDefault] [tinyint] NOT NULL,
	[dUploaded] [datetime] NULL,
	[nEbayHtmlTemplateParent] [int] NULL,
	[kEbayHtmlTemplateData] [int] NOT NULL,
	[nDeleted] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_vw_htmltemplate] PRIMARY KEY CLUSTERED 
(
	[kEbayHtmlTemplate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
