USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLogistik]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLogistik](
	[kLogistik] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cURL] [nvarchar](255) NULL,
	[nStandard] [tinyint] NULL,
	[cAmazonCC] [nvarchar](255) NULL,
	[cEbayCC] [nvarchar](255) NULL,
	[kVersanddatenExportVorlage] [int] NOT NULL,
	[kVersanddatenImportVorlage] [int] NULL,
	[nPaketeAutomatischErzeugen] [tinyint] NULL,
	[fMaxGewicht] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLogistik] PRIMARY KEY CLUSTERED 
(
	[kLogistik] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLogistik] ADD  CONSTRAINT [DF_dbo_tLogistik_kVersanddatenExportVorlage]  DEFAULT ((0)) FOR [kVersanddatenExportVorlage]
GO
ALTER TABLE [dbo].[tLogistik] ADD  CONSTRAINT [DF_dbo_tLogistik_fMaxGewicht]  DEFAULT ((0.0)) FOR [fMaxGewicht]
GO
