USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelEinkaufsliste]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelEinkaufsliste](
	[kArtikel] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[cStatus] [nvarchar](255) NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[kLieferant] [int] NULL,
	[fEKNettoLieferant] [decimal](25, 13) NOT NULL,
	[cHinweis] [nvarchar](max) NULL,
	[cBestellmodus] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kWarenlager] [int] NULL,
	[kArtikelEinkaufsliste] [bigint] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelEinkaufsliste] PRIMARY KEY CLUSTERED 
(
	[kArtikelEinkaufsliste] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelEinkaufsliste] ADD  CONSTRAINT [DF_dbo_tArtikelEinkaufsliste_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[tArtikelEinkaufsliste] ADD  CONSTRAINT [DF_dbo_tArtikelEinkaufsliste_fEKNettoLieferant]  DEFAULT ((0.0)) FOR [fEKNettoLieferant]
GO
