USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUpdateMigration]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUpdateMigration](
	[cVersion] [nvarchar](20) NULL,
	[bHash] [varbinary](max) NOT NULL,
	[cObjectname] [nvarchar](250) NULL,
	[cError] [nvarchar](max) NULL,
	[cSqlId] [nvarchar](150) NOT NULL,
	[kUpdateMigration] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_dbo_tUpdateMigration] PRIMARY KEY CLUSTERED 
(
	[kUpdateMigration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tUpdateMigration_cSqlId] UNIQUE NONCLUSTERED 
(
	[cSqlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
