USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POSGASTRO_Raum]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSGASTRO_Raum](
	[kRaum] [bigint] IDENTITY(1,1) NOT NULL,
	[cName] [varchar](100) NULL,
	[cColor] [bigint] NULL,
	[nTischStart] [bigint] NOT NULL,
	[nTischCount] [bigint] NOT NULL,
	[iSpalten] [bigint] NOT NULL,
	[iSpacer] [bigint] NOT NULL,
	[bRaumplan] [image] NULL,
 CONSTRAINT [PK_POSGASTRO_Raum] PRIMARY KEY CLUSTERED 
(
	[kRaum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSGASTRO_Raum] ADD  DEFAULT ((1)) FOR [nTischStart]
GO
ALTER TABLE [dbo].[POSGASTRO_Raum] ADD  DEFAULT ((1)) FOR [nTischCount]
GO
ALTER TABLE [dbo].[POSGASTRO_Raum] ADD  DEFAULT ((4)) FOR [iSpalten]
GO
ALTER TABLE [dbo].[POSGASTRO_Raum] ADD  DEFAULT ((15)) FOR [iSpacer]
GO
