USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POSGASTRO_GastroBon]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSGASTRO_GastroBon](
	[kGastroBon] [bigint] IDENTITY(1,1) NOT NULL,
	[kKasse] [bigint] NOT NULL,
	[nTyp] [bigint] NULL,
	[nBelegNr] [bigint] NULL,
	[kGastroDrucker] [bigint] NULL,
	[kTisch] [bigint] NULL,
	[dErstellung] [datetime] NULL,
	[nKopiendruck] [bigint] NULL,
	[cData] [image] NULL,
 CONSTRAINT [PK_POSGASTRO_GastroBon] PRIMARY KEY CLUSTERED 
(
	[kGastroBon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSGASTRO_GastroBon] ADD  DEFAULT ((0)) FOR [nTyp]
GO
ALTER TABLE [dbo].[POSGASTRO_GastroBon] ADD  DEFAULT ((0)) FOR [nBelegNr]
GO
ALTER TABLE [dbo].[POSGASTRO_GastroBon] ADD  DEFAULT ((0)) FOR [kGastroDrucker]
GO
ALTER TABLE [dbo].[POSGASTRO_GastroBon] ADD  DEFAULT ((0)) FOR [kTisch]
GO
ALTER TABLE [dbo].[POSGASTRO_GastroBon] ADD  DEFAULT ((0)) FOR [nKopiendruck]
GO
