USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_exportvorlagefilterfeld]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_exportvorlagefilterfeld](
	[kExportVorlageFilterFeld] [int] IDENTITY(1,1) NOT NULL,
	[kExportVorlageFilter] [int] NOT NULL,
	[cDBName] [nvarchar](255) NULL,
	[nOperator] [tinyint] NOT NULL,
	[cWert] [nvarchar](255) NULL,
	[cTable] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ameise_exportvorlagefilterfeld] PRIMARY KEY CLUSTERED 
(
	[kExportVorlageFilterFeld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
