USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_AnfangEnde]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_AnfangEnde](
	[kAnfangEnde] [int] IDENTITY(1,1) NOT NULL,
	[dDatum] [datetime] NULL,
	[kKasse] [int] NOT NULL,
	[fStartBetrag] [real] NOT NULL,
	[fEndBetrag] [real] NOT NULL,
	[cAnfangEndeNr] [varchar](100) NULL,
 CONSTRAINT [PK_POS_AnfangEnde] PRIMARY KEY CLUSTERED 
(
	[kAnfangEnde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
