USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZustand]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZustand](
	[kZustand] [int] IDENTITY(1,1) NOT NULL,
	[cSuffix] [nvarchar](50) NOT NULL,
	[nAktiv] [tinyint] NOT NULL,
	[cColor] [nvarchar](8) NULL,
	[nTyp] [tinyint] NOT NULL,
	[nEinschraenkung] [tinyint] NOT NULL,
	[nCode] [int] NOT NULL,
	[nEbayCode] [int] NOT NULL,
	[nAmazonCode] [int] NOT NULL,
	[nSort] [int] NULL,
	[nLieferantenEntfernen] [tinyint] NOT NULL,
	[nFFNCode] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nDeletableByUser] [bit] NOT NULL,
	[kSCXCondition] [int] NULL,
 CONSTRAINT [PK_dbo_tZustand] PRIMARY KEY CLUSTERED 
(
	[kZustand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tZustand] ADD  CONSTRAINT [DF_dbo_tZustand_nEinschraenkung]  DEFAULT ((0)) FOR [nEinschraenkung]
GO
ALTER TABLE [dbo].[tZustand] ADD  CONSTRAINT [DF_dbo_tZustand_nCode]  DEFAULT ((0)) FOR [nCode]
GO
ALTER TABLE [dbo].[tZustand] ADD  CONSTRAINT [DF_dbo_tZustand_nEbayCode]  DEFAULT ((0)) FOR [nEbayCode]
GO
ALTER TABLE [dbo].[tZustand] ADD  CONSTRAINT [DF_dbo_tZustand_nAmazonCode]  DEFAULT ((0)) FOR [nAmazonCode]
GO
ALTER TABLE [dbo].[tZustand] ADD  CONSTRAINT [DF_dbo_tZustand_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [dbo].[tZustand] ADD  CONSTRAINT [DF_dbo_tZustand_nLieferantenEntfernen]  DEFAULT ((0)) FOR [nLieferantenEntfernen]
GO
ALTER TABLE [dbo].[tZustand] ADD  CONSTRAINT [DF_dbo_tZustand_nFFNCode]  DEFAULT ((0)) FOR [nFFNCode]
GO
ALTER TABLE [dbo].[tZustand] ADD  CONSTRAINT [DF_tZustand_nDeletableByUser]  DEFAULT ((1)) FOR [nDeletableByUser]
GO
ALTER TABLE [dbo].[tZustand]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tCondition_kCondition] FOREIGN KEY([kSCXCondition])
REFERENCES [SCX].[tCondition] ([kCondition])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tZustand] CHECK CONSTRAINT [FK_SCX_tCondition_kCondition]
GO
