USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUmsatzzuordnungLog]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUmsatzzuordnungLog](
	[kUmsatzzuordnungLog] [int] IDENTITY(1,1) NOT NULL,
	[dDatum] [datetime] NOT NULL,
	[cDaten] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo_tUmsatzzuordnungLog] PRIMARY KEY CLUSTERED 
(
	[kUmsatzzuordnungLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
