USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_data_feedbackmgr]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_data_feedbackmgr](
	[kFeedbackmgr] [int] NOT NULL,
	[kEbayUser] [int] NULL,
	[nOption] [tinyint] NULL,
	[nErinnerung] [tinyint] NULL,
	[cMailText] [nvarchar](max) NULL,
	[nHTML] [tinyint] NULL,
 CONSTRAINT [PK_dbo_ebay_data_feedbackmgr] PRIMARY KEY CLUSTERED 
(
	[kFeedbackmgr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
