USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_BonPositionStorno]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_BonPositionStorno](
	[kBonPositionStorno] [bigint] IDENTITY(1,1) NOT NULL,
	[kBonPosition] [bigint] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dDatum] [datetime] NULL,
	[cText] [varchar](255) NOT NULL,
 CONSTRAINT [PK_POS_BonPositionStorno] PRIMARY KEY CLUSTERED 
(
	[kBonPositionStorno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
