USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLHM]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLHM](
	[kLHM] [int] IDENTITY(1,1) NOT NULL,
	[kLHMTyp] [int] NULL,
	[cLHMId] [nvarchar](30) NULL,
	[kWarenLagerPlatz] [int] NULL,
	[kWarenlager] [int] NULL,
	[nSperre] [tinyint] NULL,
	[kLHMStatus] [int] NULL,
	[kBenutzer] [int] NULL,
	[dBearbeitet] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLHM] PRIMARY KEY CLUSTERED 
(
	[kLHM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tLHM_cLHMId_kWarenlager] UNIQUE NONCLUSTERED 
(
	[cLHMId] ASC,
	[kWarenlager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
