USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerEingangSubsetDetails]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerEingangSubsetDetails](
	[kWarenLagerEingangSubset] [int] NOT NULL,
	[kDimension] [int] NOT NULL,
	[fValue] [decimal](25, 13) NOT NULL,
	[fGroundValue] [decimal](25, 13) NOT NULL,
	[kMassEinheit] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenLagerEingangSubsetDetails] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerEingangSubset] ASC,
	[kDimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsetDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tWarenLagerEingangSubsetDetails_kDimension] FOREIGN KEY([kDimension])
REFERENCES [subset].[tDimension] ([kDimension])
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsetDetails] CHECK CONSTRAINT [FK_dbo_tWarenLagerEingangSubsetDetails_kDimension]
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsetDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tWarenLagerEingangSubsetDetails_kWarenLagerEingangSubset] FOREIGN KEY([kWarenLagerEingangSubset])
REFERENCES [dbo].[tWarenLagerEingangSubsets] ([kWarenLagerEingangSubset])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsetDetails] CHECK CONSTRAINT [FK_dbo_tWarenLagerEingangSubsetDetails_kWarenLagerEingangSubset]
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsetDetails]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tWarenLagerEingangSubsetDetails_fGroundValue] CHECK  (([fGroundValue]>(0.0)))
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsetDetails] CHECK CONSTRAINT [CK_dbo_tWarenLagerEingangSubsetDetails_fGroundValue]
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsetDetails]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tWarenLagerEingangSubsetDetails_fValue] CHECK  (([fValue]>(0.0)))
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsetDetails] CHECK CONSTRAINT [CK_dbo_tWarenLagerEingangSubsetDetails_fValue]
GO
