USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Signatur]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Signatur](
	[kSignatur] [bigint] IDENTITY(1,1) NOT NULL,
	[dDatum] [datetime] NULL,
	[cTabelle] [varchar](255) NOT NULL,
	[kKey] [bigint] NOT NULL,
	[cSignatur] [image] NULL,
	[cCheck] [varchar](150) NULL,
 CONSTRAINT [PK_POS_Signatur] PRIMARY KEY CLUSTERED 
(
	[kSignatur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
