USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKundenRankingGlobal]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKundenRankingGlobal](
	[kKunde] [int] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[kShop] [int] NOT NULL,
	[nPlattform] [int] NOT NULL,
	[nRang] [int] NOT NULL,
	[nRangMax] [int] NULL,
	[nAnteilProzent] [decimal](25, 13) NOT NULL,
	[nPauschal] [decimal](25, 13) NOT NULL,
	[dStand] [datetime] NULL,
	[dVon] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tKundenRankingGlobal] PRIMARY KEY CLUSTERED 
(
	[kKunde] ASC,
	[nType] ASC,
	[kShop] ASC,
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tKundenRankingGlobal] ADD  CONSTRAINT [DF_dbo_tKundenRankingGlobal_nAnteilProzent]  DEFAULT ((0.0)) FOR [nAnteilProzent]
GO
ALTER TABLE [dbo].[tKundenRankingGlobal] ADD  CONSTRAINT [DF_dbo_tKundenRankingGlobal_nPauschal]  DEFAULT ((0.0)) FOR [nPauschal]
GO
