USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFirmaHistory]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFirmaHistory](
	[kFirmaHistory] [int] IDENTITY(1,1) NOT NULL,
	[kFirma] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cUnternehmer] [nvarchar](255) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](50) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[cTel] [nvarchar](50) NULL,
	[cFax] [nvarchar](30) NULL,
	[cEMail] [nvarchar](255) NULL,
	[cWWW] [nvarchar](255) NULL,
	[cBank] [nvarchar](50) NULL,
	[cSteuerNr] [nvarchar](25) NULL,
	[cIBAN] [nvarchar](64) NULL,
	[cBIC] [nvarchar](64) NULL,
	[cKontoInhaber] [nvarchar](255) NULL,
	[cGlaeubigerID] [nvarchar](35) NULL,
	[cLandISO] [nvarchar](5) NULL,
	[cPayPalEMail] [nvarchar](250) NULL,
	[nKleinunternehmer] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFirmaHistory] PRIMARY KEY CLUSTERED 
(
	[kFirmaHistory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
