USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFulfillmentAuftrag]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFulfillmentAuftrag](
	[kFulfillmentAuftrag] [int] IDENTITY(1,1) NOT NULL,
	[kLieferschein] [int] NULL,
	[kKunde] [int] NULL,
	[kLieferadresse] [int] NULL,
	[kWarenlager] [int] NULL,
	[kUser] [int] NULL,
	[kBenutzer] [int] NULL,
	[kSprache] [int] NULL,
	[nFulfillmentDienstleister] [int] NULL,
	[nStatus] [int] NULL,
	[cBestellnummer] [nvarchar](50) NULL,
	[cLieferscheinnummer] [nvarchar](255) NULL,
	[cKommentar] [nvarchar](1000) NULL,
	[cLieferAdresseKundennummer] [nvarchar](30) NULL,
	[cLieferAdresseFirma] [nvarchar](128) NULL,
	[cLieferAdresseAnrede] [nvarchar](30) NULL,
	[cLieferAdresseTitel] [nvarchar](64) NULL,
	[cLieferAdresseVorname] [nvarchar](126) NULL,
	[cLieferAdresseName] [nvarchar](126) NULL,
	[cLieferAdresseStrasse] [nvarchar](255) NULL,
	[cLieferAdressePLZ] [nvarchar](24) NULL,
	[cLieferAdresseOrt] [nvarchar](64) NULL,
	[cLieferAdresseLand] [nvarchar](64) NULL,
	[cLieferAdresseTel] [nvarchar](30) NULL,
	[cLieferAdresseFax] [nvarchar](30) NULL,
	[cLieferAdresseEmail] [nvarchar](255) NULL,
	[dErstellt] [datetime] NULL,
	[dGedruckt] [datetime] NULL,
	[dGemailt] [datetime] NULL,
	[dGefaxt] [datetime] NULL,
	[dApiVersendet] [datetime] NULL,
	[dInBearbeitung] [datetime] NULL,
	[cLieferPrioritaet] [nvarchar](30) NULL,
	[dBestelldatum] [datetime] NULL,
	[cLieferAdressZusatz] [nvarchar](255) NULL,
	[cLieferZusatz] [nvarchar](60) NULL,
	[cFehlermeldung] [nvarchar](max) NULL,
	[cLieferadresseBundesland] [nvarchar](255) NULL,
	[cOutboundId] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cStornoCode] [nvarchar](255) NULL,
	[cStornoGrund] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_tFulfillmentAuftrag] PRIMARY KEY CLUSTERED 
(
	[kFulfillmentAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tFulfillmentAuftrag] ADD  CONSTRAINT [DF_dbo_tFulfillmentAuftrag_cLieferPrioritaet]  DEFAULT ('Standard') FOR [cLieferPrioritaet]
GO
