USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Gutscheine]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Gutscheine](
	[kGutschein] [bigint] IDENTITY(1,1) NOT NULL,
	[cAktiv] [varchar](1) NULL,
	[kBon_Ausgabe] [bigint] NULL,
	[kBon_Einloesung] [bigint] NULL,
	[kKasse] [bigint] NULL,
	[cNummer] [varchar](255) NULL,
	[fBetrag] [float] NULL,
	[dErstellung] [datetime] NULL,
	[dEinloesung] [datetime] NULL,
	[kBenutzer_verkaufen] [bigint] NULL,
	[cBenutzer_verkaufen] [varchar](50) NULL,
	[kKunde_kaufen] [bigint] NULL,
	[cKunde_kaufen] [varchar](255) NULL,
	[kBenutzer_einloesen] [bigint] NULL,
	[cBenutzer_einloesen] [varchar](50) NULL,
	[kKunde_einloesen] [bigint] NULL,
	[cKunde_einloesen] [varchar](255) NULL,
	[kKasse_Ausgabe] [bigint] NULL,
	[kKasse_Einloesung] [bigint] NULL,
 CONSTRAINT [PK_POS_Gutscheine] PRIMARY KEY CLUSTERED 
(
	[kGutschein] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_Gutscheine] ADD  DEFAULT ('Y') FOR [cAktiv]
GO
