USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_KassenBuch]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_KassenBuch](
	[kKassenBuch] [bigint] IDENTITY(1,1) NOT NULL,
	[kKasse] [bigint] NOT NULL,
	[kBenutzer] [bigint] NULL,
	[dDatum] [datetime] NULL,
	[cBelegNummer] [varchar](50) NOT NULL,
	[cBelegText] [varchar](255) NOT NULL,
	[cBelegTyp] [varchar](100) NOT NULL,
	[nfEinnahme] [bigint] NULL,
	[nfAusgabe] [bigint] NULL,
	[nfMwSt] [bigint] NOT NULL,
	[fSteuerSatz] [float] NOT NULL,
	[nfEndBestand] [bigint] NOT NULL,
	[cKonto] [varchar](100) NULL,
	[cCheck] [varchar](150) NULL,
	[cZahlart] [varchar](50) NULL,
	[cNachricht] [varchar](100) NULL,
 CONSTRAINT [PK_POS_KassenBuch] PRIMARY KEY CLUSTERED 
(
	[kKassenBuch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
