USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWorkflowQueue]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkflowQueue](
	[kWorkflowQueue] [int] IDENTITY(1,1) NOT NULL,
	[nEvent] [int] NOT NULL,
	[kWorkflow] [int] NOT NULL,
	[kObjektPk] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dStartDate] [datetime] NOT NULL,
	[nStatus] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWorkflowQueue] PRIMARY KEY CLUSTERED 
(
	[kWorkflowQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
