USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tInetAdresseShop]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInetAdresseShop](
	[kInetAdresse] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[kAdresse] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tInetAdresseShop] PRIMARY KEY CLUSTERED 
(
	[kInetAdresse] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
