USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tkunde]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkunde](
	[kKunde] [int] IDENTITY(1,1) NOT NULL,
	[kInetKunde] [int] NULL,
	[kKundenKategorie] [int] NULL,
	[cKundenNr] [nvarchar](30) NULL,
	[dErstellt] [datetime] NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[cNewsletter] [char](1) NULL,
	[cEbayName] [nvarchar](255) NULL,
	[kBuyer] [int] NULL,
	[cGeburtstag] [nvarchar](10) NULL,
	[cWWW] [nvarchar](255) NULL,
	[cSperre] [char](1) NULL,
	[kKundenGruppe] [int] NULL,
	[nZahlungsziel] [int] NULL,
	[kSprache] [int] NULL,
	[cHerkunft] [nvarchar](255) NULL,
	[cKassenKunde] [char](1) NULL,
	[cHRNr] [nvarchar](255) NULL,
	[kZahlungsart] [int] NULL,
	[nDebitorennr] [int] NULL,
	[cSteuerNr] [nvarchar](255) NULL,
	[nKreditlimit] [int] NULL,
	[kKundenDrucktext] [int] NULL,
	[nMahnstopp] [tinyint] NOT NULL,
	[nMahnrhythmus] [int] NOT NULL,
	[kFirma] [tinyint] NOT NULL,
	[fProvision] [decimal](25, 13) NULL,
	[nVertreter] [tinyint] NOT NULL,
	[fSkonto] [decimal](25, 13) NOT NULL,
	[nSkontoInTagen] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tkunde] PRIMARY KEY CLUSTERED 
(
	[kKunde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_fRabatt]  DEFAULT ((0.0)) FOR [fRabatt]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_cEbayName]  DEFAULT ('') FOR [cEbayName]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_kBuyer]  DEFAULT ((0)) FOR [kBuyer]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_cSperre]  DEFAULT ('N') FOR [cSperre]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_nMahnstopp]  DEFAULT ((0)) FOR [nMahnstopp]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_nMahnrhythmus]  DEFAULT ((0)) FOR [nMahnrhythmus]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_kFirma]  DEFAULT ((0)) FOR [kFirma]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_nVertreter]  DEFAULT ((0)) FOR [nVertreter]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_fSkonto]  DEFAULT ((0)) FOR [fSkonto]
GO
ALTER TABLE [dbo].[tkunde] ADD  CONSTRAINT [DF_dbo_tkunde_nSkontoInTagen]  DEFAULT ((0)) FOR [nSkontoInTagen]
GO
ALTER TABLE [dbo].[tkunde]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tkunde_kKundenGruppe] CHECK  (([kKundengruppe]>(0)))
GO
ALTER TABLE [dbo].[tkunde] CHECK CONSTRAINT [CK_dbo_tkunde_kKundenGruppe]
GO
