USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFirmaAufbewahrungsfrist]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFirmaAufbewahrungsfrist](
	[kAufbewahrungsfrist] [int] IDENTITY(1,1) NOT NULL,
	[kFirma] [int] NOT NULL,
	[kBenutzer] [int] NULL,
	[nYears] [int] NULL,
	[nMonths] [int] NULL,
	[nDays] [int] NULL,
	[nObfuskieren] [bit] NOT NULL,
	[cVorgangsId] [nvarchar](100) NOT NULL,
	[dFestgeschrieben] [datetime] NULL,
 CONSTRAINT [PK_dbo_tFirmaAufbewahrungsfrist] PRIMARY KEY CLUSTERED 
(
	[kAufbewahrungsfrist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tFirmaAufbewahrungsfrist_cVorgangsId_kFirma] UNIQUE NONCLUSTERED 
(
	[cVorgangsId] ASC,
	[kFirma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
