USE [eazybusiness]
GO
/****** Object:  View [dbo].[vArtikelHistorie]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vArtikelHistorie]
AS
/*************************************************************************************************************
Beschreibung:	Diese View liefert die (live berechnete) Menge aller Warenlageraus- und -eingänge.
				Sie ist damit praktisch die live berechnete Tabelle dbo.tArtikelHistory.
				(welche per dbo.spArtikelHistoryNachrechnen neu gefüllt/berechnet werden kann)
				
				Praktisch könnte dbo.tArtikelHistory irgendwann durch diese View hier abgelöst werden
				(diesbzgl. gibt es noch dbo.vArtikelHistory, die "SELECT * FROM dbo.tArtikelHistory" macht)
				
				Hinweise zu einzelnen Feldern:
				- fLagerBestandGesamt ...	laufende Summe des Lagerbestands dieses kArtikels
				- fLagerBestandPlatz ...	laufende Summe des Lagerbestands dieses kArtikels auf diesem kWarenlagerplatz
*************************************************************************************************************/
	SELECT
			S.dGebucht,
			S.cTyp,
			S.kArtikel,
			S.fAnzahl,
			BA.cName AS cBuchungsart,
			S.kBuchungsart,
			SUM(S.fAnzahl) OVER (PARTITION BY S.kArtikel ORDER BY S.dGebucht) AS fLagerBestandGesamt, -- laufende Summe des Lagerbestands dieses kArtikels
			SUM(S.fAnzahl) OVER (PARTITION BY S.kArtikel, S.kWarenLagerPlatz ORDER BY S.dGebucht) AS fLagerBestandPlatz, -- laufende Summe des Lagerbestands dieses kArtikels auf diesem kWarenlagerplatz
			S.cChargenNr,
			S.dMHD,
			S.kWarenLagerPlatz,
			S.fEKNetto,
			S.kBenutzer,
			S.kWarenLagerEingang,
			S.kGutschriftPos,
			S.cKommentar,
			S.kAuftragPos,
			S.kLieferscheinPos,
			S.kLieferantenBestellungPos,
			S.cLieferscheinNr,
			S.kSessionID
	FROM	(
				SELECT 
						WLE.dErstellt AS dGebucht,
						'Eingang' AS cTyp,
						WLE.kArtikel,
						WLE.fAnzahl,
						WLE.kBuchungsart,
						WLE.cChargenNr,
						WLE.dMHD,
						WLE.kWarenLagerPlatz,
						WLE.kWarenLagerEingang,
						WLE.kBenutzer,
						WLE.fEKEinzel AS fEKNetto,
						WLE.cKommentar,
						WLE.kLieferantenBestellungPos,
						NULL AS kAuftragPos,
						WLE.kGutschriftPos,
						NULL AS kLieferscheinPos,
						WLE.cLieferscheinNr,
						WLE.kSessionID
				FROM	dbo.tWarenLagerEingang AS WLE

				UNION ALL

				SELECT
							WLA.dErstellt AS dGebucht,
							'Ausgang' AS cTyp,
							WLA.kArtikel,
							WLA.fAnzahl * -1,
							WLA.kBuchungsart,
							WLE.cChargenNr,
							WLE.dMHD,
							WLA.kWarenLagerPlatz,
							WLA.kWarenLagerEingang,
							WLA.kBenutzer,
							WLE.fEKEinzel AS fEKNetto,
							WLA.cKommentar,
							WLE.kLieferantenBestellungPos,
							LSP.kBestellPos,
							WLE.kGutschriftPos,
							WLA.kLieferscheinPos,
							WLE.cLieferscheinNr,
							WLA.kSessionID
				FROM		dbo.tWarenLagerAusgang AS WLA
				LEFT JOIN	dbo.tLieferscheinPos AS LSP ON WLA.kLieferscheinPos = LSP.kLieferscheinPos
				LEFT JOIN	dbo.tWarenLagerEingang AS WLE ON WLA.kWarenLagerEingang = WLE.kWarenLagerEingang
			) AS S -- Source
	LEFT JOIN	dbo.tBuchungsArt AS BA ON BA.kBuchungsart = S.kBuchungsart
GO
