USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tland]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tland](
	[cISO] [nvarchar](5) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cNameEng] [nvarchar](255) NULL,
	[nEU] [tinyint] NULL,
	[cKontinent] [nvarchar](255) NULL,
	[cNameFra] [nvarchar](255) NULL,
	[cISO3] [nvarchar](5) NULL,
	[nISONumeric] [int] NOT NULL,
	[cWaehrung] [char](3) NOT NULL,
	[cDefaultCulture] [nvarchar](10) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tland] PRIMARY KEY CLUSTERED 
(
	[cISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tland] ADD  CONSTRAINT [DF_dbo_tland_nISONumeric]  DEFAULT ((0)) FOR [nISONumeric]
GO
ALTER TABLE [dbo].[tland] ADD  CONSTRAINT [DF_dbo_tland_cWaehrung]  DEFAULT ('') FOR [cWaehrung]
GO
