USE [eazybusiness]
GO
/****** Object:  View [dbo].[vLagerbestandStueckliste]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLagerbestandStueckliste] AS
SELECT
	vBestandStueckliste.kArtikel,
	vBestandStueckliste.cArtNr,
	vBestandStueckliste.kStueckliste,
	vBestandStueckliste.fBestand AS fLagerbestand,
	vBestandStueckliste.fBestandEigen AS fLagerbestandEigen,
	vBestandStueckliste.fBestandGesperrtVerfuegbar AS fVerfuegbarGesperrt,
	vBestandStueckliste.fZulauf AS fZulauf,
	vBestandStueckliste.fAufEinkaufsliste AS fAufEinkaufsliste,
	vBestandStueckliste.dLieferdatum AS dLieferdatum,
	vBestandStueckliste.fVerfuegbar AS fVerfuegbar,
	vBestandStueckliste.fBestandGesperrtAuslieferung AS fAuslieferungGesperrt
FROM Bestand.vBestandStueckliste
GO
