USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_bestellpos_vater]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_bestellpos_vater](
	[kBestellPos] [int] NOT NULL,
	[cSellerSKU] [nvarchar](100) NULL
) ON [PRIMARY]
GO
