USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersandPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersandPos](
	[kVersand] [int] NOT NULL,
	[kLieferscheinPos] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersandPos] PRIMARY KEY CLUSTERED 
(
	[kVersand] ASC,
	[kLieferscheinPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tVersandPos] ADD  CONSTRAINT [DF_dbo_tVersandPos_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
