USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_plattform]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_plattform](
	[kPlattform] [int] NOT NULL,
	[cMarketPlaceId] [varchar](50) NOT NULL,
	[nRegion] [int] NOT NULL,
	[cDomain] [nvarchar](3) NULL,
	[cIso] [nvarchar](5) NULL,
	[cLanguageIso] [nvarchar](2) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_plattform] PRIMARY KEY CLUSTERED 
(
	[kPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
