USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBestellungWMSFreigabe]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBestellungWMSFreigabe](
	[kBestellungWMSFreigabe] [int] IDENTITY(1,1) NOT NULL,
	[kBestellung] [int] NULL,
	[dZeitstempel] [datetime] NULL,
	[kBenutzer] [int] NULL,
	[nTeillieferungErlaubt] [int] NULL,
	[nVorkommissionieren] [int] NULL,
	[nAktiv] [int] NULL,
	[nSperre] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tBestellungWMSFreigabe] PRIMARY KEY CLUSTERED 
(
	[kBestellungWMSFreigabe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
