USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_umlagerung_versendet_pos_versand]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_umlagerung_versendet_pos_versand](
	[kAmazonUmlagerungVersendetPosVersand] [int] IDENTITY(1,1) NOT NULL,
	[kAmazonUmlagerungVersendetPos] [int] NOT NULL,
	[kVersand] [int] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_umlagerung_versendet_pos_versand] PRIMARY KEY CLUSTERED 
(
	[kAmazonUmlagerungVersendetPosVersand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
