USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_umlagerung_versendet_pos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_umlagerung_versendet_pos](
	[kAmazonUmlagerungVersendetPos] [int] IDENTITY(1,1) NOT NULL,
	[kAmazonUmlagerungVersendet] [int] NOT NULL,
	[cTrackingId] [nvarchar](250) NULL,
	[nDimensionUnit] [tinyint] NOT NULL,
	[fLength] [decimal](25, 13) NOT NULL,
	[fWidth] [decimal](25, 13) NOT NULL,
	[fHeight] [decimal](25, 13) NOT NULL,
	[nWeightUnit] [tinyint] NOT NULL,
	[fWeight] [decimal](25, 13) NOT NULL,
	[kAuftragPosition] [int] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_umlagerung_versendet_pos] PRIMARY KEY CLUSTERED 
(
	[kAmazonUmlagerungVersendetPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_umlagerung_versendet_pos]  WITH CHECK ADD  CONSTRAINT [FK_dbo_pf_amazon_umlagerung_versendet_pos_kAmazonUmlagerungVersendetPos] FOREIGN KEY([kAmazonUmlagerungVersendet])
REFERENCES [dbo].[pf_amazon_umlagerung_versendet] ([kAmazonUmlagerungVersendet])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pf_amazon_umlagerung_versendet_pos] CHECK CONSTRAINT [FK_dbo_pf_amazon_umlagerung_versendet_pos_kAmazonUmlagerungVersendetPos]
GO
