USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEingangsrechnung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEingangsrechnung](
	[kEingangsrechnung] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NULL,
	[kLieferant] [int] NULL,
	[kAnsprechpartner] [int] NULL,
	[cFremdbelegnummer] [nvarchar](255) NULL,
	[cEigeneRechnungsnummer] [nvarchar](255) NULL,
	[cHinweise] [nvarchar](255) NULL,
	[cLieferant] [nvarchar](255) NULL,
	[cAdresszusatz] [nvarchar](255) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](255) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cLandISO] [nvarchar](5) NULL,
	[cBundesland] [nvarchar](255) NULL,
	[cTel] [nvarchar](255) NULL,
	[cFax] [nvarchar](255) NULL,
	[cMobil] [nvarchar](255) NULL,
	[cMail] [nvarchar](255) NULL,
	[nStatus] [tinyint] NULL,
	[nDeleted] [tinyint] NULL,
	[nZahlungFreigegeben] [tinyint] NULL,
	[dErstellt] [datetime] NULL,
	[nKumuliert] [tinyint] NULL,
	[dBezahlt] [datetime] NULL,
	[dZahlungsziel] [datetime] NULL,
	[fFremdFaktor] [decimal](25, 13) NOT NULL,
	[nVerteilungsArt] [tinyint] NULL,
	[dBelegdatum] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tEingangsrechnung] PRIMARY KEY CLUSTERED 
(
	[kEingangsrechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tEingangsrechnung] ADD  CONSTRAINT [DF_dbo_tEingangsrechnung_fFremdFaktor]  DEFAULT ((0.0)) FOR [fFremdFaktor]
GO
