USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLLVorlage]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLLVorlage](
	[kLLVorlage] [int] IDENTITY(1,1) NOT NULL,
	[nTyp] [int] NULL,
	[dDatum] [nvarchar](20) NULL,
	[cKommentar] [nvarchar](255) NULL,
	[cName] [nvarchar](255) NULL,
	[bData] [image] NULL,
	[nDatasize] [int] NULL,
	[bPreview] [image] NULL,
	[nPreviewsize] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLLVorlage] PRIMARY KEY CLUSTERED 
(
	[kLLVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
