USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_BonPosition]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_BonPosition](
	[kBonPosition] [bigint] IDENTITY(1,1) NOT NULL,
	[kBon] [bigint] NOT NULL,
	[kBonPositionStorno] [bigint] NULL,
	[fMenge] [real] NOT NULL,
	[fEinzelPreis] [real] NOT NULL,
	[fKassenRabattSatz] [real] NOT NULL,
	[cHasSonderPreis] [varchar](1) NULL,
	[cisAStaffelPreis] [varchar](1) NULL,
	[cisLagerArtikel] [varchar](1) NULL,
	[cHasVariationen] [varchar](1) NULL,
	[cVariationen] [varchar](255) NULL,
	[tArtikel_kArtikel] [bigint] NULL,
	[tArtikel_cArtNr] [varchar](100) NULL,
	[tArtikel_cName] [varchar](255) NULL,
	[tArtikel_fVKBrutto] [real] NULL,
	[tArtikel_fVKNetto] [real] NULL,
	[tArtikel_fUVP] [real] NULL,
	[tArtikel_fMwSt] [real] NULL,
	[tArtikel_cEinheit] [varchar](10) NULL,
	[tArtikel_cHersteller] [varchar](255) NULL,
	[tArtikel_cErloeskonto] [varchar](255) NULL,
	[tArtikel_cWarengruppe] [varchar](255) NULL,
	[tLagerArtikel_kLagerArtikel] [bigint] NULL,
	[tLagerArtikel_cSerienNr] [varchar](128) NULL,
	[cWawiAuftragErstellt] [varchar](1) NULL,
	[cisAGutschein] [varchar](1) NULL,
	[cisARueckgabeAusgleich] [varchar](1) NULL,
	[tBestellung_kBestellung] [bigint] NULL,
	[tZahlung_kZahlung] [bigint] NULL,
	[cisAFreitext] [varchar](1) NULL,
	[cData] [image] NULL,
 CONSTRAINT [PK_POS_BonPosition] PRIMARY KEY CLUSTERED 
(
	[kBonPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('0') FOR [kBonPositionStorno]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('N') FOR [cHasSonderPreis]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('N') FOR [cisAStaffelPreis]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('N') FOR [cisLagerArtikel]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('N') FOR [cHasVariationen]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('') FOR [cVariationen]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('N') FOR [cWawiAuftragErstellt]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('N') FOR [cisAGutschein]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('N') FOR [cisARueckgabeAusgleich]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('0') FOR [tBestellung_kBestellung]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('0') FOR [tZahlung_kZahlung]
GO
ALTER TABLE [dbo].[POS_BonPosition] ADD  DEFAULT ('N') FOR [cisAFreitext]
GO
