USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersanddatenExportVorlage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersanddatenExportVorlage](
	[kVersanddatenExportVorlage] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cContentXml] [nvarchar](max) NOT NULL,
	[cFilenameTemplate] [nvarchar](255) NOT NULL,
	[nExistingFileAction] [tinyint] NOT NULL,
	[kAdressExportVorlage] [int] NULL,
	[nExpertenmodus] [tinyint] NOT NULL,
	[cPathTemplate] [nvarchar](255) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersanddatenExportVorlage] PRIMARY KEY CLUSTERED 
(
	[kVersanddatenExportVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tVersanddatenExportVorlage] ADD  CONSTRAINT [DF_dbo_tVersanddatenExportVorlage_cFilenameTemplate]  DEFAULT ('') FOR [cFilenameTemplate]
GO
ALTER TABLE [dbo].[tVersanddatenExportVorlage] ADD  CONSTRAINT [DF_dbo_tVersanddatenExportVorlage_nExistingFileAction]  DEFAULT ((0)) FOR [nExistingFileAction]
GO
ALTER TABLE [dbo].[tVersanddatenExportVorlage] ADD  CONSTRAINT [DF_dbo_tVersanddatenExportVorlage_nExpertenmodus]  DEFAULT ((0)) FOR [nExpertenmodus]
GO
ALTER TABLE [dbo].[tVersanddatenExportVorlage] ADD  CONSTRAINT [DF_dbo_tVersanddatenExportVorlage_cPathTemplate]  DEFAULT ('') FOR [cPathTemplate]
GO
