USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRestApiRegistrationRequest]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRestApiRegistrationRequest](
	[kRestApiRegistrationRequest] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzerCreated] [int] NULL,
	[dCreated] [datetimeoffset](7) NULL,
	[cAppId] [nvarchar](80) NULL,
	[cAppVersion] [nvarchar](50) NULL,
	[cRequestData] [xml] NULL,
	[dAnswered] [datetimeoffset](7) NULL,
	[kBenutzerApp] [int] NULL,
	[dFinished] [datetimeoffset](7) NULL,
	[cToken] [nvarchar](512) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[iRegistrationId] [uniqueidentifier] NOT NULL,
	[cRemoteIp] [nvarchar](100) NULL,
	[cChallengeCode] [nvarchar](40) NULL,
	[kRegistrationRequestParent] [int] NULL,
 CONSTRAINT [PK_dbo_tRestApiRegistrationRequest] PRIMARY KEY CLUSTERED 
(
	[kRestApiRegistrationRequest] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRestApiRegistrationRequest] ADD  CONSTRAINT [DF_dbo_tRestApiRegistrationRequest_iRegistrationId]  DEFAULT (newid()) FOR [iRegistrationId]
GO
