USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWMSOptionen]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWMSOptionen](
	[cName] [nvarchar](50) NULL,
	[cWert] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
