USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersandVorlage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersandVorlage](
	[kVersandVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cBeschreibung] [nvarchar](255) NULL,
	[nStandard] [tinyint] NULL,
	[dErstellt] [nvarchar](24) NULL,
	[cTrennzeichen] [nvarchar](4) NULL,
	[nAbZeile] [int] NULL,
	[nIntKey] [int] NULL,
	[nLieferscheinNr] [int] NULL,
	[nVersandt] [int] NULL,
	[nIdentcode] [int] NULL,
	[nVersandInfo] [int] NULL,
	[nReserved] [int] NULL,
	[cDateFormat] [nvarchar](255) NULL,
	[kLogistik] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersandVorlage] PRIMARY KEY CLUSTERED 
(
	[kVersandVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
