USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_exportvorlagefeld]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_exportvorlagefeld](
	[kExportVorlageFeld] [int] IDENTITY(1,1) NOT NULL,
	[kExportVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cDBName] [nvarchar](255) NULL,
	[cKopfzeilenbeschriftung] [nvarchar](255) NULL,
	[nSpalte] [int] NOT NULL,
 CONSTRAINT [PK_dbo_ameise_exportvorlagefeld] PRIMARY KEY CLUSTERED 
(
	[kExportVorlageFeld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ameise_exportvorlagefeld] ADD  CONSTRAINT [DF_dbo_ameise_exportvorlagefeld_nSpalte]  DEFAULT ((0)) FOR [nSpalte]
GO
