USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMessages]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMessages](
	[kMessages] [int] NOT NULL,
	[kKunde] [int] NULL,
	[kLieferant] [int] NULL,
	[sBereff] [nvarchar](511) NULL,
	[sText] [nvarchar](max) NULL,
	[sSentMailDate] [nvarchar](20) NULL,
	[sSentFaxDate] [nvarchar](20) NULL,
	[nType] [tinyint] NULL,
	[sHTMLText] [nvarchar](max) NULL,
	[sAttachment] [nvarchar](max) NULL,
	[kFirma] [int] NULL,
	[kAnsprechpartner] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMessages] PRIMARY KEY CLUSTERED 
(
	[kMessages] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
