USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_beschreibungstemplate]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_beschreibungstemplate](
	[kEbayBeschreibungsTemplate] [int] NOT NULL,
	[kEbayuser] [int] NOT NULL,
	[kItem] [int] NOT NULL,
	[cTitel] [nvarchar](255) NULL,
	[cH1] [nvarchar](255) NULL,
	[cH2] [nvarchar](255) NULL,
	[cBody] [nvarchar](max) NULL,
	[cVersandhinweis] [nvarchar](max) NULL,
	[PaymentInstructions] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_ebay_beschreibungstemplate] PRIMARY KEY CLUSTERED 
(
	[kEbayBeschreibungsTemplate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_beschreibungstemplate] ADD  CONSTRAINT [DF_dbo_ebay_beschreibungstemplate_cTitel]  DEFAULT (NULL) FOR [cTitel]
GO
ALTER TABLE [dbo].[ebay_beschreibungstemplate] ADD  CONSTRAINT [DF_dbo_ebay_beschreibungstemplate_cH1]  DEFAULT (NULL) FOR [cH1]
GO
ALTER TABLE [dbo].[ebay_beschreibungstemplate] ADD  CONSTRAINT [DF_dbo_ebay_beschreibungstemplate_cH2]  DEFAULT (NULL) FOR [cH2]
GO
