USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUniqueSession]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUniqueSession](
	[kSession] [int] IDENTITY(1,1) NOT NULL,
	[cContext] [nvarchar](50) NOT NULL,
	[dLastCallback] [datetime] NOT NULL,
	[cInfo] [nvarchar](100) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cRechnername] [nvarchar](64) NULL,
 CONSTRAINT [PK_dbo_tUniqueSession] PRIMARY KEY CLUSTERED 
(
	[kSession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
