USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPreiskalkulation]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreiskalkulation](
	[cName] [nvarchar](255) NOT NULL,
	[nAB] [int] NOT NULL,
	[nOperator] [tinyint] NULL,
	[nWert] [decimal](25, 13) NOT NULL,
	[dModifiziert] [datetime] NULL,
	[cPlattform] [nvarchar](255) NOT NULL,
	[nPreisglaettungBis10] [tinyint] NULL,
	[nPreisglaettungBis100] [tinyint] NULL,
	[nPreisglaettungBis1000] [tinyint] NULL,
	[nPReisglaettungBis10000] [tinyint] NULL,
	[bSonderpreisAb] [tinyint] NULL,
	[dSonderpreisAb] [datetime] NULL,
	[bSonderpreisBis] [tinyint] NULL,
	[dSonderpreisBis] [datetime] NULL,
	[bSonderpreiLager] [tinyint] NULL,
	[nSonderpreisLager] [int] NULL,
	[cSonderpreisPlattform] [nvarchar](255) NULL,
	[nIndexPreisAlt] [tinyint] NULL,
	[nIndexPreisAltKundengruppe] [tinyint] NULL,
	[nIndexPreisAltMarktplatz] [tinyint] NULL,
	[nIndexPreisNeu] [tinyint] NULL,
	[nIndexPreisNeuKundengruppe] [tinyint] NULL,
	[nIndexPreisNeuMarktplatz] [tinyint] NULL,
	[cSonderpreisKundengruppe] [nvarchar](255) NULL,
	[nDelete] [tinyint] NULL,
	[nDeaktivate] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPreiskalkulation] PRIMARY KEY CLUSTERED 
(
	[cName] ASC,
	[nAB] ASC,
	[cPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPreiskalkulation] ADD  CONSTRAINT [DF_dbo_tPreiskalkulation_nWert]  DEFAULT ((0.0)) FOR [nWert]
GO
