USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_importvorlagefeld]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_importvorlagefeld](
	[kImportVorlageFeld] [int] IDENTITY(1,1) NOT NULL,
	[kImportVorlage] [int] NOT NULL,
	[cTable] [nvarchar](255) NULL,
	[cDBName] [nvarchar](255) NULL,
	[nSpalte] [int] NOT NULL,
	[nKey] [int] NOT NULL,
	[nKey2] [int] NOT NULL,
	[cStandardWert] [nvarchar](255) NULL,
	[nTyp] [tinyint] NOT NULL,
	[cExt] [nvarchar](4000) NULL,
	[cName] [nvarchar](255) NULL,
	[cDBTyp] [nvarchar](100) NULL,
	[nLaenge] [int] NULL,
	[cValidation] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ameise_importvorlagefeld] PRIMARY KEY CLUSTERED 
(
	[kImportVorlageFeld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ameise_importvorlagefeld] ADD  CONSTRAINT [DF_dbo_ameise_importvorlagefeld_nSpalte]  DEFAULT ((0)) FOR [nSpalte]
GO
ALTER TABLE [dbo].[ameise_importvorlagefeld] ADD  CONSTRAINT [DF_dbo_ameise_importvorlagefeld_nKey]  DEFAULT ((0)) FOR [nKey]
GO
ALTER TABLE [dbo].[ameise_importvorlagefeld] ADD  CONSTRAINT [DF_dbo_ameise_importvorlagefeld_nKey2]  DEFAULT ((0)) FOR [nKey2]
GO
ALTER TABLE [dbo].[ameise_importvorlagefeld] ADD  CONSTRAINT [DF_dbo_ameise_importvorlagefeld_cStandardWert]  DEFAULT ((0)) FOR [cStandardWert]
GO
ALTER TABLE [dbo].[ameise_importvorlagefeld] ADD  CONSTRAINT [DF_dbo_ameise_importvorlagefeld_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
