USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_importvorgang]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_importvorgang](
	[kImportVorgang] [int] IDENTITY(1,1) NOT NULL,
	[kImportVorlage] [int] NOT NULL,
	[kImportTyp] [int] NOT NULL,
	[nAbZeile] [int] NOT NULL,
	[nAnzahlImportiert] [int] NOT NULL,
	[nAnzahlAktualisiert] [int] NOT NULL,
	[nAnzahlWarnungen] [int] NOT NULL,
	[nAnzahlFehler] [int] NOT NULL,
	[nDauer] [int] NOT NULL,
	[nStatus] [tinyint] NOT NULL,
	[cImportdatei] [nvarchar](255) NULL,
	[dErstellt] [datetime] NULL,
	[cMandant] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ameise_importvorgang] PRIMARY KEY CLUSTERED 
(
	[kImportVorgang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ameise_importvorgang] ADD  CONSTRAINT [DF_dbo_ameise_importvorgang_nAbZeile]  DEFAULT ((0)) FOR [nAbZeile]
GO
ALTER TABLE [dbo].[ameise_importvorgang] ADD  CONSTRAINT [DF_dbo_ameise_importvorgang_nAnzahlImportiert]  DEFAULT ((0)) FOR [nAnzahlImportiert]
GO
ALTER TABLE [dbo].[ameise_importvorgang] ADD  CONSTRAINT [DF_dbo_ameise_importvorgang_nAnzahlAktualisiert]  DEFAULT ((0)) FOR [nAnzahlAktualisiert]
GO
ALTER TABLE [dbo].[ameise_importvorgang] ADD  CONSTRAINT [DF_dbo_ameise_importvorgang_nAnzahlWarnungen]  DEFAULT ((0)) FOR [nAnzahlWarnungen]
GO
ALTER TABLE [dbo].[ameise_importvorgang] ADD  CONSTRAINT [DF_dbo_ameise_importvorgang_nAnzahlFehler]  DEFAULT ((0)) FOR [nAnzahlFehler]
GO
ALTER TABLE [dbo].[ameise_importvorgang] ADD  CONSTRAINT [DF_dbo_ameise_importvorgang_nDauer]  DEFAULT ((0)) FOR [nDauer]
GO
ALTER TABLE [dbo].[ameise_importvorgang] ADD  CONSTRAINT [DF_dbo_ameise_importvorgang_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
