USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelSpeicher]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelSpeicher](
	[kArtikel] [int] NOT NULL,
	[cNummer] [nvarchar](255) NOT NULL,
	[nID] [tinyint] NOT NULL,
	[nAktiv] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelSpeicher] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[cNummer] ASC,
	[nID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
