USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vNotExistingArtikel]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[unicorn2_vNotExistingArtikel] 
    AS
        SELECT kArtikel AS kWawiId
        FROM tartikel WITH (NOLOCK) 
        WHERE kVaterArtikel = 0 AND kArtikel NOT IN (SELECT kWawiId FROM unicorn2_tExistingArtikel) AND cAktiv = 'Y'
GO
