USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_Item]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_Item](
	[kItem] [int] IDENTITY(1,1) NOT NULL,
	[kGroup] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
	[kUser] [int] NOT NULL,
	[nStatus] [tinyint] NOT NULL,
	[nErrorCode] [int] NULL,
	[cErrorMessage] [nvarchar](max) NULL,
	[dErrorErstellt] [datetime] NULL,
	[cSKU] [nvarchar](60) NOT NULL,
	[cErrorHilfeText] [nvarchar](2000) NULL,
	[nRemoveBeschreibungsHtml] [tinyint] NOT NULL,
	[dLastTransmission] [datetime] NULL,
	[nReplaceLineBreaks] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_Item] PRIMARY KEY CLUSTERED 
(
	[kItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_Item] ADD  CONSTRAINT [DF_dbo_pf_amazon_Item_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
ALTER TABLE [dbo].[pf_amazon_Item] ADD  CONSTRAINT [DF_dbo_pf_amazon_Item_nRemoveBeschreibungsHtml]  DEFAULT ((0)) FOR [nRemoveBeschreibungsHtml]
GO
ALTER TABLE [dbo].[pf_amazon_Item] ADD  CONSTRAINT [DF_dbo_pf_amazon_Item_nReplaceLineBreaks]  DEFAULT ((1)) FOR [nReplaceLineBreaks]
GO
