USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tgutschrifteigenschaft]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tgutschrifteigenschaft](
	[kGutschriftEigenschaft] [int] NOT NULL,
	[kEigenschaftWert] [int] NULL,
	[kGutschriftPos] [int] NULL,
	[kArtikel] [int] NULL,
	[fNettoPreis] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tgutschrifteigenschaft] PRIMARY KEY CLUSTERED 
(
	[kGutschriftEigenschaft] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tgutschrifteigenschaft] ADD  CONSTRAINT [DF_dbo_tgutschrifteigenschaft_fNettoPreis]  DEFAULT ((0.0)) FOR [fNettoPreis]
GO
ALTER TABLE [dbo].[tgutschrifteigenschaft]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tgutschrifteigenschaft_kGutschriftPos] FOREIGN KEY([kGutschriftPos])
REFERENCES [dbo].[tGutschriftPos] ([kGutschriftPos])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tgutschrifteigenschaft] CHECK CONSTRAINT [FK_dbo_tgutschrifteigenschaft_kGutschriftPos]
GO
