USE [eazybusiness]
GO
/****** Object:  View [dbo].[teinstellungen]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[teinstellungen]
AS
(
	-- Defaultwerte aus Tabelle dbo.teinstellungen in die View übernommen.
	SELECT 1 AS kEinstellungen,
			CONVERT(NVARCHAR(255), NULL) AS cKopfPic,
			CONVERT(NVARCHAR(255), NULL) AS cDrucker,
			ISNULL(CONVERT(DECIMAL(28,14),[Zahlung.StandardMwStSatz]), 0.00000000000000) AS fMwSt, 
			0 AS nZahlungsziel, 
			CONVERT(NVARCHAR(255), NULL) AS cFax, 
			'N' AS cLagerbestand,
			CASE WHEN [eBay.ArtikelMengeMultiplizieren] = '1' THEN 'Y' ELSE 'N' END AS cLootSize,
			'N' AS cLagerKleinerNull, 
			CONVERT(NVARCHAR(255), NULL) AS cFaxParam, 
			'N' AS cRechnung2x, 
			CONVERT(NVARCHAR(255), NULL) AS cRechnungsDrucker, 
			CONVERT(NVARCHAR(10), NULL) AS cUSt, 
			CONVERT(NVARCHAR(255), NULL) AS cEtikettDrucker, 
			ISNULL([Zahlung.Rappenrundung], 0) AS nRunden, 
			ISNULL(CONVERT(INT, [Debug.Logs.CPlusPlus]), 0) AS nLog,
			[Debug.Logs.Ausgabe.Pfad] AS cLogPfad,
			'N' AS cLieferschein2x, 
			0 AS nLagerAnzahl,  
			ISNULL([Auftrag.Position.Beschreibung], '') AS cBeschreibung,
			CAST(ISNULL([AuftragNachRechnungFix], 0) AS INT) AS nAuftragAendern, 
			0 AS nSNAbfragen
		FROM
		(
			SELECT cKey, cValue 
				FROM dbo.tOptions
		) AS SourceTable
		PIVOT
		(
			MAX(cValue)
			FOR cKey IN 
				(
					[Zahlung.StandardMwStSatz], 
					[eBay.ArtikelMengeMultiplizieren], 
					[Zahlung.Rappenrundung], 
					[Debug.Logs.CPlusPlus],
					[Debug.Logs.Ausgabe.Pfad], 
					[Auftrag.Position.Beschreibung],
					[AuftragNachRechnungFix]
				)
		) AS PivotTable
);
GO
