USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferInfoVersand]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferInfoVersand](
	[kBestellung] [int] NOT NULL,
	[nStatus] [int] NOT NULL,
	[nStatusEigen] [int] NOT NULL,
	[nStatusBestellt] [int] NOT NULL,
	[nStatusEigenBestellt] [int] NOT NULL,
	[nStatusBestelltBlockiert] [int] NOT NULL,
	[nStatusEigenBstelltBlockiert] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferInfoVersand] PRIMARY KEY CLUSTERED 
(
	[kBestellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
