USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tinetadress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tinetadress](
	[kInetAdress] [int] NOT NULL,
	[kKunde] [int] NULL,
	[cVorname] [nvarchar](255) NULL,
	[cNachname] [nvarchar](255) NULL,
	[cFirma] [nvarchar](128) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](20) NULL,
	[cStadt] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[cTel] [nvarchar](45) NULL,
	[cFax] [nvarchar](45) NULL,
	[cMail] [nvarchar](255) NULL,
	[cAnrede] [nvarchar](30) NULL,
	[cAdressZusatz] [nvarchar](255) NULL,
	[kShop] [int] NOT NULL,
	[cMobil] [nvarchar](30) NULL,
	[cTitel] [nvarchar](64) NULL,
	[cZusatz] [nvarchar](60) NULL,
	[cBundesland] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tinetadress] PRIMARY KEY CLUSTERED 
(
	[kInetAdress] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tinetadress] ADD  CONSTRAINT [DF_dbo_tinetadress_kShop]  DEFAULT ((0)) FOR [kShop]
GO
