USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tCustomerQueryOverviewColumn]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomerQueryOverviewColumn](
	[kCustomerQueryOverview] [int] NOT NULL,
	[kUser] [int] NOT NULL,
	[nSqlIndex] [int] NOT NULL,
	[nGridIndex] [int] NOT NULL,
	[nWidth] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tCustomerQueryOverviewColumn] PRIMARY KEY CLUSTERED 
(
	[kCustomerQueryOverview] ASC,
	[kUser] ASC,
	[nSqlIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tCustomerQueryOverviewColumn]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tCustomerQueryOverviewColumn_kCustomerQueryOverview] FOREIGN KEY([kCustomerQueryOverview])
REFERENCES [dbo].[tCustomerQueryOverview] ([kCustomerQueryOverview])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tCustomerQueryOverviewColumn] CHECK CONSTRAINT [FK_dbo_tCustomerQueryOverviewColumn_kCustomerQueryOverview]
GO
