USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tinetbestellpos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tinetbestellpos](
	[kInetBestellPos] [int] NOT NULL,
	[kInetBestellung] [int] NULL,
	[kArikel] [int] NULL,
	[fPreis] [decimal](25, 13) NOT NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[nAnzahl] [decimal](25, 13) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[kShop] [int] NOT NULL,
	[nType] [tinyint] NULL,
	[cHinweis] [nvarchar](2000) NULL,
	[nHatUpload] [int] NULL,
	[cUnique] [nvarchar](30) NULL,
	[kKonfigitem] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cArtNr] [nvarchar](100) NULL,
	[cEinheit] [nvarchar](255) NULL,
	[nLongestMinDelivery] [int] NULL,
	[nLongestMaxDelivery] [int] NULL,
 CONSTRAINT [PK_dbo_tinetbestellpos] PRIMARY KEY CLUSTERED 
(
	[kInetBestellPos] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tinetbestellpos] ADD  CONSTRAINT [DF_dbo_tinetbestellpos_fPreis]  DEFAULT ((0.0)) FOR [fPreis]
GO
ALTER TABLE [dbo].[tinetbestellpos] ADD  CONSTRAINT [DF_dbo_tinetbestellpos_fMwSt]  DEFAULT ((0.0)) FOR [fMwSt]
GO
ALTER TABLE [dbo].[tinetbestellpos] ADD  CONSTRAINT [DF_dbo_tinetbestellpos_nAnzahl]  DEFAULT ((0.0)) FOR [nAnzahl]
GO
ALTER TABLE [dbo].[tinetbestellpos] ADD  CONSTRAINT [DF_dbo_tinetbestellpos_cName]  DEFAULT ('') FOR [cName]
GO
ALTER TABLE [dbo].[tinetbestellpos] ADD  CONSTRAINT [DF_dbo_tinetbestellpos_kShop]  DEFAULT ((0)) FOR [kShop]
GO
