USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POSGASTRO_Drucker]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSGASTRO_Drucker](
	[kGastroDrucker] [bigint] IDENTITY(1,1) NOT NULL,
	[kKasse] [int] NOT NULL,
	[cName] [varchar](255) NULL,
	[cBeschreibung] [varchar](255) NULL,
	[nArtikelSortierung] [int] NULL,
	[nArtikelVerteilung] [int] NULL,
	[nAudioSignal] [int] NULL,
	[nDruckAnzahl] [int] NULL,
	[nGleicheArtikelzusammenfassen] [int] NULL,
	[nPapiervorlauf] [int] NULL,
 CONSTRAINT [PK_POSGASTRO_Drucker] PRIMARY KEY CLUSTERED 
(
	[kGastroDrucker] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSGASTRO_Drucker] ADD  DEFAULT ((0)) FOR [nArtikelSortierung]
GO
ALTER TABLE [dbo].[POSGASTRO_Drucker] ADD  DEFAULT ((0)) FOR [nArtikelVerteilung]
GO
ALTER TABLE [dbo].[POSGASTRO_Drucker] ADD  DEFAULT ((0)) FOR [nAudioSignal]
GO
ALTER TABLE [dbo].[POSGASTRO_Drucker] ADD  DEFAULT ((0)) FOR [nDruckAnzahl]
GO
ALTER TABLE [dbo].[POSGASTRO_Drucker] ADD  DEFAULT ((0)) FOR [nGleicheArtikelzusammenfassen]
GO
ALTER TABLE [dbo].[POSGASTRO_Drucker] ADD  DEFAULT ((0)) FOR [nPapiervorlauf]
GO
