USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLandSteuersatz]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLandSteuersatz](
	[cISOLand] [nvarchar](5) NOT NULL,
	[cKuerzelBundesland] [nvarchar](5) NOT NULL,
	[fStarkErmaessigterSatz] [decimal](25, 13) NULL,
	[fErmaessigterSatzNiedrig] [decimal](25, 13) NULL,
	[fErmaessigterSatz] [decimal](25, 13) NULL,
	[fNormalerSatz] [decimal](25, 13) NULL,
	[fZwischensatz] [decimal](25, 13) NULL,
	[fLieferschwelle] [decimal](25, 13) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLandSteuersatz] PRIMARY KEY CLUSTERED 
(
	[cISOLand] ASC,
	[cKuerzelBundesland] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
