USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tversion]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tversion](
	[cVersion] [nvarchar](255) NOT NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
