USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_TeleCashPayment]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_TeleCashPayment](
	[kTeleCashPayment] [bigint] IDENTITY(1,1) NOT NULL,
	[kUmsaetze] [bigint] NULL,
	[dDatum] [datetime] NULL,
	[nBelegNummer] [bigint] NULL,
	[cKartenName] [varchar](100) NULL,
	[fBetrag] [float] NULL,
 CONSTRAINT [PK_POS_TeleCashPayment] PRIMARY KEY CLUSTERED 
(
	[kTeleCashPayment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
