USE [eazybusiness]
GO
/****** Object:  View [dbo].[vLagerbestandEx]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLagerbestandEx]
-- Bestandsinformationen zum Artikel
-- Hinweis: Diese View ist VERALTET und sollte nicht mehr in aktuellen Abfragen verwendet werden.
-- In zukünftigen JTL-Wawi Versionen wird diese View entfernt.
AS
SELECT tlagerbestand.kArtikel,
	tlagerbestand.fLagerbestand,
	tlagerbestand.fVerfuegbar,
	tlagerbestand.fInAuftraegen AS fReserviert,
	tlagerbestand.fVerfuegbarGesperrt,
	tlagerbestand.fZulauf,
	tlagerbestand.fVerfuegbar + tlagerbestand.fZulauf AS fZulaufVerfuegbar,
	tlagerbestand.fAufEinkaufsliste,
	CASE 
		WHEN dbo.tlagerbestand.dLieferdatum IS NULL OR tlagerbestand.dLieferdatum > GETDATE() THEN dbo.tlagerbestand.dLieferdatum
		ELSE GETDATE()
	END AS dLieferdatum,
	tlagerbestand.fLagerbestandEigen AS fEigenerBestand,
	tlagerbestand.fVerfuegbar - tArtikel.nPuffer AS fVerfuegbarExtern,
	tlagerbestand.fInAuftraegen
FROM dbo.tlagerbestand 
INNER JOIN dbo.tArtikel ON dbo.tlagerbestand.kArtikel = dbo.tArtikel.kArtikel
WHERE tlagerbestand.kArtikel > 0
GO
