USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSteuersatz]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSteuersatz](
	[kSteuersatz] [int] IDENTITY(1,1) NOT NULL,
	[kSteuerzone] [int] NULL,
	[kSteuerklasse] [int] NULL,
	[fSteuersatz] [decimal](25, 13) NOT NULL,
	[nPrio] [tinyint] NULL,
	[kStSchl] [int] NULL,
	[kStSchlIGL] [int] NULL,
	[kStSchlUStIGL] [int] NULL,
	[kStSchlReverse] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSteuersatz] PRIMARY KEY CLUSTERED 
(
	[kSteuersatz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tSteuersatz_kSteuerklasse_kSteuerzone] UNIQUE NONCLUSTERED 
(
	[kSteuerklasse] ASC,
	[kSteuerzone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tSteuersatz] ADD  CONSTRAINT [DF_dbo_tSteuersatz_fSteuersatz]  DEFAULT ((0.0)) FOR [fSteuersatz]
GO
