USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tkategorieartikel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkategorieartikel](
	[kKategorieArtikel] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kKategorie] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tkategorieartikel] PRIMARY KEY CLUSTERED 
(
	[kKategorieArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tkategorieartikel_kArtikel_kKategorie] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kKategorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tkategorieartikel]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tKategorieartikel_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tkategorieartikel] CHECK CONSTRAINT [FK_dbo_tKategorieartikel_kArtikel]
GO
ALTER TABLE [dbo].[tkategorieartikel]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tKategorieartikel_kKategorie] FOREIGN KEY([kKategorie])
REFERENCES [dbo].[tkategorie] ([kKategorie])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tkategorieartikel] CHECK CONSTRAINT [FK_dbo_tKategorieartikel_kKategorie]
GO
