USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerEingangSubsets]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerEingangSubsets](
	[kWarenLagerEingangSubset] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLagerEingang] [int] NOT NULL,
	[cSubsetNumber] [nvarchar](100) NOT NULL,
	[fQuantity] [int] NOT NULL,
	[fFactor] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenLagerEingangSubsets] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerEingangSubset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsets] ADD  CONSTRAINT [DF_dbo_tWarenLagerEingangSubsets_fQuantity]  DEFAULT ((1)) FOR [fQuantity]
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsets] ADD  CONSTRAINT [DF_dbo_tWarenLagerEingangSubsets_fFactor]  DEFAULT ((1)) FOR [fFactor]
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsets]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tWarenLagerEingangSubsets_kWarenLagerEingang] FOREIGN KEY([kWarenLagerEingang])
REFERENCES [dbo].[tWarenLagerEingang] ([kWarenLagerEingang])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsets] CHECK CONSTRAINT [FK_dbo_tWarenLagerEingangSubsets_kWarenLagerEingang]
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsets]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tWarenLagerEingangSubsets_fFactor] CHECK  (([fFactor]>(0.0)))
GO
ALTER TABLE [dbo].[tWarenLagerEingangSubsets] CHECK CONSTRAINT [CK_dbo_tWarenLagerEingangSubsets_fFactor]
GO
