USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWorkflowEventGroup]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkflowEventGroup](
	[kWorkflowEventGroup] [int] IDENTITY(1,1) NOT NULL,
	[nObjekt] [int] NOT NULL,
	[cDisplayName] [nvarchar](255) NOT NULL,
	[nSortierung] [int] NULL,
 CONSTRAINT [PK_dbo_tWorkflowEventGroup] PRIMARY KEY CLUSTERED 
(
	[kWorkflowEventGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
