USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRechte]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRechte](
	[kRechte] [int] IDENTITY(1,1) NOT NULL,
	[kRecht] [int] NULL,
	[kRechtBenutzerGruppe] [int] NULL,
	[nAktiv] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRechte] PRIMARY KEY CLUSTERED 
(
	[kRechte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
