USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEigenschaftKombiWert]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEigenschaftKombiWert](
	[kEigenschaftKombi] [int] NOT NULL,
	[kEigenschaft] [int] NOT NULL,
	[kEigenschaftWert] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tEigenschaftKombiWert] PRIMARY KEY CLUSTERED 
(
	[kEigenschaftKombi] ASC,
	[kEigenschaft] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tEigenschaftKombiWert]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tEigenschaftKombiWert_kEigenschaft] FOREIGN KEY([kEigenschaft])
REFERENCES [dbo].[teigenschaft] ([kEigenschaft])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tEigenschaftKombiWert] CHECK CONSTRAINT [FK_dbo_tEigenschaftKombiWert_kEigenschaft]
GO
ALTER TABLE [dbo].[tEigenschaftKombiWert]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tEigenschaftKombiWert_kEigenschaftWert] FOREIGN KEY([kEigenschaftWert])
REFERENCES [dbo].[teigenschaftwert] ([kEigenschaftWert])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tEigenschaftKombiWert] CHECK CONSTRAINT [FK_dbo_tEigenschaftKombiWert_kEigenschaftWert]
GO
