USE [eazybusiness]
GO
/****** Object:  View [dbo].[vSteuercache]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vSteuercache]
AS
SELECT
	Steuercache.kFirma,
	Steuercache.fSteuersatz,
	Steuercache.kSteuerKlasse,
	Steuercache.kSteuerZone
FROM
(
	--
	-- Steuerzonen in der DB
	--
	SELECT
		tSteuersatz.kSteuerklasse AS kSteuerKlasse,
		tSteuersatz.fSteuersatz AS fSteuersatz,
		tSteuerzone.kFirma AS kFirma,
		tSteuerzone.kSteuerzone AS kSteuerZone
	FROM dbo.tSteuerzone
	JOIN dbo.tSteuersatz ON tSteuersatz.kSteuerzone = tSteuerzone.kSteuerzone
	JOIN dbo.tSteuerzoneLand ON tSteuerzoneLand.kSteuerzone = tSteuerzone.kSteuerzone
	JOIN
	(
		SELECT TOP 1
			0 AS kFirma,
			tfirma.cLandISO AS cIso
		FROM dbo.tfirma
		WHERE tfirma.cAktiv = 'Y'
		UNION ALL
		SELECT
			tfirma.kFirma AS kFirma,
			tfirma.cLandISO AS cIso
		FROM dbo.tfirma
	) AS Firmenländer ON tSteuerzone.kFirma = Firmenländer.kFirma
						 AND tSteuerzoneLand.cISO = Firmenländer.cIso
	--
	-- Fallback für Firmen auf Global
	--
	UNION ALL
	SELECT
		tSteuersatz.kSteuerklasse AS kSteuerKlasse,
		tSteuersatz.fSteuersatz AS fSteuersatz,
		tfirma.kFirma AS kFirma,
		tSteuerzone.kSteuerzone AS kSteuerZone
	FROM dbo.tSteuerzone
	CROSS JOIN dbo.tfirma
	JOIN dbo.tSteuersatz ON tSteuerzone.kSteuerzone = tSteuersatz.kSteuerzone
	JOIN dbo.tSteuerzoneLand ON tSteuerzone.kSteuerzone = tSteuerzoneLand.kSteuerzone
	JOIN
	(
		SELECT TOP 1
			0 AS kFirma,
			tfirma.cLandISO AS cIso
		FROM dbo.tfirma
		WHERE tfirma.cAktiv = 'Y'
		UNION ALL
		SELECT
			tfirma.kFirma AS kFirma,
			tfirma.cLandISO AS cIso
		FROM dbo.tfirma
	) AS Firmenländer ON tSteuerzone.kFirma = Firmenländer.kFirma
						 AND tSteuerzoneLand.cISO = Firmenländer.cIso
	WHERE
		tSteuerzone.kFirma = 0
		AND NOT EXISTS
	(
		SELECT
			tSteuersatz.kSteuerklasse AS kSteuerKlasse,
			tSteuersatz.fSteuersatz AS fSteuersatz,
			tSteuerzone.kFirma AS kFirma,
			tSteuerzone.kSteuerzone AS kSteuerZone
		FROM dbo.tSteuerzone
		JOIN dbo.tSteuersatz ON tSteuerzone.kSteuerzone = tSteuersatz.kSteuerzone
		WHERE tSteuerzone.kFirma = tfirma.kFirma
	)
) AS Steuercache;
GO
