USE [eazybusiness]
GO
/****** Object:  View [dbo].[vDeletableFiles]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vDeletableFiles]
-- Alle tFiles welche keine Referenz mehr besitzen
-- Hinweis: Diese View ist anzupassen, wenn man kFile an einer weiteren Stelle Referenziert.
AS
WITH AllUsed( kFile )
		AS ( 
		        --
				-- tAuftragFile
				--
				SELECT tAuftragFile.kFile
				FROM Verkauf.tAuftragFile
				--
				-- tAuftragPositionFile
				--
				UNION ALL
				SELECT tAuftragPositionFile.kFile
				FROM Verkauf.tAuftragPositionFile
				--
				-- tAusgangskanalEmailBenutzerSignatur
				--
				UNION ALL
				SELECT tAusgangskanalEmailBenutzerSignatur.kFile_HtmlInhalt
				FROM Ticketsystem.tAusgangskanalEmailBenutzerSignatur
				--
				-- tNachricht
				--
				UNION ALL
				SELECT tNachricht.kFile_HtmlInhalt
				FROM Ticketsystem.tNachricht
				--
				-- tNachrichtEntwurf
				--
				UNION ALL
				SELECT tNachrichtEntwurf.kFile_HtmlInhalt
				FROM Ticketsystem.tNachrichtEntwurf
				--
				-- tNotiz
				--
				UNION ALL
				SELECT tNotiz.kFile_HtmlInhalt
				FROM Ticketsystem.tNotiz
				--
				-- tNotizEntwurf
				--
				UNION ALL
				SELECT tNotizEntwurf.kFile_HtmlInhalt
				FROM Ticketsystem.tNotizEntwurf
				
				--
				-- tOperationFile
				--
				UNION ALL
				SELECT tOperationFile.kFile
				FROM pps.tOperationFile
				--
				-- tOperationStepFile
				--
				UNION ALL
				SELECT tOperationStepFile.kFile
				FROM pps.tOperationStepFile

				--
				-- tProcessParameterActualValue
				--
				UNION ALL
				SELECT tProcessParameterActualValue.kFile
				FROM PParams.tProcessParameterActualValue
				--
				-- tProcessParameterTargetValue
				--
				UNION ALL
				SELECT tProcessParameterTargetValue.kFile
				FROM PParams.tProcessParameterTargetValue
				--
				-- tProductionOrderFile
				--
				UNION ALL
				SELECT tProductionOrderFile.kFile
				FROM pps.tProductionOrderFile
				--
				-- tRechnungFile
				--
				UNION ALL
				SELECT tRechnungFile.kFile
				FROM Rechnung.tRechnungFile
				--
				-- tRechnungPositionFile
				--
				UNION ALL
				SELECT tRechnungPositionFile.kFile
				FROM Rechnung.tRechnungPositionFile
				--
				-- tTelefonat
				--
				UNION ALL
				SELECT tTelefonat.kFile_HtmlInhalt
				FROM Ticketsystem.tTelefonat
				--
				-- tTelefonatEntwurf
				--
				UNION ALL
				SELECT tTelefonatEntwurf.kFile_HtmlInhalt
				FROM Ticketsystem.tTelefonatEntwurf
				--
				-- tTextbausteinInhaltSprache
				--
				UNION ALL
				SELECT tTextbausteinInhaltSprache.kFile
				FROM Nachrichten.tTextbausteinInhaltSprache
				--
				-- tVordefinierteAntwort
				--
				UNION ALL
				SELECT tVordefinierteAntwort.kFile_HtmlInhalt
				FROM Ticketsystem.tVordefinierteAntwort
				--
				-- tNachrichtenanhang
				--
				UNION ALL
				SELECT tNachrichtenanhang.kAnhang
				FROM Ticketsystem.tNachrichtenanhang

				--
				-- SCX.tArtikelVerkaufskanalFeldWert
				--
				UNION ALL
				SELECT tArtikelVerkaufskanalFeldWert.kFile
				FROM SCX.tArtikelVerkaufskanalFeldWert		
				--
				-- SCX.tVerkaufskanalChannelFeldWert
				--
				UNION ALL
				SELECT tVerkaufskanalChannelFeldWert.kFile
				FROM SCX.tVerkaufskanalChannelFeldWert	
				--
				-- SCX.tVerkaufskanalCategoryFeldWert
				--
				UNION ALL
				SELECT tVerkaufskanalCategoryFeldWert.kFile
				FROM SCX.tVerkaufskanalCategoryFeldWert	
				--
				-- PParams.tProcessParameterTargetValue
				--
				UNION ALL
				SELECT tProcessParameterTargetValue.kFile
				FROM PParams.tProcessParameterTargetValue	
				--
				-- PParams.tProcessParameterActualValue
				--
				UNION ALL
				SELECT tProcessParameterActualValue.kFile
				FROM PParams.tProcessParameterActualValue	
				 )

SELECT 
       tFile.kFile
      ,tFile.kBenutzer
      ,tFile.dErstellDatum
      ,tFile.cFileHash
      ,tFile.cFileName
      ,tFile.cFileType
      ,tFile.nFileSizeKB
FROM dbo.tFile 
LEFT JOIN AllUsed ON tFile.kFile = AllUsed.kFile
WHERE AllUsed.kFile IS NULL
GO
