USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWidgetTemplateSettings]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWidgetTemplateSettings](
	[kWidgetTemplateSettings] [int] IDENTITY(1,1) NOT NULL,
	[kWidgetTemplate] [int] NULL,
	[cTitel] [nvarchar](255) NULL,
	[cBeschreibung] [nvarchar](255) NULL,
	[nType] [int] NULL,
	[cKey] [nvarchar](255) NULL,
	[cValue] [nvarchar](max) NULL,
	[nSort] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWidgetTemplateSettings] PRIMARY KEY CLUSTERED 
(
	[kWidgetTemplateSettings] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
