USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tmahnungstext]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmahnungstext](
	[kMahnungsText] [int] NOT NULL,
	[cBetreff] [nvarchar](255) NULL,
	[cAnrede] [nvarchar](255) NULL,
	[cText] [nvarchar](max) NULL,
	[nStuffe] [tinyint] NULL,
	[fGebuehr] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tmahnungstext] PRIMARY KEY CLUSTERED 
(
	[kMahnungsText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tmahnungstext] ADD  CONSTRAINT [DF_dbo_tmahnungstext_fGebuehr]  DEFAULT ((0.0)) FOR [fGebuehr]
GO
