USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBroken]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBroken](
	[cBroken] [nvarchar](1024) NULL,
	[dDatum] [datetime] NULL,
	[cKey] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
