USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_specific]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_specific](
	[kItem] [int] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cValue] [nvarchar](4000) NULL,
	[nCustom] [tinyint] NULL,
	[kMerkmal] [int] NOT NULL,
	[kMerkmalWert] [int] NOT NULL,
	[kSprache] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_specific] ADD  CONSTRAINT [DF_dbo_ebay_specific_kMerkmal]  DEFAULT ((0)) FOR [kMerkmal]
GO
ALTER TABLE [dbo].[ebay_specific] ADD  CONSTRAINT [DF_dbo_ebay_specific_kMerkmalWert]  DEFAULT ((0)) FOR [kMerkmalWert]
GO
ALTER TABLE [dbo].[ebay_specific] ADD  CONSTRAINT [DF_dbo_ebay_specific_kSprache]  DEFAULT ((0)) FOR [kSprache]
GO
