USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Konfiguration]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Konfiguration](
	[kKonfiguration] [int] IDENTITY(1,1) NOT NULL,
	[fDBSchema] [int] NOT NULL,
	[dSchemaDate] [datetime] NULL,
	[cExeVersion] [varchar](50) NULL,
	[dLastUpdate] [datetime] NULL,
	[cUpdateComputer] [varchar](50) NULL,
 CONSTRAINT [PK_POS_Konfiguration] PRIMARY KEY CLUSTERED 
(
	[kKonfiguration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
