USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_transaction_deleted]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_transaction_deleted](
	[ItemID] [nvarchar](255) NOT NULL,
	[TransactionID] [nvarchar](255) NOT NULL,
	[DeletedAt] [datetime] NOT NULL,
	[nCheckout] [bit] NULL,
 CONSTRAINT [UQ_dbo_ebay_transaction_deleted_ItemID_TransactionID] UNIQUE NONCLUSTERED 
(
	[ItemID] ASC,
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
