USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMedienFile]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMedienFile](
	[kMedienFile] [int] NOT NULL,
	[kMedienDir] [int] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[nSize] [int] NULL,
	[dTime] [datetime] NULL,
	[nDel] [smallint] NULL,
	[kShop] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMedienFile] PRIMARY KEY CLUSTERED 
(
	[kMedienFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
