USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPicklisteVorlageEigeneFelder]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPicklisteVorlageEigeneFelder](
	[kPicklisteVorlage] [int] NOT NULL,
	[kAttribut] [int] NOT NULL,
	[cWert] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nWertInt] [int] NULL,
	[fWertDecimal] [decimal](25, 13) NULL,
	[dWertDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo_tPicklisteVorlageEigeneFelder] PRIMARY KEY CLUSTERED 
(
	[kPicklisteVorlage] ASC,
	[kAttribut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
