USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_feederror]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_feederror](
	[kUser] [int] NULL,
	[cSKU] [nvarchar](50) NULL,
	[nErrorCode] [int] NULL,
	[cErrorType] [nvarchar](20) NULL,
	[cErrorMessage] [nvarchar](max) NULL,
	[cAbhilfe] [nvarchar](255) NULL,
	[dErstellt] [datetime] NULL,
	[nPlattform] [int] NULL,
	[cFeedType] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
