USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBestellungPicklisteLock]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBestellungPicklisteLock](
	[kBestellung] [int] NOT NULL,
	[kPickliste] [int] NOT NULL,
	[dZeitstempel] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tBestellungPicklisteLock] PRIMARY KEY CLUSTERED 
(
	[kBestellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
