USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_retourmeldungadjustment]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_retourmeldungadjustment](
	[kAmazonRetourMeldung] [int] NULL,
	[cItemPriceAdjustmentType] [nvarchar](10) NULL,
	[cPromotionClaimCode] [nvarchar](100) NULL,
	[fAmount] [decimal](25, 13) NULL,
	[cCurrency] [nvarchar](3) NULL
) ON [PRIMARY]
GO
