USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLabel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLabel](
	[kLabel] [int] IDENTITY(1,1) NOT NULL,
	[nTyp] [tinyint] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cColor] [nvarchar](7) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLabel] PRIMARY KEY CLUSTERED 
(
	[kLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
