USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Bon]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Bon](
	[kBon] [bigint] IDENTITY(1,1) NOT NULL,
	[cData] [image] NOT NULL,
	[cData2] [image] NULL,
	[kBonStorno] [bigint] NULL,
	[kKasse] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kKunde] [int] NOT NULL,
	[dDatum] [datetime] NULL,
	[fGegeben] [real] NOT NULL,
	[fRueckgeld] [real] NOT NULL,
	[fGesamtSumme] [real] NOT NULL,
	[fSumme1] [real] NOT NULL,
	[fSumme2] [real] NOT NULL,
	[fSumme3] [real] NOT NULL,
	[fSumme4] [real] NOT NULL,
	[fSumme5] [real] NOT NULL,
	[fSumme6] [real] NOT NULL,
	[fSumme7] [real] NOT NULL,
	[fSumme8] [real] NOT NULL,
	[fSumme9] [real] NOT NULL,
	[fSumme10] [real] NOT NULL,
	[fMwSt1] [real] NOT NULL,
	[fMwSt2] [real] NOT NULL,
	[fMwSt3] [real] NOT NULL,
	[fMwSt4] [real] NOT NULL,
	[fMwSt5] [real] NOT NULL,
	[fMwSt6] [real] NOT NULL,
	[fMwSt7] [real] NOT NULL,
	[fMwSt8] [real] NOT NULL,
	[fMwSt9] [real] NOT NULL,
	[fMwSt10] [real] NOT NULL,
	[cHasRabatt] [varchar](1) NULL,
	[cWawiAuftragErstellt] [varchar](1) NULL,
	[fGutscheinAusgabe] [real] NULL,
	[fGutscheinEinloesung] [real] NULL,
	[tRechnung_kRechnung] [bigint] NULL,
	[cBonNr] [varchar](100) NULL,
	[tVersandart_cName] [varchar](255) NULL,
	[tVersandart_kVersandart] [bigint] NULL,
 CONSTRAINT [PK_POS_Bon] PRIMARY KEY CLUSTERED 
(
	[kBon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_Bon] ADD  DEFAULT ('0') FOR [kBonStorno]
GO
ALTER TABLE [dbo].[POS_Bon] ADD  DEFAULT ('N') FOR [cHasRabatt]
GO
ALTER TABLE [dbo].[POS_Bon] ADD  DEFAULT ('N') FOR [cWawiAuftragErstellt]
GO
ALTER TABLE [dbo].[POS_Bon] ADD  DEFAULT ('0') FOR [fGutscheinAusgabe]
GO
ALTER TABLE [dbo].[POS_Bon] ADD  DEFAULT ('0') FOR [fGutscheinEinloesung]
GO
ALTER TABLE [dbo].[POS_Bon] ADD  DEFAULT ('0') FOR [tVersandart_kVersandart]
GO
