USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWaehrung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWaehrung](
	[kWaehrung] [int] NOT NULL,
	[cName] [nvarchar](20) NULL,
	[cNameHTML] [nvarchar](255) NULL,
	[fFaktor] [decimal](25, 13) NOT NULL,
	[cEAMapping] [nvarchar](20) NOT NULL,
	[nStandard] [tinyint] NOT NULL,
	[nVorBetrag] [tinyint] NULL,
	[cTrennzeichenCent] [char](1) NULL,
	[cTrennzeichenTausend] [char](1) NULL,
	[dAktualisiert] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWaehrung] PRIMARY KEY CLUSTERED 
(
	[kWaehrung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
