USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMailVorlage]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMailVorlage](
	[kMailVorlage] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[nType] [tinyint] NULL,
	[kPlattform] [int] NOT NULL,
	[nStandard] [tinyint] NULL,
	[cVorlagenname] [nvarchar](255) NULL,
	[cSubject] [nvarchar](511) NULL,
	[cText] [nvarchar](max) NULL,
	[nHTML] [tinyint] NULL,
	[cHTML] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMailVorlage] PRIMARY KEY CLUSTERED 
(
	[kMailVorlage] ASC,
	[kSprache] ASC,
	[kPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
