USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_log]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_log](
	[dDatum] [nvarchar](20) NULL,
	[cString] [nvarchar](255) NULL,
	[cText] [nvarchar](max) NULL,
	[kItem] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
