USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_xx_bearbeitungszeiten]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_xx_bearbeitungszeiten](
	[SiteID] [int] NOT NULL,
	[cDispatchTime] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo_ebay_xx_bearbeitungszeiten] PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC,
	[cDispatchTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
