USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAdresse]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAdresse](
	[kAdresse] [int] IDENTITY(1,1) NOT NULL,
	[kInetAdresse] [int] NULL,
	[kKunde] [int] NULL,
	[cFirma] [nvarchar](128) NULL,
	[cAnrede] [nvarchar](30) NULL,
	[cTitel] [nvarchar](64) NULL,
	[cVorname] [nvarchar](255) NULL,
	[cName] [nvarchar](255) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](24) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[cTel] [nvarchar](30) NULL,
	[cZusatz] [nvarchar](60) NULL,
	[cAdressZusatz] [nvarchar](255) NULL,
	[cPostID] [nvarchar](255) NULL,
	[cMobil] [nvarchar](30) NULL,
	[cMail] [nvarchar](255) NULL,
	[cFax] [nvarchar](30) NULL,
	[cBundesland] [nvarchar](255) NULL,
	[cISO] [nvarchar](5) NULL,
	[nStandard] [tinyint] NULL,
	[nTyp] [tinyint] NOT NULL,
	[cUSTID] [nvarchar](20) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tAdresse] PRIMARY KEY CLUSTERED 
(
	[kAdresse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tAdresse] ADD  CONSTRAINT [DF_dbo_tAdresse_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
