USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_versandgruppen]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_versandgruppen](
	[kAmazonVersandgruppe] [int] IDENTITY(1,1) NOT NULL,
	[kUser] [int] NOT NULL,
	[cName] [nvarchar](50) NOT NULL,
	[nStandard] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_versandgruppen] PRIMARY KEY CLUSTERED 
(
	[kAmazonVersandgruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_versandgruppen] ADD  CONSTRAINT [DF_dbo_pf_amazon_versandgruppen_nStandard]  DEFAULT ((0)) FOR [nStandard]
GO
