USE [eazybusiness]
GO
/****** Object:  Table [dbo].[unicorn2_tChangeCache]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unicorn2_tChangeCache](
	[kId] [bigint] IDENTITY(1,1) NOT NULL,
	[cStatus] [varchar](10) NULL,
	[cType] [varchar](50) NULL,
	[cProperty] [varchar](50) NULL,
	[kWawiId] [int] NULL,
	[dChangedDate] [datetime] NOT NULL,
PRIMARY KEY NONCLUSTERED 
(
	[kId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
