USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRMRetourenEtikett]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRMRetourenEtikett](
	[kRMRetourenEtikett] [int] IDENTITY(1,1) NOT NULL,
	[kRMRetoure] [int] NOT NULL,
	[cIdentCode] [nvarchar](255) NULL,
	[bLabel] [image] NULL,
	[cHash] [nvarchar](255) NULL,
	[dErstellt] [datetime] NULL,
	[kVersandArt] [int] NULL,
	[kBenutzer] [int] NULL,
	[cVersandArtManuell] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRMRetourenEtikett] PRIMARY KEY CLUSTERED 
(
	[kRMRetourenEtikett] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
