USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_value]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_value](
	[ValueId] [int] NULL,
	[AttributeId] [int] NULL,
	[AttributeSetId] [int] NULL,
	[parentValueId] [int] NOT NULL,
	[Name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_value] ADD  CONSTRAINT [DF_dbo_ebay_de_value_parentValueId]  DEFAULT ((0)) FOR [parentValueId]
GO
