USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEingangsrechnungPosZusatzkosten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEingangsrechnungPosZusatzkosten](
	[kZusatzkosten] [int] NOT NULL,
	[kEingangsrechnungPos] [int] NOT NULL,
	[dWert] [decimal](25, 13) NOT NULL,
	[fFremdFaktor] [decimal](25, 13) NOT NULL,
	[cWaehrungISO] [nvarchar](20) NULL,
	[fMwst] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tEingangsrechnungPosZusatzkosten] PRIMARY KEY CLUSTERED 
(
	[kZusatzkosten] ASC,
	[kEingangsrechnungPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tEingangsrechnungPosZusatzkosten] ADD  CONSTRAINT [DF_dbo_tEingangsrechnungPosZusatzkosten_fFremdFaktor]  DEFAULT ((0.0)) FOR [fFremdFaktor]
GO
ALTER TABLE [dbo].[tEingangsrechnungPosZusatzkosten] ADD  CONSTRAINT [DF_dbo_tEingangsrechnungPosZusatzkosten_fMwst]  DEFAULT ((0.0)) FOR [fMwst]
GO
