USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_angebot_neu]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_angebot_neu](
	[cSellerSKU] [nvarchar](100) NOT NULL,
	[kUser] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nQuantity] [int] NULL,
	[fPrice] [decimal](25, 13) NOT NULL,
	[cProductId] [nvarchar](100) NULL,
	[nProductIdType] [tinyint] NULL,
	[nCondition] [tinyint] NULL,
	[dErstellt] [datetime] NULL,
	[dGesendet] [datetime] NULL,
	[nStatus] [tinyint] NULL,
	[cLetzterFehler] [nvarchar](max) NULL,
	[nPlattform] [int] NOT NULL,
	[cConditionNote] [nvarchar](2000) NULL,
	[kAmazonVersandgruppe] [int] NOT NULL,
	[nBearbeitungszeit] [int] NULL,
	[nMaxBestand] [int] NULL,
	[kArtikel] [int] NULL,
	[nFulfillmentChannel] [tinyint] NULL,
	[nGpsrRequiredType] [tinyint] NOT NULL,
	[nGpsrResponsibleType] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_angebot_neu] PRIMARY KEY CLUSTERED 
(
	[cSellerSKU] ASC,
	[kUser] ASC,
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_neu] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_neu_fPrice]  DEFAULT ((0.0)) FOR [fPrice]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_neu] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_neu_kAmazonVersandgruppe]  DEFAULT ((0)) FOR [kAmazonVersandgruppe]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_neu] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_neu_nGpsrRequiredType]  DEFAULT ((2)) FOR [nGpsrRequiredType]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_neu] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_neu_nGpsrResponsibleType]  DEFAULT ((0)) FOR [nGpsrResponsibleType]
GO
