USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_KassenKonfiguration]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_KassenKonfiguration](
	[kKassenkonfiguration] [int] IDENTITY(1,1) NOT NULL,
	[kKasse] [int] NOT NULL,
	[cData] [image] NULL,
 CONSTRAINT [PK_POS_KassenKonfiguration] PRIMARY KEY CLUSTERED 
(
	[kKassenkonfiguration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
