USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPicVersand]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPicVersand](
	[kArtikelBild] [int] NULL,
	[kKategoriePict] [int] NULL,
	[kEigenschaftWertPict] [int] NULL,
	[kEA] [int] NULL,
	[kShop] [int] NULL,
	[dMod] [nvarchar](20) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
