USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRMStatusVerlauf]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRMStatusVerlauf](
	[kRMStatusVerlauf] [int] IDENTITY(1,1) NOT NULL,
	[kRMRetourePos] [int] NOT NULL,
	[kRMStatus] [int] NOT NULL,
	[cKommentar] [nvarchar](255) NULL,
	[kBenutzer] [int] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRMStatusVerlauf] PRIMARY KEY CLUSTERED 
(
	[kRMStatusVerlauf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
