USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_group]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_group](
	[kGroup] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](max) NOT NULL,
	[kPlattform] [int] NOT NULL,
	[nAktiv] [tinyint] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_group] PRIMARY KEY CLUSTERED 
(
	[kGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_group] ADD  CONSTRAINT [DF_dbo_pf_amazon_group_nAktiv]  DEFAULT ((1)) FOR [nAktiv]
GO
