USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUsageStatisticsActive]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUsageStatisticsActive](
	[kUsageStatisticsActive] [int] IDENTITY(1,1) NOT NULL,
	[nActive] [bit] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dTimeStamp] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tUsageStatisticsActive] PRIMARY KEY CLUSTERED 
(
	[kUsageStatisticsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
