USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tText]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tText](
	[kText] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cText] [nvarchar](max) NULL,
	[nFontSize] [tinyint] NULL,
	[cFontName] [nvarchar](50) NULL,
	[cType] [char](1) NULL,
	[cAktiv] [char](1) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tText] PRIMARY KEY CLUSTERED 
(
	[kText] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
