USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_BonRueckgabe]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_BonRueckgabe](
	[kBonRueckgabe] [bigint] IDENTITY(1,1) NOT NULL,
	[kBon] [bigint] NULL,
	[dDatum] [datetime] NULL,
	[fGesamtMenge] [real] NULL,
	[fGesamtSumme] [real] NULL,
	[nRueckgabeAktion] [bigint] NULL,
	[kKunde] [bigint] NULL,
	[kBenutzer] [bigint] NULL,
	[kKasse] [bigint] NULL,
	[cData] [image] NULL,
	[cBonRueckgabeNr] [varchar](100) NULL,
 CONSTRAINT [PK_POS_BonRueckgabe] PRIMARY KEY CLUSTERED 
(
	[kBonRueckgabe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
