USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelMerkmal]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelMerkmal](
	[kMerkmal] [int] NULL,
	[kMerkmalWert] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelMerkmal] PRIMARY KEY CLUSTERED 
(
	[kMerkmalWert] ASC,
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelMerkmal]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikelMerkmal_kArtikel] CHECK  (([kArtikel]>(0)))
GO
ALTER TABLE [dbo].[tArtikelMerkmal] CHECK CONSTRAINT [CK_dbo_tArtikelMerkmal_kArtikel]
GO
