USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRestApiRegistrationRequestScope]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRestApiRegistrationRequestScope](
	[kRestApiRegistrationRequestScope] [int] IDENTITY(1,1) NOT NULL,
	[kRestApiRegistrationRequest] [int] NULL,
	[cScope] [nvarchar](255) NULL,
	[dCreated] [datetimeoffset](7) NULL,
	[kBenutzerCreated] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRestApiRegistrationRequestScope] PRIMARY KEY CLUSTERED 
(
	[kRestApiRegistrationRequestScope] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRestApiRegistrationRequestScope]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tRestApiRegistrationRequestScope_kRestApiRegistrationRequest] FOREIGN KEY([kRestApiRegistrationRequest])
REFERENCES [dbo].[tRestApiRegistrationRequest] ([kRestApiRegistrationRequest])
GO
ALTER TABLE [dbo].[tRestApiRegistrationRequestScope] CHECK CONSTRAINT [FK_dbo_tRestApiRegistrationRequestScope_kRestApiRegistrationRequest]
GO
