USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_attributSetArray]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_attributSetArray](
	[kItem] [int] NOT NULL,
	[AttributeSetId] [int] NOT NULL,
	[AttributeId] [int] NOT NULL,
	[ValueId] [int] NULL,
	[ValueLiteral] [nvarchar](255) NULL,
	[kCategoryID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_attributSetArray] ADD  CONSTRAINT [DF_dbo_ebay_attributSetArray_ValueLiteral]  DEFAULT ('') FOR [ValueLiteral]
GO
