USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerOptionen]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerOptionen](
	[kWarenLagerOptionen] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLager] [int] NOT NULL,
	[nEinlagerwagenVerwenden] [tinyint] NULL,
	[nWEDirektBuchenAktiv] [int] NULL,
	[kWarenLagerPlatzEingang] [int] NULL,
	[nUseScannerImWE] [tinyint] NULL,
	[kWarenlagerPlatzBoxen] [int] NULL,
	[nWADirektAusWE] [int] NULL,
	[nWADirektAusWE1Artikel] [int] NULL,
	[nRollendeKommissionierung] [int] NULL,
	[nEazyShipping] [int] NULL,
	[nUeberlieferung] [int] NULL,
	[nUeberlieferungNachfragen] [int] NULL,
	[nScanInMehrereArtikel] [tinyint] NULL,
	[nVersandboxenProzess] [tinyint] NULL,
	[nVersandboxenProzessmitRoKo] [tinyint] NULL,
	[nChargen] [tinyint] NULL,
	[nMHD] [tinyint] NULL,
	[nWADirektAusWEAuchLeereBoxenBelegen] [tinyint] NULL,
	[nWENeuenArtikelAnlegen] [tinyint] NULL,
	[kKategorieNeuerArtikel] [int] NULL,
	[nWEOffeneBestellungsmengenZeigen] [tinyint] NULL,
	[nVerpackenMehrMengeErlaubt] [tinyint] NULL,
	[nWADirektAusWEAuchLeereBoxenBelegenZulauf] [tinyint] NULL,
	[nLagerKleinerNullImWESetzen] [tinyint] NULL,
	[nVerpackenBestellhinweis] [tinyint] NULL,
	[nVerpackenAnmerkung] [tinyint] NULL,
	[kWarenlagerPlatzInBearbeitung] [int] NULL,
	[nAbgelaufenesMHDNichtEinbuchen] [tinyint] NOT NULL,
	[nPackHinweisVorVerpacken] [tinyint] NOT NULL,
	[nGanzeBestellungVerpackenInEazyShip] [tinyint] NOT NULL,
	[nMengeBestaetigen] [tinyint] NOT NULL,
	[nWADirektAusWEAuchLeereBoxenBelegenFreiProzent] [tinyint] NULL,
	[nWEMengeInArtField] [tinyint] NULL,
	[nBesondereWEPlaetze] [tinyint] NULL,
	[nNumPad] [tinyint] NOT NULL,
	[nPickenOhneScan] [tinyint] NOT NULL,
	[nKeineLiefNachfrage] [tinyint] NOT NULL,
	[nWAVersandartScan] [tinyint] NOT NULL,
	[nEazyShippingArtikelDetails] [tinyint] NOT NULL,
	[nEazyShippingKeinenRechnungOhneDruck] [tinyint] NOT NULL,
	[nEazyShippingKeineRechnungBeiNullEuro] [tinyint] NOT NULL,
	[nKommentarPflichtKorrekturbuchung] [tinyint] NOT NULL,
	[nArtikelAttributeBeachten] [tinyint] NULL,
	[nBoxenDirektTauschen] [tinyint] NULL,
	[nEazyShippingArtikelButtons] [tinyint] NOT NULL,
	[nEazyShippingFreiposButtons] [tinyint] NOT NULL,
	[nVersandBoxenScan] [tinyint] NULL,
	[nVersandBoxenButtons] [tinyint] NULL,
	[nVersandBoxenFreiPosButtons] [tinyint] NULL,
	[nBoxenFuellenBestaetigen] [tinyint] NULL,
	[nAutoAbmelden] [int] NULL,
	[nEazyShippingSplittAuftrag] [int] NULL,
	[nWEAufVorgabeplatz] [tinyint] NULL,
	[nArtikelAnmerkungenPackhinweis] [tinyint] NULL,
	[nPacktischMHDChargeNichtScannen] [tinyint] NULL,
	[nMobilerPacktischKeinenRechnungOhneDruck] [tinyint] NOT NULL,
	[nMobilerPacktischKeineRechnungBeiNullEuro] [tinyint] NOT NULL,
	[nGanzeBestellungVerpackenNurPickInEazyShip] [tinyint] NOT NULL,
	[nMobilerPacktischMengeBestaetigen] [tinyint] NOT NULL,
	[nAllePackHinweiseAlsPopUp] [tinyint] NOT NULL,
	[kWarenLagerPlatzRetoure] [int] NULL,
	[nRetourenPlatzManuellWaehlen] [int] NULL,
	[nWEFremdeWarenlagerAnzeigen] [tinyint] NOT NULL,
	[nArtikelBezeichnungAusArtikel] [tinyint] NOT NULL,
	[nWEInLeereBoxenNurBeiVorkomm] [tinyint] NOT NULL,
	[nWAVerpackteArtikelNachUnten] [tinyint] NOT NULL,
	[nBoxenDruckAusAuftragsVorlage] [int] NULL,
	[nRetoureAufVorgabeplatz] [bit] NULL,
	[nWAHintDisappearAfterXSeconds] [tinyint] NOT NULL,
	[nWePlatzSortierung] [tinyint] NOT NULL,
	[nMobilerPacktischGebindeScanForArtikel] [tinyint] NOT NULL,
	[nFreierWeLieferantenArtikelAutoZuordnung] [tinyint] NOT NULL,
	[nFreierWeEKUnbekanntHandling] [tinyint] NOT NULL,
	[nWESortArtikelByEinbuchdatum] [tinyint] NOT NULL,
	[nBoxenSplittAuftrag] [tinyint] NOT NULL,
	[nBoxenKeinenRechnungOhneDruck] [tinyint] NOT NULL,
	[nBoxenKeineRechnungBeiNullEuro] [tinyint] NOT NULL,
	[nKommentarPflichtInventur] [tinyint] NOT NULL,
	[nKommentarPflichtArtikelZustandAendern] [tinyint] NOT NULL,
	[nNachschubNurBezahlteAuftraege] [tinyint] NOT NULL,
	[nMobilerPacktisch] [tinyint] NOT NULL,
	[nKundeEigenesFeld] [int] NOT NULL,
	[nWADirektWE1ArtikelMengenCheck] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nFirstMobileAppPicklistenVorlageVerwenden] [tinyint] NOT NULL,
	[nMassenauslieferung] [tinyint] NOT NULL,
	[nMassenauslieferungPicklisteDrucken] [tinyint] NOT NULL,
	[nMassenauslieferungMinGleicheAuftraege] [int] NOT NULL,
	[nSelectPlatzByTouch] [int] NOT NULL,
	[nCreateInventurMobile] [tinyint] NOT NULL,
	[nCreateInventurMobile_Platz] [int] NOT NULL,
	[nCreateInventurMobile_Period] [int] NOT NULL,
	[nCreateInventurMobile_Interval] [int] NOT NULL,
	[nCreateInventurMobile_NumberOfPlatzManuel] [tinyint] NOT NULL,
	[nCreateInventurMobile_NumberOfPlatzDefault] [int] NOT NULL,
	[kWarenLagerPlatzEingangDefaultMobile] [int] NOT NULL,
	[nPoolRoKo] [tinyint] NOT NULL,
	[nTeilrechnungEazyshipping] [tinyint] NOT NULL,
	[nTeilrechnungBoxen] [tinyint] NOT NULL,
	[nTeilrechnungMoPa] [tinyint] NOT NULL,
	[nWareingangBestellungAnzeigen] [tinyint] NOT NULL,
	[nWareneingangOhneScan] [tinyint] NOT NULL,
	[nNachschubOhneScan] [tinyint] NOT NULL,
	[nLagerplatzBestaetigen] [tinyint] NOT NULL,
	[nTeilmengen] [bit] NOT NULL,
	[nTeillieferbarUmlagern] [tinyint] NOT NULL,
	[nIdentischeAuftraegeMitTeillieferung] [tinyint] NOT NULL,
	[nWEHinweisArtikelAnmerkung] [tinyint] NOT NULL,
	[nWEHinweisArtikelEigenesFeld] [int] NOT NULL,
	[nPickHinweisArtikelAnmerkung] [tinyint] NOT NULL,
	[nPickHinweisArtikelEigenesFeld] [int] NOT NULL,
	[nVersandHinweisConfirmEnabled] [tinyint] NOT NULL,
	[nKartonagenabfrageVerpflichtend] [tinyint] NOT NULL,
	[nMHDChargeAnywhere] [tinyint] NOT NULL,
	[nMixMhdChargen] [tinyint] NOT NULL,
	[nMhdChargenOnDifferendPlatzen] [bit] NOT NULL,
	[nMobileInventurOhneVorladen] [tinyint] NOT NULL,
	[nPartialPickEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenLagerOptionen] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerOptionen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tWarenLagerOptionen_kWarenLager] UNIQUE NONCLUSTERED 
(
	[kWarenLager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nEinlagerwagenVerwenden]  DEFAULT ((0)) FOR [nEinlagerwagenVerwenden]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWEDirektBuchenAktiv]  DEFAULT ((0)) FOR [nWEDirektBuchenAktiv]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nAbgelaufenesMHDNichtEinbuchen]  DEFAULT ((0)) FOR [nAbgelaufenesMHDNichtEinbuchen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nPackHinweisVorVerpacken]  DEFAULT ((1)) FOR [nPackHinweisVorVerpacken]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nGanzeBestellungVerpackenInEazyShip]  DEFAULT ((0)) FOR [nGanzeBestellungVerpackenInEazyShip]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMengeBestaetigen]  DEFAULT ((0)) FOR [nMengeBestaetigen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWEMengeInArtField]  DEFAULT ((0)) FOR [nWEMengeInArtField]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nNumPad]  DEFAULT ((0)) FOR [nNumPad]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nPickenOhneScan]  DEFAULT ((0)) FOR [nPickenOhneScan]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nKeineLiefNachfrage]  DEFAULT ((0)) FOR [nKeineLiefNachfrage]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWAVersandartScan]  DEFAULT ((0)) FOR [nWAVersandartScan]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nEazyShippingArtikelDetails]  DEFAULT ((0)) FOR [nEazyShippingArtikelDetails]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nEazyShippingKeinenRechnungOhneDruck]  DEFAULT ((0)) FOR [nEazyShippingKeinenRechnungOhneDruck]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nEazyShippingKeineRechnungBeiNullEuro]  DEFAULT ((0)) FOR [nEazyShippingKeineRechnungBeiNullEuro]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nKommentarPflichtKorrekturbuchung]  DEFAULT ((0)) FOR [nKommentarPflichtKorrekturbuchung]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nArtikelAttributeBeachten]  DEFAULT ((0)) FOR [nArtikelAttributeBeachten]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nBoxenDirektTauschen]  DEFAULT ((0)) FOR [nBoxenDirektTauschen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nEazyShippingArtikelButtons]  DEFAULT ((0)) FOR [nEazyShippingArtikelButtons]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nEazyShippingFreiposButtons]  DEFAULT ((0)) FOR [nEazyShippingFreiposButtons]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nVersandBoxenScan]  DEFAULT ((0)) FOR [nVersandBoxenScan]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nVersandBoxenButtons]  DEFAULT ((0)) FOR [nVersandBoxenButtons]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nVersandBoxenFreiPosButtons]  DEFAULT ((0)) FOR [nVersandBoxenFreiPosButtons]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nBoxenFuellenBestaetigen]  DEFAULT ((0)) FOR [nBoxenFuellenBestaetigen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nPacktischMHDChargeNichtScannen]  DEFAULT ((0)) FOR [nPacktischMHDChargeNichtScannen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMobilerPacktischKeinenRechnungOhneDruck]  DEFAULT ((0)) FOR [nMobilerPacktischKeinenRechnungOhneDruck]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMobilerPacktischKeineRechnungBeiNullEuro]  DEFAULT ((0)) FOR [nMobilerPacktischKeineRechnungBeiNullEuro]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nGanzeBestellungVerpackenNurPickInEazyShip]  DEFAULT ((0)) FOR [nGanzeBestellungVerpackenNurPickInEazyShip]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMobilerPacktischMengeBestaetigen]  DEFAULT ((0)) FOR [nMobilerPacktischMengeBestaetigen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nAllePackHinweiseAlsPopUp]  DEFAULT ((0)) FOR [nAllePackHinweiseAlsPopUp]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWEFremdeWarenlagerAnzeigen]  DEFAULT ((0)) FOR [nWEFremdeWarenlagerAnzeigen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nArtikelBezeichnungAusArtikel]  DEFAULT ((0)) FOR [nArtikelBezeichnungAusArtikel]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWEInLeereBoxenNurBeiVorkomm]  DEFAULT ((0)) FOR [nWEInLeereBoxenNurBeiVorkomm]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWAVerpackteArtikelNachUnten]  DEFAULT ((0)) FOR [nWAVerpackteArtikelNachUnten]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nBoxenDruckAusAuftragsVorlage]  DEFAULT ((0)) FOR [nBoxenDruckAusAuftragsVorlage]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nRetoureAufVorgabeplatz]  DEFAULT ((0)) FOR [nRetoureAufVorgabeplatz]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWAHintDisappearAfterXSeconds]  DEFAULT ((0)) FOR [nWAHintDisappearAfterXSeconds]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWePlatzSortierung]  DEFAULT ((0)) FOR [nWePlatzSortierung]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMobilerPacktischGebindeScanForArtikel]  DEFAULT ((0)) FOR [nMobilerPacktischGebindeScanForArtikel]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nFreierWeLieferantenArtikelAutoZuordnung]  DEFAULT ((0)) FOR [nFreierWeLieferantenArtikelAutoZuordnung]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nFreierWeEKUnbekanntHandling]  DEFAULT ((0)) FOR [nFreierWeEKUnbekanntHandling]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWESortArtikelByEinbuchdatum]  DEFAULT ((0)) FOR [nWESortArtikelByEinbuchdatum]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nBoxenSplittAuftrag]  DEFAULT ((0)) FOR [nBoxenSplittAuftrag]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nBoxenKeinenRechnungOhneDruck]  DEFAULT ((0)) FOR [nBoxenKeinenRechnungOhneDruck]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nBoxenKeineRechnungBeiNullEuro]  DEFAULT ((0)) FOR [nBoxenKeineRechnungBeiNullEuro]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nKommentarPflichtInventur]  DEFAULT ((0)) FOR [nKommentarPflichtInventur]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nKommentarPflichtArtikelZustandAendern]  DEFAULT ((0)) FOR [nKommentarPflichtArtikelZustandAendern]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nNachschubNurBezahlteAuftraege]  DEFAULT ((0)) FOR [nNachschubNurBezahlteAuftraege]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMobilerPacktisch]  DEFAULT ((0)) FOR [nMobilerPacktisch]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nKundeEigenesFeld]  DEFAULT ((0)) FOR [nKundeEigenesFeld]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWADirektWE1ArtikelMengenCheck]  DEFAULT ((0)) FOR [nWADirektWE1ArtikelMengenCheck]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nFirstMobileAppPicklistenVorlageVerwenden]  DEFAULT ((1)) FOR [nFirstMobileAppPicklistenVorlageVerwenden]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMassenauslieferung]  DEFAULT ((0)) FOR [nMassenauslieferung]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMassenauslieferungPicklisteDrucken]  DEFAULT ((0)) FOR [nMassenauslieferungPicklisteDrucken]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMassenauslieferungMinGleicheAuftraege]  DEFAULT ((2)) FOR [nMassenauslieferungMinGleicheAuftraege]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nSelectPlatzByTouch]  DEFAULT ((0)) FOR [nSelectPlatzByTouch]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nCreateInventurMobile]  DEFAULT ((0)) FOR [nCreateInventurMobile]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nCreateInventurMobile_Platz]  DEFAULT ((0)) FOR [nCreateInventurMobile_Platz]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nCreateInventurMobile_Period]  DEFAULT ((3)) FOR [nCreateInventurMobile_Period]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nCreateInventurMobile_Interval]  DEFAULT ((12)) FOR [nCreateInventurMobile_Interval]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nCreateInventurMobile_NumberOfPlatzManuel]  DEFAULT ((1)) FOR [nCreateInventurMobile_NumberOfPlatzManuel]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nCreateInventurMobile_NumberOfPlatzDefault]  DEFAULT ((5)) FOR [nCreateInventurMobile_NumberOfPlatzDefault]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_kWarenLagerPlatzEingangDefaultMobile]  DEFAULT ((0)) FOR [kWarenLagerPlatzEingangDefaultMobile]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nPoolRoKo]  DEFAULT ((0)) FOR [nPoolRoKo]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nTeilrechnungEazyshipping]  DEFAULT ((0)) FOR [nTeilrechnungEazyshipping]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nTeilrechnungBoxen]  DEFAULT ((0)) FOR [nTeilrechnungBoxen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nTeilrechnungMoPa]  DEFAULT ((0)) FOR [nTeilrechnungMoPa]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerOptionen_nWareingangBestellungAnzeigen]  DEFAULT ((0)) FOR [nWareingangBestellungAnzeigen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerOptionen_nWareneingangOhneScan]  DEFAULT ((0)) FOR [nWareneingangOhneScan]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nNachschubOhneScan]  DEFAULT ((0)) FOR [nNachschubOhneScan]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nLagerplatzBestaetigen]  DEFAULT ((0)) FOR [nLagerplatzBestaetigen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerOptionen_nTeilmengen]  DEFAULT ((0)) FOR [nTeilmengen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nTeillieferbarUmlagern]  DEFAULT ((0)) FOR [nTeillieferbarUmlagern]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nIdentischeAuftraegeMitTeillieferung]  DEFAULT ((0)) FOR [nIdentischeAuftraegeMitTeillieferung]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWEHinweisArtikelAnmerkung]  DEFAULT ((0)) FOR [nWEHinweisArtikelAnmerkung]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nWEHinweisArtikelEigenesFeld]  DEFAULT ((0)) FOR [nWEHinweisArtikelEigenesFeld]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerOptionen_nPickHinweisArtikelAnmerkung]  DEFAULT ((0)) FOR [nPickHinweisArtikelAnmerkung]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerOptionen_nPickHinweisArtikelEigenesFeld]  DEFAULT ((0)) FOR [nPickHinweisArtikelEigenesFeld]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerOptionen_nVersandHinweisConfirmEnabled]  DEFAULT ((0)) FOR [nVersandHinweisConfirmEnabled]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nKartonagenabfrageVerpflichtend]  DEFAULT ((0)) FOR [nKartonagenabfrageVerpflichtend]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenlagerOptionen_nMHDChargeAnywhere]  DEFAULT ((0)) FOR [nMHDChargeAnywhere]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMixMhdChargen]  DEFAULT ((1)) FOR [nMixMhdChargen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMhdChargenOnDifferendPlatzen]  DEFAULT ((0)) FOR [nMhdChargenOnDifferendPlatzen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nMobileInventurOhneVorladen]  DEFAULT ((0)) FOR [nMobileInventurOhneVorladen]
GO
ALTER TABLE [dbo].[tWarenLagerOptionen] ADD  CONSTRAINT [DF_dbo_tWarenLagerOptionen_nPartialPickEnabled]  DEFAULT ((0)) FOR [nPartialPickEnabled]
GO
