USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tGlobalsQueue]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGlobalsQueue](
	[kShop] [int] NULL,
	[nType] [tinyint] NULL,
	[cName] [nvarchar](64) NULL,
	[kKey] [int] NULL,
	[cText] [nvarchar](max) NULL,
	[dTimeStamp] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
