USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tShopUeberverkaeufeMoeglich]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShopUeberverkaeufeMoeglich](
	[kShopUeberverkaeufeMoeglich] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nPlattform] [int] NOT NULL,
	[kShop] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tShopUeberverkaeufeMoeglich] PRIMARY KEY CLUSTERED 
(
	[kShopUeberverkaeufeMoeglich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tShopUeberverkaeufeMoeglich_kArtikel_kShop_nPlattform] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kShop] ASC,
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tShopUeberverkaeufeMoeglich]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopUeberverkaeufeMoeglich_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tShopUeberverkaeufeMoeglich] CHECK CONSTRAINT [FK_dbo_tShopUeberverkaeufeMoeglich_kArtikel]
GO
ALTER TABLE [dbo].[tShopUeberverkaeufeMoeglich]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopUeberverkaeufeMoeglich_kShop] FOREIGN KEY([kShop])
REFERENCES [dbo].[tShop] ([kShop])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tShopUeberverkaeufeMoeglich] CHECK CONSTRAINT [FK_dbo_tShopUeberverkaeufeMoeglich_kShop]
GO
ALTER TABLE [dbo].[tShopUeberverkaeufeMoeglich]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopUeberverkaeufeMoeglich_nPlattform] FOREIGN KEY([nPlattform])
REFERENCES [dbo].[tPlattform] ([nPlattform])
GO
ALTER TABLE [dbo].[tShopUeberverkaeufeMoeglich] CHECK CONSTRAINT [FK_dbo_tShopUeberverkaeufeMoeglich_nPlattform]
GO
