USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBundesland]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBundesland](
	[cISOLand] [nvarchar](5) NOT NULL,
	[cBundesland] [nvarchar](255) NOT NULL,
	[cKuerzelBundesland] [nvarchar](5) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tBundesland] PRIMARY KEY CLUSTERED 
(
	[cISOLand] ASC,
	[cBundesland] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
