USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_BonStorno]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_BonStorno](
	[kBonStorno] [bigint] IDENTITY(1,1) NOT NULL,
	[kBon] [bigint] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dDatum] [datetime] NULL,
 CONSTRAINT [PK_POS_BonStorno] PRIMARY KEY CLUSTERED 
(
	[kBonStorno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
