USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_EinnahmeAusgabe]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_EinnahmeAusgabe](
	[kEinnahmeAusgabe] [int] IDENTITY(1,1) NOT NULL,
	[dDatum] [datetime] NULL,
	[kBenutzer] [int] NOT NULL,
	[kKasse] [int] NOT NULL,
	[fBetrag] [real] NOT NULL,
	[fMwSt] [real] NOT NULL,
	[fSteuerSatz] [real] NOT NULL,
	[nKonto] [int] NULL,
	[cText] [varchar](255) NULL,
	[cEinnahmeAusgabeNr] [varchar](100) NULL,
 CONSTRAINT [PK_POS_EinnahmeAusgabe] PRIMARY KEY CLUSTERED 
(
	[kEinnahmeAusgabe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
