USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_Mapping_AmazonVariationen]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_Mapping_AmazonVariationen](
	[kMapping_AmazonVariationen] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](max) NOT NULL,
	[cDisplayName_50] [nvarchar](max) NOT NULL,
	[cDisplayName_51] [nvarchar](max) NULL,
	[cDisplayName_52] [nvarchar](max) NULL,
	[cDisplayName_53] [nvarchar](max) NULL,
	[cDisplayName_54] [nvarchar](max) NULL,
	[cDisplayName_55] [nvarchar](max) NULL,
	[cDisplayName_56] [nvarchar](max) NULL,
	[cDisplayName_57] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_Mapping_AmazonVariationen] PRIMARY KEY CLUSTERED 
(
	[kMapping_AmazonVariationen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
