USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_combobox_image]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_combobox_image](
	[kImage] [int] IDENTITY(1,1) NOT NULL,
	[cEnumToString] [nvarchar](50) NOT NULL,
	[cPK] [nvarchar](50) NOT NULL,
	[oImage] [image] NULL,
	[cText] [nvarchar](30) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_combobox_image] PRIMARY KEY CLUSTERED 
(
	[kImage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
