USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_xx_zahlungsmethoden]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_xx_zahlungsmethoden](
	[SiteID] [int] NOT NULL,
	[PaymentOption] [nvarchar](255) NOT NULL,
	[DisplayText] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo_ebay_xx_zahlungsmethoden] PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC,
	[PaymentOption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
