USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tSprachen]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tSprachen](
	[kSprache] [int] NOT NULL,
	[cNameEng] [nvarchar](255) NULL,
	[cNameDeu] [nvarchar](255) NULL,
	[cISO] [nvarchar](10) NULL,
	[cKultur] [nchar](20) NULL,
	[cISO2] [char](2) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tSprachen] PRIMARY KEY CLUSTERED 
(
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tSprachen_cISO] UNIQUE NONCLUSTERED 
(
	[cISO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tSprachen_cISO2] UNIQUE NONCLUSTERED 
(
	[cISO2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tSprachen] ADD  CONSTRAINT [DF_dbo_tSprachen_cISO2]  DEFAULT ('') FOR [cISO2]
GO
ALTER TABLE [dbo].[tSprachen]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tSprachen_cKultur] CHECK  (([cKultur]<>'NULL'))
GO
ALTER TABLE [dbo].[tSprachen] CHECK CONSTRAINT [CK_dbo_tSprachen_cKultur]
GO
