USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPicklistePos]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPicklistePos](
	[kPicklistePos] [int] IDENTITY(1,1) NOT NULL,
	[kPickliste] [int] NOT NULL,
	[kWarenLager] [int] NULL,
	[kWarenLagerEingang] [int] NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[kBestellPos] [int] NULL,
	[kPicklistePosStatus] [int] NULL,
	[kArtikel] [int] NULL,
	[kWarenlagerPlatz] [int] NULL,
	[kPicklistePos_Ursprung] [int] NULL,
	[kLieferscheinPos] [int] NOT NULL,
	[kBestellung] [int] NOT NULL,
	[nPickPrio] [int] NOT NULL,
	[nStatus] [int] NULL,
	[kAnsprechpartner] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nVorreserviert] [tinyint] NULL,
 CONSTRAINT [PK_dbo_tPicklistePos] PRIMARY KEY CLUSTERED 
(
	[kPicklistePos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPicklistePos] ADD  CONSTRAINT [DF_dbo_tPicklistePos_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
ALTER TABLE [dbo].[tPicklistePos] ADD  CONSTRAINT [DF_dbo_tPicklistePos_kLieferscheinPos]  DEFAULT ((0)) FOR [kLieferscheinPos]
GO
ALTER TABLE [dbo].[tPicklistePos] ADD  CONSTRAINT [DF_dbo_tPicklistePos_kBestellung]  DEFAULT ((0)) FOR [kBestellung]
GO
ALTER TABLE [dbo].[tPicklistePos] ADD  CONSTRAINT [DF_dbo_tPicklistePos_nPickPrio]  DEFAULT ((0)) FOR [nPickPrio]
GO
ALTER TABLE [dbo].[tPicklistePos] ADD  CONSTRAINT [DF_dbo_tPicklistePos_nVorreserviert]  DEFAULT ((0)) FOR [nVorreserviert]
GO
ALTER TABLE [dbo].[tPicklistePos]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tPicklistePos_kBestellPos] CHECK  (([kbestellpos]>(0)))
GO
ALTER TABLE [dbo].[tPicklistePos] CHECK CONSTRAINT [CK_dbo_tPicklistePos_kBestellPos]
GO
