USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_userprofile]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_userprofile](
	[kUserProfile] [int] IDENTITY(1,1) NOT NULL,
	[kEbayuser] [int] NOT NULL,
	[SiteID] [int] NOT NULL,
	[ProfileType] [nvarchar](50) NULL,
	[ProfileID] [nvarchar](255) NULL,
	[ProfileName] [nvarchar](255) NULL,
	[ProfileDesc] [nvarchar](255) NULL,
	[CategoryName] [nvarchar](255) NULL,
	[nStandard] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_ebay_userprofile] PRIMARY KEY CLUSTERED 
(
	[kUserProfile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
