USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tgutschrift]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tgutschrift](
	[kGutschrift] [int] NOT NULL,
	[kRechnung] [int] NULL,
	[kKunde] [int] NULL,
	[cGutschriftNr] [nvarchar](50) NULL,
	[cKurzText] [nvarchar](255) NULL,
	[cText] [nvarchar](4000) NULL,
	[fPreis] [decimal](25, 13) NOT NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[dErstellt] [datetime] NULL,
	[cErloeskonto] [nvarchar](64) NULL,
	[nErweitert] [tinyint] NULL,
	[cWaehrung] [nvarchar](20) NULL,
	[fFaktor] [decimal](25, 13) NOT NULL,
	[kFirma] [int] NULL,
	[kSprache] [int] NULL,
	[kBenutzer] [int] NULL,
	[cStatus] [nvarchar](255) NULL,
	[kRechnungsAdresse] [int] NULL,
	[kPlattform] [int] NULL,
	[cVersandlandWaehrung] [nvarchar](20) NOT NULL,
	[fVersandlandWaehrungFaktor] [decimal](25, 13) NOT NULL,
	[dDruckdatum] [datetime] NULL,
	[dMaildatum] [datetime] NULL,
	[nIstExtern] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nStorno] [bit] NOT NULL,
	[nStornoTyp] [tinyint] NOT NULL,
	[cKundeUstId] [nvarchar](20) NULL,
	[nGutschriftStatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_tgutschrift] PRIMARY KEY CLUSTERED 
(
	[kGutschrift] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tgutschrift_fPreis]  DEFAULT ((0.0)) FOR [fPreis]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tgutschrift_fMwSt]  DEFAULT ((0.0)) FOR [fMwSt]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tgutschrift_nErweitert]  DEFAULT ((0)) FOR [nErweitert]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tgutschrift_fFaktor]  DEFAULT ((1)) FOR [fFaktor]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tgutschrift_cVersandlandWaehrung]  DEFAULT ('') FOR [cVersandlandWaehrung]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tgutschrift_fVersandlandWaehrungFaktor]  DEFAULT ((1)) FOR [fVersandlandWaehrungFaktor]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tgutschrift_nIstExtern]  DEFAULT ((0)) FOR [nIstExtern]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tGutschrift_nStorno]  DEFAULT ((0)) FOR [nStorno]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tgutschrift_nStornoTyp]  DEFAULT ((0)) FOR [nStornoTyp]
GO
ALTER TABLE [dbo].[tgutschrift] ADD  CONSTRAINT [DF_dbo_tgutschrift_nGutschriftStatus]  DEFAULT ((255)) FOR [nGutschriftStatus]
GO
ALTER TABLE [dbo].[tgutschrift]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tgutschrift_fFaktor] CHECK  (([fFaktor]>(0.0)))
GO
ALTER TABLE [dbo].[tgutschrift] CHECK CONSTRAINT [CK_dbo_tgutschrift_fFaktor]
GO
ALTER TABLE [dbo].[tgutschrift]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tgutschrift_fVersandlandWaehrungFaktor] CHECK  (([fVersandlandWaehrungFaktor]>(0.0)))
GO
ALTER TABLE [dbo].[tgutschrift] CHECK CONSTRAINT [CK_dbo_tgutschrift_fVersandlandWaehrungFaktor]
GO
