USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRMGrundSprache]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRMGrundSprache](
	[kRMGrund] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cName] [nvarchar](50) NOT NULL,
	[cBeschreibung] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRMGrundSprache] PRIMARY KEY CLUSTERED 
(
	[kRMGrund] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
