USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZAVorlage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZAVorlage](
	[kZAVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nZeilen] [int] NULL,
	[nTrenner] [tinyint] NULL,
	[nPosDatum] [tinyint] NULL,
	[nPosVorgang] [tinyint] NULL,
	[nPosVerwendung] [tinyint] NULL,
	[nPosVorname] [tinyint] NULL,
	[nPosName] [tinyint] NULL,
	[nPosUmsatz] [tinyint] NULL,
	[nSpalten] [int] NULL,
	[cZahlungsArt] [nvarchar](255) NULL,
	[nPosVerwendung2] [tinyint] NULL,
	[nPosVerwendung3] [tinyint] NULL,
	[nPosVerwendung4] [tinyint] NULL,
	[nPosVerwendung5] [tinyint] NULL,
	[nPosVerwendung6] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tZAVorlage] PRIMARY KEY CLUSTERED 
(
	[kZAVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
