USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikel]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikel](
	[kArtikel] [int] IDENTITY(1,1) NOT NULL,
	[cArtNr] [nvarchar](100) NOT NULL,
	[fVKNetto] [decimal](25, 13) NOT NULL,
	[fUVP] [decimal](25, 13) NOT NULL,
	[cAnmerkung] [nvarchar](max) NULL,
	[cPreisliste] [char](1) NOT NULL,
	[cAktiv] [char](1) NOT NULL,
	[nLagerbestand] [decimal](25, 13) NOT NULL,
	[nMindestbestellmaenge] [decimal](25, 13) NOT NULL,
	[cBarcode] [nvarchar](255) NULL,
	[cTopArtikel] [char](1) NULL,
	[cInet] [char](1) NOT NULL,
	[cDelInet] [char](1) NULL,
	[fGewicht] [decimal](25, 13) NOT NULL,
	[cNeu] [char](1) NOT NULL,
	[cLagerArtikel] [char](1) NULL,
	[cTeilbar] [char](1) NULL,
	[cLagerAktiv] [char](1) NOT NULL,
	[cLagerKleinerNull] [char](1) NOT NULL,
	[nMidestbestand] [decimal](25, 13) NOT NULL,
	[fEKNetto] [decimal](25, 13) NOT NULL,
	[fEbayPreis] [decimal](25, 13) NOT NULL,
	[cLagerVariation] [char](1) NOT NULL,
	[nDelete] [tinyint] NULL,
	[dMod] [datetime2](2) NULL,
	[fPackeinheit] [decimal](25, 13) NOT NULL,
	[nVPE] [tinyint] NULL,
	[fVPEWert] [decimal](25, 13) NOT NULL,
	[cSuchbegriffe] [nvarchar](255) NULL,
	[cTaric] [nvarchar](20) NULL,
	[cHerkunftsland] [nvarchar](64) NULL,
	[kSteuerklasse] [int] NOT NULL,
	[dErstelldatum] [datetime2](2) NULL,
	[dErscheinungsdatum] [datetime2](2) NULL,
	[nSort] [int] NULL,
	[kVersandklasse] [int] NULL,
	[fArtGewicht] [decimal](25, 13) NOT NULL,
	[cHAN] [nvarchar](255) NULL,
	[cSerie] [nvarchar](255) NULL,
	[cISBN] [nvarchar](255) NULL,
	[cUNNummer] [nvarchar](255) NULL,
	[cGefahrnr] [nvarchar](255) NULL,
	[cASIN] [nvarchar](255) NULL,
	[kEigenschaftKombi] [int] NOT NULL,
	[kVaterArtikel] [int] NOT NULL,
	[nIstVater] [tinyint] NOT NULL,
	[nIstMindestbestand] [tinyint] NULL,
	[fAbnahmeintervall] [decimal](25, 13) NOT NULL,
	[kStueckliste] [int] NOT NULL,
	[cUPC] [nvarchar](255) NULL,
	[kWarengruppe] [int] NOT NULL,
	[cEPID] [nvarchar](255) NULL,
	[nMHD] [tinyint] NOT NULL,
	[nCharge] [tinyint] NOT NULL,
	[nNichtBestellbar] [tinyint] NOT NULL,
	[fAmazonVK] [decimal](25, 13) NOT NULL,
	[nPufferTyp] [tinyint] NULL,
	[nPuffer] [int] NOT NULL,
	[nProzentualePreisStaffelAktiv] [tinyint] NOT NULL,
	[nSeriennummernVerfolgung] [tinyint] NOT NULL,
	[kHersteller] [int] NULL,
	[kLieferStatus] [int] NULL,
	[kMassEinheit] [int] NULL,
	[fMassMenge] [decimal](25, 13) NOT NULL,
	[kGrundPreisEinheit] [int] NULL,
	[fGrundpreisMenge] [decimal](25, 13) NOT NULL,
	[fBreite] [decimal](25, 13) NOT NULL,
	[fHoehe] [decimal](25, 13) NOT NULL,
	[fLaenge] [decimal](25, 13) NOT NULL,
	[kVPEEinheit] [int] NULL,
	[nLiefertageWennAusverkauft] [int] NULL,
	[kVerkaufsEinheit] [int] NULL,
	[dZulaufVerfuegbarAm] [datetime2](2) NULL,
	[nAutomatischeLiefertageberechnung] [tinyint] NULL,
	[nBearbeitungszeit] [int] NULL,
	[fLetzterEK] [decimal](25, 13) NOT NULL,
	[dLetzterEK] [datetime2](2) NULL,
	[kBenutzerLetzteAenderung] [int] NULL,
	[nZulaufVerfuegbarMenge] [decimal](25, 13) NOT NULL,
	[dNeuImSortiment] [datetime2](2) NULL,
	[nEbayAbgleich] [tinyint] NOT NULL,
	[kZustand] [int] NOT NULL,
	[cAmazonFNSKU] [nvarchar](50) NULL,
	[cJfsku] [nvarchar](50) NULL,
	[nSonderTyp] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nNichtRabattfaehig] [tinyint] NOT NULL,
	[cLabelNamen] [nvarchar](max) NULL,
	[kDefinition] [int] NULL,
	[nIstTeilmengenArtikel] [tinyint] NOT NULL,
	[nSeriennummernstatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikel] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tArtikel_cArtNr] UNIQUE NONCLUSTERED 
(
	[cArtNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fVKNetto]  DEFAULT ((0.0)) FOR [fVKNetto]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fUVP]  DEFAULT ((0.0)) FOR [fUVP]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cPreisliste]  DEFAULT ('N') FOR [cPreisliste]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cAktiv]  DEFAULT ('N') FOR [cAktiv]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nLagerbestand]  DEFAULT ((0.0)) FOR [nLagerbestand]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nMindestbestellmaenge]  DEFAULT ((0.0)) FOR [nMindestbestellmaenge]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cTopArtikel]  DEFAULT ('N') FOR [cTopArtikel]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cInet]  DEFAULT ('N') FOR [cInet]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fGewicht]  DEFAULT ((0.0)) FOR [fGewicht]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cNeu]  DEFAULT ('N') FOR [cNeu]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cLagerArtikel]  DEFAULT ('N') FOR [cLagerArtikel]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cTeilbar]  DEFAULT ('N') FOR [cTeilbar]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cLagerAktiv]  DEFAULT ('N') FOR [cLagerAktiv]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cLagerKleinerNull]  DEFAULT ('N') FOR [cLagerKleinerNull]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nMidestbestand]  DEFAULT ((0.0)) FOR [nMidestbestand]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fEKNetto]  DEFAULT ((0.0)) FOR [fEKNetto]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fEbayPreis]  DEFAULT ((0.0)) FOR [fEbayPreis]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cLagerVariation]  DEFAULT ('N') FOR [cLagerVariation]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nDelete]  DEFAULT ((0)) FOR [nDelete]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fPackeinheit]  DEFAULT ((0)) FOR [fPackeinheit]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fVPEWert]  DEFAULT ((0.0)) FOR [fVPEWert]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_kSteuerklasse]  DEFAULT ((0)) FOR [kSteuerklasse]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fArtGewicht]  DEFAULT ((0)) FOR [fArtGewicht]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cISBN]  DEFAULT ('') FOR [cISBN]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cUNNummer]  DEFAULT ('') FOR [cUNNummer]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cGefahrnr]  DEFAULT ('') FOR [cGefahrnr]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_cASIN]  DEFAULT ('') FOR [cASIN]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_kEigenschaftKombi]  DEFAULT ((0)) FOR [kEigenschaftKombi]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_kVaterArtikel]  DEFAULT ((0)) FOR [kVaterArtikel]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nIstVater]  DEFAULT ((0)) FOR [nIstVater]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fAbnahmeintervall]  DEFAULT ((0.0)) FOR [fAbnahmeintervall]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_kStueckliste]  DEFAULT ((0)) FOR [kStueckliste]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_kWarengruppe]  DEFAULT ((0)) FOR [kWarengruppe]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nMHD]  DEFAULT ((0)) FOR [nMHD]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nCharge]  DEFAULT ((0)) FOR [nCharge]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nNichtBestellbar]  DEFAULT ((0)) FOR [nNichtBestellbar]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fAmazonVK]  DEFAULT ((0.0)) FOR [fAmazonVK]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nProzentualePreisStaffelAktiv]  DEFAULT ((0)) FOR [nProzentualePreisStaffelAktiv]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nSeriennummernVerfolgung]  DEFAULT ((0)) FOR [nSeriennummernVerfolgung]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fMassMenge]  DEFAULT ((0.0)) FOR [fMassMenge]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fGrundpreisMenge]  DEFAULT ((0.0)) FOR [fGrundpreisMenge]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fBreite]  DEFAULT ((0.0)) FOR [fBreite]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fHoehe]  DEFAULT ((0.0)) FOR [fHoehe]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fLaenge]  DEFAULT ((0.0)) FOR [fLaenge]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nLiefertageWennAusverkauft]  DEFAULT ((0)) FOR [nLiefertageWennAusverkauft]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nAutomatischeLiefertageberechnung]  DEFAULT ((1)) FOR [nAutomatischeLiefertageberechnung]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_fLetzterEK]  DEFAULT ((0.0)) FOR [fLetzterEK]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nZulaufVerfuegbarMenge]  DEFAULT ((0.0)) FOR [nZulaufVerfuegbarMenge]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nEbayAbgleich]  DEFAULT ((0)) FOR [nEbayAbgleich]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_kZustand]  DEFAULT ((1)) FOR [kZustand]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nSonderTyp]  DEFAULT ((0)) FOR [nSonderTyp]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nNichtRabattfaehig]  DEFAULT ((0)) FOR [nNichtRabattfaehig]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nIstTeilmengenArtikel]  DEFAULT ((0)) FOR [nIstTeilmengenArtikel]
GO
ALTER TABLE [dbo].[tArtikel] ADD  CONSTRAINT [DF_dbo_tArtikel_nSeriennummernstatus]  DEFAULT ((0)) FOR [nSeriennummernstatus]
GO
ALTER TABLE [dbo].[tArtikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikel_cInet] CHECK  (([cInet]='N' OR [cInet]='Y'))
GO
ALTER TABLE [dbo].[tArtikel] CHECK CONSTRAINT [CK_dbo_tArtikel_cInet]
GO
ALTER TABLE [dbo].[tArtikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikel_cLagerAktiv] CHECK  (([cLagerAktiv]='N' OR [cLagerAktiv]='Y'))
GO
ALTER TABLE [dbo].[tArtikel] CHECK CONSTRAINT [CK_dbo_tArtikel_cLagerAktiv]
GO
ALTER TABLE [dbo].[tArtikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikel_cLagerArtikel] CHECK  (([cLagerArtikel]='N' OR [cLagerArtikel]='Y'))
GO
ALTER TABLE [dbo].[tArtikel] CHECK CONSTRAINT [CK_dbo_tArtikel_cLagerArtikel]
GO
ALTER TABLE [dbo].[tArtikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikel_cLagerKleinerNull] CHECK  (([cLagerKleinerNull]='N' OR [cLagerKleinerNull]='Y'))
GO
ALTER TABLE [dbo].[tArtikel] CHECK CONSTRAINT [CK_dbo_tArtikel_cLagerKleinerNull]
GO
ALTER TABLE [dbo].[tArtikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikel_cNeu] CHECK  (([cNeu]='N' OR [cNeu]='Y'))
GO
ALTER TABLE [dbo].[tArtikel] CHECK CONSTRAINT [CK_dbo_tArtikel_cNeu]
GO
ALTER TABLE [dbo].[tArtikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikel_cPreisliste] CHECK  (([cPreisliste]='N' OR [cPreisliste]='Y'))
GO
ALTER TABLE [dbo].[tArtikel] CHECK CONSTRAINT [CK_dbo_tArtikel_cPreisliste]
GO
ALTER TABLE [dbo].[tArtikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikel_cTeilbar] CHECK  (([cTeilbar]='N' OR [cTeilbar]='Y'))
GO
ALTER TABLE [dbo].[tArtikel] CHECK CONSTRAINT [CK_dbo_tArtikel_cTeilbar]
GO
ALTER TABLE [dbo].[tArtikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikel_cTopArtikel] CHECK  (([cTopArtikel]='N' OR [cTopArtikel]='Y'))
GO
ALTER TABLE [dbo].[tArtikel] CHECK CONSTRAINT [CK_dbo_tArtikel_cTopArtikel]
GO
ALTER TABLE [dbo].[tArtikel]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tArtikel_nIstTeilmengenArtikel_kDefinition] CHECK  (([nIstTeilmengenArtikel]=(1) AND [kDefinition] IS NOT NULL AND [kDefinition]>(0) OR [nIstTeilmengenArtikel]=(0) AND [kDefinition] IS NULL))
GO
ALTER TABLE [dbo].[tArtikel] CHECK CONSTRAINT [CK_dbo_tArtikel_nIstTeilmengenArtikel_kDefinition]
GO
