USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tGebinde]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGebinde](
	[kGebinde] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[cEAN] [nvarchar](255) NULL,
	[cUPC] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tGebinde] PRIMARY KEY CLUSTERED 
(
	[kGebinde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
