USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelZustand]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelZustand](
	[kArtikelZustand] [int] IDENTITY(1,1) NOT NULL,
	[kHauptartikel] [int] NOT NULL,
	[kZustandArtikel] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelZustand] PRIMARY KEY CLUSTERED 
(
	[kArtikelZustand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
