USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAdressExportVorlage]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAdressExportVorlage](
	[kAdressExportVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cBeschreibung] [nvarchar](255) NULL,
	[nStandard] [tinyint] NULL,
	[dErstellt] [nvarchar](24) NULL,
	[cTrennzeichen] [nvarchar](4) NULL,
	[cKomma] [nvarchar](2) NULL,
	[nKopfzeile] [tinyint] NULL,
	[cPfad] [nvarchar](512) NULL,
	[nZusatzzeile] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tAdressExportVorlage] PRIMARY KEY CLUSTERED 
(
	[kAdressExportVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tAdressExportVorlage] ADD  CONSTRAINT [DF_dbo_tAdressExportVorlage_cKomma]  DEFAULT ('.') FOR [cKomma]
GO
ALTER TABLE [dbo].[tAdressExportVorlage] ADD  CONSTRAINT [DF_dbo_tAdressExportVorlage_nKopfzeile]  DEFAULT ((0)) FOR [nKopfzeile]
GO
