USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferschein]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferschein](
	[kLieferschein] [int] IDENTITY(1,1) NOT NULL,
	[kBestellung] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cLieferscheinNr] [nvarchar](50) NULL,
	[cHinweis] [nvarchar](255) NULL,
	[dMailVersand] [datetime] NULL,
	[dErstellt] [datetime] NULL,
	[dGedruckt] [datetime] NULL,
	[nFulfillment] [int] NULL,
	[kLieferantenBestellung] [int] NULL,
	[kSessionId] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferschein] PRIMARY KEY CLUSTERED 
(
	[kLieferschein] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
