USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tUserSession]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tUserSession](
	[kUserSession] [int] IDENTITY(1,1) NOT NULL,
	[kOwnerUserSession] [int] NULL,
	[iUserSessionId] [uniqueidentifier] NOT NULL,
	[kBenutzer] [int] NULL,
	[kMandant] [int] NULL,
	[iApplicationId] [uniqueidentifier] NOT NULL,
	[cCustomIdentifier] [nvarchar](max) NULL,
	[cHostname] [nvarchar](255) NOT NULL,
	[nProcessId] [int] NOT NULL,
	[dLoggedIn] [datetimeoffset](7) NOT NULL,
	[dLastHeartbeat] [datetimeoffset](7) NOT NULL,
	[nIsSessionInterruptible] [bit] NOT NULL,
	[nSessionInterruptRequested] [bit] NOT NULL,
	[dSessionInterruptRequestTimestamp] [datetimeoffset](7) NULL,
	[cSessionInterruptHostname] [nvarchar](255) NULL,
	[kSessionInterruptBenutzer] [int] NULL,
	[iSessionInterruptMessage] [uniqueidentifier] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[dSessionInvalidated] [datetime2](7) NULL,
 CONSTRAINT [PK_dbo_tUserSession] PRIMARY KEY CLUSTERED 
(
	[kUserSession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tUserSession_iUserSessionId] UNIQUE NONCLUSTERED 
(
	[iUserSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tUserSession] ADD  CONSTRAINT [DF_dbo_tUserSession_iUserSessionId]  DEFAULT (newsequentialid()) FOR [iUserSessionId]
GO
ALTER TABLE [dbo].[tUserSession] ADD  CONSTRAINT [DF_dbo_tUserSession_nIsSessionInterruptible]  DEFAULT ((0)) FOR [nIsSessionInterruptible]
GO
ALTER TABLE [dbo].[tUserSession] ADD  CONSTRAINT [DF_dbo_tUserSession_nSessionInterruptRequested]  DEFAULT ((0)) FOR [nSessionInterruptRequested]
GO
ALTER TABLE [dbo].[tUserSession]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tUserSession_kOwnerUserSession] FOREIGN KEY([kOwnerUserSession])
REFERENCES [dbo].[tUserSession] ([kUserSession])
GO
ALTER TABLE [dbo].[tUserSession] CHECK CONSTRAINT [FK_dbo_tUserSession_kOwnerUserSession]
GO
