USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tkonfigshop]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkonfigshop](
	[kkonfiggruppe] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[cInet] [char](1) NULL,
	[cDelInet] [char](1) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tkonfigshop] PRIMARY KEY CLUSTERED 
(
	[kkonfiggruppe] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tkonfigshop]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tKonfigshop_kShop] FOREIGN KEY([kShop])
REFERENCES [dbo].[tShop] ([kShop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tkonfigshop] CHECK CONSTRAINT [FK_dbo_tKonfigshop_kShop]
GO
