USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWaehrungAlt]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWaehrungAlt](
	[kWaehrung] [int] NOT NULL,
	[dAktualisiert] [datetime] NULL,
	[fFaktorAlt] [decimal](25, 13) NOT NULL,
	[fFaktorNeu] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWaehrungAlt] ADD  CONSTRAINT [DF_dbo_tWaehrungAlt_fFaktorAlt]  DEFAULT ((0.0)) FOR [fFaktorAlt]
GO
ALTER TABLE [dbo].[tWaehrungAlt] ADD  CONSTRAINT [DF_dbo_tWaehrungAlt_fFaktorNeu]  DEFAULT ((0.0)) FOR [fFaktorNeu]
GO
