USE [eazybusiness]
GO
/****** Object:  View [dbo].[lvLieferschwellen]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[lvLieferschwellen]
AS
(
	SELECT
		*,
		CAST(CASE WHEN nAktuellPer > 50 THEN 'y' ELSE 'n' END AS VARCHAR) AS RowColor

	FROM (	SELECT	cISOLand AS Land,
			    CAST(ROUND(fLieferschwelle, 2) AS DECIMAL(9,2)) AS Lieferschwelle,
				vRechnung.kFirmaHistory AS Firma,
				CAST(ROUND(SUM(CASE WHEN DATEPART (YEAR,vRechnung.dErstellt) IN (YEAR (GETDATE ())-1) THEN tRechnungPositionEckdaten.fVKBruttoGesamt ELSE 0 END),2) AS DECIMAL(9,2)) AS nLetztesJahrEur,
			    CAST(ROUND(SUM(CASE WHEN DATEPART (YEAR,vRechnung.dErstellt) IN (YEAR (GETDATE ())) THEN tRechnungPositionEckdaten.fVKBruttoGesamt ELSE 0 END),2) AS DECIMAL(9,2)) AS nAktuellEur,
			    CAST(ROUND((100 / fLieferschwelle) * SUM(CASE WHEN DATEPART (YEAR,vRechnung.dErstellt) IN (YEAR (GETDATE ())) THEN tRechnungPositionEckdaten.fVKBruttoGesamt ELSE 0 END),2) AS DECIMAL(9,2)) AS nAktuellPer,
			    CAST(ROUND((100 / fLieferschwelle) * SUM(CASE WHEN DATEPART (YEAR,vRechnung.dErstellt) IN (YEAR (GETDATE ())-1) THEN tRechnungPositionEckdaten.fVKBruttoGesamt ELSE 0 END),2) AS DECIMAL(9,2)) AS nLetztesJahrPer
	    FROM Rechnung.vRechnung 
		JOIN Rechnung.vRechnungLieferadresse AS Lieferadresse ON Lieferadresse.kRechnung = vRechnung.kRechnung										
		JOIN tLandSteuersatz ON tLandSteuersatz.cISOLand = Lieferadresse.cISO
		JOIN Rechnung.vRechnungPosition ON vRechnungPosition.kRechnung = vRechnung.kRechnung		
		JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = vRechnungPosition.kRechnungPosition
		JOIN tfirma ON tfirma.kFirma = vRechnung.kFirmaHistory		
		WHERE tLandSteuersatz.fLieferschwelle IS NOT NULL
				AND  (DATEPART (YEAR,vRechnung.dErstellt) IN (YEAR (GETDATE ()),YEAR (GETDATE ())-1))
				AND tLandSteuersatz.cISOLand <> tfirma.cLandISO
				AND vRechnungPosition.fMwSt > 0	
		GROUP BY tLandSteuersatz.cISOLand,
				tLandSteuersatz.fLieferschwelle,
				vRechnung.kFirmaHistory
	) AS ttLieferschwellen
)
GO
