USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tShipperAccount]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShipperAccount](
	[kShipperAccount] [int] IDENTITY(1,1) NOT NULL,
	[kShipperAccountParent] [int] NULL,
	[cDisplayName] [nvarchar](255) NOT NULL,
	[cUserName] [nvarchar](255) NOT NULL,
	[cPassword] [nvarchar](1000) NOT NULL,
	[kShippingServiceProviderType] [tinyint] NOT NULL,
	[nAddressSourceType] [tinyint] NOT NULL,
	[kFirma] [int] NULL,
	[cSalutation] [nvarchar](30) NULL,
	[cTitle] [nvarchar](64) NULL,
	[cCompany] [nvarchar](128) NULL,
	[cCompanyAdd] [nvarchar](255) NULL,
	[cFirstname] [nvarchar](255) NULL,
	[cLastname] [nvarchar](255) NULL,
	[cStreetname] [nvarchar](255) NULL,
	[cStreetnumber] [nvarchar](20) NULL,
	[cAddressadd] [nvarchar](255) NULL,
	[cCountry] [nvarchar](255) NULL,
	[cCountryIso] [nvarchar](5) NULL,
	[cMobil] [nvarchar](30) NULL,
	[cMail] [nvarchar](255) NULL,
	[cZipCode] [nvarchar](25) NULL,
	[cCity] [nvarchar](255) NULL,
	[cBankName] [nvarchar](255) NULL,
	[cBankAccountOwner] [nvarchar](255) NULL,
	[cIban] [nvarchar](50) NULL,
	[cBic] [nvarchar](20) NULL,
	[cEkp] [nvarchar](20) NULL,
	[cInternationalEkp] [nvarchar](20) NULL,
	[cShipperNumber] [nvarchar](20) NULL,
	[cAccessLicenceNumber] [nvarchar](20) NULL,
	[cPhone] [nvarchar](30) NULL,
	[nAccountType] [tinyint] NOT NULL,
	[nTestAccount] [tinyint] NOT NULL,
	[fCodFee] [decimal](25, 13) NULL,
	[cRetourenEkp] [nvarchar](14) NULL,
	[cOrgUnitGuid] [nvarchar](128) NULL,
	[cGlsCustomerId] [nvarchar](25) NULL,
	[cGlsContactId] [nvarchar](25) NULL,
	[cMandatorId] [nvarchar](20) NULL,
	[cConsignerId] [nvarchar](20) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kOAuthToken] [int] NULL,
	[cShipperReference] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_tShipperAccount] PRIMARY KEY CLUSTERED 
(
	[kShipperAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tShipperAccount] ADD  CONSTRAINT [DF_dbo_tShipperAccount_nAccountType]  DEFAULT ((0)) FOR [nAccountType]
GO
ALTER TABLE [dbo].[tShipperAccount] ADD  CONSTRAINT [DF_dbo_tShipperAccount_nTestAccount]  DEFAULT ((0)) FOR [nTestAccount]
GO
