USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_xx_sites]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_xx_sites](
	[SiteID] [int] NOT NULL,
	[cAbbreviation] [nvarchar](20) NOT NULL,
	[cName] [nvarchar](50) NOT NULL,
	[cSiteCodeType] [nvarchar](50) NOT NULL,
	[cSprachISO] [nvarchar](20) NOT NULL,
	[cLandISO] [nvarchar](20) NOT NULL,
	[dLastUpdate] [datetime] NULL,
	[nVersion] [int] NOT NULL,
	[www] [nvarchar](20) NOT NULL,
	[kPlattform] [int] NOT NULL,
	[cWaehrungISO] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_dbo_ebay_xx_sites] PRIMARY KEY CLUSTERED 
(
	[SiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_xx_sites] ADD  CONSTRAINT [DF_dbo_ebay_xx_sites_www]  DEFAULT ('') FOR [www]
GO
ALTER TABLE [dbo].[ebay_xx_sites] ADD  CONSTRAINT [DF_dbo_ebay_xx_sites_kPlattform]  DEFAULT ((0)) FOR [kPlattform]
GO
ALTER TABLE [dbo].[ebay_xx_sites] ADD  CONSTRAINT [DF_dbo_ebay_xx_sites_cWaehrungISO]  DEFAULT ('') FOR [cWaehrungISO]
GO
