USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFeldTyp]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFeldTyp](
	[kFeldTyp] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](300) NOT NULL,
	[nDatenTyp] [tinyint] NOT NULL,
	[cRegEx] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFeldTyp] PRIMARY KEY CLUSTERED 
(
	[kFeldTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tFeldTyp] ADD  CONSTRAINT [DF_dbo_tFeldTyp_nDatenTyp]  DEFAULT ((0)) FOR [nDatenTyp]
GO
ALTER TABLE [dbo].[tFeldTyp]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tFeldTyp_nDatenTyp] CHECK  (([nDatenTyp]>=(0) AND [nDatenTyp]<=(3)))
GO
ALTER TABLE [dbo].[tFeldTyp] CHECK CONSTRAINT [CK_dbo_tFeldTyp_nDatenTyp]
GO
