USE [eazybusiness]
GO
/****** Object:  View [dbo].[vLagerbestandStuecklisteProLager]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vLagerbestandStuecklisteProLager] AS
SELECT
	dbo.tArtikel.kArtikel,
	dbo.tArtikel.cArtNr,
	Stuecklisten.kStueckliste,
	CASE 
		WHEN fLagerbestandDominant = 1000000000 AND fLagerbestandNichtDominant = 1000000000 THEN CAST(0 AS DECIMAL(25,13))
		WHEN fLagerbestandDominant = 1000000000 THEN CAST(fLagerbestandNichtDominant AS DECIMAL(25,13))
		WHEN fLagerbestandNichtDominant = 1000000000 THEN CAST(fLagerbestandDominant AS DECIMAL(25,13))
		ELSE CAST(fLagerbestandDominant AS DECIMAL(25,13))
	END AS fLagerbestand,
	CASE 
		WHEN fAuslieferungGesperrtDominant = 1000000000 AND fAuslieferungGesperrtNichtDominant = 1000000000 THEN CAST(0 AS DECIMAL(25,13))
		WHEN fAuslieferungGesperrtDominant = 1000000000 THEN CAST(fAuslieferungGesperrtNichtDominant AS DECIMAL(25,13))
		WHEN fAuslieferungGesperrtNichtDominant = 1000000000 THEN CAST(fAuslieferungGesperrtDominant AS DECIMAL(25,13))
		ELSE CAST(fAuslieferungGesperrtDominant AS DECIMAL(25,13))
	END AS fAuslieferungGesperrt,
	Stuecklisten.kWarenlager
FROM dbo.tArtikel
JOIN 
(
	SELECT 
		QueryToGroup.kStueckliste,
		MIN(QueryToGroup.fLagerbestandDominant) AS fLagerbestandDominant,
		MIN(QueryToGroup.fLagerbestandNichtDominant) AS fLagerbestandNichtDominant,
		MIN(QueryToGroup.fAuslieferungGesperrtDominant) AS fAuslieferungGesperrtDominant,
		MIN(QueryToGroup.fAuslieferungGesperrtNichtDominant) AS fAuslieferungGesperrtNichtDominant,
		QueryToGroup.kWarenlager
	FROM 
	(
		SELECT	tStueckliste.kStueckliste,
				CAST(1000000000 AS DECIMAL(25,13)) AS fLagerbestandDominant,
				CAST(1000000000 AS DECIMAL(25,13)) AS fLagerbestandNichtDominant,
				CAST(1000000000 AS DECIMAL(25,13)) AS fAuslieferungGesperrtDominant,
				CAST(1000000000 AS DECIMAL(25,13)) AS fAuslieferungGesperrtNichtDominant,
				tlagerbestandProLagerLagerartikel.kWarenlager
		FROM dbo.tStueckliste
		JOIN dbo.tArtikel ON tArtikel.kArtikel = tStueckliste.kArtikel
		JOIN dbo.tlagerbestandProLagerLagerartikel ON tlagerbestandProLagerLagerartikel.kArtikel = tArtikel.kArtikel
		WHERE cLagerAktiv = 'N'

		UNION

		SELECT	
			dbo.tStueckliste.kStueckliste,
			CASE WHEN tArtikel.cLagerKleinerNull = 'Y' THEN CAST(1000000000  AS DECIMAL(25,13))
				WHEN VaterArtikel.cTeilbar = 'Y' THEN CAST(tlagerbestandProLagerLagerartikel.fBestand / tStueckliste.fAnzahl AS DECIMAL(25,13))
				ELSE CAST(FLOOR(tlagerbestandProLagerLagerartikel.fBestand / tStueckliste.fAnzahl) AS DECIMAL(25,13))
			END AS fLagerbestandDominant,
			CASE WHEN VaterArtikel.cTeilbar = 'Y' THEN CAST(tlagerbestandProLagerLagerartikel.fBestand / tStueckliste.fAnzahl AS DECIMAL(25,13))
				ELSE CAST(FLOOR(tlagerbestandProLagerLagerartikel.fBestand / tStueckliste.fAnzahl) AS DECIMAL(25,13))
			END AS fLagerbestandNichtDominant,
			CASE WHEN tArtikel.cLagerKleinerNull = 'Y' THEN CAST(1000000000  AS DECIMAL(25,13))
				WHEN VaterArtikel.cTeilbar = 'Y' THEN CAST(tlagerbestandProLagerLagerartikel.fAuslieferungGesperrt / tStueckliste.fAnzahl AS DECIMAL(25,13))
				ELSE CAST(FLOOR(tlagerbestandProLagerLagerartikel.fAuslieferungGesperrt / tStueckliste.fAnzahl) AS DECIMAL(25,13))
			END AS fAuslieferungGesperrtDominant,
			CASE WHEN VaterArtikel.cTeilbar = 'Y' THEN CAST(tlagerbestandProLagerLagerartikel.fAuslieferungGesperrt / tStueckliste.fAnzahl AS DECIMAL(25,13))
				ELSE CAST(FLOOR(tlagerbestandProLagerLagerartikel.fAuslieferungGesperrt / tStueckliste.fAnzahl) AS DECIMAL(25,13))
			END AS fAuslieferungGesperrtNichtDominant,
			tlagerbestandProLagerLagerartikel.kWarenlager
		FROM dbo.tStueckliste
		JOIN dbo.tArtikel AS VaterArtikel ON VaterArtikel.kStueckliste = dbo.tStueckliste.kStueckliste
		JOIN dbo.tArtikel ON dbo.tArtikel.kArtikel = tStueckliste.kArtikel
		JOIN dbo.tlagerbestandProLagerLagerartikel ON tlagerbestandProLagerLagerartikel.kArtikel = tArtikel.kArtikel
		WHERE tArtikel.cLagerAktiv != 'N'
	) AS QueryToGroup
	GROUP BY QueryToGroup.kStueckliste, QueryToGroup.kWarenlager
) AS Stuecklisten ON Stuecklisten.kStueckliste = tArtikel.kStueckliste
GO
