USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLagerbestandBackup]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLagerbestandBackup](
	[kArtikel] [int] NOT NULL,
	[fLagerbestand] [decimal](25, 13) NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[cVersion] [nvarchar](8) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLagerbestandBackup] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
