USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tGutschriftPos]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGutschriftPos](
	[kGutschriftPos] [int] IDENTITY(1,1) NOT NULL,
	[tArtikel_kArtikel] [int] NOT NULL,
	[tGutschrift_kGutschrift] [int] NOT NULL,
	[fVKPreis] [decimal](25, 13) NOT NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[nAnzahl] [decimal](25, 13) NOT NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[cString] [nvarchar](255) NULL,
	[fVKNetto] [decimal](25, 13) NOT NULL,
	[cArtNr] [nvarchar](100) NULL,
	[nLager] [tinyint] NULL,
	[kBestellPos] [int] NULL,
	[kGutschriftStueckliste] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nSort] [int] NOT NULL,
	[kRechnungPosition] [int] NULL,
	[nAuftragsmengeReduzieren] [tinyint] NOT NULL,
	[nLiefermengeReduzieren] [tinyint] NOT NULL,
	[nSkontogegenbuchung] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_tGutschriftPos] PRIMARY KEY CLUSTERED 
(
	[kGutschriftPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_fVKPreis]  DEFAULT ((0.0)) FOR [fVKPreis]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_fMwSt]  DEFAULT ((0.0)) FOR [fMwSt]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_nAnzahl]  DEFAULT ((0.0)) FOR [nAnzahl]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_fRabatt]  DEFAULT ((0.0)) FOR [fRabatt]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_fVKNetto]  DEFAULT ((0.0)) FOR [fVKNetto]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_nLager]  DEFAULT ((0)) FOR [nLager]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_kGutschriftStueckliste]  DEFAULT ((0)) FOR [kGutschriftStueckliste]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_nAuftragsmengeReduzieren]  DEFAULT ((1)) FOR [nAuftragsmengeReduzieren]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_nLiefermengeReduzieren]  DEFAULT ((1)) FOR [nLiefermengeReduzieren]
GO
ALTER TABLE [dbo].[tGutschriftPos] ADD  CONSTRAINT [DF_dbo_tGutschriftPos_nSkontogegenbuchung]  DEFAULT ((0)) FOR [nSkontogegenbuchung]
GO
