USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsabgleichUmsatzDetail]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsabgleichUmsatzDetail](
	[kZahlungsabgleichUmsatz] [int] NOT NULL,
	[bDetails] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo_tZahlungsabgleichUmsatzDetail] PRIMARY KEY CLUSTERED 
(
	[kZahlungsabgleichUmsatz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tZahlungsabgleichUmsatzDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tZahlungsabgleichUmsatzDetail_kZahlungsabgleichUmsatz] FOREIGN KEY([kZahlungsabgleichUmsatz])
REFERENCES [dbo].[tZahlungsabgleichUmsatz] ([kZahlungsabgleichUmsatz])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tZahlungsabgleichUmsatzDetail] CHECK CONSTRAINT [FK_dbo_tZahlungsabgleichUmsatzDetail_kZahlungsabgleichUmsatz]
GO
