USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tStatistikVorlage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tStatistikVorlage](
	[kStatistikVorlage] [int] IDENTITY(10000,1) NOT NULL,
	[kStatistikAuswertungstyp] [int] NULL,
	[kStatistikVorlageOrdner] [int] NULL,
	[kBenutzer] [int] NULL,
	[cName] [nvarchar](255) NULL,
	[cSpaltennameX] [nvarchar](255) NULL,
	[cSpaltennameSeries] [nvarchar](255) NULL,
	[cSQL] [nvarchar](max) NULL,
	[cZeitraum] [nvarchar](30) NULL,
	[nSort] [int] NULL,
	[cBeschreibung] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tStatistikVorlage] PRIMARY KEY CLUSTERED 
(
	[kStatistikVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
