USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWaehrungISO]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWaehrungISO](
	[cISO] [nvarchar](10) NULL,
	[cName] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
