USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_importdurchgang]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_importdurchgang](
	[kImportDurchgang] [int] IDENTITY(1,1) NOT NULL,
	[dErstellt] [datetime] NULL,
 CONSTRAINT [PK_dbo_ameise_importdurchgang] PRIMARY KEY CLUSTERED 
(
	[kImportDurchgang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
