USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POSEFSTA_DropOut]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSEFSTA_DropOut](
	[kEfstaDropOut] [bigint] IDENTITY(1,1) NOT NULL,
	[kEfstaBeleg] [bigint] NULL,
	[kBon] [bigint] NOT NULL,
	[kKasse] [bigint] NOT NULL,
	[kBenutzer] [bigint] NOT NULL,
	[dErstellung] [datetime] NULL,
	[dLoesung] [datetime] NULL,
	[cData] [image] NULL,
 CONSTRAINT [PK_POSEFSTA_DropOut] PRIMARY KEY CLUSTERED 
(
	[kEfstaDropOut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSEFSTA_DropOut] ADD  DEFAULT ((0)) FOR [kEfstaBeleg]
GO
