USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_categories]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_categories](
	[CategoryId] [int] NOT NULL,
	[CategoryParentId] [int] NULL,
	[CategoryLevel] [tinyint] NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[B2BVATEnabled] [tinyint] NOT NULL,
	[IntlAutosFixedCat] [tinyint] NOT NULL,
	[LeafCategory] [tinyint] NOT NULL,
	[ORPA] [tinyint] NOT NULL,
	[ORRA] [tinyint] NOT NULL,
	[LSD] [tinyint] NOT NULL,
	[VariationsEnabled] [tinyint] NULL,
	[ConditionEnabled] [tinyint] NULL,
	[ConditionValues] [nvarchar](255) NULL,
	[ItemSpecificsEnabled] [tinyint] NULL,
	[AttributeConversionEnabled] [tinyint] NULL,
 CONSTRAINT [PK_dbo_ebay_de_categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_categories] ADD  CONSTRAINT [DF_dbo_ebay_de_categories_CategoryParentId]  DEFAULT (NULL) FOR [CategoryParentId]
GO
ALTER TABLE [dbo].[ebay_de_categories] ADD  CONSTRAINT [DF_dbo_ebay_de_categories_CategoryLevel]  DEFAULT (NULL) FOR [CategoryLevel]
GO
ALTER TABLE [dbo].[ebay_de_categories] ADD  CONSTRAINT [DF_dbo_ebay_de_categories_CategoryName]  DEFAULT ('') FOR [CategoryName]
GO
ALTER TABLE [dbo].[ebay_de_categories] ADD  CONSTRAINT [DF_dbo_ebay_de_categories_B2BVATEnabled]  DEFAULT ('0') FOR [B2BVATEnabled]
GO
ALTER TABLE [dbo].[ebay_de_categories] ADD  CONSTRAINT [DF_dbo_ebay_de_categories_IntlAutosFixedCat]  DEFAULT ('0') FOR [IntlAutosFixedCat]
GO
ALTER TABLE [dbo].[ebay_de_categories] ADD  CONSTRAINT [DF_dbo_ebay_de_categories_LeafCategory]  DEFAULT ('0') FOR [LeafCategory]
GO
ALTER TABLE [dbo].[ebay_de_categories] ADD  CONSTRAINT [DF_dbo_ebay_de_categories_ORPA]  DEFAULT ('0') FOR [ORPA]
GO
ALTER TABLE [dbo].[ebay_de_categories] ADD  CONSTRAINT [DF_dbo_ebay_de_categories_ORRA]  DEFAULT ('0') FOR [ORRA]
GO
ALTER TABLE [dbo].[ebay_de_categories] ADD  CONSTRAINT [DF_dbo_ebay_de_categories_LSD]  DEFAULT ('0') FOR [LSD]
GO
