USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFulfillmentAuftragPos]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFulfillmentAuftragPos](
	[kFulfillmentAuftragPos] [int] IDENTITY(1,1) NOT NULL,
	[kFulfillmentAuftrag] [int] NULL,
	[kLieferscheinPos] [int] NULL,
	[kArtikel] [int] NULL,
	[cArtNr] [nvarchar](100) NOT NULL,
	[cCarrier] [nvarchar](20) NULL,
	[cName] [nvarchar](255) NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[nStatus] [int] NULL,
	[cArtikelGeschenkText] [nvarchar](1000) NULL,
	[cArtikelHinweis] [nvarchar](2000) NULL,
	[nErrorCode] [int] NULL,
	[cErrorType] [nvarchar](20) NULL,
	[cErrorMessage] [nvarchar](1000) NULL,
	[cAbhilfe] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFulfillmentAuftragPos] PRIMARY KEY CLUSTERED 
(
	[kFulfillmentAuftragPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tFulfillmentAuftragPos] ADD  CONSTRAINT [DF_dbo_tFulfillmentAuftragPos_fAnzahl]  DEFAULT ((0.0)) FOR [fAnzahl]
GO
