USE [eazybusiness]
GO
/****** Object:  View [dbo].[tBestellungAttribute]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[tBestellungAttribute]
AS
SELECT tAuftragAttribut.kAuftragAttribut AS kBestellungAttribute,
	   tAuftragAttribut.kAuftrag AS kBestellung,
	   tAttributSprache.cName,
	   CAST(tAuftragAttributSprache.cWertVarchar AS NVARCHAR(4000)) AS cValue,
	   tAuftragAttribut.bRowversion
FROM Verkauf.tAuftragAttribut
JOIN Verkauf.tAuftragAttributSprache ON tAuftragAttributSprache.kAuftragAttribut = tAuftragAttribut.kAuftragAttribut
							 AND tAuftragAttributSprache.kSprache = 0
JOIN dbo.tAttribut ON tAttribut.kAttribut = tAuftragAttribut.kAttribut
JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAttribut.kAttribut
				    AND tAttributSprache.kSprache = 0;
GO
