USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWidgetTemplate]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWidgetTemplate](
	[kWidgetTemplate] [int] IDENTITY(1,1) NOT NULL,
	[cTitel] [nvarchar](255) NULL,
	[cBeschreibung] [nvarchar](255) NULL,
	[cKlasse] [nvarchar](255) NULL,
	[cKategorie] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWidgetTemplate] PRIMARY KEY CLUSTERED 
(
	[kWidgetTemplate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
