USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tShopConnectorSynchronisierung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShopConnectorSynchronisierung](
	[kShop] [int] NOT NULL,
	[nEntity] [int] NOT NULL,
	[nPush] [tinyint] NULL,
	[nPull] [tinyint] NULL,
	[nDelete] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tShopConnectorSynchronisierung] PRIMARY KEY CLUSTERED 
(
	[kShop] ASC,
	[nEntity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tShopConnectorSynchronisierung] ADD  CONSTRAINT [DF_tShopConnectorSynchronisierung_nDelete]  DEFAULT ((0)) FOR [nDelete]
GO
