USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tDatevLogs]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDatevLogs](
	[kDatevLog] [int] IDENTITY(1,1) NOT NULL,
	[kBeleg] [int] NOT NULL,
	[kFirma] [int] NOT NULL,
	[cFehlerMessage] [nvarchar](2000) NULL,
	[nDatevUebertragungsStatus] [int] NULL,
	[dUebertragungsDatum] [datetime] NULL,
	[nDatevBelegTyp] [int] NOT NULL,
	[cLogLocation] [nvarchar](200) NULL,
	[cJsonData] [nvarchar](2000) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[uDatevDocumentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo_tDatevLogs] PRIMARY KEY CLUSTERED 
(
	[kDatevLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
