USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferavis]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferavis](
	[kLieferavis] [int] IDENTITY(1,1) NOT NULL,
	[kLieferantenBestellung] [int] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[dLieferdatum] [datetime] NULL,
	[cNummer] [nvarchar](512) NOT NULL,
	[cNotiz] [varchar](max) NULL,
 CONSTRAINT [PK_dbo_tLieferavis] PRIMARY KEY CLUSTERED 
(
	[kLieferavis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLieferavis] ADD  CONSTRAINT [DF_dbo_tLieferavis_dErstellt]  DEFAULT (getdate()) FOR [dErstellt]
GO
ALTER TABLE [dbo].[tLieferavis]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tLieferantenBestellung_kLieferantenBestellung] FOREIGN KEY([kLieferantenBestellung])
REFERENCES [dbo].[tLieferantenBestellung] ([kLieferantenBestellung])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tLieferavis] CHECK CONSTRAINT [FK_dbo_tLieferantenBestellung_kLieferantenBestellung]
GO
