USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBenutzerFirma]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBenutzerFirma](
	[kBenutzer] [int] NOT NULL,
	[kFirma] [int] NOT NULL,
	[kMandant] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tBenutzerFirma] PRIMARY KEY CLUSTERED 
(
	[kBenutzer] ASC,
	[kFirma] ASC,
	[kMandant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
