USE [eazybusiness]
GO
/****** Object:  Table [dbo].[twebversand]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[twebversand](
	[kWebVersand] [int] NULL,
	[cServerURL] [nvarchar](255) NULL,
	[cBenutzerWeb] [nvarchar](20) NULL,
	[cPasswortWeb] [nvarchar](255) NULL,
	[cServerFtp] [nvarchar](255) NULL,
	[cBenutzerFtp] [nvarchar](20) NULL,
	[cPasswortFtp] [nvarchar](20) NULL,
	[cPASV] [char](1) NULL,
	[cAPIKEY] [nvarchar](50) NULL,
	[cFTPPath] [nvarchar](255) NULL,
	[nHttpPut] [tinyint] NULL,
	[nShopAuftragsNr] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[twebversand] ADD  CONSTRAINT [DF_dbo_twebversand_nHttpPut]  DEFAULT ((0)) FOR [nHttpPut]
GO
ALTER TABLE [dbo].[twebversand] ADD  CONSTRAINT [DF_dbo_twebversand_nShopAuftragsNr]  DEFAULT ((0)) FOR [nShopAuftragsNr]
GO
