USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_angebot_neu_settings]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_angebot_neu_settings](
	[kUser] [int] NOT NULL,
	[nPlattform] [int] NOT NULL,
	[nCondition] [int] NOT NULL,
	[nStandard] [int] NULL,
	[cCondition1] [nvarchar](2000) NULL,
	[cCondition2] [nvarchar](2000) NULL,
	[cCondition3] [nvarchar](2000) NULL,
	[cCondition4] [nvarchar](2000) NULL,
	[cCondition5] [nvarchar](2000) NULL,
	[cCondition6] [nvarchar](2000) NULL,
	[cCondition7] [nvarchar](2000) NULL,
	[cCondition8] [nvarchar](2000) NULL,
	[cCondition9] [nvarchar](2000) NULL,
	[cCondition10] [nvarchar](2000) NULL,
	[cCondition11] [nvarchar](2000) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_angebot_neu_settings] PRIMARY KEY CLUSTERED 
(
	[kUser] ASC,
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[pf_amazon_angebot_neu_settings] ADD  CONSTRAINT [DF_dbo_pf_amazon_angebot_neu_settings_nStandard]  DEFAULT ((0)) FOR [nStandard]
GO
