USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tConnectorStuecklisteTemp]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tConnectorStuecklisteTemp](
	[kStueckliste] [int] NULL,
	[cVaterID] [nvarchar](500) NULL,
	[kArtikelKind] [int] NULL,
	[fAnzahl] [decimal](25, 13) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
