USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_LaufendeNummern]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_LaufendeNummern](
	[kLaufendeNummer] [int] IDENTITY(1,1) NOT NULL,
	[kKasse] [bigint] NOT NULL,
	[cName] [varchar](100) NULL,
	[nNummer] [int] NULL,
	[cPrefix] [varchar](100) NULL,
	[cSuffix] [varchar](100) NULL,
	[cTable] [varchar](100) NULL,
	[cField] [varchar](100) NULL,
 CONSTRAINT [PK_POS_LaufendeNummern] PRIMARY KEY CLUSTERED 
(
	[kLaufendeNummer] ASC,
	[kKasse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_LaufendeNummern] ADD  DEFAULT ((1)) FOR [kKasse]
GO
ALTER TABLE [dbo].[POS_LaufendeNummern] ADD  DEFAULT ('') FOR [cPrefix]
GO
ALTER TABLE [dbo].[POS_LaufendeNummern] ADD  DEFAULT ('') FOR [cSuffix]
GO
ALTER TABLE [dbo].[POS_LaufendeNummern] ADD  DEFAULT ('') FOR [cTable]
GO
ALTER TABLE [dbo].[POS_LaufendeNummern] ADD  DEFAULT ('') FOR [cField]
GO
