USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_bestellung_versand]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_bestellung_versand](
	[kAmazonBestellungVersand] [int] IDENTITY(1,1) NOT NULL,
	[kAmazonBestellungPos] [int] NULL,
	[kLieferschein] [int] NULL,
	[nQuantity] [int] NULL,
	[kBenutzer] [int] NULL,
	[cCarrierCode] [nvarchar](255) NULL,
	[cCarrierName] [nvarchar](255) NULL,
	[cTrackingNumber] [nvarchar](255) NULL,
	[cShipMethod] [nvarchar](255) NULL,
	[dShipDate] [datetime] NULL,
	[dBearbeitet] [datetime] NULL,
	[cShipFromAddressName] [nvarchar](255) NULL,
	[cShipFromAddressLine1] [nvarchar](255) NULL,
	[cShipFromAddressLine2] [nvarchar](255) NULL,
	[cShipFromAddressLine3] [nvarchar](255) NULL,
	[cShipFromAddressCity] [nvarchar](255) NULL,
	[cShipFromAddressCounty] [nvarchar](255) NULL,
	[cShipFromAddressStateOrRegion] [nvarchar](255) NULL,
	[cShipFromPostalcode] [nvarchar](255) NULL,
	[cShipFromCountrycode] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_pf_amazon_bestellung_versand] PRIMARY KEY CLUSTERED 
(
	[kAmazonBestellungVersand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
