USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POSEFSTA_Belege]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSEFSTA_Belege](
	[kEfstaBeleg] [bigint] IDENTITY(1,1) NOT NULL,
	[kKasse] [bigint] NOT NULL,
	[kBenutzer] [bigint] NOT NULL,
	[dDatum] [datetime] NULL,
	[cInfo] [varchar](100) NULL,
	[nTyp] [bigint] NOT NULL,
	[cData] [image] NULL,
	[cData2] [image] NULL,
	[cTable] [varchar](100) NULL,
	[cField] [varchar](100) NULL,
	[kKey] [bigint] NULL,
 CONSTRAINT [PK_POSEFSTA_Belege] PRIMARY KEY CLUSTERED 
(
	[kEfstaBeleg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[POSEFSTA_Belege] ADD  DEFAULT ('') FOR [cInfo]
GO
ALTER TABLE [dbo].[POSEFSTA_Belege] ADD  DEFAULT ('') FOR [cTable]
GO
ALTER TABLE [dbo].[POSEFSTA_Belege] ADD  DEFAULT ('') FOR [cField]
GO
ALTER TABLE [dbo].[POSEFSTA_Belege] ADD  DEFAULT ((0)) FOR [kKey]
GO
