USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPicklistePosStatus]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPicklistePosStatus](
	[kPicklistePosStatus] [int] IDENTITY(1,1) NOT NULL,
	[kPicklistePos] [int] NOT NULL,
	[kbenutzer] [int] NULL,
	[dZeitstempel] [datetime] NULL,
	[nStatus] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPicklistePosStatus] PRIMARY KEY CLUSTERED 
(
	[kPicklistePosStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
