USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWorkflowBedingung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorkflowBedingung](
	[kWorkflowBedingung] [int] IDENTITY(1,1) NOT NULL,
	[kWorkflow] [int] NOT NULL,
	[cEigenschaft] [xml] NULL,
	[nOperator] [int] NOT NULL,
	[cVergleichswert] [nvarchar](max) NOT NULL,
	[kWorkflowEigenschaft] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nPos] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tWorkflowBedingung] PRIMARY KEY CLUSTERED 
(
	[kWorkflowBedingung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWorkflowBedingung] ADD  CONSTRAINT [DF_dbo_tWorkflowBedingung_nPos]  DEFAULT ((0)) FOR [nPos]
GO
