USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tCryptoSlot]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCryptoSlot](
	[kCryptoSlot] [int] IDENTITY(1,1) NOT NULL,
	[nSlotId] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[bCryptedSlotkey] [varbinary](max) NOT NULL,
	[kBenutzerZugewiesenDurch] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tCryptoSlot] PRIMARY KEY CLUSTERED 
(
	[kCryptoSlot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tCrypoSlot_nSlotId_kBenutzer] UNIQUE NONCLUSTERED 
(
	[nSlotId] ASC,
	[kBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
