USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_LVSummary]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_LVSummary](
	[kBenutzer] [int] NULL,
	[nListViewID] [int] NULL,
	[cRechnername] [nvarchar](255) NULL,
	[nSummaryID] [int] NULL
) ON [PRIMARY]
GO
