USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLagerArtikel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLagerArtikel](
	[kLagerArtikel] [int] IDENTITY(1,1) NOT NULL,
	[kLager] [int] NULL,
	[kLagerOrt] [int] NULL,
	[kArtikel] [int] NULL,
	[cSeriennr] [nvarchar](128) NULL,
	[fEK] [decimal](25, 13) NOT NULL,
	[cBeschreibung1] [nvarchar](64) NULL,
	[cBeschreibung2] [nvarchar](64) NULL,
	[kBestellPos] [int] NULL,
	[kLieferscheinPos] [int] NULL,
	[kLieferant] [int] NULL,
	[kWarenlager] [int] NULL,
	[kLieferantenbestellung] [int] NULL,
	[kPicklistePos] [int] NOT NULL,
	[kRMRetourePos] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLagerArtikel] PRIMARY KEY CLUSTERED 
(
	[kLagerArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tLagerArtikel] ADD  CONSTRAINT [DF_dbo_tLagerArtikel_fEK]  DEFAULT ((0.0)) FOR [fEK]
GO
ALTER TABLE [dbo].[tLagerArtikel] ADD  CONSTRAINT [DF_dbo_tLagerArtikel_kPicklistePos]  DEFAULT ((0)) FOR [kPicklistePos]
GO
