USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_data_feedback_out]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_data_feedback_out](
	[kFeedbackOut] [int] NOT NULL,
	[ItemID] [nvarchar](255) NULL,
	[TargetUser] [nvarchar](255) NULL,
	[CommentText] [nvarchar](80) NULL,
	[CommentType] [nvarchar](255) NULL,
	[TransactionID] [nvarchar](255) NULL,
	[FeedbackID] [nvarchar](255) NULL,
	[Sent] [char](1) NULL,
 CONSTRAINT [PK_dbo_ebay_data_feedback_out] PRIMARY KEY CLUSTERED 
(
	[kFeedbackOut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_data_feedback_out] ADD  CONSTRAINT [DF_dbo_ebay_data_feedback_out_FeedbackID]  DEFAULT ('') FOR [FeedbackID]
GO
