USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferantenBestellungErinnerung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferantenBestellungErinnerung](
	[kLieferantenBestellungErinnerung] [int] IDENTITY(1,1) NOT NULL,
	[kLieferantenBestellung] [int] NULL,
	[kBenutzer] [int] NULL,
	[dDatum] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferantenBestellungErinnerung] PRIMARY KEY CLUSTERED 
(
	[kLieferantenBestellungErinnerung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
