USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKartonVersandArtMapping]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKartonVersandArtMapping](
	[kVersandArt] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nIstStandard] [tinyint] NOT NULL,
 CONSTRAINT [PK_dbo_tKartonVersandArtMapping] PRIMARY KEY CLUSTERED 
(
	[kVersandArt] ASC,
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
