USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersand]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersand](
	[kVersand] [int] IDENTITY(1,1) NOT NULL,
	[kLieferschein] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kLogistik] [int] NULL,
	[cIdentCode] [nvarchar](255) NULL,
	[dErstellt] [datetime] NULL,
	[cHinweis] [nvarchar](255) NULL,
	[fGewicht] [decimal](25, 13) NOT NULL,
	[kVersandArt] [int] NULL,
	[cLogistiker] [nvarchar](50) NULL,
	[cFulfillmentCenter] [nvarchar](50) NULL,
	[dAnkunftszeit] [datetime] NULL,
	[nVerpackZeitSek] [int] NULL,
	[dVersendet] [datetime] NULL,
	[nStatus] [tinyint] NOT NULL,
	[cShipmentId] [nvarchar](50) NULL,
	[cReference] [nvarchar](255) NULL,
	[cShipmentOrderId] [nvarchar](100) NULL,
	[kKartonAuftragPos] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cEnclosedReturnIdentCode] [nvarchar](255) NULL,
	[nViaAmazonMWS] [int] NOT NULL,
	[kReturnVersandart] [int] NULL,
 CONSTRAINT [PK_dbo_tVersand] PRIMARY KEY CLUSTERED 
(
	[kVersand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tVersand] ADD  CONSTRAINT [DF_dbo_tVersand_fGewicht]  DEFAULT ((0.0)) FOR [fGewicht]
GO
ALTER TABLE [dbo].[tVersand] ADD  CONSTRAINT [DF_dbo_tVersand_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
ALTER TABLE [dbo].[tVersand] ADD  CONSTRAINT [DF_tVersand_nViaAmazonMWS]  DEFAULT ((0)) FOR [nViaAmazonMWS]
GO
