USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_category2CS]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_category2CS](
	[CategoryId] [int] NOT NULL,
	[AttributeSetId] [int] NOT NULL,
	[AttributeSetVersion] [int] NULL,
	[Name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_category2CS] ADD  CONSTRAINT [DF_dbo_ebay_de_category2CS_CategoryId]  DEFAULT ('0') FOR [CategoryId]
GO
ALTER TABLE [dbo].[ebay_de_category2CS] ADD  CONSTRAINT [DF_dbo_ebay_de_category2CS_AttributeSetId]  DEFAULT ('0') FOR [AttributeSetId]
GO
