USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_angebot_mapping]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_angebot_mapping](
	[kArtikel] [int] NOT NULL,
	[cSellerSKU] [nvarchar](100) NOT NULL,
	[kUser] [int] NOT NULL,
 CONSTRAINT [PK_dbo_pf_amazon_angebot_mapping] PRIMARY KEY CLUSTERED 
(
	[cSellerSKU] ASC,
	[kUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
