USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_exportvorlagefilterext]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_exportvorlagefilterext](
	[kExportVorlageFilterExt] [int] IDENTITY(1,1) NOT NULL,
	[kExportVorlageFilter] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cAdd] [nvarchar](255) NULL,
	[cWert] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_ameise_exportvorlagefilterext] PRIMARY KEY CLUSTERED 
(
	[kExportVorlageFilterExt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
