USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFirmaUStIdNr]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFirmaUStIdNr](
	[kFirmaUStIdNr] [int] IDENTITY(1,1) NOT NULL,
	[kFirma] [int] NOT NULL,
	[cLandISO] [nvarchar](5) NOT NULL,
	[cUStId] [nvarchar](25) NOT NULL,
	[nAuchAlsVersandlandBetrachten] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFirmaUStIdNr] PRIMARY KEY CLUSTERED 
(
	[kFirmaUStIdNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tFirmaUStIdNr_cLandISO_kFirma] UNIQUE NONCLUSTERED 
(
	[cLandISO] ASC,
	[kFirma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tFirmaUStIdNr] ADD  CONSTRAINT [DF_dbo_tFirmaUStIdNr_nAuchAlsVersandlandBetrachten]  DEFAULT ((0)) FOR [nAuchAlsVersandlandBetrachten]
GO
