USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_synch]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_synch](
	[ip] [nvarchar](32) NULL
) ON [PRIMARY]
GO
