USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelAttribut]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelAttribut](
	[kArtikelAttribut] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kAttribut] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelAttribut] PRIMARY KEY CLUSTERED 
(
	[kArtikelAttribut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tArtikelAttribut_kArtikel_kAttribut_kShop] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kAttribut] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tArtikelAttribut]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelAttribut_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tArtikelAttribut] CHECK CONSTRAINT [FK_dbo_tArtikelAttribut_kArtikel]
GO
ALTER TABLE [dbo].[tArtikelAttribut]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tArtikelAttribut_kAttribut] FOREIGN KEY([kAttribut])
REFERENCES [dbo].[tAttribut] ([kAttribut])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tArtikelAttribut] CHECK CONSTRAINT [FK_dbo_tArtikelAttribut_kAttribut]
GO
