USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_importvorlagefilter]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_importvorlagefilter](
	[kImportVorlageFilter] [int] IDENTITY(1,1) NOT NULL,
	[kImportVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cTable] [nvarchar](255) NULL,
	[cDBName] [nvarchar](255) NULL,
	[cWert] [nvarchar](255) NULL,
	[nOperator] [tinyint] NULL,
	[cDBTyp] [nvarchar](100) NULL,
	[nLaenge] [int] NULL,
	[cValidation] [nvarchar](255) NULL,
	[nSpalte] [int] NULL,
 CONSTRAINT [PK_dbo_ameise_importvorlagefilter] PRIMARY KEY CLUSTERED 
(
	[kImportVorlageFilter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
