USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tQueue]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tQueue](
	[kShop] [int] NULL,
	[kPlattform] [int] NULL,
	[cName] [nvarchar](255) NULL,
	[kWert] [int] NULL,
	[nAction] [tinyint] NULL,
	[kOption1] [int] NULL,
	[kOption2] [int] NULL,
	[nInBearbeitung] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tQueue] ADD  CONSTRAINT [DF_dbo_tQueue_nInBearbeitung]  DEFAULT ((0)) FOR [nInBearbeitung]
GO
