USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tListViewExSummary]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tListViewExSummary](
	[kListViewExSummary] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kBenutzerAdmin] [int] NOT NULL,
	[nListViewID] [int] NOT NULL,
	[nSummaryID] [int] NOT NULL,
	[cRechnername] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tListViewExSummary] PRIMARY KEY CLUSTERED 
(
	[kListViewExSummary] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
