USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRueckhalteGrund]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRueckhalteGrund](
	[kRueckhalteGrund] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](50) NOT NULL,
	[nZusammenfassbar] [tinyint] NOT NULL,
	[nEinkaufslisteGesperrt] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRueckhalteGrund] PRIMARY KEY CLUSTERED 
(
	[kRueckhalteGrund] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRueckhalteGrund] ADD  CONSTRAINT [DF_dbo_tRueckhalteGrund_nZusammenfassbar]  DEFAULT ((0)) FOR [nZusammenfassbar]
GO
ALTER TABLE [dbo].[tRueckhalteGrund] ADD  CONSTRAINT [DF_dbo_tRueckhalteGrund_nEinkaufslisteGesperrt]  DEFAULT ((0)) FOR [nEinkaufslisteGesperrt]
GO
