USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWMSLagerBereich]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWMSLagerBereich](
	[kWMSLagerBereich] [int] IDENTITY(1,1) NOT NULL,
	[cKuerzel] [nvarchar](100) NULL,
	[cBeschreibung] [nvarchar](255) NULL,
	[kWarenLager] [int] NOT NULL,
	[nTyp] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWMSLagerBereich] PRIMARY KEY CLUSTERED 
(
	[kWMSLagerBereich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tWMSLagerBereich_cKuerzel_kWarenLager] UNIQUE NONCLUSTERED 
(
	[cKuerzel] ASC,
	[kWarenLager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWMSLagerBereich] ADD  CONSTRAINT [DF_dbo_tWMSLagerBereich_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
