USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_sidewideExCategories]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_sidewideExCategories](
	[CategoryId] [int] NOT NULL,
	[AttributeSetId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_sidewideExCategories] ADD  CONSTRAINT [DF_ebay_de_sidewideExCategories_CategoryId]  DEFAULT ('0') FOR [CategoryId]
GO
ALTER TABLE [dbo].[ebay_de_sidewideExCategories] ADD  CONSTRAINT [DF_ebay_de_sidewideExCategories_AttributeSetId]  DEFAULT ('0') FOR [AttributeSetId]
GO
