USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tShopScx]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShopScx](
	[kShopScx] [int] IDENTITY(1,1) NOT NULL,
	[kShop] [int] NOT NULL,
	[kChannel] [int] NOT NULL,
	[cChannel] [nvarchar](15) NOT NULL,
	[cSellerId] [nvarchar](50) NOT NULL,
	[dCreated] [datetime] NOT NULL,
	[dUpdated] [datetime] NULL,
	[cReason] [nvarchar](250) NULL,
	[kVersandart] [int] NULL,
	[nLoeschintervallSchwebendAngebot] [int] NOT NULL,
	[nLoeschintervallBeendetAngebot] [int] NOT NULL,
	[dSellerAttributeAktualisierungUtc] [datetime2](7) NULL,
	[nBelegSpeichern] [bit] NOT NULL,
	[nBestandsaktualisierung] [bit] NOT NULL,
	[kZahlungsart] [int] NULL,
 CONSTRAINT [PK_dbo_tShopScx] PRIMARY KEY CLUSTERED 
(
	[kShopScx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tShopScx_cSellerId_kChannel] UNIQUE NONCLUSTERED 
(
	[cSellerId] ASC,
	[kChannel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tShopScx] ADD  CONSTRAINT [DF_dbo_tShopScx_nLoeschintervallSchwebendAngebot]  DEFAULT ((7)) FOR [nLoeschintervallSchwebendAngebot]
GO
ALTER TABLE [dbo].[tShopScx] ADD  CONSTRAINT [DF_dbo_tShopScx_nLoeschintervallBeendetAngebot]  DEFAULT ((7)) FOR [nLoeschintervallBeendetAngebot]
GO
ALTER TABLE [dbo].[tShopScx] ADD  CONSTRAINT [DF_dbo_tShopScx_nBelegSpeichern]  DEFAULT ((1)) FOR [nBelegSpeichern]
GO
ALTER TABLE [dbo].[tShopScx] ADD  CONSTRAINT [DF_dbo_tShopScx_nBestandsaktualisierung]  DEFAULT ((0)) FOR [nBestandsaktualisierung]
GO
ALTER TABLE [dbo].[tShopScx]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopScx_kChannel] FOREIGN KEY([kChannel])
REFERENCES [SCX].[tChannel] ([kChannel])
GO
ALTER TABLE [dbo].[tShopScx] CHECK CONSTRAINT [FK_dbo_tShopScx_kChannel]
GO
ALTER TABLE [dbo].[tShopScx]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopScx_kZahlungsart] FOREIGN KEY([kZahlungsart])
REFERENCES [dbo].[tZahlungsart] ([kZahlungsart])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tShopScx] CHECK CONSTRAINT [FK_dbo_tShopScx_kZahlungsart]
GO
