USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tShopKonfiguration]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tShopKonfiguration](
	[kShop] [int] NOT NULL,
	[nImport] [tinyint] NULL,
	[nImportArtikelKategorien] [tinyint] NULL,
	[nImportBestellungenKunden] [tinyint] NULL,
	[nUpload] [tinyint] NULL,
	[nUploadArtikelKomplett] [tinyint] NULL,
	[nUploadArtikelPreise] [tinyint] NULL,
	[nUploadArtikelBestand] [tinyint] NULL,
	[nUploadKundendaten] [tinyint] NULL,
	[nUploadBilder] [tinyint] NULL,
	[nArtikelMergen] [tinyint] NULL,
	[nBilderLoeschen] [tinyint] NULL,
	[nMaxMB] [decimal](25, 13) NULL,
	[nMaxBilder] [int] NULL,
	[nMaxEntities] [int] NULL,
	[nHerstellerGefiltertSenden] [tinyint] NULL,
	[nImportBilder] [tinyint] NULL,
	[nMaxPull] [int] NOT NULL,
	[nSteuerDurchWawiBerechnen] [bit] NOT NULL,
	[nVersandSteuernDurchWawiBerechnen] [bit] NOT NULL,
	[nKundendatenAktualisieren] [bit] NOT NULL,
	[nBilderBeiImportLoeschen] [bit] NOT NULL,
	[cVersandlandISO] [nvarchar](5) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nMaxQuickSync] [int] NOT NULL,
	[kDummyKategorie] [int] NULL,
 CONSTRAINT [PK_dbo_tShopKonfiguration] PRIMARY KEY CLUSTERED 
(
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tShopKonfiguration] ADD  CONSTRAINT [DF_dbo_tShopKonfiguration_nMaxMB]  DEFAULT ((0)) FOR [nMaxMB]
GO
ALTER TABLE [dbo].[tShopKonfiguration] ADD  CONSTRAINT [DF_dbo_tShopKonfiguration_nMaxBilder]  DEFAULT ((10)) FOR [nMaxBilder]
GO
ALTER TABLE [dbo].[tShopKonfiguration] ADD  CONSTRAINT [DF_dbo_tShopKonfiguration_nMaxEntities]  DEFAULT ((10)) FOR [nMaxEntities]
GO
ALTER TABLE [dbo].[tShopKonfiguration] ADD  CONSTRAINT [DF_dbo_tShopKonfiguration_nMaxPull]  DEFAULT ((50)) FOR [nMaxPull]
GO
ALTER TABLE [dbo].[tShopKonfiguration] ADD  CONSTRAINT [DF_dbo_tShopKonfiguration_nSteuerDurchWawiBerechnen]  DEFAULT ((0)) FOR [nSteuerDurchWawiBerechnen]
GO
ALTER TABLE [dbo].[tShopKonfiguration] ADD  CONSTRAINT [DF_dbo_tShopKonfiguration_nVersandSteuernDurchWawiBerechnen]  DEFAULT ((0)) FOR [nVersandSteuernDurchWawiBerechnen]
GO
ALTER TABLE [dbo].[tShopKonfiguration] ADD  CONSTRAINT [DF_dbo_tShopKonfiguration_nKundendatenAktualisieren]  DEFAULT ((0)) FOR [nKundendatenAktualisieren]
GO
ALTER TABLE [dbo].[tShopKonfiguration] ADD  CONSTRAINT [DF_dbo_tShopKonfiguration_nMaxQuickSync]  DEFAULT ((10)) FOR [nMaxQuickSync]
GO
ALTER TABLE [dbo].[tShopKonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tShopKonfiguration_kDummyKategorie] FOREIGN KEY([kDummyKategorie])
REFERENCES [dbo].[tkategorie] ([kKategorie])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tShopKonfiguration] CHECK CONSTRAINT [FK_dbo_tShopKonfiguration_kDummyKategorie]
GO
