USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_importdurchgangartikel]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_importdurchgangartikel](
	[kImportDurchgang] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
 CONSTRAINT [PK_dbo_ameise_importdurchgangartikel] PRIMARY KEY CLUSTERED 
(
	[kImportDurchgang] ASC,
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
