USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_versandarten]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_versandarten](
	[kEbay_DE_Versandarten] [int] NOT NULL,
	[Description] [nvarchar](255) NULL,
	[ExpeditedService] [tinyint] NULL,
	[InternationalService] [tinyint] NULL,
	[ShippingService] [nvarchar](255) NULL,
	[ShippingServiceID] [int] NULL,
	[ShippingTimeMin] [tinyint] NULL,
	[ShippingTimeMax] [tinyint] NULL,
 CONSTRAINT [PK_dbo_ebay_de_versandarten] PRIMARY KEY CLUSTERED 
(
	[kEbay_DE_Versandarten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_versandarten] ADD  CONSTRAINT [DF_dbo_ebay_de_versandarten_ExpeditedService]  DEFAULT ('0') FOR [ExpeditedService]
GO
ALTER TABLE [dbo].[ebay_de_versandarten] ADD  CONSTRAINT [DF_dbo_ebay_de_versandarten_InternationalService]  DEFAULT ('0') FOR [InternationalService]
GO
