USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWorklog]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWorklog](
	[kWorkerlog] [int] IDENTITY(1,1) NOT NULL,
	[cMessage] [nvarchar](max) NOT NULL,
	[nErrorID] [bigint] NOT NULL,
	[dDate] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo_tWorklog] PRIMARY KEY CLUSTERED 
(
	[kWorkerlog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
