USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_geb_erweiterungen]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_geb_erweiterungen](
	[kEbay_DE_Geb_Erweiterungen] [int] NOT NULL,
	[Enhancement] [nvarchar](255) NULL,
	[mehrereArtikel] [tinyint] NULL,
	[Gebuehr] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_dbo_ebay_de_geb_erweiterungen] PRIMARY KEY CLUSTERED 
(
	[kEbay_DE_Geb_Erweiterungen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_geb_erweiterungen] ADD  CONSTRAINT [DF_dbo_ebay_de_geb_erweiterungen_Gebuehr]  DEFAULT ((0.0)) FOR [Gebuehr]
GO
