USE [eazybusiness]
GO
/****** Object:  View [dbo].[vWMSArtikel_Simple]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vWMSArtikel_Simple] AS
SELECT     dbo.tartikel.kArtikel, dbo.tartikel.cArtNr, dbo.tartikel.fVKNetto, dbo.tartikel.fUVP, dbo.tartikel.cAnmerkung, dbo.tartikel.cPreisliste, dbo.tartikel.cAktiv, dbo.tartikel.nLagerbestand, dbo.tartikel.nMindestbestellmaenge, 
                      dbo.tartikel.cBarcode,  0 AS fVKHaendlerNetto, dbo.tartikel.cTopArtikel, dbo.tartikel.cInet, dbo.tartikel.cDelInet, dbo.tartikel.fGewicht, dbo.tartikel.cNeu, dbo.tartikel.cLagerArtikel, dbo.tartikel.cTeilbar, dbo.tartikel.cLagerAktiv, 
                      dbo.tartikel.cLagerKleinerNull, dbo.tartikel.nMidestbestand, dbo.tartikel.fEKNetto, dbo.tartikel.fEbayPreis, dbo.tartikel.cLagerVariation, dbo.tartikel.nDelete,dbo.tartikel.dMod, dbo.tartikel.fPackeinheit, dbo.tartikel.nVPE, dbo.tartikel.fVPEWert, 
                      dbo.tartikel.cSuchbegriffe, dbo.tartikel.cTaric, dbo.tartikel.cHerkunftsland, dbo.tartikel.kSteuerklasse, dbo.tartikel.dErstelldatum, dbo.tartikel.dErscheinungsdatum, dbo.tartikel.nSort, dbo.tartikel.kVersandklasse, dbo.tartikel.fArtGewicht, dbo.tartikel.cHAN, dbo.tartikel.cSerie, dbo.tartikel.cISBN, 
                      dbo.tartikel.cUNNummer, dbo.tartikel.cGefahrnr, dbo.tartikel.cASIN, dbo.tartikel.kEigenschaftKombi, dbo.tartikel.kVaterArtikel, dbo.tartikel.nIstVater, dbo.tartikel.nIstMindestbestand, dbo.tartikel.fAbnahmeintervall, dbo.tartikel.kStueckliste, dbo.tartikel.cUPC, dbo.tartikel.kWarengruppe, dbo.tartikel.cEPID, dbo.tartikel.nMHD, 
                      dbo.tartikel.nCharge, dbo.tartikel.nNichtBestellbar, dbo.tartikel.fAmazonVK, dbo.tartikel.nPufferTyp, dbo.tartikel.nPuffer, dbo.tartikel.nProzentualePreisStaffelAktiv, dbo.tartikel.nSeriennummernVerfolgung,dbo.tartikel.fLetzterEK,dbo.tartikel.dletzterEK,dbo.tartikel.kZustand,dbo.tartikel.nIstTeilmengenArtikel,
					  dbo.tArtikel.fLaenge, dbo.tArtikel.fBreite, dbo.tArtikel.fHoehe
FROM         dbo.tartikel WITH (NOLOCK)
WHERE  cLagerVariation <> 'Y' 
AND nIstVater = 0 
AND kStueckliste = 0
AND (NOT EXISTS (SELECT  kArtikel
                 FROM    dbo.teigenschaft WITH (NOLOCK)
                 WHERE    cAktiv = 'Y' 
				 AND kArtikel = dbo.tartikel.kArtikel 
				 AND tEigenschaft.cTyp NOT IN ('PFLICHT-FREIFELD','FREIFELD')))
GO
