USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Benutzer]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Benutzer](
	[kBenutzer] [int] IDENTITY(1,1) NOT NULL,
	[cLogin] [varchar](255) NULL,
	[cPasswort] [varchar](255) NULL,
	[dErstellung] [datetime] NULL,
	[dZugriff] [datetime] NULL,
	[bRecht1] [int] NULL,
	[bRecht2] [int] NULL,
	[bRecht3] [int] NULL,
	[bRecht4] [int] NULL,
	[bRecht5] [int] NULL,
	[bRecht6] [int] NULL,
	[bRecht7] [int] NULL,
	[bRecht8] [int] NULL,
	[bRecht9] [int] NULL,
	[bRecht10] [int] NULL,
	[bRecht11] [int] NULL,
	[bRecht12] [int] NULL,
	[bRecht13] [int] NULL,
	[bRecht14] [int] NULL,
	[bRecht15] [int] NULL,
	[bRecht16] [int] NULL,
	[bRecht17] [int] NULL,
	[bRecht18] [int] NULL,
	[bRecht19] [int] NULL,
	[bRecht20] [int] NULL,
	[cButtonCode] [varchar](255) NULL,
	[tBenutzer_kBenutzer] [bigint] NULL,
	[fMaxRabatt] [float] NULL,
	[bRecht21] [int] NULL,
	[bRecht22] [int] NULL,
	[bRecht23] [int] NULL,
	[bRecht24] [int] NULL,
	[bRecht25] [int] NULL,
	[bRecht26] [int] NULL,
	[bRecht27] [int] NULL,
	[bRecht28] [int] NULL,
	[bRecht29] [int] NULL,
	[bRecht30] [int] NULL,
	[bRecht31] [int] NULL,
	[bRecht32] [int] NULL,
	[bRecht33] [int] NULL,
	[bRecht34] [int] NULL,
	[bRecht35] [int] NULL,
	[bRecht36] [int] NULL,
	[bRecht37] [int] NULL,
	[bRecht38] [int] NULL,
	[bRecht39] [int] NULL,
	[bRecht40] [int] NULL,
 CONSTRAINT [PK_POS_Benutzer] PRIMARY KEY CLUSTERED 
(
	[kBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht1]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht2]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht3]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht4]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht5]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht6]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht7]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht8]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht9]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht10]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht11]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht12]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht13]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht14]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht15]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht16]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht17]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht18]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht19]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht20]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((100)) FOR [fMaxRabatt]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((1)) FOR [bRecht21]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht22]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht23]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht24]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht25]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht26]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht27]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht28]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht29]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht30]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht31]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht32]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht33]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht34]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht35]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht36]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((1)) FOR [bRecht37]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht38]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht39]
GO
ALTER TABLE [dbo].[POS_Benutzer] ADD  DEFAULT ((0)) FOR [bRecht40]
GO
