USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLagerbestandShop]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLagerbestandShop](
	[kShop] [int] NOT NULL,
	[cArtNr] [nvarchar](100) NOT NULL,
	[dBestandsdatum] [datetime] NOT NULL,
	[fAnzahl] [decimal](25, 13) NULL,
 CONSTRAINT [PK_dbo_tLagerbestandShop] PRIMARY KEY CLUSTERED 
(
	[kShop] ASC,
	[cArtNr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
