USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEingangsrechnungzusatzkosten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEingangsrechnungzusatzkosten](
	[kZusatzkosten] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nGLD] [tinyint] NULL,
	[nPreis] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tEingangsrechnungzusatzkosten] PRIMARY KEY CLUSTERED 
(
	[kZusatzkosten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
