USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_MitarbeiterBild]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_MitarbeiterBild](
	[kMitarbeiterBild] [bigint] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [bigint] NOT NULL,
	[dDatum] [datetime] NULL,
	[nBreite] [bigint] NULL,
	[nHoehe] [bigint] NULL,
	[cHash] [varchar](100) NULL,
	[bBild] [image] NOT NULL,
	[bBildVorschau] [image] NULL,
 CONSTRAINT [PK_POS_MitarbeiterBild] PRIMARY KEY CLUSTERED 
(
	[kMitarbeiterBild] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
