USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_Kassen]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_Kassen](
	[kKasse] [int] IDENTITY(1,1) NOT NULL,
	[cName] [varchar](50) NULL,
	[dErstellung] [datetime] NULL,
	[dZugriff] [datetime] NULL,
	[cZugriff] [varchar](50) NULL,
 CONSTRAINT [PK_POS_Kassen] PRIMARY KEY CLUSTERED 
(
	[kKasse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
