USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPreiskalkulationLogbuchDetails]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPreiskalkulationLogbuchDetails](
	[kLogbuchDetails] [int] IDENTITY(1,1) NOT NULL,
	[kLogbuch] [int] NULL,
	[cArtNr] [nvarchar](255) NULL,
	[cPreisAlt] [nvarchar](255) NULL,
	[fPreisAlt] [decimal](25, 13) NOT NULL,
	[cPreisNeu] [nvarchar](255) NULL,
	[fPreisNeu] [decimal](25, 13) NOT NULL,
	[cDifferenz] [nvarchar](255) NULL,
	[cWaehrung] [nvarchar](255) NULL,
	[cEinstellungen] [nvarchar](max) NULL,
	[cName] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPreiskalkulationLogbuchDetails] PRIMARY KEY CLUSTERED 
(
	[kLogbuchDetails] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPreiskalkulationLogbuchDetails] ADD  CONSTRAINT [DF_dbo_tPreiskalkulationLogbuchDetails_fPreisAlt]  DEFAULT ((0.0)) FOR [fPreisAlt]
GO
ALTER TABLE [dbo].[tPreiskalkulationLogbuchDetails] ADD  CONSTRAINT [DF_dbo_tPreiskalkulationLogbuchDetails_fPreisNeu]  DEFAULT ((0.0)) FOR [fPreisNeu]
GO
