USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersionUpgrade]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersionUpgrade](
	[kVersionUpgrade] [int] IDENTITY(1,1) NOT NULL,
	[cSourceVersion] [nvarchar](255) NOT NULL,
	[cTargetVersion] [nvarchar](255) NOT NULL,
	[kBenutzer] [int] NULL,
	[cWorkstation] [nvarchar](255) NOT NULL,
	[dStarted] [datetimeoffset](7) NOT NULL,
	[dFinished] [datetimeoffset](7) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersionUpgrade] PRIMARY KEY CLUSTERED 
(
	[kVersionUpgrade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
