USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tExterneReservierung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tExterneReservierung](
	[kKey] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nTyp] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_dbo_tExterneReservierung] PRIMARY KEY CLUSTERED 
(
	[kKey] ASC,
	[nTyp] ASC,
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tExterneReservierung]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tExterneReservierung_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tExterneReservierung] CHECK CONSTRAINT [FK_dbo_tExterneReservierung_kArtikel]
GO
