USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tInetBestellungAttribute]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInetBestellungAttribute](
	[kInetBestellungAttribute] [int] IDENTITY(1,1) NOT NULL,
	[kInetBestellung] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cValue] [nvarchar](4000) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tInetBestellungAttribute] PRIMARY KEY CLUSTERED 
(
	[kInetBestellungAttribute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
