USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_item_duplicate_log]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_item_duplicate_log](
	[kLog] [int] IDENTITY(1,1) NOT NULL,
	[dErstelltUtc] [datetime] NOT NULL,
	[kAngebotItem] [int] NOT NULL,
	[cAngebotItemID] [nvarchar](255) NULL,
	[nAngebotStatus] [tinyint] NULL,
	[dAngebotStartTime] [datetime] NULL,
	[dAngebotEndTime] [datetime] NULL,
	[kVorlageItem] [int] NOT NULL,
	[nVorlageAutomatischEinstellen] [tinyint] NULL,
	[cVorlageListingDuration] [nvarchar](20) NULL,
	[kAnderesAngebotItem] [int] NOT NULL,
	[cAnderesAngebotItemID] [nvarchar](255) NULL,
	[nAnderesAngebotStatus] [tinyint] NULL,
	[dAnderesAngebotStartTime] [datetime] NULL,
	[dAnderesAngebotEndTime] [datetime] NULL,
 CONSTRAINT [PK_dbo_ebay_item_duplicate_log] PRIMARY KEY CLUSTERED 
(
	[kLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
