USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWebshopModule]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWebshopModule](
	[cAPIKey] [nvarchar](255) NOT NULL,
	[cLizenzkey] [nvarchar](255) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cID] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWebshopModule] PRIMARY KEY CLUSTERED 
(
	[cAPIKey] ASC,
	[cLizenzkey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
