USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_isvalue]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_isvalue](
	[CategoryId] [int] NULL,
	[kName] [int] NULL,
	[kValue] [int] NULL
) ON [PRIMARY]
GO
