USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tFehler]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tFehler](
	[kFehler] [int] IDENTITY(1,1) NOT NULL,
	[kSessionId] [int] NULL,
	[cText] [nvarchar](255) NULL,
	[nValue1] [int] NULL,
	[nValue2] [int] NULL,
	[nValue3] [int] NULL,
	[cValue1] [nvarchar](255) NULL,
	[cValue2] [nvarchar](255) NULL,
	[cValue3] [nvarchar](255) NULL,
	[kkey1] [int] NULL,
	[kkey2] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tFehler] PRIMARY KEY CLUSTERED 
(
	[kFehler] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
