USE [eazybusiness]
GO
/****** Object:  View [dbo].[unicorn2_vExistingArtikel]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE VIEW [dbo].[unicorn2_vExistingArtikel] 
    AS
        SELECT kWawiId 
        FROM unicorn2_tExistingArtikel WITH (NOLOCK) 
        WHERE kWawiId NOT IN (SELECT kartikel FROM tartikel WITH (NOLOCK) WHERE kVaterArtikel = 0 AND cAktiv = 'Y')
GO
