USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tInteropQueue]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tInteropQueue](
	[nKey1] [int] NOT NULL,
	[nOperation] [int] NOT NULL,
	[nKey2] [int] NULL,
	[cUnique] [nvarchar](255) NOT NULL,
	[cData] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
