USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMerkmal]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMerkmal](
	[kMerkmal] [int] IDENTITY(1,1) NOT NULL,
	[nSort] [int] NULL,
	[nGlobal] [tinyint] NULL,
	[cTyp] [nvarchar](255) NULL,
	[nVerwendungszweck] [tinyint] NOT NULL,
	[nMehrfachauswahl] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMerkmal] PRIMARY KEY CLUSTERED 
(
	[kMerkmal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tMerkmal] ADD  CONSTRAINT [DF_dbo_tMerkmal_nVerwendungszweck]  DEFAULT ((0)) FOR [nVerwendungszweck]
GO
ALTER TABLE [dbo].[tMerkmal] ADD  CONSTRAINT [DF_dbo_tMerkmal_nMehrfachauswahl]  DEFAULT ((0)) FOR [nMehrfachauswahl]
GO
