USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBenutzerSearchFilter]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBenutzerSearchFilter](
	[kBenutzerSearchFilter] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cFilterType] [nvarchar](512) NOT NULL,
	[nShared] [bit] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cValue] [nvarchar](max) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_BenutzerSearchFilter] PRIMARY KEY CLUSTERED 
(
	[kBenutzerSearchFilter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
