USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tHintergrundDienst]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHintergrundDienst](
	[nSek] [int] NULL,
	[nKeinShop] [tinyint] NULL,
	[nKundenupdate] [tinyint] NULL,
	[nAktiv] [tinyint] NULL,
	[nReDrucken] [tinyint] NULL,
	[nWebshopAuftrag] [tinyint] NULL,
	[nKeinEbay] [tinyint] NULL,
	[nEbaySmall] [tinyint] NULL,
	[nEbayAuftrag] [tinyint] NULL,
	[nKeinAmazon] [tinyint] NULL,
	[nAmazonAuftrag] [tinyint] NULL,
	[nEbayBestand] [tinyint] NULL,
	[nWaehrung] [tinyint] NULL,
	[nRepricer] [tinyint] NULL,
	[nRetourenErstellen] [tinyint] NULL,
	[nUpdateBilderBeschreibung] [tinyint] NULL,
	[nKeinFulfillment] [tinyint] NULL,
	[nKeinZahlungsabgleich] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tHintergrundDienst] ADD  CONSTRAINT [DF_dbo_tHintergrundDienst_nKeinZahlungsabgleich]  DEFAULT ((0)) FOR [nKeinZahlungsabgleich]
GO
