USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tHersteller]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHersteller](
	[kHersteller] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cHomepage] [nvarchar](255) NULL,
	[nSort] [int] NULL,
	[cMetaTitle] [nvarchar](4000) NULL,
	[cMetaKeywords] [nvarchar](4000) NULL,
	[cMetaDescription] [nvarchar](max) NULL,
	[cBeschreibung] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kContact] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tHersteller] PRIMARY KEY CLUSTERED 
(
	[kHersteller] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tHersteller_cName] UNIQUE NONCLUSTERED 
(
	[cName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tHersteller]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tHersteller_kContact] FOREIGN KEY([kContact])
REFERENCES [Contact].[tContact] ([kContact])
GO
ALTER TABLE [dbo].[tHersteller] CHECK CONSTRAINT [FK_dbo_tHersteller_kContact]
GO
