USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_planung]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_planung](
	[kPlanung] [int] NOT NULL,
	[kItem] [int] NULL,
	[kEbayUser] [int] NULL,
	[cPlanungsname] [nvarchar](255) NULL,
	[cMo] [tinyint] NULL,
	[cDi] [tinyint] NULL,
	[cMi] [tinyint] NULL,
	[cDo] [tinyint] NULL,
	[cFr] [tinyint] NULL,
	[cSa] [tinyint] NULL,
	[cSo] [tinyint] NULL,
	[cZeit1] [nvarchar](10) NULL,
	[cZeit2] [nvarchar](10) NULL,
	[cZeit3] [nvarchar](10) NULL,
	[cZeit4] [nvarchar](10) NULL,
	[cZeit5] [nvarchar](10) NULL,
	[cZeit6] [nvarchar](10) NULL,
	[dPlanungsbeginn] [datetime] NULL,
	[dPlanungsende] [datetime] NULL,
	[cStatus] [char](1) NULL,
	[nAlleXtage] [int] NULL,
	[cAlleXuhrzeit] [nvarchar](10) NULL,
 CONSTRAINT [PK_dbo_ebay_planung] PRIMARY KEY CLUSTERED 
(
	[kPlanung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_planung] ADD  CONSTRAINT [DF_dbo_ebay_planung_cMo]  DEFAULT ((0)) FOR [cMo]
GO
ALTER TABLE [dbo].[ebay_planung] ADD  CONSTRAINT [DF_dbo_ebay_planung_cDi]  DEFAULT ((0)) FOR [cDi]
GO
ALTER TABLE [dbo].[ebay_planung] ADD  CONSTRAINT [DF_dbo_ebay_planung_cMi]  DEFAULT ((0)) FOR [cMi]
GO
ALTER TABLE [dbo].[ebay_planung] ADD  CONSTRAINT [DF_dbo_ebay_planung_cDo]  DEFAULT ((0)) FOR [cDo]
GO
ALTER TABLE [dbo].[ebay_planung] ADD  CONSTRAINT [DF_dbo_ebay_planung_cFr]  DEFAULT ((0)) FOR [cFr]
GO
ALTER TABLE [dbo].[ebay_planung] ADD  CONSTRAINT [DF_dbo_ebay_planung_cSa]  DEFAULT ((0)) FOR [cSa]
GO
ALTER TABLE [dbo].[ebay_planung] ADD  CONSTRAINT [DF_dbo_ebay_planung_cSo]  DEFAULT ((0)) FOR [cSo]
GO
