USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLagerPlatzDefault]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLagerPlatzDefault](
	[kWarenLager] [int] NOT NULL,
	[kWarenLagerGroesse] [int] NOT NULL,
	[fGewichtMax] [decimal](25, 13) NOT NULL,
	[nAnzahlMax] [int] NULL,
	[fLaenge] [decimal](25, 13) NOT NULL,
	[fHoehe] [decimal](25, 13) NOT NULL,
	[fBreite] [decimal](25, 13) NOT NULL,
	[cKommentar] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tWarenLagerPlatzDefault] PRIMARY KEY CLUSTERED 
(
	[kWarenLager] ASC,
	[kWarenLagerGroesse] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenLagerPlatzDefault] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatzDefault_fGewichtMax]  DEFAULT ((0.0)) FOR [fGewichtMax]
GO
ALTER TABLE [dbo].[tWarenLagerPlatzDefault] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatzDefault_fLaenge]  DEFAULT ((0.0)) FOR [fLaenge]
GO
ALTER TABLE [dbo].[tWarenLagerPlatzDefault] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatzDefault_fHoehe]  DEFAULT ((0.0)) FOR [fHoehe]
GO
ALTER TABLE [dbo].[tWarenLagerPlatzDefault] ADD  CONSTRAINT [DF_dbo_tWarenLagerPlatzDefault_fBreite]  DEFAULT ((0.0)) FOR [fBreite]
GO
