USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tPlattformUeberverkaeufeMoeglich]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPlattformUeberverkaeufeMoeglich](
	[kPlattformUeberverkaeufeMoeglich] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nPlattform] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tPlattformUeberverkaeufeMoeglich] PRIMARY KEY CLUSTERED 
(
	[kPlattformUeberverkaeufeMoeglich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tPlattformUeberverkaeufeMoeglich_kArtikel_nPlattform] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[nPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tPlattformUeberverkaeufeMoeglich]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tPlattformUeberverkaeufeMoeglich_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tPlattformUeberverkaeufeMoeglich] CHECK CONSTRAINT [FK_dbo_tPlattformUeberverkaeufeMoeglich_kArtikel]
GO
ALTER TABLE [dbo].[tPlattformUeberverkaeufeMoeglich]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tPlattformUeberverkaeufeMoeglich_nPlattform] FOREIGN KEY([nPlattform])
REFERENCES [dbo].[tPlattform] ([nPlattform])
GO
ALTER TABLE [dbo].[tPlattformUeberverkaeufeMoeglich] CHECK CONSTRAINT [FK_dbo_tPlattformUeberverkaeufeMoeglich_nPlattform]
GO
