USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_InternationalShippingServiceOption]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_InternationalShippingServiceOption](
	[kInternationalShippingServiceOption] [int] IDENTITY(1,1) NOT NULL,
	[kItem] [int] NOT NULL,
	[ShippingServiceID] [int] NOT NULL,
	[ShippingServiceAdditionalCost] [decimal](25, 13) NOT NULL,
	[ShippingServiceCost] [decimal](25, 13) NOT NULL,
	[ShippingServicePriority] [tinyint] NULL,
	[ShipToLocation] [nvarchar](255) NULL,
	[ShippingService] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ebay_InternationalShippingServiceOption] PRIMARY KEY CLUSTERED 
(
	[kInternationalShippingServiceOption] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_InternationalShippingServiceOption] ADD  CONSTRAINT [DF_dbo_ebay_InternationalShippingServiceOption_ShippingServiceAdditionalCost]  DEFAULT ((0.0)) FOR [ShippingServiceAdditionalCost]
GO
ALTER TABLE [dbo].[ebay_InternationalShippingServiceOption] ADD  CONSTRAINT [DF_dbo_ebay_InternationalShippingServiceOption_ShippingServiceCost]  DEFAULT ((0.0)) FOR [ShippingServiceCost]
GO
