USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_bestellungstatus]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_bestellungstatus](
	[kMessageId] [bigint] NOT NULL,
	[kUser] [int] NOT NULL,
	[cOrderId] [nvarchar](30) NULL,
	[cOrderStatus] [nvarchar](30) NULL,
	[dErstellt] [datetime] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_bestellungstatus] PRIMARY KEY CLUSTERED 
(
	[kMessageId] ASC,
	[kUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
