USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_importtypfeld]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_importtypfeld](
	[kImportTypFeld] [int] NOT NULL,
	[kImportTyp] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cTable] [nvarchar](255) NULL,
	[cDBName] [nvarchar](255) NULL,
	[cDBTyp] [nvarchar](100) NULL,
	[nLaenge] [int] NULL,
	[nStandard] [tinyint] NOT NULL,
	[cStandardWert] [nvarchar](255) NULL,
	[cValidation] [nvarchar](255) NULL,
	[nSort] [int] NOT NULL,
 CONSTRAINT [PK_dbo_ameise_importtypfeld] PRIMARY KEY CLUSTERED 
(
	[kImportTypFeld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ameise_importtypfeld] ADD  CONSTRAINT [DF_dbo_ameise_importtypfeld_nStandard]  DEFAULT ((0)) FOR [nStandard]
GO
ALTER TABLE [dbo].[ameise_importtypfeld] ADD  CONSTRAINT [DF_dbo_ameise_importtypfeld_nSort]  DEFAULT ((0)) FOR [nSort]
GO
