USE [eazybusiness]
GO
/****** Object:  Table [dbo].[POS_SystemLog]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POS_SystemLog](
	[kSystemLog] [bigint] IDENTITY(1,1) NOT NULL,
	[kKasse] [bigint] NOT NULL,
	[dDatum] [datetime] NULL,
	[nID] [bigint] NULL,
	[cComputer] [varchar](255) NULL,
	[cText] [varchar](255) NULL,
	[cData] [image] NULL,
	[cCheck] [varchar](150) NULL,
 CONSTRAINT [PK_POS_SystemLog] PRIMARY KEY CLUSTERED 
(
	[kSystemLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
