USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMDELog]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMDELog](
	[kMDELog] [int] IDENTITY(1,1) NOT NULL,
	[nLogID] [int] NULL,
	[dDatum] [datetime] NULL,
	[kBenutzer] [int] NULL,
	[cLog] [nvarchar](4000) NULL,
	[cView] [nvarchar](100) NULL,
	[nTime] [int] NULL,
	[nLogLevel] [int] NULL,
	[cSessionId] [nvarchar](250) NULL,
	[cServer] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo_tMDELog] PRIMARY KEY CLUSTERED 
(
	[kMDELog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
