USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tkonfiggruppe]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tkonfiggruppe](
	[kKonfiggruppe] [int] IDENTITY(1,1) NOT NULL,
	[bild] [image] NULL,
	[nMin] [int] NULL,
	[nMax] [int] NULL,
	[nTyp] [int] NULL,
	[nSort] [int] NULL,
	[cKommentar] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tkonfiggruppe] PRIMARY KEY CLUSTERED 
(
	[kKonfiggruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
