USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tCustomerQueryRecht]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tCustomerQueryRecht](
	[kCustomerQuery] [int] NOT NULL,
	[kRechtBenutzerGruppe] [int] NOT NULL,
 CONSTRAINT [PK_dbo_tCustomerQueryRecht] PRIMARY KEY CLUSTERED 
(
	[kCustomerQuery] ASC,
	[kRechtBenutzerGruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tCustomerQueryRecht]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tCustomerQueryRecht_kCustomerQuery] FOREIGN KEY([kCustomerQuery])
REFERENCES [dbo].[tCustomerQuery] ([kCustomerQuery])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tCustomerQueryRecht] CHECK CONSTRAINT [FK_dbo_tCustomerQueryRecht_kCustomerQuery]
GO
