USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tOauthConfig]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tOauthConfig](
	[cId] [nvarchar](255) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[nFlow] [tinyint] NOT NULL,
	[cAuthorize] [nvarchar](255) NOT NULL,
	[cToken] [nvarchar](255) NOT NULL,
	[cClientId] [nvarchar](255) NOT NULL,
	[cClientCallback] [nvarchar](255) NOT NULL,
	[cClientSecret] [nvarchar](255) NULL,
	[cScopes] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_tOauthConfig] PRIMARY KEY CLUSTERED 
(
	[cId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
