USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_geb_angebotsgebuehr]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_geb_angebotsgebuehr](
	[kEbay_DE_Geb_Angebotsgebuehr] [int] NOT NULL,
	[PreisMin] [decimal](25, 13) NOT NULL,
	[PreisMax] [decimal](25, 13) NOT NULL,
	[Gebuehr] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_dbo_ebay_de_geb_angebotsgebuehr] PRIMARY KEY CLUSTERED 
(
	[kEbay_DE_Geb_Angebotsgebuehr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_geb_angebotsgebuehr] ADD  CONSTRAINT [DF_dbo_ebay_de_geb_angebotsgebuehr_PreisMin]  DEFAULT ((0.0)) FOR [PreisMin]
GO
ALTER TABLE [dbo].[ebay_de_geb_angebotsgebuehr] ADD  CONSTRAINT [DF_dbo_ebay_de_geb_angebotsgebuehr_PreisMax]  DEFAULT ((0.0)) FOR [PreisMax]
GO
ALTER TABLE [dbo].[ebay_de_geb_angebotsgebuehr] ADD  CONSTRAINT [DF_dbo_ebay_de_geb_angebotsgebuehr_Gebuehr]  DEFAULT ((0.0)) FOR [Gebuehr]
GO
