USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_vw_htmltemplatepreview]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_vw_htmltemplatepreview](
	[kHtmlTemplate] [int] NULL,
	[pict] [image] NULL,
	[size] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
