USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferantenBestellungLock]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferantenBestellungLock](
	[kLieferantenBestellung] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[nSperreDurch] [tinyint] NOT NULL,
	[dZeitstempel] [datetime] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferantenBestellungLock] PRIMARY KEY CLUSTERED 
(
	[kLieferantenBestellung] ASC,
	[kBenutzer] ASC,
	[nSperreDurch] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
