USE [eazybusiness]
GO
/****** Object:  Table [dbo].[pf_amazon_retourmeldung]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pf_amazon_retourmeldung](
	[kAmazonRetourMeldung] [int] NOT NULL,
	[cOrderID] [nvarchar](30) NULL,
	[cOrderItemId] [nvarchar](30) NULL,
	[cCancelReason] [nvarchar](100) NULL,
	[cAdjustmentReason] [nvarchar](100) NULL,
	[dErstellt] [datetime] NULL,
	[dBearbeitet] [datetime] NULL,
 CONSTRAINT [PK_dbo_pf_amazon_retourmeldung] PRIMARY KEY CLUSTERED 
(
	[kAmazonRetourMeldung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
