USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tHerstellerBildPlattform]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tHerstellerBildPlattform](
	[kHerstellerBildPlattform] [int] IDENTITY(1,1) NOT NULL,
	[kHersteller] [int] NOT NULL,
	[kPlattform] [int] NULL,
	[kShop] [int] NULL,
	[kBild] [int] NULL,
	[nInet] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tHerstellerBildPlattform] PRIMARY KEY CLUSTERED 
(
	[kHerstellerBildPlattform] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
