USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_alienitem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_alienitem](
	[kAlienItem] [int] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[ItemID] [nvarchar](255) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[ListingType] [nvarchar](255) NULL,
	[Quantity] [int] NOT NULL,
	[QuantityAvailable] [int] NOT NULL,
	[SS_BidderCount] [int] NULL,
	[SS_BidCount] [int] NULL,
	[SS_CurrentPrice] [decimal](25, 13) NOT NULL,
	[SS_HighBidderUserId] [nvarchar](255) NULL,
	[StartPrice] [decimal](25, 13) NOT NULL,
	[BuyItNowPrice] [decimal](25, 13) NOT NULL,
	[CurrencyID] [nvarchar](10) NULL,
	[UserID] [nvarchar](255) NULL,
	[Status] [tinyint] NULL,
	[kEbayuser] [int] NULL,
	[SKU] [nvarchar](255) NULL,
	[VATPercent] [decimal](25, 13) NOT NULL,
	[SiteID] [int] NULL,
 CONSTRAINT [PK_dbo_ebay_alienitem] PRIMARY KEY CLUSTERED 
(
	[kAlienItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_alienitem] ADD  CONSTRAINT [DF_dbo_ebay_alienitem_SS_BidCount]  DEFAULT ((0)) FOR [SS_BidCount]
GO
ALTER TABLE [dbo].[ebay_alienitem] ADD  CONSTRAINT [DF_dbo_ebay_alienitem_SS_CurrentPrice]  DEFAULT ((0.0)) FOR [SS_CurrentPrice]
GO
ALTER TABLE [dbo].[ebay_alienitem] ADD  CONSTRAINT [DF_dbo_ebay_alienitem_BuyItNowPrice]  DEFAULT ((0.0)) FOR [BuyItNowPrice]
GO
ALTER TABLE [dbo].[ebay_alienitem] ADD  CONSTRAINT [DF_dbo_ebay_alienitem_VATPercent]  DEFAULT ((0.0)) FOR [VATPercent]
GO
