USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tZahlungsabgleichAmaPayReportRequests]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tZahlungsabgleichAmaPayReportRequests](
	[kZahlungsabgleichAmaPayReportRequests] [int] IDENTITY(1,1) NOT NULL,
	[kZahlungsabgleichModul] [int] NOT NULL,
	[cRequestId] [nvarchar](60) NULL,
 CONSTRAINT [PK_dbo_tZahlungsabgleichAmaPayReportRequests] PRIMARY KEY CLUSTERED 
(
	[kZahlungsabgleichAmaPayReportRequests] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
