USE [eazybusiness]
GO
/****** Object:  Table [dbo].[teigenschaftwert]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[teigenschaftwert](
	[kEigenschaftWert] [int] IDENTITY(1,1) NOT NULL,
	[kEigenschaft] [int] NOT NULL,
	[fAufpreis] [decimal](25, 13) NOT NULL,
	[fAufpreisNetto] [decimal](25, 13) NOT NULL,
	[fGewichtDiff] [decimal](25, 13) NOT NULL,
	[cArtNr] [nvarchar](100) NULL,
	[nSort] [int] NULL,
	[fLagerbestand] [decimal](25, 13) NOT NULL,
	[fPackeinheit] [decimal](25, 13) NOT NULL,
	[cBarcode] [nvarchar](255) NULL,
	[cAktiv] [char](1) NULL,
	[cInet] [char](1) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_teigenschaftwert] PRIMARY KEY CLUSTERED 
(
	[kEigenschaftWert] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[teigenschaftwert] ADD  CONSTRAINT [DF_dbo_teigenschaftwert_fAufpreis]  DEFAULT ((0.0)) FOR [fAufpreis]
GO
ALTER TABLE [dbo].[teigenschaftwert] ADD  CONSTRAINT [DF_dbo_teigenschaftwert_fAufpreisNetto]  DEFAULT ((0.0)) FOR [fAufpreisNetto]
GO
ALTER TABLE [dbo].[teigenschaftwert] ADD  CONSTRAINT [DF_dbo_teigenschaftwert_fGewichtDiff]  DEFAULT ((0.0)) FOR [fGewichtDiff]
GO
ALTER TABLE [dbo].[teigenschaftwert] ADD  CONSTRAINT [DF_dbo_teigenschaftwert_fLagerbestand]  DEFAULT ((0.0)) FOR [fLagerbestand]
GO
ALTER TABLE [dbo].[teigenschaftwert] ADD  CONSTRAINT [DF_dbo_teigenschaftwert_fPackeinheit]  DEFAULT ((0)) FOR [fPackeinheit]
GO
ALTER TABLE [dbo].[teigenschaftwert]  WITH CHECK ADD  CONSTRAINT [CK_dbo_teigenschaftwert_kEigenschaft] CHECK  (([kEigenschaft]>(0)))
GO
ALTER TABLE [dbo].[teigenschaftwert] CHECK CONSTRAINT [CK_dbo_teigenschaftwert_kEigenschaft]
GO
