USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEntityDialogLock]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEntityDialogLock](
	[kEntityDialogLock] [int] IDENTITY(1,1) NOT NULL,
	[kEntity] [int] NOT NULL,
	[cDialogName] [varchar](300) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[nProcessId] [int] NOT NULL,
	[cHostName] [varchar](255) NOT NULL,
	[dExpire] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kEntityDialogLockReleased] [int] NULL,
	[cInfo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo_tEntityDialogLock] PRIMARY KEY CLUSTERED 
(
	[kEntityDialogLock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_dbo_tEntityDialogLock_cDialogName_cHostName_kBenutzer_kEntity_nProcessId] UNIQUE NONCLUSTERED 
(
	[kEntity] ASC,
	[cDialogName] ASC,
	[kBenutzer] ASC,
	[nProcessId] ASC,
	[cHostName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
