USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_attribute]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_attribute](
	[AttributeId] [int] NULL,
	[AttributeSetId] [int] NULL,
	[parentAttrId] [int] NULL,
	[defaultValueId] [int] NULL,
	[Label] [nvarchar](255) NULL,
	[labelVisible] [char](1) NOT NULL,
	[isRequired] [char](1) NOT NULL,
	[dateFormat] [nvarchar](30) NULL,
	[WhenToShow] [char](1) NOT NULL,
	[EditType] [tinyint] NULL,
	[Type] [tinyint] NULL,
	[presentationType] [tinyint] NULL,
	[maxlength] [tinyint] NOT NULL,
	[ordernumber] [tinyint] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_de_attribute] ADD  CONSTRAINT [DF_dbo_ebay_de_attribute_labelVisible]  DEFAULT ('N') FOR [labelVisible]
GO
ALTER TABLE [dbo].[ebay_de_attribute] ADD  CONSTRAINT [DF_dbo_ebay_de_attribute_isRequired]  DEFAULT ('N') FOR [isRequired]
GO
ALTER TABLE [dbo].[ebay_de_attribute] ADD  CONSTRAINT [DF_dbo_ebay_de_attribute_dateFormat]  DEFAULT (NULL) FOR [dateFormat]
GO
ALTER TABLE [dbo].[ebay_de_attribute] ADD  CONSTRAINT [DF_dbo_ebay_de_attribute_WhenToShow]  DEFAULT ('') FOR [WhenToShow]
GO
ALTER TABLE [dbo].[ebay_de_attribute] ADD  CONSTRAINT [DF_dbo_ebay_de_attribute_maxlength]  DEFAULT ('0') FOR [maxlength]
GO
ALTER TABLE [dbo].[ebay_de_attribute] ADD  CONSTRAINT [DF_dbo_ebay_de_attribute_ordernumber]  DEFAULT ('0') FOR [ordernumber]
GO
