USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tArtikelAbnahme]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tArtikelAbnahme](
	[kArtikel] [int] NOT NULL,
	[kKundengruppe] [int] NOT NULL,
	[fIntervall] [decimal](25, 13) NOT NULL,
	[fMindestabnahme] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tArtikelAbnahme] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[kKundengruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
