USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tBild]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tBild](
	[kBild] [int] IDENTITY(1,1) NOT NULL,
	[cQuelle] [varchar](500) NOT NULL,
	[bBild] [image] NOT NULL,
	[nDateigroesse] [int] NOT NULL,
	[nBreite] [int] NOT NULL,
	[nHoehe] [int] NOT NULL,
	[cHash] [nvarchar](255) NOT NULL,
	[cChecksum] [nvarchar](255) NOT NULL,
	[bVorschauBild] [image] NOT NULL,
	[nVorschauDateigroesse] [int] NOT NULL,
	[nVorschauBreite] [int] NOT NULL,
	[nVorschauHoehe] [int] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[dAenderung] [datetime] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tBild] PRIMARY KEY CLUSTERED 
(
	[kBild] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
