USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tAdressExportFelder]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tAdressExportFelder](
	[kAdressExportVorlage] [int] NULL,
	[nFeldNr] [int] NULL,
	[cPrefix] [nvarchar](255) NULL,
	[cWert] [nvarchar](255) NULL,
	[cSuffix] [nvarchar](255) NULL,
	[cStandardWert] [nvarchar](255) NULL,
	[cName] [nvarchar](255) NULL,
	[nMaxlen] [int] NULL,
	[cZusatzzeile] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
