USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_bestoffer]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_bestoffer](
	[BestOfferID] [nvarchar](256) NOT NULL,
	[ItemID] [nvarchar](256) NULL,
	[Price] [decimal](25, 13) NOT NULL,
	[Currency] [nvarchar](256) NULL,
	[Quantity] [int] NULL,
	[UserID] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[FeedbackScore] [int] NULL,
	[Message] [nvarchar](501) NULL,
	[Status] [tinyint] NULL,
	[CounterPrice] [decimal](25, 13) NOT NULL,
	[CounterQuantity] [int] NULL,
	[CounterMessage] [nvarchar](255) NULL,
	[ExpirationTime] [datetime] NULL,
 CONSTRAINT [PK_dbo_ebay_bestoffer] PRIMARY KEY CLUSTERED 
(
	[BestOfferID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_bestoffer] ADD  CONSTRAINT [DF_dbo_ebay_bestoffer_Price]  DEFAULT ((0.0)) FOR [Price]
GO
ALTER TABLE [dbo].[ebay_bestoffer] ADD  CONSTRAINT [DF_dbo_ebay_bestoffer_CounterPrice]  DEFAULT ((0.0)) FOR [CounterPrice]
GO
