USE [eazybusiness]
GO
/****** Object:  View [dbo].[vGutschriftEckdaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vGutschriftEckdaten]
AS
(
    SELECT tGutschrift_kGutschrift AS kGutschrift,
           ROUND(SUM(tGutschriftPos.nAnzahl * tGutschriftPos.fVKNetto * (1 - (tGutschriftPos.fRabatt / 100))), 2) AS fPreisNetto,
           ROUND(SUM(tGutschriftPos.nAnzahl * tGutschriftPos.fVKNetto * (1 - (tGutschriftPos.fRabatt / 100)) * (1 + (tGutschriftPos.fMwSt / 100))), 2) AS fPreisBrutto
    FROM dbo.tGutschriftPos
    GROUP BY tGutschrift_kGutschrift
);
GO
