USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_de_isrelation]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_de_isrelation](
	[CategoryId] [int] NULL,
	[kName] [int] NULL,
	[kValue] [int] NULL,
	[kNameParent] [int] NULL,
	[kValueParent] [int] NULL
) ON [PRIMARY]
GO
