USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_shippingprofiles]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_shippingprofiles](
	[kEbayBenutzer] [int] NOT NULL,
	[cProfilType] [char](1) NULL,
	[DiscountProfileID] [nvarchar](255) NULL,
	[DiscountProfileName] [nvarchar](255) NULL,
	[SiteID] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ebay_shippingprofiles] ADD  CONSTRAINT [DF_dbo_ebay_shippingprofiles_SiteID]  DEFAULT ((77)) FOR [SiteID]
GO
