USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ameise_exportvorgang]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ameise_exportvorgang](
	[kExportVorgang] [int] IDENTITY(1,1) NOT NULL,
	[kExportVorlage] [int] NOT NULL,
	[kExportTyp] [int] NOT NULL,
	[nAnzahlExportiert] [int] NOT NULL,
	[nAnzahlExportiertVon] [int] NOT NULL,
	[nDauer] [int] NOT NULL,
	[nStatus] [tinyint] NOT NULL,
	[cDatei] [nvarchar](255) NULL,
	[dErstellt] [datetime] NULL,
	[cMandant] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_ameise_exportvorgang] PRIMARY KEY CLUSTERED 
(
	[kExportVorgang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ameise_exportvorgang] ADD  CONSTRAINT [DF_dbo_ameise_exportvorgang_nAnzahlExportiert]  DEFAULT ((0)) FOR [nAnzahlExportiert]
GO
ALTER TABLE [dbo].[ameise_exportvorgang] ADD  CONSTRAINT [DF_dbo_ameise_exportvorgang_nAnzahlExportiertVon]  DEFAULT ((0)) FOR [nAnzahlExportiertVon]
GO
ALTER TABLE [dbo].[ameise_exportvorgang] ADD  CONSTRAINT [DF_dbo_ameise_exportvorgang_nDauer]  DEFAULT ((0)) FOR [nDauer]
GO
ALTER TABLE [dbo].[ameise_exportvorgang] ADD  CONSTRAINT [DF_dbo_ameise_exportvorgang_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
