USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tRestApiRequestLog]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tRestApiRequestLog](
	[kRestApiRequestLog] [int] IDENTITY(1,1) NOT NULL,
	[kRestApiRegistrationRequest] [int] NULL,
	[dTimestamp] [datetimeoffset](7) NULL,
	[kBenutzerApp] [int] NULL,
	[kBenutzerRunAs] [int] NULL,
	[iStatusCode] [int] NULL,
	[cMethod] [char](40) NULL,
	[cPath] [nvarchar](512) NULL,
	[cRequestIp] [nvarchar](100) NULL,
	[iRequestTime] [bigint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tRestApiRequestLog] PRIMARY KEY CLUSTERED 
(
	[kRestApiRequestLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tRestApiRequestLog]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tRestApiRequestLog_kRestApiRegistrationRequest] FOREIGN KEY([kRestApiRegistrationRequest])
REFERENCES [dbo].[tRestApiRegistrationRequest] ([kRestApiRegistrationRequest])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tRestApiRequestLog] CHECK CONSTRAINT [FK_dbo_tRestApiRequestLog_kRestApiRegistrationRequest]
GO
