USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tGutschein]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tGutschein](
	[kGutschein] [int] NOT NULL,
	[kKunde] [int] NULL,
	[kShop] [int] NULL,
	[fWert] [decimal](25, 13) NOT NULL,
	[cGrund] [nvarchar](1024) NULL,
	[dErstellt] [datetime] NULL,
	[cInet] [char](1) NULL,
	[kInetKunde] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tGutschein] PRIMARY KEY CLUSTERED 
(
	[kGutschein] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tGutschein] ADD  CONSTRAINT [DF_dbo_tGutschein_fWert]  DEFAULT ((0.0)) FOR [fWert]
GO
