USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tLieferantenBestellungLieferant]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tLieferantenBestellungLieferant](
	[kLieferantenBestellungLieferant] [int] IDENTITY(1,1) NOT NULL,
	[kLieferant] [int] NOT NULL,
	[cFirma] [nvarchar](255) NULL,
	[cFirmenZusatz] [nvarchar](255) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cAdresszusatz] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](255) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cBundesland] [nvarchar](255) NULL,
	[cLandISO] [nvarchar](5) NULL,
	[cTel] [nvarchar](255) NULL,
	[cFax] [nvarchar](255) NULL,
	[cMobil] [nvarchar](255) NULL,
	[cMail] [nvarchar](255) NULL,
	[cAnsprechpartnerAnrede] [nvarchar](255) NULL,
	[cAnsprechpartnerVorname] [nvarchar](255) NULL,
	[cAnsprechpartnerName] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tLieferantenBestellungLieferant] PRIMARY KEY CLUSTERED 
(
	[kLieferantenBestellungLieferant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
