USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tMedienDateiShop]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tMedienDateiShop](
	[kMedienDatei] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[cInet] [char](1) NULL,
	[cDelInet] [char](1) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tMedienDateiShop] PRIMARY KEY CLUSTERED 
(
	[kMedienDatei] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
