USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tEinheit]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tEinheit](
	[kEinheit] [int] IDENTITY(1,1) NOT NULL,
	[nIstUnsichtbar] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tEinheit] PRIMARY KEY CLUSTERED 
(
	[kEinheit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tEinheit] ADD  CONSTRAINT [DF_dbo_tEinheit_nIstUnsichtbar]  DEFAULT ((0)) FOR [nIstUnsichtbar]
GO
ALTER TABLE [dbo].[tEinheit]  WITH CHECK ADD  CONSTRAINT [CK_dbo_tEinheit_nIstUnsichtbar] CHECK  (([nIstUnsichtbar]=(0) OR [nIstUnsichtbar]=(1)))
GO
ALTER TABLE [dbo].[tEinheit] CHECK CONSTRAINT [CK_dbo_tEinheit_nIstUnsichtbar]
GO
