USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tDbErrorlog]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDbErrorlog](
	[kDbErrorlog] [int] IDENTITY(1,1) NOT NULL,
	[dZeitstempel] [datetime] NOT NULL,
	[cAppName] [nvarchar](128) NULL,
	[cHostName] [nvarchar](128) NULL,
	[cInformation] [nvarchar](128) NULL,
	[nErrorNumber] [int] NULL,
	[nErrorSeverity] [int] NULL,
	[nErrorLine] [int] NULL,
	[nErrorState] [int] NULL,
	[cErrorProcedure] [nvarchar](128) NULL,
	[cErrorMessage] [nvarchar](4000) NULL,
	[cLockStatus] [xml] NULL,
	[cDeadlockGraph] [xml] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
