USE [eazybusiness]
GO
/****** Object:  Table [dbo].[ebay_versand_out]    Script Date: 11.08.2025 17:23:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ebay_versand_out](
	[kEbayCheckout] [int] NULL,
	[dDatum] [nvarchar](12) NULL,
	[cTrackingID] [nvarchar](30) NULL,
	[cInfo] [nvarchar](255) NULL,
	[cLogistiker] [nvarchar](255) NULL,
	[cURL] [nvarchar](512) NULL
) ON [PRIMARY]
GO
