USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKundenGruppe]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKundenGruppe](
	[kKundenGruppe] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nStandard] [tinyint] NULL,
	[nShopLogin] [tinyint] NULL,
	[nNettoPreise] [tinyint] NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[kKundenDrucktext] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nRabattVeraendert] [bit] NOT NULL,
 CONSTRAINT [PK_dbo_tKundenGruppe] PRIMARY KEY CLUSTERED 
(
	[kKundenGruppe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tKundenGruppe] ADD  CONSTRAINT [DF_dbo_tKundenGruppe_fRabatt]  DEFAULT ((0.0)) FOR [fRabatt]
GO
ALTER TABLE [dbo].[tKundenGruppe] ADD  DEFAULT ((0)) FOR [nRabattVeraendert]
GO
