USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tKategorieRabatt]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tKategorieRabatt](
	[kKategorie] [int] NOT NULL,
	[kKundenGruppe] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tKategorieRabatt] PRIMARY KEY CLUSTERED 
(
	[kKategorie] ASC,
	[kKundenGruppe] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tKategorieRabatt] ADD  CONSTRAINT [DF_dbo_tKategorieRabatt_fRabatt]  DEFAULT ((0.0)) FOR [fRabatt]
GO
