USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVouchers]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVouchers](
	[kVouchers] [int] IDENTITY(1,1) NOT NULL,
	[cName] [varchar](255) NULL,
	[kZahlungsart] [int] NULL,
	[kArtikelGutschein] [int] NULL,
	[nMonatsuebergreifend] [bit] NOT NULL,
	[nApiTyp] [int] NOT NULL,
 CONSTRAINT [PK_tVouchers] PRIMARY KEY CLUSTERED 
(
	[kVouchers] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tVouchers] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nMonatsuebergreifend]  DEFAULT ((0)) FOR [nMonatsuebergreifend]
GO
ALTER TABLE [dbo].[tVouchers] ADD  CONSTRAINT [DF_dbo_tVouchers_nApiTyp]  DEFAULT ((0)) FOR [nApiTyp]
GO
ALTER TABLE [dbo].[tVouchers]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tVouchers_kZahlungsart] FOREIGN KEY([kZahlungsart])
REFERENCES [dbo].[tZahlungsart] ([kZahlungsart])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[tVouchers] CHECK CONSTRAINT [FK_dbo_tVouchers_kZahlungsart]
GO
