USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tVersandtoolDruckEinstellung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tVersandtoolDruckEinstellung](
	[kVersandtoolDruckEinstellung] [int] IDENTITY(1,1) NOT NULL,
	[nVersandSchnittstelle] [tinyint] NOT NULL,
	[cRechnername] [nvarchar](max) NOT NULL,
	[kBenutzer] [int] NULL,
	[cDruckername] [nvarchar](max) NOT NULL,
	[nPageScaling] [tinyint] NULL,
	[nOrientation] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tVersandtoolDruckEinstellung] PRIMARY KEY CLUSTERED 
(
	[kVersandtoolDruckEinstellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
