USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tWarenLager]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tWarenLager](
	[kWarenLager] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cKuerzel] [nvarchar](255) NULL,
	[cLagerTyp] [nvarchar](255) NULL,
	[cBeschreibung] [nvarchar](1024) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](255) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[cAnsprechpartnerAnrede] [nvarchar](255) NULL,
	[cAnsprechpartnerVorname] [nvarchar](255) NULL,
	[cAnsprechpartnerName] [nvarchar](255) NULL,
	[cAnsprechpartnerTel] [nvarchar](255) NULL,
	[cAnsprechpartnerFax] [nvarchar](255) NULL,
	[cAnsprechpartnerEMail] [nvarchar](255) NULL,
	[cAnsprechpartnerAbteilung] [nvarchar](255) NULL,
	[cBundesland] [nvarchar](100) NULL,
	[kFirma] [int] NULL,
	[kUser] [int] NULL,
	[nFulfillment] [tinyint] NOT NULL,
	[nLagerplatzVerwaltung] [tinyint] NOT NULL,
	[nAuslieferungsPrio] [int] NULL,
	[nPackStationAktiv] [tinyint] NULL,
	[cDimension1Name] [nvarchar](255) NULL,
	[cDimension1Trennzeichen] [nvarchar](1) NULL,
	[nDimension1Laenge] [tinyint] NULL,
	[nDimension1Typ] [tinyint] NULL,
	[cDimension2Name] [nvarchar](255) NULL,
	[cDimension2Trennzeichen] [nvarchar](1) NULL,
	[nDimension2Laenge] [tinyint] NULL,
	[nDimension2Typ] [tinyint] NULL,
	[cDimension3Name] [nvarchar](255) NULL,
	[cDimension3Trennzeichen] [nvarchar](1) NULL,
	[nDimension3Laenge] [tinyint] NULL,
	[nDimension3Typ] [tinyint] NULL,
	[cDimension4Name] [nvarchar](255) NULL,
	[cDimension4Trennzeichen] [nvarchar](1) NULL,
	[nDimension4Laenge] [tinyint] NULL,
	[nDimension4Typ] [tinyint] NULL,
	[cDimension5Name] [nvarchar](255) NULL,
	[cDimension5Trennzeichen] [nvarchar](1) NULL,
	[nDimension5Laenge] [tinyint] NULL,
	[nDimension5Typ] [tinyint] NULL,
	[cEmpfaengerFirma] [nvarchar](255) NULL,
	[kQuellLager] [int] NOT NULL,
	[kZielLager] [int] NOT NULL,
	[nAktiv] [tinyint] NOT NULL,
	[cFfnWarehouseId] [nvarchar](50) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cAdresszusatz] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo_tWarenLager] PRIMARY KEY CLUSTERED 
(
	[kWarenLager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tWarenLager] ADD  CONSTRAINT [DF_dbo_tWarenLager_nAuslieferungsPrio]  DEFAULT ((0)) FOR [nAuslieferungsPrio]
GO
ALTER TABLE [dbo].[tWarenLager] ADD  CONSTRAINT [DF_dbo_tWarenLager_kQuellLager]  DEFAULT ((0)) FOR [kQuellLager]
GO
ALTER TABLE [dbo].[tWarenLager] ADD  CONSTRAINT [DF_dbo_tWarenLager_kZielLager]  DEFAULT ((0)) FOR [kZielLager]
GO
ALTER TABLE [dbo].[tWarenLager] ADD  CONSTRAINT [DF_dbo_tWarenLager_nAktiv]  DEFAULT ((0)) FOR [nAktiv]
GO
