USE [eazybusiness]
GO
/****** Object:  Table [dbo].[tStatistikSteuerelement]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tStatistikSteuerelement](
	[kStatistikVorlage] [int] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cValue] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo_tStatistikSteuerelement] PRIMARY KEY CLUSTERED 
(
	[kStatistikVorlage] ASC,
	[cName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
