USE [eazybusiness]
GO
/****** Object:  Table [DBTool].[tAnonymisierungHistorie]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DBTool].[tAnonymisierungHistorie](
	[kRecordPk] [int] NULL,
	[nObject] [int] NOT NULL,
	[cAnonymisierungstext] [nvarchar](20) NOT NULL,
	[dAnonymisiertAm] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [DBTool].[tAnonymisierungHistorie] ADD  CONSTRAINT [DF_DBTool_tAnonymisierungHistorie_nObject]  DEFAULT ((0)) FOR [nObject]
GO
ALTER TABLE [DBTool].[tAnonymisierungHistorie] ADD  CONSTRAINT [DF_DBTool_tAnonymisierungHistorie_cAnonymisierungstext]  DEFAULT ('') FOR [cAnonymisierungstext]
GO
ALTER TABLE [DBTool].[tAnonymisierungHistorie] ADD  CONSTRAINT [DF_DBTool_tAnonymisierungHistorie_dAnonymisiertAm]  DEFAULT (getdate()) FOR [dAnonymisiertAm]
GO
