USE [eazybusiness]
GO
/****** Object:  Table [DBTool].[tAnonymisierbareDaten]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DBTool].[tAnonymisierbareDaten](
	[kRecordPk] [int] NULL,
	[nObject] [int] NOT NULL,
	[dErstellt] [datetime2](7) NOT NULL,
	[kFirma] [int] NOT NULL,
	[kKunde] [int] NOT NULL,
	[uSession] [uniqueidentifier] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [DBTool].[tAnonymisierbareDaten] ADD  CONSTRAINT [DF_DBTool_tAnonymisierbareDaten_nObject]  DEFAULT ((0)) FOR [nObject]
GO
ALTER TABLE [DBTool].[tAnonymisierbareDaten] ADD  CONSTRAINT [DF_DBTool_tAnonymisierbareDaten_dErstellt]  DEFAULT (getdate()) FOR [dErstellt]
GO
ALTER TABLE [DBTool].[tAnonymisierbareDaten] ADD  CONSTRAINT [DF_DBTool_tAnonymisierbareDaten_kFirma]  DEFAULT ((0)) FOR [kFirma]
GO
ALTER TABLE [DBTool].[tAnonymisierbareDaten] ADD  CONSTRAINT [DF_DBTool_tAnonymisierbareDaten_kKunde]  DEFAULT ((0)) FOR [kKunde]
GO
