USE [eazybusiness]
GO
/****** Object:  View [DEPRECATED].[vLieferadresse]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DEPRECATED].[vLieferadresse]
AS
SELECT 
	vAuftragLieferadresse.kAuftrag AS kLieferadresse,
	vAuftragLieferadresse.kKunde,
	vAuftragLieferadresse.cFirma,
	vAuftragLieferadresse.cAnrede,
	vAuftragLieferadresse.cTitel,
	vAuftragLieferadresse.cVorname,
	vAuftragLieferadresse.cName,
	vAuftragLieferadresse.cStrasse,
	vAuftragLieferadresse.cPLZ,
	vAuftragLieferadresse.cOrt,
	vAuftragLieferadresse.cLand,
	CAST(vAuftragLieferadresse.cTel AS NVARCHAR(255)) AS cTel,
	vAuftragLieferadresse.cZusatz,
	vAuftragLieferadresse.cAdressZusatz,
	vAuftragLieferadresse.cPostID,
	vAuftragLieferadresse.cMobil,
	vAuftragLieferadresse.cMail,
	vAuftragLieferadresse.cFax,
	vAuftragLieferadresse.cBundesland,
	vAuftragLieferadresse.cISO
FROM Verkauf.vAuftragLieferadresse
GO
