USE [eazybusiness]
GO
/****** Object:  View [DEPRECATED].[vBestellungEckdaten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DEPRECATED].[vBestellungEckdaten]
AS
SELECT	vAuftragEckdaten.kAuftrag AS kBestellung,
		vAuftragEckdaten.fWertBrutto AS fWert,
		vAuftragEckdaten.fZahlung AS fZahlung,
		vAuftragEckdaten.fGutschrift AS fGutschrift,
		ISNULL(CAST(0.0 AS DECIMAL(25,13)), 0.0) AS fGutschein,
		vAuftrag.fFaktor AS fFaktor,
		vAuftrag.cWaehrung,
		vAuftragEckdaten.fWertNetto AS fWertNetto
FROM Verkauf.vAuftragEckdaten
JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vAuftragEckdaten.kAuftrag;
GO
