USE [eazybusiness]
GO
/****** Object:  View [DEPRECATED].[vRechnung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DEPRECATED].[vRechnung] AS
SELECT  
	PositionsDaten.kAuftrag AS [tBestellung_kBestellung], 
	tRechnung.kRechnung AS [kRechnung],
	tRechnung.kBenutzer AS [tBenutzer_kBenutzer],
	tRechnung.kKunde AS [tKunde_kKunde],
	tRechnung.cRechnungsNr AS [cRechnungsNr],
	CASE WHEN nZahlungStatus = 2 THEN 'Y' ELSE 'N' END AS [cBezahlt],
	tRechnung.dErstellt AS [dErstellt],
	tRechnung.nZahlungszielTage AS [nZahlungsziel],
	CASE WHEN tRechnung.nStatus = 0 THEN '' ELSE '' END AS [cStatus], --TODO cStatus ist in meiner DB immer leer
	PositionsDaten.cErloeskonto AS [cErloeskonto],
	tFirmaHistory.kFirma AS [kFirma],
	0 AS [nInkassoStatus], --TODO woher?
	tRechnungEckdaten.dMaildatum AS [dEmailversandt],
	tRechnungEckdaten.dDruckdatum AS [dDruckdatum],
	tRechnung.nMahnstop AS [nMahnstop]
FROM Rechnung.tRechnung
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tRechnung.kFirmaHistory
JOIN 
	(SELECT 
		tRechnungPosition.kRechnung,
		MAX(tRechnungPosition.kAuftrag) AS kAuftrag,
		MAX(tSteuerschluessel.cErloeskonto) AS cErloeskonto
	FROM Rechnung.tRechnungPosition
	LEFT JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = tRechnungPosition.kSteuerschluessel
	GROUP BY tRechnungPosition.kRechnung) AS PositionsDaten ON PositionsDaten.kRechnung = tRechnung.kRechnung
LEFT JOIN Rechnung.tRechnungEckdaten ON Rechnung.tRechnung.kRechnung = Rechnung.tRechnungEckdaten.kRechnung
GO
