USE [eazybusiness]
GO
/****** Object:  Table [DEPRECATED].[tProcessParameterLanguage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DEPRECATED].[tProcessParameterLanguage](
	[kProcessParameter] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cDisplayName] [nvarchar](255) NOT NULL,
	[cUnit] [nvarchar](20) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Deprecated_kProcessParameter_kSprache] PRIMARY KEY CLUSTERED 
(
	[kProcessParameter] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DEPRECATED].[tProcessParameterLanguage]  WITH CHECK ADD  CONSTRAINT [FK_Deprecated_tProcessParameterLanguage_kProcessParameter] FOREIGN KEY([kProcessParameter])
REFERENCES [DEPRECATED].[tProcessParameter] ([kProcessParameter])
ON DELETE CASCADE
GO
ALTER TABLE [DEPRECATED].[tProcessParameterLanguage] CHECK CONSTRAINT [FK_Deprecated_tProcessParameterLanguage_kProcessParameter]
GO
