USE [eazybusiness]
GO
/****** Object:  View [DEPRECATED].[vKunde]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DEPRECATED].[vKunde]
AS
SELECT	tKunde.kKunde,
		tkunde.kInetKunde,
		tkunde.kKundenKategorie,
		tkunde.cKundenNr,
		tAdresse.cFirma,
		tAdresse.cAnrede,
		tAdresse.cTitel,
		tAdresse.cVorname,
		tAdresse.cName,
		tAdresse.cStrasse,
		tAdresse.cPLZ,
		tAdresse.cOrt,
		tAdresse.cLand,
		tAdresse.cTel,
		tAdresse.cFax,
		tAdresse.cMail AS cEmail,
		'' AS cAnmerkung,
		tkunde.dErstellt,
		'Y' AS cAktiv,
		tAdresse.cMobil,
		CAST('' AS CHAR(1)) AS cHaendler,
		tkunde.fRabatt,
		tAdresse.cUSTID,
		tkunde.cNewsletter,
		tAdresse.cZusatz,
		CAST('' AS NVARCHAR(60)) AS cZHaenden,
		tkunde.cEbayName,
		tkunde.kBuyer,
		tAdresse.cAdressZusatz,
		tkunde.cGeburtstag,
		tkunde.cWWW,
		tkunde.cSperre,
		tAdresse.cPostID,
		tkunde.kKundenGruppe,
		CAST(0 AS TINYINT) AS nDrittland,
		tkunde.nZahlungsziel,
		tkunde.kSprache,
		tAdresse.cISO,
		tAdresse.cBundesland,
		tkunde.cHerkunft,
		tkunde.cKassenKunde,
		'' AS cStatus,
		tkunde.cHRNr,
		tkunde.kZahlungsart,
		tkunde.nDebitorennr,
		tkunde.cSteuerNr,
		tkunde.nKreditlimit,
		tkunde.kKundenDrucktext,
		tkunde.nMahnstopp,
		tkunde.nMahnrhythmus,
		tkunde.kFirma,
		tkunde.fProvision,
		tkunde.nVertreter,
		tkunde.fSkonto,
		tkunde.nSkontoInTagen
FROM dbo.tkunde
JOIN dbo.tAdresse ON tAdresse.kKunde = tkunde.kKunde
					AND tAdresse.nStandard = 1
					AND tAdresse.nTyp = 1;
GO
