USE [eazybusiness]
GO
/****** Object:  Table [DEPRECATED].[tProcessParameterValue]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DEPRECATED].[tProcessParameterValue](
	[kProcessParameterValue] [int] IDENTITY(1,1) NOT NULL,
	[kProcessParameterAssignment] [int] NOT NULL,
	[kSecondaryReference] [int] NOT NULL,
	[iSecondaryReference] [uniqueidentifier] NOT NULL,
	[fValueDecimal] [decimal](25, 13) NULL,
	[nValueInt] [int] NULL,
	[dValueDateTime] [datetimeoffset](7) NULL,
	[cValueText] [nvarchar](max) NULL,
	[kFile] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kLinkedProcessParameterAssignment] [int] NULL,
 CONSTRAINT [PK_Deprecated_kProcessParameterValue] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Deprecated_tProcessParameterValue_kProcessParameterAssignment_kSecondaryReference] UNIQUE NONCLUSTERED 
(
	[kProcessParameterAssignment] ASC,
	[kSecondaryReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [DEPRECATED].[tProcessParameterValue]  WITH CHECK ADD  CONSTRAINT [FK_Deprecated_tProcessParameterValue_kFile] FOREIGN KEY([kFile])
REFERENCES [dbo].[tFile] ([kFile])
GO
ALTER TABLE [DEPRECATED].[tProcessParameterValue] CHECK CONSTRAINT [FK_Deprecated_tProcessParameterValue_kFile]
GO
ALTER TABLE [DEPRECATED].[tProcessParameterValue]  WITH CHECK ADD  CONSTRAINT [FK_Deprecated_tProcessParameterValue_kLinkedProcessParameterAssignment] FOREIGN KEY([kLinkedProcessParameterAssignment])
REFERENCES [DEPRECATED].[tProcessParameterAssignment] ([kProcessParameterAssignment])
GO
ALTER TABLE [DEPRECATED].[tProcessParameterValue] CHECK CONSTRAINT [FK_Deprecated_tProcessParameterValue_kLinkedProcessParameterAssignment]
GO
ALTER TABLE [DEPRECATED].[tProcessParameterValue]  WITH CHECK ADD  CONSTRAINT [FK_Deprecated_tProcessParameterValue_kProcessParameterAssignment] FOREIGN KEY([kProcessParameterAssignment])
REFERENCES [DEPRECATED].[tProcessParameterAssignment] ([kProcessParameterAssignment])
ON DELETE CASCADE
GO
ALTER TABLE [DEPRECATED].[tProcessParameterValue] CHECK CONSTRAINT [FK_Deprecated_tProcessParameterValue_kProcessParameterAssignment]
GO
