USE [eazybusiness]
GO
/****** Object:  View [DEPRECATED].[vBestellungAttribute]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DEPRECATED].[vBestellungAttribute]
AS 

SELECT 
	tAuftragAttribut.kAuftragAttribut AS kBestellungAttribute
	, tAuftragAttribut.kAuftrag AS kBestellung
	, tAttributSprache.cName AS cName
	, CASE
		WHEN tFeldTyp.nDatenTyp = 0 THEN CONVERT(NVARCHAR(MAX), tAuftragAttributSprache.nWertInt)
		WHEN tFeldTyp.nDatenTyp = 1 THEN CONVERT(NVARCHAR(MAX), FORMAT(tAuftragAttributSprache.fWertDecimal, 'G', 'de-de'))
		WHEN tFeldTyp.nDatenTyp = 2 THEN CONVERT(NVARCHAR(MAX), tAuftragAttributSprache.cWertVarchar)
		WHEN tFeldTyp.nDatenTyp = 3 THEN CONVERT(NVARCHAR(MAX), tAuftragAttributSprache.dWertDateTime, 120)
	  END AS cValue
FROM Verkauf.tAuftragAttribut
JOIN Verkauf.tAuftragAttributSprache ON tAuftragAttributSprache.kAuftragAttribut = tAuftragAttribut.kAuftragAttribut AND tAuftragAttributSprache.kSprache = 0
JOIN dbo.tAttribut ON tAttribut.kAttribut = tAuftragAttribut.kAttribut
JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAttribut.kAttribut AND tAttributSprache.kSprache = 0
JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
UNION ALL
SELECT
	0
	, tAuftrag.kAuftrag
	, 'Finanzierungskosten'
	, CONVERT(NVARCHAR(MAX), FORMAT(tAuftrag.fFinanzierungskosten, 'G', 'de-de'))
FROM Verkauf.tAuftrag
WHERE tAuftrag.fFinanzierungskosten > 0.0
GO
