USE [eazybusiness]
GO
/****** Object:  View [DEPRECATED].[ArtikelBildShop]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DEPRECATED].[ArtikelBildShop]
/* Copyright (c) 2012-2015 by JTL Software GmbH
 Datum: $Date: 2015-09-17 17:04:36 +0200 (Do, 17. Sep 2015) $
 Version: $Rev: 34452 $
 Autor: MP*/
AS
SELECT	dbo.tArtikelbildPlattform.kArtikelbildPlattform AS kArtikelBildPlattform,
		dbo.tArtikelbildPlattform.kShop AS kShop,
		dbo.tArtikelbildPlattform.nInet AS nInet,
		dbo.tArtikelbildPlattform.kBild AS kBild,
		dbo.tArtikelbildPlattform.nNr,
		dbo.tArtikelbildPlattform.kArtikel,
		mainArtikelbild.kArtikelbildPlattformMain AS kArtikelbildPlattformMain
FROM dbo.tArtikelbildPlattform
JOIN
(
	SELECT	MIN(dbo.tArtikelbildPlattform.kArtikelbildPlattform) AS kArtikelbildPlattformMain,
			dbo.tArtikelbildPlattform.kBild,
			dbo.tArtikelbildPlattform.kShop
	FROM dbo.tArtikelbildPlattform
	WHERE dbo.tArtikelbildPlattform.kShop > 0
	GROUP BY	dbo.tArtikelbildPlattform.kBild,
				dbo.tArtikelbildPlattform.kShop

) AS mainArtikelbild ON dbo.tArtikelbildPlattform.kBild = mainArtikelbild.kBild
	AND dbo.tArtikelbildPlattform.kShop = mainArtikelbild.kShop
GO
