USE [eazybusiness]
GO
/****** Object:  View [DEPRECATED].[vBestellung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DEPRECATED].[vBestellung]
AS 
SELECT	vAuftrag.kAuftrag AS kBestellung,
		(SELECT MAX(tRechnungPosition.kRechnung) 
			FROM Rechnung.tRechnungPosition 
			JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = tRechnungPosition.kAuftragPosition
			WHERE vAuftragPosition.kAuftrag =  vAuftrag.kAuftrag
		) AS tRechnung_kRechnung, 
		vAuftrag.kBenutzer AS tBenutzer_kBenutzer,
		kAdresse AS tAdresse_kAdresse,
		0 AS tText_kText,
		ISNULL(vAuftrag.kKunde, 0) AS tKunde_kKunde,
		vAuftrag.cAuftragsNr AS cBestellNr,
		CAST(CASE WHEN vAuftrag.nType = 0 THEN 'A'
			WHEN vAuftrag.nType = 1 THEN 'B'
			WHEN vAuftrag.nType = 3 THEN 'W'
			ELSE 'U'
		END AS CHAR(1)) AS cType,
		CAST(vAuftragText.cAnmerkung AS VARCHAR(4500)) AS cAnmerkung,
		CASE WHEN vAuftrag.dErstellt IS NULL THEN NULL ELSE vAuftrag.dErstellt END AS dErstellt,
		vAuftrag.nZahlungszielTage AS nZahlungsZiel,
		vAuftrag.kVersandArt AS tVersandArt_kVersandArt,
		ISNULL(CAST((SELECT TOP(1) vAuftragPosition.fVkNetto * ((100 + vAuftragPosition.fMwSt) / 100) FROM Verkauf.vAuftragPosition WHERE vAuftragPosition.kAuftrag = vAuftrag.kAuftrag AND vAuftragPosition.nType = 2) AS DECIMAL(25,13)), 0.0) AS fVersandBruttoPreis, -- BruttoSumme nTyp2
		ISNULL(CAST (0.0 AS DECIMAL(25,13)), 0.0) AS fRabatt, 
		vAuftrag.kShopauftrag AS kInetBestellung,
		CAST('' AS NVARCHAR(255)) AS cVersandInfo,
		vAuftragEckdaten.dLetzterVersand AS dVersandt,
		CAST('' AS NVARCHAR(255)) AS cIdentCode,
		CAST(CASE WHEN vAuftrag.nBeschreibung = 0 THEN 'N'
			WHEN vAuftrag.nBeschreibung = 1 THEN 'K' 
			WHEN vAuftrag.nBeschreibung = 2 THEN 'L'
		END AS CHAR(1)) AS cBeschreibung,
		vAuftrag.cInet AS cInet,
		vAuftrag.dVoraussichtlichesLieferdatum AS dLieferdatum,
		CASE WHEN vAuftrag.kAuftrag IS NULL THEN NULL ELSE vAuftrag.kAuftrag END AS kBestellHinweis,
		'##' AS cErloeskonto,
		vAuftrag.cWaehrung,
		vAuftrag.fFaktor AS fFaktor,
		vAuftrag.kShop,
		tFirmaHistory.kFirma AS kFirma,
		CASE WHEN vAuftrag.kAuftrag IS NULL THEN NULL ELSE 0 END AS kLogistik,
		ISNULL(CAST(vAuftrag.kPlattform AS INT), 0) AS nPlatform,
		vAuftrag.kSprache,
		ISNULL(CAST(0.0 AS DECIMAL(25,13)), 0.0) AS fGutschein,
		vAuftragEckdaten.dGedruckt,
		vAuftragEckdaten.dGemailt AS dMailVersandt,
		vAuftrag.cExterneAuftragsnummer AS cInetBestellNr,
		vAuftrag.kZahlungsart,
		CASE WHEN vAuftrag.kAuftrag IS NULL THEN NULL ELSE vAuftrag.kAuftrag END AS kLieferadresse,
		CASE WHEN vAuftrag.kAuftrag IS NULL THEN NULL ELSE vAuftrag.kAuftrag END AS kRechnungsadresse,
		CAST(CASE WHEN vAuftrag.nSteuereinstellung = 10 THEN 1 
			ELSE 0 
		END AS TINYINT) AS nIGL,
		CAST(vAuftrag.nSteuereinstellung AS TINYINT) AS nUstFrei,
		tVorgangsstatus.cName AS cStatus,
		vAuftragEckdaten.dVersandMail,
		vAuftragEckdaten.dZahlungsMail,
		vAuftrag.cEbayUsername AS cUserName,
		vAuftrag.cVerwendungszweck AS cVerwendungszweck,
		ISNULL(vAuftrag.fSkonto, 0.0) AS fSkonto,
		vAuftrag.kFarbe AS kColor,
		CAST(vAuftrag.nStorno AS TINYINT) AS nStorno,
		vAuftrag.cShopZahlungsmodul AS cModulID,
		CASE WHEN vAuftrag.kAuftrag IS NULL THEN NULL ELSE 0 END AS nZahlungstyp,
		CAST(CASE WHEN  vAuftrag.nHatUpload IS NULL THEN NULL ELSE vAuftrag.nHatUpload END AS INT) AS nHatUpload,
		vAuftrag.fZusatzGewicht,
		ISNULL(CAST(vAuftrag.nKomplettAusgeliefert AS TINYINT), 0) AS nKomplettAusgeliefert,
		vAuftragEckdaten.dBezahlt AS dBezahlt,
		NULL AS kSplitBestellung,
		CAST(vAuftragZahlungsinfo.cPuiZahlungsinfo AS NVARCHAR(MAX)) AS cPuiZahlungsdaten,
		CAST(vAuftrag.nLieferPrioritaet AS INT) AS nPrio,
		ISNULL(CAST(vAuftrag.cVersandlandISO AS NVARCHAR(5)), '') AS cVersandlandISO,
		ISNULL(CAST(vAuftrag.cUstId AS NVARCHAR(25)), '') AS cUstId,
		ISNULL(CAST(vAuftrag.nPremiumVersand AS TINYINT), 0) AS nPremium,
		vAuftrag.cVersandlandWaehrung,
		vAuftrag.fVersandlandWaehrungFaktor,
		ISNULL(vAuftrag.kRueckhaltegrund, 0) AS kRueckhaltegrund,
		CAST(vAuftrag.cOutboundId AS NVARCHAR(100)) AS cOutboundId,
		vAuftrag.kFulfillmentLieferant,
		vAuftrag.cKundenAuftragsnummer AS cKundenauftragsnummer,
		CAST(CASE
			WHEN vAuftrag.nIstReadOnly = 2
				THEN 1
			ELSE 0
		END AS BIT) AS nIstReadOnly,
		vAuftrag.cAmazonServiceLevel AS cAmazonServiceLevel,
		CAST(CASE
			WHEN vAuftrag.nIstExterneRechnung > 0
				THEN 1
			ELSE 0
		END AS BIT) AS nIstExterneRechnung,
		vAuftragKampagne.cKampagne,
		vAuftragKampagne.cKampagneDetail AS cKampagneParam,
		vAuftragKampagne.cKampagneName,
		vAuftragKampagne.cUserAgent,
		vAuftragKampagne.cReferrer,
		vAuftrag.nMaxLiefertage,
		vAuftrag.kAmazonUser
FROM Verkauf.vAuftrag
LEFT JOIN Verkauf.vAuftragText ON vAuftrag.kAuftrag = vAuftragText.kAuftrag
JOIN Verkauf.vAuftragEckdaten ON vAuftrag.kAuftrag = vAuftragEckdaten.kAuftrag
LEFT JOIN Verkauf.vAuftragKampagne ON vAuftrag.kAuftrag = vAuftragKampagne.kAuftrag
LEFT JOIN dbo.tAdresse ON vAuftrag.kKunde = tAdresse.kKunde
						AND tAdresse.nTyp = 1
						AND tAdresse.nStandard = 1
LEFT JOIN Verkauf.tVorgangsstatus ON vAuftrag.kVorgangsstatus = tVorgangsstatus.kVorgangsstatus
LEFT JOIN Verkauf.vAuftragZahlungsinfo ON vAuftrag.kAuftrag = vAuftragZahlungsinfo.kAuftrag
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = vAuftrag.kFirmaHistory
GO
