USE [eazybusiness]
GO
/****** Object:  Table [DEPRECATED].[tProcessParameterAssignment]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DEPRECATED].[tProcessParameterAssignment](
	[kProcessParameterAssignment] [int] IDENTITY(1,1) NOT NULL,
	[kProcessParameter] [int] NOT NULL,
	[kPrimaryReference] [int] NOT NULL,
	[iPrimaryReference] [uniqueidentifier] NOT NULL,
	[nUsageType] [int] NOT NULL,
	[nIsRequired] [bit] NOT NULL,
	[fDefaultValueDecimal] [decimal](25, 13) NULL,
	[nDefaultValueInt] [int] NULL,
	[cDefaultValueText] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nDeleted] [bit] NOT NULL,
	[kLinkedProcessParameter] [int] NULL,
 CONSTRAINT [PK_Deprecated_kProcessParameterAssignment] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterAssignment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Deprecated_tProcessParameterAssignment_kProcessParameter_kPrimaryReference] UNIQUE NONCLUSTERED 
(
	[kProcessParameter] ASC,
	[kPrimaryReference] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [DEPRECATED].[tProcessParameterAssignment] ADD  CONSTRAINT [DF_Deprecated_tProcessParameterAssignment_nUsageType]  DEFAULT ((0)) FOR [nUsageType]
GO
ALTER TABLE [DEPRECATED].[tProcessParameterAssignment] ADD  CONSTRAINT [DF_Deprecated_tProcessParameterAssignment_nIsRequired]  DEFAULT ((0)) FOR [nIsRequired]
GO
ALTER TABLE [DEPRECATED].[tProcessParameterAssignment] ADD  CONSTRAINT [DF_Deprecated_tProcessParameterAssignment_nDeleted]  DEFAULT ((0)) FOR [nDeleted]
GO
ALTER TABLE [DEPRECATED].[tProcessParameterAssignment]  WITH CHECK ADD  CONSTRAINT [FK_Deprecated_tProcessParameterAssignment_kLinkedProcessParameter] FOREIGN KEY([kLinkedProcessParameter])
REFERENCES [DEPRECATED].[tProcessParameter] ([kProcessParameter])
GO
ALTER TABLE [DEPRECATED].[tProcessParameterAssignment] CHECK CONSTRAINT [FK_Deprecated_tProcessParameterAssignment_kLinkedProcessParameter]
GO
ALTER TABLE [DEPRECATED].[tProcessParameterAssignment]  WITH CHECK ADD  CONSTRAINT [FK_Deprecated_tProcessParameterAssignment_kProcessParameter] FOREIGN KEY([kProcessParameter])
REFERENCES [DEPRECATED].[tProcessParameter] ([kProcessParameter])
ON DELETE CASCADE
GO
ALTER TABLE [DEPRECATED].[tProcessParameterAssignment] CHECK CONSTRAINT [FK_Deprecated_tProcessParameterAssignment_kProcessParameter]
GO
