USE [eazybusiness]
GO
/****** Object:  View [DEPRECATED].[vRechnungsadresse]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DEPRECATED].[vRechnungsadresse]
AS 
SELECT 
	vAuftragRechnungsadresse.kAuftrag AS kRechnungsadresse,
	vAuftragRechnungsadresse.kKunde,
	vAuftragRechnungsadresse.cFirma,
	vAuftragRechnungsadresse.cAnrede,
	vAuftragRechnungsadresse.cTitel,
	vAuftragRechnungsadresse.cVorname,
	vAuftragRechnungsadresse.cName,
	vAuftragRechnungsadresse.cStrasse,
	vAuftragRechnungsadresse.cPLZ,
	vAuftragRechnungsadresse.cOrt,
	vAuftragRechnungsadresse.cLand,
	vAuftragRechnungsadresse.cTel,
	vAuftragRechnungsadresse.cZusatz,
	vAuftragRechnungsadresse.cAdressZusatz,
	vAuftragRechnungsadresse.cPostID,
	vAuftragRechnungsadresse.cMobil,
	vAuftragRechnungsadresse.cMail,
	vAuftragRechnungsadresse.cFax,
	vAuftragRechnungsadresse.cBundesland,
	vAuftragRechnungsadresse.cISO,
	tKunde.cKundenNr,
	NULL AS cZHaenden
FROM Verkauf.vAuftragRechnungsadresse
LEFT JOIN dbo.tKunde ON tKunde.kKunde = vAuftragRechnungsadresse.kKunde
GO
