USE [eazybusiness]
GO
/****** Object:  Table [DEPRECATED].[tProcessParameter]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DEPRECATED].[tProcessParameter](
	[kProcessParameter] [int] IDENTITY(1,1) NOT NULL,
	[iRelation] [uniqueidentifier] NOT NULL,
	[iPrimaryReference] [uniqueidentifier] NOT NULL,
	[iSecondaryReference] [uniqueidentifier] NOT NULL,
	[nFieldType] [int] NOT NULL,
	[nOrigin] [int] NOT NULL,
	[cName] [nvarchar](100) NOT NULL,
	[cDescription] [nvarchar](max) NULL,
	[cGroupName] [nvarchar](150) NULL,
	[nSort] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Deprecated_kProcessParameter] PRIMARY KEY CLUSTERED 
(
	[kProcessParameter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Deprecated_tProcessParameter_iRelation_cName] UNIQUE NONCLUSTERED 
(
	[iRelation] ASC,
	[cName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [DEPRECATED].[tProcessParameter] ADD  CONSTRAINT [DF_Deprecated_tProcessParameter_nDeleted]  DEFAULT ((0)) FOR [nDeleted]
GO
