USE [eazybusiness]
GO
/****** Object:  View [DEPRECATED].[vBestellpos]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [DEPRECATED].[vBestellpos]
AS 
SELECT vAuftragPosition.kAuftragPosition AS kBestellPos,
		ISNULL(vAuftragPosition.kArtikel, 0) AS tArtikel_kArtikel,
		vAuftragPosition.kAuftrag AS tBestellung_kBestellung,
		ISNULL(CAST(vAuftragPosition.fVkNetto * ((100 + vAuftragPosition.fMwSt) / 100) AS DECIMAL(25,13)), 0.0) AS fVKPreis,
		vAuftragPosition.fMwSt,
		vAuftragPosition.fAnzahl AS nAnzahl,
		vAuftragPosition.fRabatt AS fRabatt,
		vAuftragPosition.cName AS cString,
		vAuftragPosition.fVkNetto,
		vAuftragPosition.cArtNr,
		CAST(vAuftragPosition.nType AS TINYINT) AS nType,
		vAuftragPosition.cHinweis,
		CAST(vAuftragPosition.nHatUpload AS INT) AS nHatUpload,
		CAST(vAuftragPosition.kKonfigVater AS NVARCHAR(30)) AS cUnique,
		vAuftragPosition.kKonfigItem,
		CAST(0 AS TINYINT) AS nDropshipping,
		vAuftragPosition.fEkNetto,
		CAST(AmazonBestellung.cOrderItemId AS NVARCHAR(255)) AS cOrderItemId,
		ebay_transaction.ItemID AS cItemID,
		ebay_transaction.TransactionID AS cTransactionID,
		vAuftragPosition.kAmazonBestellungPos,
		vAuftragPosition.nSort,
		ISNULL(vAuftragPosition.kAuftragStueckliste, 0) AS kBestellStueckliste,
		vAuftragPosition.cNameStandard AS cStringStandard,
		vAuftragPosition.cEinheit
FROM Verkauf.vAuftragPosition
LEFT JOIN dbo.ebay_transaction ON ebay_transaction.kTransaction = vAuftragPosition.kEbayTransaction
LEFT JOIN dbo.pf_amazon_bestellungpos AS AmazonBestellung ON AmazonBestellung.kAmazonBestellungPos = vAuftragPosition.kAmazonBestellungPos
GO
