USE [eazybusiness]
GO
/****** Object:  View [Ebay].[lvEbayKundenfeedback]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ebay].[lvEbayKundenfeedback]
AS
(
	SELECT 

		dbo.ebay_data_feedback_in.kFeedbackIn AS kFeedbackIn,
		dbo.ebay_data_feedback_in.CommentTime AS dCommentTime, -- wird später in DateTime konvertiert
		dbo.ebay_data_feedback_in.ItemID AS cItemId,
		dbo.ebay_data_feedback_in.CommentingUserScore AS nCommentingUserScore,
		dbo.ebay_data_feedback_in.CommentingUser AS cCommentingUser,
		dbo.ebay_data_feedback_in.CommentType AS cCommentType,
		dbo.ebay_data_feedback_in.CommentText AS cCommentText,
		dbo.ebay_data_feedback_in.FeedbackID AS cFeedbackID,
		dbo.ebay_data_feedback_in.FeedbackRole AS cFeedbackRole,
		dbo.ebay_data_feedback_in.TransactionID AS cTransactionID,
		dbo.ebay_item.kArtikel AS kArtikel,
		dbo.ebay_item.kEbayuser AS kEbayUser,
		dbo.ebay_item.kItem AS kEbayItem,
		dbo.ebay_item.SiteID AS nSiteId,
		dbo.ebay_item.Title AS cTitle,
		dbo.ebay_user.Name AS cEbayUserName,
		dbo.ebay_xx_sites.www + (CASE WHEN dbo.ebay_user.Umgebung = 'Sandbox' THEN ' (Sandbox)' ELSE '' END) AS cPlattform, 	
		dbo.tArtikel.cArtNr AS cArtikelnummer

	FROM ebay_data_feedback_in
	LEFT JOIN dbo.ebay_item ON dbo.ebay_item.ItemID = dbo.ebay_data_feedback_in.ItemID
	LEFT JOIN dbo.tArtikel ON dbo.tArtikel.kArtikel = dbo.ebay_item.kArtikel
	LEFT JOIN dbo.ebay_xx_sites ON dbo.ebay_xx_sites.SiteID = dbo.ebay_item.SiteID 
	LEFT JOIN dbo.ebay_user ON dbo.ebay_user.kEbayuser = dbo.ebay_item.kEbayuser
)
GO
