USE [eazybusiness]
GO
/****** Object:  View [Ebay].[lvEbayZuAktualisierendeAngebote]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ebay].[lvEbayZuAktualisierendeAngebote]
AS
(
	SELECT 
	 		
		ebay_item.kItem AS kEbayItem, 
		ebay_item.ItemID AS cItemId,  
		ebay_item.Title AS cTitle, 
		ebay_user.kEbayuser AS kEbayUser, 
		ebay_user.Name AS cEbayUserName, 
		ebay_item.SiteID AS nSiteId, 
		ebay_item.nVariationenAktiv AS nVariationenAktiv,	
		ebay_xx_sites.www + (CASE WHEN ebay_user.Umgebung = 'Sandbox' THEN ' (Sandbox)' ELSE '' END) AS cPlattform,
		tArtikel.cArtNr AS cArtikelnummer,
		CASE WHEN ebay_item.Status = 7 THEN 1 ELSE 0 END AS nFehler,

		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 1 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nRest, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 2 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nPreise, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 4 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nAngebotsmenge, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 8 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nKategorie, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 16 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nVersand, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 32 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nRueckgabe, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 64 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nZahlungsarten, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 128 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nBilderOderBeschreibung, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 256 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nVarkombisPreis, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 512 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nVarkombisNichtPreis, 
		CASE WHEN ebay_geaenderte_laufende_angebote.nChanges | 1024 = ebay_geaenderte_laufende_angebote.nChanges 
		THEN 1 
		ELSE 0 END AS nFahrzeugverwendungsliste,
		tArtikel.kArtikel AS kArtikel

	FROM dbo.ebay_geaenderte_laufende_angebote 
	JOIN dbo.ebay_item 
		ON ISNULL(ebay_geaenderte_laufende_angebote.nChanges, 0) <> 0 
		AND ebay_item.Status IN (3, 7) 
		AND ebay_item.kItem = ebay_geaenderte_laufende_angebote.kItem
	JOIN dbo.ebay_user ON ebay_user.kEbayuser = ebay_item.kEbayuser
	JOIN dbo.ebay_xx_sites ON ebay_xx_sites.SiteID = ebay_item.SiteID
	LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = ebay_item.kArtikel
);
GO
