USE [eazybusiness]
GO
/****** Object:  Table [Ebay].[tNegotiationGlobaleEinstellungen]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebay].[tNegotiationGlobaleEinstellungen](
	[kNegotiationGlobaleEinstellungen] [int] IDENTITY(1,1) NOT NULL,
	[kEbayuser] [int] NOT NULL,
	[nAutomatischVersenden] [tinyint] NOT NULL,
	[nIstProzentual] [tinyint] NOT NULL,
	[cNachricht] [nvarchar](2048) NOT NULL,
	[fRabattProzentual] [decimal](25, 13) NOT NULL,
	[fRabattAbsolut] [decimal](25, 13) NOT NULL,
	[nRabattMenge] [int] NOT NULL,
 CONSTRAINT [PK_Ebay_tNegotiationGlobaleEinstellungen] PRIMARY KEY CLUSTERED 
(
	[kNegotiationGlobaleEinstellungen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ebay].[tNegotiationGlobaleEinstellungen]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationGlobaleEinstellungen_kEbayuser] FOREIGN KEY([kEbayuser])
REFERENCES [dbo].[ebay_user] ([kEbayuser])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationGlobaleEinstellungen] CHECK CONSTRAINT [FK_Ebay_tNegotiationGlobaleEinstellungen_kEbayuser]
GO
