USE [eazybusiness]
GO
/****** Object:  Table [Ebay].[tNegotiationVerlauf]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebay].[tNegotiationVerlauf](
	[kNegotiationVerlauf] [int] IDENTITY(1,1) NOT NULL,
	[kEbayuser] [int] NOT NULL,
	[kEbayItem] [int] NULL,
	[nSiteId] [int] NOT NULL,
	[dZuletztAngefordert] [datetime] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kAlienItem] [int] NULL,
 CONSTRAINT [PK_Ebay_tNegotiationVerlauf] PRIMARY KEY CLUSTERED 
(
	[kNegotiationVerlauf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ebay].[tNegotiationVerlauf]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationVerlauf_kAlienItem] FOREIGN KEY([kAlienItem])
REFERENCES [dbo].[ebay_alienitem] ([kAlienItem])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationVerlauf] CHECK CONSTRAINT [FK_Ebay_tNegotiationVerlauf_kAlienItem]
GO
ALTER TABLE [Ebay].[tNegotiationVerlauf]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationVerlauf_kEbayItem] FOREIGN KEY([kEbayItem])
REFERENCES [dbo].[ebay_item] ([kItem])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationVerlauf] CHECK CONSTRAINT [FK_Ebay_tNegotiationVerlauf_kEbayItem]
GO
ALTER TABLE [Ebay].[tNegotiationVerlauf]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationVerlauf_kEbayuser] FOREIGN KEY([kEbayuser])
REFERENCES [dbo].[ebay_user] ([kEbayuser])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationVerlauf] CHECK CONSTRAINT [FK_Ebay_tNegotiationVerlauf_kEbayuser]
GO
ALTER TABLE [Ebay].[tNegotiationVerlauf]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationVerlauf_nSiteId] FOREIGN KEY([nSiteId])
REFERENCES [dbo].[ebay_xx_sites] ([SiteID])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationVerlauf] CHECK CONSTRAINT [FK_Ebay_tNegotiationVerlauf_nSiteId]
GO
