USE [eazybusiness]
GO
/****** Object:  Table [Ebay].[tEbayAbgleichLogeintrag]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebay].[tEbayAbgleichLogeintrag](
	[kEbayAbgleichLogeintrag] [int] IDENTITY(1,1) NOT NULL,
	[kEbayAbgleichLogsitzung] [int] NOT NULL,
	[dZeitpunkt] [datetime] NOT NULL,
	[nSchweregrad] [tinyint] NOT NULL,
	[cMeldung] [nvarchar](2048) NOT NULL,
	[kEbayUser] [int] NOT NULL,
	[kSiteId] [int] NOT NULL,
	[kItemId] [int] NOT NULL,
	[nVorgang] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Ebay_tEbayAbgleichLogeintrag] PRIMARY KEY CLUSTERED 
(
	[kEbayAbgleichLogeintrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ebay].[tEbayAbgleichLogeintrag]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tEbayAbgleichLogeintrag_kEbayAbgleichLogsitzung] FOREIGN KEY([kEbayAbgleichLogsitzung])
REFERENCES [Ebay].[tEbayAbgleichLogsitzung] ([kEbayAbgleichLogsitzung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tEbayAbgleichLogeintrag] CHECK CONSTRAINT [FK_Ebay_tEbayAbgleichLogeintrag_kEbayAbgleichLogsitzung]
GO
