USE [eazybusiness]
GO
/****** Object:  View [Ebay].[lvEbayKundenanfragen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ebay].[lvEbayKundenanfragen]
AS
(
	SELECT 

		dbo.ebay_data_membermessage_in.CreationDate AS dCreationDate, -- wird später in DateTime konvertiert
		dbo.ebay_data_membermessage_in.ItemID AS cItemId,
		dbo.ebay_data_membermessage_in.kMemberMessageIn AS kMemberMessageIn,
		dbo.ebay_data_membermessage_in.QuestionDisplayToPublic AS nPublic,
		dbo.ebay_data_membermessage_in.QuestionMessageID AS cMessageId,
		dbo.ebay_data_membermessage_in.QuestionSenderID AS cSenderId,
		dbo.ebay_data_membermessage_in.QuestionSubject AS cSubject,
		dbo.ebay_data_membermessage_in.QuestionBody AS cMessage,
		dbo.ebay_data_membermessage_in.Status AS nStatus,
		dbo.ebay_item.kArtikel AS kArtikel,
		dbo.ebay_item.kEbayuser AS kEbayUser,
		dbo.ebay_item.kItem AS kEbayItem,
		dbo.ebay_item.SiteID AS nSiteId,
		dbo.ebay_item.StartPrice AS fEbayItemPrice,
		dbo.ebay_item.Title AS cTitle,
		dbo.ebay_user.Name AS cEbayUserName,
		dbo.ebay_xx_sites.www + (CASE WHEN dbo.ebay_user.Umgebung = 'Sandbox' THEN ' (Sandbox)' ELSE '' END) AS cPlattform, 	
		dbo.tArtikel.cArtNr AS cArtikelnummer,
		dbo.tlagerbestand.fVerfuegbar AS fVerfuegbar

	FROM ebay_data_membermessage_in
	LEFT JOIN dbo.ebay_item ON dbo.ebay_item.ItemID = dbo.ebay_data_membermessage_in.ItemID
		AND LEN(ISNULL(dbo.ebay_data_membermessage_in.ItemID, '')) > 0
	LEFT JOIN dbo.tArtikel ON dbo.tArtikel.kArtikel = dbo.ebay_item.kArtikel
	LEFT JOIN dbo.ebay_xx_sites ON dbo.ebay_xx_sites.SiteID = dbo.ebay_item.SiteID 
	LEFT JOIN dbo.ebay_user ON dbo.ebay_user.kEbayuser = dbo.ebay_item.kEbayuser 
	LEFT JOIN dbo.tlagerbestand ON dbo.tlagerbestand.kArtikel = dbo.ebay_item.kArtikel
)
GO
