USE [eazybusiness]
GO
/****** Object:  Table [Ebay].[tNegotiationAngebotStatus]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebay].[tNegotiationAngebotStatus](
	[kNegotiationAngebotStatus] [int] IDENTITY(1,1) NOT NULL,
	[kEbayItem] [int] NULL,
	[cKaeuferMaskiert] [nvarchar](255) NOT NULL,
	[dErstellungsDatum] [datetime] NOT NULL,
	[nStatus] [tinyint] NOT NULL,
	[nDauer] [int] NOT NULL,
	[cDauerEinheit] [nvarchar](255) NOT NULL,
	[kAlienItem] [int] NULL,
 CONSTRAINT [PK_Ebay_tNegotiationAngebotStatus] PRIMARY KEY CLUSTERED 
(
	[kNegotiationAngebotStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ebay].[tNegotiationAngebotStatus]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationAngebotStatus_kAlienItem] FOREIGN KEY([kAlienItem])
REFERENCES [dbo].[ebay_alienitem] ([kAlienItem])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationAngebotStatus] CHECK CONSTRAINT [FK_Ebay_tNegotiationAngebotStatus_kAlienItem]
GO
ALTER TABLE [Ebay].[tNegotiationAngebotStatus]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationAngebotStatus_kEbayItem] FOREIGN KEY([kEbayItem])
REFERENCES [dbo].[ebay_item] ([kItem])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationAngebotStatus] CHECK CONSTRAINT [FK_Ebay_tNegotiationAngebotStatus_kEbayItem]
GO
