USE [eazybusiness]
GO
/****** Object:  View [Ebay].[lvEbayTransactions]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ebay].[lvEbayTransactions]
AS
(
	SELECT

	  CASE WHEN ebay_item.kItem IS NOT NULL 
		THEN REPLACE(dbo.ebay_item.Title, '#ARTGRUNDPREIS#', '') 
		ELSE ebay_alienitem.Title END AS cTitle,
	  ebay_transaction.SKU AS cSku,
	  ebay_transaction.QuantityPurchased AS nQuantityPurchased,
	  ebay_transaction.AmountPaid AS fAmountPaid,
	  CASE WHEN ISNULL(dbo.ebay_item.nPremium, 0) > 0 THEN 'Premium'
			 WHEN ISNULL(dbo.ebay_item.GalleryType, 'Gallery') = 'Plus' THEN 'Galerie Plus'	
		ELSE NULL 
		END AS cZusatzoptionen,		
	  ebay_buyer.Name AS cEbayBuyerName,
	  ebay_buyer.UserID AS cUserId,
	  ebay_transaction.CreateDate AS dCreateDate,
	  ebay_checkout.dErstelltAm AS dCheckoutErstelltAm,
	  ebay_checkout.dAbgeschlossenAm AS dAbgeschlossenAm,
	  CASE
		WHEN ebay_checkout.cZahlungsart IS NULL THEN 'Nein'
		WHEN ebay_checkout.cZahlungsart = 'PayPal' THEN CASE
			WHEN ebay_checkout.cPaymentStatus = 'NoPaymentFailure' THEN 'Ja'
			ELSE 'Nein'
		  END
		ELSE ISNULL((SELECT TOP 1
			dbo.ebay_xx_zahlungsmethoden.DisplayText
		  FROM dbo.ebay_xx_zahlungsmethoden
		  JOIN dbo.ebay_xx_sites
			ON dbo.ebay_xx_zahlungsmethoden.PaymentOption = dbo.ebay_checkout.cZahlungsart
			AND dbo.ebay_xx_sites.SiteID = dbo.ebay_xx_zahlungsmethoden.SiteID
		  JOIN dbo.tSpracheUsed
			ON dbo.tSpracheUsed.nStandard = 1
			AND dbo.tSpracheUsed.cISO = dbo.ebay_xx_sites.cSprachISO), dbo.ebay_checkout.cZahlungsart)
		END AS cBezahltOffen,	  
	  CASE WHEN ebay_checkout.cZahlungsart = 'PayPal' 
  		THEN 
			CASE WHEN ebay_checkout.cPaymentStatus = 'NoPaymentFailure'
			THEN ebay_checkout.dErstelltAm
			ELSE NULL END
		ELSE vAuftragEckdaten.dBezahlt END AS dBezahltAbgeschlossen,
	  ebay_xx_sites.www +
		  CASE
			WHEN ebay_user.Umgebung = 'Sandbox' THEN ' (Sandbox)'
			ELSE ''
		  END AS cPlattform,
	  ISNULL(ebay_user.Name, fallbackuser.Name) AS cEbayUserName,
	  ebay_transaction.nKonflikt AS nKonflikt,
	  ebay_buyer.Street AS cStreet,
	  ebay_buyer.Street1 AS cStreet1,
	  ebay_buyer.Street2 AS cStreet2,
	  ebay_buyer.CityName AS cCityName,
	  ebay_buyer.PostalCode AS cPostalCode,
	  ebay_buyer.CountryName AS cCountryName,
	  ebay_buyer.SA_Name AS cSA_Name,
	  ebay_buyer.SA_Street AS cSA_Street,
	  ebay_buyer.SA_Street1 AS cSA_Street1,
	  ebay_buyer.SA_Street2 AS cSA_Street2,
	  ebay_buyer.SA_CityName AS cSA_CityName,
	  ebay_buyer.SA_StateOrProvince AS cSA_StateOrProvince,
	  ebay_buyer.SA_PostalCode AS cSA_PostalCode,
	  ebay_buyer.SA_CountryName AS cSA_Countryname,
	  ebay_buyer.Email AS cEmail,
	  ebay_transaction.TransactionID AS cTransactionId,
	  tlagerbestand.fVerfuegbar AS fVerfuegbar,
	  ebay_transaction.ItemID AS cItemId,
	  ebay_item.kItem AS kEbayItem,
	  tsteuersatz.fSteuersatz AS fSteuersatz,
	  ebay_checkout.cZahlungsart AS cZahlungsart,
	  ebay_checkout.cPaymentStatus AS cPaymentStatus,
	  ebay_checkout.cVerwendungszweck AS cVerwendungszweck,
	  ISNULL(ebay_item.kArtikel, Alienartikel.kArtikel) AS kArtikel,
	  ISNULL(ebay_user.kEbayuser, fallbackuser.kEbayuser) AS kEbayUser,
	  ebay_item.nVariationenAktiv AS nVariationenAktiv,
	  ebay_transaction.kTransaction AS kTransaction,
	  ebay_buyer.kBuyer AS kBuyer,
	  ebay_transaction.nCheckout AS nCheckOut,
	  ebay_item.kTemplate AS kEbayTemplate,
	  ebay_item.Quantity AS nQuantity,
	  ebay_transaction.SiteID AS nSiteId,
	  ebay_data_feedback_in.CommentText AS cCommentTextIn,
	  ebay_data_feedback_in.CommentType AS cCommentTypeIn,
	  tArtikel.cArtNr AS cArtikelnummer,
	  ebay_transaction.cDispute AS cDispute,
	  CAST(vAuftrag.nKomplettAusgeliefert AS TINYINT) AS nKomplettAusgeliefert,
	  ebay_transaction.Status AS nTransactionStatus,
	  vAuftrag.cAuftragsNr AS cBestellNr,
	  CASE WHEN vAuftrag.nKomplettAusgeliefert = 2 AND ISNULL(Versandinfo.Versanddatum, vAuftragEckdaten.dLetzterVersand) IS NULL 
		   THEN vAuftrag.dErstellt
		   ELSE ISNULL(Versandinfo.Versanddatum, vAuftragEckdaten.dLetzterVersand) 
		   END AS dVersendet,
	  vAuftrag.kAuftrag AS kBestellung,
	  ebay_item.cRelistID AS cRelistId,
	  ebay_item.Status AS nEbayItemStatus,
	  ebay_item.Type AS cEbayItemType,
	  CASE WHEN ebay_item.ListingType = 'Chinese' THEN 1 
		   WHEN ebay_item.ListingType = 'FixedPriceItem' THEN 2 END AS nListingType,
	  ebay_item.nPremium AS nPremium,
	  CASE WHEN dbo.ebay_item.GalleryType = 'Gallery' THEN 1 
		   WHEN dbo.ebay_item.GalleryType = 'Plus' THEN 2 
		   WHEN dbo.ebay_item.GalleryType = 'Featured' THEN 3 END AS nGalleryType,
	  ebay_transaction.TransactionPrice AS fTransactionPrice, 
	  ebay_transaction.VariationTitle AS cVariationTitle, 
	  ebay_transaction.SSS_ShippingServiceCost AS fSSS_ShippingServiceCost, 
	  ebay_transaction.SSS_ShippingServiceAdditionalCost AS fSSS_ShippingServiceAdditionalCost, 
	  ebay_transaction.SSS_ShippingService AS cSSS_ShippingService, 
      ebay_transaction.kEigenschaftKombi AS kEigenschaftKombi,
      (
		SELECT CASE 
			WHEN ebay_versand_zahlung.nPaymentSuccessful = 1 AND ebay_versand_zahlung.nShippingSuccessful = 1 THEN 1
			WHEN ebay_versand_zahlung.nPaymentSuccessful = 0 AND ebay_versand_zahlung.nShippingSuccessful = 0 THEN 2
			WHEN ebay_versand_zahlung.nPaymentSuccessful = 1 AND ebay_versand_zahlung.nShippingSuccessful = -1 THEN 3
			WHEN ebay_versand_zahlung.nShippingSuccessful = 1 AND ebay_versand_zahlung.nPaymentSuccessful = -1 THEN 5
			WHEN ebay_versand_zahlung.nPaymentSuccessful = 0 THEN 4
			WHEN ebay_versand_zahlung.nShippingSuccessful = 0 THEN 6
			END AS nVersandZahlungStatus 
		FROM dbo.ebay_versand_zahlung 
			WHERE ebay_versand_zahlung.kEbayUser = ebay_transaction.kEbayUser
			AND ebay_versand_zahlung.cItemId = ebay_transaction.ItemID AND ebay_versand_zahlung.cTransactionId = ebay_transaction.TransactionID
		UNION
		SELECT CASE 
			WHEN ebay_versand_zahlung.nPaymentSuccessful = 1 AND ebay_versand_zahlung.nShippingSuccessful = 1 THEN 1
			WHEN ebay_versand_zahlung.nPaymentSuccessful = 0 AND ebay_versand_zahlung.nShippingSuccessful = 0 THEN 2
			WHEN ebay_versand_zahlung.nPaymentSuccessful = 1 AND ebay_versand_zahlung.nShippingSuccessful = -1 THEN 3
			WHEN ebay_versand_zahlung.nShippingSuccessful = 1 AND ebay_versand_zahlung.nPaymentSuccessful = -1 THEN 5
			WHEN ebay_versand_zahlung.nPaymentSuccessful = 0 THEN 4
			WHEN ebay_versand_zahlung.nShippingSuccessful = 0 THEN 6
			END AS nVersandZahlungStatus
		FROM dbo.ebay_versand_zahlung 
			WHERE ebay_versand_zahlung.kEbayUser = ebay_transaction.kEbayUser
			AND ebay_versand_zahlung.cOrderId = ebay_checkout.cOrderId
	  ) AS nVersandZahlungStatus
	FROM dbo.ebay_transaction
	LEFT JOIN ebay_xx_sites ON ebay_transaction.SiteID = ebay_xx_sites.SiteID
	LEFT JOIN ebay_item ON ebay_transaction.ItemID = ebay_item.ItemID
	LEFT JOIN ebay_alienitem ON ebay_transaction.ItemID = ebay_alienitem.ItemID
	LEFT JOIN ebay_user ON ebay_user.kEbayuser = CASE WHEN ebay_item.kItem IS NOT NULL THEN ebay_item.kEbayuser ELSE ebay_alienitem.kEbayuser END
	LEFT JOIN tArtikel ON ebay_item.kArtikel = tArtikel.kArtikel
	LEFT JOIN tArtikel AS Alienartikel ON ebay_transaction.SKU = Alienartikel.cArtNr
	LEFT JOIN tsteuersatz ON tArtikel.kSteuerklasse = tsteuersatz.kSteuerklasse
							AND tsteuersatz.kSteuerzone = 1
	LEFT JOIN tlagerbestand ON ebay_item.kArtikel = tlagerbestand.kArtikel
	LEFT JOIN Verkauf.vAuftrag ON ebay_transaction.kBestellung = vAuftrag.kAuftrag
	LEFT JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftrag.kAuftrag
	LEFT JOIN ebay_checkoutpos ON ebay_checkoutpos.ItemID = ebay_transaction.ItemID
							AND ebay_checkoutpos.TransactionID = ebay_transaction.TransactionID
	LEFT JOIN ebay_checkout ON ebay_checkout.kEbayCheckout = ebay_checkoutpos.kEbayCheckout
	LEFT JOIN ebay_user AS fallbackuser ON ebay_checkout.kEbayUser = fallbackuser.kEbayuser
	LEFT JOIN ebay_buyer ON ebay_transaction.kBuyer = ebay_buyer.kBuyer
	LEFT JOIN ebay_data_feedback_in ON ebay_transaction.ItemID = ebay_data_feedback_in.ItemID
									AND ebay_transaction.TransactionID = ebay_data_feedback_in.TransactionID
	LEFT JOIN
	(
		SELECT tLieferschein.kBestellung AS kBestellung, 
			MIN(tVersand.dVersendet) AS Versanddatum
		FROM dbo.tLieferschein
		JOIN dbo.tVersand ON tLieferschein.kLieferschein = tVersand.kLieferschein		
		GROUP BY tLieferschein.kBestellung
	) AS Versandinfo ON vAuftrag.kAuftrag = Versandinfo.kBestellung
)
GO
