USE [eazybusiness]
GO
/****** Object:  Table [Ebay].[tNegotiationAutomatisierung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebay].[tNegotiationAutomatisierung](
	[kNegotiationAutomatisierung] [int] IDENTITY(1,1) NOT NULL,
	[kEbayItem] [int] NULL,
	[nIstAngebotsIndividuell] [tinyint] NOT NULL,
	[nIstAutomatisiert] [tinyint] NOT NULL,
	[nIstProzentual] [tinyint] NOT NULL,
	[fRabattProzentual] [decimal](25, 13) NOT NULL,
	[fRabattAbsolut] [decimal](25, 13) NOT NULL,
	[cNachricht] [nvarchar](2048) NOT NULL,
	[nRabattmenge] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kAlienItem] [int] NULL,
 CONSTRAINT [PK_Ebay_tNegotiationAutomatisierung] PRIMARY KEY CLUSTERED 
(
	[kNegotiationAutomatisierung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ebay].[tNegotiationAutomatisierung]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationAutomatisierung_kAlienItem] FOREIGN KEY([kAlienItem])
REFERENCES [dbo].[ebay_alienitem] ([kAlienItem])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationAutomatisierung] CHECK CONSTRAINT [FK_Ebay_tNegotiationAutomatisierung_kAlienItem]
GO
ALTER TABLE [Ebay].[tNegotiationAutomatisierung]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationAutomatisierung_kEbayItem] FOREIGN KEY([kEbayItem])
REFERENCES [dbo].[ebay_item] ([kItem])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationAutomatisierung] CHECK CONSTRAINT [FK_Ebay_tNegotiationAutomatisierung_kEbayItem]
GO
