USE [eazybusiness]
GO
/****** Object:  View [Ebay].[lvEbayAngebote]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ebay].[lvEbayAngebote]
AS
(
	SELECT
		CAST(dbo.ebay_beschreibungstemplate.PaymentInstructions AS VARCHAR(MAX)) AS cZahlunghinweis, 
		dbo.ebay_de_laender.Description AS cCountryName, 
		dbo.ebay_de_waehrung.Currency AS cWaehrungIso, 
		dbo.ebay_item.bBestandReserviert AS nBestandReserviert,
		dbo.ebay_item.BestOfferAutoAcceptPrice AS fBestOfferAutoAcceptPrice, 
		dbo.ebay_item.BestOfferEnabled AS nBestOfferEnabled, 
		dbo.ebay_item.BestOfferMinPrice AS fBestOfferMinPrice, 
		dbo.ebay_item.BuyItNowPrice AS fBuyItNowPrice, 
		dbo.ebay_item.cRelistID AS cRelistId,
		dbo.ebay_item.cRueckgabefrist AS cRueckgabefrist, 
		dbo.ebay_item.cVersandkostenTraeger AS cVersandkostenTraeger, 
		dbo.ebay_item.DispatchTimeMax AS nDispatchTimeMax,
		dbo.ebay_item.fStreichPreis AS fStreichPreis,
		Artikel.fVKNetto AS fWawiPreisNetto,
		dbo.ebay_item.GetItFast AS nGetItFast, 
		dbo.ebay_item.ItemID AS cItemId, 
		dbo.ebay_item.kArtikel AS kArtikel, 
		dbo.ebay_item.kItem AS kEbayItem, 
		dbo.ebay_item.kKategorie AS kKategorie, 
		dbo.ebay_item.kTemplate AS kEbayVorlage, 
		dbo.ebay_item.ListingDuration AS cListingDuration, 
		dbo.ebay_item.ListingType AS cListingType,
		dbo.ebay_item.Location AS cLocation, 
		dbo.ebay_item.LotSize AS nLotSize, 		
		ISNULL(tAngebotsmenge.nMinAngebotsmenge, 0) AS nMinQuantity,
		ISNULL(tAngebotsmenge.nMaxAngebotsmenge, 0) AS nMaxQuantity,	
		dbo.ebay_item.nAutomatischEinstellen AS nAutomatischEinstellen, 		
		dbo.ebay_item.nEbayPlus AS nEbayPlus, 
		dbo.ebay_item.nPremium AS nPremium, 
		dbo.ebay_item.nVariationenAktiv AS nVariationenAktiv, 
		dbo.ebay_item.PaymentMethods AS cPaymentMethods, 
		dbo.ebay_item.PayPalEmailAddress AS cPayPalEmailAddress, 
		dbo.ebay_item.PostalCode AS cPostalCode, 
		dbo.ebay_item.Quantity AS nQuantity, 
		dbo.ebay_item.ReservePrice AS fReservePrice, 
		dbo.ebay_item.ShipToLocations AS cShipToLocations, 
		dbo.ebay_item.SiteID AS nSiteId, 
		dbo.ebay_item.SS_BidCount AS nBidCount, 
		dbo.ebay_item.SS_BidderCount AS nBidderCount, 
		dbo.ebay_item.SS_CurrentPrice AS fCurrentPrice, 
		dbo.ebay_item.SS_HighBidderUserId AS cHighBidderUserId, 
		dbo.ebay_item.StartPrice AS fStartPrice, 	
		dbo.ebay_item.Status AS nStatus, 
		dbo.ebay_item.SubTitle AS cSubTitle, 		 
		dbo.ebay_item.TemplateName AS cTemplateName, 
		REPLACE(dbo.ebay_item.Title, '#ARTGRUNDPREIS#', '') AS cTitle, 
		CASE WHEN dbo.ebay_item.Title LIKE '%#ARTGRUNDPREIS#%' THEN 1 ELSE 0 END AS nGrundpreisAngabe,
		dbo.ebay_item.TotalFees AS fTotalFees, 
		dbo.ebay_item.Type AS cType,		
		dbo.ebay_item.VATPercent AS fVatPercent,
		dbo.ebay_item.nSendVAT AS nSendVAT,
		dbo.ebay_item.ScheduleDate AS cScheduleDate,
		dbo.ebay_item.ScheduleTime AS cScheduleTime,
		dbo.ebay_item.nNurAnGewerbliche,
		ebay_userprofile_payment.ProfileName AS cUserProfilePayment,
		ebay_userprofile_shipping.ProfileName AS cUserProfileShipping,
		ebay_userprofile_return.ProfileName AS cUserProfileReturn,
		dbo.ebay_user.kEbayuser AS kEbayUser, 
		dbo.ebay_user.Name AS cEbayUserName, 
		dbo.ebay_vw_htmltemplate.cHtmlTemplateName AS cHtmlTemplateName, 
		dbo.ebay_xx_sites.www + (CASE WHEN dbo.ebay_user.Umgebung = 'Sandbox' THEN ' (Sandbox)' ELSE '' END) AS cPlattform, 	
		dbo.ebay_item.EndTime AS dEndtime, 
		dbo.ebay_item.StartTime AS dStarttime, 
		Artikel.cArtNr AS cArtikelnummer, 		
		Artikel.fEbayPreis AS fArtikelEbayPreis, 
		dbo.tKategorieSprache.cName AS cArtikelKategorieName, 
		Artikel.fInAuftraegen AS fReserviert, 
		Artikel.fVerfuegbar AS fVerfuegbar, 	
		Artikel.nUeberverkaeufeMoeglich AS nUeberverkaeufeMoeglich,
		ebayCategories1.CategoryId AS nEbayCategory1Id,
		ebayCategories2.CategoryId AS nEbayCategory2Id,
		ebayCategories1.CategoryName AS cEbayCategory1Name, 
		ebayCategories2.CategoryName AS cEbayCategory2Name, 
		ISNULL(tGesamtmenge.nGesamtmenge, 0) AS nGesamtmenge, 
		ISNULL(tAngebotsmenge.nAngebotsmenge, 0) AS nAngebotsmenge,
		ISNULL(tVerkauft.nVerkauft, 0) AS nVerkauft,
		'' AS cFehler,
		CASE	WHEN ISNULL(dbo.ebay_item.cStreichPreisTyp, '') = '' THEN 1 
				WHEN ISNULL(dbo.ebay_item.cStreichPreisTyp, '') = 'UvpProducer' THEN 2
				WHEN ISNULL(dbo.ebay_item.cStreichPreisTyp, '') = 'EbayCrossPriceExistingEbayPrice' THEN 3
				WHEN ISNULL(dbo.ebay_item.cStreichPreisTyp, '') = 'EbayCrossPriceExistingOtherPrice' THEN 4
		END AS nStreichPreisTyp,
		CASE	WHEN dbo.ebay_item.GalleryType = 'Gallery' THEN 1 
				WHEN dbo.ebay_item.GalleryType = 'Plus' THEN 2 
				WHEN dbo.ebay_item.GalleryType = 'Featured' THEN 3 END AS nGalleryType,

		CASE	WHEN ISNULL(dbo.ebay_item.HitCounter, '') = '' OR ISNULL(dbo.ebay_item.HitCounter, '') = 'NoHitCounter' THEN 1 
				WHEN ISNULL(dbo.ebay_item.HitCounter, '') = 'BasicStyle' THEN 2 
				WHEN ISNULL(dbo.ebay_item.HitCounter, '') = 'RetroStyle' THEN 3 
				WHEN ISNULL(dbo.ebay_item.HitCounter, '') = 'HiddenStyle' THEN 4 END AS nHitCounter, 

		CASE	WHEN dbo.ebay_item.ListingType = 'Chinese' THEN 1 
				WHEN dbo.ebay_item.ListingType = 'FixedPriceItem' THEN 2 END AS nListingType, 	

		CASE WHEN dbo.ebay_item.cRueckgabeMoeglich = 'ReturnsAccepted' THEN 1 ELSE 0 END AS nRueckgabeMoeglich, 

		CASE WHEN dbo.ebay_item.ScheduleServerSide = 'Y' THEN 1 ELSE 0 END AS nScheduleServerSide,

		CASE WHEN ISNULL(dbo.ebay_item.nPremium, 0) > 0 THEN 'Premium'
			 WHEN ISNULL(dbo.ebay_item.GalleryType, 'Gallery') = 'Plus' THEN 'Galerie Plus'	
		ELSE NULL 
		END AS cZusatzoptionen,		

		CASE WHEN tLaufendeVorlagen.kItem IS NULL THEN 0 ELSE 1 END AS nVorlageLaufend,
		ebay_shop_category.Name AS cShopCategory,
		ebay_shop_category2.Name AS cShopCategory2,
		Artikel.kSteuerklasse,
		ebay_user.kFirma,
        ebay_item.dBeendetUtc,
		Artikel.cHAN
	FROM dbo.ebay_item
	JOIN dbo.ebay_xx_sites ON dbo.ebay_xx_sites.SiteID = dbo.ebay_item.SiteID 
	LEFT JOIN dbo.ebay_user ON dbo.ebay_user.kEbayuser = dbo.ebay_item.kEbayuser
	LEFT JOIN dbo.tKategorieSprache ON dbo.tKategorieSprache.kKategorie = dbo.ebay_item.kKategorie
		AND dbo.tKategorieSprache.kSprache = 
		(
			SELECT kSprache 
			FROM dbo.tSpracheUsed 
			WHERE nStandard = 1
		)
		AND dbo.tKategorieSprache.kPlattform = 1
	LEFT JOIN (
		SELECT tArtikel.kArtikel, tArtikel.kSteuerklasse, tArtikel.fEbayPreis, tArtikel.cArtNr,
				tlagerbestand.fInAuftraegen, tlagerbestand.fVerfuegbar, tlagerbestand.nLagerKleinerNull AS nUeberverkaeufeMoeglich, tArtikel.fVKNetto, tArtikel.cHAN
			FROM dbo.tArtikel
			JOIN dbo.tlagerbestand ON dbo.tlagerbestand.kArtikel = dbo.tArtikel.kArtikel
		) AS Artikel ON Artikel.kArtikel = dbo.ebay_item.kArtikel
	JOIN dbo.ebay_de_waehrung ON dbo.ebay_de_waehrung.Currency = dbo.ebay_item.Currency    
	LEFT JOIN dbo.ebay_vw_htmltemplate ON dbo.ebay_vw_htmltemplate.kEbayHtmlTemplate = dbo.ebay_item.htmlTemplate     
	LEFT JOIN dbo.ebay_beschreibungstemplate ON dbo.ebay_beschreibungstemplate.kItem = dbo.ebay_item.kItem   
	JOIN dbo.ebay_de_laender ON dbo.ebay_de_laender.Country = dbo.ebay_item.Country  
	LEFT JOIN dbo.ebay_xx_categories AS ebayCategories1 
		ON ebayCategories1.SiteID = dbo.ebay_item.SiteID 
		AND ebayCategories1.CategoryId = dbo.ebay_item.PrimaryCategoryId
	LEFT JOIN dbo.ebay_xx_categories AS ebayCategories2 
		ON ebayCategories2.SiteID = dbo.ebay_item.SiteID 
		AND ebayCategories2.CategoryId = dbo.ebay_item.SecondaryCategoryId 
	LEFT JOIN 
	(
		SELECT tArtikel.kArtikel, ISNULL(tTemp1.nMenge, 0) + ISNULL(tTemp2.nMenge, 0) + ISNULL(tTemp3.nMenge, 0) AS nGesamtmenge
		FROM dbo.tArtikel 
		LEFT JOIN 
		(
			SELECT tArtikel.kArtikel, SUM(ebay_item.Quantity) AS nMenge
			FROM dbo.tArtikel 
			JOIN dbo.ebay_item ON ebay_item.kArtikel = tArtikel.kArtikel 
				AND ebay_item.Status IN (3, 7)
				AND ISNULL(ebay_item.nVariationenAktiv, 0) = 0
			GROUP BY tArtikel.kArtikel
		) AS tTemp1 ON tTemp1.kArtikel = tArtikel.kArtikel
		LEFT JOIN 
		(
			SELECT tArtikel.kArtikel, SUM(CAST(ebay_item2kombi.fAnzahl AS INT)) AS nMenge
			FROM dbo.tArtikel 
			JOIN dbo.ebay_item ON ebay_item.kArtikel = tArtikel.kArtikel 
				AND ebay_item.Status IN (3, 7)
			JOIN dbo.ebay_item2kombi ON ebay_item2kombi.kItem = ebay_item.kItem
			GROUP BY tArtikel.kArtikel
		) AS tTemp2 ON tTemp2.kArtikel = tArtikel.kArtikel
		LEFT JOIN 
		(
			SELECT tArtikel.kArtikel, SUM(CAST(ebay_item2kombi.fAnzahl AS INT)) AS nMenge
			FROM dbo.tArtikel 
			JOIN dbo.ebay_item2kombi ON ebay_item2kombi.kEigenschaftKombi = tArtikel.kEigenschaftKombi
			JOIN dbo.ebay_item ON ebay_item.kItem = ebay_item2kombi.kItem 
				AND ebay_item.Status IN (3, 7)
			GROUP BY tArtikel.kArtikel
		) AS tTemp3 ON tTemp3.kArtikel = tArtikel.kArtikel
	) AS tGesamtmenge ON tGesamtmenge.kArtikel = dbo.ebay_item.kArtikel
	JOIN
    (
        SELECT dbo.ebay_item.kItem,
            CASE WHEN ISNULL(dbo.ebay_item.nVariationenAktiv, 0) = 0
            THEN dbo.ebay_item.Quantity
            ELSE tVarKombis.nAnzahlSum END AS nAngebotsmenge,
            CASE WHEN ISNULL(dbo.ebay_item.nVariationenAktiv, 0) = 0
            THEN dbo.ebay_item.nMinQuantity
            ELSE tVarKombis.nMinAnzahlSum END AS nMinAngebotsmenge,
            CASE WHEN ISNULL(dbo.ebay_item.nVariationenAktiv, 0) = 0
            THEN dbo.ebay_item.MaxQuantity
            ELSE tVarKombis.nMaxAnzahlSum END AS nMaxAngebotsmenge
        FROM dbo.ebay_item
        LEFT JOIN
        (
            SELECT dbo.ebay_item2kombi.kItem,
                SUM(CAST(dbo.ebay_item2kombi.fAnzahl AS INT)) AS nAnzahlSum,
                SUM(CAST(dbo.ebay_item2kombi.fMinAnzahl AS INT)) AS nMinAnzahlSum,
                SUM(CAST(dbo.ebay_item2kombi.fMaxAnzahl AS INT)) AS nMaxAnzahlSum
            FROM dbo.ebay_item2kombi
            GROUP BY dbo.ebay_item2kombi.kItem
        ) tVarKombis ON tVarKombis.kItem = dbo.ebay_item.kItem
    ) AS tAngebotsmenge ON tAngebotsmenge.kItem = ebay_item.kItem
	LEFT JOIN
	(
		SELECT dbo.ebay_transaction.ItemID, SUM(dbo.ebay_transaction.QuantityPurchased) AS nVerkauft
		FROM dbo.ebay_transaction 
		GROUP BY dbo.ebay_transaction.ItemID
	) AS tVerkauft ON tVerkauft.ItemID = dbo.ebay_item.ItemID
	LEFT JOIN 
	(
		SELECT DISTINCT dbo.ebay_item.kTemplate AS kItem
		FROM dbo.ebay_item 
		WHERE dbo.ebay_item.Status IN (3, 7)
	) tLaufendeVorlagen ON tLaufendeVorlagen.kItem = dbo.ebay_item.kItem
	LEFT JOIN dbo.ebay_userprofile AS ebay_userprofile_payment ON dbo.ebay_item.kEbayuser = ebay_userprofile_payment.kEbayuser
		AND dbo.ebay_item.cEbayUserProfileIdPayment = ebay_userprofile_payment.ProfileID
		AND dbo.ebay_item.SiteID = ebay_userprofile_payment.SiteID
	LEFT JOIN dbo.ebay_userprofile AS ebay_userprofile_shipping ON dbo.ebay_item.kEbayuser = ebay_userprofile_shipping.kEbayuser
		AND dbo.ebay_item.cEbayUserProfileIdShipping = ebay_userprofile_shipping.ProfileID
		AND dbo.ebay_item.SiteID = ebay_userprofile_shipping.SiteID
	LEFT JOIN dbo.ebay_userprofile AS ebay_userprofile_return ON dbo.ebay_item.kEbayuser = ebay_userprofile_return.kEbayuser
		AND dbo.ebay_item.cEbayUserProfileIdReturn = ebay_userprofile_return.ProfileID
		AND dbo.ebay_item.SiteID = ebay_userprofile_return.SiteID
	LEFT JOIN dbo.ebay_shop_category AS ebay_shop_category ON ebay_shop_category.CategoryID = ebay_item.StoreCategoryId
		AND dbo.ebay_item.kEbayuser = ebay_shop_category.kEbayUser
	LEFT JOIN dbo.ebay_shop_category AS ebay_shop_category2 ON ebay_shop_category2.CategoryID = ebay_item.StoreCategory2Id
		AND dbo.ebay_item.kEbayuser = ebay_shop_category2.kEbayUser
);
GO
