USE [eazybusiness]
GO
/****** Object:  View [Ebay].[vProductCompliance]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ebay].[vProductCompliance]
AS
(    
	SELECT 
		ebay_userprofile.kEbayuser,
		ebay_userprofile.SiteID AS nSiteId,
		ebay_userprofile.ProfileType AS cProfileType,
		ebay_userprofile.ProfileID AS cProfileId,
		ebay_userprofile.ProfileName AS cProfileName,
		ebay_userprofile.ProfileDesc AS cProfileDesc
	FROM dbo.ebay_userprofile
	WHERE ebay_userprofile.ProfileType = 'PRODUCT_COMPLIANCE'
)
GO
