USE [eazybusiness]
GO
/****** Object:  Table [Ebay].[tEbayItemProductCompliance]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebay].[tEbayItemProductCompliance](
	[kItem] [int] NOT NULL,
	[cProfileId] [nvarchar](255) NOT NULL,
 CONSTRAINT [UQ_Ebay_tEbayItemProductCompliance_kItem_cProfileId] UNIQUE NONCLUSTERED 
(
	[kItem] ASC,
	[cProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ebay].[tEbayItemProductCompliance]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tEbayItemProductCompliance_kItem] FOREIGN KEY([kItem])
REFERENCES [dbo].[ebay_item] ([kItem])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tEbayItemProductCompliance] CHECK CONSTRAINT [FK_Ebay_tEbayItemProductCompliance_kItem]
GO
