USE [eazybusiness]
GO
/****** Object:  View [Ebay].[vEbayItemCustomPolicies]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ebay].[vEbayItemCustomPolicies]
AS
(
    
	SELECT 
		ebay_item.kItem,
		ebay_item.kEbayuser,
		ebay_item.cTakeBackId AS cId,
		ebay_userprofile.ProfileType AS cType		
	FROM dbo.ebay_item
	JOIN dbo.ebay_userprofile ON ebay_userprofile.ProfileID = ebay_item.cTakeBackId
		AND ebay_userprofile.ProfileType = 'TAKE_BACK'	
	UNION
	SELECT 
		ebay_item.kItem,
		ebay_item.kEbayuser,
		tEbayItemProductCompliance.cProfileId AS cId,
		ebay_userprofile.ProfileType AS cType		
	FROM dbo.ebay_item
	JOIN Ebay.tEbayItemProductCompliance ON tEbayItemProductCompliance.kItem = ebay_item.kItem
	JOIN dbo.ebay_userprofile ON ebay_userprofile.ProfileID = tEbayItemProductCompliance.cProfileId
		AND ebay_userprofile.ProfileType = 'PRODUCT_COMPLIANCE'
)
GO
