USE [eazybusiness]
GO
/****** Object:  Table [Ebay].[tNegotiationAngebot]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebay].[tNegotiationAngebot](
	[kNegotiationAngebot] [int] IDENTITY(1,1) NOT NULL,
	[kEbayItem] [int] NULL,
	[fRabattProzentual] [decimal](28, 14) NOT NULL,
	[fRabattAbsolut] [decimal](28, 14) NOT NULL,
	[nIstProzentual] [tinyint] NOT NULL,
	[cNachricht] [nvarchar](2048) NOT NULL,
	[nRabattmenge] [int] NOT NULL,
	[kAlienItem] [int] NULL,
	[nManuellSenden] [bit] NOT NULL,
 CONSTRAINT [PK_Ebay_tNegotiationAngebot] PRIMARY KEY CLUSTERED 
(
	[kNegotiationAngebot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ebay].[tNegotiationAngebot] ADD  CONSTRAINT [DF_Ebay_tNegotiationAngebot_nManuellSenden]  DEFAULT ((0)) FOR [nManuellSenden]
GO
ALTER TABLE [Ebay].[tNegotiationAngebot]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationAngebot_kAlienItem] FOREIGN KEY([kAlienItem])
REFERENCES [dbo].[ebay_alienitem] ([kAlienItem])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationAngebot] CHECK CONSTRAINT [FK_Ebay_tNegotiationAngebot_kAlienItem]
GO
ALTER TABLE [Ebay].[tNegotiationAngebot]  WITH CHECK ADD  CONSTRAINT [FK_Ebay_tNegotiationAngebot_kEbayItem] FOREIGN KEY([kEbayItem])
REFERENCES [dbo].[ebay_item] ([kItem])
ON DELETE CASCADE
GO
ALTER TABLE [Ebay].[tNegotiationAngebot] CHECK CONSTRAINT [FK_Ebay_tNegotiationAngebot_kEbayItem]
GO
