USE [eazybusiness]
GO
/****** Object:  Table [Ebay].[tEbayAbgleichLogsitzung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ebay].[tEbayAbgleichLogsitzung](
	[kEbayAbgleichLogsitzung] [int] IDENTITY(1,1) NOT NULL,
	[nTyp] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cRechnername] [nvarchar](64) NOT NULL,
	[dStart] [datetime] NOT NULL,
	[dEnde] [datetime] NULL,
	[nStatus] [tinyint] NULL,
	[cStatusMeldung] [nvarchar](2048) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Ebay_tEbayAbgleichLogsitzung] PRIMARY KEY CLUSTERED 
(
	[kEbayAbgleichLogsitzung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
