USE [eazybusiness]
GO
/****** Object:  View [Ebay].[lvEbayLogbuch]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ebay].[lvEbayLogbuch]
AS
(
	SELECT 
		ebay_logbuch.kEbayLogbuch, 
		ebay_logbuch.dZeit, 
		ebay_logbuch.cLog, 
		ebay_logbuch.nTyp, 
		ebay_logbuch.nKategorie, 
		ebay_logbuch.cBetreff, 
		ebay_logbuch.kEbayuser, 
		ebay_user.Name AS cEbayuserName,
		0 AS kItem
	FROM ebay_logbuch 
		LEFT OUTER JOIN ebay_user ON ebay_user.kEbayuser = ebay_logbuch.kEbayuser
	UNION ALL
	SELECT 
		- 1 AS kEbayLogbuch, 
		dDatum AS dZeit, 
		cText AS cLog, 
		1 AS NTyp, 
		0 AS nKategorie, 
		cString AS cBetreff, 
		0 AS kEbayuser, 
		null AS cEbayuserName,
		kItem
	FROM ebay_log
);
GO
