USE [eazybusiness]
GO
/****** Object:  View [Ebay].[lvEbayPreisvorschlaege]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ebay].[lvEbayPreisvorschlaege]
AS
(
	SELECT 

		dbo.ebay_bestoffer.BestOfferID AS cBestOfferId, 
		dbo.ebay_bestoffer.CounterMessage AS cCounterMessage, 
		dbo.ebay_bestoffer.CounterPrice AS fCounterPrice, 
		dbo.ebay_bestoffer.CounterQuantity AS nCounterQuantity, 
		dbo.ebay_bestoffer.Currency AS cCurrency, 
		dbo.ebay_bestoffer.Email AS cEmail, 
		dbo.ebay_bestoffer.ExpirationTime AS dExpirationTime, 
		dbo.ebay_bestoffer.FeedbackScore AS nFeedbackScore, 
		dbo.ebay_bestoffer.ItemID AS cItemId, 
		dbo.ebay_bestoffer.Message AS cMessage, 
		dbo.ebay_bestoffer.Price AS fPrice, 
		dbo.ebay_bestoffer.Quantity AS nQuantity, 
		dbo.ebay_bestoffer.UserID AS cUserId, 
		dbo.ebay_item.kArtikel AS kArtikel,
		dbo.ebay_item.kEbayuser AS kEbayUser, 
		dbo.ebay_item.SiteID AS nSiteId, 
		dbo.ebay_item.StartPrice AS fEbayItemPrice, 
		dbo.ebay_item.Title AS cTitle, 		
		dbo.ebay_xx_sites.www + (CASE WHEN dbo.ebay_user.Umgebung = 'Sandbox' THEN ' (Sandbox)' ELSE '' END) AS cPlattform, 	
		dbo.tArtikel.cArtNr AS cArtikelnummer

	FROM dbo.ebay_bestoffer 
	LEFT JOIN dbo.ebay_item ON dbo.ebay_item.ItemID = dbo.ebay_bestoffer.ItemID    
	LEFT JOIN dbo.tArtikel ON dbo.tArtikel.kArtikel = dbo.ebay_item.kArtikel
	LEFT JOIN dbo.ebay_user ON dbo.ebay_user.kEbayuser = dbo.ebay_item.kEbayuser
	LEFT JOIN dbo.ebay_xx_sites ON dbo.ebay_xx_sites.SiteID = dbo.ebay_item.SiteID
)
GO
