USE [eazybusiness]
GO
/****** Object:  Table [Einstellung].[tVorgangsfarbe]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Einstellung].[tVorgangsfarbe](
	[kVorgangsfarbe] [int] IDENTITY(1,1) NOT NULL,
	[cBedeutung] [nvarchar](255) NOT NULL,
	[nRotwert] [tinyint] NULL,
	[nGruenwert] [tinyint] NULL,
	[nBlauwert] [tinyint] NULL,
	[nAlphawert] [tinyint] NULL,
	[nAngebot] [bit] NULL,
	[nAuftrag] [bit] NULL,
	[nRechnung] [bit] NULL,
	[nRechnungskorrektur] [bit] NULL,
	[nAktiv] [bit] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Einstellung_tVorgangsfarbe] PRIMARY KEY CLUSTERED 
(
	[kVorgangsfarbe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
