USE [eazybusiness]
GO
/****** Object:  Table [Firma].[tFirmaEigenesFeld]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Firma].[tFirmaEigenesFeld](
	[kFirmaEigenesFeld] [int] IDENTITY(1,1) NOT NULL,
	[kFirma] [int] NOT NULL,
	[kAttribut] [int] NOT NULL,
	[cWertVarchar] [nvarchar](max) NULL,
	[nWertInt] [int] NULL,
	[fWertDecimal] [decimal](25, 13) NULL,
	[dWertDateTime] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Firma_tFirmaEigenesFeld] PRIMARY KEY CLUSTERED 
(
	[kFirmaEigenesFeld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Firma_tFirmaEigenesFeld_kAttribut_kFirma] UNIQUE NONCLUSTERED 
(
	[kAttribut] ASC,
	[kFirma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
