USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tMerchantStockChangeRef]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tMerchantStockChangeRef](
	[kMerchantStockChangeRef] [int] IDENTITY(1,1) NOT NULL,
	[kMerchantStockChange] [int] NOT NULL,
	[kWarenlagerEingang] [int] NULL,
	[kWarenlagerAusgang] [int] NULL,
 CONSTRAINT [PK_FulfillmentNetwork.tMerchantStockChangeRef] PRIMARY KEY CLUSTERED 
(
	[kMerchantStockChangeRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
