USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tMerchantProductUpdateQueue]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tMerchantProductUpdateQueue](
	[kMerchantProductUpdateQueue] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[nProcessing] [int] NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tMerchantProductUpdateQueue] PRIMARY KEY CLUSTERED 
(
	[kMerchantProductUpdateQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
