USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillerProductPicture]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [FulfillmentNetwork].[vFulfillerProductPicture] 
AS
SELECT 
	ArtikelbildPlattform.kArtikelbildPlattform,
	ArtikelbildPlattform.kArtikel,
	ArtikelbildPlattform.kPlattform,
	ArtikelbildPlattform.nNr,
	ArtikelbildPlattform.kShop,
	ArtikelbildPlattform.kEbayUser,
	Bild.kBild,
	Bild.bRowversion AS bBildRowVersion,
	Bild.bBild
FROM
[dbo].[tArtikelbildPlattform] AS ArtikelbildPlattform
JOIN [dbo].[tBild] AS Bild ON Bild.kBild = ArtikelbildPlattform.kBild
GO
