USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vAmazonSfpShippingdata]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [FulfillmentNetwork].[vAmazonSfpShippingdata]
AS
SELECT 
	dbo.tVersand.kVersand as kVersand,
	dbo.tVersand.fGewicht as PackageWeight,
	dbo.tAmazonVersandschnittstellenkonfiguration.nAutoCalcWeight as [ShippingMethod.AutoCalcWeight],
	dbo.tAmazonVersandschnittstellenkonfiguration.dWeight as [ShippingMethod.Weight],
	dbo.tAmazonVersandschnittstellenkonfiguration.dHeight as [ShippingMethod.Height],
	dbo.tAmazonVersandschnittstellenkonfiguration.dLength as [ShippingMethod.Length],
	dbo.tAmazonVersandschnittstellenkonfiguration.dWidth as [ShippingMethod.Width],
	dbo.tAmazonVersandschnittstellenkonfiguration.fMinWeight as [ShippingMethod.MinWeight],
	dbo.tAmazonVersandschnittstellenkonfiguration.nCarrierWillPickUp as [ShippingMethod.CarrierWillPickUp],
	dbo.tAmazonVersandschnittstellenkonfiguration.nAdditionalInsurance as [ShippingMethod.UseInsurance],
	dbo.tAmazonVersandschnittstellenkonfiguration.nUseWarenlagerAdresse as [ShippingMethod.UseWarhouseAddress]
FROM dbo.tversand 
JOIN dbo.tAmazonVersandschnittstellenkonfiguration ON dbo.tAmazonVersandschnittstellenkonfiguration.kVersandart = dbo.tversand.kVersandArt
GO
