USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tOutboundRef]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tOutboundRef](
	[kOutboundRef] [int] IDENTITY(1,1) NOT NULL,
	[kFulfillmentAuftrag] [int] NULL,
	[kBestellung] [int] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[cOwnerId] [nvarchar](10) NULL,
	[cOutboundId] [nvarchar](255) NULL,
	[cNote] [nvarchar](max) NULL,
	[nChangeState] [tinyint] NULL,
	[cWarehouseId] [nvarchar](255) NULL,
	[bRowVersion] [binary](8) NOT NULL,
	[dObjectVersion] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tOutboundRef] PRIMARY KEY CLUSTERED 
(
	[kOutboundRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tOutboundRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tOutboundRef_kBestellung] FOREIGN KEY([kBestellung])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tOutboundRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tOutboundRef_kBestellung]
GO
ALTER TABLE [FulfillmentNetwork].[tOutboundRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tOutboundRef_kFulfillmentAuftrag] FOREIGN KEY([kFulfillmentAuftrag])
REFERENCES [dbo].[tFulfillmentAuftrag] ([kFulfillmentAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tOutboundRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tOutboundRef_kFulfillmentAuftrag]
GO
