USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tFulfillerLieferscheinRef]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tFulfillerLieferscheinRef](
	[kFulfillerLieferscheinRef] [int] IDENTITY(1,1) NOT NULL,
	[kLieferschein] [int] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[cOwnerId] [nvarchar](10) NULL,
	[bRowVersion] [binary](8) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tFulfillerLieferscheinRef] PRIMARY KEY CLUSTERED 
(
	[kFulfillerLieferscheinRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tFulfillerLieferscheinRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tFulfillerLieferscheinRef_kLieferschein] FOREIGN KEY([kLieferschein])
REFERENCES [dbo].[tLieferschein] ([kLieferschein])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tFulfillerLieferscheinRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tFulfillerLieferscheinRef_kLieferschein]
GO
