USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillerLieferscheinPosSeriennummer]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vFulfillerLieferscheinPosSeriennummer]
AS
SELECT LPos.kLieferschein,
       SN.kLieferscheinPos,
       SN.cSeriennr
FROM dbo.tLagerArtikel SN
         JOIN dbo.tLieferscheinPos LPos
              ON SN.kLieferscheinPos = LPos.kLieferscheinPos
GO
