USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantPendingLieferavis]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantPendingLieferavis]
AS
SELECT tLieferavis.kLieferavis,
       tLieferavis.kLieferantenBestellung,
       tLieferavis.dErstellt,
       tLieferavis.dLieferdatum,
       tLieferavis.cNummer,
       tLieferavis.cNotiz,
       FulfillmentNetwork.tInboundRef.cInboundId

FROM dbo.tLieferavis
         JOIN dbo.tLieferantenBestellung ON tLieferantenBestellung.kLieferantenBestellung = tLieferavis.kLieferantenBestellung
         JOIN dbo.tWarenLager ON tWarenLager.kWarenLager = tLieferantenBestellung.kLager
         JOIN FulfillmentNetwork.tInboundRef ON tInboundRef.kLieferantenBestellung = tLieferantenBestellung.kLieferantenBestellung
         LEFT JOIN FulfillmentNetwork.tInboundShippingNotificationRef ON tInboundShippingNotificationRef.kLieferavis = tLieferavis.kLieferavis
WHERE dbo.tWarenLager.nFulfillment = 3
  AND dbo.tWarenLager.nAktiv = 1
  AND dbo.tLieferantenBestellung.nStatus >= 20
  AND tInboundShippingNotificationRef.kLieferavis IS NULL
GO
