USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[lvLagerkostenRegeln]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[lvLagerkostenRegeln]
AS
SELECT  ROW_NUMBER() OVER ( ORDER BY AbrechnungLagerplatz.kAbrechnungLagerplatz ) AS nRegel ,
        AbrechnungLagerplatz.kAbrechnungLagerplatz ,
        AbrechnungLagerplatz.kLieferant ,
        AbrechnungLagerplatz.kWarenLagerPlatz ,
        AbrechnungLagerplatz.kWarenLagerPlatzTyp ,
        AbrechnungLagerplatz.kWMSLagerBereich ,
        AbrechnungLagerplatz.kWarenlager ,
        AbrechnungLagerplatz.nModus ,
        AbrechnungLagerplatz.nLagerkostenBerechnung ,
        AbrechnungLagerplatz.kArtikel ,
        Artikel.cArtNr ,
		Artikel.cName AS cArtikelname,
        Bereich.cKuerzel AS cBereich ,
        AbrechnungLagerplatz.cSessionId , 
        NetPrice.dNettoPreis * ( 1 + ( FulfillmentNetwork.ifAbrechnungSteuersatz(Kunde.kKunde,Artikel.kSteuerklasse) / 100 ) ) AS fVKPreis ,
		Platz.cName AS cWarenLagerPlatzName
FROM    FulfillmentNetwork.tAbrechnungLagerplatzPreview AS AbrechnungLagerplatz
        LEFT JOIN dbo.tlieferant AS Lieferant ON Lieferant.kLieferant = AbrechnungLagerplatz.kLieferant
        LEFT JOIN dbo.vStandardArtikel AS Artikel ON Artikel.kArtikel = AbrechnungLagerplatz.kArtikel
        LEFT JOIN dbo.tWMSLagerBereich AS Bereich ON Bereich.kWMSLagerBereich = AbrechnungLagerplatz.kWMSLagerBereich
        LEFT JOIN FulfillmentNetwork.tFulfillerEinstellungen AS FulfillerEinstellungen ON FulfillerEinstellungen.kLieferant = AbrechnungLagerplatz.kLieferant
        LEFT JOIN dbo.tkunde AS Kunde ON Kunde.kKunde = FulfillerEinstellungen.kKunde     
        LEFT JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1
		LEFT JOIN dbo.tWarenLagerPlatz AS Platz ON Platz.kWarenLagerPlatz = AbrechnungLagerplatz.kWarenLagerPlatz
		OUTER  APPLY dbo.ifGetNetPrice(Artikel.kArtikel, Kunde.kKunde,
                                      Kunde.kKundenGruppe, 0, 1) AS NetPrice;
GO
