USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vReturnItem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vReturnItem] AS
SELECT DISTINCT
    tRMRetourePos.kRMRetourePos,
    tRMRetoure.kRMRetoure,
    tRMRetourePos.kArtikel AS ArtikelPk,
    vProduct.Jfsku,
    tRMRetourePos.fAnzahl AS WawiQuantity,
    tReturnItemRef.fQuantity AS ApiQuantity,
    tOutboundRef.cOutboundId AS OutboundId,
    CASE WHEN dbo.tFulfillmentAuftragPos.kFulfillmentAuftragPos IS NULL THEN FulfillmentNetwork.tOutboundItemRef.cOutboundItemId ELSE CAST(tFulfillmentAuftragPos.kFulfillmentAuftragPos AS varchar) END AS OutboundItemId,
    tRMRetourePos.cGrundKommentar AS GrundKommentar,
    dbo.tRMRetourePos.cZustandKommentar AS ZustandKommentar,
    tReturnItemRef.cReturnItemId AS ReturnItemId,
    tReturnRef.cReturnId AS ReturnId,
    tRMStatus.nStatusTyp AS StatusTyp,
    dbo.tLieferscheinPos.kLieferscheinPos AS LieferscheinPosPk,
    tRMRetourePos.kRMGrund AS GrundPk,
    tRMRetourePos.kZustand AS ZustandPk,
	vProduct.WawiProductNumber AS ArtikelNummer,
	vProduct.Name AS Artikelname
FROM tRMRetourePos
         JOIN tRMStatusVerlauf ON tRMStatusVerlauf.kRMStatusVerlauf = tRMRetourePos.kRMStatusVerlauf
         JOIN tRMStatus On tRMStatus.kRMStatus = tRMStatusVerlauf.kRMStatus
         JOIN tRmRetoure ON tRMRetourePos.kRmRetoure = tRMRetoure.kRMRetoure
         LEFT JOIN tLieferscheinPos ON tLieferscheinPos.kLieferscheinPos = tRMRetourePos.kLieferscheinPos
         LEFT JOIN tLieferschein ON tLieferschein.kLieferschein = tLieferscheinPos.kLieferschein
         LEFT JOIN tFulfillmentAuftragPos ON tFulfillmentAuftragPos.kLieferscheinPos = tLieferscheinPos.kLieferscheinPos
         JOIN FulfillmentNetwork.vProduct ON vProduct.Pk = tRMRetourePos.kArtikel
         LEFT JOIN FulfillmentNetwork.tOutboundRef ON tOutboundRef.kFulfillmentAuftrag = tFulfillmentAuftragPos.kFulfillmentAuftrag
         LEFT JOIN FulfillmentNetwork.tReturnItemRef ON tReturnItemRef.kRmRetourePos = tRMRetourePos.kRMRetourePos
         LEFT JOIN FulfillmentNetwork.tOutboundItemRef ON tOutboundItemRef.kAuftragPosition = tLieferscheinPos.kBestellPos
         LEFT JOIN FulfillmentNetwork.tReturnRef ON tReturnRef.kRmRetoure = tRMRetoure.kRMRetoure
GO
