USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantFailureInbound]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantFailureInbound]
AS
SELECT *
FROM FulfillmentNetwork.vMerchantInbound
WHERE UpdatedAt IS NOT NULL
      AND ChangeState = 2
      AND LieferantenBestellungStatus = 20;
GO
