USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tVorgangType]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tVorgangType](
	[kVorgangType] [int] NOT NULL,
	[cId] [varchar](128) NOT NULL,
	[kUserType] [int] NOT NULL,
	[kScopeType] [int] NOT NULL,
	[cWawiKeyType] [varchar](64) NOT NULL,
	[cFfnKeyType] [varchar](64) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork.tVorgangType] PRIMARY KEY CLUSTERED 
(
	[kVorgangType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tVorgangType]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tVorgangType_kScopeType] FOREIGN KEY([kScopeType])
REFERENCES [FulfillmentNetwork].[tScopeType] ([kScopeType])
GO
ALTER TABLE [FulfillmentNetwork].[tVorgangType] CHECK CONSTRAINT [FK_FulfillmentNetwork_tVorgangType_kScopeType]
GO
ALTER TABLE [FulfillmentNetwork].[tVorgangType]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tVorgangType_kUserType] FOREIGN KEY([kUserType])
REFERENCES [FulfillmentNetwork].[tUserType] ([kUserType])
GO
ALTER TABLE [FulfillmentNetwork].[tVorgangType] CHECK CONSTRAINT [FK_FulfillmentNetwork_tVorgangType_kUserType]
GO
