USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tLieferantWarenlager]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tLieferantWarenlager](
	[kLieferantWarenlager] [int] IDENTITY(1,1) NOT NULL,
	[kLieferant] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.tLieferantWarenlager] PRIMARY KEY CLUSTERED 
(
	[kLieferantWarenlager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
