USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tInboundRef]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tInboundRef](
	[kInboundRef] [int] IDENTITY(1,1) NOT NULL,
	[kLieferantenBestellung] [int] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[cOwnerId] [nvarchar](10) NULL,
	[cInboundId] [nvarchar](255) NULL,
	[nChangeState] [tinyint] NULL,
	[nRetryAttempts] [int] NOT NULL,
	[bRowVersion] [binary](8) NOT NULL,
	[nInboundStatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tInboundRef] PRIMARY KEY CLUSTERED 
(
	[kInboundRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tInboundRef] ADD  CONSTRAINT [DF_FulfillmentNetwork_tInboundRef_nInboundStatus]  DEFAULT ((0)) FOR [nInboundStatus]
GO
ALTER TABLE [FulfillmentNetwork].[tInboundRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tInboundRef_kLieferantenBestellung] FOREIGN KEY([kLieferantenBestellung])
REFERENCES [dbo].[tLieferantenBestellung] ([kLieferantenBestellung])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tInboundRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tInboundRef_kLieferantenBestellung]
GO
