USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vAbrechnung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vAbrechnung]
AS
    SELECT  Abrechung.kAbrechnung ,
            Abrechung.kBenutzer ,
            Abrechung.kKunde ,
            Abrechung.kFirma ,
            Abrechung.kFulfillmentLieferant ,
            Abrechung.cAbrechnungsNummer ,
            Abrechung.cAnmerkung ,
            Abrechung.dAbrechnungVon ,
            Abrechung.dAbrechnungBis ,
			Bestellung.kAuftrag AS kBestellung ,
            Abrechung.dAuftragErstellt ,
            Abrechung.nStorno ,
			Bestellung.cAuftragsNr AS cBestellNr
    FROM    FulfillmentNetwork.tAbrechnung AS Abrechung
            LEFT JOIN Verkauf.vAuftrag AS Bestellung ON Abrechung.kBestellung = Bestellung.kAuftrag;
GO
