USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tAbrechnungPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tAbrechnungPos](
	[kAbrechnungPos] [int] IDENTITY(1,1) NOT NULL,
	[kAbrechnung] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kAbrechnungStueckliste] [int] NOT NULL,
	[cBezeichnung] [nvarchar](255) NULL,
	[cArtNr] [nvarchar](100) NULL,
	[cEinheit] [nvarchar](255) NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fVKNetto] [decimal](25, 13) NOT NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[fVKPreis] [decimal](25, 13) NOT NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[nSort] [int] NOT NULL,
	[cHinweis] [nvarchar](4000) NULL,
	[nType] [tinyint] NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tAbrechnungPos] PRIMARY KEY CLUSTERED 
(
	[kAbrechnungPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
