USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tAbrechnungLagerplatzPreview]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tAbrechnungLagerplatzPreview](
	[kAbrechnungLagerplatz] [int] IDENTITY(1,1) NOT NULL,
	[kLieferant] [int] NOT NULL,
	[kWarenLagerPlatz] [int] NOT NULL,
	[kWarenLagerPlatzTyp] [int] NOT NULL,
	[kWMSLagerBereich] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[nModus] [int] NOT NULL,
	[nLagerkostenBerechnung] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cSessionId] [nvarchar](255) NOT NULL,
	[dZeitstempel] [datetime] NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tAbrechnungLagerplatzPreview] PRIMARY KEY CLUSTERED 
(
	[kAbrechnungLagerplatz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
