USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tUserType]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tUserType](
	[kUserType] [int] NOT NULL,
	[cId] [varchar](64) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork.tUserType] PRIMARY KEY CLUSTERED 
(
	[kUserType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
