USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[lvAbrechnung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[lvAbrechnung]
AS
    SELECT  Abrechung.kAbrechnung ,
            Abrechung.kBenutzer ,
            Abrechung.kKunde ,
            Abrechung.kFirma ,
            Abrechung.kFulfillmentLieferant ,
            Abrechung.cAbrechnungsNummer ,
            Abrechung.cAnmerkung ,
            Abrechung.dAbrechnungVon ,
            Abrechung.dAbrechnungBis ,
            Auftrag.kAuftrag AS kBestellung ,			
            Abrechung.dAuftragErstellt ,
            Abrechung.nStorno ,
            Adresse.cFirma AS cHaendler ,
            Adresse.cVorname ,
            Adresse.cName ,
            Benutzer.cName AS cBenutzer ,
            CASE WHEN Abrechung.kAbrechnung = Einstellungen.kAbrechnung THEN 1
                 ELSE 0
            END AS nAktiveAbrechnung ,
            CASE WHEN Auftrag.cAuftragsNr IS NULL THEN 0
                 ELSE 1
            END AS nAuftragErstellt
    FROM    FulfillmentNetwork.tAbrechnung AS Abrechung
            JOIN dbo.tAdresse AS Adresse ON Abrechung.kKunde = Adresse.kKunde AND Adresse.nTyp = 1 AND Adresse.nStandard = 1
			JOIN FulfillmentNetwork.tFulfillerEinstellungen AS Einstellungen ON Einstellungen.kLieferant = Abrechung.kFulfillmentLieferant
                                                              AND Einstellungen.kKunde = Abrechung.kKunde
            LEFT JOIN eazybusiness.dbo.tbenutzer AS Benutzer ON Benutzer.kBenutzer = Abrechung.kBenutzer
            LEFT JOIN Verkauf.vAuftrag AS Auftrag ON Auftrag.kAuftrag = Abrechung.kBestellung;
GO
