USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tFulfillerMerchantsSupplier]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tFulfillerMerchantsSupplier](
	[kFulfillerMerchantsSupplier] [int] IDENTITY(1,1) NOT NULL,
	[kFulfillerEinstellungen] [int] NOT NULL,
	[kLieferant] [int] NOT NULL,
	[kLieferantenSupplier] [int] NOT NULL,
	[cMerchantSupplierNumber] [nvarchar](255) NULL,
	[cMerchantSupplierName] [nvarchar](255) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tFulfillerMerchantsSupplier] PRIMARY KEY CLUSTERED 
(
	[kFulfillerMerchantsSupplier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tFulfillerMerchantsSupplier]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tFulfillerMerchantsSupplier_kFulfillerEinstellungen] FOREIGN KEY([kFulfillerEinstellungen])
REFERENCES [FulfillmentNetwork].[tFulfillerEinstellungen] ([kFulfillerEinstellungen])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tFulfillerMerchantsSupplier] CHECK CONSTRAINT [FK_FulfillmentNetwork_tFulfillerMerchantsSupplier_kFulfillerEinstellungen]
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'FulfillmentNetwork', @level1type=N'TABLE',@level1name=N'tFulfillerMerchantsSupplier'
GO
