USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantInbound]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantInbound]
AS
SELECT 
LieferantenBestellung.kLieferantenBestellung as kLieferantenBestellung,
tUmlagerung.kUmlagerung as kUmlagerung,
LieferantenBestellung.cEigeneBestellnummer as MerchantInboundNumber,
LieferantenBestellung.bRowversion as Rowversion,
Warenlager.cFfnWarehouseId as WarehouseId,
Warenlager.cName as WarehouseName,
CAST(CASE WHEN tUmlagerung.kUmlagerung IS NULL THEN 1 ELSE 0 END AS BIT) as IsLieferantenBestellung,
InboundRef.dUpdatedAt as UpdatedAt,
InboundRef.nType as ChangeType,
InboundRef.nChangeState as ChangeState,
InboundRef.nRetryAttempts as RetryAttempts,
InboundRef.cInboundId as InboundId,
InboundRef.nInboundStatus as InboundStatus,
Lieferantenbestellung.nStatus as LieferantenBestellungStatus,
LieferantenBestellung.cFremdbelegnummer as ExternalInboundNumber,
LieferantenBestellung.kLieferant as kLieferant,
tLieferant.cFirma as FirmaName,
CAST(CASE WHEN WarehouseRef.nLieferantenNameUebertragen IS NULL THEN 0 ELSE WarehouseRef.nLieferantenNameUebertragen END AS BIT) as LieferantenNameUebertragen
FROM tLieferantenBestellung	AS LieferantenBestellung
LEFT JOIN FulfillmentNetwork.tInboundRef AS InboundRef ON Lieferantenbestellung.kLieferantenBestellung = InboundRef.kLieferantenBestellung
JOIN twarenlager AS Warenlager ON LieferantenBestellung.kLager = Warenlager.kWarenLager AND Warenlager.nFulfillment = 3 AND Warenlager.nAktiv = 1
LEFT JOIN tUmlagerung ON tUmlagerung.kLieferantenBestellung = LieferantenBestellung.kLieferantenBestellung
LEFT JOIN tLieferant on tLieferant.kLieferant = LieferantenBestellung.kLieferant
LEFT JOIN FulfillmentNetwork.tMerchantWarehouseRef as WarehouseRef on Warenlager.cFfnWarehouseId = WarehouseRef.cFfnWarehouseId
GO
