USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tDeliveryQueue]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tDeliveryQueue](
	[kDeliveryQueue] [int] IDENTITY(1,1) NOT NULL,
	[kFulfillmentAuftrag] [int] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[nState] [int] NOT NULL,
	[nInvoiceState] [int] NOT NULL,
	[nDeliveryNoteState] [int] NOT NULL,
	[bRowVersion] [binary](8) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tDeliveryQueue] PRIMARY KEY CLUSTERED 
(
	[kDeliveryQueue] ASC,
	[kFulfillmentAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FulfillmentNetwork_tDeliveryQueue_kFulfillmentAuftrag] UNIQUE NONCLUSTERED 
(
	[kFulfillmentAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tDeliveryQueue]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tDeliveryQueue_kFulfillmentAuftrag] FOREIGN KEY([kFulfillmentAuftrag])
REFERENCES [dbo].[tFulfillmentAuftrag] ([kFulfillmentAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tDeliveryQueue] CHECK CONSTRAINT [FK_FulfillmentNetwork_tDeliveryQueue_kFulfillmentAuftrag]
GO
