USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vAuftragPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vAuftragPos]
AS
SELECT
	FulfillmentPos.kFulfillmentAuftragPos
,	FulfillmentPos.kFulfillmentAuftrag
,	FulfillmentPos.kArtikel
,	ProductRef.cJfsku
,	FulfillmentPos.fAnzahl AS fAnzahl
,	FulfillmentPos.cName AS cPosName
,	FulfillmentPos.cArtNr AS cArtNr
,	FulfillmentPos.cArtikelHinweis AS cHinweis
,	FulfillmentPos.kLieferscheinPos AS nSort
,	Bestellpos.fVKNetto * (1-(Bestellpos.fRabatt / 100)) AS fVKNetto
,	Bestellpos.fMwSt
,	CAST(AmazonBestellung.cOrderItemId AS NVARCHAR(255)) AS cOrderItemId
,	CASE WHEN Bestellpos.kAuftragStueckliste = Bestellpos.kAuftragPosition THEN 1 ELSE 0 END AS nStuecklistenVater
,	CASE WHEN Bestellpos.kAuftragStueckliste = Bestellpos.kAuftragPosition THEN 0 ELSE ISNULL(FulfillmentPosVater.kFulfillmentAuftragPos,0) END AS kStuecklistenVaterPos
,	Lieferscheinpos.kLieferscheinPos
FROM
			tFulfillmentAuftragPos	 AS FulfillmentPos		
	LEFT JOIN	FulfillmentNetwork.tProductRef			 AS ProductRef				 	ON ProductRef.kArtikel = FulfillmentPos.kArtikel
	JOIN	dbo.tFulfillmentAuftrag	 AS FulfillmentAuftrag	 	ON FulfillmentAuftrag.kFulfillmentAuftrag = FulfillmentPos.kFulfillmentAuftrag
	JOIN	dbo.tLieferschein		 AS Lieferschein			ON Lieferschein.kLieferschein = FulfillmentAuftrag.kLieferschein	
	JOIN	Verkauf.tAuftrag		 AS Bestellung			 	ON Bestellung.kAuftrag = Lieferschein.kBestellung
	JOIN	dbo.tLieferscheinPos	AS  Lieferscheinpos ON  Lieferscheinpos.kLieferscheinPos = FulfillmentPos.kLieferscheinPos
	JOIN	Verkauf.tAuftragPosition AS  Bestellpos ON  Bestellpos.kAuftragPosition = Lieferscheinpos.kBestellPos	
	LEFT JOIN	dbo.tLieferscheinPos AS  LieferscheinposVater ON  LieferscheinposVater.kBestellPos = Bestellpos.kAuftragStueckliste AND Lieferscheinpos.kLieferschein = LieferscheinposVater.kLieferschein
	LEFT JOIN	dbo.tFulfillmentAuftragPos AS FulfillmentPosVater ON FulfillmentPosVater.kLieferscheinPos = LieferscheinposVater.kLieferscheinPos AND FulfillmentPosVater.kFulfillmentAuftrag = FulfillmentAuftrag.kFulfillmentAuftrag
	LEFT JOIN dbo.pf_amazon_bestellungpos AS AmazonBestellung ON AmazonBestellung.kAmazonBestellungPos = Bestellpos.kAmazonBestellungPos
GO
