USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[lvLagerkosten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[lvLagerkosten]
AS



	SELECT
		0 AS kArtikel
	,	0.000001 AS Kubikmeter
	,	'' AS cArtNr
	,	'' AS cLiefArtNr
	,	0.0 AS fLagerBestand
	,	GETDATE() AS Datum
	,	0.000001 AS KubikmeterGesamt
	,	0.0 AS PreisProM3
	,	0.0  AS LagergebührProTag
	,	3 AS Monat
	,	2017 AS Jahr
	,	'' AS Firma
	,	0 AS kLieferant;
GO
