USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tMerchantWarehouseRef]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tMerchantWarehouseRef](
	[kWarenLagerRef] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLager] [int] NOT NULL,
	[cFfnWarehouseId] [nvarchar](50) NOT NULL,
	[nLieferantenNameUebertragen] [tinyint] NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tMerchantWarehouseRef] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FulfillmentNetwork_tMerchantWarehouseRef_kWarenLager] UNIQUE NONCLUSTERED 
(
	[kWarenLager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantWarehouseRef]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tMerchantWarehouseRef_kWarenLager] FOREIGN KEY([kWarenLager])
REFERENCES [dbo].[tWarenLager] ([kWarenLager])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantWarehouseRef] CHECK CONSTRAINT [FK_dbo_tMerchantWarehouseRef_kWarenLager]
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'FulfillmentNetwork', @level1type=N'TABLE',@level1name=N'tMerchantWarehouseRef'
GO
