USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantReturn]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantReturn] AS 
     SELECT DISTINCT 
		tRMRetoure.kRMRetoure AS kRmRetoure,
		tRMRetoure.cRetoureNr AS RetoureNr,
		tRMRetoure.dErstellt,
		tRMRetoure.kRMRetoureAbholAdresse AS kRMRetoureAbholAdresse,
		tRMRetoure.cKommentarExtern AS KommentarExtern,
		tRMRetoure.cKommentarIntern AS KommentarIntern,
		tRMRetoure.cAnsprechpartner AS Ansprechpartner,
		tWarenLager.cFfnWarehouseId AS WarehouseId,
		tReturnRef.cReturnId AS ReturnId
		FROM tRMRetoure		
		JOIN tRMRetourePos ON tRMRetourePos.kRMRetoure = tRMRetoure.kRMRetoure
		JOIN tWarenLager ON tRMRetoure.kWarenlager = tWarenLager.kWarenLager AND tWarenLager.nFulfillment = 3
		JOIN FulfillmentNetwork.tProductRef ON tProductRef.kArtikel = tRMRetourePos.kArtikel
		LEFT JOIN FulfillmentNetwork.tReturnRef ON tReturnRef.kRmRetoure = tRMRetoure.kRMRetoure
GO
