USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tQueue]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tQueue](
	[kQueue] [int] IDENTITY(1,1) NOT NULL,
	[dModificationDate] [datetimeoffset](7) NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dProcessedAt] [datetimeoffset](7) NULL,
	[cSessionId] [nvarchar](255) NULL,
	[cRequestId] [nvarchar](255) NULL,
	[nType] [tinyint] NOT NULL,
	[nState] [tinyint] NOT NULL,
	[nRole] [tinyint] NOT NULL,
	[nTarget] [tinyint] NOT NULL,
	[nEvent] [tinyint] NOT NULL,
	[cData] [nvarchar](max) NOT NULL,
	[cErrorMessage] [nvarchar](max) NULL,
	[nPriority] [int] NOT NULL,
	[cOwner] [nvarchar](4) NULL,
	[cFfnId] [nvarchar](255) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tQueue] PRIMARY KEY CLUSTERED 
(
	[kQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
