USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tFulfillerProductAttributeAtFfn]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tFulfillerProductAttributeAtFfn](
	[kFulfillerProductAttributeAtFfn] [int] IDENTITY(1,1) NOT NULL,
	[kProductRef] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cMerchantId] [nvarchar](10) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cType] [nvarchar](10) NOT NULL,
	[cValue] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_tFulfillerProductAttributeAtFfn] PRIMARY KEY CLUSTERED 
(
	[kFulfillerProductAttributeAtFfn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tFulfillerProductAttributeAtFfn]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tFulfillerProductAttributes_kProductRef] FOREIGN KEY([kProductRef])
REFERENCES [FulfillmentNetwork].[tProductRef] ([kProductRef])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tFulfillerProductAttributeAtFfn] CHECK CONSTRAINT [FK_FulfillmentNetwork_tFulfillerProductAttributes_kProductRef]
GO
