USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillerPackages]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vFulfillerPackages]
AS
SELECT
	kVersand,
	kLieferschein,
	dVersendet AS dShippingDate,
	kVersandArt,
	cIdentCode AS cTrackingId,
	cShipmentId,
	cShipmentOrderId,
	cEnclosedReturnIdentCode,
	cHinweis AS cNote,
	dAnkunftszeit AS dEstimatedDeliveryTime,
	fGewicht AS fWeight
FROM tVersand
GO
