USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tOutboundItemRef]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tOutboundItemRef](
	[kOutboundItemRef] [int] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kAuftragPosition] [int] NOT NULL,
	[cOutboundItemId] [varchar](255) NOT NULL,
	[fQuantity] [decimal](28, 14) NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_FulfillmentNetwork.tOutboundItemRef] PRIMARY KEY CLUSTERED 
(
	[kOutboundItemRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FulfillmentNetwork_tOutboundItemRef_kBestellung_kBestellPos] UNIQUE NONCLUSTERED 
(
	[kAuftrag] ASC,
	[kAuftragPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tOutboundItemRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tOutboundItemRef_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tOutboundItemRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tOutboundItemRef_kAuftragPosition]
GO
