USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vReturnItemInfo]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vReturnItemInfo] AS 
    SELECT DISTINCT 
		ref.kOutboundItemRef,
		ref.cOutboundItemId,
		ref.fQuantity,
		ref.kAuftrag,
		ref.kAuftragPosition,
		lieferscheinPos.kLieferscheinPos, 
		outbound.cOutboundId,
		auftragPos.kArtikel,
		auftragPos.cArtNr AS ArtikelNummer,
		auftragPos.cName AS Artikelname
		FROM FulfillmentNetwork.tOutboundItemRef ref
		JOIN FulfillmentNetwork.tOutboundRef outbound ON outbound.kBestellung = ref.kAuftrag
		JOIN Verkauf.tAuftragPosition auftragPos ON auftragPos.kAuftragPosition = ref.kAuftragPosition
		JOIN tLieferscheinPos lieferscheinPos ON lieferscheinPos.kBestellPos = auftragPos.kAuftragPosition
GO
