USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[lvAbrechnungPositionen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[lvAbrechnungPositionen]
AS
SELECT AbrechungPosition.kAbrechnungPos,
 AbrechungPosition.kAbrechnung ,
 AbrechungPosition.kArtikel ,
 AbrechungPosition.fAnzahl ,
 AbrechungPosition.cEinheit AS cEinheit ,
 AbrechungPosition.cArtNr AS cArtikelnummer ,
 AbrechungPosition.cBezeichnung ,
 AbrechungPosition.fVKNetto AS fVkNetto ,
 AbrechungPosition.fMwSt AS fMwSt ,
 AbrechungPosition.fVKPreis AS fVkBrutto , 
 AbrechungPosition.fRabatt AS fRabatt ,
 AbrechungPosition.fVKPreis * AbrechungPosition.fAnzahl AS fVkBruttoGesamt ,
 AbrechungPosition.fVKNetto * AbrechungPosition.fAnzahl AS fVkNettoGesamt ,  
 AbrechungPosition.nSort AS nSort,
 AbrechungPosition.cHinweis
 
FROM FulfillmentNetwork.tAbrechnungPos AS AbrechungPosition
GO
