USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillerLieferscheinPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vFulfillerLieferscheinPos]
AS
SELECT
    FulfillmentNetwork.tOutboundRef.kBestellung AS kBestellung,
    dbo.tLieferschein.kLieferschein AS kLieferschein,
    dbo.tLieferscheinPos.kLieferscheinPos AS kLieferscheinPos,
    FulfillmentNetwork.tProductRef.cJfsku AS cJfsku,
    SUM(dbo.tWarenLagerAusgang.fAnzahl) AS fQuantity,
    dbo.tLieferscheinPos.cHinweis AS cNote,
    dbo.tWarenLagerEingang.cChargenNr AS cBatch,
    dbo.tWarenLagerEingang.dMHD AS dBestBefore,
    dbo.tWarenLager.kWarenLager
FROM FulfillmentNetwork.tOutboundRef
    JOIN dbo.tLieferschein ON dbo.tLieferschein.kBestellung = FulfillmentNetwork.tOutboundRef.kBestellung
    JOIN dbo.tLieferscheinPos ON dbo.tLieferscheinPos.kLieferschein = dbo.tLieferschein.kLieferschein
    JOIN dbo.tWarenLagerAusgang ON dbo.tWarenLagerAusgang.kLieferscheinPos = dbo.tLieferscheinPos.kLieferscheinPos
    JOIN dbo.tWarenlagerPlatz ON dbo.tWarenlagerPlatz.kWarenLagerPlatz = dbo.tWarenLagerAusgang.kWarenLagerPlatz
    JOIN dbo.tWarenLager ON dbo.tWarenLager.kWarenLager = dbo.tWarenLagerPlatz.kWarenLager
    LEFT JOIN tWarenLagerEingang ON tWarenLagerEingang.kWarenLagerEingang = tWarenLagerAusgang.kWarenLagerEingang
    LEFT JOIN FulfillmentNetwork.tProductRef ON FulfillmentNetwork.tProductRef.kArtikel = tWarenLagerAusgang.kArtikel    
WHERE FulfillmentNetwork.tOutboundRef.nType = 2 AND FulfillmentNetwork.tProductRef.kProductRef IS NOT NULL
GROUP BY
    FulfillmentNetwork.tOutboundRef.kBestellung,
    dbo.tLieferschein.kLieferschein,
    dbo.tLieferscheinPos.kLieferscheinPos,
    FulfillmentNetwork.tProductRef.cJfsku,
    dbo.tWarenLagerAusgang.fAnzahl,
    dbo.tLieferscheinPos.cHinweis,
    dbo.tWarenLagerEingang.cChargenNr,
    dbo.tWarenLagerEingang.dMHD,
    dbo.tWarenLager.kWarenLager
GO
