USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tFulfillmentLog]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tFulfillmentLog](
	[kFulfillmentLog] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dTimestamp] [datetime] NOT NULL,
	[cSessionId] [nvarchar](100) NULL,
	[nLogLevel] [tinyint] NOT NULL,
	[nMessageSource] [tinyint] NOT NULL,
	[kLieferant] [int] NULL,
	[kLieferschein] [int] NULL,
	[kArtikelHistory] [int] NULL,
	[kWarenlager] [int] NULL,
	[kBestellung] [int] NULL,
	[kLieferantenBestellung] [int] NULL,
	[kFulfillmentAuftrag] [int] NULL,
	[kArtikel] [int] NULL,
	[cMessage] [nvarchar](max) NULL,
	[cRequestId] [nvarchar](64) NULL,
	[kKunde] [int] NULL,
	[cMessageDetails] [nvarchar](max) NULL,
	[kRmRetoure] [int] NULL,
	[kLieferavis] [int] NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tFulfillmentLog] PRIMARY KEY CLUSTERED 
(
	[kFulfillmentLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
