USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tProductRef]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tProductRef](
	[kProductRef] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[cOwnerId] [nvarchar](10) NULL,
	[cJfsku] [nvarchar](255) NULL,
	[bRowVersion] [binary](8) NOT NULL,
	[nCondition] [tinyint] NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tProductRef] PRIMARY KEY CLUSTERED 
(
	[kProductRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tProductRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tProductRef_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tProductRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tProductRef_kArtikel]
GO
