USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tReturnRef]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tReturnRef](
	[kReturnRef] [int] IDENTITY(1,1) NOT NULL,
	[kRmRetoure] [int] NULL,
	[nType] [tinyint] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[cOwnerId] [nvarchar](10) NULL,
	[cReturnId] [nvarchar](255) NULL,
	[nChangeState] [tinyint] NULL,
	[cWarehouseId] [nvarchar](255) NULL,
	[dLastWawiUpdate] [datetimeoffset](7) NOT NULL,
	[bRowVersion] [binary](8) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tReturnRef] PRIMARY KEY CLUSTERED 
(
	[kReturnRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
