USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantPendingInboundShippingNotification]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantPendingInboundShippingNotification]
AS
SELECT Lieferschein.kLieferschein,
       LieferantenBestellung.kLieferantenBestellung,
       LieferantenBestellung.cEigeneBestellnummer AS MerchantInboundNumber,
	   InboundRef.cInboundId AS InboundId,
	   MerchantInboundShippingNotificationRef.cInboundShippingNotificationId AS InboundShippingNotificationId,
       Lieferschein.cLieferscheinNr AS MerchantShippingNotificationNumber,
       Lieferschein.cHinweis AS Note
FROM tWarenLager AS Lager
	JOIN tUmlagerung AS Umlagerung
        ON Umlagerung.kZielLager = Lager.kWarenLager
	JOIN tLieferantenBestellung AS LieferantenBestellung
        ON LieferantenBestellung.kLieferantenBestellung = Umlagerung.kLieferantenBestellung
    JOIN FulfillmentNetwork.tInboundRef AS InboundRef
		ON InboundRef.kLieferantenBestellung = LieferantenBestellung.kLieferantenBestellung
	LEFT JOIN Verkauf.tAuftrag AS Auftrag
        ON Auftrag.kAuftrag = Umlagerung.kBestellung
    LEFT JOIN tLieferschein AS Lieferschein
        ON Lieferschein.kBestellung = Auftrag.kAuftrag
    LEFT JOIN FulfillmentNetwork.tMerchantInboundShippingNotificationRef AS MerchantInboundShippingNotificationRef
        ON MerchantInboundShippingNotificationRef.kLieferschein = Lieferschein.kLieferschein
   
WHERE Lager.nFulfillment = 3
      AND Lager.nAktiv = 1
      AND Lieferschein.kLieferschein IS NOT NULL
      AND MerchantInboundShippingNotificationRef.kLieferschein IS NULL;
GO
