USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillerReturnItem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vFulfillerReturnItem] AS 
    SELECT DISTINCT 
		tRMRetourePos.kRMRetourePos,
		tRMRetoure.kRMRetoure,
		vProduct.Jfsku,
		vProduct.MerchantSku,
		vProduct.Pk AS kArtikel,
		tRMRetourePos.fAnzahl AS WawiQuantity,
		tReturnItemRef.fQuantity AS ApiQuantity,
		tOutboundRef.cOutboundId AS OutboundId,
		tOutboundItemRef.cOutboundItemId AS OutboundItemId,
		tRMRetourePos.kRMGrund AS GrundPk,
		tRMRetourePos.cGrundKommentar AS GrundKommentar,
		tReturnItemRef.cReturnItemId AS ReturnItemId,
		tReturnRef.cReturnId AS ReturnId,
		tRMStatus.nStatusTyp AS StatusTyp,
		tRMRetourePos.kZustand
		FROM tRMRetourePos
		JOIN tRMStatusVerlauf ON tRMStatusVerlauf.kRMStatusVerlauf = tRMRetourePos.kRMStatusVerlauf
		JOIN tRMStatus On tRMStatus.kRMStatus = tRMStatusVerlauf.kRMStatus
		JOIN tRmRetoure ON tRMRetourePos.kRmRetoure = tRMRetoure.kRMRetoure
		JOIN FulfillmentNetwork.vProduct ON vProduct.Pk = tRMRetourePos.kArtikel
		LEFT JOIN tLieferscheinPos ON tLieferscheinPos.kLieferscheinPos = tRMRetourePos.kLieferscheinPos
		LEFT JOIN tLieferschein ON tLieferschein.kLieferschein = tLieferscheinPos.kLieferschein
		LEFT JOIN FulfillmentNetwork.tOutboundItemRef ON tOutboundItemRef.kAuftragPosition = tLieferscheinPos.kBestellPos		
		LEFT JOIN FulfillmentNetwork.tOutboundRef ON tOutboundRef.kBestellung = tLieferschein.kBestellung
		LEFT JOIN FulfillmentNetwork.tReturnRef ON tReturnRef.kRmRetoure = tRMRetourePos.kRMRetoure
		LEFT JOIN FulfillmentNetwork.tReturnItemRef ON tReturnItemRef.kRmRetourePos = tRMRetourePos.kRMRetourePos
GO
