USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tAbrechnungEinzelnachweis]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tAbrechnungEinzelnachweis](
	[kAbrechnungEinzelnachweis] [int] IDENTITY(1,1) NOT NULL,
	[kAbrechnung] [int] NOT NULL,
	[kAbrechnungPos] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NULL,
	[nObjekt] [int] NOT NULL,
	[kObjektPk] [int] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[cHinweis] [nvarchar](4000) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tAbrechnungEinzelnachweis] PRIMARY KEY CLUSTERED 
(
	[kAbrechnungEinzelnachweis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
