USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vAmazonSfpOrderdata]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vAmazonSfpOrderdata]
AS
SELECT tAuftrag.kAuftrag AS kBestellung,
       pf_user.cId1 SellerId
FROM Verkauf.tAuftrag
JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftrag = tAuftrag.kAuftrag
JOIN dbo.pf_amazon_bestellungpos ON pf_amazon_bestellungpos.kAmazonBestellungPos = tAuftragPosition.kAmazonBestellungPos
JOIN dbo.pf_amazon_bestellung ON pf_amazon_bestellung.kAmazonBestellung = pf_amazon_bestellungpos.kAmazonBestellung
JOIN dbo.pf_user ON pf_user.kUser = pf_amazon_bestellung.kUser
GROUP BY tAuftrag.kAuftrag, pf_user.cId1;
GO
