USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[lvLogbuch]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[lvLogbuch]
AS
SELECT
	FulfillmentLog.kFulfillmentLog
,	FulfillmentLog.kBenutzer
,	FulfillmentLog.dTimestamp
,	FulfillmentLog.cSessionId
,	FulfillmentLog.nLogLevel
,	FulfillmentLog.nMessageSource
,	FulfillmentLog.kLieferant
,	FulfillmentLog.kLieferschein
,	FulfillmentLog.kArtikelHistory
,	FulfillmentLog.kWarenlager
,	FulfillmentLog.kBestellung
,	FulfillmentLog.kLieferantenBestellung
,	FulfillmentLog.kFulfillmentAuftrag
,	FulfillmentLog.kArtikel
,	FulfillmentLog.kKunde
,	FulfillmentLog.kRmRetoure
,   FulfillmentLog.kLieferavis
,	FulfillmentLog.cMessage
,	FulfillmentLog.cMessageDetails
,	FulfillmentLog.cRequestId
,	ArtikelInfo.cArtNr AS Artikelnummer
,	ArtikelInfo.cName AS Artikelname
,	ArtikelHistory.fAnzahl AS AnzahlGebucht
,	Lieferschein.cLieferscheinNr
,	Lieferant.cFirma AS FulfillmentLieferant
,	Warenlager.cName AS FulfillmentLager
,	Bestellung.cAuftragsNr AS Bestellnummer
,	FulfillmentAuftrag.cBestellnummer AS FulfillmentAuftrag
,	LieferantenBestellung.cEigeneBestellnummer AS LieferantenBestellung
,	LieferantenBestellung.cBezugsAuftragsNummer AS Bezugsnummer
,	Kunde.cKundenNr AS Kundennummer
,   Retoure.cRetoureNr AS Retourennummer
,   Lieferavis.cNummer AS Lieferavisnummer
FROM
				FulfillmentNetwork.tFulfillmentLog			 AS FulfillmentLog			
	LEFT JOIN	dbo.tArtikelHistory			 AS ArtikelHistory			 	ON ArtikelHistory.kArtikelHistory = FulfillmentLog.kArtikelHistory
	LEFT JOIN	dbo.vStandardArtikel		 AS ArtikelInfo				 	ON ArtikelInfo.kArtikel = FulfillmentLog.kArtikel OR ArtikelInfo.kArtikel = ArtikelHistory.kArtikel
	LEFT JOIN	dbo.tLieferschein			 AS Lieferschein			 	ON Lieferschein.kLieferschein = FulfillmentLog.kLieferschein
	LEFT JOIN	dbo.tlieferant				 AS Lieferant				 	ON FulfillmentLog.kLieferant = Lieferant.kLieferant
	LEFT JOIN	dbo.tWarenLager				 AS Warenlager				 	ON FulfillmentLog.kWarenlager = Warenlager.kWarenLager
	LEFT JOIN	Verkauf.tAuftrag			 AS Bestellung				 	ON Bestellung.kAuftrag = FulfillmentLog.kBestellung
	LEFT JOIN	dbo.tFulfillmentAuftrag		 AS FulfillmentAuftrag		 	ON FulfillmentAuftrag.kFulfillmentAuftrag = FulfillmentLog.kFulfillmentAuftrag
	LEFT JOIN	dbo.tKunde					 AS Kunde		 				ON Kunde.kKunde = FulfillmentLog.kKunde
	LEFT JOIN	dbo.tLieferantenBestellung	 AS LieferantenBestellung	 	ON LieferantenBestellung.kLieferantenBestellung = FulfillmentLog.kLieferantenBestellung
    LEFT JOIN   dbo.tRmRetoure				 AS Retoure                     ON Retoure.kRmRetoure = FulfillmentLog.kRmRetoure
	LEFT JOIN   dbo.tLieferavis				 AS Lieferavis                  ON Lieferavis.kLieferavis = FulfillmentLog.kLieferavis;
GO
