USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vPendingStocks]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- vPendingStocks
--
CREATE VIEW [FulfillmentNetwork].[vPendingStocks]
AS
SELECT Stock.kStockRef AS Pk,
       ProductRef.cJfsku AS [Jfsku],
       CASE WHEN Warenlager.kQuellLager > 0 THEN StreckenlagerZielLager.cFfnWarehouseId ELSE Warenlager.cFfnWarehouseId END AS [WarehouseId],
	   CASE WHEN Warenlager.kQuellLager > 0 THEN StreckenlagerZielLager.kWarenLager ELSE Warenlager.kWarenLager END AS [kWarenlager],
	   CASE 
			WHEN 
				Warenlager.kQuellLager > 0 
			THEN 
				0
			ELSE				
				CASE WHEN Stock.nBlocked = 1 THEN 
					0
				WHEN Stock.nBlocked = 2 THEN 
					Stock.fAnzahl * -1
				ELSE 
					Stock.fAnzahl
				END 
			END 
	   AS [Quantity],			
	   CASE 
			WHEN 
				Warenlager.kQuellLager > 0 
			THEN 
				Stock.fAnzahl
			ELSE
				CASE
				   WHEN Umlagerung.kUmlagerung IS NOT NULL THEN
					   Stock.fAnzahl * -1
				   ELSE
						CASE WHEN (Stock.nBlocked = 1) OR (Stock.nBlocked = 2) THEN 
							Stock.fAnzahl						
						ELSE 
							0
						END
				END
			END 
	   AS [QuantityBlocked],    
	   CASE WHEN Warenlager.kQuellLager > 0 THEN 'Umlagerung: Ware wurde ins Streckenlager gebucht.' ELSE Stock.cKommentar END AS [Note],
       Stock.cCharge AS [Batch],
       CASE WHEN tArtikel.nMHD = 1 THEN DATEPART(DAY, Stock.dMHD) ELSE NULL END AS [BestBefore.Day],
       CASE WHEN tArtikel.nMHD = 1 THEN DATEPART(MONTH, Stock.dMHD) ELSE NULL END AS [BestBefore.Month],
       CASE WHEN tArtikel.nMHD = 1 THEN DATEPART(YEAR, Stock.dMHD) ELSE NULL END AS [BestBefore.Year],
       Stock.dCreatedAt AS [FulfillerTimestamp],
       Stock.cFulfillerStockChangeId AS [FulfillerStockChangeId],
       Stock.kArtikel,
       Stock.kBenutzer,
       Stock.kBuchungsart,
       Stock.kWarenLagerPlatz,
       Stock.kLieferantenBestellungPos,
       Stock.dUpdatedAt,
       Stock.cLieferscheinNr,
       Stock.cOwnerId,
	   Stock.kSessionId,
	   Stock.kWarenLagerEingang,
	   Lieferantenbestellung.cInboundId,
	   ISNULL(Stock.nChangeState,0) AS nChangeState,
	   ProductRef.nCondition AS nCondition,
	   ReturnItemRef.kRMRetourePos,
	   Stock.nBlocked
FROM FulfillmentNetwork.tStockRef AS Stock
    JOIN dbo.tWarenLagerPlatz Platz
        ON Platz.kWarenLagerPlatz = Stock.kWarenLagerPlatz
	JOIN dbo.tArtikel 
		ON tArtikel.kArtikel = Stock.kArtikel
    JOIN dbo.tWarenLager AS Warenlager
        ON Warenlager.kWarenLager = Platz.kWarenLager
	JOIN FulfillmentNetwork.tProductRef AS ProductRef
		ON ProductRef.kArtikel = tArtikel.kArtikel
	JOIN dbo.tlieferant AS Merchant 
		ON Merchant.cLieferantID = ProductRef.cOwnerId
	JOIN FulfillmentNetwork.tLieferantWarenlager AS LieferantWarenlager
		ON 
			(Warenlager.kQuellLager = 0 AND Warenlager.kZielLager = 0 AND  LieferantWarenlager.kWarenlager = Warenlager.kWarenLager AND LieferantWarenlager.kLieferant = Merchant.kLieferant) OR
			(Warenlager.kQuellLager > 0 AND Warenlager.kZielLager > 0 AND  LieferantWarenlager.kWarenlager = Warenlager.kQuellLager AND LieferantWarenlager.kLieferant = Merchant.kLieferant) 
	LEFT JOIN tWarenLagerEingang ON tWarenLagerEingang.kWarenLagerEingang = Stock.kWarenLagerEingang
	LEFT JOIN dbo.tWarenLager StreckenlagerZielLager ON Warenlager.kZielLager = StreckenlagerZielLager.kWarenLager
	LEFT JOIN dbo.tLieferantenBestellungPos AS LieferantenBestellungPos 
		ON LieferantenBestellungPos.kLieferantenBestellungPos = Stock.kLieferantenBestellungPos
	LEFT JOIN FulfillmentNetwork.tInboundRef AS Lieferantenbestellung
		ON Lieferantenbestellung.kLieferantenBestellung = LieferantenBestellungPos.kLieferantenBestellung
	LEFT JOIN dbo.tUmlagerung AS Umlagerung ON Umlagerung.kLieferantenBestellung = LieferantenBestellungPos.kLieferantenBestellung
	LEFT JOIN FulfillmentNetwork.tReturnItemRef AS ReturnItemRef ON ReturnItemRef.kRmRetourePos = tWarenLagerEingang.kRMRetourePos
GO
