USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tInboundShippingNotificationRef]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tInboundShippingNotificationRef](
	[kLieferavis] [int] NOT NULL,
	[cInboundShippingNotificationId] [nvarchar](255) NOT NULL,
	[cOwnerId] [nvarchar](10) NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tInboundShippingNotificationRef] PRIMARY KEY CLUSTERED 
(
	[kLieferavis] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tInboundShippingNotificationRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tInboundShippingNotificationRef] FOREIGN KEY([kLieferavis])
REFERENCES [dbo].[tLieferavis] ([kLieferavis])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tInboundShippingNotificationRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tInboundShippingNotificationRef]
GO
