USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tLogin]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tLogin](
	[kLogin] [int] NOT NULL,
	[cUserId] [nvarchar](10) NOT NULL,
	[bFulfiller] [bit] NOT NULL,
	[bMerchant] [bit] NOT NULL,
	[cApiToken] [nvarchar](max) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tLogin] PRIMARY KEY CLUSTERED 
(
	[kLogin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
