USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vReturnInfo]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vReturnInfo]
AS
SELECT
    tRMRetoure.kRMRetoure,
	tRMRetoure.kKunde,
	tRMRetoure.kBestellung,
	tRMRetoure.kFirma,
    FulfillmentNetwork.tReturnRef.cReturnId,
    status.nStatusTyp,
    tRMRetoure.kWarenlager,
    cFfnWarehouseId,
    CASE WHEN dbo.tWarenLager.nFulfillment = 3 THEN FulfillmentNetwork.tLogin.cUserId ELSE dbo.tlieferant.cLieferantID END AS cMerchantId
FROM dbo.tRMRetoure
         JOIN tRMStatus AS status
              ON tRMRetoure.kRMStatus = status.kRMStatus
         JOIN dbo.tWarenLager
              ON tWarenLager.kWarenLager = tRMRetoure.kWarenlager
         LEFT JOIN FulfillmentNetwork.tReturnRef ON tReturnRef.kRmRetoure = tRMRetoure.kRMRetoure
         LEFT JOIN FulfillmentNetwork.tFulfillerEinstellungen ON tFulfillerEinstellungen.kKunde = tRMRetoure.kKunde
         LEFT JOIN dbo.tlieferant ON tlieferant.kLieferant = tFulfillerEinstellungen.kLieferant
         JOIN FulfillmentNetwork.tLogin ON 1=1
GO
