USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillerOutboundInfo]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vFulfillerOutboundInfo]
    AS
        SELECT
            OutboundRef.kBestellung as kBestellung,
            Bestellung.kLieferAdresse as kLieferadresse,
            Bestellung.kRechnungsAdresse as kRechnugnsadresse,
            Bestellung.tKunde_kKunde AS kKunde,
			Bestellung.kFirma AS kFirma,
            OutboundRef.cOutboundId as OutboundId,
            OutboundRef.dCreatedAt as CreatedAt,
			OutboundRef.dObjectVersion as ObjectVersion,
			OutboundRef.cWarehouseId AS WarehouseId,
            Bestellung.nStorno AS nStorno,
			Bestellung.tVersandArt_kVersandArt AS kVersandArt,
			Bestellung.cBestellNr AS cBestellNr 
        FROM [FulfillmentNetwork].[tOutboundRef] AS OutboundRef
                 LEFT JOIN [DEPRECATED].[vBestellung] AS Bestellung
                           ON OutboundRef.kBestellung = Bestellung.kBestellung
        WHERE OutboundRef.nType = 2;
GO
