USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tVorgang_Queue]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tVorgang_Queue](
	[kVorgang_queue] [int] IDENTITY(1,1) NOT NULL,
	[kVorgang] [int] NOT NULL,
	[kQueue] [int] NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork.tVorgang_Queue] PRIMARY KEY CLUSTERED 
(
	[kVorgang_queue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tVorgang_Queue]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tVorgang_Queue_kVorgang] FOREIGN KEY([kVorgang])
REFERENCES [FulfillmentNetwork].[tVorgang] ([kVorgang])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tVorgang_Queue] CHECK CONSTRAINT [FK_FulfillmentNetwork_tVorgang_Queue_kVorgang]
GO
