USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tMerchantProductAttributeMapping]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tMerchantProductAttributeMapping](
	[kAttribut] [int] NOT NULL,
	[cFfnName] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tMerchantProductAttributeMapping] PRIMARY KEY CLUSTERED 
(
	[kAttribut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantProductAttributeMapping]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tMerchantProductAttributeMapping_kAttribut] FOREIGN KEY([kAttribut])
REFERENCES [dbo].[tAttribut] ([kAttribut])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantProductAttributeMapping] CHECK CONSTRAINT [FK_FulfillmentNetwork_tMerchantProductAttributeMapping_kAttribut]
GO
