USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tShippingMethodMapping]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tShippingMethodMapping](
	[kShippingMethodMapping] [int] IDENTITY(1,1) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[cShippingMethodId] [nvarchar](255) NOT NULL,
	[nDefault] [tinyint] NOT NULL,
	[nActive] [tinyint] NOT NULL,
	[kVersandart] [int] NOT NULL,
	[kKunde] [int] NULL,
	[kWarenlager] [int] NULL,
	[nShippingType] [int] NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tShippingMethodMapping] PRIMARY KEY CLUSTERED 
(
	[kShippingMethodMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FulfillmentNetwork_tShippingMethodMapping_cShippingMethodId_kVersandart_kWarenlager_nActive_nType] UNIQUE NONCLUSTERED 
(
	[cShippingMethodId] ASC,
	[kVersandart] ASC,
	[kWarenlager] ASC,
	[nActive] ASC,
	[nType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tShippingMethodMapping]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tShippingMethodMapping_kKunde] FOREIGN KEY([kKunde])
REFERENCES [dbo].[tkunde] ([kKunde])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tShippingMethodMapping] CHECK CONSTRAINT [FK_FulfillmentNetwork_tShippingMethodMapping_kKunde]
GO
ALTER TABLE [FulfillmentNetwork].[tShippingMethodMapping]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tShippingMethodMapping_kVersandart] FOREIGN KEY([kVersandart])
REFERENCES [dbo].[tversandart] ([kVersandArt])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tShippingMethodMapping] CHECK CONSTRAINT [FK_FulfillmentNetwork_tShippingMethodMapping_kVersandart]
GO
ALTER TABLE [FulfillmentNetwork].[tShippingMethodMapping]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tShippingMethodMapping_kWarenlager] FOREIGN KEY([kWarenlager])
REFERENCES [dbo].[tWarenLager] ([kWarenLager])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tShippingMethodMapping] CHECK CONSTRAINT [FK_FulfillmentNetwork_tShippingMethodMapping_kWarenlager]
GO
