USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantPendingStockChanges]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantPendingStockChanges]
AS
SELECT MerchantStockChange.kMerchantStockChange AS Pk,
       MerchantStockChange.cWarehouseId AS [StockChangeId.WarehouseId],
       MerchantStockChange.cJfsku AS [StockChangeId.Jfsku],
       MerchantStockChange.nStockVersion AS [StockChangeId.StockVersion],
       MerchantStockChange.dProcessedAt AS ProcessedAt,
       MerchantStockChange.nProcessingState AS ProcessingState,
       MerchantStockChange.dTimestamp AS [Timestamp],
       MerchantStockChange.nChangeType AS ChangeType,
       MerchantStockChange.cNote AS Note,
       MerchantStockChange.cBatch AS Batch,
       MerchantStockChange.dBestBefore AS BestBefore,
       MerchantStockChange.fQuantityShippable AS [Quantity.Shippable],
       MerchantStockChange.fQuantityBlocked AS [Quantity.Blocked],
       MerchantStockChange.fQuantityReserved AS [Quantity.Reserved],
       MerchantStockChange.fQuantityAnnounced AS [Quantity.Announced],
       MerchantStockChange.fLevelShippable AS [Level.Shippable],
       MerchantStockChange.fLevelBlocked AS [Level.Blocked],
       MerchantStockChange.fLevelReserved AS [Level.Reserved],
       MerchantStockChange.fLevelAnnounced AS [Level.Announced],
       MerchantStockChange.cInboundNumber AS [InboundItem.Number],
       MerchantStockChange.cInboundItemId AS [InboundItem.ItemId],
       MerchantStockChange.cOutboundNumber AS [OutboundItem.Number],
       MerchantStockChange.cOutboundItemId AS [OutboundItem.ItemId],
       MerchantStockChange.cOutboundShippingNotificationId AS [OutboundShippingNotification.Number],
       MerchantStockChange.cOutboundShippingNotificationItemId AS [OutboundShippingNotification.ItemId],
       MerchantStockChange.fQuantityShippableBooked AS [QuantityBooked.Shippable],
       MerchantStockChange.fQuantityBlockedBooked AS [QuantityBooked.Blocked],
       MerchantStockChange.fQuantityReservedBooked AS [QuantityBooked.Reserved],
       MerchantStockChange.fQuantityAnnouncedBooked AS [QuantityBooked.Announced],
       Artikel.kArtikel AS [WawiProduct.ArtikelKey],
       Artikel.cArtNr AS [WawiProduct.MerchantSku],
       CASE Artikel.cLagerAktiv
           WHEN 'Y' THEN
               CAST(1 AS BIT)
           ELSE
               CAST(0 AS BIT)
END AS [WawiProduct.IsWarehouseActive],
       CAST(Artikel.nCharge AS BIT) AS [WawiProduct.IsBatch],
       CAST(Artikel.nMHD AS BIT) AS [WawiProduct.IsBestBefore],
       CASE Artikel.cTeilbar
           WHEN 'Y' THEN
               CAST(1 AS BIT)
           ELSE
               CAST(0 AS BIT)
END AS [WawiProduct.IsDivisible],
       CASE Artikel.cLagerArtikel
           WHEN 'Y' THEN
               CAST(1 AS BIT)
           ELSE
               CAST(0 AS BIT)
END AS [WawiProduct.IsSerialNumber],
       CASE
           WHEN Artikel.kStueckliste > 0 THEN
               CAST(1 AS BIT)
           ELSE
               CAST(0 AS BIT)
END AS [WawiProduct.IsBillOfMaterials],
       Artikel.fEKNetto AS [WawiProduct.NetRetailPrice],
       ISNULL(Bestand.fBestand, 0) AS [WawiStockLevel.StockLevel],
	   ISNULL(Bestand.fVerfuegbarGesperrt, 0) AS [WawiStockLevel.StockLevelBlocked],
       Warenlager.kWarenlager AS [WawiStockLevel.WarenlagerKey],
       WarenlagerPlatz.kWarenLagerPlatz AS [WawiStockLevel.WarenlagerPlatzKey],
	   WarenlagerPlatzGesperrt.kWarenLagerPlatz AS [WawiStockLevel.WarenlagerPlatzBlockedKey],
       LieferantenBestellung.kLieferantenBestellung AS [WawiInbound.LieferantenBestellungKey],
       Umlagerung.kUmlagerung AS [WawiInbound.UmlagerungKey],
       Umlagerung.kBestellPos AS [WawiInbound.BestellPosKey],
       Umlagerung.kWarenLagerPlatz AS [WawiInbound.StreckenlagerWarenlagerPlatzKey],
	   tReturnItemRef.kRmRetourePos AS [WawiReturn.RetourePosKey],
	   tReturnItemRef.kRMRetoure AS [WawiReturn.RetoureKey]
FROM FulfillmentNetwork.tMerchantStockChange AS MerchantStockChange
         JOIN FulfillmentNetwork.tProductRef AS ProductRef
              ON ProductRef.cJfsku = MerchantStockChange.cJfsku
         JOIN dbo.tArtikel AS Artikel
              ON Artikel.kArtikel = ProductRef.kArtikel
         JOIN dbo.tWarenLager AS Warenlager
              ON MerchantStockChange.cWarehouseId = Warenlager.cFfnWarehouseId
         LEFT JOIN (SELECT 
	Eingang.kArtikel, 
	Platz.kWarenLager,	
	SUM(CASE WHEN Platz.kWarenLagerPlatzTyp = 0 THEN Eingang.fAnzahlAktuell ELSE 0 END) AS fBestand,
	SUM(CASE WHEN Platz.kWarenLagerPlatzTyp = 0 THEN 0 ELSE Eingang.fAnzahlAktuell END) AS fVerfuegbarGesperrt
FROM dbo.tWarenLagerEingang AS Eingang JOIN dbo.tWarenLagerPlatz AS Platz ON Platz.kWarenLagerPlatz = Eingang.kWarenLagerPlatz
WHERE Eingang.fAnzahlAktuell > 0
GROUP BY 
Eingang.kArtikel, 
	Platz.kWarenLager) AS Bestand
              ON Bestand.kArtikel = ProductRef.kArtikel
                  AND Bestand.kWarenlager = Warenlager.kWarenLager
         JOIN dbo.tWarenLagerPlatz AS WarenlagerPlatz
              ON WarenlagerPlatz.kWarenLager = Warenlager.kWarenLager
                  AND WarenlagerPlatz.nStatus = 0 AND WarenlagerPlatz.kWarenLagerPlatzTyp = 0
		 LEFT JOIN dbo.tWarenLagerPlatz AS WarenlagerPlatzGesperrt
              ON WarenlagerPlatzGesperrt.kWarenLager = Warenlager.kWarenLager
                  AND WarenlagerPlatzGesperrt.nStatus = 0 AND WarenlagerPlatzGesperrt.kWarenLagerPlatzTyp = 10
         LEFT JOIN dbo.tLieferantenBestellung AS LieferantenBestellung
                   ON LieferantenBestellung.cEigeneBestellnummer = MerchantStockChange.cInboundNumber
         LEFT JOIN
     (
         SELECT Umlagerung.kUmlagerung,
                Umlagerung.kLieferantenBestellung,
                BestellPos.kBestellPos,
                StreckenlagerPlatz.kWarenLagerPlatz,
                BestellPos.tArtikel_kArtikel AS kArtikel
         FROM dbo.tUmlagerung AS Umlagerung
                  LEFT JOIN Deprecated.vbestellpos AS BestellPos
                            ON BestellPos.tBestellung_kBestellung = Umlagerung.kBestellung
                  LEFT JOIN dbo.tWarenLagerPlatz AS StreckenlagerPlatz
                            ON StreckenlagerPlatz.kWarenLager = Umlagerung.kStreckenLager
                                AND StreckenlagerPlatz.kWarenLagerPlatzTyp = 0
     ) AS Umlagerung
     ON Umlagerung.kLieferantenBestellung = LieferantenBestellung.kLieferantenBestellung
         AND Umlagerung.kArtikel = ProductRef.kArtikel
	LEFT JOIN FulfillmentNetwork.tReturnItemRef ON tReturnItemRef.cReturnItemId = MerchantStockChange.cReturnItemId
WHERE (
          (
			  (MerchantStockChange.fQuantityShippableBooked IS NULL OR MerchantStockChange.fQuantityShippableBooked <> MerchantStockChange.fQuantityShippable )
			  AND
			  (
				  MerchantStockChange.fQuantityShippable > 0
				  OR
				  (
					  MerchantStockChange.fQuantityShippable < 0
					  AND Bestand.fBestand > 0
				  )
			  )
          )
          OR
          (
			  (MerchantStockChange.fQuantityBlockedBooked IS NULL OR MerchantStockChange.fQuantityBlockedBooked <> MerchantStockChange.fQuantityBlocked)
			  AND
			  (
				  MerchantStockChange.fQuantityBlocked > 0
				  OR
				  (
					  MerchantStockChange.fQuantityBlocked < 0
					  AND Bestand.fVerfuegbarGesperrt > 0
				  )
			  )
          )
      )  AND MerchantStockChange.nChangeType <> 8
GO
