USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vWarehouse]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vWarehouse]
AS
SELECT  
    tWarenLager.kWarenLager AS 'Pk',
	tWarenLager.cName AS 'Name',
	tWarenLager.cFfnWarehouseId AS 'WarehouseId',
	tWarenLager.cAnsprechpartnerAnrede  AS [Address.Salutation],
	tWarenLager.cAnsprechpartnerVorname AS [Address.Firstname],
	tWarenLager.cAnsprechpartnerName    AS [Address.Lastname],
	CASE WHEN NULLIF(tWarenlager.cEmpfaengerFirma, '') IS NULL
		THEN tFirma.cName
		ELSE tWarenlager.cEmpfaengerFirma
	END AS [Address.Company],
	tWarenLager.cStrasse  AS [Address.Street],
	tWarenLager.cOrt  AS [Address.City],
	tWarenLager.cLand  AS [Address.Country],
	tWarenLager.cAnsprechpartnerEMail  AS [Address.Email],
	tWarenLager.cAnsprechpartnerTel  AS [Address.Phone],
	tWarenLager.cBundesland  AS [Address.State],
	tWarenLager.cAnsprechpartnerFax  AS [Address.Fax],
	tWarenLager.cPLZ AS [Address.Zip],
	tWarenLager.nAktiv as 'Active',
	tWarenLager.nFulfillment as 'FulfillmentType'

FROM    dbo.tWarenLager
JOIN    dbo.tfirma ON tWarenLager.kFirma = tfirma.kFirma
WHERE dbo.tWarenLager.kQuellLager = 0 AND dbo.tWarenLager.kZielLager = 0
GO
