USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vVorgang]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [FulfillmentNetwork].[vVorgang] AS
Select 
	Vorgang.kVorgang,
	Vorgang.kVorgangType,
	VorgangType.cId as cVorgangTypeId,
	VorgangType.kScopeType,
	ScopeType.cId as cScopeId,
	VorgangType.kUserType,
	UserType.cId as cUserId,
	Vorgang.cFfnKey,
	Vorgang.kWawiKey,
	Vorgang.cWawiNumber,
	Vorgang.kLieferant,
	Vorgang.kLieferschein,
	Vorgang.kArtikelHistory,
	Vorgang.kWarenlager,
	Vorgang.kAuftrag,
	Vorgang.kLieferantenBestellung,
	Vorgang.kFulfillmentAuftrag,
	Vorgang.kArtikel,
	Vorgang.kKunde,
	Vorgang.dUpdatedAt,
	Vorgang.dErrorSince,
	Vorgang.nErrorCount,
	Vorgang.cComment
 from FulfillmentNetwork.tVorgang Vorgang
LEFT JOIN FulfillmentNetwork.tVorgangType VorgangType ON VorgangType.kVorgangType = Vorgang.kVorgangType
LEFT JOIN FulfillmentNetwork.tScopeType ScopeType ON VorgangType.kScopeType = ScopeType.kScopeType
LEFT JOIN FulfillmentNetwork.tUserType UserType ON VorgangType.kUserType = UserType.kUserType
GO
