USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[lvLagerUebersicht]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[lvLagerUebersicht]
AS
	SELECT
		Lagerkosten.Datum
	,	Lagerkosten.kLieferant
	,	Lagerkosten.Monat
	,	Lagerkosten.Jahr
	,	SUM(Lagerkosten.fLagerBestand) AS Bestand
	,	SUM(Lagerkosten.KubikmeterGesamt) AS BelegterPlatz
	,	SUM(Lagerkosten.LagergebührProTag) AS Kosten
	FROM
		FulfillmentNetwork.lvLagerkosten AS Lagerkosten

	GROUP BY
			Lagerkosten.Datum
		, 	Lagerkosten.kLieferant
		, 	Lagerkosten.Monat
		, 	Lagerkosten.Jahr
GO
