USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vWarehouseMerchant]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vWarehouseMerchant]
AS
SELECT  
    tLieferantWarenlager.kLieferantWarenlager AS 'Pk',
    tLieferantWarenlager.kWarenLager AS 'WarehouseKey',
	tlieferant.cLieferantID AS 'MerchantId',
	tLieferant.kLieferant AS 'MerchantKey'
	FROM    FulfillmentNetwork.tLieferantWarenlager
JOIN dbo.tlieferant ON tlieferant.kLieferant = tLieferantWarenlager.kLieferant
GO
