USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tVorgang]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tVorgang](
	[kVorgang] [int] IDENTITY(1,1) NOT NULL,
	[kVorgangType] [int] NOT NULL,
	[cFfnKey] [varchar](64) NULL,
	[kWawiKey] [int] NULL,
	[cWawiNumber] [nvarchar](255) NULL,
	[kLieferant] [int] NULL,
	[kLieferschein] [int] NULL,
	[kArtikelHistory] [int] NULL,
	[kWarenlager] [int] NULL,
	[kAuftrag] [int] NULL,
	[kLieferantenBestellung] [int] NULL,
	[kFulfillmentAuftrag] [int] NULL,
	[kArtikel] [int] NULL,
	[kKunde] [int] NULL,
	[dErrorSince] [datetimeoffset](7) NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[nErrorCount] [int] NULL,
	[cComment] [varchar](max) NULL,
 CONSTRAINT [PK_FulfillmentNetwork.tVorgang] PRIMARY KEY CLUSTERED 
(
	[kVorgang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tVorgang]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tVorgang_kVorgangType] FOREIGN KEY([kVorgangType])
REFERENCES [FulfillmentNetwork].[tVorgangType] ([kVorgangType])
GO
ALTER TABLE [FulfillmentNetwork].[tVorgang] CHECK CONSTRAINT [FK_FulfillmentNetwork_tVorgang_kVorgangType]
GO
