USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vProduct]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vProduct]
AS
SELECT  
    tArtikel.kArtikel AS 'Pk',
	tProductRef.cJfsku AS 'Jfsku',
	tArtikelBeschreibung.cName AS 'Name',
	CASE WHEN (tProductRef.nType IS NULL) OR (tProductRef.nType = 1)
	THEN tArtikel.cArtNr 
	ELSE  
		(SELECT TOP 1 cLiefArtNr FROM tliefartikel WHERE tliefartikel.tArtikel_kArtikel = tArtikel.kArtikel AND tliefartikel.nStandard = 1)
	END AS 'MerchantSku',
	tArtikel.cArtNr AS 'WawiProductNumber',
	tWarengruppe.cName AS 'ProductGroup',
	tArtikel.cHerkunftsland AS 'OriginCountry',
	tArtikel.fGewicht AS 'Weight',
	tArtikel.fArtGewicht as 'NetWeight',
	tArtikel.cAnmerkung AS 'Note',
	CASE WHEN tHersteller.kHersteller IS NULL THEN NULL ELSE tHersteller.cName END AS 'Manufacturer',
	tArtikel.cBarcode AS [Identifier.Ean],
	tArtikel.cISBN AS [Identifier.Isbn],
	tArtikel.cUPC AS [Identifier.Upc],
	artikelAsin.cASIN AS [Identifier.Asin],
	CASE tArtikel.cLagerAktiv WHEN 'Y' THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS IsWarehouseActive,
	CAST(tArtikel.nCharge AS BIT) AS [Specifications.IsBatch],
	CASE tArtikel.cTeilbar WHEN 'Y' THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS [Specifications.IsDivisible],
	CAST(tArtikel.nMHD AS BIT) AS [Specifications.IsBestBefore],
	CASE tArtikel.cLagerArtikel WHEN 'Y' THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS [Specifications.IsSerialNumber],
	tArtikel.cGefahrnr as [Specifications.HazardIdentifier],
	tArtikel.cUNNummer as [Specifications.UnNumber],
	tArtikel.cTaric as [Specifications.Taric],
	tArtikel.cAmazonFNSKU as [Specifications.Fnsku],
	CASE WHEN tArtikel.kStueckliste > 0   THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS [Specifications.IsBillOfMaterials],
	tArtikel.nIstVater as [Specifications.IsVariationCombination],
	CASE WHEN konfigGruppe.kArtikel IS NULL THEN CAST(0 AS BIT) ELSE CAST(1 AS BIT)	END AS [Specifications.IsConfiguration],
	CASE WHEN tHersteller.kHersteller IS NULL THEN '' ELSE tHersteller.cName END AS [Identifier.Mpn.Manufacturer],
	tArtikel.cHAN AS [Identifier.Mpn.PartNumber],
	tArtikel.fBreite AS [Dimensions.Width],
	tArtikel.fLaenge AS [Dimensions.Length],
	tArtikel.fHoehe AS [Dimensions.Height],
	CASE WHEN tArtikel.fVKNetto < 0 THEN 0 ELSE tArtikel.fVKNetto END AS [NetRetailPrice.Amount],
	tWaehrung.cEAMapping AS [NetRetailPrice.Currency],
	tZustand.nFFNCode AS FfnCondition,
	tZustand.kZustand AS 'ZustandKey'
FROM dbo.tArtikel
JOIN dbo.tSpracheUsed ON dbo.tSpracheUsed.nStandard = 1
JOIN dbo.tArtikelBeschreibung ON tArtikel.kArtikel = tArtikelBeschreibung.kArtikel AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache AND tArtikelBeschreibung.kPlattform = 1
JOIN dbo.tWaehrung ON tWaehrung.nStandard = 1
LEFT JOIN (SELECT DISTINCT kArtikel
            FROM dbo.tartikelkonfiggruppe
		) AS konfigGruppe ON konfigGruppe.kArtikel = tArtikel.kArtikel
LEFT JOIN dbo.tHersteller ON tHersteller.kHersteller = tArtikel.kHersteller
LEFT JOIN dbo.tWarengruppe ON tWarengruppe.kWarengruppe = tArtikel.kWarengruppe
LEFT JOIN FulfillmentNetwork.tProductRef ON tProductRef.kArtikel = tArtikel.kArtikel
LEFT JOIN Artikel.tArtikelAsin artikelAsin ON artikelAsin.kArtikelAsin =
(
	SELECT TOP 1 kArtikelAsin FROM Artikel.tArtikelAsin WHERE kArtikel = tArtikel.kArtikel
)
LEFT JOIN tZustand ON tArtikel.kZustand = tZustand.kZustand AND tZustand.nFFNCode > 0
GO
