USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[FulfillerPoductAttributeForFfnMapping]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[FulfillerPoductAttributeForFfnMapping] AS
SELECT     
tAttribut.kAttribut,           
dbo.tAttributSprache.cName,    
cGruppeName AS cGruppe,    
CASE
WHEN tFeldTyp.cName = 'Checkbox' THEN 'Boolean'     
WHEN nDatenTyp = 0 THEN 'Integer' WHEN nDatenTyp = 1 THEN 'Decimal'        
WHEN nDatenTyp = 2 THEN 'String' WHEN nDatenTyp = 3 THEN 'Date' ELSE 'String'    
END AS FFNTyp
FROM dbo.tAttribut   
JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAttribut.kAttribut   
LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tAttributSprache.kSprache AND tSpracheUsed.nStandard = 1
JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
WHERE (nBezugstyp = 0 AND nIstFreifeld = 1);
GO
