USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vLieferavisPositionen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vLieferavisPositionen]
AS
SELECT tLieferavisPosition.kLieferavisPosition,
       tLieferavisPosition.kLieferavis,
       tLieferavisPosition.nPaketNummer,
       tLieferavisPosition.kArtikel,
       tLieferavisPosition.cArtikelnummer,
       tLieferavisPosition.fMenge,
       tLieferavisPosition.dMHD,
       tLieferavisPosition.cCharge,
       tLieferavisPosition.cSeriennummer,
       tLieferavisPosition.cNotiz,
       tProductRef.cJfsku
FROM dbo.tLieferavisPosition
         JOIN FulfillmentNetwork.tProductRef ON tProductRef.kArtikel = tLieferavisPosition.kArtikel
GO
