USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantInboundItem]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantInboundItem]
AS
SELECT 
	LieferantenBestellungPos.kLieferantenBestellungPos as kLieferantenBestellungPos
,	LieferantenBestellungPos.kLieferantenBestellung as kLieferantenBestellung
,	LieferantenBestellungPos.cLieferantenArtNr as SupplierSku
,	LieferantenBestellungPos.cLieferantenBezeichnung AS SupplierProductName
,	LieferantenBestellungPos.fMenge as Quantity
,	SUBSTRING(LTRIM(LieferantenBestellungPos.cHinweis + ISNULL(Seriennummern.cSeriennr,'')), 0, 4096) AS Note
,	tProductRef.cjfsku as JFSKU
,	Artikel.kArtikel as kArtikel
FROM 	tLieferantenBestellungPos	 AS LieferantenBestellungPos
JOIN 	tArtikel					 AS Artikel ON LieferantenBestellungPos.kArtikel = Artikel.kArtikel AND LieferantenBestellungPos.nPosTyp IN (0,1)
LEFT JOIN FulfillmentNetwork.tProductRef ON tProductRef.kArtikel = Artikel.kArtikel
OUTER APPLY ( SELECT 'Seriennummern: ' + STUFF((
							SELECT ',' + cSeriennr  
							FROM dbo.tUmlagerung AS Umlagerung 
								LEFT JOIN	Verkauf.tAuftragPosition AS Bestellpos ON Bestellpos.kAuftrag = Umlagerung.kBestellung AND Bestellpos.kArtikel = Artikel.kArtikel AND  Umlagerung.kLieferantenBestellung = LieferantenBestellungPos.kLieferantenBestellung
								LEFT JOIN	dbo.tLagerArtikel		AS Seriennummern ON Seriennummern.kArtikel = Artikel.kArtikel AND Seriennummern.kBestellPos = Bestellpos.kAuftragPosition							
							FOR XML PATH('')) ,1,1,'') AS cSeriennr ) AS Seriennummern
GO
