USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vAuftrag]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vAuftrag] AS
    SELECT  Bestellung.kAuftrag AS kBestellung,
			FirmaHistory.kFirma as kFirma,
            FulfillmentAuftrag.kFulfillmentAuftrag,
			FulfillmentAuftrag.kLieferschein,
            FulfillmentAuftrag.cLieferscheinnummer,
			Ref.cOutboundId as cOutboundId,
            Bestellung.cWaehrung,
            Bestellung.kKunde AS kKunde,
            Bestellung.dVoraussichtlichesLieferdatum AS dLieferdatum,
            Bestellung.nPremiumVersand AS nPremium,
            BestellHinweis.cAnmerkung AS cAnmerkung,
            BestellHinweis.cHinweis AS cBestellHinweis,
            Bestellung.cAuftragsNr AS cBestellNr,
            Bestellung.cExterneAuftragsnummer AS cExterneNummer,
            Bestellung.nLieferPrioritaet AS nPrio,
			Bestellung.kPlattform AS nPlatform,			
			Plattform.cName AS PlattformName,
            FulfillmentAuftrag.cLieferAdresseAnrede AS cAnrede,
            FulfillmentAuftrag.cLieferadresseBundesland AS cBundesland,
            FulfillmentAuftrag.cLieferAdresseFirma AS cFirma,
            Lieferadresse.cISO AS cLand,
            FulfillmentAuftrag.cLieferAdresseEmail AS cMail,
            FulfillmentAuftrag.cLieferAdresseTel AS cTel,
            FulfillmentAuftrag.cLieferAdresseName AS cName,
            FulfillmentAuftrag.cLieferAdresseOrt AS cOrt,
            FulfillmentAuftrag.cLieferAdressePLZ AS cPLZ,
            FulfillmentAuftrag.cLieferAdresseStrasse AS cStrasse,
            FulfillmentAuftrag.cLieferAdresseVorname AS cVorname,
            FulfillmentAuftrag.cLieferZusatz AS cZusatz,
            FulfillmentAuftrag.cLieferAdressZusatz AS cAdressZusatz,
            Lieferadresse.cMobil AS cMobil,
            Lieferadresse.cFax AS cFax,
			Warenlager.kWarenLager,
            WarenLager.cFfnWarehouseId as cWarehouseId,
            Bestellung.kVersandArt AS kVersandart,
            Umlagerung.kZielLager,			
			Umlagerung.kUmlagerung,
			Versandart.nAmazonPrime AS VersandartIsAmazonPrime 
    FROM    Verkauf.tAuftrag AS Bestellung
			JOIN dbo.tPlattform AS Plattform on Plattform.nPlattform = Bestellung.kPlattform
			JOIN dbo.tLieferschein AS Lieferschein ON Lieferschein.kBestellung = Bestellung.kAuftrag
            JOIN dbo.tFulfillmentAuftrag AS FulfillmentAuftrag ON FulfillmentAuftrag.kLieferschein = Lieferschein.kLieferschein
                                                              AND NOT FulfillmentAuftrag.nStatus = 40
            JOIN dbo.tWarenLager AS WarenLager ON WarenLager.kWarenLager = FulfillmentAuftrag.kWarenlager
                                                  AND WarenLager.nFulfillment = 3
            JOIN Verkauf.vAuftragLieferadresse AS Lieferadresse ON Lieferadresse.kAuftrag = Bestellung.kAuftrag
			LEFT JOIN dbo.tVersandArt AS Versandart ON Versandart.kVersandArt = Bestellung.kVersandArt
			JOIN dbo.tFirmaHistory AS FirmaHistory ON FirmaHistory.kFirmaHistory = Bestellung.kFirmaHistory
            LEFT JOIN Verkauf.tAuftragText AS BestellHinweis ON Bestellung.kAuftrag = BestellHinweis.kAuftrag
            LEFT JOIN dbo.tUmlagerung AS Umlagerung ON Umlagerung.kBestellung = Bestellung.kAuftrag
			LEFT JOIN FulfillmentNetwork.tOutboundRef as Ref ON Ref.kFulfillmentAuftrag = FulfillmentAuftrag.kFulfillmentAuftrag
GO
