USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantProductPicture]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [FulfillmentNetwork].[vMerchantProductPicture] 
AS
SELECT 
	ArtikelbildPlattform.kArtikelbildPlattform,
	ArtikelbildPlattform.kArtikel,
	ArtikelbildPlattform.kPlattform,
	ArtikelbildPlattform.nNr,
	Bild.kBild,
	Bild.bBild,
	Bild.bRowversion AS bBildRowVersion,
	ProductPictureRef.nFfnNumber,
	ProductPictureRef.bBildRowVersion AS bProductPictureRefBildRowVersion
FROM
[dbo].[tArtikelbildPlattform] AS ArtikelbildPlattform
JOIN [dbo].[tBild] AS Bild ON Bild.kBild = ArtikelbildPlattform.kBild
LEFT JOIN [FulfillmentNetwork].[tProductPictureRef] AS ProductPictureRef ON ProductPictureRef.kArtikelbildPlattform = ArtikelbildPlattform.kArtikelbildPlattform;
GO
