USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantProductAttributes]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantProductAttributes]
AS
SELECT kArtikel,tArtikelAttribut.kAttribut,
       cName,
	   cFfnName,
       cFeldTyp,
	   CASE WHEN cFeldTyp = 'Checkbox' THEN 'Boolean'	    
			WHEN nDatenTyp = 0 THEN 'Integer'
			WHEN nDatenTyp = 1 THEN 'Decimal'
	        WHEN nDatenTyp = 2 THEN 'String'
			WHEN nDatenTyp = 3 THEN 'Date'
			ELSE 'String'
	   END AS FFNTyp,

       tArtikelAttributSprache.cWertVarchar,
       tArtikelAttributSprache.nWertInt,
       tArtikelAttributSprache.fWertDecimal,
       tArtikelAttributSprache.dWertDateTime
FROM FulfillmentNetwork.vMerchantProductAttributeMappingView
    JOIN dbo.tArtikelAttribut
        ON tArtikelAttribut.kAttribut = vMerchantProductAttributeMappingView.kAttribut
    JOIN dbo.tArtikelAttributSprache
        ON tArtikelAttributSprache.kArtikelAttribut = tArtikelAttribut.kArtikelAttribut
    JOIN dbo.tSpracheUsed
        ON (
               tArtikelAttributSprache.kSprache = 0
               OR tSpracheUsed.kSprache = tArtikelAttributSprache.kSprache
           )
           AND dbo.tSpracheUsed.nStandard = 1
		 WHERE vMerchantProductAttributeMappingView.cFfnName IS NOT NULL;
GO
