USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillmentKunde]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vFulfillmentKunde]
AS
SELECT  Kunde.kKunde ,
        Kunde.cKundenNr ,
        Adresse.cFirma ,
        Adresse.cAnrede ,
        Adresse.cTitel ,
        Adresse.cVorname ,
        Adresse.cName ,
        Adresse.cStrasse ,
        Adresse.cPLZ ,
        Adresse.cOrt ,
        Adresse.cLand ,
        Adresse.cISO ,
        Adresse.cTel ,
        Adresse.cFax ,
        Adresse.cMail AS cEMail ,
        Kunde.dErstellt ,
        Adresse.cMobil ,
        Kunde.kKundenGruppe ,
        Adresse.cBundesland ,
        Kunde.kKundenKategorie ,
        Adresse.cAdressZusatz ,
        Adresse.cZusatz ,
		Adresse.cPostID ,		
        Kategorie.cName AS cKategorie ,
        Lieferant.cLieferantID AS cFulfillmentSupplierId ,
        Lieferant.kLieferant ,
        Lieferant.nStandardFirma,
        Einstellungen.kFulfillerEinstellungen ,
        Einstellungen.cPrefixAbrechnung ,
        Einstellungen.cSuffixAbrechnung ,
        Einstellungen.nAbrechnungsZeitraum ,
        Einstellungen.kAbrechnung ,
        Einstellungen.dAbrechnungInitial ,
        Einstellungen.dAbrechnungStart ,
        Einstellungen.dAbrechnungEnde, 
		Einstellungen.nBestandserfassungModus,
		Kunde.kFirma as kKundeFirma
FROM    tkunde AS Kunde
		JOIN dbo.tAdresse AS Adresse ON (Adresse.kKunde = Kunde.kKunde) AND (Adresse.nStandard = 1) AND (Adresse.nTyp = 1)
        LEFT JOIN dbo.tKundenKategorie AS Kategorie ON Kategorie.kKundenKategorie = Kunde.kKundenKategorie 
        JOIN FulfillmentNetwork.tFulfillerEinstellungen AS Einstellungen ON Einstellungen.kKunde = Kunde.kKunde
		JOIN dbo.tlieferant AS Lieferant ON Lieferant.kLieferant = Einstellungen.kLieferant AND Lieferant.nJtlFulfillment = 1
GO
