USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vReturnPickupAddress]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vReturnPickupAddress] AS 
    SELECT 
	tRMRetoureAbholAdresse.kRMRetoureAbholAdresse,
	tRMRetoureAbholAdresse.kKunde,
	tRMRetoureAbholAdresse.cFirma AS Firma,
	tRMRetoureAbholAdresse.cAnrede AS Anrede,
	tRMRetoureAbholAdresse.cTitel AS Titel,
	tRMRetoureAbholAdresse.cVorname AS Vorname,
	tRMRetoureAbholAdresse.cName AS Name,
	tRMRetoureAbholAdresse.cStrasse AS Strasse,
	tRMRetoureAbholAdresse.cPLZ AS PLZ,
	tRMRetoureAbholAdresse.cOrt AS Ort,
	tRMRetoureAbholAdresse.cLand AS Land,
	tRMRetoureAbholAdresse.cZusatz AS Zusatz,
	tRMRetoureAbholAdresse.cAdressZusatz AS AdressZusatz,
	tRMRetoureAbholAdresse.cPostId AS PostId,
	tRMRetoureAbholAdresse.cMobil AS Mobil,
	tRMRetoureAbholAdresse.cFax AS Fax,
	tRMRetoureAbholAdresse.cBundesland AS Bundesland,
	tRMRetoureAbholAdresse.cIso AS Iso
	FROM tRMRetoureAbholAdresse
GO
