USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vUnkownConditionProducts]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vUnkownConditionProducts] AS
SELECT pendingStocks.kStockRef AS StockRefPk,
       parentRef.cJfsku AS parentJfsku,
       parentRef.nCondition AS parentCondition,
       pendingStocks.kArtikel AS childProduct,
       tArtikel.cArtNr AS artNr,
       childZustand.nFFNCode AS childFfnCondition
FROM FulfillmentNetwork.tStockRef pendingStocks
    JOIN tArtikel
        ON tArtikel.kArtikel = pendingStocks.kArtikel
    JOIN tArtikelZustand
        ON tArtikelZustand.kZustandArtikel = tArtikel.kArtikel
    JOIN tZustand childZustand
        ON childZustand.kZustand = tArtikel.kZustand
    JOIN FulfillmentNetwork.tProductRef parentRef
        ON parentRef.kArtikel = tArtikelZustand.kHauptartikel
WHERE 
	pendingStocks.nChangeState = 0 AND
	childZustand.nFFNCode != 0
      AND NOT EXISTS
(
    SELECT *
    FROM FulfillmentNetwork.tProductRef
    WHERE kArtikel = tArtikel.kArtikel
)
      AND parentRef.nCondition > 0
UNION ALL
SELECT pendingStocks.kStockRef AS StockRefPk,
       parentRef.cJfsku AS parentJfsku,
       parentRef.nCondition AS parentCondition,
       pendingStocks.kArtikel AS childProduct,
       tArtikel.cArtNr AS artNr,
       childZustand.nFFNCode AS childFfnCondition
FROM FulfillmentNetwork.tStockRef pendingStocks
    JOIN tArtikel
        ON tArtikel.kArtikel = pendingStocks.kArtikel
    JOIN tArtikelZustand
        ON tArtikelZustand.kHauptartikel = tArtikel.kArtikel
    JOIN tZustand childZustand
        ON childZustand.kZustand = tArtikel.kZustand
    JOIN FulfillmentNetwork.tProductRef parentRef
        ON parentRef.kArtikel = tArtikelZustand.kZustandArtikel
WHERE 
	pendingStocks.nChangeState = 0 AND
	childZustand.nFFNCode != 0
      AND NOT EXISTS
(
    SELECT *
    FROM FulfillmentNetwork.tProductRef
    WHERE kArtikel = tArtikel.kArtikel
)
      AND parentRef.nCondition > 0;
GO
