USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vProductBundles]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vProductBundles]
AS
SELECT Gebinde.kArtikel,
	   Einheit.cName as Name,
	   Gebinde.fAnzahl as Quantity,
       Gebinde.cEAN as Ean,
       Gebinde.cUPC as Upc
FROM dbo.tGebinde AS Gebinde
JOIN dbo.tEinheitSprache AS Einheit ON Einheit.kEinheit = Gebinde.cName
WHERE Einheit.kSprache = ( SELECT TOP ( 1 ) kSprache FROM   dbo.tSpracheUsed WHERE  nStandard = 1 )
GO
