USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tMerchantInboundShippingNotificationRef]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tMerchantInboundShippingNotificationRef](
	[kMerchantInboundShippingNotificationRef] [int] IDENTITY(1,1) NOT NULL,
	[kLieferschein] [int] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[cInboundShippingNotificationId] [nvarchar](255) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tMerchantInboundShippingNotificationRef] PRIMARY KEY CLUSTERED 
(
	[kMerchantInboundShippingNotificationRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantInboundShippingNotificationRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tMerchantInboundShippingNotificationRef_kLieferschein] FOREIGN KEY([kLieferschein])
REFERENCES [dbo].[tLieferschein] ([kLieferschein])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantInboundShippingNotificationRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tMerchantInboundShippingNotificationRef_kLieferschein]
GO
