USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tMerchantVersandRef]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tMerchantVersandRef](
	[kMerchantVersandRef] [int] IDENTITY(1,1) NOT NULL,
	[kVersand] [int] NOT NULL,
	[kLieferschein] [int] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[cOwnerId] [nvarchar](10) NULL,
	[cOutboundShippingNotificationId] [nvarchar](255) NULL,
	[bRowVersion] [binary](8) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tMerchantVersandRef] PRIMARY KEY CLUSTERED 
(
	[kMerchantVersandRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantVersandRef]  WITH CHECK ADD  CONSTRAINT [FK_dbo_tMerchantVersandRef_kVersand] FOREIGN KEY([kVersand])
REFERENCES [dbo].[tVersand] ([kVersand])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantVersandRef] CHECK CONSTRAINT [FK_dbo_tMerchantVersandRef_kVersand]
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantVersandRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tMerchantVersandRef_kLieferschein] FOREIGN KEY([kLieferschein])
REFERENCES [dbo].[tLieferschein] ([kLieferschein])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tMerchantVersandRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tMerchantVersandRef_kLieferschein]
GO
