USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tReturnItemRef]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tReturnItemRef](
	[kReturnItemRef] [int] IDENTITY(1,1) NOT NULL,
	[kReturnRef] [int] NOT NULL,
	[kRmRetoure] [int] NOT NULL,
	[kRmRetourePos] [int] NULL,
	[kLieferscheinPos] [int] NULL,
	[cReturnItemId] [nvarchar](255) NOT NULL,
	[fQuantity] [decimal](28, 14) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[cOwnerId] [nvarchar](10) NULL,
	[bRowVersion] [binary](8) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tReturnItemRef] PRIMARY KEY CLUSTERED 
(
	[kReturnItemRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
