USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tFulfillerAttributeMapping]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tFulfillerAttributeMapping](
	[kFulfillerAttributeMapping] [int] IDENTITY(1,1) NOT NULL,
	[cMerchantId] [nvarchar](10) NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cType] [nvarchar](10) NOT NULL,
	[kAttribut] [int] NULL,
 CONSTRAINT [PK_tFulfillerAttributeMapping] PRIMARY KEY CLUSTERED 
(
	[kFulfillerAttributeMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tFulfillerAttributeMapping]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tFulfillerAttributeMapping_kAttribut] FOREIGN KEY([kAttribut])
REFERENCES [dbo].[tAttribut] ([kAttribut])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tFulfillerAttributeMapping] CHECK CONSTRAINT [FK_FulfillmentNetwork_tFulfillerAttributeMapping_kAttribut]
GO
