USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tFulfillerStammdatenKonfiguration]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tFulfillerStammdatenKonfiguration](
	[cName] [nvarchar](255) NOT NULL,
	[cValue] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tFulfillerStammdatenKonfiguration] PRIMARY KEY CLUSTERED 
(
	[cName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'FulfillmentNetwork', @level1type=N'TABLE',@level1name=N'tFulfillerStammdatenKonfiguration'
GO
