USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantReturnItem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantReturnItem] AS 
    SELECT DISTINCT 
		tRMRetourePos.kRMRetourePos,
		tRMRetoure.kRMRetoure,
		vProduct.Jfsku,
		vProduct.MerchantSku,
		tRMRetourePos.fAnzahl AS WawiQuantity,
		tReturnItemRef.fQuantity AS ApiQuantity,
		tOutboundRef.cOutboundId AS OutboundId,
		CAST(tFulfillmentAuftragPos.kFulfillmentAuftragPos AS varchar) AS OutboundItemId,
		tRMRetourePos.kRMGrund AS GrundPk,
		tRMRetourePos.cGrundKommentar AS GrundKommentar
					
		FROM tRMRetourePos
		JOIN tRmRetoure ON tRMRetourePos.kRmRetoure = tRMRetoure.kRMRetoure
		JOIN tLieferscheinPos ON tLieferscheinPos.kLieferscheinPos = tRMRetourePos.kLieferscheinPos
		JOIN tLieferschein ON tLieferschein.kLieferschein = tLieferscheinPos.kLieferschein
		JOIN tFulfillmentAuftragPos ON tFulfillmentAuftragPos.kLieferscheinPos = tLieferscheinPos.kLieferscheinPos
		JOIN FulfillmentNetwork.vProduct ON vProduct.Pk = tRMRetourePos.kArtikel
		JOIN FulfillmentNetwork.tOutboundRef ON tOutboundRef.kBestellung = tLieferschein.kBestellung
		LEFT JOIN FulfillmentNetwork.tReturnItemRef ON tReturnItemRef.kRmRetourePos = tRMRetourePos.kRMRetourePos
GO
