USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantProductAttributeMappingView]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantProductAttributeMappingView]
AS
SELECT 
	   tAttribut.kAttribut,	   
       dbo.tAttributSprache.cName,
	   nIstFreifeld AS nIstEigenesFeld,
	   cGruppeName AS cGruppe,
       tFeldTyp.cName AS cFeldTyp,
       tFeldTyp.nDatenTyp AS nDatenTyp,
	   cFfnName
FROM dbo.tAttribut
    JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAttribut.kAttribut
	Left JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tAttributSprache.kSprache 
	JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
	LEFT JOIN FulfillmentNetwork.tMerchantProductAttributeMapping ON tMerchantProductAttributeMapping.kAttribut = tAttribut.kAttribut
WHERE (nBezugstyp = 0 AND (tAttributSprache.kSprache = 0 OR tSpracheUsed.nStandard = 1 OR nIstFreifeld = 1));
GO
