USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tVorgang_FulfillmentLog]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tVorgang_FulfillmentLog](
	[kVorgang_FulfillmentLog] [int] IDENTITY(1,1) NOT NULL,
	[kVorgang] [int] NOT NULL,
	[kFulfillmentLog] [int] NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork.tVorgang_FulfillmentLog] PRIMARY KEY CLUSTERED 
(
	[kVorgang_FulfillmentLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tVorgang_FulfillmentLog]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tVorgang_FulfillmentLog_kVorgang] FOREIGN KEY([kVorgang])
REFERENCES [FulfillmentNetwork].[tVorgang] ([kVorgang])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tVorgang_FulfillmentLog] CHECK CONSTRAINT [FK_FulfillmentNetwork_tVorgang_FulfillmentLog_kVorgang]
GO
