USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tStockRef]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tStockRef](
	[kStockRef] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kBuchungsart] [int] NOT NULL,
	[kWarenLagerPlatz] [int] NOT NULL,
	[kLieferantenBestellungPos] [int] NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NULL,
	[cLieferscheinNr] [nvarchar](255) NULL,
	[cOwnerId] [nvarchar](10) NULL,
	[dMHD] [datetime] NULL,
	[cCharge] [nvarchar](255) NULL,
	[cKommentar] [nvarchar](255) NULL,
	[kWarenLagerEingang] [int] NULL,
	[kSessionId] [int] NULL,
	[cFulfillerStockChangeId] [uniqueidentifier] NOT NULL,
	[bRowVersion] [timestamp] NOT NULL,
	[nChangeState] [tinyint] NULL,
	[nType] [tinyint] NULL,
	[nBlocked] [tinyint] NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tStockRef] PRIMARY KEY CLUSTERED 
(
	[kStockRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tStockRef] ADD  DEFAULT ((0)) FOR [nBlocked]
GO
ALTER TABLE [FulfillmentNetwork].[tStockRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tStockRef_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tStockRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tStockRef_kArtikel]
GO
