USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillerReturn]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- DEV DB

CREATE VIEW [FulfillmentNetwork].[vFulfillerReturn] AS 
    SELECT DISTINCT 
		tRMRetoure.kRMRetoure AS kRmRetoure,
		tRMRetoure.cRetoureNr AS RetoureNr,
		tRMRetoure.dErstellt,
		tRMRetoure.kRMRetoureAbholAdresse AS kRMRetoureAbholAdresse,
		tRMRetoure.cKommentarExtern AS KommentarExtern,
		tRMRetoure.cKommentarIntern AS KommentarIntern,
		tRMRetoure.cAnsprechpartner AS Ansprechpartner,
		tWarenLager.cFfnWarehouseId AS WarehouseId,
		tlieferant.cLieferantID as MerchantId,
		tReturnRef.cReturnId as ReturnId,
		tReturnRef.cWarehouseId as ReturnReferenceWarehouseId
		FROM tRMRetoure
		JOIN FulfillmentNetwork.tFulfillerEinstellungen ON tFulfillerEinstellungen.kKunde = tRMRetoure.kKunde
		JOIN tlieferant ON tlieferant.kLieferant = tFulfillerEinstellungen.kLieferant
		JOIN tRMRetourePos ON tRMRetourePos.kRMRetoure = tRMRetoure.kRMRetoure
		JOIN tWarenLager ON tRMRetoure.kWarenlager = tWarenLager.kWarenLager
		JOIN FulfillmentNetwork.tProductRef ON tProductRef.kArtikel = tRMRetourePos.kArtikel
		LEFT JOIN FulfillmentNetwork.tReturnRef ON tReturnRef.kRmRetoure = tRMRetoure.kRMRetoure
GO
