USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tProductPictureRef]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tProductPictureRef](
	[kProductPictureRef] [int] IDENTITY(1,1) NOT NULL,
	[kArtikelbildPlattform] [int] NOT NULL,
	[kBild] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[dCreatedAt] [datetimeoffset](7) NOT NULL,
	[dUpdatedAt] [datetimeoffset](7) NOT NULL,
	[cOwnerId] [nvarchar](10) NOT NULL,
	[cFfnPublicUrl] [nvarchar](255) NULL,
	[cFfnHash] [nvarchar](255) NULL,
	[nFfnNumber] [int] NOT NULL,
	[bBildRowVersion] [binary](8) NOT NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tProductPictureRef] PRIMARY KEY CLUSTERED 
(
	[kProductPictureRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tProductPictureRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tProductPictureRef_kArtikelbildPlattform] FOREIGN KEY([kArtikelbildPlattform])
REFERENCES [dbo].[tArtikelbildPlattform] ([kArtikelbildPlattform])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tProductPictureRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tProductPictureRef_kArtikelbildPlattform]
GO
