USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tCategoryRef]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tCategoryRef](
	[kCategoryRef] [int] IDENTITY(1,1) NOT NULL,
	[kKategorie] [int] NOT NULL,
	[cMerchantId] [nvarchar](10) NULL,
	[cProductGroup] [nvarchar](255) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tCategoryRef] PRIMARY KEY CLUSTERED 
(
	[kCategoryRef] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [FulfillmentNetwork].[tCategoryRef]  WITH CHECK ADD  CONSTRAINT [FK_FulfillmentNetwork_tCategoryRef_kKategorie] FOREIGN KEY([kKategorie])
REFERENCES [dbo].[tkategorie] ([kKategorie])
ON DELETE CASCADE
GO
ALTER TABLE [FulfillmentNetwork].[tCategoryRef] CHECK CONSTRAINT [FK_FulfillmentNetwork_tCategoryRef_kKategorie]
GO
