USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vMerchantPendingInbound]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vMerchantPendingInbound]
AS
SELECT *
FROM FulfillmentNetwork.vMerchantInbound
WHERE UpdatedAt IS NULL
      AND
      (
          ChangeState IS NULL
          OR ChangeState != 2
      )
      AND LieferantenBestellungStatus = 20;
GO
