USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tAbrechnungLagerplatz]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tAbrechnungLagerplatz](
	[kAbrechnungLagerplatz] [int] IDENTITY(1,1) NOT NULL,
	[kLieferant] [int] NOT NULL,
	[kWarenLagerPlatz] [int] NOT NULL,
	[kWarenLagerPlatzTyp] [int] NOT NULL,
	[kWMSLagerBereich] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[nModus] [int] NOT NULL,
	[nLagerkostenBerechnung] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL
) ON [PRIMARY]
GO
