USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[lvAbrechnungEinzelnachweis]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[lvAbrechnungEinzelnachweis]
AS
WITH Pick
AS (
   SELECT DISTINCT
          Pos.kPicklistePos AS kObjektPk,
          18 AS nObjekt,
          'Pickliste: ' + CAST(Pos.kPickliste AS VARCHAR(255)) + ', Platz: ' + Platz.cName + ', Artikel: ' + Artikel.cArtNr AS cName
   FROM dbo.tPicklistePos AS Pos
       JOIN dbo.tWarenLagerPlatz AS Platz
           ON Platz.kWarenLagerPlatz = Pos.kWarenlagerPlatz
       JOIN dbo.tArtikel Artikel
           ON Artikel.kArtikel = Pos.kArtikel),
     Artikel
AS (SELECT Artikel.kArtikel AS kObjektPk,
           1 AS nObjekt,
           Artikel.cArtNr AS cName
    FROM dbo.tArtikel AS Artikel),
     WarenlagerAusgang
AS (SELECT WarenLagerAusgang.kWarenLagerAusgang AS kObjektPk,
           2 AS nObjekt,
           'Platz: ' + Platz.cName + ', Artikel: ' + Artikel.cArtNr AS cName
    FROM dbo.tWarenLagerAusgang AS WarenLagerAusgang
        JOIN dbo.tArtikel AS Artikel
            ON Artikel.kArtikel = WarenLagerAusgang.kArtikel
        JOIN dbo.tWarenLagerPlatz AS Platz
            ON Platz.kWarenLagerPlatz = WarenLagerAusgang.kWarenLagerPlatz),
     Lieferantenbestellung
AS (SELECT Lieferantenbestellung.kLieferantenBestellung AS kObjektPk,
           3 AS nObjekt,
           'Bestellnummer: ' + Lieferantenbestellung.cEigeneBestellnummer + ', Externe-Nummer: '
           + Lieferantenbestellung.cFremdbelegnummer AS cName
    FROM dbo.tLieferantenBestellung AS Lieferantenbestellung),
     Eingangsrechnung
AS (SELECT Eingangsrechnung.kEingangsrechnung AS kObjektPk,
           4 AS nObjekt,
           Eingangsrechnung.cEigeneRechnungsnummer AS cName
    FROM dbo.tEingangsrechnung AS Eingangsrechnung),
     Kunde
AS (SELECT Kunde.kKunde AS kObjektPk,
           5 AS nObjekt,
           dbo.tAdresse.cFirma + ' ' + dbo.tAdresse.cVorname + ' ' + dbo.tAdresse.cName + ' ' + Kunde.cKundenNr AS cName
    FROM dbo.tkunde AS Kunde
        JOIN dbo.tAdresse
            ON Kunde.kKunde = tAdresse.kKunde
               AND dbo.tAdresse.nTyp = 1
               AND dbo.tAdresse.nStandard = 1),
     Auftrag
AS (SELECT Auftrag.kBestellung AS kObjektPk,
           6 AS nObjekt,
           Auftrag.cBestellNr AS cName
    FROM dbo.tBestellung AS Auftrag
    WHERE Auftrag.cType = 'B'),
     Lieferschein
AS (SELECT Lieferschein.kLieferschein AS kObjektPk,
           7 AS nObjekt,
           Lieferschein.cLieferscheinNr AS cName
    FROM dbo.tLieferschein AS Lieferschein),
     Rechnung
AS (SELECT Rechnung.kRechnung AS kObjektPk,
           8 AS nObjekt,
           Rechnung.cRechnungsNr AS cName
    FROM dbo.trechnung AS Rechnung),
     Gutschrift
AS (SELECT Gutschrift.kGutschrift AS kObjektPk,
           9 AS nObjekt,
           Gutschrift.cGutschriftNr AS cName
    FROM dbo.tgutschrift AS Gutschrift),
     Pickliste
AS (SELECT Pickliste.kPickliste AS kObjektPk,
           10 AS nObjekt,
           CAST(Pickliste.kPickliste AS VARCHAR(255)) AS cName
    FROM dbo.tPickliste AS Pickliste),
     WarenlagerEingang
AS (SELECT WarenlagerEingang.kWarenLagerEingang AS kObjektPk,
           11 AS nObjekt,
           'Platz: ' + Platz.cName + ', Artikel: ' + Artikel.cArtNr AS cName
    FROM dbo.tWarenLagerEingang AS WarenlagerEingang
        JOIN dbo.tArtikel AS Artikel
            ON Artikel.kArtikel = WarenlagerEingang.kArtikel
        JOIN dbo.tWarenLagerPlatz AS Platz
            ON Platz.kWarenLagerPlatz = WarenlagerEingang.kWarenLagerPlatz),
     Angebot
AS (SELECT Angebot.kBestellung AS kObjektPk,
           12 AS nObjekt,
           Angebot.cBestellNr AS cName
    FROM dbo.tBestellung AS Angebot
    WHERE Angebot.cType = 'A'),
     Kategorie
AS (SELECT Kategorie.kKategorie AS kObjektPk,
           13 AS nObjekt,
           KategorieSprache.cName AS cName
    FROM dbo.tkategorie AS Kategorie
        JOIN dbo.tKategorieSprache AS KategorieSprache
            ON KategorieSprache.kKategorie = Kategorie.kKategorie
        JOIN dbo.tSpracheUsed AS SpracheUsed
            ON SpracheUsed.kSprache = KategorieSprache.kSprache
               AND KategorieSprache.kPlattform = 1
               AND SpracheUsed.nStandard = 1),
     RetourePosition
AS (SELECT RetourePosition.kRMRetourePos AS kObjektPk,
           14 AS nObjekt,
           'Retoure: ' + Retoure.cRetoureNr + ' Artikel: ' + Artikel.cArtNr AS cName
    FROM dbo.tRMRetourePos AS RetourePosition
        JOIN dbo.tArtikel AS Artikel
            ON Artikel.kArtikel = RetourePosition.kArtikel
        JOIN dbo.tRMRetoure AS Retoure
            ON Retoure.kRMRetoure = RetourePosition.kRMRetoure),
     Retoure
AS (SELECT Retoure.kRMRetoure AS kObjektPk,
           15 AS nObjekt,
           Retoure.cRetoureNr AS cName
    FROM dbo.tRMRetoure AS Retoure),
     Versand
AS (SELECT Versand.kVersand AS kObjektPk,
           16 AS nObjekt,
           'Lieferschein: ' + Lieferschein.cLieferscheinNr + 'Tracking Nr: ' + Versand.cShipmentId AS cName
    FROM dbo.tVersand AS Versand
        JOIN dbo.tLieferschein AS Lieferschein
            ON Lieferschein.kLieferschein = Versand.kLieferschein),
     Lagerplatz
AS (SELECT Lagerplatz.kWarenLagerPlatz AS kObjektPk,
           19 AS nObjekt,
           Lagerplatz.cName AS cName
    FROM dbo.tWarenLagerPlatz AS Lagerplatz)
SELECT Einzelnachweis.kAbrechnungEinzelnachweis,
       Einzelnachweis.kAbrechnung,
       Einzelnachweis.kAbrechnungPos,
       Einzelnachweis.fAnzahl,
       Einzelnachweis.nObjekt,
       Einzelnachweis.kObjektPk,
       Einzelnachweis.dErstellt,
       Einzelnachweis.cHinweis,
       CASE
           WHEN NOT Artikel.kObjektPk IS NULL THEN
               Artikel.cName
           WHEN NOT WarenlagerAusgang.kObjektPk IS NULL THEN
               WarenlagerAusgang.cName
           WHEN NOT Lieferantenbestellung.kObjektPk IS NULL THEN
               Lieferantenbestellung.cName
           WHEN NOT Eingangsrechnung.kObjektPk IS NULL THEN
               Eingangsrechnung.cName
           WHEN NOT Kunde.kObjektPk IS NULL THEN
               Kunde.cName
           WHEN NOT Auftrag.kObjektPk IS NULL THEN
               Auftrag.cName
           WHEN NOT Lieferschein.kObjektPk IS NULL THEN
               Lieferschein.cName
           WHEN NOT Rechnung.kObjektPk IS NULL THEN
               Rechnung.cName
           WHEN NOT Gutschrift.kObjektPk IS NULL THEN
               Gutschrift.cName
           WHEN NOT Pickliste.kObjektPk IS NULL THEN
               Pickliste.cName
           WHEN NOT WarenlagerEingang.kObjektPk IS NULL THEN
               WarenlagerEingang.cName
           WHEN NOT Angebot.kObjektPk IS NULL THEN
               Angebot.cName
           WHEN NOT Kategorie.kObjektPk IS NULL THEN
               Kategorie.cName
           WHEN NOT RetourePosition.kObjektPk IS NULL THEN
               RetourePosition.cName
           WHEN NOT Retoure.kObjektPk IS NULL THEN
               Retoure.cName
           WHEN NOT Versand.kObjektPk IS NULL THEN
               Versand.cName
           WHEN NOT Pick.kObjektPk IS NULL THEN
               Pick.cName
           WHEN NOT Lagerplatz.kObjektPk IS NULL THEN
               Lagerplatz.cName
       END AS cName
FROM FulfillmentNetwork.tAbrechnungEinzelnachweis AS Einzelnachweis
    LEFT JOIN Artikel
        ON Einzelnachweis.nObjekt = Artikel.nObjekt
           AND Artikel.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN WarenlagerAusgang
        ON Einzelnachweis.nObjekt = WarenlagerAusgang.nObjekt
           AND WarenlagerAusgang.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Lieferantenbestellung
        ON Einzelnachweis.nObjekt = Lieferantenbestellung.nObjekt
           AND Lieferantenbestellung.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Eingangsrechnung
        ON Einzelnachweis.nObjekt = Eingangsrechnung.nObjekt
           AND Eingangsrechnung.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Kunde
        ON Einzelnachweis.nObjekt = Kunde.nObjekt
           AND Kunde.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Auftrag
        ON Einzelnachweis.nObjekt = Auftrag.nObjekt
           AND Auftrag.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Lieferschein
        ON Einzelnachweis.nObjekt = Lieferschein.nObjekt
           AND Lieferschein.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Rechnung
        ON Einzelnachweis.nObjekt = Rechnung.nObjekt
           AND Rechnung.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Gutschrift
        ON Einzelnachweis.nObjekt = Gutschrift.nObjekt
           AND Gutschrift.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Pickliste
        ON Einzelnachweis.nObjekt = Pickliste.nObjekt
           AND Pickliste.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN WarenlagerEingang
        ON Einzelnachweis.nObjekt = WarenlagerEingang.nObjekt
           AND WarenlagerEingang.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Angebot
        ON Einzelnachweis.nObjekt = Angebot.nObjekt
           AND Angebot.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Kategorie
        ON Einzelnachweis.nObjekt = Kategorie.nObjekt
           AND Kategorie.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN RetourePosition
        ON Einzelnachweis.nObjekt = RetourePosition.nObjekt
           AND RetourePosition.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Retoure
        ON Einzelnachweis.nObjekt = Retoure.nObjekt
           AND Retoure.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Versand
        ON Einzelnachweis.nObjekt = Versand.nObjekt
           AND Versand.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Pick
        ON Einzelnachweis.nObjekt = Pick.nObjekt
           AND Pick.kObjektPk = Einzelnachweis.kObjektPk
    LEFT JOIN Lagerplatz
        ON Einzelnachweis.nObjekt = Lagerplatz.nObjekt
           AND Lagerplatz.kObjektPk = Einzelnachweis.kObjektPk;
GO
