USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tSettings]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tSettings](
	[cKey] [nvarchar](64) NOT NULL,
	[cStringValue] [nvarchar](max) NULL,
	[nIntValue] [int] NULL,
	[fDoubleValue] [decimal](25, 13) NULL,
	[dDateValue] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tSettings] PRIMARY KEY CLUSTERED 
(
	[cKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
