USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tFulfillerEinstellungen]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tFulfillerEinstellungen](
	[kFulfillerEinstellungen] [int] IDENTITY(1,1) NOT NULL,
	[kLieferant] [int] NOT NULL,
	[kKunde] [int] NOT NULL,
	[cPrefixAbrechnung] [nvarchar](12) NULL,
	[cSuffixAbrechnung] [nvarchar](12) NULL,
	[nAbrechnungsZeitraum] [tinyint] NOT NULL,
	[kAbrechnung] [int] NOT NULL,
	[dAbrechnungInitial] [datetime] NOT NULL,
	[dAbrechnungStart] [datetime] NOT NULL,
	[dAbrechnungEnde] [datetime] NOT NULL,
	[nBestandserfassungModus] [int] NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tFulfillerEinstellungen] PRIMARY KEY CLUSTERED 
(
	[kFulfillerEinstellungen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
