USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[lvLagerkostenUebersicht]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[lvLagerkostenUebersicht]
AS

WITH PlatzMitPreis AS (
SELECT		Regel.nRegel,
			Regel.kAbrechnungLagerplatz ,
            PreisProLagerplatz.kWarenLagerPlatz ,
			Regel.kWarenlager ,
            Regel.kLieferant ,
            Regel.kArtikel ,		
            CASE WHEN PreisProLagerplatz.nModus = 1
                 THEN PreisProLagerplatz.kArtikel
                 ELSE NULL
            END AS kArtikelIndividuell ,
			Regel.cArtNr ,
            CASE WHEN PreisProLagerplatz.nModus = 1
                 THEN Regel.cArtNr
                 ELSE NULL
            END AS cArtNrIndividuell ,
            Regel.nModus ,
            Regel.nLagerkostenBerechnung , 
			Regel.fVKPreis,  
            Regel.cSessionId
    FROM    FulfillmentNetwork.lvLagerkostenRegeln AS Regel 			
			CROSS APPLY (SELECT * FROM FulfillmentNetwork.ifPreisProLagerplatz (1, Regel.cSessionId)) AS PreisProLagerplatz	
	WHERE Regel.kAbrechnungLagerplatz = PreisProLagerplatz.kAbrechnungLagerplatz		
)

SELECT		PlatzMitPreis.nRegel ,
			PlatzMitPreis.kAbrechnungLagerplatz ,
            Platz.kWarenLagerPlatz ,
			Platz.kWarenlager ,
            PlatzMitPreis.kLieferant ,
            PlatzMitPreis.kArtikel,
			PlatzMitPreis.kArtikelIndividuell,
			PlatzMitPreis.cArtNr,
			PlatzMitPreis.cArtNrIndividuell,
            PlatzMitPreis.nModus ,
            PlatzMitPreis.nLagerkostenBerechnung ,
            Platz.fLaenge ,
            Platz.fBreite ,
            Platz.fHoehe ,
			PlatzMitPreis.fVKPreis,
            CASE WHEN PlatzMitPreis.nModus = 1 THEN -1 ELSE  Platz.nSort END AS nSort,
            Platz.cName ,
            Platz.kWarenLagerPlatzTyp ,
            PlatzMitPreis.cSessionId
    FROM    dbo.tWarenLagerPlatz AS Platz  
			LEFT JOIN PlatzMitPreis		ON Platz.kWarenLagerPlatz = PlatzMitPreis.kWarenLagerPlatz
	WHERE NOT Platz.kWarenLagerPlatzTyp = 10
GO
