USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tQueueTrans]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tQueueTrans](
	[dModificationDate] [datetimeoffset](7) NULL,
	[dCreatedAt] [datetimeoffset](7) NULL,
	[dProcessedAt] [datetimeoffset](7) NULL,
	[cSessionId] [nvarchar](255) NULL,
	[cRequestId] [nvarchar](255) NULL,
	[nType] [tinyint] NULL,
	[nState] [tinyint] NULL,
	[nRole] [tinyint] NULL,
	[nTarget] [tinyint] NULL,
	[nEvent] [tinyint] NULL,
	[cData] [nvarchar](max) NULL,
	[cErrorMessage] [nvarchar](max) NULL,
	[nPriority] [int] NULL,
	[cOwner] [nvarchar](4) NULL,
	[cFfnId] [nvarchar](255) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
