USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillerPendingLieferscheine]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [FulfillmentNetwork].[vFulfillerPendingLieferscheine] AS
SELECT DISTINCT
    FulfillmentNetwork.tOutboundRef.cOutboundId,
    FulfillmentNetwork.tOutboundRef.kBestellung,
    Verkauf.tAuftrag.kKunde,
    Lieferschein.kLieferschein,
    Lieferschein.cLieferscheinNr AS cFulfillerShippingNotificationNumber,
    Lieferschein.cHinweis AS cNote
FROM FulfillmentNetwork.tOutboundRef
         JOIN tLieferschein AS Lieferschein
              ON Lieferschein.kBestellung = tOutboundRef.kBestellung
         JOIN Verkauf.tAuftrag
              ON tAuftrag.kAuftrag = tOutboundRef.kBestellung
         LEFT JOIN FulfillmentNetwork.tFulfillerLieferscheinRef
                   ON FulfillmentNetwork.tFulfillerLieferscheinRef.kLieferschein = Lieferschein.kLieferschein
WHERE 
    --Es gab mal den Fall, dass es durch ein Bug keinen tVersand für einen Lieferschein gab
    EXISTS
    (
        SELECT * FROM tVersand WHERE kLieferschein = Lieferschein.kLieferschein
    )
  --Es gibt keine nicht ausgelieferten Lieferungen
  AND NOT EXISTS
    (
        SELECT *
        FROM dbo.tVersand
        WHERE dVersendet IS NULL
          AND kLieferschein = Lieferschein.kLieferschein
    )
  --Wurde noch nicht ans FFN gemeldet
  AND FulfillmentNetwork.tFulfillerLieferscheinRef.kFulfillerLieferscheinRef IS NULL
  --Ist ein Händler Auftrag
  AND FulfillmentNetwork.tOutboundRef.nType = 2
  --Es existieren Positionen auf dem Lieferschein, die vom FFN-Händler sind
  AND EXISTS
    (
        SELECT *
        FROM dbo.tLieferscheinPos
                 JOIN Verkauf.tAuftragPosition
                      ON tAuftragPosition.kAuftragPosition = dbo.tLieferscheinPos.kBestellPos
                 JOIN FulfillmentNetwork.tProductRef
                      ON tProductRef.kArtikel = tAuftragPosition.kArtikel
                          AND tProductRef.cOwnerId = FulfillmentNetwork.tOutboundRef.cOwnerId
        WHERE kLieferschein = Lieferschein.kLieferschein
    );
GO
