USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vRetoureEtikett]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vRetoureEtikett]
AS
SELECT Etikett.kRMRetourenEtikett ,
       Etikett.kRMRetoure ,
       Etikett.cIdentCode ,       
       Etikett.dErstellt 
FROM dbo.tRMRetourenEtikett AS Etikett
GO
