USE [eazybusiness]
GO
/****** Object:  View [FulfillmentNetwork].[vFulfillerLieferscheinWarehouseInfo]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [FulfillmentNetwork].[vFulfillerLieferscheinWarehouseInfo]
AS
SELECT DISTINCT
FulfillmentNetwork.tOutboundRef.cOutboundId,
FulfillmentNetwork.tOutboundRef.kBestellung,
tAuftrag.cAuftragsNr AS cBestellNr,
tLieferschein.kLieferschein,
tWarenLager.kWarenLager,
tWarenLager.nLagerplatzVerwaltung,
tLieferschein.cLieferscheinNr
FROM FulfillmentNetwork.tOutboundRef
JOIN tLieferschein ON tLieferschein.kBestellung = tOutboundRef.kBestellung
JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOutboundRef.kbestellung
JOIN tLieferscheinPos ON tLieferscheinPos.kLieferschein = tLieferschein.kLieferschein
JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tLieferscheinPos.kBestellPos
JOIN FulfillmentNetwork.tProductRef ON tProductRef.kArtikel = tAuftragPosition.kArtikel
JOIN tWarenLagerAusgang ON tWarenLagerAusgang.kLieferscheinPos = tLieferscheinPos.kLieferscheinPos
JOIN tWarenLagerPlatz ON tWarenLagerPlatz.kWarenLagerPlatz = tWarenLagerAusgang.kWarenLagerPlatz
JOIN tWarenLager ON tWarenlager.kWarenLager = tWarenLagerPlatz.kWarenLager
LEFT JOIN FulfillmentNetwork.tFulfillerLieferscheinRef ON FulfillmentNetwork.tFulfillerLieferscheinRef.kLieferschein = tLieferschein.kLieferschein
JOIN FulfillmentNetwork.tLogin ON tLogin.cUserId = SUBSTRING(tOutboundRef.cWarehouseId,1,4)
GO
