USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tMerchantStockChange]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tMerchantStockChange](
	[kMerchantStockChange] [int] IDENTITY(1,1) NOT NULL,
	[dProcessedAt] [datetimeoffset](7) NULL,
	[nProcessingState] [tinyint] NOT NULL,
	[cWarehouseId] [nvarchar](255) NOT NULL,
	[cJfsku] [nvarchar](255) NOT NULL,
	[nStockVersion] [int] NOT NULL,
	[dTimestamp] [datetimeoffset](7) NOT NULL,
	[nChangeType] [tinyint] NOT NULL,
	[cNote] [nvarchar](max) NULL,
	[cBatch] [nvarchar](255) NULL,
	[dBestBefore] [datetimeoffset](7) NULL,
	[fQuantityShippable] [decimal](25, 13) NOT NULL,
	[fQuantityBlocked] [decimal](25, 13) NOT NULL,
	[fQuantityReserved] [decimal](25, 13) NOT NULL,
	[fQuantityAnnounced] [decimal](25, 13) NOT NULL,
	[fLevelShippable] [decimal](25, 13) NOT NULL,
	[fLevelBlocked] [decimal](25, 13) NOT NULL,
	[fLevelReserved] [decimal](25, 13) NOT NULL,
	[fLevelAnnounced] [decimal](25, 13) NOT NULL,
	[cInboundNumber] [nvarchar](255) NULL,
	[cInboundItemId] [nvarchar](255) NULL,
	[cOutboundNumber] [nvarchar](255) NULL,
	[cOutboundItemId] [nvarchar](255) NULL,
	[cOutboundShippingNotificationId] [nvarchar](255) NULL,
	[cOutboundShippingNotificationItemId] [nvarchar](255) NULL,
	[fQuantityShippableBooked] [decimal](28, 14) NULL,
	[fQuantityBlockedBooked] [decimal](28, 14) NULL,
	[fQuantityReservedBooked] [decimal](28, 14) NULL,
	[fQuantityAnnouncedBooked] [decimal](28, 14) NULL,
	[cReturnId] [nvarchar](255) NULL,
	[cReturnItemId] [nvarchar](255) NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tMerchantStockChange] PRIMARY KEY CLUSTERED 
(
	[kMerchantStockChange] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
