USE [eazybusiness]
GO
/****** Object:  Table [FulfillmentNetwork].[tAbrechnung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [FulfillmentNetwork].[tAbrechnung](
	[kAbrechnung] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kKunde] [int] NOT NULL,
	[kFirma] [int] NOT NULL,
	[kFulfillmentLieferant] [int] NOT NULL,
	[cAbrechnungsNummer] [nvarchar](50) NOT NULL,
	[cAnmerkung] [nvarchar](max) NULL,
	[dAbrechnungVon] [datetime] NOT NULL,
	[dAbrechnungBis] [datetime] NULL,
	[kBestellung] [int] NULL,
	[dAuftragErstellt] [datetime] NULL,
	[nStorno] [tinyint] NULL,
 CONSTRAINT [PK_FulfillmentNetwork_tAbrechnung] PRIMARY KEY CLUSTERED 
(
	[kAbrechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
