USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvTickets]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvTickets] AS
SELECT
    tTicket.kTicket,
    tTicket.kKunde,
    tTicket.cEindeutigeId,
    tTicketEckdaten.cTitelErsteNachricht as cTitel,
    tStatus.cName as cStatusName,
    tTicket.nPrioritaet,
    (
		SELECT MIN(tNachricht.dErstellung)
		FROM Ticketsystem.tNachricht
		WHERE tNachricht.kTicket = tTicket.kTicket
	) as dErstellung,
	tTicket.nIstInPapierkorb,
	tTicket.nVollstaendigAngelegt
FROM Ticketsystem.tTicket
LEFT JOIN TicketSystem.tTicketEckdaten ON TicketSystem.tTicketEckdaten.kTicket = tTicket.kTicket
LEFT JOIN TicketSystem.tStatus ON tTicket.kStatus = tStatus.kStatus
GO
