USE [eazybusiness]
GO
/****** Object:  View [Kunde].[v360GradSicht]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[v360GradSicht]
AS
SELECT
	tkunde.kKunde,
	tkunde.cKundenNr,
	tAdresse.cAnrede,
	tAdresse.cTitel,
	tKundenGruppe.cName AS KundenGruppe,
	tKundenKategorie.cName AS KundenKategorie,
	tAdresse.cVorname,
	tAdresse.cName,
	tAdresse.cFirma,
	tAdresse.cStrasse,
	tAdresse.cPLZ,
	tAdresse.cOrt,
	tAdresse.cLand,
	tAdresse.cTel,
	tAdresse.cMobil,
	tAdresse.cFax,
	tAdresse.cMail,
	tkunde.cGeburtstag,
	tZahlungsart.cName AS StandartZahlungsart,
	CAST(CASE WHEN tkunde.cSperre = 'Y' THEN 1 ELSE 0 END AS BIT) AS Gesperrt,
	CAST(CASE WHEN tkunde.cNewsletter = 'Y' THEN 1 ELSE 0 END AS BIT) AS Newsletter,
	CAST(tkunde.nMahnstopp AS BIT) AS Mahnstopp,
	CAST(CASE WHEN tkunde.cHerkunft = 'Amazon' THEN 1 ELSE 0 END AS BIT) AS HerkunftAmazon,
	CAST(CASE WHEN tkunde.cHerkunft = 'Ebay' THEN 1 ELSE 0 END AS BIT) AS HerkunftEbay,
	CAST(CASE WHEN tkunde.cKassenKunde = 'Y' THEN 1 ELSE 0 END AS BIT) AS KasseKunde,
	CAST(CASE WHEN tkunde.kInetKunde > 0 THEN 1 ELSE 0 END AS BIT) AS ShopKunde,
	CAST(CASE WHEN Preis.kKunde IS NOT NULL THEN 1 ELSE 0 END AS BIT) AS KundenvindividuellePreise,
	tkunde.dErstellt AS KundeSeit,
	Bestellungen.LastOrder AS LetzteBestellung,
	Bestellungen.Umsatz - ISNULL(Gutschrift.GutschriftWertBrutto, 0) AS Umsatz,
	ISNULL(Bestellungen.AvgWarenkorb, 0) AS AvgWarenkorb,
	ISNULL(Bestellungen.AnzahlBestellungen, 0) AS AnzahlBestellungen,
	ISNULL(Bestellungen.AnzahlStorno, 0) AS AnzahlStorno,
	ISNULL(Bestellungen.AnzahlOffen, 0) AS AnzahlOffen,
	ISNULL(Rechnungen.AnzahlMahnungen, 0) AS AnzahlMahnungen,
	ISNULL(Rechnungen.OffeneRechnungen, 0) AS OffeneRechnungen,
	ISNULL(tkunde.fRabatt, 0) AS RabattKunde,
	ISNULL(Retouren.Anzahl, 0) AS AnzahlRetouren,
	ISNULL(Gutschein.Menge, 0) AS Kundenguthaben,
	ISNULL(Positionssummen.MitCoupon, 0) AS MitCoupon,
	ISNULL(Positionssummen.Gewinn, 0) - ISNULL(Gutschrift.GutschriftGewinnNetto, 0) AS Gewinn,
	ISNULL(Bestellungen.SummeBestellungOffen, 0.0) AS SummeBestellungOffen,
	ISNULL(CAST(ISNULL(Rechnungen.SummeRechnungOffen, 0.0) AS DECIMAL(25, 13)), 0.0) AS SummeRechnungOffen
FROM dbo.tkunde
JOIN dbo.tAdresse ON tAdresse.kKunde = tkunde.kKunde
					 AND tAdresse.nStandard = 1
					 AND tAdresse.nTyp = 1
LEFT JOIN dbo.tKundenGruppe ON tKundenGruppe.kKundenGruppe = tkunde.kKundenGruppe
LEFT JOIN dbo.tKundenKategorie ON tKundenKategorie.kKundenKategorie = tkunde.kKundenKategorie
LEFT JOIN dbo.tZahlungsart ON tZahlungsart.kZahlungsart = tkunde.kZahlungsart
LEFT JOIN
(SELECT DISTINCT tPreis.kKunde FROM dbo.tPreis) AS Preis ON Preis.kKunde = tkunde.kKunde
LEFT JOIN
(
	SELECT
		vAuftrag.kKunde AS kKunde,
		MAX(vAuftrag.dErstellt) AS LastOrder,
		SUM(   CASE
				   WHEN vAuftrag.nStorno = 1
					   THEN 0
				   ELSE (vAuftragEckdaten.fWertBrutto / ISNULL(NULLIF(vAuftrag.fFaktor, 0), 1))
			   END
		   ) AS Umsatz,
		AVG(   CASE
				   WHEN vAuftrag.nStorno = 1
					   THEN NULL
				   ELSE vAuftragEckdaten.fWertBrutto / ISNULL(NULLIF(vAuftrag.fFaktor, 0), 1)
			   END
		   ) AS AvgWarenkorb,
		COUNT(vAuftrag.kAuftrag) AS AnzahlBestellungen,
		SUM(CASE WHEN vAuftrag.nStorno = 1 THEN 1 ELSE 0 END) AS AnzahlStorno,
		SUM(CASE WHEN vAuftrag.nKomplettAusgeliefert = 0 THEN 1 ELSE 0 END) AS AnzahlOffen,
		SUM(   CASE
				   WHEN vAuftrag.nKomplettAusgeliefert = 0
					   THEN (vAuftragEckdaten.fWertBrutto - vAuftragEckdaten.fGutschrift)
							/ ISNULL(NULLIF(vAuftrag.fFaktor, 0), 1)
				   ELSE 0.0
			   END
		   ) AS SummeBestellungOffen
	FROM Verkauf.vAuftrag
	JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftrag.kAuftrag
	WHERE vAuftrag.nType = 1
	GROUP BY vAuftrag.kKunde
) AS Bestellungen ON Bestellungen.kKunde = tkunde.kKunde
LEFT JOIN
(
	SELECT
		tRechnung.kKunde AS kKunde,
		SUM(CASE WHEN tRechnungEckdaten.nZahlungStatus <> 2 THEN 1 ELSE 0 END) AS OffeneRechnungen,
		SUM(   CASE
				   WHEN tRechnungEckdaten.nZahlungStatus <> 2
					   THEN tRechnungEckdaten.fOffenerWert / ISNULL(NULLIF(tRechnung.fWaehrungsfaktor, 0), 1)
				   ELSE 0
			   END
		   ) AS SummeRechnungOffen,
		SUM(CASE WHEN tRechnungEckdaten.nIstAngemahnt = 1 THEN 1 ELSE 0 END) AS AnzahlMahnungen
	FROM Rechnung.tRechnung
	JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
	WHERE tRechnung.nStorno = 0
	GROUP BY tRechnung.kKunde
) AS Rechnungen ON Rechnungen.kKunde = tkunde.kKunde
LEFT JOIN
(
	SELECT
		vAuftrag.kKunde AS kKunde,
		SUM((((vAuftragPosition.fVkNetto * (1 - (vAuftragPosition.fRabatt / 100))) - vAuftragPosition.fEkNetto)
			 * vAuftragPosition.fAnzahl
			) / ISNULL(NULLIF(vAuftrag.fFaktor, 0), 1)
		   ) AS Gewinn,
		SUM(CASE WHEN vAuftragPosition.nType = 3 THEN 1 ELSE 0 END) AS MitCoupon
	FROM Verkauf.vAuftrag
	JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftrag.kAuftrag
	JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftrag = vAuftrag.kAuftrag
	WHERE
		vAuftrag.nType = 1
		AND vAuftrag.nStorno = 0
	GROUP BY vAuftrag.kKunde
) AS Positionssummen ON Positionssummen.kKunde = tkunde.kKunde
LEFT JOIN
(
	SELECT
		RetourenBestellung.kKunde,
		COUNT(RetourenBestellung.kBestellung) AS Anzahl
	FROM
	(
		SELECT DISTINCT
			tRMRetoure.kBestellung,
			tRMRetoure.kKunde
		FROM dbo.tRMRetoure
		GROUP BY
			tRMRetoure.kKunde,
			tRMRetoure.kBestellung
	) AS RetourenBestellung
	GROUP BY RetourenBestellung.kKunde
) AS Retouren ON Retouren.kKunde = tkunde.kKunde
LEFT JOIN
(
	SELECT
		SUM(tGutschein.fWert) AS Menge,
		tGutschein.kKunde
	FROM dbo.tGutschein
	GROUP BY tGutschein.kKunde
) AS Gutschein ON Gutschein.kKunde = tkunde.kKunde
LEFT JOIN
(
	SELECT
		tgutschrift.kKunde,
		SUM((((tGutschriftPos.fVKNetto * (1 - (tGutschriftPos.fRabatt / 100))) - ISNULL(vRechnungPosition.fEkNetto, 0))
			 * tGutschriftPos.nAnzahl
			) / ISNULL(NULLIF(tgutschrift.fFaktor, 0), 1)
		   ) AS GutschriftGewinnNetto,
		SUM(((tGutschriftPos.fVKPreis * (1 - (tGutschriftPos.fRabatt / 100))) * tGutschriftPos.nAnzahl)
			/ ISNULL(NULLIF(tgutschrift.fFaktor, 0), 1)
		   ) AS GutschriftWertBrutto
	FROM dbo.tgutschrift
	JOIN dbo.tGutschriftPos ON tGutschriftPos.tGutschrift_kGutschrift = tgutschrift.kGutschrift
	LEFT JOIN Rechnung.vRechnungPosition ON vRechnungPosition.kRechnungPosition = tGutschriftPos.kRechnungPosition
	WHERE
		tgutschrift.nStorno = 0
		AND tgutschrift.nStornoTyp = 0
	GROUP BY tgutschrift.kKunde
) AS Gutschrift ON Gutschrift.kKunde = tkunde.kKunde;
GO
