USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvRechnungen]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvRechnungen]
AS
SELECT
	vRechnung.kKunde AS kKunde,
	tAuftragRechnung.kAuftrag AS kBestellung,
	vRechnung.kRechnung AS kRechnung,
	ISNULL(vRechnung.kBenutzer, 0) AS kBenutzer,
	lvKundenDaten.kAdresse,
	vRechnung.kVersandArt AS kVersandart,
	Auftragdaten.kShopauftrag AS kInetBestellung,
	Auftragdaten.kShop AS kShop,
	tFirmaHistory.kFirma AS kFirma,
	vRechnung.kPlattform AS nPlattform,
	ISNULL(vRechnung.kSprache, 0) AS kSprache,
	vRechnung.kZahlungsart AS kZahlungsart,
	vRechnung.kRechnung AS kLieferadresse,
	vRechnung.kRechnung AS kRechnungsadresse,
	vRechnung.kFarbe AS kColor,
	vRechnung.dErstellt AS dErstellt,
	vRechnung.cRechnungsnr AS cRechnungsnummer,
	CAST(Auftragdaten.cAuftragsNr AS NVARCHAR(50)) AS cAuftragsnummer,
	vRechnungText.cAnmerkung AS cAnmerkung,
	CAST(NULL AS NVARCHAR(255)) AS cVersandinfo,
	CAST(vAuftragEckdaten.dLetzterVersand AS DATETIME) AS dVersanddatum,
	Auftragdaten.dVoraussichtlichesLieferdatum AS dVoraussichtlichesLieferdatum,
	CAST(NULL AS NVARCHAR(64)) AS cErloeskonto, -- positionsebene
	vRechnung.cWaehrung AS cWaehrung,
	vRechnung.fWaehrungsfaktor AS fWaehrungsfaktor,
	ISNULL(CAST(0.0 AS DECIMAL(25, 13)), 0.0) AS fKundenguthaben,
	CAST(vRechnungEckdaten.dDruckdatum AS DATETIME) AS dDruckdatum,
	CAST(vRechnungEckdaten.dMaildatum AS DATETIME) AS dMaildatum,
	CAST(vRechnungEckdaten.dZahlungsMail AS DATETIME) AS dZahlungsmaildatum,
	CAST(CASE
			 WHEN Auftragdaten.nBeschreibung = 0
				 THEN 'N'
			 WHEN Auftragdaten.nBeschreibung = 1
				 THEN 'K'
			 WHEN Auftragdaten.nBeschreibung = 2
				 THEN 'U'
		 END AS CHAR(1)) AS cBeschreibung,
	ISNULL(CAST(vRechnung.nMahnstop AS TINYINT), 0) AS nMahnstopp,
	CAST(COALESCE(NULLIF(Auftragdaten.cExterneAuftragsnummer, ''), vRechnung.cExterneAuftragsnummer, '') AS NVARCHAR(50)) AS cShopbestellnummer,
	CASE WHEN vRechnung.nSteuereinstellung = 10 THEN 1 ELSE 0 END AS nInnergemeinschaftlicheLieferung,
	CASE WHEN vRechnung.nSteuereinstellung = 20 THEN 1 ELSE 0 END AS nUmsatzsteuerfrei,
	ISNULL(vVorgangsstatus.cStatus, '') AS cStatustext,
	CAST(tAuftragZahlungsinfo.cVerwendungszweck AS NVARCHAR(255)) AS ceBayVerwendungszweck,
	CAST(Auftragdaten.nStorno AS TINYINT) AS nStorniert,
	CAST(vRechnungEckdaten.dBezahlt AS DATETIME) AS dBezahldatum,
	CAST(Auftragdaten.cShopZahlungsmodul AS NVARCHAR(255)) AS cZahlungsmodulID,
	ISNULL(CAST(Auftragdaten.fZusatzGewicht AS DECIMAL(25, 13)), 0.0) AS fZusatzgewicht,
	ISNULL(vRechnung.cUstId, '') AS cUmsatzsteuerID,
	ISNULL(CAST(CASE WHEN vRechnung.nIstExterneRechnung > 0 THEN 1 ELSE 0 END AS BIT), 0) AS nIstExterneRechnung,
	ISNULL(CAST(CASE WHEN vRechnung.nIstEntwurf > 0 THEN 1 ELSE 0 END AS BIT), 0) AS nIstEntwurf,
	Rechnungsadresse.cFirma AS cRechnungsadresseFirma,
	Rechnungsadresse.cAnrede AS cRechnungsadresseAnrede,
	Rechnungsadresse.cTitel AS cRechnungsadresseTitel,
	Rechnungsadresse.cVorname AS cRechnungsadresseVorname,
	Rechnungsadresse.cName AS cRechnungsadresseNachname,
	Rechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
	Rechnungsadresse.cAdressZusatz AS cRechnungsadresseAdresszusatz,
	Rechnungsadresse.cPLZ AS cRechnungsadressePlz,
	Rechnungsadresse.cOrt AS cRechnungsadresseOrt,
	Rechnungsadresse.cLand AS cRechnungsadresseLand,
	Rechnungsadresse.cTel AS cRechnungsadresseTelefon,
	Rechnungsadresse.cMobil AS cRechnungsadresseMobilTelefon,
	Rechnungsadresse.cFax AS cRechnungsadresseFax,
	Rechnungsadresse.cMail AS cRechnungsadresseMail,
	Rechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
	Rechnungsadresse.cPostID AS cRechnungsadressePostId,
	Rechnungsadresse.cBundesland AS cRechnungsadresseBundesland,
	Rechnungsadresse.cISO AS cRechnungsadresseLandIso,
	ISNULL(KundeRechnungsadresse.cKundenNr, '') AS cRechnungsadresseKundennummer,
	CAST(NULL AS NVARCHAR(255)) AS cRechnungsadresseZuHaenden,
	Lieferadresse.cFirma AS cLieferadresseFirma,
	Lieferadresse.cAnrede AS cLieferadresseAnrede,
	Lieferadresse.cTitel AS cLieferadresseTitel,
	Lieferadresse.cVorname AS cLieferadresseVorname,
	Lieferadresse.cName AS cLieferadresseNachname,
	Lieferadresse.cStrasse AS cLieferadresseStrasse,
	Lieferadresse.cAdressZusatz AS cLieferadresseAdresszusatz,
	Lieferadresse.cPLZ AS cLieferadressePlz,
	Lieferadresse.cOrt AS cLieferadresseOrt,
	Lieferadresse.cLand AS cLieferadresseLand,
	CAST(Lieferadresse.cTel AS NVARCHAR(255)) AS cLieferadresseTelefon,
	Lieferadresse.cMobil AS cLieferadresseMobilTelefon,
	Lieferadresse.cFax AS cLieferadresseFax,
	Lieferadresse.cMail AS cLieferadresseMail,
	Lieferadresse.cZusatz AS cLieferadresseZusatz,
	Lieferadresse.cPostID AS cLieferadressePostId,
	Lieferadresse.cBundesland AS cLieferadresseBundesland,
	Lieferadresse.cISO AS cLieferadresseLandIso,
	vRechnungEckdaten.nHasRechnungskorrektur AS nRechnungskorrekturErstellt,
	ISNULL(CAST(vRechnungEckdaten.fVkBruttoGesamt AS DECIMAL(25, 13)), 0.0) AS fRechnungswert,
	ISNULL(CAST(vRechnungEckdaten.fGutschrift AS DECIMAL(25, 13)), 0.0) AS fGutgeschriebenerWert,
	ISNULL(CAST(vRechnungEckdaten.fZahlung AS DECIMAL(25, 13)), 0.0) AS fBereitsgezahltWert,
	CASE WHEN Auftragdaten.nKomplettAusgeliefert = 0 THEN 0 ELSE 1 END AS nKomplettgeliefert,
	tBenutzer.cName AS cBenutzername,
	tFirmaHistory.cName AS cFirmenname,
	tShop.cName AS cShopname,
	tZahlungsart.cName AS cZahlungsartname,
	vRechnung.cVersandart AS cVersandartname,
	CAST(vRechnung.nZahlungszielTage AS INT) AS nZahlungszielInTagen,
	vRechnungEckdaten.dZahlungsziel AS dZahlungsziel,
	vRechnungEckdaten.nIstAngemahnt AS nIstAngemahnt,
	vRechnungEckdaten.nMahnstufe AS nMahnstufe,
	CAST(((vRechnungEckdaten.fVkBruttoGesamt / ISNULL(NULLIF(vRechnung.fWaehrungsfaktor, 0), 1))
		  * vRechnung.fVersandlandWaehrungsfaktor
		 ) AS DECIMAL(25, 13)) AS fRechnungswertVersandland,
	ISNULL(vRechnungText.cHinweis, '') AS cSonstiges,
	vRechnungEckdaten.fOffenerWert AS fOffenerWert,
	CASE WHEN vRechnungEckdaten.nZahlungStatus <> 2 THEN 'Nein' ELSE 'Ja' END AS cIstBezahlt,
	vRechnungEckdaten.dMahndatum AS dMahndatum,
	vRechnungEckdaten.fMahngebuehr AS fMahnGebuehr
FROM Rechnung.vRechnung
JOIN Rechnung.vRechnungEckdaten ON vRechnungEckdaten.kRechnung = vRechnung.kRechnung
JOIN Rechnung.vRechnungRechnungsadresse AS Rechnungsadresse ON Rechnungsadresse.kRechnung = vRechnung.kRechnung
JOIN Rechnung.vRechnungLieferadresse AS Lieferadresse ON Lieferadresse.kRechnung = vRechnung.kRechnung
JOIN Kunde.lvKundenDaten ON lvKundenDaten.kKunde = vRechnung.kKunde
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = vRechnung.kFirmaHistory
LEFT JOIN eazybusiness.dbo.tBenutzer ON tBenutzer.kBenutzer = vRechnung.kBenutzer
LEFT JOIN dbo.tZahlungsart ON tZahlungsart.kZahlungsart = vRechnung.kZahlungsart
LEFT JOIN dbo.tkunde AS KundeRechnungsadresse ON KundeRechnungsadresse.kKunde = Rechnungsadresse.kKunde
LEFT JOIN Rechnung.vRechnungText ON vRechnungText.kRechnung = vRechnung.kRechnung
LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kRechnung = vRechnung.kRechnung
LEFT JOIN Verkauf.vAuftrag AS Auftragdaten ON Auftragdaten.kAuftrag = tAuftragRechnung.kAuftrag
LEFT JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = Auftragdaten.kAuftrag
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = Auftragdaten.kAuftrag
LEFT JOIN Verkauf.tAuftragZahlungsinfo ON tAuftragZahlungsinfo.kAuftrag = Auftragdaten.kAuftrag
LEFT JOIN dbo.tShop ON tShop.kShop = Auftragdaten.kShop
GO
