USE [eazybusiness]
GO
/****** Object:  Table [Kunde].[tKundeKategorieRabatt]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Kunde].[tKundeKategorieRabatt](
	[kKundeKategorieRabatt] [int] IDENTITY(1,1) NOT NULL,
	[kKunde] [int] NOT NULL,
	[kKategorie] [int] NOT NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Kunde_tKundeKategorieRabatt] PRIMARY KEY CLUSTERED 
(
	[kKundeKategorieRabatt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
