USE [eazybusiness]
GO
/****** Object:  Table [Kunde].[tUmsatzSteuerPruefung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Kunde].[tUmsatzSteuerPruefung](
	[kKunde] [int] NOT NULL,
	[cUSTID] [varchar](20) NOT NULL,
	[dErfolgreichGerpueft] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cPruefdaten] [nvarchar](max) NULL,
 CONSTRAINT [PK_Kunde_tUmsatzSteuerPruefung] PRIMARY KEY CLUSTERED 
(
	[kKunde] ASC,
	[cUSTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
