USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvPakete]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvPakete]
AS
(
	SELECT
	ISNULL(vAuftrag.kKunde,0) AS kKunde,
	vAuftrag.kAuftrag AS kBestellung,
	tVersand.kLieferschein AS kLieferschein,
	tVersand.kVersand AS kInternePaketnummer, 
	tVersand.cIdentCode AS cTrackingId, 
	tVersand.cShipmentId AS cSendungsreferenz,
	tVersand.dErstellt AS dVerpackt, 
	tVersand.dVersendet AS dVersendet, 
	tVersand.cHinweis AS cHinweis, 
	tVersand.cFulfillmentCenter AS cFulfillmentCenter, 
	tVersand.dAnkunftszeit AS dVoraussichtlichesLieferdatum,
	ISNULL(dbo.tVersandart.cName, '') AS cVersandartName,
	tVersand.fGewicht AS fGewicht,
	lvJtlTrackingPakete.nTrackingStatus,
	lvJtlTrackingPakete.nVersandStatus,
	tLieferschein.cLieferscheinNr,
	vAuftrag.cAuftragsNr AS cBestellNr
FROM dbo.tVersand 
JOIN dbo.tLieferschein ON tLieferschein.kLieferschein = tVersand.kLieferschein
JOIN Verkauf.vAuftrag ON kAuftrag = tLieferschein.kBestellung
LEFT JOIN Versand.lvJtlTrackingPakete ON lvJtlTrackingPakete.kVersand = tVersand.kVersand
LEFT JOIN dbo.tVersandart ON dbo.tVersandart.kVersandArt = dbo.tVersand.kVersandArt
);
GO
