USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvKundenDaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvKundenDaten] AS SELECT
    tkunde.kInetKunde,
    tkunde.kKundenKategorie,
    tkunde.cKundenNr,
    tkunde.dErstellt,
    tkunde.fRabatt,
    tkunde.cNewsletter,
    tkunde.cEbayName,
    tkunde.kBuyer,
    tkunde.cGeburtstag,
    tkunde.cWWW,
    tkunde.cSperre,
    tkunde.kKundenGruppe,
    tkunde.nZahlungsziel,
    tkunde.kSprache,
    tkunde.cHerkunft,
    tkunde.cKassenKunde,
    tkunde.cHRNr,
    tkunde.kZahlungsart,
    tkunde.nDebitorennr,
    tkunde.cSteuerNr,
    tkunde.nKreditlimit,
    tkunde.kKundenDrucktext,
    tkunde.nMahnstopp,
    tkunde.nMahnrhythmus,
    tkunde.kFirma,
    tkunde.fProvision,
    tkunde.nVertreter,
    tkunde.fSkonto,
    CAST(CASE
             WHEN tUmsatzSteuerPruefung.dErfolgreichGerpueft IS NOT NULL
                 THEN 1
             ELSE 0
        END AS BIT) AS nUSTIDErfolgreichGeprüft,
    tUmsatzSteuerPruefung.dErfolgreichGerpueft as dDatumUSTIDErfolgreichGeprüft,
    tkunde.nSkontoInTagen,
    tadresse.*
FROM dbo.tadresse
         JOIN dbo.tkunde ON tkunde.kKunde = tadresse.kKunde
         LEFT JOIN Kunde.tUmsatzSteuerPruefung ON tKunde.kKunde = tUmsatzSteuerPruefung.kKunde AND tAdresse.cUSTID = tUmsatzSteuerPruefung.cUSTID
WHERE tadresse.nStandard = 1 AND tadresse.nTyp = 1
GO
