USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvRetouren]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvRetouren]
AS
(
	SELECT 
	tRMRetoure.kKunde,
	tRMRetoure.kRMRetoure,
	tRMRetoure.kBestellungUmtausch,
	tRMRetoure.kGutschrift,
	tRMRetoure.cRetoureNr,
	tRMRetoure.dErstellt, 
	tRMStatus.nStatusTyp,
	tWarenLager.cName AS Warenlagername,
	tRMStatusSprache.cName AS Status,
	firmaHistory.cName AS Firma,
	vAuftrag.cAuftragsNr AS BestellNr
FROM tRMRetoure
JOIN dbo.tWarenLager ON tRMRetoure.kWarenlager = tWarenLager.kWarenLager
JOIN dbo.tRMStatus ON tRMStatus.kRMStatus = tRMRetoure.kRMStatus
JOIN dbo.tRMStatusSprache ON tRMRetoure.kRMStatus = tRMStatusSprache.kRMStatus
JOIN 
(
	SELECT DISTINCT kFirma, cName FROM dbo.tFirmaHistory
) firmaHistory ON firmaHistory.kFirma = tRMRetoure.kFirma
LEFT JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = tRMRetoure.kBestellung
);
GO
