USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvAbonnements]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvAbonnements] AS
(
SELECT 
	ISNULL(vAuftrag.kKunde, 0) AS kKunde,
	vAuftrag.kAuftrag AS kBestellung,
	vAuftrag.cAuftragsNr AS cBestellNr,
	vAuftrag.nZahlungszielTage AS nZahlungsziel,
	vAuftragEckdaten.fWertBrutto AS fWert,
	vAuftragEckdaten.fZahlung,
	vAuftragEckdaten.fGutschrift,
	vAuftrag.fFaktor AS fFaktor,
	vAuftrag.cWaehrung,
	IntervalPosData.dStartDatum AS dStartdatum,
	IntervalPosData.dEndDatum AS dEnddatum,
	IntervalPosData.dNextFaelligkeit AS dNextFaelligkeit,
	tZahlungsart.cName AS Zahlungsart
FROM Verkauf.vAuftrag
LEFT JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN dbo.tZahlungsart ON tZahlungsart.kZahlungsart = vAuftrag.kZahlungsart
LEFT JOIN (
	SELECT 
		kAuftrag,
		MIN(dStartDatum) as dStartDatum,
		MAX(dEndDatum) as dEndDatum,
		MIN(dNextFaelligkeit) as dNextFaelligkeit
	FROM Verkauf.tAuftragPositionIntervall 
	GROUP BY Verkauf.tAuftragPositionIntervall.kAuftrag
) as IntervalPosData ON IntervalPosData.kAuftrag = vAuftrag.kAuftrag
WHERE vAuftrag.nType = 3
);
GO
