USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvRechnungskorrekturen]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvRechnungskorrekturen] AS
(
	SELECT  			
			dbo.tgutschrift.kGutschrift AS kGutschrift,
			dbo.tgutschrift.kRechnung AS kRechnung,
			0 AS kBestellung,
			dbo.tgutschrift.cGutschriftNr AS cRechnungskorrekturnummer,
			dbo.tgutschrift.cKurzText AS cKurztext,
			dbo.tgutschrift.cText AS cText,
			dbo.tgutschrift.fPreis AS fPreis,
			dbo.tgutschrift.fMwSt AS fMwst,
			dbo.tgutschrift.dErstellt AS dErstellt,
			dbo.tgutschrift.cErloeskonto AS cErloeskonto,
			dbo.tgutschrift.cWaehrung AS cWaehrung,
			dbo.tgutschrift.fFaktor AS fFaktor,
			dbo.tgutschrift.kFirma AS kFirma,
			dbo.tgutschrift.kSprache AS kSprache,
			dbo.tgutschrift.kBenutzer AS kBenutzer,
			dbo.tgutschrift.cStatus AS cStatustext,
			dbo.tgutschrift.kRechnungsAdresse AS kRechnungsadresse,
			dbo.tgutschrift.kPlattform AS nPlattform,
			ISNULL(vRechnung.cRechnungsNr, '') AS cRechnungsnummer,
			dbo.tgutschrift.kKunde AS kKunde,
			Rechnungsadresse.cFirma AS cRechnungsadresseFirma,
			Rechnungsadresse.cAnrede AS cRechnungsadresseAnrede,
			Rechnungsadresse.cTitel AS cRechnungsadresseTitel,
			Rechnungsadresse.cVorname AS cRechnungsadresseVorname,
			Rechnungsadresse.cName AS cRechnungsadresseNachname,
			Rechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
			Rechnungsadresse.cAdressZusatz AS cRechnungsadresseAdresszusatz,
			Rechnungsadresse.cPLZ AS cRechnungsadressePlz,
			Rechnungsadresse.cOrt AS cRechnungsadresseOrt,
			Rechnungsadresse.cLand AS cRechnungsadresseLand,
			Rechnungsadresse.cTel AS cRechnungsadresseTelefon,
			Rechnungsadresse.cMobil AS cRechnungsadresseMobilTelefon,			
			Rechnungsadresse.cFax AS cRechnungsadresseFax,
			Rechnungsadresse.cMail AS cRechnungsadresseMail,
			Rechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
			Rechnungsadresse.cPostID AS cRechnungsadressePostId,
			Rechnungsadresse.cBundesland AS cRechnungsadresseBundesland,
			Rechnungsadresse.cISO AS cRechnungsadresseLandIso,
			ISNULL(KundeRechnungsadresse.cKundenNr,'') AS cRechnungsadresseKundennummer,
			CAST('' AS NVARCHAR(255)) AS cRechnungsadresseZuHaenden,
			Lieferadresse.cFirma AS cLieferadresseFirma,
			Lieferadresse.cAnrede AS cLieferadresseAnrede,
			Lieferadresse.cTitel AS cLieferadresseTitel,
			Lieferadresse.cVorname AS cLieferadresseVorname,
			Lieferadresse.cName AS cLieferadresseNachname,
			Lieferadresse.cStrasse AS cLieferadresseStrasse,
			Lieferadresse.cAdressZusatz AS cLieferadresseAdresszusatz,
			Lieferadresse.cPLZ AS cLieferadressePlz,
			Lieferadresse.cOrt AS cLieferadresseOrt,
			Lieferadresse.cLand AS cLieferadresseLand,
			Lieferadresse.cTel AS cLieferadresseTelefon,
			Lieferadresse.cMobil AS cLieferadresseMobilTelefon,
			Lieferadresse.cFax AS cLieferadresseFax,
			Lieferadresse.cMail AS cLieferadresseMail,
			Lieferadresse.cZusatz AS cLieferadresseZusatz,
			Lieferadresse.cPostID AS cLieferadressePostId,
			Lieferadresse.cBundesland AS cLieferadresseBundesland,
			Lieferadresse.cISO AS cLieferadresseLandIso,
			eazybusiness.dbo.tbenutzer.cName AS cBenutzername,
			tFirma.cName AS cFirmenname,
			CAST('' AS NVARCHAR(MAX)) AS cAnmerkung, --was ist hier gemeint?
			CAST('' AS NVARCHAR(MAX)) AS cSonstiges, 
			CAST('' AS NVARCHAR(255)) AS ceBayBenutzername,
			dbo.tgutschrift.dDruckdatum AS dDruckdatum,
			dbo.tgutschrift.dMaildatum AS dMaildatum
	FROM dbo.tgutschrift
	LEFT JOIN Rechnung.vRechnung ON tgutschrift.kRechnung = vRechnung.kRechnung
	LEFT JOIN Rechnung.vRechnungRechnungsadresse AS Rechnungsadresse ON Rechnungsadresse.kRechnung = vRechnung.kRechnung
	LEFT JOIN Rechnung.vRechnungLieferadresse AS Lieferadresse ON Lieferadresse.kRechnung = vRechnung.kRechnung
	LEFT JOIN eazybusiness.dbo.tbenutzer ON tgutschrift.kBenutzer = eazybusiness.dbo.tbenutzer.kBenutzer
	LEFT JOIN dbo.tkunde AS KundeRechnungsadresse ON KundeRechnungsadresse.kKunde = Rechnungsadresse.kKunde
	LEFT JOIN dbo.tFirma ON tFirma.kFirma = tgutschrift.kFirma
);
GO
