USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvAuftraege]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvAuftraege] AS SELECT
    ISNULL(vAuftrag.kKunde, 0) AS kKunde,
    vAuftrag.kAuftrag AS kBestellung,
    --vRechnung.kRechnung AS kRechnung, 
    0 AS kRechnung, -- keine 1:1 beziehung mehr
    vAuftrag.kBenutzer AS kBenutzer,
    0 AS kText, -- wird nicht mehr verwendet
    CASE WHEN vAuftrag.kAuftrag IS NULL THEN NULL ELSE vAuftrag.kAuftrag END AS kBestellhinweis,
    ISNULL(CAST(vAuftrag.kPlattform AS INT), 0) AS nPlattform,
    vAuftrag.kFarbe AS kColor,
    vAuftrag.cAuftragsNr AS cAuftragsnummer,
    CAST(vAuftragText.cAnmerkung AS NVARCHAR(MAX)) AS cAnmerkung,
    CAST(NULL AS VARCHAR(255)) AS cVersandinfo,
    CASE WHEN vAuftrag.nKomplettAusgeliefert = 2 AND ISNULL(Versandinfo.Versanddatum, vAuftragEckdaten.dLetzterVersand) IS NULL THEN vAuftrag.dErstellt
         ELSE ISNULL(Versandinfo.Versanddatum, vAuftragEckdaten.dLetzterVersand)
        END AS dVersanddatum,
    vAuftrag.dVoraussichtlichesLieferdatum AS dVoraussichtlichesLieferdatum,
    vAuftragEckdaten.dGedruckt AS dDruckdatum,
    vAuftragEckdaten.dGemailt AS dMaildatum,
    vAuftragEckdaten.dVersandMail AS dVersandmaildatum,
    vAuftragEckdaten.dZahlungsMail AS dZahlungsmaildatum,
    CAST(CASE WHEN vAuftrag.nBeschreibung = 0 THEN 'N'
              WHEN vAuftrag.nBeschreibung = 1 THEN 'K'
              WHEN vAuftrag.nBeschreibung = 2 THEN 'U'
        END AS CHAR(1)) AS cBeschreibung,
    ISNULL(vAuftrag.kRueckhaltegrund, 0) AS kRueckhalteGrund,
    CASE WHEN vAuftrag.nLieferPrioritaet IS NULL THEN NULL ELSE vAuftrag.nLieferPrioritaet END AS nAuftragsprioritaet,
    eazybusiness.dbo.tbenutzer.cName AS cBenutzername,
    tFirmaHistory.cName AS cFirmenname,
    dbo.tShop.cName AS cShopname,
    dbo.tZahlungsart.cName AS cZahlungsartname,
    dbo.tversandart.cName AS cVersandartname,
    vAuftrag.cExterneAuftragsnummer AS cShopbestellnummer,
    CASE WHEN vAuftrag.nSteuereinstellung = 10 THEN 1 ELSE 0 END AS nInnergemeinschaftlicheLieferung,
    CASE WHEN vAuftrag.nSteuereinstellung = 20 THEN 1 ELSE 0 END AS nUmsatzsteuerfrei,
    vVorgangsstatus.cStatus AS cStatustext,
    vAuftrag.cEbayUsername AS ceBayBenutzername,
    vAuftrag.cVerwendungszweck AS ceBayVerwendungszweck,
    CAST(vAuftrag.nStorno AS TINYINT) AS nStorniert,
    vAuftragEckdaten.dBezahlt AS dBezahldatum,
    vAuftrag.cShopZahlungsmodul AS cZahlungsmodulID,
    vAuftrag.fZusatzGewicht AS fZusatzgewicht,
    CASE WHEN vAuftrag.dErstellt IS NULL THEN NULL ELSE vAuftrag.dErstellt END AS dErstellt,
    dbo.tRueckhalteGrund.cName AS cRueckhalteGrund,
    --vRechnung.cRechnungsnr AS cRechnungsnummer,
    vAuftragEckdaten.cRechnungsnummern AS cRechnungsnummer,
    --CAST(NULL AS NVARCHAR(50)) AS cRechnungsnummer, -- nicht mehr 1:1
    vAuftragRechnungsadresse.cFirma AS cRechnungsadresseFirma,
    vAuftragRechnungsadresse.cAnrede AS cRechnungsadresseAnrede,
    vAuftragRechnungsadresse.cTitel AS cRechnungsadresseTitel,
    vAuftragRechnungsadresse.cVorname AS cRechnungsadresseVorname,
    vAuftragRechnungsadresse.cName AS cRechnungsadresseNachname,
    vAuftragRechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
    vAuftragRechnungsadresse.cAdressZusatz AS cRechnungsadresseAdresszusatz,
    vAuftragRechnungsadresse.cPLZ AS cRechnungsadressePlz,
    vAuftragRechnungsadresse.cOrt AS cRechnungsadresseOrt,
    vAuftragRechnungsadresse.cLand AS cRechnungsadresseLand,
    vAuftragRechnungsadresse.cTel AS cRechnungsadresseTelefon,
    vAuftragRechnungsadresse.cMobil AS cRechnungsadresseMobiltelefonnummer,
    vAuftragRechnungsadresse.cFax AS cRechnungsadresseFax,
    vAuftragRechnungsadresse.cMail AS cRechnungsadresseMail,
    vAuftragRechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
    vAuftragRechnungsadresse.cPostID AS cRechnungsadressePostId,
    vAuftragRechnungsadresse.cBundesland AS cRechnungsadresseBundesland,
    vAuftragRechnungsadresse.cISO AS cRechnungsadresseLandIso,
    ISNULL(KundeRechnungsadresse.cKundenNr,'') AS cRechnungsadresseKundennummer,
    CAST(NULL AS NVARCHAR(255)) AS cRechnungsadresseZuHaenden,	-- rausgeflogen
    vAuftragLieferadresse.cFirma AS cLieferadresseFirma,
    vAuftragLieferadresse.cAnrede AS cLieferadresseAnrede,
    vAuftragLieferadresse.cTitel AS cLieferadresseTitel,
    vAuftragLieferadresse.cVorname AS cLieferadresseVorname,
    vAuftragLieferadresse.cName AS cLieferadresseNachname,
    vAuftragLieferadresse.cStrasse AS cLieferadresseStrasse,
    vAuftragLieferadresse.cAdressZusatz AS cLieferadresseZusatz,
    vAuftragLieferadresse.cPLZ AS cLieferadressePlz,
    vAuftragLieferadresse.cOrt AS cLieferadresseOrt,
    vAuftragLieferadresse.cLand AS cLieferadresseLand,
    CAST(vAuftragLieferadresse.cTel AS NVARCHAR(255))AS cLieferadresseTelefon,
    vAuftragLieferadresse.cMobil AS cLieferadresseMobiltelefonnummer,
    vAuftragLieferadresse.cFax AS cLieferadresseFax,
    vAuftragLieferadresse.cMail AS cLieferadresseMail,
    vAuftragLieferadresse.cZusatz AS cLieferadresseZusatzinformationen,
    vAuftragLieferadresse.cPostID AS cLieferadressePostId,
    vAuftragLieferadresse.cBundesland AS cLieferadresseBundesland,
    vAuftragLieferadresse.cISO AS cLieferadresseLandIso,
    vAuftragEckdaten.fWertBrutto AS fAuftragswert,
    vAuftragEckdaten.fGutschrift AS fGutgeschriebenerWert,
    vAuftragEckdaten.fZahlung AS fBereitsgezahltWert,
    CAST(vStandardAuftrag.fOffenerWert AS DECIMAL(25,13)) AS fOffenerWert,
    vAuftragText.cHinweis AS cSonstiges,
    CASE WHEN vStandardAuftrag.nZahlungStatus = 1 THEN 'Anz.'
         WHEN vStandardAuftrag.nZahlungStatus = 2 THEN 'Ja'
         ELSE 'Nein'
        END AS cIstBezahlt,
    ISNULL(CAST(vAuftragEckdaten.nRechnungStatus AS NVARCHAR(4)), 0) AS cExistiertRechnung,
    CASE WHEN vAuftrag.nKomplettAusgeliefert = 0 THEN 0 ELSE 1 END AS nKomplettgeliefert,
    --
    -- 0 = storniert
    -- 1 = ausstehend
    -- 2 = teilgeliefert
    -- 3 = geliefert
    -- 4 = teilversendet
    -- 5 = Verpackt und Versendet
    -- 6 = Gutgeschrieben
    -- 7 = Ohne Versand abgeschlossen
    --
    CASE WHEN vAuftrag.nStorno = 1
             THEN 0
         ELSE
             CASE WHEN vAuftrag.nKomplettAusgeliefert = 2 AND (vAuftrag.kPlattform < 51 OR vAuftrag.kPlattform > 57)
                      THEN 7
                  ELSE
                      CASE WHEN vAuftrag.nKomplettAusgeliefert > 0 AND vAuftragEckdaten.fGutschrift > 0 AND vAuftragEckdaten.fGutschrift >= vAuftragEckdaten.fWertBrutto
                               THEN 6
                           ELSE
                               CASE WHEN vAuftrag.nKomplettAusgeliefert > 0 AND ISNULL(Versandinfo.AnzahlVersendetePakete, 0) = ISNULL(Versandinfo.AnzahlPakete, 0)
                                        THEN 5
                                    ELSE
                                        CASE WHEN ISNULL(Versandinfo.AnzahlVersendetePakete, 0) > 0
                                                 THEN 4
                                             ELSE
                                                 CASE WHEN vAuftrag.nKomplettAusgeliefert > 0
                                                          THEN 3
                                                      ELSE
                                                          CASE WHEN vAuftrag.nKomplettAusgeliefert = 0 AND ISNULL(LieferscheinInfo.Lieferscheinexistiert, 0) = 1
                                                                   THEN 2
                                                               ELSE 1
                                                              END
                                                     END
                                            END
                                   END
                          END
                 END
        END AS nLieferstatus,
    dbo.tBestellungWMSFreigabe.nSperre AS nWMSGesperrt,
    dbo.tBestellungWMSFreigabe.nTeillieferungErlaubt AS nWMSTeillieferung,
    dbo.tBestellungWMSFreigabe.nVorkommissionieren AS nWMSVorkommissionieren,
    --vRechnungEckdaten.nMahnstufe AS nMahnstufe, 
    CAST(NULL AS TINYINT) AS nMahnstufe,
    vStandardAuftrag.fAuftragswertVersandland AS fAuftragswertVersandland,
    --CAST(tZahlungserinnerung.fGebuehr AS DECIMAL(25,13)) AS fMahnGebuehr,
    CAST(0.0 AS DECIMAL(25,13)) AS fMahnGebuehr,
    vAuftrag.fFaktor AS fWaehrungsfaktor,
    (
        SELECT COUNT(dbo.tRMRetoure.kBestellung)
        FROM dbo.tRMRetoure
        WHERE dbo.tRMRetoure.kBestellung = Verkauf.vAuftrag.kAuftrag
    ) AS nAnzahlRetouren
FROM Verkauf.vAuftrag
LEFT JOIN
(
    SELECT	dbo.tLieferschein.kBestellung AS kBestellung,
              CASE WHEN MAX(kLieferschein) > 0 THEN 1 ELSE 0 END AS Lieferscheinexistiert
    FROM dbo.tLieferschein
    GROUP BY dbo.tLieferschein.kBestellung
) AS LieferscheinInfo ON vAuftrag.kAuftrag = LieferscheinInfo.kBestellung
LEFT JOIN
(
    SELECT	dbo.tLieferschein.kBestellung AS kBestellung,
              COUNT(CASE WHEN NOT dbo.tVersand.dVersendet IS NULL THEN 1 ELSE NULL END) AS AnzahlVersendetePakete,
              COUNT(*) AS AnzahlPakete,
              MIN(dbo.tVersand.dVersendet) AS Versanddatum
    FROM dbo.tLieferschein
    JOIN dbo.tVersand ON dbo.tLieferschein.kLieferschein = dbo.tVersand.kLieferschein
    GROUP BY dbo.tLieferschein.kBestellung
) AS Versandinfo ON vAuftrag.kAuftrag = Versandinfo.kBestellung
JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = vAuftrag.kAuftrag
JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = vAuftrag.kAuftrag
JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftrag.kAuftrag
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = vAuftrag.kFirmaHistory
JOIN Verkauf.vStandardAuftrag ON vStandardAuftrag.kAuftrag = vAuftrag.kAuftrag
JOIN dbo.tKunde ON vAuftrag.kKunde = tKunde.kKunde
LEFT JOIN eazybusiness.dbo.tbenutzer ON vAuftrag.kBenutzer = eazybusiness.dbo.tbenutzer.kBenutzer
LEFT JOIN dbo.tRueckhalteGrund ON vAuftrag.kRueckhalteGrund = dbo.tRueckhalteGrund.kRueckhalteGrund
LEFT JOIN Verkauf.vAuftragText ON vAuftragText.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN dbo.tShop ON vAuftrag.kShop = dbo.tShop.kShop
LEFT JOIN dbo.tZahlungsart ON vAuftrag.kZahlungsart = dbo.tZahlungsart.kZahlungsArt
LEFT JOIN dbo.tversandart ON vAuftrag.kVersandArt = dbo.tversandart.kVersandArt
LEFT JOIN dbo.tBestellungWMSFreigabe ON vAuftrag.kAuftrag = dbo.tBestellungWMSFreigabe.kBestellung
    AND dbo.tBestellungWMSFreigabe.nAktiv = 1
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN dbo.tkunde AS KundeRechnungsadresse ON KundeRechnungsadresse.kKunde = vAuftragRechnungsadresse.kKunde
WHERE vAuftrag.nType = 1
--LEFT JOIN
--(
--	SELECT kAuftrag, kRechnung
--	FROM Rechnung.vRechnungPosition
--	GROUP BY kAuftrag, kRechnung
--) AS Rechnungspositionen ON Rechnungspositionen.kAuftrag = vStandardAuftrag.kAuftrag
--JOIN Rechnung.vRechnungEckdaten ON vRechnungEckdaten.kRechnung = Rechnungspositionen.kRechnung
--JOIN Rechnung.vRechnung ON vRechnungEckdaten.kRechnung = vRechnung.kRechnung

--LEFT JOIN dbo.tZahlungsErinnerung ON tZahlungserinnerung.kRechnung = vRechnung.kRechnung 
--LEFT JOIN dbo.tMahnstufe ON vRechnungEckdaten.nMahnstufe = tMahnstufe.nStufe AND tKunde.kKundenGruppe = tMahnstufe.kKundengruppe
GO
