USE [eazybusiness]
GO
/****** Object:  Table [Kunde].[tNotiz]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Kunde].[tNotiz](
	[kNotiz] [int] IDENTITY(1,1) NOT NULL,
	[kKunde] [int] NOT NULL,
	[kAuftrag] [int] NULL,
	[cNotiz] [nvarchar](max) NULL,
	[nTyp] [int] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Kunde_tNotiz] PRIMARY KEY CLUSTERED 
(
	[kNotiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Kunde].[tNotiz] ADD  CONSTRAINT [DF_Kunde_tNotiz_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
ALTER TABLE [Kunde].[tNotiz] ADD  CONSTRAINT [DF_Kunde_tNotiz_dErstellt]  DEFAULT (getdate()) FOR [dErstellt]
GO
