USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvKunde]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvKunde]
AS
(
	
	SELECT  
			dbo.tkunde.kKunde AS kKunde,
			dbo.tkunde.cKundenNr AS cKundenNr,
			dbo.tkunde.cEbayName AS cEbayName,
			dbo.tkunde.cGeburtstag AS cGeburtstag,
			dbo.tkunde.cWWW AS cWWW,
			dbo.tAdresse.cName AS cName,
			dbo.tAdresse.cVorname AS cVorname,
			dbo.tAdresse.cTel AS cTel,
			dbo.tAdresse.cFax AS cFax,
			dbo.tAdresse.cMail AS cEMail,
			dbo.tAdresse.cFirma AS cFirma,
			dbo.tAdresse.cPLZ AS cPLZ,
			dbo.tAdresse.cOrt AS cOrt,
			dbo.tAdresse.cLand AS cLand,
			dbo.tAdresse.cZusatz AS cZusatz,
			dbo.tAdresse.cAnrede AS cAnrede,
			dbo.tAdresse.cTitel AS cTitel,
			dbo.tAdresse.cStrasse AS cStrasse,
			dbo.tAdresse.cAdressZusatz AS cAdressZusatz,
			dbo.tkunde.dErstellt AS dErstellt,
			dbo.tAdresse.cMobil AS cMobil,
			dbo.tkunde.fRabatt AS fRabatt,
			dbo.tAdresse.cUSTID AS cUSTID,					
			CAST(CASE
					 WHEN LOWER(dbo.tkunde.cNewsletter) = 'y'
					 THEN 1
					 ELSE 0
				 END AS BIT) AS Newsletter,			
			dbo.tAdresse.cPostID AS cPostID,
			dbo.tkunde.nZahlungsziel AS nZahlungsziel,
			dbo.tAdresse.cBundesland AS cBundesland,
			dbo.tkunde.cHerkunft AS cHerkunft,
			
			CAST(CASE
					 WHEN LOWER(dbo.tkunde.cKassenKunde) = 'y'
					 THEN 1
					 ELSE 0
				 END AS BIT) AS KassenKunde,	
			CAST(CASE
					 WHEN LOWER(dbo.tkunde.cSperre) = 'y'
					 THEN 1
					 ELSE 0
				 END AS BIT) AS Gesperrt,	
			dbo.tkunde.kBuyer AS kBuyer,
			ISNULL(dbo.tkunde.kInetKunde,0) AS kInetKunde,
			dbo.tkunde.cHRNr AS cHRNr,			
			ISNULL(dbo.tkunde.nDebitorennr,0) AS nDebitorennr,
			dbo.tKundenKategorie.cName AS KundenKategorie,
			dbo.tKundenGruppe.cName AS KundenGruppe,
			dbo.tKunde.kKundenKategorie AS kKundenKategorie,
			dbo.tkunde.kKundenGruppe AS kKundenGruppe,
			CAST(CASE
					 WHEN dbo.tlieferant.nJtlFulfillment = 1
					 THEN 1
					 ELSE 0
				 END AS BIT) AS nJtlFulfillment,
			STUFF((SELECT ', ' + tLabel.cName
				FROM dbo.tKundeLabel kundeLabel
				JOIN dbo.tLabel ON tLabel.kLabel = kundeLabel.kLabel
				WHERE kundeLabel.kKunde = tkunde.kKunde      
				FOR XML PATH ('')),1,2,'') AS Label
			FROM dbo.tkunde
			JOIN dbo.tAdresse ON (tAdresse.kKunde = tkunde.kKunde) AND (tAdresse.nStandard = 1) AND (tAdresse.nTyp = 1)
			LEFT JOIN tKundenKategorie ON tKundenKategorie.kKundenKategorie = tkunde.kKundenKategorie
			LEFT JOIN tKundenGruppe ON tKundenGruppe.kKundenGruppe = tkunde.kKundenGruppe
			LEFT JOIN FulfillmentNetwork.tFulfillerEinstellungen AS ffnEinstellungen ON ffnEinstellungen.kKunde = tKunde.kKunde
			LEFT JOIN dbo.tlieferant ON tlieferant.kLieferant = ffnEinstellungen.kLieferant AND tlieferant.nJtlFulfillment = 1

)
GO
