USE [eazybusiness]
GO
/****** Object:  View [Kunde].[vKundenGruppeShopVerfuegbar]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[vKundenGruppeShopVerfuegbar]
AS
(
	SELECT dbo.tKundenGruppe.*,tShopKundenGruppe.kWebShop,tShop.cName as cWebShop FROM dbo.tKundenGruppe
JOIN dbo.tShopKundenGruppe ON tShopKundenGruppe.kKundenGruppe = tKundenGruppe.kKundenGruppe
JOIN dbo.tShop ON tShopKundenGruppe.kWebShop = tShop.kShop
);
GO
