USE [eazybusiness]
GO
/****** Object:  Table [Kunde].[tHistorie]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Kunde].[tHistorie](
	[kKunde] [int] NOT NULL,
	[kAuftrag] [int] NULL,
	[kVorgang] [int] NOT NULL,
	[kKey] [int] NULL,
	[cValue1] [nvarchar](4000) NULL,
	[cValue2] [nvarchar](4000) NULL,
	[cValue3] [nvarchar](4000) NULL,
	[dErstellt] [datetime] NOT NULL,
	[kBenutzer] [int] NULL,
	[fValue1] [decimal](25, 13) NULL,
	[fValue2] [decimal](25, 13) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kHistorie] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Kunde.tHistorie] PRIMARY KEY CLUSTERED 
(
	[kHistorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Kunde].[tHistorie] ADD  CONSTRAINT [DF_Kunde_tHistorie_dErstellt]  DEFAULT (getdate()) FOR [dErstellt]
GO
