USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvArtikelVerkaeufe]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvArtikelVerkaeufe]
AS
(
	SELECT tArtikel.kArtikel AS kArtikel,
	   tArtikel.cArtNr AS cArtNr,
	   tArtikel.cBarcode as cEAN,
	   tArtikelBeschreibung.cName AS cArtikelName,
	   SUM(vAuftragPosition.fAnzahl) AS MengeKaeufe,
	   COUNT( DISTINCT vAuftrag.kAuftrag) AS AnzahlKaeufe,
	   SUM(vAuftragPosition.fAnzahl * (vAuftragPosition.fVkNetto * ((100 + vAuftragPosition.fMwSt) / 100)) * (1 - (vAuftragPosition.fRabatt / 100))) AS GesamtWert,
	   tArtikel.fVKNetto,
	   dbo.tArtikel.fVKNetto + ISNULL(dbo.tArtikel.fVKNetto / 100 * dbo.tSteuercache.fSteuersatz, 0) AS VerkaufspreisBrutto,
	   CAST(AVG(vAuftragPosition.fVkNetto * ((100 + vAuftragPosition.fMwSt) / 100)) AS DECIMAL(38,14)) AvgVkPreis,
	   MAX(vAuftrag.dErstellt) AS LetzterKauf,
	   tkunde.kKunde AS kKunde
FROM  dbo.tArtikel 
JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
JOIN dbo.tArtikelBeschreibung ON tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache AND tArtikelBeschreibung.kPlattform = 1  AND  tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kArtikel = tArtikel.kArtikel
JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vAuftragPosition.kAuftrag AND vAuftrag.nStorno = 0 AND vAuftrag.nType = 1
JOIN dbo.tkunde ON tkunde.kKunde = vAuftrag.kKunde
LEFT JOIN dbo.tSteuercache ON dbo.tSteuercache.kSteuerklasse = dbo.tArtikel.kSteuerklasse AND dbo.tSteuercache.kFirma = 0
GROUP BY tArtikel.kArtikel, tArtikel.cArtNr, tArtikel.cBarcode, tArtikel.fVKNetto, tArtikelBeschreibung.cName,tkunde.kKunde,tSteuercache.fSteuersatz
);
GO
