USE [eazybusiness]
GO
/****** Object:  Table [Kunde].[tKundeEigenesFeld]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Kunde].[tKundeEigenesFeld](
	[kKundeEigenesFeld] [int] IDENTITY(1,1) NOT NULL,
	[kKunde] [int] NOT NULL,
	[kAttribut] [int] NOT NULL,
	[cWertVarchar] [nvarchar](max) NULL,
	[nWertInt] [int] NULL,
	[fWertDecimal] [decimal](25, 13) NULL,
	[dWertDateTime] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Kunde_tKundeEigenesFeld] PRIMARY KEY CLUSTERED 
(
	[kKundeEigenesFeld] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Kunde_tKundeEigenesFeld_kAttribut_kKunde] UNIQUE NONCLUSTERED 
(
	[kAttribut] ASC,
	[kKunde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Kunde].[tKundeEigenesFeld]  WITH CHECK ADD  CONSTRAINT [FK_Kunde_tKundeEigenesFeld_kAttribut] FOREIGN KEY([kAttribut])
REFERENCES [dbo].[tAttribut] ([kAttribut])
ON DELETE CASCADE
GO
ALTER TABLE [Kunde].[tKundeEigenesFeld] CHECK CONSTRAINT [FK_Kunde_tKundeEigenesFeld_kAttribut]
GO
