USE [eazybusiness]
GO
/****** Object:  View [Kunde].[vKundenGruppeShop]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[vKundenGruppeShop]
AS
(
	SELECT 
		tInetKundeShop.kKunde,
		tInetKundeShop.kKundenGruppe,
		tInetKundeShop.kInetKunde,
		tShop.cName AS ShopName,
		tKundenGruppe.cName AS Kundengruppe,
		tInetKundeShop.dKundeSeit,
		tInetKundeShop.nRegistriert,
		tInetKundeShop.cShopKundenNr,
		tInetKundeShop.kShop,
		tGutschein.kGutschein,
		tGutschein.fWert,
		tGutschein.dErstellt, 
		tGutschein.cGrund AS GutscheinGrund
	FROM tInetKundeShop
	JOIN tShop ON tShop.kShop = tInetKundeShop.kShop
	JOIN tKundenGruppe ON tInetKundeShop.kKundenGruppe = tKundenGruppe.kKundenGruppe
	LEFT JOIN tGutschein ON tGutschein.kKunde = tInetKundeShop.kKunde
	--WHERE tInetKundeShop.nRegistriert = 1
);
GO
