USE [eazybusiness]
GO
/****** Object:  View [Kunde].[lvAngebote]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Kunde].[lvAngebote] AS SELECT
    tkunde.kKunde AS kKunde,
    vAuftrag.kAuftrag AS kBestellung,
    vAuftrag.kBenutzer AS kBenutzer,
    0 AS kText, -- wird nicht mehr verwendet
    vAuftrag.kShopauftrag AS kInetBestellung,
    CASE WHEN vAuftrag.kAuftrag IS NULL THEN NULL ELSE vAuftrag.kAuftrag END AS kBestellhinweis,
    tFirmaHistory.kFirma AS kFirma,
    vAuftrag.kSprache AS kSprache,
    vAuftrag.kFarbe AS kColor,
    vAuftrag.cAuftragsNr AS cAngebotsnummer,
    tPlattform.cName AS cPlattform,
    CAST(vAuftragText.cAnmerkung AS NVARCHAR(MAX)) AS cAnmerkung,
    '##' AS cErloeskonto, -- ist nur auf Positionsebene verfügbar
    vAuftrag.cWaehrung AS cWaehrung,
    vAuftrag.fFaktor AS fWaehrungsfaktor,
    ISNULL(CAST(0.0 AS DECIMAL(25,13)), 0.0) AS fKundenguthaben,
    vAuftragEckdaten.dGedruckt AS dDruckdatum,
    vAuftragEckdaten.dGemailt AS dMaildatum,
    vAuftragEckdaten.dZahlungsMail AS dZahlungsmaildatum,
    CAST(CASE WHEN vAuftrag.nBeschreibung = 0 THEN 'N'
              WHEN vAuftrag.nBeschreibung = 1 THEN 'K'
              WHEN vAuftrag.nBeschreibung = 2 THEN 'U'
        END AS CHAR(1)) AS cBeschreibung,
    CAST(CASE WHEN vAuftrag.nSteuereinstellung = 10 THEN 1 ELSE 0 END AS TINYINT) AS nInnergemeinschaftlicheLieferung,
    CAST(CASE WHEN vAuftrag.nSteuereinstellung = 20 THEN 1 ELSE 0 END AS TINYINT) AS nUmsatzsteuerfrei,
    vVorgangsstatus.cStatus AS cStatustext,
    vAuftragEckdaten.dBezahlt AS dBezahldatum,
    vAuftrag.fZusatzGewicht AS fZusatzgewicht,
    CASE WHEN vAuftrag.dErstellt IS NULL THEN NULL ELSE vAuftrag.dErstellt END AS dErstellt,
    vAuftragRechnungsadresse.cFirma AS cRechnungsadresseFirma,
    vAuftragRechnungsadresse.cAnrede AS cRechnungsadresseAnrede,
    vAuftragRechnungsadresse.cTitel AS cRechnungsadresseTitel,
    vAuftragRechnungsadresse.cVorname AS cRechnungsadresseVorname,
    vAuftragRechnungsadresse.cName AS cRechnungsadresseNachname,
    vAuftragRechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
    vAuftragRechnungsadresse.cAdressZusatz AS cRechnungsadresseAdresszusatz,
    vAuftragRechnungsadresse.cPLZ AS cRechnungsadressePlz,
    vAuftragRechnungsadresse.cOrt AS cRechnungsadresseOrt,
    vAuftragRechnungsadresse.cLand AS cRechnungsadresseLand,
    vAuftragRechnungsadresse.cTel AS cRechnungsadresseTelefon,
    vAuftragRechnungsadresse.cMobil AS cRechnungsadresseMobilTelefon,
    vAuftragRechnungsadresse.cFax AS cRechnungsadresseFax,
    vAuftragRechnungsadresse.cMail AS cRechnungsadresseMail,
    vAuftragRechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
    vAuftragRechnungsadresse.cPostID AS cRechnungsadressePostId,
    vAuftragRechnungsadresse.cBundesland AS cRechnungsadresseBundesland,
    vAuftragRechnungsadresse.cISO AS cRechnungsadresseLandIso,
    ISNULL(KundeRechnungsadresse.cKundenNr,'') AS cRechnungsadresseKundennummer,
    CAST(NULL AS NVARCHAR(255)) AS cRechnungsadresseZuHaenden,	-- rausgeflogen
    vAuftragLieferadresse.cFirma AS cLieferadresseFirma,
    vAuftragLieferadresse.cAnrede AS cLieferadresseAnrede,
    vAuftragLieferadresse.cTitel AS cLieferadresseTitel,
    vAuftragLieferadresse.cVorname AS cLieferadresseVorname,
    vAuftragLieferadresse.cName AS cLieferadresseNachname,
    vAuftragLieferadresse.cStrasse AS cLieferadresseStrasse,
    vAuftragLieferadresse.cAdressZusatz AS cLieferadresseAdresszusatz,
    vAuftragLieferadresse.cPLZ AS cLieferadressePlz,
    vAuftragLieferadresse.cOrt AS cLieferadresseOrt,
    vAuftragLieferadresse.cLand AS cLieferadresseLand,
    CAST(vAuftragLieferadresse.cTel AS NVARCHAR(255)) AS cLieferadresseTelefon,
    vAuftragLieferadresse.cMobil AS cLieferadresseMobilTelefon,
    vAuftragLieferadresse.cFax AS cLieferadresseFax,
    vAuftragLieferadresse.cMail AS cLieferadresseMail,
    vAuftragLieferadresse.cZusatz AS cLieferadresseZusatz,
    vAuftragLieferadresse.cPostID AS cLieferadressePostId,
    vAuftragLieferadresse.cBundesland AS cLieferadresseBundesland,
    vAuftragLieferadresse.cISO AS cLieferadresseLandIso,
    eazybusiness.dbo.tbenutzer.cName AS cBenutzername,
    tFirmaHistory.cName AS cFirmenname,
    tShop.cName AS cShopname,
    tZahlungsart.cName AS cZahlungsartname,
    tversandart.cName AS cVersandartname,
    Verkauf.vAuftragEckdaten.fWertBrutto / vAuftrag.fFaktor AS fAngebotswert,
    vAuftragText.cHinweis AS cSonstiges,
    vAuftrag.cExterneAuftragsnummer AS cShopbestellnummer
FROM Verkauf.vAuftrag
JOIN dbo.tkunde ON tkunde.kKunde = vAuftrag.kKunde
JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = vAuftrag.kAuftrag
JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = vAuftrag.kAuftrag
JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftrag.kAuftrag
JOIN dbo.tPlattform ON vAuftrag.kPlattform = tPlattform.nPlattform
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = vAuftrag.kFirmaHistory
LEFT JOIN eazybusiness.dbo.tbenutzer ON vAuftrag.kBenutzer = eazybusiness.dbo.tbenutzer.kBenutzer
LEFT JOIN Verkauf.vAuftragText ON vAuftrag.kAuftrag = vAuftragText.kAuftrag
LEFT JOIN dbo.tShop ON vAuftrag.kShop = dbo.tShop.kShop
LEFT JOIN dbo.tZahlungsart ON vAuftrag.kZahlungsart = dbo.tZahlungsart.kZahlungsArt
LEFT JOIN dbo.tversandart ON vAuftrag.kVersandArt = dbo.tversandart.kVersandArt
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN dbo.tkunde AS KundeRechnungsadresse ON KundeRechnungsadresse.kKunde = vAuftragRechnungsadresse.kKunde
WHERE vAuftrag.nType = 0
GO
