USE [eazybusiness]
GO
/****** Object:  View [Logging].[vRechnungLog]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Logging].[vRechnungLog] AS
/*************************************************************************************************************
Beschreibung:	View dient zur Anzeige der Einträge aus dem GoBD Rechnungs-Log und einem Prüfstatus, der
				die Gültigkeit der Logeinträge bewertet
*************************************************************************************************************/
	SELECT
			kRechnungLog,
			dErstelltUtc,

			nLogTyp,
			CASE
				WHEN nLogTyp = 0 THEN 'LOGENDE'
				WHEN nLogTyp = 1 THEN 'INSERT'
				WHEN nLogTyp = 2 THEN 'UPDATE'
				WHEN nLogTyp = 3 THEN 'DELETE'
				ELSE '(unbekannt)'
			END AS cLogTyp,

			kRechnung,
			cRechnungsNr,
			cAppName,
			CONVERT(XML, bXML) AS cXML,
			bXML,

			bRowVersion,
			bLastRowVersion,

			CONVERT(BIGINT, bRowVersion) - CONVERT(BIGINT, bLastRowVersion) AS nLogAbstand,
			CASE
				-- Logeintrag wurde aktualisiert
				WHEN CONVERT(BIGINT, LEAD(bRowVersion) OVER (ORDER BY dErstelltUtc ASC, kRechnungLog ASC)) - CONVERT(BIGINT, bRowVersion) < 0
					THEN 'Defekt - modifizierter Eintrag'

				-- Logeintrag zwischendurch wurde gelöscht
				WHEN bLastRowVersion IS NOT NULL AND NOT EXISTS(SELECT 1 FROM Logging.tRechnungLog AS X WHERE X.bRowVersion = RL.bLastRowversion)
					THEN 'Defekt - vorherige Einträge '
						+ CASE
							WHEN CAST(kRechnungLog - 1 - LAG(kRechnungLog) OVER (ORDER BY dErstelltUtc ASC, kRechnungLog ASC) AS NVARCHAR(10)) = 0 THEN 'modifiziert'
							ELSE 'gelöscht (ca. ' + CAST(kRechnungLog - 1 - LAG(kRechnungLog)  OVER (ORDER BY dErstelltUtc ASC, kRechnungLog ASC) AS NVARCHAR(10)) + ' Eintrag/Einträge)'
						END

				-- Abstand 2 bedeutet einen direkt aufeinanderfolgenden Aufruf von zwei INSERTs auf der Logtabelle (2 durch die Trigger-Logik).
				-- Dies ist suspekt, da über die WAWI-Eckdatenberechnung normalerweise nur 1 INSERT pro Aufruf erfolgt.
				WHEN CONVERT(BIGINT, bRowVersion) - CONVERT(BIGINT, bLastRowVersion) = 2
					THEN 'Suspekt - zwei Logeinträge in Folge ohne Aktion in der Datenbank dazwischen'
				ELSE 'Gültig'
			END AS cPrüfStatus

	FROM	Logging.tRechnungLog AS RL;
GO
