USE [eazybusiness]
GO
/****** Object:  View [Logging].[vGutschriftLog]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Logging].[vGutschriftLog] AS
/*************************************************************************************************************
Beschreibung:	View dient zur Anzeige der Einträge aus dem GoBD Gutschrifts-Log und einem Prüfstatus, der
				die Gültigkeit der Logeinträge bewertet
*************************************************************************************************************/
	SELECT
			kGutschriftLog,
			dErstelltUtc,

			nLogTyp,
			CASE
				WHEN nLogTyp = 0 THEN 'LOGENDE'
				WHEN nLogTyp = 1 THEN 'INSERT'
				WHEN nLogTyp = 2 THEN 'UPDATE'
				WHEN nLogTyp = 3 THEN 'DELETE'
				ELSE '(unbekannt)'
			END AS cLogTyp,

			kGutschrift,
			cGutschriftNr,
			nGutschriftType,
			CASE
				WHEN nGutschriftType = 1 THEN 'Rechnungskorrektur'
				WHEN nGutschriftType = 2 THEN 'Gutschrift'
				WHEN nGutschriftType = 3 THEN 'Stornorechnung'
				WHEN nGutschriftType = 4 THEN 'Stornorechnungskorrektur'
				WHEN nGutschriftType = 5 THEN 'Stornogutschrift'
				ELSE '(unbekannt)'
			END AS cGutschriftType,

			cAppName,
			CONVERT(XML, bXML) AS cXML,
			bXML,

			bRowVersion,
			bLastRowVersion,
			CONVERT(BIGINT, bRowVersion) - CONVERT(BIGINT, bLastRowVersion) AS nLogAbstand,
			CASE
				-- Logeintrag wurde aktualisiert
				WHEN CONVERT(BIGINT, LEAD(bRowVersion) OVER (ORDER BY dErstelltUtc ASC, kGutschriftLog ASC)) - CONVERT(BIGINT, bRowVersion) < 0
					THEN 'Defekt - modifizierter Eintrag'

				-- Logeintrag zwischendurch wurde gelöscht
				WHEN bLastRowVersion IS NOT NULL AND NOT EXISTS(SELECT 1 FROM Logging.tGutschriftLog AS X WHERE X.bRowVersion = GL.bLastRowversion)
					THEN 'Defekt - vorherige Einträge '
						+ CASE
							WHEN CAST(kGutschriftLog - 1 - LAG(kGutschriftLog) OVER (ORDER BY dErstelltUtc ASC, kGutschriftLog ASC) AS NVARCHAR(10)) = 0 THEN 'modifiziert'
							ELSE 'gelöscht (ca. ' + CAST(kGutschriftLog - 1 - LAG(kGutschriftLog)  OVER (ORDER BY dErstelltUtc ASC, kGutschriftLog ASC) AS NVARCHAR(10)) + ' Eintrag/Einträge)'
						END

				-- Abstand 2 bedeutet einen direkt aufeinanderfolgenden Aufruf von zwei INSERTs auf der Logtabelle (2 durch die Trigger-Logik).
				-- Dies ist suspekt, da über die WAWI-Eckdatenberechnung normalerweise nur 1 INSERT pro Aufruf erfolgt.
				WHEN CONVERT(BIGINT, bRowVersion) - CONVERT(BIGINT, bLastRowVersion) = 2
					THEN 'Suspekt - zwei Logeinträge in Folge ohne Aktion in der Datenbank dazwischen'
				ELSE 'Gültig'
			END AS cPrüfStatus

	FROM	Logging.tGutschriftLog AS GL;
GO
