USE [eazybusiness]
GO
/****** Object:  Table [Logging].[tRechnungLog]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Logging].[tRechnungLog](
	[kRechnungLog] [int] IDENTITY(1,1) NOT NULL,
	[kRechnung] [int] NOT NULL,
	[cRechnungsNr] [nvarchar](50) NULL,
	[dErstelltUtc] [datetime2](7) NOT NULL,
	[nLogTyp] [tinyint] NOT NULL,
	[cAppName] [nvarchar](128) NOT NULL,
	[bXML] [varbinary](max) NULL,
	[bRowVersion] [timestamp] NOT NULL,
	[bLastRowVersion] [binary](8) NULL,
 CONSTRAINT [PK_Logging_tRechnungLog] PRIMARY KEY NONCLUSTERED 
(
	[kRechnungLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UCX_Logging_tRechnungLog_dErstelltUtc_kAuftragLog] UNIQUE CLUSTERED 
(
	[dErstelltUtc] ASC,
	[kRechnungLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Logging].[tRechnungLog]  WITH CHECK ADD  CONSTRAINT [CK_Logging_tRechnungLog_nLogTyp] CHECK  (([nLogTyp]=(3) OR [nLogTyp]=(2) OR [nLogTyp]=(1) OR [nLogTyp]=(0)))
GO
ALTER TABLE [Logging].[tRechnungLog] CHECK CONSTRAINT [CK_Logging_tRechnungLog_nLogTyp]
GO
