USE [eazybusiness]
GO
/****** Object:  View [Logging].[vLog]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Logging].[vLog] AS (
SELECT Convert(DateTimeOffset,[tLog].[dDatum]) as dDatum
      ,[tbenutzer].[cName]
      ,[tLog].[cLog]
      ,[tLog].[nTyp]
      ,[tLog].[nVorgang]
  FROM [dbo].[tLog]
  LEFT JOIN [eazybusiness].[dbo].[tbenutzer]
  ON [tLog].[kBenutzer] = [tbenutzer].[kBenutzer]
  );
GO
