USE [eazybusiness]
GO
/****** Object:  View [Mahnwesen].[lvOffenePosten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Mahnwesen].[lvOffenePosten]
AS
SELECT
	ISNULL(CAST(tRechnung.nMahnstop AS TINYINT), 0) AS nMahnstopp,
	tRechnung.cKundennr AS cKundenNr,
	ISNULL(TRY_CONVERT(BIT, IIF(tkunde.nMahnstopp != 0, 1, 0)), 0) AS MahnstopKunde,
	CASE
		WHEN tRechnung.cRechnungsnr IS NULL
			THEN NULL
		ELSE tRechnung.cRechnungsnr
	END AS cRechnungsNr,
	CASE
		WHEN tRechnung.dErstellt IS NULL
			THEN NULL
		ELSE tRechnung.dErstellt
	END AS Rechnungsdatum,
	tRechnung.dErstellt + tRechnung.nZahlungszielTage AS RechnungZahlungsZiel,
	CONVERT(
			   DECIMAL(28, 4),
			   ISNULL(tRechnungEckdaten.fOffenerWert, 0.0)
			   + CONVERT(DECIMAL(28, 4), ISNULL(tZahlungsErinnerung.fGebuehr, 0.0))
		   ) AS MahnBetrag,
	vRechnungRechnungsadresse.cVorname,
	vRechnungRechnungsadresse.cName,
	vRechnungRechnungsadresse.cMail,
	vRechnungRechnungsadresse.cFirma,
	tMahnstufe.cName AS Mahnstufe,
	tZahlungsErinnerung.cKommentar,
	tZahlungsErinnerung.kBenutzer,
	CAST(ISNULL(tRechnungEckdaten.fVkBruttoGesamt, 0.0) AS DECIMAL(28, 4)) AS Betrag,
	CAST(tRechnungEckdaten.fOffenerWert AS DECIMAL(28, 4)) AS OffenerPosten,
	CAST(ISNULL(OPGesamt.Gesamt, 0.0) AS DECIMAL(28, 4)) AS Gesamt,
	tZahlungsErinnerung.dErstellt AS MahnungErstellt,
	CASE
		WHEN tZahlungsErinnerung.dZahlungsfrist IS NULL
			THEN tRechnung.dErstellt + tRechnung.nZahlungszielTage
		ELSE tZahlungsErinnerung.dZahlungsfrist
	END AS naechstesZahlungsziel,
	CASE
		WHEN tRechnungEckdaten.nZahlungStatus = 2
			THEN 1 --Vollbezahlt
		WHEN tRechnungEckdaten.nZahlungStatus = 1
			THEN 2 --Teilbezahlt
		ELSE 3 --Keine Zahlung
	END AS Zahlungsstatus,
	tRechnung.kKundengruppe AS kKundenGruppe,
	tRechnung.kFirmaHistory,
	tfirma.kFirma AS kFirma,
	tZahlungsErinnerung.kMahnstufe,
	tZahlungsErinnerung.kZahlungsErinnerung,
	tRechnung.kRechnung,
	ISNULL(tRechnung.kKunde, 0) AS kKunde,
	ISNULL(vAuftragEckdaten.kAuftrag, 0) AS kBestellung,
	tZahlungsErinnerung.fBruttoBetrag,
	CAST(tZahlungsErinnerung.fGebuehr AS DECIMAL(28, 4)) AS Mahngebuehr,
	tZahlungsart.kZahlungsart,
	CAST(LEFT(tRechnungEckdaten.cAuftragsnummern, 50) AS VARCHAR(50)) AS cBestellNr,
	ISNULL(vAuftragEckdaten.dLetzterVersand, CAST(NULL AS DATETIME)) AS Versanddatum,
	ISNULL(MahnstufeSql.Karenzzeit, 0) AS Karenzzeit,
	tRechnung.nIstEntwurf
FROM Rechnung.tRechnung
JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kRechnung = tRechnung.kRechnung
LEFT JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = tAuftragRechnung.kAuftrag
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tRechnung.kFirmaHistory
JOIN dbo.tfirma ON tfirma.kFirma = tFirmaHistory.kFirma
JOIN Rechnung.vRechnungRechnungsadresse ON vRechnungRechnungsadresse.kRechnung = tRechnung.kRechnung
LEFT JOIN dbo.tkunde ON tkunde.kKunde = tRechnung.kKunde
LEFT JOIN dbo.tZahlungsart ON tZahlungsart.kZahlungsart = tRechnung.kZahlungsart
LEFT JOIN dbo.tZahlungsErinnerung ON tZahlungsErinnerung.kRechnung = tRechnung.kRechnung
									 AND NOT EXISTS
											 (
												 SELECT *
												 FROM dbo.tZahlungsErinnerung AS ze1
												 WHERE
													 ze1.kRechnung = tRechnung.kRechnung
													 AND ze1.nMahnstufeAktuell > tZahlungsErinnerung.nMahnstufeAktuell
											 )
OUTER APPLY
(
	SELECT TOP (1) tMahnstufe.nKarenzzeit AS Karenzzeit
	FROM dbo.tMahnstufe
	WHERE
		(tMahnstufe.kFirma = tfirma.kFirma OR tMahnstufe.kFirma = 0)
		AND
		(
			tMahnstufe.kKundengruppe = tRechnung.kKundengruppe
			OR tMahnstufe.kKundengruppe = 0
		)
		AND
		(
			tMahnstufe.nStufe > tZahlungsErinnerung.nMahnstufeAktuell
			OR tZahlungsErinnerung.nMahnstufeAktuell IS NULL
		)
	ORDER BY
		tMahnstufe.kFirma DESC,
		nStufe
) AS MahnstufeSql
LEFT JOIN dbo.tMahnstufe ON tMahnstufe.kMahnstufe = tZahlungsErinnerung.kMahnstufe
LEFT JOIN
(
	SELECT tRechnung.kKunde, SUM(tRechnungEckdaten.fOffenerWert) AS Gesamt
	FROM Rechnung.tRechnung
	JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
	WHERE 
		tRechnung.nStorno = 0
		AND tRechnungEckdaten.dBezahlt IS NULL
	GROUP BY tRechnung.kKunde
) AS OPGesamt ON OPGesamt.kKunde = tRechnung.kKunde
WHERE
	tRechnung.nStorno = 0
	AND tRechnungEckdaten.dBezahlt IS NULL
	AND (tZahlungsart.kZahlungsart IS NULL OR tZahlungsart.nMahnwesenAktiv = 1)
GO
