USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vExterneReservierungDiff]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vExterneReservierungDiff]
AS
/*************************************************************************************************************
Beschreibung:	Aktuelle Unterschiede zwischen Tabelle dbo.tExterneReservierung und
				Kontroll-View Maintenance.vExterneReservierungKontrolle
--------------------------------------------------------------------------------------------------------------
-- Beispielaufruf:
SELECT * FROM Maintenance.vExterneReservierungDiff WHERE Vergleich <> '=' -- Unterschiede
*************************************************************************************************************/
SELECT
				CASE
					WHEN Soll.kKey IS NULL THEN 'DELETE'
					WHEN Ist.kKey IS NULL THEN 'INSERT'
					WHEN Ist.fAnzahl <> Soll.fAnzahl THEN '<>'
					ELSE '='
				END AS Vergleich,
				ISNULL(Ist.kKey, Soll.kKey) AS kKey,
				Ist.kKey AS kKeyIst,
				Ist.kArtikel AS kArtikelIst,
				Ist.nTyp AS nTypIst,
				Ist.fAnzahl AS fAnzahlIst,
				Soll.kKey AS kKeySoll,
				Soll.kArtikel AS kArtikelSoll,
				Soll.nTyp AS nTypSoll,
				Soll.cTyp AS cTypSoll,
				Soll.fAnzahl AS fAnzahlSoll
FROM			dbo.tExterneReservierung AS Ist
FULL OUTER JOIN	Maintenance.vExterneReservierungKontrolle AS Soll ON Soll.kKey = Ist.kKey AND Soll.kArtikel = Ist.kArtikel AND Soll.nTyp = Ist.nTyp
GO
