USE [eazybusiness]
GO
/****** Object:  View [MaintenanceIntern].[vLagerbestandVarkombination]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [MaintenanceIntern].[vLagerbestandVarkombination]
AS
SELECT tArtikel.kArtikel AS kArtikel,
		SUM(ISNULL(Bestand.fBestandEigen,0.0)) AS fBestandEigen,
		SUM(ISNULL(Bestand.fBestand,0.0)) AS fBestand,
		SUM(CASE WHEN ISNULL(Bestand.fVerfuegbar, 0.0) > 0.0 
				THEN ISNULL(Bestand.fVerfuegbar, 0.0) 
				ELSE 0.0 
			END) AS fVerfuegbar,
		SUM(ISNULL(Bestand.fVerfuegbarGesperrt, 0.0)) AS fVerfuegbarGesperrt,
		SUM(ISNULL(Bestand.fInAuftraegen, 0.0)) AS fInAuftraegen,
		SUM(ISNULL(Bestand.fZulauf, 0.0)) AS fZulauf,
		CASE WHEN tArtikel.cLagerAktiv = 'Y' THEN 1 ELSE 0 END AS nLagerAktiv,
		2 AS nArtikeltyp,
		CASE WHEN tArtikel.cTeilbar = 'Y' THEN 1 ELSE 0 END AS nTeilbar,
		CASE WHEN tArtikel.cLagerKleinerNull = 'Y' THEN 1 ELSE 0 END AS nLagerKleinerNull
	FROM dbo.tArtikel
	LEFT JOIN (
		SELECT tArtikel.kVaterArtikel, BestandSub.* FROM (
			SELECT * 
				FROM MaintenanceIntern.vLagerbestandNormaleArtikel
			UNION
			SELECT * 
				FROM MaintenanceIntern.vLagerbestandStuecklisten
			) AS BestandSub
			JOIN dbo.tArtikel ON tArtikel.kArtikel = BestandSub.kArtikel
		) AS Bestand ON Bestand.kVaterArtikel = tArtikel.kArtikel
	WHERE tArtikel.nIstVater = 1 AND tArtikel.cLagerVariation <> 'Y'
	GROUP BY tArtikel.kArtikel, tArtikel.cLagerAktiv, tArtikel.cTeilbar, tArtikel.cLagerKleinerNull;
GO
