USE [eazybusiness]
GO
/****** Object:  View [MaintenanceIntern].[vLagerbestandStuecklisten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [MaintenanceIntern].[vLagerbestandStuecklisten] AS
SELECT tArtikel.kArtikel,
			CAST(CASE 
				WHEN fLagerbestandEigenDominant = 1000000000 AND fLagerbestandEigenNichtDominant = 1000000000 THEN 0
				WHEN fLagerbestandEigenDominant = 1000000000 THEN fLagerbestandEigenNichtDominant
				WHEN fLagerbestandEigenNichtDominant = 1000000000 THEN fLagerbestandEigenDominant
				ELSE fLagerbestandEigenDominant
				END 
			 AS DECIMAL(28,14))
			AS fBestandEigen,
			CAST(CASE 
				WHEN fLagerbestandDominant = 1000000000 AND fLagerbestandNichtDominant = 1000000000 THEN 0
				WHEN fLagerbestandDominant = 1000000000 THEN fLagerbestandNichtDominant
				WHEN fLagerbestandNichtDominant = 1000000000 THEN fLagerbestandDominant
				ELSE fLagerbestandDominant
				END 
			 AS DECIMAL(28,14))
			AS fBestand,
			CAST(CASE 
				WHEN fVerfuegbarDominant = 1000000000 AND fVerfuegbarNichtDominant = 1000000000 THEN 0
				WHEN fVerfuegbarDominant = 1000000000 THEN fVerfuegbarNichtDominant
				WHEN fVerfuegbarNichtDominant = 1000000000 THEN fVerfuegbarDominant
				ELSE fVerfuegbarDominant
				END 
			 AS DECIMAL(28,14))
			AS fVerfuegbar,
			CAST(CASE 
				WHEN fVerfuegbarGesperrtDominant = 1000000000 AND fVerfuegbarGesperrtNichtDominant = 1000000000 THEN 0
				WHEN fVerfuegbarGesperrtDominant = 1000000000 THEN fVerfuegbarGesperrtNichtDominant
				WHEN fVerfuegbarGesperrtNichtDominant = 1000000000 THEN fVerfuegbarGesperrtDominant
				ELSE fVerfuegbarGesperrtDominant
				END 
			 AS DECIMAL(28,14))
			AS fVerfuegbarGesperrt,
			ISNULL(Reserviert.fReserviert, 0.0) AS fInAuftraegen,
			CAST(CASE 
				WHEN fZulaufDominant = 1000000000 AND fZulaufNichtDominant = 1000000000 THEN 0
				WHEN fZulaufDominant = 1000000000 THEN fZulaufNichtDominant
				WHEN fZulaufNichtDominant = 1000000000 THEN fZulaufDominant
				ELSE fZulaufDominant
				END
				AS DECIMAL(28,14))
			AS fZulauf,
			CASE WHEN tArtikel.cLagerAktiv = 'Y' THEN 1 ELSE 0 END AS nLagerAktiv,
			1 AS nArtikeltyp,
			CASE WHEN tArtikel.cTeilbar = 'Y' THEN 1 ELSE 0 END AS nTeilbar,
			CASE WHEN tArtikel.cLagerKleinerNull = 'Y' THEN 1 ELSE 0 END AS nLagerKleinerNull
		FROM dbo.tArtikel
		LEFT JOIN (
			SELECT vAuftragPosition.kArtikel, 
					SUM(vAuftragPositionEckdaten.fAnzahlOffen) AS fReserviert
				FROM Verkauf.vAuftragPositionEckdaten
				JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = vAuftragPositionEckdaten.kAuftragPosition
				GROUP BY vAuftragPosition.kArtikel
		) AS Reserviert ON Reserviert.kArtikel = tArtikel.kArtikel
		JOIN 
		(
			SELECT	
				dbo.tStueckliste.kStueckliste,
				MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN tArtikel.cLagerKleinerNull = 'Y' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN NormaleArtikel.fBestand / tStueckliste.fAnzahl
						ELSE FLOOR(NormaleArtikel.fBestand / dbo.tStueckliste.fAnzahl)
					END) AS fLagerbestandDominant,
				MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN NormaleArtikel.fBestand / tStueckliste.fAnzahl
						ELSE FLOOR(NormaleArtikel.fBestand / tStueckliste.fAnzahl)
					END) AS fLagerbestandNichtDominant,
					MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN tArtikel.cLagerKleinerNull = 'Y' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN NormaleArtikel.fBestandEigen / tStueckliste.fAnzahl
						ELSE FLOOR(NormaleArtikel.fBestandEigen / tStueckliste.fAnzahl)
					END) AS fLagerbestandEigenDominant,
				MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN NormaleArtikel.fBestandEigen / tStueckliste.fAnzahl
						ELSE FLOOR(NormaleArtikel.fBestandEigen / tStueckliste.fAnzahl)
					END) AS fLagerbestandEigenNichtDominant,
				MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN tArtikel.cLagerKleinerNull = 'Y' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN (NormaleArtikel.fVerfuegbar - tArtikel.nPuffer) / tStueckliste.fAnzahl
						ELSE FLOOR((NormaleArtikel.fVerfuegbar - tArtikel.nPuffer) / tStueckliste.fAnzahl)
					END) AS fVerfuegbarDominant,
				MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN (NormaleArtikel.fVerfuegbar - tArtikel.nPuffer) / tStueckliste.fAnzahl
						ELSE FLOOR((NormaleArtikel.fVerfuegbar - tArtikel.nPuffer) / tStueckliste.fAnzahl)
					END) AS fVerfuegbarNichtDominant,
				MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN tArtikel.cLagerKleinerNull = 'Y' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN NormaleArtikel.fVerfuegbarGesperrt / tStueckliste.fAnzahl
						ELSE FLOOR(NormaleArtikel.fVerfuegbarGesperrt / tStueckliste.fAnzahl)
					END) AS fVerfuegbarGesperrtDominant,
				MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN NormaleArtikel.fVerfuegbarGesperrt / tStueckliste.fAnzahl
						ELSE CEILING(NormaleArtikel.fVerfuegbarGesperrt / tStueckliste.fAnzahl)
					END) AS fVerfuegbarGesperrtNichtDominant,
				MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN tArtikel.cLagerKleinerNull = 'Y' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN NormaleArtikel.fZulauf / tStueckliste.fAnzahl
						ELSE FLOOR(NormaleArtikel.fZulauf / tStueckliste.fAnzahl)
					END) AS fZulaufDominant,
				MIN(CASE 
						WHEN tArtikel.cLagerAktiv = 'N' THEN 1000000000
						WHEN VaterArtikel.cTeilbar = 'Y' THEN NormaleArtikel.fZulauf / tStueckliste.fAnzahl
						ELSE FLOOR(NormaleArtikel.fZulauf / tStueckliste.fAnzahl)
					END) AS fZulaufNichtDominant		
			FROM dbo.tStueckliste
			JOIN dbo.tArtikel AS VaterArtikel ON VaterArtikel.kStueckliste = dbo.tStueckliste.kStueckliste
			JOIN dbo.tArtikel ON dbo.tArtikel.kArtikel = dbo.tStueckliste.kArtikel
			JOIN MaintenanceIntern.vLagerbestandNormaleArtikel AS NormaleArtikel ON NormaleArtikel.kArtikel = tArtikel.kArtikel
			GROUP BY tStueckliste.kStueckliste, VaterArtikel.cTeilbar
		) AS Stuecklisten ON Stuecklisten.kStueckliste = tArtikel.kStueckliste
GO
