USE [eazybusiness]
GO
/****** Object:  View [MaintenanceIntern].[vLagerbestand]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [MaintenanceIntern].[vLagerbestand]
AS
SELECT * FROM MaintenanceIntern.vLagerbestandNormaleArtikel
UNION
SELECT * FROM MaintenanceIntern.vLagerbestandStuecklisten
UNION
SELECT * FROM MaintenanceIntern.vLagerbestandVariationen
UNION 
SELECT * FROM MaintenanceIntern.vLagerbestandVarkombination
GO
