USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vLagerbestandProLager]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vLagerbestandProLager]
AS
SELECT tArtikel.cArtNr, 
		CASE WHEN tlagerbestandProLagerLagerartikel.kArtikel IS NULL
			THEN 'Eintrag in tlagerbestandProLagerLagerartikel in Lager ' + tWarenlager.cName + ' fehlt'
			ELSE NULL
		END AS [Datensätze fehlen],
		CASE WHEN ISNULL(Bestand.Bestand, 0.0) <> tlagerbestandProLagerLagerartikel.fBestand
			THEN 'Bestand in Lager ' + tWarenlager.cName + ' fehlt'
			ELSE NULL
		END AS [Bestände],
		'EXEC Maintenance.spBestandAktualisieren @kArtikel = ' + CAST(tArtikel.kArtikel AS NVARCHAR(100)) + ';' AS [Code zum Korigieren],
		tWarenlager.kWarenLager,
		tArtikel.kArtikel		
	FROM dbo.tArtikel
	CROSS JOIN dbo.tWarenlager
	LEFT JOIN dbo.tlagerbestandProLagerLagerartikel ON tlagerbestandProLagerLagerartikel.kArtikel = tArtikel.kArtikel
														AND tlagerbestandProLagerLagerartikel.kWarenlager = tWarenlager.kWarenLager
	LEFT JOIN(SELECT tWarenLagerEingang.kArtikel, tWarenlagerplatz.kWarenLager, SUM(tWarenlagerEingang.fAnzahlAktuell) AS Bestand 
			FROM dbo.tWarenLagerEingang
			JOIN dbo.tWarenLagerPlatz ON tWarenLagerPlatz.kWarenLagerPlatz = tWarenLagerEingang.kWarenLagerPlatz
			GROUP BY tWarenLagerEingang.kArtikel, tWarenLagerPlatz.kWarenLager)
		AS Bestand ON Bestand.kArtikel = tArtikel.kArtikel AND Bestand.kWarenLager = tlagerbestandProLagerLagerartikel.kWarenlager
	WHERE tArtikel.nIstVater = 0 
		AND tArtikel.cLagerVariation <> 'Y' 
		AND tArtikel.kStueckliste = 0
		AND tArtikel.cLagerAktiv = 'Y'
		AND ISNULL(Bestand.Bestand, 0.0) <> ISNULL(tlagerbestandProLagerLagerartikel.fBestand, -100000000.0);
GO
