USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vExterneReservierungKontrolle]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vExterneReservierungKontrolle]
AS
/*************************************************************************************************************
Beschreibung:	Diese View baut die Daten aus Tabelle dbo.tExterneReservierung für Kontrollen nach
Hinweise:		Tabelle dbo.tExterneReservierung wird von folgenden Objekten geändert:
				- Amazon.spAmazonPosAnlegen / Amazon.spAmazonPosAendern / Amazon.spAmazonPosLoeschen
				- Ebay.spEbayTransactionAnlegen / Ebay.spEbayTransactionAendern / Ebay.spEbayTransactionLoeschen
				- Trigger: dbo.tgr_ebay_item_INSUPDEL / dbo.tgr_pf_amazon_bestellung_UPDATE / Verkauf.tgr_Verkauf_tAuftragPosition_INSERT
--------------------------------------------------------------------------------------------------------------
-- Beispielaufruf:
SELECT * FROM Maintenance.vExterneReservierungKontrolle
*************************************************************************************************************/
--------------------------------------------------------------------------------------------------------------
-- Ebay Transaction (normale Artikel)
SELECT		EbTrans.kTransaction AS kKey,
			Art.kArtikel AS kArtikel,
			EbTrans.QuantityPurchased
				* CASE
					WHEN (SELECT ISNULL(TRY_CONVERT(BIT, cValue), 0) FROM dbo.tOptions WHERE cKey = 'eBay.ArtikelMengeMultiplizieren') = 1
						THEN (	SELECT	ISNULL(EbI.LotSize, 1)
								FROM	dbo.ebay_item AS EbI
								JOIN	dbo.ebay_transaction AS EbT ON EbT.ItemId = EbI.ItemId
								WHERE	EbT.kTransaction = EbTrans.kTransaction)
					ELSE 1
				END AS fAnzahl,
			1 AS nTyp,
			'eBay Transaction' AS cTyp
FROM		dbo.ebay_transaction AS EbTrans
JOIN		dbo.tArtikel AS Art ON Art.cArtNr = EbTrans.SKU
WHERE		EbTrans.Status NOT IN (6, 8) -- 6 = abgeschlossen | 8 = storniert (siehe Ebay.spEbayTransactionAendern)

UNION ALL

--------------------------------------------------------------------------------------------------------------
-- Ebay Transaction (Stücklisten-Artikel)
SELECT		EbTrans.kTransaction AS kKey,
			SL.kArtikel AS kArtikel,
			SL.fAnzahl
				* EbTrans.QuantityPurchased
				* CASE
					WHEN (SELECT ISNULL(TRY_CONVERT(BIT, cValue), 0) FROM dbo.tOptions WHERE cKey = 'eBay.ArtikelMengeMultiplizieren') = 1
						THEN (	SELECT	ISNULL(EbI.LotSize, 1)
								FROM	dbo.ebay_item AS EbI
								JOIN	dbo.ebay_transaction AS EbT ON EbT.ItemId = EbI.ItemId
								WHERE	EbT.kTransaction = EbTrans.kTransaction)
					ELSE 1
				END AS fAnzahl,
			1 AS nTyp,
			'eBay Transaction (Stücklisten)' AS cTyp
FROM		dbo.ebay_transaction AS EbTrans
JOIN		dbo.tArtikel AS Art ON Art.cArtNr = EbTrans.SKU -- (siehe Ebay.spEbayTransactionAnlegen)
JOIN		dbo.tStueckliste AS SL ON SL.kStueckliste = Art.kStueckliste
WHERE		EbTrans.Status NOT IN (6, 8) -- 6 = abgeschlossen | 8 = storniert (siehe Ebay.spEbayTransactionAendern)

UNION ALL

--------------------------------------------------------------------------------------------------------------
-- Amazon (normale Artikel)
SELECT		AmBP.kAmazonBestellungPos AS kKey,
			GetkArtikel.kArtikel,
			AmBP.nQuantityPurchased AS fAnzahl,
			3 AS nTyp,
			'Amazon' AS cTyp
FROM		dbo.pf_amazon_bestellungpos AS AmBP
JOIN		dbo.pf_amazon_bestellung AS AmB ON AmB.kAmazonBestellung = AmBP.kAmazonBestellung
CROSS APPLY (
				SELECT	ISNULL((
									SELECT	AmAM.kArtikel
									FROM	dbo.pf_amazon_angebot_mapping AS AmAM
									WHERE	AmAM.kUser = AmB.kUser
											AND AmAM.cSellerSKU = AmBP.cArtNr
								),
								-- Fallback, wenn kein Mapping vorhanden
								(
									SELECT	Art.kArtikel
									FROM	dbo.tArtikel AS Art
									WHERE	Art.cArtNr = AmBP.cArtNr
								)
							) AS kArtikel
			) AS GetkArtikel

WHERE		NOT EXISTS (SELECT 1 FROM Verkauf.tAuftragPosition AS VAP WHERE VAP.kAmazonBestellungPos = AmBP.kAmazonBestellungPos) -- Bereits als WAWI-Bestellung existierende AmazonPos ausschliessen (siehe Verkauf.tgr_Verkauf_tAuftragPosition_INSERT)
			AND NOT GetkArtikel.kArtikel IS NULL -- kArtikel muss gültig sein
			AND AmBP.nQuantityPurchased > 0 -- (siehe Amazon.spAmazonPosAendern)
			AND AmB.nDeleted = 0 -- keine gelöschten Bestellungen (siehe dbo.tgr_pf_amazon_bestellung_UPDATE)
			AND Amb.nStatus <> 5 -- 5 = Storno (siehe dbo.tgr_pf_amazon_bestellung_UPDATE)
			AND AmB.cOrderStatus NOT IN ('Canceled', 'Shipped') -- Amazon-Bestellungen, die als "erledigt" markiert sind


UNION ALL

--------------------------------------------------------------------------------------------------------------
-- Amazon (Stücklisten-Artikel)
SELECT		AmBP.kAmazonBestellungPos AS kKey,
			SL.kArtikel AS kArtikel,
			SL.fAnzahl * AmBP.nQuantityPurchased AS fAnzahl,
			3 AS nTyp,
			'Amazon (Stücklistenartikel)' AS cTyp
FROM		dbo.pf_amazon_bestellungpos AS AmBP
JOIN		dbo.pf_amazon_bestellung AS AmB ON AmB.kAmazonBestellung = AmBP.kAmazonBestellung
CROSS APPLY (
				SELECT	ISNULL((
									SELECT	AmAM.kArtikel
									FROM	dbo.pf_amazon_angebot_mapping AS AmAM
									WHERE	AmAM.kUser = AmB.kUser
											AND AmAM.cSellerSKU = AmBP.cArtNr
								),
								-- Fallback, wenn kein Mapping vorhanden
								(
									SELECT	Art.kArtikel
									FROM	dbo.tArtikel AS Art
									WHERE	Art.cArtNr = AmBP.cArtNr
								)
							) AS kArtikel
			) AS GetkArtikel
JOIN		dbo.tArtikel AS Art ON Art.kArtikel = GetkArtikel.kArtikel
JOIN		dbo.tStueckliste AS SL ON SL.kStueckliste = Art.kStueckliste

WHERE		NOT EXISTS (SELECT 1 FROM Verkauf.tAuftragPosition AS VAP WHERE VAP.kAmazonBestellungPos = AmBP.kAmazonBestellungPos) -- Bereits als WAWI-Bestellung existierende AmazonPos ausschliessen (siehe Verkauf.tgr_Verkauf_tAuftragPosition_INSERT)
			AND NOT GetkArtikel.kArtikel IS NULL -- kArtikel muss gültig sein
			AND AmBP.nQuantityPurchased > 0 -- (siehe Amazon.spAmazonPosAendern)
			AND AmB.nDeleted = 0 -- keine gelöschten Bestellungen (siehe dbo.tgr_pf_amazon_bestellung_UPDATE)
			AND Amb.nStatus <> 5 -- 5 = Storno (siehe dbo.tgr_pf_amazon_bestellung_UPDATE)
			AND AmB.cOrderStatus NOT IN ('Canceled', 'Shipped') -- Amazon-Bestellungen, die als "erledigt" markiert sind

UNION ALL

--------------------------------------------------------------------------------------------------------------
-- Ebay Item (normale Artikel)
SELECT		EbItem.kItem AS kKey,
			EbItem.kArtikel,
			NN.fAnzahl,
			2 AS nTyp,
			'eBay Item' AS cTyp
FROM		dbo.ebay_item AS EbItem
CROSS APPLY	(
				SELECT	EbItem.Quantity
							* CASE WHEN (	SELECT	ISNULL(TRY_CONVERT(BIT, cValue), 0)
											FROM	dbo.tOptions AS O
											WHERE	cKey = 'eBay.ArtikelMengeMultiplizieren'
										) = 1 THEN EbItem.LotSize ELSE 1 END
							AS fAnzahl
			) AS NN -- Nice Names
WHERE		EbItem.Status IN (3, 7) -- (Keine laufende eBay Bestellung) 3 = laufend | 7 = laufend + fehlerhaft
			AND EbItem.bBestandReserviert = 1 -- (siehe dbo.tgr_ebay_item_INSUPDEL)
			AND EbItem.Type = 'L' -- (siehe dbo.tgr_ebay_item_INSUPDEL) L = Angebot (Listing) | V = Vorlage | G = globale Vorlage
			AND NN.fAnzahl > 0

UNION ALL

--------------------------------------------------------------------------------------------------------------
-- Ebay Item (Stücklisten-Artikel)
SELECT		EbItem.kItem AS kKey,
			EbItem.kArtikel,
			EbItem.Quantity * SL.fAnzahl AS fAnzahl,
			2 AS nTyp,
			'eBay Item (Stücklistenartikel)' AS cTyp
FROM		dbo.ebay_item AS EbItem
JOIN		dbo.tArtikel AS Art ON Art.kArtikel = EbItem.kArtikel
JOIN		dbo.tStueckliste AS SL ON SL.kStueckliste = Art.kStueckliste
WHERE		EbItem.Status IN (3, 7) -- (Keine laufende eBay Bestellung) 3 = laufend | 7 = laufend + fehlerhaft
			AND EbItem.bBestandReserviert = 1 -- (siehe dbo.tgr_ebay_item_INSUPDEL)
			AND EbItem.Type = 'L' -- (siehe dbo.tgr_ebay_item_INSUPDEL) L = Angebot (Listing) | V = Vorlage | G = globale Vorlage
			AND EbItem.Quantity * SL.fAnzahl > 0
;
GO
