USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vHealthCheck]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vHealthCheck]
AS
/*************************************************************************************************************
Beschreibung:	Diese View zeigt alle Daten des aktuellen HealthChecks an, Details siehe:
				- [HüHo][Support]Datenbank-Prüfung Fehlercodes: https://confluence.jtl-software.de/pages/viewpage.action?pageId=93816975
*************************************************************************************************************/

SELECT		HC.kHC,
			HC.cHerkunft + CASE WHEN HC.nCheckID IS NULL THEN '' ELSE '-' + CAST(HC.nCheckID AS NVARCHAR(20)) END AS cHerkunftText,
			HC.cSchweregrad,
			HC.cFehlercode,
			HC.cMeldung,
			HC.cObjekt,
			HC.cBezugsObjekt,
			HC.cObjektTyp,
			HC.cObjektDetailIst,
			HC.cObjektDetailSoll,
			HC.cObjektReparatur,
			HC.cLink,
			HC.dErstelltUtc

FROM		Maintenance.tHealthCheck AS HC;
GO
