USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vBestand]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vBestand]
AS
SELECT	tArtikel.cArtNr AS Artikelnummer,
		CASE WHEN tlagerbestand.fLagerbestandEigen <> vLagerbestand.fBestandEigen
			THEN 'Eigener Lagerbestand abweichend'
			ELSE NULL
		END AS [Eigener Lagerbestand],
		CASE WHEN tlagerbestand.fLagerbestand <> vLagerbestand.fBestand
			THEN 'Lagerbestand abweichend'
			ELSE NULL
		END AS [Gesamter Lagerbestand],
		CASE WHEN tlagerbestand.fVerfuegbar <> vLagerbestand.fVerfuegbar
			THEN 'Verfügbarer Bestand abweichend'
			ELSE NULL
		END AS [Verfügbarer Bestand],
		CASE WHEN tlagerbestand.fVerfuegbarGesperrt <> vLagerbestand.fVerfuegbarGesperrt
			THEN 'für Verfügbarkeit gesperrter Bestand abweichend'
			ELSE NULL
		END AS [Für Verfügbarkeit gesperrt],
		CASE WHEN tlagerbestand.fInAuftraegen <> vLagerbestand.fInAuftraegen
			THEN 'Anzahl in Aufträgen abweichend'
			ELSE NULL
		END AS [Anzahl in Aufträgen],
		CASE WHEN tlagerbestand.fZulauf <> vLagerbestand.fZulauf
			THEN 'Zulauf abweichend'
			ELSE NULL
		END AS [Zulauf],
		'EXEC Maintenance.spBestandAktualisieren @kArtikel = ' + CAST(tArtikel.kArtikel AS NVARCHAR(100)) + ';' AS [Code zum Korigieren],
		tArtikel.kArtikel
	FROM dbo.tArtikel
	LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tArtikel.kArtikel
	LEFT JOIN MaintenanceIntern.vLagerbestand ON vLagerbestand.kArtikel = tlagerbestand.kArtikel
	WHERE tlagerbestand.fLagerbestandEigen <> vLagerbestand.fBestandEigen
		OR(tlagerbestand.fLagerbestand <> vLagerbestand.fBestand)
		OR(tlagerbestand.fVerfuegbar <> vLagerbestand.fVerfuegbar)
		OR(tlagerbestand.fVerfuegbarGesperrt <> vLagerbestand.fVerfuegbarGesperrt)
		OR(tlagerbestand.fInAuftraegen <> vLagerbestand.fInAuftraegen)
		OR(tlagerbestand.fZulauf <> vLagerbestand.fZulauf);
GO
