USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vHealthCheck_Schema]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vHealthCheck_Schema]
AS
/*************************************************************************************************************
Beschreibung:	Diese View enthält die Liste aller User-Objekte innerhalb der easybusiness DB (ohne System-Objekte)
*************************************************************************************************************/

-- CTE mit allen SQL-Server-Types sowie einigen zusätzlichen Typen, die nicht in sys.objects sind,
-- die wir aber unten für den JOIN benötigen. Diese Types sind in Klammern angegeben.
WITH TypesCTE AS
(

    SELECT 'U' AS cSystemType, 'Table' AS cTypeDesc, 'T' AS cJtlType
	UNION ALL SELECT '(COL)', 'Table Column', 'COL' -- kein sys.objects-type
	UNION ALL SELECT '(TTCOL)', 'Table Type Column', 'TYPE-COL' -- kein sys.objects-type
    UNION ALL SELECT 'IT', 'Internal Table', 'XTAB'
    UNION ALL SELECT 'S', 'System Table', 'XTAB'
    UNION ALL SELECT 'TT', 'Table Type', 'TYPE'
    UNION ALL SELECT 'V', 'View', 'V'

    UNION ALL SELECT 'PK', 'Primary Key', 'PK'
	UNION ALL SELECT '(IX)', 'Nonclustered Index', 'IX' -- kein sys.objects-type
	UNION ALL SELECT '(UX)', 'Unique Nonclustered Index', 'UX' -- kein sys.objects-type
	UNION ALL SELECT '(CX)', 'Clustered Index', 'CX' -- kein sys.objects-type
	UNION ALL SELECT '(UCX)', 'Unique Clustered Index (no PK)', 'UCX' -- kein sys.objects-type

	UNION ALL SELECT 'UQ', 'Unique Constraint', 'UQ'
    UNION ALL SELECT 'C', 'Check Constraint', 'CK'
    UNION ALL SELECT 'D', 'Default Constraint', 'DF'
    UNION ALL SELECT 'F', 'Foreign Key Constraint', 'FK'

    UNION ALL SELECT 'P', 'Stored Procedure', 'SP'
    UNION ALL SELECT 'X', 'Extended Stored Procedure', 'XSP'
    UNION ALL SELECT 'TR', 'Trigger', 'TGR'
    UNION ALL SELECT 'TA', 'Assembly (CLR) Trigger', 'XTGR'
    UNION ALL SELECT 'FN', 'Scalar Function', 'FNC'
    UNION ALL SELECT 'TF', 'Table Function', 'FNC'
    UNION ALL SELECT 'IF', 'Inlined Table-Function', 'FNC'
	UNION ALL SELECT 'AF', 'Aggregate Function (CLR)', 'XFNC'
    UNION ALL SELECT 'FS', 'Assembly (CLR) Scalar-Function', 'XFNC'
    UNION ALL SELECT 'FT', 'Assembly (CLR) Table-Valued Function', 'XFNC'

    -- Sonstiges
	UNION ALL SELECT 'RF', 'Replication Filter Stored Procedure', 'RF'
    UNION ALL SELECT 'SN', 'Synonym', 'SN'
    UNION ALL SELECT 'SQ', 'Service queue', 'SQ'
    UNION ALL SELECT 'L', 'Log', 'LOG'
),

ObjectsCTE AS
(
	-------------------------------------------------------------------------------------------------------------------------
	-- Alle Objekte aus sys.objects
	-------------------------------------------------------------------------------------------------------------------------
	SELECT
				NN.SchemaName AS cSchemaName,
				NN.ParentObjectName AS cParentObjectName,
				NN.ObjectName AS cObjectName,
				SyObj.type AS cSystemType,

				-- Typen siehe TypesCTE
				CASE
					WHEN SyObj.type IN ('V', 'P', 'FN', 'TF', 'IF', 'AF') THEN SyMod.definition COLLATE DATABASE_DEFAULT
					WHEN SyObj.type = 'U' THEN '# Entwickler dazuziehen / ggf. Table-Create Skript von DevDB erstellen (Script => Create => New Window) #' -- Tabellen können nicht einfach per Script angelegt werden - dabei sind zu viele zusätzliche Punkte (Constraints / Inhalt etc.) zu beachten!
					ELSE NULL
				END AS cCreateScript,

				CASE
					WHEN SyObj.type = 'V' THEN N'DROP VIEW ' + NN.ObjectFullname + N';'
					WHEN SyObj.type = 'P' THEN N'DROP PROCEDURE ' + NN.ObjectFullname + N';'
					WHEN SyObj.type IN ('FN', 'TF', 'AF', 'IF') THEN N'DROP FUNCTION ' + NN.ObjectFullname + N';'
					WHEN SyObj.type = 'U' THEN N'DROP TABLE ' + NN.ObjectFullname + N';'
					ELSE NULL
				END AS cDropScript,

				N'OBJECT_ID(''' + NN.ObjectFullname + N''', ''' + RTRIM(SyObj.type) + ''') IS NOT NULL' AS cExistScript
			
	FROM		sys.objects AS SyObj
	LEFT JOIN	sys.sql_modules AS SyMod ON SyMod.object_id = SyObj.object_id
	CROSS APPLY	(SELECT	QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) AS SchemaName,
						QUOTENAME(SyObj.NAME COLLATE DATABASE_DEFAULT) AS ObjectName,
						QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) + N'.' + QUOTENAME(SyObj.NAME COLLATE DATABASE_DEFAULT) AS ObjectFullname,
						QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) + N'.' + QUOTENAME(OBJECT_NAME(SyObj.parent_object_id)) AS ParentObjectName
				) AS NN -- Nice names für einzelne Werte, wenn diese mehrfach verwendet werden
	WHERE		SCHEMA_NAME(SyObj.schema_id) NOT IN ('DEV', 'SYS') -- Unter DEV sind auf der DevDB Tabellen und SPs, die ignoriert werden müssen
				AND SyObj.is_ms_shipped = 0 -- keine MS-Objekte
				AND SyObj.type NOT IN ('TT', 'C', 'PK', 'UQ', 'F', 'D', 'TR') -- diese Types werden nicht durch diesen, sondern einen separaten UNION-Zweig behandelt
				AND SyObj.name NOT LIKE 'fn_diag%' -- interne Funktionen die das SSMS anlegt wenn man bestimmte Knöpfe drückt

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------
	-- Trigger
	-------------------------------------------------------------------------------------------------------------------------
	SELECT
				NN.SchemaName AS cSchemaName,
				NN.ParentObjectName AS cParentObjectName,
				NN.ObjectName AS cObjectName,
				SyObj.type AS cSystemType,

				SyMod.DEFINITION COLLATE DATABASE_DEFAULT
					+ CASE
						WHEN SyTgr.is_disabled = 1 THEN CHAR(10) + N'GO' + CHAR(10) + N'ALTER TABLE ' + NN.ParentObjectName + N' DISABLE TRIGGER ' + NN.ObjectName + N';' + CHAR(10) + N'GO'
						ELSE N''
					END AS cCreateScript,

				N'DROP TRIGGER ' + NN.ObjectFullname + N';' AS cDropScript,
				
				N'OBJECT_ID(''[' + OBJECT_SCHEMA_NAME(SyObj.object_id) + '].' + NN.ObjectName + N''', ''TR'') IS NOT NULL' AS cExistScript
			
	FROM		sys.triggers AS SyTgr
	JOIN		sys.objects AS SyObj ON SyObj.object_id = SyTgr.object_id
	JOIN		sys.sql_modules AS SyMod ON SyMod.object_id = SyObj.object_id
	CROSS APPLY	(SELECT	QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) AS SchemaName,
						QUOTENAME(SyTgr.NAME COLLATE DATABASE_DEFAULT) AS ObjectName,
						QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) + N'.' + QUOTENAME(SyObj.NAME COLLATE DATABASE_DEFAULT) AS ObjectFullname,
						QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) + N'.' + QUOTENAME(OBJECT_NAME(SyObj.parent_object_id)) AS ParentObjectName
				) AS NN -- Nice names für einzelne Werte, wenn diese mehrfach verwendet werden
	WHERE		SCHEMA_NAME(SyObj.schema_id) NOT IN ('DEV', 'SYS')
				AND SyObj.is_ms_shipped = 0

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------
	-- Check Constraints
	-------------------------------------------------------------------------------------------------------------------------
	SELECT
				QUOTENAME(SCHEMA_NAME(SyCK.schema_id)) AS cSchemaName,
				NN.TableName AS cParentObjectName,
				NN.ObjectName AS cObjectName,
				N'C' AS cSystemType,

				N'ALTER TABLE ' + NN.TableName
					+ N' ' + CASE WHEN SyCK.is_disabled = 1 THEN N'WITH NOCHECK' ELSE N'WITH CHECK' END
					+ N' ADD CONSTRAINT ' + NN.ObjectName + N' CHECK ' + SyCK.DEFINITION COLLATE DATABASE_DEFAULT
					+ N';' AS cCreateScript,

				N'ALTER TABLE ' + NN.TableName
					+ N' DROP CONSTRAINT ' + NN.ObjectName
					+ N';' AS cDropScript,
				
				N'OBJECT_ID(''[' + OBJECT_SCHEMA_NAME(SyTbl.object_id) + '].' + NN.ObjectName + N''', ''C'') IS NOT NULL' AS cExistScript

	FROM		sys.check_constraints AS SyCK
	JOIN		sys.tables AS SyTbl ON SyTbl.object_id = SyCK.parent_object_id
	LEFT JOIN	sys.columns AS SyCol ON SyCol.object_id = SyTbl.object_id AND SyCol.object_id = SyCK.parent_object_id AND SyCol.column_id = SyCK.parent_column_id
	CROSS APPLY	(SELECT	QUOTENAME(SCHEMA_NAME(SyCK.schema_id)) + N'.' + QUOTENAME(SyTbl.NAME COLLATE DATABASE_DEFAULT) AS TableName,
						QUOTENAME(SyCK.NAME COLLATE DATABASE_DEFAULT) AS ObjectName
				) AS NN -- Nice names für einzelne Werte, wenn diese mehrfach verwendet werden
	WHERE		SCHEMA_NAME(SyTbl.schema_id) NOT IN ('DEV', 'SYS')
				AND SyCK.is_ms_shipped = 0

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------
	-- Unique / Primary Key Constraints
	-------------------------------------------------------------------------------------------------------------------------
	SELECT
				QUOTENAME(SCHEMA_NAME(SyUQ.schema_id)) AS cSchemaName,
				NN.TableName AS cParentObjectName,
				NN.ObjectName AS cObjectName,
				SyUQ.type AS cSystemType,

				N'ALTER TABLE ' + NN.TableName
					+ CASE WHEN SyUQ.type = 'UQ' THEN N' ' + CASE WHEN SyIdx.is_disabled = 1 THEN N'WITH NOCHECK' ELSE N'WITH CHECK' END ELSE '' END
					+ N' ADD CONSTRAINT ' + NN.ObjectName
					+ CASE
						WHEN SyUQ.type = 'UQ' THEN N' UNIQUE ' + SyIdx.type_desc
						WHEN SyUQ.type = 'PK' THEN N' PRIMARY KEY ' + SyIdx.type_desc
						ELSE NULL
					END
					+ ' (' + IndexColumns.Content + N')'
					+ N';' AS cCreateScript,

				N'ALTER TABLE ' + NN.TableName
					+ N' DROP CONSTRAINT ' + NN.ObjectName
					+ N';' AS cDropScript,

				N'OBJECT_ID(''[' + OBJECT_SCHEMA_NAME(SyTbl.object_id) + '].' + NN.ObjectName + N''', ''' + SyUQ.type + ''') IS NOT NULL' AS cExistScript

	FROM		sys.key_constraints AS SyUQ
	JOIN		sys.indexes AS SyIdx ON SyUQ.unique_index_id = SyIdx.index_id AND SyIdx.object_id = SyUQ.parent_object_id -- Beim Erstellen einer Unique Constraints erzeugt SQL-Server immer einen Unique Index mit demselben Namen
	JOIN		sys.tables AS SyTbl ON SyTbl.object_id = SyUQ.parent_object_id
	CROSS APPLY	(SELECT	QUOTENAME(SCHEMA_NAME(SyTbl.schema_id)) + N'.' + QUOTENAME(SyTbl.NAME COLLATE DATABASE_DEFAULT) AS TableName,
						QUOTENAME(SyUQ.NAME COLLATE DATABASE_DEFAULT) AS ObjectName
				) AS NN -- Nice names für einzelne Werte, wenn diese mehrfach verwendet werden
	CROSS APPLY	(SELECT	SUBSTRING((	SELECT		N', ' + QUOTENAME(SyCol.NAME COLLATE DATABASE_DEFAULT) + CASE WHEN SyIXCols.is_descending_key = 1 THEN ' DESC' ELSE ' ASC' END
									FROM		sys.index_columns AS SyIXCols
									JOIN		sys.columns AS SyCol ON SyCol.object_id = SyIXCols.object_id AND SyCol.column_id = SyIXCols.column_id
									WHERE		SyIXCols.object_id = SyIdx.object_id
												AND SyIXCols.index_id = SyIdx.index_id
												AND SyIXCols.is_included_column = 0
									ORDER BY	SyIXCols.key_ordinal ASC
									FOR XML PATH('')
						), 3, 2147483645) AS Content
				) AS IndexColumns
	CROSS APPLY (SELECT	SUBSTRING((	SELECT		N'_' + SyCol.NAME COLLATE DATABASE_DEFAULT				
									FROM		sys.index_columns AS SyIXCols
									JOIN		sys.columns AS SyCol ON SyCol.object_id = SyIXCols.object_id AND SyCol.column_id = SyIXCols.column_id
									WHERE		SyIXCols.object_id = SyIdx.object_id
												AND SyIXCols.index_id = SyIdx.index_id
												AND SyIXCols.is_included_column = 0
									ORDER BY	SyIXCols.key_ordinal ASC
									FOR XML PATH('')
						), 2, 2147483645) AS Content
				) AS NameColumns

	WHERE		SCHEMA_NAME(SyTbl.schema_id) NOT IN ('DEV', 'SYS')

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------
	-- Indexes
	-------------------------------------------------------------------------------------------------------------------------
	SELECT
				QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) AS cSchemaName,
				NN.ParentObjectName AS cParentObjectName,
				NN.ObjectName AS cObjectName,
				CASE 
					WHEN SyIdx.is_primary_key = 1 THEN 'PK'
					WHEN SyIdx.is_unique = 1 THEN	CASE
														WHEN SyIdx.type = 1 THEN '(UCX)'
														WHEN SyIdx.type = 2 THEN '(UX)'
														ELSE '(?)'
													END
					ELSE '(IX)'
				END AS cSystemType,

				'CREATE '
					+ CASE WHEN SyIdx.is_unique = 1 THEN 'UNIQUE ' ELSE '' END + SyIdx.type_desc + ' INDEX '
					+ NN.ObjectName
					+ N' ON ' + NN.ParentObjectName
					+ N' (' + IndexColumns.Content + N')'
					+ CASE WHEN ISNULL(IncludedColumns.Content, '') <> '' THEN N' INCLUDE (' + IncludedColumns.content + N')' ELSE N'' END
					+ CASE WHEN SyIdx.has_filter = 1 THEN N' WHERE ' + SyIdx.filter_definition COLLATE DATABASE_DEFAULT ELSE N'' END
					+ CASE WHEN SyIdx.is_padded = 1 THEN N' WITH (PAD_INDEX = ON)' + CASE WHEN SyIdx.fill_factor <> 0 THEN N' FILLFACTOR = ' + CAST(SyIdx.fill_factor AS NVARCHAR(10)) ELSE N'' END ELSE N''
					END
					+ N';'
					+ CASE
						WHEN SyIdx.is_disabled = 1 THEN CHAR(10) + N'GO' + CHAR(10) + N'ALTER INDEX ' + NN.ObjectName + N' ON ' + NN.ParentObjectName + N' DISABLE;' + CHAR(10) + N'GO'
						ELSE N''
					END AS cCreateScript,

				N'DROP INDEX ' + NN.ParentObjectName + N'.' + QUOTENAME(SyIdx.name COLLATE DATABASE_DEFAULT) + ';' AS cDropScript,
				
				N'EXISTS(SELECT 1 FROM sys.indexes AS SyI WHERE SyI.name = ''' + SyIdx.name + ''' AND SyI.object_id = OBJECT_ID(''' + NN.ParentObjectName + '''))' AS cExistScript

	FROM		sys.indexes AS SyIdx
	JOIN		sys.objects AS SyObj ON SyObj.object_id = SyIdx.object_id AND SyObj.type IN ('U', 'V', 'TT') -- Indexe auf Usertables / Views und Table-Types
	
	CROSS APPLY	(SELECT	QUOTENAME(SyIdx.name COLLATE DATABASE_DEFAULT) AS ObjectName,
						QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) + N'.' + QUOTENAME(SyObj.name COLLATE DATABASE_DEFAULT) AS ParentObjectName
				) AS NN -- Nice names für einzelne Werte, wenn diese mehrfach verwendet werden

	CROSS APPLY (SELECT	SUBSTRING((
									SELECT		N', ' + QUOTENAME(SyCol.name COLLATE DATABASE_DEFAULT) + CASE WHEN SyIXCols.is_descending_key = 1 THEN N' DESC' ELSE N' ASC' END
									FROM		sys.index_columns AS SyIXCols
									JOIN		sys.columns AS SyCol ON SyCol.column_id = SyIXCols.column_id AND SyCol.object_id = SyIXCols.object_id
									WHERE		SyIXCols.object_id = SyIdx.object_id
												AND SyIXCols.index_id = SyIdx.index_id
												AND SyIXCols.is_included_column = 0
									ORDER BY	SyIXCols.key_ordinal ASC
									FOR XML PATH('')
								), 3, 2147483645) AS Content
				) AS IndexColumns

	CROSS APPLY (SELECT	SUBSTRING((
									SELECT N', ' + QUOTENAME(SyCol.name COLLATE DATABASE_DEFAULT)
									FROM		sys.index_columns AS SyIXCols
									JOIN		sys.columns AS SyCol ON SyCol.column_id = SyIXCols.column_id AND SyCol.object_id = SyIXCols.object_id
									WHERE		SyIXCols.object_id = SyIdx.object_id
												AND SyIXCols.index_id = SyIdx.index_id
												AND SyIXCols.is_included_column = 1
									ORDER BY	SyIXCols.key_ordinal ASC
									FOR XML PATH('')
								), 3, 2147483645) AS Content
				) AS IncludedColumns

	WHERE		SCHEMA_NAME(SyObj.schema_id) NOT IN ('SYS', 'DEV') -- Unter DEV sind auf der DevDB Tabellen und SPs, die ignoriert werden müssen
				AND SyIdx.type <> 0 -- keine HEAPs
				AND SyIdx.is_unique_constraint = 0 -- Keine Indexes auflisten, die durch eine Unique Constraint erzeugt wurden. (da diese durch nicht unabhängig von der entsprechenden UQ geändert werden können) => diese werden unter 'Unique Constraints' erzeugt
				AND SyIdx.is_primary_key = 0 -- Keine PKs auflisten => diese werden unter 'Unique Constraints' erzeugt

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------
	-- Foreign-Key-Constraints
	-------------------------------------------------------------------------------------------------------------------------
	SELECT 
				QUOTENAME(SCHEMA_NAME(SyFK.schema_id)) AS cSchemaName,
				NN.TableName AS cParentObjectName,
				NN.FkName AS cObjectName,
				'F' AS cSystemType,

				N'ALTER TABLE ' + NN.TableName
					+ CASE WHEN SyFK.is_not_trusted = 1 OR SyFK.is_disabled = 1 THEN N' WITH NOCHECK ' ELSE N' WITH CHECK ' END
					+ N' ADD CONSTRAINT ' + NN.FkName
					+ N' FOREIGN KEY (' + QUOTENAME(SyColParent.name COLLATE DATABASE_DEFAULT) + N')'
					+ N' REFERENCES ' + QUOTENAME(SCHEMA_NAME(SyTblChild.schema_id)) + N'.' + QUOTENAME(SyTblChild.name COLLATE DATABASE_DEFAULT)
					+ N' (' + QUOTENAME(SyColChild.name COLLATE DATABASE_DEFAULT) + N')'
					+ CASE WHEN SyFK.delete_referential_action <> 0 THEN N' ON DELETE ' ELSE '' END
					+ CASE SyFK.delete_referential_action
						WHEN 0 THEN N''
						WHEN 1 THEN N'CASCADE'
						WHEN 2 THEN N'SET NULL'
						WHEN 3 THEN N'SET DEFAULT'
						ELSE NULL
					END
					+ CASE WHEN SyFK.update_referential_action <> 0 THEN N' ON UPDATE ' ELSE '' END
					+ CASE SyFK.update_referential_action
						WHEN 0 THEN N''
						WHEN 1 THEN N'CASCADE'
						WHEN 2 THEN N'SET NULL'
						WHEN 3 THEN N'SET DEFAULT'
						ELSE NULL
					END
					+ N';' AS cCreateScript,

				N'ALTER TABLE ' + NN.TableName
					+ N' DROP CONSTRAINT ' + NN.FkName
					+ N';' AS cDropScript,
				
				N'OBJECT_ID(''[' + OBJECT_SCHEMA_NAME(SyFK.parent_object_id) + N'].[' + SyFK.name + N']'', ''F'') IS NOT NULL' AS cExistScript

	FROM		sys.foreign_keys AS SyFK
	JOIN		sys.foreign_key_columns AS SyFKCol ON SyFK.object_id = SyFKCol.constraint_object_id
	CROSS APPLY	(SELECT	QUOTENAME(SyFK.name COLLATE DATABASE_DEFAULT) AS FkName,
						QUOTENAME(SCHEMA_NAME(SyFK.schema_id)) + N'.' + QUOTENAME(OBJECT_NAME(SyFK.parent_object_id)) AS TableName
				) AS NN -- Nice names für einzelne Werte, wenn diese mehrfach verwendet werden
	JOIN		sys.columns AS SyColParent ON SyColParent.object_id = SyFKCol.parent_object_id AND SyColParent.column_id = SyFKCol.parent_column_id
	JOIN		sys.columns AS SyColChild ON SyColChild.object_id = SyFKCol.referenced_object_id AND SyColChild.column_id = SyFKCol.referenced_column_id
	JOIN		sys.tables AS SyTblParent ON SyTblParent.object_id = SyColParent.object_id
	JOIN		sys.tables AS SyTblChild ON SyTblChild.object_id = SyColChild.object_id
	WHERE		SCHEMA_NAME(SyTblParent.schema_id) NOT IN ('DEV', 'SYS')
				AND SCHEMA_NAME(SyTblChild.schema_id) NOT IN ('DEV', 'SYS')

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------
	-- (Tabellen- und Tabellen-TYPE)- Spalten
	-------------------------------------------------------------------------------------------------------------------------
	SELECT		NN.SchemaName AS cSchemaName,
				NN.FullObjectName AS cParentObjectName,
				NN.ObjectName AS cObjectName,
				CASE
					WHEN SyObj.type = 'U' THEN '(COL)'
					WHEN SyObj.type = 'TT' THEN '(TTCOL)'
					ELSE NULL
				END AS cSystemType,
			
				CASE
					-- Kein CreateScript für Table-Types
					WHEN SyObj.type = 'TT' THEN NULL

					-- Sicherheitshalber bei speziellen Spalten kein CreateScript erzeugen, weil die Auswirkung dieser Spalten-Optionen nicht klar/getestet sind
					WHEN
						SyCol.is_xml_document = 1
						OR SyCol.is_rowguidcol = 1
						OR SyCol.is_replicated = 1
						OR SyCol.is_dts_replicated = 1
						OR SyCol.is_merge_published = 1
						OR SyCol.is_non_sql_subscribed = 1
						OR SyCol.is_sparse = 1
						OR SyCol.is_column_set = 1
						THEN NULL
				ELSE
					N'ALTER TABLE ' + NN.FullObjectName
					+ N' ADD ' + NN.ObjectName
					+ CASE
						WHEN SyCol.is_computed = 0 THEN
							N' ' + UPPER(SyType.name COLLATE DATABASE_DEFAULT)
							+ CASE 
								WHEN SyType.name = 'decimal'
									THEN N'(' + CAST(SyCol.precision AS NVARCHAR(20)) + N',' + CAST(SyCol.scale AS NVARCHAR(20)) + N')'
								WHEN SyType.name IN ('binary', 'varbinary', 'char', 'varchar', 'nchar', 'nvarchar')
									THEN N'(' + CASE WHEN SyCol.max_length > 0 THEN CAST(SyCol.max_length / CASE WHEN SyType.name IN ('nchar', 'nvarchar')  THEN 2 ELSE 1 END AS NVARCHAR(20)) ELSE N'MAX' END + N')'
								ELSE ''
							END 
							+ CASE WHEN SyCol.is_nullable = 0 THEN N' NOT NULL' ELSE N' NULL' END
							+ CASE WHEN SyCol.is_identity = 1 THEN N' IDENTITY(' + CAST(SyIdCols.seed_value AS NVARCHAR(20)) + N',' + CAST(SyIdCols.increment_value AS NVARCHAR(20)) + N')' ELSE N''END
						ELSE
							N' AS ' + SyCompCols.definition COLLATE DATABASE_DEFAULT
								+ CASE WHEN SyCompCols.is_persisted = 1 THEN N' PERSISTED' ELSE N'' END
					END
					+ N';'
				END AS cCreateScript,

				CASE
					-- Kein DropScript für Table-Types, da dies nicht funktioniert, wenn ein Modul darauf referenziert
					WHEN SyObj.type = 'TT' THEN NULL
					ELSE
						N'ALTER TABLE ' + NN.FullObjectName
							+ N' DROP COLUMN ' + NN.ObjectName
							+ N';'
				END AS cDropScript,
				
				CASE
					WHEN SyObj.type = 'U'
						THEN N'EXISTS(SELECT 1 FROM sys.columns AS SyC WHERE SyC.name = ''' + SyCol.name + ''' AND SyC.object_id = OBJECT_ID(''' + NN.FullObjectName + '''))'
					WHEN SyObj.type = 'TT'
						THEN N'EXISTS(SELECT 1 FROM sys.table_types AS SyTT JOIN sys.columns AS SyC ON SyC.object_id = SyTT.type_table_object_id WHERE SyTT.name = ''' + SyTT.name + ''' AND SCHEMA_NAME(SyTT.schema_id) = ''' + SCHEMA_NAME(SyTT.schema_id) + ''' AND SyC.name = ''' + SyCol.name + ''')'
					ELSE NULL
				END AS cExistScript

	FROM		sys.columns AS SyCol
	JOIN		sys.objects AS SyObj ON SyObj.object_id = SyCol.object_id
	JOIN		sys.types AS SyType ON SyCol.user_type_id = SyType.user_type_id AND SyCol.system_type_id = SyType.system_type_id
	LEFT JOIN	sys.table_types AS SyTT ON SyTT.type_table_object_id = SyObj.object_id -- nur bei TT
	LEFT JOIN	sys.identity_columns AS SyIdCols ON SyCol.object_id = SyIdCols.object_id
	LEFT JOIN	sys.computed_columns AS SyCompCols ON SyCompCols.object_id = SyCol.object_id AND SyCompCols.column_id = SyCol.column_id
	CROSS APPLY	(SELECT	QUOTENAME(SyCol.name COLLATE DATABASE_DEFAULT) AS ObjectName,
						CASE
							WHEN SyObj.type = 'TT' THEN QUOTENAME(SCHEMA_NAME(SyTT.schema_id))
							ELSE QUOTENAME(SCHEMA_NAME(SyObj.schema_id))
						END AS SchemaName,
						CASE
							WHEN SyObj.type = 'TT' THEN QUOTENAME(SCHEMA_NAME(SyTT.schema_id)) + N'.' + QUOTENAME(SyTT.name COLLATE DATABASE_DEFAULT)
							ELSE QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) + N'.' + QUOTENAME(SyObj.name COLLATE DATABASE_DEFAULT)
						END AS FullObjectName
				) AS NN -- Nice names für einzelne Werte, wenn diese mehrfach verwendet werden
	WHERE		CASE WHEN SyObj.type = 'U' THEN OBJECT_SCHEMA_NAME(SyCol.object_id) ELSE SCHEMA_NAME(SyTT.schema_id) END NOT IN ('SYS', 'DEV')
				AND SyObj.type IN ('U', 'TT') -- User-Tables / Table-Types

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------
	-- Default Constraints
	-- -> werden unabhängig von der Table-Column-Definition aufgeführt, damit unterschiedliche Severity verwendet werden kann
	-- und DF-Constraints unabhängig von der Spalte erzeugt / gedroppt werden können
	-------------------------------------------------------------------------------------------------------------------------
	SELECT	
				QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) AS cSchemaName,
				NN.TableName AS cParentObjectName,
				NN.ObjectName AS cObjectName,
				'D' AS cSystemType,

				N'ALTER TABLE ' + NN.TableName
					+ N' ADD CONSTRAINT ' + NN.ObjectName
					+ N' DEFAULT ' + SyDF.definition
					+ N' FOR ' + QUOTENAME(SyCol.name COLLATE DATABASE_DEFAULT)
					+ N';' AS cCreateScript,

				N'ALTER TABLE ' + NN.TableName + ' DROP CONSTRAINT ' + NN.ObjectName + N';' AS cDropScript,
				
				N'OBJECT_ID(''[' + OBJECT_SCHEMA_NAME(SyCol.object_id) + '].' + NN.ObjectName + N''', ''D'') IS NOT NULL' AS cExistScript

	FROM		sys.default_constraints AS SyDF
	JOIN		sys.objects AS SyObj ON SyObj.object_id = SyDF.parent_object_id
	JOIN		sys.columns AS SyCol ON SyCol.object_id = SyObj.object_id AND SyCol.column_id = SyDF.parent_column_id
	CROSS APPLY	(SELECT	QUOTENAME(SyDF.name COLLATE DATABASE_DEFAULT) AS ObjectName,
						QUOTENAME(SCHEMA_NAME(SyObj.schema_id)) + N'.' + QUOTENAME(SyObj.name COLLATE DATABASE_DEFAULT) AS TableName
				) AS NN -- Nice names für einzelne Werte, wenn diese mehrfach verwendet werden

	WHERE	OBJECT_SCHEMA_NAME(SyCol.object_id) NOT IN ('SYS', 'DEV')
			AND SyObj.type = 'U' -- nur Defaults für Usertabellen (keine Table Types)

	UNION ALL

	-------------------------------------------------------------------------------------------------------------------------
	-- Table Types
	-------------------------------------------------------------------------------------------------------------------------
	SELECT
				QUOTENAME(SCHEMA_NAME(SyTT.schema_id)) AS cSchemaName,
				NN.FullObjectName AS cParentObjectName,
				QUOTENAME(SyTT.name COLLATE DATABASE_DEFAULT) AS cObjectName,
				'TT' AS cSystemType,

				N'CREATE TYPE ' + NN.FullObjectName
					+ N' AS TABLE('
					+ NN.TypeColumns
					+ CASE WHEN NN.IndexColumns IS NULL THEN N'' ELSE NN.IndexColumns END
					+ CASE WHEN NN.CKConstraints IS NULL THEN N'' ELSE NN.CKConstraints END
					+ N');' AS cCreateScript,

				N'DROP TYPE ' + NN.FullObjectName + N';' AS cDropScript,
				
				N'TYPE_ID(N''' + NN.FullObjectName + ''') IS NOT NULL' AS cExistScript
				
		
	FROM		sys.table_types AS SyTT
	JOIN		sys.objects AS SyObj ON SyObj.object_id = SyTT.type_table_object_id
	LEFT JOIN	sys.indexes AS SyPK ON SyPK.object_id = SyObj.object_id AND SyPK.is_primary_key = 1
	CROSS APPLY	(SELECT	QUOTENAME(SCHEMA_NAME(SyTT.schema_id)) + N'.' + QUOTENAME(SyTT.name COLLATE DATABASE_DEFAULT) AS FullObjectName,
						SUBSTRING((
							SELECT		N', ' + NCHAR(10)
										+ QUOTENAME(SyCol.name COLLATE DATABASE_DEFAULT)
										+ N' ' + UPPER(SyType.name COLLATE DATABASE_DEFAULT)
										+ CASE 
											WHEN SyType.name = 'decimal'
												THEN N'(' + CAST(SyCol.precision AS NVARCHAR(20)) + N',' + CAST(SyCol.scale AS NVARCHAR(20)) + N')'
											WHEN SyType.name IN ('binary', 'varbinary', 'char', 'varchar', 'text', 'ntext', 'nchar', 'nvarchar')
												THEN N'(' + CASE WHEN SyCol.max_length > 0 THEN CAST(SyCol.max_length / CASE WHEN SyType.name IN ('nchar', 'nvarchar')  THEN 2 ELSE 1 END AS NVARCHAR(20)) ELSE N'MAX' END + N')'
											ELSE ''
										END 
										+ CASE WHEN SyCol.is_nullable = 0 THEN N' NOT NULL' ELSE N' NULL' END
										+ CASE WHEN SyDF.object_id IS NULL THEN N'' ELSE N' DEFAULT ' + SyDF.definition COLLATE DATABASE_DEFAULT END
							FROM		sys.columns AS SyCol
							LEFT JOIN	sys.default_constraints AS SyDF ON SyDF.parent_object_id = SyObj.object_id AND SyCol.column_id = SyDF.parent_column_id
							JOIN		sys.types AS SyType ON SyType.user_type_id = SyCol.user_type_id
							WHERE		SyCol.object_id = SyObj.object_id
							ORDER BY	SyCol.column_id ASC
							FOR XML PATH('')
						), 3, 2147483645) AS TypeColumns,

						(	SELECT	N', ' + NCHAR(10)
									+ CASE
										WHEN SyIdx.is_primary_key = 1 THEN N'PRIMARY KEY '
										WHEN SyIdx.is_unique = 1 THEN N'UNIQUE '
										ELSE N'INDEX ' + QUOTENAME(SyIdx.name) + N' '
									END
									+ SyIdx.type_desc COLLATE DATABASE_DEFAULT + N' ('
									+ SUBSTRING((
												SELECT		N', ' + NCHAR(10) + QUOTENAME(SyCol.name COLLATE DATABASE_DEFAULT)
															+ CASE WHEN SyIXCols.is_descending_key = 1 THEN N' DESC' ELSE N' ASC' END
												FROM		sys.index_columns AS SyIXCols
												JOIN		sys.columns AS SyCol ON SyCol.object_id = SyIXCols.object_id AND SyCol.column_id = SyIXCols.column_id
												WHERE		SyIXCols.object_id = SyIdx.object_id
															AND SyIXCols.index_id = SyIdx.index_id
												ORDER BY	SyIXCols.key_ordinal ASC
												FOR XML PATH('')
												), 3, 2147483645)
									+ N')'
							FROM	sys.indexes AS SyIdx
							WHERE	SyIdx.object_id = SyObj.object_id
							ORDER BY SyIdx.is_primary_key DESC, SyIdx.name ASC
							FOR XML PATH('')
						) AS IndexColumns,

						(	SELECT	N', ' + NCHAR(10) + N'CHECK ' + SyCK.definition COLLATE DATABASE_DEFAULT
							FROM	sys.check_constraints AS SyCK
							WHERE	SyCK.parent_object_id = SyObj.object_id
							FOR XML PATH('')
						) AS CKConstraints
				) AS NN -- Nice names für einzelne Werte, wenn diese mehrfach verwendet werden
	WHERE		SyTT.is_user_defined = 1

) -- ObjectsCTE (ENDE)

--Ergebnisse und -aufbereitung
SELECT
			TP.cJTLType + '_' + CASE WHEN O.cParentObjectName IS NULL THEN O.cSchemaName ELSE O.cParentObjectName  END + '_' + O.cObjectName AS cObjectID,
			TP.cJtlType AS cObjectType,
			O.cObjectName,
			O.cSchemaName,
			O.cParentObjectName,
			TP.cTypeDesc AS cObjectTypeDesc,
			O.cCreateScript,
			O.cDropScript,
			O.cExistScript

FROM		ObjectsCTE AS O
LEFT JOIN	TypesCTE AS TP ON TP.cSystemType = O.cSystemType
WHERE		ISNULL(O.cParentObjectName, '') <> '[dbo].[sysdiagrams]'; -- Tabelle, die im SSMS erzeugt wird, wenn man Datenbankdiagramme anlegt
GO
