USE [eazybusiness]
GO
/****** Object:  View [MaintenanceIntern].[vLagerbestandVariationen]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [MaintenanceIntern].[vLagerbestandVariationen] AS
SELECT tArtikel.kArtikel,
		ISNULL(Lagerbestand.fAnzahl, 0.0) + ISNULL(Reservierungen.fAnzahl, 0.0) AS fBestandEigen, 
		ISNULL(Lagerbestand.fAnzahl, 0.0) + ISNULL(Reservierungen.fAnzahl, 0.0) AS fBestand,
		ISNULL(LagerBestand.fAnzahl, 0.0) AS fVerfuegbar,
		0.0 AS fVerfuegbarGesperrt,
		ISNULL(Reservierungen.fAnzahl, 0.0) AS fInAuftraegen,
		0.0 AS fZulauf,
		CASE WHEN tArtikel.cLagerAktiv = 'Y' THEN 1 ELSE 0 END AS nLagerAktiv,
		3 AS nArtikeltyp,
		CASE WHEN tArtikel.cTeilbar = 'Y' THEN 1 ELSE 0 END AS nTeilbar,
		CASE WHEN tArtikel.cLagerKleinerNull = 'Y' THEN 1 ELSE 0 END AS nLagerKleinerNull
	FROM dbo.tArtikel
	LEFT JOIN
		(
			SELECT VariationsBestaende.kArtikel, MIN(ISNULL(VariationsBestaende.fBestand, 0.0)) AS fAnzahl FROM
			(
				SELECT tEigenschaft.kArtikel, SUM(ISNULL(tEigenschaftWert.fLagerbestand, 0.0)) AS fBestand
					FROM tEigenschaftWert
					LEFT JOIN tEigenschaft ON tEigenschaft.kEigenschaft = tEigenschaftWert.kEigenschaft
					WHERE ISNULL(tEigenschaftWert.fLagerbestand, 0.0) > 0
					GROUP BY tEigenschaft.kArtikel, tEigenschaft.kEigenschaft
			) AS VariationsBestaende
			GROUP BY VariationsBestaende.kArtikel
		) AS LagerBestand ON tArtikel.kArtikel = LagerBestand.kArtikel
		LEFT JOIN
		(
			SELECT vAuftragPosition.kArtikel, 
					SUM(ISNULL(vAuftragPositionEckdaten.fAnzahlOffen, 0.0)) AS fAnzahl
				FROM Verkauf.vAuftragPositionEckdaten
				JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = vAuftragPositionEckdaten.kAuftragPosition
				GROUP BY vAuftragPosition.kArtikel
		) AS Reservierungen ON tArtikel.kArtikel = Reservierungen.kArtikel
	WHERE tArtikel.cLagerVariation = 'Y'
GO
