USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vAmazonUnbekannteSettlementPosAmounttypen]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vAmazonUnbekannteSettlementPosAmounttypen]
AS
SELECT DISTINCT
	pf_amazon_settlementpos.AmountType,
	pf_amazon_settlementpos.AmountDescription
FROM dbo.pf_amazon_settlementpos
LEFT JOIN Amazon.tSettlementPosKostentypen ON tSettlementPosKostentypen.cAmountType = pf_amazon_settlementpos.AmountType AND tSettlementPosKostentypen.cAmountDescription = pf_amazon_settlementpos.AmountDescription
WHERE tSettlementPosKostentypen.cAmountType IS NULL;
GO
