USE [eazybusiness]
GO
/****** Object:  View [MaintenanceIntern].[vLagerbestandNormaleArtikel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [MaintenanceIntern].[vLagerbestandNormaleArtikel] AS
	SELECT	tArtikel.kArtikel, 
			ISNULL(Bestand.fBestandEigen, 0.0) AS fBestandEigen, 
			ISNULL(Bestand.fBestandEigen, 0.0) + ISNULL(ExternerBestand.fAnzahl,0.0) AS fBestand,
			CASE WHEN tArtikel.cLagerAktiv = 'Y' 
					THEN ISNULL(Bestand.fBestandEigen, 0.0) + ISNULL(ExternerBestand.fAnzahl, 0.0) - 
						ISNULL(Bestand.fVerfuegbarGesperrt, 0.0) - ISNULL(Reserviert.fReserviert, 0.0)
				ELSE 0.0 END 
				AS fVerfuegbar,
			ISNULL(Bestand.fVerfuegbarGesperrt, 0.0) AS fVerfuegbarGesperrt,
			ISNULL(Reserviert.fReserviert, 0.0) AS fInAuftraegen,
			ISNULL(Zulauf.fZulauf, 0.0) AS fZulauf,
			CASE WHEN tArtikel.cLagerAktiv = 'Y' THEN 1 ELSE 0 END AS nLagerAktiv,
			0 AS nArtikeltyp,
			CASE WHEN tArtikel.cTeilbar = 'Y' THEN 1 ELSE 0 END AS nTeilbar,
			CASE WHEN tArtikel.cLagerKleinerNull = 'Y' THEN 1 ELSE 0 END AS nLagerKleinerNull
		FROM dbo.tArtikel
		LEFT JOIN (
			SELECT kArtikel, 
					SUM(fAnzahlAktuell) AS fBestandEigen,
					SUM(CASE WHEN tWarenLagerPlatz.nGesperrt = 1
								THEN tWarenLagerEingang.fAnzahlAktuell
								ELSE 0.0
						END) AS fVerfuegbarGesperrt
				FROM dbo.twarenlagerEingang
				JOIN dbo.tWarenLagerPlatz ON tWarenLagerPlatz.kWarenLagerPlatz = tWarenLagerEingang.kWarenLagerPlatz
				WHERE fAnzahlAktuell > 0.0
				GROUP BY kArtikel 
			) AS Bestand ON Bestand.kArtikel = tArtikel.kArtikel
		LEFT JOIN (
			SELECT vAuftragPosition.kArtikel, 
					SUM(vAuftragPositionEckdaten.fAnzahlOffen) AS fReserviert
				FROM Verkauf.vAuftragPositionEckdaten
				JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = vAuftragPositionEckdaten.kAuftragPosition
				GROUP BY vAuftragPosition.kArtikel
			) AS Reserviert ON Reserviert.kArtikel = tArtikel.kArtikel
		LEFT JOIN (
			SELECT tliefartikel.tArtikel_kArtikel AS kArtikel,
					SUM(tliefartikel.fLagerbestand) AS fAnzahl					
				FROM dbo.tliefartikel WITH(NOLOCK)
				WHERE tliefartikel.nLagerBeachten=1
				GROUP BY tliefartikel.tArtikel_kArtikel
			) AS ExternerBestand ON ExternerBestand.kArtikel = tArtikel.kArtikel
		LEFT JOIN(
			SELECT tLieferantenBestellungPos.kArtikel, 
				SUM(CASE WHEN  ISNULL((tLieferantenBestellungPos.fMenge - tLieferantenBestellungPos.fMengeGeliefert), 0.0) > 0.0 
							THEN  ISNULL((tLieferantenBestellungPos.fMenge - tLieferantenBestellungPos.fMengeGeliefert), 0.0)
							ELSE 0.0 
						END) AS fZulauf
			  FROM dbo.tLieferantenBestellungPos WITH(NOLOCK)
			  JOIN dbo.tLieferantenBestellung WITH(NOLOCK) ON tLieferantenBestellungPos.kLieferantenBestellung = tLieferantenBestellung.kLieferantenBestellung
			  LEFT JOIN
			  (
				 SELECT tWarenlagerEingang.kArtikel, tWarenlagerEingang.kLieferantenBestellungPos, SUM(tWarenlagerEingang.fAnzahl) AS fAnzahl
				 FROM dbo.tWarenlagerEingang WITH(NOLOCK)
				 GROUP BY tWarenlagerEingang.kArtikel, tWarenlagerEingang.kLieferantenBestellungPos
			  ) AS WarenlagerEingang ON tLieferantenBestellungPos.kLieferantenBestellungPos = WarenlagerEingang.kLieferantenBestellungPos
				 AND tLieferantenBestellungPos.kArtikel = WarenlagerEingang.kArtikel							 
				 -- Nur InBearbeitung, Teilgeliefert und Ueberfällig werden berücksichtigt		
			  WHERE tLieferantenBestellung.nStatus >= 20 -- Teilgeliefert
						AND tLieferantenBestellung.nStatus <= 50 -- Ueberfällig
						AND (tLieferantenBestellungPos.fMenge - tLieferantenBestellungPos.fMengeGeliefert) > 0.0
			  GROUP BY tLieferantenBestellungPos.kArtikel
		) AS Zulauf ON tArtikel.kArtikel = Zulauf.kArtikel
		WHERE tArtikel.kStueckliste = 0 
			AND tArtikel.nIstVater = 0 
			AND tArtikel.cLagerVariation <> 'Y';
GO
