USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vLocks]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vLocks]
AS
SELECT dm_tran_locks.request_session_id AS SPID,
    DB_NAME(dm_tran_locks.resource_database_id) AS DatabaseName,
    CAST(objects.[name] AS NVARCHAR(128)) AS LockedObjectName,
    partitions.object_id AS LockedObjectId,
    dm_tran_locks.resource_type AS LockedResource,
    dm_tran_locks.request_mode AS LockType,
    SqlText.text AS SqlStatementText,
    dm_exec_sessions.login_name AS LoginName,
    dm_exec_sessions.host_name AS HostName,
    dm_exec_sessions.client_interface_name AS ClientName,
    dm_tran_session_transactions.is_user_transaction AS IsUserTransaction,
    dm_tran_active_transactions.name AS TransactionName
FROM sys.dm_tran_locks
LEFT JOIN sys.partitions ON partitions.hobt_id = dm_tran_locks.resource_associated_entity_id
LEFT JOIN sys.objects ON objects.object_id = partitions.object_id
LEFT JOIN sys.dm_exec_sessions ON dm_exec_sessions.session_id = dm_tran_locks.request_session_id
LEFT JOIN sys.dm_tran_session_transactions ON dm_exec_sessions.session_id = dm_tran_session_transactions.session_id
LEFT JOIN sys.dm_tran_active_transactions ON dm_tran_session_transactions.transaction_id = dm_tran_active_transactions.transaction_id
LEFT JOIN sys.dm_exec_requests dm_exec_requests ON dm_tran_active_transactions.transaction_id = dm_exec_requests.transaction_id
CROSS APPLY sys.dm_exec_sql_text(dm_exec_requests.sql_handle) AS SqlText
WHERE resource_database_id = db_id()
GO
