USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vLastDeadlockGraphs]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vLastDeadlockGraphs]
AS
/*************************************************************************************************************
Beschreibung:	Diese View liefert den letzten aufgetretetenen Deadlock aus dem Ringbuffer
				(sie wird beim Loggen von Deadlockfehlern in dbo.spErrorHandler verwendet)
--------------------------------------------------------------------------------------------------------------
-- Beispielaufruf:
SELECT * FROM Maintenance.vLastDeadlockGraphs
*************************************************************************************************************/
SELECT	LastDeadLock.dDateTime AS [TimeStamp],
		XEvent.query('(event/data/value/deadlock)[1]') AS DeadlockGraph
FROM	(
			SELECT TOP(1)	XEvent.query('.') AS XEvent,
							NN.dDateTime
			FROM			(
								SELECT		CAST(target_data AS XML) AS TargetData
								FROM		sys.dm_xe_session_targets AS SyXST
								INNER JOIN	sys.dm_xe_sessions AS SyXS ON SyXS.address = SyXST.event_session_address
								WHERE		SyXS.NAME = 'system_health'
											AND SyXST.target_name = 'ring_buffer'
							) AS RingBuffer
			CROSS APPLY	RingBuffer.TargetData.nodes('RingBufferTarget/event[@name="xml_deadlock_report"]') AS XEventData(XEvent)
			CROSS APPLY (SELECT XEvent.value('(@timestamp)[1]', 'datetime') AS dDateTime) AS NN -- Nice Names
			ORDER BY	NN.dDateTime DESC
		) AS LastDeadLock
GO
