USE [eazybusiness]
GO
/****** Object:  Table [Maintenance].[tHealthCheck]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Maintenance].[tHealthCheck](
	[kHC] [int] IDENTITY(1,1) NOT NULL,
	[cSchweregrad] [nvarchar](10) NULL,
	[cFehlercode] [nvarchar](30) NULL,
	[cHerkunft] [nvarchar](200) NULL,
	[nCheckID] [int] NULL,
	[cObjekt] [nvarchar](255) NULL,
	[cObjektTyp] [nvarchar](20) NULL,
	[cBezugsObjekt] [nvarchar](255) NULL,
	[cMeldung] [nvarchar](2048) NULL,
	[cObjektDetailIst] [nvarchar](max) NULL,
	[cObjektDetailSoll] [nvarchar](max) NULL,
	[cObjektReparatur] [nvarchar](max) NULL,
	[cLink] [nvarchar](max) NULL,
	[dErstelltUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Maintenance_tHealthCheck] PRIMARY KEY CLUSTERED 
(
	[kHC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Maintenance].[tHealthCheck] ADD  CONSTRAINT [DF_Maintenance_tHealthCheck_dErstelltUtc]  DEFAULT (getutcdate()) FOR [dErstelltUtc]
GO
