USE [eazybusiness]
GO
/****** Object:  View [Maintenance].[vStuecklisten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Maintenance].[vStuecklisten]
AS
SELECT	tArtikel.cArtNr,
		CASE WHEN (GLD.EKNettoGesamt <> tArtikel.fEKNetto AND GLD.kStueckliste IS NOT NULL)
			THEN 'Einkaufspreis falsch'
			ELSE NULL
		END AS [Einkaufspreis],
		CASE WHEN (Gewicht.ArtGewichtGesamt <> tArtikel.fArtGewicht AND Gewicht.kStueckliste IS NOT NULL)
			THEN 'Artikelgewicht falsch'
			ELSE NULL
		END AS [Artikelgewicht],
		CASE WHEN (Gewicht.VersandGewichtGesamt <> tArtikel.fGewicht AND Gewicht.kStueckliste IS NOT NULL)
			THEN 'Versandgewicht falsch'
			ELSE NULL
		END AS [Versandgewicht],
		CASE WHEN ArtikelInfos.cLagerAktiv <> tArtikel.cLagerAktiv
			THEN 'Lagerführung falsch'
			ELSE NULL
		END AS [Lagerführung],
		CASE WHEN ArtikelInfos.cLagerKleinerNull <> tArtikel.cLagerKleinerNull
			THEN 'Überverkäufe falsch'
			ELSE NULL
		END AS [Überverkäufe],
		CASE WHEN ArtikelInfos.cTeilbar <> tArtikel.cTeilbar
			THEN 'Teilbarkeit falsch'
			ELSE NULL
		END AS [Teilbarkeit],
		CASE WHEN ArtikelInfos.LiefertageWennAusverkauft <> tArtikel.nLiefertageWennAusverkauft
			THEN 'Lieferzeitberechnung falsch'
			ELSE NULL
		END AS [Lieferzeitberechnung],
		CASE WHEN ArtikelInfos.Bearbeitungszeit <> tArtikel.nBearbeitungszeit
			THEN 'Bearbeitungszeit falsch'
			ELSE NULL
		END AS [Bearbeitungszeit],
		tArtikel.kArtikel
	FROM dbo.tArtikel
	JOIN dbo.tStueckliste ON tStueckliste.kStueckliste = tArtikel.kStueckliste
	LEFT JOIN (SELECT tStueckliste.kStueckliste, MAX(ISNULL(StueckEK.EKNettoGesamt, 0.0)) AS EKNettoGesamt
				FROM tartikel
				JOIN tStueckliste ON tartikel.kArtikel = tStueckliste.kArtikel
				JOIN(	SELECT tStueckliste.kStueckliste, SUM(ISNULL(tartikel.fEKNetto, 0.0) * ISNULL(tStueckliste.fAnzahl, 0.0)) AS EKNettoGesamt
							FROM tStueckliste
							JOIN tartikel ON tStueckliste.kArtikel = tartikel.kArtikel
							GROUP BY tStueckliste.kStueckliste
				) AS StueckEK ON tStueckliste.kStueckliste = StueckEK.kStueckliste
				JOIN dbo.tOptions ON tOptions.cKey = 'StuecklistenGLDAutomatik'
				WHERE tOptions.cValue = 1
				GROUP BY tStueckliste.kStueckliste
		) AS GLD ON GLD.kStueckliste = tArtikel.kStueckliste
	LEFT JOIN (SELECT tStueckliste.kStueckliste, 
					MAX(ISNULL(StueckEK.ArtGewichtGesamt, 0.0)) AS ArtGewichtGesamt,
					MAX(ISNULL(StueckEK.VersandGewichtGesamt, 0.0)) AS VersandGewichtGesamt
				FROM tartikel WITH (NOLOCK)
				JOIN tStueckliste WITH (NOLOCK) ON tartikel.kArtikel = tStueckliste.kArtikel
				JOIN
				(
					SELECT tStueckliste.kStueckliste, 
						SUM(ISNULL(tartikel.fArtGewicht, 0.0) * ISNULL(tStueckliste.fAnzahl, 0.0)) AS ArtGewichtGesamt,
						SUM(ISNULL(tartikel.fGewicht, 0.0) * ISNULL(tStueckliste.fAnzahl, 0.0)) AS VersandGewichtGesamt
					FROM tStueckliste WITH (NOLOCK)
					JOIN tartikel WITH (NOLOCK) ON tStueckliste.kArtikel = tartikel.kArtikel
					GROUP BY tStueckliste.kStueckliste
				) AS StueckEK ON tStueckliste.kStueckliste = StueckEK.kStueckliste
				JOIN dbo.tOptions ON tOptions.cKey = 'StuecklistenGewichtsAutomatik'
				WHERE tOptions.cValue = 1
				GROUP BY tStueckliste.kStueckliste
		) AS Gewicht ON Gewicht.kStueckliste = tArtikel.kStueckliste
	JOIN(SELECT tStueckliste.kStueckliste,
					MAX(ISNULL(tartikel.cLagerAktiv, 'N')) AS cLagerAktiv,
					MIN(CASE ISNULL(tartikel.cLagerAktiv, 'N') WHEN 'N' THEN 'Y' ELSE ISNULL(tartikel.cLagerKleinerNull, 'N') END ) AS cLagerKleinerNull,
					MIN(ISNULL(tartikel.cTeilbar, 'N')) AS cTeilbar,
					MAX(ISNULL(tartikel.nBearbeitungszeit, 0)) AS Bearbeitungszeit,
					MAX(ISNULL(tartikel.nLiefertageWennAusverkauft, 0)) AS LiefertageWennAusverkauft
				FROM dbo.tartikel 
				JOIN dbo.tStueckliste ON tartikel.kArtikel = tStueckliste.kArtikel
				GROUP BY tStueckliste.kStueckliste
		) AS ArtikelInfos ON dbo.tartikel.kStueckliste = ArtikelInfos.kStueckliste
	WHERE tArtikel.kStueckliste > 0
		AND (GLD.kStueckliste IS NOT NULL 
				AND GLD.EKNettoGesamt <> tArtikel.fEKNetto)
		OR (Gewicht.kStueckliste IS NOT NULL 
				AND (Gewicht.ArtGewichtGesamt <> tArtikel.fArtGewicht 
					OR Gewicht.VersandGewichtGesamt <> tArtikel.fGewicht)
			)
		OR tArtikel.cLagerAktiv <> ArtikelInfos.cLagerAktiv
		OR tArtikel.cLagerKleinerNull <> CASE ISNULL(ArtikelInfos.cLagerAktiv, 'N') WHEN 'N' THEN 'N' ELSE ISNULL(ArtikelInfos.cLagerKleinerNull, 'N') END
		OR tArtikel.cTeilbar <> ArtikelInfos.cTeilbar
		OR tArtikel.nLiefertageWennAusverkauft <> ArtikelInfos.LiefertageWennAusverkauft
		OR tArtikel.nBearbeitungszeit <> ArtikelInfos.Bearbeitungszeit;
GO
