USE [eazybusiness]
GO
/****** Object:  Table [Mobile].[tDashboard]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mobile].[tDashboard](
	[kDashboard] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](100) NOT NULL,
	[cDescription] [nvarchar](1000) NULL,
	[nSort] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
 CONSTRAINT [PK_Mobile_tDashboard] PRIMARY KEY CLUSTERED 
(
	[kDashboard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
