USE [eazybusiness]
GO
/****** Object:  Table [Mobile].[tDashboardPage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mobile].[tDashboardPage](
	[kDashboardPage] [int] IDENTITY(1,1) NOT NULL,
	[kDashboard] [int] NOT NULL,
	[nSort] [int] NOT NULL,
 CONSTRAINT [PK_Mobile_tDashboardPage] PRIMARY KEY CLUSTERED 
(
	[kDashboardPage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
