USE [eazybusiness]
GO
/****** Object:  Table [Mobile].[tStatistics]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mobile].[tStatistics](
	[kStatistics] [int] IDENTITY(1,1) NOT NULL,
	[kStatistikVorlage] [int] NOT NULL,
	[nDiagramType] [int] NOT NULL,
	[nKeyLabelsVisible] [bit] NOT NULL,
	[nValueLabelsVisible] [bit] NOT NULL,
	[nRotateLabels] [bit] NOT NULL,
	[nStripLinesVisibility] [int] NOT NULL,
	[nMajorLinesVisibility] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
 CONSTRAINT [PK_Mobile_tStatistics] PRIMARY KEY CLUSTERED 
(
	[kStatistics] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
