USE [eazybusiness]
GO
/****** Object:  Table [Mobile].[tWidgetDashboardPageMap]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Mobile].[tWidgetDashboardPageMap](
	[kWidgetDashboardPageMap] [int] IDENTITY(1,1) NOT NULL,
	[kDashboardPage] [int] NOT NULL,
	[kWidget] [int] NOT NULL,
	[nGridRow] [int] NOT NULL,
	[nGridColumn] [int] NOT NULL,
 CONSTRAINT [PK_Mobile_tWidgetDashboardPageMap] PRIMARY KEY CLUSTERED 
(
	[kWidgetDashboardPageMap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
