USE [eazybusiness]
GO
/****** Object:  Table [Nachrichten].[tTextbausteinInhaltSprache]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Nachrichten].[tTextbausteinInhaltSprache](
	[kTextbausteinInhaltSprache] [int] IDENTITY(1,1) NOT NULL,
	[kTextbaustein] [int] NOT NULL,
	[kFile] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
 CONSTRAINT [PK_Nachrichten_tTextbausteinInhaltSprache] PRIMARY KEY CLUSTERED 
(
	[kTextbausteinInhaltSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Nachrichten].[tTextbausteinInhaltSprache]  WITH CHECK ADD  CONSTRAINT [FK_Nachrichten_tTextbausteinInhaltSprache_kFile] FOREIGN KEY([kFile])
REFERENCES [dbo].[tFile] ([kFile])
GO
ALTER TABLE [Nachrichten].[tTextbausteinInhaltSprache] CHECK CONSTRAINT [FK_Nachrichten_tTextbausteinInhaltSprache_kFile]
GO
ALTER TABLE [Nachrichten].[tTextbausteinInhaltSprache]  WITH CHECK ADD  CONSTRAINT [FK_Nachrichten_tTextbausteinInhaltSprache_kSprache] FOREIGN KEY([kSprache])
REFERENCES [dbo].[tSpracheUsed] ([kSprache])
GO
ALTER TABLE [Nachrichten].[tTextbausteinInhaltSprache] CHECK CONSTRAINT [FK_Nachrichten_tTextbausteinInhaltSprache_kSprache]
GO
ALTER TABLE [Nachrichten].[tTextbausteinInhaltSprache]  WITH CHECK ADD  CONSTRAINT [FK_Nachrichten_tTextbausteinInhaltSprache_kTextbaustein] FOREIGN KEY([kTextbaustein])
REFERENCES [Nachrichten].[tTextbaustein] ([kTextbaustein])
ON DELETE CASCADE
GO
ALTER TABLE [Nachrichten].[tTextbausteinInhaltSprache] CHECK CONSTRAINT [FK_Nachrichten_tTextbausteinInhaltSprache_kTextbaustein]
GO
