USE [eazybusiness]
GO
/****** Object:  Table [Nachrichten].[tTextbaustein]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Nachrichten].[tTextbaustein](
	[kTextbaustein] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[kTextbausteinGruppe] [int] NOT NULL,
	[nTyp] [int] NOT NULL,
	[cTastenkombination] [nvarchar](255) NULL,
	[cAutotext] [nvarchar](255) NULL,
 CONSTRAINT [PK_Nachrichten_tTextbaustein] PRIMARY KEY CLUSTERED 
(
	[kTextbaustein] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Nachrichten].[tTextbaustein]  WITH CHECK ADD  CONSTRAINT [FK_Nachrichten_tTextbaustein_kTextbausteinGruppe] FOREIGN KEY([kTextbausteinGruppe])
REFERENCES [Nachrichten].[tTextbausteinGruppe] ([kTextbausteinGruppe])
ON DELETE CASCADE
GO
ALTER TABLE [Nachrichten].[tTextbaustein] CHECK CONSTRAINT [FK_Nachrichten_tTextbaustein_kTextbausteinGruppe]
GO
