USE [eazybusiness]
GO
/****** Object:  View [OData].[Customers]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OData].[Customers]
AS
SELECT tkunde.kKunde AS Id,
       tkunde.cKundenNr AS Number,
       tkunde.kKundenGruppe AS CustomerGroupId,
       tkunde.kKundenKategorie AS CustomerCategoryId,
       tKundenGruppe.cName AS CustomerGroupName,
       tKundenKategorie.cName AS CustomerCategoryName,
       UPPER(dbo.tSpracheUsed.cISO2) AS LanguageIso,
       tkunde.cSteuerNr AS TaxIdentificationNumber,
       tkunde.nDebitorennr AS AccountsReceivableNumber,
       tkunde.cHRNr AS CommercialRegisterNumber,
       tkunde.cWWW AS Website,
       tkunde.cHerkunft AS InitialContact,
       tkunde.cEbayName AS EbayUsername,
       tkunde.nZahlungsziel AS PaymentTarget,
       tkunde.fRabatt AS Discount,
       tkunde.nKreditlimit AS CreditLimit,
       tkunde.kZahlungsart AS PaymentMethodId,
       CASE
           WHEN ISDATE(tkunde.cGeburtstag) = 1 THEN
               CAST(tkunde.cGeburtstag AS DATETIMEOFFSET)
           ELSE
               NULL
           END AS Birthday,
       CAST(tkunde.dErstellt AS DATETIMEOFFSET) AS CustomerSince,
       CAST(tkunde.nMahnstopp AS BIT) AS StopPaymentRequest,
       CAST(CASE
                WHEN LOWER(tkunde.cKassenKunde) = 'y' THEN
                    1
                ELSE
                    0
           END AS BIT) AS IsCashRegisterBased,
       CAST(CASE
                WHEN LOWER(tkunde.cSperre) = 'y' THEN
                    1
                ELSE
                    0
           END AS BIT) AS IsLocked
FROM dbo.tkunde
         JOIN dbo.tSpracheUsed
              ON tSpracheUsed.kSprache = tkunde.kSprache
         LEFT JOIN dbo.tKundenKategorie
                   ON tKundenKategorie.kKundenKategorie = tkunde.kKundenKategorie
         LEFT JOIN dbo.tKundenGruppe
                   ON tKundenGruppe.kKundenGruppe = tkunde.kKundenGruppe;
GO
