USE [eazybusiness]
GO
/****** Object:  View [OData].[CustomerContacts]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OData].[CustomerContacts]
AS
SELECT kAnsprechpartner AS Id,
       kKunde AS CustomerId,
       cName AS Name,
       cTel AS PhoneNumber,
       cFax AS Fax,
       cMail AS EmailAddress,
       cAbteilung AS Department,
       cVorName AS FirstName,
       cAnrede AS FormOfAddress,
       cMobil AS MobilePhoneNumber
FROM dbo.tansprechpartner
WHERE kKunde > 0;
GO
