USE [eazybusiness]
GO
/****** Object:  View [OData].[CustomerPaymentMethods]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OData].[CustomerPaymentMethods]
AS
SELECT kZahlungsart AS Id,
       cName AS Name,
       CAST(nIstStandard AS BIT) AS IsDefault,
       CAST(nAktiv AS BIT) AS IsActive
FROM dbo.tZahlungsart;
GO
