USE [eazybusiness]
GO
/****** Object:  View [OData].[CustomerBankAccounts]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OData].[CustomerBankAccounts]
AS
SELECT BankAccount.kKontoDaten AS Id,
       BankAccount.kKunde AS CustomerId,
       BankAccount.cInhaber AS AccountHolder,
       BankAccount.cBankName AS BankName,
       BankAccount.cKontoNr AS AccountNumber,
       BankAccount.cBLZ AS BankCode,
       BankAccount.cIBAN AS IBAN,
       BankAccount.cBIC AS BIC,
       CAST(CASE
                WHEN BankAccount.nStandard = 1 THEN
                    1
                ELSE
                    0
           END AS BIT) AS IsDefault
FROM dbo.tkontodaten AS BankAccount
WHERE BankAccount.kKunde IS NOT NULL;
GO
