USE [eazybusiness]
GO
/****** Object:  View [OData].[CustomerSearchTerms]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OData].[CustomerSearchTerms]
AS
SELECT CAST(ROW_NUMBER() OVER (ORDER BY SearchTerm.kKunde) AS INT) AS Id, -- Pseudo-Schlüssel
       SearchTerm.kKunde AS CustomerId,
       SearchTerm.cValue AS SearchTerm
FROM dbo.tKunde_suche AS SearchTerm;
GO
