USE [eazybusiness]
GO
/****** Object:  View [OData].[CustomerAddresses]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OData].[CustomerAddresses]
AS
SELECT [Address].kAdresse AS Id,
    [Address].cFirma AS Company,
    [Address].cZusatz AS Company2,
    [Address].kKunde AS CustomerId,
    [Address].cAnrede AS FormOfAddress,
    [Address].cTitel AS Title,
    [Address].cVorname AS FirstName,
    [Address].cName AS [Name],
    [Address].cStrasse AS Street,
    [Address].cAdressZusatz AS Address2,
    [Address].cPLZ AS PostalCode,
    [Address].cOrt AS City,
    [Address].cBundesland AS [State],
    [Address].cUSTID AS VatID,
    [Address].cTel AS PhoneNumber,
    [Address].cMobil AS MobilePhoneNumber,
    [Address].cMail AS EmailAddress,
    [Address].cFax AS Fax,
    Land.cISO AS CountryIso,
    CAST([Address].nStandard AS BIT) AS IsStandard,
    CAST(Address.nTyp AS INT) AS AddressType
FROM dbo.tAdresse AS [Address]
    JOIN dbo.tland AS Land
ON Land.cISO = Address.cISO;
GO
