USE [eazybusiness]
GO
/****** Object:  View [OData].[CustomerStandardCustomAddresses]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [OData].[CustomerStandardCustomAddresses]
AS
SELECT Id,
       Company,
       Company2,
       CustomerId,
       FormOfAddress,
       Title,
       FirstName,
       Name,
       Street,
       Address2,
       PostalCode,
       City,
       State,
       VatID,
       PhoneNumber,
       MobilePhoneNumber,
       EmailAddress,
       Fax,
       CountryIso,
       IsStandard,
       AddressType
FROM [OData].[CustomerAddresses]
WHERE IsStandard = 1
  AND AddressType = 2;
GO
