USE [eazybusiness]
GO
/****** Object:  View [Pos].[vOrderSerialNumber]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW	[Pos].[vOrderSerialNumber]
AS
(
	SELECT tAuftragPosition.kAuftrag AS kOrder,
		tAuftragPosition.kAuftragPosition AS kOrderPos,
		tLagerArtikel.cSeriennr AS cSerialNumber
	FROM Verkauf.tAuftragPosition
	JOIN dbo.tLieferscheinPos
		ON tAuftragPosition.kAuftragPosition = tLieferscheinPos.kBestellPos
	JOIN dbo.tLagerArtikel
		ON tLieferscheinPos.kLieferscheinPos = tLagerArtikel.kLieferscheinPos
);
GO
