USE [eazybusiness]
GO
/****** Object:  View [Pos].[vOrderBillingAddress]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW	[Pos].[vOrderBillingAddress]
AS
(
	SELECT
		tAuftrag.kAuftrag AS kOrder,
		Rechungsadresse.cVorname AS cFirstName,
		Rechungsadresse.cName AS cLastName,
		Rechungsadresse.cFirma AS cCompany,
		Rechungsadresse.cStrasse AS cStreet,
		Rechungsadresse.cPLZ AS cZip,
		Rechungsadresse.cOrt AS cCity,
		Rechungsadresse.cTel AS cPhone,
		Rechungsadresse.cFax AS cFax,
		Rechungsadresse.cMail AS cMail,
		Rechungsadresse.cAnrede AS cSalutation,
		Rechungsadresse.cAdressZusatz AS cExtraAddressLine,
		Rechungsadresse.cMobil AS cMobile,
		Rechungsadresse.cTitel AS cTitle,
		Rechungsadresse.cBundesland AS cState,
		Rechungsadresse.cISO AS cISO,
		Rechungsadresse.cZusatz AS cAddressAddition,
		tkunde.fRabatt AS fDiscount,
		tkunde.kKundenGruppe AS kCustomerGroupId,
		tkunde.cGeburtstag AS cDateOfBirth
	FROM Verkauf.tAuftrag
	JOIN Verkauf.vAuftragRechnungsadresse AS Rechungsadresse ON tAuftrag.kAuftrag = Rechungsadresse.kAuftrag
	LEFT JOIN dbo.tkunde ON tkunde.kKunde = Rechungsadresse.kKunde
	LEFT JOIN dbo.tAdresse ON tAdresse.kKunde = tkunde.kKunde
		AND tAdresse.nStandard = 1 
		AND tAdresse.nTyp = 1
);
GO
