USE [eazybusiness]
GO
/****** Object:  View [Pos].[vCategory]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vCategory]
AS
(
	SELECT DISTINCT
		tkategorie.kKategorie AS kCategory,
		tBild.cHash AS cImageHash,
		tBild.cQuelle AS cImageSource,
		ISNULL(ShopKategorieSprache.cName, WawiKategorieSprache.cName)  AS cName,
		tkategorie.kOberKategorie AS kParentCategoryId,
		ROUND(tKategorieRabatt.fRabatt, 2) AS fDiscount,
		tkategorie.nSort AS nSort,
		tEntityTracking.dLastModified AS dUpdatedAt,
		tEntityTracking.dCreated AS dCreatedAt,
		CASE 
			WHEN tEntityTracking.bLastChanged > tEntityPlatform.bLastChanged
				THEN tEntityTracking.bLastChanged
			ELSE tEntityPlatform.bLastChanged
		END AS bLastChanged,
		tEntityPlatform.kShop,
		tEntityTracking.dLastModified,
		tEntityPlatform.dActive,
		tEntityPlatform.dInactive	
	FROM dbo.tkategorie
	JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	JOIN dbo.tPlattform AS PlattformWawi ON PlattformWawi.nTyp = 1
	JOIN dbo.tPlattform AS PlattformShop ON PlattformShop.nTyp = 2
	JOIN dbo.tKategorieSprache AS WawiKategorieSprache ON tKategorie.kKategorie = WawiKategorieSprache.kKategorie
		AND WawiKategorieSprache.kSprache = tSpracheUsed.kSprache
		AND WawiKategorieSprache.kPlattform = PlattformWawi.nPlattform
	LEFT JOIN dbo.tKategorieSprache AS ShopKategorieSprache ON tKategorie.kKategorie = ShopKategorieSprache.kKategorie
		AND ShopKategorieSprache.kSprache = tSpracheUsed.kSprache
		AND ShopKategorieSprache.kPlattform = PlattformShop.nPlattform
	LEFT JOIN dbo.tKategoriebildPlattform AS WawiKategorieBild ON tKategorie.kKategorie = WawiKategorieBild.kKategorie
		AND WawiKategorieBild.nNr = 1
		AND WawiKategorieBild.kPlattform = PlattformWawi.nPlattform
	LEFT JOIN dbo.tKategoriebildPlattform AS ShopKategorieBild ON tKategorie.kKategorie = ShopKategorieBild.kKategorie
		AND ShopKategorieBild.nNr = 1
		AND ShopKategorieBild.kPlattform = PlattformShop.nPlattform
	JOIN dbo.tKategorieSprache ON tkategorie.kKategorie = tKategorieSprache.kKategorie
		AND tKategorieSprache.kSprache = tSpracheUsed.kSprache
	LEFT JOIN dbo.tKategorieRabatt ON tKategorieRabatt.kKategorie = tkategorie.kKategorie
	LEFT JOIN dbo.tBild ON ISNULL(ShopKategorieBild.kBild, WawiKategorieBild.kBild) = tBild.kBild
	JOIN Sync.tEntityTracking ON tkategorie.kKategorie = tEntityTracking.kEntityId 
		AND tEntityTracking.nEntityType = 2
		AND tEntityTracking.nSyncType = 4
	JOIN Sync.tEntityPlatform ON tEntityPlatform.kEntityId = tEntityTracking.kEntityId
		AND tEntityPlatform.nEntityType = tEntityTracking.nEntityType
	JOIN dbo.tShop ON tShop.kShop = tEntityPlatform.kShop
		AND tShop.nTyp = 4
	WHERE tEntityPlatform.dInactive IS NULL
)
GO
