USE [eazybusiness]
GO
/****** Object:  View [Pos].[vDeletedEntity]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vDeletedEntity]
AS
(	
	SELECT
		tEntityPlatform.kEntityId,
		tEntityPlatform.nEntityType,
		CASE 
			WHEN tEntityPlatform.dInactive IS NOT NULL 
				THEN tEntityPlatform.bLastChanged
			ELSE tEntityTracking.bLastChanged
		END AS bLastChanged,
		tEntityPlatform.kShop
	FROM Sync.tEntityPlatform
	JOIN Sync.tEntityTracking ON tEntityTracking.kEntityId = tEntityPlatform.kEntityId
		AND tEntityTracking.nEntityType = tEntityPlatform.nEntityType	
	WHERE tEntityTracking.nSyncType = 4	
		AND Sync.tEntityPlatform.dInactive IS NOT NULL	
)
GO
