USE [eazybusiness]
GO
/****** Object:  View [Pos].[vOrderLotNumberBestBeforeDate]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vOrderLotNumberBestBeforeDate]
AS
(	
	SELECT 
		tAuftragPosition.kAuftrag AS kOrder,
		tAuftragPosition.kAuftragPosition AS kOrderPos,
		tWarenLagerAusgang.fAnzahl AS fQuantity,
		tWarenLagerEingang.cChargenNr AS cLotNumber,
		tWarenLagerEingang.dMHD AS dBestBeforeDate
	FROM Verkauf.tAuftragPosition
	JOIN dbo.tLieferscheinPos
		ON tAuftragPosition.kAuftragPosition = tLieferscheinPos.kBestellPos
	JOIN dbo.tWarenLagerAusgang
		ON tLieferscheinPos.kLieferscheinPos = tWarenLagerAusgang.kLieferscheinPos
	JOIN dbo.tWarenLagerEingang
		ON tWarenLagerAusgang.kWarenLagerEingang = tWarenLagerEingang.kWarenLagerEingang
	WHERE tWarenLagerEingang.dMHD IS NOT NULL
)
GO
