USE [eazybusiness]
GO
/****** Object:  View [Pos].[vProduct]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vProduct]
AS
(
	SELECT
		tArtikel.kArtikel AS kProduct,
		tBild.cHash AS cImageHash,
		tBild.cQuelle AS cImageSource,
		ISNULL(PosArtikelBeschreibung.cName, WawiArtikelBeschreibung.cName)  AS cName,
		ISNULL(PosArtikelBeschreibung.cKurzBeschreibung, WawiArtikelBeschreibung.cKurzBeschreibung)  AS cKurzBeschreibung,
		tArtikel.nSort AS nSort,
		tArtikel.fVKNetto AS fPrice,
		tArtikel.fEKNetto AS fPurchasingPrice,
		'' AS Discount,
		'' AS TaxRate,
		'' AS TaxRate2,
		tArtikel.cArtNr AS cSKU,
		tArtikel.cBarcode AS cBarcode,
		tArtikel.cLagerAktiv AS cUseStock,
		tArtikel.cTeilbar AS cIsQuantityDivisible,
		ROUND(tlagerbestand.fVerfuegbar, 2) AS fQuantity,
		tEinheitSprache.cName AS cUnit,
		tArtikel.cAnmerkung AS cAnnotation,
		REPLACE(tArtikel.cSuchbegriffe, ' ', ',') AS Tags,
		tArtikel.nIstVater AS nIsParent,
		tArtikel.kVaterArtikel AS kParentId,
		'' AS Variants,
		tArtikel.dMod AS dUpdatedAt,
		tArtikel.dErstelldatum AS dCreatedAt,		
		tArtikel.kSteuerklasse,
		tShop.kFirma AS kCompany,
		CASE WHEN tArtikel.cAktiv = 'Y'
				THEN 0
			ELSE 1
		END AS nStatus,
		CASE 
			WHEN tArtikel.kStueckliste > 0
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS nIsCompositeProduct,
		tArtikel.nMHD AS nHasBestBeforeDate,
		tArtikel.nCharge AS nHasLotNumber,
		tArtikel.cLagerArtikel AS cHasSerialNumber,
		tArtikel.cUPC AS cUPC,
		tEntityTracking.bLastChanged AS bLastChanged,
		tEntityPlatform.kShop,
		tEntityTracking.dLastModified,
		tEntityPlatform.dActive,
		tEntityPlatform.dInactive,
		tlagerbestand.fInAuftraegen AS fReservedQuantity,
		tHersteller.cName AS cManufacturerName,
		tArtikel.cHAN AS cHAN,
		tArtikel.cISBN AS cIsbn,
		ISNULL(tArtikelMehrzweckGutschein.nIsMehrzweckGutschein, 0) AS nProductType,
		CASE WHEN ISNULL(tArtikelMehrzweckGutschein.nIsMehrzweckGutschein, 0) = 1 
			THEN tArtikelMehrzweckGutschein.cKampagne 
			ELSE NULL 
		END AS cVoucherCampaign,
		CASE WHEN ISNULL(tArtikelMehrzweckGutschein.nIsMehrzweckGutschein, 0) = 1 
			THEN tArtikelMehrzweckGutschein.nBetrag
			ELSE 0 
		END AS nVoucherAmount,
		CASE WHEN ISNULL(tArtikelMehrzweckGutschein.nIsMehrzweckGutschein, 0) = 1 
			THEN tArtikelMehrzweckGutschein.cISO 
			ELSE NULL 
		END AS cVoucherCurrency,
		CASE WHEN ISNULL(tArtikelMehrzweckGutschein.nIsMehrzweckGutschein, 0) = 1 
			THEN tArtikelMehrzweckGutschein.nGutscheinTyp 
			ELSE NULL 
		END AS nVoucherType,
		CASE WHEN ISNULL(tArtikelMehrzweckGutschein.nIsMehrzweckGutschein, 0) = 1 
			THEN tArtikelMehrzweckGutschein.nGutscheinArt 
			ELSE NULL 
		END AS nPurposeType,
		CASE WHEN ISNULL(tArtikelMehrzweckGutschein.nIsMehrzweckGutschein, 0) = 1 
			THEN tArtikelMehrzweckGutschein.nHatFestenBetrag 
			ELSE NULL 
		END AS nFixedAmount
	FROM dbo.tArtikel
	JOIN Sync.tEntityTracking ON tArtikel.kArtikel = tEntityTracking.kEntityId 
		AND tEntityTracking.nEntityType = 1 
		AND tEntityTracking.nSyncType = 4
	JOIN Sync.tEntityPlatform ON tEntityPlatform.kEntityId = tEntityTracking.kEntityId
		AND tEntityPlatform.nEntityType = tEntityTracking.nEntityType
	JOIN dbo.tShop ON tShop.kShop = tEntityPlatform.kShop
		AND tShop.nTyp = 4
	JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	JOIN dbo.tPlattform AS PlattformWawi ON PlattformWawi.nTyp = 1
	LEFT JOIN Artikel.tArtikelMehrzweckGutschein ON tArtikelMehrzweckGutschein.kArtikel = tArtikel.kArtikel
	LEFT JOIN dbo.tHersteller ON tHersteller.kHersteller = tArtikel.kHersteller
	OUTER APPLY
	(
		SELECT TOP(1) cName, cKurzBeschreibung FROM dbo.tArtikelBeschreibung
		WHERE tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
			AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache
			AND tArtikelBeschreibung.kPlattform = PlattformWawi.nPlattform
	) WawiArtikelBeschreibung
	OUTER APPLY
	(
		SELECT TOP(1) cName, cKurzBeschreibung FROM dbo.tArtikelBeschreibung
		WHERE tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
			AND tArtikelBeschreibung.kSprache = tSpracheUsed.kSprache
			AND tArtikelBeschreibung.kPlattform = 7
			AND tArtikelBeschreibung.kShop = tEntityPlatform.kShop
	) PosArtikelBeschreibung
	LEFT JOIN dbo.tArtikelbildPlattform AS ShopArtikelBild ON tArtikel.kArtikel = ShopArtikelBild.kArtikel
		AND ShopArtikelBild.nNr = 1
		AND ShopArtikelBild.kPlattform = 7
		AND ShopArtikelBild.kShop = tEntityPlatform.kShop
	LEFT JOIN dbo.tBild ON ShopArtikelBild.kBild = tBild.kBild
	LEFT JOIN dbo.tlagerbestand ON tArtikel.kArtikel = tlagerbestand.kArtikel
	LEFT JOIN tEinheitSprache ON tArtikel.kVerkaufsEinheit = tEinheitSprache.kEinheit
		AND tEinheitSprache.kSprache = tSpracheUsed.kSprache
	WHERE tEntityPlatform.dInactive IS NULL
)
GO
