USE [eazybusiness]
GO
/****** Object:  View [Pos].[vProductCategory]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vProductCategory]
AS
(
    SELECT
        tEntityPlatform.kEntityId AS kCategory,
        tkategorieartikel.kArtikel AS kProduct,
        tEntityPlatform.kShop
    FROM Sync.tEntityPlatform
    JOIN dbo.tkategorieartikel ON tkategorieartikel.kKategorie = tEntityPlatform.kEntityId
    JOIN dbo.tShop ON tEntityPlatform.kShop = tShop.kShop
    WHERE tEntityPlatform.nEntityType = 2
        AND tShop.nTyp = 4
        AND tEntityPlatform.dInactive IS NULL
        AND tEntityPlatform.dActive IS NOT NULL
)
GO
