USE [eazybusiness]
GO
/****** Object:  View [Pos].[vDeliveryMethod]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vDeliveryMethod]
AS
(
	SELECT DISTINCT
		tversandart.kVersandArt AS kDeliveryMethod,
		tversandart.cName,
		tversandart.fPrice,
		tversandart.fMwSt,
		tversandart.fVKFreiAB,
		tversandart.kSteuerklasse,
		ISNULL(tversandart.cAuftragsText, '') AS cOrderText
	FROM dbo.tversandart
	WHERE tversandart.cAktiv = 'Y'
		AND tversandart.kMainVersandart = 0
);
GO
