USE [eazybusiness]
GO
/****** Object:  View [Pos].[vOrder]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vOrder] AS
(
	SELECT DISTINCT
		tAuftrag.kAuftrag AS kOrder,
		tAuftrag.cAuftragsNr AS cOrderNumber,
		tAuftrag.cExterneAuftragsnummer AS cExternalOrderNumber,
		tAuftrag.nBeschreibung AS nDescriptionType,
		tAuftrag.cWaehrung AS cCurrencyIso,
		tAuftragText.cAnmerkung AS cNote,
		tAuftrag.dErstellt AS dCreationDate,
		tAuftrag.dVoraussichtlichesLieferdatum AS dShippingDate,
		tAuftragText.cHinweis AS cComment,
		tSprachen.cISO AS cLanguageIso,
		tversandart.cName AS cShippingName,
		tZahlungsart.cName AS cPaymentMethodName,
		tkunde.cKundenNr AS cCustomerNumber,
		Lieferadresse.cName AS cShippingAddressName,
		Rechnungsadresse.cName AS cBillingAddressName,
		CASE WHEN tRechnung.kRechnung IS NOT NULL
				OR tAuftrag.nIstReadOnly > 0
				OR tAuftrag.nIstExterneRechnung > 0
				OR tLieferschein.kLieferschein IS NOT NULL
				OR Pickliste.nPickliste IS NOT NULL
			THEN CAST(0 AS BIT)
			ELSE CAST(1 AS BIT)
		END AS nChangeable,
		Rechnungsadresse.cFirma AS cBillingAddressCompany,
		Lieferadresse.cFirma AS cShippingAddressCompany,
		tRechnung.cRechnungsnr AS cInvoiceNumber,
		tAuftrag.cKundeUstId AS cTaxId
	FROM Verkauf.tAuftrag
	LEFT JOIN Verkauf.tAuftragText
		ON tAuftrag.kAuftrag = tAuftragText.kAuftrag
	LEFT JOIN dbo.tversandart
		ON tAuftrag.kVersandArt = tversandart.kVersandArt
	LEFT JOIN dbo.tSprachen
		ON tAuftrag.kSprache = tSprachen.kSprache
	LEFT JOIN dbo.tZahlungsart
		ON tAuftrag.kZahlungsArt = tZahlungsart.kZahlungsart
	JOIN Verkauf.vAuftragLieferadresse AS Lieferadresse
		ON tAuftrag.kAuftrag = Lieferadresse.kAuftrag
	LEFT JOIN Verkauf.vAuftragRechnungsadresse AS Rechnungsadresse
		ON tAuftrag.kAuftrag = Rechnungsadresse.kAuftrag
	JOIN dbo.tkunde
		ON tAuftrag.kKunde = tkunde.kKunde
	LEFT JOIN dbo.tLieferschein ON tLieferschein.kBestellung = tAuftrag.kAuftrag
	OUTER APPLY
	(
		SELECT TOP(1) 1 AS nPickliste
		FROM dbo.tPicklistePos
		WHERE tPicklistePos.kBestellung = tAuftrag.kAuftrag
	) AS Pickliste
	LEFT JOIN Rechnung.tRechnungPosition ON tRechnungPosition.kAuftrag = tAuftrag.kAuftrag
	LEFT JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tRechnungPosition.kRechnung
	WHERE tAuftrag.kPlattform != 7
);
GO
