USE [eazybusiness]
GO
/****** Object:  View [Pos].[vCustomerGroup]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vCustomerGroup]
AS
(
	SELECT
		tKundenGruppe.kKundenGruppe AS kCustomerGroup,
        tKundenGruppe.cName,
		tKundenGruppe.nStandard,
		tKundenGruppe.fRabatt AS fDiscountPercent,
		CASE 
			WHEN tEntityTracking.bLastChanged > tEntityPlatform.bLastChanged
				THEN tEntityTracking.bLastChanged
			ELSE tEntityPlatform.bLastChanged
		END AS bLastChanged,		
		tEntityPlatform.kShop,
		tEntityTracking.dLastModified,
		tEntityPlatform.dActive,
		tEntityPlatform.dInactive	
	FROM dbo.tKundenGruppe
	JOIN Sync.tEntityTracking ON tKundenGruppe.kKundenGruppe = tEntityTracking.kEntityId 
		AND tEntityTracking.nEntityType = 6
		AND tEntityTracking.nSyncType = 4
	JOIN Sync.tEntityPlatform ON tEntityPlatform.kEntityId = tEntityTracking.kEntityId
		AND tEntityPlatform.nEntityType = tEntityTracking.nEntityType
	JOIN dbo.tShop ON tShop.kShop = tEntityPlatform.kShop
		AND tShop.nTyp = 4
	WHERE tEntityPlatform.dInactive IS NULL
)
GO
