USE [eazybusiness]
GO
/****** Object:  View [Pos].[vOrderPayment]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vOrderPayment]
AS
(
	SELECT 
		tZahlung.kBestellung AS kOrder,
		tZahlung.kZahlung AS kPayment,
		tZahlung.cName AS cPaymentMethodName,
		tZahlung.fBetrag AS fAmount,
		tZahlung.cExternalTransactionId AS cExternalTransactionId,
		tZahlung.cHinweis AS cNote,
		tZahlung.nZahlungstyp AS nType
	FROM dbo.tZahlung
);
GO
