USE [eazybusiness]
GO
/****** Object:  View [Pos].[vProductAttribute]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vProductAttribute]
AS
(
	SELECT
		tArtikelAttribut.kArtikel AS kProduct,
		tAttributSprache.cName AS cName,
		0.0 AS fPrice,
		tAttribut.nSortierung AS nSort,
		tAttribut.kFeldTyp AS kType,
		tAttribut.cGruppeName AS cGroup
	FROM dbo.tArtikelAttribut
	JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	JOIN dbo.tAttribut ON tArtikelAttribut.kAttribut = tAttribut.kAttribut
	JOIN tAttributSprache ON tAttribut.kAttribut = tAttributSprache.kAttribut
		AND (tAttributSprache.kSprache = tSpracheUsed.kSprache OR tAttributSprache.kSprache = 0)
)
GO
