USE [eazybusiness]
GO
/****** Object:  View [Pos].[vProductVariant]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vProductVariant]
AS
(
	SELECT
		tArtikel.kArtikel AS kProduct,
		tEigenschaftWertSprache.cName AS cVariantName
	FROM dbo.tArtikel
	JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	JOIN dbo.tEigenschaftKombiWert ON tArtikel.kEigenschaftKombi = tEigenschaftKombiWert.kEigenschaftKombi
	JOIN dbo.teigenschaftwert ON tEigenschaftKombiWert.kEigenschaftWert = teigenschaftwert.kEigenschaftWert
	JOIN dbo.tEigenschaftWertSprache ON teigenschaftwert.kEigenschaftWert = tEigenschaftWertSprache.kEigenschaftWert
		AND tEigenschaftWertSprache.kSprache = tSpracheUsed.kSprache
)
GO
