USE [eazybusiness]
GO
/****** Object:  View [Pos].[vProductOption]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vProductOption]
AS
(
	SELECT
		teigenschaft.kArtikel AS kProduct,
		tEigenschaftSprache.cName AS cOptionName,
		tEigenschaftWertSprache.cName AS cOptionValue
	FROM dbo.teigenschaft
	JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	JOIN dbo.teigenschaftwert ON teigenschaft.kEigenschaft = teigenschaftwert.kEigenschaft
	JOIN dbo.tEigenschaftSprache ON teigenschaft.kEigenschaft = tEigenschaftSprache.kEigenschaft
		AND tEigenschaftSprache.kSprache = tSpracheUsed.kSprache
	JOIN tEigenschaftWertSprache ON teigenschaftwert.kEigenschaftWert = tEigenschaftWertSprache.kEigenschaftWert
		AND tEigenschaftWertSprache.kSprache = tSpracheUsed.kSprache
)
GO
