USE [eazybusiness]
GO
/****** Object:  Table [Pos].[tQueue]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pos].[tQueue](
	[kQueue] [int] IDENTITY(1,1) NOT NULL,
	[cFehler] [nvarchar](max) NULL,
	[cJson] [nvarchar](max) NOT NULL,
	[nCount] [tinyint] NOT NULL,
	[nFailedStep] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[kShopSubShop] [int] NOT NULL,
	[nInBearbeitung] [bit] NOT NULL,
 CONSTRAINT [PK_Pos_tQueue] PRIMARY KEY CLUSTERED 
(
	[kQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Pos].[tQueue] ADD  CONSTRAINT [DF_Pos_tQueue_nCount]  DEFAULT ((0)) FOR [nCount]
GO
ALTER TABLE [Pos].[tQueue] ADD  CONSTRAINT [DF_Pos_tQueue_nInBearbeitung]  DEFAULT ((0)) FOR [nInBearbeitung]
GO
