USE [eazybusiness]
GO
/****** Object:  View [Pos].[vProductPosAttribute]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vProductPosAttribute]
AS
(
	SELECT
		tShop.kShop,
		ISNULL(ArtikelAttributShop.kArtikel, ArtikelAttributWawi.kArtikel) AS kProduct,
		tAttributSprache.cName AS cName,
		CASE WHEN COALESCE(ArtikelAttributSpracheShop.cWertVarchar, ArtikelAttributSpracheWawi.cWertVarchar, '') = ''
			THEN CONVERT(VARCHAR(255), ISNULL(ArtikelAttributSpracheShop.nWertInt, ArtikelAttributSpracheWawi.nWertInt))
			ELSE ISNULL(ArtikelAttributSpracheShop.cWertVarchar, ArtikelAttributSpracheWawi.cWertVarchar)
		END AS cValue,
		ISNULL(ArtikelAttributSpracheShop.fWertDecimal, ArtikelAttributSpracheWawi.fWertDecimal) AS fValueDecimal
	FROM dbo.tAttributSprache
	JOIN dbo.tShop ON tShop.nTyp = 4
	JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	LEFT JOIN dbo.tArtikelAttribut AS ArtikelAttributShop ON ArtikelAttributShop.kAttribut = tAttributSprache.kAttribut
		AND ArtikelAttributShop.kShop = tShop.kShop
	LEFT JOIN dbo.tArtikelAttribut AS ArtikelAttributWawi ON ArtikelAttributWawi.kAttribut = tAttributSprache.kAttribut
		AND ArtikelAttributWawi.kShop = 0
	LEFT JOIN dbo.tArtikelAttributSprache AS ArtikelAttributSpracheShop ON ArtikelAttributSpracheShop.kArtikelAttribut = ArtikelAttributShop.kArtikelAttribut
		AND (ArtikelAttributSpracheShop.kSprache = tSpracheUsed.kSprache OR ArtikelAttributSpracheShop.kSprache = 0)
	LEFT JOIN dbo.tArtikelAttributSprache AS ArtikelAttributSpracheWawi ON ArtikelAttributSpracheWawi.kArtikelAttribut = ArtikelAttributWawi.kArtikelAttribut
		AND (ArtikelAttributSpracheWawi.kSprache = tSpracheUsed.kSprache OR ArtikelAttributSpracheWawi.kSprache = 0)
	WHERE tAttributSprache.cName IN ('Rabatte ignorieren', 'Pfandartikel', 'Pfandbetrag', 'Auswahl Steuer "Im Haus" / "Außer Haus" möglich',
		'Artikelmenge auf Bons in separaten Positionen ausgeben', 'Internen Bon drucken', 'Pfandart (Bezeichnung auf Ausdruck)', 'PLU',
		'Preisabfrage', 'Mengenabfrage')
		AND NOT ISNULL(ArtikelAttributShop.kArtikel, ArtikelAttributWawi.kArtikel) IS NULL
)
GO
