USE [eazybusiness]
GO
/****** Object:  View [Pos].[vCustomer]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vCustomer]
AS
(
	SELECT
		Customer.kKunde AS kId,
		Customer.cKundenNr AS cCustomerNumber,
		ISNULL(CustomerAddress.cVorname, '') AS cFirstName,
		ISNULL(CustomerAddress.cName, '') AS cLastName,
		ISNULL(CustomerAddress.cTitel, '') AS cTitle,
		ISNULL(CustomerAddress.cFirma, '') AS cCompany,
		ISNULL(CustomerAddress.cStrasse, '') AS [cAddress],
		ISNULL(CustomerAddress.cAdressZusatz, '') AS cAddressSupplement,
		ISNULL(CustomerAddress.cOrt, '') AS cCity,
		ISNULL(CustomerAddress.cPLZ, '') AS cPostalCode,
		ISNULL(CustomerAddress.cBundesland, '') AS [cState],
		ISNULL(CustomerAddress.cLand, '') AS cCountry,
		ISNULL(CustomerAddress.cTel, '') AS cPhone,
		ISNULL(CustomerAddress.cMail, '') AS cEmailAddress,
		Customer.kKundengruppe AS kCustomerGroupId,
		ISNULL(CustomerAddress.cAnrede, '') AS cSalutation,
		ISNULL(Customer.cGeburtstag, '') AS cDateOfBirth,
		Customer.fRabatt AS fDiscount,
		ISNULL(CustomerAddress.cUSTID, '') AS cFederalTaxId,
		Customer.nDebitorennr AS nDebtorNumber,
		CASE 
			WHEN tEntityTracking.bLastChanged > tEntityPlatform.bLastChanged
				THEN tEntityTracking.bLastChanged
			ELSE tEntityPlatform.bLastChanged
		END AS bLastChanged,
		tEntityPlatform.kShop,
		tEntityTracking.dLastModified,
		tEntityPlatform.dActive,
		tEntityPlatform.dInactive,
		IIF(Customer.cKassenKunde = 'Y', 1, 0) AS nIstKassenkunde
	FROM dbo.tkunde AS Customer
	JOIN dbo.tAdresse AS CustomerAddress ON CustomerAddress.kKunde = Customer.kKunde AND CustomerAddress.nTyp = 1 AND CustomerAddress.nStandard = 1
	LEFT JOIN Sync.tEntityTracking ON Customer.kKunde = tEntityTracking.kEntityId 
		AND tEntityTracking.nEntityType = 4
		AND tEntityTracking.nSyncType = 4
	LEFT JOIN Sync.tEntityPlatform ON tEntityPlatform.kEntityId = tEntityTracking.kEntityId
		AND tEntityPlatform.nEntityType = tEntityTracking.nEntityType
)
GO
