USE [eazybusiness]
GO
/****** Object:  View [Pos].[vOrderShippingAddress]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW	[Pos].[vOrderShippingAddress]
AS
(
	SELECT tAuftrag.kAuftrag AS kOrder,
		Lieferadresse.cVorname AS cFirstName,
		Lieferadresse.cName AS cLastName,
		Lieferadresse.cFirma AS cCompany,
		Lieferadresse.cStrasse AS cStreet,
		Lieferadresse.cPLZ AS cZip,
		Lieferadresse.cOrt AS cCity,
		Lieferadresse.cTel AS cPhone,
		Lieferadresse.cFax AS cFax,
		Lieferadresse.cMail AS cMail,
		Lieferadresse.cAnrede AS cSalutation,
		Lieferadresse.cAdressZusatz AS cExtraAddressLine,
		Lieferadresse.cMobil AS cMobile,
		Lieferadresse.cTitel AS cTitle,
		Lieferadresse.cZusatz AS cDeliveryInstruction,
		Lieferadresse.cBundesland AS cState,
		Lieferadresse.cISO AS cCountryIso
	FROM Verkauf.tAuftrag
	JOIN Verkauf.vAuftragLieferadresse AS Lieferadresse
		ON tAuftrag.kAuftrag = Lieferadresse.kAuftrag
);
GO
