USE [eazybusiness]
GO
/****** Object:  Table [Pos].[tServerConfig]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pos].[tServerConfig](
	[cIpAddress] [nvarchar](50) NOT NULL,
	[nPort] [int] NOT NULL,
	[cCertificateFingerprint] [nvarchar](255) NOT NULL,
	[cCertificateSerialNumber] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Pos].[tServerConfig] ADD  CONSTRAINT [DF_Pos_tServerConfig_cCertificateFingerprint]  DEFAULT ('') FOR [cCertificateFingerprint]
GO
ALTER TABLE [Pos].[tServerConfig] ADD  CONSTRAINT [DF_Pos_tServerConfig_cCertificateSerialNumber]  DEFAULT ('') FOR [cCertificateSerialNumber]
GO
