USE [eazybusiness]
GO
/****** Object:  Table [Pos].[tAuftragMapping]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pos].[tAuftragMapping](
	[kAuftrag] [int] NULL,
	[kPosAuftrag] [int] NOT NULL,
	[kShopSubShop] [int] NOT NULL
) ON [PRIMARY]
GO
