USE [eazybusiness]
GO
/****** Object:  View [Pos].[lvQueue]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[lvQueue]
AS
(
	SELECT
		tQueue.kQueue,
		tQueue.cFehler,
		tQueue.cJson,
		tQueue.nCount,
		tQueue.nFailedStep,
		tQueue.kAuftrag,
		tAuftrag.cAuftragsNr,
		tAuftrag.cExterneAuftragsnummer,
		tQueue.kShop,
		tShop.cName AS cFiliale,
		tShopSubshop.cIdentifier AS cKasse,
		tQueue.nInBearbeitung,
		tShopSubshop.kShopSubshop
	FROM Pos.tQueue
	JOIN dbo.tShop ON tShop.kShop = tQueue.kShop
	JOIN dbo.tShopSubshop ON tShopSubshop.kShopSubshop = tQueue.kShopSubShop
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tQueue.kAuftrag
)
GO
