USE [eazybusiness]
GO
/****** Object:  View [Pos].[vConfigurationGroup]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vConfigurationGroup]
AS
(
	SELECT
		tkonfiggruppe.kKonfiggruppe AS kConfigurationGroup,
		tkonfiggruppesprache.cName AS cName,
		CASE 
			WHEN tkonfiggruppe.nMax > 1
				THEN 2
			WHEN tkonfiggruppe.nMax = 1
				THEN 1
			ELSE 0
		END AS nType,
		CASE 
			WHEN tkonfiggruppe.nMin > 0 
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS nRequired,
		0 AS nStatus,
		CASE 
			WHEN tEntityTracking.bLastChanged > tEntityPlatform.bLastChanged
				THEN tEntityTracking.bLastChanged
			ELSE tEntityPlatform.bLastChanged
		END AS bLastChanged,
		tEntityPlatform.kShop,
		tEntityTracking.dLastModified,
		tEntityPlatform.dActive,
		tEntityPlatform.dInactive	
	FROM dbo.tkonfiggruppe	
	JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	JOIN dbo.tkonfiggruppesprache ON tkonfiggruppesprache.kKonfiggruppe = tkonfiggruppe.kKonfiggruppe
		AND tkonfiggruppesprache.kSprache = tSpracheUsed.kSprache
	JOIN Sync.tEntityTracking ON tkonfiggruppe.kKonfiggruppe = tEntityTracking.kEntityId
		AND tEntityTracking.nEntityType = 8
		AND tEntityTracking.nSyncType = 4
	JOIN Sync.tEntityPlatform ON tEntityPlatform.kEntityId = tEntityTracking.kEntityId
		AND tEntityPlatform.nEntityType = tEntityTracking.nEntityType
	JOIN dbo.tShop ON tShop.kShop = tEntityPlatform.kShop
		AND tShop.nTyp = 4
	WHERE tEntityPlatform.dInactive IS NULL
)
GO
