USE [eazybusiness]
GO
/****** Object:  View [Pos].[vOrderItem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW	[Pos].[vOrderItem]
AS
(
	SELECT tAuftragPosition.kAuftrag AS kOrder,
		tAuftragPosition.kAuftragPosition AS kOrderPos,
		tAuftragPosition.kArtikel AS kProduct,
		tAuftragPosition.fVKNetto AS fPriceNet,
		tAuftragPosition.fMwSt AS fVat,
		tAuftragPosition.fAnzahl AS nQuantity,
		tAuftragPosition.cName AS cName,
		tAuftragPosition.cArtNr AS cSku,
		tAuftragPosition.cEinheit AS cUnit,
		tAuftragPosition.nType AS nType,
		tAuftragPosition.fRabatt AS fDiscount,
		tAuftragPosition.cHinweis AS cNote,
		tAuftragPosition.fEKNetto AS fPurchasePriceNet,
		tAuftragPosition.kKonfigVater AS kConfigurationParent,
		tAuftragPosition.kKonfigItem AS kConfigurationitem,
		tVoucherEinloesungen.cVoucherId,
		tVoucherEinloesungen.cUsageId
	FROM Verkauf.tAuftragPosition
	LEFT JOIN dbo.tVoucherEinloesungen ON tVoucherEinloesungen.kAuftragPosition = tAuftragPosition.kAuftragPosition
);
GO
