USE [eazybusiness]
GO
/****** Object:  View [Pos].[vProductComposite]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vProductComposite]
AS
(
	SELECT
		tArtikel.kArtikel AS kProduct,
		tStueckliste.kArtikel AS kProductIdComponent,
		tStueckliste.fAnzahl AS fQuantity,
		CASE 
			WHEN tEntityTracking.bLastChanged > tEntityPlatform.bLastChanged
				THEN tEntityTracking.bLastChanged
			ELSE tEntityPlatform.bLastChanged
		END AS bLastChanged,
		tEntityPlatform.kShop,
		tEntityTracking.dLastModified,
		tEntityPlatform.dActive,
		tEntityPlatform.dInactive	
	FROM dbo.tArtikel
	JOIN dbo.tStueckliste ON tStueckliste.kStueckliste = tArtikel.kStueckliste
	JOIN Sync.tEntityTracking ON tArtikel.kStueckliste = tEntityTracking.kEntityId
		AND tEntityTracking.nEntityType = 7
		AND tEntityTracking.nSyncType = 4
	JOIN Sync.tEntityPlatform ON tEntityPlatform.kEntityId = tEntityTracking.kEntityId
		AND tEntityPlatform.nEntityType = tEntityTracking.nEntityType
	JOIN dbo.tShop ON tShop.kShop = tEntityPlatform.kShop
		AND tShop.nTyp = 4
	WHERE tEntityPlatform.dInactive IS NULL
)
GO
