USE [eazybusiness]
GO
/****** Object:  View [Pos].[vConfigurationItem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pos].[vConfigurationItem]
AS
(
	SELECT
		tkonfigitem.kKonfigitem AS kConfigurationItem,
		tkonfigitem.kArtikel AS kProduct,
		CASE
			WHEN tkonfigitemsprache.cName IS NOT NULL
				THEN tkonfigitemsprache.cName
			WHEN tkonfigitemsprache.cName IS NULL AND ArtikelShopBeschreibung.cName IS NOT NULL
				THEN ArtikelShopBeschreibung.cName
			ELSE ISNULL(ArtikelWawiBeschreibung.cName, '')
		END AS cName,
		tArtikel.fVKNetto AS fPrice,
		tkonfigitem.nSort,
		CASE 
			WHEN tkonfigitem.fMax > 1
				THEN 2
			WHEN tkonfigitem.fMax = 1
				THEN 1
			ELSE 0
		END AS nType,
		tkonfiggruppesprache.cName AS cGroupName,
		CASE 
			WHEN tkonfigitem.fMin > 0 
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS nRequired,
		CASE
			WHEN tArtikel.cAktiv = 'Y'
				THEN 0
			ELSE 1
		END AS nStatus,
		tkonfigitem.bSelektiert AS nPreselection,
		tkonfigitem.kKonfiggruppe AS kConfigurationGroup,
		0 AS nInternalUse,
		tArtikel.kSteuerklasse,
		CASE 
			WHEN tEntityTracking.bLastChanged > tEntityPlatform.bLastChanged
				THEN tEntityTracking.bLastChanged
			ELSE tEntityPlatform.bLastChanged
		END AS bLastChanged,
		tEntityPlatform.kShop,
		tEntityTracking.dLastModified,
		tEntityPlatform.dActive,
		tEntityPlatform.dInactive	
	FROM dbo.tkonfigitem
	JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	JOIN dbo.tPlattform AS PlattformWawi ON PlattformWawi.nTyp = 1
	JOIN dbo.tPlattform AS PlattformShop ON PlattformShop.nTyp = 2
	JOIN dbo.tArtikel ON tArtikel.kArtikel = tkonfigitem.kArtikel
	JOIN dbo.tkonfiggruppe ON tkonfiggruppe.kKonfiggruppe = tkonfigitem.kKonfiggruppe
	JOIN dbo.tkonfiggruppesprache ON tkonfiggruppesprache.kKonfiggruppe = tkonfiggruppe.kKonfiggruppe
		AND tkonfiggruppesprache.kSprache = tSpracheUsed.kSprache
	LEFT JOIN dbo.tkonfigitemsprache ON tkonfigitemsprache.kKonfigitem = tkonfigitem.kKonfigitem
		AND tkonfigitemsprache.kSprache = tSpracheUsed.kSprache
	LEFT JOIN dbo.tArtikelBeschreibung AS ArtikelShopBeschreibung ON ArtikelShopBeschreibung.kArtikel = tArtikel.kArtikel
		AND ArtikelShopBeschreibung.kSprache = tSpracheUsed.kSprache
		AND ArtikelShopBeschreibung.kPlattform = PlattformShop.nPlattform
	LEFT JOIN dbo.tArtikelBeschreibung AS ArtikelWawiBeschreibung ON ArtikelWawiBeschreibung.kArtikel = tArtikel.kArtikel
		AND ArtikelWawiBeschreibung.kSprache = tSpracheUsed.kSprache
		AND ArtikelWawiBeschreibung.kPlattform = PlattformWawi.nPlattform
	JOIN Sync.tEntityTracking ON tkonfigitem.kKonfigitem = tEntityTracking.kEntityId
		AND tEntityTracking.nEntityType = 9 
		AND tEntityTracking.nSyncType = 4
	JOIN Sync.tEntityPlatform ON tEntityPlatform.kEntityId = tEntityTracking.kEntityId
		AND tEntityPlatform.nEntityType = tEntityTracking.nEntityType
	JOIN dbo.tShop ON tShop.kShop = tEntityPlatform.kShop
		AND tShop.nTyp = 4
	WHERE tEntityPlatform.dInactive IS NULL
)
GO
