USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameterAssignmentTargetValueObjectType]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameterAssignmentTargetValueObjectType](
	[kProcessParameterAssignmentTargetValueObjectType] [int] IDENTITY(1,1) NOT NULL,
	[kProcessParameterAssignment] [int] NOT NULL,
	[kProcessParameterTargetValueObjectType] [int] NOT NULL,
	[nIsTargetValueRequired] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[iValueSourceType] [uniqueidentifier] NULL,
	[kValueSource] [int] NULL,
 CONSTRAINT [PK_PParams_tProcessParameterAssignmentTargetValueObjectType] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterAssignmentTargetValueObjectType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PParams_tProcessParameterAssignmentTargetValueObjectType_kProcessParameterAssignment_kProcessParameterTargetValueObjectType] UNIQUE NONCLUSTERED 
(
	[kProcessParameterAssignment] ASC,
	[kProcessParameterTargetValueObjectType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PParams].[tProcessParameterAssignmentTargetValueObjectType] ADD  CONSTRAINT [DF_PParams_tProcessParameterAssignmentTargetValueObjectType_nIsTargetValueRequired]  DEFAULT ((0)) FOR [nIsTargetValueRequired]
GO
ALTER TABLE [PParams].[tProcessParameterAssignmentTargetValueObjectType]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterAssignmentTargetValueObjectType_kProcessParameterAssignment] FOREIGN KEY([kProcessParameterAssignment])
REFERENCES [PParams].[tProcessParameterAssignment] ([kProcessParameterAssignment])
GO
ALTER TABLE [PParams].[tProcessParameterAssignmentTargetValueObjectType] CHECK CONSTRAINT [FK_PParams_tProcessParameterAssignmentTargetValueObjectType_kProcessParameterAssignment]
GO
ALTER TABLE [PParams].[tProcessParameterAssignmentTargetValueObjectType]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterAssignmentTargetValueObjectType_kProcessParameterTargetValueObjectType] FOREIGN KEY([kProcessParameterTargetValueObjectType])
REFERENCES [PParams].[tProcessParameterTargetValueObjectType] ([kProcessParameterTargetValueObjectType])
GO
ALTER TABLE [PParams].[tProcessParameterAssignmentTargetValueObjectType] CHECK CONSTRAINT [FK_PParams_tProcessParameterAssignmentTargetValueObjectType_kProcessParameterTargetValueObjectType]
GO
ALTER TABLE [PParams].[tProcessParameterAssignmentTargetValueObjectType]  WITH CHECK ADD  CONSTRAINT [CK_PParams_tProcessParameterAssignmentTargetValueObjectType_iValueSourceType_kValueSource] CHECK  (([iValueSourceType] IS NULL AND [kValueSource] IS NULL OR [iValueSourceType] IS NOT NULL AND [kValueSource] IS NOT NULL))
GO
ALTER TABLE [PParams].[tProcessParameterAssignmentTargetValueObjectType] CHECK CONSTRAINT [CK_PParams_tProcessParameterAssignmentTargetValueObjectType_iValueSourceType_kValueSource]
GO
