USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameterActualValue]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameterActualValue](
	[kProcessParameterActualValue] [int] IDENTITY(1,1) NOT NULL,
	[kProcessParameterAssignment] [int] NOT NULL,
	[kActualValueObject] [int] NOT NULL,
	[nValueInt] [int] NULL,
	[nValueDecimal] [decimal](25, 13) NULL,
	[cValueText] [nvarchar](max) NULL,
	[dValueDateTime] [datetimeoffset](7) NULL,
	[kFile] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PParams_tProcessParameterActualValue] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterActualValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PParams_tProcessParameterActualValue_kProcessParameterAssignment_kProcessParameterActualValueObject] UNIQUE NONCLUSTERED 
(
	[kProcessParameterAssignment] ASC,
	[kActualValueObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [PParams].[tProcessParameterActualValue]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterActualValue_kFile] FOREIGN KEY([kFile])
REFERENCES [dbo].[tFile] ([kFile])
ON UPDATE CASCADE
GO
ALTER TABLE [PParams].[tProcessParameterActualValue] CHECK CONSTRAINT [FK_PParams_tProcessParameterActualValue_kFile]
GO
ALTER TABLE [PParams].[tProcessParameterActualValue]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterActualValue_kProcessParameterAssignment] FOREIGN KEY([kProcessParameterAssignment])
REFERENCES [PParams].[tProcessParameterAssignment] ([kProcessParameterAssignment])
GO
ALTER TABLE [PParams].[tProcessParameterActualValue] CHECK CONSTRAINT [FK_PParams_tProcessParameterActualValue_kProcessParameterAssignment]
GO
