USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameter]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameter](
	[kProcessParameter] [int] IDENTITY(1,1) NOT NULL,
	[kProcessParameterGroup] [int] NOT NULL,
	[cId] [nvarchar](100) NULL,
	[nValueType] [int] NOT NULL,
	[cInternalDescription] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cFileDialogFilter] [nvarchar](max) NULL,
 CONSTRAINT [PK_PParams_tProcessParameter] PRIMARY KEY CLUSTERED 
(
	[kProcessParameter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [PParams].[tProcessParameter]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameter_kProcessParameterGroup] FOREIGN KEY([kProcessParameterGroup])
REFERENCES [PParams].[tProcessParameterGroup] ([kProcessParameterGroup])
GO
ALTER TABLE [PParams].[tProcessParameter] CHECK CONSTRAINT [FK_PParams_tProcessParameter_kProcessParameterGroup]
GO
ALTER TABLE [PParams].[tProcessParameter]  WITH CHECK ADD  CONSTRAINT [CK_PParams_tProcessParameter_nValueType] CHECK  (([nValueType]=(6) OR [nValueType]=(5) OR [nValueType]=(4) OR [nValueType]=(3) OR [nValueType]=(2) OR [nValueType]=(1) OR [nValueType]=(0)))
GO
ALTER TABLE [PParams].[tProcessParameter] CHECK CONSTRAINT [CK_PParams_tProcessParameter_nValueType]
GO
ALTER TABLE [PParams].[tProcessParameter]  WITH CHECK ADD  CONSTRAINT [CK_PParams_tProcessParameter_nValueType_cFileDialogFilter] CHECK  (([nValueType]=(6) OR ([nValueType]=(5) OR [nValueType]=(4) OR [nValueType]=(3) OR [nValueType]=(2) OR [nValueType]=(1) OR [nValueType]=(0)) AND [cFileDialogFilter] IS NULL))
GO
ALTER TABLE [PParams].[tProcessParameter] CHECK CONSTRAINT [CK_PParams_tProcessParameter_nValueType_cFileDialogFilter]
GO
