USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameterActualValueObjectType]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameterActualValueObjectType](
	[kProcessParameterActualValueObjectType] [int] IDENTITY(1,1) NOT NULL,
	[kProcessParameter] [int] NOT NULL,
	[iActualValueObjectType] [uniqueidentifier] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PParams_tProcessParameterActualValueObjectType] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterActualValueObjectType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PParams_tProcessParameterActualValueObjectType_kProcessParameter_iActualValueObjectType] UNIQUE NONCLUSTERED 
(
	[kProcessParameter] ASC,
	[iActualValueObjectType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PParams].[tProcessParameterActualValueObjectType]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterActualValueObjectType_kProcessParameter] FOREIGN KEY([kProcessParameter])
REFERENCES [PParams].[tProcessParameter] ([kProcessParameter])
GO
ALTER TABLE [PParams].[tProcessParameterActualValueObjectType] CHECK CONSTRAINT [FK_PParams_tProcessParameterActualValueObjectType_kProcessParameter]
GO
