USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameterTargetValue]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameterTargetValue](
	[kProcessParameterTargetValue] [int] IDENTITY(1,1) NOT NULL,
	[kProcessParameterAssignmentTargetValueObjectType] [int] NOT NULL,
	[kTargetValueObject] [int] NOT NULL,
	[nValueInt] [int] NULL,
	[nValueDecimal] [decimal](25, 13) NULL,
	[cValueText] [nvarchar](max) NULL,
	[dValueDateTime] [datetimeoffset](7) NULL,
	[kFile] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PParams_tProcessParameterTargetValue] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterTargetValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PParams_tProcessParameterTargetValue_kProcessParameterAssignmentTargetValueObjectType_kTargetValueObject] UNIQUE NONCLUSTERED 
(
	[kProcessParameterAssignmentTargetValueObjectType] ASC,
	[kTargetValueObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [PParams].[tProcessParameterTargetValue]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterTargetValue_kFile] FOREIGN KEY([kFile])
REFERENCES [dbo].[tFile] ([kFile])
ON UPDATE CASCADE
GO
ALTER TABLE [PParams].[tProcessParameterTargetValue] CHECK CONSTRAINT [FK_PParams_tProcessParameterTargetValue_kFile]
GO
ALTER TABLE [PParams].[tProcessParameterTargetValue]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterTargetValue_kProcessParameterAssignmentTargetValueObjectType] FOREIGN KEY([kProcessParameterAssignmentTargetValueObjectType])
REFERENCES [PParams].[tProcessParameterAssignmentTargetValueObjectType] ([kProcessParameterAssignmentTargetValueObjectType])
GO
ALTER TABLE [PParams].[tProcessParameterTargetValue] CHECK CONSTRAINT [FK_PParams_tProcessParameterTargetValue_kProcessParameterAssignmentTargetValueObjectType]
GO
