USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameterAssignment]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameterAssignment](
	[kProcessParameterAssignment] [int] IDENTITY(1,1) NOT NULL,
	[kProcessParameter] [int] NOT NULL,
	[kAssignmentObject] [int] NOT NULL,
	[nUsageType] [int] NOT NULL,
	[kProcessParameterActualValueObjectType] [int] NULL,
	[nIsActualValueRequired] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PParams_tProcessParameterAssignment] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterAssignment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PParams_tProcessParameterAssignment_kProcessParameter_kAssignmentObject] UNIQUE NONCLUSTERED 
(
	[kProcessParameter] ASC,
	[kAssignmentObject] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PParams].[tProcessParameterAssignment] ADD  CONSTRAINT [DF_PParams_tProcessParameterAssignment_nIsActualValueRequired]  DEFAULT ((0)) FOR [nIsActualValueRequired]
GO
ALTER TABLE [PParams].[tProcessParameterAssignment]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterAssignment_kProcessParameter] FOREIGN KEY([kProcessParameter])
REFERENCES [PParams].[tProcessParameter] ([kProcessParameter])
GO
ALTER TABLE [PParams].[tProcessParameterAssignment] CHECK CONSTRAINT [FK_PParams_tProcessParameterAssignment_kProcessParameter]
GO
ALTER TABLE [PParams].[tProcessParameterAssignment]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterAssignment_kProcessParameterActualValueObjectType] FOREIGN KEY([kProcessParameterActualValueObjectType])
REFERENCES [PParams].[tProcessParameterActualValueObjectType] ([kProcessParameterActualValueObjectType])
GO
ALTER TABLE [PParams].[tProcessParameterAssignment] CHECK CONSTRAINT [FK_PParams_tProcessParameterAssignment_kProcessParameterActualValueObjectType]
GO
ALTER TABLE [PParams].[tProcessParameterAssignment]  WITH CHECK ADD  CONSTRAINT [CK_PParams_tProcessParameterAssignment_nUsageType_kProcessParameterActualValueObjectType] CHECK  ((([nUsageType]=(2) OR [nUsageType]=(1) OR [nUsageType]=(0)) AND [kProcessParameterActualValueObjectType] IS NOT NULL))
GO
ALTER TABLE [PParams].[tProcessParameterAssignment] CHECK CONSTRAINT [CK_PParams_tProcessParameterAssignment_nUsageType_kProcessParameterActualValueObjectType]
GO
ALTER TABLE [PParams].[tProcessParameterAssignment]  WITH CHECK ADD  CONSTRAINT [CK_PParams_tProcessParameterAssignment_nUsageType_nIsActualValueRequired] CHECK  (([nUsageType]=(1) OR [nUsageType]=(0) OR [nUsageType]=(2) AND [nIsActualValueRequired]=(0)))
GO
ALTER TABLE [PParams].[tProcessParameterAssignment] CHECK CONSTRAINT [CK_PParams_tProcessParameterAssignment_nUsageType_nIsActualValueRequired]
GO
