USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameterGroup]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameterGroup](
	[kProcessParameterGroup] [int] IDENTITY(1,1) NOT NULL,
	[iAssignmentObjectType] [uniqueidentifier] NOT NULL,
	[cInternalDescription] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PParams_tProcessParameterGroup] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
