USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameterTargetValueObjectType]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameterTargetValueObjectType](
	[kProcessParameterTargetValueObjectType] [int] IDENTITY(1,1) NOT NULL,
	[kProcessParameter] [int] NOT NULL,
	[iTargetValueObjectType] [uniqueidentifier] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PParams_tProcessParameterTargetValueObjectType] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterTargetValueObjectType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PParams_tProcessParameterTargetValueObjectType_kProcessParameter_iTargetValueObjectType] UNIQUE NONCLUSTERED 
(
	[kProcessParameter] ASC,
	[iTargetValueObjectType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PParams].[tProcessParameterTargetValueObjectType]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterTargetValueObjectType_kProcessParameter] FOREIGN KEY([kProcessParameter])
REFERENCES [PParams].[tProcessParameter] ([kProcessParameter])
GO
ALTER TABLE [PParams].[tProcessParameterTargetValueObjectType] CHECK CONSTRAINT [FK_PParams_tProcessParameterTargetValueObjectType_kProcessParameter]
GO
