USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameterGroupLanguage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameterGroupLanguage](
	[kProcessParameterGroup] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PParams_tProcessParameterGroupLanguage] PRIMARY KEY CLUSTERED 
(
	[kProcessParameterGroup] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PParams].[tProcessParameterGroupLanguage]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterGroupLanguage_kProcessParameterGroup] FOREIGN KEY([kProcessParameterGroup])
REFERENCES [PParams].[tProcessParameterGroup] ([kProcessParameterGroup])
GO
ALTER TABLE [PParams].[tProcessParameterGroupLanguage] CHECK CONSTRAINT [FK_PParams_tProcessParameterGroupLanguage_kProcessParameterGroup]
GO
