USE [eazybusiness]
GO
/****** Object:  Table [PParams].[tProcessParameterLanguage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [PParams].[tProcessParameterLanguage](
	[kProcessParameter] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_PParams_tProcessParameterLanguage] PRIMARY KEY CLUSTERED 
(
	[kProcessParameter] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [PParams].[tProcessParameterLanguage]  WITH CHECK ADD  CONSTRAINT [FK_PParams_tProcessParameterLanguage_kProcessParameter] FOREIGN KEY([kProcessParameter])
REFERENCES [PParams].[tProcessParameter] ([kProcessParameter])
GO
ALTER TABLE [PParams].[tProcessParameterLanguage] CHECK CONSTRAINT [FK_PParams_tProcessParameterLanguage_kProcessParameter]
GO
