USE [eazybusiness]
GO
/****** Object:  View [pps].[vDisposition]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[vDisposition]
AS
/*************************************************************************************************************
Beschreibung:	Übersicht über die Dispositionen
*************************************************************************************************************/
SELECT
		IQ.kArtikel,
		IQ.kDisposition,
		IQ.cComment,
		IQ.BenutzerNameDispo,
		IQ.dCreated,
		IQ.dIntendedCompletionDate,
		IQ.nReferenceType,
		IQ.fQuantity,
		IQ.fActualQuantity,
		IQ.fPlannedQuantity,
		IQ.Produzierbar,
		IQ.InProduktion,
		IQ.fQuantityInProductionOrders,
		IQ.fActualQuantityWithProductionOrder,
		IQ.fPlannedQuantityWithProductionOrder,
		IQ.fActualQuantityInProductionOrders,
		IQ.nStatus,
		IQ.ReferenceFieldIssue,
		IQ.ReferenceFieldIssuePosition,
		IQ.kReferenceField,
		IQ.dIssueDate,
		IQ.Artikelnummer,
		IQ.Sortiernummer,
		IQ.Artikelname,
		IQ.Erstelldatum,
		IQ.Bearbeitungsdatum,
		IQ.kBenutzerLastChange,
		IQ.Mindestbestand,
		IQ.IstLagerfuehrungaktiv,
		IQ.IstAktiv,
		IQ.IstSeriennummer,
		IQ.IstStueckzahlteilbar,
		IQ.IstUeberverkaufMoeglich,
		IQ.IstVarkombikind,
		IQ.HatMindestbestand,
		IQ.IstMHD,
		IQ.IstCharge,
		IQ.IstFuerBestellvorschlagGesperrt,
		IQ.TeilmengenArtikel,
		IQ.SeriennummernVerfolgung,
		IQ.kSprache
FROM	(
			SELECT
						Art.kArtikel,
						Dispo.kDisposition,
						Dispo.cComment,
						Ben.cName AS BenutzerNameDispo,
						Dispo.dCreated,
						Dispo.dIntendedCompletionDate,
						Dispo.nReferenceType,
						Dispo.fQuantity,
						Dispo.nStatus,
						CASE
							WHEN Dispo.nReferenceType = 1 THEN VA.cAuftragsNr
							WHEN Dispo.nReferenceType = 2 THEN LiefB.cEigeneBestellnummer
							WHEN Dispo.nReferenceType = 3 THEN PO.cIssueNumber
							ELSE NULL
						END AS ReferenceFieldIssue,
						CASE
							WHEN Dispo.nReferenceType = 1 THEN CONVERT(NVARCHAR(5), VAP.nSort)
							WHEN Dispo.nReferenceType = 2 THEN CONVERT(NVARCHAR(5), LiefBPos.nSort)
							WHEN Dispo.nReferenceType = 3 THEN NULL
							ELSE NULL
						END AS ReferenceFieldIssuePosition,
						CASE
							WHEN Dispo.nReferenceType = 1 THEN VAP.kAuftragPosition
							WHEN Dispo.nReferenceType = 2 THEN LiefBPos.kLieferantenBestellungPos
							WHEN Dispo.nReferenceType = 3 THEN POP.kProductionOrderProducible
							ELSE NULL
						END AS kReferenceField,
						CASE
							WHEN Dispo.nReferenceType = 1 THEN VA.dErstellt
							WHEN Dispo.nReferenceType = 2 THEN LiefB.dErstellt
							WHEN Dispo.nReferenceType = 3 THEN PO.dIssueDate
							ELSE NULL
						END AS dIssueDate,
						Dispo.fActualQuantity,
						Dispo.fPlannedQuantity,
						Art.cArtNr AS Artikelnummer,
						ISNULL(Art.nSort, 0) AS Sortiernummer,
						ArtBe.cName AS Artikelname,
						PrI.dCreated AS Erstelldatum,
						PrI.dLastChanged AS Bearbeitungsdatum,
						PrI.kBenutzerLastChange,
						CASE
							WHEN Art.nIstMindestbestand > 0 THEN Art.nMidestbestand
							ELSE NULL
						END AS Mindestbestand,
						CAST(CASE WHEN Art.cLagerAktiv = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstLagerfuehrungaktiv,
						CAST(CASE WHEN Art.cAktiv = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstAktiv,
						CAST(CASE WHEN Art.cLagerArtikel = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstSeriennummer,
						CAST(CASE WHEN Art.cTeilbar = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstStueckzahlteilbar,
						CAST(CASE WHEN Art.cLagerKleinerNull = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstUeberverkaufMoeglich,
						CAST(CASE WHEN Art.kVaterArtikel > 0 THEN 1 ELSE 0 END AS BIT) AS IstVarkombikind,
						CAST(CASE WHEN Art.nIstMindestbestand > 0 THEN 1 ELSE 0 END AS BIT) AS HatMindestbestand,
						CAST(CASE WHEN Art.nMHD > 0 THEN 1 ELSE 0 END AS BIT) AS IstMHD,
						CAST(CASE WHEN Art.nCharge > 0 THEN 1 ELSE 0 END AS BIT) AS IstCharge,
						CAST(CASE WHEN Art.nNichtBestellbar > 0 THEN 1 ELSE 0 END AS BIT) AS IstFuerBestellvorschlagGesperrt,
						CAST(CASE WHEN Art.nIstTeilmengenArtikel > 0 THEN 1 ELSE 0 END AS BIT) AS TeilmengenArtikel,
						CAST(CASE WHEN Art.nSeriennummernVerfolgung > 0 THEN 1 ELSE 0 END AS BIT) AS SeriennummernVerfolgung,
						ArtBe.kSprache,
						ISNULL(LBV.fBestand, 0.0) AS Produzierbar, -- Bestand, welcher errechnet produzierbar ist.
						ISNULL(LBV.fZulauf, 0.0) + ISNULL(InProd.fInProduction, 0.0) AS InProduktion, -- Bestand, welcher aktuell produziert wird. Vorab Errechnet + Live Errechnet
						ISNULL(InPO.fTargetQuantity, 0.0) AS fQuantityInProductionOrders,
						ISNULL(InPO.fActualQuantity, Dispo.fActualQuantity) AS fActualQuantityWithProductionOrder,
						ISNULL(InPO.fTargetQuantity, Dispo.fPlannedQuantity) AS fPlannedQuantityWithProductionOrder,
						ISNULL(InPO.fActualQuantity, 0.0) AS fActualQuantityInProductionOrders
			FROM		pps.tDisposition AS Dispo
			JOIN		pps.tProdItem AS PrI ON Dispo.kArtikel = PrI.kArtikel
			JOIN		dbo.tArtikel AS Art ON Dispo.kArtikel = Art.kArtikel
			JOIN		dbo.tArtikelBeschreibung AS ArtBe ON Art.kArtikel = ArtBe.kArtikel AND ArtBe.kPlattform = 1
			LEFT JOIN	eazybusiness.dbo.tBenutzer AS Ben ON Dispo.kBenutzer = Ben.kBenutzer
			LEFT JOIN	dbo.tLieferantenBestellungPos AS LiefBPos ON Dispo.nReferenceType = 2 AND Dispo.kReference = LiefBPos.kLieferantenBestellungPos
			LEFT JOIN	dbo.tLieferantenBestellung AS LiefB ON LiefB.kLieferantenBestellung = LiefBPos.kLieferantenBestellung
			LEFT JOIN	Verkauf.tAuftragPosition AS VAP ON Dispo.nReferenceType = 1 AND Dispo.kReference = VAP.kAuftragPosition
			LEFT JOIN	Verkauf.tAuftragPositionEckdaten AS VAPEckD ON Dispo.nReferenceType = 1 AND Dispo.kReference = VAPEckD.kAuftragPosition
			LEFT JOIN	Verkauf.tAuftrag AS VA ON VA.kAuftrag = VAP.kAuftrag
			LEFT JOIN	pps.tProductionOrderProducible AS POP ON Dispo.nReferenceType = 3 AND Dispo.kReference = POP.kProductionOrderProducible
			LEFT JOIN	pps.tProductionOrder AS PO ON PO.kProductionOrder = POP.kProductionOrder
			LEFT JOIN	dbo.tLagerbestandVirtuell AS LBV ON Art.kArtikel = LBV.kArtikel AND LBV.iModuleId = '0200D767-9A5C-4B6A-882E-051FFA69A9D2'
			LEFT JOIN	(
							SELECT	POP.kDisposition,
									SUM(POP.fTargetTotalQuantity) AS fTargetQuantity,
									SUM(POP.fActualQuantity) AS fActualQuantity
							FROM	pps.tProductionOrderProducible AS POP
							GROUP BY POP.kDisposition
						) AS InPO /* InProductionOrders */ ON Dispo.kDisposition = InPO.kDisposition
			LEFT JOIN	(
								SELECT	WJDisp.kDisposition,
										SUM(WJ.nLotSize * WJ.fMultiplier) AS fTotalQuantity,
										SUM(WJ.fActualQuantity) AS fActualQuantity,
										SUM(WJ.nLotSize * WJ.fMultiplier) - SUM(WJ.fActualQuantity) AS fInProduction
								FROM	pps.tWorkJobDisposition AS WJDisp
								JOIN	pps.tWorkJob AS WJ ON WJ.kWorkJob = WJDisp.kWorkJob
								GROUP BY WJDisp.kDisposition
						) AS InProd /* InProduction */ ON InProd.kDisposition = Dispo.kDisposition
		) AS IQ /* InnerQuery */
JOIN	dbo.tSpracheUsed AS SprU ON SprU.nStandard = 1 AND SprU.kSprache = IQ.kSprache
GO
