USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkProcessReplenishment]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkProcessReplenishment](
	[kWorkProcessReplenishment] [int] IDENTITY(1,1) NOT NULL,
	[kWorkProcess] [int] NOT NULL,
	[kWorkProcessIteration] [int] NULL,
	[kWorkJobOperation] [int] NULL,
	[kReplenishmentAuftrag] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tWorkProcessReplenishment] PRIMARY KEY NONCLUSTERED 
(
	[kWorkProcessReplenishment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkProcessReplenishment]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcessReplenishment_kReplenishmentAuftrag] FOREIGN KEY([kReplenishmentAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkProcessReplenishment] CHECK CONSTRAINT [FK_pps_tWorkProcessReplenishment_kReplenishmentAuftrag]
GO
ALTER TABLE [pps].[tWorkProcessReplenishment]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcessReplenishment_kWorkJobOperation] FOREIGN KEY([kWorkJobOperation])
REFERENCES [pps].[tWorkJobOperation] ([kWorkJobOperation])
GO
ALTER TABLE [pps].[tWorkProcessReplenishment] CHECK CONSTRAINT [FK_pps_tWorkProcessReplenishment_kWorkJobOperation]
GO
ALTER TABLE [pps].[tWorkProcessReplenishment]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcessReplenishment_kWorkProcess] FOREIGN KEY([kWorkProcess])
REFERENCES [pps].[tWorkProcess] ([kWorkProcess])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkProcessReplenishment] CHECK CONSTRAINT [FK_pps_tWorkProcessReplenishment_kWorkProcess]
GO
ALTER TABLE [pps].[tWorkProcessReplenishment]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcessReplenishment_kWorkProcessIteration] FOREIGN KEY([kWorkProcessIteration])
REFERENCES [pps].[tWorkProcessIteration] ([kWorkProcessIteration])
GO
ALTER TABLE [pps].[tWorkProcessReplenishment] CHECK CONSTRAINT [FK_pps_tWorkProcessReplenishment_kWorkProcessIteration]
GO
