USE [eazybusiness]
GO
/****** Object:  Table [pps].[tSetting]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tSetting](
	[kSetting] [int] IDENTITY(1,1) NOT NULL,
	[cApplicationName] [nvarchar](50) NOT NULL,
	[cSection] [nvarchar](230) NOT NULL,
	[nScope] [tinyint] NOT NULL,
	[cHostname] [nvarchar](80) NULL,
	[kBenutzer] [int] NULL,
	[cName] [nvarchar](50) NOT NULL,
	[cDescription] [nvarchar](2048) NULL,
	[cValue] [nvarchar](max) NULL,
	[cVersion] [nvarchar](30) NULL,
	[dLetzteAenderung] [datetime] NOT NULL,
	[kBenutzerLetzteAenderung] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tSetting] PRIMARY KEY CLUSTERED 
(
	[kSetting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pps_tSetting_cApplicationName_cHostname_cName_cSection_cVersion_kBenutzer] UNIQUE NONCLUSTERED 
(
	[cApplicationName] ASC,
	[cSection] ASC,
	[cHostname] ASC,
	[kBenutzer] ASC,
	[cName] ASC,
	[cVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
