USE [eazybusiness]
GO
/****** Object:  Table [pps].[tProductionOrderFile]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tProductionOrderFile](
	[kProductionOrderFile] [int] IDENTITY(1,1) NOT NULL,
	[kProductionOrder] [int] NOT NULL,
	[kFile] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nSort] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tProductionOrderFile] PRIMARY KEY CLUSTERED 
(
	[kProductionOrderFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pps_tProductionOrderFile_kProductionOrder_kFile] UNIQUE NONCLUSTERED 
(
	[kProductionOrder] ASC,
	[kFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tProductionOrderFile]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProductionOrderFile_kProductionOrder] FOREIGN KEY([kProductionOrder])
REFERENCES [pps].[tProductionOrder] ([kProductionOrder])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tProductionOrderFile] CHECK CONSTRAINT [FK_pps_tProductionOrderFile_kProductionOrder]
GO
