USE [eazybusiness]
GO
/****** Object:  Table [pps].[tOperationStep]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tOperationStep](
	[kOperationStep] [int] IDENTITY(1,1) NOT NULL,
	[kOperation] [int] NOT NULL,
	[nSort] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cName] [nvarchar](100) NULL,
 CONSTRAINT [PK_pps_tOperationStep] PRIMARY KEY CLUSTERED 
(
	[kOperationStep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tOperationStep] ADD  CONSTRAINT [DF_pps_tOperationStep_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [pps].[tOperationStep]  WITH CHECK ADD  CONSTRAINT [FK_pps_tOperationStep_kOperation] FOREIGN KEY([kOperation])
REFERENCES [pps].[tOperation] ([kOperation])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tOperationStep] CHECK CONSTRAINT [FK_pps_tOperationStep_kOperation]
GO
