USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkProcess]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkProcess](
	[kWorkProcess] [int] IDENTITY(1,1) NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastAction] [datetimeoffset](7) NOT NULL,
	[dFinished] [datetimeoffset](7) NULL,
	[kCreatedWorkbenchResource] [int] NULL,
	[kCurrentWorkbenchResource] [int] NULL,
	[kBenutzerCurrent] [int] NULL,
	[iProcessType] [uniqueidentifier] NOT NULL,
	[nOriginType] [tinyint] NOT NULL,
	[kProductionOrder] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cProductionBatchNumber] [nvarchar](100) NOT NULL,
	[kWarenLager] [int] NOT NULL,
	[kLastWorkbenchResource] [int] NULL,
	[dCanceled] [datetimeoffset](7) NULL,
	[kBenutzerCanceled] [int] NULL,
	[kBenutzerCreated] [int] NULL,
 CONSTRAINT [PK_pps_tProductionProcess] PRIMARY KEY CLUSTERED 
(
	[kWorkProcess] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkProcess] ADD  CONSTRAINT [DF_pps_tWorkProcess_dCreated]  DEFAULT (getutcdate()) FOR [dCreated]
GO
ALTER TABLE [pps].[tWorkProcess] ADD  CONSTRAINT [DF_pps_tWorkProcess_dLastAction]  DEFAULT (getutcdate()) FOR [dLastAction]
GO
ALTER TABLE [pps].[tWorkProcess]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcess_kCreatedWorkbenchResource] FOREIGN KEY([kCreatedWorkbenchResource])
REFERENCES [ResPl].[tWorkbenchResource] ([kWorkbenchResource])
GO
ALTER TABLE [pps].[tWorkProcess] CHECK CONSTRAINT [FK_pps_tWorkProcess_kCreatedWorkbenchResource]
GO
ALTER TABLE [pps].[tWorkProcess]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcess_kCurrentWorkbenchResource] FOREIGN KEY([kCurrentWorkbenchResource])
REFERENCES [ResPl].[tWorkbenchResource] ([kWorkbenchResource])
GO
ALTER TABLE [pps].[tWorkProcess] CHECK CONSTRAINT [FK_pps_tWorkProcess_kCurrentWorkbenchResource]
GO
ALTER TABLE [pps].[tWorkProcess]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcess_kLastWorkbenchResource] FOREIGN KEY([kLastWorkbenchResource])
REFERENCES [ResPl].[tWorkbenchResource] ([kWorkbenchResource])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tWorkProcess] CHECK CONSTRAINT [FK_pps_tWorkProcess_kLastWorkbenchResource]
GO
ALTER TABLE [pps].[tWorkProcess]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcess_kProductionOrder] FOREIGN KEY([kProductionOrder])
REFERENCES [pps].[tProductionOrder] ([kProductionOrder])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tWorkProcess] CHECK CONSTRAINT [FK_pps_tWorkProcess_kProductionOrder]
GO
