USE [eazybusiness]
GO
/****** Object:  View [pps].[lvDisposition]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[lvDisposition]
AS
/*************************************************************************************************************
Beschreibung:	Listview: Übersicht aller Dispositionsartikel
*************************************************************************************************************/
SELECT
		IQ.kArtikel,
		IQ.kDisposition,
		IQ.cComment,
		IQ.BenutzerNameDispo,
		IQ.dCreated,
		IQ.dIntendedCompletionDate,
		IQ.nReferenceType,
		IQ.fQuantity,
		IQ.fActualQuantity,
		IQ.fPlannedQuantity,
		IQ.nStatus,
		IQ.ReferenceFieldIssue,
		IQ.ReferenceFieldIssuePosition,
		IQ.Artikelnummer,
		IQ.Sortiernummer,
		IQ.Artikelname,
		IQ.Einheit,
		IQ.EAN,
		IQ.cHAN,
		IQ.Breite,
		IQ.Hoehe,
		IQ.Laenge,
		IQ.Erstelldatum,
		IQ.Bearbeitungsdatum,
		IQ.Bearbeiter,
		IQ.Labels,
		IQ.Masseinheit,
		IQ.Versandgewicht,
		IQ.Gewicht,
		IQ.BestandGesamt,
		IQ.BestandEigen,
		IQ.BestandImZulauf,
		IQ.BestandAufEinkaufsliste,
		IQ.BestandInAuftraegen,
		IQ.BestandVerfuegbar,
		IQ.Produzierbar,
		IQ.InProduktion,
		IQ.Mindestbestand,
		IQ.IstLagerfuehrungaktiv,
		IQ.IstAktiv,
		IQ.IstSeriennummer,
		IQ.IstStueckzahlteilbar,
		IQ.IstUeberverkaufMoeglich,
		IQ.IstVarkombikind,
		IQ.HatMindestbestand,
		IQ.IstMHD,
		IQ.IstCharge,
		IQ.IstFuerBestellvorschlagGesperrt,
		IQ.TeilmengenArtikel,
		IQ.Warengruppe,
		IQ.ZustandSprache,
		IQ.ZustandName,
		IQ.Puffer,
		IQ.SeriennummernVerfolgung,
		IQ.dFilterDate,
		IQ.fQuantityInProductionOrders,
		SprU.kSprache,
		SprU.cNameEng,
		SprU.cNameDeu,
		SprU.cISO,
		SprU.nStandard,
		SprU.cKultur,
		SprU.cISO2
FROM	(
			SELECT
						Dispo.kArtikel,
						Dispo.kDisposition,
						Dispo.cComment,
						Dispo.BenutzerNameDispo,
						Dispo.dCreated,
						Dispo.dIntendedCompletionDate,
						Dispo.nReferenceType,
						Dispo.fQuantity,
						Dispo.fActualQuantity,
						Dispo.fPlannedQuantity,
						Dispo.nStatus,
						Dispo.ReferenceFieldIssue,
						Dispo.ReferenceFieldIssuePosition,
						Dispo.Artikelnummer,
						ISNULL(Art.nSort, 0) AS Sortiernummer,
						Dispo.Artikelname,
						EinhSpr.cName AS Einheit,
						Art.cBarcode AS EAN,
						Art.cHAN,
						Art.fBreite AS Breite,
						Art.fHoehe AS Hoehe,
						Art.fLaenge AS Laenge,
						Dispo.Erstelldatum,
						Dispo.Bearbeitungsdatum,
						Ben.cName AS Bearbeiter,
						(
							SELECT	L.kLabel,
									L.cName,
									L.cColor
							FROM	dbo.tArtikelLabel AS ArtL
							JOIN	dbo.tLabel AS L ON L.kLabel = ArtL.kLabel
							WHERE	ArtL.kArtikel = Art.kArtikel
							FOR XML PATH('Label'), TYPE, ROOT('Labels')
						) AS Labels,
						MESpr.cName AS Masseinheit,
						Art.fGewicht AS Versandgewicht,
						Art.fArtGewicht AS Gewicht,
						LB.fLagerbestand AS BestandGesamt,
						LB.fLagerbestandEigen AS BestandEigen,
						LB.fZulauf AS BestandImZulauf,
						LB.fAufEinkaufsliste AS BestandAufEinkaufsliste,
						LB.fInAuftraegen AS BestandInAuftraegen,
						LB.fVerfuegbar AS BestandVerfuegbar,
						Dispo.Produzierbar, -- Bestand, welcher berechnet produzierbar ist.
						Dispo.InProduktion, -- Bestand, welcher aktuell produziert wird. Vorab errechnet + live errechnet
						Dispo.Mindestbestand,
						Dispo.IstLagerfuehrungaktiv,
						Dispo.IstAktiv,
						Dispo.IstSeriennummer,
						Dispo.IstStueckzahlteilbar,
						Dispo.IstUeberverkaufMoeglich,
						Dispo.IstVarkombikind,
						Dispo.HatMindestbestand,
						Dispo.IstMHD,
						Dispo.IstCharge,
						Dispo.IstFuerBestellvorschlagGesperrt,
						Dispo.TeilmengenArtikel,
						WG.cName AS Warengruppe,
						ZSpr.kSprache AS ZustandSprache,
						ZSpr.cName AS ZustandName,
						Art.nPuffer AS Puffer,
						Dispo.SeriennummernVerfolgung,
						CONVERT(DATETIME2, Dispo.dCreated) AS dFilterDate,
						Dispo.fQuantityInProductionOrders
			FROM		pps.vDisposition AS Dispo
			JOIN		dbo.tArtikel AS Art ON Art.kArtikel = Dispo.kArtikel
			JOIN		dbo.tZustand AS Z ON Art.kZustand = Z.kZustand
			JOIN		dbo.tZustandSprache AS ZSpr ON Art.kZustand = ZSpr.kZustand
			JOIN		dbo.tArtikelBeschreibung AS ArtBe ON Art.kArtikel = ArtBe.kArtikel AND ZSpr.kSprache = ArtBe.kSprache AND ArtBe.kPlattform = 1
			JOIN		dbo.tLagerbestand AS LB ON Art.kArtikel = LB.kArtikel
			LEFT JOIN	dbo.tWarengruppe AS WG ON WG.kWarengruppe = Art.kWarengruppe
			LEFT JOIN	eazybusiness.dbo.tbenutzer AS Ben ON Dispo.kBenutzerLastChange = Ben.kBenutzer
			LEFT JOIN	dbo.tEinheitSprache AS EinhSpr ON Art.kVerkaufsEinheit = EinhSpr.kEinheit AND ZSpr.kSprache = EinhSpr.kSprache
			LEFT JOIN	dbo.tMassEinheit AS GPEinh /* Grundpreiseinheit */ ON Art.kGrundPreisEinheit = GPEinh.kMassEinheit
			LEFT JOIN	dbo.tMassEinheitSprache AS MESpr ON MESpr.kSprache = ZSpr.kSprache AND MESpr.kMassEinheit = Art.kMassEinheit
		) AS IQ /* InnerQuery */
JOIN	dbo.tSpracheUsed AS SprU ON SprU.nStandard = 1 AND SprU.kSprache = IQ.ZustandSprache
GO
