USE [eazybusiness]
GO
/****** Object:  View [pps].[lvProductionProcess]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[lvProductionProcess]
AS
/*************************************************************************************************************
Beschreibung:	Listview: Übersicht über alle Informationen zum Produktionsprozess
*************************************************************************************************************/
WITH 
	-- CTE zum Abruf aller Produktionssitzungen, zu denen (gemäß Reservierungsmodus des Arbeitsplatzes) alle erforderlichen Reservierungen vorliegen, um sie starten/fortsetzen zu können
	ReservationChecks AS (SELECT      WP.kWorkProcess,
	                                  ResCheck.Result
                          FROM        pps.tWorkProcess AS WP
                          CROSS APPLY pps.tfnReservationsAllowStartingProduction(WP.kWorkProcess, WP.kCreatedWorkbenchResource) AS ResCheck
                          WHERE       WP.dCanceled IS NULL)
-- Eigentliche Abfrage
SELECT
			WJS.kWorkProcess,
			WJS.cProductionBatchNumber,
			WJS.nOriginType,
			WJS.iProcessType,
			WJS.kWarenLager,
			WJS.dCreated,
			WJS.kBenutzerCreated,
			ISNULL(WJS.cCreationUserName, '') AS cCreationUserName,
			WJS.kCreatedWorkbenchResource,
			ISNULL(WJS.cCreationWorkbenchNumber, '') AS cCreationWorkbenchNumber,
			ISNULL(WJS.nTotalIteration, 0) AS nTotalIteration,
			ISNULL(WJS.nCurrentIteration, 0) AS nCurrentIteration,
			WJS.cCurrentUserName,
			WJS.cCurrentWorkbenchNumber,
			ISNULL(Op.cOperationNumber, '') AS cCurrentOperationNumber,
			ISNULL(Op.cName, '') AS cCurrentOperationName,
			WJS.kCurrentWorkbenchResource,
			WJS.kBenutzerCurrent,
			WJS.dLastAction,
			WJS.dFinished,
			CONVERT(BIT, CASE WHEN WJS.nMHD > 0 THEN 1 ELSE 0 END) AS nHasBestBeforeDate,
			CONVERT(BIT, CASE WHEN WJS.nCharge > 0 THEN 1 ELSE 0 END) AS nHasBatchNumber,
			CONVERT(BIT, CASE WHEN WJS.nSeriennummernVerfolgung > 0 THEN 1 ELSE 0 END) AS nHasSerialNumber,
			CASE
				WHEN WJS.nStorno = 1 THEN 1
				WHEN WJS.dCanceled IS NOT NULL THEN 4
				WHEN WJS.dFinished IS NOT NULL THEN 2
				WHEN WJS.OpenReplenishmentOrders > 0 THEN 5
				WHEN WJS.kCurrentWorkbenchResource IS NOT NULL OR WJS.kBenutzerCurrent IS NOT NULL THEN 0
				WHEN WJS.processedItems = 0 THEN 3
				ELSE 1
			END nState,
			CONVERT(BIT, CASE WHEN WJS.processedItems > 0 THEN 1 ELSE 0 END) AS nHasProcessedPositions,
			CONVERT(DATETIME2, WJS.dCreated) AS dFilterDate,
			'['
			+ STUFF((
					SELECT	', {"Quantity":' + CONVERT(VARCHAR(25), SUM(WJ.nLotSize * WJ.fMultiplier))
							+ ', "Name":"' + REPLACE(REPLACE(ArtBe.cName, '\', '\\'), '"', '\"')
							+ '", "ItemKey":' + CONVERT(VARCHAR(10), WJ.kArtikel)
							+ ', "ItemNumber":"' + REPLACE(Art.cArtNr, '\', '\\') + '"}'
					FROM	pps.tWorkJob AS WJ
					JOIN	pps.tWorkProcessIteration AS WPI ON WPI.kWorkProcessIteration = WJ.kWorkProcessIteration
					JOIN	dbo.tSpracheUsed AS SprU ON SprU.nStandard = 1
					JOIN	dbo.tArtikel AS Art ON Art.kArtikel = WJ.kArtikel
					JOIN	dbo.tArtikelBeschreibung AS ArtBe ON ArtBe.kArtikel = WJ.kArtikel AND ArtBe.kSprache = SprU.kSprache AND ArtBe.kPlattform = 1
					WHERE	WPI.kWorkProcess = WJS.kWorkProcess
					GROUP BY ArtBe.cName, WJ.kArtikel, Art.cArtNr
					FOR XML PATH('')
				), 1, 2, '') + ']' AS Items,
			CONVERT(BIT,
				CASE
					WHEN WJS.dCanceled IS NOT NULL THEN 0
					ELSE ISNULL(ResCheck.Result, 0)
				END) AS nReservationsAllowStartingProduction,
			WJS.dCanceled,
			WJS.kBenutzerCanceled
FROM		(
				SELECT
							WP.kWorkProcess,
							WP.cProductionBatchNumber,
							WP.dCreated,
							WP.dLastAction,
							WP.dFinished,
							Art.nMHD,
							Art.nCharge,
							Art.nSeriennummernVerfolgung,
							BenCr.cName AS cCreationUserName,
							BenCur.cName AS cCurrentUserName,
							ResCr.cNumber AS cCreationWorkbenchNumber,
							CurrentWorkbenchResourceBase.cNumber AS cCurrentWorkbenchNumber,
							MAX(WPI.nIteration) AS nCurrentIteration,
							MAX(WPI.nTotalIterations) AS nTotalIteration,
							MAX(WPI.kWorkProcessIteration) AS kMaxIteration,
							WP.kBenutzerCreated,
							WP.kBenutzerCurrent,
							WP.kCreatedWorkbenchResource,
							WP.kCurrentWorkbenchResource,
							WP.iProcessType,
							WP.nOriginType,
							WP.kWarenLager,
							SUM(ISNULL(WJBomCompSt.fActualQuantity, 0) + ISNULL(WJBomComp.fActualQuantity, 0)) AS processedItems,
							Repl.OpenReplenishmentOrders,
							Repl.nStorno,
							WP.dCanceled AS dCanceled,
							WP.kBenutzerCanceled AS kBenutzerCanceled
				FROM		pps.tWorkProcess AS WP
				LEFT JOIN	eazybusiness.dbo.tBenutzer AS BenCr ON WP.kBenutzerCreated = BenCr.kBenutzer
				LEFT JOIN	ResPl.tWorkbenchResource AS WbResCr ON WP.kCreatedWorkbenchResource = WbResCr.kWorkbenchResource
				LEFT JOIN	ResPl.tResource AS ResCr ON WbResCr.kResource = ResCr.kResource
				LEFT JOIN	eazybusiness.dbo.tBenutzer AS BenCur ON WP.kBenutzerCurrent = BenCur.kBenutzer
				LEFT JOIN	ResPl.tWorkbenchResource AS CurrentWorkbenchResource ON WP.kCurrentWorkbenchResource = CurrentWorkbenchResource.kWorkbenchResource
				LEFT JOIN	ResPl.tResource AS CurrentWorkbenchResourceBase ON CurrentWorkbenchResource.kResource = CurrentWorkbenchResourceBase.kResource
				LEFT JOIN	pps.tWorkProcessIteration AS WPI ON WP.kWorkProcess = WPI.kWorkProcess
				LEFT JOIN	pps.tWorkJob AS WJ ON WJ.kWorkProcessIteration = WPI.kWorkProcessIteration
				LEFT JOIN	dbo.tArtikel AS Art ON Art.kArtikel = WJ.kArtikel
				LEFT JOIN	pps.tWorkJobOperation AS WJOp ON WJOp.kWorkJob = WJ.kWorkJob
				LEFT JOIN	pps.tWorkJobBillOfMaterialsComponent AS WJBomComp ON WJBomComp.kWorkJobOperation = WJOp.kWorkJobOperation
				LEFT JOIN	pps.tWorkJobBillOfMaterialsComponentStock AS WJBomCompSt ON WJBomCompSt.kWorkJobBillOfMaterialsComponent = WJBomComp.kWorkJobBillOfMaterialsComponent
				LEFT JOIN	(
								SELECT		WPRep.kWorkProcess,
											COUNT(*) AS OpenReplenishmentOrders,
											VA.nStorno
								FROM		pps.tWorkProcessReplenishment AS WPRep
								JOIN		Verkauf.tAuftrag AS VA ON VA.kAuftrag = WPRep.kReplenishmentAuftrag
								LEFT JOIN	pps.tWorkProcessIteration AS WPI ON WPI.kWorkProcessIteration = WPRep.kWorkProcessIteration
								LEFT JOIN	pps.tWorkJobOperation AS WJOp ON WJOp.kWorkJobOperation = WPRep.kWorkJobOperation
								WHERE		VA.nKomplettAusgeliefert = 0
											AND VA.nStorno = 0
											AND (WPI.kWorkProcessIteration IS NULL OR WPI.dStarted IS NOT NULL)
											AND (WJOp.kWorkJobOperation IS NULL OR WJOp.dStarted IS NOT NULL)
								GROUP BY	WPRep.kWorkProcess, VA.nStorno
							) AS Repl ON Repl.kWorkProcess = WP.kWorkProcess
				GROUP BY	WP.kWorkProcess,
							WP.cProductionBatchNumber,
							WP.dCreated,
							WP.dLastAction,
							WP.dFinished,
							BenCr.cName,
							BenCur.cName,
							ResCr.cNumber,
							CurrentWorkbenchResourceBase.cNumber,
							WP.iProcessType,
							WP.nOriginType,
							WP.kWarenLager,
							Art.nMHD,
							Art.nCharge,
							Art.nSeriennummernVerfolgung, 
							WP.kBenutzerCreated,
							WP.kBenutzerCurrent,
							WP.kCreatedWorkbenchResource,
							WP.kCurrentWorkbenchResource,
							Repl.OpenReplenishmentOrders,
							Repl.nStorno,
							WP.dCanceled,
							WP.kBenutzerCanceled
			) AS WJS /* WorkjobSession */
LEFT JOIN	(
				SELECT	MAX(WJOp.kWorkJobOperation) AS kMaxWorkJobOperation,
						WJ.kWorkProcessIteration
				FROM	pps.tWorkJobOperation AS WJOp
				JOIN	pps.tWorkJob AS WJ ON WJOp.kWorkJob = WJ.kWorkJob
				GROUP BY WJ.kWorkProcessIteration
			) AS MaxOp ON WJS.kMaxIteration = MaxOp.kWorkProcessIteration
LEFT JOIN	pps.tWorkJobOperation AS WJOp ON WJOp.kWorkJobOperation = MaxOp.kMaxWorkJobOperation
LEFT JOIN	pps.tOperation AS Op ON WJOp.kOperation = Op.kOperation
LEFT JOIN   ReservationChecks AS ResCheck ON ResCheck.kWorkProcess = WJS.kWorkProcess;
GO
