USE [eazybusiness]
GO
/****** Object:  View [pps].[vBillOfMaterialComponentHierarchy]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[vBillOfMaterialComponentHierarchy]
AS
/*************************************************************************************************************
Beschreibung:	Diese View zeigt die Gesamthierarchie der kArtikel in den Produktionsstücklisten (BillOfMaterials)
				und deren Komponenten und wird aktuell bei der Berechnung von fCalculatedStock ausgewertet
--------------------------------------------------------------------------------------------------------------
-- Beispielaufruf:
SELECT * FROM pps.vBillOfMaterialComponentHierarchy AS BomCH WHERE kBillOfMaterial = (SELECT MAX(kBillOfMaterial) FROM pps.tBillOfMaterial) -- Anzeige der letzten BoM
SELECT * FROM pps.vBillOfMaterialComponentHierarchy AS BomCH WHERE kBillOfMaterial = (SELECT TOP(1) kBillOfMaterial FROM pps.vBillOfMaterialComponentHierarchy AS BomCH GROUP BY kBillOfMaterial ORDER BY COUNT(*) DESC) -- Anzeige der BoM mit den meisten Komponenten
*************************************************************************************************************/

-- Rekursiver CTE
WITH Cte AS (
	-- Anker-Query
	SELECT		Bom.kBillOfMaterial,
				Bom.kArtikel,
				BomC.kArtikel AS kArtikelComponent,
				Bom.kArtikel AS kArtikelParent,
				BomC.nQuantity,
				BomC.fRestFactor,
				BomC.kMassEinheit,
				CONVERT(VARCHAR(20), CASE
					WHEN BomCBom.kBillOfMaterial IS NOT NULL THEN 'BoM' -- BillOfMaterial
					ELSE 'A' -- Artikel
				END) AS cComponentType,
				BomCBom.kBillOfMaterial AS kComponentBillOfMaterial,
				CONVERT(VARCHAR(MAX), CONVERT(VARCHAR(20), Bom.kArtikel) + '->' + CONVERT(VARCHAR(20), BomC.kArtikel)) AS kArtikelRoute,
				CONVERT(VARCHAR(MAX), CONVERT(VARCHAR(20), Bom.kBillOfMaterial)) AS kBillOfMaterialRoute,
				CONVERT(TINYINT, 1) AS nLevel
	FROM		pps.tBillOfMaterial AS Bom
	JOIN		pps.tBillOfMaterialComponents AS BomC ON Bom.kBillOfMaterial = BomC.kBillOfMaterial AND NOT BomC.kArtikel IS NULL
	LEFT JOIN	pps.tBillOfMaterial AS BomCBom ON BomCBom.nState = 1 AND BomCBom.nType = 0 AND BomCBom.kArtikel = BomC.kArtikel
	WHERE		Bom.nType = 0 -- Regular
				-- In der Anker-Query erlauben wir auch Nicht-Live-Bom's (nState <> 1), im rekursiven Part allerdings nicht
 
	UNION ALL

	-- Rekursive Query
	SELECT		C.kBillOfMaterial,
				C.kArtikel,
				BomC.kArtikel AS kArtikelComponent,
				Bom.kArtikel AS kArtikelParent,
				CONVERT(DECIMAL(25,13), BomC.nQuantity * C.nQuantity),
				BomC.fRestFactor,
				BomC.kMassEinheit,
				CONVERT(VARCHAR(20), CASE
					WHEN CHARINDEX('->' + CONVERT(VARCHAR(20), BomC.kArtikel) + '->', '->' + C.kArtikelRoute + '->') > 0 THEN 'ERROR-CIRCULAR' -- Fehler: Kreisverweis
					WHEN BomCBom.kBillOfMaterial IS NOT NULL THEN 'BoM' -- BillOfMaterial
					ELSE 'A' -- Artikel
				END) AS cComponentType,
				BomCBom.kBillOfMaterial AS kComponentBillOfMaterial,
				CONVERT(VARCHAR(MAX), C.kArtikelRoute + '->' + CONVERT(VARCHAR(20), BomC.kArtikel)) AS kArtikelRoute,
				CONVERT(VARCHAR(MAX), C.kBillOfMaterialRoute + '->' + CONVERT(VARCHAR(20), Bom.kBillOfMaterial)) AS kBillOfMaterialRoute,
				CONVERT(TINYINT, C.nLevel + 1) AS nLevel
	FROM		Cte AS C
	JOIN		pps.tBillOfMaterial AS Bom ON Bom.kArtikel = C.kArtikelComponent AND Bom.nState = 1 AND Bom.nType = 0 -- Nur Artikel, die selbst Boms sind
	JOIN		pps.tBillOfMaterialComponents AS BomC ON Bom.kBillOfMaterial = BomC.kBillOfMaterial AND NOT BomC.kArtikel IS NULL
	-- OUTER APPLY anstelle LEFT JOIN, da im rekursiven Teil des CTEs kein OUTER JOIN erlaubt ist
	OUTER APPLY	(SELECT kBillOfMaterial FROM pps.tBillOfMaterial AS BomCBom WHERE BomCBom.nState = 1 AND BomCBom.nType = 0 AND BomCBom.kArtikel = BomC.kArtikel) AS BomCBom
	WHERE		C.cComponentType = 'BoM' -- Einschränken, damit Kreisverweise ('ERROR-CIRCULAR') keine Rekursionsfehler erzeugen
)
SELECT		S.kBillOfMaterial,
			S.kArtikel,
			S.kArtikelComponent,
			S.kArtikelParent,
			(SELECT TOP(1) cName FROM dbo.tArtikelBeschreibung AS ArtBe WHERE ArtBe.kArtikel = S.kArtikelComponent) AS cArtikelName,
			S.nQuantity,
			S.fRestFactor,
			S.kMassEinheit,
			(SELECT ME.cDisplayCode FROM dbo.tMasseinheit AS ME WHERE ME.kMassEinheit = S.kMassEinheit) AS cMassEinheit,
			S.kComponentBillOfMaterial,
			S.cComponentType,
			S.kArtikelRoute,
			S.kBillOfMaterialRoute,
			S.nLevel
FROM		Cte AS S
GO
