USE [eazybusiness]
GO
/****** Object:  Table [pps].[tProductionOrderLabel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tProductionOrderLabel](
	[kProductionOrder] [int] NOT NULL,
	[kLabel] [int] NOT NULL,
 CONSTRAINT [PK_pps_tProductionOrderLabel] PRIMARY KEY CLUSTERED 
(
	[kProductionOrder] ASC,
	[kLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tProductionOrderLabel]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProductionOrderLabel_kProductionOrder] FOREIGN KEY([kProductionOrder])
REFERENCES [pps].[tProductionOrder] ([kProductionOrder])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tProductionOrderLabel] CHECK CONSTRAINT [FK_pps_tProductionOrderLabel_kProductionOrder]
GO
