USE [eazybusiness]
GO
/****** Object:  Table [pps].[tLotPreparationItem]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tLotPreparationItem](
	[kLotPreparationItem] [int] IDENTITY(1,1) NOT NULL,
	[kLotPreparationProductionOrder] [int] NOT NULL,
	[kProductionOrderProducible] [int] NOT NULL,
 CONSTRAINT [PK_pps_tLotPreparationItem] PRIMARY KEY CLUSTERED 
(
	[kLotPreparationItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tLotPreparationItem]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationItem_kLotPreparationProductionOrder] FOREIGN KEY([kLotPreparationProductionOrder])
REFERENCES [pps].[tLotPreparationProductionOrder] ([kLotPreparationProductionOrder])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tLotPreparationItem] CHECK CONSTRAINT [FK_pps_tLotPreparationItem_kLotPreparationProductionOrder]
GO
ALTER TABLE [pps].[tLotPreparationItem]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationItem_kProductionOrderProducible] FOREIGN KEY([kProductionOrderProducible])
REFERENCES [pps].[tProductionOrderProducible] ([kProductionOrderProducible])
GO
ALTER TABLE [pps].[tLotPreparationItem] CHECK CONSTRAINT [FK_pps_tLotPreparationItem_kProductionOrderProducible]
GO
