USE [eazybusiness]
GO
/****** Object:  Table [pps].[tBillOfMaterialComponents]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tBillOfMaterialComponents](
	[kBillOfMaterialComponent] [int] IDENTITY(1,1) NOT NULL,
	[kBillOfMaterial] [int] NOT NULL,
	[kArtikel] [int] NULL,
	[kOperation] [int] NULL,
	[nQuantity] [decimal](25, 13) NOT NULL,
	[nSort] [int] NOT NULL,
	[kMassEinheit] [int] NULL,
	[nSharedPart] [bit] NOT NULL,
	[kParentBillOfMaterialComponent] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fRestFactor] [decimal](25, 13) NOT NULL,
	[nDestroyable] [bit] NOT NULL,
	[nVariable] [bit] NOT NULL,
	[kSubsetDefinition] [int] NULL,
	[kOperationStep] [int] NULL,
	[nComponentPostingsShelfLifeEndDateRequirements] [tinyint] NOT NULL,
	[nComponentPostingsBatchNumberRequirements] [tinyint] NOT NULL,
 CONSTRAINT [PK_pps_tBillOfMaterialComponents] PRIMARY KEY CLUSTERED 
(
	[kBillOfMaterialComponent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] ADD  CONSTRAINT [DF_pps_tBillOfMaterialComponents_nSharedPart]  DEFAULT ((0)) FOR [nSharedPart]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] ADD  CONSTRAINT [DF_pps_tBillOfMaterialComponents_fRestFactor]  DEFAULT ((1)) FOR [fRestFactor]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] ADD  CONSTRAINT [DF_pps_tBillOfMaterialComponents_nDestroyable]  DEFAULT ((0)) FOR [nDestroyable]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] ADD  CONSTRAINT [DF_pps_tBillOfMaterialComponents_nVariable]  DEFAULT ((0)) FOR [nVariable]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] ADD  DEFAULT ((0)) FOR [nComponentPostingsShelfLifeEndDateRequirements]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] ADD  DEFAULT ((0)) FOR [nComponentPostingsBatchNumberRequirements]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents]  WITH CHECK ADD  CONSTRAINT [FK_pps_tBillOfMaterialComponents_kBillOfMaterial] FOREIGN KEY([kBillOfMaterial])
REFERENCES [pps].[tBillOfMaterial] ([kBillOfMaterial])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] CHECK CONSTRAINT [FK_pps_tBillOfMaterialComponents_kBillOfMaterial]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents]  WITH CHECK ADD  CONSTRAINT [FK_pps_tBillOfMaterialComponents_kOperationStep] FOREIGN KEY([kOperationStep])
REFERENCES [pps].[tOperationStep] ([kOperationStep])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] CHECK CONSTRAINT [FK_pps_tBillOfMaterialComponents_kOperationStep]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents]  WITH CHECK ADD  CONSTRAINT [FK_pps_tBillOfMaterialComponents_kSubsetDefinition] FOREIGN KEY([kSubsetDefinition])
REFERENCES [subset].[tDefinition] ([kDefinition])
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] CHECK CONSTRAINT [FK_pps_tBillOfMaterialComponents_kSubsetDefinition]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents]  WITH CHECK ADD  CONSTRAINT [FK_pps_tBillOfMaterialComponents_tArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] CHECK CONSTRAINT [FK_pps_tBillOfMaterialComponents_tArtikel]
GO
ALTER TABLE [pps].[tBillOfMaterialComponents]  WITH CHECK ADD  CONSTRAINT [FK_pps_tBillOfMaterialComponents_tBillOfMaterialComponents] FOREIGN KEY([kParentBillOfMaterialComponent])
REFERENCES [pps].[tBillOfMaterialComponents] ([kBillOfMaterialComponent])
GO
ALTER TABLE [pps].[tBillOfMaterialComponents] CHECK CONSTRAINT [FK_pps_tBillOfMaterialComponents_tBillOfMaterialComponents]
GO
