USE [eazybusiness]
GO
/****** Object:  Table [pps].[tLotSize]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tLotSize](
	[kLotSize] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nSize] [int] NOT NULL,
	[nAverageTime] [bigint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tLotSize] PRIMARY KEY CLUSTERED 
(
	[kLotSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pps_tLotSize_kArtikel_nSize] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[nSize] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tLotSize] ADD  CONSTRAINT [DF_pps_tLotSize_nSize]  DEFAULT ((1)) FOR [nSize]
GO
ALTER TABLE [pps].[tLotSize]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotSize_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [pps].[tProdItem] ([kArtikel])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tLotSize] CHECK CONSTRAINT [FK_pps_tLotSize_kArtikel]
GO
