USE [eazybusiness]
GO
/****** Object:  View [pps].[lvStockAccount]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[lvStockAccount]
AS
/*************************************************************************************************************
Beschreibung:	Listview: Übersicht über die Warenlager(plätze) der Produktion
*************************************************************************************************************/
SELECT
		CAST(ROW_NUMBER() OVER (ORDER BY IQ.kArtikel, WLE.kWarenLagerPlatz, WLE.cChargenNr, WLE.dMHD) AS INT) AS kId,
		IQ.kArtikel,
		IQ.cBinName,
		WLE.kWarenLagerPlatz,
		IQ.kWarenLagerPlatzTyp AS kBinType,
		IQ.nStatus,
		IQ.fAnzahlAktuell AS fStockQuantity,
		IQ.fReservedQuantity,
		WbBin.kWorkbenchResource AS kReference,
		IQ.nSort,
		IQ.fMaxWeight,
		ISNULL(IQ.fSumVolume / NULLIF(IQ.fMaxVolume, 0), 0) AS fUsedCapacityVolume,
		ISNULL(IQ.fSumWeight / NULLIF(IQ.fMaxWeight, 0), 0) AS fUsedCapacityWeight,
		ISNULL(IQ.fSumWeight, 0) AS fSumWeight,
		ISNULL(IQ.fSumVolume, 0) AS fSumVolume,
		ISNULL(IQ.fMaxVolume, 0) AS fMaxVolume,
		IQ.nCapacityVolumeValid,
		IQ.nCapacityWeightValid,
		IQ.nGesperrt,
		IQ.fLaenge,
		IQ.fHoehe,
		IQ.fBreite,
		WLE.cChargenNr AS cBatchNumber,
		WLE.dMHD AS dShelfLifeEndDate
FROM	dbo.tWarenLagerEingang AS WLE
JOIN	(
			SELECT
						WLP.kWarenLagerPlatz,
						WLP.cName AS cBinName,
						WLP.kWarenLagerPlatzTyp,
						WLP.nStatus,
						WLE.kArtikel,
						ISNULL(CASE WHEN SUM(WLESs.fQuantity) IS NOT NULL THEN SUM(WLESs.fQuantity) ELSE SUM(WLE.fAnzahlAktuell) END, 0) AS fAnzahlAktuell,
						SUM(WLE.fAnzahlReserviertPickpos) AS fReservedQuantity,
						WLP.fLaenge,
						WLP.fBreite,
						WLP.fHoehe,
						WLP.fGewichtMax AS fMaxWeight,
						WLP.nSort,
						CAST(WLP.nGesperrt AS BIT) nGesperrt,
						CAST(CASE WHEN ISNULL(MIN(Art.fLaenge * Art.fBreite * Art.fHoehe) * WLP.fLaenge * WLP.fBreite * WLP.fHoehe, 0) > 0 THEN 1 ELSE 0 END AS BIT) AS nCapacityVolumeValid,
						CAST(CASE WHEN ISNULL(MIN(Art.fGewicht) * WLP.fGewichtMax, 0) > 0 THEN 1 ELSE 0 END AS BIT) AS nCapacityWeightValid,
						SUM(WLE.fAnzahlAktuell * Art.fGewicht) AS fSumWeight,
						(WLP.fLaenge * WLP.fBreite * WLP.fHoehe) AS fMaxVolume,
						SUM(WLE.fAnzahlAktuell * (Art.fLaenge * Art.fBreite * Art.fHoehe)) AS fSumVolume,
						WLP.kWarenLager,
						CASE
							WHEN WL.nLagerplatzVerwaltung = 1 THEN
								CASE
									WHEN WbRes.kWorkbenchResource = WbBin.kWorkbenchResource THEN WbBin.kWorkbenchResource
									ELSE NULL
								END
							ELSE WbRes.kWorkbenchResource
						END AS kWorkbenchResource
			FROM		dbo.tWarenLagerPlatz AS WLP
			JOIN		dbo.tWarenLager AS WL ON WL.kWarenLager = WLP.kWarenLager
			LEFT JOIN	dbo.tWarenLagerEingang AS WLE ON WLE.kWarenLagerPlatz = WLP.kWarenLagerPlatz AND WLE.fAnzahlAktuell > 0 AND WLE.kArtikel > 0
			LEFT JOIN	dbo.tWarenLagerEingangSubsets AS WLESs ON WLESs.kWarenLagerEingang = WLE.kWarenLagerEingang
			LEFT JOIN	dbo.tArtikel AS Art ON Art.kArtikel = WLE.kArtikel
			LEFT JOIN	pps.tWorkbenchBin AS WbBin ON WLP.kWarenLagerPlatz = WbBin.kWarenLagerPlatz
			LEFT JOIN	ResPl.tWorkbenchResource AS WbRes ON WbRes.kWarenLager = WL.kWarenLager
			WHERE		WLP.kWarenLagerPlatzTyp <> 10 AND WLP.nStatus <> 4
			GROUP BY	WLP.kWarenLagerPlatz,
						WLE.kArtikel,
						WLP.cName,
						WLP.kWarenLagerPlatzTyp,
						WLP.fLaenge,
						WLP.fBreite,
						WLP.fHoehe,
						WLP.fGewichtMax,
						WLP.nSort,
						WLP.nGesperrt,
						WLP.nStatus,
						WLP.kWarenLager,
						WL.nLagerplatzVerwaltung,
						WbBin.kWorkbenchResource,
						WbRes.kWorkbenchResource
		) AS IQ /* InnerQuery */ ON IQ.kWarenLagerPlatz = WLE.kWarenLagerPlatz
JOIN	pps.tWorkbenchBin AS WbBin ON WbBin.kWarenLagerPlatz = WLE.kWarenLagerPlatz
GROUP BY IQ.kArtikel,
         WLE.kWarenLagerPlatz,
         WLE.cChargenNr,
         WLE.dMHD,
         IQ.fReservedQuantity,
         IQ.fAnzahlAktuell,
         IQ.nGesperrt,
         IQ.fLaenge,
         IQ.fHoehe,
         IQ.fBreite,
         IQ.cBinName,
         IQ.kWarenLagerPlatzTyp,
         IQ.nStatus,
         WbBin.kWorkbenchResource,
         IQ.nSort,
         IQ.nCapacityVolumeValid,
         IQ.nCapacityWeightValid,
         IQ.fSumWeight,
         IQ.fSumVolume,
         IQ.fMaxVolume,
         IQ.fMaxWeight
GO
