USE [eazybusiness]
GO
/****** Object:  Table [pps].[tOperation]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tOperation](
	[kOperation] [int] IDENTITY(1,1) NOT NULL,
	[cOperationNumber] [nvarchar](100) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cDescription] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nIsInternal] [bit] NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[kBenutzerLastChanged] [int] NULL,
	[dLastChanged] [datetimeoffset](7) NOT NULL,
	[nIsInactive] [bit] NOT NULL,
	[nIsCompletionMandatory] [bit] NOT NULL,
	[nSimplifiedProduction] [int] NOT NULL,
 CONSTRAINT [PK_pps_tOperation] PRIMARY KEY CLUSTERED 
(
	[kOperation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pps_tOperation_cOperationNumber] UNIQUE NONCLUSTERED 
(
	[cOperationNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [pps].[tOperation] ADD  CONSTRAINT [DF_pps_tOperation_nIsInternal]  DEFAULT ((0)) FOR [nIsInternal]
GO
ALTER TABLE [pps].[tOperation] ADD  CONSTRAINT [DF_pps_tOperation_dCreated]  DEFAULT (sysdatetimeoffset()) FOR [dCreated]
GO
ALTER TABLE [pps].[tOperation] ADD  CONSTRAINT [DF_pps_tOperation_dLastChanged]  DEFAULT (sysdatetimeoffset()) FOR [dLastChanged]
GO
ALTER TABLE [pps].[tOperation] ADD  CONSTRAINT [DF_pps_tOperation_nIsInactive]  DEFAULT ((0)) FOR [nIsInactive]
GO
ALTER TABLE [pps].[tOperation] ADD  CONSTRAINT [DF_pps_tOperation_nIsCompletionMandatory]  DEFAULT ((0)) FOR [nIsCompletionMandatory]
GO
ALTER TABLE [pps].[tOperation] ADD  CONSTRAINT [DF_pps_tOperation_nSimplifiedProduction]  DEFAULT ((0)) FOR [nSimplifiedProduction]
GO
