USE [eazybusiness]
GO
/****** Object:  Table [pps].[tLotPreparationComponent]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tLotPreparationComponent](
	[kLotPreparationComponent] [int] IDENTITY(1,1) NOT NULL,
	[kLotPreparationLot] [int] NOT NULL,
	[kBillOfMaterialComponent] [int] NOT NULL,
 CONSTRAINT [PK_pps_tLotPreparationComponent] PRIMARY KEY CLUSTERED 
(
	[kLotPreparationComponent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tLotPreparationComponent]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationComponent_kBillOfMaterialComponent] FOREIGN KEY([kBillOfMaterialComponent])
REFERENCES [pps].[tBillOfMaterialComponents] ([kBillOfMaterialComponent])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tLotPreparationComponent] CHECK CONSTRAINT [FK_pps_tLotPreparationComponent_kBillOfMaterialComponent]
GO
ALTER TABLE [pps].[tLotPreparationComponent]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationComponent_kLotPreparationLot] FOREIGN KEY([kLotPreparationLot])
REFERENCES [pps].[tLotPreparationLot] ([kLotPreparationLot])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tLotPreparationComponent] CHECK CONSTRAINT [FK_pps_tLotPreparationComponent_kLotPreparationLot]
GO
