USE [eazybusiness]
GO
/****** Object:  Table [pps].[tAdditionalResult]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tAdditionalResult](
	[kAdditionalResult] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kArtikelComponent] [int] NOT NULL,
	[fQuantity] [decimal](25, 13) NOT NULL,
	[nQuantityFixed] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tAdditionalResult] PRIMARY KEY CLUSTERED 
(
	[kAdditionalResult] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tAdditionalResult] ADD  CONSTRAINT [DF_pps_tAdditionalResult_nQuantityFixed]  DEFAULT ((0)) FOR [nQuantityFixed]
GO
ALTER TABLE [pps].[tAdditionalResult]  WITH CHECK ADD  CONSTRAINT [FK_pps_tAdditionalResult_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [pps].[tProdItem] ([kArtikel])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tAdditionalResult] CHECK CONSTRAINT [FK_pps_tAdditionalResult_kArtikel]
GO
