USE [eazybusiness]
GO
/****** Object:  Table [pps].[tLotPreparationLot]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tLotPreparationLot](
	[kLotPreparationLot] [int] IDENTITY(1,1) NOT NULL,
	[kLotPreparationItem] [int] NOT NULL,
	[nLotIndex] [int] NOT NULL,
	[kResource] [int] NULL,
	[dShelfLifeEndDate] [datetime] NULL,
	[nIsShelfLifeEndDateModifiable] [bit] NOT NULL,
	[cBatchNumber] [nvarchar](255) NULL,
	[nIsBatchNumberModifiable] [bit] NOT NULL,
	[kPickliste] [int] NULL,
 CONSTRAINT [PK_pps_tLotPreparationLot] PRIMARY KEY CLUSTERED 
(
	[kLotPreparationLot] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tLotPreparationLot] ADD  DEFAULT ((0)) FOR [nIsShelfLifeEndDateModifiable]
GO
ALTER TABLE [pps].[tLotPreparationLot] ADD  DEFAULT ((0)) FOR [nIsBatchNumberModifiable]
GO
ALTER TABLE [pps].[tLotPreparationLot]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationLot_kLotPreparationItem] FOREIGN KEY([kLotPreparationItem])
REFERENCES [pps].[tLotPreparationItem] ([kLotPreparationItem])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tLotPreparationLot] CHECK CONSTRAINT [FK_pps_tLotPreparationLot_kLotPreparationItem]
GO
ALTER TABLE [pps].[tLotPreparationLot]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationLot_kPickliste] FOREIGN KEY([kPickliste])
REFERENCES [dbo].[tPickliste] ([kPickliste])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tLotPreparationLot] CHECK CONSTRAINT [FK_pps_tLotPreparationLot_kPickliste]
GO
ALTER TABLE [pps].[tLotPreparationLot]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationLot_kResource] FOREIGN KEY([kResource])
REFERENCES [ResPl].[tResource] ([kResource])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tLotPreparationLot] CHECK CONSTRAINT [FK_pps_tLotPreparationLot_kResource]
GO
