USE [eazybusiness]
GO
/****** Object:  Table [pps].[tOperationStepFile]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tOperationStepFile](
	[kOperationStepFile] [int] IDENTITY(1,1) NOT NULL,
	[kOperationStep] [int] NOT NULL,
	[kFile] [int] NOT NULL,
	[nSort] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nType] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tOperationStepFile] PRIMARY KEY CLUSTERED 
(
	[kOperationStepFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pps_tOperationStepFile_kOperationStep_kFile] UNIQUE NONCLUSTERED 
(
	[kOperationStep] ASC,
	[kFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tOperationStepFile] ADD  CONSTRAINT [DF_pps_tOperationStepFile_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [pps].[tOperationStepFile] ADD  CONSTRAINT [DF_pps_tOperationStepFile_nType]  DEFAULT ((0)) FOR [nType]
GO
ALTER TABLE [pps].[tOperationStepFile]  WITH CHECK ADD  CONSTRAINT [FK_pps_tOperationStepFile_kOperationStep] FOREIGN KEY([kOperationStep])
REFERENCES [pps].[tOperationStep] ([kOperationStep])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tOperationStepFile] CHECK CONSTRAINT [FK_pps_tOperationStepFile_kOperationStep]
GO
