USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkbenchBin]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkbenchBin](
	[kWorkbenchBin] [int] IDENTITY(1,1) NOT NULL,
	[kWorkbenchResource] [int] NOT NULL,
	[kWarenLagerPlatz] [int] NOT NULL,
	[nSharedBin] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nDirection] [int] NOT NULL,
	[kZustand] [int] NULL,
 CONSTRAINT [PK_pps_tWorkbenchBin] PRIMARY KEY CLUSTERED 
(
	[kWorkbenchBin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pps_tWorkbenchBin_kWorkbenchResource_kWarenLagerPlatz] UNIQUE NONCLUSTERED 
(
	[kWorkbenchResource] ASC,
	[kWarenLagerPlatz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkbenchBin]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkbenchBin_kWarenLagerPlatz] FOREIGN KEY([kWarenLagerPlatz])
REFERENCES [dbo].[tWarenLagerPlatz] ([kWarenLagerPlatz])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkbenchBin] CHECK CONSTRAINT [FK_pps_tWorkbenchBin_kWarenLagerPlatz]
GO
ALTER TABLE [pps].[tWorkbenchBin]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkbenchBin_kWorkbenchResource] FOREIGN KEY([kWorkbenchResource])
REFERENCES [ResPl].[tWorkbenchResource] ([kWorkbenchResource])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkbenchBin] CHECK CONSTRAINT [FK_pps_tWorkbenchBin_kWorkbenchResource]
GO
