USE [eazybusiness]
GO
/****** Object:  Table [pps].[tProdItem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tProdItem](
	[kArtikel] [int] NOT NULL,
	[nLotType] [tinyint] NOT NULL,
	[nProductType] [tinyint] NOT NULL,
	[nCustomOverUpload] [bit] NOT NULL,
	[nCustomOverAmazonCustoms] [bit] NOT NULL,
	[nCustomOverKonfigurationen] [bit] NOT NULL,
	[kSharedLotSize] [int] NULL,
	[nUndefinedResultAllowed] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nDestructionMode] [tinyint] NOT NULL,
	[nProductionLine] [bit] NOT NULL,
	[nVariable] [bit] NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastChanged] [datetimeoffset](7) NOT NULL,
	[kBenutzerLastChange] [int] NULL,
	[nSubsetDivision] [bit] NOT NULL,
	[kItemLabelPrintTemplate] [int] NULL,
	[kItemSingleLabelPrintTemplate] [int] NULL,
 CONSTRAINT [PK_pps_tProdItem] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nLotType]  DEFAULT ((0)) FOR [nLotType]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nProductType]  DEFAULT ((0)) FOR [nProductType]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nCustomOverUpload]  DEFAULT ((0)) FOR [nCustomOverUpload]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nCustomOverAmazonCustoms]  DEFAULT ((0)) FOR [nCustomOverAmazonCustoms]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nCustomOverKonfigurationen]  DEFAULT ((0)) FOR [nCustomOverKonfigurationen]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nUndefinedResultAllowed]  DEFAULT ((0)) FOR [nUndefinedResultAllowed]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nDestructionMode]  DEFAULT ((0)) FOR [nDestructionMode]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nProductionLine]  DEFAULT ((0)) FOR [nProductionLine]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nVariable]  DEFAULT ((0)) FOR [nVariable]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_dCreated]  DEFAULT (getutcdate()) FOR [dCreated]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_dLastChanged]  DEFAULT (getutcdate()) FOR [dLastChanged]
GO
ALTER TABLE [pps].[tProdItem] ADD  CONSTRAINT [DF_pps_tProdItem_nSubsetDivision]  DEFAULT ((0)) FOR [nSubsetDivision]
GO
ALTER TABLE [pps].[tProdItem]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProdItem_kItemLabelPrintTemplate] FOREIGN KEY([kItemLabelPrintTemplate])
REFERENCES [Report].[tVorlagenset] ([kVorlagenset])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tProdItem] CHECK CONSTRAINT [FK_pps_tProdItem_kItemLabelPrintTemplate]
GO
ALTER TABLE [pps].[tProdItem]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProdItem_kItemSingleLabelPrintTemplate] FOREIGN KEY([kItemSingleLabelPrintTemplate])
REFERENCES [Report].[tVorlagenset] ([kVorlagenset])
GO
ALTER TABLE [pps].[tProdItem] CHECK CONSTRAINT [FK_pps_tProdItem_kItemSingleLabelPrintTemplate]
GO
ALTER TABLE [pps].[tProdItem]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProdItem_tArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tProdItem] CHECK CONSTRAINT [FK_pps_tProdItem_tArtikel]
GO
