USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkJob]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkJob](
	[kWorkJob] [int] IDENTITY(1,1) NOT NULL,
	[kSessionId] [int] NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[kBillOfMaterial] [int] NOT NULL,
	[nLotSize] [decimal](25, 13) NOT NULL,
	[fMultiplier] [decimal](25, 13) NOT NULL,
	[fEkNetto] [decimal](25, 13) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kWorkProcessIteration] [int] NULL,
	[kProductionOrderProducible] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fActualQuantity] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_pps_tWorkJob] PRIMARY KEY CLUSTERED 
(
	[kWorkJob] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkJob] ADD  CONSTRAINT [DF_pps_tWorkJob_dCreated]  DEFAULT (getutcdate()) FOR [dCreated]
GO
ALTER TABLE [pps].[tWorkJob] ADD  CONSTRAINT [DF_pps_tWorkJob_nType]  DEFAULT ((0)) FOR [nType]
GO
ALTER TABLE [pps].[tWorkJob] ADD  CONSTRAINT [DF_pps_tWorkJob_fMultiplier]  DEFAULT ((1.0)) FOR [fMultiplier]
GO
ALTER TABLE [pps].[tWorkJob] ADD  CONSTRAINT [DF_pps_tWorkJob_fActualQuantity]  DEFAULT ((0)) FOR [fActualQuantity]
GO
ALTER TABLE [pps].[tWorkJob]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobResult_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [pps].[tProdItem] ([kArtikel])
GO
ALTER TABLE [pps].[tWorkJob] CHECK CONSTRAINT [FK_pps_tWorkJobResult_kArtikel]
GO
ALTER TABLE [pps].[tWorkJob]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobResult_kBillOfMaterial] FOREIGN KEY([kBillOfMaterial])
REFERENCES [pps].[tBillOfMaterial] ([kBillOfMaterial])
ON UPDATE CASCADE
GO
ALTER TABLE [pps].[tWorkJob] CHECK CONSTRAINT [FK_pps_tWorkJobResult_kBillOfMaterial]
GO
ALTER TABLE [pps].[tWorkJob]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobResult_kProductionOrderProducible] FOREIGN KEY([kProductionOrderProducible])
REFERENCES [pps].[tProductionOrderProducible] ([kProductionOrderProducible])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tWorkJob] CHECK CONSTRAINT [FK_pps_tWorkJobResult_kProductionOrderProducible]
GO
ALTER TABLE [pps].[tWorkJob]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobResult_kSessionId] FOREIGN KEY([kSessionId])
REFERENCES [dbo].[tSessionId] ([kSessionId])
ON UPDATE CASCADE
GO
ALTER TABLE [pps].[tWorkJob] CHECK CONSTRAINT [FK_pps_tWorkJobResult_kSessionId]
GO
ALTER TABLE [pps].[tWorkJob]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobResult_kWorkProcessIteration] FOREIGN KEY([kWorkProcessIteration])
REFERENCES [pps].[tWorkProcessIteration] ([kWorkProcessIteration])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkJob] CHECK CONSTRAINT [FK_pps_tWorkJobResult_kWorkProcessIteration]
GO
