USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkJobResult]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkJobResult](
	[kWorkJobResult] [int] IDENTITY(1,1) NOT NULL,
	[kWorkJob] [int] NOT NULL,
	[kZustand] [int] NOT NULL,
	[kArtikel] [int] NULL,
	[fQuantity] [decimal](25, 13) NOT NULL,
	[fRatio] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tWorkJobResult] PRIMARY KEY CLUSTERED 
(
	[kWorkJobResult] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkJobResult]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobResult_kWorkJob] FOREIGN KEY([kWorkJob])
REFERENCES [pps].[tWorkJob] ([kWorkJob])
ON UPDATE CASCADE
GO
ALTER TABLE [pps].[tWorkJobResult] CHECK CONSTRAINT [FK_pps_tWorkJobResult_kWorkJob]
GO
ALTER TABLE [pps].[tWorkJobResult]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobResult_kZustand] FOREIGN KEY([kZustand])
REFERENCES [dbo].[tZustand] ([kZustand])
ON UPDATE CASCADE
GO
ALTER TABLE [pps].[tWorkJobResult] CHECK CONSTRAINT [FK_pps_tWorkJobResult_kZustand]
GO
