USE [eazybusiness]
GO
/****** Object:  Table [pps].[tOperationStepSprache]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tOperationStepSprache](
	[kOperationStep] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cText] [nvarchar](max) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tOperationStepSprache] PRIMARY KEY CLUSTERED 
(
	[kOperationStep] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [pps].[tOperationStepSprache]  WITH CHECK ADD  CONSTRAINT [FK_pps_tOperationStepSprache_kOperationStep] FOREIGN KEY([kOperationStep])
REFERENCES [pps].[tOperationStep] ([kOperationStep])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tOperationStepSprache] CHECK CONSTRAINT [FK_pps_tOperationStepSprache_kOperationStep]
GO
