USE [eazybusiness]
GO
/****** Object:  Table [pps].[tOperationLabel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tOperationLabel](
	[kOperation] [int] NOT NULL,
	[kLabel] [int] NOT NULL,
 CONSTRAINT [PK_pps_tOperationLabel] PRIMARY KEY CLUSTERED 
(
	[kOperation] ASC,
	[kLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tOperationLabel]  WITH CHECK ADD  CONSTRAINT [FK_pps_tOperationLabel_kOperation] FOREIGN KEY([kOperation])
REFERENCES [pps].[tOperation] ([kOperation])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tOperationLabel] CHECK CONSTRAINT [FK_pps_tOperationLabel_kOperation]
GO
