USE [eazybusiness]
GO
/****** Object:  Table [pps].[tProductionOrderProducible]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tProductionOrderProducible](
	[kProductionOrderProducible] [int] IDENTITY(1,1) NOT NULL,
	[kProductionOrder] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[fTargetTotalQuantity] [decimal](25, 13) NOT NULL,
	[kBillOfMaterial] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fLotSize] [decimal](25, 13) NOT NULL,
	[fActualQuantity] [decimal](25, 13) NOT NULL,
	[kDisposition] [int] NULL,
 CONSTRAINT [PK_pps_tProductionOrderProducible] PRIMARY KEY CLUSTERED 
(
	[kProductionOrderProducible] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tProductionOrderProducible] ADD  CONSTRAINT [DF_pps_tProductionOrderProducible_fLotSize]  DEFAULT ((1)) FOR [fLotSize]
GO
ALTER TABLE [pps].[tProductionOrderProducible] ADD  CONSTRAINT [DF_pps_tProductionOrderProducible_fActualQuantity]  DEFAULT ((0)) FOR [fActualQuantity]
GO
ALTER TABLE [pps].[tProductionOrderProducible]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProductionOrderProducible_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [pps].[tProdItem] ([kArtikel])
GO
ALTER TABLE [pps].[tProductionOrderProducible] CHECK CONSTRAINT [FK_pps_tProductionOrderProducible_kArtikel]
GO
ALTER TABLE [pps].[tProductionOrderProducible]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProductionOrderProducible_kBillOfMaterial] FOREIGN KEY([kBillOfMaterial])
REFERENCES [pps].[tBillOfMaterial] ([kBillOfMaterial])
ON UPDATE CASCADE
GO
ALTER TABLE [pps].[tProductionOrderProducible] CHECK CONSTRAINT [FK_pps_tProductionOrderProducible_kBillOfMaterial]
GO
ALTER TABLE [pps].[tProductionOrderProducible]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProductionOrderProducible_kDisposition] FOREIGN KEY([kDisposition])
REFERENCES [pps].[tDisposition] ([kDisposition])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tProductionOrderProducible] CHECK CONSTRAINT [FK_pps_tProductionOrderProducible_kDisposition]
GO
ALTER TABLE [pps].[tProductionOrderProducible]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProductionOrderProducible_kProductionOrder] FOREIGN KEY([kProductionOrder])
REFERENCES [pps].[tProductionOrder] ([kProductionOrder])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tProductionOrderProducible] CHECK CONSTRAINT [FK_pps_tProductionOrderProducible_kProductionOrder]
GO
