USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkJobOperation]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkJobOperation](
	[kWorkJobOperation] [int] IDENTITY(1,1) NOT NULL,
	[kWorkJob] [int] NOT NULL,
	[kOperation] [int] NOT NULL,
	[dStarted] [datetimeoffset](7) NULL,
	[dFinished] [datetimeoffset](7) NULL,
	[kBenutzer] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kPickliste] [int] NULL,
	[kBillOfMaterialComponent] [int] NULL,
	[kCreatedWorkbenchResource] [int] NULL,
	[kLastWorkbenchResource] [int] NULL,
 CONSTRAINT [PK_pps_tWorkJobOperation] PRIMARY KEY CLUSTERED 
(
	[kWorkJobOperation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkJobOperation]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobOperation_kBillOfMaterialComponent] FOREIGN KEY([kBillOfMaterialComponent])
REFERENCES [pps].[tBillOfMaterialComponents] ([kBillOfMaterialComponent])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tWorkJobOperation] CHECK CONSTRAINT [FK_pps_tWorkJobOperation_kBillOfMaterialComponent]
GO
ALTER TABLE [pps].[tWorkJobOperation]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobOperation_kCreatedWorkbenchResource] FOREIGN KEY([kCreatedWorkbenchResource])
REFERENCES [ResPl].[tWorkbenchResource] ([kWorkbenchResource])
GO
ALTER TABLE [pps].[tWorkJobOperation] CHECK CONSTRAINT [FK_pps_tWorkJobOperation_kCreatedWorkbenchResource]
GO
ALTER TABLE [pps].[tWorkJobOperation]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobOperation_kLastWorkbenchResource] FOREIGN KEY([kLastWorkbenchResource])
REFERENCES [ResPl].[tWorkbenchResource] ([kWorkbenchResource])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tWorkJobOperation] CHECK CONSTRAINT [FK_pps_tWorkJobOperation_kLastWorkbenchResource]
GO
ALTER TABLE [pps].[tWorkJobOperation]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobOperation_kOperation] FOREIGN KEY([kOperation])
REFERENCES [pps].[tOperation] ([kOperation])
GO
ALTER TABLE [pps].[tWorkJobOperation] CHECK CONSTRAINT [FK_pps_tWorkJobOperation_kOperation]
GO
ALTER TABLE [pps].[tWorkJobOperation]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobOperation_kPickliste] FOREIGN KEY([kPickliste])
REFERENCES [dbo].[tPickliste] ([kPickliste])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tWorkJobOperation] CHECK CONSTRAINT [FK_pps_tWorkJobOperation_kPickliste]
GO
ALTER TABLE [pps].[tWorkJobOperation]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobOperation_kWorkJob] FOREIGN KEY([kWorkJob])
REFERENCES [pps].[tWorkJob] ([kWorkJob])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkJobOperation] CHECK CONSTRAINT [FK_pps_tWorkJobOperation_kWorkJob]
GO
