USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkJobBillOfMaterialsComponentStock]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkJobBillOfMaterialsComponentStock](
	[kWorkJobBillOfMaterialsComponentStock] [int] IDENTITY(1,1) NOT NULL,
	[kWorkJobBillOfMaterialsComponent] [int] NOT NULL,
	[kPicklistePos] [int] NOT NULL,
	[fActualQuantity] [decimal](25, 13) NOT NULL,
	[kMasseinheit] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kWorkbenchResource] [int] NULL,
 CONSTRAINT [PK_pps_tWorkJobBillOfMaterialsComponentStock] PRIMARY KEY CLUSTERED 
(
	[kWorkJobBillOfMaterialsComponentStock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pps_tWorkJobBillOfMaterialsComponentStock_kWorkJobBillOfMaterialsComponent_kPicklistePos] UNIQUE NONCLUSTERED 
(
	[kWorkJobBillOfMaterialsComponent] ASC,
	[kPicklistePos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkJobBillOfMaterialsComponentStock] ADD  CONSTRAINT [DF_pps_tWorkJobBillOfMaterialsComponentStock_fActualQuantity]  DEFAULT ((0.0)) FOR [fActualQuantity]
GO
ALTER TABLE [pps].[tWorkJobBillOfMaterialsComponentStock]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobBillOfMaterialsComponentStock_kWorkbenchResource] FOREIGN KEY([kWorkbenchResource])
REFERENCES [ResPl].[tWorkbenchResource] ([kWorkbenchResource])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tWorkJobBillOfMaterialsComponentStock] CHECK CONSTRAINT [FK_pps_tWorkJobBillOfMaterialsComponentStock_kWorkbenchResource]
GO
ALTER TABLE [pps].[tWorkJobBillOfMaterialsComponentStock]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobBillOfMaterialsComponentStock_kWorkJobBillOfMaterialsComponent] FOREIGN KEY([kWorkJobBillOfMaterialsComponent])
REFERENCES [pps].[tWorkJobBillOfMaterialsComponent] ([kWorkJobBillOfMaterialsComponent])
GO
ALTER TABLE [pps].[tWorkJobBillOfMaterialsComponentStock] CHECK CONSTRAINT [FK_pps_tWorkJobBillOfMaterialsComponentStock_kWorkJobBillOfMaterialsComponent]
GO
