USE [eazybusiness]
GO
/****** Object:  Table [pps].[tDisposition]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tDisposition](
	[kDisposition] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[fQuantity] [decimal](25, 13) NOT NULL,
	[nStatus] [tinyint] NOT NULL,
	[kBenutzer] [int] NULL,
	[cComment] [nvarchar](max) NULL,
	[dIntendedCompletionDate] [datetimeoffset](7) NULL,
	[nReferenceType] [tinyint] NOT NULL,
	[kReference] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fActualQuantity] [decimal](25, 13) NOT NULL,
	[fPlannedQuantity] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_pps_tDisposition] PRIMARY KEY CLUSTERED 
(
	[kDisposition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [pps].[tDisposition] ADD  CONSTRAINT [DF_pps_tDisposition_fQuantity]  DEFAULT ((0.0)) FOR [fQuantity]
GO
ALTER TABLE [pps].[tDisposition] ADD  CONSTRAINT [DF_pps_tDisposition_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
ALTER TABLE [pps].[tDisposition] ADD  CONSTRAINT [DF_pps_tDisposition_nReferenceType]  DEFAULT ((0)) FOR [nReferenceType]
GO
ALTER TABLE [pps].[tDisposition] ADD  CONSTRAINT [DF_pps_tDisposition_fActualQuantity]  DEFAULT ((0)) FOR [fActualQuantity]
GO
ALTER TABLE [pps].[tDisposition] ADD  CONSTRAINT [DF_pps_tDisposition_fPlannedQuantity]  DEFAULT ((0)) FOR [fPlannedQuantity]
GO
ALTER TABLE [pps].[tDisposition]  WITH CHECK ADD  CONSTRAINT [FK_pps_tDisposition_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [pps].[tProdItem] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tDisposition] CHECK CONSTRAINT [FK_pps_tDisposition_kArtikel]
GO
