USE [eazybusiness]
GO
/****** Object:  Table [pps].[tLotPreparationProductionOrder]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tLotPreparationProductionOrder](
	[kLotPreparationProductionOrder] [int] IDENTITY(1,1) NOT NULL,
	[kProductionOrder] [int] NOT NULL,
 CONSTRAINT [PK_pps_tLotPreparationProductionOrder] PRIMARY KEY CLUSTERED 
(
	[kLotPreparationProductionOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tLotPreparationProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationProductionOrder_kProductionOrder] FOREIGN KEY([kProductionOrder])
REFERENCES [pps].[tProductionOrder] ([kProductionOrder])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tLotPreparationProductionOrder] CHECK CONSTRAINT [FK_pps_tLotPreparationProductionOrder_kProductionOrder]
GO
