USE [eazybusiness]
GO
/****** Object:  Table [pps].[tProductionOrderSearch]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tProductionOrderSearch](
	[kProductionOrder] [int] NOT NULL,
	[cNummer] [nvarchar](255) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tProductionOrderSearch] PRIMARY KEY CLUSTERED 
(
	[kProductionOrder] ASC,
	[cNummer] ASC,
	[nType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tProductionOrderSearch]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProductionOrderSearch_kProductionOrder] FOREIGN KEY([kProductionOrder])
REFERENCES [pps].[tProductionOrder] ([kProductionOrder])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tProductionOrderSearch] CHECK CONSTRAINT [FK_pps_tProductionOrderSearch_kProductionOrder]
GO
