USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkProcessSearch]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkProcessSearch](
	[kWorkProcess] [int] NOT NULL,
	[cIdentifier] [nvarchar](255) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tWorkProcessSearch] PRIMARY KEY CLUSTERED 
(
	[kWorkProcess] ASC,
	[cIdentifier] ASC,
	[nType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkProcessSearch]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcessSearch_kWorkProcess] FOREIGN KEY([kWorkProcess])
REFERENCES [pps].[tWorkProcess] ([kWorkProcess])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkProcessSearch] CHECK CONSTRAINT [FK_pps_tWorkProcessSearch_kWorkProcess]
GO
