USE [eazybusiness]
GO
/****** Object:  Table [pps].[tBillOfMaterial]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tBillOfMaterial](
	[kBillOfMaterial] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[nVersion] [int] NOT NULL,
	[cName] [nvarchar](100) NOT NULL,
	[nState] [tinyint] NOT NULL,
	[cComment] [nvarchar](3000) NOT NULL,
	[cHash] [nvarchar](255) NOT NULL,
	[kParentBillOfMaterial] [int] NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dActive] [datetimeoffset](7) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[dLastChanged] [datetimeoffset](7) NULL,
	[kBenutzerLastChanged] [int] NULL,
	[nType] [tinyint] NOT NULL,
	[nComponentPostingsShelfLifeEndDateRequirements] [tinyint] NOT NULL,
	[nComponentPostingsBatchNumberRequirements] [tinyint] NOT NULL,
	[fCalculatedStock] [decimal](25, 13) NOT NULL,
	[dCalculatedStockTimeStamp] [datetimeoffset](7) NULL,
	[nShelfLifeEndDateGenerationMode] [tinyint] NULL,
	[nAdditionalShelfLifeEndDateTime] [bigint] NULL,
 CONSTRAINT [PK_pps_tBillOfMaterial] PRIMARY KEY CLUSTERED 
(
	[kBillOfMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tBillOfMaterial] ADD  CONSTRAINT [DF_pps_tBillOfMaterial_nState]  DEFAULT ((0)) FOR [nState]
GO
ALTER TABLE [pps].[tBillOfMaterial] ADD  CONSTRAINT [DF_pps_tBillOfMaterial_cComment]  DEFAULT ('') FOR [cComment]
GO
ALTER TABLE [pps].[tBillOfMaterial] ADD  CONSTRAINT [DF_pps_tBillOfMaterial_dCreated]  DEFAULT (getdate()) FOR [dCreated]
GO
ALTER TABLE [pps].[tBillOfMaterial] ADD  CONSTRAINT [DF_pps_tBillOfMaterial_nType]  DEFAULT ((0)) FOR [nType]
GO
ALTER TABLE [pps].[tBillOfMaterial] ADD  DEFAULT ((0)) FOR [nComponentPostingsShelfLifeEndDateRequirements]
GO
ALTER TABLE [pps].[tBillOfMaterial] ADD  DEFAULT ((0)) FOR [nComponentPostingsBatchNumberRequirements]
GO
ALTER TABLE [pps].[tBillOfMaterial] ADD  DEFAULT ((0)) FOR [fCalculatedStock]
GO
ALTER TABLE [pps].[tBillOfMaterial]  WITH CHECK ADD  CONSTRAINT [FK_pps_tBillOfMaterial_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [pps].[tProdItem] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tBillOfMaterial] CHECK CONSTRAINT [FK_pps_tBillOfMaterial_kArtikel]
GO
ALTER TABLE [pps].[tBillOfMaterial]  WITH CHECK ADD  CONSTRAINT [CK_pps_tBillOfMaterial_nShelfLifeEndDateGenerationMode] CHECK  (([nShelfLifeEndDateGenerationMode]=(2) OR [nShelfLifeEndDateGenerationMode]=(1) OR [nShelfLifeEndDateGenerationMode]=(0)))
GO
ALTER TABLE [pps].[tBillOfMaterial] CHECK CONSTRAINT [CK_pps_tBillOfMaterial_nShelfLifeEndDateGenerationMode]
GO
