USE [eazybusiness]
GO
/****** Object:  Table [pps].[tProductionOrder]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tProductionOrder](
	[kProductionOrder] [int] IDENTITY(1,1) NOT NULL,
	[cIssueNumber] [nvarchar](100) NOT NULL,
	[dIssueDate] [datetimeoffset](7) NOT NULL,
	[dLastModified] [datetimeoffset](7) NOT NULL,
	[kBenutzerCreated] [int] NOT NULL,
	[kBenutzerLastModified] [int] NOT NULL,
	[cProjectNumber] [nvarchar](100) NOT NULL,
	[cReferenceNumber] [nvarchar](100) NOT NULL,
	[fProgress] [decimal](25, 13) NOT NULL,
	[nLotSize] [decimal](25, 13) NOT NULL,
	[nHasWarnings] [bit] NOT NULL,
	[dTargetStart] [datetimeoffset](7) NULL,
	[dTargetCompletion] [datetimeoffset](7) NULL,
	[dActualStart] [datetimeoffset](7) NULL,
	[dActualCompletion] [datetimeoffset](7) NULL,
	[dDelivery] [datetimeoffset](7) NULL,
	[dRelease] [datetimeoffset](7) NULL,
	[kBenutzerReleased] [int] NULL,
	[cNotice] [nvarchar](max) NOT NULL,
	[cText] [nvarchar](max) NOT NULL,
	[nCombinedLotSize] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nLotCount] [int] NOT NULL,
	[nTargetTotalQuantityBelowLotSizeAllowed] [bit] NOT NULL,
 CONSTRAINT [PK_pps_tProductionOrder] PRIMARY KEY CLUSTERED 
(
	[kProductionOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [pps].[tProductionOrder] ADD  CONSTRAINT [DF_pps_tProductionOrder_cProjectNumber]  DEFAULT ('') FOR [cProjectNumber]
GO
ALTER TABLE [pps].[tProductionOrder] ADD  CONSTRAINT [DF_pps_tProductionOrder_cReferenceNumber]  DEFAULT ('') FOR [cReferenceNumber]
GO
ALTER TABLE [pps].[tProductionOrder] ADD  CONSTRAINT [DF_pps_tProductionOrder_cNotice]  DEFAULT ('') FOR [cNotice]
GO
ALTER TABLE [pps].[tProductionOrder] ADD  CONSTRAINT [DF_pps_tProductionOrder_cText]  DEFAULT ('') FOR [cText]
GO
ALTER TABLE [pps].[tProductionOrder] ADD  CONSTRAINT [DF_pps_tProductionOrder_nCombinedLotSize]  DEFAULT ((0)) FOR [nCombinedLotSize]
GO
ALTER TABLE [pps].[tProductionOrder] ADD  CONSTRAINT [DF_pps_tProductionOrder_nLotCount]  DEFAULT ((1)) FOR [nLotCount]
GO
ALTER TABLE [pps].[tProductionOrder] ADD  CONSTRAINT [DF_pps_tProductionOrder_nTargetTotalQuantityBelowLotSizeAllowed]  DEFAULT ((0)) FOR [nTargetTotalQuantityBelowLotSizeAllowed]
GO
