USE [eazybusiness]
GO
/****** Object:  Table [pps].[tOperationFile]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tOperationFile](
	[kOperationFile] [int] IDENTITY(1,1) NOT NULL,
	[kOperation] [int] NOT NULL,
	[kFile] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nSort] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tOperationFile] PRIMARY KEY CLUSTERED 
(
	[kOperationFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pps_tOperationFile_kOperation_kFile] UNIQUE NONCLUSTERED 
(
	[kOperation] ASC,
	[kFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tOperationFile] ADD  CONSTRAINT [DF_pps_tOperationFile_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [pps].[tOperationFile]  WITH CHECK ADD  CONSTRAINT [FK_pps_tOperationFile_kOperation] FOREIGN KEY([kOperation])
REFERENCES [pps].[tOperation] ([kOperation])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tOperationFile] CHECK CONSTRAINT [FK_pps_tOperationFile_kOperation]
GO
