USE [eazybusiness]
GO
/****** Object:  Table [pps].[tBillOfMaterialComponentsSubsets]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tBillOfMaterialComponentsSubsets](
	[kDimension] [int] NOT NULL,
	[kBillOfMaterialComponent] [int] NOT NULL,
	[fValue] [decimal](25, 13) NOT NULL,
	[fGroundValue] [decimal](25, 13) NOT NULL,
	[kMassEinheit] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tBillOfMaterialComponentsSubsets] PRIMARY KEY CLUSTERED 
(
	[kBillOfMaterialComponent] ASC,
	[kDimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tBillOfMaterialComponentsSubsets]  WITH CHECK ADD  CONSTRAINT [FK_pps_tBillOfMaterialComponentsSubsets_kBillOfMaterialComponent] FOREIGN KEY([kBillOfMaterialComponent])
REFERENCES [pps].[tBillOfMaterialComponents] ([kBillOfMaterialComponent])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tBillOfMaterialComponentsSubsets] CHECK CONSTRAINT [FK_pps_tBillOfMaterialComponentsSubsets_kBillOfMaterialComponent]
GO
ALTER TABLE [pps].[tBillOfMaterialComponentsSubsets]  WITH CHECK ADD  CONSTRAINT [FK_pps_tBillOfMaterialComponentsSubsets_kDimension] FOREIGN KEY([kDimension])
REFERENCES [subset].[tDimension] ([kDimension])
GO
ALTER TABLE [pps].[tBillOfMaterialComponentsSubsets] CHECK CONSTRAINT [FK_pps_tBillOfMaterialComponentsSubsets_kDimension]
GO
ALTER TABLE [pps].[tBillOfMaterialComponentsSubsets]  WITH CHECK ADD  CONSTRAINT [FK_pps_tBillOfMaterialComponentsSubsets_kMassEinheit] FOREIGN KEY([kMassEinheit])
REFERENCES [dbo].[tMassEinheit] ([kMassEinheit])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tBillOfMaterialComponentsSubsets] CHECK CONSTRAINT [FK_pps_tBillOfMaterialComponentsSubsets_kMassEinheit]
GO
