USE [eazybusiness]
GO
/****** Object:  View [pps].[lvProducibleProductionOrder]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[lvProducibleProductionOrder]
AS
/*************************************************************************************************************
Beschreibung:	Listview: Übersicht über die Fertigungsaufträge
*************************************************************************************************************/
SELECT
			PO.kProductionOrder,
			PO.cIssueNumber,
			PO.dIssueDate,
			PO.dLastModified,
			PO.dDelivery,
			PO.dActualCompletion,
			PO.dActualStart,
			PO.dRelease,
			PO.dTargetCompletion,
			PO.dTargetStart,
			PO.nLotCount,
			PO.nLotSize,
			PO.nCombinedLotSize,
			PO.nTargetTotalQuantityBelowLotSizeAllowed,
			BenCr.cName AS cBenutzerCreated,
			BenLM.cName AS cBenutzerLastModified,
			BenRel.cName AS cBenutzerReleased,
			'[' + STUFF((
							SELECT		', {"Quantity":' + CONVERT(VARCHAR(25), SUM(POP.fTargetTotalQuantity))
										+ ', "Name":"' + REPLACE(REPLACE(ArtBe.cName, '\', '\\'), '"', '\"')
										+ '", "ItemKey":' + CONVERT(VARCHAR(10), POP.kArtikel)
										+ ', "ItemNumber":"' + REPLACE(Art.cArtNr, '\', '\\') + '"}'
							FROM		pps.tProductionOrderProducible AS POP
							JOIN		dbo.tSpracheUsed AS SprU ON SprU.nStandard = 1
							JOIN		dbo.tArtikel AS Art ON Art.kArtikel = POP.kArtikel
							JOIN		dbo.tArtikelBeschreibung AS ArtBe ON ArtBe.kArtikel = POP.kArtikel AND ArtBe.kSprache = SprU.kSprache AND ArtBe.kPlattform = 1
							WHERE		POP.kProductionOrder = PO.kProductionOrder
							GROUP BY	ArtBe.cName,
										POP.kArtikel,
										Art.cArtNr
							FOR XML PATH('')
				), 1, 2, '') + ']' AS Items,
			CONVERT(DATETIME2, PO.dIssueDate) AS dFilterDate
FROM		pps.tProductionOrder AS PO
LEFT JOIN	pps.tWorkProcess AS WP ON WP.kProductionOrder = PO.kProductionOrder AND WP.dCanceled IS NULL
LEFT JOIN	eazybusiness.dbo.tBenutzer AS BenCr ON PO.kBenutzerCreated = BenCr.kBenutzer
LEFT JOIN	eazybusiness.dbo.tBenutzer AS BenLM /* BenutzerLastModified */ ON PO.kBenutzerLastModified = BenLM.kBenutzer
LEFT JOIN	eazybusiness.dbo.tBenutzer AS BenRel ON PO.kBenutzerReleased = BenRel.kBenutzer
WHERE		WP.kWorkProcess IS NULL
GO
