USE [eazybusiness]
GO
/****** Object:  View [pps].[lvProductionItem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[lvProductionItem]
AS
/*************************************************************************************************************
Beschreibung:	Listview: Übersicht aller produzierbaren Artikel
*************************************************************************************************************/
SELECT
		IQ.kArtikel,
		IQ.kArtikelForKategorieArtikel,
		IQ.Artikelnummer,
		IQ.Sortiernummer,
		IQ.Artikelname,
		IQ.Einheit,
		IQ.EAN,
		IQ.cHAN,
		IQ.Breite,
		IQ.Hoehe,
		IQ.Laenge,
		IQ.Erstelldatum,
		IQ.Bearbeitungsdatum,
		IQ.Bearbeiter,
		IQ.Labels,
		IQ.Masseinheit,
		IQ.Versandgewicht,
		IQ.Gewicht,
		IQ.BestandGesamt,
		IQ.BestandEigen,
		IQ.BestandImZulauf,
		IQ.BestandAufEinkaufsliste,
		IQ.BestandInAuftraegen,
		IQ.BestandVerfuegbar,
		IQ.Produzierbar,
		IQ.InProduktion,
		IQ.TimeStampCalculation,
		IQ.Mindestbestand,
		IQ.IstLagerfuehrungaktiv,
		IQ.IstAktiv,
		IQ.IstSeriennummer,
		IQ.IstStueckzahlteilbar,
		IQ.IstUeberverkaufMoeglich,
		IQ.IstVarkombikind,
		IQ.HatMindestbestand,
		IQ.IstMHD,
		IQ.IstCharge,
		IQ.IstFuerBestellvorschlagGesperrt,
		IQ.Warengruppe,
		IQ.ZustandSprache,
		IQ.ZustandName,
		IQ.Puffer,
		IQ.SeriennummernVerfolgung,
		IQ.Produktionstyp,
		SprU.kSprache,
		SprU.cNameEng,
		SprU.cNameDeu,
		SprU.cISO,
		SprU.nStandard,
		SprU.cKultur,
		SprU.cISO2
FROM	(
			SELECT
						Art.kArtikel,
						Art.kArtikel AS kArtikelForKategorieArtikel,
						Art.cArtNr AS Artikelnummer,
						ISNULL(Art.nSort, 0) AS Sortiernummer,
						ArtBe.cName AS Artikelname,
						EinhSpr.cName AS Einheit,
						Art.cBarcode AS EAN,
						Art.cHAN,
						Art.fBreite AS Breite,
						Art.fHoehe AS Hoehe,
						Art.fLaenge AS Laenge,
						PrI.dCreated AS Erstelldatum,
						PrI.dLastChanged AS Bearbeitungsdatum,
						PrI.nProductType AS Produktionstyp,
						Ben.cName AS Bearbeiter,
						(
							SELECT	L.kLabel,
									L.cName,
									L.cColor
							FROM	dbo.tArtikelLabel AS ArtL
							JOIN	dbo.tLabel AS L ON L.kLabel = ArtL.kLabel
							WHERE	ArtL.kArtikel = Art.kArtikel
							FOR XML PATH('Label'), TYPE, ROOT('Labels')
						) AS Labels,
						MESpr.cName AS Masseinheit,
						Art.fGewicht AS Versandgewicht,
						Art.fArtGewicht AS Gewicht,
						LB.fLagerbestand AS BestandGesamt,
						LB.fLagerbestandEigen AS BestandEigen,
						LB.fZulauf AS BestandImZulauf,
						LB.fAufEinkaufsliste AS BestandAufEinkaufsliste,
						LB.fInAuftraegen AS BestandInAuftraegen,
						LB.fVerfuegbar AS BestandVerfuegbar,
						ISNULL(LBV.fBestand, 0.0) AS Produzierbar,
						ISNULL(LBV.fZulauf, 0.0) AS InProduktion,
						CONVERT(DATETIMEOFFSET, LBV.dGeandert) AS TimeStampCalculation,
						CASE WHEN Art.nIstMindestbestand > 0 THEN Art.nMidestbestand ELSE NULL END AS Mindestbestand,
						CAST(CASE WHEN Art.cLagerAktiv = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstLagerfuehrungaktiv,
						CAST(CASE WHEN Art.cAktiv = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstAktiv,
						CAST(CASE WHEN Art.cLagerArtikel = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstSeriennummer,
						CAST(CASE WHEN Art.cTeilbar = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstStueckzahlteilbar,
						CAST(CASE WHEN Art.cLagerKleinerNull = 'Y' THEN 1 ELSE 0 END AS BIT) AS IstUeberverkaufMoeglich,
						CAST(CASE WHEN Art.kVaterArtikel > 0 THEN 1 ELSE 0 END AS BIT) AS IstVarkombikind,
						CAST(CASE WHEN Art.nIstMindestbestand > 0 THEN 1 ELSE 0 END AS BIT) AS HatMindestbestand,
						CAST(CASE WHEN Art.nMHD > 0 THEN 1 ELSE 0 END AS BIT) AS IstMHD,
						CAST(CASE WHEN Art.nCharge > 0 THEN 1 ELSE 0 END AS BIT) AS IstCharge,
						CAST(CASE WHEN Art.nNichtBestellbar > 0 THEN 1 ELSE 0 END AS BIT) AS IstFuerBestellvorschlagGesperrt,
						WG.cName AS Warengruppe,
						ZSpr.kSprache AS ZustandSprache,
						ZSpr.cName AS ZustandName,
						Art.nPuffer AS Puffer,
						CAST(CASE WHEN Art.nSeriennummernVerfolgung > 0 THEN 1 ELSE 0 END AS BIT) AS SeriennummernVerfolgung
			FROM		dbo.tArtikel AS Art
			JOIN		pps.tProdItem AS PrI ON Art.kArtikel = PrI.kArtikel
			JOIN		dbo.tZustand AS Z ON Art.kZustand = Z.kZustand
			JOIN		dbo.tZustandSprache AS ZSpr ON Art.kZustand = ZSpr.kZustand
			JOIN		dbo.tArtikelBeschreibung AS ArtBe ON Art.kArtikel = ArtBe.kArtikel AND ZSpr.kSprache = ArtBe.kSprache AND ArtBe.kPlattform = 1
			JOIN		dbo.tLagerbestand AS LB ON Art.kArtikel = LB.kArtikel
			LEFT JOIN	dbo.tWarengruppe AS WG ON WG.kWarengruppe = Art.kWarengruppe
			LEFT JOIN	eazybusiness.dbo.tBenutzer AS Ben ON PrI.kBenutzerLastChange = Ben.kBenutzer
			LEFT JOIN	dbo.tEinheitSprache AS EinhSpr ON Art.kVerkaufsEinheit = EinhSpr.kEinheit AND ZSpr.kSprache = EinhSpr.kSprache
			LEFT JOIN	dbo.tMassEinheit AS GPEinh /* Grundpreiseinheit */ ON Art.kGrundPreisEinheit = GPEinh.kMassEinheit
			LEFT JOIN	dbo.tMassEinheitSprache AS MESpr ON MESpr.kSprache = ZSpr.kSprache AND MESpr.kMassEinheit = Art.kMassEinheit
			LEFT JOIN	dbo.tLagerbestandVirtuell AS LBV ON Art.kArtikel = LBV.kArtikel AND LBV.iModuleId = '0200D767-9A5C-4B6A-882E-051FFA69A9D2'
			WHERE		Art.cAktiv = 'Y'
		) AS IQ /* InnerQuery */
JOIN	dbo.tSpracheUsed AS SprU ON SprU.nStandard = 1 AND SprU.kSprache = IQ.ZustandSprache;
GO
