USE [eazybusiness]
GO
/****** Object:  View [pps].[lvReplenishmentOrder]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[lvReplenishmentOrder]
AS
/*************************************************************************************************************
Beschreibung:	Listview: Übersicht über die Nachschubaufträge
*************************************************************************************************************/
SELECT
			VA.kAuftrag,
			VA.cAuftragsNr,
			WbRes.kWorkbenchResource,
			VA.dErstellt,
			VA.kBenutzer,
			CASE
				WHEN VA.nStorno = 1 THEN 1
				WHEN VA.nKomplettAusgeliefert > 0 THEN 3
				WHEN VA.nKomplettAusgeliefert = 0 AND Sub.kPickliste IS NOT NULL THEN 2
				ELSE 0
			END nState,
			Ben.cName AS cBenutzerNameErstellt,
			Res.cName AS cWorkbenchName,
			Res.cNumber AS cWorkbenchNummer,
			WL.cName AS cWarenlagerName,
			Op.cOperationNumber AS cOperationNumber,
			Op.cName AS cOperationName,
			ISNULL(Op.cProductionLotNumber, It.cProductionLotNumber) AS cProductionLotNumber,
			ISNULL(ISNULL(Op.cProductionBatchNumber, It.cProductionBatchNumber), WP.cProductionBatchNumber) AS cProductionBatchNumber
FROM		Verkauf.tAuftrag AS VA
JOIN		Verkauf.tAuftragPosition AS VAP ON VA.kAuftrag = VAP.kAuftrag
JOIN		WMS.tReplenishmentDestination AS ReplDest ON ReplDest.kAuftragPos = VAP.kAuftragPosition
JOIN		ResPl.tWorkbenchResource AS WbRes ON WbRes.kResource = ReplDest.kResource
JOIN		ResPl.tResource AS Res ON Res.kResource = WbRes.kResource
JOIN		pps.tWorkProcessReplenishment AS WPRepl ON VA.kAuftrag = WPRepl.kReplenishmentAuftrag
LEFT JOIN	(
				SELECT
						WJOp.kWorkJobOperation,
						Op.cOperationNumber,
						Op.cName,
						WPI.cProductionLotNumber,
						cProductionBatchNumber
				FROM	pps.tWorkJobOperation AS WJOp
				JOIN	pps.tWorkJob AS WJ ON WJ.kWorkJob = WJOp.kWorkJob
				JOIN	pps.tWorkProcessIteration AS WPI ON WPI.kWorkProcessIteration = WJ.kWorkProcessIteration
				JOIN	pps.tWorkProcess AS WP ON WP.kWorkProcess = WPI.kWorkProcess
				JOIN	pps.tOperation AS Op ON Op.kOperation = WJOp.kOperation
			) AS Op ON Op.kWorkJobOperation = WPRepl.kWorkJobOperation
LEFT JOIN	(
				SELECT	WPI.kWorkProcessIteration,
						WPI.cProductionLotNumber,
						cProductionBatchNumber
				FROM	pps.tWorkProcessIteration AS WPI
				JOIN	pps.tWorkProcess AS WP ON WP.kWorkProcess = WPI.kWorkProcess
			) AS It /* Iteration */ ON It.kWorkProcessIteration = WPRepl.kWorkProcessIteration
LEFT JOIN	pps.tWorkProcess AS WP ON WP.kWorkProcess = WPRepl.kWorkProcess
LEFT JOIN	(
				SELECT	PLP.kBestellung,
						PLP.kPickliste
				FROM	dbo.tPicklistePos AS PLP
				JOIN	dbo.tPickliste AS PL ON PLP.kPickliste = PL.kPickliste AND PL.nType IN (0, 1)
			) AS Sub ON Sub.kBestellung = VA.kAuftrag
LEFT JOIN	eazybusiness.dbo.tBenutzer AS Ben ON Ben.kBenutzer = VA.kBenutzer
LEFT JOIN	dbo.tWarenLager AS WL ON WL.kWarenLager = ReplDest.kWarenlager
WHERE		VA.nType = 6
GROUP BY	VA.kAuftrag,
			VA.cAuftragsNr,
			WbRes.kWorkbenchResource,
			VA.dErstellt,
			VA.kBenutzer,
			VA.nKomplettAusgeliefert,
			VA.nStorno,
			Sub.kPickliste,
			Ben.cName,
			Res.cName,
			Res.cNumber,
			WL.cName,
			Op.cOperationNumber,
			Op.cName,
			ISNULL(Op.cProductionLotNumber, It.cProductionLotNumber),
			ISNULL(ISNULL(Op.cProductionBatchNumber, It.cProductionBatchNumber), WP.cProductionBatchNumber);
GO
