USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkProcessIteration]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkProcessIteration](
	[kWorkProcessIteration] [int] IDENTITY(1,1) NOT NULL,
	[kWorkProcess] [int] NOT NULL,
	[nIteration] [int] NOT NULL,
	[nTotalIterations] [int] NOT NULL,
	[dStarted] [datetimeoffset](7) NULL,
	[dFinished] [datetimeoffset](7) NULL,
	[kBenutzer] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kPickliste] [int] NULL,
	[cProductionLotNumber] [nvarchar](100) NOT NULL,
	[kCreatedWorkbenchResource] [int] NULL,
	[kLastWorkbenchResource] [int] NULL,
 CONSTRAINT [PK_pps_tWorkProcessIteration] PRIMARY KEY CLUSTERED 
(
	[kWorkProcessIteration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkProcessIteration]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcessIteration_kCreatedWorkbenchResource] FOREIGN KEY([kCreatedWorkbenchResource])
REFERENCES [ResPl].[tWorkbenchResource] ([kWorkbenchResource])
GO
ALTER TABLE [pps].[tWorkProcessIteration] CHECK CONSTRAINT [FK_pps_tWorkProcessIteration_kCreatedWorkbenchResource]
GO
ALTER TABLE [pps].[tWorkProcessIteration]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcessIteration_kLastWorkbenchResource] FOREIGN KEY([kLastWorkbenchResource])
REFERENCES [ResPl].[tWorkbenchResource] ([kWorkbenchResource])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tWorkProcessIteration] CHECK CONSTRAINT [FK_pps_tWorkProcessIteration_kLastWorkbenchResource]
GO
ALTER TABLE [pps].[tWorkProcessIteration]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcessIteration_kPickliste] FOREIGN KEY([kPickliste])
REFERENCES [dbo].[tPickliste] ([kPickliste])
ON DELETE SET NULL
GO
ALTER TABLE [pps].[tWorkProcessIteration] CHECK CONSTRAINT [FK_pps_tWorkProcessIteration_kPickliste]
GO
ALTER TABLE [pps].[tWorkProcessIteration]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkProcessIteration_kWorkProcess] FOREIGN KEY([kWorkProcess])
REFERENCES [pps].[tWorkProcess] ([kWorkProcess])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkProcessIteration] CHECK CONSTRAINT [FK_pps_tWorkProcessIteration_kWorkProcess]
GO
