USE [eazybusiness]
GO
/****** Object:  Table [pps].[tProductionOrderCustomField]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tProductionOrderCustomField](
	[kProductionOrderCustomField] [int] IDENTITY(1,1) NOT NULL,
	[kProductionOrder] [int] NOT NULL,
	[kAttribut] [int] NOT NULL,
	[cWertVarchar] [nvarchar](max) NULL,
	[nWertInt] [int] NULL,
	[fWertDecimal] [decimal](25, 13) NULL,
	[dWertDateTime] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tProductionOrderCustomField] PRIMARY KEY CLUSTERED 
(
	[kProductionOrderCustomField] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_pps_tProductionOrderCustomField_kAttribut_kProductionOrder] UNIQUE NONCLUSTERED 
(
	[kAttribut] ASC,
	[kProductionOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
