USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkJobDisposition]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkJobDisposition](
	[kWorkJob] [int] NOT NULL,
	[kDisposition] [int] NOT NULL,
 CONSTRAINT [PK_pps_tWorkJobDisposition] PRIMARY KEY CLUSTERED 
(
	[kWorkJob] ASC,
	[kDisposition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkJobDisposition]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobDisposition_kDisposition] FOREIGN KEY([kDisposition])
REFERENCES [pps].[tDisposition] ([kDisposition])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkJobDisposition] CHECK CONSTRAINT [FK_pps_tWorkJobDisposition_kDisposition]
GO
ALTER TABLE [pps].[tWorkJobDisposition]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobDisposition_kWorkJob] FOREIGN KEY([kWorkJob])
REFERENCES [pps].[tWorkJob] ([kWorkJob])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkJobDisposition] CHECK CONSTRAINT [FK_pps_tWorkJobDisposition_kWorkJob]
GO
