USE [eazybusiness]
GO
/****** Object:  View [pps].[lvOperation]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[lvOperation]
AS
/*************************************************************************************************************
Beschreibung:	Listview: Übersicht über die Arbeitsgänge der Produktion
*************************************************************************************************************/
SELECT
			Op.kOperation,
			Op.cOperationNumber AS cOperationNumber,
			Op.cName AS cName,
			Op.dCreated AS Erstelldatum,
			Op.dLastChanged AS Bearbeitungsdatum,
			Ben.cName AS Bearbeiter,
			(
				SELECT	L.kLabel,
						L.cName,
						L.cColor
				FROM	pps.tOperationLabel AS OpL
				JOIN	dbo.tLabel AS L ON L.kLabel = OpL.kLabel
				WHERE	OpL.kOperation = Op.kOperation
				FOR XML PATH('Label'), TYPE, ROOT('Labels')
			) AS Labels,
			Op.nIsInternal,
			Op.nIsInactive nIsInactive,
			Op.nIsCompletionMandatory
FROM		pps.tOperation AS Op
LEFT JOIN	eazybusiness.dbo.tBenutzer AS Ben ON Op.kBenutzerLastChanged = Ben.kBenutzer
GO
