USE [eazybusiness]
GO
/****** Object:  Table [pps].[tLotPreparationStock]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tLotPreparationStock](
	[kLotPreparationStock] [int] IDENTITY(1,1) NOT NULL,
	[kLotPreparationComponent] [int] NOT NULL,
	[kPicklistePos] [int] NOT NULL,
 CONSTRAINT [PK_pps_tLotPreparationStock] PRIMARY KEY CLUSTERED 
(
	[kLotPreparationStock] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tLotPreparationStock]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationStock_kLotPreparationComponent] FOREIGN KEY([kLotPreparationComponent])
REFERENCES [pps].[tLotPreparationComponent] ([kLotPreparationComponent])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tLotPreparationStock] CHECK CONSTRAINT [FK_pps_tLotPreparationStock_kLotPreparationComponent]
GO
ALTER TABLE [pps].[tLotPreparationStock]  WITH CHECK ADD  CONSTRAINT [FK_pps_tLotPreparationStock_kPicklistePos] FOREIGN KEY([kPicklistePos])
REFERENCES [dbo].[tPicklistePos] ([kPicklistePos])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tLotPreparationStock] CHECK CONSTRAINT [FK_pps_tLotPreparationStock_kPicklistePos]
GO
