USE [eazybusiness]
GO
/****** Object:  Table [pps].[tProdCondition]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tProdCondition](
	[kArtikel] [int] NOT NULL,
	[kZustand] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nRejectsRatio] [decimal](25, 13) NULL,
	[nForDisassembly] [bit] NOT NULL,
 CONSTRAINT [PK_pps_tProdCondition] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[kZustand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tProdCondition] ADD  CONSTRAINT [DF_pps_tProdCondition_nForDisassembly]  DEFAULT ((0)) FOR [nForDisassembly]
GO
ALTER TABLE [pps].[tProdCondition]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProdCondition_tArtikel] FOREIGN KEY([kArtikel])
REFERENCES [pps].[tProdItem] ([kArtikel])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tProdCondition] CHECK CONSTRAINT [FK_pps_tProdCondition_tArtikel]
GO
ALTER TABLE [pps].[tProdCondition]  WITH CHECK ADD  CONSTRAINT [FK_pps_tProdCondition_tZustand] FOREIGN KEY([kZustand])
REFERENCES [dbo].[tZustand] ([kZustand])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tProdCondition] CHECK CONSTRAINT [FK_pps_tProdCondition_tZustand]
GO
