USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkJobOperationStep]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkJobOperationStep](
	[kWorkJobOperationStep] [int] IDENTITY(1,1) NOT NULL,
	[kWorkJobOperation] [int] NOT NULL,
	[kOperationStep] [int] NOT NULL,
	[dStarted] [datetimeoffset](7) NULL,
	[dFinished] [datetimeoffset](7) NULL,
	[kBenutzer] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tWorkJobOperationStep] PRIMARY KEY CLUSTERED 
(
	[kWorkJobOperationStep] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkJobOperationStep]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobOperationStep_kOperationStep] FOREIGN KEY([kOperationStep])
REFERENCES [pps].[tOperationStep] ([kOperationStep])
GO
ALTER TABLE [pps].[tWorkJobOperationStep] CHECK CONSTRAINT [FK_pps_tWorkJobOperationStep_kOperationStep]
GO
ALTER TABLE [pps].[tWorkJobOperationStep]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobOperationStep_kWorkJobOperation] FOREIGN KEY([kWorkJobOperation])
REFERENCES [pps].[tWorkJobOperation] ([kWorkJobOperation])
ON DELETE CASCADE
GO
ALTER TABLE [pps].[tWorkJobOperationStep] CHECK CONSTRAINT [FK_pps_tWorkJobOperationStep_kWorkJobOperation]
GO
