USE [eazybusiness]
GO
/****** Object:  View [pps].[vBillOfMaterialComponents]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [pps].[vBillOfMaterialComponents]
AS
/*************************************************************************************************************
Beschreibung:	Übersicht über die Komponenten der Produktionsstückliste
*************************************************************************************************************/
SELECT
			BomC.kBillOfMaterialComponent,
			BomC.kBillOfMaterial,
			BomC.kArtikel,
			BomC.kOperation,
			BomC.nQuantity,
			BomC.nSort,
			BomC.kOperationStep,
			ISNULL(StdArt.cArtNr, Op.cOperationNumber) AS cNumber,
			ISNULL(StdArt.cName, Op.cName) AS cName,
			BomC.kMassEinheit AS kMassEinheit,
			IIF(StdArt.kMassEinheit = 0, NULL, StdArt.kMassEinheit) AS kArtikelMassEinheit,
			StdArt.kVerkaufsEinheit,
			dbo.GetMeasurementCalcFactor(StdArt.kMassEinheit, BomC.kMassEinheit) AS fUnitFactor,
			IIF(StdArt.kMassEinheit = 0, NULL, StdArt.fMassMenge) AS fMassMenge,
			IIF(StdArt.cTeilbar = 'Y', 1, 0) AS nTeilbar,
			BomC.nSharedPart,
			IIF(BomC.kArtikel IS NOT NULL, BomC.kParentBillOfMaterialComponent, NULL) AS kParentBillOfMaterialComponent,
			CONVERT(TINYINT, IIF(StdArt.kArtikel IS NOT NULL, IIF(PrI.kArtikel IS NOT NULL, 1, IIF(StdArt.nIstVater = 1, 3, 0)), IIF(BomC.kOperation IS NOT NULL, 2, 254))) AS nComponentDiscriminator,
			BomC.fRestFactor,
			BomC.nDestroyable,
			BomC.nVariable,
			StdArt.nMHD,
			StdArt.nCharge,
			StdArt.nSeriennummernVerfolgung,
			CONVERT(BIT, CASE WHEN StdArt.cLagerAktiv = 'Y' THEN 1 ELSE 0 END ) AS nLagerAktiv,
			CONVERT(BIT, CASE WHEN StdArt.cAktiv = 'Y' THEN 1 ELSE 0 END) AS nArtikelAktiv,
			CONVERT(BIT, CASE WHEN Art.nIstTeilmengenArtikel = 1 THEN 1 ELSE 0 END) AS nSubsetManagement,
			IIF(Art.nIstTeilmengenArtikel = 1, Art.kDefinition, NULL) AS kSubsetDefinition,
			StdArt.fEKNetto AS fEKNetto,
			LB.fLagerbestand AS BestandGesamt,
			LB.fLagerbestandEigen AS BestandEigen,
			LB.fZulauf AS BestandImZulauf,
			LB.fAufEinkaufsliste AS BestandAufEinkaufsliste,
			LB.fInAuftraegen AS BestandInAuftraegen,
			LB.fVerfuegbar AS BestandVerfuegbar,
			LBV.fBestand AS Produzierbar,
			LBV.fZulauf AS InProduktion,
			Op.nIsInternal AS nIsInternalOperation,
			CONVERT(BIT, ISNULL(Op.nIsInactive, IIF(StdArt.cAktiv = 'Y', 0, 1))) AS nComponentIsInactive,
			BomC.nComponentPostingsShelfLifeEndDateRequirements AS nComponentPostingsShelfLifeEndDateRequirements,
			BomC.nComponentPostingsBatchNumberRequirements AS nComponentPostingsBatchNumberRequirements
FROM		pps.tBillOfMaterialComponents AS BomC
LEFT JOIN	dbo.vStandardArtikel AS StdArt ON StdArt.kArtikel = BomC.kArtikel
LEFT JOIN	dbo.tArtikel AS Art ON Art.kArtikel = BomC.kArtikel
LEFT JOIN	pps.tProdItem AS PrI ON PrI.kArtikel = BomC.kArtikel
LEFT JOIN	pps.tOperation AS Op ON Op.kOperation = BomC.kOperation
LEFT JOIN	dbo.tLagerbestand AS LB ON Art.kArtikel = LB.kArtikel
LEFT JOIN	dbo.tLagerbestandVirtuell AS LBV ON Art.kArtikel = LBV.kArtikel AND LBV.iModuleId = '0200D767-9A5C-4B6A-882E-051FFA69A9D2';
GO
