USE [eazybusiness]
GO
/****** Object:  Table [pps].[tWorkJobBillOfMaterialsComponent]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [pps].[tWorkJobBillOfMaterialsComponent](
	[kWorkJobBillOfMaterialsComponent] [int] IDENTITY(1,1) NOT NULL,
	[kWorkJobOperation] [int] NOT NULL,
	[fActualQuantity] [decimal](25, 13) NULL,
	[fTargetQuantity] [decimal](25, 13) NULL,
	[kArtikel] [int] NOT NULL,
	[kOriginBillOfMaterialComponent] [int] NULL,
	[kMasseinheit] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_pps_tWorkJobBillOfMaterialsComponent] PRIMARY KEY CLUSTERED 
(
	[kWorkJobBillOfMaterialsComponent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [pps].[tWorkJobBillOfMaterialsComponent]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobBillOfMaterialsComponent_kOriginBillOfMaterialComponent] FOREIGN KEY([kOriginBillOfMaterialComponent])
REFERENCES [pps].[tBillOfMaterialComponents] ([kBillOfMaterialComponent])
ON UPDATE CASCADE
GO
ALTER TABLE [pps].[tWorkJobBillOfMaterialsComponent] CHECK CONSTRAINT [FK_pps_tWorkJobBillOfMaterialsComponent_kOriginBillOfMaterialComponent]
GO
ALTER TABLE [pps].[tWorkJobBillOfMaterialsComponent]  WITH CHECK ADD  CONSTRAINT [FK_pps_tWorkJobBillOfMaterialsComponent_kWorkJobOperation] FOREIGN KEY([kWorkJobOperation])
REFERENCES [pps].[tWorkJobOperation] ([kWorkJobOperation])
ON UPDATE CASCADE
GO
ALTER TABLE [pps].[tWorkJobBillOfMaterialsComponent] CHECK CONSTRAINT [FK_pps_tWorkJobBillOfMaterialsComponent_kWorkJobOperation]
GO
