USE [eazybusiness]
GO
/****** Object:  View [Preisliste].[vIndividuellePreise]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Preisliste].[vIndividuellePreise] AS
WITH Preisdefinitionen AS
(
    --
    -- Individuelle Staffelpreise für Shop
    --
    SELECT    dbo.tPreis.kArtikel,
            dbo.tPreis.kKundenGruppe,
            dbo.tPreis.kKunde,
            dbo.tPreis.kShop,
            1 AS IstStaffelpreis,
            0 AS IstVKNetto
    FROM dbo.tPreis
    JOIN dbo.tPreisDetail ON dbo.tPreis.kPreis = dbo.tPreisDetail.kPreis
    WHERE    dbo.tPreisDetail.nAnzahlAb > 0.0
            AND dbo.tPreis.kShop > 0
    GROUP BY dbo.tPreis.kArtikel, dbo.tPreis.kKundenGruppe,    dbo.tPreis.kKunde, dbo.tPreis.kShop
    UNION ALL
    --
    -- Individuelle Standardpreise für Shop
    --
    SELECT    dbo.tPreis.kArtikel,
            dbo.tPreis.kKundenGruppe,
            dbo.tPreis.kKunde,
            dbo.tPreis.kShop,
            0 AS IstStaffelpreis,
            1 AS IstVKNetto
    FROM dbo.tPreis
    JOIN dbo.tPreisDetail ON dbo.tPreis.kPreis = dbo.tPreisDetail.kPreis
    WHERE    dbo.tPreisDetail.nAnzahlAb = 0.0
            AND dbo.tPreis.kShop > 0
    GROUP BY dbo.tPreis.kArtikel, dbo.tPreis.kKundenGruppe,    dbo.tPreis.kKunde, dbo.tPreis.kShop
)
SELECT    PreisdetailsMitFallback.kArtikel,
        PreisdetailsMitFallback.kKundenGruppe,
        PreisdetailsMitFallback.kKunde,
        PreisdetailsMitFallback.kShop,
        PreisdetailsMitFallback.nAnzahlAb,
        ROUND(PreisdetailsMitFallback.fNettoPreis, 4) AS fNettoPreis,
        PreisdetailsMitFallback.fProzent
FROM
(
    --
    -- Staffelpreise als Fallback für Shops ohne individuelle Staffeln
    --
    SELECT        dbo.tPreis.kPreis,
                dbo.tPreis.kArtikel,
                dbo.tPreis.kKundenGruppe,
                dbo.tPreis.kKunde,
                dbo.tShop.kShop,
                dbo.tPreisDetail.nAnzahlAb,
                dbo.tPreisDetail.fNettoPreis,
                dbo.tPreisDetail.fProzent
    FROM dbo.tPreis
    JOIN dbo.tPreisDetail ON dbo.tPreis.kPreis = dbo.tPreisDetail.kPreis
    CROSS JOIN dbo.tShop
    LEFT JOIN Preisdefinitionen ON dbo.tPreis.kArtikel = Preisdefinitionen.kArtikel
        AND dbo.tPreis.kKundenGruppe = Preisdefinitionen.kKundenGruppe
        AND dbo.tPreis.kKunde = Preisdefinitionen.kKunde
        AND dbo.tShop.kShop = Preisdefinitionen.kShop
        AND Preisdefinitionen.IstStaffelpreis = 1
    WHERE    dbo.tPreisDetail.nAnzahlAb > 0.0
            AND dbo.tPreis.kShop = 0
            AND dbo.tShop.nGesperrt = 0
            AND Preisdefinitionen.kShop IS NULL
    UNION
    --
    -- Individuelle Staffelpreise 
    --
    SELECT        dbo.tPreis.kPreis,
                dbo.tPreis.kArtikel,
                dbo.tPreis.kKundenGruppe,
                dbo.tPreis.kKunde,
                dbo.tPreis.kShop,
                dbo.tPreisDetail.nAnzahlAb,
                dbo.tPreisDetail.fNettoPreis,
                dbo.tPreisDetail.fProzent
    FROM dbo.tPreis
    JOIN dbo.tPreisDetail ON dbo.tPreis.kPreis = dbo.tPreisDetail.kPreis
    WHERE    dbo.tPreis.kShop > 0
            AND dbo.tPreisDetail.nAnzahlAb > 0.0
    UNION
    --
    -- Standardpreise als Fallback für Shops ohne individuelle Standardpreise
    --
    SELECT        dbo.tPreis.kPreis,
                dbo.tPreis.kArtikel,
                dbo.tPreis.kKundenGruppe,
                dbo.tPreis.kKunde,
                dbo.tShop.kShop,
                dbo.tPreisDetail.nAnzahlAb,
                dbo.tPreisDetail.fNettoPreis,
                dbo.tPreisDetail.fProzent
    FROM dbo.tPreis
    JOIN dbo.tPreisDetail ON dbo.tPreis.kPreis = dbo.tPreisDetail.kPreis
    CROSS JOIN dbo.tShop
    LEFT JOIN Preisdefinitionen ON dbo.tPreis.kArtikel = Preisdefinitionen.kArtikel
        AND dbo.tPreis.kKundenGruppe = Preisdefinitionen.kKundenGruppe
        AND dbo.tPreis.kKunde = Preisdefinitionen.kKunde
        AND dbo.tShop.kShop = Preisdefinitionen.kShop
        AND Preisdefinitionen.IstVKNetto = 1
    WHERE    dbo.tPreisDetail.nAnzahlAb = 0.0
            AND dbo.tPreis.kShop = 0
            AND dbo.tShop.nGesperrt = 0
            AND Preisdefinitionen.kShop IS NULL
    UNION
    --
    -- Individuelle Standardpreise 
    --
    SELECT        dbo.tPreis.kPreis,
                dbo.tPreis.kArtikel,
                dbo.tPreis.kKundenGruppe,
                dbo.tPreis.kKunde,
                dbo.tPreis.kShop,
                dbo.tPreisDetail.nAnzahlAb,
                dbo.tPreisDetail.fNettoPreis,
                dbo.tPreisDetail.fProzent
    FROM dbo.tPreis
    JOIN dbo.tPreisDetail ON dbo.tPreis.kPreis = dbo.tPreisDetail.kPreis
    WHERE    dbo.tPreis.kShop > 0
            AND dbo.tPreisDetail.nAnzahlAb = 0.0
    UNION
    --
    -- Alle Standardpreise (kShop = 0)
    --
    SELECT        dbo.tPreis.kPreis,
                dbo.tPreis.kArtikel,
                dbo.tPreis.kKundenGruppe,
                dbo.tPreis.kKunde,
                dbo.tPreis.kShop,
                dbo.tPreisDetail.nAnzahlAb,
                dbo.tPreisDetail.fNettoPreis,
                dbo.tPreisDetail.fProzent
    FROM dbo.tPreis
    JOIN dbo.tPreisDetail ON dbo.tPreis.kPreis = dbo.tPreisDetail.kPreis
    WHERE    dbo.tPreis.kShop = 0
) AS PreisdetailsMitFallback
GROUP BY    PreisdetailsMitFallback.kArtikel,
            PreisdetailsMitFallback.kKundenGruppe,
            PreisdetailsMitFallback.kKunde,
            PreisdetailsMitFallback.kShop,
            PreisdetailsMitFallback.nAnzahlAb,
            PreisdetailsMitFallback.fNettoPreis,
            PreisdetailsMitFallback.fProzent
GO
