USE [eazybusiness]
GO
/****** Object:  View [Preisliste].[vPreislisteNetto]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Preisliste].[vPreislisteNetto] AS
WITH Standardpreise AS
(
    SELECT    dbo.tArtikel.kArtikel AS kArtikel,
            dbo.tKundenGruppe.kKundenGruppe AS kKundenGruppe,
            shops.kShop AS kShop,
            0 AS nAnzahlAb,
            dbo.tArtikel.fVKNetto AS fNettoPreis
    FROM dbo.tArtikel
    CROSS JOIN dbo.tKundenGruppe
    CROSS JOIN 
    (    SELECT kShop
        FROM dbo.tShop
        UNION
        SELECT 0 AS kShop
        FROM dbo.tShop
    ) AS shops
)
--
-- Individuelle Preise
--
SELECT    Preisliste.vIndividuellePreise.kArtikel,
        Preisliste.vIndividuellePreise.kKundenGruppe,
        Preisliste.vIndividuellePreise.kShop,
        Preisliste.vIndividuellePreise.nAnzahlAb,
        Preisliste.vIndividuellePreise.fNettoPreis
FROM Preisliste.vIndividuellePreise
UNION
--
-- Fallback für Standard VK Netto
--
SELECT    Standardpreise.kArtikel,
        Standardpreise.kKundenGruppe,
        Standardpreise.kShop,
        0 AS nAnzahlAb,
        Standardpreise.fNettoPreis
FROM Standardpreise
LEFT JOIN 
(
    SELECT    Preisliste.vIndividuellePreise.kArtikel,
            Preisliste.vIndividuellePreise.kKundenGruppe,
            Preisliste.vIndividuellePreise.kShop,            
            Preisliste.vIndividuellePreise.fNettoPreis
    FROM Preisliste.vIndividuellePreise
    WHERE Preisliste.vIndividuellePreise.nAnzahlAb = 0
) AS individuellePreise ON Standardpreise.kArtikel = individuellePreise.kArtikel
    AND Standardpreise.kKundenGruppe = individuellePreise.kKundenGruppe
    AND Standardpreise.kShop = individuellePreise.kShop
WHERE individuellePreise.kArtikel IS NULL
GO
