USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungFile]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnungFile]
AS
SELECT	tRechnungFile.kRechnungFile,
		tRechnungFile.kRechnung, 
		tRechnungFile.kFile, 
		tRechnungFile.kBenutzer, 
		tRechnungFile.cFilename, 
		tRechnungFile.nDokumentTyp,
		tRechnungFile.bRowversion
FROM Rechnung.tRechnungFile;
GO
