USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungText]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnungText]
AS 
SELECT	tRechnungText.kRechnung, 
		tRechnungText.cRechnungstext, 
		tRechnungText.cAnmerkung, 
		tRechnungText.cHinweis,
		tRechnungText.bRowversion
FROM Rechnung.tRechnungText;
GO
