USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vExternerBelegPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vExternerBelegPosition]
AS
SELECT
    kExternerBelegPosition,
    tExternerBelegPosition.kExternerBelegTransaktion,
    tExternerBelegTransaktion.kExternerBeleg,
    kExternerBelegPositionVater,
    nKindtyp,
    CASE
        WHEN nKindtyp = 0 THEN 'NONE'
        WHEN nKindtyp = 1 THEN 'DEPENDEND' -- Keine eigenständigen Beträge, die Mengen hängen vom Vater ab
        WHEN nKindtyp = 2 THEN 'INDEPENDEND' -- eigenständige Position mit Bezug zum Vater
        ELSE NULL
    END AS cKindtypName,
    kAuftragPosition,
    kBezugRechnungPosition,
    kBezugExternerBelegPosition,
    nPositionstyp,
    cArtNr,
    kArtikel,
    cText,
    fAnzahl,
    fVkBrutto - fRabattBrutto AS fVkBruttoEinzel,
    fVkNetto - fRabattNetto AS fVkNettoEinzel,
    fVkBrutto AS fVkBruttoSumme,
    fVkNetto AS fVkNettoSumme,
    fMwStSatz,
    fRabattBrutto,
    fRabattNetto,
    cRabatttext,
    fEkNetto,
    cEinheit,
    kExterneId
FROM Rechnung.tExternerBelegPosition
JOIN Rechnung.tExternerBelegTransaktion ON tExternerBelegTransaktion.kExternerBelegTransaktion = tExternerBelegPosition.kExternerBelegTransaktion
GO
