USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungPositionTeilmengen]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungPositionTeilmengen](
	[kRechnungPosition] [int] NOT NULL,
	[fLagerFactor] [decimal](25, 13) NOT NULL,
	[kDefinition] [int] NOT NULL,
	[fPreisFactor] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungPositionTeilmengen] PRIMARY KEY CLUSTERED 
(
	[kRechnungPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengen] ADD  CONSTRAINT [DF_Rechnung_tRechnungPosition_fLagerFactor]  DEFAULT ((1.0)) FOR [fLagerFactor]
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengen] ADD  CONSTRAINT [DF_Rechnung_tRechnungPosition_fPreisFactor]  DEFAULT ((1.0)) FOR [fPreisFactor]
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengen]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPositionTeilmengen_kRechnungPosition] FOREIGN KEY([kRechnungPosition])
REFERENCES [Rechnung].[tRechnungPosition] ([kRechnungPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengen] CHECK CONSTRAINT [FK_Rechnung_tRechnungPositionTeilmengen_kRechnungPosition]
GO
