USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungKorrektur]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungKorrektur](
	[kRechnungskorrektur] [int] NOT NULL,
	[kRechnung] [int] NOT NULL,
	[kRechnungNeu] [int] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungKorrektur] PRIMARY KEY CLUSTERED 
(
	[kRechnung] ASC,
	[kRechnungskorrektur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungKorrektur]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnung_kRechnung] FOREIGN KEY([kRechnung])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungKorrektur] CHECK CONSTRAINT [FK_Rechnung_tRechnung_kRechnung]
GO
ALTER TABLE [Rechnung].[tRechnungKorrektur]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnung_kRechnungNeu] FOREIGN KEY([kRechnungNeu])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
GO
ALTER TABLE [Rechnung].[tRechnungKorrektur] CHECK CONSTRAINT [FK_Rechnung_tRechnung_kRechnungNeu]
GO
ALTER TABLE [Rechnung].[tRechnungKorrektur]  WITH CHECK ADD  CONSTRAINT [FK_tGutschrift_kRechnungskorrektur] FOREIGN KEY([kRechnungskorrektur])
REFERENCES [dbo].[tgutschrift] ([kGutschrift])
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungKorrektur] CHECK CONSTRAINT [FK_tGutschrift_kRechnungskorrektur]
GO
