USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[lvExternerBeleg]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[lvExternerBeleg] 
AS
(
    SELECT
        tExternerBeleg.kExternerBeleg,
        tExternerBeleg.kPlattform,
        tExternerBeleg.kPlattformKey,
        tExternerBeleg.cBelegnr,
        tExternerBeleg.dBelegdatumUtc,
        tExternerBeleg.cWaehrungISO,
        tExternerBelegEckdaten.fVkBrutto,
        tExternerBelegEckdaten.fVkNetto,
        tFirmaHistory.kFirma,
        tExternerBelegEckdaten.nFehlercode,
        tExternerBeleg.nBelegtyp,
		tExternerBelegEckdaten.nIstStorniert
    FROM Rechnung.tExternerBeleg
    JOIN Rechnung.tExternerBelegEckdaten ON tExternerBelegEckdaten.kExternerBeleg = tExternerBeleg.kExternerBeleg
    JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tExternerBeleg.kFirmaHistory
)
GO
