USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungStorno]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungStorno](
	[kRechnung] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kRechnungStornogrund] [int] NOT NULL,
	[dStorniert] [datetime] NOT NULL,
	[cKommentar] [nvarchar](100) NULL,
	[kStornoGutschrift] [int] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungStorno] PRIMARY KEY CLUSTERED 
(
	[kRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungStorno]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungStorno_kStornoGutschrift] FOREIGN KEY([kStornoGutschrift])
REFERENCES [dbo].[tgutschrift] ([kGutschrift])
GO
ALTER TABLE [Rechnung].[tRechnungStorno] CHECK CONSTRAINT [FK_Rechnung_tRechnungStorno_kStornoGutschrift]
GO
