USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungStornogrund]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungStornogrund](
	[kRechnungStornogrund] [int] IDENTITY(1,1) NOT NULL,
	[cStornogrund] [nvarchar](50) NOT NULL,
	[nIstKommentarErforderlich] [bit] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungStornogrund] PRIMARY KEY CLUSTERED 
(
	[kRechnungStornogrund] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungStornogrund] ADD  CONSTRAINT [DF_Rechnung_tRechnungStornogrund_nIstKommentarErforderlich]  DEFAULT ((0)) FOR [nIstKommentarErforderlich]
GO
