USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungPositionEckdaten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungPositionEckdaten](
	[kRechnungPosition] [int] NOT NULL,
	[fVKBrutto] [decimal](25, 13) NOT NULL,
	[fVKBruttoGesamt] [decimal](25, 13) NOT NULL,
	[fVKNettoGesamt] [decimal](25, 13) NOT NULL,
	[fMwStBetrag] [decimal](25, 13) NOT NULL,
	[fRabattbetrag] [decimal](25, 13) NOT NULL,
	[fGewichtGesamt] [decimal](25, 13) NULL,
	[fVersandgewichtGesamt] [decimal](25, 13) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungPositionEckdaten] PRIMARY KEY CLUSTERED 
(
	[kRechnungPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungPositionEckdaten]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPositionEckdaten_kRechnungPosition] FOREIGN KEY([kRechnungPosition])
REFERENCES [Rechnung].[tRechnungPosition] ([kRechnungPosition])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungPositionEckdaten] CHECK CONSTRAINT [FK_Rechnung_tRechnungPositionEckdaten_kRechnungPosition]
GO
