USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungRechnungsadresse]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnungRechnungsadresse]
AS
(
	SELECT	tRechnungAdresse.kRechnung, 
			tRechnungAdresse.kKunde, 
			tRechnungAdresse.cFirma, 
			tRechnungAdresse.cAnrede, 
			tRechnungAdresse.cTitel, 
			tRechnungAdresse.cVorname, 
			tRechnungAdresse.cName, 
			tRechnungAdresse.cStrasse, 
			tRechnungAdresse.cPLZ, 
			tRechnungAdresse.cOrt, 
			tRechnungAdresse.cLand, 
			tRechnungAdresse.cTel, 
			tRechnungAdresse.cZusatz, 
			tRechnungAdresse.cAdressZusatz, 
			tRechnungAdresse.cPostID, 
			tRechnungAdresse.cMobil, 
			tRechnungAdresse.cMail, 
			tRechnungAdresse.cFax, 
			tRechnungAdresse.cBundesland, 
			tRechnungAdresse.cISO, 
			tRechnung.cKundeUstId,
			tRechnungAdresse.nTyp, 
			tRechnungAdresse.nZolldokumenteErforderlich, 
			tRechnungAdresse.bRowversion 
	FROM Rechnung.tRechnungAdresse
	JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tRechnungAdresse.kRechnung
	WHERE tRechnungAdresse.nTyp = 1
)
GO
