USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungPositionTeilmengenKonfiguration]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungPositionTeilmengenKonfiguration](
	[kDimension] [int] NOT NULL,
	[kRechnungPosition] [int] NOT NULL,
	[fValue] [decimal](25, 13) NOT NULL,
	[fGroundValue] [decimal](25, 13) NOT NULL,
	[kMassEinheit] [int] NULL,
 CONSTRAINT [PK_Rechnung_tRechnungPositionTeilmengenKonfiguration] PRIMARY KEY CLUSTERED 
(
	[kRechnungPosition] ASC,
	[kDimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengenKonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPositionTeilmengenKonfiguration_kDimension] FOREIGN KEY([kDimension])
REFERENCES [subset].[tDimension] ([kDimension])
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengenKonfiguration] CHECK CONSTRAINT [FK_Rechnung_tRechnungPositionTeilmengenKonfiguration_kDimension]
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengenKonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPositionTeilmengenKonfiguration_kMassEinheit] FOREIGN KEY([kMassEinheit])
REFERENCES [dbo].[tMassEinheit] ([kMassEinheit])
ON DELETE SET NULL
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengenKonfiguration] CHECK CONSTRAINT [FK_Rechnung_tRechnungPositionTeilmengenKonfiguration_kMassEinheit]
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengenKonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPositionTeilmengenKonfiguration_kRechnungPosition] FOREIGN KEY([kRechnungPosition])
REFERENCES [Rechnung].[tRechnungPosition] ([kRechnungPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungPositionTeilmengenKonfiguration] CHECK CONSTRAINT [FK_Rechnung_tRechnungPositionTeilmengenKonfiguration_kRechnungPosition]
GO
