USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vExternerBelegDetails]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vExternerBelegDetails]
AS
(
    SELECT
        tExternerBeleg.kExternerBeleg,
        tExternerBeleg.cBelegnr,
        tExternerBeleg.dBelegdatumUtc,
        tExternerBeleg.nBelegtyp,
        tFirmaHistory.cName AS cFirmaName,
        tExternerBeleg.cFirmaUstid,
        tExternerBeleg.cWaehrungISO,
        tExternerBeleg.cKaeuferUstId,
        tExternerBeleg.cRAName,
        tExternerBeleg.cRAAdresse1,
        tExternerBeleg.cRAAdresse2,
        tExternerBeleg.cRAAdresse3,
        tExternerBeleg.cRAOrt,
        tExternerBeleg.cRAStaat,
        tExternerBeleg.cRAPostcode,
        tExternerBeleg.cRALandISO,
        tExternerBeleg.cRATelefon,
        tExternerBeleg.cRAMail,
        tExternerBeleg.cBezugsbelegnr,
        tExternerBeleg.cHinweis,
        tExternerBelegEckdaten.fVkBrutto,
        tExternerBelegEckdaten.fVkNetto,
        tExternerBelegEckdaten.nIstStorniert
    FROM Rechnung.tExternerBeleg
    JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tExternerBeleg.kFirmaHistory
    JOIN Rechnung.tExternerBelegEckdaten ON tExternerBelegEckdaten.kExternerBeleg = tExternerBeleg.kExternerBeleg
)
GO
