USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungFile]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungFile](
	[kRechnungFile] [int] IDENTITY(1,1) NOT NULL,
	[kRechnung] [int] NOT NULL,
	[kFile] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cFilename] [nvarchar](255) NULL,
	[nDokumentTyp] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungFile] PRIMARY KEY CLUSTERED 
(
	[kRechnungFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungFile] ADD  CONSTRAINT [DF_Rechnung_tRechnungFile_nDokumentTyp]  DEFAULT ((0)) FOR [nDokumentTyp]
GO
ALTER TABLE [Rechnung].[tRechnungFile]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungFile_kFile] FOREIGN KEY([kFile])
REFERENCES [dbo].[tFile] ([kFile])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungFile] CHECK CONSTRAINT [FK_Rechnung_tRechnungFile_kFile]
GO
ALTER TABLE [Rechnung].[tRechnungFile]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungFile_kRechnung] FOREIGN KEY([kRechnung])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungFile] CHECK CONSTRAINT [FK_Rechnung_tRechnungFile_kRechnung]
GO
