USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[lvExternerBelegPositionen]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[lvExternerBelegPositionen] AS SELECT
	tExternerBelegPosition.kExternerBelegPosition,
	tExternerBelegPosition.kExternerBelegPositionVater,
	tExternerBelegTransaktion.kExternerBeleg,
	tExternerBelegPosition.kAuftragPosition,
	tExternerBelegPosition.kArtikel,
	tExternerBelegPosition.cArtNr,
	tExternerBelegPosition.fAnzahl,
	tExternerBelegPosition.fVkBrutto,
	tExternerBelegPosition.fVkNetto,
	tExternerBelegTransaktion.cExterneAuftragsnummer,
	tExternerBelegTransaktion.dExternesAuftragsdatumUtc
FROM Rechnung.tExternerBelegPosition
JOIN Rechnung.tExternerBelegTransaktion ON tExternerBelegTransaktion.kExternerBelegTransaktion = tExternerBelegPosition.kExternerBelegTransaktion
GO
