USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tExternerBelegPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tExternerBelegPosition](
	[kExternerBelegPosition] [int] IDENTITY(1,1) NOT NULL,
	[kExternerBelegTransaktion] [int] NOT NULL,
	[kExternerBelegPositionVater] [int] NULL,
	[nKindtyp] [tinyint] NOT NULL,
	[kAuftragPosition] [int] NULL,
	[kBezugRechnungPosition] [int] NULL,
	[kBezugExternerBelegPosition] [int] NULL,
	[nPositionstyp] [tinyint] NOT NULL,
	[cArtNr] [nvarchar](100) NOT NULL,
	[kArtikel] [int] NULL,
	[cText] [nvarchar](510) NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fVkBrutto] [decimal](25, 13) NULL,
	[fVkNetto] [decimal](25, 13) NULL,
	[fMwStSatz] [decimal](25, 13) NULL,
	[fRabattBrutto] [decimal](25, 13) NULL,
	[fRabattNetto] [decimal](25, 13) NULL,
	[cRabatttext] [nvarchar](50) NOT NULL,
	[fEkNetto] [decimal](25, 13) NULL,
	[cEinheit] [nvarchar](25) NOT NULL,
	[kExterneId] [bigint] NULL,
	[kSteuerklasse] [int] NULL,
	[kSteuerschluessel] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tExternerBelegPosition] PRIMARY KEY CLUSTERED 
(
	[kExternerBelegPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tExternerBelegPosition_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE SET NULL
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition] CHECK CONSTRAINT [FK_Rechnung_tExternerBelegPosition_kAuftragPosition]
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fMwStSatz] CHECK  (([fMwStSatz] IS NOT NULL OR [nKindtyp]=(1) AND isnull([fMwstSatz],(0.0))>=(0.0)))
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fMwStSatz]
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fRabattBrutto] CHECK  (([fRabattBrutto] IS NOT NULL OR [nKindtyp]=(1)))
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fRabattBrutto]
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fRabattNetto] CHECK  (([fRabattNetto] IS NOT NULL OR [nKindtyp]=(1)))
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fRabattNetto]
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fVkBrutto] CHECK  (([fVkBrutto] IS NOT NULL OR [nKindtyp]=(1)))
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fVkBrutto]
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fVkNetto] CHECK  (([fVkNetto] IS NOT NULL OR [nKindtyp]=(1)))
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegPosition_fVkNetto]
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegPosition_kExternerBelegPosition] CHECK  (([kExternerBelegPosition]<>(0)))
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegPosition_kExternerBelegPosition]
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegPosition_nKindtyp] CHECK  ((([nKindtyp]=(3) OR [nKindtyp]=(2) OR [nKindtyp]=(1) OR [nKindtyp]=(0)) AND ([kExternerBelegPositionVater] IS NULL OR [nKindtyp]<>(0)) AND ([kExternerBelegPositionVater] IS NOT NULL OR [nKindtyp]=(0))))
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegPosition_nKindtyp]
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegPosition_nPositionstyp] CHECK  (([nPositionstyp]=(10) OR [nPositionstyp]=(2) OR [nPositionstyp]=(1) OR [nPositionstyp]=(0)))
GO
ALTER TABLE [Rechnung].[tExternerBelegPosition] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegPosition_nPositionstyp]
GO
