USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tExternerBeleg]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tExternerBeleg](
	[kExternerBeleg] [int] IDENTITY(1,1) NOT NULL,
	[cBelegnr] [nvarchar](50) NOT NULL,
	[dBelegdatumUtc] [datetime2](0) NOT NULL,
	[nBelegtyp] [tinyint] NOT NULL,
	[kFirmaHistory] [int] NOT NULL,
	[cFirmaUstId] [nvarchar](30) NOT NULL,
	[kPlattform] [int] NOT NULL,
	[kPlattformKey] [int] NULL,
	[cWaehrungISO] [nchar](3) NOT NULL,
	[cKaeuferUstId] [nvarchar](30) NULL,
	[cRAName] [nvarchar](100) NOT NULL,
	[cRAAdresse1] [nvarchar](100) NOT NULL,
	[cRAAdresse2] [nvarchar](100) NOT NULL,
	[cRAAdresse3] [nvarchar](100) NOT NULL,
	[cRAOrt] [nvarchar](100) NOT NULL,
	[cRAStaat] [nvarchar](100) NOT NULL,
	[cRAPostcode] [nvarchar](20) NOT NULL,
	[cRALandISO] [nchar](2) NOT NULL,
	[cRATelefon] [nvarchar](100) NOT NULL,
	[cRAMail] [nvarchar](255) NULL,
	[cBezugsbelegnr] [nvarchar](50) NULL,
	[cHinweis] [nvarchar](2000) NULL,
	[cHerkunft] [nvarchar](100) NOT NULL,
	[nDebitorenNr] [int] NULL,
	[kSprache] [int] NOT NULL,
	[nSteuereinstellung] [tinyint] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kKunde] [int] NULL,
	[kZahlungsart] [int] NULL,
	[fWaehrungsfaktor] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tExternerBeleg] PRIMARY KEY CLUSTERED 
(
	[kExternerBeleg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Rechnung_tExternerBeleg_cBelegNr] UNIQUE NONCLUSTERED 
(
	[cBelegnr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tExternerBeleg] ADD  CONSTRAINT [DF_Rechnung_tExternerBeleg_fWaehrungsfaktor]  DEFAULT ((1)) FOR [fWaehrungsfaktor]
GO
ALTER TABLE [Rechnung].[tExternerBeleg]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tExternerBeleg_kFirmaHistory] FOREIGN KEY([kFirmaHistory])
REFERENCES [dbo].[tFirmaHistory] ([kFirmaHistory])
GO
ALTER TABLE [Rechnung].[tExternerBeleg] CHECK CONSTRAINT [FK_Rechnung_tExternerBeleg_kFirmaHistory]
GO
ALTER TABLE [Rechnung].[tExternerBeleg]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tExternerBeleg_kPlattform] FOREIGN KEY([kPlattform])
REFERENCES [dbo].[tPlattform] ([nPlattform])
GO
ALTER TABLE [Rechnung].[tExternerBeleg] CHECK CONSTRAINT [FK_Rechnung_tExternerBeleg_kPlattform]
GO
ALTER TABLE [Rechnung].[tExternerBeleg]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBeleg_cBezugsbelegnr] CHECK  (([nBelegtyp]=(0) OR (([nBelegtyp]>=(100) OR [nBelegtyp]=(1)) AND len([cBezugsbelegnr])>(0) OR [nBelegtyp]<(100) AND NOT [nBelegtyp]=(1) AND [cBezugsbelegnr] IS NULL)))
GO
ALTER TABLE [Rechnung].[tExternerBeleg] CHECK CONSTRAINT [CK_Rechnung_tExternerBeleg_cBezugsbelegnr]
GO
ALTER TABLE [Rechnung].[tExternerBeleg]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBeleg_cHerkunft] CHECK  ((len([cHerkunft])>(0)))
GO
ALTER TABLE [Rechnung].[tExternerBeleg] CHECK CONSTRAINT [CK_Rechnung_tExternerBeleg_cHerkunft]
GO
ALTER TABLE [Rechnung].[tExternerBeleg]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBeleg_cKaeuferUstId] CHECK  (([cKaeuferUstId] IS NULL OR len([cKaeuferUstId])>(0)))
GO
ALTER TABLE [Rechnung].[tExternerBeleg] CHECK CONSTRAINT [CK_Rechnung_tExternerBeleg_cKaeuferUstId]
GO
ALTER TABLE [Rechnung].[tExternerBeleg]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBeleg_cVerkaeuferUstId] CHECK  (([cFirmaUstid] IS NULL OR len([cFirmaUstid])>(0)))
GO
ALTER TABLE [Rechnung].[tExternerBeleg] CHECK CONSTRAINT [CK_Rechnung_tExternerBeleg_cVerkaeuferUstId]
GO
ALTER TABLE [Rechnung].[tExternerBeleg]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBeleg_kExternerBeleg] CHECK  (([kExternerBeleg]<>(0)))
GO
ALTER TABLE [Rechnung].[tExternerBeleg] CHECK CONSTRAINT [CK_Rechnung_tExternerBeleg_kExternerBeleg]
GO
ALTER TABLE [Rechnung].[tExternerBeleg]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBeleg_nBelegtyp] CHECK  (([nBelegtyp]=(103) OR [nBelegtyp]=(102) OR [nBelegtyp]=(101) OR [nBelegtyp]=(100) OR [nBelegtyp]=(3) OR [nBelegtyp]=(2) OR [nBelegtyp]=(1) OR [nBelegtyp]=(0)))
GO
ALTER TABLE [Rechnung].[tExternerBeleg] CHECK CONSTRAINT [CK_Rechnung_tExternerBeleg_nBelegtyp]
GO
