USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vAmeiseExternerBelegPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vAmeiseExternerBelegPosition]
AS
(
	SELECT 
		tExternerBelegTransaktion.kExternerBelegTransaktion,
		tSteuerschluessel.nSchluesselnummer,
		tSteuerschluessel.cSteuerkonto,
		tSteuerschluessel.cSkontokonto,
		tSteuerschluessel.cName AS cSteuerschluessel,
		tExternerBelegPosition.fMwStSatz, 
		tExternerBelegTransaktion.cVALandISO AS cVersandlandISO,
		tExternerBelegTransaktion.cVALandWaehrungISO AS cVersandlandWaehrung,
		tExternerBelegTransaktion.fVALandWaehrungsfaktor AS fVersandlandWaehrungsfaktor,
		tExternerBeleg.cWaehrungISO,
		tExternerBeleg.fWaehrungsfaktor AS fWaehrungsfaktor,
		CAST(ROUND(SUM(tExternerBelegPosition.fVkBrutto), 2) AS DECIMAL(28,2)) AS fBetragBrutto,
		CAST(ROUND(SUM(tExternerBelegPosition.fVkNetto), 2) AS DECIMAL(28,2)) AS fBetragNetto,	
		CAST(ROUND(SUM(tExternerBelegPosition.fVkBrutto - tExternerBelegPosition.fVkNetto), 2) AS DECIMAL(28,2)) AS fBetragUst,
		CAST(ROUND(SUM((tExternerBelegPosition.fVkBrutto/tExternerBeleg.fWaehrungsfaktor) * tExternerBelegTransaktion.fVALandWaehrungsfaktor), 2) AS DECIMAL(28,2)) AS fBetragBruttoMitFaktor,
		CAST(ROUND(SUM((tExternerBelegPosition.fVkNetto/tExternerBeleg.fWaehrungsfaktor) * tExternerBelegTransaktion.fVALandWaehrungsfaktor), 2) AS DECIMAL(28,2)) fBetragNettoMitFaktor,		
		CAST(ROUND(SUM(((tExternerBelegPosition.fVkBrutto - tExternerBelegPosition.fVkNetto)/tExternerBeleg.fWaehrungsfaktor) * tExternerBelegTransaktion.fVALandWaehrungsfaktor),2) AS DECIMAL(28,2)) AS fBetragUstMitFaktor,
		tExternerBelegTransaktion.cLALandISO AS cLieferlandIso
	FROM Rechnung.tExternerBeleg
	JOIN Rechnung.tExternerBelegTransaktion ON tExternerBelegTransaktion.kExternerBeleg = tExternerBeleg.kExternerBeleg
	JOIN Rechnung.tExternerBelegPosition ON tExternerBelegPosition.kExternerBelegTransaktion = tExternerBelegTransaktion.kExternerBelegTransaktion
	JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = tExternerBelegPosition.kSteuerschluessel
	WHERE tExternerBelegPosition.nKindtyp != 1 --keine Stücklistenkinder
		AND ((tExternerBelegPosition.nPositionstyp = 1 AND tExternerBelegPosition.kArtikel > 0 ) OR --Artikel
			tExternerBelegPosition.nPositionstyp NOT IN (1, 13, 21)) --Artikel, Zinsaufschlag, EinzweckgutscheinEinlösung
	GROUP BY 
		tExternerBelegTransaktion.kExternerBelegTransaktion,
		tSteuerschluessel.nSchluesselnummer,
		tSteuerschluessel.cSteuerkonto,
		tSteuerschluessel.cSkontokonto,
		tSteuerschluessel.cName, 
		tExternerBelegPosition.fMwStSatz,
		tExternerBelegTransaktion.cVALandISO,
		tExternerBelegTransaktion.cVALandWaehrungISO,
		tExternerBelegTransaktion.fVALandWaehrungsfaktor,
		tExternerBeleg.cWaehrungISO,
		tExternerBeleg.fWaehrungsfaktor,
		tExternerBelegTransaktion.cLALandISO
)
GO
