USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tExternerBelegTransaktion]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tExternerBelegTransaktion](
	[kExternerBelegTransaktion] [int] IDENTITY(1,1) NOT NULL,
	[kExternerBeleg] [int] NOT NULL,
	[nTransaktionstyp] [tinyint] NOT NULL,
	[cTransaktionId] [nvarchar](50) NOT NULL,
	[cBezugstransaktionId] [nvarchar](50) NULL,
	[dTransaktionsdatumUtc] [datetime2](0) NOT NULL,
	[cExterneAuftragsnummer] [nvarchar](50) NULL,
	[dExternesAuftragsdatumUtc] [datetime2](0) NULL,
	[cKundenAuftragsnummer] [nvarchar](50) NULL,
	[cLAName] [nvarchar](100) NOT NULL,
	[cLAAdresse1] [nvarchar](100) NOT NULL,
	[cLAAdresse2] [nvarchar](100) NOT NULL,
	[cLAAdresse3] [nvarchar](100) NOT NULL,
	[cLAOrt] [nvarchar](100) NOT NULL,
	[cLAStaat] [nvarchar](100) NOT NULL,
	[cLAPostcode] [nvarchar](20) NOT NULL,
	[cLALandISO] [nchar](2) NOT NULL,
	[cLATelefon] [nvarchar](100) NOT NULL,
	[cVAOrt] [nvarchar](100) NOT NULL,
	[cVAStaat] [nvarchar](100) NOT NULL,
	[cVAPostcode] [nvarchar](20) NOT NULL,
	[cVALandISO] [nchar](2) NOT NULL,
	[cVALandWaehrungISO] [nchar](3) NOT NULL,
	[fVALandWaehrungsfaktor] [decimal](25, 13) NOT NULL,
	[kVersandArt] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tExternerBelegTransaktion] PRIMARY KEY CLUSTERED 
(
	[kExternerBelegTransaktion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] ADD  CONSTRAINT [DF_Rechnung_tExternerBelegTransaktion_fVALandWaehrungsfaktor]  DEFAULT ((1)) FOR [fVALandWaehrungsfaktor]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tExternerBelegTransaktion_kExternerBeleg] FOREIGN KEY([kExternerBeleg])
REFERENCES [Rechnung].[tExternerBeleg] ([kExternerBeleg])
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [FK_Rechnung_tExternerBelegTransaktion_kExternerBeleg]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cBezugstransaktionId] CHECK  (([cBezugstransaktionId] IS NULL OR len([cBezugstransaktionId])>(0)))
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cBezugstransaktionId]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cExterneAuftragsnummer] CHECK  (([cExterneAuftragsnummer] IS NULL OR len([cExterneAuftragsnummer])>(0)))
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cExterneAuftragsnummer]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cKundenAuftragsnummer] CHECK  (([cKundenAuftragsnummer] IS NULL OR len([cKundenAuftragsnummer])>(0)))
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cKundenAuftragsnummer]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cLALandISO] CHECK  ((len([cLALandISO])=(2)))
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cLALandISO]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cVALandISO] CHECK  ((len([cVALandISO])=(2)))
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_cVALandISO]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_dExternesAuftragsdatumUtc] CHECK  (([dExternesAuftragsdatumUtc] IS NULL OR [dExternesAuftragsdatumUtc]>='20000101'))
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_dExternesAuftragsdatumUtc]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_dTransaktionsdatumUtc] CHECK  (([dTransaktionsdatumUtc]>='20000101'))
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_dTransaktionsdatumUtc]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_kExternerBelegTransaktion] CHECK  (([kExternerBelegTransaktion]<>(0)))
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_kExternerBelegTransaktion]
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion]  WITH CHECK ADD  CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_nTransaktionstyp] CHECK  (([nTransaktionstyp]=(2) OR [nTransaktionstyp]=(1) OR [nTransaktionstyp]=(0)))
GO
ALTER TABLE [Rechnung].[tExternerBelegTransaktion] CHECK CONSTRAINT [CK_Rechnung_tExternerBelegTransaktion_nTransaktionstyp]
GO
