USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vExternerBeleg]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vExternerBeleg]
AS
SELECT
    tExternerBeleg.kExternerBeleg,
    cBelegnr,
    dBelegdatumUtc,
    nBelegtyp,
    CASE
        WHEN nBelegtyp = 0 THEN 'INV' -- Rechnung
        WHEN nBelegtyp = 1 THEN 'CN' -- Rechnungskorrektur
        WHEN nBelegtyp = 2 THEN 'LIQ' -- Vernichtungsbeleg        
        ELSE NULL
    END AS cBelegtypName,
    kFirmaHistory,
    cFirmaUstid,
    kPlattform,
    kPlattformKey,
    cWaehrungISO,
    cKaeuferUstId,
    cRAName,
    cRAAdresse1,
    cRAAdresse2,
    cRAAdresse3,
    cRAOrt,
    cRAStaat,
    cRAPostcode,
    cRALandISO,
    cRATelefon,
    cRAMail,
    cBezugsbelegnr,
    cHinweis,   
    fVkBrutto AS fVkBruttoSumme,
    fVkNetto AS fVkNettoSumme,
    nIstStorniert
FROM Rechnung.tExternerBeleg
JOIN Rechnung.tExternerBelegEckdaten ON tExternerBelegEckdaten.kExternerBeleg = tExternerBeleg.kExternerBeleg
GO
