USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vAmeiseExternerBelegEckdaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vAmeiseExternerBelegEckdaten]
AS
(
	SELECT 
		tExternerBeleg.kExternerBeleg,
		tExternerBelegTransaktion.kExternerBelegTransaktion,
		tExternerBeleg.cBelegnr,
		Auftrag.kAuftrag,
		Auftrag.cAuftragsNr,
		NULL AS dGedrucktDatum,
		NULL AS dAuftragVersandMailDatum,
		NULL AS dVersandMailDatum,
		NULL AS dZahlungsMailDatum,
		tExternerBelegTransaktion.dTransaktionsdatumUtc AS dBezahltDatumUtc,
		tExternerBelegTransaktion.dTransaktionsdatumUtc,		
		Auftrag.dErstellt AS dAuftragErstelltDatum,
		tExternerBelegTransaktion.cExterneAuftragsnummer,
		tExternerBeleg.nSteuereinstellung,
		tExternerBelegTransaktion.cExterneAuftragsnummer AS cVerwendungszweck,
		tExternerBeleg.fWaehrungsfaktor,
		tExternerBeleg.cWaehrungISO,
		tExternerBelegTransaktion.cVALandISO AS cVersandlandISO,
		tExternerBelegTransaktion.cVALandWaehrungISO AS cVersandlandWaehrungISO,
		tExternerBelegTransaktion.fVALandWaehrungsfaktor AS fVersandlandWaehrungsfaktor,
		tExternerBeleg.cHinweis,
		tExternerBelegEckdaten.nIstStorniert,
		tbenutzer.cName AS cBenutzername,
		tFirmaHistory.cSteuerNr AS cUStId,
		tFirmaHistory.cName AS cFirmaName,
		tFirmaHistory.cUnternehmer AS cFirmaUnternehmer,
		tFirmaHistory.cStrasse AS cFirmaStrasse,
		tFirmaHistory.cPLZ AS cFirmaPLZ,
		tFirmaHistory.cOrt AS cFirmaOrt,
		tFirmaHistory.cLand AS cFirmaLand,
		tFirmaHistory.cTel AS cFirmaTel,
		tFirmaHistory.cFax AS cFirmaFax,
		tFirmaHistory.cEMail AS cFirmaEMail,
		tFirmaHistory.cWWW AS cFirmaWWW,		
		tFirmaHistory.cBank AS cFirmaBank,
		tFirmaHistory.cIBAN AS cFirmaIBAN,
		tFirmaHistory.cBIC AS cFirmaBIC,
		tFirmaHistory.cKontoInhaber AS cFirmaKontoInhaber,
		tFirmaHistory.cSteuerNr AS cFirmaSteuerNr,
		tfirma.cBLZ AS cFirmaBLZ,
		tfirma.cKontoNr AS cFirmaKontoNr,
		tExternerBeleg.cFirmaUstId,
		tFirma.cIntrashipKdNr AS cFirmaIntrashipKdNr,
		tFirma.cUPSKdNr AS cFirmaUPSKdNr,
		tShop.cName AS cShopName,
		tPlattform.cName AS cPlattformName,
		ISNULL(tExternerBeleg.nDebitorenNr, tkunde.nDebitorennr) AS nKundeDebitorenNr,
		tkunde.cEbayName AS cKundeEbayName,
		tkunde.cKundenNr AS cRechnungsadresseKundenNr,
		tExternerBeleg.cKaeuferUstId,
		'' AS cRechnungsadresseFirma,
		tExternerBeleg.cRAName AS RechnungsadresseFirmaVornameNachname,
		'' AS cRechnungsadresseZusatz,
		'' AS cRechnungsadresseAnrede,
		'' AS cRechnungsadresseTitel,
		'' AS cRechnungsadresseVorname,
		'' AS cRechnungsadresseVornameNachname,
		'' AS cRechnungsadresseName,
		tExternerBeleg.cRAAdresse1 AS cRechnungsadresseStrasse1,	
		tExternerBeleg.cRAPostcode AS cRechnungsadressePLZ,
		tExternerBeleg.cRAOrt AS cRechnungsadresseOrt,
		tExternerBeleg.cRAAdresse2 AS cRechnungsadresseAdressZusatz1,
		tExternerBeleg.cRAAdresse3 AS cRechnungsadresseAdressZusatz2,
		tExternerBeleg.cRAStaat AS cRechnungsadresseBundesland,
		Rechnungsland.cName AS cRechnungsadresseLand,
		tExternerBeleg.cRALandISO AS cRechnungsadresseISO,
		tExternerBeleg.cRATelefon AS cRechnungsadresseTel,
		'' AS cRechnungsadresseFax,	
		'' AS cRechnungsadresseMobil,
		tExternerBeleg.cRAMail AS cRechnungsadresseMail,
		'' AS cRechnungsadressePostID,
		tKundenGruppe.cName AS cKundeKundenGruppe,
		tKundenKategorie.cName AS cKundeKundenKategorie,
		'' AS cLieferAdresseFirma,
		tExternerBelegTransaktion.cLAName AS LieferadresseFirmaVornameNachname,
		'' AS cLieferAdresseZusatz,
		'' AS cLieferAdresseAnrede,
		'' AS cLieferAdresseTitel,
		'' AS cLieferAdresseVorname,
		'' AS cLieferAdresseVornameNachname,
		'' AS cLieferAdresseName,
		tExternerBelegTransaktion.cLAAdresse1 AS cLieferAdresseStrasse1, --todo wie machen wir das bei Sammelrechnungen?
		tExternerBelegTransaktion.cLAPostcode AS cLieferAdressePLZ,
		tExternerBelegTransaktion.cLAOrt AS cLieferAdresseOrt,
		tExternerBelegTransaktion.cLAAdresse2 AS cLieferAdresseAdressZusatz1,
		tExternerBelegTransaktion.cLAAdresse3 AS cLieferAdresseAdressZusatz2,
		tExternerBeleg.cRAStaat AS cLieferAdresseBundesland,
		Lieferadresseland.cName AS cLieferAdresseLand,
		tExternerBelegTransaktion.cLALandISO AS cLieferAdresseISO,
		tExternerBelegTransaktion.cLATelefon AS cLieferAdresseTel,
		'' AS cLieferAdresseFax,
		'' AS cLieferAdresseMobil,
		'' AS cLieferAdresseMail,
		'' AS cLieferAdressePostID,
		tversandart.cName AS cVersandartLogistiker,
		tSpracheUsed.cNameDeu AS cSpracheUsedNameDeu,
		tSpracheUsed.cISO AS cSpracheUsedISO,
		tZahlungsart.cName AS cZahlungsartName,
		tZahlungsart.cPrtStringVor AS cZahlungsartPrtStringVor,
		tZahlungsart.cPrtString AS cZahlungsartPrtString,
		tZahlungsart.nLastschrift AS nZahlungsartLastschrift,
		tZahlungsart.cKonto AS cZahlungsartKonto,
		tversandart.cName AS cVersandInfo,
		'' AS ZahlungExternalTransactionId,
		'' AS ZahlungTransaktionID,			
		Storno.dTransaktionsdatumUtc AS dStornoDatumUtc,
		'' AS cStornoKommentar,
		StornoUser.cName AS cStorniertVon,
		'' AS cStornoGrund,
		Versand.dAuftragLieferdatum,
		Versand.dAuftragVersandtdatum,
		Versand.cIdentCode,
		ISNULL(BezugExtern.kRechnungExternerBeleg, BezugRechnungWawi.kRechnungExternerBeleg) AS kRechnungExternerBeleg,
		tExternerBeleg.cBezugsbelegnr AS cRechnungBelegnr,
		BezugExtern.dRechnungsdatumUtc,
		BezugRechnungWawi.dRechnungsdatum
	FROM Rechnung.tExternerBeleg
	JOIN Rechnung.tExternerBelegEckdaten ON tExternerBelegEckdaten.kExternerBeleg = tExternerBeleg.kExternerBeleg
	JOIN Rechnung.tExternerBelegTransaktion ON tExternerBelegTransaktion.kExternerBeleg = tExternerBeleg.kExternerBeleg
	OUTER APPLY
	(
		SELECT TOP(1) GutschriftTransaktion.dTransaktionsdatumUtc, Gutschrift.kBenutzer
		FROM Rechnung.tExternerBeleg AS Gutschrift
		JOIN Rechnung.tExternerBelegTransaktion AS GutschriftTransaktion ON GutschriftTransaktion.kExternerBeleg = Gutschrift.kExternerBeleg
		WHERE Gutschrift.cBezugsbelegnr = tExternerBeleg.cBelegnr			
			AND Gutschrift.nBelegtyp IN (1)
			AND tExternerBelegEckdaten.nIstStorniert = 1
	) AS Storno
	OUTER APPLY
	(
		SELECT TOP(1) Bezug.kExternerBeleg AS kRechnungExternerBeleg, BezugTransaktion.dTransaktionsdatumUtc AS dRechnungsdatumUtc, Bezug.kBenutzer
		FROM Rechnung.tExternerBeleg AS Bezug
		JOIN Rechnung.tExternerBelegTransaktion AS BezugTransaktion ON BezugTransaktion.kExternerBeleg = Bezug.kExternerBeleg
		WHERE Bezug.cBelegnr = tExternerBeleg.cBezugsbelegnr
			AND Bezug.nBelegtyp IN (0)
	) AS BezugExtern
	OUTER APPLY
	(
		SELECT TOP(1) tRechnung.kRechnung AS kRechnungExternerBeleg, tRechnung.dErstellt AS dRechnungsdatum
		FROM Rechnung.tRechnung
		WHERE tRechnung.cRechnungsnr = tExternerBeleg.cBezugsbelegnr
			AND ISNULL(tRechnung.cRechnungsnr, '') != ''
	) AS BezugRechnungWawi
	OUTER APPLY
	(
		SELECT TOP(1) tAuftragPosition.kAuftrag, tAuftrag.nType, tAuftrag.dErstellt, tAuftrag.cAuftragsNr
		FROM Rechnung.tExternerBelegPosition
		JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tExternerBelegPosition.kAuftragPosition
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragPosition.kAuftrag
		WHERE tExternerBelegPosition.kExternerBelegTransaktion = tExternerBelegTransaktion.kExternerBelegTransaktion
	) AS Auftrag
	OUTER APPLY
	(
		SELECT TOP 1
			CASE WHEN tAuftrag.nKomplettAusgeliefert > 0 THEN tVersand.dErstellt END AS dAuftragLieferdatum,
			CASE WHEN tAuftrag.nKomplettAusgeliefert > 0 THEN tVersand.dVersendet END AS dAuftragVersandtdatum,
			tVersand.cidentcode  AS cIdentCode
		FROM Verkauf.tAuftrag 
		JOIN dbo.tLieferschein ON tLieferschein.kBestellung = tAuftrag.kAuftrag 
		JOIN dbo.tVersand ON tLieferschein.kLieferschein = tVersand.kLieferschein
		WHERE tAuftrag.kAuftrag = Auftrag.kAuftrag
	) AS Versand
	JOIN dbo.tbenutzer ON tbenutzer.kBenutzer = tExternerBeleg.kBenutzer
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tExternerBeleg.kFirmaHistory
	JOIN dbo.tFirma ON tFirma.kFirma = tFirmaHistory.kFirma
	JOIN dbo.tPlattform ON tPlattform.nPlattform = tExternerBeleg.kPlattform
	LEFT JOIN dbo.tShop ON tShop.kShop = tExternerBeleg.kPlattformKey
		AND tPlattform.nTyp = 11 --SCX
	LEFT JOIN dbo.tkunde ON tkunde.kKunde = tExternerBeleg.kKunde
	LEFT JOIN dbo.tland AS Rechnungsland ON Rechnungsland.cISO = tExternerBeleg.cRALandISO
	LEFT JOIN dbo.tland AS Lieferadresseland ON Lieferadresseland.cISO = tExternerBeleg.cRALandISO
	LEFT JOIN tKundenGruppe ON tKundenGruppe.kKundenGruppe = tkunde.kKundenGruppe
	LEFT JOIN tKundenKategorie ON tKundenKategorie.kKundenKategorie = tkunde.kKundenKategorie
	LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tExternerBeleg.kSprache
	LEFT JOIN dbo.tZahlungsart ON tZahlungsart.kZahlungsart = tExternerBeleg.kZahlungsart
	LEFT JOIN dbo.tbenutzer AS StornoUser ON tbenutzer.kBenutzer = Storno.kBenutzer
	LEFT JOIN dbo.tVersandArt ON tVersandArt.kVersandArt = tExternerBelegTransaktion.kVersandArt
)
GO
