USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungAusgabeDateien]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungAusgabeDateien](
	[kRechnung] [int] NOT NULL,
	[dAusgabedatum] [datetime] NOT NULL,
	[nAusgabeart] [int] NOT NULL,
	[cFehlermeldung] [nvarchar](2000) NULL,
	[kBenutzer] [int] NOT NULL,
	[kVorlage] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kRechnungAusgabeDateien] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungAusgabeDateien_kRechnungAusgabeDateien] PRIMARY KEY CLUSTERED 
(
	[kRechnungAusgabeDateien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungAusgabeDateien]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungAusgabeDateien_kRechnung] FOREIGN KEY([kRechnung])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungAusgabeDateien] CHECK CONSTRAINT [FK_Rechnung_tRechnungAusgabeDateien_kRechnung]
GO
