USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vAmeiseExternerBeleg]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vAmeiseExternerBeleg]
AS
(
	SELECT 
		0 AS kRechnung, 
		0 AS kGutschrift,
		tExternerBelegTransaktion.kExternerBeleg,
		tExternerBelegTransaktion.kExternerBelegTransaktion,
		tExternerBelegTransaktion.cVALandISO AS cVersandlandISO,
		tExternerBeleg.cRALandISO AS cISO,
		tExternerBeleg.kFirmaHistory,
		tFirmaHistory.kFirma,
		tExternerBelegTransaktion.dTransaktionsdatumUtc AS dErstellt,
		CONVERT(DATETIME, tExternerBelegTransaktion.dTransaktionsdatumUtc, 104) AS dErstelltConverter,
		CAST(1 AS BIT) AS nIstBezahlt,
		CAST(0 AS BIT) AS nIstEntwurf,
		tExternerBeleg.cBelegnr,
		CASE WHEN tExternerBeleg.nBelegtyp IN (0, 2) THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS nIstRechnung, --Rechnung, Vernichtungsbeleg
		CASE WHEN tExternerBeleg.nBelegtyp IN (1) THEN CAST(1 AS BIT) ELSE CAST(0 AS BIT) END AS nIstRechnungskorrektur --Rechnungskorrektur		
	FROM Rechnung.tExternerBeleg
	JOIN Rechnung.tExternerBelegTransaktion ON tExternerBelegTransaktion.kExternerBeleg = tExternerBeleg.kExternerBeleg
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tExternerBeleg.kFirmaHistory
)
GO
