USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vAmeiseDatevExternerBelegEckdaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vAmeiseDatevExternerBelegEckdaten] 
AS
(
	SELECT 
	    tExternerBeleg.kExternerBeleg,
		tExternerBelegTransaktion.kExternerBelegTransaktion,
		tExternerBeleg.cBelegnr,
		tExternerBeleg.kFirmaHistory,
		tExternerBelegTransaktion.dTransaktionsdatumUtc, 
		tExternerBelegTransaktion.cExterneAuftragsnummer,
		tExternerBelegTransaktion.cVALandISO AS cVersandlandISO,
		tZahlungsart.cName AS ZahlungsartName,
		tExternerBelegTransaktion.cExterneAuftragsnummer AS cVerwendungszweck,
		tFirmaHistory.cSteuerNr AS cUStId,
		tExternerBeleg.cRAName AS cRechnungsadresse,
		tAdresse.cName AS cKundenName,
		tExternerBeleg.cKaeuferUstId AS cRechnungsadresseUSTID,
		tExternerBeleg.kKunde,	
		tExternerBeleg.cHinweis, 
		ISNULL(tExternerBeleg.nDebitorenNr, tkunde.nDebitorennr) AS nDebitorenNr,
		tExternerBeleg.cBezugsbelegnr AS cBezugsbelegnr,
		BezugExtern.dTransaktionsdatumUtc AS dBezugTransaktionsdatumUtc,
		BezugWawi.dErstellt AS dBezugTransaktionsdatumWawi
		FROM Rechnung.tExternerBeleg
		JOIN Rechnung.tExternerBelegTransaktion ON tExternerBelegTransaktion.kExternerBeleg = tExternerBeleg.kExternerBeleg
		LEFT JOIN dbo.tZahlungsart ON tZahlungsart.kZahlungsart = tExternerBeleg.kZahlungsart
		LEFT JOIN dbo.tkunde ON tkunde.kKunde = tExternerBeleg.kKunde
		LEFT JOIN dbo.tAdresse ON tAdresse.kKunde = tkunde.kKunde
			AND tAdresse.nStandard = 1		
		OUTER APPLY
		(
			SELECT TOP(1) Bezug.kExternerBeleg, BezugTransaktion.dTransaktionsdatumUtc
			FROM Rechnung.tExternerBeleg AS Bezug
			JOIN Rechnung.tExternerBelegTransaktion AS BezugTransaktion ON BezugTransaktion.kExternerBeleg = Bezug.kExternerBeleg
			WHERE Bezug.cBelegnr = tExternerBeleg.cBezugsbelegnr
				AND Bezug.nBelegtyp IN (0)
		) AS BezugExtern
		OUTER APPLY
		(
			SELECT TOP(1) tRechnung.dErstellt 
			FROM Rechnung.tRechnung
			WHERE tRechnung.cRechnungsnr = tExternerBeleg.cBelegnr
				AND ISNULL(tRechnung.cRechnungsnr, '') != ''
		) AS BezugWawi
		JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tExternerBeleg.kFirmaHistory
)
GO
