USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungAttribut]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnungAttribut]
AS
SELECT 
	vRechnung.kRechnung,
	tAuftragAttribut.kAttribut,
	tAuftragAttributSprache.kSprache,
	CASE
		WHEN tFeldTyp.nDatenTyp = 0 THEN CONVERT(NVARCHAR(MAX), tAuftragAttributSprache.nWertInt)
		WHEN tFeldTyp.nDatenTyp = 1 THEN CONVERT(NVARCHAR(MAX), FORMAT(tAuftragAttributSprache.fWertDecimal, 'G', 'de-de'))
		WHEN tFeldTyp.nDatenTyp = 2 THEN CONVERT(NVARCHAR(MAX), tAuftragAttributSprache.cWertVarchar)
		WHEN tFeldTyp.nDatenTyp = 3 THEN CONVERT(NVARCHAR(MAX), tAuftragAttributSprache.dWertDateTime, 120)
	  END AS cValue,
	  tAttributSprache.cName
FROM Rechnung.vRechnung
JOIN (SELECT vRechnungPosition.kRechnung, MIN(vRechnungPosition.kAuftrag) AS kAuftrag
	  FROM Rechnung.vRechnungPosition
	  GROUP BY vRechnungPosition.kRechnung) FirstAuftrag ON FirstAuftrag.kRechnung = vRechnung.kRechnung
JOIN Verkauf.tAuftragAttribut ON tAuftragAttribut.kAuftrag = FirstAuftrag.kAuftrag
JOIN Verkauf.tAuftragAttributSprache ON tAuftragAttributSprache.kAuftragAttribut = tAuftragAttribut.kAuftragAttribut AND tAuftragAttributSprache.kSprache = 0
JOIN dbo.tAttribut ON tAttribut.kAttribut = tAuftragAttribut.kAttribut
JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAttribut.kAttribut AND tAttributSprache.kSprache = 0
JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
GO
