USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vExternerBelegTransaktion]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vExternerBelegTransaktion]
AS
SELECT kExternerBelegTransaktion,
       kExternerBeleg,
       nTransaktionstyp,
       CASE WHEN nTransaktionstyp = 0 THEN 'SHIPMENT'
        WHEN nTransaktionstyp = 1 THEN 'REFUND'
        ELSE NULL
       END AS cTransaktionstypName,
       cTransaktionId,
       cBezugstransaktionId,
       dTransaktionsdatumUtc,
       cExterneAuftragsnummer,
       dExternesAuftragsdatumUtc,
       cKundenAuftragsnummer,
       cLAName,
       cLAAdresse1,
       cLAAdresse2,
       cLAAdresse3,
       cLAOrt,
       cLAStaat,
       cLAPostcode,
       cLALandISO,
       cLATelefon,
       cVAOrt,
       cVAStaat,
       cVAPostcode,
       cVALandISO
FROM Rechnung.tExternerBelegTransaktion
GO
