USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungAusgabeDateien]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnungAusgabeDateien]
AS 
SELECT	tRechnungAusgabeDateien.kRechnung, 
		tRechnungAusgabeDateien.dAusgabedatum, 
		tRechnungAusgabeDateien.nAusgabeart, 
		tRechnungAusgabeDateien.cFehlermeldung, 
		tRechnungAusgabeDateien.kBenutzer, 
		tRechnungAusgabeDateien.kVorlage, 
		tRechnungAusgabeDateien.bRowversion
FROM Rechnung.tRechnungAusgabeDateien;
GO
