USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungZahlungsinfo]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungZahlungsinfo](
	[kRechnung] [int] NOT NULL,
	[cKontoInhaber] [nvarchar](255) NULL,
	[cBankname] [nvarchar](255) NULL,
	[cIBAN] [nvarchar](34) NULL,
	[cBIC] [nvarchar](32) NULL,
	[cPuiZahlungsinfo] [nvarchar](max) NULL,
	[nTyp] [tinyint] NOT NULL,
	[dFaelligkeitsdatum] [datetime] NULL,
	[cVerwendungszweck] [nvarchar](1000) NULL,
	[cReferenzEmail] [nvarchar](255) NULL,
	[cMandatsReferenz] [nvarchar](100) NULL,
	[cEndToEndID] [nvarchar](35) NULL,
	[cGlaeubigerID] [nvarchar](35) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungZahlungsinfo] PRIMARY KEY CLUSTERED 
(
	[kRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungZahlungsinfo]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungZahlungsinfo_kRechnung] FOREIGN KEY([kRechnung])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
GO
ALTER TABLE [Rechnung].[tRechnungZahlungsinfo] CHECK CONSTRAINT [FK_Rechnung_tRechnungZahlungsinfo_kRechnung]
GO
