USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vExternerBelegPositionDetails]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vExternerBelegPositionDetails]
AS
(
    SELECT
        tExternerBelegPosition.kExternerBelegPosition,
        tExternerBelegPosition.kExternerBelegTransaktion,
        tExternerBelegPosition.kExternerBelegPositionVater,
        tExternerBelegPosition.nKindtyp,
        tExternerBelegPosition.kAuftragPosition,
        tExternerBelegPosition.kBezugRechnungPosition,
        tExternerBelegPosition.kBezugExternerBelegPosition,
        tExternerBelegPosition.nPositionstyp,
        tExternerBelegPosition.cArtNr,
        tExternerBelegPosition.kArtikel,
        tExternerBelegPosition.cText,
        tExternerBelegPosition.fAnzahl,
        tExternerBelegPosition.fVkBrutto,
        tExternerBelegPosition.fVkNetto,
        tExternerBelegPosition.fMwStSatz,
        tExternerBelegPosition.fRabattBrutto,
        tExternerBelegPosition.fRabattNetto,
        tExternerBelegPosition.cRabatttext,
        tExternerBelegPosition.fEkNetto,
        tExternerBelegPosition.cEinheit,
        tExternerBelegPosition.kExterneId,
        tExternerBelegPosition.kSteuerklasse,
        tExternerBelegPosition.kSteuerschluessel
    FROM Rechnung.tExternerBelegPosition
)
GO
