USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnung](
	[kRechnung] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NULL,
	[kKunde] [int] NULL,
	[cRechnungsnr] [nvarchar](50) NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[dValutadatum] [datetime] NOT NULL,
	[cKundennr] [nvarchar](30) NULL,
	[cKundengruppe] [nvarchar](255) NULL,
	[kKundengruppe] [int] NULL,
	[cFirma] [nvarchar](255) NOT NULL,
	[kFirmaHistory] [int] NULL,
	[nZahlungszielTage] [int] NULL,
	[fSkonto] [decimal](25, 13) NOT NULL,
	[nSkontoInTage] [int] NOT NULL,
	[nMahnstop] [bit] NOT NULL,
	[nStatus] [bit] NOT NULL,
	[cVersandlandISO] [char](2) NULL,
	[cVersandlandBundeslandkuerzel] [nvarchar](5) NULL,
	[cVersandlandWaehrung] [char](3) NOT NULL,
	[fVersandlandWaehrungsfaktor] [decimal](25, 13) NOT NULL,
	[cWaehrung] [char](3) NOT NULL,
	[fWaehrungsfaktor] [decimal](25, 13) NOT NULL,
	[kZahlungsart] [int] NULL,
	[cZahlungsart] [nvarchar](255) NULL,
	[kSprache] [int] NULL,
	[kFarbe] [int] NULL,
	[nSteuereinstellung] [int] NOT NULL,
	[cUstId] [nvarchar](25) NULL,
	[nIstExterneRechnung] [tinyint] NOT NULL,
	[nExistierendeRechnungDrucken] [bit] NOT NULL,
	[nArchiv] [bit] NOT NULL,
	[cVersandart] [nvarchar](255) NULL,
	[dLeistungsdatum] [datetime] NULL,
	[nRechnungStatus] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kPlattform] [int] NULL,
	[cExterneAuftragsnummer] [nvarchar](50) NULL,
	[kVersandArt] [int] NULL,
	[nIstProforma] [bit] NOT NULL,
	[nStorno] [bit] NOT NULL,
	[nIstEntwurf] [bit] NOT NULL,
	[cKundeUstId] [nvarchar](20) NULL,
	[kShop] [int] NULL,
	[cEbayUsername] [nvarchar](255) NULL,
	[nDebitorennr] [int] NULL,
	[dErstelltWawi] [datetime] NOT NULL,
	[nSteuersonderbehandlung] [tinyint] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnung] PRIMARY KEY CLUSTERED 
(
	[kRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_dErstellt]  DEFAULT (getdate()) FOR [dErstellt]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_dValutadatum]  DEFAULT (getdate()) FOR [dValutadatum]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_fSkonto]  DEFAULT ((0.0)) FOR [fSkonto]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nSkontoInTage]  DEFAULT ((0)) FOR [nSkontoInTage]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nMahnstop]  DEFAULT ((0)) FOR [nMahnstop]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_fWaehrungsfaktor]  DEFAULT ((0.0)) FOR [fWaehrungsfaktor]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nIstExterneRechnung]  DEFAULT ((0)) FOR [nIstExterneRechnung]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nExistierendeRechnungDrucken]  DEFAULT ((0)) FOR [nExistierendeRechnungDrucken]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nArchiv]  DEFAULT ((0)) FOR [nArchiv]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nRechnungStatus]  DEFAULT ((0)) FOR [nRechnungStatus]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nIstProforma]  DEFAULT ((0)) FOR [nIstProforma]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nStorno]  DEFAULT ((0)) FOR [nStorno]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nIstEntwurf]  DEFAULT ((0)) FOR [nIstEntwurf]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_dErstelltWawi]  DEFAULT (getdate()) FOR [dErstelltWawi]
GO
ALTER TABLE [Rechnung].[tRechnung] ADD  CONSTRAINT [DF_Rechnung_tRechnung_nSteuersonderbehandlung]  DEFAULT ((0)) FOR [nSteuersonderbehandlung]
GO
ALTER TABLE [Rechnung].[tRechnung]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnung_kPlattform] FOREIGN KEY([kPlattform])
REFERENCES [dbo].[tPlattform] ([nPlattform])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Rechnung].[tRechnung] CHECK CONSTRAINT [FK_Rechnung_tRechnung_kPlattform]
GO
ALTER TABLE [Rechnung].[tRechnung]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnung_kVersandArt] FOREIGN KEY([kVersandArt])
REFERENCES [dbo].[tversandart] ([kVersandArt])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Rechnung].[tRechnung] CHECK CONSTRAINT [FK_Rechnung_tRechnung_kVersandArt]
GO
