USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungEckdaten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungEckdaten](
	[kRechnung] [int] NOT NULL,
	[dDruckdatum] [datetime] NULL,
	[dMaildatum] [datetime] NULL,
	[nIstAngemahnt] [bit] NOT NULL,
	[nMahnstufe] [tinyint] NULL,
	[dMahndatum] [datetime] NULL,
	[dZahlungsziel] [datetime] NULL,
	[fOffenerWert] [decimal](25, 13) NOT NULL,
	[dBezahlt] [datetime] NULL,
	[fVkBruttoGesamt] [decimal](25, 13) NULL,
	[fVkNettoGesamt] [decimal](25, 13) NULL,
	[fZahlung] [decimal](25, 13) NOT NULL,
	[dZahlungsMail] [datetime] NULL,
	[fGutschrift] [decimal](25, 13) NOT NULL,
	[nZahlungStatus] [tinyint] NOT NULL,
	[nRechnungTyp] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cAuftragsnummern] [nvarchar](200) NULL,
	[nHasRechnungskorrektur] [bit] NOT NULL,
	[nKorrigiert] [bit] NOT NULL,
	[fMahngebuehr] [decimal](25, 13) NOT NULL,
	[fOffeneMahngebuehr] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungEckdaten] PRIMARY KEY CLUSTERED 
(
	[kRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungEckdaten] ADD  CONSTRAINT [DF_Rechnung_tRechnungEckdaten_nIstAngemahnt]  DEFAULT ((0)) FOR [nIstAngemahnt]
GO
ALTER TABLE [Rechnung].[tRechnungEckdaten] ADD  CONSTRAINT [DF_Rechnung_tRechnungEckdaten_fOffenerWert]  DEFAULT ((0.0)) FOR [fOffenerWert]
GO
ALTER TABLE [Rechnung].[tRechnungEckdaten] ADD  CONSTRAINT [DF_Rechnung_tRechnungEckdaten_fZahlung]  DEFAULT ((0.0)) FOR [fZahlung]
GO
ALTER TABLE [Rechnung].[tRechnungEckdaten] ADD  CONSTRAINT [DF_Rechnung_tRechnungEckdaten_nHasRechnungskorrektur]  DEFAULT ((0)) FOR [nHasRechnungskorrektur]
GO
ALTER TABLE [Rechnung].[tRechnungEckdaten] ADD  CONSTRAINT [DF_Rechnung_tRechnungEckdaten_nKorrigiert]  DEFAULT ((0)) FOR [nKorrigiert]
GO
ALTER TABLE [Rechnung].[tRechnungEckdaten] ADD  CONSTRAINT [DF_Rechnung_tRechnungEckdaten_fMahngebuehr]  DEFAULT ((0)) FOR [fMahngebuehr]
GO
ALTER TABLE [Rechnung].[tRechnungEckdaten] ADD  CONSTRAINT [DF_Rechnung_tRechnungEckdaten_fOffeneMahngebuehr]  DEFAULT ((0)) FOR [fOffeneMahngebuehr]
GO
ALTER TABLE [Rechnung].[tRechnungEckdaten]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungEckdaten_kRechnung] FOREIGN KEY([kRechnung])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungEckdaten] CHECK CONSTRAINT [FK_Rechnung_tRechnungEckdaten_kRechnung]
GO
