USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnung]
AS
SELECT	tRechnung.kRechnung,
		tRechnung.kBenutzer,
		tRechnung.kKunde,
		tRechnung.cRechnungsnr,
		tRechnung.dErstellt,
		tRechnung.dValutadatum,
		tRechnung.cKundennr,
		tRechnung.cKundengruppe,
		tRechnung.kKundengruppe,
		tRechnung.cFirma,
		tRechnung.kFirmaHistory,
		tRechnung.nZahlungszielTage,
		tRechnung.fSkonto,
		tRechnung.nSkontoInTage,
		tRechnung.nMahnstop,
		tRechnung.nStatus,
		tRechnung.cVersandlandISO,
		tRechnung.cVersandlandBundeslandkuerzel,
		tRechnung.cVersandlandWaehrung,
		tRechnung.fVersandlandWaehrungsfaktor,
		tRechnung.cWaehrung,
		tRechnung.fWaehrungsfaktor,
		tRechnung.kZahlungsart,
		tRechnung.cZahlungsart,
		tRechnung.kSprache,
		tRechnung.kFarbe,
		tRechnung.nSteuereinstellung,
		tRechnung.cUstId,
		tRechnung.nIstExterneRechnung,
		tRechnung.nExistierendeRechnungDrucken,
		tRechnung.nArchiv,
		tRechnung.cVersandart,
		tRechnung.dLeistungsdatum,
		tRechnung.nRechnungStatus,
		tRechnung.bRowversion,
		tRechnung.kPlattform,
		tRechnung.cExterneAuftragsnummer,
		tRechnung.kVersandArt,
		tRechnung.nIstEntwurf,
		tRechnung.nStorno,
		tRechnung.cKundeUstId,
		tRechnung.kShop,
		tRechnung.cEbayUsername,
		tRechnung.nDebitorennr
FROM Rechnung.tRechnung;
GO
