USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tExternerBelegEckdaten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tExternerBelegEckdaten](
	[kExternerBeleg] [int] NOT NULL,
	[fVkBrutto] [decimal](25, 13) NULL,
	[fVkNetto] [decimal](25, 13) NULL,
	[nIstStorniert] [bit] NULL,
	[nFehlercode] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tExternerBelegEckdaten] PRIMARY KEY CLUSTERED 
(
	[kExternerBeleg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tExternerBelegEckdaten] ADD  CONSTRAINT [DF_Rechnung_tExternerBelegEckdaten_nFehlercode]  DEFAULT ((0)) FOR [nFehlercode]
GO
ALTER TABLE [Rechnung].[tExternerBelegEckdaten]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tExternerBelegEckdaten_kExternerBeleg] FOREIGN KEY([kExternerBeleg])
REFERENCES [Rechnung].[tExternerBeleg] ([kExternerBeleg])
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tExternerBelegEckdaten] CHECK CONSTRAINT [FK_Rechnung_tExternerBelegEckdaten_kExternerBeleg]
GO
