USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungZahlungsinfo]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnungZahlungsinfo]
AS 
SELECT tRechnungZahlungsinfo.kRechnung,
		tRechnungZahlungsinfo.cKontoInhaber,
		tRechnungZahlungsinfo.cBankname,
		tRechnungZahlungsinfo.cIBAN,
		tRechnungZahlungsinfo.cBIC,
		tRechnungZahlungsinfo.cPuiZahlungsinfo,
		tRechnungZahlungsinfo.nTyp,
		tRechnungZahlungsinfo.dFaelligkeitsdatum,
		tRechnungZahlungsinfo.cVerwendungszweck,
		tRechnungZahlungsinfo.cReferenzEmail,
		tRechnungZahlungsinfo.cMandatsReferenz,
		tRechnungZahlungsinfo.cEndToEndID,
		tRechnungZahlungsinfo.cGlaeubigerID,
		tRechnungZahlungsinfo.bRowversion
FROM Rechnung.tRechnungZahlungsinfo;
GO
