USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungPositionFile]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungPositionFile](
	[kRechnungPositionFile] [int] IDENTITY(1,1) NOT NULL,
	[kRechnungPosition] [int] NOT NULL,
	[kRechnung] [int] NOT NULL,
	[kFile] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cFilename] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungPositionFile] PRIMARY KEY CLUSTERED 
(
	[kRechnungPositionFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungPositionFile]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPositionFile_kFile] FOREIGN KEY([kFile])
REFERENCES [dbo].[tFile] ([kFile])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungPositionFile] CHECK CONSTRAINT [FK_Rechnung_tRechnungPositionFile_kFile]
GO
ALTER TABLE [Rechnung].[tRechnungPositionFile]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPositionFile_kRechnung] FOREIGN KEY([kRechnung])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungPositionFile] CHECK CONSTRAINT [FK_Rechnung_tRechnungPositionFile_kRechnung]
GO
ALTER TABLE [Rechnung].[tRechnungPositionFile]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPositionFile_kRechnungPosition] FOREIGN KEY([kRechnungPosition])
REFERENCES [Rechnung].[tRechnungPosition] ([kRechnungPosition])
GO
ALTER TABLE [Rechnung].[tRechnungPositionFile] CHECK CONSTRAINT [FK_Rechnung_tRechnungPositionFile_kRechnungPosition]
GO
