USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vExternerBelegSteuerermittlungsdaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vExternerBelegSteuerermittlungsdaten]
AS
(
	SELECT
	    tExternerBeleg.kExternerBeleg,
		tExternerBelegPosition.kExternerBelegPosition, 
	    tFirmaHistory.kFirma, 
		tExternerBelegTransaktion.cVALandISO AS cVersandlandIso,	
		tExternerBeleg.cKaeuferUstId AS cKundeUstId,
		ISNULL(tExternerBeleg.cRALandISO, tExternerBelegTransaktion.cVALandISO) AS cRechnungsLandIso,
        tExternerBeleg.cRAStaat AS cRechnungBundesland,
		ISNULL(tExternerBelegTransaktion.cLALandISO, tExternerBelegTransaktion.cVALandISO) AS cLieferlandIso,
        tExternerBelegTransaktion.cLAStaat AS cLieferbundesLand,
		CAST(0 AS BIT) AS nReverseCharge,
		tExternerBelegPosition.kArtikel,
		tArtikel.kWarengruppe,
		tExternerBelegPosition.nPositionstyp,
		ISNULL(tExternerBelegPosition.fMwStSatz, 0) AS fMwStSatz,
		IIF(LEN(tExternerBelegPosition.cArtNr) > 0, tExternerBelegPosition.cArtNr, tExternerBelegPosition.cText) AS cPosition,
		tExternerBeleg.cBelegnr
	FROM Rechnung.tExternerBeleg
	JOIN Rechnung.tExternerBelegTransaktion ON tExternerBelegTransaktion.kExternerBeleg = tExternerBeleg.kExternerBeleg
	JOIN Rechnung.tExternerBelegPosition ON tExternerBelegPosition.kExternerBelegTransaktion = tExternerBelegTransaktion.kExternerBelegTransaktion
	LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = tExternerBelegPosition.kArtikel
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tExternerBeleg.kFirmaHistory
	WHERE tExternerBelegPosition.nKindtyp != 1
	    AND tExternerBelegPosition.fMwStSatz IS NOT NULL
)
GO
