USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vBuchhaltungsuebersichtRechnung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vBuchhaltungsuebersichtRechnung]
AS
(
	SELECT
		tRechnung.kRechnung,
		tRechnung.cRechnungsnr,
		tRechnung.cExterneAuftragsnummer,
		tRechnungEckdaten.fVkBruttoGesamt,
		tRechnungEckdaten.fVkNettoGesamt,
		tRechnungEckdaten.fOffenerWert,
        tRechnung.dErstellt,
        tRechnung.cWaehrung
	FROM Rechnung.tRechnung
	JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
)
GO
