USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungPositionText]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungPositionText](
	[kRechnungPosition] [int] NOT NULL,
	[cHinweis] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungPositionText] PRIMARY KEY CLUSTERED 
(
	[kRechnungPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungPositionText]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPositionText_kRechnungPosition] FOREIGN KEY([kRechnungPosition])
REFERENCES [Rechnung].[tRechnungPosition] ([kRechnungPosition])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungPositionText] CHECK CONSTRAINT [FK_Rechnung_tRechnungPositionText_kRechnungPosition]
GO
