USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungStornierbar]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Stornoview
--

CREATE VIEW [Rechnung].[vRechnungStornierbar]
AS
SELECT
	tRechnung.kRechnung,
	tRechnung.cRechnungsnr,
	CASE
		WHEN tRechnung.nStorno = 1 THEN 1
		WHEN tRechnung.nIstEntwurf = 1 THEN 2
		WHEN NichtStornierteRechnungskorrektur.kGutschrift > 0 THEN 3
		WHEN ISNULL(tAuftragRechnung.kAuftrag, 0) = 0 AND tRechnung.nIstExterneRechnung = 0 THEN 4		
		WHEN tRechnungEckdaten.kRechnung IS NULL THEN 255
		ELSE 0
	END	AS nError
FROM Rechnung.tRechnung
LEFT JOIN Verkauf.tAuftragRechnung ON tRechnung.kRechnung = tAuftragRechnung.kRechnung
LEFT JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
OUTER APPLY (
	SELECT TOP 1 kGutschrift, cGutschriftNr
	FROM dbo.tgutschrift
	WHERE tgutschrift.kRechnung = tRechnung.kRechnung
		AND tgutschrift.nStorno = 0
		AND tgutschrift.nStornoTyp = 0
) AS NichtStornierteRechnungskorrektur
GO
