USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungEckdaten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnungEckdaten]
AS
SELECT	tRechnungEckdaten.kRechnung,
		tRechnungEckdaten.dDruckdatum,
		tRechnungEckdaten.dMaildatum,
		tRechnungEckdaten.nIstAngemahnt,
		tRechnungEckdaten.nMahnstufe,
		tRechnungEckdaten.dMahndatum,
		tRechnungEckdaten.dZahlungsziel,
		tRechnungEckdaten.fOffenerWert,
		tRechnungEckdaten.dBezahlt,
		tRechnungEckdaten.fVkBruttoGesamt,
		tRechnungEckdaten.fVkNettoGesamt,
		tRechnungEckdaten.fZahlung,
		tRechnungEckdaten.dZahlungsMail,
		tRechnungEckdaten.fGutschrift,
		tRechnungEckdaten.nZahlungStatus,
		tRechnungEckdaten.nRechnungTyp,
		tRechnungEckdaten.bRowversion,
		tRechnungEckdaten.cAuftragsnummern,
		tRechnungEckdaten.nHasRechnungskorrektur,
		tRechnungEckdaten.nKorrigiert,
		tRechnungEckdaten.fMahngebuehr,
		tRechnungEckdaten.fOffeneMahngebuehr
FROM Rechnung.tRechnungEckdaten
GO
