USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vBuchhaltungsuebersichtRechnungPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vBuchhaltungsuebersichtRechnungPosition]
AS
(
    SELECT
        tRechnungPosition.kRechnung,
        tRechnungPosition.kRechnungPosition,
        tRechnungPosition.cArtNr,
        tRechnungPosition.cName,
        tRechnungPosition.fAnzahl,
        tRechnungPositionEckdaten.fVKBruttoGesamt,
        tRechnungPositionEckdaten.fVKNettoGesamt,
        tRechnungPosition.fMwSt,
        tRechnungPosition.fRabatt,
        tRechnungPosition.nType
    FROM Rechnung.tRechnungPosition
    JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = tRechnungPosition.kRechnungPosition
)
GO
