USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vExternerBelegTransaktionDetails]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vExternerBelegTransaktionDetails]
AS
(
    SELECT
        tExternerBelegTransaktion.kExternerBelegTransaktion,
        tExternerBelegTransaktion.kExternerBeleg,
        tExternerBelegTransaktion.nTransaktionstyp,
        tExternerBelegTransaktion.cTransaktionId,
        tExternerBelegTransaktion.cBezugstransaktionId,
        tExternerBelegTransaktion.dTransaktionsdatumUtc,
        tExternerBelegTransaktion.cExterneAuftragsnummer,
        tExternerBelegTransaktion.dExternesAuftragsdatumUtc,
        tExternerBelegTransaktion.cKundenAuftragsnummer,
        tExternerBelegTransaktion.cLAName,
        tExternerBelegTransaktion.cLAAdresse1,
        tExternerBelegTransaktion.cLAAdresse2,
        tExternerBelegTransaktion.cLAAdresse3,
        tExternerBelegTransaktion.cLAOrt,
        tExternerBelegTransaktion.cLAStaat,
        tExternerBelegTransaktion.cLAPostcode,
        tExternerBelegTransaktion.cLALandISO,
        tExternerBelegTransaktion.cLATelefon,
        tExternerBelegTransaktion.cVAOrt,
        tExternerBelegTransaktion.cVAStaat,
        tExternerBelegTransaktion.cVAPostcode,
        tExternerBelegTransaktion.cVALandISO
    FROM Rechnung.tExternerBelegTransaktion
)
GO
