USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungPositionText]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnungPositionText]
AS 
SELECT  tRechnungPositionText.kRechnungPosition, 
		tRechnungPositionText.cHinweis, 
		tRechnungPositionText.bRowversion
FROM Rechnung.tRechnungPositionText;
GO
