USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungPosition]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Rechnung].[vRechnungPosition]
AS 
SELECT	tRechnungPosition.kRechnungPosition,
		tRechnungPosition.kRechnung,
		tRechnungPosition.kAuftrag,
		tRechnungPosition.kAuftragPosition,
		tRechnungPosition.kArtikel,
		tRechnungPosition.cArtNr,
		tRechnungPosition.cName,
		tRechnungPosition.cEinheit,
		tRechnungPosition.fAnzahl,
		tRechnungPosition.fMwSt,
		tRechnungPosition.fVkNetto,
		tRechnungPosition.fRabatt,
		tRechnungPosition.nType,
		tRechnungPosition.kKonfigVaterRechnungPos,
		tRechnungPosition.kStuecklisteRechnungPos,
		tRechnungPosition.fGewicht,
		tRechnungPosition.fVersandgewicht,
		tRechnungPosition.fEkNetto,
		tRechnungPosition.nSort,
		tRechnungPosition.kSteuerschluessel,
		tRechnungPosition.kSteuerklasse,
		tRechnungPosition.bRowversion
FROM Rechnung.tRechnungPosition;
GO
