USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungLieferscheinPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungLieferscheinPosition](
	[kRechnungPosition] [int] NOT NULL,
	[kLieferscheinPosition] [int] NOT NULL,
	[fAnzahlAufRechnung] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungLieferscheinPosition] PRIMARY KEY CLUSTERED 
(
	[kRechnungPosition] ASC,
	[kLieferscheinPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungLieferscheinPosition] ADD  CONSTRAINT [DF_Rechnung_tRechnungLieferscheinPosition_fAnzahlAufRechnung]  DEFAULT ((0)) FOR [fAnzahlAufRechnung]
GO
ALTER TABLE [Rechnung].[tRechnungLieferscheinPosition]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungLieferscheinPosition_kLieferscheinPosition] FOREIGN KEY([kLieferscheinPosition])
REFERENCES [dbo].[tLieferscheinPos] ([kLieferscheinPos])
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungLieferscheinPosition] CHECK CONSTRAINT [FK_Rechnung_tRechnungLieferscheinPosition_kLieferscheinPosition]
GO
ALTER TABLE [Rechnung].[tRechnungLieferscheinPosition]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungLieferscheinPosition_kRechnungPosition] FOREIGN KEY([kRechnungPosition])
REFERENCES [Rechnung].[tRechnungPosition] ([kRechnungPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungLieferscheinPosition] CHECK CONSTRAINT [FK_Rechnung_tRechnungLieferscheinPosition_kRechnungPosition]
GO
