USE [eazybusiness]
GO
/****** Object:  View [Rechnung].[vRechnungAdresse]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- WAWI-57675 Beginn

CREATE VIEW [Rechnung].[vRechnungAdresse]
AS
(
	SELECT	tRechnungAdresse.kRechnung,
			tRechnungAdresse.kKunde,
			tRechnungAdresse.cFirma,
			tRechnungAdresse.cAnrede,
			tRechnungAdresse.cTitel,
			tRechnungAdresse.cVorname,
			tRechnungAdresse.cName,
			tRechnungAdresse.cStrasse,
			tRechnungAdresse.cPLZ,
			tRechnungAdresse.cOrt,
			tRechnungAdresse.cLand,
			tRechnungAdresse.cTel,
			tRechnungAdresse.cZusatz,
			tRechnungAdresse.cAdressZusatz,
			tRechnungAdresse.cPostID,
			tRechnungAdresse.cMobil,
			tRechnungAdresse.cMail,
			tRechnungAdresse.cFax,
			tRechnungAdresse.cBundesland,
			tRechnungAdresse.cISO,
			tRechnungAdresse.nTyp,
			tRechnung.cKundeUstId
	FROM [Rechnung].[tRechnungAdresse]
	JOIN [Rechnung].[tRechnung] ON tRechnung.kRechnung = tRechnungAdresse.kRechnung
)
GO
