USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungPosition]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungPosition](
	[kRechnungPosition] [int] IDENTITY(1,1) NOT NULL,
	[kRechnung] [int] NOT NULL,
	[kAuftrag] [int] NULL,
	[kAuftragPosition] [int] NULL,
	[kArtikel] [int] NULL,
	[cArtNr] [nvarchar](100) NULL,
	[cName] [nvarchar](255) NULL,
	[cEinheit] [nvarchar](255) NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[fVkNetto] [decimal](25, 13) NOT NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[kKonfigVaterRechnungPos] [int] NULL,
	[kStuecklisteRechnungPos] [int] NULL,
	[fGewicht] [decimal](25, 13) NULL,
	[fVersandgewicht] [decimal](25, 13) NULL,
	[fEkNetto] [decimal](25, 13) NULL,
	[nSort] [int] NOT NULL,
	[kSteuerschluessel] [int] NULL,
	[kSteuerklasse] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fWertNettoGesamtFixiert] [decimal](25, 13) NULL,
	[fWertBruttoGesamtFixiert] [decimal](25, 13) NULL,
 CONSTRAINT [PK_Rechnung_tRechnungPosition] PRIMARY KEY CLUSTERED 
(
	[kRechnungPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungPosition] ADD  CONSTRAINT [DF_Rechnung_tRechnungPosition_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [Rechnung].[tRechnungPosition]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPosition_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE SET NULL
GO
ALTER TABLE [Rechnung].[tRechnungPosition] CHECK CONSTRAINT [FK_Rechnung_tRechnungPosition_kAuftragPosition]
GO
ALTER TABLE [Rechnung].[tRechnungPosition]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPosition_kRechnung] FOREIGN KEY([kRechnung])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungPosition] CHECK CONSTRAINT [FK_Rechnung_tRechnungPosition_kRechnung]
GO
ALTER TABLE [Rechnung].[tRechnungPosition]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPosition_kSteuerklasse] FOREIGN KEY([kSteuerklasse])
REFERENCES [dbo].[tSteuerklasse] ([kSteuerklasse])
GO
ALTER TABLE [Rechnung].[tRechnungPosition] CHECK CONSTRAINT [FK_Rechnung_tRechnungPosition_kSteuerklasse]
GO
ALTER TABLE [Rechnung].[tRechnungPosition]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungPosition_kSteuerschluessel] FOREIGN KEY([kSteuerschluessel])
REFERENCES [dbo].[tSteuerschluessel] ([kSteuerschluessel])
GO
ALTER TABLE [Rechnung].[tRechnungPosition] CHECK CONSTRAINT [FK_Rechnung_tRechnungPosition_kSteuerschluessel]
GO
