USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungText]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungText](
	[kRechnung] [int] NOT NULL,
	[cRechnungstext] [nvarchar](max) NULL,
	[cAnmerkung] [nvarchar](max) NULL,
	[cHinweis] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungText] PRIMARY KEY CLUSTERED 
(
	[kRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungText]  WITH CHECK ADD  CONSTRAINT [FK_Rechnung_tRechnungText_kRechnung] FOREIGN KEY([kRechnung])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Rechnung].[tRechnungText] CHECK CONSTRAINT [FK_Rechnung_tRechnungText_kRechnung]
GO
