USE [eazybusiness]
GO
/****** Object:  Table [Rechnung].[tRechnungPositionEigenschaft]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Rechnung].[tRechnungPositionEigenschaft](
	[kRechnungPositionEigenschaft] [int] IDENTITY(1,1) NOT NULL,
	[kEigenschaftWert] [int] NULL,
	[kRechnungPosition] [int] NOT NULL,
	[kEigenschaft] [int] NULL,
	[fAufpreisNetto] [decimal](25, 13) NOT NULL,
	[fZusatzgewicht] [decimal](25, 13) NOT NULL,
	[cWert] [nvarchar](255) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Rechnung_tRechnungPositionEigenschaft] PRIMARY KEY CLUSTERED 
(
	[kRechnungPositionEigenschaft] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Rechnung].[tRechnungPositionEigenschaft] ADD  CONSTRAINT [DF_Rechnung_tRechnungPositionEigenschaft_fAufpreisNetto]  DEFAULT ((0.0)) FOR [fAufpreisNetto]
GO
ALTER TABLE [Rechnung].[tRechnungPositionEigenschaft] ADD  CONSTRAINT [DF_Rechnung_tRechnungPositionEigenschaft_fZusatzgewicht]  DEFAULT ((0.0)) FOR [fZusatzgewicht]
GO
