USE [eazybusiness]
GO
/****** Object:  View [Report].[PurchaseOrderPosition]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PurchaseOrderPosition]
AS
(
	SELECT 
		PurchaseOrderPosition.kLieferantenBestellungPos AS InternalId,
		PurchaseOrderPosition.kLieferantenBestellung AS PurchaseOrderInternalId,
		PurchaseOrderPosition.kArtikel AS ProductInternalId,
		PurchaseOrderPosition.cArtNr AS SKU,
		PurchaseOrderPosition.cLieferantenArtNr AS SKUSupplier,
		PurchaseOrderPosition.cName AS [Name],
		PurchaseOrderPosition.cLieferantenBezeichnung AS SupplierName,
		PurchaseOrderPosition.fUST AS VATRate,
		PurchaseOrderPosition.fMenge AS Quantity,
		PurchaseOrderPosition.fEKNetto AS PurchasePriceNetPerUnit,
		CAST(ROUND(CAST(PurchaseOrderPosition.fEKNetto * 
			CAST(1.0 + CAST(PurchaseOrderPosition.fUST / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)), 2) AS DECIMAL(25,13)) AS GrossPricePerUnit,
		CAST(ROUND(CAST(CAST(PurchaseOrderPosition.fMenge * PurchaseOrderPosition.fEKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(PurchaseOrderPosition.fUST / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)), 2)
			AS DECIMAL(25,13)) AS TotalGrossPrice,
		CAST(ROUND(CAST(PurchaseOrderPosition.fMenge * PurchaseOrderPosition.fEKNetto AS DECIMAL(25,13)), 2) AS DECIMAL(25,13)) AS TotalNetPrice,
		CAST(CAST(ROUND(CAST(CAST(PurchaseOrderPosition.fMenge * PurchaseOrderPosition.fEKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(PurchaseOrderPosition.fUST / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)), 2) AS DECIMAL(25,13)) - 
			CAST(ROUND(CAST(PurchaseOrderPosition.fMenge * PurchaseOrderPosition.fEKNetto AS DECIMAL(25,13)), 2) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS VATValue,
		PurchaseOrderPosition.cHinweis AS Note,
		CASE
			WHEN PurchaseOrderPosition.nPosTyp = 0
				THEN 'FreePosition'
			WHEN PurchaseOrderPosition.nPosTyp = 1
				THEN 'Item'
			WHEN PurchaseOrderPosition.nPosTyp = 2
				THEN 'ShippingPosition'
			WHEN PurchaseOrderPosition.nPosTyp = 6
				THEN 'ShippingSurcharge'
			WHEN PurchaseOrderPosition.nPosTyp = 10
				THEN 'Discount'
			WHEN PurchaseOrderPosition.nPosTyp = 11
				THEN 'MinimumQuantitySurcharge'		
		END AS PositionType,
		PurchaseOrderPosition.cNameLieferant AS NameOfSupplier,
		PurchaseOrderPosition.nLiefertage AS DeliveryDays,
		DeliveryNotePosition.kLieferscheinPos AS DeliveryNotePositionInternalId,
		PurchaseOrderPosition.fMengeGeliefert AS DeliveredQuantity,
		PurchaseOrderPosition.fAnzahlOffen AS OpenQuantity
	FROM dbo.tLieferantenBestellungPos AS PurchaseOrderPosition
	LEFT JOIN dbo.tLieferscheinPos AS DeliveryNotePosition ON DeliveryNotePosition.kLieferscheinPos = PurchaseOrderPosition.kLieferscheinPos
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Lieferantenbestellungsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.PurchaseOrder.InternalId" name="PurchaseOrder" DisplayName="PurchaseOrder">
  <reverse name="PurchaseOrderPosition" DisplayName="PurchaseOrderPosition" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'PurchaseOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.PurchaseOrder.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'PurchaseOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'PurchaseOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Product.InternalId" name="Product" DisplayName="Product" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'SKU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Artikelnummer des Lieferanten in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'SKUSupplier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bezeichnung der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bezeichnung des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'SupplierName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'VATRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anzahl pro Position (Menge?)' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzel-Nettopreis des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'PurchasePriceNetPerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzel-Bruttopreis des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'GrossPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamt-Bruttopreis des Artikel über die Anzahl in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamt-Nettopreis des Artikel über die Anzahl in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt.-Betrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'VATValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis zur Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'PositionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'NameOfSupplier'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anzahl der Liefertage' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'DeliveryDays'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.DeliveryNotePosition.InternalId" name="DeliveryNotePosition" DisplayName="DeliveryNotePosition" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'DeliveryNotePositionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.DeliveryNotePosition.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'DeliveryNotePositionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Id der Lieferscheinposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'DeliveryNotePositionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Menge der gelieferten Artikel pro Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'DeliveredQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anzahl noch ausstehender Artikel pro Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition', @level2type=N'COLUMN',@level2name=N'OpenQuantity'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderPosition'
GO
