USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesQuotationPositionBillOfMaterials]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesQuotationPositionBillOfMaterials]
AS
(
	SELECT 
		SalesQuotationPosition.kAuftragPosition AS InternalId,
		SalesQuotationPosition.kAuftragStueckliste AS BillOfMaterialsPositionParentId, 
		SalesQuotation.kAuftrag AS SalesQuotationInternalId,
		SalesQuotationPosition.cArtNr AS SKU,
		SalesQuotationPosition.cName AS [Name], 
		SalesQuotationPosition.cEinheit AS Unit,
		SalesQuotationPosition.cHinweis AS Note,
		ifItemDescription.Name AS ItemName, 
		ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
		ifItemDescription.DescriptionBrief AS ItemDescriptionBrief,
		SalesQuotationPosition.fAnzahl AS Quantity,		
		CASE
			WHEN SalesQuotationPosition.nType = 1 THEN 'Item'
			WHEN SalesQuotationPosition.nType = 2 THEN 'ShippingPosition'
			WHEN SalesQuotationPosition.nType = 3 THEN 'Coupon'
			WHEN SalesQuotationPosition.nType = 4 THEN 'Voucher'
			WHEN SalesQuotationPosition.nType = 5 THEN 'PaymentMethod'
			WHEN SalesQuotationPosition.nType = 6 THEN 'ShippingSurcharge'
			WHEN SalesQuotationPosition.nType = 7 THEN 'NewCustomersCoupon'
			WHEN SalesQuotationPosition.nType = 8 THEN 'CODCharge'
			WHEN SalesQuotationPosition.nType = 9 THEN 'ItemShippingSurcharge'
			WHEN SalesQuotationPosition.nType = 10 THEN 'Packaging'
			WHEN SalesQuotationPosition.nType = 11 THEN 'GiftForFree'
			WHEN SalesQuotationPosition.nType = 12 THEN 'TrustedShopsFee'
			WHEN SalesQuotationPosition.nType = 13 THEN 'TaxSurcharge'
			WHEN SalesQuotationPosition.nType = 14 THEN 'ProcessingFee'
			WHEN SalesQuotationPosition.nType = 15 THEN 'Cardboard'
			WHEN SalesQuotationPosition.nType = 16 THEN 'Return'
			WHEN SalesQuotationPosition.nType = 17 THEN 'MultiPurposeVoucher'
			WHEN SalesQuotationPosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
			WHEN SalesQuotationPosition.nType = 19 THEN 'SinglePurposeVoucher'
			WHEN SalesQuotationPosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
			WHEN SalesQuotationPosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
			ELSE ''
		END AS PositionType,
		SalesQuotationPosition.nSort AS Sorting,		
		CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
		CAST(SalesQuotationPosition.fAnzahl * CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS TotalWeight,
		CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualShippingWeight,
		CAST(SalesQuotationPosition.fAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS TotalShippingWeight,
		Product.kArtikel AS ProductInternalId,
		Condition.cName AS Condition
	FROM Verkauf.vAuftrag AS SalesQuotation
	JOIN Verkauf.vAuftragPosition AS SalesQuotationPosition ON SalesQuotationPosition.kAuftrag = SalesQuotation.kAuftrag
	LEFT JOIN Verkauf.vAuftragPosition AS ParentOrderPosition ON ParentOrderPosition.kAuftragPosition = SalesQuotationPosition.kAuftragStueckliste
	LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
	LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
			AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut 
	LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut 
			AND ItemAttributeLanguage.kSprache = 0
	LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = SalesQuotationPosition.kArtikel
	LEFT JOIN Verkauf.vAuftragPosition AS ConfiguratorItem ON ConfiguratorItem.kKonfigVater = SalesQuotationPosition.kKonfigVater 
			AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVater IS NOT NULL AND ConfiguratorItem.kKonfigVater != 0
			AND ConfiguratorItem.kAuftrag = SalesQuotation.kAuftrag
	LEFT JOIN 
	(
		SELECT tAuftragPositionEigenschaft.kAuftragPosition AS kBestellPos, 
			CAST(SUM(tAuftragPositionEigenschaft.fZusatzgewicht) AS DECIMAL(25,13)) AS GewichtSumme
		FROM Verkauf.tAuftragPositionEigenschaft
		GROUP BY tAuftragPositionEigenschaft.kAuftragPosition
	) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kBestellPos = SalesQuotationPosition.kAuftragPosition
	LEFT JOIN dbo.pf_amazon_bestellungpos AS AmazonSalesQuotationPosition 
		ON AmazonSalesQuotationPosition.kAmazonBestellungPos = SalesQuotationPosition.kAmazonBestellungPos
	OUTER APPLY Report.ifItemDescription(SalesQuotationPosition.kArtikel, [SalesQuotation].kSprache, [SalesQuotation].kPlattform, [SalesQuotation].kShop)
	LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
		AND Condition.kSprache = SalesQuotation.kSprache
	WHERE SalesQuotationPosition.nType != 15 AND --Karton
		CASE
			WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = '' 
					AND SalesQuotationPosition.kAuftragStueckliste != SalesQuotationPosition.kAuftragPosition 
					AND SalesQuotationPosition.kAuftragStueckliste != 0
				THEN 1
			WHEN SalesQuotationPosition.kAuftragStueckliste != SalesQuotationPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
				THEN 0
			WHEN SalesQuotationPosition.kAuftragStueckliste = SalesQuotationPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten' 
				THEN 0
			ELSE 0
		END = 1
)
GO
