USE [eazybusiness]
GO
/****** Object:  View [Report].[Parcels]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Parcels]
AS
(
	SELECT 
		Parcels.kVersand AS InternalId,
		Parcels.kLieferschein AS DeliveryNoteInternalId,
		Parcels.cIdentCode AS IdentCode,
		Parcels.dErstellt AS CreationDate,
		Parcels.cHinweis AS Note,
		Parcels.fGewicht AS [Weight],
		Parcels.cLogistiker AS ShippingServiceProviderName,
		Parcels.dVersendet AS ShippingDate,
		Parcels.cShipmentId AS ShipmentReference,
		Parcels.cReference AS CustomerReference,
		REPLACE(
			REPLACE(
				REPLACE(		
					REPLACE(
						REPLACE(ShippingSpecies.cTrackingUrlTemplate,'#IdentCode#', Parcels.cIdentCode)
					,'#PLZ#', DeliveryAdress.cPLZ)
				,'#Tag#', CASE WHEN Parcels.dVersendet IS NULL THEN '#Tag#' ELSE CAST(DATEPART(dd, Parcels.dVersendet) AS NVARCHAR(2)) END)
			,'#Monat#', CASE WHEN Parcels.dVersendet IS NULL THEN '#Monat#' ELSE CAST(DATEPART(mm, Parcels.dVersendet) AS NVARCHAR(2)) END)
		,'#Jahr#', CASE WHEN Parcels.dVersendet IS NULL THEN '#Jahr#' ELSE CAST(DATEPART(yy, Parcels.dVersendet) AS NVARCHAR(4)) END
		) AS TrackingURL,
		CASE
			WHEN ShippingSpecies.nVersandSchnittstelle > 1 THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsShippingParcel,
		Parcels.kVersandArt AS ShippingMethodInternalId
	FROM dbo.tversand AS Parcels
	LEFT JOIN dbo.tVersandart AS ShippingSpecies ON ShippingSpecies.kVersandart = Parcels.kVersandart
	LEFT JOIN dbo.tLieferschein AS DeliveryNote ON DeliveryNote.kLieferschein = Parcels.kLieferschein
	LEFT JOIN Verkauf.vAuftrag AS [Order] ON [Order].kAuftrag = DeliveryNote.kBestellung
	LEFT JOIN Verkauf.vAuftragAdresse AS DeliveryAdress ON DeliveryAdress.kAuftrag = [Order].kAuftrag AND DeliveryAdress.nTyp = 0
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Pakets' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.DeliveryNote.InternalId" type="reverseOnly" name="DeliveryNote" DisplayName="DeliveryNote">
  <reverse name="Parcels" type="reverseOnly" DisplayName="Parcels" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.DeliveryNote.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Lieferscheins' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IdentCode des Pakets' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'IdentCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstelldatum des Pakets' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis zum Paket' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gewicht des Pakets' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'Weight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name des Logistikers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'ShippingServiceProviderName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum des Versands des Pakets' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'ShippingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sendungsreferenz' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'ShipmentReference'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kundenreferenz' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'CustomerReference'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tracking-URL' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'TrackingURL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob es sich um ein Shippingpaket handelt' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'IsShippingParcel'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.ShippingMethod.InternalId" name="ShippingMethod" DisplayName="ShippingMethod" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.ShippingMethod.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Versandart des Pakets' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Parcels'
GO
