USE [eazybusiness]
GO
/****** Object:  View [Report].[InventoryDifferenceListPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InventoryDifferenceListPosition]
AS
(
	SELECT 
		ISNULL(Item.cArtNr, '') AS SKU,
		ISNULL(Item.kArtikel, 0) AS ItemInternalId,
		ISNULL(ItemDescription.cName, '') AS ItemDescription,
		ISNULL(Item.cBarcode, '') AS ItemBarCode,
		ISNULL(Item.cASIN, '') AS [ASIN],
		ISNULL(Item.nCharge, 0) AS IsBatchItem,
		ISNULL(Item.nMHD, 0) AS IsSLEDItem,
		CASE
			WHEN ISNULL(Item.cLagerArtikel, 'N') = 'Y' THEN 1
			ELSE 0
		END AS IsSerialNumberItem,
		CAST(ROUND(CAST(SUM(ISNULL(ItemHistory.fAnzahl, 0.0)) AS DECIMAL(25,13)), 4) AS DECIMAL(25,13)) AS Quantity,
		MIN(ISNULL(ItemHistory.dGebucht, GETDATE())) AS FromDate,
		MAX(ISNULL(ItemHistory.dGebucht, GETDATE())) AS ToDate,
		MAX(ISNULL([User].cName, '')) AS UserName,
		MAX(ISNULL([User].kBenutzer, 0)) AS UserInternalId,
		CAST(ROUND(ISNULL(Item.fEKNetto, 0.0), 2) AS DECIMAL(25,13)) AS PurchasePriceNetPerSalesUnit,
		CAST(ROUND(CAST(ISNULL(Item.fEKNetto, 0.0) * CAST(SUM(ISNULL(ItemHistory.fAnzahl, 0.0)) AS DECIMAL(25,13))
			AS DECIMAL(25,13)), 2) AS DECIMAL(25,13)) AS TotalPurchasePriceNet
	FROM tArtikelHistory AS ItemHistory
	LEFT JOIN eazybusiness.dbo.tbenutzer AS [User] ON ItemHistory.kBenutzer = [User].kBenutzer
	JOIN dbo.tArtikel AS Item ON Item.kArtikel = ItemHistory.kArtikel
	JOIN dbo.tSpracheUsed AS LanguageUsed ON LanguageUsed.nStandard = 1
	JOIN dbo.tArtikelBeschreibung AS ItemDescription
		ON ItemDescription.kArtikel = Item.kArtikel 
			AND ItemDescription.kSprache = LanguageUsed.kSprache 
			AND ItemDescription.kPlattform = 1 
	WHERE ItemHistory.kBuchungsart = 100
	GROUP BY ISNULL(Item.cArtNr, ''),
		ISNULL(Item.kArtikel, 0),
		ISNULL(ItemDescription.cName, ''),
		ISNULL(Item.cBarcode, ''),
		ISNULL(Item.cASIN, ''),
		ISNULL(Item.nCharge, 0),
		ISNULL(Item.nMHD, 0),
		CASE
			WHEN ISNULL(Item.cLagerArtikel, 'N') = 'Y' THEN 1
			ELSE 0
		END,
		ISNULL(Item.fEKNetto, 0.0)
	HAVING SUM(ISNULL(ItemHistory.fAnzahl, 0.0)) != 0.0
)
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InventoryDifferenceListPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InventoryDifferenceListPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InventoryDifferenceListPosition'
GO
