USE [eazybusiness]
GO
/****** Object:  View [Report].[CustomerGroup]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[CustomerGroup]
AS
(
	SELECT
		tKundenGruppe.kKundenGruppe AS InternalId,
		tKundenGruppe.cName AS [Name],
		tKundenGruppe.fRabatt AS DiscountInPercent
	FROM dbo.tKundenGruppe
)
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerGroup'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerGroup'
GO
