USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesOrderPayments]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesOrderPayments]
AS
(
	SELECT 
		OrderPayment.kZahlung AS InternalId,
		OrderPayment.kBestellung AS SalesOrderInternalId,
		OrderPayment.cExternalTransactionId AS ExternalTransactionId,
		OrderPayment.cHinweis AS Note,
		OrderPayment.cName AS [Name],
		OrderPayment.fBetrag AS [Value],
		OrderPayment.dDatum AS PaymentDate,
		CASE
			WHEN OrderPayment.nZahlungstyp = 0
				THEN 'Payment'
			WHEN OrderPayment.nZahlungstyp = 1
				THEN 'Dunning'
			WHEN OrderPayment.nZahlungstyp = 2
				THEN 'CashDiscount'
			WHEN OrderPayment.nZahlungstyp = 3
				THEN 'Voucher'
			ELSE ''
		END AS PaymentType,
		CASE WHEN ISNULL(PaymentMethodsLanguage.cName, '') = '' THEN
			 CASE WHEN ISNULL(PaymentMethodsLanguageStandard.cName, '') = '' THEN OrderPayment.cName
				ELSE PaymentMethodsLanguageStandard.cName
			 END
		  ELSE PaymentMethodsLanguage.cName			
		END AS PaymentMethod,
		OrderPayment.cSKRManuell AS StandardChartOfAccountsManual
	FROM dbo.tZahlung AS OrderPayment
	LEFT JOIN dbo.tZahlungsart AS PaymentMethods ON PaymentMethods.kZahlungsart = OrderPayment.kZahlungsart
	LEFT JOIN Verkauf.vAuftrag AS SalesOrder ON SalesOrder.kAuftrag = OrderPayment.kBestellung
	LEFT JOIN dbo.tZahlungsArtSprache AS PaymentMethodsLanguage ON PaymentMethodsLanguage.kZahlungsart = PaymentMethods.kZahlungsart
		AND PaymentMethodsLanguage.kSprache = SalesOrder.kSprache	
	LEFT JOIN dbo.tZahlungsArt AS PaymentMethodsLanguageStandard ON PaymentMethodsLanguageStandard.kZahlungsart = PaymentMethods.kZahlungsart
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Zahlung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesOrder.InternalId" type="reverseOnly" name="SalesOrder" DisplayName="SalesOrder">
  <reverse name="SalesOrderPayments" type="reverseOnly" DisplayName="SalesOrderPayments" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.SalesOrder.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Transaktions-ID' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'ExternalTransactionId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis zur Zahlung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name der Zahlung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Betrag der Zahlung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zahlungsdatum' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'PaymentDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt den Typ der Zahlung an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'PaymentType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name der Zahlungsart' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'PaymentMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Standardkontenrahmen DATEV-Kontenrahmen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments', @level2type=N'COLUMN',@level2name=N'StandardChartOfAccountsManual'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPayments'
GO
