USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoiceCorrectionPositionDeliveryDetails]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoiceCorrectionPositionDeliveryDetails]
AS
(
	SELECT
		InvoiceCorrectionPosition.kGutschriftPos AS InvoiceCorrectionPositionInternalId,
		SUM(LS.Quantity) AS Quantity,
		LS.BatchNumber AS BatchNumber,
		LS.BestBeforeDate AS BestBeforeDate,
		LS.SerialNumber AS SerialNumber
	FROM Report.DeliveryNotePositionDeliveryDetails AS LS
	JOIN dbo.tLieferscheinPos ON tLieferscheinPos.kLieferscheinPos = LS.DeliveryNotePositionInternalId
	JOIN dbo.tGutschriftPos AS InvoiceCorrectionPosition ON InvoiceCorrectionPosition.kBestellPos = tLieferscheinPos.kBestellPos
	GROUP BY 
		InvoiceCorrectionPosition.kGutschriftPos, 
		tLieferscheinPos.kLieferschein, 
		LS.DeliveryNotePositionInternalId, 
		LS.BatchNumber, 
		LS.BestBeforeDate, 
		LS.SerialNumber
)
GO
