USE [eazybusiness]
GO
/****** Object:  View [Report].[DeliveryNoteFBABarcode]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[DeliveryNoteFBABarcode]
AS
WITH vAmazonLieferscheinPosBarcodeInformation AS 
(
    SELECT
        tLieferscheinPos.kLieferschein,
        tAuftragPosition.kAuftrag,
        vAuftrag.cExterneAuftragsnummer AS cInetBestellNr,
        CASE WHEN ISNULL(tAuftragPosition.cFNSKU, '') != ''
        THEN 'FNSKU:' + tAuftragPosition.cFNSKU
        WHEN ISNULL(AmazonAngebot.cASIN1, '') != ''
        THEN 'ASIN:' + AmazonAngebot.cASIN1
        WHEN ISNULL(tArtikel.cUPC, '') != ''
        THEN 'UPC:' + tArtikel.cUPC
        WHEN ISNULL(tArtikel.cBarcode, '') != ''
        THEN 'EAN:' + tArtikel.cBarcode
        WHEN ISNULL(tArtikel.cISBN, '') != ''
        THEN 'ISBN:' + tArtikel.cISBN
        ELSE NULL
        END AS cItemID,
        tLieferscheinPos.fAnzahl,
        tWarenLagerEingang.dMHD
    FROM dbo.tLieferscheinPos
    JOIN Verkauf.tAuftragPosition ON tLieferscheinPos.kBestellPos = tAuftragPosition.kAuftragPosition
    JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = tAuftragPosition.kAuftrag
    JOIN dbo.tArtikel ON tAuftragPosition.kArtikel = tArtikel.kArtikel
    JOIN dbo.tUmlagerungPos ON tUmlagerungPos.kAuftragPosition = tAuftragPosition.kAuftragPosition
    JOIN dbo.tUmlagerung ON tUmlagerung.kUmlagerung = tUmlagerungPos.kUmlagerung
    JOIN dbo.tWarenLager ON tWarenLager.kWarenLager = tUmlagerung.kZielLager
    OUTER APPLY
    (
        SELECT TOP 1
            pf_amazon_angebot.cASIN1
        FROM dbo.pf_amazon_angebot
        WHERE pf_amazon_angebot.cSellerSKU = tUmlagerungPos.cSellerSku
            AND pf_amazon_angebot.kUser = tWarenLager.kUser
    ) AmazonAngebot
    LEFT JOIN dbo.tWarenLagerAusgang ON dbo.tWarenLagerAusgang.kLieferscheinPos = dbo.tLieferscheinPos.kLieferscheinPos
    LEFT JOIN dbo.tWarenLagerEingang ON dbo.tWarenLagerEingang.kWarenLagerEingang = dbo.tWarenLagerAusgang.kWarenLagerEingang
    WHERE ISNULL(vAuftrag.cExterneAuftragsnummer, '') != ''
)
SELECT vAmazonLieferscheinPosBarcodeInformation.kLieferschein AS DeliveryNoteInternalId, 
	   -- Barcode nur in Großbuchstaben darstellen und führende und nachfolgende ',' entfernen
	   UPPER(REPLACE(LTRIM(RTRIM(REPLACE(
	   ('AMZN,PO:' + vAmazonLieferscheinPosBarcodeInformation.cInetBestellNr + ',' + 
		   CONVERT(NVARCHAR(MAX), (
		      -- Produkt Code (ItemID: ASIN, UPC, EAN, ISBN, FNSKU) mit Menge (QTY) und Mindesthaltbarkeisdatum (EXP) zusammenstringen
       		  SELECT innerBarcodeInformation.cItemID + ',' + 
					 -- nachführende '0' in der Menge entfernen und sofern nötig auch '.'
					 'QTY:' + REPLACE(LTRIM(RTRIM(REPLACE(REPLACE(LTRIM(RTRIM(REPLACE(CONVERT(NVARCHAR(MAX), innerBarcodeInformation.fAnzahl), '0', ' '))), ' ', '0'), '.', ' '))), ' ', '.') + 
					 -- MHD nur dann hinzufügen, wenn auch vorhanden
					 CASE WHEN innerBarcodeInformation.dMHD IS NOT NULL 
						  THEN 'EXP:' + CONVERT(NVARCHAR(MAX), innerBarcodeInformation.dMHD, 12) 
						  ELSE ''
					 END + ','
       		  FROM vAmazonLieferscheinPosBarcodeInformation innerBarcodeInformation
       		  WHERE innerBarcodeInformation.kLieferschein = vAmazonLieferscheinPosBarcodeInformation.kLieferschein AND ISNULL(innerBarcodeInformation.cItemID, '') != ''
       		  FOR XML PATH(N''), TYPE
		   ))
		) , ',', ' '))), ' ', ',')) AS FBABarcode
FROM vAmazonLieferscheinPosBarcodeInformation
WHERE ISNULL(vAmazonLieferscheinPosBarcodeInformation.cItemID, '') != ''
GROUP BY vAmazonLieferscheinPosBarcodeInformation.kLieferschein, vAmazonLieferscheinPosBarcodeInformation.cInetBestellNr
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.DeliveryNote.InternalId" type="reverseOnly" style="1to1" name="DeliveryNote" DisplayName="DeliveryNote">
  <reverse name="DeliveryNoteFBABarcode" DisplayName="DeliveryNoteFBABarcode" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNoteFBABarcode', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNoteFBABarcode'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNoteFBABarcode'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNoteFBABarcode'
GO
