USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoiceCorrectionPositionBillOfMaterials]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoiceCorrectionPositionBillOfMaterials]
AS
    (
    SELECT
    InvoiceCorrectionPosition.kGutschriftPos AS InternalId,
    InvoiceCorrectionPosition.kGutschriftStueckliste AS BillOfMaterialsPositionParentId,
    InvoiceCorrectionPosition.tGutschrift_kGutschrift AS InvoiceCorrectionInternalId,
    InvoiceCorrectionPosition.cArtNr AS SKU,
    InvoiceCorrectionPosition.cString AS [Name],
    vRechnungPosition.cEinheit AS Unit,
    vRechnungPositionText.cHinweis AS Note,
    ifItemDescription.Name AS ItemName,
    ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
    ifItemDescription.DescriptionBrief AS ItemDescriptionBrief,
    InvoiceCorrectionPosition.nAnzahl AS Quantity,
    CASE
    WHEN vRechnungPosition.nType = 1 THEN 'Item'
    WHEN vRechnungPosition.nType = 2 THEN 'ShippingPosition'
    WHEN vRechnungPosition.nType = 3 THEN 'Coupon'
    WHEN vRechnungPosition.nType = 4 THEN 'Voucher'
    WHEN vRechnungPosition.nType = 5 THEN 'PaymentMethod'
    WHEN vRechnungPosition.nType = 6 THEN 'ShippingSurcharge'
    WHEN vRechnungPosition.nType = 7 THEN 'NewCustomersCoupon'
    WHEN vRechnungPosition.nType = 8 THEN 'CODCharge'
    WHEN vRechnungPosition.nType = 9 THEN 'ItemShippingSurcharge'
    WHEN vRechnungPosition.nType = 10 THEN 'Packaging'
    WHEN vRechnungPosition.nType = 11 THEN 'GiftForFree'
    WHEN vRechnungPosition.nType = 12 THEN 'TrustedShopsFee'
    WHEN vRechnungPosition.nType = 13 THEN 'TaxSurcharge'
    WHEN vRechnungPosition.nType = 14 THEN 'ProcessingFee'
    WHEN vRechnungPosition.nType = 15 THEN 'Cardboard'
    WHEN vRechnungPosition.nType = 16 THEN 'Return'
    WHEN vRechnungPosition.nType = 17 THEN 'MultiPurposeVoucher'
    WHEN vRechnungPosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
    WHEN vRechnungPosition.nType = 19 THEN 'SinglePurposeVoucher'
    WHEN vRechnungPosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
    WHEN vRechnungPosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
    ELSE ''
    END AS PositionType,
    CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
    CAST(InvoiceCorrectionPosition.nAnzahl *
    CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS TotalWeight,
    CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13))AS IndividualShippingWeight,
    CAST(InvoiceCorrectionPosition.nAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13))
AS DECIMAL(25,13)) AS TotalShippingWeight,
    vRechnungPosition.nSort AS Sorting,
    Product.kArtikel AS ProductInternalId,
    Condition.cName AS Condition
    FROM dbo.tGutschriftPos AS InvoiceCorrectionPosition
    JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = InvoiceCorrectionPosition.tGutschrift_kGutschrift
    LEFT JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = InvoiceCorrectionPosition.kBestellPos
    LEFT JOIN Rechnung.vRechnungPosition ON vRechnungPosition.kAuftragPosition = vAuftragPosition.kAuftragPosition AND vRechnungPosition.kRechnung = tgutschrift.kRechnung
    LEFT JOIN Rechnung.vRechnungPositionText ON vRechnungPositionText.kRechnungPosition = vRechnungPosition.kRechnungPosition
    LEFT JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = vRechnungPosition.kRechnungPosition
    LEFT JOIN Rechnung.vRechnungPosition AS ParentOrderPosition ON ParentOrderPosition.kRechnungPosition = vRechnungPosition.kStuecklisteRechnungPos
    LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
    LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
    AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut
    LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut
    AND ItemAttributeLanguage.kSprache = 0
    LEFT JOIN Rechnung.vRechnung ON vRechnung.kRechnung = vRechnungPosition.kRechnung
    LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = InvoiceCorrectionPosition.tArtikel_kArtikel
    LEFT JOIN
    (
    SELECT tRechnungPositionEigenschaft.kRechnungPosition AS kRechnungPosition,
    CAST(SUM(ISNULL(tRechnungPositionEigenschaft.fZusatzgewicht, 0.0)) AS DECIMAL(25,13)) AS GewichtSumme
    FROM Rechnung.tRechnungPositionEigenschaft
    GROUP BY tRechnungPositionEigenschaft.kRechnungPosition
) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kRechnungPosition = vRechnungPosition.kRechnungPosition
    LEFT JOIN (SELECT DISTINCT vRechnungPosition.kRechnung, vAuftrag.kPlattform, vAuftrag.kShop
    FROM Rechnung.vRechnungPosition
    JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vRechnungPosition.kAuftrag) Auftrag ON Auftrag.kRechnung = vRechnung.kRechnung
    LEFT JOIN (SELECT DISTINCT vRechnungPosition.kRechnungPosition, vRechnungPosition.kKonfigVaterRechnungPos, vRechnungPosition.kRechnung, vAuftragPosition.kKonfigitem
    FROM Rechnung.vRechnungPosition
    JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = vRechnungPosition.kAuftragPosition) AS ConfiguratorItem
    ON ConfiguratorItem.kKonfigVaterRechnungPos = vRechnungPosition.kKonfigVaterRechnungPos
    AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVaterRechnungPos IS NOT NULL AND ConfiguratorItem.kKonfigVaterRechnungPos != 0
    AND ConfiguratorItem.kRechnung = vRechnung.kRechnung
    OUTER APPLY Report.ifItemDescription(InvoiceCorrectionPosition.tArtikel_kArtikel, tgutschrift.kSprache, ISNULL(Auftrag.kPlattform, 1), ISNULL(Auftrag.kShop, 0))
    LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
    AND Condition.kSprache = tgutschrift.kSprache
    WHERE CASE
    WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = ''
    AND InvoiceCorrectionPosition.kGutschriftStueckliste != InvoiceCorrectionPosition.kGutschriftPos
    AND InvoiceCorrectionPosition.kGutschriftStueckliste != 0
    THEN 1
    WHEN InvoiceCorrectionPosition.kGutschriftStueckliste != InvoiceCorrectionPosition.kGutschriftPos
    AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
    THEN 0
    WHEN InvoiceCorrectionPosition.kGutschriftStueckliste = InvoiceCorrectionPosition.kGutschriftPos
    AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten'
    THEN 0
    ELSE 0
    END = 1
)
GO
