USE [eazybusiness]
GO
/****** Object:  Table [Report].[tVorlage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Report].[tVorlage](
	[kVorlage] [int] IDENTITY(1,1) NOT NULL,
	[bItemId] [uniqueidentifier] NOT NULL,
	[nVorlagentyp] [int] NOT NULL,
	[cTyp] [nvarchar](64) NOT NULL,
	[kVorlagenset] [int] NULL,
	[cName] [nvarchar](255) NOT NULL,
	[kFirma] [int] NULL,
	[kSprache] [int] NULL,
	[kKundengruppe] [int] NULL,
	[kLieferant] [int] NULL,
	[kWarenlager] [int] NULL,
	[kPlattform] [int] NULL,
	[cMahnstufe] [nvarchar](64) NULL,
	[cDescriptor] [nvarchar](max) NOT NULL,
	[dLastModification] [datetime] NULL,
	[bParentItemId] [uniqueidentifier] NULL,
	[bOriginItemId] [uniqueidentifier] NULL,
	[cOriginVersion] [nvarchar](32) NULL,
	[cOriginDescription] [nvarchar](128) NULL,
	[dOriginLastModification] [datetime] NULL,
	[bDaten] [varbinary](max) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nVorlagensettypId] [int] NULL,
	[kVersandart] [int] NULL,
 CONSTRAINT [PK_Report_tVorlage] PRIMARY KEY CLUSTERED 
(
	[kVorlage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Report_tVorlage_bItemId] UNIQUE NONCLUSTERED 
(
	[bItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Report].[tVorlage]  WITH CHECK ADD  CONSTRAINT [FK_Report_tVorlage_kVorlagenset] FOREIGN KEY([kVorlagenset])
REFERENCES [Report].[tVorlagenset] ([kVorlagenset])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Report].[tVorlage] CHECK CONSTRAINT [FK_Report_tVorlage_kVorlagenset]
GO
