USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesOrderPosition]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesOrderPosition]
AS
(
	SELECT 
		SalesOrderPosition.kAuftragPosition AS InternalId,
		[SalesOrder].kAuftrag AS SalesOrderInternalId,
		SalesOrderPosition.cArtNr AS SKU,
		SalesOrderPosition.cName AS [Name], 
		SalesOrderPosition.cEinheit AS Unit,
		SalesOrderPosition.cHinweis AS Note,
		ifItemDescription.Name AS ItemName, 
		ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
		ifItemDescription.DescriptionBrief AS ItemDescriptionBrief,
		SalesOrderPosition.fAnzahl AS Quantity,
		SalesOrderPosition.fMwSt AS VATRate,
		SalesOrderPosition.fEKNetto AS PurchasePriceNet,
		CAST(SalesOrderPosition.fVKNetto * (CAST(1.0 + CAST(SalesOrderPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13))) 
			AS DECIMAL(25,13)) AS GrossPricePerUnit,
		SalesOrderPosition.fVKNetto AS NetPricePerUnit,
		ISNULL(SalesOrderPosition.fWertBruttoGesamtFixiert, CAST(CAST(CAST(CAST(SalesOrderPosition.fAnzahl * SalesOrderPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesOrderPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(SalesOrderPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13))
			AS DECIMAL(25,13))) AS TotalGrossPrice,
		ISNULL(SalesOrderPosition.fWertNettoGesamtFixiert, CAST(CAST(CAST(SalesOrderPosition.fAnzahl * SalesOrderPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesOrderPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13))
			AS DECIMAL(25,13))) AS TotalNetPrice,
		ISNULL(SalesOrderPosition.fWertBruttoGesamtFixiert - SalesOrderPosition.fWertNettoGesamtFixiert, 
			CAST(CAST(CAST(CAST(CAST(SalesOrderPosition.fAnzahl * SalesOrderPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesOrderPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(SalesOrderPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13))
			AS DECIMAL(25,13)) -
			CAST(CAST(CAST(SalesOrderPosition.fAnzahl * SalesOrderPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesOrderPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13))
			AS DECIMAL(25,13)) AS DECIMAL(25,13))) AS VATValue,
		CAST(CAST(CAST(SalesOrderPosition.fAnzahl * SalesOrderPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(SalesOrderPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) - 
			CAST(CAST(SalesOrderPosition.fAnzahl * SalesOrderPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(SalesOrderPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesOrderPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS DiscountValue,
		SalesOrderPosition.fRabatt AS DiscountRate,
		CASE
			WHEN SalesOrderPosition.nType = 1 THEN 'Item'
			WHEN SalesOrderPosition.nType = 2 THEN 'ShippingPosition'
			WHEN SalesOrderPosition.nType = 3 THEN 'Coupon'
			WHEN SalesOrderPosition.nType = 4 THEN 'Voucher'
			WHEN SalesOrderPosition.nType = 5 THEN 'PaymentMethod'
			WHEN SalesOrderPosition.nType = 6 THEN 'ShippingSurcharge'
			WHEN SalesOrderPosition.nType = 7 THEN 'NewCustomersCoupon'
			WHEN SalesOrderPosition.nType = 8 THEN 'CODCharge'
			WHEN SalesOrderPosition.nType = 9 THEN 'ItemShippingSurcharge'
			WHEN SalesOrderPosition.nType = 10 THEN 'Packaging'
			WHEN SalesOrderPosition.nType = 11 THEN 'GiftForFree'
			WHEN SalesOrderPosition.nType = 12 THEN 'TrustedShopsFee'
			WHEN SalesOrderPosition.nType = 13 THEN 'TaxSurcharge'
			WHEN SalesOrderPosition.nType = 14 THEN 'ProcessingFee'
			WHEN SalesOrderPosition.nType = 15 THEN 'Cardboard'
			WHEN SalesOrderPosition.nType = 16 THEN 'Return'
			WHEN SalesOrderPosition.nType = 17 THEN 'MultiPurposeVoucher'
			WHEN SalesOrderPosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
			WHEN SalesOrderPosition.nType = 19 THEN 'SinglePurposeVoucher'
			WHEN SalesOrderPosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
			WHEN SalesOrderPosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
			ELSE ''
		END AS PositionType,
		Product.cBarcode AS EAN,
		SalesOrderPosition.nSort AS Sorting,
		CASE
			WHEN SalesOrderPosition.kKonfigVater IS NOT NULL AND SalesOrderPosition.kKonfigVater != 0 AND SalesOrderPosition.kKonfigitem != 0 
				THEN 'Component'
			WHEN SalesOrderPosition.kKonfigVater IS NOT NULL AND SalesOrderPosition.kKonfigVater != 0 AND SalesOrderPosition.kKonfigitem = 0
				THEN 'Father'
			ELSE 'None'
		END AS ConfiguratorPosition,
		CASE
			WHEN ISNULL(SalesOrderPosition.kAuftragStueckliste, 0) > 0 AND ISNULL(SalesOrderPosition.kAuftragStueckliste, 0) = SalesOrderPosition.kAuftragPosition
				THEN 'Father'
			WHEN ISNULL(SalesOrderPosition.kAuftragStueckliste, 0) > 0 AND ISNULL(SalesOrderPosition.kAuftragStueckliste, 0) <> SalesOrderPosition.kAuftragPosition
				THEN 'Component'
			ELSE 'None'
		END AS BillOfMaterialsPosition,
		SalesOrderPosition.kAuftragStueckliste AS BillOfMaterialsPositionParentId,
		ISNULL(ConfiguratorItem.kAuftragPosition, 0) AS ConfiguratorPositionParentId,
		SalesOrderPosition.kKonfigitem AS ConfigurationItemInternalId,
		CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
		CAST(SalesOrderPosition.fAnzahl * CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS TotalWeight,
		CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualShippingWeight,
		CAST(SalesOrderPosition.fAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS TotalShippingWeight,
		Product.kArtikel AS ProductInternalId,
		AmazonSalesOrderPosition.nCustom AS IsAmazonCustomPosition,
		AmazonSalesOrderPosition.cCustomJson AS AmazonCustomJSON,
		Condition.cName AS Condition
	FROM Verkauf.vAuftrag AS SalesOrder
	JOIN Verkauf.vAuftragPosition AS SalesOrderPosition ON SalesOrderPosition.kAuftrag = SalesOrder.kAuftrag
	LEFT JOIN Verkauf.vAuftragPosition AS ParentOrderPosition ON ParentOrderPosition.kAuftragPosition = SalesOrderPosition.kAuftragStueckliste
	LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
	LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
			AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut 
	LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut 
			AND ItemAttributeLanguage.kSprache = 0
	LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = SalesOrderPosition.kArtikel
	LEFT JOIN Verkauf.vAuftragPosition AS ConfiguratorItem ON ConfiguratorItem.kKonfigVater = SalesOrderPosition.kKonfigVater 
			AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVater IS NOT NULL AND ConfiguratorItem.kKonfigVater != 0
			AND ConfiguratorItem.kAuftrag = SalesOrder.kAuftrag
	LEFT JOIN 
	(
		SELECT tAuftragPositionEigenschaft.kAuftragPosition AS kBestellPos, 
			CAST(SUM(tAuftragPositionEigenschaft.fZusatzgewicht) AS DECIMAL(25,13)) AS GewichtSumme
		FROM Verkauf.tAuftragPositionEigenschaft
		GROUP BY tAuftragPositionEigenschaft.kAuftragPosition
	) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kBestellPos = SalesOrderPosition.kAuftragPosition
	LEFT JOIN dbo.pf_amazon_bestellungpos AS AmazonSalesOrderPosition 
		ON AmazonSalesOrderPosition.kAmazonBestellungPos = SalesOrderPosition.kAmazonBestellungPos
	OUTER APPLY Report.ifItemDescription(SalesOrderPosition.kArtikel, [SalesOrder].kSprache, [SalesOrder].kPlattform, [SalesOrder].kShop)
	LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
		AND Condition.kSprache = SalesOrder.kSprache
	WHERE SalesOrderPosition.nType != 15 AND --Karton
		CASE
			WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = '' 
					AND SalesorderPosition.kAuftragStueckliste != SalesorderPosition.kAuftragPosition 
					AND SalesorderPosition.kAuftragStueckliste != 0
				THEN 0
			WHEN SalesorderPosition.kAuftragStueckliste != SalesorderPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
				THEN 0
			WHEN SalesorderPosition.kAuftragStueckliste = SalesorderPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten' 
				THEN 0
			ELSE 1
		END = 1
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Auftragsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesOrder.InternalId" type="reverseOnly" name="SalesOrder" DisplayName="SalesOrder">
  <reverse name="SalesOrderPosition" type="reverseOnly" DisplayName="SalesOrderPosition" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.SalesOrder.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Artikelnummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'SKU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bezeichnung für den Druck, Speichern oder E-Mail senden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einheit des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'Unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis zur Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lange Artikelbeschreibung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionDetailed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kurze Artikelbeschreibung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionBrief'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anzahl des Artikels in einer Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt. in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'VATRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Netto Einkaufspreis des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'PurchasePriceNet'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelbruttopreis des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'GrossPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelnettopreis des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'NetPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtbruttopreis über die Anzahl des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtnettopreis über die Anzahl des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Betrag der MwSt.' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'VATValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rabattbetrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'DiscountValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'PositionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Internationale Artikelnummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'EAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Wert zu Sortierung der Position innerhalb des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'Sorting'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt den Typ der Konfiguratorposition an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Komponente der Stückliste' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vaterartikel-ID der Stücklistenposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Position des Vaterartikels des Konfigurationsartikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Konfigurationsartikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'ConfigurationItemInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelgewicht des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'IndividualWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtgewicht der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'TotalWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelversandgewicht des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'IndividualShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtversandgewicht der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'TotalShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Product.InternalId" name="Product" DisplayName="Product" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Product.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Amazon Custom-Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'IsAmazonCustomPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Amazon Custom JSON-Datei' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition', @level2type=N'COLUMN',@level2name=N'AmazonCustomJSON'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderPosition'
GO
