USE [eazybusiness]
GO
/****** Object:  View [Report].[TotalsSalesQuotation]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[TotalsSalesQuotation]
AS
(
	SELECT 
		SalesQuotation.kAuftrag AS SalesQuotationInternalId,
		SalesQuotationPosition.VATRate AS VATRate, 
		CAST(SUM(SalesQuotationPosition.VATValue) AS DECIMAL(25,13)) AS VATSum,
		CAST(SUM(SalesQuotationPosition.TotalGrossPrice) AS DECIMAL(25,13)) AS GrossPriceTotal,
		CAST(SUM(SalesQuotationPosition.TotalNetPrice) AS DECIMAL(25,13)) AS NetPriceTotal,
		CAST(SUM(CASE WHEN SalesQuotationPosition.PositionType = 'ShippingPosition'
				THEN SalesQuotationPosition.TotalGrossPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS GrossPriceShippingPositionTotal,
		CAST(SUM(CASE WHEN SalesQuotationPosition.PositionType = 'ShippingPosition'
				THEN SalesQuotationPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS NetPriceShippingPositionTotal,
		CAST(SUM(CASE WHEN SalesQuotationPosition.PositionType = 'ShippingPosition'
				THEN SalesQuotationPosition.TotalGrossPrice
				ELSE 0.0
			END -
			CASE WHEN SalesQuotationPosition.PositionType = 'ShippingPosition'
				THEN SalesQuotationPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS ShippingCostsVAT,
		CAST(SUM(SalesQuotationPosition.DiscountValue) AS DECIMAL(25,13)) AS DiscountValueTotal,
		CAST(SUM(CASE WHEN SalesQuotationPosition.PositionType = 'CODCharge'
				THEN SalesQuotationPosition.TotalGrossPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS GrossPriceCODChargeTotal
	FROM Verkauf.vAuftrag AS SalesQuotation
	JOIN Report.SalesQuotationPosition ON SalesQuotationPosition.SalesQuotationInternalId = SalesQuotation.kAuftrag
	GROUP BY SalesQuotationPosition.VATRate, SalesQuotation.kAuftrag
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesQuotation.InternalId" type="reverseOnly" name="SalesQuotation" DisplayName="SalesQuotation">
  <reverse name="TotalsSalesQuotation" DisplayName="TotalsSalesQuotation" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesQuotation', @level2type=N'COLUMN',@level2name=N'SalesQuotationInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesQuotation'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesQuotation'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesQuotation'
GO
