USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoicePositionDeliveryDetails]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoicePositionDeliveryDetails]
AS
(
	SELECT
		tRechnungLieferscheinPosition.kRechnungPosition AS InvoicePositionInternalId,
		SUM(LS.Quantity) AS Quantity,
		LS.BatchNumber AS BatchNumber,
		LS.BestBeforeDate AS BestBeforeDate,
		LS.SerialNumber AS SerialNumber
	FROM Report.DeliveryNotePositionDeliveryDetails AS LS
	JOIN Rechnung.tRechnungLieferscheinPosition ON tRechnungLieferscheinPosition.kLieferscheinPosition = LS.DeliveryNotePositionInternalId
	GROUP BY
		tRechnungLieferscheinPosition.kRechnungPosition,
		LS.BatchNumber, 
		LS.BestBeforeDate, 
		LS.SerialNumber
)
GO
