USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoiceShipToAddress]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoiceShipToAddress]
AS
(
	SELECT 
		DeliveryAdress.kRechnung AS InvoiceInternalId,
        DeliveryAdress.kKunde AS CustomerInternalId,
        ISNULL(DeliveryAdress.cFirma, '') AS Company,
        ISNULL(DeliveryAdress.cAnrede, '') AS Salutation,
        ISNULL(DeliveryAdress.cTitel, '') AS Title,
        ISNULL(DeliveryAdress.cVorname, '') AS FirstName,
        ISNULL(DeliveryAdress.cName, '') AS LastName,
        ISNULL(DeliveryAdress.cStrasse, '') AS [Address],
        ISNULL(DeliveryAdress.cPLZ, '') AS PostalCode,
        ISNULL(DeliveryAdress.cOrt, '') AS City,
        ISNULL(DeliveryAdress.cLand, '') AS Country,
        ISNULL(DeliveryAdress.cTel, '') AS Phone,
        ISNULL(DeliveryAdress.cZusatz, '') AS CompanySupplement,
        ISNULL(DeliveryAdress.cAdressZusatz, '') AS AddressSupplement,
        ISNULL(DeliveryAdress.cMobil, '') AS MobilePhone,
        ISNULL(DeliveryAdress.cMail, '') AS EmailAddress,
        ISNULL(DeliveryAdress.cFax, '') AS Fax,
        ISNULL(DeliveryAdress.cBundesland, '') AS [State],
        ISNULL(DeliveryAdress.cISO, '') AS CountryISO,
		ISNULL(Customer.cKundenNr, '') AS CustomerNumber,
		ISNULL(DeliveryAdress.cKundeUstId, '') AS ValueAddedTaxId
	FROM Rechnung.vRechnungAdresse AS DeliveryAdress
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = DeliveryAdress.kKunde
	WHERE DeliveryAdress.nTyp = 0
)
GO
