USE [eazybusiness]
GO
/****** Object:  View [Report].[FulfilmentOrder]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[FulfilmentOrder]
AS
(
	SELECT 
		FulfillmentOrder.kFulfillmentAuftrag AS InternalId,
		tFirmaHistory.kFirma AS CompanyInternalId,
		FulfillmentOrder.cLieferscheinnummer AS DeliveryNoteId,
		FulfillmentOrder.kKunde AS CustomerInternalId,
		FulfillmentOrder.kWarenlager AS WarehouseInternalId,
		FulfillmentOrder.kUser AS UserInternalId,
		DeliveryNote.kBestellung AS SalesOrderInternalId,
		FulfillmentOrder.kLieferschein AS DeliveryNoteInternalId,		
		CASE
			WHEN FulfillmentOrder.nStatus = 1
				THEN 'Open'
			WHEN FulfillmentOrder.nStatus = 30
				THEN 'InProgress'
			WHEN FulfillmentOrder.nStatus = 40
				THEN 'Error'
			WHEN FulfillmentOrder.nStatus = 50
				THEN 'Closed'
			ELSE 'Unknown'
		END AS [Status],		
		[Order].cWaehrung AS CurrencyISO,
		FulfillmentOrder.cBestellnummer AS SalesOrderId,
		FulfillmentOrder.dErstellt AS CreationDate,
		FulfillmentOrder.dGedruckt AS PrintingDate,
		FulfillmentOrder.dGemailt AS MailingDate,
		FulfillmentOrder.dGefaxt AS FaxingDate,
		FulfillmentOrder.dApiVersendet AS ApiShippingDate,
		FulfillmentOrder.dInBearbeitung AS InProcessDate,
		FulfillmentOrder.cLieferPrioritaet AS DeliveryProperty,
		CustomerPrintingTextLanguange.cAuftragstext AS SalesOrderText,
		'FulfillmentOrder ' + FulfillmentOrder.cBestellnummer AS OperationId
	FROM dbo.tFulfillmentAuftrag AS FulfillmentOrder
	JOIN dbo.tLieferschein AS DeliveryNote ON DeliveryNote.kLieferschein = FulfillmentOrder.kLieferschein
	JOIN Verkauf.vAuftrag AS [Order] ON [Order].kAuftrag = DeliveryNote.kBestellung
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = [Order].kFirmaHistory
	JOIN dbo.tkunde AS Customer ON Customer.kKunde = FulfillmentOrder.kKunde
	LEFT JOIN dbo.tKundenDrucktextSprache AS CustomerPrintingTextLanguange 
		ON CustomerPrintingTextLanguange.kSprache = FulfillmentOrder.kSprache
			AND CustomerPrintingTextLanguange.kKundenDrucktext = Customer.kKundenDrucktext
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Fulfillmentauftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Company.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer des Lieferscheins' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'DeliveryNoteId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" name="Customer" DisplayName="Customer" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Customer.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Warehouse.InternalId" name="Warehouse" DisplayName="Warehouse" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'WarehouseInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Warehouse.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'WarehouseInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'WarehouseInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.User.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Benutzers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesOrder.InternalId" name="SalesOrder" DisplayName="SalesOrder" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.SalesOrder.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Bestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.DeliveryNote.InternalId" name="DeliveryNote" DisplayName="DeliveryNote" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Lieferscheins' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status des Fulfillmentauftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'CurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer der Bestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstelldatum des Fulfillmentauftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Druckdatum des Fulfillmentauftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'PrintingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Maildatum des Fulfillmentauftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'MailingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum des Faxversands' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'FaxingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum der Übertragung zum Fulfiller' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'ApiShippingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum an dem der Fulfillmentauftrag in Bearbeitung ging' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'InProcessDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lieferpriorität des Fulfillmentauftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'DeliveryProperty'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Auftragsdrucktext' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Auftrags-ID des Fulfillmentauftragvorgangs' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder', @level2type=N'COLUMN',@level2name=N'OperationId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrder'
GO
