USE [eazybusiness]
GO
/****** Object:  View [Report].[PickListPositionOrderConfiguration]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PickListPositionOrderConfiguration]
AS
(
	SELECT 
		PickListPositionOrderConfiguration.kAuftragPositionEigenschaft AS InternalId,
        ISNULL(PickListPositionOrderConfiguration.kEigenschaftWert, 0) AS ConfigurationValueInternalId,
        ISNULL(PickListPositionOrderConfiguration.kAuftragPosition, 0) AS SalesOrderPositionInternalId,
        tAuftragPosition.kArtikel AS ProductInternalId,
        PickListPositionOrderConfiguration.fAufpreisNetto AS AdditionalNetPrice,
        PickListPositionOrderConfiguration.cWert AS ValueText,
        PickListPositionOrderConfiguration.cName AS [Name],
        ISNULL(PickListPositionOrderConfiguration.kEigenschaft, 0) AS ConfigurationInternalId,
        [Configuration].nSort AS ConfigurationSorting
	FROM Verkauf.tAuftragPositionEigenschaft AS PickListPositionOrderConfiguration
	JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = PickListPositionOrderConfiguration.kAuftragPosition
	LEFT JOIN dbo.teigenschaft AS [Configuration] ON [Configuration].kEigenschaft = PickListPositionOrderConfiguration.kEigenschaft
)
GO
