USE [eazybusiness]
GO
/****** Object:  View [Report].[AccountData]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[AccountData]
AS
(
	SELECT
		AccountData.kKontoDaten AS InternalId,
		AccountData.kKunde AS CustomerInternalId,
		AccountData.cBankName AS Bank,
		AccountData.cInhaber AS AccountHolder, 
		AccountData.cIBAN AS IBAN,
		AccountData.cBIC AS BIC
	FROM dbo.tkontodaten AS AccountData
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Kontodeten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" type="reverseOnly" name="Customer" DisplayName="Customer">
  <reverse name="AccountData" DisplayName="AccountData" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Customer.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die interne Kunden-ID zur Verknüpfung auf die Kundentabelle' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält den Namen des Bankinstituts' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData', @level2type=N'COLUMN',@level2name=N'Bank'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name des Kontoinhabers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData', @level2type=N'COLUMN',@level2name=N'AccountHolder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die IBAN' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData', @level2type=N'COLUMN',@level2name=N'IBAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die BIC' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData', @level2type=N'COLUMN',@level2name=N'BIC'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'AccountData'
GO
