USE [eazybusiness]
GO
/****** Object:  View [Report].[Supplier]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Supplier]
AS
(
	SELECT 
		Supplier.kLieferant AS InternalId,
		Supplier.cLiefNr AS OwnCustomerNumber,
		Supplier.cLieferantID AS SupplierId,
		Supplier.cFirma AS Company,
		Supplier.cKontakt AS Contact,
		Supplier.cStrasse AS [Address],
		Supplier.cPLZ AS PostalCode,
		Supplier.cOrt AS City,
		Supplier.cLand AS Country,
		Supplier.cTelZentralle AS PhoneOffice,
		Supplier.cTelDurchwahl AS PhoneDirectDialing,
		Supplier.cFax AS Fax,
		Supplier.cEMail AS EmailAddress,
		Supplier.cWWW AS WebsiteURL,
		Supplier.cAnmerkung AS Comment,
		Supplier.dErstellt AS CreationDate,
		CASE 
			WHEN Supplier.cAktiv = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsActive,
		Supplier.cUstid AS ValueAddedTaxId,
		Supplier.cISO AS CountryISO,
		Supplier.kSprache AS LanguageInternalId,
		Supplier.cFirmenZusatz AS CompanySupplement,
		Supplier.cAdresszusatz AS AddressSupplement,
		Supplier.cBundesland AS [State],
		Supplier.cAnrede AS Salutation,
		Supplier.cVorname AS FirstName,
		Supplier.cNachname AS LastName
	FROM dbo.tlieferant AS Supplier
)
GO
EXEC sys.sp_addextendedproperty @name=N'ReportInvisible', @value=N'true' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Supplier', @level2type=N'COLUMN',@level2name=N'SupplierId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Supplier'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Supplier'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Supplier'
GO
