USE [eazybusiness]
GO
/****** Object:  View [Report].[ExternalDocumentPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[ExternalDocumentPosition]
AS
(  
    SELECT
        tExternerBelegPosition.kExternerBelegPosition AS InternalId,
        tExternerBelegPosition.kExternerBelegTransaktion AS ExternalDocumentTransactionInternalId,
        tExternerBelegPosition.kExternerBelegPositionVater AS ExternalDocumentPositionParentInternalId,
        CASE
            WHEN tExternerBelegPosition.nKindtyp = 0 THEN 'NONE'
            WHEN tExternerBelegPosition.nKindtyp = 1 THEN 'DEPENDEND'
            WHEN tExternerBelegPosition.nKindtyp = 2 THEN 'INDEPENDEND'
            ELSE ''
        END AS ChildType,
        tExternerBelegPosition.kAuftragPosition AS SalesOrderPositionInternalId,
        tExternerBelegPosition.kBezugRechnungPosition AS ReferenceInvoicePositionInternalId,
        tExternerBelegPosition.kBezugExternerBelegPosition AS ReferenceExternalDocumentPostionInternalId,
        CASE
            WHEN tExternerBelegPosition.nPositionstyp = 1 THEN 'Item'
            WHEN tExternerBelegPosition.nPositionstyp = 2 THEN 'ShippingPosition'
            WHEN tExternerBelegPosition.nPositionstyp = 3 THEN 'Coupon'
            WHEN tExternerBelegPosition.nPositionstyp = 4 THEN 'Voucher'
            WHEN tExternerBelegPosition.nPositionstyp = 5 THEN 'PaymentMethod'
            WHEN tExternerBelegPosition.nPositionstyp = 6 THEN 'ShippingSurcharge'
            WHEN tExternerBelegPosition.nPositionstyp = 7 THEN 'NewCustomersCoupon'
            WHEN tExternerBelegPosition.nPositionstyp = 8 THEN 'CODCharge'
            WHEN tExternerBelegPosition.nPositionstyp = 9 THEN 'ItemShippingSurcharge'
            WHEN tExternerBelegPosition.nPositionstyp = 10 THEN 'Packaging'
            WHEN tExternerBelegPosition.nPositionstyp = 11 THEN 'GiftForFree'
            WHEN tExternerBelegPosition.nPositionstyp = 12 THEN 'TrustedShopsFee'
            WHEN tExternerBelegPosition.nPositionstyp = 13 THEN 'TaxSurcharge'
            WHEN tExternerBelegPosition.nPositionstyp = 14 THEN 'ProcessingFee'
            WHEN tExternerBelegPosition.nPositionstyp = 15 THEN 'Cardboard'
            WHEN tExternerBelegPosition.nPositionstyp = 16 THEN 'Return'
            WHEN tExternerBelegPosition.nPositionstyp = 17 THEN 'MultiPurposeVoucher'
            WHEN tExternerBelegPosition.nPositionstyp = 18 THEN 'MultiPurposeVoucherDigital'
            WHEN tExternerBelegPosition.nPositionstyp = 19 THEN 'SinglePurposeVoucher'
            WHEN tExternerBelegPosition.nPositionstyp = 20 THEN 'SinglePurposeVoucherDigital'
            WHEN tExternerBelegPosition.nPositionstyp = 21 THEN 'SinglePurposeVoucherRedemption'
            ELSE ''
        END AS PositionType,
        tExternerBelegPosition.cArtNr AS SKU,
        tExternerBelegPosition.kArtikel AS ProductInternalId,
        tExternerBelegPosition.cText AS [Text],
        tExternerBelegPosition.fAnzahl AS Quantity,
        IIF(tExternerBelegPosition.nKindtyp = 1, NULL, tExternerBelegPosition.fVkBrutto) AS TotalGrossPrice,
        IIF(tExternerBelegPosition.nKindtyp = 1, NULL, tExternerBelegPosition.fVkNetto) AS TotalNetPrice,
        IIF(tExternerBelegPosition.nKindtyp = 1, NULL, tExternerBelegPosition.fMwStSatz) AS VATRate,
        IIF(tExternerBelegPosition.nKindtyp = 1, NULL, tExternerBelegPosition.fRabattBrutto) AS DiscountGross,
        IIF(tExternerBelegPosition.nKindtyp = 1, NULL, tExternerBelegPosition.fRabattNetto) AS DiscountNet,
        IIF(tExternerBelegPosition.nKindtyp = 1, NULL, tExternerBelegPosition.cRabatttext) AS DiscountText,
        tExternerBelegPosition.fEkNetto AS PurchasePriceNet,
        tExternerBelegPosition.cEinheit AS Unit,
        tExternerBelegPosition.kExterneId AS ExternalId,
        ISNULL(CAST(IIF(tExternerBelegPosition.nKindtyp > 0, 1, 0) AS BIT), 0) AS IsChild
    FROM Rechnung.tExternerBelegPosition
)
GO
