USE [eazybusiness]
GO
/****** Object:  View [Report].[Invoice]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Invoice]
AS
(
	SELECT
		Invoice.kRechnung AS InternalId,
		Invoice.cRechnungsNr AS InvoiceNumber,
		tFirmaHistory.kFirma AS CompanyInternalId,
		tRechnungEckdaten.dDruckdatum AS PrintingDate,
		tRechnungEckdaten.dMaildatum AS MailingDate,
		Invoice.dErstellt AS CreationDate,
		CustomerPrintingTextLanguange.cRechnungstext AS InvoicePrintingText,
		Customer.cKundenNr AS MandateReference,
		Customer.kKunde AS CustomerInternalId,
		CASE
			WHEN Settings.nRunden = 1
				THEN CAST(ROUND(CAST(tRechnungEckdaten.fVkBruttoGesamt / 0.05 AS DECIMAL(25,13)), 0) * 0.05 AS DECIMAL(25,13))
			ELSE tRechnungEckdaten.fVkBruttoGesamt
		END AS TotalGrossPrice,
		tRechnungEckdaten.fVkNettoGesamt AS TotalNetPrice,
		CASE
			WHEN tRechnungEckdaten.dBezahlt IS NULL
				THEN tRechnungEckdaten.fVkBruttoGesamt - tRechnungEckdaten.fGutschrift - tRechnungEckdaten.fZahlung
			ELSE 0.0
		END AS OpenGrossPrice,
		Invoice.cVersandlandISO AS ShipFromCountryISO,
		Invoice.cVersandlandWaehrung AS ShipFromCountryCurrencyISO,
		Invoice.fVersandlandWaehrungsfaktor AS ShipFromCountryCurrencyFactor,
		'' AS CountryISO,
		Invoice.cWaehrung AS CurrencyISO,
		Invoice.fWaehrungsfaktor AS CurrencyFactor,
		Invoice.cVersandlandISO AS TaxCountryISO,
		Invoice.cVersandlandWaehrung AS TaxCountryCurrencyISO,
		Invoice.fVersandlandWaehrungsfaktor AS TaxCountryCurrencyFactor,
		Invoice.nZahlungszielTage AS TermOfPayment,
		'Invoice ' + Invoice.cRechnungsNr AS OperationId,
		Invoice.fSkonto AS CashDiscount,
		Invoice.nSkontoInTage AS CashDiscountValidity,
		ISNULL(PaymentMethodLanguage.cName, PaymentMethod.cName) AS PaymentMethodName,
		ISNULL(PaymentMethodLanguage.cPrtStringVor, PaymentMethod.cPrtStringVor) AS PaymentMethodTextBeforePayment,
		ISNULL(PaymentMethodLanguage.cPrtString, PaymentMethod.cPrtString) AS PaymentMethodTextAfterPayment,
		CAST(CASE
			WHEN Invoice.nIstExterneRechnung > 0
				THEN 1
			ELSE 0
		END AS BIT) AS IsExternalInvoice,
		Invoice.kVersandArt AS ShippingMethodInternalId,
		CASE
			WHEN Invoice.nSteuereinstellung = 10
				THEN 'IGL'
			WHEN Invoice.nSteuereinstellung = 15
				THEN 'ReverseCharge'
			WHEN Invoice.nSteuereinstellung = 20
				THEN 'ExemptFromVATnotEU'
			ELSE ''
		END AS ExemptFromVAT,
		CAST(ISNULL(Finanzierungskosten.fFinanzierungskosten, 0.0) AS DECIMAL(25,13)) AS FinancingCosts,
		ISNULL(Invoice.dLeistungsdatum, SalesOrder.dVoraussichtlichesLieferdatum) AS ServiceDate,
		Invoice.kBenutzer AS UserInternalId,
		Invoice.cUstId AS ValueAddedTaxId,
		Languages.cISO2 AS LanguageISO,
		ISNULL(Invoice.dValutadatum, Invoice.dErstellt) AS ValutaDate,
		Shop.cName AS ShopName,
		CASE WHEN CustomerGroup.nNettoPreise = 1
			THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS UseNetPrice,
		CASE WHEN Document.kRechnung IS NULL
			THEN CAST(0 AS BIT)
			ELSE CAST(1 AS BIT)
		END AS HasInvoiceAsPDF,
		Document.bFile AS InvoiceData,
		vRechnungText.cAnmerkung AS Comment,
		InvoiceText.cHinweis AS InvoiceNote,
		Invoice.nIstEntwurf AS IsProforma,
		SalesOrderNumbers.SalesOrderNumbers,
		ISNULL(ExternalSalesOrderNumbers.ExternalSalesOrderNumbers, Invoice.cExterneAuftragsnummer) AS ExternalSalesOrderNumbers,
		Invoice.nStorno AS IsCanceled,
		Invoice.nIstExterneRechnung AS ExternalInvoiceType,
        Invoice.nDebitorennr AS AccountsReceivableNumber,
		ISNULL(Invoice.cEbayUsername, '') AS EbayUserName,
		ISNULL(DepartureCountry.cNameEng, ISNULL(DepartureCountry.cName, '')) AS DepartureCountry,
		SalesOrder.kAuftrag AS SalesOrderInternalId,
		CASE
			WHEN DifferentAdresses.kRechnung IS NOT NULL THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS DifferentAddresses
	FROM Rechnung.tRechnung AS Invoice
	CROSS JOIN dbo.teinstellungen AS Settings
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = Invoice.kKunde
	LEFT JOIN dbo.tKundenGruppe AS CustomerGroup ON CustomerGroup.kKundenGruppe = Customer.kKundenGruppe
	LEFT JOIN 
	(
		SELECT	tAuftragRechnung.kRechnung,
				MIN(tAuftragRechnung.kAuftrag) AS kAuftrag		
		FROM Verkauf.tAuftragRechnung		
		GROUP BY tAuftragRechnung.kRechnung
	) AS SalesOrderReference ON SalesOrderReference.kRechnung = Invoice.kRechnung
	LEFT JOIN Verkauf.vAuftrag AS SalesOrder ON SalesOrderReference.kAuftrag = SalesOrder.kAuftrag
	LEFT JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = Invoice.kRechnung
	LEFT JOIN Rechnung.vRechnungText ON vRechnungText.kRechnung = Invoice.kRechnung
	LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = Invoice.kFirmaHistory
	LEFT JOIN dbo.tKundenDrucktextSprache AS CustomerPrintingTextLanguange
		ON CustomerPrintingTextLanguange.kSprache = Customer.kSprache
			AND CustomerPrintingTextLanguange.kKundenDrucktext = Customer.kKundenDrucktext
	LEFT JOIN dbo.tZahlungsart AS PaymentMethod ON Invoice.kZahlungsart = PaymentMethod.kZahlungsart
	LEFT JOIN dbo.tZahlungsArtSprache AS PaymentMethodLanguage ON PaymentMethodLanguage.kZahlungsart = PaymentMethod.kZahlungsart AND PaymentMethodLanguage.kSprache = Invoice.kSprache
	LEFT JOIN (SELECT RechnungKey.kRechnung, SUM(vAuftrag.fFinanzierungskosten) AS fFinanzierungskosten
			   FROM (SELECT DISTINCT vRechnungPosition.kRechnung, vRechnungPosition.kAuftrag FROM Rechnung.vRechnungPosition) RechnungKey
			   JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = RechnungKey.kAuftrag
			   GROUP BY RechnungKey.kRechnung) AS Finanzierungskosten ON Finanzierungskosten.kRechnung = Invoice.kRechnung
	LEFT JOIN dbo.tSpracheUsed AS UsedLanguage ON UsedLanguage.kSprache = Invoice.kSprache
	LEFT JOIN dbo.tSprachen AS Languages ON Languages.cISO = UsedLanguage.cISO
	LEFT JOIN dbo.tShop AS Shop ON Shop.kShop = SalesOrder.kShop
	OUTER APPLY (
		SELECT TOP 1 tFile.bFile, tRechnungFile.kRechnung
		FROM Rechnung.tRechnungFile
		JOIN dbo.tFile ON tFile.kFile = tRechnungFile.kFile
		WHERE tRechnungFile.nDokumentTyp = 2 AND tRechnungFile.kRechnung = Invoice.kRechnung
	) AS Document
	LEFT JOIN Rechnung.tRechnungText AS InvoiceText ON InvoiceText.kRechnung = Invoice.kRechnung
	OUTER APPLY
	(
		SELECT STUFF((SELECT ',' + tAuftrag.cAuftragsNr
		FROM Verkauf.tAuftragRechnung
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
		WHERE tAuftragRechnung.kRechnung = Invoice.kRechnung
		FOR XML PATH('')), 1, 1, '') AS SalesOrderNumbers
	) AS SalesOrderNumbers
	OUTER APPLY
	(
		SELECT STUFF((SELECT ',' + tAuftrag.cExterneAuftragsnummer
		FROM Verkauf.tAuftragRechnung
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
		WHERE tAuftragRechnung.kRechnung = Invoice.kRechnung
		FOR XML PATH('')), 1, 1, '') AS ExternalSalesOrderNumbers
	) AS ExternalSalesOrderNumbers
	LEFT JOIN dbo.tland AS DepartureCountry ON DepartureCountry.cISO = Invoice.cVersandlandISO	
	LEFT JOIN
	(
		SELECT Lieferadresse.kRechnung 
		FROM Rechnung.vRechnungRechnungsadresse AS Rechnungsadresse
		LEFT JOIN Rechnung.vRechnungLieferadresse AS Lieferadresse ON Lieferadresse.kRechnung = Rechnungsadresse.kRechnung 
		WHERE (
				Lieferadresse.cFirma <> Rechnungsadresse.cFirma
				OR Lieferadresse.cAnrede <> Rechnungsadresse.cAnrede
				OR Lieferadresse.cTitel <> Rechnungsadresse.cTitel
				OR Lieferadresse.cVorname <> Rechnungsadresse.cVorname
				OR Lieferadresse.cName <> Rechnungsadresse.cName
				OR Lieferadresse.cStrasse <> Rechnungsadresse.cStrasse 
				OR Lieferadresse.cPLZ <> Rechnungsadresse.cPLZ
				OR Lieferadresse.cOrt <> Rechnungsadresse.cOrt
				OR Lieferadresse.cLand <> Rechnungsadresse.cLand
				OR Lieferadresse.cTel <> Rechnungsadresse.cTel
				OR Lieferadresse.cZusatz <> Rechnungsadresse.cZusatz
				OR Lieferadresse.cAdressZusatz <> Rechnungsadresse.cAdressZusatz
				OR Lieferadresse.cPostID <> Rechnungsadresse.cPostID
				OR Lieferadresse.cMobil <> Rechnungsadresse.cMobil
				OR Lieferadresse.cMail <> Rechnungsadresse.cMail
				OR Lieferadresse.cFax <> Rechnungsadresse.cFax
				OR Lieferadresse.cBundesland <> Rechnungsadresse.cBundesland
				OR Lieferadresse.cISO <> Rechnungsadresse.cISO
			)
	) AS DifferentAdresses ON DifferentAdresses.kRechnung = Invoice.kRechnung
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'InvoiceNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Firma in der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Druckdatum der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'PrintingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Maildatum der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'MailingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstelldatum der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drucktext zur Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'InvoicePrintingText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mandatsreferenz des Kunden zur Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'MandateReference'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" name="Customer" DisplayName="Customer" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zu zahlender Gesamtbruttopreis der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtnettopreis der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Offene Gesamtsumme der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'OpenGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Währung des Versandlandes' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ShipFromCountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faktor zur Umrechnung in die Versandlandwährung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ShipFromCountryCurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Währungsfaktor des Versandlandes' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ShipFromCountryCurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Landes der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faktor zur Umrechnung in die angegeben Währung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Steuerlandes der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'TaxCountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währung des Steuerlandes der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'TaxCountryCurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Währungsfaktor des Steuerlandes' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'TaxCountryCurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zahlungsziel in Tagen für die Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'TermOfPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vorgangs-ID der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'OperationId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Skonto der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CashDiscount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Skontozeitraum der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'CashDiscountValidity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name der Zahlungsart' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'PaymentMethodName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ZahlungsartTextVorZahlung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'PaymentMethodTextBeforePayment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ZahlungsartTextNachZahlung ' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'PaymentMethodTextAfterPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ist eine externe Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'IsExternalInvoice'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.ShippingMethod.InternalId" name="ShippingMethod" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Versandart der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Art der Steuerbefreiung in der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ExemptFromVAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Finanzierungskosten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'FinancingCosts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lieferdatum der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ServiceDate'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des (JTL-Wawi) Bearbeiters der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ust-IdNr. der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ValueAddedTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Sprache der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'LanguageISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstelldatum der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ValutaDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name des Shops der Bestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ShopName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreise benutzen (Kundengruppe)' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'UseNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rechnung als PDF vorhanden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'HasInvoiceAsPDF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Angehängte Dokumente der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'InvoiceData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bemerkung zur Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'Comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis in der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'InvoiceNote'
GO
EXEC sys.sp_addextendedproperty @name=N'ReportInvisible', @value=N'true' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice', @level2type=N'COLUMN',@level2name=N'ExternalInvoiceType'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Invoice'
GO
