USE [eazybusiness]
GO
/****** Object:  View [Report].[CustomerBillToAddress]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[CustomerBillToAddress]
AS
(
	SELECT 
		CustomerAdress.kAdresse AS InternalId,
		CustomerAdress.kKunde AS CustomerInternalId,
		ISNULL(CustomerAdress.cFirma, '') AS Company,
		ISNULL(CustomerAdress.cAnrede, '') AS Salutation,
		ISNULL(CustomerAdress.cTitel, '') AS Title,
		ISNULL(CustomerAdress.cVorname, '') AS FirstName,
		ISNULL(CustomerAdress.cName, '') AS LastName,
		ISNULL(CustomerAdress.cStrasse, '') AS [Address],
		ISNULL(CustomerAdress.cPLZ, '') AS PostalCode,
		ISNULL(CustomerAdress.cOrt, '') AS City,
		ISNULL(CustomerAdress.cLand, '') AS Country,
		ISNULL(CustomerAdress.cTel, '') AS Phone,
		ISNULL(CustomerAdress.cZusatz, '') AS CompanySupplement,
		ISNULL(CustomerAdress.cAdressZusatz, '') AS AddressSupplement,
		ISNULL(CustomerAdress.cMobil, '') AS MobilePhone,
		ISNULL(CustomerAdress.cMail, '') AS EmailAddress,	
		ISNULL(CustomerAdress.cFax, '') AS Fax,
		ISNULL(CustomerAdress.cBundesland, '') AS [State],
		ISNULL(CustomerAdress.cISO, '') AS CountryISO,
		ISNULL(Customer.cKundenNr, '') AS CustomerNumber,
		ISNULL(CustomerAdress.cUSTID, '') AS ValueAddedTaxId,
		CASE WHEN ISNULL(CustomerAdress.nStandard, 0) = 0
			THEN CAST(0 AS BIT)
			ELSE CAST(1 AS BIT)
		END AS IsStandard
	FROM dbo.tAdresse AS CustomerAdress
	JOIN dbo.tkunde AS Customer ON Customer.kKunde = CustomerAdress.kKunde
	WHERE CustomerAdress.nTyp = 1
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Adresse' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" type="reverseOnly" name="Customer" DisplayName="Customer">
  <reverse name="CustomerBillToAddress" DisplayName="CustomerBillToAddress" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Customer.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Firmenname des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'Company'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anrede des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'Salutation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Titel des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vorname des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'FirstName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nachname des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'LastName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Strasse des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PLZ des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'PostalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Wohnort des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'City'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Land des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'Country'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefonnummer des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Firmenzusatz' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'CompanySupplement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Adresszusatz' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'AddressSupplement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mobilnummer des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'MobilePhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E-Mail-Adresse des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'EmailAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faxnummer des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'Fax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bundesland des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Landes des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'CountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kundennummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'CustomerNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'USt-IdNr. des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'ValueAddedTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'die hinterlegte Standardadresse des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress', @level2type=N'COLUMN',@level2name=N'IsStandard'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerBillToAddress'
GO
