USE [eazybusiness]
GO
/****** Object:  View [Report].[Voucher]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Voucher]
AS
(
	SELECT
		SalesOrderPosition.kAuftragPosition AS SalesOrderPositionInternalId,
		SalesOrderPosition.cName AS [Name],
		SalesOrder.kAuftrag AS SalesOrderInternalId,
		tFirmaHistory.kFirma AS CompanyInternalId,
		SalesOrderVariationText.cWert AS [Text],
		SalesOrderVariationSender.cWert AS [Sender]
	FROM Verkauf.tAuftragPosition AS SalesOrderPosition
	JOIN Verkauf.tAuftrag AS SalesOrder ON SalesOrder.kAuftrag = SalesOrderPosition.kAuftrag
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = SalesOrder.kFirmaHistory
	OUTER APPLY
	(
		SELECT TOP (1) cWert
		FROM Verkauf.tAuftragPositionEigenschaft AS SalesOrderVariation
		JOIN dbo.teigenschaft AS Variation ON Variation.kEigenschaft = SalesOrderVariation.kEigenschaft
		WHERE
			SalesOrderVariation.cName = 'Text'
			AND Variation.cTyp = 'FREIFELD'
			AND SalesOrderVariation.kAuftragPosition = SalesOrderPosition.kAuftragPosition
	) AS SalesOrderVariationText
	OUTER APPLY
	(
		SELECT TOP (1) cWert
		FROM Verkauf.tAuftragPositionEigenschaft AS SalesOrderVariation
		JOIN dbo.teigenschaft AS Variation ON Variation.kEigenschaft = SalesOrderVariation.kEigenschaft
		WHERE
			SalesOrderVariation.cName = 'Sender'
			AND Variation.cTyp = 'FREIFELD'
			AND SalesOrderVariation.kAuftragPosition = SalesOrderPosition.kAuftragPosition
	) AS SalesOrderVariationSender
	WHERE SalesOrderPosition.nType IN (18, 20) --MehrzweckgutscheinDigital, EinzweckgutscheinDigital
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Auftragsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'SalesOrderPositionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bezeichnung für den Gutschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Id der Bestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ReportInvisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Company.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Id der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ReportInvisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Grußtext auf dem Gutschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'Text'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sender (Von) auf dem Gutschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher', @level2type=N'COLUMN',@level2name=N'Sender'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Voucher'
GO
