USE [eazybusiness]
GO
/****** Object:  View [Report].[TotalsSalesOrder]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[TotalsSalesOrder]
AS
(
	SELECT 
		SalesOrder.kAuftrag AS SalesOrderInternalId,
		SalesOrderPosition.VATRate AS VATRate, 
		CAST(SUM(SalesOrderPosition.VATValue) AS DECIMAL(25,13)) AS VATSum,
		CAST(SUM(SalesOrderPosition.TotalGrossPrice) AS DECIMAL(25,13)) AS GrossPriceTotal,
		CAST(SUM(SalesOrderPosition.TotalNetPrice) AS DECIMAL(25,13)) AS NetPriceTotal,
		CAST(SUM(CASE WHEN SalesOrderPosition.PositionType = 'ShippingPosition'
				THEN SalesOrderPosition.TotalGrossPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS GrossPriceShippingPositionTotal,
		CAST(SUM(CASE WHEN SalesOrderPosition.PositionType = 'ShippingPosition'
				THEN SalesOrderPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS NetPriceShippingPositionTotal,
		CAST(SUM(CASE WHEN SalesOrderPosition.PositionType = 'ShippingPosition'
				THEN SalesOrderPosition.TotalGrossPrice
				ELSE 0.0
			END -
			CASE WHEN SalesOrderPosition.PositionType = 'ShippingPosition'
				THEN SalesOrderPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS ShippingCostsVAT,
		CAST(SUM(SalesOrderPosition.DiscountValue) AS DECIMAL(25,13)) AS DiscountValueTotal,
		CAST(SUM(CASE WHEN SalesOrderPosition.PositionType = 'CODCharge'
				THEN SalesOrderPosition.TotalGrossPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS GrossPriceCODChargeTotal
	FROM Verkauf.vAuftrag AS SalesOrder
	JOIN Report.SalesOrderPosition ON SalesOrderPosition.SalesOrderInternalId = SalesOrder.kAuftrag
	GROUP BY SalesOrderPosition.VATRate, SalesOrder.kAuftrag
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesOrder.InternalId" type="reverseOnly" name="SalesOrder" DisplayName="SalesOrder">
  <reverse name="TotalsSalesOrder" DisplayName="TotalsSalesOrder" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'VATRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Summe der MwSt ' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'VATSum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtbruttopreis pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'GrossPriceTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'GesamtNettopreis pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'NetPriceTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis der Versandposition pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'GrossPriceShippingPositionTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis der Versandposition pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'NetPriceShippingPositionTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt der Versandkosten pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'ShippingCostsVAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtrabattbetrag pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'DiscountValueTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis der Nachnahmegebühr pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder', @level2type=N'COLUMN',@level2name=N'GrossPriceCODChargeTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsSalesOrder'
GO
