USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoicePosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoicePosition]
AS
(
	SELECT 
		InvoicePosition.kRechnungPosition AS InternalId,		
		InvoicePosition.kRechnung AS InvoiceInternalId,
		InvoicePosition.cArtNr AS SKU,
		InvoicePosition.cName AS [Name],
		InvoicePosition.cEinheit AS Unit,
		vRechnungPositionText.cHinweis AS Note,
		tSteuerschluessel.cErloeskonto AS RevenueAccount,
		ifItemDescription.Name AS ItemName, 
		ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
		ifItemDescription.DescriptionBrief AS ItemDescriptionBrief,
		InvoicePosition.fAnzahl AS Quantity,
		InvoicePosition.fMwSt AS VATRate,
		InvoicePosition.fEKNetto AS PurchaseNetPrice,
		CAST(InvoicePosition.fVKNetto * CAST(1.0 + CAST(InvoicePosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13))
			AS DECIMAL(25,13)) AS GrossPricePerUnit,
		InvoicePosition.fVKNetto AS NetPricePerUnit,
		tRechnungPositionEckdaten.fVKBruttoGesamt AS TotalGrossPrice,
		tRechnungPositionEckdaten.fVKNettoGesamt AS TotalNetPrice,
		tRechnungPositionEckdaten.fMwStBetrag AS VATValue,
		tRechnungPositionEckdaten.fRabattbetrag AS DiscountValue,
		InvoicePosition.fRabatt AS DiscountRate,
		CASE
			WHEN InvoicePosition.nType = 1 THEN 'Item'
			WHEN InvoicePosition.nType = 2 THEN 'ShippingPosition'
			WHEN InvoicePosition.nType = 3 THEN 'Coupon'
			WHEN InvoicePosition.nType = 4 THEN 'Voucher'
			WHEN InvoicePosition.nType = 5 THEN 'PaymentMethod'
			WHEN InvoicePosition.nType = 6 THEN 'ShippingSurcharge'
			WHEN InvoicePosition.nType = 7 THEN 'NewCustomersCoupon'
			WHEN InvoicePosition.nType = 8 THEN 'CODCharge'
			WHEN InvoicePosition.nType = 9 THEN 'ItemShippingSurcharge'
			WHEN InvoicePosition.nType = 10 THEN 'Packaging'
			WHEN InvoicePosition.nType = 11 THEN 'GiftForFree'
			WHEN InvoicePosition.nType = 12 THEN 'TrustedShopsFee'
			WHEN InvoicePosition.nType = 13 THEN 'TaxSurcharge'
			WHEN InvoicePosition.nType = 14 THEN 'ProcessingFee'
			WHEN InvoicePosition.nType = 15 THEN 'Cardboard'
			WHEN InvoicePosition.nType = 16 THEN 'Return'
			WHEN InvoicePosition.nType = 17 THEN 'MultiPurposeVoucher'
			WHEN InvoicePosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
			WHEN InvoicePosition.nType = 19 THEN 'SinglePurposeVoucher'
			WHEN InvoicePosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
			WHEN InvoicePosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
			ELSE ''
		END AS PositionType,
		CASE
			WHEN InvoicePosition.kKonfigVaterRechnungPos IS NOT NULL AND InvoicePosition.kKonfigVaterRechnungPos != 0 AND vAuftragPosition.kKonfigitem != 0 
				THEN 'Component'
			WHEN InvoicePosition.kKonfigVaterRechnungPos IS NOT NULL AND InvoicePosition.kKonfigVaterRechnungPos != 0 AND vAuftragPosition.kKonfigitem = 0
				THEN 'Father'
			ELSE 'None'
		END AS ConfiguratorPosition,
		CASE
			WHEN ISNULL(InvoicePosition.kStuecklisteRechnungPos, 0) > 0 AND ISNULL(InvoicePosition.kStuecklisteRechnungPos, 0) = InvoicePosition.kRechnungPosition
				THEN 'Father'
			WHEN ISNULL(InvoicePosition.kStuecklisteRechnungPos, 0) > 0 AND ISNULL(InvoicePosition.kStuecklisteRechnungPos, 0) <> InvoicePosition.kRechnungPosition
				THEN 'Component'
			ELSE 'None'
		END AS BillOfMaterialsPosition,
		vAuftragPosition.kKonfigitem AS ConfigurationItemInternalId,
		CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
		CAST(InvoicePosition.fAnzahl * 
			CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS TotalWeight,
		CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13))AS IndividualShippingWeight,
		CAST(InvoicePosition.fAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS TotalShippingWeight,
		InvoicePosition.nSort AS Sorting,
		InvoicePosition.kStuecklisteRechnungPos AS BillOfMaterialsPositionParentId,
		ISNULL(ConfiguratorItem.kRechnungPosition, 0) AS ConfiguratorPositionParentId,
		Product.cBarcode AS EAN,
		Product.kArtikel AS ProductInternalId,
		AmazonSalesOrderPosition.nCustom AS IsAmazonCustomPosition,
		AmazonSalesOrderPosition.cCustomJson AS AmazonCustomJSON,
		Product.cTaric AS TARIC,
		Product.cHerkunftsland AS OriginCountry,
		Condition.cName AS Condition
	FROM Rechnung.vRechnung
	JOIN Rechnung.vRechnungPosition AS InvoicePosition ON InvoicePosition.kRechnung = vRechnung.kRechnung
	LEFT JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = InvoicePosition.kSteuerschluessel
	LEFT JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = InvoicePosition.kRechnungPosition
	LEFT JOIN Rechnung.vRechnungPositionText ON vRechnungPositionText.kRechnungPosition = InvoicePosition.kRechnungPosition
	LEFT JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = InvoicePosition.kAuftragPosition
	LEFT JOIN Rechnung.vRechnungPosition AS ParentOrderPosition ON ParentOrderPosition.kRechnungPosition = InvoicePosition.kStuecklisteRechnungPos
	LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
	LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
			AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut 
	LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut 
			AND ItemAttributeLanguage.kSprache = 0
	LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = InvoicePosition.kArtikel
	LEFT JOIN 
	(
		SELECT tRechnungPositionEigenschaft.kRechnungPosition, 
			CAST(SUM(ISNULL(tRechnungPositionEigenschaft.fZusatzgewicht, 0.0)) AS DECIMAL(25,13)) AS GewichtSumme
		FROM Rechnung.tRechnungPositionEigenschaft
		GROUP BY tRechnungPositionEigenschaft.kRechnungPosition
	) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kRechnungPosition = InvoicePosition.kRechnungPosition
	LEFT JOIN (SELECT DISTINCT vRechnungPosition.kRechnungPosition, vRechnungPosition.kKonfigVaterRechnungPos, vRechnungPosition.kRechnung, vAuftragPosition.kKonfigitem
			   FROM Rechnung.vRechnungPosition
			   JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = vRechnungPosition.kAuftragPosition) AS ConfiguratorItem 
		ON ConfiguratorItem.kKonfigVaterRechnungPos = InvoicePosition.kKonfigVaterRechnungPos 
			AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVaterRechnungPos IS NOT NULL AND ConfiguratorItem.kKonfigVaterRechnungPos != 0
			AND ConfiguratorItem.kRechnung = vRechnung.kRechnung
	LEFT JOIN (SELECT DISTINCT vRechnungPosition.kRechnung, vAuftrag.kPlattform, vAuftrag.kShop
			   FROM Rechnung.vRechnungPosition
			   JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vRechnungPosition.kAuftrag) Auftrag ON Auftrag.kRechnung = vRechnung.kRechnung
	LEFT JOIN dbo.pf_amazon_bestellungpos AS AmazonSalesOrderPosition 
		ON AmazonSalesOrderPosition.kAmazonBestellungPos = vAuftragPosition.kAmazonBestellungPos
	OUTER APPLY Report.ifItemDescription(InvoicePosition.kArtikel, vRechnung.kSprache, Auftrag.kPlattform, Auftrag.kShop)
	LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
		AND Condition.kSprache = vRechnung.kSprache
	WHERE InvoicePosition.nType != 15 AND --Karton
		CASE
			WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = '' 
					AND InvoicePosition.kStuecklisteRechnungPos != InvoicePosition.kRechnungPosition 
					AND InvoicePosition.kStuecklisteRechnungPos != 0
				THEN 0
			WHEN InvoicePosition.kStuecklisteRechnungPos != InvoicePosition.kRechnungPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
				THEN 0
			WHEN InvoicePosition.kStuecklisteRechnungPos = InvoicePosition.kRechnungPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten' 
				THEN 0
			ELSE 1
		END = 1
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Invoice.InternalId" type="reverseOnly" name="Invoice" DisplayName="Invoice">
  <reverse name="InvoicePosition" DisplayName="InvoicePosition" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'InvoiceInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Invoice.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'InvoiceInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Rechnung zur Rechnungsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'InvoiceInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Artikelnummer zu der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'SKU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Text zur Artikelposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einheit des Artikels der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'Unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis zur Rechnungsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erlöskonto zur Rechnungsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'RevenueAccount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lange Artikelbeschreibung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionDetailed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kurze Artikelbeschreibung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionBrief'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anzahl pro Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt Satz in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'VATRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Netto Einkaufspreis der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'PurchaseNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelbruttopreis der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'GrossPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelnettopreis der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'NetPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtbruttopreis über die Anzahl in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtnettopreis über die Anzahl in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Betrag der MwSt' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'VATValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Betrag des Rabatts' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'DiscountValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rabatt in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'DiscountRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt den Positionstyp an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'PositionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt den Typ der Konfiguratorposition an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Stücklistenposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Konfigurationsartikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'ConfigurationItemInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelgewicht des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'IndividualWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtgewicht der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'TotalWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelversandgewicht des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'IndividualShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtversandgewicht der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'TotalShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt die Sortierung der Positionen an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'Sorting'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Vaterartikel-ID des Stücklistenangebots der Rechnungskorrekturposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Vaterartikel-ID des Konfigurationsangebots derRechnungskorrekturposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Internationale Artikelnummer der Rechnungskorrekturposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'EAN'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Product.InternalId" name="Product" DisplayName="Product" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoicePosition'
GO
