USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesQuotationBillToAddress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesQuotationBillToAddress]
AS
(
	SELECT
		InvoiceAdress.kAuftrag AS SalesQuotationInternalId,
		InvoiceAdress.kKunde AS CustomerInternalId,
		ISNULL(InvoiceAdress.cFirma, '') AS Company,
		ISNULL(InvoiceAdress.cAnrede, '') AS Salutation,
		ISNULL(InvoiceAdress.cTitel, '') AS Title,
		ISNULL(InvoiceAdress.cVorname, '') AS FirstName,
		ISNULL(InvoiceAdress.cName, '') AS LastName,
		ISNULL(InvoiceAdress.cStrasse, '') AS [Address],
		ISNULL(InvoiceAdress.cPLZ, '') AS PostalCode,
		ISNULL(InvoiceAdress.cOrt, '') AS City,
		ISNULL(InvoiceAdress.cLand, '') AS Country,
		ISNULL(InvoiceAdress.cTel, '') AS Phone,
		ISNULL(InvoiceAdress.cZusatz, '') AS CompanySupplement,
		ISNULL(InvoiceAdress.cAdressZusatz, '') AS AddressSupplement,
		ISNULL(InvoiceAdress.cMobil, '') AS MobilePhone,
		ISNULL(InvoiceAdress.cMail, '') AS EmailAddress,
		ISNULL(InvoiceAdress.cFax, '') AS Fax,
		ISNULL(InvoiceAdress.cBundesland, '') AS [State],
		ISNULL(InvoiceAdress.cISO, '') AS CountryISO,
		ISNULL(tkunde.cKundenNr, '') AS CustomerNumber,
		ISNULL(SalesOrder.cKundeUstId, '') AS ValueAddedTaxId
	FROM Verkauf.vAuftragRechnungsadresse AS InvoiceAdress
	JOIN Verkauf.tAuftrag AS SalesOrder ON SalesOrder.kAuftrag = InvoiceAdress.kAuftrag
	LEFT JOIN dbo.tkunde ON tkunde.kKunde = InvoiceAdress.kKunde
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesQuotation.InternalId" type="reverseOnly" style="1to1" name="SalesQuotation" DisplayName="SalesQuotation">
  <reverse name="SalesQuotationBillToAddress" DisplayName="SalesQuotationBillToAddress" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationBillToAddress', @level2type=N'COLUMN',@level2name=N'SalesQuotationInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationBillToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationBillToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationBillToAddress'
GO
