USE [eazybusiness]
GO
/****** Object:  View [Report].[Platform]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Platform]
AS
(
	SELECT 
		ISNULL(tPlattform.nPlattform, 0) AS InternalId, 
		tPlattform.cName AS [Name],
		CASE 
			WHEN tPlattform.nTyp = 5
				THEN EbayFallback.nPlattform 
			WHEN tPlattform.nTyp = 6
				THEN AmazonFallback.nPlattform
		END AS Fallback,
		0 AS ShopId,
		tPlattform.nTyp AS Sort
	FROM dbo.tPlattform
	LEFT JOIN
	(
		SELECT TOP(1) tPlattform.nPlattform, tPlattform.nTyp FROM dbo.tPlattform
		WHERE tPlattform.nTyp = 5 AND tPlattform.cID = 'eBay'
		ORDER BY tPlattform.nPlattform
	) AS EbayFallback ON EbayFallback.nTyp = tPlattform.nTyp 
		AND EbayFallback.nPlattform != tPlattform.nPlattform
	LEFT JOIN
	(
		SELECT TOP(1) 50 AS nPlattform, tPlattform.nTyp FROM dbo.tPlattform
		WHERE tPlattform.nTyp = 6 AND tPlattform.cID = 'Amazon.de'
		ORDER BY tPlattform.nPlattform
	) AS AmazonFallback ON AmazonFallback.nTyp = tPlattform.nTyp
		AND AmazonFallback.nPlattform != tPlattform.nPlattform
	UNION
	SELECT 
		ISNULL(tShop.kShop + 200000, 0) AS InternalId, 
		tShop.cName AS [Name],
		ShopFallback.nPlattform AS Fallback,
		tShop.kShop AS ShopId,
		ShopFallback.nTyp AS Sort
	FROM dbo.tShop
	CROSS JOIN
	(
		SELECT TOP(1) tPlattform.nPlattform, tPlattform.nTyp FROM dbo.tPlattform
		WHERE tPlattform.nTyp = 2 AND tPlattform.cID = 'Webshop'
		ORDER BY tPlattform.nPlattform
	) AS ShopFallback 
	UNION
	SELECT
		ISNULL(50, 0) AS InternalId,
		'Amazon' AS [Name],
		NULL AS Fallback,
		0 AS ShopId,
		6 AS Sort
)
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Platform'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Platform'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Platform'
GO
