USE [eazybusiness]
GO
/****** Object:  Table [Report].[tVorlagensetEinstellung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Report].[tVorlagensetEinstellung](
	[kVorlagensetEinstellung] [int] IDENTITY(1,1) NOT NULL,
	[kVorlagenset] [int] NOT NULL,
	[cRechnername] [nvarchar](255) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cDruckername1] [nvarchar](255) NULL,
	[nKopien1] [int] NULL,
	[cDruckername2] [nvarchar](255) NULL,
	[nKopien2] [int] NULL,
	[cFaxname] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Report_tVorlagensetEinstellung] PRIMARY KEY CLUSTERED 
(
	[kVorlagensetEinstellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Report_tVorlagensetEinstellung_cRechnername_kBenutzer_kVorlagenset] UNIQUE NONCLUSTERED 
(
	[cRechnername] ASC,
	[kBenutzer] ASC,
	[kVorlagenset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Report].[tVorlagensetEinstellung]  WITH CHECK ADD  CONSTRAINT [FK_Report_tVorlagensetEinstellung_kVorlagenset] FOREIGN KEY([kVorlagenset])
REFERENCES [Report].[tVorlagenset] ([kVorlagenset])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Report].[tVorlagensetEinstellung] CHECK CONSTRAINT [FK_Report_tVorlagensetEinstellung_kVorlagenset]
GO
