USE [eazybusiness]
GO
/****** Object:  View [Report].[PurchaseOrderShipToAddress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PurchaseOrderShipToAddress]
AS
(
	SELECT 
		PurchaseOrderShipToAddress.kLieferantenBestellungLA AS InternalId,
        ISNULL(PurchaseOrderShipToAddress.cFirma, '') AS Company,
        ISNULL(PurchaseOrderShipToAddress.cFirmenZusatz, '') AS CompanySupplement,
        ISNULL(PurchaseOrderShipToAddress.cAnrede, '') AS Salutation,
        ISNULL(PurchaseOrderShipToAddress.cTitel, '') AS Title,
        ISNULL(PurchaseOrderShipToAddress.cVorname, '') AS FirstName,
        ISNULL(PurchaseOrderShipToAddress.cNachname, '') AS LastName,
        ISNULL(PurchaseOrderShipToAddress.cStrasse, '') AS [Address],
        ISNULL(PurchaseOrderShipToAddress.cAdresszusatz, '') AS AddressSupplement,
        ISNULL(PurchaseOrderShipToAddress.cPLZ, '') AS PostalCode,
        ISNULL(PurchaseOrderShipToAddress.cOrt, '') AS City,
        ISNULL(PurchaseOrderShipToAddress.cBundesland, '') AS [State],
        ISNULL(PurchaseOrderShipToAddress.cLandISO, '') AS CountryISO,
        ISNULL(PurchaseOrderShipToAddress.cTel, '') AS Phone,
        ISNULL(PurchaseOrderShipToAddress.cFax, '') AS Fax,
        ISNULL(PurchaseOrderShipToAddress.cMobil, '') AS MobilePhone,
        ISNULL(PurchaseOrderShipToAddress.cMail, '') AS EmailAddress
	FROM dbo.tLieferantenBestellungLA AS PurchaseOrderShipToAddress
)
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderShipToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderShipToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderShipToAddress'
GO
