USE [eazybusiness]
GO
/****** Object:  View [Report].[CustomerAttribute]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[CustomerAttribute]
AS
(
	SELECT 
		CustomerAttribute.kKundeEigenesFeld AS InternalId,
		CustomerAttribute.kKunde AS CustomerInternalId,
		AttributeLanguage.cName AS AttributeName,
		CustomerAttribute.cWertVarchar AS AttributeValue,
		Attribute.cBeschreibung AS AttributeDescription,
	    AttributeLanguage.kSprache AS LanguageInternalId
	FROM Kunde.tKundeEigenesFeld AS CustomerAttribute
	JOIN dbo.tAttribut AS Attribute ON Attribute.kAttribut = CustomerAttribute.kAttribut
	JOIN dbo.tAttributSprache AS AttributeLanguage ON AttributeLanguage.kAttribut = CustomerAttribute.kAttribut
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" type="reverseOnly" name="Customer" DisplayName="Customer">
  <reverse name="CustomerAttribute" DisplayName="CustomerAttribute" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerAttribute', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Customer.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerAttribute', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerAttribute'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerAttribute'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerAttribute'
GO
