USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoiceCorrection]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoiceCorrection]
AS
(
	SELECT
		InvoiceAdjustment.kGutschrift AS InternalId,
		InvoiceAdjustment.kRechnung AS InvoiceInternalId,
		InvoiceAdjustment.kKunde AS CustomerInternalId,
		InvoiceAdjustment.cGutschriftNr AS InvoiceCorrectionNumber,
		InvoiceAdjustment.dDruckdatum AS PrintingDate,
		InvoiceAdjustment.dMaildatum AS MailingDate,
		InvoiceAdjustment.cKurzText AS ShortText,
		InvoiceAdjustment.cText AS [Text],
		InvoiceAdjustment.fPreis AS Price,
		CASE
			WHEN Settings.nRunden = 1
				THEN CAST(ROUND(CAST(AmountSum.BruttopreisGesamt / 0.05 AS DECIMAL(25,13)), 0) * 0.05 AS DECIMAL(25,13))
			ELSE AmountSum.BruttopreisGesamt
		END AS TotalGrossPrice,
		AmountSum.NettopreisGesamt AS TotalNetPrice,
		InvoiceAdjustment.cWaehrung AS CurrencyISO,
		InvoiceAdjustment.fFaktor AS CurrencyFactor,
		InvoiceAdjustment.kFirma AS CompanyInternalId,
		InvoiceAdjustment.kSprache AS LanguageInternalId,
		InvoiceAdjustment.kBenutzer AS UserInternalId,
		InvoiceAdjustment.cStatus AS [Status],
		InvoiceAdjustment.kPlattform AS PlatformInternalId,
		InvoiceAdjustment.cVersandlandWaehrung AS ShipFromCountryCurrencyISO,
		InvoiceAdjustment.fVersandlandWaehrungFaktor AS ShipFromCountryCurrencyFactor,
		ISNULL(Invoice.cRechnungsNr, '') AS InvoiceNumber,
		InvoiceAdjustment.dErstellt AS CreationDate,
		tKundenDrucktextSprache.cGutschrifttext AS InvoiceCorrectionText,
		'InvoiceCorrection ' + InvoiceAdjustment.cGutschriftNr AS OperationId,
		ISNULL(Languages.cISO2, '') AS LanguageISO,
		CASE
			WHEN Invoice.nSteuereinstellung = 10
				THEN 'IGL'
			WHEN Invoice.nSteuereinstellung = 15
				THEN 'ReverseCharge'
			WHEN Invoice.nSteuereinstellung = 20
				THEN 'ExemptFromVATnotEU'
			ELSE ''
		END AS ExemptFromVAT,
		ISNULL(Invoice.cVersandlandISO, '') AS ShipFromCountryISO,
		ISNULL(Invoice.cVersandlandWaehrung, InvoiceAdjustment.cVersandlandWaehrung) AS TaxCountryCurrencyISO,
		ISNULL(Invoice.fVersandlandWaehrungsfaktor, InvoiceAdjustment.fVersandlandWaehrungFaktor)  AS TaxCountryCurrencyFactor,
		ISNULL(Invoice.cVersandlandISO, '') AS TaxCountryISO,
		'' AS CountryISO,
		CASE
			WHEN CustomerGroup.nNettoPreise = 1
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS UseNetPrice,
		ISNULL(Invoice.cUstId, tFirmaUStIdNr.cUStId) AS ValueAddedTaxId,
		CASE WHEN ISNULL(InvoiceAdjustment.cGutschriftNr, '') = ''
			THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsProforma,
		SalesOrderNumbers.SalesOrderNumbers,
		ISNULL(ExternalSalesOrderNumbers.ExternalSalesOrderNumbers, Invoice.cExterneAuftragsnummer) AS ExternalSalesOrderNumbers,
		InvoiceAdjustment.nStorno AS IsCanceled,
		InvoiceAdjustment.nIstExtern AS IsExternal,
		CASE 
			WHEN InvoiceAdjustment.nStornoTyp = 0 AND ISNULL(InvoiceAdjustment.kRechnung, 0) > 0 THEN 'InvoiceCorrection' --Rechnungskorrektur
			WHEN InvoiceAdjustment.nStornoTyp = 0 AND ISNULL(InvoiceAdjustment.kRechnung, 0) = 0 THEN 'Credit' --Gutschrift
			WHEN InvoiceAdjustment.nStornoTyp = 1 AND ISNULL(InvoiceAdjustment.kRechnung, 0) > 0 THEN 'CancellationInvoice' --Stornorechnung
			WHEN InvoiceAdjustment.nStornoTyp = 2 AND ISNULL(InvoiceAdjustment.kRechnung, 0) > 0 THEN 'CancellationOfInvoiceCorrection' --Stornorechnungskorrektur
			WHEN InvoiceAdjustment.nStornoTyp = 2 AND ISNULL(InvoiceAdjustment.kRechnung, 0) = 0 THEN 'CancellationCredit' --Stornogutschrift
		END AS CancellationType,
		ISNULL(Invoice.dValutadatum, Invoice.dErstellt) AS InvoiceValutaDate,
		ISNULL(CanceledInvoiceAdjustment.cGutschriftNr, '') AS CanceledInvoiceCorrectionNumber,
		ISNULL(CanceledInvoiceAdjustment.dErstellt, '') AS CanceledInvoiceCorrectionCreationDate,
		ISNULL(Invoice.cEbayUsername, '') AS EbayUserName,
		SalesOrder.kAuftrag AS SalesOrderInternalId,
		ISNULL(Invoice.dLeistungsdatum, SalesOrder.dVoraussichtlichesLieferdatum) AS ServiceDate,
		ISNULL(DepartureCountry.cNameEng, ISNULL(DepartureCountry.cName, '')) AS DepartureCountry
	FROM dbo.tgutschrift AS InvoiceAdjustment
	CROSS JOIN dbo.teinstellungen AS Settings
	JOIN dbo.tfirma ON tfirma.kFirma = InvoiceAdjustment.kFirma
	LEFT JOIN dbo.tFirmaUStIdNr ON tFirmaUStIdNr.kFirma = tfirma.kFirma
		AND tFirmaUStIdNr.cLandISO = tfirma.cLandISO
	LEFT JOIN Rechnung.vRechnung AS Invoice ON Invoice.kRechnung = InvoiceAdjustment.kRechnung
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = InvoiceAdjustment.kKunde
	LEFT JOIN dbo.tKundenGruppe AS CustomerGroup ON CustomerGroup.kKundenGruppe = Customer.kKundenGruppe
	LEFT JOIN dbo.tKundenDrucktextSprache ON tKundenDrucktextSprache.kSprache = InvoiceAdjustment.kSprache
		AND tKundenDrucktextSprache.kKundenDrucktext = Customer.kKundenDrucktext
	LEFT JOIN
	(
		SELECT TotalsInvoiceCorrection.InvoiceCorrectionInternalId,
			CAST(SUM(TotalsInvoiceCorrection.GrossPriceTotal) AS DECIMAL(25,13)) AS BruttopreisGesamt,
			CAST(SUM(TotalsInvoiceCorrection.NetPriceTotal) AS DECIMAL(25,13)) AS NettopreisGesamt,
			CAST(SUM(TotalsInvoiceCorrection.VATSum) AS DECIMAL(25,13)) AS MwStGesamt
		FROM Report.TotalsInvoiceCorrection
		GROUP BY TotalsInvoiceCorrection.InvoiceCorrectionInternalId
	) AS AmountSum ON AmountSum.InvoiceCorrectionInternalId = InvoiceAdjustment.kGutschrift
	LEFT JOIN dbo.tSpracheUsed AS UsedLanguage ON UsedLanguage.kSprache = InvoiceAdjustment.kSprache
	LEFT JOIN dbo.tSprachen AS Languages ON Languages.cISO = UsedLanguage.cISO
	OUTER APPLY
	(
		SELECT STUFF((SELECT ',' + tAuftrag.cAuftragsNr
		FROM Verkauf.tAuftragRechnung
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
		WHERE tAuftragRechnung.kRechnung = Invoice.kRechnung
		FOR XML PATH('')), 1, 1, '') AS SalesOrderNumbers
	) AS SalesOrderNumbers
	OUTER APPLY
	(
		SELECT STUFF((SELECT ',' + tAuftrag.cExterneAuftragsnummer
		FROM Verkauf.tAuftragRechnung
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
		WHERE tAuftragRechnung.kRechnung = Invoice.kRechnung
		FOR XML PATH('')), 1, 1, '') AS ExternalSalesOrderNumbers
	) AS ExternalSalesOrderNumbers
	LEFT JOIN dbo.tGutschriftStorno ON InvoiceAdjustment.kGutschrift = tGutschriftStorno.kStornoGutschrift 
	LEFT JOIN dbo.tgutschrift AS CanceledInvoiceAdjustment ON CanceledInvoiceAdjustment.kGutschrift = tGutschriftStorno.kGutschrift
	LEFT JOIN 
	(
		SELECT	tAuftragRechnung.kRechnung,
				MIN(tAuftragRechnung.kAuftrag) AS kAuftrag		
		FROM Verkauf.tAuftragRechnung		
		GROUP BY tAuftragRechnung.kRechnung
	) AS SalesOrderReference ON SalesOrderReference.kRechnung = Invoice.kRechnung
	LEFT JOIN Verkauf.vAuftrag AS SalesOrder ON SalesOrderReference.kAuftrag = SalesOrder.kAuftrag
	LEFT JOIN dbo.tland AS DepartureCountry ON DepartureCountry.cISO = Invoice.cVersandlandISO
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Rechnung zur Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'InvoiceInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" name="Customer" DisplayName="Customer" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'InvoiceCorrectionNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Druckdatum der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'PrintingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Maildatum der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'MailingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kurzer Drucktext zur Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'ShortText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drucktext zur Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'Text'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Preis der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtbruttopreis der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtnettopreis der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währungsangabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'CurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faktor zur Umrechnung der Währung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'CurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Sprache' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'LanguageInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Benutzers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Plattform' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'PlatformInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Versandlandwährung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'ShipFromCountryCurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faktor zur Umrechnung der Versandlandwährung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'ShipFromCountryCurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'InvoiceNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstelldatum der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Text zur Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'InvoiceCorrectionText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vargangs-ID der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'OperationId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Sprache der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'LanguageISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Art der Steuerbefreiung in der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'ExemptFromVAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO des Versandlandes der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'ShipFromCountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währung des Steuerlandes der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'TaxCountryCurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Währungsfaktor des Steuerlandes der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'TaxCountryCurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Steuerlandes der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'TaxCountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Ziellandes der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'CountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis benutzen (Kundengruppe)' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'UseNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Umsatzsteuer-ID der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'ValueAddedTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'ReportInvisible', @value=N'true' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection', @level2type=N'COLUMN',@level2name=N'IsExternal'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrection'
GO
