USE [eazybusiness]
GO
/****** Object:  View [Report].[DunningInvoicePayments]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[DunningInvoicePayments]
AS
(
	SELECT 
		Payment.kZahlung AS InternalId,
		vRechnung.kRechnung AS InvoiceInternalId,
		Payment.cExternalTransactionId AS ExternalTransactionId,
		Payment.cHinweis AS Note,
		Payment.cName AS [Name],
		Payment.fBetrag AS [Value],
		Payment.dDatum AS PaymentDate,
		CASE 
			WHEN Payment.nZahlungstyp = 0
				THEN 'Payment'
			WHEN Payment.nZahlungstyp = 1
				THEN 'Dunning'
			WHEN Payment.nZahlungstyp = 2
				THEN 'CashDiscount'
			WHEN Payment.nZahlungstyp = 3
				THEN 'Voucher'
			ELSE ''
			END AS PaymentType,
		CASE 
			WHEN vRechnung.kSprache > 0
				THEN CASE 
						WHEN PaymentMethodsLanguage.cName IS NULL
							OR PaymentMethodsLanguage.cName = ''
							THEN Payment.cName
						ELSE PaymentMethodsLanguage.cName
						END
			ELSE CASE 
					WHEN PaymentMethodsLanguageStandard.cName IS NULL
						OR PaymentMethodsLanguageStandard.cName = ''
						THEN Payment.cName
					ELSE PaymentMethodsLanguage.cName
					END
			END AS PaymentMethod,
		Payment.cSKRManuell AS StandardChartOfAccountsManual
	FROM dbo.tZahlung AS Payment
	LEFT JOIN Rechnung.vRechnung ON vRechnung.kRechnung = Payment.kRechnung
	LEFT JOIN dbo.tSpracheUsed AS LanguageUsed ON LanguageUsed.nStandard = 1
	LEFT JOIN dbo.tZahlungsArtSprache AS PaymentMethodsLanguage ON PaymentMethodsLanguage.kZahlungsart = Payment.kZahlungsart
		AND PaymentMethodsLanguage.kSprache = vRechnung.kSprache
	LEFT JOIN dbo.tZahlungsArtSprache AS PaymentMethodsLanguageStandard ON PaymentMethodsLanguageStandard.kZahlungsart = Payment.kZahlungsart
		AND PaymentMethodsLanguageStandard.kSprache = LanguageUsed.kSprache
)
GO
