USE [eazybusiness]
GO
/****** Object:  View [Report].[PurchaseOrderSupplier]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PurchaseOrderSupplier]
AS
(
	SELECT PurchaseOrderSupplier.kLieferantenBestellungLieferant AS InternalId,
           PurchaseOrderSupplier.kLieferant AS SupplierInternalId,
           PurchaseOrderSupplier.cFirma AS Company,
           PurchaseOrderSupplier.cFirmenZusatz AS FirmenSupplement,
           PurchaseOrderSupplier.cStrasse AS [Address],
           PurchaseOrderSupplier.cAdresszusatz AS AddressSupplement,
           PurchaseOrderSupplier.cPLZ AS PostalCode,
           PurchaseOrderSupplier.cOrt AS City,
           PurchaseOrderSupplier.cBundesland AS [State],
           PurchaseOrderSupplier.cLandISO AS CountryISO,
           PurchaseOrderSupplier.cTel AS Phone,
           PurchaseOrderSupplier.cFax AS Fax,
           PurchaseOrderSupplier.cMobil AS MobilePhone,
           PurchaseOrderSupplier.cMail AS EmailAddress,
           PurchaseOrderSupplier.cAnsprechpartnerAnrede AS ContactSalutation,
           PurchaseOrderSupplier.cAnsprechpartnerVorname AS ContactFirstName,
           PurchaseOrderSupplier.cAnsprechpartnerName AS ContactLastName
	FROM dbo.tLieferantenBestellungLieferant AS PurchaseOrderSupplier
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Lieferanten der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Supplier.InternalId" name="Supplier" DisplayName="Supplier" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'SupplierInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Supplier.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'SupplierInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'SupplierInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Firmenname' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'Company'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Firmenzusatz des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'FirmenSupplement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Strasse des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Adresszusatz des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'AddressSupplement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PLZ des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'PostalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ort des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'City'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bundesland des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Landes' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'CountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefonnummer des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faxnummer des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'Fax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mobilnumme des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'MobilePhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Emailadresse des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'EmailAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anrede des Ansprechpartners beim Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'ContactSalutation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vorname des Ansprechpartners beim Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'ContactFirstName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nachname des Ansprechpartners beim Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier', @level2type=N'COLUMN',@level2name=N'ContactLastName'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderSupplier'
GO
