USE [eazybusiness]
GO
/****** Object:  View [Report].[PickListPositionOrder]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PickListPositionOrder]
AS
(
	SELECT 
		ISNULL(MIN(PicklistPosition.kPicklistePos), 0) AS InternalId,
		PicklistPosition.kPickliste AS PickListInternalId,
		PicklistPosition.kWarenLager AS WarehouseInternalId,
		MIN(PicklistPosition.kWarenLagerEingang) AS GoodsReceiptInternalId,
		CASE 
			WHEN MIN(SerialnumberProduct.kLagerArtikel) IS NULL	
				THEN SUM(PicklistPosition.fAnzahl) 
			ELSE 1
		END AS Quantity,
		ISNULL(PicklistPosition.kBestellPos, 0) AS SalesOrderPositionInternalId,
		MIN(PicklistPosition.kPicklistePosStatus) AS PickListPositionStatusInternalId,
		PicklistPosition.kArtikel AS ProductInternalId,
		PicklistPosition.kWarenlagerPlatz AS BinLocationInternalId,
		ISNULL(PicklistPosition.kBestellung, 0) AS SalesOrderInternalId,
		CASE
			WHEN MIN(PicklistPosition.nStatus) = 5
				THEN 'Pending'
			WHEN MIN(PicklistPosition.nStatus) = 10
				THEN 'Created'
			WHEN MIN(PicklistPosition.nStatus) = 20
				THEN 'Picked'
			WHEN MIN(PicklistPosition.nStatus) = 30 
				THEN 'InBox'
			WHEN MIN(PicklistPosition.nStatus) = 40
				THEN 'Closed'
		END AS [Status],
		CASE 
			WHEN Warehouse.nLagerplatzVerwaltung > 0 
				THEN WarehousePlace.cName
			WHEN ISNULL(BinLocation.cKommentar_2, '') = '' 
				THEN BinLocation.cKommentar_1
			ELSE ISNULL(BinLocation.cKommentar_1, '') + ', ' + BinLocation.cKommentar_2
		END AS BinLocationName,
		SalesOrderPosition.cArtNr AS SKU,
		SalesOrderPosition.cName AS [Name],
		MIN(SerialnumberProduct.kLagerArtikel) AS SerialnumberInternalId,
		MIN(SerialnumberProduct.cSeriennr) AS Serialnumber,
		GoodsReceipt.dMHD AS SLED,
		ISNULL(GoodsReceipt.cChargenNr, '') AS Batchnumber,
		MIN(Product.cBarcode) AS EAN,
		ISNULL(MIN(WarehousePlace.nSort), 0) AS BinLocationSortNumber,
		ISNULL(MAX(WarehousePlace.nPrio), 0) AS BinLocationPrioNumber
	FROM dbo.tPicklistePos AS PicklistPosition
	LEFT JOIN dbo.tLagerArtikel AS SerialnumberProduct 
		ON SerialnumberProduct.kPicklistePos = PicklistPosition.kPicklistePos
	LEFT JOIN dbo.tWarenLagerEingang  AS GoodsReceipt
		ON GoodsReceipt.kWarenLagerEingang = PicklistPosition.kWarenLagerEingang
	LEFT JOIN dbo.tWarenLagerPlatz AS WarehousePlace
		ON WarehousePlace.kWarenLagerPlatz = GoodsReceipt.kWarenLagerPlatz
	LEFT JOIN dbo.tWarenLager AS Warehouse
		ON Warehouse.kWarenLager = WarehousePlace.kWarenLager
	LEFT JOIN dbo.tWarenLagerPlatzArtikel AS BinLocation
		ON BinLocation.kWarenLagerPlatz = GoodsReceipt.kWarenLagerPlatz
			AND BinLocation.kArtikel = PicklistPosition.kArtikel
	JOIN Verkauf.vAuftragPosition AS SalesOrderPosition
		ON SalesOrderPosition.kAuftragPosition = PicklistPosition.kBestellPos
	LEFT JOIN Verkauf.vAuftragPosition AS ParentOrderPosition 
		ON ParentOrderPosition.kAuftragPosition = SalesOrderPosition.kAuftragStueckliste 
	LEFT JOIN dbo.tAttributSprache AS AttributeLanguage
		ON AttributeLanguage.cName = 'AusgabeAufLagerbelegen'
	LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute
		ON ItemAttribute.kArtikel = ISNULL(ParentOrderPosition.kArtikel, SalesOrderPosition.kArtikel) 
			AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut AND ItemAttribute.kShop = 0
	LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage 
		ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut 
			AND ItemAttributeLanguage.kSprache = 0
	LEFT JOIN dbo.tArtikel AS Product
		ON Product.kArtikel = PicklistPosition.kArtikel
	WHERE CASE
			WHEN SalesOrderPosition.kAuftragStueckliste != SalesOrderPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
				THEN 0
			WHEN SalesOrderPosition.kAuftragStueckliste = SalesOrderPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten' 
				THEN 0
			ELSE 1
		END = 1
	GROUP BY PicklistPosition.kPickliste, 
		PicklistPosition.kWarenLager, 
		PicklistPosition.kBestellPos,
		PicklistPosition.kArtikel, 
		PicklistPosition.kWarenlagerPlatz, 
		PicklistPosition.kBestellung,
		ISNULL(GoodsReceipt.cChargenNr, ''), 
		GoodsReceipt.dMHD, 
		WarehousePlace.kWarenLagerPlatzTyp, 
		WarehousePlace.cName,
		BinLocation.cKommentar_1, 
		BinLocation.cKommentar_2, 
		Warehouse.nLagerplatzVerwaltung,
		SalesOrderPosition.cArtNr,
		SalesOrderPosition.cName,
		SerialnumberProduct.kLagerArtikel
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.PickList.InternalId" type="reverseOnly" name="PickList" DisplayName="PickList">
  <reverse name="PickListPositionOrder" type="reverseOnly" DisplayName="PickListPositionOrder" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickListPositionOrder', @level2type=N'COLUMN',@level2name=N'PickListInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.PickListSalesOrder.InternalId" depth="2" name="PickListSalesOrder" DisplayName="PickListSalesOrder" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickListPositionOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickListPositionOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickListPositionOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickListPositionOrder'
GO
