USE [eazybusiness]
GO
/****** Object:  View [Report].[InventoryDifferenceList]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InventoryDifferenceList]
AS
(
	SELECT 
		CAST(SUM(InventoryDifferenceList.PurchaseNetPriceDifference) AS DECIMAL(25,13)) AS TotalPurchasePriceNet,
		CAST(SUM(InventoryDifferenceList.QuantityDifference) AS DECIMAL(25,13)) AS QuantityDifference,
		MIN(ISNULL(InventoryDifferenceList.FromDate, GETDATE())) AS FromDate,
		MAX(ISNULL(InventoryDifferenceList.ToDate, GETDATE())) AS ToDate	
	FROM
	(
		SELECT
			MIN(ItemHistory.dGebucht) AS FromDate,
			MAX(ItemHistory.dGebucht) AS ToDate,
			CAST(ROUND(CAST(SUM(ISNULL(ItemHistory.fAnzahl, 0.0)) AS DECIMAL(25,13)), 2) AS DECIMAL(25,13)) AS QuantityDifference,
			CAST(ROUND(ISNULL(Item.fEKNetto, 0.0) * 
				CAST(SUM(ISNULL(ItemHistory.fAnzahl, 0.0)) AS DECIMAL(25,13)), 2) AS DECIMAL(25,13)) AS PurchaseNetPriceDifference
		FROM dbo.tArtikelHistory AS ItemHistory
		JOIN dbo.tArtikel AS Item ON Item.kArtikel = ItemHistory.kArtikel
		WHERE ItemHistory.kBuchungsart = 100
		GROUP BY ISNULL(Item.fEKNetto, 0.0)
		HAVING SUM(ISNULL(ItemHistory.fAnzahl, 0.0)) <> 0.0
	) AS InventoryDifferenceList
)
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InventoryDifferenceList'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InventoryDifferenceList'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InventoryDifferenceList'
GO
