USE [eazybusiness]
GO
/****** Object:  View [Report].[Company]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Company]
AS
(
    SELECT
        Company.kFirma AS InternalId,
        Company.cName AS CompanyName,
        Company.cUnternehmer AS ManagingDirector,
        Company.cStrasse AS [Address],
        Company.cPLZ AS PostalCode,
        Company.cOrt AS City,
        Company.cLand AS Country,
        Company.cTel AS Phone,
        Company.cFax AS Fax,
        MailSetting.cAbsender AS Email,
        Company.cWWW AS WebsiteURL,
        Company.cBank AS BankName,
        Company.cSteuerNr AS FederalTaxId,
        Company.cIBAN AS IBAN,
        Company.cBIC AS BIC,
        Company.cKontoInhaber AS AccountHolder,
        Company.cLandISO AS CountryISO,
        CompanyVat.cUStId AS ValueAddedTaxId,
        Company.cGlaeubigerID AS CreditorId,
        Company.cPayPalEMail AS PayPalEMail,
        Company.cIntrashipKdNr AS IntrashipCustomerID
    FROM dbo.tfirma AS Company
    LEFT JOIN dbo.tEMailEinstellung AS MailSetting ON Company.kFirma = MailSetting.kFirma
    LEFT JOIN dbo.tFirmaUStIdNr AS CompanyVat ON CompanyVat.kFirma = Company.kFirma
        AND CompanyVat.cLandISO = Company.cLandISO  
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Firmen-ID der Tabelle tFirma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält den Firmennamen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'CompanyName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält den Unternehmer der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'ManagingDirector'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Strasse der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PLZ der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'PostalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ort der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'City'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Land der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'Country'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefonnummer der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faxnummer der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'Fax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E-Mail-Adresse der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'URL der Website der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'WebsiteURL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name der Bank des Firmenkontos' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'BankName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Steuernummer der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'FederalTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'IBAN des Firmenkontos' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'IBAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'BIC des Firmenkontos' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'BIC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Inhaber des Firmenkontos' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'AccountHolder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Firmenlandes' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'CountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'USt-IdNr. der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'ValueAddedTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gläubiger-ID' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'CreditorId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E-Mail-Adresse des PayPal-Kontos' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'PayPalEMail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Intraship-Customer ID' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company', @level2type=N'COLUMN',@level2name=N'IntrashipCustomerID'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Company'
GO
