USE [eazybusiness]
GO
/****** Object:  View [Report].[CustomerShipToAddress]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[CustomerShipToAddress]
AS
(
	SELECT 
		CustomerAdress.kAdresse AS InternalId,
		CustomerAdress.kKunde AS CustomerInternalId,
		ISNULL(CustomerAdress.cFirma, '') AS Company,
		ISNULL(CustomerAdress.cAnrede, '') AS Salutation,
		ISNULL(CustomerAdress.cTitel, '') AS Title,
		ISNULL(CustomerAdress.cVorname, '') AS FirstName,
		ISNULL(CustomerAdress.cName, '') AS LastName,
		ISNULL(CustomerAdress.cStrasse, '') AS [Address],
		ISNULL(CustomerAdress.cPLZ, '') AS PostalCode,
		ISNULL(CustomerAdress.cOrt, '') AS City,
		ISNULL(CustomerAdress.cLand, '') AS Country,
		ISNULL(CustomerAdress.cTel, '') AS Phone,
		ISNULL(CustomerAdress.cZusatz, '') AS CompanySupplement,
		ISNULL(CustomerAdress.cAdressZusatz, '') AS AddressSupplement,
		ISNULL(CustomerAdress.cMobil, '') AS MobilePhone,
		ISNULL(CustomerAdress.cMail, '') AS EmailAddress,	
		ISNULL(CustomerAdress.cFax, '') AS Fax,
		ISNULL(CustomerAdress.cBundesland, '') AS [State],
		ISNULL(CustomerAdress.cISO, '') AS CountryISO,
		ISNULL(Customer.cKundenNr, '') AS CustomerNumber,
		ISNULL(CustomerAdress.cUSTID, '') AS ValueAddedTaxId,
		CASE WHEN ISNULL(CustomerAdress.nStandard, 0) = 0
			THEN CAST(0 AS BIT)
			ELSE CAST(1 AS BIT)
		END AS IsStandard
	FROM dbo.tAdresse AS CustomerAdress
	JOIN dbo.tkunde AS Customer ON Customer.kKunde = CustomerAdress.kKunde
	WHERE CustomerAdress.nTyp = 0
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" type="reverseOnly" name="Customer" DisplayName="Customer">
  <reverse name="CustomerShipToAddress" DisplayName="CustomerShipToAddress" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerShipToAddress', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Customer.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerShipToAddress', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerShipToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerShipToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerShipToAddress'
GO
