USE [eazybusiness]
GO
/****** Object:  View [Report].[Product]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Product]
AS
(
	SELECT
		Product.kArtikel AS InternalId,
		Product.cArtNr AS SKU,
		Product.fVKNetto AS NetSalesPrice,
		Product.fUVP AS RRP,
		Product.cAnmerkung AS Comment,
		CASE 
			WHEN Product.cPreisliste = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsOnPriceList,
		CASE
			WHEN Product.cAktiv = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsActive,
		Product.nMindestbestellmaenge AS MinimumOrderQuantity,
		Product.cBarcode AS EAN,
		CASE 
			WHEN Product.cTopArtikel = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsBestSellingItem,
		Product.fGewicht AS ShippingWeight,
		CASE 
			WHEN Product.cNeu = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsNew,
		CASE
			WHEN Product.cLagerArtikel = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsSerialNumberItem,
		CASE
			WHEN Product.cTeilbar = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsSplitItem,
		CASE
			WHEN Product.cLagerAktiv = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsInventoryItem,
		CASE
			WHEN Product.cLagerKleinerNull = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsNegativeStockAllowed,
		Product.nMidestbestand AS MinimumStockLevel,
		Product.fEKNetto AS PurchasePrice,
		Product.fEbayPreis AS eBaySalesPrice,
		CASE
			WHEN Product.cLagerVariation = 'Y'
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsVariationItem,
		Product.fPackeinheit AS PackagingUnit,
		Product.nVPE AS BasePriceActive,
		Product.fVPEWert AS BasePriceValue,
		Product.cSuchbegriffe AS SearchTerms,
		Product.cTaric AS TARIC,
		Product.cHerkunftsland AS CountryOfOrigin,
		Product.dErstelldatum AS CreationDate,
		Product.dErscheinungsdatum AS PublicationDate,
		Product.nSort AS Sorting,
		Product.fArtGewicht AS [Weight],
		Product.cHAN AS MPN,
		Product.cSerie AS Series,
		Product.cISBN AS ISBN,
		Product.cUNNummer AS UNNumber,
		Product.cGefahrnr AS HazardIDNumber,
		Product.cASIN AS [ASIN],
		CAST(Product.nIstVater AS BIT) AS IsParentItem,
		CAST(Product.nIstMindestbestand AS BIT) AS HasMinimumStockLevel,
		Product.fAbnahmeintervall AS PackagingQuantity,
		Product.kStueckliste AS BillOfMaterialsInternalId,
		Product.cUPC AS UPC,
		CAST(Product.nMHD AS BIT) AS IsSLEDItem,
		CAST(Product.nCharge AS BIT) AS IsBatchItem,
		CASE
			WHEN Product.nNichtBestellbar = 0
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS ConsideredInProposal,
		Product.fAmazonVK AS AmazonSalesPrice,
		Product.fMassMenge AS UoMQuantity,
		Product.fBreite AS Width,
		Product.fHoehe AS Height,
		Product.fLaenge AS [Length],
		Product.nLiefertageWennAusverkauft AS DeliveryTimeIfSoldOut,
		Product.nBearbeitungszeit AS ProcessingTime,
		Product.cAmazonFNSKU AS AmazonFNSKU,
		tProductRef.cJfsku AS JTLFPID,
		Product.kWarengruppe AS GroupOfProductsInternalId,
		ShippingClass.cName AS ShippingClassName,
		ISNULL(Liefartikel.AnzahlLieferanten, 0) AS SupplierQuantity,
		CASE
			WHEN Product.kEigenschaftKombi > 0
				THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsVariationCombination,
		Stock.fLagerbestand AS TotalStock,
		Stock.fInAuftraegen AS ReservedStock,
		Stock.fZulauf AS OrderedStock,
		Stock.fVerfuegbar AS AvailableStock,
		Manufacturer.cName AS Manufacturer,
		ProductGroup.cName AS ProductGroup
	FROM dbo.tArtikel AS Product
	LEFT JOIN dbo.tHersteller AS Manufacturer ON Product.kHersteller = Manufacturer.kHersteller
	LEFT JOIN dbo.tWarengruppe AS ProductGroup ON Product.kWarengruppe = ProductGroup.kWarengruppe
	LEFT JOIN dbo.tVersandklasse AS ShippingClass ON ShippingClass.kVersandklasse = Product.kVersandklasse
	LEFT JOIN FulfillmentNetwork.tProductRef ON tProductRef.kArtikel = Product.kArtikel
	LEFT JOIN 
	(
		SELECT 
			tliefartikel.tArtikel_kArtikel AS kArtikel, 
			COUNT(tliefartikel.tArtikel_kArtikel) AS AnzahlLieferanten 
		FROM dbo.tliefartikel
		GROUP BY tliefartikel.tArtikel_kArtikel
	) AS Liefartikel ON Liefartikel.kArtikel = Product.kArtikel
	LEFT JOIN dbo.tlagerbestand AS Stock ON Stock.kArtikel = Product.kArtikel
)
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Product'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Product'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Product'
GO
