USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoiceCorrectionPositionConfiguration]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoiceCorrectionPositionConfiguration]
AS
(
	SELECT 
		InvoiceCorrectionPositionConfiguration.kRechnungPositionEigenschaft AS InternalId,
        ISNULL(InvoiceCorrectionPositionConfiguration.kEigenschaftWert, 0) AS ConfigurationValueInternalId,
        InvoiceCorrectionPosition.kGutschriftPos AS InvoiceCorrectionPositionInternalId,
        InvoiceCorrectionPosition.tArtikel_kArtikel AS ProductInternalId,
        InvoiceCorrectionPositionConfiguration.fAufpreisNetto AS AdditionalNetPrice,
        InvoiceCorrectionPositionConfiguration.cWert AS ValueText,
        InvoiceCorrectionPositionConfiguration.cName AS [Name],
        ISNULL(InvoiceCorrectionPositionConfiguration.kEigenschaft, 0) AS ConfigurationInternalId,
        [Configuration].nSort AS ConfigurationSorting
	FROM Rechnung.tRechnungPositionEigenschaft AS InvoiceCorrectionPositionConfiguration
	JOIN dbo.tGutschriftPos AS InvoiceCorrectionPosition ON InvoiceCorrectionPosition.kRechnungPosition = InvoiceCorrectionPositionConfiguration.kRechnungPosition
	LEFT JOIN dbo.teigenschaft AS [Configuration] ON [Configuration].kEigenschaft = InvoiceCorrectionPositionConfiguration.kEigenschaft
)
GO
