USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesOrder]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesOrder] AS SELECT
    [SalesOrder].kAuftrag AS InternalId,
    [SalesOrder].cAuftragsNr AS SalesOrderNumber,
    [SalesOrder].cExterneAuftragsnummer AS ExternalSalesOrderNumber,
    vAuftragText.cAnmerkung AS Comment,
    vAuftragEckdaten.dGedruckt AS PrintingDate,
    vAuftragEckdaten.dGemailt AS MailingDate,
    [SalesOrder].dErstellt AS CreationDate,
    [SalesOrder].nZahlungszielTage AS TermOfPayment,
    ISNULL(vVorgangsstatus.cStatus, '') AS [Status],
    vAuftragZahlungsinfo.cVerwendungszweck AS PaymentReference,
    [SalesOrder].fZusatzGewicht AS ExtraWeight,
    [SalesOrder].cVersandlandISO AS ShipFromCountryISO,
    [SalesOrder].cVersandlandWaehrung AS ShipFromCountryCurrencyISO,
    [SalesOrder].fVersandlandWaehrungFaktor AS ShipFromCountryCurrencyFactor,
    '' AS CountryISO,
    [SalesOrder].cWaehrung AS CurrencyISO,
    [SalesOrder].fFaktor AS CurrencyFactor,
    CASE
        WHEN vAuftragEckdaten.dBezahlt IS NULL THEN
            vAuftragEckdaten.fWertBrutto - vAuftragEckdaten.fGutschrift - vAuftragEckdaten.fZahlung
        ELSE 0.0
    END AS OpenGrossPrice,
    [SalesOrder].cVersandlandISO AS TaxCountryISO,
    [SalesOrder].cVersandlandWaehrung AS TaxCountryCurrencyISO,
    [SalesOrder].fVersandlandWaehrungFaktor AS TaxCountryCurrencyFactor,
    [SalesOrder].cKundenauftragsnummer AS CustomerSalesOrderNumber,
    vAuftragEckdaten.dZahlungsMail AS PaymentNotificationDateByEmail,
    vAuftragEckdaten.dBezahlt AS PaymentDate,				
    [SalesOrder].dVoraussichtlichesLieferdatum AS ServiceDate,
    'SalesOrder ' + [SalesOrder].cAuftragsNr AS OperationId,
    ISNULL(PaymentMethodLanguage.cName, PaymentMethod.cName) AS PaymentMethodName,
	ISNULL(PaymentMethodLanguage.cPrtStringVor, PaymentMethod.cPrtStringVor) AS PaymentMethodTextBeforePayment,
	ISNULL(PaymentMethodLanguage.cPrtString, PaymentMethod.cPrtString) AS PaymentMethodTextAfterPayment,
    [SalesOrder].kSprache AS LanguageInternalId,
    CASE
        WHEN [SalesOrder].nSteuereinstellung = 10
            THEN 'IGL'
        WHEN [SalesOrder].nSteuereinstellung = 15
            THEN 'ReverseCharge'
        WHEN [SalesOrder].nSteuereinstellung = 20
            THEN 'ExemptFromVATnotEU'
        ELSE ''
    END AS ExemptFromVAT,
    CASE 
        WHEN [Plattform].nTyp = 1 THEN 'WAWI'
        WHEN [Plattform].nTyp = 2 THEN 'SHOP_CONNECTOR'
        WHEN [Plattform].nTyp = 3 THEN 'XMLIMPORT' 
        WHEN [Plattform].nTyp = 4 THEN 'JTLFFN'
        WHEN [Plattform].nTyp = 5 THEN 'EBAY'
        WHEN [Plattform].nTyp = 6 THEN 'AMAZONEU'
        WHEN [Plattform].nTyp = 7 THEN 'AMAZONONNEU'
        WHEN [Plattform].nTyp = 8 THEN 'UNICORN'
        WHEN [Plattform].nTyp = 9 THEN 'LSPOS'
        WHEN [Plattform].nTyp = 10 THEN 'OTHER'
        ELSE 'WAWI'
    END AS [Platform],
    [SalesOrder].kPlattform AS PlatformInternalId,		
    CASE
        WHEN DifferentAdresses.kAuftrag IS NOT NULL THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS DifferentAddresses,
    CASE 
        WHEN Settings.nRunden = 1
            THEN CAST(ROUND(CAST(AmountSum.BruttopreisGesamt / 0.05 AS DECIMAL(25,13)), 0) * 0.05 AS DECIMAL(25,13))
        ELSE AmountSum.BruttopreisGesamt
    END AS TotalGrossPrice,
    AmountSum.NettopreisGesamt AS TotalNetPrice,
    Customer.kKunde AS CustomerInternalId,    
	SalesOrderReference.cHinweis AS CustomerText,
    CASE WHEN CustomerGroup.nNettoPreise = 1
        THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS UseNetPrice,
    PaymentMethod.fSkontoWert AS CashDiscount,
    PaymentMethod.nSkontoZeitraum AS CashDiscountValidity,
    CAST(ROUND(ISNULL((CAST(CAST(PaymentMethod.fSkontoWert * AmountSum.BruttopreisGesamt AS DECIMAL(25,13)) / 100.0 AS DECIMAL(25,13))), 0), 2) 
        AS DECIMAL(25,13)) AS CashDiscountValue,
    tFirmaHistory.kFirma AS CompanyInternalId,
    CASE
        WHEN ShippingSpecies.cName LIKE '%nachnahme%'
                OR PaymentMethod.cName LIKE '%nachnahme%' 
                OR CashOnDelivery.kAuftrag > 0 
            THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS IsShippingMethodCOD,
    CASE
        WHEN vAuftragEckdaten.dBezahlt IS NOT NULL AND vAuftragEckdaten.dBezahlt != '' THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS IsPaid,
    RetainingBase.cName AS ReasonForRetention,
    CASE
        WHEN [SalesOrder].nStorno = 1 THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS IsCancelled,
    [SalesOrder].fFinanzierungskosten AS FinancingCosts,
    OrderDocumentInvoice.bFile AS InvoiceAsPDFPath,
    OrderDocumentDeliveryNote.bFile AS DeliveryNoteAsPDFPath,
    StorageEquipment.cLHMId AS ShippingBox,
    [SalesOrder].nIstExterneRechnung AS IstExterneRechnung,
    SalesOrder.kVersandArt AS ShippingMethodInternalId,
    Languages.cISO2 AS LanguageISO,
    SalesOrderReference.cHinweis AS SalesOrderNote,
    SalesOrder.nLieferPrioritaet AS [Priority],
    [SalesOrder].kBenutzer AS UserInternalId,
    SalesOrder.cUstId AS ValueAddedTaxId,
    CASE WHEN OrderDocumentInvoice.kAuftrag IS NULL
        THEN CAST(0 AS BIT) 
        ELSE CAST(1 AS BIT)
    END AS HasInvoiceAsPDF,
    CASE WHEN OrderDocumentDeliveryNote.kAuftrag IS NULL
        THEN CAST(0 AS BIT) 
        ELSE CAST(1 AS BIT)
    END AS HasDeliveryNoteAsPDF,
    ISNULL(Angebotsnummers.cAngebotsnummer, '') AS SalesQuotationNumber,
	ISNULL(SalesOrder.cEbayUsername, '') AS EbayUserName,
	ISNULL(DepartureCountry.cNameEng, ISNULL(DepartureCountry.cName, '')) AS DepartureCountry,
	ISNULL(DeliveryNoteNumbers.DeliveryNoteNumbers, '') AS DeliveryNoteNumbers,
	CASE WHEN ISNULL(PaymentMethod.nAusliefernVorZahlung, 0) = 1
        THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS DeliverBeforePayment,
	SalesOrder.nBeschreibung AS ItemDescriptionType
FROM Verkauf.vAuftrag AS [SalesOrder]
CROSS JOIN dbo.teinstellungen AS Settings
JOIN dbo.tPlattform AS [Plattform] ON SalesOrder.kPlattform = [Plattform].nPlattform
LEFT JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = [SalesOrder].kAuftrag
LEFT JOIN Verkauf.vAuftragText ON vAuftragText.kAuftrag = [SalesOrder].kAuftrag
LEFT JOIN Verkauf.vAuftragZahlungsinfo ON vAuftragZahlungsinfo.kAuftrag = [SalesOrder].kAuftrag
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = [SalesOrder].kAuftrag
LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = [SalesOrder].kFirmaHistory
LEFT JOIN dbo.tversandart AS ShippingSpecies ON ShippingSpecies.kVersandArt = [SalesOrder].kVersandArt
LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = [SalesOrder].kKunde
LEFT JOIN dbo.tKundenGruppe AS CustomerGroup ON CustomerGroup.kKundenGruppe = Customer.kKundenGruppe
LEFT JOIN dbo.tZahlungsart AS PaymentMethod ON PaymentMethod.kZahlungsart = [SalesOrder].kZahlungsArt
LEFT JOIN dbo.tZahlungsArtSprache AS PaymentMethodLanguage ON PaymentMethodLanguage.kZahlungsart = PaymentMethod.kZahlungsart AND PaymentMethodLanguage.kSprache = SalesOrder.kSprache
LEFT JOIN dbo.tRueckhalteGrund AS RetainingBase ON RetainingBase.kRueckhalteGrund = [SalesOrder].kRueckhalteGrund
LEFT JOIN Verkauf.vAuftragPosition AS CashOnDelivery
    ON CashOnDelivery.kAuftragPosition =
        (
            SELECT TOP 1 vAuftragPosition.kAuftragPosition
            FROM Verkauf.vAuftragPosition
            WHERE vAuftragPosition.nType = 2
                AND vAuftragPosition.cName LIKE '%nachnahme%'
                AND vAuftragPosition.kAuftrag = [SalesOrder].kAuftrag
        )
OUTER APPLY (
    SELECT TOP 1 tFile.bFile, vAuftragFile.kAuftrag
    FROM Verkauf.vAuftragFile
    JOIN dbo.tFile ON tFile.kFile = vAuftragFile.kFile
    WHERE vAuftragFile.nDokumentTyp = 1 AND vAuftragFile.kAuftrag = [SalesOrder].kAuftrag
) AS OrderDocumentDeliveryNote
OUTER APPLY (
    SELECT TOP 1 tFile.bFile, vAuftragFile.kAuftrag
    FROM Verkauf.vAuftragFile
    JOIN dbo.tFile ON tFile.kFile = vAuftragFile.kFile
    WHERE vAuftragFile.nDokumentTyp = 2 AND vAuftragFile.kAuftrag = [SalesOrder].kAuftrag
) AS OrderDocumentInvoice
LEFT JOIN dbo.tLHM AS StorageEquipment 
    ON StorageEquipment.kLHM =
        (
            SELECT TOP 1 tLHM.kLHM
            FROM dbo.tLHMStatus
            JOIN dbo.tLHM ON tLHM.kLHMStatus = tLHMStatus.kLHMStatus
            WHERE tLHMStatus.kBestellung = SalesOrder.kAuftrag
            AND tLHMStatus.nStatus IN (20, 30) AND tLHM.cLHMId IS NOT NULL AND tLHM.cLHMId != ''
        )
LEFT JOIN
(
    SELECT vAuftrag.kAuftrag 
    FROM Verkauf.vAuftrag
    LEFT JOIN Verkauf.vAuftragLieferadresse Lieferadresse ON Lieferadresse.kAuftrag = vAuftrag.kAuftrag
    LEFT JOIN Verkauf.vAuftragRechnungsadresse Rechnungsadresse ON Rechnungsadresse.kAuftrag = vAuftrag.kAuftrag
    WHERE vAuftrag.nType = 1 AND
        (Lieferadresse.cFirma <> Rechnungsadresse.cFirma
        OR Lieferadresse.cAnrede <> Rechnungsadresse.cAnrede
        OR Lieferadresse.cTitel <> Rechnungsadresse.cTitel
        OR Lieferadresse.cVorname <> Rechnungsadresse.cVorname
        OR Lieferadresse.cName <> Rechnungsadresse.cName
        OR Lieferadresse.cStrasse <> Rechnungsadresse.cStrasse 
        OR Lieferadresse.cPLZ <> Rechnungsadresse.cPLZ
        OR Lieferadresse.cOrt <> Rechnungsadresse.cOrt
        OR Lieferadresse.cLand <> Rechnungsadresse.cLand
        OR Lieferadresse.cTel <> Rechnungsadresse.cTel
        OR Lieferadresse.cZusatz <> Rechnungsadresse.cZusatz
        OR Lieferadresse.cAdressZusatz <> Rechnungsadresse.cAdressZusatz
        OR Lieferadresse.cPostID <> Rechnungsadresse.cPostID
        OR Lieferadresse.cMobil <> Rechnungsadresse.cMobil
        OR Lieferadresse.cMail <> Rechnungsadresse.cMail
        OR Lieferadresse.cFax <> Rechnungsadresse.cFax
        OR Lieferadresse.cBundesland <> Rechnungsadresse.cBundesland
        OR Lieferadresse.cISO <> Rechnungsadresse.cISO)
) AS DifferentAdresses ON DifferentAdresses.kAuftrag = [SalesOrder].kAuftrag
LEFT JOIN 
(
    SELECT TotalsSalesOrder.SalesOrderInternalId, 
        CAST(SUM(TotalsSalesOrder.GrossPriceTotal) AS DECIMAL(25,13)) AS BruttopreisGesamt, 
        CAST(SUM(TotalsSalesOrder.NetPriceTotal) AS DECIMAL(25,13)) AS NettopreisGesamt
    FROM Report.TotalsSalesOrder
    GROUP BY TotalsSalesOrder.SalesOrderInternalId
) AS AmountSum ON AmountSum.SalesOrderInternalId = [SalesOrder].kAuftrag
LEFT JOIN dbo.tSpracheUsed AS UsedLanguage ON UsedLanguage.kSprache = [SalesOrder].kSprache
LEFT JOIN dbo.tSprachen AS Languages ON Languages.cISO = UsedLanguage.cISO
LEFT JOIN Verkauf.vAuftragText AS SalesOrderReference ON SalesOrderReference.kAuftrag = SalesOrder.kAuftrag
LEFT JOIN (SELECT vAuftrag.kAuftrag, QuellAuftrag.cAuftragsNr AS cAngebotsnummer
           FROM Verkauf.vAuftrag
           JOIN Verkauf.vAuftrag QuellAuftrag ON QuellAuftrag.kAuftrag = vAuftrag.kAuftragQuelle 
           WHERE QuellAuftrag.nType = 0 AND vAuftrag.nAuftragQuelleAktion = 1) Angebotsnummers 
    ON Angebotsnummers.kAuftrag = SalesOrder.kAuftrag
LEFT JOIN dbo.tland AS DepartureCountry ON DepartureCountry.cISO = SalesOrder.cVersandlandISO
OUTER APPLY
(
	SELECT STUFF((SELECT ',' + tLieferschein.cLieferscheinNr
	FROM dbo.tLieferschein	
	WHERE tLieferschein.kBestellung = SalesOrder.kAuftrag
	FOR XML PATH('')), 1, 1, '') AS DeliveryNoteNumbers
) AS DeliveryNoteNumbers
WHERE [SalesOrder].nType IN (1, 2)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Externe Nummer des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ExternalSalesOrderNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anmerkung zum Auftrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'Comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum an dem der Auftag gedruckt wurde' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'PrintingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum an dem die Email zum Auftrag gesendet wurde' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'MailingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstelldatum des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zahlungsziel des Auftrags in Tagen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'TermOfPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Verwendungszweck des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'PaymentReference'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zustäztliches Gewicht des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ExtraWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Versandland des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ShipFromCountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Versandlandwährung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ShipFromCountryCurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faktor zur Umrechnung der Versandlandwährung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ShipFromCountryCurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Ziellandes des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währung ' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faktor zur Umrechnung der Währung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Noch zu zahlender Betrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'OpenGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Steuerlandes des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'TaxCountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währung des Steuerlandes im Auftrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'TaxCountryCurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Währungfaktors des Steuerlandes im Auftrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'TaxCountryCurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kundenauftragsnummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CustomerSalesOrderNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum der Zahlungsbenachrichtigung per Mail' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'PaymentNotificationDateByEmail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum, an dem die Zahlung zum Auftrag gesetzt wurde' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'PaymentDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum der Lieferung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ServiceDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Auftrags-ID des Vorgangs' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'OperationId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name der Zahlungsart des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'PaymentMethodName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der verwendeten Sprache' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'LanguageInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Art der Steuerbefreiung Typfeld' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ExemptFromVAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Plattform, aus der der Auftrag kommt' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'Platform'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Plattform aus der der Auftrag kommt' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'PlatformInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob Rechnungs- und Lieferadresse unterschiedlich sind' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'DifferentAddresses'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtbruttopreis des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis Gesamt des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" name="Customer" DisplayName="Customer" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kundendrucktext des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CustomerText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Es werden Nettopreise angezeigt' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'UseNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Skonto in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CashDiscount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gültigkeit des Skonto in Tagen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CashDiscountValidity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Wert des Skontos' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CashDiscountValue'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Company.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Id der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob die Zahlungsart des Auftrags Nachnahme ist' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'IsShippingMethodCOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob der Auftrag bezahlt ist' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'IsPaid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name des Rückhaltegrundes' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ReasonForRetention'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob der Auftrag storniert ist' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'IsCancelled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Finanzierungskosten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'FinancingCosts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PDF-Pfad der Rechnung des Händlers im Auftrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'InvoiceAsPDFPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PDF-Pfad des Lieferscheins des Händlers im Auftrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'DeliveryNoteAsPDFPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Versandbox für WMS-Auftrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ShippingBox'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Externe Rechnung des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'IstExterneRechnung'
GO
EXEC sys.sp_addextendedproperty @name=N'ReportInvisible', @value=N'true' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'IstExterneRechnung'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.ShippingMethod.InternalId" name="ShippingMethod" DisplayName="ShippingMethod" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Versandart' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO der Sprache' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'LanguageISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anmerkung zum Auftrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'SalesOrderNote'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mit Expressversand' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'Priority'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Benutzer-ID' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Umsatzsteuer-ID des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'ValueAddedTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rechnung als PDF vorhanden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'HasInvoiceAsPDF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Versandanmerkung als PDF vorhanden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder', @level2type=N'COLUMN',@level2name=N'HasDeliveryNoteAsPDF'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrder'
GO
