USE [eazybusiness]
GO
/****** Object:  View [Report].[PickListPositionWarehouseConfiguration]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PickListPositionWarehouseConfiguration]
AS
(
	SELECT 
        ISNULL(PickListPositionWarehouseConfiguration.kEigenschaftWert, 0) AS ConfigurationValueInternalId,
        ISNULL(PickListPositionWarehouseConfiguration.kAuftragPosition, 0) AS SalesOrderPositionInternalId,
        tAuftragPosition.kArtikel AS ProductInternalId,
        PickListPositionWarehouseConfiguration.fAufpreisNetto AS AdditionalNetPrice,
        PickListPositionWarehouseConfiguration.cWert AS ValueText,
        PickListPositionWarehouseConfiguration.cName AS [Name],
        ISNULL(PickListPositionWarehouseConfiguration.kEigenschaft, 0) AS ConfigurationInternalId,
        [Configuration].nSort AS ConfigurationSorting
	FROM Verkauf.tAuftragPositionEigenschaft AS PickListPositionWarehouseConfiguration
	JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = PickListPositionWarehouseConfiguration.kAuftragPosition
	LEFT JOIN dbo.teigenschaft AS [Configuration] ON [Configuration].kEigenschaft = PickListPositionWarehouseConfiguration.kEigenschaft
)
GO
