USE [eazybusiness]
GO
/****** Object:  View [Report].[BinLocationItem]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[BinLocationItem]
AS
(
	SELECT 
		BinLocationItem.kWarenLagerPlatz AS BinLocationInternalId,
		BinLocationItem.kArtikel AS ProductInternalId,
		BinLocationItem.cKommentar_1 AS Comment1,
		BinLocationItem.cKommentar_2 AS Comment2
	FROM dbo.tWarenLagerPlatzArtikel AS BinLocationItem
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Product.InternalId" name="Product" DisplayName="Product" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'BinLocationItem', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'BinLocationItem'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'BinLocationItem'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'BinLocationItem'
GO
