USE [eazybusiness]
GO
/****** Object:  View [Report].[PickListPositionWarehouse]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PickListPositionWarehouse]
AS
(
	SELECT 
		ISNULL(MIN(PicklistPosition.kPicklistePos), 0) AS InternalId,
		PicklistPosition.kPickliste AS PickListInternalId,
		PicklistPosition.kWarenLager AS WarehouseInternalId,
		MIN(PicklistPosition.kWarenLagerEingang) AS GoodsReceiptInternalId,
		CASE 
			WHEN MIN(vAuftragPositionEigenschaft.kAuftragPosition) IS NOT NULL
				THEN SUM(PicklistPosition.fAnzahl) / SUM(1) 
			WHEN MIN(SerialnumberProduct.kLagerArtikel) IS NULL	
				THEN SUM(PicklistPosition.fAnzahl)
			ELSE 1
		END AS Quantity,
		ISNULL(CASE
			WHEN vAuftragPositionEigenschaft.kAuftragPosition IS NOT NULL
				THEN PicklistPosition.kBestellPos
			ELSE ''
		END, 0) AS SalesOrderPositionInternalId,
		MIN(PicklistPosition.kPicklistePosStatus) AS PickListPositionStatusInternalId,
		PicklistPosition.kArtikel AS ProductInternalId,
		PicklistPosition.kWarenlagerPlatz AS BinLocationInternalId,
		CASE
			WHEN MIN(PicklistPosition.nStatus) = 5
				THEN 'Pending'
			WHEN MIN(PicklistPosition.nStatus) = 10
				THEN 'Created'
			WHEN MIN(PicklistPosition.nStatus) = 20
				THEN 'Picked'
			WHEN MIN(PicklistPosition.nStatus) = 30 
				THEN 'InBox'
			WHEN MIN(PicklistPosition.nStatus) = 40
				THEN 'Closed'
		END AS [Status],
		WarehousePlace.cName AS BinLocationName,
		MIN(SalesOrderPosition.cArtNr) AS SKU,
		MIN(ProductDescription.cName) AS [Name],
		MIN(SerialnumberProduct.kLagerArtikel) AS SerialnumberInternalId,
		MIN(SerialnumberProduct.cSeriennr) AS Serialnumber,
		GoodsReceipt.dMHD AS SLED,
		ISNULL(GoodsReceipt.cChargenNr, '') AS Batchnumber,
		MIN(Product.cBarcode) AS EAN,
		ISNULL(MIN(WarehousePlace.nSort), 0) AS BinLocationSortNumber,
		ISNULL(MAX(WarehousePlace.nPrio), 0) AS BinLocationPrioNumber,
		Product.cSerie AS AdditionalId
	FROM dbo.tPicklistePos AS PicklistPosition
	LEFT JOIN dbo.tLagerArtikel AS SerialnumberProduct 
		ON SerialnumberProduct.kPicklistePos = PicklistPosition.kPicklistePos
	LEFT JOIN dbo.tWarenLagerEingang  AS GoodsReceipt
		ON GoodsReceipt.kWarenLagerEingang = PicklistPosition.kWarenLagerEingang
	LEFT JOIN dbo.tWarenLagerPlatz AS WarehousePlace
		ON WarehousePlace.kWarenLagerPlatz = GoodsReceipt.kWarenLagerPlatz
	LEFT JOIN dbo.tWarenLager AS Warehouse
		ON Warehouse.kWarenLager = WarehousePlace.kWarenLager
	JOIN Verkauf.vAuftragPosition AS SalesOrderPosition
		ON SalesOrderPosition.kAuftragPosition = PicklistPosition.kBestellPos
	LEFT JOIN Verkauf.vAuftragPosition AS ParentOrderPosition 
		ON ParentOrderPosition.kAuftragPosition = SalesOrderPosition.kAuftragStueckliste 
	LEFT JOIN dbo.tAttributSprache AS AttributeLanguage
		ON AttributeLanguage.cName = 'AusgabeAufLagerbelegen'
	LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute
		ON ItemAttribute.kArtikel = ISNULL(ParentOrderPosition.kArtikel, SalesOrderPosition.kArtikel) 
			AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut AND ItemAttribute.kShop = 0
	LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage 
		ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut 
			AND ItemAttributeLanguage.kSprache = 0
	LEFT JOIN Verkauf.vAuftragPositionEigenschaft
		ON vAuftragPositionEigenschaft.kAuftragPosition = PicklistPosition.kBestellPos
	LEFT JOIN dbo.tArtikel AS Product
		ON Product.kArtikel = PicklistPosition.kArtikel
	LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1
	LEFT JOIN dbo.tArtikelBeschreibung AS ProductDescription 
		ON ProductDescription.kArtikel = Product.kArtikel
			AND ProductDescription.kSprache = tSpracheUsed.kSprache
			AND ProductDescription.kPlattform = 1 --WAWI-Plattform
	WHERE 
		CASE
			WHEN SalesOrderPosition.kAuftragStueckliste != SalesOrderPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
				THEN 0
			WHEN SalesOrderPosition.kAuftragStueckliste = SalesOrderPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten' 
				THEN 0
			ELSE 1
		END = 1
	GROUP BY PicklistPosition.kPickliste, 
		PicklistPosition.kWarenLager, 
		CASE
			WHEN vAuftragPositionEigenschaft.kAuftragPosition IS NOT NULL
				THEN PicklistPosition.kBestellPos
			ELSE ''
		END,
		PicklistPosition.kArtikel, 
		PicklistPosition.kWarenlagerPlatz, 
		ISNULL(GoodsReceipt.cChargenNr, ''), 
		GoodsReceipt.dMHD, 
		WarehousePlace.kWarenLagerPlatzTyp, 
		WarehousePlace.cName,
		Warehouse.nLagerplatzVerwaltung,
		SerialnumberProduct.kLagerArtikel,
		Product.cSerie
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.PickList.InternalId" type="reverseOnly" name="PickList" DisplayName="PickList">
  <reverse name="PickListPositionWarehouse" type="reverseOnly" DisplayName="PickListPositionWarehouse" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickListPositionWarehouse', @level2type=N'COLUMN',@level2name=N'PickListInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickListPositionWarehouse'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickListPositionWarehouse'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickListPositionWarehouse'
GO
