USE [eazybusiness]
GO
/****** Object:  View [Report].[PickList]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PickList]
AS
(
	SELECT 
		Picklist.kPickliste AS InternalId,
		Picklist.kWarenLager AS WarehouseInternalId,
		CASE
			WHEN Picklist.nStatus = 5
				THEN 'Pending'
			WHEN Picklist.nStatus = 10
				THEN 'Created'
			WHEN Picklist.nStatus = 11
				THEN 'InProgress'
			WHEN Picklist.nStatus = 20
				THEN 'Picked'
			WHEN Picklist.nStatus = 30 
				THEN 'InBox'
			WHEN Picklist.nStatus = 40
				THEN 'Closed'
		END AS [Status],
		CASE
			WHEN Picklist.kPicklistenVorlage != 0
				THEN PicklistTemplate.cName
			ELSE 
				'WawiPickliste'
		END AS PickListTemplateName,
		CASE
			WHEN Picklist.kPicklistenVorlage != 0
				THEN PicklistTemplate.cKommentar
			ELSE
				'WawiPickliste'
		END AS Comment,
		PicklistStatus.dZeitstempel AS StatusDate,
		PicklistStatus.kBenutzer AS StatusUserInternalId,
		PicklistStatusCreated.dZeitstempel AS StatusCreationDate,
		PicklistStatusCreated.kBenutzer AS UserInternalId,
		Picklist.dGedruckt AS PrintingDate,
		'PickList: ' + CONVERT(VARCHAR(255), Picklist.cPicklisteNr) AS OperationId,
		CONVERT(VARCHAR(255), Picklist.cPicklisteNr) AS PickListNumber
	FROM dbo.tPickliste AS Picklist
	LEFT JOIN dbo.tPicklisteVorlage AS PicklistTemplate ON PicklistTemplate.kPicklisteVorlage = Picklist.kPicklistenVorlage
	LEFT JOIN dbo.tPicklisteStatus AS PicklistStatus ON PicklistStatus.kPicklisteStatus = Picklist.kPicklisteStatus
	LEFT JOIN dbo.tPicklisteStatus AS PicklistStatusCreated ON PicklistStatusCreated.kPicklisteStatus = Picklist.kPicklisteStatusAngelegt
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Warehouse.InternalId" name="Warehouse" DisplayName="Warehouse" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickList', @level2type=N'COLUMN',@level2name=N'WarehouseInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="StatusUser" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickList', @level2type=N'COLUMN',@level2name=N'StatusUserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickList', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickList'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickList'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PickList'
GO
