USE [eazybusiness]
GO
/****** Object:  View [Report].[TotalsPurchaseOrder]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[TotalsPurchaseOrder]
AS
(
	SELECT 
		PurchaseOrder.kLieferantenBestellung AS PurchaseOrderInternalId,
		PurchaseOrderPosition.VATRate AS VATRate,
		CAST(SUM(PurchaseOrderPosition.VATValue) AS DECIMAL(25,13)) AS VATSum,
		CAST(SUM(PurchaseOrderPosition.TotalGrossPrice) AS DECIMAL(25,13)) AS GrossPriceTotal,
		CAST(SUM(PurchaseOrderPosition.TotalNetPrice) AS DECIMAL(25,13)) AS NetPriceTotal,
		CAST(SUM(CASE WHEN PurchaseOrderPosition.PositionType = 'ShippingPosition'
				THEN PurchaseOrderPosition.TotalGrossPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS GrossPriceShippingPositionTotal,
		CAST(SUM(CASE WHEN PurchaseOrderPosition.PositionType = 'ShippingPosition'
				THEN PurchaseOrderPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS NetPriceShippingPositionTotal,
		CAST(SUM(CASE WHEN PurchaseOrderPosition.PositionType = 'ShippingSurcharge'
				THEN PurchaseOrderPosition.TotalGrossPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS GrossPriceShippingSurchargeTotal,
		CAST(SUM(CASE WHEN PurchaseOrderPosition.PositionType = 'ShippingSurcharge'
				THEN PurchaseOrderPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS NetPriceShippingSurchargeTotal,
		CAST(SUM(CASE WHEN PurchaseOrderPosition.PositionType = 'Discount'
				THEN PurchaseOrderPosition.TotalGrossPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS GrossPriceDiscountTotal,
		CAST(SUM(CASE WHEN PurchaseOrderPosition.PositionType = 'Discount'
				THEN PurchaseOrderPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS NetPriceDiscountTotal,
		CAST(SUM(CASE WHEN PurchaseOrderPosition.PositionType = 'MinimumQuantitySurcharge'
				THEN PurchaseOrderPosition.TotalGrossPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS GrossPriceMinimumQuantitySurchargeTotal,
		CAST(SUM(CASE WHEN PurchaseOrderPosition.PositionType = 'MinimumQuantitySurcharge'
				THEN PurchaseOrderPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS NetPriceMinimumQuantitySurchargeTotal,
		CAST(SUM(CAST(CASE WHEN PurchaseOrderPosition.PositionType = 'ShippingCosts'
			THEN PurchaseOrderPosition.TotalGrossPrice
			ELSE 0.0
		END -
		CASE WHEN PurchaseOrderPosition.PositionType = 'ShippingCosts'
			THEN PurchaseOrderPosition.TotalNetPrice
			ELSE 0.0
		END AS DECIMAL(25,13))) AS DECIMAL(25,13)) AS ShippingCostsVAT
	FROM dbo.tLieferantenBestellung AS PurchaseOrder
	JOIN Report.PurchaseOrderPosition ON PurchaseOrderPosition.PurchaseOrderInternalId = PurchaseOrder.kLieferantenBestellung
	GROUP BY PurchaseOrderPosition.VATRate, PurchaseOrder.kLieferantenBestellung
)
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.PurchaseOrder.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'VATRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Summe der MwSt ' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'VATSum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtbruttopreis pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'GrossPriceTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'GesamtNettopreis pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'NetPriceTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis der Versandposition pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'GrossPriceShippingPositionTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis der Versandposition pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'NetPriceShippingPositionTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis des Versandzuschlags pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'GrossPriceShippingSurchargeTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis des Versandzuschlags pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'NetPriceShippingSurchargeTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis des Rabatts pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'GrossPriceDiscountTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis des Rabatts pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'NetPriceDiscountTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis des Mindermengenzuschlags pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'GrossPriceMinimumQuantitySurchargeTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis des Mindermengenzuschlags pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'NetPriceMinimumQuantitySurchargeTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt der Versandkosten pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder', @level2type=N'COLUMN',@level2name=N'ShippingCostsVAT'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsPurchaseOrder'
GO
