USE [eazybusiness]
GO
/****** Object:  View [Report].[DeliveryNotePositionDeliveryDetails]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[DeliveryNotePositionDeliveryDetails] AS
    (
    SELECT
    tPicklistePos.kLieferscheinPos AS DeliveryNotePositionInternalId,
    1 AS Quantity,
    tWarenLagerEingang.cChargenNr AS BatchNumber,
    tWarenLagerEingang.dMHD AS BestBeforeDate,
    tLagerArtikel.cSeriennr AS SerialNumber
    FROM dbo.tLagerArtikel
    JOIN dbo.tPicklistePos ON tLagerArtikel.kPicklistePos = tPicklistePos.kPicklistePos
    JOIN dbo.tWarenLagerEingang ON tPicklistePos.kWarenLagerEingang = tWarenLagerEingang.kWarenLagerEingang
    UNION ALL
    (
    SELECT	tWarenLagerAusgang.kLieferscheinPos,
    SUM(tWarenLagerAusgang.fAnzahl) AS fAnzahl,
    CASE WHEN ISNULL(tWarenLagerEingang.cChargenNr, '') = '' THEN NULL ELSE tWarenLagerEingang.cChargenNr END AS cChargenNr,
    tWarenLagerEingang.dMHD,
    NULL AS cSeriennr
    FROM dbo.tWarenLagerAusgang
    JOIN dbo.tWarenLagerEingang ON tWarenLagerAusgang.kWarenLagerEingang = tWarenLagerEingang.kWarenLagerEingang
    LEFT JOIN dbo.tlagerartikel ON tlagerartikel.kLieferscheinPos = tWarenLagerAusgang.kLieferscheinPos
    WHERE tWarenLagerAusgang.kLieferscheinPos IS NOT NULL AND tWarenLagerAusgang.kLieferscheinPos <> 0 AND tlagerartikel.kLieferscheinPos IS NULL
    GROUP BY	tWarenLagerAusgang.kLieferscheinPos,
    CASE WHEN ISNULL(tWarenLagerEingang.cChargenNr, '') = '' THEN NULL ELSE tWarenLagerEingang.cChargenNr END,
    tWarenLagerEingang.dMHD
    )
)
GO
