USE [eazybusiness]
GO
/****** Object:  View [Report].[PaymentMethod]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PaymentMethod]
AS
(
    SELECT
        PaymentMethod.kZahlungsart AS InternalId,
        tSpracheUsed.kSprache AS LanguageInternalId,
        PaymentMethod.cName AS [Name],
        PaymentMethod.nLastschrift AS Debit,
        PaymentMethod.cPaymentOption AS PaymentOption,
        PaymentMethod.cKonto AS Account,
        PaymentMethod.nAusliefernVorZahlung AS DeliverBeforePayment,
        PaymentMethod.nPrioritaet AS [Priority],
        PaymentMethod.nMahnwesenAktiv AS DunningActive,
        PaymentMethod.fSkontoWert AS CashDiscount,
        PaymentMethod.nSkontoZeitraum AS CashDiscountValidity
    FROM dbo.tZahlungsart AS PaymentMethod
    LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.nStandard = 1

	UNION 

	SELECT
        PaymentMethod.kZahlungsart AS InternalId,
        PaymentMethodLanguage.kSprache AS LanguageInternalId,
        PaymentMethodLanguage.cName AS [Name],
        PaymentMethod.nLastschrift AS Debit,
        PaymentMethod.cPaymentOption AS PaymentOption,
        PaymentMethod.cKonto AS Account,
        PaymentMethod.nAusliefernVorZahlung AS DeliverBeforePayment,
        PaymentMethod.nPrioritaet AS [Priority],
        PaymentMethod.nMahnwesenAktiv AS DunningActive,
        PaymentMethod.fSkontoWert AS CashDiscount,
        PaymentMethod.nSkontoZeitraum AS CashDiscountValidity
    FROM dbo.tZahlungsart AS PaymentMethod
    JOIN dbo.tZahlungsArtSprache AS PaymentMethodLanguage ON PaymentMethod.kZahlungsart = PaymentMethodLanguage.kZahlungsart
	LEFT JOIN dbo.tSpracheUsed AS DefaultLanguage ON DefaultLanguage.nStandard = 1
	WHERE PaymentMethodLanguage.kSprache != DefaultLanguage.kSprache
)
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PaymentMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PaymentMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PaymentMethod'
GO
