USE [eazybusiness]
GO
/****** Object:  View [Report].[TotalsInvoiceCorrection]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[TotalsInvoiceCorrection]
AS
(
	SELECT
		InvoiceAdjustment.kGutschrift AS InvoiceCorrectionInternalId,
		InvoiceCorrectionPosition.VATRate AS VATRate,
		CAST(SUM(InvoiceCorrectionPosition.VATValue) AS DECIMAL(25,13)) AS VATSum,
		CAST(SUM(InvoiceCorrectionPosition.TotalGrossPrice) AS DECIMAL(25,13)) AS GrossPriceTotal,
		CAST(SUM(InvoiceCorrectionPosition.TotalNetPrice) AS DECIMAL(25,13)) AS NetPriceTotal,
		CAST(SUM(CASE WHEN InvoiceCorrectionPosition.PositionType = 'ShippingPosition'
				THEN InvoiceCorrectionPosition.TotalGrossPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS GrossPriceShippingPositionTotal,
		CAST(SUM(CASE WHEN InvoiceCorrectionPosition.PositionType = 'ShippingPosition'
				THEN InvoiceCorrectionPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS NetPriceShippingPositionTotal,
		CAST(SUM(CASE WHEN InvoiceCorrectionPosition.PositionType = 'ShippingPosition'
				THEN InvoiceCorrectionPosition.TotalGrossPrice
				ELSE 0.0
			END - 
			CASE WHEN InvoiceCorrectionPosition.PositionType = 'ShippingPosition'
				THEN InvoiceCorrectionPosition.TotalNetPrice
				ELSE 0.0
			END) AS DECIMAL(25,13)) AS ShippingCostsVAT,
		CAST(ROUND(SUM(CAST(InvoiceCorrectionPosition.DiscountValue * 
			(1.0 + CAST(InvoiceCorrectionPosition.VATRate / 100.0 AS DECIMAL(25,13))) AS DECIMAL(25,13))), 2) 
			AS DECIMAL(25,13)) AS GrossPriceDiscountTotal,
		CAST(SUM(InvoiceCorrectionPosition.DiscountValue) AS DECIMAL(25,13)) AS NetPriceDiscountTotal
	FROM dbo.tgutschrift AS InvoiceAdjustment
	LEFT JOIN Report.InvoiceCorrectionPosition ON InvoiceCorrectionPosition.InvoiceCorrectionInternalId = InvoiceAdjustment.kGutschrift
	GROUP BY InvoiceAdjustment.kGutschrift, InvoiceCorrectionPosition.VATRate
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.InvoiceCorrection.InternalId" type="reverseOnly" name="InvoiceCorrection" DisplayName="InvoiceCorrection">
  <reverse name="TotalsInvoiceCorrection" DisplayName="TotalsInvoiceCorrection" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'InvoiceCorrectionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'InvoiceCorrectionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'VATRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Summe der MwSt ' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'VATSum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtbruttopreis pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'GrossPriceTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'GesamtNettopreis pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'NetPriceTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis der Versandposition pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'GrossPriceShippingPositionTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis der Versandposition pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'NetPriceShippingPositionTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt der Versandkosten pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'ShippingCostsVAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis des Rabatts pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'GrossPriceDiscountTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis des Rabatts pro MwSt aufsummiert' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection', @level2type=N'COLUMN',@level2name=N'NetPriceDiscountTotal'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoiceCorrection'
GO
