USE [eazybusiness]
GO
/****** Object:  View [Report].[DeliveryNotePosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[DeliveryNotePosition]
AS
(
	SELECT 
		DeliveryNotePosition.kLieferscheinPos AS InternalId,
		DeliveryNotePosition.kBestellPos AS SalesOrderPositionInternalId,
		DeliveryNotePosition.kLieferschein AS DeliveryNoteInternalId,		
		DeliveryNotePosition.fAnzahl AS Quantity,
		DeliveryNotePosition.cHinweis AS Note,
		SalesOrderPosition.cArtNr AS SKU,
		tProductRef.cJfsku AS Jfsku,
		SalesOrderPosition.cName AS [Name],
		ifItemDescription.Name AS ItemName, 
		ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
		ifItemDescription.DescriptionBrief AS ItemDescriptionBrief,
		SalesOrderPosition.cEinheit AS Unit,
		CASE
			WHEN SalesOrderPosition.nType = 1 THEN 'Item'
			WHEN SalesOrderPosition.nType = 2 THEN 'ShippingPosition'
			WHEN SalesOrderPosition.nType = 3 THEN 'Coupon'
			WHEN SalesOrderPosition.nType = 4 THEN 'Voucher'
			WHEN SalesOrderPosition.nType = 5 THEN 'PaymentMethod'
			WHEN SalesOrderPosition.nType = 6 THEN 'ShippingSurcharge'
			WHEN SalesOrderPosition.nType = 7 THEN 'NewCustomersCoupon'
			WHEN SalesOrderPosition.nType = 8 THEN 'CODCharge'
			WHEN SalesOrderPosition.nType = 9 THEN 'ItemShippingSurcharge'
			WHEN SalesOrderPosition.nType = 10 THEN 'Packaging'
			WHEN SalesOrderPosition.nType = 11 THEN 'GiftForFree'
			WHEN SalesOrderPosition.nType = 12 THEN 'TrustedShopsFee'
			WHEN SalesOrderPosition.nType = 13 THEN 'TaxSurcharge'
			WHEN SalesOrderPosition.nType = 14 THEN 'ProcessingFee'
			WHEN SalesOrderPosition.nType = 15 THEN 'Cardboard'
			WHEN SalesOrderPosition.nType = 16 THEN 'Return'
			WHEN SalesOrderPosition.nType = 17 THEN 'MultiPurposeVoucher'
			WHEN SalesOrderPosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
			WHEN SalesOrderPosition.nType = 19 THEN 'SinglePurposeVoucher'
			WHEN SalesOrderPosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
			WHEN SalesOrderPosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
			ELSE ''
		END AS PositionType,
		CASE
			WHEN SalesOrderPosition.kKonfigVater IS NOT NULL AND SalesOrderPosition.kKonfigVater != 0 AND SalesOrderPosition.kKonfigitem != 0 
				THEN 'Component'
			WHEN SalesOrderPosition.kKonfigVater IS NOT NULL AND SalesOrderPosition.kKonfigVater != 0 AND SalesOrderPosition.kKonfigitem = 0
				THEN 'Father'
			ELSE 'None'
		END AS ConfiguratorPosition,
		CASE
			WHEN ISNULL(SalesOrderPosition.kAuftragStueckliste, 0) > 0 AND ISNULL(SalesOrderPosition.kAuftragStueckliste, 0) = SalesOrderPosition.kAuftragPosition
				THEN 'Father'
			WHEN ISNULL(SalesOrderPosition.kAuftragStueckliste, 0) > 0 AND ISNULL(SalesOrderPosition.kAuftragStueckliste, 0) <> SalesOrderPosition.kAuftragPosition
				THEN 'Component'
			ELSE 'None'
		END AS BillOfMaterialsPosition,
		SalesOrderPosition.kKonfigitem AS ConfigurationItemInternalId,
		SalesOrderPosition.kAuftragStueckliste AS BillOfMaterialsPositionParentId,
		ISNULL(ConfiguratorItem.kAuftragPosition, 0) AS ConfiguratorPositionParentId,
		ISNULL(SalesOrderPosition.kArtikel, 0) AS ProductInternalId,
		Product.cBarcode AS EAN,
		SalesOrderPosition.nSort AS Sorting,
		SalesorderPosition.fVKNetto AS NetPricePerUnit,
		CAST(DeliveryNotePosition.fAnzahl * SalesOrderPosition.fVKNetto * 
			(1.0 - SalesOrderPosition.fRabatt / 100.0 ) AS DECIMAL(25,13))
			AS TotalNetPrice,
		CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
		CAST(DeliveryNotePosition.fAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0)
			AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS TotalShippingWeight,
		AmazonSalesOrderPosition.nCustom AS IsAmazonCustomPosition,
		AmazonSalesOrderPosition.cCustomJson AS AmazonCustomJSON,
		Condition.cName AS Condition
	FROM dbo.tLieferscheinPos AS DeliveryNotePosition
	JOIN Verkauf.vAuftragPosition AS SalesorderPosition ON SalesorderPosition.kAuftragPosition = DeliveryNotePosition.kBestellPos
	LEFT JOIN Verkauf.vAuftragPosition AS ParentOrderPosition ON ParentOrderPosition.kAuftragPosition = SalesorderPosition.kAuftragStueckliste 
	LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
	LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
		AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut 
	LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut 
			AND ItemAttributeLanguage.kSprache = 0
	LEFT JOIN Verkauf.vAuftragPosition AS ConfiguratorItem ON ConfiguratorItem.kKonfigVater = SalesOrderPosition.kKonfigVater 
			AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVater IS NOT NULL AND ConfiguratorItem.kKonfigVater != 0
			AND SalesOrderPosition.kAuftrag = ConfiguratorItem.kAuftrag
	LEFT JOIN Verkauf.vAuftrag AS SalesOrder ON SalesOrder.kAuftrag = SalesOrderPosition.kAuftrag
	LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = SalesOrderPosition.kArtikel
	LEFT JOIN dbo.pf_amazon_bestellungpos AS AmazonSalesOrderPosition 
		ON AmazonSalesOrderPosition.kAmazonBestellungPos = SalesOrderPosition.kAmazonBestellungPos
	LEFT JOIN FulfillmentNetwork.tProductRef ON tProductRef.kArtikel = Product.kArtikel
	OUTER APPLY Report.ifItemDescription(SalesOrderPosition.kArtikel, SalesOrder.kSprache, SalesOrder.kPlattform, SalesOrder.kShop)
	LEFT JOIN 
	(
		SELECT vAuftragPositionEigenschaft.kAuftragPosition AS kBestellPos, 
			CAST(SUM(vAuftragPositionEigenschaft.fZusatzgewicht) AS DECIMAL(25,13)) AS GewichtSumme
		FROM Verkauf.vAuftragPositionEigenschaft
		GROUP BY vAuftragPositionEigenschaft.kAuftragPosition
	) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kBestellPos = SalesOrderPosition.kAuftragPosition
	LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
		AND Condition.kSprache = SalesOrder.kSprache
	WHERE SalesOrderPosition.nType != 15 AND --Karton
		CASE
			WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = '' 
					AND SalesorderPosition.kAuftragStueckliste != SalesorderPosition.kAuftragPosition 
					AND SalesorderPosition.kAuftragStueckliste != 0
				THEN 0
			WHEN SalesorderPosition.kAuftragStueckliste != SalesorderPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
				THEN 0
			WHEN SalesorderPosition.kAuftragStueckliste = SalesorderPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten' 
				THEN 0
			ELSE 1
		END = 1
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Lieferscheinposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.DeliveryNote.InternalId" type="reverseOnly" name="DeliveryNote" DisplayName="DeliveryNote">
  <reverse name="DeliveryNotePosition" type="reverseOnly" DisplayName="DeliveryNotePosition" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.DeliveryNote.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Lieferscheins der Positionen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anzahl pro Position auf dem Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweisfeld zur Lieferscheinposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Artikelnummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'SKU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drucktext der Bestellposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Artikebeschreibung ausführlich' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionDetailed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Artikelbeschreibung kurz' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionBrief'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einheit pro Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'Unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Position im Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'PositionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob Stücklistenkomponente oder Stücklistenvaterartikel' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Position der Stücklisten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID Konfigurationsartikel' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'ConfigurationItemInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vater-ID der Position der Stücklisten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vater-ID der Position der Konfigurationsartikel' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Product.InternalId" name="Product" DisplayName="Product" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Product.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Id des Artikels der Lieferscheinposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Internationale Artikelnummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'EAN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sortierung der Lieferscheinpositonen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'Sorting'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis pro Einheit der Lieferscheinposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'NetPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtnettopreis der Lieferscheinpositionen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gewichte der einzelnen Lieferscheinpositionen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'IndividualWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtversandgewicht der Lieferung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition', @level2type=N'COLUMN',@level2name=N'TotalShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNotePosition'
GO
