USE [eazybusiness]
GO
/****** Object:  View [Report].[ReceiptOfPayment]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[ReceiptOfPayment]
AS
(
	SELECT 
		ReceiptOfPayment.InternalId,
        ReceiptOfPayment.SalesOrderNumber,
        ReceiptOfPayment.ExternalSalesOrderNumber,
        ReceiptOfPayment.Comment,
        ReceiptOfPayment.PrintingDate,
        ReceiptOfPayment.MailingDate,
        ReceiptOfPayment.CreationDate,
        ReceiptOfPayment.TermOfPayment,
        ReceiptOfPayment.CurrencyISO,
        ReceiptOfPayment.[Status],
        ReceiptOfPayment.PaymentReference,
        ReceiptOfPayment.ExtraWeight,        
        ReceiptOfPayment.ShipFromCountryCurrencyISO,
        ReceiptOfPayment.ShipFromCountryCurrencyFactor,
        ReceiptOfPayment.CustomerSalesOrderNumber,
        ReceiptOfPayment.PaymentNotificationDateByEmail,
        ReceiptOfPayment.PaymentDate,
        ReceiptOfPayment.PaymentMethodName,
        ReceiptOfPayment.LanguageInternalId,
        ReceiptOfPayment.ExemptFromVAT,
        ReceiptOfPayment.[Platform],
        ReceiptOfPayment.PlatformInternalId,
        ReceiptOfPayment.DifferentAddresses,
        ReceiptOfPayment.TotalGrossPrice,
        ReceiptOfPayment.TotalNetPrice,
        ReceiptOfPayment.CustomerText,
        ReceiptOfPayment.CashDiscount,
        ReceiptOfPayment.CashDiscountValidity,
        ReceiptOfPayment.CashDiscountValue,
        ReceiptOfPayment.CompanyInternalId,
        ReceiptOfPayment.IsShippingMethodCOD,
        ReceiptOfPayment.IsPaid,
        ReceiptOfPayment.ReasonForRetention,
        ReceiptOfPayment.IsCancelled,
        ReceiptOfPayment.InvoiceAsPDFPath,
        ReceiptOfPayment.DeliveryNoteAsPDFPath,
        ReceiptOfPayment.ShippingBox
	FROM Report.SalesOrder AS ReceiptOfPayment
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ReceiptOfPayment', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Company.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ReceiptOfPayment', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ReceiptOfPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ReceiptOfPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ReceiptOfPayment'
GO
