USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesOrderPositionBillOfMaterials]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesOrderPositionBillOfMaterials]
AS
    (
    SELECT
    SalesOrderPosition.kAuftragPosition AS InternalId,
    SalesOrderPosition.kAuftragStueckliste AS BillOfMaterialsPositionParentId,
    [SalesOrder].kAuftrag AS SalesOrderInternalId,
    SalesOrderPosition.cArtNr AS SKU,
    SalesOrderPosition.cName AS [Name],
    SalesOrderPosition.cEinheit AS Unit,
    SalesOrderPosition.cHinweis AS Note,
    ifItemDescription.Name AS ItemName,
    ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
    ifItemDescription.DescriptionBrief AS ItemDescriptionBrief,
    SalesOrderPosition.fAnzahl AS Quantity,
    CASE
    WHEN SalesOrderPosition.nType = 1 THEN 'Item'
    WHEN SalesOrderPosition.nType = 2 THEN 'ShippingPosition'
    WHEN SalesOrderPosition.nType = 3 THEN 'Coupon'
    WHEN SalesOrderPosition.nType = 4 THEN 'Voucher'
    WHEN SalesOrderPosition.nType = 5 THEN 'PaymentMethod'
    WHEN SalesOrderPosition.nType = 6 THEN 'ShippingSurcharge'
    WHEN SalesOrderPosition.nType = 7 THEN 'NewCustomersCoupon'
    WHEN SalesOrderPosition.nType = 8 THEN 'CODCharge'
    WHEN SalesOrderPosition.nType = 9 THEN 'ItemShippingSurcharge'
    WHEN SalesOrderPosition.nType = 10 THEN 'Packaging'
    WHEN SalesOrderPosition.nType = 11 THEN 'GiftForFree'
    WHEN SalesOrderPosition.nType = 12 THEN 'TrustedShopsFee'
    WHEN SalesOrderPosition.nType = 13 THEN 'TaxSurcharge'
    WHEN SalesOrderPosition.nType = 14 THEN 'ProcessingFee'
    WHEN SalesOrderPosition.nType = 15 THEN 'Cardboard'
    WHEN SalesOrderPosition.nType = 16 THEN 'Return'
    WHEN SalesOrderPosition.nType = 17 THEN 'MultiPurposeVoucher'
    WHEN SalesOrderPosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
    WHEN SalesOrderPosition.nType = 19 THEN 'SinglePurposeVoucher'
    WHEN SalesOrderPosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
    WHEN SalesOrderPosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
    ELSE ''
    END AS PositionType,
    SalesOrderPosition.nSort AS Sorting,
    CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
    CAST(SalesOrderPosition.fAnzahl * CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13))
AS DECIMAL(25,13)) AS TotalWeight,
    CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualShippingWeight,
    CAST(SalesOrderPosition.fAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13))
AS DECIMAL(25,13)) AS TotalShippingWeight,
    Product.kArtikel AS ProductInternalId,
    Condition.cName AS Condition
    FROM Verkauf.vAuftrag AS SalesOrder
    JOIN Verkauf.vAuftragPosition AS SalesOrderPosition ON SalesOrderPosition.kAuftrag = SalesOrder.kAuftrag
    LEFT JOIN Verkauf.vAuftragPosition AS ParentOrderPosition ON ParentOrderPosition.kAuftragPosition = SalesOrderPosition.kAuftragStueckliste
    LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
    LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
    AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut
    LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut
    AND ItemAttributeLanguage.kSprache = 0
    LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = SalesOrderPosition.kArtikel
    LEFT JOIN Verkauf.vAuftragPosition AS ConfiguratorItem ON ConfiguratorItem.kKonfigVater = SalesOrderPosition.kKonfigVater
    AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVater IS NOT NULL AND ConfiguratorItem.kKonfigVater != 0
    AND ConfiguratorItem.kAuftrag = SalesOrder.kAuftrag
    LEFT JOIN
    (
    SELECT tAuftragPositionEigenschaft.kAuftragPosition AS kBestellPos,
    CAST(SUM(tAuftragPositionEigenschaft.fZusatzgewicht) AS DECIMAL(25,13)) AS GewichtSumme
    FROM Verkauf.tAuftragPositionEigenschaft
    GROUP BY tAuftragPositionEigenschaft.kAuftragPosition
) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kBestellPos = SalesOrderPosition.kAuftragPosition
    LEFT JOIN dbo.pf_amazon_bestellungpos AS AmazonSalesOrderPosition
    ON AmazonSalesOrderPosition.kAmazonBestellungPos = SalesOrderPosition.kAmazonBestellungPos
    OUTER APPLY Report.ifItemDescription(SalesOrderPosition.kArtikel, [SalesOrder].kSprache, [SalesOrder].kPlattform, [SalesOrder].kShop)
    LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
    AND Condition.kSprache = SalesOrder.kSprache
    WHERE SalesOrderPosition.nType != 15 AND --Karton
    CASE
    WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = ''
    AND SalesorderPosition.kAuftragStueckliste != SalesorderPosition.kAuftragPosition
    AND SalesorderPosition.kAuftragStueckliste != 0
    THEN 1
    WHEN SalesorderPosition.kAuftragStueckliste != SalesorderPosition.kAuftragPosition
    AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
    THEN 0
    WHEN SalesorderPosition.kAuftragStueckliste = SalesorderPosition.kAuftragPosition
    AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten'
    THEN 0
    ELSE 0
    END = 1
)
GO
