USE [eazybusiness]
GO
/****** Object:  View [Report].[ShippingMethod]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[ShippingMethod]
AS
(
	SELECT 
		ShippingMethod.kVersandArt AS InternalId,
		ShippingMethod.cName AS [Name],
		ShippingMethod.fPrice AS Price,
		ShippingMethod.fMwSt AS VATRate,
		ShippingMethod.fVKFreiAB AS ShippingCostsFree,
		ShippingMethod.fZusatzGewicht AS AdditionalWeight,
		ShippingMethod.nEigeneVersandart AS OwnShippingMethod,
		ShippingMethod.nTrackingIDEingabePflicht AS TrackingIdMandatoryInput,
		ShippingMethod.nPrioritaet AS [Priority],
		ShippingMethod.cAmazonCarrierCode AS AmazonCarrierCode,
		ShippingMethod.cTrackingUrlTemplate,
		ShippingMethod.cEbayCarrierCode AS EbayCarrierCode,
		CASE
			WHEN ShippingMethod.nVerwiegePflicht = 0
				THEN 'NoWeighingMandatory'
			WHEN ShippingMethod.nVerwiegePflicht = 1
				THEN 'WeighingMandatoryWithDefault'
			WHEN ShippingMethod.nVerwiegePflicht = 2
				THEN 'WeighingMandatoryWithoutDefault'
			WHEN ShippingMethod.nVerwiegePflicht = 3
				THEN 'DetermineWeightViaConnectedScale'
		END AS WeighingMandatory
	FROM dbo.tversandart AS ShippingMethod
)
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingMethod'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingMethod'
GO
