USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoicePaymentInformation]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoicePaymentInformation]
AS
(
	SELECT
		Invoice.InternalId AS InvoiceInternalId,
		CASE 
			WHEN vRechnungZahlungsinfo.cPuiZahlungsinfo IS NOT NULL AND vRechnungZahlungsinfo.cPuiZahlungsinfo != '' 
				THEN 'SoldReceivable'
			WHEN PaymentMethod.nLastschrift = 1
				THEN 'SEPA'
			WHEN CAST(ISNULL(Finanzierungskosten.fFinanzierungskosten, 0.0) AS DECIMAL(25,13)) > 0
				THEN 'HirePurchase'
			WHEN PaymentMethod.cName LIKE '%Vorkasse%'
				THEN 'PaymentInAdvance'
			WHEN PaymentMethod.cName LIKE '%Nachnahme%'
				THEN 'CashOnDelivery'
			WHEN Invoice.OpenGrossPrice > 0 
				THEN 'Invoice'
			ELSE 'Undefined'
		END AS PaymentMethodType,
		tkunde.cKundenNr AS DebitMandateReference,
		Company.cGlaeubigerID AS DebitCreditorId,
		vRechnungZahlungsinfo.cKontoInhaber AS DebitAccountHolder,
		vRechnungZahlungsinfo.cBankName AS DebitBank,
		vRechnungZahlungsinfo.cIBAN AS DebitIBAN,
		vRechnungZahlungsinfo.cBIC AS DebitBIC,
		'Invoice ' + Invoice.InvoiceNumber AS DebitSubject,
		Invoice.InvoiceNumber AS DebitEndToEndId,
		Invoice.CreationDate + Invoice.TermOfPayment AS DebitDueDate,
		vRechnungZahlungsinfo.cKontoInhaber AS PayeeAccountHolder,
		vRechnungZahlungsinfo.cBankName AS PayeeBank,
		vRechnungZahlungsinfo.cIBAN AS PayeeIBAN,
		vRechnungZahlungsinfo.cBIC AS PayeeBIC,
		'Invoice ' + Invoice.InvoiceNumber AS PayeeSubject,
		Invoice.InvoiceNumber AS PayeeEndToEndId,
		Invoice.CreationDate + Invoice.TermOfPayment AS PayeeDueDate,
		vRechnungZahlungsinfo.cPuiZahlungsinfo AS PaymentInfo,
		CAST(ISNULL(Finanzierungskosten.fFinanzierungskosten, 0.0) AS DECIMAL(25,13)) AS FinancingCosts,
		Company.cKontoInhaber AS TransferAccountHolder,
		Company.cBank AS TransferBank,
		Company.cIBAN AS TransferIBAN,
		Company.cBIC AS TransferBIC,
		'Invoice ' + Invoice.InvoiceNumber AS TransferSubject,
		Invoice.InvoiceNumber AS TransferEndToEndId,
		Invoice.CreationDate + Invoice.TermOfPayment AS TransferDueDate,
		Company.cPayPalEMail AS PayPalId
	FROM Report.Invoice AS Invoice
	JOIN Rechnung.vRechnung ON vRechnung.kRechnung = Invoice.InternalId
	LEFT JOIN Rechnung.vRechnungZahlungsinfo ON vRechnungZahlungsinfo.kRechnung = Invoice.InternalId
	JOIN dbo.tkunde ON tkunde.kKunde = Invoice.CustomerInternalId
	JOIN dbo.tfirma AS Company ON Company.kFirma = Invoice.CompanyInternalId
	LEFT JOIN dbo.tZahlungsart AS PaymentMethod ON PaymentMethod.kZahlungsart = vRechnung.kZahlungsart
	LEFT JOIN (SELECT RechnungKey.kRechnung, SUM(vAuftrag.fFinanzierungskosten) AS fFinanzierungskosten
			   FROM (SELECT DISTINCT vRechnungPosition.kRechnung, vRechnungPosition.kAuftrag FROM Rechnung.vRechnungPosition) RechnungKey
			   JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = RechnungKey.kAuftrag
			   GROUP BY RechnungKey.kRechnung) AS Finanzierungskosten ON Finanzierungskosten.kRechnung = Invoice.InternalId
)
GO
