USE [eazybusiness]
GO
/****** Object:  View [Report].[PickListSalesOrder]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PickListSalesOrder]
AS
(
	SELECT 
		SalesOrder.kAuftrag AS InternalId,
        SalesOrder.cAuftragsNr AS SalesOrderNumber,
        vAuftragText.cAnmerkung AS Comment,
        SalesOrder.cExterneAuftragsnummer AS ExternalSalesOrderNumber,
        SalesOrder.cKundenauftragsnummer AS CustomerSalesOrderNumber
	FROM Verkauf.vAuftrag AS SalesOrder
	LEFT JOIN Verkauf.vAuftragText ON vAuftragText.kAuftrag = SalesOrder.kAuftrag
)
GO
