USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoicePositionBillOfMaterials]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoicePositionBillOfMaterials]
AS
    (
    SELECT
    InvoicePosition.kRechnungPosition AS InternalId,
    InvoicePosition.kStuecklisteRechnungPos AS BillOfMaterialsPositionParentId,
    InvoicePosition.kRechnung AS InvoiceInternalId,
    InvoicePosition.cArtNr AS SKU,
    InvoicePosition.cName AS [Name],
    InvoicePosition.cEinheit AS Unit,
    vRechnungPositionText.cHinweis AS Note,
    ifItemDescription.Name AS ItemName,
    ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
    ifItemDescription.DescriptionBrief AS ItemDescriptionBrief,
    InvoicePosition.fAnzahl AS Quantity,
    CASE
    WHEN InvoicePosition.nType = 1 THEN 'Item'
    WHEN InvoicePosition.nType = 2 THEN 'ShippingPosition'
    WHEN InvoicePosition.nType = 3 THEN 'Coupon'
    WHEN InvoicePosition.nType = 4 THEN 'Voucher'
    WHEN InvoicePosition.nType = 5 THEN 'PaymentMethod'
    WHEN InvoicePosition.nType = 6 THEN 'ShippingSurcharge'
    WHEN InvoicePosition.nType = 7 THEN 'NewCustomersCoupon'
    WHEN InvoicePosition.nType = 8 THEN 'CODCharge'
    WHEN InvoicePosition.nType = 9 THEN 'ItemShippingSurcharge'
    WHEN InvoicePosition.nType = 10 THEN 'Packaging'
    WHEN InvoicePosition.nType = 11 THEN 'GiftForFree'
    WHEN InvoicePosition.nType = 12 THEN 'TrustedShopsFee'
    WHEN InvoicePosition.nType = 13 THEN 'TaxSurcharge'
    WHEN InvoicePosition.nType = 14 THEN 'ProcessingFee'
    WHEN InvoicePosition.nType = 15 THEN 'Cardboard'
    WHEN InvoicePosition.nType = 16 THEN 'Return'
    WHEN InvoicePosition.nType = 17 THEN 'MultiPurposeVoucher'
    WHEN InvoicePosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
    WHEN InvoicePosition.nType = 19 THEN 'SinglePurposeVoucher'
    WHEN InvoicePosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
    WHEN InvoicePosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
    ELSE ''
    END AS PositionType,
    CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
    CAST(InvoicePosition.fAnzahl *
    CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS TotalWeight,
    CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13))AS IndividualShippingWeight,
    CAST(InvoicePosition.fAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13))
AS DECIMAL(25,13)) AS TotalShippingWeight,
    InvoicePosition.nSort AS Sorting,
    ISNULL(ConfiguratorItem.kRechnungPosition, 0) AS ConfiguratorPositionParentId,
    Product.kArtikel AS ProductInternalId,
    Condition.cName AS Condition
    FROM Rechnung.vRechnung
    JOIN Rechnung.vRechnungPosition AS InvoicePosition ON InvoicePosition.kRechnung = vRechnung.kRechnung
    LEFT JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = InvoicePosition.kSteuerschluessel
    LEFT JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = InvoicePosition.kRechnungPosition
    LEFT JOIN Rechnung.vRechnungPositionText ON vRechnungPositionText.kRechnungPosition = InvoicePosition.kRechnungPosition
    LEFT JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = InvoicePosition.kAuftragPosition
    LEFT JOIN Rechnung.vRechnungPosition AS ParentOrderPosition ON ParentOrderPosition.kRechnungPosition = InvoicePosition.kStuecklisteRechnungPos
    LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
    LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
    AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut
    LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut
    AND ItemAttributeLanguage.kSprache = 0
    LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = InvoicePosition.kArtikel
    LEFT JOIN
    (
    SELECT tRechnungPositionEigenschaft.kRechnungPosition,
    CAST(SUM(ISNULL(tRechnungPositionEigenschaft.fZusatzgewicht, 0.0)) AS DECIMAL(25,13)) AS GewichtSumme
    FROM Rechnung.tRechnungPositionEigenschaft
    GROUP BY tRechnungPositionEigenschaft.kRechnungPosition
) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kRechnungPosition = InvoicePosition.kRechnungPosition
    LEFT JOIN (SELECT DISTINCT vRechnungPosition.kRechnungPosition, vRechnungPosition.kKonfigVaterRechnungPos, vRechnungPosition.kRechnung, vAuftragPosition.kKonfigitem
    FROM Rechnung.vRechnungPosition
    JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = vRechnungPosition.kAuftragPosition) AS ConfiguratorItem
    ON ConfiguratorItem.kKonfigVaterRechnungPos = InvoicePosition.kKonfigVaterRechnungPos
    AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVaterRechnungPos IS NOT NULL AND ConfiguratorItem.kKonfigVaterRechnungPos != 0
    AND ConfiguratorItem.kRechnung = vRechnung.kRechnung
    LEFT JOIN (SELECT DISTINCT vRechnungPosition.kRechnung, vAuftrag.kPlattform, vAuftrag.kShop
    FROM Rechnung.vRechnungPosition
    JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vRechnungPosition.kAuftrag) Auftrag ON Auftrag.kRechnung = vRechnung.kRechnung
    LEFT JOIN dbo.pf_amazon_bestellungpos AS AmazonSalesOrderPosition
    ON AmazonSalesOrderPosition.kAmazonBestellungPos = vAuftragPosition.kAmazonBestellungPos
    OUTER APPLY Report.ifItemDescription(InvoicePosition.kArtikel, vRechnung.kSprache, Auftrag.kPlattform, Auftrag.kShop)
    LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
    AND Condition.kSprache = vRechnung.kSprache
    WHERE InvoicePosition.nType != 15 AND --Karton
    CASE
    WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = ''
    AND InvoicePosition.kStuecklisteRechnungPos != InvoicePosition.kRechnungPosition
    AND InvoicePosition.kStuecklisteRechnungPos != 0
    THEN 1
    WHEN InvoicePosition.kStuecklisteRechnungPos != InvoicePosition.kRechnungPosition
    AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
    THEN 0
    WHEN InvoicePosition.kStuecklisteRechnungPos = InvoicePosition.kRechnungPosition
    AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten'
    THEN 0
    ELSE 0
    END = 1
)
GO
