USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesQuotation]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesQuotation] AS SELECT
    SalesQuotation.kAuftrag AS InternalId,
    SalesQuotation.cAuftragsNr AS SalesQuotationNumber,
    vAuftragText.cAnmerkung AS Comment,
    vAuftragEckdaten.dGedruckt AS PrintingDate,
    vAuftragEckdaten.dGemailt AS MailingDate,
    SalesQuotation.dErstellt AS CreationDate,
    ISNULL(SalesQuotation.dVoraussichtlichesLieferdatum, SalesQuotation.dErstellt) AS ServiceDate,
    SalesQuotation.nZahlungszielTage AS TermOfPayment,
    SalesQuotation.cVersandlandISO AS ShipFromCountryISO,
    SalesQuotation.cVersandlandWaehrung AS ShipFromCountryCurrencyISO,
    SalesQuotation.fVersandlandWaehrungFaktor AS ShipFromCountryCurrencyFactor,
    '' AS CountryISO,
    SalesQuotation.cWaehrung AS CurrencyISO,
    SalesQuotation.fFaktor AS CurrencyFactor,
    SalesQuotation.cVersandlandISO AS TaxCountryISO,
    SalesQuotation.cVersandlandWaehrung AS TaxCountryCurrencyISO,
    SalesQuotation.fVersandlandWaehrungFaktor AS TaxCountryCurrencyFactor,
    vVorgangsstatus.cStatus AS [Status],
    vAuftragZahlungsinfo.cVerwendungszweck AS PaymentReference,
    SalesQuotation.fZusatzGewicht AS ExtraWeight,
    vAuftragZahlungsinfo.cPuiZahlungsinfo AS PaymentInfo,		
    SalesQuotation.cKundenauftragsnummer AS CustomerSalesQuotationNumber,
    SalesQuotation.kSprache AS LanguageInternalId,
    'SalesQuotation ' + SalesQuotation.cAuftragsNr AS OperationId,
    CASE
        WHEN ShippingSpecies.cName LIKE '%nachnahme%' 
            THEN CAST(1 AS BIT)
        WHEN PaymentMethod.cName LIKE '%nachnahme%' 
            THEN CAST(1 AS BIT)
        WHEN CashOnDelivery.kAuftrag > 0 
            THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS IsShippingMethodCOD,
    ISNULL(PaymentMethodLanguage.cName, PaymentMethod.cName) AS PaymentMethodName,
    CASE
        WHEN SalesQuotation.nSteuereinstellung = 10
            THEN 'IGL'
        WHEN SalesQuotation.nSteuereinstellung = 15
            THEN 'ReverseCharge'
        WHEN SalesQuotation.nSteuereinstellung = 20
            THEN 'ExemptFromVATnotEU'
        ELSE ''
    END AS ExemptFromVAT,
    CASE 
        WHEN [Plattform].nTyp = 1 THEN 'WAWI'
        WHEN [Plattform].nTyp = 2 THEN 'SHOP_CONNECTOR'
        WHEN [Plattform].nTyp = 3 THEN 'XMLIMPORT' 
        WHEN [Plattform].nTyp = 4 THEN 'JTLFFN'
        WHEN [Plattform].nTyp = 5 THEN 'EBAY'
        WHEN [Plattform].nTyp = 6 THEN 'AMAZONEU'
        WHEN [Plattform].nTyp = 7 THEN 'AMAZONONNEU'
        WHEN [Plattform].nTyp = 8 THEN 'UNICORN'
        WHEN [Plattform].nTyp = 9 THEN 'LSPOS'
        WHEN [Plattform].nTyp = 10 THEN 'OTHER'
        ELSE 'WAWI'
    END AS [Platform],
    SalesQuotation.fFinanzierungskosten AS FinancingCosts,
    Customer.cKundenNr AS CustomerNumber,		
    CASE WHEN CustomerGroup.nNettoPreise = 1
        THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS UseNetPrice,
    CASE
        WHEN DifferentAdresses.kAuftrag IS NOT NULL THEN CAST(1 AS BIT)
        ELSE CAST(0 AS BIT)
    END AS DifferentAddresses,
    CASE 
        WHEN Settings.nRunden = 1
            THEN CAST(ROUND(CAST(AmountSum.BruttopreisGesamt / 0.05 AS DECIMAL(25,13)), 0) * 0.05 AS DECIMAL(25,13))
        ELSE AmountSum.BruttopreisGesamt
    END AS TotalGrossPrice,
    AmountSum.NettopreisGesamt AS TotalNetPrice,
    SalesQuotationReference.cHinweis AS CustomerText,
    ROUND(CAST(PaymentMethod.fSkontoWert * CAST(AmountSum.BruttopreisGesamt / 100.0 AS DECIMAL(25,13)) 
        AS DECIMAL(25,13)), 2) AS CashDiscountValue,
    PaymentMethod.fSkontoWert AS CashDiscount,
    PaymentMethod.nSkontoZeitraum AS CashDiscountValidity,
    tFirmaHistory.kFirma AS CompanyInternalId,
    Customer.kKunde AS CustomerInternalId,
    Languages.cISO2 AS LanguageISO,
    SalesQuotation.kBenutzer AS UserInternalId,
    SalesQuotation.cUstId AS ValueAddedTaxId,
	SalesQuotation.kVersandArt AS ShippingMethodInternalId,
	SalesQuotationReference.cHinweis AS SalesQuotationNote,
	SalesQuotation.nBeschreibung AS ItemDescriptionType
FROM Verkauf.vAuftrag AS SalesQuotation
CROSS JOIN dbo.teinstellungen AS Settings
JOIN dbo.tPlattform AS [Plattform] ON SalesQuotation.kPlattform = [Plattform].nPlattform
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = SalesQuotation.kFirmaHistory
LEFT JOIN Verkauf.vAuftragZahlungsinfo ON vAuftragZahlungsinfo.kAuftrag = SalesQuotation.kAuftrag
LEFT JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = SalesQuotation.kAuftrag
LEFT JOIN Verkauf.vAuftragText ON vAuftragText.kAuftrag = SalesQuotation.kAuftrag
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = SalesQuotation.kAuftrag
LEFT JOIN dbo.tversandart AS ShippingSpecies ON ShippingSpecies.kVersandArt = SalesQuotation.kVersandArt
LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = SalesQuotation.kKunde
LEFT JOIN dbo.tKundenGruppe AS CustomerGroup ON CustomerGroup.kKundenGruppe = Customer.kKundenGruppe
LEFT JOIN dbo.tZahlungsart AS PaymentMethod ON PaymentMethod.kZahlungsart = SalesQuotation.kZahlungsArt
LEFT JOIN dbo.tZahlungsArtSprache AS PaymentMethodLanguage ON PaymentMethodLanguage.kZahlungsart = PaymentMethod.kZahlungsart AND PaymentMethodLanguage.kSprache = SalesQuotation.kSprache
LEFT JOIN Verkauf.vAuftragPosition AS CashOnDelivery
    ON CashOnDelivery.kAuftragPosition =
        (
            SELECT TOP 1 vAuftragPosition.kAuftragPosition
            FROM Verkauf.vAuftragPosition
            WHERE vAuftragPosition.nType = 2
                AND vAuftragPosition.cName LIKE '%nachnahme%'
                AND vAuftragPosition.kAuftrag = SalesQuotation.kAuftrag
        )
LEFT JOIN
(
    SELECT vAuftrag.kAuftrag 
    FROM Verkauf.vAuftrag
    LEFT JOIN Verkauf.vAuftragLieferadresse AS Lieferadresse ON Lieferadresse.kAuftrag = vAuftrag.kAuftrag
    LEFT JOIN Verkauf.vAuftragRechnungsadresse AS Rechnungsadresse ON Rechnungsadresse.kAuftrag = vAuftrag.kAuftrag
    WHERE vAuftrag.nType = 0 AND 
        (Lieferadresse.cFirma <> Rechnungsadresse.cFirma
        OR Lieferadresse.cAnrede <> Rechnungsadresse.cAnrede
        OR Lieferadresse.cTitel <> Rechnungsadresse.cTitel
        OR Lieferadresse.cVorname <> Rechnungsadresse.cVorname
        OR Lieferadresse.cName <> Rechnungsadresse.cName
        OR Lieferadresse.cStrasse <> Rechnungsadresse.cStrasse 
        OR Lieferadresse.cPLZ <> Rechnungsadresse.cPLZ
        OR Lieferadresse.cOrt <> Rechnungsadresse.cOrt
        OR Lieferadresse.cLand <> Rechnungsadresse.cLand
        OR Lieferadresse.cTel <> Rechnungsadresse.cTel
        OR Lieferadresse.cZusatz <> Rechnungsadresse.cZusatz
        OR Lieferadresse.cAdressZusatz <> Rechnungsadresse.cAdressZusatz
        OR Lieferadresse.cPostID <> Rechnungsadresse.cPostID
        OR Lieferadresse.cMobil <> Rechnungsadresse.cMobil
        OR Lieferadresse.cMail <> Rechnungsadresse.cMail
        OR Lieferadresse.cFax <> Rechnungsadresse.cFax
        OR Lieferadresse.cBundesland <> Rechnungsadresse.cBundesland
        OR Lieferadresse.cISO <> Rechnungsadresse.cISO)
) AS DifferentAdresses ON DifferentAdresses.kAuftrag = SalesQuotation.kAuftrag -- evtl rausnehmen
LEFT JOIN 
(
    SELECT TotalsSalesOrder.SalesOrderInternalId, 
        CAST(SUM(TotalsSalesOrder.GrossPriceTotal) AS DECIMAL(25,13)) AS BruttopreisGesamt, 
        CAST(SUM(TotalsSalesOrder.NetPriceTotal) AS DECIMAL(25,13)) AS NettopreisGesamt
    FROM Report.TotalsSalesOrder
    GROUP BY TotalsSalesOrder.SalesOrderInternalId		
) AS AmountSum ON AmountSum.SalesOrderInternalId = SalesQuotation.kAuftrag
LEFT JOIN dbo.tSpracheUsed AS UsedLanguage ON UsedLanguage.kSprache = SalesQuotation.kSprache
LEFT JOIN dbo.tSprachen AS Languages ON Languages.cISO = UsedLanguage.cISO
LEFT JOIN Verkauf.vAuftragText AS SalesQuotationReference ON SalesQuotationReference.kAuftrag = SalesQuotation.kAuftrag
WHERE SalesQuotation.nType = 0
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'SalesQuotationNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anmerkung zum Angebot' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'Comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum des Drucks des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'PrintingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum des Mailversands' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'MailingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstelldatum des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum der Lieferung ' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'ServiceDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zahlungsziel in Tagen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'TermOfPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Versandlandes im Angebot' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'ShipFromCountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Versandlandwährungsangabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'ShipFromCountryCurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faktor zur Umrechnung der Versandlandwährung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'ShipFromCountryCurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währungsangabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faktor zur Umrechnung der Währung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Steuerlandes im Angebot' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'TaxCountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Währungsfaktor des Steuerlandes im Angebot' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'TaxCountryCurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Verwendungszweck des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'PaymentReference'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zusatzgewicht des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'ExtraWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drucktext für Rechnungskauf' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'PaymentInfo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kundenangebotsnummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CustomerSalesQuotationNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der verwendeten Sprache' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'LanguageInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Art des Vorgangs (hier Angebot)' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'OperationId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob Nachnahme als Versandart angegeben ist' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'IsShippingMethodCOD'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name der Zahlungsart' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'PaymentMethodName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Umsatzsteuerfrei' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'ExemptFromVAT'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt die Plattform an, von der das Angebot kommt' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'Platform'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Finanzierungskosten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'FinancingCosts'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kundennummer im Angebot' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CustomerNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreise benutzen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'UseNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob Rechnungs- und Lieferadresse unterschiedlich sind' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'DifferentAddresses'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtbruttopreis des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtnettopreis des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kundentext' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CustomerText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Skontowert des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CashDiscountValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Skonto des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CashDiscount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Skontogültigkeitszeitraum in Tagen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CashDiscountValidity'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Company.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" name="Customer" DisplayName="Customer" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Kunden im Angebot' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Sprache des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'LanguageISO'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Benutzers im Angebot' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'USt-IdNr. des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'ValueAddedTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.ShippingMethod.InternalId" name="ShippingMethod" DisplayName="ShippingMethod" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Versandart im Angebot' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotation'
GO
