USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoiceCorrectionBillToAddress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoiceCorrectionBillToAddress]
AS
(
	SELECT 
		InvoiceCorrection.kGutschrift AS InvoiceCorrectionInternalId,
        InvoiceAdress.kKunde AS CustomerInternalId,
        ISNULL(InvoiceAdress.cFirma, '') AS Company,
        ISNULL(InvoiceAdress.cAnrede, '') AS Salutation,
        ISNULL(InvoiceAdress.cTitel, '') AS Title,
        ISNULL(InvoiceAdress.cVorname, '') AS FirstName,
        ISNULL(InvoiceAdress.cName, '') AS LastName,
        ISNULL(InvoiceAdress.cStrasse, '') AS [Address],
        ISNULL(InvoiceAdress.cPLZ, '') AS PostalCode,
        ISNULL(InvoiceAdress.cOrt, '') AS City,
        ISNULL(InvoiceAdress.cLand, '') AS Country,
        ISNULL(InvoiceAdress.cTel, '') AS Phone,
        ISNULL(InvoiceAdress.cZusatz, '') AS CompanySupplement,
        ISNULL(InvoiceAdress.cAdressZusatz, '') AS AddressSupplement,
        ISNULL(InvoiceAdress.cMobil, '') AS MobilePhone,
        ISNULL(InvoiceAdress.cMail, '') AS EmailAddress,
        ISNULL(InvoiceAdress.cFax, '') AS Fax,
        ISNULL(InvoiceAdress.cBundesland, '') AS [State],
        ISNULL(InvoiceAdress.cISO, '') AS CountryISO,
		ISNULL(InvoiceAdress.cKundenNr, '') AS CustomerNumber,
		ISNULL(InvoiceCorrection.cKundeUstId, '') AS ValueAddedTaxId
	FROM dbo.trechnungsadresse AS InvoiceAdress
	JOIN dbo.tgutschrift AS InvoiceCorrection ON InvoiceCorrection.kRechnungsAdresse = InvoiceAdress.kRechnungsAdresse
	LEFT JOIN dbo.tAdresse ON tAdresse.kKunde = InvoiceAdress.kKunde
		AND tAdresse.nStandard = 1
		AND tAdresse.nTyp = 1
)
GO
