USE [eazybusiness]
GO
/****** Object:  View [Report].[PurchaseOrder]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PurchaseOrder]
AS
(
	SELECT 
		PurchaseOrder.kLieferantenBestellung AS InternalId,
		PurchaseOrder.kLieferant AS SupplierInternalId,
		PurchaseOrder.kLieferantenBestellungRA AS PurchaseOrderBillToAddressInternalId,
		PurchaseOrder.kLieferantenBestellungLA AS PurchaseOrderSupplierAddressInternalId,
		PurchaseOrder.dErstellt AS CreationDate,
		PurchaseOrder.dGedruckt AS PrintingDate,
		PurchaseOrder.dGemailt AS MailingDate,
		PurchaseOrder.dGefaxt AS FaxingDate,
		PurchaseOrder.dExportiert AS ExportingDate,
		PurchaseOrder.cWaehrungISO AS CurrencyISO,
		PurchaseOrder.cDruckAnmerkung AS PrintingNote,
		PurchaseOrder.kFirma AS CompanyInternalId,
		PurchaseOrder.kLager AS WarehouseInternalId,
		PurchaseOrder.kKunde AS CustomerInternalId,
		PurchaseOrder.cEigeneBestellnummer AS OwnPurchaseOrderId,
		PurchaseOrder.cBezugsAuftragsNummer AS ReferenceSalesOrderId,
		PurchaseOrder.kLieferantenBestellungLieferant AS PurchaseOrderSupplierInternalId,
		PurchaseOrder.kBenutzer AS UserInternalId,
		PurchaseOrder.kLieferschein AS DeliveryNoteInternalId,
		PurchaseOrder.fFaktor AS CurrencyFactor,
		CASE
			WHEN PurchaseOrder.nStatus = -1
				THEN 'All'
			WHEN PurchaseOrder.nStatus = 0
				THEN 'Open'
			WHEN PurchaseOrder.nStatus = 5
				THEN 'Released'
			WHEN PurchaseOrder.nStatus = 20
				THEN 'InProgress'
			WHEN PurchaseOrder.nStatus = 30
				THEN 'PartSupplied'
			WHEN PurchaseOrder.nStatus = 50
				THEN 'Overdue'
			WHEN PurchaseOrder.nStatus = 100
				THEN 'RequestForQuote'
			WHEN PurchaseOrder.nStatus = 500
				THEN 'DropshippingOpen'
			WHEN PurchaseOrder.nStatus = 650
				THEN 'DropshippingSent'
			WHEN PurchaseOrder.nStatus = 700
				THEN 'DropshippingClosed'
		END AS [Status],
		CASE
			WHEN DifferentAdresses.kLieferantenBestellung IS NOT NULL THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)			
		END AS DifferentAddresses,
		AmountSum.TotalNetPriceSum AS TotalNetPrice,
		AmountSum.TotalGrossPriceSum AS TotalGrossPrice,
		AmountSum.TotalGrossDiscountSum AS TotalGrossPriceDiscount,
		AmountSum.TotalNetDiscountSum AS TotalNetPriceDiscount,
		AmountSum.TotalVATSum AS TotalVATPrice,
		'PurchaseOrder ' + PurchaseOrder.cEigeneBestellnummer AS OperationId
	FROM dbo.tLieferantenBestellung AS PurchaseOrder
	LEFT JOIN
	(
		SELECT tLieferantenBestellung.kLieferantenBestellung
		FROM dbo.tLieferantenBestellung
		LEFT JOIN dbo.tLieferantenBestellungLA AS DeliveryAdress 
			ON DeliveryAdress.kLieferantenBestellungLA = tLieferantenBestellung.kLieferantenBestellungLA
		LEFT JOIN dbo.tLieferantenBestellungRA InvoiceAdress 
			ON InvoiceAdress.kLieferantenBestellungRA = tLieferantenBestellung.kLieferantenBestellungRA
		WHERE DeliveryAdress.cFirma <> InvoiceAdress.cFirma
			OR DeliveryAdress.cFirmenZusatz <> InvoiceAdress.cFirmenZusatz
			OR DeliveryAdress.cAnrede <> InvoiceAdress.cAnrede
			OR DeliveryAdress.cTitel <> InvoiceAdress.cTitel
			OR DeliveryAdress.cVorname <> InvoiceAdress.cVorname
			OR DeliveryAdress.cNachname <> InvoiceAdress.cNachname
			OR DeliveryAdress.cStrasse <> InvoiceAdress.cStrasse
			OR DeliveryAdress.cAdresszusatz <> InvoiceAdress.cAdresszusatz
			OR DeliveryAdress.cPLZ <> InvoiceAdress.cPLZ
			OR DeliveryAdress.cOrt <> InvoiceAdress.cOrt
			OR DeliveryAdress.cBundesland <> InvoiceAdress.cBundesland
			OR DeliveryAdress.cLandISO <> InvoiceAdress.cLandISO
			OR DeliveryAdress.cTel <> InvoiceAdress.cTel
			OR DeliveryAdress.cFax <> InvoiceAdress.cFax
			OR DeliveryAdress.cMobil <> InvoiceAdress.cMobil
			OR DeliveryAdress.cMail <> InvoiceAdress.cMail
	) AS DifferentAdresses ON DifferentAdresses.kLieferantenBestellung = PurchaseOrder.kLieferantenBestellung
	LEFT JOIN 
	(
		SELECT TotalsPurchaseOrder.PurchaseOrderInternalId,
			CAST(SUM(TotalsPurchaseOrder.GrossPriceTotal) AS DECIMAL(25,13)) AS TotalGrossPriceSum,
			CAST(SUM(TotalsPurchaseOrder.NetPriceTotal) AS DECIMAL(25,13)) AS TotalNetPriceSum,
			CAST(SUM(TotalsPurchaseOrder.GrossPriceDiscountTotal) AS DECIMAL(25,13)) AS TotalGrossDiscountSum,
			CAST(SUM(TotalsPurchaseOrder.NetPriceDiscountTotal) AS DECIMAL(25,13)) AS TotalNetDiscountSum,
			CAST(SUM(TotalsPurchaseOrder.VATSum) AS DECIMAL(25,13)) AS TotalVATSum
		FROM Report.TotalsPurchaseOrder
		GROUP BY TotalsPurchaseOrder.PurchaseOrderInternalId
	) AS AmountSum ON AmountSum.PurchaseOrderInternalId = PurchaseOrder.kLieferantenBestellung
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Supplier.InternalId" name="Supplier" DisplayName="Supplier" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'SupplierInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Supplier.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'SupplierInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Lieferanten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'SupplierInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.PurchaseOrderBillToAddress.InternalId" name="PurchaseOrderBillToAddress" DisplayName="PurchaseOrderBillToAddress" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderBillToAddressInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.PurchaseOrderBillToAddress.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderBillToAddressInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Rechnungsadresse der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderBillToAddressInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.PurchaseOrderShipToAddress.InternalId" name="PurchaseOrderShipToAddress" DisplayName="PurchaseOrderSupplierAddress" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderSupplierAddressInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.PurchaseOrderShipToAddress.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderSupplierAddressInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Lieferantenadresse der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderSupplierAddressInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum der Erstellung der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Druckdatum der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PrintingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Maildatum der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'MailingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faxdatum der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'FaxingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Exportierdatum der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'ExportingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Währung angegeben in ISO' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'CurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drucktext' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PrintingNote'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Company.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Warehouse.InternalId" name="Warehouse" DisplayName="Warehouse" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'WarehouseInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Warehouse.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'WarehouseInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Lagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'WarehouseInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" name="Customer" DisplayName="Customer" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Customer.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eigene Bestellnummer der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'OwnPurchaseOrderId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Auftragsnummer wenn Bezug zu einem Kundenauftrag besteht' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'ReferenceSalesOrderId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.PurchaseOrderSupplier.InternalId" name="PurchaseOrderSupplier" DisplayName="PurchaseOrderSupplier" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderSupplierInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.PurchaseOrderSupplier.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderSupplierInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Lieferanten für die Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'PurchaseOrderSupplierInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.User.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Benutzers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.DeliveryNote.InternalId" name="DeliveryNote" DisplayName="DeliveryNote" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ID des internen Lieferscheins' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faktor zur Umrechnung der Währung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'CurrencyFactor'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob Liefer- und Rechnungsadresse unterschiedlich sind' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'DifferentAddresses'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtnettopreis der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtbruttopreis der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rabatt des Gesamtbruttopreises der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'TotalGrossPriceDiscount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rabatt des Gesamtnettopreises der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'TotalNetPriceDiscount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zeigt an, wie hoch die MwSt der Lieferantenbestellung ist' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'TotalVATPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Auftrags-ID der Lieferantenbestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder', @level2type=N'COLUMN',@level2name=N'OperationId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrder'
GO
