USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesQuotationPositionConfiguration]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesQuotationPositionConfiguration]
AS
(
	SELECT 
		SalesQuotationPositionConfiguration.kAuftragPositionEigenschaft AS InternalId,
        ISNULL(SalesQuotationPositionConfiguration.kEigenschaftWert, 0) AS ConfigurationValueInternalId,
        ISNULL(SalesQuotationPositionConfiguration.kAuftragPosition, 0) AS SalesQuotationPositionInternalId,
        tAuftragPosition.kArtikel AS ProductInternalId,
        SalesQuotationPositionConfiguration.fAufpreisNetto AS AdditionalNetPrice,
        SalesQuotationPositionConfiguration.cWert AS ValueText,
        SalesQuotationPositionConfiguration.cName AS [Name],
        ISNULL(SalesQuotationPositionConfiguration.kEigenschaft, 0) AS ConfigurationInternalId,
        [Configuration].nSort AS ConfigurationSorting
	FROM Verkauf.tAuftragPositionEigenschaft AS SalesQuotationPositionConfiguration
	JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = SalesQuotationPositionConfiguration.kAuftragPosition
	LEFT JOIN dbo.teigenschaft AS [Configuration] ON [Configuration].kEigenschaft = SalesQuotationPositionConfiguration.kEigenschaft
)
GO
