USE [eazybusiness]
GO
/****** Object:  View [Report].[DeliveryNotePositionBillOfMaterials]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[DeliveryNotePositionBillOfMaterials]
AS
    (
    SELECT
    DeliveryNotePosition.kLieferscheinPos AS InternalId,
    SalesOrderPosition.kAuftragStueckliste AS BillOfMaterialsPositionParentId,
    DeliveryNotePosition.kLieferschein AS DeliveryNoteInternalId,
    DeliveryNotePosition.fAnzahl AS Quantity,
    DeliveryNotePosition.cHinweis AS Note,
    SalesOrderPosition.cArtNr AS SKU,
    tProductRef.cJfsku AS Jfsku,
    SalesOrderPosition.cName AS [Name],
    ifItemDescription.Name AS ItemName,
    ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
    ifItemDescription.DescriptionBrief AS ItemDescriptionBrief,
    SalesOrderPosition.cEinheit AS Unit,
    CASE
    WHEN SalesOrderPosition.nType = 1 THEN 'Item'
    WHEN SalesOrderPosition.nType = 2 THEN 'ShippingPosition'
    WHEN SalesOrderPosition.nType = 3 THEN 'Coupon'
    WHEN SalesOrderPosition.nType = 4 THEN 'Voucher'
    WHEN SalesOrderPosition.nType = 5 THEN 'PaymentMethod'
    WHEN SalesOrderPosition.nType = 6 THEN 'ShippingSurcharge'
    WHEN SalesOrderPosition.nType = 7 THEN 'NewCustomersCoupon'
    WHEN SalesOrderPosition.nType = 8 THEN 'CODCharge'
    WHEN SalesOrderPosition.nType = 9 THEN 'ItemShippingSurcharge'
    WHEN SalesOrderPosition.nType = 10 THEN 'Packaging'
    WHEN SalesOrderPosition.nType = 11 THEN 'GiftForFree'
    WHEN SalesOrderPosition.nType = 12 THEN 'TrustedShopsFee'
    WHEN SalesOrderPosition.nType = 13 THEN 'TaxSurcharge'
    WHEN SalesOrderPosition.nType = 14 THEN 'ProcessingFee'
    WHEN SalesOrderPosition.nType = 15 THEN 'Cardboard'
    WHEN SalesOrderPosition.nType = 16 THEN 'Return'
    WHEN SalesOrderPosition.nType = 17 THEN 'MultiPurposeVoucher'
    WHEN SalesOrderPosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
    WHEN SalesOrderPosition.nType = 19 THEN 'SinglePurposeVoucher'
    WHEN SalesOrderPosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
    WHEN SalesOrderPosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
    ELSE ''
    END AS PositionType,
    ISNULL(ConfiguratorItem.kAuftragPosition, 0) AS ConfiguratorPositionParentId,
    ISNULL(SalesOrderPosition.kArtikel, 0) AS ProductInternalId,
    SalesOrderPosition.nSort AS Sorting,
    SalesorderPosition.fVKNetto AS NetPricePerUnit,
    CAST(DeliveryNotePosition.fAnzahl * SalesOrderPosition.fVKNetto *
    (1.0 - SalesOrderPosition.fRabatt / 100.0 ) AS DECIMAL(25,13))
AS TotalNetPrice,
    CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
    CAST(DeliveryNotePosition.fAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0)
AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS TotalShippingWeight,
    Condition.cName AS Condition
    FROM dbo.tLieferscheinPos AS DeliveryNotePosition
    JOIN Verkauf.vAuftragPosition AS SalesorderPosition ON SalesorderPosition.kAuftragPosition = DeliveryNotePosition.kBestellPos
    LEFT JOIN Verkauf.vAuftragPosition AS ParentOrderPosition ON ParentOrderPosition.kAuftragPosition = SalesorderPosition.kAuftragStueckliste
    LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
    LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
    AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut
    LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut
    AND ItemAttributeLanguage.kSprache = 0
    LEFT JOIN Verkauf.vAuftragPosition AS ConfiguratorItem ON ConfiguratorItem.kKonfigVater = SalesOrderPosition.kKonfigVater
    AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVater IS NOT NULL AND ConfiguratorItem.kKonfigVater != 0
    AND SalesOrderPosition.kAuftrag = ConfiguratorItem.kAuftrag
    LEFT JOIN Verkauf.vAuftrag AS SalesOrder ON SalesOrder.kAuftrag = SalesOrderPosition.kAuftrag
    LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = SalesOrderPosition.kArtikel
    LEFT JOIN dbo.pf_amazon_bestellungpos AS AmazonSalesOrderPosition
    ON AmazonSalesOrderPosition.kAmazonBestellungPos = SalesOrderPosition.kAmazonBestellungPos
    LEFT JOIN FulfillmentNetwork.tProductRef ON tProductRef.kArtikel = Product.kArtikel
    OUTER APPLY Report.ifItemDescription(SalesOrderPosition.kArtikel, SalesOrder.kSprache, SalesOrder.kPlattform, SalesOrder.kShop)
    LEFT JOIN
    (
    SELECT vAuftragPositionEigenschaft.kAuftragPosition AS kBestellPos,
    CAST(SUM(vAuftragPositionEigenschaft.fZusatzgewicht) AS DECIMAL(25,13)) AS GewichtSumme
    FROM Verkauf.vAuftragPositionEigenschaft
    GROUP BY vAuftragPositionEigenschaft.kAuftragPosition
) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kBestellPos = SalesOrderPosition.kAuftragPosition
    LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
    AND Condition.kSprache = SalesOrder.kSprache
    WHERE SalesOrderPosition.nType != 15 AND --Karton
    CASE
    WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = ''
    AND SalesorderPosition.kAuftragStueckliste != SalesorderPosition.kAuftragPosition
    AND SalesorderPosition.kAuftragStueckliste != 0
    THEN 1
    WHEN SalesorderPosition.kAuftragStueckliste != SalesorderPosition.kAuftragPosition
    AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
    THEN 0
    WHEN SalesorderPosition.kAuftragStueckliste = SalesorderPosition.kAuftragPosition
    AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten'
    THEN 0
    ELSE 0
    END = 1
)
GO
