USE [eazybusiness]
GO
/****** Object:  View [Report].[Warehouse]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Warehouse]
AS
(
	SELECT 
		Warehouse.kWarenLager AS InternalId,
		Warehouse.cName AS [Name],
		Warehouse.cKuerzel AS Code,
		Warehouse.cBeschreibung AS [Description],
		Warehouse.cStrasse AS [Address],
		Warehouse.cPLZ AS PostalCode,
		Warehouse.cOrt AS City,
		Warehouse.cLand AS Country,
		Warehouse.cBundesland AS [State],
		Warehouse.cAnsprechpartnerAnrede AS ContactSalutation,
		Warehouse.cAnsprechpartnerVorname AS ContactFirstName,
		Warehouse.cAnsprechpartnerName AS ContactLastName,
		Warehouse.cAnsprechpartnerTel AS ContactPhoneNumber,
		Warehouse.cAnsprechpartnerFax AS ContactFax,
		Warehouse.cAnsprechpartnerEMail AS ContactEmailAddress,
		Warehouse.cAnsprechpartnerAbteilung AS ContactDepartment,
		CASE 
			WHEN Warehouse.nLagerplatzVerwaltung = 1
				THEN 'WMS'
			ELSE
				CASE
					WHEN Warehouse.nFulfillment = 0
						THEN
							CASE 
								WHEN Warehouse.kQuellLager != 0 AND Warehouse.kZielLager != 0
									THEN 'Streckenlager'
								ELSE
									'WAWI'
							END
					WHEN Warehouse.nFulfillment = 1
						THEN 'FulfillmentExtern'
					WHEN Warehouse.nFulfillment = 2
						THEN 'FBA'
					WHEN Warehouse.nFulfillment = 3
						THEN 'JFN'
					ELSE
						''
				END
		END AS WarehouseType
	FROM dbo.tWarenLager AS Warehouse
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kürzel des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'Code'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Beschreibung des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Strasse des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PLZ des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'PostalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ort des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'City'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Land des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'Country'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bundesland des Warenlagers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anrede des Ansprechpartners' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'ContactSalutation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vorname des Ansprechpartners' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'ContactFirstName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nachname des Ansprechpartners' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'ContactLastName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefonnummer des Ansprechpartners' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'ContactPhoneNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faxnummer des Ansprechpartners' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'ContactFax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E-Mail-Adresse des Ansprechpartners' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'ContactEmailAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Abteilung des Ansprechpartners' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'ContactDepartment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ des Warenlagers (Fulfillment, JTL-Wawi, JTL-WMS usw.)' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse', @level2type=N'COLUMN',@level2name=N'WarehouseType'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Warehouse'
GO
