USE [eazybusiness]
GO
/****** Object:  View [Report].[PurchaseOrderBillToAddress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PurchaseOrderBillToAddress]
AS
(
	SELECT 
		PurchaseOrderBillToAddress.kLieferantenBestellungRA AS InternalId,
        ISNULL(PurchaseOrderBillToAddress.cFirma, '') AS Company,
        ISNULL(PurchaseOrderBillToAddress.cFirmenZusatz, '') AS CompanySupplement,
        ISNULL(PurchaseOrderBillToAddress.cAnrede, '') AS Salutation,
        ISNULL(PurchaseOrderBillToAddress.cTitel, '') AS Title,
        ISNULL(PurchaseOrderBillToAddress.cVorname, '') AS FirstName,
        ISNULL(PurchaseOrderBillToAddress.cNachname, '') AS LastName,
        ISNULL(PurchaseOrderBillToAddress.cStrasse, '') AS [Address],
        ISNULL(PurchaseOrderBillToAddress.cAdresszusatz, '') AS AddressSupplement,
        ISNULL(PurchaseOrderBillToAddress.cPLZ, '') AS PostalCode,
        ISNULL(PurchaseOrderBillToAddress.cOrt, '') AS City,
        ISNULL(PurchaseOrderBillToAddress.cBundesland, '') AS [State],
        ISNULL(PurchaseOrderBillToAddress.cLandISO, '') AS CountryISO,
        ISNULL(PurchaseOrderBillToAddress.cTel, '') AS Phone,
        ISNULL(PurchaseOrderBillToAddress.cFax, '') AS Fax,
        ISNULL(PurchaseOrderBillToAddress.cMobil, '') AS MobilePhone,
        ISNULL(PurchaseOrderBillToAddress.cMail, '') AS EmailAddress
	FROM dbo.tLieferantenBestellungRA AS PurchaseOrderBillToAddress
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Adresse' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Firma der Adresse' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'Company'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Firmenzusatz des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'CompanySupplement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anrede des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'Salutation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Titel des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vorname des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'FirstName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nachname des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'LastName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Strasse des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Adresszusatz des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'AddressSupplement'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PLZ des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'PostalCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ort des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'City'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bundesland des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'State'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Landes des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'CountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Telefonnummer des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Faxnummer des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'Fax'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mobilnummer des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'MobilePhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'E-Mail-Adresse des Empfängers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress', @level2type=N'COLUMN',@level2name=N'EmailAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'PurchaseOrderBillToAddress'
GO
