USE [eazybusiness]
GO
/****** Object:  View [Report].[DunningInvoice]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[DunningInvoice]
AS
(
	SELECT 
		Invoice.kRechnung AS InternalId,
		Invoice.cRechnungsNr AS InvoiceNumber,
		vRechnungEckdaten.dDruckdatum AS PrintingDate,
		vRechnungEckdaten.dMaildatum AS MailingDate,
		Invoice.dErstellt AS CreationDate,
		CASE 
			WHEN Settings.nRunden = 1
				THEN CAST(ROUND(CAST(vRechnungEckdaten.fVkBruttoGesamt / 0.05 AS DECIMAL(25,13)), 0) * 0.05 AS DECIMAL(25,13))
			ELSE vRechnungEckdaten.fVkBruttoGesamt
		END AS TotalGrossPrice,
		vRechnungEckdaten.fVkBruttoGesamt - vRechnungEckdaten.fGutschrift - vRechnungEckdaten.fZahlung AS OpenGrossPrice,
		Invoice.cWaehrung AS CurrencyISO
	FROM Rechnung.vRechnung AS Invoice
	CROSS JOIN dbo.teinstellungen AS Settings
	LEFT JOIN Rechnung.vRechnungEckdaten ON vRechnungEckdaten.kRechnung = Invoice.kRechnung		
)
GO
