USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesOrderPositionConfiguration]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesOrderPositionConfiguration]
AS
(
	SELECT
		SalesOrderPositionConfiguration.kAuftragPositionEigenschaft AS InternalId,
		ISNULL(SalesOrderPositionConfiguration.kEigenschaftWert, 0) AS ConfigurationValueInternalId,
		ISNULL(SalesOrderPositionConfiguration.kAuftragPosition, 0) AS SalesOrderPositionInternalId,
		tAuftragPosition.kArtikel AS ProductInternalId,
		SalesOrderPositionConfiguration.fAufpreisNetto AS AdditionalNetPrice,
		SalesOrderPositionConfiguration.cWert AS ValueText,
		SalesOrderPositionConfiguration.cName AS [Name],
		ISNULL(SalesOrderPositionConfiguration.kEigenschaft, 0) AS ConfigurationInternalId,
		[Configuration].nSort AS ConfigurationSorting
	FROM Verkauf.tAuftragPositionEigenschaft AS SalesOrderPositionConfiguration
	JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = SalesOrderPositionConfiguration.kAuftragPosition
	LEFT JOIN dbo.teigenschaft AS [Configuration] ON [Configuration].kEigenschaft = SalesOrderPositionConfiguration.kEigenschaft
)
GO
