USE [eazybusiness]
GO
/****** Object:  View [Report].[TotalsInvoice]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[TotalsInvoice]
AS
(
	SELECT 
		Invoice.kRechnung AS InvoiceInternalId,
		InvoicePosition.VATRate AS VATRate, 
		CAST(ROUND(SUM(InvoicePosition.VATValue),2) AS DECIMAL(25,13)) AS VATSum,
		CAST(ROUND(SUM(InvoicePosition.TotalGrossPrice),2) AS DECIMAL(25,13)) AS GrossPriceTotal,
		CAST(ROUND(SUM(InvoicePosition.TotalNetPrice),2) AS DECIMAL(25,13)) AS NetPriceTotal,
		CAST(ROUND(SUM(CASE WHEN InvoicePosition.PositionType = 'ShippingPosition'
				THEN InvoicePosition.TotalGrossPrice
				ELSE 0.0
			END),2) AS DECIMAL(25,13)) AS GrossPriceShippingPositionTotal,
		CAST(ROUND(SUM(CASE WHEN InvoicePosition.PositionType = 'ShippingPosition'
				THEN InvoicePosition.TotalNetPrice
				ELSE 0.0
			END),2) AS DECIMAL(25,13)) AS NetPriceShippingPositionTotal,
		CAST(ROUND(SUM(CASE WHEN InvoicePosition.PositionType = 'ShippingPosition'
				THEN InvoicePosition.TotalGrossPrice
				ELSE 0.0
			END -
			CASE WHEN InvoicePosition.PositionType = 'ShippingPosition'
				THEN InvoicePosition.TotalNetPrice
				ELSE 0.0
			END),2) AS DECIMAL(25,13)) AS ShippingCostsVAT,
		CAST(ROUND(SUM(InvoicePosition.DiscountValue),2) AS DECIMAL(25,13)) AS DiscountValueTotal,
		CAST(ROUND(SUM(CASE WHEN InvoicePosition.PositionType = 'CODCharge'
				THEN InvoicePosition.TotalGrossPrice
				ELSE 0.0
			END),2) AS DECIMAL(25,13)) AS GrossPriceCODChargeTotal
	FROM Rechnung.vRechnung AS Invoice
	JOIN Report.InvoicePosition ON InvoicePosition.InvoiceInternalId = Invoice.kRechnung
	GROUP BY InvoicePosition.VATRate, Invoice.kRechnung
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Invoice.InternalId" type="reverseOnly" name="Invoice" DisplayName="Invoice">
  <reverse name="TotalsInvoice" DisplayName="TotalsInvoice" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoice', @level2type=N'COLUMN',@level2name=N'InvoiceInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Invoice.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoice', @level2type=N'COLUMN',@level2name=N'InvoiceInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoice'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoice'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'TotalsInvoice'
GO
