USE [eazybusiness]
GO
/****** Object:  View [Report].[FulfilmentOrderPosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[FulfilmentOrderPosition]
AS
(
	SELECT
		FulfillmentOrderPosition.kFulfillmentAuftragPos AS InternalId,
		FulfillmentOrderPosition.kFulfillmentAuftrag AS FulfilmentOrderInternalId,
		FulfillmentOrderPosition.cArtNr AS SKU,
		FulfillmentOrderPosition.fAnzahl AS Quantity,
		FulfillmentOrderPosition.nStatus AS [Status],
		FulfillmentOrderPosition.cArtikelGeschenkText AS ItemGiftText,
		FulfillmentOrderPosition.cArtikelHinweis AS ItemNote,
		FulfillmentOrderPosition.kLieferscheinPos AS DeliveryNotePositionInternalId,
		OrderPosition.cName AS [Name],
		[Order].kSprache AS LanguageInternalId,
		OrderPosition.nSort AS Sorting,
		CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
		CAST(OrderPosition.fAnzahl * CAST(Product.fArtGewicht + VariationenInternGewichtEinzel.GewichtSumme AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS TotalWeight,
		OrderPosition.cEinheit AS Unit,
		DeliveryNotePosition.cHinweis AS Note,
		ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
		ifItemDescription.DescriptionBrief AS ItemDescriptionShort
	FROM dbo.tFulfillmentAuftragPos AS FulfillmentOrderPosition
	LEFT JOIN dbo.tLieferscheinPos AS DeliveryNotePosition 
		ON DeliveryNotePosition.kLieferscheinPos = FulfillmentOrderPosition.kLieferscheinPos
	LEFT JOIN Verkauf.vAuftragPosition AS OrderPosition 
		ON OrderPosition.kAuftragPosition = DeliveryNotePosition.kBestellPos
	LEFT JOIN Verkauf.vAuftrag AS [Order] ON [Order].kAuftrag = OrderPosition.kAuftrag
	OUTER APPLY Report.ifItemDescription(OrderPosition.kArtikel, [Order].kSprache, [Order].kPlattform, [Order].kShop)
	LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = OrderPosition.kArtikel
	LEFT JOIN 
	(
		SELECT vAuftragPositionEigenschaft.kAuftragPosition AS kBestellPos, 
			CAST(SUM(vAuftragPositionEigenschaft.fZusatzgewicht) AS DECIMAL(25,13)) AS GewichtSumme
		FROM Verkauf.vAuftragPositionEigenschaft
		GROUP BY vAuftragPositionEigenschaft.kAuftragPosition
	) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kBestellPos = OrderPosition.kAuftragPosition
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.FulfilmentOrder.InternalId" name="FulfilmentOrder" DisplayName="FulfilmentOrder">
  <reverse name="FulfilmentOrderPosition" DisplayName="FulfilmentOrderPosition" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'FulfilmentOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Fulfillmentauftragspositionen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'FulfilmentOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Artikelnummer des Artikels auf der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'SKU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anzahl pro Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Status der Fulfillmentauftragsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Geschenktext für den Artikel' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'ItemGiftText'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis zum Artikel in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'ItemNote'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.DeliveryNotePosition.InternalId" name="DeliveryNotePosition" DisplayName="DeliveryNotePosition" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'DeliveryNotePositionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.DeliveryNotePosition.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'DeliveryNotePositionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Lieferscheinposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'DeliveryNotePositionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drucktext zur Fulfillmentauftragsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID zur verwendeten Sprache' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'LanguageInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sortierung der Fulfillmentauftragspositionen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'Sorting'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gewicht des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'IndividualWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gewicht der Menge in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'TotalWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einheit des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'Unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis der Lieferscheinposition zur Fulfillmentauftragsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lange Artikelbeschreibung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionDetailed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kurze Artikelbeschreibung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionShort'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderPosition'
GO
