USE [eazybusiness]
GO
/****** Object:  View [Report].[BinLocation]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[BinLocation]
AS
(
	SELECT 
		Warenlagerplatz.kWarenLagerPlatz AS InternalId,
		Warenlagerplatz.fGewichtMax AS MaximumWeight,
		Warenlagerplatz.cKommentar AS Comment,
		Warenlagerplatz.fLaenge AS [Length],
		Warenlagerplatz.fBreite AS Width,
		Warenlagerplatz.fHoehe AS Height,
		Warenlagerplatz.nSort AS Sorting,
		Warenlagerplatz.cName AS BinLocatinName,
		CASE 
			WHEN Warenlagerplatz.nStatus = 0
				THEN 'Active'
			WHEN Warenlagerplatz.nStatus = 1
				THEN 'Locked'
			WHEN Warenlagerplatz.nStatus = 2
				THEN 'InventoryLocked'
			WHEN Warenlagerplatz.nStatus = 3
				THEN 'Inactive'
			WHEN Warenlagerplatz.nStatus = 4
				THEN 'Deleted'
			ELSE 'Unknown'
		END AS [Status],
		Warenlagerplatz.dWmsInventurDatum AS InventoryDate,
		Warenlagerplatz.nGesperrt AS IsLocked,
		Warenlagerplatz.kWarenLager	AS WarehouseInternalId
	FROM dbo.tWarenLagerPlatz AS Warenlagerplatz
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Warehouse.InternalId" type="reverseOnly" name="Warehouse" DisplayName="Warehouse">
  <reverse name="BinLocation" type="reverseOnly" DisplayName="BinLocation" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'BinLocation', @level2type=N'COLUMN',@level2name=N'WarehouseInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Warehouse.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'BinLocation', @level2type=N'COLUMN',@level2name=N'WarehouseInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'BinLocation'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'BinLocation'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'BinLocation'
GO
