USE [eazybusiness]
GO
/****** Object:  View [Report].[PickListSalesOrderBillToAddress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PickListSalesOrderBillToAddress]
AS
(
	SELECT
		BillToAddress.kAuftrag AS PickListSalesOrderInternalId,
		BillToAddress.kKunde AS CustomerInternalId,
		ISNULL(BillToAddress.cFirma, '') AS Company,
		ISNULL(BillToAddress.cAnrede, '') AS Salutation,
		ISNULL(BillToAddress.cTitel, '') AS Title,
		ISNULL(BillToAddress.cVorname, '') AS FirstName,
		ISNULL(BillToAddress.cName, '') AS LastName,
		ISNULL(BillToAddress.cStrasse, '') AS [Address],
		ISNULL(BillToAddress.cPLZ, '') AS PostalCode,
		ISNULL(BillToAddress.cOrt, '') AS City,
		ISNULL(BillToAddress.cLand, '') AS Country,
		ISNULL(BillToAddress.cTel, '') AS Phone,
		ISNULL(BillToAddress.cZusatz, '') AS CompanySupplement,
		ISNULL(BillToAddress.cAdressZusatz, '') AS AddressSupplement,
		ISNULL(BillToAddress.cMobil, '') AS MobilePhone,
		ISNULL(BillToAddress.cMail, '') AS EmailAddress,
		ISNULL(BillToAddress.cFax, '') AS Fax,
		ISNULL(BillToAddress.cBundesland, '') AS [State],
		ISNULL(BillToAddress.cISO, '') AS CountryISO,
		ISNULL(Customer.cKundenNr, '') AS CustomerNumber,
		ISNULL(SalesOrder.cKundeUstId, '') AS ValueAddedTaxId
	FROM Verkauf.vAuftragRechnungsadresse AS BillToAddress
	JOIN Verkauf.tAuftrag AS SalesOrder ON SalesOrder.kAuftrag = BillToAddress.kAuftrag
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = BillToAddress.kKunde
)
GO
