USE [eazybusiness]
GO
/****** Object:  View [Report].[ExternalDocumentTransaction]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[ExternalDocumentTransaction]
AS
(
    SELECT
        tExternerBelegTransaktion.kExternerBelegTransaktion AS InternalId,
        tExternerBelegTransaktion.kExternerBeleg AS ExternalDocumentInternalId,
        CASE
            WHEN tExternerBelegTransaktion.nTransaktionstyp = 0 THEN 'SHIPMENT'
            WHEN tExternerBelegTransaktion.nTransaktionstyp = 1 THEN 'REFUND'
            ELSE NULL
        END AS TransactionType,
        tExternerBelegTransaktion.cTransaktionId AS TransactionId,
        tExternerBelegTransaktion.cBezugstransaktionId AS ReferenceTransactionId,
        tExternerBelegTransaktion.dTransaktionsdatumUtc AS TransactionDateUtc,
        tExternerBelegTransaktion.cExterneAuftragsnummer AS ExternalSalesOrderNumber,
        tExternerBelegTransaktion.dExternesAuftragsdatumUtc AS ExternalOrderDateUtc,
        tExternerBelegTransaktion.cKundenAuftragsnummer AS CustomerSalesOrderNumber,
        tExternerBelegTransaktion.cLAName AS ShipToAddressName,
        tExternerBelegTransaktion.cLAAdresse1 AS ShipToAddress1,
        tExternerBelegTransaktion.cLAAdresse2 AS ShipToAddress2,
        tExternerBelegTransaktion.cLAAdresse3 AS ShipToAddress3,
        tExternerBelegTransaktion.cLAOrt AS ShipToAddressCity,
        tExternerBelegTransaktion.cLAStaat AS ShipToAddressState,
        tExternerBelegTransaktion.cLAPostcode AS ShipToAddressZipCode,
        tExternerBelegTransaktion.cLALandISO AS ShipToAddressCountryISO,
        tExternerBelegTransaktion.cLATelefon AS ShipToAddressPhone,
        tExternerBelegTransaktion.cVAOrt AS ShipFromCountryCity,
        tExternerBelegTransaktion.cVAStaat AS ShipFromCountryState,
        tExternerBelegTransaktion.cVAPostcode AS ShipFromCountryZipCode,
        tExternerBelegTransaktion.cVALandISO AS ShipFromCountry,
        tExternerBelegTransaktion.cVALandWaehrungISO AS ShipFromCountryCurrencyISO,
        tExternerBelegTransaktion.fVALandWaehrungsfaktor AS ShipFromCountryCurrencyFactor
    FROM Rechnung.tExternerBelegTransaktion
)
GO
