USE [eazybusiness]
GO
/****** Object:  View [Report].[DeliveryNoteShipToAddress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[DeliveryNoteShipToAddress]
AS
(
	SELECT
		DeliveryNote.kLieferschein AS DeliveryNoteInternalId,
		DeliveryAdress.kKunde AS CustomerInternalId,
		ISNULL(DeliveryAdress.cFirma, '') AS Company,
		ISNULL(DeliveryAdress.cAnrede, '') AS Salutation,
		ISNULL(DeliveryAdress.cTitel, '') AS Title,
		ISNULL(DeliveryAdress.cVorname, '') AS FirstName,
		ISNULL(DeliveryAdress.cName, '') AS LastName,
		ISNULL(DeliveryAdress.cStrasse, '') AS [Address],
		ISNULL(DeliveryAdress.cPLZ, '') AS PostalCode,
		ISNULL(DeliveryAdress.cOrt, '') AS City,
		ISNULL(DeliveryAdress.cLand, '') AS Country,
		ISNULL(DeliveryAdress.cTel, '') AS Phone,
		ISNULL(DeliveryAdress.cZusatz, '') AS CompanySupplement,
		ISNULL(DeliveryAdress.cAdressZusatz, '') AS AddressSupplement,
		ISNULL(DeliveryAdress.cMobil, '') AS MobilePhone,
		ISNULL(DeliveryAdress.cMail, '') AS EmailAddress,
		ISNULL(DeliveryAdress.cFax, '') AS Fax,
		ISNULL(DeliveryAdress.cBundesland, '') AS [State],
		ISNULL(DeliveryAdress.cISO, '') AS CountryISO,
		ISNULL(Customer.cKundenNr, '') AS CustomerNumber,
		ISNULL(SalesOrder.cKundeUstId, '') AS ValueAddedTaxId
	FROM Verkauf.vAuftragLieferadresse AS DeliveryAdress
	JOIN Verkauf.tAuftrag AS SalesOrder ON SalesOrder.kAuftrag = DeliveryAdress.kAuftrag
	JOIN dbo.tLieferschein AS DeliveryNote ON DeliveryNote.kBestellung = SalesOrder.kAuftrag
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = DeliveryAdress.kKunde
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.DeliveryNote.InternalId" type="reverseOnly" style="1to1" name="DeliveryNote" DisplayName="DeliveryNote">
  <reverse name="DeliveryNoteShipToAddress" DisplayName="DeliveryNoteShipToAddress" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNoteShipToAddress', @level2type=N'COLUMN',@level2name=N'DeliveryNoteInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNoteShipToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNoteShipToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNoteShipToAddress'
GO
