USE [eazybusiness]
GO
/****** Object:  View [Report].[CustomerOtherAddress]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[CustomerOtherAddress]
AS
(
	SELECT
		CustomerAddress.kAdresse AS InternalId,
		CustomerAddress.kKunde AS CustomerInternalId,
		ISNULL(CustomerAddress.cFirma, '') AS Company,
		ISNULL(CustomerAddress.cAnrede, '') AS Salutation,
		ISNULL(CustomerAddress.cTitel, '') AS Title,
		ISNULL(CustomerAddress.cVorname, '') AS FirstName,
		ISNULL(CustomerAddress.cName, '') AS LastName,
		ISNULL(CustomerAddress.cStrasse, '') AS [Address],
		ISNULL(CustomerAddress.cPLZ, '') AS PostalCode,
		ISNULL(CustomerAddress.cOrt, '') AS City,
		ISNULL(CustomerAddress.cLand, '') AS Country,
		ISNULL(CustomerAddress.cTel, '') AS Phone,
		ISNULL(CustomerAddress.cZusatz, '') AS CompanySupplement,
		ISNULL(CustomerAddress.cAdressZusatz, '') AS AddressSupplement,
		ISNULL(CustomerAddress.cMobil, '') AS MobilePhone,
		ISNULL(CustomerAddress.cMail, '') AS EmailAddress,	
		ISNULL(CustomerAddress.cFax, '') AS Fax,
		ISNULL(CustomerAddress.cBundesland, '') AS [State],
		ISNULL(CustomerAddress.cISO, '') AS CountryISO,
		ISNULL(Customer.cKundenNr, '') AS CustomerNumber,
		ISNULL(CustomerAddress.cUSTID, '') AS ValueAddedTaxId
	FROM dbo.tAdresse AS CustomerAddress
	JOIN dbo.tkunde AS Customer ON Customer.kKunde = CustomerAddress.kKunde
	WHERE CustomerAddress.nTyp = 2
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" type="reverseOnly" name="Customer" DisplayName="Customer">
  <reverse name="CustomerOtherAddress" DisplayName="CustomerOtherAddress" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerOtherAddress', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Customer.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerOtherAddress', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerOtherAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerOtherAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'CustomerOtherAddress'
GO
