USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoicePositionConfiguration]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoicePositionConfiguration]
AS
(
	SELECT 
		InvoicePositionConfiguration.kRechnungPositionEigenschaft AS InternalId,
        ISNULL(InvoicePositionConfiguration.kEigenschaftWert, 0) AS ConfigurationValueInternalId,
        ISNULL(InvoicePositionConfiguration.kRechnungPosition, 0) AS InvoicePositionInternalId,
        vRechnungPosition.kArtikel AS ProductInternalId,
        InvoicePositionConfiguration.fAufpreisNetto AS AdditionalNetPrice,
        InvoicePositionConfiguration.cWert AS ValueText,
        InvoicePositionConfiguration.cName AS [Name],
        ISNULL(InvoicePositionConfiguration.kEigenschaft, 0) AS ConfigurationInternalId,
        [Configuration].nSort AS ConfigurationSorting
	FROM Rechnung.tRechnungPositionEigenschaft AS InvoicePositionConfiguration
	JOIN Rechnung.vRechnungPosition ON vRechnungPosition.kRechnungPosition = InvoicePositionConfiguration.kRechnungPosition
	LEFT JOIN dbo.teigenschaft AS [Configuration] ON [Configuration].kEigenschaft = InvoicePositionConfiguration.kEigenschaft
)
GO
