USE [eazybusiness]
GO
/****** Object:  View [Report].[DeliveryNote]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[DeliveryNote]
AS
(
	SELECT 
		DeliveryNote.kLieferschein AS InternalId,		
		DeliveryNote.kBenutzer AS UserInternalId,
		DeliveryNote.cLieferscheinNr AS DeliveryNoteNumber,
		DeliveryNote.cHinweis AS Note,
		vAuftragText.cAnmerkung AS Comment,		
		CustomerPrintingTextLanguange.cLieferscheintext AS DeliveryNoteText,
		tFirmaHistory.kFirma AS CompanyInternalId,
		[Order].cAuftragsNr AS SalesOrderNumber,				
		Customer.kKunde AS CustomerInternalId,
		'DeliveryNote ' + DeliveryNote.cLieferscheinNr AS OperationId,		
		DeliveryNote.dMailVersand AS MailingDate,
		DeliveryNote.dErstellt AS CreationDate,
		DeliveryNote.dGedruckt AS PrintingDate,
		'' AS CountryISO,
		[Order].cWaehrung AS CurrencyISO,
		Languages.cISO2 AS LanguageISO,
		ISNULL([Order].dVoraussichtlichesLieferdatum, DeliveryNote.dErstellt) AS ServiceDate,
		CASE WHEN Document.kAuftrag IS NULL
			THEN CAST(0 AS BIT) 
			ELSE CAST(1 AS BIT)
		END AS HasDeliveryNoteAsPDF,
		Document.bFile AS DeliveryNoteData,
		CASE 
			WHEN vAuftragZahlungsinfo.cPuiZahlungsinfo IS NOT NULL AND vAuftragZahlungsinfo.cPuiZahlungsinfo != '' 
				THEN 'SoldReceivable'
			WHEN vAuftragZahlungsinfo.cKontoInhaber != '' AND vAuftragZahlungsinfo.cBankName != '' AND vAuftragZahlungsinfo.cIBAN != '' AND vAuftragZahlungsinfo.cBIC != ''
				THEN 'SEPA'
			WHEN [Order].fFinanzierungskosten > 0 
				THEN 'HirePurchase'
			WHEN PaymentMethod.cName LIKE '%Vorkasse%'
				THEN 'PaymentInAdvance'
			WHEN PaymentMethod.cName LIKE '%Nachnahme%'
				THEN 'CashOnDelivery'
			WHEN (vAuftragEckdaten.fWertBrutto - vAuftragEckdaten.fGutschrift - vAuftragEckdaten.fZahlung) > 0 
				THEN 'Invoice'
			ELSE 'Undefined'
		END AS PaymentMethodType,
		[Order].cUstId AS ValueAddedTaxId,
		AmountSum.TotalNetPrice AS TotalNetPrice,
		ShippingWeight.TotalShippingWeight AS TotalShippingWeight,
		ISNULL(ShippingCosts.ShippingCosts, 0.0) AS ShippingCosts,
		[Order].kVersandArt AS ShippingMethodInternalId,
        [Order].kAuftrag AS SalesOrderInternalId
	FROM dbo.tLieferschein AS DeliveryNote
	JOIN Verkauf.vAuftrag AS [Order] ON [Order].kAuftrag = DeliveryNote.kBestellung
	LEFT JOIN Verkauf.vAuftragText ON vAuftragText.kAuftrag = [Order].kAuftrag
	LEFT JOIN Verkauf.vAuftragZahlungsinfo ON vAuftragZahlungsinfo.kAuftrag = [Order].kAuftrag
	LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = [Order].kFirmaHistory
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = [Order].kKunde
	LEFT JOIN dbo.tKundenDrucktextSprache AS CustomerPrintingTextLanguange 
		ON CustomerPrintingTextLanguange.kSprache = [Order].kSprache
			AND CustomerPrintingTextLanguange.kKundenDrucktext = Customer.kKundenDrucktext	
	LEFT JOIN dbo.tSpracheUsed AS UsedLanguage ON UsedLanguage.kSprache = [Order].kSprache
	LEFT JOIN dbo.tSprachen AS Languages ON Languages.cISO = UsedLanguage.cISO
	LEFT JOIN dbo.tZahlungsart AS PaymentMethod ON PaymentMethod.kZahlungsart = [Order].kZahlungsArt
	LEFT JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = [Order].kAuftrag	
	OUTER APPLY (
		SELECT TOP 1 tFile.bFile, tAuftragFile.kAuftrag
		FROM Verkauf.tAuftragFile
		JOIN dbo.tFile ON tFile.kFile = tAuftragFile.kFile
		WHERE tAuftragFile.nDokumentTyp = 1 AND tAuftragFile.kAuftrag = DeliveryNote.kBestellung
	) AS Document
	LEFT JOIN
	(
		SELECT 
			DeliveryNotePosition.kLieferschein AS DeliveryNoteInternalId,
			CAST(SUM(CAST(DeliveryNotePosition.fAnzahl * SalesOrderPosition.fVKNetto * 
				(1.0 - SalesOrderPosition.fRabatt / 100.0 ) AS DECIMAL(25,13))) AS DECIMAL(25,13))
				AS TotalNetPrice
		FROM dbo.tLieferscheinPos AS DeliveryNotePosition
		JOIN Verkauf.vAuftragPosition AS SalesOrderPosition ON SalesOrderPosition.kAuftragPosition = DeliveryNotePosition.kBestellPos		
		GROUP BY DeliveryNotePosition.kLieferschein
	) AS AmountSum ON AmountSum.DeliveryNoteInternalId = DeliveryNote.kLieferschein
	OUTER APPLY
	(
		SELECT CAST(SUM(tVersand.fGewicht) AS DECIMAL(25,13)) AS TotalShippingWeight
		FROM dbo.tVersand 
		WHERE tVersand.kLieferschein = DeliveryNote.kLieferschein
	) AS ShippingWeight
	LEFT JOIN 
	(
		SELECT ShippingPosition.kAuftrag, CAST(SUM(ShippingPosition.fAnzahl * ShippingPosition.fVkNetto * (1 - (ShippingPosition.fRabatt / 100)) * (1 + (ShippingPosition.fMwSt / 100))) AS DECIMAL(25,13)) AS ShippingCosts
		FROM Verkauf.vAuftragPosition AS ShippingPosition
		WHERE ShippingPosition.nType = 2
		GROUP BY ShippingPosition.kAuftrag
	) AS ShippingCosts ON ShippingCosts.kAuftrag = DeliveryNote.kBestellung
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Lieferscheins' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.User.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne IDpass des Benutzers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer des Lieferscheins' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'DeliveryNoteNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweisfeld zum Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bemerkung zum Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'Comment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drucktext für den Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'DeliveryNoteText'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Company.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer der Bestellung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'SalesOrderNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" name="Customer" DisplayName="Customer" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vorgangsnummer im Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'OperationId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Versanddatum' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'MailingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstellungsdatum des Lieferscheins' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Druckdatum des Lieferscheins' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'PrintingDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Landes im Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'CountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währung im Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'CurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Sprache im Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'LanguageISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lieferdatum des Lieferscheins' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'ServiceDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lieferschein als PDF vorhanden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'HasDeliveryNoteAsPDF'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lieferscheindaten' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'DeliveryNoteData'
GO
EXEC sys.sp_addextendedproperty @name=N'ReportInvisible', @value=N'true' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'DeliveryNoteData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Art der Zahlungsmethode im Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'PaymentMethodType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Umsatzsteuer-ID im Lieferschein' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'ValueAddedTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamter Nettopreis' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtgewicht der Lieferung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'TotalShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Versandkosten der Lieferung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'ShippingCosts'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.ShippingMethod.InternalId" name="ShippingMethod" DisplayName="ShippingMethod" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Versandart' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'ShippingMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesOrder.InternalId" name="SalesOrder" DisplayName="SalesOrder" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'DeliveryNote'
GO
