USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesQuotationPosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesQuotationPosition] AS
(
	SELECT 
		SalesQuotationPosition.kAuftragPosition AS InternalId,
		SalesQuotationPosition.cArtNr AS SKU,
		SalesQuotationPosition.cName AS [Name],
		SalesQuotationPosition.cEinheit AS Unit,
		SalesQuotationPosition.cHinweis AS Note,
		SalesQuotationPosition.kAuftrag AS SalesQuotationInternalId,
		ifItemDescription.Name AS ItemName, 
		ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed, 
		ifItemDescription.DescriptionBrief AS ItemDescriptionBrief, 
		SalesQuotationPosition.fAnzahl AS Quantity,
		SalesQuotationPosition.fMwSt AS VATRate,
		SalesQuotationPosition.fEKNetto AS PurchasePriceNet,
		CAST(SalesQuotationPosition.fVKNetto * CAST(1.0 + CAST(SalesQuotationPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13))
			AS DECIMAL(25,13)) AS GrossPricePerUnit,
		SalesQuotationPosition.fVKNetto AS NetPricePerUnit,
		ISNULL(SalesQuotationPosition.fWertBruttoGesamtFixiert, CAST(ROUND(CAST(CAST(CAST(SalesQuotationPosition.fAnzahl * SalesQuotationPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesQuotationPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(SalesQuotationPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)), 2)
			AS DECIMAL(25,13))) AS TotalGrossPrice,
		ISNULL(SalesQuotationPosition.fWertNettoGesamtFixiert, CAST(ROUND(CAST(CAST(SalesQuotationPosition.fAnzahl * SalesQuotationPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesQuotationPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)), 2) AS DECIMAL(25,13))) AS TotalNetPrice,
		ISNULL(SalesQuotationPosition.fWertBruttoGesamtFixiert - SalesQuotationPosition.fWertNettoGesamtFixiert, CAST(CAST(ROUND(CAST(CAST(CAST(SalesQuotationPosition.fAnzahl * SalesQuotationPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesQuotationPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(SalesQuotationPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)), 2) AS DECIMAL(25,13)) -
			CAST(ROUND(CAST(CAST(SalesQuotationPosition.fAnzahl * SalesQuotationPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesQuotationPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)), 2) 
			AS DECIMAL(25,13)) AS DECIMAL(25,13))) AS VATValue,
		CAST(CAST(ROUND(CAST(CAST(SalesQuotationPosition.fAnzahl * SalesQuotationPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(SalesQuotationPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)), 2) AS DECIMAL(25,13)) - 
			ROUND(CAST(CAST(CAST(SalesQuotationPosition.fAnzahl * SalesQuotationPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(SalesQuotationPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(SalesQuotationPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)), 2) 
			AS DECIMAL(25,13)) AS DiscountValue,
		SalesQuotationPosition.fRabatt AS DiscountRate,		
		CASE
			WHEN SalesQuotationPosition.nType = 1 THEN 'Item'
			WHEN SalesQuotationPosition.nType = 2 THEN 'ShippingPosition'
			WHEN SalesQuotationPosition.nType = 3 THEN 'Coupon'
			WHEN SalesQuotationPosition.nType = 4 THEN 'Voucher'
			WHEN SalesQuotationPosition.nType = 5 THEN 'PaymentMethod'
			WHEN SalesQuotationPosition.nType = 6 THEN 'ShippingSurcharge'
			WHEN SalesQuotationPosition.nType = 7 THEN 'NewCustomersCoupon'
			WHEN SalesQuotationPosition.nType = 8 THEN 'CODCharge'
			WHEN SalesQuotationPosition.nType = 9 THEN 'ItemShippingSurcharge'
			WHEN SalesQuotationPosition.nType = 10 THEN 'Packaging'
			WHEN SalesQuotationPosition.nType = 11 THEN 'GiftForFree'
			WHEN SalesQuotationPosition.nType = 12 THEN 'TrustedShopsFee'
			WHEN SalesQuotationPosition.nType = 13 THEN 'TaxSurcharge'
			WHEN SalesQuotationPosition.nType = 14 THEN 'ProcessingFee'
			WHEN SalesQuotationPosition.nType = 15 THEN 'Cardboard'
			WHEN SalesQuotationPosition.nType = 16 THEN 'Return'
			WHEN SalesQuotationPosition.nType = 17 THEN 'MultiPurposeVoucher'
			WHEN SalesQuotationPosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
			WHEN SalesQuotationPosition.nType = 19 THEN 'SinglePurposeVoucher'
			WHEN SalesQuotationPosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
			WHEN SalesQuotationPosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
			ELSE ''
		END AS PositionType,		
		CASE
			WHEN SalesQuotationPosition.kKonfigVater IS NOT NULL AND SalesQuotationPosition.kKonfigVater != 0 AND SalesQuotationPosition.kKonfigitem != 0 
				THEN 'Component'
			WHEN SalesQuotationPosition.kKonfigVater IS NOT NULL AND SalesQuotationPosition.kKonfigVater != 0 AND SalesQuotationPosition.kKonfigitem = 0
				THEN 'Father'
			ELSE 'None'
		END AS ConfiguratorPosition,
		CASE
			WHEN ISNULL(SalesQuotationPosition.kAuftragStueckliste, 0) > 0 AND ISNULL(SalesQuotationPosition.kAuftragStueckliste, 0) = SalesQuotationPosition.kAuftragPosition
				THEN 'Father'
			WHEN ISNULL(SalesQuotationPosition.kAuftragStueckliste, 0) > 0 AND ISNULL(SalesQuotationPosition.kAuftragStueckliste, 0) <> SalesQuotationPosition.kAuftragPosition
				THEN 'Component'
			ELSE 'None'
		END AS BillOfMaterialsPosition,
		SalesQuotationPosition.kKonfigitem AS ConfigurationItemInternalId,
		CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
		CAST(SalesQuotationPosition.fAnzahl * CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS TotalWeight,
		CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualShippingWeight,
		CAST(SalesQuotationPosition.fAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS TotalShippingWeight,
		SalesQuotationPosition.nSort AS Sorting,
		SalesQuotationPosition.kAuftragStueckliste AS BillOfMaterialsPositionParentId,
		ISNULL(ConfiguratorItem.kAuftragPosition, 0) AS ConfiguratorPositionParentId,
		Product.cBarcode AS EAN,
		Product.kArtikel AS ProductInternalId,
		Condition.cName AS Condition
	FROM Verkauf.vAuftragPosition AS SalesQuotationPosition
	LEFT JOIN Verkauf.vAuftragPosition AS ParentOrderPosition ON ParentOrderPosition.kAuftragPosition = SalesQuotationPosition.kAuftragStueckliste
	LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
	LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
			AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut 
	LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut 
			AND ItemAttributeLanguage.kSprache = 0
	LEFT JOIN Verkauf.vAuftrag AS SalesQuotation ON SalesQuotation.kAuftrag = SalesQuotationPosition.kAuftrag
	LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = SalesQuotationPosition.kArtikel
	LEFT JOIN 
	(
		SELECT tAuftragPositionEigenschaft.kAuftragPosition AS kBestellPos, 
			CAST(SUM(tAuftragPositionEigenschaft.fZusatzgewicht) AS DECIMAL(25,13)) AS GewichtSumme
		FROM Verkauf.tAuftragPositionEigenschaft
		GROUP BY tAuftragPositionEigenschaft.kAuftragPosition
	) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kBestellPos = SalesQuotationPosition.kAuftragPosition
	LEFT JOIN Verkauf.vAuftragPosition AS ConfiguratorItem ON ConfiguratorItem.kKonfigVater = SalesQuotationPosition.kKonfigVater 
			AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVater IS NOT NULL AND ConfiguratorItem.kKonfigVater != 0
			AND ConfiguratorItem.kAuftrag = SalesQuotation.kAuftrag
	OUTER APPLY Report.ifItemDescription(SalesQuotationPosition.kArtikel, SalesQuotation.kSprache, 
		SalesQuotation.kPlattform, SalesQuotation.kShop)
	LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
		AND Condition.kSprache = SalesQuotation.kSprache		
	WHERE SalesQuotationPosition.nType != 15 AND --Karton
		CASE
			WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = '' 
					AND SalesQuotationPosition.kAuftragStueckliste != SalesQuotationPosition.kAuftragPosition 
					AND SalesQuotationPosition.kAuftragStueckliste != 0
				THEN 0
			WHEN SalesQuotationPosition.kAuftragStueckliste != SalesQuotationPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
				THEN 0
			WHEN SalesQuotationPosition.kAuftragStueckliste = SalesQuotationPosition.kAuftragPosition 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten' 
				THEN 0
			ELSE 1
		END = 1
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nummer des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'SKU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drucktext' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einheit des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'Unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis zur Angebotsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesQuotation.InternalId" type="reverseOnly" name="SalesQuotation" DisplayName="SalesQuotation">
  <reverse name="SalesQuotationPosition" type="reverseOnly" DisplayName="SalesQuotationPosition" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'SalesQuotationInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.SalesQuotation.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'SalesQuotationInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Angebots-ID der Angebotsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'SalesQuotationInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Lange Artikelbeschreibung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionDetailed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kurze Artikelbeschreibung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionBrief'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anzahl des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'VATRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettoeinkaufspreis des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'PurchasePriceNet'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis Einzel des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'GrossPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis Einzel des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'NetPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttpreis Gesamt über die Anzahl des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis Gesamt über die Anzahl des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Betrag der MwSt' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'VATValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rabattbetrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'DiscountValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rabatt in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'DiscountRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'PositionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt den Typ der Konfiguratorposition an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ des Stücklistenangebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Konfigurationsartikels im Angebot' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'ConfigurationItemInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelgewicht des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'IndividualWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtgewicht des Artikels über die Anzahl in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'TotalWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzel-Versandgewicht des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'IndividualShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamt-Versandgewicht des Artikels über die Anzahl in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'TotalShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sortierung der Positionen innerhalb eines Angebots' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'Sorting'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Vaterartikel-ID des Stücklistenangebots der Angebotsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Vaterartikel-ID des Konfigurationsangebots der Angebotsposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Internationale Artikelnummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'EAN'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Product.InternalId" name="Product" DisplayName="Product" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Product.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesQuotationPosition'
GO
