USE [eazybusiness]
GO
/****** Object:  View [Report].[PickListSalesOrderShipToAddress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[PickListSalesOrderShipToAddress]
AS
(
	SELECT
		ShipToAddress.kAuftrag AS PickListSalesOrderInternalId,
		ShipToAddress.kKunde AS CustomerInternalId,
		ISNULL(ShipToAddress.cFirma, '') AS Company,
		ISNULL(ShipToAddress.cAnrede, '') AS Salutation,
		ISNULL(ShipToAddress.cTitel, '') AS Title,
		ISNULL(ShipToAddress.cVorname, '') AS FirstName,
		ISNULL(ShipToAddress.cName, '') AS LastName,
		ISNULL(ShipToAddress.cStrasse, '') AS [Address],
		ISNULL(ShipToAddress.cPLZ, '') AS PostalCode,
		ISNULL(ShipToAddress.cOrt, '') AS City,
		ISNULL(ShipToAddress.cLand, '') AS Country,
		ISNULL(ShipToAddress.cTel, '') AS Phone,
		ISNULL(ShipToAddress.cZusatz, '') AS CompanySupplement,
		ISNULL(ShipToAddress.cAdressZusatz, '') AS AddressSupplement,
		ISNULL(ShipToAddress.cMobil, '') AS MobilePhone,
		ISNULL(ShipToAddress.cMail, '') AS EmailAddress,
		ISNULL(ShipToAddress.cFax, '') AS Fax,
		ISNULL(ShipToAddress.cBundesland, '') AS [State],
		ISNULL(ShipToAddress.cISO, '') AS CountryISO,
		ISNULL(Customer.cKundenNr, '') AS CustomerNumber,
		ISNULL(SalesOrder.cKundeUstId, '') AS ValueAddedTaxId
	FROM Verkauf.vAuftragLieferadresse AS ShipToAddress
	JOIN Verkauf.tAuftrag AS SalesOrder ON SalesOrder.kAuftrag = ShipToAddress.kAuftrag
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = ShipToAddress.kKunde
)
GO
