USE [eazybusiness]
GO
/****** Object:  View [Report].[Customer]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Customer]
AS
(
	SELECT
		Customer.kKunde AS InternalId,
		Customer.cKundenNr AS CustomerNumber,
		Customer.fRabatt AS Discount,
		Customer.nDebitorennr AS AccountsReceivableNumber,
		Customer.cHRNr AS CompanyRegistrationNumber,
		Customer.cWWW AS WebsiteURL,	
		CAST(1 AS BIT) IsActive,
		CASE
			WHEN Customer.cSperre = 'Y' THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsLocked,
		CASE
			WHEN Customer.cKassenKunde = 'Y' THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsCashPayer,
		CASE
			WHEN Customer.nVertreter = 1 THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS IsRepresentative,
		Customer.nKreditlimit AS CreditLimit,
		Customer.cSteuerNr AS FederalTaxId,
		Customer.nZahlungsziel AS TermOfPayment,
		UsedLanguage.cISO AS LanguageISO,
		Customer.cHerkunft AS [Source],
		TotalVoucher.Gesamt AS Credit,
		Customer.kKundenGruppe AS CustomerGroupInternalId,
		Customer.cGeburtstag AS DateOfBirth,
		Customer.dErstellt AS CreationDate,
		'Customer ' + Customer.cKundenNr AS OperationId,
		Customer.kZahlungsart AS PaymentMethodInternalId,
		Customer.kSprache AS LanguageInternalId,
		CustomerCategory.cName AS CustomerCategory
	FROM dbo.tkunde AS Customer	
	JOIN dbo.tSpracheUsed AS UsedLanguage ON UsedLanguage.kSprache = Customer.kSprache
	LEFT JOIN
	(
		SELECT tGutschein.kKunde, 
			CAST(SUM(tGutschein.fWert) AS DECIMAL(25,13)) AS Gesamt
		FROM dbo.tGutschein
		WHERE tGutschein.cInet = 'Y'
		GROUP BY tGutschein.kKunde
	) AS TotalVoucher ON TotalVoucher.kKunde = Customer.kKunde
	LEFT JOIN dbo.tKundenKategorie AS CustomerCategory ON Customer.kKundenKategorie = CustomerCategory.kKundenKategorie
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Kunden-ID' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kundennummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CustomerNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt den Rabatt in Prozent an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Discount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die Debitorennummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'AccountsReceivableNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die Handelsregisternr. des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CompanyRegistrationNumber'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'URL der Website des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'WebsiteURL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob der Kunde aktiv oder inaktiv gesetzt ist' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'IsActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob der Kunde gesperrt ist' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'IsLocked'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt an, ob es sich um einen Kassenkunden handelt' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'IsCashPayer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kunde von Firma?' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'IsRepresentative'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt das Kreditlimit des Kunden an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CreditLimit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Enthält die Steuernummer des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'FederalTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt das Zahlungsziel des Kunden in Tagen an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'TermOfPayment'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Sprache des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'LanguageISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt die Herkunftsplattform (Amazon, eBay usw.) des Kunden an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Source'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt das Shopguthaben des Kunden an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'Credit'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.CustomerGroup.InternalId" name="CustomerGroup" DisplayName="CustomerGroup" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CustomerGroupInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne Kundengruppen-ID' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CustomerGroupInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Geburtsdatum des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'DateOfBirth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstelldatum des Kunden in der Datenbank' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Auftrags-ID des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'OperationId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.PaymentMethod.InternalId" name="PaymentMethod" DisplayName="PaymentMethod">
  <multikey source="LanguageInternalId" target="LanguageInternalId" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'PaymentMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Zahlungsart' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer', @level2type=N'COLUMN',@level2name=N'PaymentMethodInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Customer'
GO
