USE [eazybusiness]
GO
/****** Object:  View [Report].[ExternalDocument]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[ExternalDocument]
AS
(
    SELECT
        tExternerBeleg.kExternerBeleg AS InternalId,
        tExternerBeleg.cBelegnr AS DocumentNumber,
        tExternerBeleg.dBelegdatumUtc AS DocumentDateUtc,
        CASE
            WHEN nBelegtyp = 0 THEN 'INVOICE'
            WHEN nBelegtyp = 1 THEN 'INVOICECORRECTION'
            WHEN nBelegtyp = 2 THEN 'LIQUIDATION'
            WHEN nBelegtyp = 3 THEN 'INVOICEDOCUMENT'
            WHEN nBelegtyp = 100 THEN 'CANCELLATIONINVOICE'
            WHEN nBelegtyp = 101 THEN 'CANCELLATIONINVOICECORRECTION'
            WHEN nBelegtyp = 102 THEN 'CANCELLATIONLIQUIDATION'
            WHEN nBelegtyp = 103 THEN 'CANCELLATIONINVOICEDOCUMENT'
            ELSE NULL
        END AS DocumentType,
        CASE
			WHEN tExternerBeleg.nSteuereinstellung = 10
				THEN 'IGL'
			WHEN tExternerBeleg.nSteuereinstellung = 15
				THEN 'ReverseCharge'
			WHEN tExternerBeleg.nSteuereinstellung = 20
				THEN 'ExemptFromVATnotEU'
			WHEN tExternerBeleg.nSteuereinstellung = 25
				THEN 'ExemptFromVatManual'
			ELSE ''
		END AS ExemptFromVAT,
        ISNULL(tFirmaHistory.kFirma, 0) AS CompanyInternalId,
        tExternerBeleg.cFirmaUstid AS cCompanyVATId,
        tExternerBeleg.kPlattform AS PlatformInternalId,
        tExternerBeleg.kPlattformKey AS PlatformKeyInternalId,
        tExternerBeleg.cWaehrungISO AS CurrencyISO,
        tExternerBeleg.cKaeuferUstId AS BuyerVATId,
        tExternerBeleg.cRAName AS BillToAddressName,
        tExternerBeleg.cRAAdresse1 AS BillToAddress1,
        tExternerBeleg.cRAAdresse2 AS BillToAddress2,
        tExternerBeleg.cRAAdresse3 AS BillToAddress3,
        tExternerBeleg.cRAOrt AS BillToAddressCity,
        tExternerBeleg.cRAStaat AS BillToAddressState,
        tExternerBeleg.cRAPostcode AS BillToAddressZipCode,
        tExternerBeleg.cRALandISO AS BillToAddressCountryISO,
        tExternerBeleg.cRATelefon AS BillToAddressPhone,
        tExternerBeleg.cRAMail AS BillToAddressMail,
        tExternerBeleg.cBezugsbelegnr AS ReferenceDocumentNumber,
        tExternerBeleg.cHinweis AS ExternalDocumentNote,
        tExternerBelegEckdaten.fVkBrutto AS GrossPriceTotal,
        tExternerBelegEckdaten.fVkNetto AS NetPriceTotal,
        tExternerBelegEckdaten.nIstStorniert AS IsCancelled,
        tExternerBeleg.cBelegnr AS OperationId,
        tExternerBeleg.nDebitorenNr AS AccountsReceivableNumber,
        ISNULL(tkunde.cKundenNr, '') AS CustomerNumber,
        tExternerBelegEckdaten.nFehlercode AS Fehlercode
    FROM Rechnung.tExternerBeleg
    JOIN Rechnung.tExternerBelegEckdaten ON tExternerBelegEckdaten.kExternerBeleg = tExternerBeleg.kExternerBeleg
    LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tExternerBeleg.kFirmaHistory
    LEFT JOIN dbo.tkunde ON tExternerBeleg.kKunde = tkunde.kKunde
)
GO
