USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesOrderAttachment]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [Report].[SalesOrderAttachment]
AS
    SELECT tAuftragFile.kAuftragFile AS InternalId,
           tAuftragFile.kAuftrag AS SalesOrderInternalId,
           tAuftragFile.cFilename AS [Filename],
           tAuftragFile.kFile AS FileInternalId,
           tAuftragFile.nDokumentTyp AS DocumentTypeId,
           CASE
               WHEN tAuftragFile.nDokumentTyp = 0 THEN 'Attachment'
               WHEN tAuftragFile.nDokumentTyp = 1 THEN 'FFN-DeliveryNote'
               WHEN tAuftragFile.nDokumentTyp = 2 THEN 'FFN-Invoice'
               WHEN tAuftragFile.nDokumentTyp = 3 THEN 'AmazonCustomData'
               WHEN tAuftragFile.nDokumentTyp = 4 THEN 'FFN-ShippingLabel'
               WHEN tAuftragFile.nDokumentTyp = 5 THEN 'FFN-Custom'
               ELSE 'Attachment'
               END AS DocumentType,
           tFile.dErstellDatum AS CreationDate,
           tFile.cFileType AS FileType,
           tFile.nFileSizeKB AS FileSizeKB
    FROM dbo.tFile
             JOIN Verkauf.tAuftragFile
                  ON tAuftragFile.kFile = tFile.kFile;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesOrder.InternalId" type="reverseOnly" name="SalesOrder" DisplayName="SalesOrder">
  <reverse name="SalesOrderAttachment" type="reverseOnly" DisplayName="SalesOrderAttachment" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.SalesOrder.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dateiname' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'Filename'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Datei' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'FileInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ des Dokuments. 0=Attachment, 1=FFN-DeliveryNote, 2=FFN-Invoice,3=AmazonCustomData, 4=FFN-ShippingLabel, 5=FFN-Custom ' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'DocumentTypeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ des Dokuments. Attachment, FFN-DeliveryNote, FFN-Invoice, AmazonCustomData, FFN-ShippingLabel, FFN-Custom ' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'DocumentType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstelldatum des Dokuments' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Datei' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'FileType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Dateigröße' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment', @level2type=N'COLUMN',@level2name=N'FileSizeKB'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttachment'
GO
