USE [eazybusiness]
GO
/****** Object:  View [Report].[DeliveryNotePositionConfiguration]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[DeliveryNotePositionConfiguration]
AS
(
	SELECT 
		DeliveryNotePositionConfiguration.kAuftragPositionEigenschaft AS InternalId,
        ISNULL(DeliveryNotePositionConfiguration.kEigenschaftWert, 0) AS ConfigurationValueInternalId,
        DeliveryNotePosition.kLieferscheinPos AS DeliveryNotePositionInternalId,
        tAuftragPosition.kArtikel AS ProductInternalId,
        DeliveryNotePositionConfiguration.fAufpreisNetto AS AdditionalNetPrice,
        DeliveryNotePositionConfiguration.cWert AS ValueText,
        DeliveryNotePositionConfiguration.cName AS [Name],
        ISNULL(DeliveryNotePositionConfiguration.kEigenschaft, 0) AS ConfigurationInternalId,
        [Configuration].nSort AS ConfigurationSorting
	FROM Verkauf.tAuftragPositionEigenschaft AS DeliveryNotePositionConfiguration
	JOIN dbo.tLieferscheinPos AS DeliveryNotePosition ON DeliveryNotePosition.kBestellPos = DeliveryNotePositionConfiguration.kAuftragPosition
	JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = DeliveryNotePositionConfiguration.kAuftragPosition
	LEFT JOIN dbo.teigenschaft AS [Configuration] ON [Configuration].kEigenschaft = DeliveryNotePositionConfiguration.kEigenschaft
)
GO
