USE [eazybusiness]
GO
/****** Object:  View [Report].[ShippingNotification]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[ShippingNotification]
AS
(
	SELECT ShippingNotification.InternalId,
           [Order].kAuftrag AS SalesOrderInternalId,
           ShippingNotification.UserInternalId,
           ShippingNotification.DeliveryNoteNumber,
           ShippingNotification.Note,
           DeliveryNote.kLieferantenBestellung AS PurchaseOrderInternalId,
           ShippingNotification.DeliveryNoteText,
           ShippingNotification.CompanyInternalId,
           ShippingNotification.SalesOrderNumber,
           Customer.cKundenNr AS CustomerNumber,
           Customer.kKunde AS CustomerInternalId,
           FulfillmentOrder.kFulfillmentAuftrag AS FulfilmentOrderInternalId,
		   ShippingNotification.MailingDate
	FROM Report.DeliveryNote AS ShippingNotification
	JOIN dbo.tLieferschein AS DeliveryNote ON DeliveryNote.kLieferschein = ShippingNotification.InternalId
	JOIN Verkauf.vAuftrag AS [Order] ON [Order].kAuftrag = DeliveryNote.kBestellung
	LEFT JOIN dbo.tFulfillmentAuftrag AS FulfillmentOrder ON FulfillmentOrder.kLieferschein = DeliveryNote.kLieferschein
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = [Order].kKunde
	LEFT JOIN Verkauf.vAuftragRechnungsadresse AS Rechnungsadresse ON Rechnungsadresse.kAuftrag = [Order].kAuftrag
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesOrder.InternalId" name="SalesOrder" DisplayName="SalesOrder" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.User.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.PurchaseOrder.InternalId" name="PurchaseOrder" DisplayName="PurchaseOrder">
  <reverse name="ShippingNotification" DisplayName="ShippingNotification" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'PurchaseOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.PurchaseOrder.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'PurchaseOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Company.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" name="Customer" DisplayName="Customer" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Customer.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.FulfilmentOrder.InternalId" name="FulfilmentOrder" DisplayName="FulfilmentOrder">
  <reverse name="ShippingNotification" DisplayName="ShippingNotification" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'FulfilmentOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.FulfilmentOrder.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification', @level2type=N'COLUMN',@level2name=N'FulfilmentOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'ShippingNotification'
GO
