USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoiceBillToAddress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoiceBillToAddress]
AS
(
	SELECT 
		InvoiceAdress.kRechnung AS InvoiceInternalId,
        InvoiceAdress.kKunde AS CustomerInternalId,
        ISNULL(InvoiceAdress.cFirma, '') AS Company,
        ISNULL(InvoiceAdress.cAnrede, '') AS Salutation,
        ISNULL(InvoiceAdress.cTitel, '') AS Title,
        ISNULL(InvoiceAdress.cVorname, '') AS FirstName,
        ISNULL(InvoiceAdress.cName, '') AS LastName,
        ISNULL(InvoiceAdress.cStrasse, '') AS [Address],
        ISNULL(InvoiceAdress.cPLZ, '') AS PostalCode,
        ISNULL(InvoiceAdress.cOrt, '') AS City,
        ISNULL(InvoiceAdress.cLand, '') AS Country,
        ISNULL(InvoiceAdress.cTel, '') AS Phone,
        ISNULL(InvoiceAdress.cZusatz, '') AS CompanySupplement,
        ISNULL(InvoiceAdress.cAdressZusatz, '') AS AddressSupplement,
        ISNULL(InvoiceAdress.cMobil, '') AS MobilePhone,
        ISNULL(InvoiceAdress.cMail, '') AS EmailAddress,
        ISNULL(InvoiceAdress.cFax, '') AS Fax,
        ISNULL(InvoiceAdress.cBundesland, '') AS [State],
        ISNULL(InvoiceAdress.cISO, '') AS CountryISO,
		ISNULL(Customer.cKundenNr, '') AS CustomerNumber,
		ISNULL(Invoice.cKundeUstId, '') AS ValueAddedTaxId
	FROM Rechnung.tRechnungAdresse AS InvoiceAdress
	JOIN Rechnung.tRechnung AS Invoice ON Invoice.kRechnung = InvoiceAdress.kRechnung
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = InvoiceAdress.kKunde
	WHERE InvoiceAdress.nTyp = 1
)
GO
