USE [eazybusiness]
GO
/****** Object:  Table [Report].[tVorlagenset]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Report].[tVorlagenset](
	[kVorlagenset] [int] IDENTITY(1,1) NOT NULL,
	[nVorlagensettyp] [int] NOT NULL,
	[cName] [nvarchar](64) NOT NULL,
	[nIstStandard] [bit] NOT NULL,
	[nFlags] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nIstGlobal] [bit] NOT NULL,
 CONSTRAINT [PK_Report_tVorlagenset] PRIMARY KEY CLUSTERED 
(
	[kVorlagenset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Report].[tVorlagenset] ADD  CONSTRAINT [DF_Report_tVorlagenset_nIstStandard]  DEFAULT ((0)) FOR [nIstStandard]
GO
ALTER TABLE [Report].[tVorlagenset] ADD  CONSTRAINT [DF_Report_tVorlagenset_nFlags]  DEFAULT ((0)) FOR [nFlags]
GO
ALTER TABLE [Report].[tVorlagenset] ADD  CONSTRAINT [DF_Report_tVorlagenset_nIstGlobal]  DEFAULT ((0)) FOR [nIstGlobal]
GO
