USE [eazybusiness]
GO
/****** Object:  View [Report].[FulfilmentOrderShipToAddress]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[FulfilmentOrderShipToAddress]
AS
(
	SELECT
		FulfillmentDeliveryAdress.kFulfillmentAuftrag AS FulfilmentOrderInternalId,
		FulfillmentDeliveryAdress.kKunde AS CustomerInternalId,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseFirma, '') AS Company,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseAnrede, '') AS Salutation,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseTitel, '') AS Title,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseVorname, '') AS FirstName,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseName, '') AS LastName,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseStrasse, '') AS [Address],
		ISNULL(FulfillmentDeliveryAdress.cLieferAdressePLZ, '') AS PostalCode,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseOrt, '') AS City,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseLand, '') AS Country,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseTel, '') AS Phone,
		ISNULL(FulfillmentDeliveryAdress.cLieferZusatz, '') AS CompanySupplement,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdressZusatz, '') AS AddressSupplement,
		ISNULL(vAuftragLieferadresse.cMobil, '') AS MobilePhone,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseEmail, '') AS EmailAddress,
		ISNULL(FulfillmentDeliveryAdress.cLieferAdresseFax, '') AS Fax,
		ISNULL(FulfillmentDeliveryAdress.cLieferadresseBundesland, '') AS [State],
		ISNULL(SalesOrder.cVersandlandISO, '') AS CountryISO,
		ISNULL(SalesOrder.cKundeUstId, '') AS ValueAddedTaxId
	FROM dbo.tFulfillmentAuftrag AS FulfillmentDeliveryAdress
	LEFT JOIN dbo.tLieferschein AS DeliveryNote ON DeliveryNote.kLieferschein = FulfillmentDeliveryAdress.kLieferschein
	LEFT JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = DeliveryNote.kBestellung
	LEFT JOIN Verkauf.tAuftrag AS SalesOrder ON SalesOrder.kAuftrag = DeliveryNote.kBestellung
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.FulfilmentOrder.InternalId" type="reverseOnly" style="1to1" name="FulfilmentOrder" DisplayName="FulfilmentOrder">
  <reverse name="FulfilmentOrderShipToAddress" DisplayName="FulfilmentOrderShipToAddress" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderShipToAddress', @level2type=N'COLUMN',@level2name=N'FulfilmentOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderShipToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderShipToAddress'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'FulfilmentOrderShipToAddress'
GO
