USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesOrderAttribute]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesOrderAttribute]
AS
(
	SELECT
		SalesOrderAttribute.kAuftragAttribut AS InternalId,
		SalesOrderAttribute.kAuftrag AS SalesOrderInternalId,
		tAttributSprache.cName AS AttributeName,
		CASE
			WHEN tFeldTyp.nDatenTyp = 0 THEN CONVERT(NVARCHAR(MAX), tAuftragAttributSprache.nWertInt)
			WHEN tFeldTyp.nDatenTyp = 1 THEN CONVERT(NVARCHAR(MAX), FORMAT(tAuftragAttributSprache.fWertDecimal, 'G', 'de-de'))
			WHEN tFeldTyp.nDatenTyp = 2 THEN CONVERT(NVARCHAR(MAX), tAuftragAttributSprache.cWertVarchar)
			WHEN tFeldTyp.nDatenTyp = 3 THEN CONVERT(NVARCHAR(MAX), tAuftragAttributSprache.dWertDateTime, 120)
		END AS AttributeValue
-- SprachId falls die mal mehrsprachig werden? Sollen Attribute/Felder immer gleichaussehen?
	FROM Verkauf.tAuftragAttribut AS SalesOrderAttribute
	JOIN Verkauf.tAuftragAttributSprache ON tAuftragAttributSprache.kAuftragAttribut = SalesOrderAttribute.kAuftragAttribut
	JOIN dbo.tAttribut ON tAttribut.kAttribut = SalesOrderAttribute.kAttribut
	JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAttribut.kAttribut AND tAttributSprache.kSprache = 0
	JOIN dbo.tFeldTyp ON tFeldTyp.kFeldTyp = tAttribut.kFeldTyp
)
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesOrder.InternalId" type="reverseOnly" name="SalesOrder" DisplayName="SalesOrder">
  <reverse name="SalesOrderAttribute" type="reverseOnly" DisplayName="SalesOrderAttribute" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttribute', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.SalesOrder.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttribute', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttribute'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttribute'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'SalesOrderAttribute'
GO
