USE [eazybusiness]
GO
/****** Object:  View [Report].[Dunning]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[Dunning]
AS
(
	SELECT
		Dunning.kZahlungsErinnerung AS InternalId,
		Dunning.kRechnung AS InvoiceInternalId,
		Dunning.kFirma AS CompanyInternalId,
		Dunning.kKundengruppe AS CustomerGroupInternalId,
		Dunning.dZahlungsfrist AS PaymentTermDate,
		Dunning.dErledigt AS CompletionDate,
		Dunning.nZahlungsfristInTagen AS PaymentTerm,
		Dunning.dMahndatum AS DunningDate,
		Dunning.fGebuehr AS DunningFee,
		Dunning.fGebuehrPauschal AS FlatRateDunningFee,
		Dunning.fGebuehrZinssatz AS FeeInterestRate,
		Dunning.fBruttoBetrag AS GrossValue,
		Dunning.kBenutzer AS UserInternalId,
		Invoice.cWaehrung AS CurrencyISO,
		DunningLevel.cName AS DunningLevelName,
		DunningLevel.nStufe AS NumberDunningRepitions,
		Dunning.nKarenzzeit AS GracePeriod,
		DunningLevel.cName + ' Dunning to Invoice ' + Invoice.cRechnungsNr AS OperationId,
		Dunning.dErstellt AS CreationDate,
		Invoice.cUstId AS ValueAddedTaxId,
		'' AS CountryISO,
		Languages.cISO2 AS LanguageISO,
		Customer.kKunde AS CustomerInternalId,
		ISNULL(Invoice.cEbayUsername, '') AS EbayUserName,
		SalesOrder.kAuftrag AS SalesOrderInternalId,
		CASE
			WHEN Settings.nRunden = 1
				THEN CAST(ROUND(CAST(ISNULL(InvoiceCorrectionsAmountSum.BruttopreisGesamt, 0.0) / 0.05 AS DECIMAL(25,13)), 0) * 0.05 AS DECIMAL(25,13))
			ELSE ISNULL(InvoiceCorrectionsAmountSum.BruttopreisGesamt, 0.0)
		END AS InvoiceCorrectionValue
	FROM dbo.tZahlungsErinnerung AS Dunning
	JOIN dbo.tMahnstufe AS DunningLevel ON DunningLevel.kMahnstufe = Dunning.kMahnstufe
	JOIN Rechnung.vRechnung AS Invoice ON Invoice.kRechnung = Dunning.kRechnung
	CROSS JOIN dbo.teinstellungen AS Settings
	LEFT JOIN dbo.tSpracheUsed AS UsedLanguage ON UsedLanguage.kSprache = Invoice.kSprache
	LEFT JOIN dbo.tSprachen AS Languages ON Languages.cISO = UsedLanguage.cISO
	LEFT JOIN dbo.tkunde AS Customer ON Customer.kKunde = Invoice.kKunde
		LEFT JOIN 
	(
		SELECT	tAuftragRechnung.kRechnung,
				MIN(tAuftragRechnung.kAuftrag) AS kAuftrag		
		FROM Verkauf.tAuftragRechnung		
		GROUP BY tAuftragRechnung.kRechnung
	) AS SalesOrderReference ON SalesOrderReference.kRechnung = Invoice.kRechnung
	LEFT JOIN Verkauf.vAuftrag AS SalesOrder ON SalesOrderReference.kAuftrag = SalesOrder.kAuftrag
	LEFT JOIN
	(
		SELECT tgutschrift.kRechnung AS InvoiceInternalId,
			CAST(SUM(TotalsInvoiceCorrection.GrossPriceTotal) AS DECIMAL(25,13)) AS BruttopreisGesamt,
			CAST(SUM(TotalsInvoiceCorrection.NetPriceTotal) AS DECIMAL(25,13)) AS NettopreisGesamt,
			CAST(SUM(TotalsInvoiceCorrection.VATSum) AS DECIMAL(25,13)) AS MwStGesamt
		FROM Report.TotalsInvoiceCorrection
		JOIN dbo.tgutschrift ON TotalsInvoiceCorrection.InvoiceCorrectionInternalId = tgutschrift.kGutschrift
		WHERE tgutschrift.nStorno = 0 AND LEN(ISNULL(tgutschrift.cGutschriftNr, '')) > 0
		GROUP BY tgutschrift.kRechnung
	) AS InvoiceCorrectionsAmountSum ON InvoiceCorrectionsAmountSum.InvoiceInternalId = Invoice.kRechnung
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Mahnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.DunningInvoice.InternalId" depth="2" name="DunningInvoice" DisplayName="DunningInvoice" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'InvoiceInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Rechnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'InvoiceInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Company.InternalId" name="Company" DisplayName="Company" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Firma' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CompanyInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.CustomerGroup.InternalId" name="CustomerGroup" DisplayName="CustomerGroup" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CustomerGroupInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Kundengruppe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CustomerGroupInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum der Zahlungsfrist der Mahnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'PaymentTermDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum an dem die Mahnung erledigt wurde' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CompletionDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zahlungsfrist in Tagen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'PaymentTerm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Datum der Mahung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'DunningDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Mahngebühr' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'DunningFee'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Pauschale Mahngebühr' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'FlatRateDunningFee'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Zinssatz der Mahngebühr' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'FeeInterestRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttobetrag der Mahnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'GrossValue'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.User.InternalId" name="User" DisplayName="User" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Benutzers' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'UserInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Währung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CurrencyISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Name der Mahnstufe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'DunningLevelName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Level der Mahnstufe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'NumberDunningRepitions'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Karenzzeit' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'GracePeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Vorgangs-ID der Mahnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'OperationId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Erstellungsdatum der Mahnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CreationDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'USt-IdNr. der Mahnung' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'ValueAddedTaxId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code des Landes' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CountryISO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ISO-Code der Sprache' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'LanguageISO'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Customer.InternalId" name="Customer" DisplayName="Customer" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Kunden' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'CustomerInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.SalesOrder.InternalId" name="SalesOrder" DisplayName="SalesOrder" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Auftrags' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning', @level2type=N'COLUMN',@level2name=N'SalesOrderInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'Dunning'
GO
