USE [eazybusiness]
GO
/****** Object:  View [Report].[SalesOrderPaymentInformation]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[SalesOrderPaymentInformation]
AS
(
	SELECT
		SalesOrder.InternalId AS SalesOrderInternalId,
		CASE 
			WHEN vAuftragZahlungsinfo.cPuiZahlungsinfo IS NOT NULL AND vAuftragZahlungsinfo.cPuiZahlungsinfo != '' 
				THEN 'SoldReceivable'
			WHEN vAuftragZahlungsinfo.cKontoInhaber != '' AND vAuftragZahlungsinfo.cBankName != '' AND vAuftragZahlungsinfo.cIBAN != '' AND vAuftragZahlungsinfo.cBIC != ''
				THEN 'SEPA'
			WHEN vAuftrag.fFinanzierungskosten > 0
				THEN 'HirePurchase'
			WHEN PaymentMethod.cName LIKE '%Vorkasse%'
				THEN 'PaymentInAdvance'
			WHEN PaymentMethod.cName LIKE '%Nachnahme%'
				THEN 'CashOnDelivery'
			WHEN SalesOrder.OpenGrossPrice > 0 
				THEN 'Invoice'
			ELSE 'Undefined'
		END AS PaymentMethodType,
		tkunde.cKundenNr AS DebitMandateReference,
		Company.cGlaeubigerID AS DebitCreditorId,
		vAuftragZahlungsinfo.cKontoInhaber AS DebitAccountHolder,
		vAuftragZahlungsinfo.cBankName AS DebitBank,
		vAuftragZahlungsinfo.cIBAN AS DebitIBAN,
		vAuftragZahlungsinfo.cBIC AS DebitBIC,
		'SalesOrder ' + SalesOrder.SalesOrderNumber AS DebitSubject,
		SalesOrder.SalesOrderNumber AS DebitEndToEndId,
		SalesOrder.CreationDate + SalesOrder.TermOfPayment AS DebitDueDate,
		vAuftragZahlungsinfo.cKontoInhaber AS PayeeAccountHolder,
		vAuftragZahlungsinfo.cBankName AS PayeeBank,
		vAuftragZahlungsinfo.cIBAN AS PayeeIBAN,
		vAuftragZahlungsinfo.cBIC AS PayeeBIC,
		'SalesOrder ' + SalesOrder.SalesOrderNumber AS PayeeSubject,
		SalesOrder.SalesOrderNumber AS PayeeEndToEndId,
		SalesOrder.CreationDate + SalesOrder.TermOfPayment AS PayeeDueDate,
		vAuftragZahlungsinfo.cPuiZahlungsinfo AS PaymentInfo,
		vAuftrag.fFinanzierungskosten AS FinancingCosts,
		Company.cKontoInhaber AS TransferAccountHolder,
		Company.cBank AS TransferBank,
		Company.cIBAN AS TransferIBAN,
		Company.cBIC AS TransferBIC,
		'SalesOrder ' + SalesOrder.SalesOrderNumber AS TransferSubject,
		SalesOrder.SalesOrderNumber AS TransferEndToEndId,
		SalesOrder.CreationDate + SalesOrder.TermOfPayment AS TransferDueDate,
		Company.cPayPalEMail AS PayPalId
	FROM Report.SalesOrder AS SalesOrder
	JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = SalesOrder.InternalId	
	LEFT JOIN Verkauf.vAuftragZahlungsinfo ON vAuftragZahlungsinfo.kAuftrag = vAuftrag.kAuftrag
	LEFT JOIN dbo.tkunde ON tkunde.kKunde = vAuftrag.kAuftrag
	JOIN Verkauf.vAuftragAdresse AS BillToAddress ON BillToAddress.kAuftrag = vAuftrag.kAuftrag AND BillToAddress.nTyp = 1
	JOIN dbo.tfirma AS Company ON Company.kFirma = SalesOrder.CompanyInternalId
	LEFT JOIN dbo.tZahlungsart AS PaymentMethod ON PaymentMethod.kZahlungsart = vAuftrag.kZahlungsArt
)
GO
