USE [eazybusiness]
GO
/****** Object:  Table [Report].[tFile]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Report].[tFile](
	[kFile] [int] IDENTITY(1,1) NOT NULL,
	[kReferenz] [int] NOT NULL,
	[nReferenztyp] [tinyint] NOT NULL,
	[bData] [varbinary](max) NULL,
	[dErstelltUtc] [datetime2](7) NOT NULL,
	[cFileName] [nvarchar](250) NULL,
 CONSTRAINT [PK_Report_tFile] PRIMARY KEY CLUSTERED 
(
	[kFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Report_tFile_kReferenz_nReferenztyp] UNIQUE NONCLUSTERED 
(
	[kReferenz] ASC,
	[nReferenztyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Report].[tFile] ADD  CONSTRAINT [DF_Report_tFile_dErstelltUtc]  DEFAULT (getutcdate()) FOR [dErstelltUtc]
GO
