USE [eazybusiness]
GO
/****** Object:  View [Report].[InvoiceCorrectionPosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Report].[InvoiceCorrectionPosition]
AS
(
	SELECT 
		InvoiceCorrectionPosition.kGutschriftPos AS InternalId,		
		InvoiceCorrectionPosition.tGutschrift_kGutschrift AS InvoiceCorrectionInternalId,
		InvoiceCorrectionPosition.cArtNr AS SKU,
		InvoiceCorrectionPosition.cString AS [Name],
		vRechnungPosition.cEinheit AS Unit,
		vRechnungPositionText.cHinweis AS Note,
		ifItemDescription.Name AS ItemName, 
		ifItemDescription.DescriptionDetailed AS ItemDescriptionDetailed,
		ifItemDescription.DescriptionBrief AS ItemDescriptionBrief,
		InvoiceCorrectionPosition.nAnzahl AS Quantity,
		InvoiceCorrectionPosition.fMwSt AS VATRate,
		CAST(InvoiceCorrectionPosition.fVKNetto * CAST(1.0 + CAST(InvoiceCorrectionPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13))
			AS DECIMAL(25,13)) AS GrossPricePerUnit,
		InvoiceCorrectionPosition.fVKNetto AS NetPricePerUnit,
		CAST(CAST(CAST(CAST(InvoiceCorrectionPosition.nAnzahl * InvoiceCorrectionPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(InvoiceCorrectionPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(InvoiceCorrectionPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13))
			AS TotalGrossPrice,
		CAST(CAST(CAST(InvoiceCorrectionPosition.nAnzahl * InvoiceCorrectionPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(InvoiceCorrectionPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13))
			AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS TotalNetPrice,
		CAST(CAST(CAST(CAST(CAST(InvoiceCorrectionPosition.nAnzahl * InvoiceCorrectionPosition.fVKNetto AS DECIMAL(25,13)) * 
			(CAST(1.0 - CAST(InvoiceCorrectionPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13))) AS DECIMAL(25,13)) * 
			(CAST(1.0 + CAST(InvoiceCorrectionPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13))) AS DECIMAL(25,13)) AS DECIMAL(25,13)) -
			CAST(CAST(CAST(InvoiceCorrectionPosition.nAnzahl * InvoiceCorrectionPosition.fVKNetto AS DECIMAL(25,13)) * 
			(CAST(1.0 - CAST(InvoiceCorrectionPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13))) AS DECIMAL(25,13)) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS VATValue,
		CAST(CAST(CAST(CAST(InvoiceCorrectionPosition.nAnzahl * InvoiceCorrectionPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(InvoiceCorrectionPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) - 
			CAST(CAST(CAST(CAST(InvoiceCorrectionPosition.nAnzahl * InvoiceCorrectionPosition.fVKNetto AS DECIMAL(25,13)) * 
			CAST(1.0 + CAST(InvoiceCorrectionPosition.fMwSt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) * 
			CAST(1.0 - CAST(InvoiceCorrectionPosition.fRabatt / 100.0 AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS DiscountValue,
		InvoiceCorrectionPosition.fRabatt AS DiscountRate,
		CASE
			WHEN vRechnungPosition.nType = 1 THEN 'Item'
			WHEN vRechnungPosition.nType = 2 THEN 'ShippingPosition'
			WHEN vRechnungPosition.nType = 3 THEN 'Coupon'
			WHEN vRechnungPosition.nType = 4 THEN 'Voucher'
			WHEN vRechnungPosition.nType = 5 THEN 'PaymentMethod'
			WHEN vRechnungPosition.nType = 6 THEN 'ShippingSurcharge'
			WHEN vRechnungPosition.nType = 7 THEN 'NewCustomersCoupon'
			WHEN vRechnungPosition.nType = 8 THEN 'CODCharge'
			WHEN vRechnungPosition.nType = 9 THEN 'ItemShippingSurcharge'
			WHEN vRechnungPosition.nType = 10 THEN 'Packaging'
			WHEN vRechnungPosition.nType = 11 THEN 'GiftForFree'
			WHEN vRechnungPosition.nType = 12 THEN 'TrustedShopsFee'
			WHEN vRechnungPosition.nType = 13 THEN 'TaxSurcharge'
			WHEN vRechnungPosition.nType = 14 THEN 'ProcessingFee'
			WHEN vRechnungPosition.nType = 15 THEN 'Cardboard'
			WHEN vRechnungPosition.nType = 16 THEN 'Return'
			WHEN vRechnungPosition.nType = 17 THEN 'MultiPurposeVoucher'
			WHEN vRechnungPosition.nType = 18 THEN 'MultiPurposeVoucherDigital'
			WHEN vRechnungPosition.nType = 19 THEN 'SinglePurposeVoucher'
			WHEN vRechnungPosition.nType = 20 THEN 'SinglePurposeVoucherDigital'
			WHEN vRechnungPosition.nType = 21 THEN 'SinglePurposeVoucherRedemption'
			ELSE ''
		END AS PositionType,
		CASE
			WHEN vRechnungPosition.kKonfigVaterRechnungPos IS NOT NULL AND vRechnungPosition.kKonfigVaterRechnungPos != 0 AND vAuftragPosition.kKonfigitem != 0 
				THEN 'Component'
			WHEN vRechnungPosition.kKonfigVaterRechnungPos IS NOT NULL AND vRechnungPosition.kKonfigVaterRechnungPos != 0 AND vAuftragPosition.kKonfigitem = 0
				THEN 'Father'
			ELSE 'None'
		END AS ConfiguratorPosition,
		CASE
			WHEN ISNULL(InvoiceCorrectionPosition.kGutschriftStueckliste, 0) > 0 AND ISNULL(InvoiceCorrectionPosition.kGutschriftStueckliste, 0) = InvoiceCorrectionPosition.kGutschriftPos
				THEN 'Father'
			WHEN ISNULL(InvoiceCorrectionPosition.kGutschriftStueckliste, 0) > 0 AND ISNULL(InvoiceCorrectionPosition.kGutschriftStueckliste, 0) <> InvoiceCorrectionPosition.kGutschriftPos
				THEN 'Component'
			ELSE 'None'
		END AS BillOfMaterialsPosition,
		vAuftragPosition.kKonfigitem AS ConfigurationItemInternalId,
		CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS IndividualWeight,
		CAST(InvoiceCorrectionPosition.nAnzahl * 
			CAST(ISNULL(Product.fArtGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) AS DECIMAL(25,13)) AS TotalWeight,
		CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13))AS IndividualShippingWeight,
		CAST(InvoiceCorrectionPosition.nAnzahl * CAST(ISNULL(Product.fGewicht, 0.0) + ISNULL(VariationenInternGewichtEinzel.GewichtSumme, 0.0) AS DECIMAL(25,13)) 
			AS DECIMAL(25,13)) AS TotalShippingWeight,
		vRechnungPosition.nSort AS Sorting,
		InvoiceCorrectionPosition.kGutschriftStueckliste AS BillOfMaterialsPositionParentId,
		ISNULL(ConfiguratorItem.kRechnungPosition, 0) AS ConfiguratorPositionParentId,
		Product.cBarcode AS EAN,
		Product.kArtikel AS ProductInternalId,
		Condition.cName AS Condition
	FROM dbo.tGutschriftPos AS InvoiceCorrectionPosition
	JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = InvoiceCorrectionPosition.tGutschrift_kGutschrift
	LEFT JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = InvoiceCorrectionPosition.kBestellPos
	LEFT JOIN Rechnung.vRechnungPosition ON vRechnungPosition.kAuftragPosition = vAuftragPosition.kAuftragPosition AND vRechnungPosition.kRechnung = tgutschrift.kRechnung
	LEFT JOIN Rechnung.vRechnungPositionText ON vRechnungPositionText.kRechnungPosition = vRechnungPosition.kRechnungPosition
	LEFT JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = vRechnungPosition.kRechnungPosition
	LEFT JOIN Rechnung.vRechnungPosition AS ParentOrderPosition ON ParentOrderPosition.kRechnungPosition = vRechnungPosition.kStuecklisteRechnungPos 
	LEFT JOIN dbo.tAttributSprache AS AttributeLanguage	ON AttributeLanguage.cName = 'AusgabeAufVerkaufsbelegen'
	LEFT JOIN dbo.tArtikelAttribut AS ItemAttribute	ON ItemAttribute.kArtikel = ParentOrderPosition.kArtikel
			AND ItemAttribute.kAttribut = AttributeLanguage.kAttribut 
	LEFT JOIN dbo.tArtikelAttributSprache AS ItemAttributeLanguage ON ItemAttributeLanguage.kArtikelAttribut = ItemAttribute.kArtikelAttribut 
			AND ItemAttributeLanguage.kSprache = 0
	LEFT JOIN Rechnung.vRechnung ON vRechnung.kRechnung = vRechnungPosition.kRechnung
	LEFT JOIN dbo.tArtikel AS Product ON Product.kArtikel = InvoiceCorrectionPosition.tArtikel_kArtikel
	LEFT JOIN 
	(
		SELECT tRechnungPositionEigenschaft.kRechnungPosition AS kRechnungPosition, 
			CAST(SUM(ISNULL(tRechnungPositionEigenschaft.fZusatzgewicht, 0.0)) AS DECIMAL(25,13)) AS GewichtSumme
		FROM Rechnung.tRechnungPositionEigenschaft
		GROUP BY tRechnungPositionEigenschaft.kRechnungPosition
	) AS VariationenInternGewichtEinzel ON VariationenInternGewichtEinzel.kRechnungPosition = vRechnungPosition.kRechnungPosition
	LEFT JOIN (SELECT DISTINCT vRechnungPosition.kRechnung, vAuftrag.kPlattform, vAuftrag.kShop
			   FROM Rechnung.vRechnungPosition
			   JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vRechnungPosition.kAuftrag) Auftrag ON Auftrag.kRechnung = vRechnung.kRechnung
	LEFT JOIN (SELECT DISTINCT vRechnungPosition.kRechnungPosition, vRechnungPosition.kKonfigVaterRechnungPos, vRechnungPosition.kRechnung, vAuftragPosition.kKonfigitem
			   FROM Rechnung.vRechnungPosition
			   JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = vRechnungPosition.kAuftragPosition) AS ConfiguratorItem 
		ON ConfiguratorItem.kKonfigVaterRechnungPos = vRechnungPosition.kKonfigVaterRechnungPos 
			AND ConfiguratorItem.kKonfigitem = 0 AND ConfiguratorItem.kKonfigVaterRechnungPos IS NOT NULL AND ConfiguratorItem.kKonfigVaterRechnungPos != 0
			AND ConfiguratorItem.kRechnung = vRechnung.kRechnung
	OUTER APPLY Report.ifItemDescription(InvoiceCorrectionPosition.tArtikel_kArtikel, tgutschrift.kSprache, ISNULL(Auftrag.kPlattform, 1), ISNULL(Auftrag.kShop, 0))
	LEFT JOIN dbo.tZustandSprache AS Condition ON Condition.kZustand = Product.kZustand
		AND Condition.kSprache = tgutschrift.kSprache
	WHERE CASE
			WHEN ISNULL(ItemAttributeLanguage.cWertVarchar, '') = '' 
					AND InvoiceCorrectionPosition.kGutschriftStueckliste != InvoiceCorrectionPosition.kGutschriftPos 
					AND InvoiceCorrectionPosition.kGutschriftStueckliste != 0
				THEN 0
			WHEN InvoiceCorrectionPosition.kGutschriftStueckliste != InvoiceCorrectionPosition.kGutschriftPos 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Stückliste'
				THEN 0
			WHEN InvoiceCorrectionPosition.kGutschriftStueckliste = InvoiceCorrectionPosition.kGutschriftPos 
					AND ItemAttributeLanguage.cWertVarchar = 'Nur Komponenten' 
				THEN 0
			ELSE 1
		END = 1
)
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'InternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.InvoiceCorrection.InternalId" type="reverseOnly" name="InvoiceCorrection" DisplayName="InvoiceCorrection">
  <reverse name="InvoiceCorrectionPosition" DisplayName="InvoiceCorrectionPosition" />
</fk>' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'InvoiceCorrectionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'InvoiceCorrectionInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Artikelnummer des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'SKU'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Drucktext der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einheit der Rechnungskorrekturposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'Unit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Hinweis in den Rechnungskorrekturpositionen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'Note'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ausführliche Artikelbeschreibung der Position der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionDetailed'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Kurze Beschreibung der Position der Rechnungskorrektur' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'ItemDescriptionBrief'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Anzahl des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'Quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'VATRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis Einzel pro Artikel' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'GrossPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis Einzel pro Artikel' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'NetPricePerUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Bruttopreis Gesamt über die Anzahl der Artikel in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'TotalGrossPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nettopreis Gesamt über die Anzahl der Artikel in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'TotalNetPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'MwSt Betrag pro Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'VATValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rabattbetrag' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'DiscountValue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Rabatt in Prozent' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'DiscountRate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'PositionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gibt den Typ der Konfiguratorposition an' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID für Stücklistenpositionen' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Konfigurationsartikels in der Rechnungskorrekturposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'ConfigurationItemInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzelgewicht des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'IndividualWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamtgewicht über die Anzahl des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'TotalWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Einzel Versandgewicht des Artikels' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'IndividualShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Gesamt Versandgewicht des Artikels über die Anzahl in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'TotalShippingWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Sortierung Rechnungskorrekturposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'Sorting'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Vaterartikel-ID des Stücklistenangebots der Rechnungskorrekturposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'BillOfMaterialsPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Typ der Vaterartikel-ID des Konfigurationsangebots der Rechnungskorrekturposition' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'ConfiguratorPositionParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Internationale Artikelnummer' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'EAN'
GO
EXEC sys.sp_addextendedproperty @name=N'ForeignKey', @value=N'<fk target="Report.Product.InternalId" name="Product" DisplayName="Product" depth="2" />' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'LlForeignKey', @value=N'Report.Product.InternalId' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Interne ID des Artikels in der Position' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition', @level2type=N'COLUMN',@level2name=N'ProductInternalId'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist reportentity' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'LlVisible', @value=N'1' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition'
GO
EXEC sys.sp_addextendedproperty @name=N'Project', @value=N'JTL.Ausgabe' , @level0type=N'SCHEMA',@level0name=N'Report', @level1type=N'VIEW',@level1name=N'InvoiceCorrectionPosition'
GO
