USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tTimeModelEntry]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tTimeModelEntry](
	[kTimeModelEntry] [int] IDENTITY(1,1) NOT NULL,
	[kTimeModel] [int] NOT NULL,
	[nWeekDay] [tinyint] NOT NULL,
	[nFromTime] [time](7) NOT NULL,
	[nToTime] [time](7) NOT NULL,
	[kTimeModelType] [int] NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastModified] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tTimeModelEntry] PRIMARY KEY CLUSTERED 
(
	[kTimeModelEntry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tTimeModelEntry] ADD  CONSTRAINT [DF_ResPl_tTimeModelEntry_nWeekDay]  DEFAULT ((0)) FOR [nWeekDay]
GO
ALTER TABLE [ResPl].[tTimeModelEntry] ADD  CONSTRAINT [DF_ResPl_tTimeModelEntry_nFromTime]  DEFAULT ('00:00:01') FOR [nFromTime]
GO
ALTER TABLE [ResPl].[tTimeModelEntry] ADD  CONSTRAINT [DF_ResPl_tTimeModelEntry_nToTime]  DEFAULT ('23:59:59') FOR [nToTime]
GO
ALTER TABLE [ResPl].[tTimeModelEntry]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tTimeModelEntry_kTimeModel] FOREIGN KEY([kTimeModel])
REFERENCES [ResPl].[tTimeModel] ([kTimeModel])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tTimeModelEntry] CHECK CONSTRAINT [FK_ResPl_tTimeModelEntry_kTimeModel]
GO
ALTER TABLE [ResPl].[tTimeModelEntry]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tTimeModelEntry_kTimeModelType] FOREIGN KEY([kTimeModelType])
REFERENCES [ResPl].[tTimeModelType] ([kTimeModelType])
GO
ALTER TABLE [ResPl].[tTimeModelEntry] CHECK CONSTRAINT [FK_ResPl_tTimeModelEntry_kTimeModelType]
GO
ALTER TABLE [ResPl].[tTimeModelEntry]  WITH CHECK ADD  CONSTRAINT [CK_ResPL_tTimeModelEntry_nWeekDay] CHECK  (([nWeekDay]=(6) OR [nWeekDay]=(5) OR [nWeekDay]=(4) OR [nWeekDay]=(3) OR [nWeekDay]=(2) OR [nWeekDay]=(1) OR [nWeekDay]=(0)))
GO
ALTER TABLE [ResPl].[tTimeModelEntry] CHECK CONSTRAINT [CK_ResPL_tTimeModelEntry_nWeekDay]
GO
