USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tResourceAbsenteeism]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tResourceAbsenteeism](
	[kResourceAbsenteeism] [int] IDENTITY(1,1) NOT NULL,
	[kResource] [int] NOT NULL,
	[dFrom] [datetimeoffset](7) NOT NULL,
	[dTo] [datetimeoffset](7) NOT NULL,
	[cDescription] [nvarchar](255) NULL,
	[kAbsenteeismType] [int] NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastModified] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tResourceAbsenteeism] PRIMARY KEY CLUSTERED 
(
	[kResourceAbsenteeism] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tResourceAbsenteeism]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourceAbsenteeism_kAbsenteeismType] FOREIGN KEY([kAbsenteeismType])
REFERENCES [ResPl].[tAbsenteeismType] ([kAbsenteeismType])
GO
ALTER TABLE [ResPl].[tResourceAbsenteeism] CHECK CONSTRAINT [FK_ResPl_tResourceAbsenteeism_kAbsenteeismType]
GO
ALTER TABLE [ResPl].[tResourceAbsenteeism]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourceAbsenteeism_kResource] FOREIGN KEY([kResource])
REFERENCES [ResPl].[tResource] ([kResource])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tResourceAbsenteeism] CHECK CONSTRAINT [FK_ResPl_tResourceAbsenteeism_kResource]
GO
