USE [eazybusiness]
GO
/****** Object:  View [ResPl].[lvResources]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- WAWI-69048 | lvResources: Anpasssung der View für die neue Labels

CREATE VIEW [ResPl].[lvResources]
AS
SELECT tResource.kResource,
       tResource.cNumber AS cNumber,
       tResource.cName,
       tResource.fCost,
       tResource.nInactive,
       tResource.nTimeUnit AS ResourceTimeUnit,
       tResourceType.cName AS ResourceTypeName,
       tResourceType.nAppoitmentRequestAutomatic,
       tResourceType.nDivisible,
       tResourceType.uSpecialType,
       tResourceType.nTimeUnit AS ResourceTypeTimeUnit,
       tTimeModel.cName AS TimeModelName,
       (
           SELECT tLabel.kLabel,
                  tLabel.cName,
                  tLabel.cColor
           FROM ResPl.tResourceLabel
               JOIN dbo.tLabel
                   ON tLabel.kLabel = tResourceLabel.kLabel
           WHERE tResourceLabel.kResource = tResource.kResource
           FOR XML PATH('Label'), TYPE, ROOT('Labels')
       ) AS Labels,
       tResource.dCreated,
       tResource.dLastModified,
       (CASE
            WHEN tUserResource.kResource IS NOT NULL THEN
                1 -- User Ressource
            WHEN tWorkbenchResource.kResource IS NOT NULL THEN
                2 -- Arbeitsplatz Ressource
            -- Todo Werkzeug Ressource
            ELSE
                0 -- Allgemeine Ressource
        END
       ) AS nType
FROM ResPl.tResource
    JOIN ResPl.tResourceType
        ON tResource.kResourceType = tResourceType.kResourceType
    LEFT JOIN ResPl.tTimeModel
        ON tResource.kTimeModel = tTimeModel.kTimeModel
    LEFT JOIN ResPl.tUserResource
        ON tUserResource.kResource = tResource.kResource
    LEFT JOIN ResPl.tWorkbenchResource
        ON tWorkbenchResource.kResource = tResource.kResource
GO
