USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tResourceCustomField]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tResourceCustomField](
	[kResourceCustomField] [int] IDENTITY(1,1) NOT NULL,
	[kResource] [int] NOT NULL,
	[kAttribut] [int] NOT NULL,
	[cWertVarchar] [nvarchar](max) NULL,
	[nWertInt] [int] NULL,
	[fWertDecimal] [decimal](25, 13) NULL,
	[dWertDateTime] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tResourceCustomField] PRIMARY KEY CLUSTERED 
(
	[kResourceCustomField] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ResPl_tResourceCustomField_kResource_kAttribut] UNIQUE NONCLUSTERED 
(
	[kResource] ASC,
	[kAttribut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tResourceCustomField]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourceCustomField_kAttribut] FOREIGN KEY([kAttribut])
REFERENCES [dbo].[tAttribut] ([kAttribut])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tResourceCustomField] CHECK CONSTRAINT [FK_ResPl_tResourceCustomField_kAttribut]
GO
ALTER TABLE [ResPl].[tResourceCustomField]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourceCustomField_kResource] FOREIGN KEY([kResource])
REFERENCES [ResPl].[tResource] ([kResource])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tResourceCustomField] CHECK CONSTRAINT [FK_ResPl_tResourceCustomField_kResource]
GO
