USE [eazybusiness]
GO
/****** Object:  View [ResPl].[lvWorkbenchResources]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- WAWI-69048 | lvWorkbenchResources: Anpasssung der View für die neue Labels
CREATE VIEW [ResPl].[lvWorkbenchResources]
AS
SELECT tResource.kResource,
       tResource.cNumber AS cNumber,
       tResource.cName,
       tResource.fCost,
       tResource.nInactive,
       tResource.nTimeUnit AS ResourceTimeUnit,
       tResourceType.cName AS ResourceTypeName,
       tResourceType.nAppoitmentRequestAutomatic,
       tResourceType.nDivisible,
       tResourceType.uSpecialType,
       tResourceType.nTimeUnit AS ResourceTypeTimeUnit,
       tWorkbenchResource.cHostName,
       tWorkbenchResource.dConnected,
       tWorkbenchResource.kBenutzerConnected,
       (
           SELECT tLabel.kLabel,
                  tLabel.cName,
                  tLabel.cColor
           FROM ResPl.tResourceLabel
               JOIN dbo.tLabel
                   ON tLabel.kLabel = tResourceLabel.kLabel
           WHERE tResourceLabel.kResource = tResource.kResource
           FOR XML PATH('Label'), TYPE, ROOT('Labels')
       ) AS Labels,
       tResource.dCreated,
       tResource.dLastModified,
       tBenutzer.cName AS 'BenutzerNameConnected',
       tWarenlager.cName AS 'cWarehouseName',
       CONVERT(BIT, ISNULL(tWarenlager.nAktiv, 1)) AS 'nWarehouseAktiv'
FROM ResPl.tResource
    JOIN ResPl.tResourceType
        ON tResource.kResourceType = tResourceType.kResourceType
    JOIN ResPl.tWorkbenchResource
        ON tWorkbenchResource.kResource = tResource.kResource
    LEFT JOIN eazybusiness.dbo.tBenutzer
        ON tBenutzer.kBenutzer = tWorkbenchResource.kBenutzerConnected
    LEFT JOIN dbo.tWarenLager
        ON tWarenlager.kWarenLager = tWorkbenchResource.kWarenLager
GO
