USE [eazybusiness]
GO
/****** Object:  View [ResPl].[lvUserResources]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- WAWI-69048 | lvUserResources: Anpasssung der View für die neue Labels
CREATE VIEW [ResPl].[lvUserResources]
AS
SELECT tResource.kResource,
       tResource.cNumber AS cNumber,
       tResource.cName,
       tResource.fCost,
       tResource.nInactive,
       tResource.nTimeUnit AS ResourceTimeUnit,
       tResourceType.cName AS ResourceTypeName,
       tResourceType.nAppoitmentRequestAutomatic,
       tResourceType.nDivisible,
       tResourceType.uSpecialType,
       tResourceType.nTimeUnit AS ResourceTypeTimeUnit,
       tBenutzer.cLogin,
       tBenutzer.cEMail,
       tBenutzer.cName AS 'BenutzerName',
       tBenutzer.cAbteilung,
       tBenutzer.cMobil,
       (
           SELECT tLabel.kLabel,
                  tLabel.cName,
                  tLabel.cColor
           FROM ResPl.tResourceLabel
               JOIN dbo.tLabel
                   ON tLabel.kLabel = tResourceLabel.kLabel
           WHERE tResourceLabel.kResource = tResource.kResource
           FOR XML PATH('Label'), TYPE, ROOT('Labels')
       ) AS Labels,
       tResource.dCreated,
       tResource.dLastModified
FROM ResPl.tResource
    JOIN ResPl.tResourceType
        ON tResource.kResourceType = tResourceType.kResourceType
    JOIN ResPl.tUserResource
        ON tUserResource.kResource = tResource.kResource
    LEFT JOIN eazybusiness.dbo.tBenutzer
        ON tBenutzer.kBenutzer = tUserResource.kBenutzer
GO
