USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tResourceSub]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tResourceSub](
	[kResource] [int] NOT NULL,
	[kSubResource] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tResourceSub] PRIMARY KEY CLUSTERED 
(
	[kResource] ASC,
	[kSubResource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tResourceSub]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourceSub_kResource] FOREIGN KEY([kResource])
REFERENCES [ResPl].[tResource] ([kResource])
GO
ALTER TABLE [ResPl].[tResourceSub] CHECK CONSTRAINT [FK_ResPl_tResourceSub_kResource]
GO
ALTER TABLE [ResPl].[tResourceSub]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourceSub_kSubResource] FOREIGN KEY([kSubResource])
REFERENCES [ResPl].[tResource] ([kResource])
GO
ALTER TABLE [ResPl].[tResourceSub] CHECK CONSTRAINT [FK_ResPl_tResourceSub_kSubResource]
GO
