USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tTimeModelHoliday]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tTimeModelHoliday](
	[kTimeModelHoliday] [int] IDENTITY(1,1) NOT NULL,
	[kTimeModel] [int] NOT NULL,
	[dDate] [date] NOT NULL,
	[nYearly] [bit] NOT NULL,
	[nFromTime] [time](7) NOT NULL,
	[nToTime] [time](7) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[kTimeModelType] [int] NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastModified] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tTimeModelHoliday] PRIMARY KEY CLUSTERED 
(
	[kTimeModelHoliday] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tTimeModelHoliday] ADD  CONSTRAINT [DF_ResPl_tTimeModelHoliday_nYearly]  DEFAULT ((0)) FOR [nYearly]
GO
ALTER TABLE [ResPl].[tTimeModelHoliday] ADD  CONSTRAINT [DF_ResPl_tTimeModelHoliday_nFromTime]  DEFAULT ('0:0:0') FOR [nFromTime]
GO
ALTER TABLE [ResPl].[tTimeModelHoliday] ADD  CONSTRAINT [DF_ResPl_tTimeModelHoliday_nToTime]  DEFAULT ('23:59:59') FOR [nToTime]
GO
ALTER TABLE [ResPl].[tTimeModelHoliday]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tTimeModelHoliday_kTimeModel] FOREIGN KEY([kTimeModel])
REFERENCES [ResPl].[tTimeModel] ([kTimeModel])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tTimeModelHoliday] CHECK CONSTRAINT [FK_ResPl_tTimeModelHoliday_kTimeModel]
GO
ALTER TABLE [ResPl].[tTimeModelHoliday]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tTimeModelHoliday_kTimeModelType] FOREIGN KEY([kTimeModelType])
REFERENCES [ResPl].[tTimeModelType] ([kTimeModelType])
GO
ALTER TABLE [ResPl].[tTimeModelHoliday] CHECK CONSTRAINT [FK_ResPl_tTimeModelHoliday_kTimeModelType]
GO
