USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tTimeModelReplacement]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tTimeModelReplacement](
	[kTimeModelReplacement] [int] IDENTITY(1,1) NOT NULL,
	[kTimeModel] [int] NOT NULL,
	[kTimeModelReplaced] [int] NOT NULL,
	[dFrom] [date] NOT NULL,
	[dTo] [date] NOT NULL,
	[cReason] [nvarchar](255) NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastModified] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tTimeModelReplacement] PRIMARY KEY CLUSTERED 
(
	[kTimeModelReplacement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tTimeModelReplacement]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tTimeModelReplacement_kTimeModel] FOREIGN KEY([kTimeModel])
REFERENCES [ResPl].[tTimeModel] ([kTimeModel])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tTimeModelReplacement] CHECK CONSTRAINT [FK_ResPl_tTimeModelReplacement_kTimeModel]
GO
ALTER TABLE [ResPl].[tTimeModelReplacement]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tTimeModelReplacement_kTimeModelReplaced] FOREIGN KEY([kTimeModelReplaced])
REFERENCES [ResPl].[tTimeModel] ([kTimeModel])
GO
ALTER TABLE [ResPl].[tTimeModelReplacement] CHECK CONSTRAINT [FK_ResPl_tTimeModelReplacement_kTimeModelReplaced]
GO
