USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tResourceLabel]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tResourceLabel](
	[kResource] [int] NOT NULL,
	[kLabel] [int] NOT NULL,
 CONSTRAINT [PK_ResPl_tResourceLabel] PRIMARY KEY CLUSTERED 
(
	[kResource] ASC,
	[kLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tResourceLabel]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourceLabel_kResource] FOREIGN KEY([kResource])
REFERENCES [ResPl].[tResource] ([kResource])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tResourceLabel] CHECK CONSTRAINT [FK_ResPl_tResourceLabel_kResource]
GO
