USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tResourceUser]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tResourceUser](
	[kResource] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tResourceUser] PRIMARY KEY CLUSTERED 
(
	[kResource] ASC,
	[kBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tResourceUser]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourceUser_kResource] FOREIGN KEY([kResource])
REFERENCES [ResPl].[tResource] ([kResource])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tResourceUser] CHECK CONSTRAINT [FK_ResPl_tResourceUser_kResource]
GO
