USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tResource]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tResource](
	[kResource] [int] IDENTITY(1,1) NOT NULL,
	[nInactive] [bit] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[kResourceType] [int] NOT NULL,
	[kTimeModel] [int] NULL,
	[fCost] [decimal](25, 13) NOT NULL,
	[nTimeUnit] [tinyint] NOT NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastModified] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cNumber] [nvarchar](100) NOT NULL,
	[cDescription] [nvarchar](max) NULL,
 CONSTRAINT [PK_ResPl_tResource] PRIMARY KEY CLUSTERED 
(
	[kResource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tResource] ADD  CONSTRAINT [DF_ResPl_tResource_nInactive]  DEFAULT ((0)) FOR [nInactive]
GO
ALTER TABLE [ResPl].[tResource] ADD  CONSTRAINT [DF_ResPl_tResource_nTimeUnit]  DEFAULT ((0)) FOR [nTimeUnit]
GO
ALTER TABLE [ResPl].[tResource]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResource_kResourceType] FOREIGN KEY([kResourceType])
REFERENCES [ResPl].[tResourceType] ([kResourceType])
GO
ALTER TABLE [ResPl].[tResource] CHECK CONSTRAINT [FK_ResPl_tResource_kResourceType]
GO
ALTER TABLE [ResPl].[tResource]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResource_kTimeModel] FOREIGN KEY([kTimeModel])
REFERENCES [ResPl].[tTimeModel] ([kTimeModel])
ON DELETE SET NULL
GO
ALTER TABLE [ResPl].[tResource] CHECK CONSTRAINT [FK_ResPl_tResource_kTimeModel]
GO
