USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tResourceGroup]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tResourceGroup](
	[kResourceGroup] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[kResourceType] [int] NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastModified] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tResourceGroup] PRIMARY KEY CLUSTERED 
(
	[kResourceGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tResourceGroup]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourceGroup_kResourceType] FOREIGN KEY([kResourceType])
REFERENCES [ResPl].[tResourceType] ([kResourceType])
GO
ALTER TABLE [ResPl].[tResourceGroup] CHECK CONSTRAINT [FK_ResPl_tResourceGroup_kResourceType]
GO
