USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tResourceType]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tResourceType](
	[kResourceType] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[nDivisible] [bit] NOT NULL,
	[nAppoitmentRequestAutomatic] [bit] NOT NULL,
	[nTimeUnit] [tinyint] NOT NULL,
	[kTimeModel] [int] NULL,
	[uSpecialType] [uniqueidentifier] NULL,
	[dCreated] [datetimeoffset](7) NOT NULL,
	[dLastModified] [datetimeoffset](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tResourceType] PRIMARY KEY CLUSTERED 
(
	[kResourceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tResourceType] ADD  CONSTRAINT [DF_ResPl_tResourceType_nDivisible]  DEFAULT ((0)) FOR [nDivisible]
GO
ALTER TABLE [ResPl].[tResourceType] ADD  CONSTRAINT [DF_ResPl_tResourceType_nAppoitmentRequestAutomatic]  DEFAULT ((0)) FOR [nAppoitmentRequestAutomatic]
GO
ALTER TABLE [ResPl].[tResourceType] ADD  CONSTRAINT [DF_ResPl_tResourceType_nTimeUnit]  DEFAULT ((0)) FOR [nTimeUnit]
GO
