USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tResourcesGroups]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tResourcesGroups](
	[kResource] [int] NOT NULL,
	[kResourceGroup] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tResourcesGroups] PRIMARY KEY CLUSTERED 
(
	[kResource] ASC,
	[kResourceGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tResourcesGroups]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourcesGroups_kResource] FOREIGN KEY([kResource])
REFERENCES [ResPl].[tResource] ([kResource])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tResourcesGroups] CHECK CONSTRAINT [FK_ResPl_tResourcesGroups_kResource]
GO
ALTER TABLE [ResPl].[tResourcesGroups]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tResourcesGroups_kSubResource] FOREIGN KEY([kResourceGroup])
REFERENCES [ResPl].[tResourceGroup] ([kResourceGroup])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tResourcesGroups] CHECK CONSTRAINT [FK_ResPl_tResourcesGroups_kSubResource]
GO
