USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tUserResource]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tUserResource](
	[kUserResource] [int] IDENTITY(1,1) NOT NULL,
	[kResource] [int] NOT NULL,
	[kBenutzer] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_ResPl_tUserResource] PRIMARY KEY CLUSTERED 
(
	[kUserResource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tUserResource]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tUserResource_kResource] FOREIGN KEY([kResource])
REFERENCES [ResPl].[tResource] ([kResource])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tUserResource] CHECK CONSTRAINT [FK_ResPl_tUserResource_kResource]
GO
