USE [eazybusiness]
GO
/****** Object:  Table [ResPl].[tWorkbenchResource]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ResPl].[tWorkbenchResource](
	[kWorkbenchResource] [int] IDENTITY(1,1) NOT NULL,
	[kResource] [int] NOT NULL,
	[cHostName] [nvarchar](253) NULL,
	[kBenutzerConnected] [int] NULL,
	[dConnected] [datetimeoffset](7) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kWarenLager] [int] NULL,
	[nReservationMode] [tinyint] NOT NULL,
	[nAutoShowProcessParameterValuesInProduction] [bit] NOT NULL,
	[nExpiredComponentsUsage] [tinyint] NOT NULL,
	[nReplenishmentCreationStockReservationMode] [tinyint] NOT NULL,
 CONSTRAINT [PK_ResPl_tWorkbenchResource] PRIMARY KEY CLUSTERED 
(
	[kWorkbenchResource] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ResPl].[tWorkbenchResource] ADD  CONSTRAINT [DF_ResPl_tWorkbenchResource_nReservationMode]  DEFAULT ((0)) FOR [nReservationMode]
GO
ALTER TABLE [ResPl].[tWorkbenchResource] ADD  CONSTRAINT [DF_ResPl_tWorkbenchResource_nAutoShowProcessParameterValuesInProduction]  DEFAULT ((0)) FOR [nAutoShowProcessParameterValuesInProduction]
GO
ALTER TABLE [ResPl].[tWorkbenchResource] ADD  CONSTRAINT [DF_ResPl_tWorkbenchResource_nExpiredComponentsUsage]  DEFAULT ((0)) FOR [nExpiredComponentsUsage]
GO
ALTER TABLE [ResPl].[tWorkbenchResource] ADD  CONSTRAINT [DF_ResPl_tWorkbenchResource_nReplenishmentCreationStockReservationMode]  DEFAULT ((0)) FOR [nReplenishmentCreationStockReservationMode]
GO
ALTER TABLE [ResPl].[tWorkbenchResource]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tWorkbenchResource_kResource] FOREIGN KEY([kResource])
REFERENCES [ResPl].[tResource] ([kResource])
ON DELETE CASCADE
GO
ALTER TABLE [ResPl].[tWorkbenchResource] CHECK CONSTRAINT [FK_ResPl_tWorkbenchResource_kResource]
GO
ALTER TABLE [ResPl].[tWorkbenchResource]  WITH CHECK ADD  CONSTRAINT [FK_ResPl_tWorkbenchResource_kWarenLager] FOREIGN KEY([kWarenLager])
REFERENCES [dbo].[tWarenLager] ([kWarenLager])
GO
ALTER TABLE [ResPl].[tWorkbenchResource] CHECK CONSTRAINT [FK_ResPl_tWorkbenchResource_kWarenLager]
GO
