USE [eazybusiness]
GO
/****** Object:  View [RestApi].[vReturnStateTranslation]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RestApi].[vReturnStateTranslation] AS

SELECT 
	tRMStatus.kRMStatus AS kReturnState,
	dbo.tSpracheUsed.cISO2 AS cLanguageIso,
	dbo.tRMStatusSprache.cName AS cName
FROM dbo.tRMStatus
LEFT JOIN dbo.tRMStatusSprache ON tRMStatusSprache.kRMStatus = tRMStatus.kRMStatus
LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tRMStatusSprache.kSprache
GO
