USE [eazybusiness]
GO
/****** Object:  Table [RestApi].[tAuth]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [RestApi].[tAuth](
	[kAuthCode] [int] NOT NULL,
 CONSTRAINT [PK_restapi_tAuth] PRIMARY KEY CLUSTERED 
(
	[kAuthCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
