USE [eazybusiness]
GO
/****** Object:  View [RestApi].[vReturnLineItem]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RestApi].[vReturnLineItem]
AS
SELECT tRMRetourePos.kRMRetourePos AS kReturnLineItem,
       tRMRetourePos.kRMRetoure AS kReturn,
       tRMStatusVerlauf.kRMStatus AS kState,
       tRMRetourePos.kArtikel AS kItem,
       tRMRetourePos.cName AS cName,
       tRMRetourePos.cArtNr AS cSKU,
       tRMRetourePos.fAnzahl AS fQuantity,
       tRMRetourePos.kRMGrund AS kReturnReason,
       tRMRetourePos.cGrundKommentar AS cReturnReasonComment,
       tRMRetourePos.kZustand AS kCondition,
       tRMRetourePos.cZustandKommentar AS cConditionComment,
       tRMRetourePos.kLieferscheinPos AS kDeliverNoteLineItem,
       Verkauf.tAuftragPosition.kAuftragPosition AS kSalesOrderLineItem,
       Verkauf.tAuftragPosition.kAuftrag AS kSalesOrder
FROM dbo.tRMRetourePos
LEFT JOIN dbo.tRMStatusVerlauf
       ON tRMStatusVerlauf.kRMStatusVerlauf = tRMRetourePos.kRMStatusVerlauf
LEFT JOIN dbo.tLieferscheinPos
       ON tLieferscheinPos.kLieferscheinPos = tRMRetourePos.kLieferscheinPos
LEFT JOIN Verkauf.tAuftragPosition
       ON Verkauf.tAuftragPosition.kAuftragPosition = dbo.tLieferscheinPos.kBestellPos;
GO
