USE [eazybusiness]
GO
/****** Object:  View [RestApi].[vInvoice]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RestApi].[vInvoice] AS

SELECT 
	tRechnung.kRechnung AS kInvoice,
	tAuftrag.kAuftrag AS kSalesOrder, 
	tAuftrag.cAuftragsNr AS cSalesOrderNumber, 
	tRechnung.cExterneAuftragsnummer AS cExternalSalesOrderNumber, 
	tRechnung.kKunde AS kCustomer, 
	tFirmaHistory.kFirma AS kCompany, 
	tRechnung.dErstellt AS dInvoiceDate, 
	tRechnung.kFarbe AS kColorcode, 
	tRechnung.cKundeUstId AS cCustomerVatId,

	--Shipmentaddress:
	Lieferadresse.cFirma AS cShipmentCompany,
	Lieferadresse.cTitel AS cShipmentTitle,
	Lieferadresse.cVorname AS cShipmentFirstName,
	Lieferadresse.cName AS cShipmentLastName,
	Lieferadresse.cStrasse AS cShipmentStreet,
	Lieferadresse.cPLZ AS cShipmentPostalCode,
	Lieferadresse.cOrt AS cShipmentCity,
	Lieferadresse.cBundesland AS cShipmentState,
	Lieferadresse.cLand AS cShipmentCountry,
	Lieferadresse.cISO AS cShipmentCountryISO,
	Lieferadresse.cTel AS cShipmentPhoneNumber,
	Lieferadresse.cMobil AS cShipmentMobilePhoneNumber,
	Lieferadresse.cMail AS cShipmentEmailAdress,
	Lieferadresse.cFax AS cShipmentFax,
	--Lieferadresse.VatID wird noch im Ticket WAWI-68870 erarbeitet und muss hier ergänzt werden
    
	--BillingAddress:
	Rechnungsadresse.cFirma AS cBillingCompany,
	Rechnungsadresse.cTitel AS cBillingTitle,
	Rechnungsadresse.cVorname AS cBillingFirstName,
	Rechnungsadresse.cName AS cBillingLastName,
	Rechnungsadresse.cStrasse AS cBillingStreet,
	Rechnungsadresse.cPLZ AS cBillingPostalCode,
	Rechnungsadresse.cOrt AS cBillingCity,
	Rechnungsadresse.cBundesland AS cBillingState,
	Rechnungsadresse.cLand AS cBillingCountry,
	Rechnungsadresse.cISO AS cBillingCountryISO,
	Rechnungsadresse.cTel AS cBillingPhoneNumber,
	Rechnungsadresse.cMobil AS cBillingMobilePhoneNumber,
	Rechnungsadresse.cMail AS cBillingEmailAddress,
	Rechnungsadresse.cFax AS cBillingFax,
	--Rechnungsadresse.VatID wird noch im Ticket WAWI-68870 erarbeitet und muss hier ergänzt werden

	tRechnungText.cAnmerkung AS cComment, 
	tRechnungText.cHinweis AS cCustomerComment, 

	--DepartureCountry:
	tRechnung.cVersandlandISO AS cDepartureCountryISO, 
	tRechnung.cVersandlandBundeslandKuerzel AS cDepartureState, 
	tRechnung.cVersandlandWaehrung AS cDepartureCurrencyIso, 
	tRechnung.fVersandlandWaehrungsfaktor AS fDepartureCurrencyFactor,

	--SalesOrderPaymentDetails:
	tRechnung.kZahlungsart AS kPaymentMethod,
	tRechnungEckdaten.nZahlungStatus AS nPaymentStatus, 
	tRechnungEckdaten.fVkBruttoGesamt fTotalGrossAmount,
	tRechnung.cWaehrung AS cCurrencyIso, 
	tRechnungEckdaten.fOffenerWert AS fStillToPay,
	tRechnung.fWaehrungsfaktor fCurrencyFactor,
	tRechnungEckdaten.dBezahlt AS dDateOfPayment, 
			
	tRechnung.nZahlungszielTage AS nPaymentTarget, 
	tRechnung.fSkonto AS fCashDiscount, 
	tRechnung.nSkontoInTage AS nCashDiscountDays, 
	tRechnung.nMahnstop AS nStopPaymentRequest, 
	tRechnungEckdaten.nMahnstufe AS nDunningLevel, 
	tRechnungEckdaten.dZahlungsziel AS dNextDueDate, 

	tRechnung.nIstExterneRechnung AS nIsExternalInvoice, 
	tRechnung.nStorno AS nIsCancelled, 
	tSpracheUsed.cISO2 AS cLanguageISO, 
	
	tRechnung.cRechnungsnr AS cBillingNumber, 

	--CancellationDetails:
	tRechnungStorno.cKommentar AS cCancellationComment, 
	tRechnungStorno.kRechnungStornogrund AS kCancellationReason,
	tRechnungStorno.dStorniert AS dCancellationDate
	

FROM 
	Rechnung.tRechnung
	LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kRechnung = tRechnung.kRechnung
	LEFT JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
	LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tRechnung.kFirmaHistory
	LEFT JOIN Rechnung.tRechnungAdresse AS Lieferadresse ON Lieferadresse.kRechnung = tRechnung.kRechnung AND Lieferadresse.nTyp = 0
	LEFT JOIN Rechnung.tRechnungAdresse AS Rechnungsadresse ON Rechnungsadresse.kRechnung = tRechnung.kRechnung AND Rechnungsadresse.nTyp = 1
	LEFT JOIN Rechnung.tRechnungText ON tRechnungText.kRechnung = tRechnung.kRechnung
	LEFT JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
	LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tRechnung.kSprache
	LEFT JOIN Rechnung.tRechnungStorno ON tRechnungStorno.kRechnung = tRechnung.kRechnung
GO
