USE [eazybusiness]
GO
/****** Object:  View [RestApi].[vAccountingData]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RestApi].[vAccountingData] AS 


--=== RECHNUNGEN ===--

SELECT 
	0 AS nDocumentType,
	tRechnung.kRechnung AS kDocument,
	tRechnung.cRechnungsnr AS cDocumentNumber, 
	tRechnung.dErstellt AS dDocumentDate,
	tAuftrag.kAuftrag AS kSalesOrder,
	tAuftrag.cAuftragsNr AS cSalesOrderNumber,
	tRechnung.cExterneAuftragsnummer AS cExternalSalesOrderNumber,
	tRechnung.cVersandlandISO AS cDepartureCountry, 
	tRechnung.cVersandlandBundeslandkuerzel AS cDepartureState,	

	--ShipmentAddress:
	Lieferadresse.cFirma AS cShipmentCompany,
	Lieferadresse.cTitel AS cShipmentTitle,
	Lieferadresse.cVorname AS cShipmentFirstName,
	Lieferadresse.cName AS cShipmentLastName,
	Lieferadresse.cStrasse AS cShipmentStreet,
	Lieferadresse.cPLZ AS cShipmentPostalCode,
	Lieferadresse.cOrt AS cShipmentCity,
	Lieferadresse.cBundesland AS cShipmentState,
	Lieferadresse.cLand AS cShipmentCountry,
	Lieferadresse.cISO AS cShipmentCountryISO,
	Lieferadresse.cTel AS cShipmentPhoneNumber,
	Lieferadresse.cMobil AS cShipmentMobilePhoneNumber,
	Lieferadresse.cMail AS cShipmentEmailAddress,
	Lieferadresse.cFax AS cShipmentFax,
    
	--BillingAddress:
	Lieferadresse.cFirma AS cBillingCompany,
	Lieferadresse.cTitel AS cBillingTitle,
	Lieferadresse.cVorname AS cBillingFirstName,
	Lieferadresse.cName AS cBillingLastName,
	Lieferadresse.cStrasse AS cBillingStreet,
	Lieferadresse.cPLZ AS cBillingPostalCode,
	Lieferadresse.cOrt AS cBillingCity,
	Lieferadresse.cBundesland AS cBillingState,
	Lieferadresse.cLand AS cBillingCountry,
	Lieferadresse.cISO AS cBillingCountryISO,
	Lieferadresse.cTel AS cBillingPhoneNumber,
	Lieferadresse.cMobil AS cBillingMobilePhoneNumber,
	Lieferadresse.cMail AS cBillingEmailAddress,
	Lieferadresse.cFax AS cBillingFax,

	tRechnung.cWaehrung AS cCurrencyIso,
	tRechnung.cUstId AS cCompanyVatId,
	tRechnung.cKundeUstId AS cCustomerVatId,
	tRechnung.nStorno AS nIsCancelled,

	tRechnungPosition.cName AS cLineItemName,
	tRechnungPosition.kSteuerklasse AS kLineItemTaxClass,
	tSteuerschluessel.cSteuerkonto AS cLineItemGeneralLedgerAccount,
	tRechnungPosition.fAnzahl AS fLineItemQuantity,
	tRechnungPosition.fMwSt AS fLineItemVatRate,
	tRechnungPositionEckdaten.fMwStBetrag AS fLineItemVatAmount,
	tRechnungPositionEckdaten.fRabattbetrag AS fLineItemTotalDiscountGrossAmount,
	ROUND(tRechnungPosition.fAnzahl * tRechnungPosition.fVKNetto - tRechnungPosition.fAnzahl * tRechnungPosition.fVKNetto * (1.0 - (tRechnungPosition.fRabatt / 100.0)), 4) AS fLineItemTotalDiscountNetAmount, 
	tRechnungPosition.fWertBruttoGesamtFixiert AS fLineItemTotalGrossAmount,
	tRechnungPosition.fWertNettoGesamtFixiert AS fLineItemTotalNetAmount,
	tRechnungPosition.kRechnungPosition AS kLineItem,
	tRechnungPosition.kAuftragPosition AS kSalesOrderLineItem,
	tRechnungPosition.kArtikel AS kItem,
	tRechnungPosition.fRabatt AS fLineItemDiscount,
	tRechnungPosition.nType AS nLineItemType,
	tRechnungPosition.nSort AS nLineItemSort,

	tRechnung.fWaehrungsfaktor AS fCurrencyFactor,
	tRechnung.fVersandlandWaehrungsfaktor AS fDepartureCurrencyFactor,

	tFirmaHistory.kFirma AS kCompany,

	tRechnung.kPlattform AS kPlatform,
	tRechnung.kShop AS kShop,
	tRechnung.kBenutzer AS kUser,
	tPlattform.nTyp AS nPlatformType,
	tAuftragMapping.kShopSubShop AS kPosShopSubShop,
	tShopScx.kChannel AS kScxChannel,
	tAuftrag.kAmazonUser AS kAmazonUser,
	ebayTransaction.kEbayUser AS kEbayUser

FROM Rechnung.tRechnung
LEFT JOIN Rechnung.tRechnungPosition ON tRechnungPosition.kRechnung = tRechnung.kRechnung
LEFT JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = tRechnungPosition.kRechnungPosition
LEFT JOIN Rechnung.tRechnungAdresse AS Lieferadresse ON Lieferadresse.kRechnung = tRechnung.kRechnung AND Lieferadresse.nTyp = 0
LEFT JOIN Rechnung.tRechnungAdresse AS Rechnungsadresse ON Rechnungsadresse.kRechnung = tRechnung.kRechnung AND Rechnungsadresse.nTyp = 1
LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tRechnung.kFirmaHistory
LEFT JOIN dbo.tPlattform ON tPlattform.nPlattform = tRechnung.kPlattform
LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kRechnung = tRechnung.kRechnung
LEFT JOIN Pos.tAuftragMapping ON tAuftragMapping.kAuftrag = tAuftragRechnung.kAuftrag
LEFT JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
LEFT JOIN dbo.tShopScx ON tShopScx.kShop = tRechnung.kShop
LEFT JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = tRechnungPosition.kSteuerschluessel

OUTER APPLY(
	SELECT TOP 1 dbo.ebay_transaction.kEbayUser AS kEbayUser
	FROM Verkauf.tAuftragPosition
	JOIN dbo.ebay_transaction ON ebay_transaction.kTransaction = tAuftragPosition.kEbayTransaction
	WHERE tAuftragPosition.kAuftrag = tAuftragRechnung.kAuftrag
) AS ebayTransaction

WHERE tRechnung.nIstEntwurf = 0

UNION ALL


--=== GUTSCHRIFTEN / RECHNUNGSKORREKTUREN / STORNO ===--

SELECT 
	CASE
		WHEN tgutschrift.kRechnung IS NULL 
			AND tgutschrift.nStornoTyp = 0
		THEN 1 -- Gutschrift

		WHEN tgutschrift.kRechnung IS NOT NULL 
			AND tgutschrift.nStornoTyp = 0
		THEN 2 -- Rechnungskorrektur

		WHEN tgutschrift.kRechnung IS NOT NULL 
			AND tgutschrift.nStornoTyp = 1
		THEN 3 -- Storno Rechnung

		WHEN tgutschrift.kRechnung IS NULL 
			AND tgutschrift.nStornoTyp = 2
		THEN 4 -- Storno Gutschrift 

		WHEN tgutschrift.kRechnung IS NOT NULL 
			AND tgutschrift.nStornoTyp = 2
		THEN 5 -- Storno Rechnungskorrektur 

	END AS nDocumentType,

	tgutschrift.kGutschrift AS kDocument,
	tgutschrift.cGutschriftNr AS cDocumentNumber,
	tgutschrift.dErstellt AS dDocumentDate,
	tAuftrag.kAuftrag AS kSalesOrder,
	tAuftrag.cAuftragsNr AS cSalesOrderNumber,
	tRechnung.cExterneAuftragsnummer AS cExternalSalesOrderNumber,
	tRechnung.cVersandlandISO AS cDepartureCountry, 
	tRechnung.cVersandlandBundeslandkuerzel AS cDepartureState,

	--ShipmentAddress:
	Lieferadresse.cFirma AS cShipmentCompany,
	Lieferadresse.cTitel AS cShipmentTitle,
	Lieferadresse.cVorname AS cShipmentFirstName,
	Lieferadresse.cName AS cShipmentLastName,
	Lieferadresse.cStrasse AS cShipmentStreet,
	Lieferadresse.cPLZ AS cShipmentPostalCode,
	Lieferadresse.cOrt AS cShipmentCity,
	Lieferadresse.cBundesland AS cShipmentState,
	Lieferadresse.cLand AS cShipmentCountry,
	Lieferadresse.cISO AS cShipmentCountryISO,
	Lieferadresse.cTel AS cShipmentPhoneNumber,
	Lieferadresse.cMobil AS cShipmentMobilePhoneNumber,
	Lieferadresse.cMail AS cShipmentEmailAddress,
	Lieferadresse.cFax AS cShipmentFax,
    
	--BillingAddress:
	Lieferadresse.cFirma AS cBillingCompany,
	Lieferadresse.cTitel AS cBillingTitle,
	Lieferadresse.cVorname AS cBillingFirstName,
	Lieferadresse.cName AS cBillingLastName,
	Lieferadresse.cStrasse AS cBillingStreet,
	Lieferadresse.cPLZ AS cBillingPostalCode,
	Lieferadresse.cOrt AS cBillingCity,
	Lieferadresse.cBundesland AS cBillingState,
	Lieferadresse.cLand AS cBillingCountry,
	Lieferadresse.cISO AS cBillingCountryISO,
	Lieferadresse.cTel AS cBillingPhoneNumber,
	Lieferadresse.cMobil AS cBillingMobilePhoneNumber,
	Lieferadresse.cMail AS cBillingEmailAddress,
	Lieferadresse.cFax AS cBillingFax,

	tgutschrift.cWaehrung AS cCurrencyIso,
	tRechnung.cUstId AS cCompanyVatId, 
	tgutschrift.cKundeUstId AS cCustomerVatId,
	tgutschrift.nStorno AS nIsCancelled,

	tGutschriftPos.cString AS cLineItemName,
	tRechnungPosition.kSteuerklasse AS kLineItemTaxClass, 
	tSteuerschluessel.cSteuerkonto AS cLineItemGeneralLedgerAccount,
	tGutschriftPos.nAnzahl AS fLineItemQuantity,
	tGutschriftPos.fMwSt AS fLineItemVatRate,
	tRechnungPositionEckdaten.fMwStBetrag AS fLineItemVatAmount,
	ROUND(tGutschriftPos.nAnzahl * tGutschriftPos.fVKPreis - tGutschriftPos.nAnzahl * tGutschriftPos.fVKPreis * (1.0 - (tGutschriftPos.fRabatt / 100.0)), 4) AS fLineItemTotalDiscountGrossAmount,
	ROUND(tGutschriftPos.nAnzahl * tGutschriftPos.fVKNetto - tGutschriftPos.nAnzahl * tGutschriftPos.fVKNetto * (1.0 - (tGutschriftPos.fRabatt / 100.0)), 4) AS fLineItemTotalDiscountNetAmount, 
	tRechnungPosition.fWertBruttoGesamtFixiert AS fLineItemTotalGrossAmount,
	tRechnungPosition.fWertNettoGesamtFixiert AS fLineItemTotalNetAmount,
	tGutschriftPos.kGutschriftPos AS kLineItem,
	tRechnungPosition.kAuftragPosition AS kSalesOrderLineItem,
	tGutschriftPos.tArtikel_kArtikel AS kItem,
	tGutschriftPos.fRabatt AS fLineItemDiscount,
	ISNULL(tRechnungPosition.nType, IIF(tGutschriftPos.tArtikel_kArtikel > 0, 1, 0)) AS nLineItemType,
	tGutschriftPos.nSort AS nLineItemSort,

	tgutschrift.fFaktor AS fCurrencyFactor, 
	tgutschrift.fVersandlandWaehrungFaktor AS fDepartureCurrencyFactor,

	ISNULL(tFirmaHistory.kFirma, tgutschrift.kFirma) AS kCompany,

	tgutschrift.kPlattform AS kPlatform,
	tRechnung.kShop AS kShop,
	tgutschrift.kBenutzer AS kUser,
	tPlattform.nTyp AS nPlatformType,
	tAuftragMapping.kShopSubShop AS kPosShopSubShop,
	tShopScx.kChannel AS kScxChannel,
	tAuftrag.kAmazonUser AS kAmazonUser,
	ebayTransaction.kEbayUser AS kEbayUser

FROM dbo.tgutschrift
LEFT JOIN dbo.tGutschriftPos ON tGutschriftPos.tGutschrift_kGutschrift = tgutschrift.kGutschrift
LEFT JOIN Rechnung.tRechnungPosition ON tRechnungPosition.kRechnungPosition = tGutschriftPos.kRechnungPosition
LEFT JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = tRechnungPosition.kRechnungPosition
LEFT JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tgutschrift.kRechnung
LEFT JOIN Rechnung.tRechnungAdresse AS Lieferadresse ON Lieferadresse.kRechnung = tgutschrift.kRechnung AND Lieferadresse.nTyp = 0
LEFT JOIN Rechnung.tRechnungAdresse AS Rechnungsadresse ON Rechnungsadresse.kRechnung = tgutschrift.kRechnung AND Rechnungsadresse.nTyp = 1
LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tRechnung.kFirmaHistory
LEFT JOIN dbo.tPlattform ON tPlattform.nPlattform = tgutschrift.kPlattform
LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kRechnung = tgutschrift.kRechnung
LEFT JOIN Pos.tAuftragMapping ON tAuftragMapping.kAuftrag = tAuftragRechnung.kAuftrag
LEFT JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
LEFT JOIN dbo.tShopScx ON tShopScx.kShop = tRechnung.kShop
LEFT JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = tRechnungPosition.kSteuerschluessel

OUTER APPLY(
	SELECT TOP 1 dbo.ebay_transaction.kEbayUser AS kEbayUser
	FROM Verkauf.tAuftragPosition
	JOIN dbo.ebay_transaction ON ebay_transaction.kTransaction = tAuftragPosition.kEbayTransaction
	WHERE tAuftragPosition.kAuftrag = tAuftragRechnung.kAuftrag
) AS ebayTransaction

WHERE ISNULL(tGutschrift.cGutschriftNr, '') <> ''
GO
