USE [eazybusiness]
GO
/****** Object:  View [RestApi].[vSalesOrderLineItem]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RestApi].[vSalesOrderLineItem] AS

SELECT
    tAuftragPosition.kAuftragPosition AS kSalesOrderLineItem,
    tAuftragPosition.kAuftrag AS kSalesOrder,
    tAuftragPosition.kArtikel AS kItem,
    tAuftragPosition.cName AS cName,
    tAuftragPosition.cArtNr AS cSKU,
    tAuftragPosition.nType AS nType,
    tAuftragPosition.fAnzahl AS fQuantity,
    tAuftragPositionEckdaten.fAnzahlGeliefert AS fQuantityDelivered,
    tAuftragPosition.cEinheit AS cSalesUnit,
    tAuftragPosition.fVkNetto AS fSalesPriceNet,
    tAuftragPosition.fVkNetto * (1 + (tAuftragPosition.fMwSt / 100)) AS fSalesPriceGross,
    tAuftragPosition.fRabatt AS fDiscount,
    tAuftragPosition.fEkNetto AS fPurchasePriceNet,
    tAuftragPosition.fMwSt AS fTaxRate,
    tAuftragPosition.cHinweis AS cNotice,
    retourePos.AnzahlRetourniert AS fQuantityReturned
FROM Verkauf.tAuftragPosition
LEFT JOIN Verkauf.tAuftragPositionEckdaten ON tAuftragPositionEckdaten.kAuftragPosition = tAuftragPosition.kAuftragPosition
LEFT JOIN
(
    SELECT kBestellPos, SUM(tRMRetourePos.fAnzahl) AS AnzahlRetourniert FROM tRMRetourePos JOIN dbo.tLieferscheinPos ON tLieferscheinPos.kLieferscheinPos = tRMRetourePos.kLieferscheinPos
    GROUP BY kBestellPos
) retourePos ON retourePos.kBestellPos = tAuftragPosition.kAuftragPosition
GO
