USE [eazybusiness]
GO
/****** Object:  View [RestApi].[vSalesOrder]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RestApi].[vSalesOrder] AS

SELECT 
	tAuftrag.kAuftrag AS kSalesOrder,
	tAuftrag.cAuftragsNr AS cSalesOrderNumber, 
	tAuftrag.cExterneAuftragsnummer AS cExternalSalesOrderNumber,
	tAuftrag.kKunde AS kCustomer,
	tFirmaHistory.kFirma AS kCompany,
	tAuftrag.dErstellt AS dSalesOrderDate, 
	tAuftrag.kFarbe AS kColor,
	tAuftrag.cKundeUstId AS cCustomerVatID,
	tAuftrag.cUstId as cMerchantVatId,
	tAuftrag.kBenutzerErstellt AS kUserCreated,
	tAuftragEckdaten.dLetzterVersand AS dDeliveredDate,

	--Shipmentaddress:
	Shipment.cFirma AS cShipmentCompany,
    Shipment.cTitel AS cShipmentTitle,
    Shipment.cVorname AS cShipmentFirstName,
    Shipment.cName AS cShipmentLastName,
    Shipment.cStrasse AS cShipmentStreet,
    Shipment.cPLZ AS cShipmentPostalCode,
    Shipment.cOrt AS cShipmentCity,
	Shipment.cBundesland AS cShipmentState,
    Shipment.cLand AS cShipmentCountry,
    Shipment.cISO AS cShipmentCountryIso,
    Shipment.cTel AS cShipmentPhoneNumber,
    Shipment.cMobil AS cShipmentMobilePhoneNumber,
    Shipment.cMail AS cShipmentEmailAddress,
    Shipment.cFax AS cShipmentFax,
	--Shipment.VatID wird noch im Ticket WAWI-68870 erarbeitet und muss hier ergänzt werden
    
	--BillingAddress:
    Billing.cFirma AS cBillingCompany,
    Billing.cTitel AS cBillingTitle,
    Billing.cVorname AS cBillingFirstName,
    Billing.cName AS cBillingLastName,
    Billing.cStrasse AS cBillingStreet,
    Billing.cPLZ AS cBillingPostalCode,
    Billing.cOrt AS cBillingCity,
	Billing.cBundesland AS cBillingState,
    Billing.cLand AS cBillingCountry,
    Billing.cISO AS cBillingCountryISO,
    Billing.cTel AS cBillingPhoneNumber,
    Billing.cMobil AS cBillingMobilePhoneNumber,
    Billing.cMail AS cBillingEmailAddress,
    Billing.cFax AS cBillingFax,
	--Billing.VatID wird noch im Ticket WAWI-68870 erarbeitet und muss hier ergänzt werden

	tAuftragText.cAnmerkung AS cComment, 
	tAuftragText.cHinweis AS cCustomerComment,

	--DepartureCountry:
	tAuftrag.cVersandlandISO AS cDepartureCountryISO, 
	tAuftrag.cVersandlandBundeslandKuerzel AS cDepartureState, 
	tAuftrag.cVersandlandWaehrung AS cDepartureCurrencyIso, 
	tAuftrag.fVersandlandWaehrungFaktor AS fDepartureCurrencyFactor,

	--SalesOrderPaymentDetails:
	tAuftrag.kZahlungsart AS kPaymentMethod, 
	tAuftragEckdaten.nZahlungStatus AS nPaymentStatus, 
	tAuftragEckdaten.fWertBrutto AS fTotalGrossAmount, 
	tAuftrag.cWaehrung AS cCurrencyIso, 
	tAuftragEckdaten.fOffenerWert AS fStillToPay, 
	tAuftrag.fFaktor AS fCurrencyFactor, 
	tAuftragEckdaten.dBezahlt AS dDateOfPayment, 
	
	tAuftrag.nZahlungszielTage AS nPaymentTarget, 
	tAuftrag.fSkonto AS fCashDiscount, 
	tAuftrag.nSkontoTage AS nCashDiscountDays, 

	--SalesOrderShippingDetail:
	tAuftrag.kVersandArt AS kShippingMethod,
	tAuftrag.nKomplettAusgeliefert AS nDeliveryCompleteStatus, 
	tAuftrag.nLieferPrioritaet AS nShippingPriority, 
	tAuftrag.dAuslieferdatum AS dShippingDate, 
	tAuftrag.kRueckhaltegrund AS kOnHoldReason, 
	tAuftrag.fZusatzGewicht AS fExtraWeight,
    tAuftrag.dVoraussichtlichesLieferdatum AS fEstimatedDeliveryDate,

	tAuftrag.nIstExterneRechnung AS nIsExternalInvoice, 
	tAuftrag.nStorno AS nIsCancelled, 
	tSpracheUsed.cISO2 AS cLanguageISO, 
	
	tRechnung.cRechnungsnr AS cBillingNumber, 

	--CancellationDetails:
	tAuftragStorno.cKommentar AS cCancellationComment, 
	tAuftragStorno.kAuftragStornogrund AS kCancellationReason,

	tAuftrag.kPlattform AS kPlatform,
	tAuftrag.kShop AS kShop,
	tAuftrag.kAmazonUser AS kAmazonUser,
	tAuftrag.kBenutzer AS kUser,
	tAuftragMapping.kShopSubShop AS kPosShopSubShop,
	tShopScx.kChannel AS kScxChannel,
	tPlattform.nTyp AS nPlatformType,
	ebayTransaction.kEbayUser AS kEbayUser,
	tAuftrag.cEbayUsername AS cEbayUsername

FROM Verkauf.tAuftrag
LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tAuftrag.kFirmaHistory
LEFT JOIN Verkauf.tAuftragAdresse AS Shipment ON Shipment.kAuftrag = tAuftrag.kAuftrag AND Shipment.nTyp = 0
LEFT JOIN Verkauf.tAuftragAdresse AS Billing ON Billing.kAuftrag = tAuftrag.kAuftrag AND Billing.nTyp = 1
LEFT JOIN Verkauf.tAuftragText ON tAuftragText.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tAuftrag.kSprache
LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tAuftragRechnung.kRechnung
LEFT JOIN Verkauf.tAuftragStorno ON tAuftragStorno.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN Pos.tAuftragMapping ON tAuftragMapping.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN dbo.tShopScx ON tShopScx.kShop = tAuftrag.kShop
LEFT JOIN dbo.tPlattform ON tPlattform.nPlattform = tAuftrag.kPlattform

OUTER APPLY(
    SELECT TOP 1 
        ebay_transaction.kEbayUser
    FROM Verkauf.tAuftragPosition
    LEFT JOIN dbo.ebay_transaction ON ebay_transaction.kTransaction = tAuftragPosition.kEbayTransaction
    WHERE tAuftragPosition.kAuftrag = tAuftrag.kAuftrag
) AS ebayTransaction

WHERE
    tAuftrag.nType = 1
GO
