USE [eazybusiness]
GO
/****** Object:  View [RestApi].[vReturnReasonTranslation]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RestApi].[vReturnReasonTranslation] AS

SELECT 
	tRMGrund.kRMGrund AS kReturnReason,
	dbo.tSpracheUsed.cISO2 AS cLanguageIso,
	dbo.tRMGrundSprache.cName AS cName
FROM dbo.tRMGrund
LEFT JOIN dbo.tRMGrundSprache ON tRMGrundSprache.kRMGrund = tRMGrund.kRMGrund
LEFT JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tRMGrundSprache.kSprache
GO
