USE [eazybusiness]
GO
/****** Object:  View [RM].[lvRetoure]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RM].[lvRetoure]
AS



    WITH PartTwo AS (

    SELECT DISTINCT dbo.tRMRetoure.kRMRetoure AS kRMRetoure, dbo.tRMRetoure.kRMStatus AS kRMStatus, dbo.tRMRetoure.kFirma AS kFirma, dbo.tRMRetoure.kBestellung, dbo.tRMRetoure.kBestellungUmtausch,
    dbo.tRMRetoure.kGutschrift,
    dbo.tfirma.cName AS cFirma,
    dbo.tRMRetoure.nHerkunft AS nHerkunft,
    dbo.tWarenLager.cName AS Warenlager, dbo.tWarenLager.kWarenlager,
    tbenutzer.cName AS cBenutzer,
    dbo.tRMRetoure.cRetoureNr, dbo.tRMRetoure.cAnsprechpartner, dbo.tRMRetoure.dErstellt, dbo.tRMRetoure.cKommentarExtern, dbo.tRMRetoure.cKommentarIntern,
    dbo.tRmRetoure.cFfnReturnId,
    dbo.tRmRetoure.cExternalNumber,
    tRechnungsadresse.cFirma AS cKundeFirma,
    tRechnungsadresse.cAnrede, tRechnungsadresse.cTitel, tRechnungsadresse.cVorname, tRechnungsadresse.cName, tRechnungsadresse.cStrasse, tRechnungsadresse.cPLZ, tRechnungsadresse.cOrt, tRechnungsadresse.cLand, tRechnungsadresse.cTel, tRechnungsadresse.cZusatz, tRechnungsadresse.cAdressZusatz,
    tRechnungsadresse.cPostID, tRechnungsadresse.cMobil, tRechnungsadresse.cMail, tRechnungsadresse.cFax, tRechnungsadresse.cBundesland, tRechnungsadresse.cISO, dbo.tRMRetoureAbholAdresse.cFirma AS Abholadresse_cFirma,
    dbo.tRMRetoureAbholAdresse.cAnrede AS Abholadresse_cAnrede, dbo.tRMRetoureAbholAdresse.cTitel AS Abholadresse_cTitel, dbo.tRMRetoureAbholAdresse.cVorname AS Abholadresse_cVorname,
    dbo.tRMRetoureAbholAdresse.cName AS Abholadresse_cName, dbo.tRMRetoureAbholAdresse.cStrasse  AS Abholadresse_cStrasse, dbo.tRMRetoureAbholAdresse.cPLZ AS Abholadresse_cPLZ,
    dbo.tRMRetoureAbholAdresse.cOrt AS Abholadresse_cOrt, dbo.tRMRetoureAbholAdresse.cLand  AS Abholadresse_cLand, dbo.tRMRetoureAbholAdresse.cTel  AS Abholadresse_cTel,
    dbo.tRMRetoureAbholAdresse.cZusatz AS Abholadresse_cZusatz, dbo.tRMRetoureAbholAdresse.cAdressZusatz  AS Abholadresse_cAdressZusatz,
    dbo.tRMRetoureAbholAdresse.cPostID AS Abholadresse_cPostID, dbo.tRMRetoureAbholAdresse.cMobil  AS Abholadresse_cMobil, dbo.tRMRetoureAbholAdresse.cMail AS Abholadresse_cMail,
    dbo.tRMRetoureAbholAdresse.cFax  AS Abholadresse_cFax, dbo.tRMRetoureAbholAdresse.cBundesland  AS Abholadresse_cBundesland, dbo.tRMRetoureAbholAdresse.cISO AS  Abholadresse_cISO,
    dbo.tRMStatusSprache.cName AS cStatus,
    tgutschrift.cGutschriftNr AS cGutschriftNr,
    tRMRetourenEtikett.cIdentCode,
    CASE WHEN tkunde.cEbayName = '' THEN NULL ELSE tkunde.cEbayName END AS EbayUsername,
    dbo.tKunde.cKundenNr,
    CASE WHEN ISNULL(tLieferant.cLieferantId,'') = '' THEN CAST(0 AS BIT) ELSE CAST(1 AS BIT) END AS IsFfnCustomer,
    tReturnRef.cReturnId
    FROM  dbo.tRMRetoure
    JOIN dbo.tRMRetoureAbholAdresse  ON dbo.tRMRetoureAbholAdresse.kRMRetoureAbholAdresse = dbo.tRMRetoure.kRMRetoureAbholAdresse
    JOIN dbo.tkunde ON dbo.tkunde.kKunde = dbo.tRMRetoure.kKunde
    JOIN dbo.tadresse AS tRechnungsadresse ON tRechnungsadresse.kKunde = dbo.tkunde.kKunde AND tRechnungsadresse.nTyp = 1 AND tRechnungsadresse.nStandard = 1
    JOIN dbo.tfirma ON dbo.tRMRetoure.kFirma = dbo.tfirma.kFirma
    LEFT JOIN eazybusiness.dbo.tbenutzer ON tbenutzer.kBenutzer = dbo.tRMRetoure.kBenutzer
    JOIN dbo.tWarenLager ON dbo.tWarenLager.kWarenlager = dbo.tRMRetoure.kWarenlager
    JOIN dbo.tSpracheUsed ON dbo.tSpracheUsed.nStandard = 1
    JOIN dbo.tRMStatusSprache ON dbo.tRMStatusSprache.kRMStatus = dbo.tRMRetoure.kRMStatus AND dbo.tRMStatusSprache.kSprache = dbo.tSpracheUsed.kSprache
    LEFT JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = tRMRetoure.kGutschrift
    LEFT JOIN dbo.tRMRetourenEtikett ON tRMRetourenEtikett.kRMRetoure = tRMRetoure.kRMRetoure
    LEFT JOIN FulfillmentNetwork.tFulfillerEinstellungen ON tFulfillerEinstellungen.kKunde = tRMRetoure.kKunde
    LEFT JOIN dbo.tlieferant ON tLieferant.kLieferant = tFulfillerEinstellungen.kLieferant
    LEFT JOIN FulfillmentNetwork.tReturnRef ON tReturnRef.kRmRetoure = tRMRetoure.kRMRetoure




),
    RetourenAuftraege AS (

    SELECT DISTINCT L.kBestellung AS kAuftrag , RPos.kRMRetoure,  LPos.kLieferschein, L.cLieferscheinNr
    FROM dbo.tRMRetourePos RPos
    JOIN dbo.tLieferscheinPos LPos
    ON LPos.kLieferscheinPos = RPos.kLieferscheinPos
    JOIN dbo.tLieferschein L ON L.kLieferschein = LPos.kLieferschein

)


SELECT  PartTwo.kRMRetoure,
        PartTwo.kRMStatus,
        PartTwo.kFirma,
        PartTwo.kBestellung,
        PartTwo.kBestellungUmtausch,
        PartTwo.kGutschrift,
        PartTwo.cFirma,
        PartTwo.nHerkunft,
        PartTwo.Warenlager,
        PartTwo.kWarenlager,
        PartTwo.cBenutzer,
        CASE WHEN COUNT(RetourenAuftraege.kLieferschein) > 1 THEN '' ELSE MAX(RetourenAuftraege.cLieferscheinNr) END AS cLieferscheinNr,
        CASE WHEN COUNT(DISTINCT RetourenAuftraege.kAuftrag) > 1 THEN '' ELSE MAX(tAuftrag.cAuftragsNr) END AS cBestellNr,
        CASE WHEN COUNT(DISTINCT RetourenAuftraege.kAuftrag) > 1 THEN '' ELSE MAX(trechnung.cRechnungsNr) END AS cRechnungsNr,
        CASE WHEN COUNT(DISTINCT RetourenAuftraege.kAuftrag) > 1 THEN '' ELSE MAX(tAuftrag.cExterneAuftragsnummer) END AS ExterneAuftragsnummer,
        COUNT( RetourenAuftraege.kLieferschein) AS fAnzahlLieferschein,
        COUNT(DISTINCT RetourenAuftraege.kAuftrag) AS AnzahlBestellungen,
        PartTwo.cRetoureNr,
        PartTwo.cAnsprechpartner,
        PartTwo.dErstellt,
        PartTwo.cKommentarExtern,
        PartTwo.cKommentarIntern,
        PartTwo.cFfnReturnId,
        PartTwo.cExternalNumber,
        PartTwo.cKundeFirma,
        PartTwo.cAnrede,
        PartTwo.cTitel,
        PartTwo.cVorname,
        PartTwo.cName,
        PartTwo.cStrasse,
        PartTwo.cPLZ,
        PartTwo.cOrt,
        PartTwo.cLand,
        PartTwo.cTel,
        PartTwo.cZusatz,
        PartTwo.cAdressZusatz,
        PartTwo.cPostID,
        PartTwo.cMobil,
        PartTwo.cMail,
        PartTwo.cFax,
        PartTwo.cBundesland,
        PartTwo.cISO,
        PartTwo.Abholadresse_cFirma,
        PartTwo.Abholadresse_cAnrede,
        PartTwo.Abholadresse_cTitel,
        PartTwo.Abholadresse_cVorname,
        PartTwo.Abholadresse_cName,
        PartTwo.Abholadresse_cStrasse,
        PartTwo.Abholadresse_cPLZ,
        PartTwo.Abholadresse_cOrt,
        PartTwo.Abholadresse_cLand,
        PartTwo.Abholadresse_cTel,
        PartTwo.Abholadresse_cZusatz,
        PartTwo.Abholadresse_cAdressZusatz,
        PartTwo.Abholadresse_cPostID,
        PartTwo.Abholadresse_cMobil,
        PartTwo.Abholadresse_cMail,
        PartTwo.Abholadresse_cFax,
        PartTwo.Abholadresse_cBundesland,
        PartTwo.Abholadresse_cISO,
        PartTwo.cStatus,
        PartTwo.cGutschriftNr,
        MAX(PartTwo.cIdentCode) AS cTrackingId,
        PartTwo.EbayUsername,
        PartTwo.cKundenNr,
        PartTwo.IsFfnCustomer,
        PartTwo.cReturnId
FROM PartTwo
         LEFT JOIN RetourenAuftraege AS RetourenAuftraege ON  RetourenAuftraege.kRMRetoure = PartTwo.kRMRetoure
         LEFT JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = RetourenAuftraege.kAuftrag
         LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kAuftrag = RetourenAuftraege.kAuftrag
         LEFT JOIN  Rechnung.tRechnung AS trechnung ON trechnung.kRechnung = tAuftragRechnung.kRechnung

GROUP BY
    PartTwo.kRMRetoure,
    PartTwo.kRMStatus,
    PartTwo.kFirma,
    PartTwo.kBestellung,
    PartTwo.kBestellungUmtausch,
    PartTwo.kGutschrift,
    PartTwo.cFirma,
    PartTwo.nHerkunft,
    PartTwo.Warenlager,
    PartTwo.kWarenLager,
    PartTwo.cBenutzer,
    PartTwo.cRetoureNr,
    PartTwo.cAnsprechpartner,
    PartTwo.dErstellt,
    PartTwo.cKommentarExtern,
    PartTwo.cKommentarIntern,
    PartTwo.cFfnReturnId,
    PartTwo.cExternalNumber,
    PartTwo.cKundeFirma,
    PartTwo.cAnrede,
    PartTwo.cTitel,
    PartTwo.cVorname,
    PartTwo.cName,
    PartTwo.cStrasse,
    PartTwo.cPLZ,
    PartTwo.cOrt,
    PartTwo.cLand,
    PartTwo.cTel,
    PartTwo.cZusatz,
    PartTwo.cAdressZusatz,
    PartTwo.cPostID,
    PartTwo.cMobil,
    PartTwo.cMail,
    PartTwo.cFax,
    PartTwo.cBundesland,
    PartTwo.cISO,
    PartTwo.Abholadresse_cFirma,
    PartTwo.Abholadresse_cAnrede,
    PartTwo.Abholadresse_cTitel,
    PartTwo.Abholadresse_cVorname,
    PartTwo.Abholadresse_cName,
    PartTwo.Abholadresse_cStrasse,
    PartTwo.Abholadresse_cPLZ,
    PartTwo.Abholadresse_cOrt,
    PartTwo.Abholadresse_cLand,
    PartTwo.Abholadresse_cTel,
    PartTwo.Abholadresse_cZusatz,
    PartTwo.Abholadresse_cAdressZusatz,
    PartTwo.Abholadresse_cPostID,
    PartTwo.Abholadresse_cMobil,
    PartTwo.Abholadresse_cMail,
    PartTwo.Abholadresse_cFax,
    PartTwo.Abholadresse_cBundesland,
    PartTwo.Abholadresse_cISO,
    PartTwo.cStatus,
    PartTwo.cGutschriftNr,
    PartTwo.EbayUsername,
    PartTwo.cKundenNr,
    PartTwo.IsFfnCustomer,
    PartTwo.cReturnId
GO
