USE [eazybusiness]
GO
/****** Object:  View [RM].[lvRetoureBearbeiten]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RM].[lvRetoureBearbeiten] 
AS
SELECT DISTINCT 
			 dbo.tRMRetoure.kRMRetoure AS kRMRetoure, 
			 dbo.tRMRetoure.kRMStatus AS kRMStatus, 
			 dbo.tRMRetoure.kFirma AS kFirma, 
			 dbo.tRMRetoure.kKunde,
			 dbo.tRMRetoure.kWarenlager,
			 dbo.tRMRetoure.fKorrekturBetrag,
			 dbo.tRMRetoure.kGutschrift,
			 dbo.tRMRetoure.nHerkunft,
			 dbo.tRMRetoure.cKorrekturBetragKommentar,
			 dbo.tRMRetoure.kBestellung, 
			 dbo.tRMRetoure.kBestellungUmtausch,
			 dbo.tRMRetoure.cRetoureNr, 
			 dbo.tRMRetoure.cAnsprechpartner, 
			 dbo.tRMRetoure.dErstellt, 
			 dbo.tRMRetoure.cKommentarExtern, 
			 dbo.tRMRetoure.cKommentarIntern, 
			 dbo.tRmRetoure.cFfnReturnId,
			 dbo.tRmRetoure.cExternalNumber,	
			 dbo.tRmRetoure.nVersandkostenErstatten,	
			 dbo.tRMRetoureAbholAdresse.kRMRetoureAbholAdresse,
			 dbo.tRMRetoureAbholAdresse.cFirma,
			 dbo.tRMRetoureAbholAdresse.cAnrede,
			 dbo.tRMRetoureAbholAdresse.cTitel,
			 dbo.tRMRetoureAbholAdresse.cVorname,
			 dbo.tRMRetoureAbholAdresse.cName,
			 dbo.tRMRetoureAbholAdresse.cStrasse,
			 dbo.tRMRetoureAbholAdresse.cPLZ,
			 dbo.tRMRetoureAbholAdresse.cOrt,
			 dbo.tRMRetoureAbholAdresse.cLand, 
			 dbo.tRMRetoureAbholAdresse.cTel,
			 dbo.tRMRetoureAbholAdresse.cZusatz, 
			 dbo.tRMRetoureAbholAdresse.cAdressZusatz,
			 dbo.tRMRetoureAbholAdresse.cPostID,
			 dbo.tRMRetoureAbholAdresse.cMobil,
			 dbo.tRMRetoureAbholAdresse.cMail,
			 dbo.tRMRetoureAbholAdresse.cFax,
			 dbo.tRMRetoureAbholAdresse.cBundesland,
			 dbo.tRMRetoureAbholAdresse.cISO,	
			 dbo.tKunde.cKundenNr,
			 dbo.tWarenLager.nFulfillment,
			 CAST(CASE
					 WHEN dbo.tlieferant.nJtlFulfillment = 1
					 THEN 1
					 ELSE 0
				 END AS BIT) AS nJtlFulfillment,
			dbo.tRmRetoure.nKuponGutschriftGutschreiben			 
FROM  dbo.tRMRetoure        
JOIN dbo.tRMRetoureAbholAdresse  ON dbo.tRMRetoureAbholAdresse.kRMRetoureAbholAdresse = dbo.tRMRetoure.kRMRetoureAbholAdresse  
JOIN dbo.tkunde ON dbo.tkunde.kKunde = dbo.tRMRetoure.kKunde
JOIN dbo.tWarenLager ON tRMRetoure.kWarenlager = tWarenlager.kWarenlager
LEFT JOIN FulfillmentNetwork.tFulfillerEinstellungen AS ffnEinstellungen ON ffnEinstellungen.kKunde = tRMRetoure.kKunde
LEFT JOIN dbo.tlieferant ON tlieferant.kLieferant = ffnEinstellungen.kLieferant AND tlieferant.nJtlFulfillment = 1
GO
