USE [eazybusiness]
GO
/****** Object:  View [RM].[lvRetoureLieferscheinPos]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RM].[lvRetoureLieferscheinPos] 
AS
SELECT DISTINCT 
	tLieferscheinPos.kLieferscheinPos,
	tLieferscheinPos.fAnzahl,
	tAuftragPosition.kAuftragPosition,
	tAuftragPosition.kAuftrag,
	tAuftragPosition.cArtNr,
	tAuftragPosition.nType,
	tAuftragPosition.cName,
	tAuftragPosition.kAuftragStueckliste,
	tAuftragPosition.fVkNetto,
	tAuftragPosition.fMwSt,
	tAuftragPosition.fRabatt,
	tArtikel.kArtikel,
	tArtikel.cTeilbar,
	tArtikel.kVaterArtikel,
	tArtikelBeschreibung.cName AS ArtikelName,
	tLieferschein.cLieferscheinNr,
	MIN(tVersand.dVersendet) AS dPaketVersendet,	
	retourePos.AnzahlRetourniert AS AnzahlRetourniert,
	tArtikel.cLagerAktiv as cLagerAktiv
FROM dbo.tLieferscheinPos
JOIN dbo.tLieferschein ON tLieferschein.kLieferschein = tLieferscheinPos.kLieferschein
JOIN Verkauf.tAuftragPosition ON 
(tAuftragPosition.kAuftragPosition = tLieferscheinPos.kBestellPos) AND (tAuftragPosition.nType != 2) --versandpos
LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = tAuftragPosition.kArtikel
LEFT JOIN dbo.tVersand ON tVersand.kLieferschein = tLieferschein.kLieferschein
LEFT JOIN dbo.tArtikelBeschreibung ON tArtikelBeschreibung.kArtikel = tArtikel.kArtikel AND tArtikelBeschreibung.kPlattform = 1 --Wawi
JOIN dbo.tSpracheUsed ON  tSpracheUsed.nStandard = 1 AND tSpracheUsed.kSprache = tArtikelBeschreibung.kSprache 
LEFT JOIN
(
	SELECT tRMRetourePos.kLieferscheinPos, SUM(fAnzahl) AS AnzahlRetourniert FROM tRMRetourePos
	GROUP BY kLieferscheinPos
) retourePos ON retourePos.kLieferscheinPos = tLieferscheinPos.kLieferscheinPos
WHERE ISNULL(tArtikel.nIstTeilmengenArtikel,0) <> 1
GROUP BY 
tLieferscheinPos.kLieferscheinPos, 
tLieferscheinPos.fAnzahl, 
tAuftragPosition.kAuftrag, 
tAuftragPosition.kAuftragPosition, 
tAuftragPosition.cArtNr, 
tAuftragPosition.kAuftragStueckliste, 
tAuftragPosition.nType, 
tAuftragPosition.cName,
tAuftragPosition.fVkNetto,
tAuftragPosition.fMwSt,
tAuftragPosition.fRabatt, 
tArtikel.kArtikel, 
cTeilbar, 
kVaterArtikel, 
cLieferscheinNr, 
tArtikelBeschreibung.cName,
retourePos.AnzahlRetourniert,
tArtikel.cLagerAktiv
UNION
SELECT DISTINCT 
	tLieferscheinPos.kLieferscheinPos,
	tLieferscheinPos.fAnzahl,
	tAuftragPosition.kAuftragPosition,
	tAuftragPosition.kAuftrag,
	tAuftragPosition.cArtNr,
	tAuftragPosition.nType,
	tAuftragPosition.cName,
	tAuftragPosition.kAuftragStueckliste,
	tAuftragPosition.fVkNetto,
	tAuftragPosition.fMwSt,
	tAuftragPosition.fRabatt,
	NULL AS kArtikel,
	NULL AS cTeilbar,
	NULL kVaterArtikel,
	tAuftragPosition.cName AS ArtikelName,
	tLieferschein.cLieferscheinNr,
	MIN(tVersand.dVersendet) AS dPaketVersendet,	
	retourePos.AnzahlRetourniert AS AnzahlRetourniert,
	NULL as cLagerAktiv
FROM dbo.tLieferscheinPos
JOIN dbo.tLieferschein ON tLieferschein.kLieferschein = tLieferscheinPos.kLieferschein
JOIN Verkauf.tAuftragPosition ON 
(tAuftragPosition.kAuftragPosition = tLieferscheinPos.kBestellPos) 
AND tAuftragPosition.nType = 0  -- Freipos
LEFT JOIN dbo.tVersand ON tVersand.kLieferschein = tLieferschein.kLieferschein
LEFT JOIN
(
	SELECT tRMRetourePos.kLieferscheinPos, SUM(fAnzahl) AS AnzahlRetourniert FROM tRMRetourePos
	GROUP BY kLieferscheinPos
) retourePos ON retourePos.kLieferscheinPos = tLieferscheinPos.kLieferscheinPos
GROUP BY 
tLieferscheinPos.kLieferscheinPos, 
tLieferscheinPos.fAnzahl, 
tAuftragPosition.kAuftrag, 
tAuftragPosition.kAuftragPosition, 
tAuftragPosition.cArtNr, 
tAuftragPosition.kAuftragStueckliste, 
tAuftragPosition.nType, 
tAuftragPosition.cName,
tAuftragPosition.fVkNetto,
tAuftragPosition.fMwSt,
tAuftragPosition.fRabatt, 
cLieferscheinNr, 
retourePos.AnzahlRetourniert
GO
