USE [eazybusiness]
GO
/****** Object:  View [RM].[lvRetourePosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RM].[lvRetourePosition] AS
WITH t 
AS 
(
	SELECT 	CASE WHEN tArtikel.cArtNr IS NULL
				THEN vAuftragPosition.cArtNr
				ELSE dbo.tArtikel.cArtNr 
			END AS cArtNr,
		tArtikel.cTeilbar, 
		tArtikel.kVaterArtikel, 
		tArtikelBeschreibung.cName, 
		tLieferschein.cLieferscheinNr, 
		(DATEDIFF(dd, vAuftragEckdaten.dLetzterVersand, GETDATE())) AS 'TageSeitVersand',
		tRMRetourePos.fAnzahl, 
		vAuftragEckdaten.dLetzterVersand AS dVersendet, 
		tRMRetourePos.kArtikel, 
		tRMRetourePos.kRMRetoure, 
		tRMRetourePos.kRMRetourePos, 
		tRMStatusVerlauf.kRMStatus,
		tRMRetourePos.kLieferscheinPos, 
		tRMRetourePos.kRMGrund, 
		tRMRetourePos.cGrundKommentar, 
		tRMRetourePos.cZustandKommentar, 
		tRMRetourePos.kZustand, 
		tRMRetourePos.nGutschreiben,
		tLieferscheinPos.fAnzahl AS fAnzahlLieferschein, 
		vAuftragPosition.cName AS cString, 
		CAST(vAuftragPosition.fVkNetto * ((100 + vAuftragPosition.fMwSt) / 100) AS DECIMAL(25,13)) AS fVKPreis, 
		vAuftragPosition.fVKNetto, 
		vAuftragPosition.fMwSt, 
		vAuftragPosition.fRabatt, 
		tZustandSprache.cName AS Zustand, 
		tRMGrundSprache.cName AS Grund,
		tRMStatusSprache.cName AS Status,
		tReturnItemRef.cReturnItemId,
		tArtikel.cLagerAktiv as cLagerAktiv
	FROM dbo.tRMRetourePos
	LEFT JOIN dbo.tArtikel ON dbo.tArtikel.kArtikel = dbo.tRMRetourePos.kArtikel
	LEFT JOIN dbo.tArtikelBeschreibung ON (dbo.tArtikel.kArtikel = dbo.tArtikelBeschreibung.kArtikel) AND (dbo.tArtikelBeschreibung.kSprache = 1) AND (dbo.tArtikelBeschreibung.kPlattform = 1)
	LEFT JOIN dbo.tLieferscheinPos ON dbo.tRMRetourePos.kLieferscheinPos = dbo.tLieferscheinPos.kLieferscheinPos
	LEFT JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = dbo.tLieferscheinPos.kBestellPos
	LEFT JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftragPosition.kAuftrag
	LEFT JOIN dbo.tLieferschein ON dbo.tLieferscheinPos.kLieferschein = dbo.tLieferschein.kLieferschein
	LEFT JOIN dbo.tZustandSprache ON (dbo.tZustandSprache.kZustand = dbo.tRMRetourePos.kZustand) AND (dbo.tZustandSprache.kSprache = (SELECT MAX(kSprache) FROM dbo.tSpracheUsed WHERE nStandard=1))
	LEFT JOIN dbo.tRMGrundSprache ON (dbo.tRMGrundSprache.kRMGrund = dbo.tRMRetourePos.kRMGrund) AND (dbo.tRMGrundSprache.kSprache = (SELECT MAX(kSprache) FROM dbo.tSpracheUsed WHERE nStandard=1))
	JOIN dbo.tRMStatusVerlauf ON dbo.tRMStatusVerlauf.kRMStatusVerlauf = dbo.tRMRetourePos.kRMStatusVerlauf
	LEFT JOIN dbo.tRMStatusSprache ON (dbo.tRMStatusSprache.kRMStatus = dbo.tRMStatusVerlauf.kRMStatus) AND (dbo.tRMStatusSprache.kSprache = (SELECT MAX(kSprache) FROM dbo.tSpracheUsed WHERE nStandard=1))
	LEFT JOIN FulfillmentNetwork.tReturnItemRef ON tReturnItemRef.kRmRetourePos = tRMRetourePos.kRMRetourePos

)
, Gebucht 
AS 
(
	SELECT kArtikel, kLieferscheinPos, MAX(fAnzahlLieferschein) - SUM(fAnzahl)  AS fGebucht 
	FROM t 
	GROUP BY kArtikel, kLieferscheinPos
)
SELECT t.*, Gebucht.fGebucht AS 'Ungebucht' 
FROM t 
JOIN Gebucht ON t.kArtikel = Gebucht.kArtikel AND t.kLieferscheinPos = Gebucht.kLieferscheinPos
GO
