USE [eazybusiness]
GO
/****** Object:  View [RM].[vRetoureBestellung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RM].[vRetoureBestellung]
AS
SELECT DISTINCT tRMRetourePos.kRMRetoure, vAuftrag.kAuftrag AS kBestellung
FROM dbo.tRMRetourePos
JOIN dbo.tLieferscheinPos ON dbo.tLieferscheinPos.kLieferscheinPos = dbo.tRMRetourePos.kLieferscheinPos
JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = dbo.tLieferscheinPos.kBestellPos
JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vAuftragPosition.kAuftrag
GO
