USE [eazybusiness]
GO
/****** Object:  View [RM].[vRetourePositionenExportData]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [RM].[vRetourePositionenExportData] AS
SELECT 
RetourePosition.kRMRetoure,
RetourePosition.fAnzahl AS Anzahl, 
CASE WHEN Bestellposition.kAuftragPosition IS NOT NULL THEN Bestellposition.cName ELSE Beschreibung.cName END AS Beschreibung,
CASE WHEN Bestellposition.kAuftragPosition IS NOT NULL THEN (Bestellposition.fVKNetto * RetourePosition.fAnzahl) ELSE (Artikel.fVKNetto * RetourePosition.fAnzahl) END AS PreisGesamt,
CASE WHEN Artikel.kArtikel IS NOT NULL THEN (Artikel.fArtGewicht * RetourePosition.fAnzahl) ELSE 0 END AS GewichtGesamt
FROM dbo.tRMRetourePos AS Retoureposition
LEFT JOIN dbo.tLieferscheinPos AS Lieferposition ON Lieferposition.kLieferscheinPos = Retoureposition.kLieferscheinPos
LEFT JOIN Verkauf.vAuftragPosition AS Bestellposition ON Lieferposition.kBestellPos = Bestellposition.kAuftragPosition
LEFT JOIN dbo.tArtikel AS Artikel ON Retoureposition.kArtikel = Artikel.kArtikel
LEFT JOIN dbo.tArtikelBeschreibung AS Beschreibung ON Artikel.kArtikel = Beschreibung.kArtikel;
GO
