USE [eazybusiness]
GO
/****** Object:  Table [Robotico].[tPaypalAccessToken]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Robotico].[tPaypalAccessToken](
	[kKey] [int] IDENTITY(1,1) NOT NULL,
	[cScope] [nvarchar](max) NULL,
	[cAccessToken] [nvarchar](max) NULL,
	[cTokenType] [nvarchar](max) NULL,
	[cAppID] [nvarchar](max) NULL,
	[nExpiresInSeconds] [int] NULL,
	[dTokenCreated] [datetime] NULL,
	[bProduction] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[kKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[bProduction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
