USE [eazybusiness]
GO
/****** Object:  Table [Robotico].[tPaypalSettings]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Robotico].[tPaypalSettings](
	[kSetting] [int] IDENTITY(1,1) NOT NULL,
	[cKey] [nvarchar](100) NOT NULL,
	[cValue] [nvarchar](max) NULL,
	[cEigeneBemerkung] [nvarchar](max) NULL,
	[cDokumentation] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[kSetting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
