USE [eazybusiness]
GO
/****** Object:  Table [Robotico].[tPaypalTrackingLog]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Robotico].[tPaypalTrackingLog](
	[kPaypalTrackingLog] [int] IDENTITY(1,1) NOT NULL,
	[bProduction] [bit] NULL,
	[cQuelle] [nvarchar](255) NULL,
	[kInputKey] [int] NULL,
	[cBescheibung1] [nvarchar](max) NULL,
	[cBescheibung2] [nvarchar](max) NULL,
	[dErstellt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[kPaypalTrackingLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
