USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferCategoryAttribute]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferCategoryAttribute] AS
(
	SELECT 
		tShopScx.kShop,
		tVerkaufskanalCategoryFeldWert.kCategory,
		tVerkaufskanalCategoryFeldWert.kShopScx,
		ISNULL(tVerkaufskanalCategoryFeldWert.cAttributeId, tVerkaufskanalCategoryFeldWert.cName) AS cAttribute,
		IIF(LEN(ISNULL(tFileMapping.cScxHash, '')) > 0, tFileMapping.cScxHash, tVerkaufskanalCategoryFeldWert.cWert) AS cValue,
		tVerkaufskanalCategoryFeldWert.nIsDotLiquidValue,
		tVerkaufskanalCategoryFeldWert.nReferenzGruppe
	FROM SCX.tVerkaufskanalCategoryFeldWert 
	JOIN dbo.tShopScx ON tShopScx.kShopScx = tVerkaufskanalCategoryFeldWert.kShopScx
	LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tVerkaufskanalCategoryFeldWert.kfile
)
GO
