USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tChannelAttributeConditionalMandatory]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tChannelAttributeConditionalMandatory](
	[kChannelAttributeConditionalMandatory] [int] IDENTITY(1,1) NOT NULL,
	[kChannelAttribute] [int] NOT NULL,
	[cValue] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_SCX_tChannelAttributeConditionalMandatory] PRIMARY KEY CLUSTERED 
(
	[kChannelAttributeConditionalMandatory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tChannelAttributeConditionalMandatory]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tChannelAttributeConditionalMandatory_kChannelAttribute] FOREIGN KEY([kChannelAttribute])
REFERENCES [SCX].[tChannelAttribute] ([kChannelAttribute])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tChannelAttributeConditionalMandatory] CHECK CONSTRAINT [FK_SCX_tChannelAttributeConditionalMandatory_kChannelAttribute]
GO
