USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tCategoryAttributeListVersion]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tCategoryAttributeListVersion](
	[cAttributeListVersion] [nvarchar](14) NOT NULL,
	[cChannelId] [nvarchar](32) NOT NULL,
	[cCategoryId] [nvarchar](512) NOT NULL
) ON [PRIMARY]
GO
