USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tUploadData]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tUploadData](
	[kUploadData] [int] IDENTITY(1,1) NOT NULL,
	[bData] [varbinary](max) NULL,
	[kRechnung] [int] NULL,
	[nType] [tinyint] NOT NULL,
	[nFileSizeKB] [int] NOT NULL,
	[nCount] [tinyint] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[kGutschrift] [int] NULL,
 CONSTRAINT [PK_SCX_tUploadData] PRIMARY KEY CLUSTERED 
(
	[kUploadData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tUploadData] ADD  CONSTRAINT [DF_SCX_tUploadData_nCount]  DEFAULT ((0)) FOR [nCount]
GO
