USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tStepRatelimit]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tStepRatelimit](
	[kStepRatelimit] [int] IDENTITY(1,1) NOT NULL,
	[cRoute] [nvarchar](255) NOT NULL,
	[dStartUtc] [datetime2](7) NOT NULL,
	[dExpiredUtc] [datetime2](7) NULL,
	[nRatelimitReached] [bit] NOT NULL,
	[nRatelimitSeconds] [int] NULL,
	[nRatelimit] [int] NULL,
 CONSTRAINT [PK_SCX_tStepRatelimit] PRIMARY KEY CLUSTERED 
(
	[kStepRatelimit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SCX_tStepRatelimit_cRoute] UNIQUE NONCLUSTERED 
(
	[cRoute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
