USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferFileUploadInvalid]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferFileUploadInvalid]
AS
(
    SELECT DISTINCT
        Files.kFile,
        Files.kArtikel,
        Files.cArtNr,
        Files.cFileName,
        ISNULL(CAST(Files.nIstDateigroesseInvalide AS BIT), CAST(1 AS BIT)) AS nIstDateigroesseInvalide,
        ISNULL(CAST(Files.nIstDateitypInvalide AS BIT), CAST(1 AS BIT)) AS nIstDateitypInvalide
    FROM
    (
    SELECT
        tFile.kFile,
        tArtikelVerkaufskanalFeldWert.kArtikel,
        tArtikel.cArtNr,
        tFile.cFileName,
        IIF(tFile.nFileSizeKB > 16384, 1, 0) AS nIstDateigroesseInvalide,
        IIF(tFile.cFileType NOT IN ('.gif', '.jpg', '.jpeg', '.png', '.svg', '.pdf', '.txt'), 1, 0) AS nIstDateitypInvalide
    FROM SCX.tArtikelVerkaufskanalFeldWert
    JOIN dbo.tFile ON tFile.kFile = tArtikelVerkaufskanalFeldWert.kfile
    JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelVerkaufskanalFeldWert.kArtikel
    JOIN dbo.tShopScx ON tShopScx.kShopScx = tArtikelVerkaufskanalFeldWert.kShopScx
    JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
    LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tArtikelVerkaufskanalFeldWert.kfile
    WHERE tFileMapping.cScxHash IS NULL
        AND tShop.nTyp = 6
        AND tShop.nGesperrt = 0
        AND tShop.nAktiv = 1
    UNION
    SELECT
        tFile.kFile,
        tArtikel.kArtikel,
        tArtikel.cArtNr,
        tFile.cFileName,
        IIF(tFile.nFileSizeKB > 16384, 1, 0) AS nIstDateigroesseInvalide,
        IIF(tFile.cFileType NOT IN ('.gif', '.jpg', '.jpeg', '.png', '.svg', '.pdf', '.txt'), 1, 0) AS nIstDateitypInvalide
    FROM SCX.tVerkaufskanalCategoryFeldWert
    JOIN dbo.tFile ON tFile.kFile = tVerkaufskanalCategoryFeldWert.kfile
    JOIN SCX.tVerkaufskanalArtikelData ON tVerkaufskanalArtikelData.kCategory = tVerkaufskanalCategoryFeldWert.kCategory
        AND tVerkaufskanalArtikelData.kShopScx = tVerkaufskanalCategoryFeldWert.kShopScx
    JOIN dbo.tArtikel ON tArtikel.kArtikel = tVerkaufskanalArtikelData.kArtikel
    JOIN dbo.tShopScx ON tShopScx.kShopScx = tVerkaufskanalCategoryFeldWert.kShopScx
    JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
    LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tVerkaufskanalCategoryFeldWert.kfile
    WHERE tFileMapping.cScxHash IS NULL
        AND tShop.nTyp = 6
        AND tShop.nGesperrt = 0
        AND tShop.nAktiv = 1
    UNION
    SELECT
        tFile.kFile,
        tArtikel.kArtikel,
        tArtikel.cArtNr,
        tFile.cFileName,
        IIF(tFile.nFileSizeKB > 16384, 1, 0) AS nIstDateigroesseInvalide,
        IIF(tFile.cFileType NOT IN ('.gif', '.jpg', '.jpeg', '.png', '.svg', '.pdf', '.txt'), 1, 0) AS nIstDateitypInvalide
    FROM SCX.tVerkaufskanalChannelFeldWert
    JOIN dbo.tFile ON tFile.kFile = tVerkaufskanalChannelFeldWert.kfile
    JOIN SCX.tVerkaufskanalArtikelData ON tVerkaufskanalArtikelData.kShopScx = tVerkaufskanalChannelFeldWert.kShopScx
    JOIN dbo.tArtikel ON tArtikel.kArtikel = tVerkaufskanalArtikelData.kArtikel
    JOIN dbo.tShopScx ON tShopScx.kShopScx = tVerkaufskanalChannelFeldWert.kShopScx
    JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
    LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tVerkaufskanalChannelFeldWert.kfile
    WHERE tFileMapping.cScxHash IS NULL
        AND tShop.nTyp = 6
        AND tShop.nGesperrt = 0
        AND tShop.nAktiv = 1
    ) AS Files
    WHERE Files.nIstDateigroesseInvalide = 1
       OR Files.nIstDateitypInvalide = 1
)
GO
