USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tPictureMapping]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tPictureMapping](
	[kPicture] [int] NOT NULL,
	[cComputedHash] [nvarchar](45) NOT NULL,
	[cScxHash] [nvarchar](200) NOT NULL,
	[dExpiresAt] [datetime2](7) NULL,
 CONSTRAINT [PK_SCX_tPictureMapping] PRIMARY KEY CLUSTERED 
(
	[kPicture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
