USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tSellerAttributeConditionalMandatory]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tSellerAttributeConditionalMandatory](
	[kSellerAttributeConditionalMandatory] [int] IDENTITY(1,1) NOT NULL,
	[kSellerAttribute] [int] NOT NULL,
	[cValue] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SCX_tSellerAttributeConditionalMandatory] PRIMARY KEY CLUSTERED 
(
	[kSellerAttributeConditionalMandatory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tSellerAttributeConditionalMandatory]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tSellerAttributeConditionalMandatory_kSellerAttribute] FOREIGN KEY([kSellerAttribute])
REFERENCES [SCX].[tSellerAttribute] ([kSellerAttribute])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tSellerAttributeConditionalMandatory] CHECK CONSTRAINT [FK_SCX_tSellerAttributeConditionalMandatory_kSellerAttribute]
GO
