USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tVariationWertMapping]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tVariationWertMapping](
	[kVariationWertMapping] [int] IDENTITY(1,1) NOT NULL,
	[kChannel] [int] NOT NULL,
	[kCategory] [int] NULL,
	[cWawiVariationWert] [nvarchar](128) NOT NULL,
	[cScxVariationWert] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_SCX_tVariationWertMapping] PRIMARY KEY CLUSTERED 
(
	[kVariationWertMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SCX_tVariationWertMapping_kChannel_kCategory_cScxVariationWert] UNIQUE NONCLUSTERED 
(
	[kChannel] ASC,
	[kCategory] ASC,
	[cWawiVariationWert] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
