USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tFailedEvent]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tFailedEvent](
	[kFailedEvent] [int] IDENTITY(1,1) NOT NULL,
	[cEventId] [nvarchar](255) NOT NULL,
	[cJson] [nvarchar](max) NOT NULL,
	[nApiType] [tinyint] NOT NULL,
	[nCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_tFailedEvent] PRIMARY KEY CLUSTERED 
(
	[kFailedEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
