USE [eazybusiness]
GO
/****** Object:  View [SCX].[vProduct]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vProduct] AS
(
	SELECT
		tArtikel.kArtikel AS kProduct,
		tArtikel.cArtNr AS cSKU,
		WawiArtikelBeschreibung.cName AS cTitle,
		WawiArtikelBeschreibung.cKurzBeschreibung AS cSubTitle,
		WawiArtikelBeschreibung.cBeschreibung  AS cDescription,
		tArtikel.cBarcode AS cGTIN,
		tArtikel.cISBN AS cISBN,
		tShopScx.kShop AS kShop,		
		ISNULL(tVerkaufskanalArtikelData.kCategory, 0) AS kCategory,
		tCategory.cCategoryId AS cScxCategoryId,			
		tArtikel.kSteuerklasse,
		tArtikel.cHAN AS cMPN,
		tHersteller.cName AS cBrand,
		ShopArtikelBeschreibung.cName AS cShopTitle,
		ShopArtikelBeschreibung.cKurzBeschreibung AS cShopSubTitle,
		ShopArtikelBeschreibung.cBeschreibung  AS cShopDescription,
		tArtikel.fUVP AS fSrpAmount,
		tWaehrung.cEAMapping AS cSrpCurrency,
		ISNULL(CASE WHEN tArtikel.nIstVater = 1
			THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END, 0) AS nIsParent,
		tArtikel.kVaterArtikel AS kParent,
		tChannel.nVariationsSupported
	FROM dbo.tArtikelShop
	JOIN dbo.tShopScx ON tShopScx.kShop = tArtikelShop.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	LEFT JOIN dbo.tWaehrung ON tWaehrung.nStandard = 1
	LEFT JOIN SCX.tVerkaufskanalArtikelData ON tVerkaufskanalArtikelData.kArtikel = tArtikelShop.kArtikel
		AND tVerkaufskanalArtikelData.kShopScx = tShopScx.kShopScx
	LEFT JOIN SCX.tCategory ON tCategory.kCategory = tVerkaufskanalArtikelData.kCategory
	JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelShop.kArtikel
    JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1
	LEFT JOIN dbo.tHersteller ON tHersteller.kHersteller = tArtikel.kHersteller
    OUTER APPLY
    (
        SELECT TOP(1)
            tArtikelBeschreibung.cName,
            tArtikelBeschreibung.cKurzBeschreibung,
            tArtikelBeschreibung.cBeschreibung
        FROM dbo.tArtikelBeschreibung
        JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tArtikelBeschreibung.kSprache
        LEFT JOIN SCX.tChannelLanguage ON tChannelLanguage.cIso = tSpracheUsed.cISO2
            AND tChannelLanguage.kChannel = tChannel.kChannel
        WHERE tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
            AND tArtikelBeschreibung.kPlattform = 1
            AND (tChannelLanguage.cIso IS NOT NULL OR tArtikelBeschreibung.kSprache = StandardSprache.kSprache)
        ORDER BY ISNULL(tChannelLanguage.nSort, 255) ASC
    ) WawiArtikelBeschreibung
    OUTER APPLY
    (
        SELECT TOP(1)
            tArtikelBeschreibung.cName,
            tArtikelBeschreibung.cKurzBeschreibung,
            tArtikelBeschreibung.cBeschreibung
        FROM dbo.tArtikelBeschreibung
        JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tArtikelBeschreibung.kSprache
        LEFT JOIN SCX.tChannelLanguage ON tChannelLanguage.cIso = tSpracheUsed.cISO2
            AND tChannelLanguage.kChannel = tChannel.kChannel
        WHERE tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
            AND tArtikelBeschreibung.kPlattform = 8
            AND tArtikelBeschreibung.kShop = tArtikelShop.kShop
            AND (tChannelLanguage.cIso IS NOT NULL OR tArtikelBeschreibung.kSprache = StandardSprache.kSprache)
        ORDER BY ISNULL(tChannelLanguage.nSort, 255) ASC
    ) ShopArtikelBeschreibung
)
GO
