USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tChannel]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tChannel](
	[kChannel] [int] IDENTITY(1,1) NOT NULL,
	[cChannel] [nvarchar](255) NOT NULL,
	[cDisplayName] [nvarchar](255) NOT NULL,
	[cJson] [nvarchar](max) NOT NULL,
	[cCurrency] [nvarchar](3) NOT NULL,
	[nVariationsSupported] [bit] NOT NULL,
	[nRemainingQuantitySupported] [bit] NOT NULL,
	[nQuantityPriceSupported] [bit] NOT NULL,
	[nPriceUpdatesSupported] [bit] NOT NULL,
	[nInvoiceDocumentTransfer] [tinyint] NOT NULL,
	[nReturnTrackingRequired] [bit] NOT NULL,
	[nAllowCombineOrders] [bit] NOT NULL,
	[dKategorieAktualisierungUtc] [datetime2](7) NULL,
	[dChannelAttributeAktualisierungUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_SCX_tChannel] PRIMARY KEY CLUSTERED 
(
	[kChannel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tChannel] ADD  CONSTRAINT [DF_SCX_tChannel_nVariationsSupported]  DEFAULT ((0)) FOR [nVariationsSupported]
GO
ALTER TABLE [SCX].[tChannel] ADD  CONSTRAINT [DF_SCX_tChannel_nRemainingQuantitySupported]  DEFAULT ((0)) FOR [nRemainingQuantitySupported]
GO
ALTER TABLE [SCX].[tChannel] ADD  CONSTRAINT [DF_SCX_tChannel_nQuantityPriceSupported]  DEFAULT ((0)) FOR [nQuantityPriceSupported]
GO
ALTER TABLE [SCX].[tChannel] ADD  CONSTRAINT [DF_SCX_tChannel_nPriceUpdatesSupported]  DEFAULT ((0)) FOR [nPriceUpdatesSupported]
GO
ALTER TABLE [SCX].[tChannel] ADD  CONSTRAINT [DF_SCX_tChannel_nInvoiceDocumentTransfer]  DEFAULT ((0)) FOR [nInvoiceDocumentTransfer]
GO
ALTER TABLE [SCX].[tChannel] ADD  CONSTRAINT [DF_SCX_tChannel_nReturnTrackingRequired]  DEFAULT ((0)) FOR [nReturnTrackingRequired]
GO
ALTER TABLE [SCX].[tChannel] ADD  CONSTRAINT [DF_SCX_tChannel_nAllowCombineOrders]  DEFAULT ((0)) FOR [nAllowCombineOrders]
GO
