USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvAngebote]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvAngebote] AS
(
	SELECT
		Offer.kOffer,
		Offer.kArtikel,
		ISNULL(tExternOffer.cSKU, tArtikel.cArtNr) AS cSKU,
		tArtikel.cArtNr,
		CASE
			WHEN ISNULL(Offer.kArtikel, 0) = 0 THEN tExternOffer.cTitle
			ELSE ShopArtikelBeschreibung.cName
		END AS cOfferTitle,
		tChannel.cDisplayName AS cChannelName,
		tChannel.kChannel,
		tChannel.cChannel AS cChannel,
		Offer.kShop,
		ISNULL(tShopScx.kShopScx, 0) AS kShopScx,
		ISNULL(
			CASE 
				WHEN tLagerbestandShop.dBestandsdatum IS NULL THEN tOffer.fQuantity
				WHEN tOffer.dQuantityUpdatedAt IS NULL THEN tLagerbestandShop.fAnzahl
				WHEN tOffer.dQuantityUpdatedAt > tLagerbestandShop.dBestandsdatum THEN tOffer.fQuantity
				ELSE tLagerbestandShop.fAnzahl
			END, 0) AS fQuantity,
		ISNULL(tOffer.nStatus, 1) AS nStatus,
		tOffer.dExpirationDate,
		Offer.kCategory,
		tCategory.cCategoryId AS cChannelCategoryId,
		tCategory.cDisplayName AS cChannelCategoryName,
		ISNULL(tPreisDetail.fNettoPreis, tArtikel.fVKNetto) AS fNettoPreis,
		tPreisDetail.fProzent,
		tPreis.kPreis,
		tKundenGruppe.kKundenGruppe,
		tArtikel.fVKNetto,
		tArtikel.kSteuerklasse,
		tShop.kFirma,
		tChannel.cCurrency AS cWaehrung,
		tlagerbestand.fVerfuegbar,
		tlagerbestand.fInAuftraegen,
		tlagerbestand.fZulauf,
		ISNULL(tExternOffer.cGTIN, tArtikel.cBarcode) AS cGTIN,
		tArtikel.fArtGewicht,
		tArtikel.cHAN AS cHAN,
		tArtikel.cISBN AS cISBN,
		tArtikel.cASIN,
		tHersteller.cName AS cHersteller,
		tArtikel.fEKNetto,
		tOffer.dActiveSince,
		tArtikel.nBearbeitungszeit,
		tArtikel.dZulaufVerfuegbarAm,
		tOffer.nType,
		ISNULL(tOffer.nType, 0) AS nAngebotstyp,
		CASE
    		WHEN tShop.nGesperrt = 1
    		    THEN 999
			--Wawi Angebote
			WHEN tArtikelShop.kArtikel IS NOT NULL 
				AND tArtikelShop.cInet = 'Y' 
				AND tArtikelShop.nAktion & 1 > 0
				AND (tOffer.kOffer IS NULL 
					OR (tOffer.nIsListed = 0
					AND tOffer.nStatus IN (1, 6)))
				AND tOffer.nType = 0
				THEN 1 --Create			
			WHEN tArtikelShop.kArtikel IS NOT NULL 
				AND tArtikelShop.cInet = 'Y' 
				AND tArtikelShop.nAktion > 0
				AND (tArtikelShop.nAktion != 4 OR tShopScx.nBestandsaktualisierung = 1) --wenn Bestandsänderung aktiviert oder keine reine Bestandsänderung bevorsteht
				AND tOffer.nIsListed = 1
				AND tOffer.nStatus IN (2, 3, 4, 6)
				AND tOffer.nType = 0
				THEN 2 --Update
			WHEN tArtikelShop.kArtikel IS NULL
				AND tOffer.nStatus != 5 --Bereits beendet
				AND tOffer.nType = 0
				THEN 3 --Delete
			--Fremdangebote
			WHEN tOffer.nType = 2
				AND tOffer.nStatus IN (2, 3, 4, 6)
				THEN 2 --Update
			WHEN (tOffer.nType = 2 OR tOffer.nType = 1)
				AND tOffer.nStatus IN (4, 6)
				AND tExternOffer.nAktion & 8 > 0
				THEN 3 --Delete
			ELSE 0 --Nothing to do
		END AS nWawiStatus,
		tOffer.cListingUrl,
		CAST(ISNULL(tOffer.nIsListed, 0) AS BIT) AS nIsListed,
		tVerkaufskanalArtikelData.kVerkaufskanalArtikelData,
		tVerkaufskanalArtikelData.nMindestbestand AS fMindestBestand,
		tVerkaufskanalArtikelData.nMaximalerBestand AS fMaximalerBestand,
		tOffer.dLetzterUpload,
		ISNULL(tShopScx.nLoeschintervallSchwebendAngebot, 365) AS nLoeschintervallSchwebendAngebot,
		tShop.cName AS cShopname,
		CASE WHEN tExternOffer.kExternOffer IS NOT NULL THEN CAST(1 AS BIT)
		ELSE CAST(0 AS BIT) END AS nIsExtern,
		tOffer.dQuantityUpdatedAt,
		tOffer.dPriceUpdatedUtc,
		tOffer.dStatusReceivedUtc,
		tOffer.fZuletztHochgeladenerPreis AS fZuletztHochgeladenerPreis
	FROM 
	(
		SELECT 
			tOffer.kOffer,
			tOffer.kArtikel,
			tOffer.kShop,
			tOffer.kCategory
		FROM SCX.tOffer 
		UNION ALL
		SELECT 
			0 AS kOffer,
			tArtikelShop.kArtikel,
			tArtikelShop.kShop,
			tVerkaufskanalArtikelData.kCategory
		FROM tArtikelShop 
		JOIN dbo.tShopScx ON tArtikelShop.kShop = tShopScx.kShop
        JOIN dbo.tShop ON tShop.kShop = tArtikelShop.kShop
		JOIN SCX.tVerkaufskanalArtikelData ON tArtikelShop.kArtikel = tVerkaufskanalArtikelData.kArtikel
			AND tShopScx.kShopScx = tVerkaufskanalArtikelData.kShopScx
		LEFT JOIN SCX.tOffer ON tOffer.kArtikel = tArtikelShop.kArtikel
				AND tOffer.kShop = tArtikelShop.kShop
				AND tOffer.nStatus <> 5
		WHERE tOffer.kOffer IS NULL
            AND tShop.nGesperrt = 0
            AND tShop.nAktiv = 1
	) AS Offer
	LEFT JOIN SCX.tOffer ON tOffer.kOffer = Offer.kOffer
	LEFT JOIN SCX.tExternOffer ON tExternOffer.kOffer = Offer.kOffer
	LEFT JOIN dbo.tArtikel ON Offer.kArtikel = tArtikel.kArtikel
	LEFT JOIN dbo.tlagerbestand ON tArtikel.kArtikel = tlagerbestand.kArtikel
	LEFT JOIN dbo.tHersteller ON tArtikel.kHersteller = tHersteller.kHersteller
	LEFT JOIN dbo.tShopScx ON tShopScx.kShop = Offer.kShop
	JOIN dbo.tShop ON tShop.kShop = Offer.kShop
	LEFT JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	LEFT JOIN SCX.tCategory ON tCategory.kCategory = Offer.kCategory
	LEFT JOIN SCX.tVerkaufskanalArtikelData ON Offer.kArtikel = tVerkaufskanalArtikelData.kArtikel
		AND tVerkaufskanalArtikelData.kShopScx = tShopScx.kShopScx
	LEFT JOIN dbo.tKundenGruppe ON tKundenGruppe.nStandard = 1 
	OUTER APPLY
	(
		SELECT TOP(1) tChannelPriceType.kKundenGruppe
		FROM SCX.tChannelPriceType 
		WHERE Offer.kShop = tChannelPriceType.kShop
			AND tChannelPriceType.kKundenGruppe = tKundenGruppe.kKundenGruppe
	) AS tChannelPriceType
	LEFT JOIN dbo.tPreis ON tChannelPriceType.kKundenGruppe = tPreis.kKundenGruppe
		AND Offer.kShop = tPreis.kShop
		AND Offer.kArtikel = tPreis.kArtikel
	LEFT JOIN dbo.tPreisDetail ON tPreis.kPreis = tPreisDetail.kPreis AND tPreisDetail.nAnzahlAb = 0
	LEFT JOIN dbo.tLagerbestandShop ON Offer.kShop = tLagerbestandShop.kShop 
		AND ISNULL(tExternOffer.cSKU, tArtikel.cArtNr) = tLagerbestandShop.cArtNr
	LEFT JOIN dbo.tArtikelShop ON Offer.kArtikel = tArtikelShop.kArtikel
		AND Offer.kShop = tArtikelShop.kShop	
	JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1
    OUTER APPLY
    (
        SELECT TOP(1) ShopArtikelBeschreibung.cName
        FROM
        (
            SELECT TOP(1) 
                tArtikelBeschreibung.cName
            FROM dbo.tArtikelBeschreibung
            JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tArtikelBeschreibung.kSprache
            LEFT JOIN SCX.tChannelLanguage ON tChannelLanguage.cIso = tSpracheUsed.cISO2
                AND tChannelLanguage.kChannel = tChannel.kChannel
            WHERE tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
                AND tArtikelBeschreibung.kPlattform = 8
                AND tArtikelBeschreibung.kShop = tArtikelShop.kShop
                AND (tChannelLanguage.cIso IS NOT NULL OR tArtikelBeschreibung.kSprache = StandardSprache.kSprache)
            ORDER BY ISNULL(tChannelLanguage.nSort, 255) ASC
            UNION ALL
            SELECT TOP(1) 
                tArtikelBeschreibung.cName
            FROM dbo.tArtikelBeschreibung
            JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tArtikelBeschreibung.kSprache
            LEFT JOIN SCX.tChannelLanguage ON tChannelLanguage.cIso = tSpracheUsed.cISO2
                AND tChannelLanguage.kChannel = tChannel.kChannel
            WHERE tArtikelBeschreibung.kArtikel = tArtikel.kArtikel
                AND tArtikelBeschreibung.kPlattform = 1
                AND tArtikelBeschreibung.kShop = 0
                AND (tChannelLanguage.cIso IS NOT NULL OR tArtikelBeschreibung.kSprache = StandardSprache.kSprache)
            ORDER BY ISNULL(tChannelLanguage.nSort, 255) ASC
        ) ShopArtikelBeschreibung
    ) ShopArtikelBeschreibung
	WHERE ((tArtikel.nIstVater = 0 AND tChannel.nVariationsSupported = 1
			OR tArtikel.nIstVater = 1 AND tChannel.nVariationsSupported = 1
			OR tArtikel.nIstVater = 0 AND tChannel.nVariationsSupported = 0)
				OR tArtikel.kArtikel IS NULL)
)
GO
