USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tSellerAttribute]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tSellerAttribute](
	[kSellerAttribute] [int] IDENTITY(1,1) NOT NULL,
	[cSellerId] [nvarchar](255) NOT NULL,
	[cAttributeId] [nvarchar](512) NOT NULL,
	[cDisplayName] [nvarchar](150) NOT NULL,
	[nIsMultipleAllowed] [bit] NOT NULL,
	[cType] [nvarchar](100) NULL,
	[cAttributeValueValidation] [nvarchar](1024) NULL,
	[nRequired] [bit] NOT NULL,
	[cSection] [nvarchar](255) NULL,
	[nSectionPosition] [int] NOT NULL,
	[cSubSection] [nvarchar](255) NULL,
	[nSubSectionPosition] [int] NOT NULL,
	[cDescription] [nvarchar](max) NULL,
	[nIsVariationDimension] [bit] NULL,
	[kShop] [int] NOT NULL,
	[nRecommended] [bit] NOT NULL,
	[nIsRepeatableSubSection] [bit] NOT NULL,
 CONSTRAINT [PK_SCX_tSellerAttribute] PRIMARY KEY CLUSTERED 
(
	[kSellerAttribute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tSellerAttribute] ADD  CONSTRAINT [DF_SCX_tSellerAttribute_nRecommended]  DEFAULT ((0)) FOR [nRecommended]
GO
ALTER TABLE [SCX].[tSellerAttribute] ADD  CONSTRAINT [DF_SCX_tSellerAttribute_nIsRepeatableSubSection]  DEFAULT ((0)) FOR [nIsRepeatableSubSection]
GO
ALTER TABLE [SCX].[tSellerAttribute]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tSellerAttribute_kShop] FOREIGN KEY([kShop])
REFERENCES [dbo].[tShop] ([kShop])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tSellerAttribute] CHECK CONSTRAINT [FK_SCX_tSellerAttribute_kShop]
GO
