USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tVerkaufskanalArtikelData]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tVerkaufskanalArtikelData](
	[kVerkaufskanalArtikelData] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NOT NULL,
	[kShopScx] [int] NOT NULL,
	[kCategory] [int] NULL,
	[nMaximalerBestand] [decimal](25, 13) NOT NULL,
	[nMindestbestand] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_SCX_tVerkaufskanalArtikelData] PRIMARY KEY CLUSTERED 
(
	[kVerkaufskanalArtikelData] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SCX_tVerkaufskanalArtikelData_kArtikel_kShopScx] UNIQUE NONCLUSTERED 
(
	[kArtikel] ASC,
	[kShopScx] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tVerkaufskanalArtikelData] ADD  CONSTRAINT [DF_SCX_tVerkaufskanalArtikelData_nMaximalerBestand]  DEFAULT ((0)) FOR [nMaximalerBestand]
GO
ALTER TABLE [SCX].[tVerkaufskanalArtikelData] ADD  CONSTRAINT [DF_SCX_tVerkaufskanalArtikelData_nMindestbestand]  DEFAULT ((0)) FOR [nMindestbestand]
GO
ALTER TABLE [SCX].[tVerkaufskanalArtikelData]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tVerkaufskanalArtikelData_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tVerkaufskanalArtikelData] CHECK CONSTRAINT [FK_SCX_tVerkaufskanalArtikelData_kArtikel]
GO
ALTER TABLE [SCX].[tVerkaufskanalArtikelData]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tVerkaufskanalArtikelData_kShopScx] FOREIGN KEY([kShopScx])
REFERENCES [dbo].[tShopScx] ([kShopScx])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tVerkaufskanalArtikelData] CHECK CONSTRAINT [FK_SCX_tVerkaufskanalArtikelData_kShopScx]
GO
