USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferPicture]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferPicture]
AS
(
    SELECT
        tArtikelbildPlattform.kArtikel AS kProduct,
        tArtikelbildPlattform.kShop,
        tArtikelbildPlattform.nNr AS nSorting,
        tPictureMapping.cScxHash
    FROM dbo.tArtikelbildPlattform
    JOIN dbo.tShop ON tArtikelbildPlattform.kShop = tShop.kShop
    JOIN dbo.tArtikelShop ON tArtikelShop.kArtikel = tArtikelbildPlattform.kArtikel
        AND tArtikelShop.kShop = tArtikelbildPlattform.kShop
    JOIN SCX.tPictureMapping ON tPictureMapping.kPicture = tArtikelbildPlattform.kBild
    WHERE tShop.nTyp = 6
        AND tShop.nGesperrt = 0
        AND tShop.nAktiv = 1
        AND tArtikelbildPlattform.kPlattform = 8
)
GO
