USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tOrderInvoiceEvent]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tOrderInvoiceEvent](
	[kOrderInvoiceEvent] [int] IDENTITY(1,1) NOT NULL,
	[kShop] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[cOrderId] [nvarchar](150) NOT NULL,
	[cInvoiceNumber] [nvarchar](256) NOT NULL,
	[cChannel] [nvarchar](15) NOT NULL,
	[cDocumentId] [nvarchar](36) NOT NULL,
	[dDocumentExpiresAt] [datetime] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[nCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_SCX_tOrderInvoiceEvent] PRIMARY KEY CLUSTERED 
(
	[kOrderInvoiceEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tOrderInvoiceEvent] ADD  CONSTRAINT [DF_SCX_tOrderInvoiceEvent_nCount]  DEFAULT ((0)) FOR [nCount]
GO
