USE [eazybusiness]
GO
/****** Object:  View [SCX].[vSalesChannelOffer]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vSalesChannelOffer] AS
(
	SELECT
		tOffer.kOffer,
		ISNULL(vOfferQuantity.kCategory, 0) AS kCategory,
		vOfferQuantity.fQuantity,
		tOffer.fQuantity AS fLastUpdatedQuantity,
		tOffer.dQuantityUpdatedAt,
		tOffer.nStatus,
		tOffer.kArtikel AS kProduct,
		tShopScx.cChannel,
		tShopScx.cSellerId,
		tOffer.kShop,
		tShopScx.kChannel,
		tCategory.cCategoryId AS cCategory,
		ISNULL(vOfferQuantity.nMindestbestand, 0) AS nMindestbestand,
		ISNULL(vOfferQuantity.nMaximalerBestand, 0) AS nMaximalerBestand,		
		vOfferQuantity.fChannelQuantity,
		vOfferQuantity.dChannelQuantityUpdatedAt,
		tOffer.cChannelOfferId,
		tOffer.kParentOffer,
		CAST(ISNULL(tOffer.nIsListed, 0) AS BIT) AS nIsListed,
		ISNULL(tExternOffer.cGTIN, tArtikel.cBarcode) AS cGTIN,
        tOffer.cHash,
        tOffer.cHashPreis,
        tArtikelShop.nAktion,
		tChannel.nPriceUpdatesSupported,
		ISNULL(CASE WHEN tShopScx.nBestandsaktualisierung = 0 AND tOffer.nIsListed = 1 THEN CAST(0 AS BIT)
			ELSE CAST(1 AS BIT)
		END, 1) AS nBestandsaktualisierung
	FROM SCX.tOffer
	JOIN dbo.tArtikelShop ON tArtikelShop.kShop = tOffer.kShop
		AND tArtikelShop.kArtikel = tOffer.kArtikel
	LEFT JOIN SCX.vOfferQuantity ON vOfferQuantity.kArtikel = tOffer.kArtikel
		AND vOfferQuantity.kShop = tOffer.kShop
	LEFT JOIN SCX.tExternOffer ON tExternOffer.kOffer = tOffer.kOffer
	JOIN dbo.tShopScx ON tShopScx.kShop = tOffer.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel	
	LEFT JOIN SCX.tCategory ON tCategory.kCategory = vOfferQuantity.kCategory
		AND vOfferQuantity.kCategory > 0	
	JOIN dbo.tArtikel ON tOffer.kArtikel = tArtikel.kArtikel			
	WHERE tOffer.nType = 0
		AND tOffer.nStatus != 5
)
GO
