USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderPayment]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderPayment]
AS
(
	SELECT
		tOrder.kOrder AS kOrder,
		tOrder.cSellerId AS cSellerId,
		tAuftrag.cExterneAuftragsnummer AS cOrderIdExternal,
		CASE WHEN tAuftragEckdaten.nZahlungStatus = 2
			THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS nPaymentComplete,
		tAuftragEckdaten.dBezahlt AS dPaymentDate,
		tOrder.cChannel AS cChannelId
	FROM SCX.tOrder
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tOrder.kAuftrag
	JOIN dbo.tShop ON tShop.kShop = tAuftrag.kShop
	WHERE tOrder.nPaymentUpload = 1
		AND tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
		AND tAuftragEckdaten.dBezahlt IS NOT NULL
		AND tOrder.nPaymentUploadCount < 3
		AND (tOrder.dPaymentUploadFailedUtc IS NULL OR tOrder.dPaymentUploadFailedUtc < DATEADD(MINUTE, -30, GETUTCDATE()))
)
GO
