USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tCategory]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tCategory](
	[kCategory] [int] IDENTITY(1,1) NOT NULL,
	[kChannel] [int] NOT NULL,
	[cCategoryId] [nvarchar](512) NOT NULL,
	[cDisplayName] [nvarchar](250) NOT NULL,
	[nListingAllowed] [bit] NOT NULL,
	[kParentCategory] [int] NULL,
	[cParentCategory] [nvarchar](32) NULL,
	[nDeprecated] [bit] NOT NULL,
	[dKategorieAttributeAktualisierungUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_SCX_tCategory] PRIMARY KEY CLUSTERED 
(
	[kCategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tCategory] ADD  CONSTRAINT [DF_SCX_tCategory_nDeprecated]  DEFAULT ((0)) FOR [nDeprecated]
GO
ALTER TABLE [SCX].[tCategory]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tCategory_kChannel] FOREIGN KEY([kChannel])
REFERENCES [SCX].[tChannel] ([kChannel])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tCategory] CHECK CONSTRAINT [FK_SCX_tCategory_kChannel]
GO
