USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderCancellation]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderCancellation]
AS
(
	SELECT
		tOrder.kOrder,
		tOrder.cChannel,
		tOrder.cSellerId,
		tAuftrag.cExterneAuftragsnummer AS cExternalOrderId,
		tAuftragStornogrund.cScxMapping AS cCancelReason
	FROM SCX.tOrder
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
	JOIN Verkauf.tAuftragStorno ON tAuftragStorno.kAuftrag = tAuftrag.kAuftrag
	JOIN Verkauf.tAuftragStornogrund ON tAuftragStornogrund.kAuftragStornogrund = tAuftragStorno.kAuftragStornogrund
	JOIN dbo.tShop ON tShop.kShop = tAuftrag.kShop
	LEFT JOIN dbo.tLieferschein ON tLieferschein.kBestellung = tAuftrag.kAuftrag 
	WHERE tOrder.nCancellationUpload = 1
		AND tAuftrag.nStorno = 1
		AND tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
		AND tLieferschein.kLieferschein IS NULL
		AND tOrder.nCancellationUploadCount < 3
		AND (tOrder.dCancellationUploadFailedUtc IS NULL OR tOrder.dCancellationUploadFailedUtc < DATEADD(MINUTE, -30, GETUTCDATE()))
)
GO
