USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tOrderReturnMapping]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tOrderReturnMapping](
	[kOrderReturnMapping] [int] IDENTITY(1,1) NOT NULL,
	[kOrder] [int] NOT NULL,
	[kRMRetoure] [int] NOT NULL,
	[cChannelReturnId] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SCX_tOrderReturnMapping] PRIMARY KEY CLUSTERED 
(
	[kOrderReturnMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
