USE [eazybusiness]
GO
/****** Object:  View [SCX].[vChannelAttribute]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vChannelAttribute] AS
(
	SELECT 
		tShopScx.kShop,
		tShopScx.kShopScx,
		tShopScx.kChannel,
		tChannel.cDisplayName                                                                                     		AS cChannelDisplayName,		
		ISNULL(tSellerAttribute.cAttributeId, tChannelAttribute.cAttributeId)                                           AS cAttributeId, 
		ISNULL(tSellerAttribute.cDisplayName, tChannelAttribute.cDisplayName)                                           AS cDisplayName, 
		ISNULL(tSellerAttribute.nIsMultipleAllowed, tChannelAttribute.nIsMultipleAllowed)                               AS nIsMultipleAllowed,
		IIF(tSellerAttribute.kSellerAttribute IS NOT NULL, tSellerAttribute.cType, tChannelAttribute.cType)             AS cType,
		IIF(tSellerAttribute.kSellerAttribute IS NOT NULL, tSellerAttribute.cAttributeValueValidation,
			tChannelAttribute.cAttributeValueValidation)                                                                AS cAttributeValueValidation,		
		ISNULL(tSellerAttribute.nRequired, tChannelAttribute.nRequired)                                                 AS nRequired,
		ISNULL(tSellerAttribute.nRecommended, tChannelAttribute.nRecommended)                                           AS nRecommended,
		IIF(tSellerAttribute.kSellerAttribute IS NOT NULL, tSellerAttribute.cSection, tChannelAttribute.cSection)       AS cSection,
		ISNULL(tSellerAttribute.nSectionPosition, tChannelAttribute.nSectionPosition)                                   AS nSectionPosition,
		IIF(tSellerAttribute.kSellerAttribute IS NOT NULL, tSellerAttribute.cSubSection, tChannelAttribute.cSubSection) AS cSubSection,
		ISNULL(tSellerAttribute.nSubSectionPosition, tChannelAttribute.nSubSectionPosition)                             AS nSubSectionPosition,
		IIF(tSellerAttribute.kSellerAttribute IS NOT NULL, tSellerAttribute.cDescription,
			tChannelAttribute.cDescription)                                                                             AS cDescription,
		IIF(tSellerAttribute.kSellerAttribute IS NOT NULL, tSellerAttribute.nIsVariationDimension,
			tChannelAttribute.nIsVariationDimension)                                                                    AS nIsVariationDimension,
		IIF(tSellerAttribute.kSellerAttribute IS NOT NULL, tSellerAttribute.nIsRepeatableSubSection,
			tChannelAttribute.nIsRepeatableSubSection) AS nIsRepeatableSubSection
	FROM
	(
		SELECT 
			tSellerAttribute.kShop,
			tShopScx.kChannel,
			tSellerAttribute.cAttributeId
		FROM SCX.tSellerAttribute 
		JOIN dbo.tShopScx ON tSellerAttribute.kShop = tShopScx.kShop
		UNION
		SELECT 
			tShopScx.kShop,
			tChannelAttribute.kChannel,
			tChannelAttribute.cAttributeId		
		FROM SCX.tChannelAttribute 		
		JOIN dbo.tShopScx ON tChannelAttribute.kChannel = tShopScx.kChannel		
	) AS Attributes
	JOIN dbo.tShopScx ON tShopScx.kShop = Attributes.kShop
	JOIN SCX.tChannel ON tShopScx.kChannel = tChannel.kChannel
	LEFT JOIN SCX.tChannelAttribute ON Attributes.cAttributeId = tChannelAttribute.cAttributeId
		AND tChannelAttribute.kChannel = tShopScx.kChannel
	LEFT JOIN SCX.tSellerAttribute  ON Attributes.cAttributeId = tSellerAttribute.cAttributeId
		AND tSellerAttribute.kShop = tShopScx.kShop
)
GO
