USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderCancellationItem]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderCancellationItem]
AS
(
	SELECT
		tOrderItem.kOrder,
		tOrderItem.cOrderItemId,
		tAuftragPosition.fAnzahl AS fQuantity
	FROM SCX.tOrderItem
	JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tOrderItem.kAuftragPosition
)
GO
