USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvBeleguploadRechnungskorrekturPosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvBeleguploadRechnungskorrekturPosition]
AS
(
	SELECT
		tOrderItem.kOrder,
		tOrderItem.kOrderItem,						
		tGutschriftPos.nAnzahl,
		tGutschriftPos.cArtNr,
		tGutschriftPos.cString AS cArtikelname,
        ISNULL(CAST(tGutschriftPos.fVKPreis * IIF(tGutschriftPos.fRabatt > 0.0, 1.0 - (tGutschriftPos.fRabatt / 100.0), 1.0) AS DECIMAL(25,13)), 0.0) AS fBetrag,
		tgutschrift.cWaehrung
	FROM dbo.tGutschriftPos
	JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = tGutschriftPos.tGutschrift_kGutschrift
	JOIN SCX.tOrderItem ON tOrderItem.kAuftragPosition = tGutschriftPos.kBestellPos
)
GO
