USE [eazybusiness]
GO
/****** Object:  View [SCX].[vCustomerGroup]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vCustomerGroup]
AS
(
	SELECT tKundenGruppe.kKundenGruppe AS kCustomerGroup
	FROM dbo.tKundenGruppe
)
GO
