USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tPaymentRule]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tPaymentRule](
	[kPaymentRule] [int] IDENTITY(1,1) NOT NULL,
	[kChannel] [int] NOT NULL,
	[cPaymentMethodId] [nvarchar](100) NOT NULL,
	[cDisplayName] [nvarchar](150) NULL,
	[kShop] [int] NOT NULL,
	[kZahlungsart] [int] NULL,
 CONSTRAINT [PK_SCX_tPaymentRule] PRIMARY KEY CLUSTERED 
(
	[kPaymentRule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SCX_tPaymentRule_cPaymentMethodId_kShop] UNIQUE NONCLUSTERED 
(
	[cPaymentMethodId] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tPaymentRule]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tPaymentRule_kChannel] FOREIGN KEY([kChannel])
REFERENCES [SCX].[tChannel] ([kChannel])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tPaymentRule] CHECK CONSTRAINT [FK_SCX_tPaymentRule_kChannel]
GO
