USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvZuAktualisierendeStornoanfragen]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvZuAktualisierendeStornoanfragen]
AS
(
    SELECT
        tOrderCancellationEvent.kOrderCancellationEvent,
        tOrder.kOrder,
        tShop.kShop,
        tShopScx.kShopScx,
        tShop.cName AS cShopName,
        tAuftrag.cAuftragsNr,
        tChannel.cDisplayName AS cChannelDisplayName,
        tAuftrag.cExterneAuftragsnummer,
        tAuftrag.kAuftrag,
        tAuftrag.dErstellt,
        3 - tOrderCancellationEvent.nCount AS nUploadCountUebrig,
        CASE WHEN tOrderCancellationEvent.nCount < 3 THEN 1 --Warte auf Upload
             ELSE 2 --Fehlerhaft
        END nStatus,
        tOrderCancellationEvent.nCount AS nUploadCount
    FROM SCX.tOrderCancellationEvent
    JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrderCancellationEvent.kAuftrag
    JOIN SCX.tOrder ON tOrder.kAuftrag = tAuftrag.kAuftrag
    JOIN dbo.tShopScx ON tShopScx.cSellerId = tOrder.cSellerId
        AND tShopScx.cChannel = tOrder.cChannel
    JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
    JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
)
GO
