USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderReturnItem]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderReturnItem]
AS
(
	SELECT
		tAuftragPosition.kAuftrag,
		tOrderItem.cOrderItemId,
		tRMRetourePos.fAnzahl AS fQuantity,
		ISNULL(tReturnReason.cReturnReason, 'NO_REASON') AS cReturnReason,
		tRMRetourePos.cGrundKommentar AS cNote,
		ISNULL(tCondition.cCondition, '') AS cCondition,
		CAST(ISNULL(tReturnStatusMapping.nAccepted, 1) AS BIT) AS nAcceptReturn,
		CAST(1 AS BIT) AS nRequireReturnShipping
	FROM SCX.tOrderItem
	JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tOrderItem.kAuftragPosition
	JOIN dbo.tLieferscheinPos ON tLieferscheinPos.kBestellPos = tAuftragPosition.kAuftragPosition
	JOIN dbo.tRMRetourePos ON tRMRetourePos.kLieferscheinPos = tLieferscheinPos.kLieferscheinPos
	JOIN dbo.tRMStatusVerlauf ON tRMStatusVerlauf.kRMStatusVerlauf = tRMRetourePos.kRMStatusVerlauf
	LEFT JOIN dbo.tRMGrund ON tRMGrund.kRMGrund = tRMRetourePos.kRMGrund
	LEFT JOIN SCX.tReturnReason ON tReturnReason.kReturnReason = tRMGrund.kSCXReason
	LEFT JOIN dbo.tZustand ON tZustand.kZustand = tRMRetourePos.kZustand
	LEFT JOIN SCX.tCondition ON tCondition.kCondition = tZustand.kSCXCondition
	LEFT JOIN SCX.tReturnStatusMapping ON tReturnStatusMapping.kRMStatus = tRMStatusVerlauf.kRMStatus
);
GO
