USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tVerkaufskanalChannelFeldWert]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tVerkaufskanalChannelFeldWert](
	[kVerkaufskanalChannelFeldWert] [int] IDENTITY(1,1) NOT NULL,
	[kShopScx] [int] NOT NULL,
	[cAttributeId] [nvarchar](512) NULL,
	[cWert] [nvarchar](max) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nIsDotLiquidValue] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nReferenzGruppe] [int] NOT NULL,
	[kfile] [int] NULL,
 CONSTRAINT [PK_SCX_tVerkaufskanalChannelFeldWert] PRIMARY KEY CLUSTERED 
(
	[kVerkaufskanalChannelFeldWert] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tVerkaufskanalChannelFeldWert] ADD  CONSTRAINT [DF_tVerkaufskanalChannelFeldWert_nReferenzGruppe]  DEFAULT ((0)) FOR [nReferenzGruppe]
GO
ALTER TABLE [SCX].[tVerkaufskanalChannelFeldWert]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tVerkaufskanalChannelFeldWert_kfile] FOREIGN KEY([kfile])
REFERENCES [dbo].[tFile] ([kFile])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tVerkaufskanalChannelFeldWert] CHECK CONSTRAINT [FK_SCX_tVerkaufskanalChannelFeldWert_kfile]
GO
ALTER TABLE [SCX].[tVerkaufskanalChannelFeldWert]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tVerkaufskanalChannelFeldWert_kShopScx] FOREIGN KEY([kShopScx])
REFERENCES [dbo].[tShopScx] ([kShopScx])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tVerkaufskanalChannelFeldWert] CHECK CONSTRAINT [FK_SCX_tVerkaufskanalChannelFeldWert_kShopScx]
GO
