USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvNotification]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvNotification]
AS
(
	SELECT
        tNotification.kNotification,
        tNotification.kId,
        tNotification.cEventId,
        tNotification.dCreationDate,
        tNotification.nSeverity,
        tNotification.nType,
        tNotification.cReference,
        tNotification.nGelesen,
        tNotification.kShop,
        tNotification.cOrderCancellationRequestId,
		DetailMessage.cShortMessage,
		tChannel.cDisplayName AS cChannel,
		tShop.cName AS cShopName,
		CASE
			WHEN ISNULL(tOffer.kArtikel, 0) = 0 
			THEN tExternOffer.cTitle
			ELSE ShopArtikelBeschreibung.cName
		END AS cOfferTitle
	FROM SCX.tNotification
	JOIN
    (
		SELECT
			tNotificationDetail.kNotification,
			SUBSTRING(tNotificationDetail.cMessage, 0, 50) AS cShortMessage,
			ROW_NUMBER() OVER (PARTITION BY tNotificationDetail.kNotification ORDER BY tNotificationDetail.kNotificationDetail) AS RowNum
		FROM SCX.tNotificationDetail
	) AS DetailMessage ON DetailMessage.kNotification = tNotification.kNotification
		AND DetailMessage.RowNum = 1
	JOIN dbo.tShop ON tShop.kShop = tNotification.kShop
	JOIN dbo.tShopScx ON tShopScx.kShop = tNotification.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	LEFT JOIN SCX.tOffer ON tOffer.kOffer = tNotification.kId
		AND tNotification.nType = 1
	LEFT JOIN SCX.tExternOffer ON tExternOffer.kOffer = tOffer.kOffer
	JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1
    OUTER APPLY
	(
		SELECT TOP(1) ShopArtikelBeschreibung.cName
		FROM
		(
			SELECT TOP(1) tArtikelBeschreibung.cName
			FROM dbo.tArtikelBeschreibung
			JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tArtikelBeschreibung.kSprache
			LEFT JOIN SCX.tChannelLanguage ON tChannelLanguage.cIso = tSpracheUsed.cISO2
				AND tChannelLanguage.kChannel = tChannel.kChannel
			WHERE tArtikelBeschreibung.kArtikel = tOffer.kArtikel
				AND tArtikelBeschreibung.kPlattform = 8
				AND tArtikelBeschreibung.kShop = tShop.kShop
				AND (tChannelLanguage.cIso IS NOT NULL OR tArtikelBeschreibung.kSprache = StandardSprache.kSprache)
			ORDER BY ISNULL(tChannelLanguage.nSort, 255) ASC
			UNION ALL
			SELECT TOP(1) tArtikelBeschreibung.cName
			FROM dbo.tArtikelBeschreibung
			JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tArtikelBeschreibung.kSprache
			LEFT JOIN SCX.tChannelLanguage ON tChannelLanguage.cIso = tSpracheUsed.cISO2
				AND tChannelLanguage.kChannel = tChannel.kChannel
			WHERE tArtikelBeschreibung.kArtikel = tOffer.kArtikel
				AND tArtikelBeschreibung.kPlattform = 1
				AND tArtikelBeschreibung.kShop = 0
				AND (tChannelLanguage.cIso IS NOT NULL OR tArtikelBeschreibung.kSprache = StandardSprache.kSprache)
			ORDER BY ISNULL(tChannelLanguage.nSort, 255) ASC
		) ShopArtikelBeschreibung
	) ShopArtikelBeschreibung
)
GO
