USE [eazybusiness]
GO
/****** Object:  View [SCX].[vReturnReason]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vReturnReason]
AS
(
	SELECT
		tReturnReason.kReturnReason,
		tRMGrund.kRMGrund,
		tReturnReason.cReturnReason
	FROM SCX.tReturnReason
	JOIN dbo.tRMGrund ON tRMGrund.kSCXReason = tReturnReason.kReturnReason
);
GO
