USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tSalesChannelAttribute]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tSalesChannelAttribute](
	[cChannel] [varchar](255) NOT NULL,
	[cAttribute] [varchar](255) NULL,
	[cValue] [varchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
