USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferCreateUploadKeys]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferCreateUploadKeys]
AS
(	
	SELECT 
		tOffer.kOffer, 
		tArtikelShop.kShop,
		tArtikel.kArtikel,
		tOffer.dFehlerhafterUploadUtc,
		tArtikel.nIstVater
	FROM dbo.tArtikelShop
	JOIN dbo.tShop ON tShop.kShop = tArtikelShop.kShop
		AND tShop.nTyp = 6
		AND tShop.nGesperrt = 0
		AND tShop.nAktiv = 1
	JOIN dbo.tShopScx ON tShopScx.kShop = tShop.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelShop.kArtikel
	JOIN SCX.tOffer ON tOffer.kArtikel = tArtikelShop.kArtikel
			AND tOffer.kShop = tArtikelShop.kShop
			AND tOffer.nStatus <> 5 --Beendet
	OUTER APPLY 
	(
		SELECT TOP 1
			vOfferPicture.kProduct
		FROM SCX.vOfferPicture
		WHERE vOfferPicture.kProduct = tArtikelShop.kArtikel
			AND vOfferPicture.kShop = tArtikelShop.kShop
			AND vOfferPicture.cScxHash IS NULL
	) AS Bilder
	OUTER APPLY 
	(
		SELECT TOP 1
			tArtikelVerkaufskanalFeldWert.kfile
		FROM SCX.tArtikelVerkaufskanalFeldWert
		LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tArtikelVerkaufskanalFeldWert.kfile
		WHERE tArtikelVerkaufskanalFeldWert.kArtikel = tArtikelShop.kArtikel
			AND tArtikelVerkaufskanalFeldWert.kShopScx = tShopScx.kShopScx
			AND tFileMapping.kFileMapping IS NULL
			AND tArtikelVerkaufskanalFeldWert.kfile IS NOT NULL
	) AS Files
	WHERE tArtikelShop.cInet = 'Y'
		AND tOffer.nStatus IN (1, 6) -- 1 = WarteAufHochladen; 6 = Fehlerhaft
		AND tOffer.nIsListed = 0
		AND Bilder.kProduct IS NULL --Nur hochladen, wenn bereits alle Bilder hochgeladen wurden
		AND Files.kfile IS NULL --Nur hochladen, wenn bereits alle Dateien hochgeladen wurden
		AND tArtikel.cAktiv <> 'N'		
        AND CASE WHEN tArtikel.kVaterArtikel <= 0 AND tArtikel.nIstVater = 0
                    OR tArtikel.kVaterArtikel > 0
                    OR tArtikel.nIstVater > 0 AND tChannel.nVariationsSupported = 1
                THEN 1
                ELSE 0
            END	= 1
)
GO
