USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tCategoryVersion]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tCategoryVersion](
	[kCategoryVersion] [int] IDENTITY(1,1) NOT NULL,
	[cChannel] [nvarchar](15) NOT NULL,
	[cCategoryTreeVersion] [nvarchar](255) NOT NULL,
	[nVersionChanged] [bit] NOT NULL,
 CONSTRAINT [PK_tCategoryVersion] PRIMARY KEY CLUSTERED 
(
	[kCategoryVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_tCategoryVersion_cChannel] UNIQUE NONCLUSTERED 
(
	[cChannel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tCategoryVersion] ADD  CONSTRAINT [DF_tCategoryVersion_nVersionChanged]  DEFAULT ((0)) FOR [nVersionChanged]
GO
