USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tCategoryAttribute]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tCategoryAttribute](
	[kCategoryAttribute] [int] IDENTITY(1,1) NOT NULL,
	[kCategory] [int] NOT NULL,
	[kChannel] [int] NOT NULL,
	[cAttributeId] [nvarchar](512) NOT NULL,
	[cDisplayName] [nvarchar](150) NOT NULL,
	[nIsMultipleAllowed] [bit] NOT NULL,
	[cType] [nvarchar](9) NOT NULL,
	[cAttributeValueValidation] [nvarchar](1024) NULL,
	[nRequired] [bit] NOT NULL,
	[cSection] [nvarchar](150) NULL,
	[nSectionPosition] [int] NOT NULL,
	[nSubSectionPosition] [int] NOT NULL,
	[cDescription] [nvarchar](max) NULL,
	[cSubSection] [nvarchar](150) NULL,
	[nIsVariationDimension] [bit] NULL,
	[nRecommended] [bit] NOT NULL,
	[nIsRepeatableSubSection] [bit] NOT NULL,
 CONSTRAINT [PK_SCX_tCategoryAttribute] PRIMARY KEY CLUSTERED 
(
	[kCategoryAttribute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tCategoryAttribute] ADD  CONSTRAINT [DF_SCX_tCategoryAttribute_nRecommended]  DEFAULT ((0)) FOR [nRecommended]
GO
ALTER TABLE [SCX].[tCategoryAttribute] ADD  CONSTRAINT [DF_SCX_tCategoryAttribute_nIsRepeatableSubSection]  DEFAULT ((0)) FOR [nIsRepeatableSubSection]
GO
ALTER TABLE [SCX].[tCategoryAttribute]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tCategoryAttribute_kCategory] FOREIGN KEY([kCategory])
REFERENCES [SCX].[tCategory] ([kCategory])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tCategoryAttribute] CHECK CONSTRAINT [FK_SCX_tCategoryAttribute_kCategory]
GO
ALTER TABLE [SCX].[tCategoryAttribute]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tCategoryAttribute_kChannel] FOREIGN KEY([kChannel])
REFERENCES [SCX].[tChannel] ([kChannel])
GO
ALTER TABLE [SCX].[tCategoryAttribute] CHECK CONSTRAINT [FK_SCX_tCategoryAttribute_kChannel]
GO
