USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferFileUpload]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferFileUpload]
AS
(
		SELECT
			Files.kFile,
			Files.cScxHash,
			Files.nFileSizeKB,
			Files.cFileHash,
			Files.cFileType,
			Files.bFile,
			SUM(Files.nFileSizeKB / 1024.0) OVER (ORDER BY kFile ASC) AS fKomulierteDateigroesse
			FROM
			(
				SELECT
					tFile.kFile,
					tFileMapping.cScxHash,
					tFile.nFileSizeKB,
					tFile.cFileHash,
					tFile.cFileType,
					tFile.bFile
				FROM SCX.tArtikelVerkaufskanalFeldWert
				JOIN dbo.tFile ON tFile.kFile = tArtikelVerkaufskanalFeldWert.kfile
				JOIN dbo.tShopScx ON tShopScx.kShopScx = tArtikelVerkaufskanalFeldWert.kShopScx
				JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
				LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tArtikelVerkaufskanalFeldWert.kfile
				WHERE tFileMapping.cScxHash IS NULL
					AND tShop.nTyp = 6
					AND tShop.nGesperrt = 0
					AND tShop.nAktiv = 1
					AND tFile.nFileSizeKB <= 16384
					AND tFile.cFileType IN ('.gif', '.jpg', '.jpeg', '.png', '.svg', '.pdf', '.txt')
				UNION
				SELECT
					tFile.kFile,
					tFileMapping.cScxHash,
					tFile.nFileSizeKB,
					tFile.cFileHash,
					tFile.cFileType,
					tFile.bFile
				FROM SCX.tVerkaufskanalCategoryFeldWert
				JOIN dbo.tFile ON tFile.kFile = tVerkaufskanalCategoryFeldWert.kfile
				JOIN dbo.tShopScx ON tShopScx.kShopScx = tVerkaufskanalCategoryFeldWert.kShopScx
				JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
				LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tVerkaufskanalCategoryFeldWert.kfile
				WHERE tFileMapping.cScxHash IS NULL
					AND tShop.nTyp = 6
					AND tShop.nGesperrt = 0
					AND tShop.nAktiv = 1
					AND tFile.nFileSizeKB <= 16384
					AND tFile.cFileType IN ('.gif', '.jpg', '.jpeg', '.png', '.svg', '.pdf', '.txt')
				UNION
				SELECT
					tFile.kFile,
					tFileMapping.cScxHash,
					tFile.nFileSizeKB,
					tFile.cFileHash,
					tFile.cFileType,
					tFile.bFile
				FROM SCX.tVerkaufskanalChannelFeldWert
				JOIN dbo.tFile ON tFile.kFile = tVerkaufskanalChannelFeldWert.kfile
				JOIN dbo.tShopScx ON tShopScx.kShopScx = tVerkaufskanalChannelFeldWert.kShopScx
				JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
				LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tVerkaufskanalChannelFeldWert.kfile
				WHERE tFileMapping.cScxHash IS NULL
					AND tShop.nTyp = 6
					AND tShop.nGesperrt = 0
					AND tShop.nAktiv = 1
					AND tFile.nFileSizeKB <= 16384
					AND tFile.cFileType IN ('.gif', '.jpg', '.jpeg', '.png', '.svg', '.pdf', '.txt')
			) AS Files
	)
GO
