USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tNotification]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tNotification](
	[kNotification] [bigint] IDENTITY(1,1) NOT NULL,
	[kId] [bigint] NULL,
	[cEventId] [nvarchar](122) NOT NULL,
	[dCreationDate] [datetime] NOT NULL,
	[nSeverity] [tinyint] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[cReference] [nvarchar](255) NULL,
	[nGelesen] [bit] NOT NULL,
	[kShop] [int] NOT NULL,
	[cOrderCancellationRequestId] [nvarchar](255) NULL,
 CONSTRAINT [PK_SCX_tNotification] PRIMARY KEY CLUSTERED 
(
	[kNotification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tNotification] ADD  CONSTRAINT [DF_SCX_tNotification_nGelesen]  DEFAULT ((0)) FOR [nGelesen]
GO
