USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tSellerAttributeValue]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tSellerAttributeValue](
	[kSellerAttributeValue] [int] IDENTITY(1,1) NOT NULL,
	[kSellerAttribute] [int] NOT NULL,
	[cValue] [nvarchar](max) NOT NULL,
	[cDisplayName] [nvarchar](max) NOT NULL,
	[nSort] [int] NOT NULL,
 CONSTRAINT [PK_SCX_tSellerAttributeValue] PRIMARY KEY CLUSTERED 
(
	[kSellerAttributeValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tSellerAttributeValue] ADD  CONSTRAINT [DF_SCX_tSellerAttributeValue_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [SCX].[tSellerAttributeValue]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tSellerAttributeValue_kSellerAttribute] FOREIGN KEY([kSellerAttribute])
REFERENCES [SCX].[tSellerAttribute] ([kSellerAttribute])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tSellerAttributeValue] CHECK CONSTRAINT [FK_SCX_tSellerAttributeValue_kSellerAttribute]
GO
