USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tOffer]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tOffer](
	[kOffer] [bigint] IDENTITY(1,1) NOT NULL,
	[kCategory] [int] NULL,
	[fQuantity] [decimal](25, 13) NULL,
	[nStatus] [tinyint] NOT NULL,
	[dExpirationDate] [datetime] NULL,
	[dActiveSince] [datetime] NULL,
	[kArtikel] [int] NULL,
	[dFailedAt] [datetime] NULL,
	[kShop] [int] NOT NULL,
	[nType] [tinyint] NOT NULL,
	[nIsListed] [bit] NOT NULL,
	[cChannelOfferId] [nvarchar](100) NULL,
	[cListingUrl] [nvarchar](2000) NULL,
	[dQuantityUpdatedAt] [datetime] NOT NULL,
	[kParentOffer] [bigint] NOT NULL,
	[dBeendet] [datetime] NULL,
	[dLetzterUpload] [datetime] NULL,
	[dPriceUpdatedUtc] [datetime] NULL,
	[dStatusReceivedUtc] [datetime] NULL,
	[fZuletztHochgeladenerPreis] [decimal](25, 13) NOT NULL,
	[cHash] [nvarchar](40) NULL,
	[cHashPreis] [nvarchar](40) NULL,
	[dFehlerhafterUploadUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_SCX_tOffer] PRIMARY KEY CLUSTERED 
(
	[kOffer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tOffer] ADD  CONSTRAINT [DF_SCX_tOffer_nType]  DEFAULT ((0)) FOR [nType]
GO
ALTER TABLE [SCX].[tOffer] ADD  CONSTRAINT [DF_SCX_tOffer_nIsListed]  DEFAULT ((0)) FOR [nIsListed]
GO
ALTER TABLE [SCX].[tOffer] ADD  CONSTRAINT [DF_SCX_tOffer_kParentOffer]  DEFAULT ((0)) FOR [kParentOffer]
GO
ALTER TABLE [SCX].[tOffer] ADD  CONSTRAINT [DF_SCX_tOffer_fZuletztHochgeladenerPreis]  DEFAULT ((0)) FOR [fZuletztHochgeladenerPreis]
GO
