USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvZuAktualisierendeRetourenPosition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvZuAktualisierendeRetourenPosition] AS
(
	SELECT 
		tOrder.kOrder,
		tRMRetourePos.kRMRetourePos,
        tRMRetourePos.kRMRetoure,        
        tRMRetourePos.fAnzahl,
        tRMRetourePos.nGutschreiben,        
        tRMRetourePos.cArtNr,
        tRMRetourePos.cName       
	FROM dbo.tRMRetourePos
	JOIN dbo.tRMRetoure ON tRMRetoure.kRMRetoure = tRMRetourePos.kRMRetoure
	JOIN SCX.tOrder ON tOrder.kAuftrag = tRMRetoure.kBestellung
);
GO
