USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferPriceUpdate]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferPriceUpdate]
AS
(
	SELECT
		tShopScx.kChannel,
		tShopScx.cChannel,
		tShopScx.cSellerId,
		tOffer.kOffer AS kOffer,
		tOffer.kArtikel AS kProduct,
		tOffer.kShop,
		tOffer.cChannelOfferId,
		tOffer.nType,
		tOffer.cHashPreis
	FROM SCX.tOffer
	JOIN dbo.tArtikelShop ON tOffer.kShop = tArtikelShop.kShop
		AND tOffer.kArtikel = tArtikelShop.kArtikel
	JOIN dbo.tShopScx ON tShopScx.kShop = tOffer.kShop
	JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
	WHERE tOffer.nType = 0
		AND tShop.nGesperrt = 0
    	AND tShop.nAktiv = 1 
		AND tOffer.nIsListed = 1
		AND tOffer.nStatus IN (2, 3, 4, 6)
		AND tArtikelShop.nInBearbeitung = 1
		AND tArtikelShop.cInet = 'Y'
		AND tArtikelShop.cDelInet <> 'Y'
		AND tArtikelShop.nAktion & 2 > 0	
);
GO
