USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tChannelAttributeConditionalOptional]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tChannelAttributeConditionalOptional](
	[kChannelAttributeConditionalOptional] [int] IDENTITY(1,1) NOT NULL,
	[kChannelAttribute] [int] NOT NULL,
	[cValue] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_SCX_tChannelAttributeConditionalOptional] PRIMARY KEY CLUSTERED 
(
	[kChannelAttributeConditionalOptional] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tChannelAttributeConditionalOptional]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tChannelAttributeConditionalOptional_kChannelAttribute] FOREIGN KEY([kChannelAttribute])
REFERENCES [SCX].[tChannelAttribute] ([kChannelAttribute])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tChannelAttributeConditionalOptional] CHECK CONSTRAINT [FK_SCX_tChannelAttributeConditionalOptional_kChannelAttribute]
GO
