USE [eazybusiness]
GO
/****** Object:  View [SCX].[vUploadMetaData]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vUploadMetaData]
AS
(
	SELECT
		tUploadData.kUploadData,
		tOrder.kOrder,
		tUploadData.nType,
		tOrder.cSellerId,
		tAuftrag.cExterneAuftragsnummer,
		tRechnung.cRechnungsnr,
		tShopScx.cChannel,
		tAuftrag.kAuftrag,
		tRechnung.kRechnung
	FROM SCX.tOrder 
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
	JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kAuftrag = tAuftrag.kAuftrag
	JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tAuftragRechnung.kRechnung
	JOIN SCX.tUploadData ON tUploadData.kRechnung = tRechnung.kRechnung
	JOIN dbo.tShopScx ON tShopScx.kShop = tAuftrag.kShop
	JOIN dbo.tShop ON tShop.kShop = tAuftrag.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	WHERE tOrder.nInvoiceUpload = 1
		AND tUploadData.nCount < 4
		AND tUploadData.cName IS NOT NULL
		AND tUploadData.bData IS NOT NULL
		AND tChannel.nInvoiceDocumentTransfer = 1
		AND tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
)
GO
