USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tNotificationDetail]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tNotificationDetail](
	[kNotificationDetail] [bigint] IDENTITY(1,1) NOT NULL,
	[kNotification] [bigint] NOT NULL,
	[cCode] [nvarchar](255) NULL,
	[cMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK_SCX_tNotificationDetail] PRIMARY KEY CLUSTERED 
(
	[kNotificationDetail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tNotificationDetail]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tNotification_kNotification] FOREIGN KEY([kNotification])
REFERENCES [SCX].[tNotification] ([kNotification])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tNotificationDetail] CHECK CONSTRAINT [FK_SCX_tNotification_kNotification]
GO
