USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tBelegUploadQueue]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tBelegUploadQueue](
	[kBelegUploadQueue] [int] IDENTITY(1,1) NOT NULL,
	[kBeleg] [int] NOT NULL,
	[nBelegtyp] [tinyint] NOT NULL,
	[kShop] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kOrder] [int] NOT NULL,
	[cExterneAuftragsnummer] [nvarchar](50) NOT NULL,
	[cBelegnummer] [nvarchar](50) NOT NULL,
	[nAusgabeVersuche] [int] NOT NULL,
	[nUploadVersuche] [int] NOT NULL,
	[nStatus] [int] NOT NULL,
	[dErstelltUtc] [datetime2](7) NOT NULL,
	[dAusgabeGestartetUtc] [datetime2](7) NULL,
	[dAusgabeBeendetUtc] [datetime2](7) NULL,
	[dUploadErfolgtUtc] [datetime2](7) NULL,
	[cMeldung] [nvarchar](4000) NULL,
 CONSTRAINT [PK_SCX_tBelegUploadQueue] PRIMARY KEY CLUSTERED 
(
	[kBelegUploadQueue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tBelegUploadQueue] ADD  CONSTRAINT [DF_SCX_tBelegUploadQueue_nBelegtyp]  DEFAULT ((0)) FOR [nBelegtyp]
GO
ALTER TABLE [SCX].[tBelegUploadQueue] ADD  CONSTRAINT [DF_SCX_tBelegUploadQueue_nAusgabeVersuche]  DEFAULT ((0)) FOR [nAusgabeVersuche]
GO
ALTER TABLE [SCX].[tBelegUploadQueue] ADD  CONSTRAINT [DF_SCX_tBelegUploadQueue_nUploadVersuche]  DEFAULT ((0)) FOR [nUploadVersuche]
GO
ALTER TABLE [SCX].[tBelegUploadQueue] ADD  CONSTRAINT [DF_SCX_tBelegUploadQueue_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
ALTER TABLE [SCX].[tBelegUploadQueue]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tBelegUploadQueue_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tBelegUploadQueue] CHECK CONSTRAINT [FK_SCX_tBelegUploadQueue_kAuftrag]
GO
ALTER TABLE [SCX].[tBelegUploadQueue]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tBelegUploadQueue_kOrder] FOREIGN KEY([kOrder])
REFERENCES [SCX].[tOrder] ([kOrder])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tBelegUploadQueue] CHECK CONSTRAINT [FK_SCX_tBelegUploadQueue_kOrder]
GO
ALTER TABLE [SCX].[tBelegUploadQueue]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tBelegUploadQueue_kShop] FOREIGN KEY([kShop])
REFERENCES [dbo].[tShop] ([kShop])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tBelegUploadQueue] CHECK CONSTRAINT [FK_SCX_tBelegUploadQueue_kShop]
GO
