USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tMetaDataChanged]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tMetaDataChanged](
	[kMetaDataChanged] [int] IDENTITY(1,1) NOT NULL,
	[cType] [nvarchar](255) NULL,
	[cResource] [nvarchar](255) NULL,
	[cSellerId] [nvarchar](50) NULL,
	[kChannel] [int] NULL,
	[dCreatedAfter] [datetime] NULL,
	[nApiModeType] [tinyint] NOT NULL,
	[nCount] [tinyint] NOT NULL,
	[dMetaDataChangedRequestFailedUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_SCX_tMetaDataChanged] PRIMARY KEY CLUSTERED 
(
	[kMetaDataChanged] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tMetaDataChanged] ADD  CONSTRAINT [DF_SCX_tMetaDataChanged]  DEFAULT ((0)) FOR [nApiModeType]
GO
ALTER TABLE [SCX].[tMetaDataChanged] ADD  CONSTRAINT [DF_SCX_tMetaDataChanged_nCount]  DEFAULT ((0)) FOR [nCount]
GO
