USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tMissedAcknowledge]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tMissedAcknowledge](
	[kMissedAcknowledge] [int] IDENTITY(1,1) NOT NULL,
	[cEventId] [nvarchar](1024) NOT NULL,
	[nCount] [tinyint] NOT NULL,
 CONSTRAINT [PK_SCX_tMissedAcknowledge] PRIMARY KEY CLUSTERED 
(
	[kMissedAcknowledge] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tMissedAcknowledge] ADD  CONSTRAINT [DF_SCX_tMissedAcknowledge_nCount]  DEFAULT ((0)) FOR [nCount]
GO
