USE [eazybusiness]
GO
/****** Object:  View [SCX].[vVariationMapping]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vVariationMapping] AS
(
    SELECT
        tShopScx.kChannel,
        tShopScx.kShop,
        tArtikel.kArtikel,
        EigenschaftSprache.cName AS VariationName,
        ISNULL(KategorieMapping.cScxVariationName, ISNULL(tVariationMapping.cScxVariationName, EigenschaftSprache.cName)) AS VariationNameMapping,
        EigenschaftwertSprache.cName AS VariationwertName,
        ISNULL(KategorieWertMapping.cScxVariationWert, ISNULL(tVariationwertMapping.cScxVariationWert, EigenschaftwertSprache.cName)) AS VariationwertNameMapping
    FROM dbo.tArtikel
    JOIN dbo.tArtikelShop ON tArtikelShop.kArtikel = tArtikel.kArtikel
    JOIN dbo.tShopScx ON tShopScx.kShop = tArtikelShop.kShop
    JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
        AND tChannel.nVariationsSupported = 1
    JOIN dbo.tSpracheUsed AS StandardSprache ON StandardSprache.nStandard = 1
    LEFT JOIN SCX.tVerkaufskanalArtikelData ON tVerkaufskanalArtikelData.kShopScx = tShopScx.kShopScx
        AND tVerkaufskanalArtikelData.kArtikel = tArtikel.kArtikel
    JOIN dbo.tEigenschaftKombiWert ON tEigenschaftKombiWert.kEigenschaftKombi = tArtikel.kEigenschaftKombi
    CROSS APPLY 
	(
		SELECT TOP(1) 
			tEigenschaftSprache.cName
		FROM dbo.tEigenschaftSprache
		JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tEigenschaftSprache.kSprache
		LEFT JOIN SCX.tChannelLanguage ON tChannelLanguage.cIso = tSpracheUsed.cISO2
			AND tChannelLanguage.kChannel = tChannel.kChannel
		WHERE tEigenschaftSprache.kEigenschaft = tEigenschaftKombiWert.kEigenschaft
			AND (tChannelLanguage.cIso IS NOT NULL OR tEigenschaftSprache.kSprache = StandardSprache.kSprache)
		ORDER BY ISNULL(tChannelLanguage.nSort, 255) ASC
	) AS EigenschaftSprache
	CROSS APPLY 
	(
		SELECT TOP(1) 
			tEigenschaftwertSprache.cName
		FROM dbo.tEigenschaftwertSprache
		JOIN dbo.tSpracheUsed ON tSpracheUsed.kSprache = tEigenschaftwertSprache.kSprache
		LEFT JOIN SCX.tChannelLanguage ON tChannelLanguage.cIso = tSpracheUsed.cISO2
			AND tChannelLanguage.kChannel = tChannel.kChannel
		WHERE tEigenschaftwertSprache.kEigenschaftWert = tEigenschaftKombiWert.kEigenschaftWert
			AND (tChannelLanguage.cIso IS NOT NULL OR tEigenschaftwertSprache.kSprache = StandardSprache.kSprache)
		ORDER BY ISNULL(tChannelLanguage.nSort, 255) ASC
	) AS EigenschaftwertSprache
	LEFT JOIN SCX.tVariationMapping ON tVariationMapping.cWawiVariationName = EigenschaftSprache.cName
        AND tVariationMapping.kChannel = tShopScx.kChannel
        AND ISNULL(tVariationMapping.kCategory, 0) = 0
    LEFT JOIN SCX.tVariationMapping AS KategorieMapping ON KategorieMapping.cWawiVariationName = EigenschaftSprache.cName
        AND KategorieMapping.kChannel = tShopScx.kChannel
        AND KategorieMapping.kCategory = tVerkaufskanalArtikelData.kCategory
        AND ISNULL(tVerkaufskanalArtikelData.kCategory, 0) > 0
    LEFT JOIN SCX.tVariationwertMapping ON tVariationwertMapping.cWawiVariationWert = EigenschaftwertSprache.cName
        AND tVariationwertMapping.kChannel = tShopScx.kChannel
        AND ISNULL(tVariationwertMapping.kCategory, 0) = 0
    LEFT JOIN SCX.tVariationwertMapping AS KategorieWertMapping ON KategorieWertMapping.cWawiVariationWert = EigenschaftwertSprache.cName
        AND KategorieWertMapping.kChannel = tShopScx.kChannel
        AND KategorieWertMapping.kCategory = tVerkaufskanalArtikelData.kCategory
        AND ISNULL(tVerkaufskanalArtikelData.kCategory, 0) > 0
);
GO
