USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tOrderItem]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tOrderItem](
	[kOrderItem] [int] IDENTITY(1,1) NOT NULL,
	[kOrder] [int] NOT NULL,
	[cOrderItemId] [nvarchar](50) NOT NULL,
	[cType] [nvarchar](8) NOT NULL,
	[kOffer] [bigint] NULL,
	[dEstimatedShippingDate] [datetime] NULL,
	[dEstimatedDeliveryDate] [datetime] NULL,
	[cShippingGroup] [nvarchar](max) NULL,
	[kAuftragPosition] [int] NULL,
	[fRemainingQuantity] [decimal](25, 13) NOT NULL,
	[cChannelOfferId] [nvarchar](50) NULL,
	[cItemStatus] [nvarchar](25) NULL,
	[nRefundUpload] [bit] NOT NULL,
	[nItemPaymentStatus] [tinyint] NOT NULL,
	[nRecalculateTax] [bit] NOT NULL,
	[nRefundUploadCount] [int] NOT NULL,
	[dRefundUploadFailedUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_SCX_tOrderItem] PRIMARY KEY CLUSTERED 
(
	[kOrderItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tOrderItem] ADD  CONSTRAINT [DF_SCX_tOrderItem_fRemainingQuantity]  DEFAULT ((0)) FOR [fRemainingQuantity]
GO
ALTER TABLE [SCX].[tOrderItem] ADD  CONSTRAINT [DF_SCX_tOrderItem_nRefundUpload]  DEFAULT ((0)) FOR [nRefundUpload]
GO
ALTER TABLE [SCX].[tOrderItem] ADD  CONSTRAINT [DF_SCX_tOrderItem_nItemPaymentStatus]  DEFAULT ((0)) FOR [nItemPaymentStatus]
GO
ALTER TABLE [SCX].[tOrderItem] ADD  CONSTRAINT [DF_SCX_tOrderItem_nRecalculateTax]  DEFAULT ((0)) FOR [nRecalculateTax]
GO
ALTER TABLE [SCX].[tOrderItem] ADD  CONSTRAINT [DF_SCX_tOrderItem_nRefundUploadCount]  DEFAULT ((0)) FOR [nRefundUploadCount]
GO
ALTER TABLE [SCX].[tOrderItem]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tOrderItem_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE SET NULL
GO
ALTER TABLE [SCX].[tOrderItem] CHECK CONSTRAINT [FK_SCX_tOrderItem_kAuftragPosition]
GO
ALTER TABLE [SCX].[tOrderItem]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tOrderItem_kOrder] FOREIGN KEY([kOrder])
REFERENCES [SCX].[tOrder] ([kOrder])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tOrderItem] CHECK CONSTRAINT [FK_SCX_tOrderItem_kOrder]
GO
