USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tShippingRule]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tShippingRule](
	[kShippingRule] [int] IDENTITY(1,1) NOT NULL,
	[kChannel] [int] NOT NULL,
	[cCarrierId] [nvarchar](100) NOT NULL,
	[cDisplayName] [nvarchar](150) NULL,
 CONSTRAINT [PK_SCX_tShippingRule] PRIMARY KEY CLUSTERED 
(
	[kShippingRule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SCX_tShippingRule_kChannel_cCarrierId] UNIQUE NONCLUSTERED 
(
	[kChannel] ASC,
	[cCarrierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tShippingRule]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tShippingRule_kChannel] FOREIGN KEY([kChannel])
REFERENCES [SCX].[tChannel] ([kChannel])
GO
ALTER TABLE [SCX].[tShippingRule] CHECK CONSTRAINT [FK_SCX_tShippingRule_kChannel]
GO
