USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tCategoryAttributeConditionalMandatory]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tCategoryAttributeConditionalMandatory](
	[kCategoryAttributeConditionalMandatory] [int] IDENTITY(1,1) NOT NULL,
	[kCategoryAttribute] [int] NOT NULL,
	[cValue] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_SCX_tCategoryAttributeConditionalMandatory] PRIMARY KEY CLUSTERED 
(
	[kCategoryAttributeConditionalMandatory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tCategoryAttributeConditionalMandatory]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tCategoryAttributeConditionalMandatory_kCategoryAttribute] FOREIGN KEY([kCategoryAttribute])
REFERENCES [SCX].[tCategoryAttribute] ([kCategoryAttribute])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tCategoryAttributeConditionalMandatory] CHECK CONSTRAINT [FK_SCX_tCategoryAttributeConditionalMandatory_kCategoryAttribute]
GO
