USE [eazybusiness]
GO
/****** Object:  View [SCX].[vFinishedSalesChannelOffer]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vFinishedSalesChannelOffer]
AS
(
	SELECT
		tOffer.kOffer,
		tOffer.cChannelOfferId,
		tShopScx.cChannel,
		tShopScx.cSellerId,
		tOffer.nStatus,
		tOffer.kShop,
		tOffer.kArtikel,		
		tOffer.nIsListed,
		tOffer.nType
	FROM SCX.tOffer
	JOIN dbo.tShopScx ON tShopScx.kShop = tOffer.kShop
    JOIN dbo.tShop ON tShop.kShop = tOffer.kShop
    LEFT JOIN dbo.tArtikelShop WITH (NOLOCK) ON tArtikelShop.kShop = tOffer.kShop
		AND tArtikelShop.kArtikel = tOffer.kArtikel    
	WHERE tOffer.nType = 0
		AND tOffer.nStatus IN (1, 4, 6)
        AND tShop.nGesperrt = 0
        AND tShop.nAktiv = 1
        AND tArtikelShop.kArtikel IS NULL
	UNION ALL
		SELECT
		tOffer.kOffer,
		tOffer.cChannelOfferId,
		tShopScx.cChannel,
		tShopScx.cSellerId,
		tOffer.nStatus,
		tOffer.kShop,
		tOffer.kArtikel,		
		tOffer.nIsListed,
		tOffer.nType
	FROM SCX.tOffer
	JOIN dbo.tShopScx ON tShopScx.kShop = tOffer.kShop
    JOIN dbo.tShop ON tShop.kShop = tOffer.kShop
    JOIN SCX.tExternOffer ON tOffer.kOffer = tExternOffer.kOffer
	WHERE tOffer.nType = 1
		AND tExternOffer.nAktion & 8 > 0
		AND tOffer.nStatus IN (4, 6)
        AND tShop.nGesperrt = 0
        AND tShop.nAktiv = 1
)
GO
