USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferStockUploadKeys]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferStockUploadKeys]
AS
(
	SELECT 
		tOffer.kOffer, 
		tArtikelShop.kShop,
		tArtikelShop.kArtikel
	FROM dbo.tArtikelShop
	JOIN SCX.tOffer ON tOffer.kArtikel = tArtikelShop.kArtikel
		AND tOffer.kShop = tArtikelShop.kShop
		AND tOffer.nIsListed = 1
	JOIN dbo.tShop ON tArtikelShop.kShop = tShop.kShop
	    AND tShop.nTyp = 6 --SCX
		AND tShop.nGesperrt = 0
		AND tShop.nAktiv = 1
	JOIN dbo.tShopScx ON tShopScx.kShop = tShop.kShop
		AND tShopScx.nBestandsaktualisierung = 1
	JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelShop.kArtikel
	WHERE tArtikelShop.cInet = 'Y'
		AND tArtikelShop.cDelInet <> 'Y'
		AND tArtikelShop.nAktion & 4 > 0
		AND tOffer.nStatus IN (2, 3, 4, 6) --2 = Hochgeladen;  3 = InPruefung; 4 = Eingestellt; 6 = Fehlerhaft;
		AND tArtikel.nIstVater = 0
)
GO
