USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tRefreshToken]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tRefreshToken](
	[kRefreshToken] [int] IDENTITY(1,1) NOT NULL,
	[cRefreshToken] [nvarchar](255) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[cSessionToken] [nvarchar](max) NULL,
	[dSessionTokenExpiresAtUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_tRefreshToken] PRIMARY KEY CLUSTERED 
(
	[kRefreshToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
