USE [eazybusiness]
GO
/****** Object:  View [SCX].[vMetaDataChanged]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vMetaDataChanged]
AS
(
	SELECT
		tMetaDataChanged.kMetaDataChanged,
        tMetaDataChanged.cType,
        tMetaDataChanged.cResource,
        tMetaDataChanged.cSellerId,
        tMetaDataChanged.kChannel,
        tMetaDataChanged.dCreatedAfter,
        tMetaDataChanged.nApiModeType,
        tMetaDataChanged.nCount,
        tMetaDataChanged.dMetaDataChangedRequestFailedUtc
	FROM SCX.tMetaDataChanged
	WHERE tMetaDataChanged.nCount < 3
		AND (tMetaDataChanged.dMetaDataChangedRequestFailedUtc IS NULL OR tMetaDataChanged.dMetaDataChangedRequestFailedUtc < DATEADD(MINUTE, -30, GETUTCDATE()))	
)
GO
