USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tOrderShipping]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tOrderShipping](
	[kOrderShipping] [int] IDENTITY(1,1) NOT NULL,
	[kOrder] [int] NOT NULL,
	[kLieferschein] [int] NOT NULL,
	[dCreatedAtUtc] [datetime] NOT NULL,
	[dUploadedAtUtc] [datetime] NULL,
	[nCount] [tinyint] NOT NULL,
	[dUploadFailedUtc] [datetime2](7) NULL,
 CONSTRAINT [PK_SCX_tOrderShipping] PRIMARY KEY CLUSTERED 
(
	[kOrderShipping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tOrderShipping] ADD  CONSTRAINT [DF_SCX_tOrderShipping_nCount]  DEFAULT ((0)) FOR [nCount]
GO
ALTER TABLE [SCX].[tOrderShipping]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tOrderShipping_kLieferschein] FOREIGN KEY([kLieferschein])
REFERENCES [dbo].[tLieferschein] ([kLieferschein])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tOrderShipping] CHECK CONSTRAINT [FK_SCX_tOrderShipping_kLieferschein]
GO
