USE [eazybusiness]
GO
/****** Object:  View [SCX].[vRefund]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vRefund]
AS
(
	SELECT
		tOrderItem.kOrderItem AS kOrderItemId,
		tOrder.cChannel,
		tGutschriftPos.tGutschrift_kGutschrift AS kRefund,
		tOrder.cSellerId,
		tAuftrag.cExterneAuftragsnummer AS cOrderId,
		tOrderItem.cOrderItemId,
		tGutschriftPos.nAnzahl AS nQuantity,
		'NO_REASON' AS cReason,
        ISNULL(CAST(tGutschriftPos.fVKPreis * IIF(tGutschriftPos.fRabatt > 0.0, 1.0 - (tGutschriftPos.fRabatt / 100.0), 1.0) AS DECIMAL(25,13)), 0.0) AS fRefund,
		tgutschrift.cWaehrung AS cRefundCurrency,
		tOrderItem.nRefundUpload
	FROM dbo.tGutschriftPos
	JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = tGutschriftPos.tGutschrift_kGutschrift
	JOIN SCX.tOrderItem ON tOrderItem.kAuftragPosition = tGutschriftPos.kBestellPos
	JOIN SCX.tOrder ON tOrder.kOrder = tOrderItem.kOrder
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
	JOIN dbo.tShop ON tShop.kShop = tAuftrag.kShop
	WHERE tgutschrift.nStorno = 0 
		AND tgutschrift.nStornoTyp = 0
		AND tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
        AND LEN(ISNULL(tgutschrift.cGutschriftNr, '')) > 0
		AND (tOrderItem.dRefundUploadFailedUtc IS NULL OR tOrderItem.dRefundUploadFailedUtc < DATEADD(MINUTE, -30, GETUTCDATE()))
)
GO
