USE [eazybusiness]
GO
/****** Object:  View [SCX].[vBelegUploadData]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vBelegUploadData]
AS
(
	SELECT
		tBelegUploadQueue.kBelegUploadQueue,
		tBelegUploadQueue.kOrder,
		tBelegUploadQueue.nBelegtyp,
		tShopScx.cSellerId,
		tBelegUploadQueue.cExterneAuftragsnummer,
		tBelegUploadQueue.cBelegnummer,
		tShopScx.cChannel,
		tBelegUploadQueue.kAuftrag,
		tBelegUploadQueue.kBeleg,
		tBelegUploadQueue.nStatus,
		tBelegUploadQueue.nUploadVersuche
	FROM SCX.tBelegUploadQueue 	
	JOIN dbo.tShopScx ON tShopScx.kShop = tBelegUploadQueue.kShop
	JOIN dbo.tShop ON tShop.kShop = tBelegUploadQueue.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	LEFT JOIN dbo.tOptions AS UploadVersuche ON UploadVersuche.cKey = 'SCX.BuchungsdatenPdf.MaxUploadVersuche'
	WHERE tBelegUploadQueue.nUploadVersuche < ISNULL(CAST(UploadVersuche.cValue AS INT), 3)
		AND tChannel.nInvoiceDocumentTransfer = 1
		AND tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
)
GO
