USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderShippingItemIdList]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderShippingItemIdList]
AS
(
	SELECT
		tOrderItem.kOrderItem AS kOrderItem,
		tAuftragPosition.kAuftragPosition AS kAuftragPosition,
		tOrderItem.cOrderItemId AS cOrderItemIdExternal,
		tAuftragPosition.fAnzahl AS fQuantity,
		tOrderItem.kOrder AS kOrder,
		tLieferscheinPos.kLieferschein AS kDeliveryNote
	FROM SCX.tOrderItem
	JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tOrderItem.kAuftragPosition
	LEFT JOIN dbo.tLieferscheinPos ON tLieferscheinPos.kBestellPos = tAuftragPosition.kAuftragPosition
	WHERE ISNULL(tAuftragPosition.kAuftragStueckliste, 0) = tAuftragPosition.kAuftragPosition
		OR tAuftragPosition.kAuftragStueckliste IS NULL
)
GO
