USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferChannelAttribute]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferChannelAttribute] AS
(
	SELECT 
		tShopScx.kShop,
		tVerkaufskanalChannelFeldWert.kShopScx,
		ISNULL(tVerkaufskanalChannelFeldWert.cAttributeId, tVerkaufskanalChannelFeldWert.cName) AS cAttribute,
		IIF(LEN(ISNULL(tFileMapping.cScxHash, '')) > 0, tFileMapping.cScxHash, tVerkaufskanalChannelFeldWert.cWert) AS cValue,
		tVerkaufskanalChannelFeldWert.nIsDotLiquidValue,
		tVerkaufskanalChannelFeldWert.nReferenzGruppe
	FROM SCX.tVerkaufskanalChannelFeldWert 
	JOIN dbo.tShopScx ON tShopScx.kShopScx = tVerkaufskanalChannelFeldWert.kShopScx
	LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tVerkaufskanalChannelFeldWert.kfile
)
GO
