USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tReport]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tReport](
	[kReport] [int] IDENTITY(1,1) NOT NULL,
	[kShop] [int] NOT NULL,
	[cReportId] [nvarchar](255) NULL,
	[cReportType] [nvarchar](255) NOT NULL,
	[cResource] [nvarchar](max) NULL,
	[dCreated] [datetime] NOT NULL,
	[dRequested] [datetime] NULL,
	[dStartDate] [datetime] NULL,
	[dEndDate] [datetime] NULL,
	[bDaten] [varbinary](max) NULL,
	[nStatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_SCX_tReport] PRIMARY KEY CLUSTERED 
(
	[kReport] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tReport] ADD  CONSTRAINT [DF_SCX_tReport_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
