USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderReturn]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderReturn]
AS
(
	SELECT
		tAuftrag.kAuftrag,
		tOrder.cChannel,
		tOrder.cSellerId,
		tAuftrag.cExterneAuftragsnummer AS cOrderId,
		tRMRetoure.kRMRetoure AS kSellerReturnId,
        tOrderReturnMapping.cChannelReturnId,
        tOrder.kOrder AS kInternalOrder
	FROM SCX.tOrder
	JOIN dbo.tRMRetoure ON tRMRetoure.kBestellung = tOrder.kAuftrag
    LEFT JOIN SCX.tOrderReturnMapping ON tOrderReturnMapping.kOrder = tOrder.kOrder
        AND tOrderReturnMapping.kRMRetoure = tRMRetoure.kRMRetoure
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
	JOIN dbo.tShop ON tShop.kShop = tAuftrag.kShop
	WHERE tOrder.nReturnUpload = 1
        AND tOrder.nReturnUploaded = 0
		AND tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
		AND tOrder.nReturnUploadCount < 3
		AND (tOrder.dReturnUploadFailedUtc IS NULL OR tOrder.dReturnUploadFailedUtc < DATEADD(MINUTE, -30, GETUTCDATE()))
)
GO
