USE [eazybusiness]
GO
/****** Object:  View [SCX].[vReturnOrderItem]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vReturnOrderItem]
AS
(
	SELECT
		tAuftragPosition.kAuftrag,
		tLieferscheinPos.kLieferscheinPos,
		tAuftragPosition.kArtikel,
		tAuftragPosition.kAuftragPosition,
		tOrderItem.cOrderItemId,
		tOrder.cChannel,
		tOrder.cSellerId,
		tAuftragPosition.cArtNr AS ProductNumber,
		tAuftragPosition.cName AS ProductName,
        IIF(ISNULL(StuecklisteVater.fAnzahl, 0) > 0, tAuftragPosition.fAnzahl / StuecklisteVater.fAnzahl, NULL) fAnzahlStuecklistenkomponente
	FROM Verkauf.tAuftragPosition
	JOIN dbo.tLieferscheinPos ON tLieferscheinPos.kBestellPos = tAuftragPosition.kAuftragPosition
	JOIN SCX.tOrderItem ON tOrderItem.kAuftragPosition = tAuftragPosition.kAuftragPosition
	JOIN SCX.tOrder ON tOrder.kAuftrag = tAuftragPosition.kAuftrag
    LEFT JOIN Verkauf.tAuftragPosition AS StuecklisteVater ON StuecklisteVater.kAuftragPosition = tAuftragPosition.kAuftragStueckliste
	WHERE ISNULL(tAuftragPosition.kAuftragStueckliste, 0) != tAuftragPosition.kAuftragPosition
)
GO
