USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tShippingRuleMapping]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tShippingRuleMapping](
	[kVersandart] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[kShippingRule] [int] NOT NULL,
 CONSTRAINT [PK_SCX_tShippingRuleMapping] PRIMARY KEY CLUSTERED 
(
	[kVersandart] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
