USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferUpdateMissingUploadData]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferUpdateMissingUploadData]
AS
(	
	SELECT 
		SUM(IIF(Bilder.kProduct IS NULL, 0, 1)) AS nBilderAnzahl,
		SUM(IIF(Files.kfile IS NULL, 0, 1)) AS nDateienAnzahl
	FROM dbo.tArtikelShop
	JOIN dbo.tShop ON tShop.kShop = tArtikelShop.kShop
		AND tShop.nTyp = 6 --SCX
		AND tShop.nGesperrt = 0
		AND tShop.nAktiv = 1 
	JOIN SCX.tOffer ON tOffer.kArtikel = tArtikelShop.kArtikel
		AND tOffer.kShop = tArtikelShop.kShop
		AND tOffer.nStatus <> 5 --Beendet		
	JOIN dbo.tShopScx ON tShop.kShop = tShopScx.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	OUTER APPLY 
	(
		SELECT TOP 1
			vOfferPicture.kProduct
		FROM SCX.vOfferPicture
		WHERE vOfferPicture.kProduct = tArtikelShop.kArtikel
			AND vOfferPicture.kShop = tArtikelShop.kShop
			AND vOfferPicture.cScxHash IS NULL
	) AS Bilder
	OUTER APPLY 
	(
		SELECT TOP 1
			tArtikelVerkaufskanalFeldWert.kfile
		FROM SCX.tArtikelVerkaufskanalFeldWert
		LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tArtikelVerkaufskanalFeldWert.kfile
		WHERE tArtikelVerkaufskanalFeldWert.kArtikel = tArtikelShop.kArtikel
			AND tArtikelVerkaufskanalFeldWert.kShopScx = tShopScx.kShopScx
			AND tFileMapping.kFileMapping IS NULL
			AND tArtikelVerkaufskanalFeldWert.kfile IS NOT NULL
	) AS Files
	WHERE tArtikelShop.cInet = 'Y'
		AND tOffer.nIsListed = 1
		AND (tArtikelShop.nAktion & 1 > 0 
			OR tArtikelShop.nAktion & 2 > 0 AND tChannel.nPriceUpdatesSupported = 0)		
		AND tOffer.nStatus IN (2, 3, 4, 6) --2 = Hochgeladen;  3 = InPruefung; 4 = Eingestellt; 6 = Fehlerhaft
		AND (Bilder.kProduct IS NOT NULL OR Files.kfile IS NOT NULL)
)
GO
