USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderShippingShippedFrom]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderShippingShippedFrom] AS
(
    SELECT
        tAuftrag.kAuftrag,
        ISNULL(tWarenLager.cOrt, tFirmaHistory.cOrt) AS cCity,
        ISNULL(tland.cISO, tAuftrag.cVersandlandISO) AS cCountryIso,
        ISNULL(tWarenLager.cPLZ, tFirmaHistory.cPLZ) AS cPostcode
    FROM Verkauf.tAuftrag
    JOIN dbo.tland ON tland.cISO = tAuftrag.cVersandlandISO
    OUTER APPLY
    (
        SELECT TOP 1
            ISNULL(tWarenLager.cOrt, Fallback.cOrt) AS cOrt,
            ISNULL(tWarenLager.cPLZ, Fallback.cPLZ) AS cPlz
        FROM dbo.tLieferschein
        JOIN dbo.tLieferscheinPos ON tLieferscheinPos.kLieferschein = tLieferschein.kLieferschein
        LEFT JOIN dbo.tWarenLagerAusgang ON tWarenLagerAusgang.kLieferscheinPos = tLieferscheinPos.kLieferscheinPos
        LEFT JOIN dbo.tWarenLagerPlatz ON tWarenLagerPlatz.kWarenLagerPlatz = tWarenLagerAusgang.kWarenLagerPlatz
        LEFT JOIN dbo.tWarenLager ON tWarenLager.kWarenLager = tWarenLagerPlatz.kWarenLager
            AND tWarenLager.cLand = tland.cName
        CROSS APPLY
        (
            SELECT 
                tWarenLager.cOrt,
                tWarenLager.cPLZ
            FROM dbo.tWarenLager
            WHERE tWarenLager.cLand = tland.cName
                AND LEN(ISNULL(tWarenLager.cOrt, '')) > 0
                AND LEN(ISNULL(tWarenLager.cPLZ, '')) > 0
        ) AS Fallback
        WHERE tLieferschein.kBestellung = tAuftrag.kAuftrag
    ) AS tWarenLager
    JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tAuftrag.kFirmaHistory
    WHERE LEN(ISNULL(tWarenLager.cOrt, tFirmaHistory.cOrt)) > 0
        AND LEN(ISNULL(tland.cISO, tAuftrag.cVersandlandISO)) > 0
        AND LEN(ISNULL(tWarenLager.cPLZ, tFirmaHistory.cPLZ)) > 0
)
GO
