USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tChannelPriceType]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tChannelPriceType](
	[kChannelPriceType] [int] IDENTITY(1,1) NOT NULL,
	[kChannel] [int] NOT NULL,
	[kShop] [int] NOT NULL,
	[cPriceTypeId] [nvarchar](100) NULL,
	[cDisplayName] [nvarchar](max) NULL,
	[cDescription] [nvarchar](max) NULL,
	[kKundenGruppe] [int] NULL,
 CONSTRAINT [PK_SCX_tChannelPriceType] PRIMARY KEY CLUSTERED 
(
	[kChannelPriceType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tChannelPriceType]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tChannelPriceType_kChannel] FOREIGN KEY([kChannel])
REFERENCES [SCX].[tChannel] ([kChannel])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tChannelPriceType] CHECK CONSTRAINT [FK_SCX_tChannelPriceType_kChannel]
GO
ALTER TABLE [SCX].[tChannelPriceType]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tChannelPriceType_kKundenGruppe] FOREIGN KEY([kKundenGruppe])
REFERENCES [dbo].[tKundenGruppe] ([kKundenGruppe])
ON DELETE SET NULL
GO
ALTER TABLE [SCX].[tChannelPriceType] CHECK CONSTRAINT [FK_SCX_tChannelPriceType_kKundenGruppe]
GO
ALTER TABLE [SCX].[tChannelPriceType]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tChannelPriceType_kShop] FOREIGN KEY([kShop])
REFERENCES [dbo].[tShop] ([kShop])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tChannelPriceType] CHECK CONSTRAINT [FK_SCX_tChannelPriceType_kShop]
GO
