USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tOfferPrice]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tOfferPrice](
	[kOfferPrice] [bigint] IDENTITY(1,1) NOT NULL,
	[kOffer] [bigint] NOT NULL,
	[kChannelPriceType] [int] NOT NULL,
	[fLastPrice] [decimal](25, 13) NOT NULL,
	[fQuantity] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_SCX_tOfferPrice] PRIMARY KEY CLUSTERED 
(
	[kOfferPrice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tOfferPrice]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tOfferPrice_kChannelPriceType] FOREIGN KEY([kChannelPriceType])
REFERENCES [SCX].[tChannelPriceType] ([kChannelPriceType])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tOfferPrice] CHECK CONSTRAINT [FK_SCX_tOfferPrice_kChannelPriceType]
GO
ALTER TABLE [SCX].[tOfferPrice]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tOfferPrice_kOffer] FOREIGN KEY([kOffer])
REFERENCES [SCX].[tOffer] ([kOffer])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tOfferPrice] CHECK CONSTRAINT [FK_SCX_tOfferPrice_kOffer]
GO
