USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvZuAktualisierendeVersanddaten]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvZuAktualisierendeVersanddaten]
AS
(
	SELECT 
	    tOrderShipping.kOrderShipping,
		tLieferschein.kLieferschein,
	    tOrder.kOrder, 
	    tShop.kShop,  		
		tShopScx.kShopScx,
		tAuftrag.kAuftrag,
		tShop.cName AS cShopName,
		tChannel.cDisplayName AS cChannelDisplayName,
		tLieferschein.cLieferscheinNr, 
		tAuftrag.cAuftragsNr, 
		tAuftrag.cExterneAuftragsnummer, 
		ISNULL(tLieferschein.dErstellt, tAuftrag.dErstellt) AS dErstellt,		
		tOrderShipping.dUploadFailedUtc,
		tOrderShipping.nCount,
		4 - tOrderShipping.nCount AS nUploadCountUebrig,
		CASE WHEN tOrderShipping.nCount < 4 THEN 1 --Warte auf Upload
			ELSE 2 --Fehlerhaft
		END nStatus
	FROM SCX.tOrderShipping
	JOIN SCX.tOrder ON tOrder.kOrder = tOrderShipping.kOrder
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
	JOIN dbo.tLieferschein ON tLieferschein.kLieferschein = tOrderShipping.kLieferschein	
	JOIN dbo.tShopScx ON tShopScx.cSellerId = tOrder.cSellerId
			AND tShopScx.cChannel = tOrder.cChannel
	JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	WHERE tOrderShipping.dUploadedAtUtc IS NULL
			AND tShop.nAktiv = 1
			AND tShop.nGesperrt = 0
	
)
GO
