USE [eazybusiness]
GO
/****** Object:  View [SCX].[vChannelAttributeValue]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vChannelAttributeValue] AS
(	
	SELECT 
		tChannelAttribute.cAttributeId,
		tChannelAttributeValue.cValue,
		tShopScx.kShopScx,
        tChannelAttributeValue.cDisplayName
	FROM SCX.tChannelAttributeValue
	JOIN SCX.tChannelAttribute ON tChannelAttributeValue.kChannelAttribute = tChannelAttribute.kChannelAttribute
	JOIN dbo.tShopScx ON tChannelAttribute.kChannel = tShopScx.kChannel
	UNION
	SELECT 
		tSellerAttribute.cAttributeId,
		tSellerAttributeValue.cValue,
		tShopScx.kShopScx,
        tSellerAttributeValue.cDisplayName
	FROM SCX.tSellerAttributeValue
	JOIN SCX.tSellerAttribute ON tSellerAttributeValue.kSellerAttribute = tSellerAttribute.kSellerAttribute
	JOIN dbo.tShopScx ON tShopScx.kShop = tSellerAttribute.kShop
)
GO
