USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tReturnStatusMapping]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tReturnStatusMapping](
	[kReturnStatusMapping] [int] IDENTITY(1,1) NOT NULL,
	[kRMStatus] [int] NOT NULL,
	[nAccepted] [bit] NOT NULL,
 CONSTRAINT [PK_SCX_tReturnStatusMapping] PRIMARY KEY CLUSTERED 
(
	[kReturnStatusMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
