USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvZuAktualisierendeZahlungen]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvZuAktualisierendeZahlungen] AS
(
	SELECT	    
		tOrder.kOrder,
        tShop.kShop,  		
		tShopScx.kShopScx,
		tShop.cName AS cShopName,
		tOrder.nPaymentUpload,
		tAuftrag.cAuftragsNr,
		tAuftrag.cExterneAuftragsnummer,		
 		tChannel.cDisplayName AS cChannelDisplayName,
		tAuftragEckdaten.fWertBrutto AS fAuftragWertBrutto,
		tAuftragEckdaten.fZahlung AS fAuftragZahlungBrutto,
		tAuftrag.dErstellt,
		tAuftrag.kAuftrag,
		tOrder.nPaymentUploadCount,
		tOrder.dPaymentUploadFailedUtc,
		3 - tOrder.nPaymentUploadCount AS nUploadCountUebrig,
		CASE WHEN tOrder.nPaymentUploadCount < 3 THEN 1 --Warte auf Upload
			ELSE 2 --Fehlerhaft
		END nStatus
	FROM SCX.tOrder
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag	
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tShopScx ON tShopScx.cSellerId = tOrder.cSellerId
		AND tShopScx.cChannel = tOrder.cChannel
	JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	WHERE tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
		AND tOrder.nPaymentUpload > 0  		
);
GO
