USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferProductAttribute]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferProductAttribute] AS
(
	SELECT 
		tShopScx.kShop,
		tArtikelVerkaufskanalFeldWert.kArtikel,
		tArtikelVerkaufskanalFeldWert.kShopScx,
		ISNULL(tArtikelVerkaufskanalFeldWert.cAttributeId, tArtikelVerkaufskanalFeldWert.cName) AS cAttribute,
		IIF(LEN(ISNULL(tFileMapping.cScxHash, '')) > 0, tFileMapping.cScxHash, tArtikelVerkaufskanalFeldWert.cWert) AS cValue,
		tArtikelVerkaufskanalFeldWert.nIsDotLiquidValue,
		tArtikelVerkaufskanalFeldWert.nReferenzGruppe
	FROM SCX.tArtikelVerkaufskanalFeldWert
	JOIN dbo.tShopScx ON tShopScx.kShopScx = tArtikelVerkaufskanalFeldWert.kShopScx
    LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tArtikelVerkaufskanalFeldWert.kfile
)
GO
