USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvZuAktualisierendeStorno]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvZuAktualisierendeStorno] AS
(
	SELECT	    
		tOrder.kOrder,
        tShop.kShop,  		
		tShopScx.kShopScx,
		tShop.cName AS cShopName,
		tOrder.nCancellationUpload,
		tAuftrag.cAuftragsNr,
		tAuftrag.cExterneAuftragsnummer,				
 		tChannel.cDisplayName AS cChannelDisplayName,
		tAuftragEckdaten.fWertBrutto AS fAuftragWertBrutto,
		tAuftrag.dErstellt,
		tAuftrag.kAuftrag,
		tOrder.nCancellationUploadCount,
		tOrder.dCancellationUploadFailedUtc,
		3 - tOrder.nCancellationUploadCount AS nUploadCountUebrig,
		CASE WHEN tOrder.nCancellationUploadCount < 3 THEN 1 --Warte auf Upload
			ELSE 2 --Fehlerhaft
		END nStatus
	FROM SCX.tOrder 
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag		
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tShopScx ON tShopScx.cSellerId = tOrder.cSellerId
		AND tShopScx.cChannel = tOrder.cChannel
	JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	WHERE tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
		AND tOrder.nCancellationUpload > 0   		
);
GO
