USE [eazybusiness]
GO
/****** Object:  View [SCX].[vReturnOrder]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vReturnOrder]
AS
(
	SELECT
		tAuftrag.kAuftrag,
		tAuftrag.kKunde,
		tFirmaHistory.kFirma,
		CASE WHEN ISNULL(tShop.kWarenlagerRetoure, 0) = 0
			THEN RetourenlagerDefault.kWarenLager
			ELSE ISNULL(tShop.kWarenlagerRetoure, RetourenlagerDefault.kWarenLager)
		END AS kWarehouseReturn,
		tAuftrag.cExterneAuftragsnummer AS cExternalOrderId,
		tOrder.cChannel,
		tOrder.cSellerId,
        tOrder.kOrder
	FROM Verkauf.tAuftrag
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tAuftrag.kFirmaHistory
	JOIN SCX.tOrder ON tOrder.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tShop ON tShop.kShop = tAuftrag.kShop
	CROSS JOIN 
	(
		SELECT TOP(1)
			tWarenLager.kWarenLager
		FROM dbo.tWarenLager
	) AS RetourenlagerDefault
)
GO
