USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvReport]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvReport] AS
(
	SELECT 
		tReport.kReport, 
		tReport.kShop, 
		tReport.cReportId AS cScxReportId, 
		tReport.cReportType, 
		tReport.cResource, 
		tReport.dCreated,
		tReport.dRequested, 
		tReport.dStartDate, 
		tReport.dEndDate, 	
		tReport.nStatus
	FROM SCX.tReport 
);
GO
