USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferCreateMissingUploadData]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferCreateMissingUploadData]
AS
(	
	SELECT 
		SUM(IIF(Bilder.kProduct IS NULL, 0, 1)) AS nBilderAnzahl,
		SUM(IIF(Files.kfile IS NULL, 0, 1)) AS nDateienAnzahl
	FROM dbo.tArtikelShop
	JOIN dbo.tShop ON tShop.kShop = tArtikelShop.kShop
		AND tShop.nTyp = 6 --SCX
		AND tShop.nGesperrt = 0
		AND tShop.nAktiv = 1
	JOIN dbo.tShopScx ON tShopScx.kShop = tShop.kShop
	JOIN SCX.tOffer ON tOffer.kArtikel = tArtikelShop.kArtikel
		AND tOffer.kShop = tArtikelShop.kShop
		AND tOffer.nStatus <> 5 --Beendet
	OUTER APPLY 
	(
		SELECT TOP 1
			vOfferPicture.kProduct
		FROM SCX.vOfferPicture
		WHERE vOfferPicture.kProduct = tArtikelShop.kArtikel
			AND vOfferPicture.kShop = tArtikelShop.kShop
			AND vOfferPicture.cScxHash IS NULL
	) AS Bilder
	OUTER APPLY 
	(
		SELECT TOP 1
			tArtikelVerkaufskanalFeldWert.kfile
		FROM SCX.tArtikelVerkaufskanalFeldWert
		LEFT JOIN SCX.tFileMapping ON tFileMapping.kFile = tArtikelVerkaufskanalFeldWert.kfile
		WHERE tArtikelVerkaufskanalFeldWert.kArtikel = tArtikelShop.kArtikel
			AND tArtikelVerkaufskanalFeldWert.kShopScx = tShopScx.kShopScx
			AND tFileMapping.kFileMapping IS NULL
			AND tArtikelVerkaufskanalFeldWert.kfile IS NOT NULL
	) AS Files
	WHERE tArtikelShop.cInet = 'Y'
		AND tOffer.nStatus IN (1, 6) -- 1 = WarteAufHochladen; 6 = Fehlerhaft
		AND tOffer.nIsListed = 0
		AND (Bilder.kProduct IS NOT NULL OR Files.kfile IS NOT NULL)
)
GO
