USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tOrderCancellationEvent]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tOrderCancellationEvent](
	[kOrderCancellationEvent] [int] IDENTITY(1,1) NOT NULL,
	[cChannel] [nvarchar](15) NOT NULL,
	[cSellerId] [nvarchar](50) NOT NULL,
	[cOrderCancellationRequestId] [nvarchar](255) NOT NULL,
	[cReason] [nvarchar](250) NULL,
	[nType] [tinyint] NOT NULL,
	[nCount] [tinyint] NOT NULL,
	[dCancellationUploadFailedUtc] [datetime2](7) NULL,
	[kAuftrag] [int] NULL,
 CONSTRAINT [PK_SCX_tOrderCancellationEvent] PRIMARY KEY CLUSTERED 
(
	[kOrderCancellationEvent] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tOrderCancellationEvent] ADD  CONSTRAINT [DF_SCX_tOrderCancellationEvent_nCount]  DEFAULT ((0)) FOR [nCount]
GO
ALTER TABLE [SCX].[tOrderCancellationEvent]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tOrderCancellationEvent_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [SCX].[tOrderCancellationEvent] CHECK CONSTRAINT [FK_SCX_tOrderCancellationEvent_kAuftrag]
GO
