USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderItem]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderItem]
AS
(
    SELECT
        tOrderItem.kOrderItem,
        tOrderItem.kOrder,
        tAuftragPosition.kAuftrag,
        tOrderItem.kAuftragPosition,
        tOrderItem.nRecalculateTax
    FROM SCX.tOrderItem
    JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tOrderItem.kAuftragPosition
)
GO
