USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tOrder]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tOrder](
	[kOrder] [int] IDENTITY(1,1) NOT NULL,
	[cEventId] [nvarchar](255) NOT NULL,
	[cChannel] [nvarchar](15) NOT NULL,
	[cSellerId] [nvarchar](50) NOT NULL,
	[nPaymentUpload] [bit] NOT NULL,
	[cOrderStatus] [nvarchar](255) NOT NULL,
	[cPaymentMethod] [nvarchar](150) NULL,
	[cPaymentReference] [nvarchar](255) NULL,
	[kAuftrag] [int] NULL,
	[nCancellationUpload] [bit] NOT NULL,
	[cOrderCancellationRequestId] [nvarchar](255) NULL,
	[nReturnUpload] [bit] NOT NULL,
	[nInvoiceUpload] [bit] NOT NULL,
	[nInvoiceCorrectionUpload] [bit] NOT NULL,
	[cLanguage] [nvarchar](2) NULL,
	[nPaymentUploadCount] [int] NOT NULL,
	[nCancellationUploadCount] [int] NOT NULL,
	[nReturnUploadCount] [int] NOT NULL,
	[dPaymentUploadFailedUtc] [datetime2](7) NULL,
	[dReturnUploadFailedUtc] [datetime2](7) NULL,
	[dCancellationUploadFailedUtc] [datetime2](7) NULL,
	[nReturnUploaded] [bit] NOT NULL,
 CONSTRAINT [PK_SCX_tOrder] PRIMARY KEY CLUSTERED 
(
	[kOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tOrder] ADD  CONSTRAINT [DF_SCX_tOrder_nPaymentUpload]  DEFAULT ((0)) FOR [nPaymentUpload]
GO
ALTER TABLE [SCX].[tOrder] ADD  CONSTRAINT [DF_SCX_tOrder_nCancellationUpload]  DEFAULT ((0)) FOR [nCancellationUpload]
GO
ALTER TABLE [SCX].[tOrder] ADD  CONSTRAINT [DF_SCX_tOrder_nReturnUpload]  DEFAULT ((0)) FOR [nReturnUpload]
GO
ALTER TABLE [SCX].[tOrder] ADD  CONSTRAINT [DF_SCX_tOrder_nInvoiceUpload]  DEFAULT ((0)) FOR [nInvoiceUpload]
GO
ALTER TABLE [SCX].[tOrder] ADD  CONSTRAINT [DF_SCX_tOrder_nInvoiceCorrectionUpload]  DEFAULT ((0)) FOR [nInvoiceCorrectionUpload]
GO
ALTER TABLE [SCX].[tOrder] ADD  CONSTRAINT [DF_SCX_tOrder_nPaymentUploadCount]  DEFAULT ((0)) FOR [nPaymentUploadCount]
GO
ALTER TABLE [SCX].[tOrder] ADD  CONSTRAINT [DF_SCX_tOrder_nCancellationUploadCount]  DEFAULT ((0)) FOR [nCancellationUploadCount]
GO
ALTER TABLE [SCX].[tOrder] ADD  CONSTRAINT [DF_SCX_tOrder_nReturnUploadCount]  DEFAULT ((0)) FOR [nReturnUploadCount]
GO
ALTER TABLE [SCX].[tOrder] ADD  CONSTRAINT [DF_SCX_tOrder_nReturnUploaded]  DEFAULT ((0)) FOR [nReturnUploaded]
GO
ALTER TABLE [SCX].[tOrder]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tOrder_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE SET NULL
GO
ALTER TABLE [SCX].[tOrder] CHECK CONSTRAINT [FK_SCX_tOrder_kAuftrag]
GO
