USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferPictureUpload]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferPictureUpload]
AS
(
    SELECT
        PictureMappings.kBild,
        PictureMappings.cHash,
        PictureMappings.cScxHash,
        tBild.bBild,
        PictureMappings.fDateigroesseMb,
        SUM(tBild.nDateigroesse / 1024.0 / 1024.0) OVER (ORDER BY tBild.kBild ASC) AS fKomulierteDateigroesse
    FROM
    (
        SELECT DISTINCT
            tBild.kBild,
            tBild.cHash,
            tPictureMapping.cScxHash,
            tBild.nDateigroesse / 1024.0 / 1024.0 AS fDateigroesseMb
        FROM dbo.tArtikelbildPlattform
        JOIN dbo.tBild ON tArtikelbildPlattform.kBild = tBild.kBild
        JOIN dbo.tShop ON tArtikelbildPlattform.kShop = tShop.kShop
        JOIN dbo.tArtikelShop ON tArtikelShop.kArtikel = tArtikelbildPlattform.kArtikel
            AND tArtikelShop.kShop = tArtikelbildPlattform.kShop
        LEFT JOIN SCX.tPictureMapping ON tPictureMapping.kPicture = tArtikelbildPlattform.kBild
        WHERE tShop.nTyp = 6
            AND tShop.nGesperrt = 0
            AND tShop.nAktiv = 1
            AND tArtikelbildPlattform.kPlattform = 8
            AND tBild.nDateigroesse / 1024.0 / 1024.0 <= 16
            AND tPictureMapping.cScxHash IS NULL
            AND REVERSE(SUBSTRING(REVERSE(tBild.cHash), 1, CHARINDEX('.', REVERSE(tBild.cHash)))) IN ('.gif', '.jpg', '.jpeg', '.png', '.svg')
    ) AS PictureMappings
    JOIN dbo.tBild ON tBild.kBild = PictureMappings.kBild
)
GO
