USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tChannelLanguage]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tChannelLanguage](
	[kChannel] [int] NOT NULL,
	[cIso] [nvarchar](2) NOT NULL,
	[nSort] [tinyint] NOT NULL,
 CONSTRAINT [UQ_SCX_tChannelLanguage_kChannel_cIso] UNIQUE NONCLUSTERED 
(
	[kChannel] ASC,
	[cIso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tChannelLanguage]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tChannelLanguage_kChannel] FOREIGN KEY([kChannel])
REFERENCES [SCX].[tChannel] ([kChannel])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tChannelLanguage] CHECK CONSTRAINT [FK_SCX_tChannelLanguage_kChannel]
GO
