USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tExternOffer]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tExternOffer](
	[kExternOffer] [bigint] IDENTITY(1,1) NOT NULL,
	[kOffer] [bigint] NOT NULL,
	[cTitle] [nvarchar](max) NULL,
	[cSKU] [nvarchar](100) NULL,
	[cGTIN] [nvarchar](255) NULL,
	[nAktion] [int] NOT NULL,
	[cJsonAttributes] [nvarchar](max) NULL,
 CONSTRAINT [PK_SCX_tExternOffer] PRIMARY KEY CLUSTERED 
(
	[kExternOffer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tExternOffer] ADD  CONSTRAINT [DF_SCX_tExternOffer_nAktion]  DEFAULT ((0)) FOR [nAktion]
GO
ALTER TABLE [SCX].[tExternOffer]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tExternOffer_kOffer] FOREIGN KEY([kOffer])
REFERENCES [SCX].[tOffer] ([kOffer])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tExternOffer] CHECK CONSTRAINT [FK_SCX_tExternOffer_kOffer]
GO
