USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tCondition]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tCondition](
	[kCondition] [int] IDENTITY(1,1) NOT NULL,
	[cCondition] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_SCX_tCondition] PRIMARY KEY CLUSTERED 
(
	[kCondition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
