USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferStockUpdate]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferStockUpdate] AS
(
    SELECT
        tShopScx.kChannel,
        tShopScx.cChannel,
        tShopScx.cSellerId,
        tOffer.kOffer,
        CASE WHEN tArtikel.cLagerAktiv = 'Y'
            THEN CASE
                    WHEN tArtikel.cLagerKleinerNull = 'Y'
                        AND tShopUeberverkaeufeMoeglich.kShopUeberverkaeufeMoeglich IS NOT NULL
                    THEN CASE
                        WHEN ISNULL(tVerkaufskanalArtikelData.nMaximalerBestand, 0.0) > 0 THEN tVerkaufskanalArtikelData.nMaximalerBestand
                        WHEN (ISNULL(tlagerbestand.fVerfuegbar, 0) - ISNULL(tArtikel.nPuffer, 0)) > 0
                            THEN (ISNULL(tlagerbestand.fVerfuegbar, 0) - ISNULL(tArtikel.nPuffer, 0))
                        ELSE 10 END
                    WHEN (ISNULL(tlagerbestand.fVerfuegbar, 0) - ISNULL(tArtikel.nPuffer, 0)) > 0
                    THEN (ISNULL(tlagerbestand.fVerfuegbar, 0) - ISNULL(tArtikel.nPuffer, 0))
                    ELSE 0
                END
            ELSE CASE WHEN ISNULL(tVerkaufskanalArtikelData.nMaximalerBestand, 0.0) > 0 THEN tVerkaufskanalArtikelData.nMaximalerBestand ELSE 10 END
        END AS fQuantity,
        tOffer.fQuantity AS fLastUpdatedQuantity,
        tOffer.dQuantityUpdatedAt,
        tOffer.kArtikel AS kProduct,
        tOffer.kShop,
        ISNULL(tVerkaufskanalArtikelData.nMindestbestand, 0.0) AS nMindestbestand,
        ISNULL(tVerkaufskanalArtikelData.nMaximalerBestand, 0.0) AS nMaximalerBestand,
        tLagerbestandShop.fAnzahl AS fChannelQuantity,
        tLagerbestandShop.dBestandsdatum AS dChannelQuantityUpdatedAt,
        tOffer.cChannelOfferId,
        tOffer.nType
    FROM SCX.tOffer
    LEFT JOIN SCX.tExternOffer ON tExternOffer.kOffer = tOffer.kOffer
    LEFT JOIN dbo.tlagerbestand ON tOffer.kArtikel = tlagerbestand.kArtikel
    JOIN dbo.tArtikelShop ON tOffer.kShop = tArtikelShop.kShop
        AND tOffer.kArtikel = tArtikelShop.kArtikel
    JOIN dbo.tShopScx ON tShopScx.kShop = tOffer.kShop
    JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
    JOIN dbo.tArtikel ON tOffer.kArtikel = tArtikel.kArtikel
    LEFT JOIN SCX.tVerkaufskanalArtikelData ON tOffer.kArtikel = tVerkaufskanalArtikelData.kArtikel
        AND tShopScx.kShopScx = tVerkaufskanalArtikelData.kShopScx
    LEFT JOIN dbo.tLagerbestandShop ON tOffer.kShop = tLagerbestandShop.kShop
        AND ISNULL(tExternOffer.cSKU, tArtikel.cArtNr) = tLagerbestandShop.cArtNr
    LEFT JOIN dbo.tShopUeberverkaeufeMoeglich ON tShopUeberverkaeufeMoeglich.kArtikel = tArtikelShop.kArtikel
        AND tShopUeberverkaeufeMoeglich.kShop = tArtikelShop.kShop
    WHERE tOffer.nType = 0
        AND tShop.nGesperrt = 0
        AND tShop.nAktiv = 1
        AND tOffer.nIsListed = 1
        AND tOffer.nStatus IN (2, 3, 4, 6)
        AND tArtikelShop.nInBearbeitung = 1
        AND tArtikelShop.cInet = 'Y'
        AND tArtikelShop.cDelInet <> 'Y'
        AND tArtikelShop.nAktion & 4 > 0
)
GO
