USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderShipping]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderShipping]
AS
(
	SELECT
		tOrderShipping.kOrderShipping AS kOrderShipping,
		tOrder.kOrder AS kOrder,
		tAuftrag.kAuftrag AS kAuftrag,
		tOrder.cSellerId AS cSellerId,
		tAuftrag.cExterneAuftragsnummer AS cOrderIdExternal,
		CASE WHEN tAuftrag.nKomplettAusgeliefert > 0
			THEN CAST(1 AS BIT)
			ELSE CAST(0 AS BIT)
		END AS nShippingComplete,
		tOrder.cChannel AS cChannelId,
		tOrderShipping.kLieferschein AS kDeliveryNote
	FROM SCX.tOrderShipping
	JOIN SCX.tOrder ON tOrder.kOrder = tOrderShipping.kOrder
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
	JOIN dbo.tShop ON tShop.kShop = tAuftrag.kShop
	WHERE tOrderShipping.dUploadedAtUtc IS NULL
		AND tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
		AND tOrderShipping.nCount < 4
		AND (tOrderShipping.dUploadFailedUtc IS NULL OR tOrderShipping.dUploadFailedUtc < DATEADD(MINUTE, -30, GETUTCDATE()))
);
GO
