USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tVerkaufskanalKategoriemapping]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tVerkaufskanalKategoriemapping](
	[kVerkaufskanalKategoriemapping] [int] IDENTITY(1,1) NOT NULL,
	[kWawiKategorie] [int] NOT NULL,
	[kCategory] [int] NOT NULL,
	[kShopScx] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_SCX_tVerkaufskanalKategoriemapping] PRIMARY KEY CLUSTERED 
(
	[kVerkaufskanalKategoriemapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tVerkaufskanalKategoriemapping]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tVerkaufskanalKategoriemapping_kShopScx] FOREIGN KEY([kShopScx])
REFERENCES [dbo].[tShopScx] ([kShopScx])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tVerkaufskanalKategoriemapping] CHECK CONSTRAINT [FK_SCX_tVerkaufskanalKategoriemapping_kShopScx]
GO
ALTER TABLE [SCX].[tVerkaufskanalKategoriemapping]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tVerkaufskanalKategoriemapping_kWawiKategorie] FOREIGN KEY([kWawiKategorie])
REFERENCES [dbo].[tkategorie] ([kKategorie])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tVerkaufskanalKategoriemapping] CHECK CONSTRAINT [FK_SCX_tVerkaufskanalKategoriemapping_kWawiKategorie]
GO
