USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tCategoryAttributeValue]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tCategoryAttributeValue](
	[kCategoryAttributeValue] [int] IDENTITY(1,1) NOT NULL,
	[kCategoryAttribute] [int] NOT NULL,
	[cValue] [nvarchar](max) NOT NULL,
	[cDisplayName] [nvarchar](max) NOT NULL,
	[nSort] [int] NOT NULL,
 CONSTRAINT [PK_SCX_tCategoryAttributeValue] PRIMARY KEY CLUSTERED 
(
	[kCategoryAttributeValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tCategoryAttributeValue] ADD  CONSTRAINT [DF_SCX_tCategoryAttributeValue_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [SCX].[tCategoryAttributeValue]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tCategoryAttributeValue_kCategoryAttribute] FOREIGN KEY([kCategoryAttribute])
REFERENCES [SCX].[tCategoryAttribute] ([kCategoryAttribute])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tCategoryAttributeValue] CHECK CONSTRAINT [FK_SCX_tCategoryAttributeValue_kCategoryAttribute]
GO
