USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tArtikelVerkaufskanalFeldWert]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tArtikelVerkaufskanalFeldWert](
	[kArtikelVerkaufskanalFeldWert] [int] IDENTITY(1,1) NOT NULL,
	[kShopScx] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cAttributeId] [nvarchar](512) NULL,
	[cWert] [nvarchar](max) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nIsDotLiquidValue] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nReferenzGruppe] [int] NOT NULL,
	[kfile] [int] NULL,
 CONSTRAINT [PK_SCX_tArtikelVerkaufskanalFeldWert] PRIMARY KEY CLUSTERED 
(
	[kArtikelVerkaufskanalFeldWert] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tArtikelVerkaufskanalFeldWert] ADD  CONSTRAINT [DF_tArtikelVerkaufskanalFeldWert_nReferenzGruppe]  DEFAULT ((0)) FOR [nReferenzGruppe]
GO
ALTER TABLE [SCX].[tArtikelVerkaufskanalFeldWert]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tArtikelVerkaufskanalFeldWert_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tArtikelVerkaufskanalFeldWert] CHECK CONSTRAINT [FK_SCX_tArtikelVerkaufskanalFeldWert_kArtikel]
GO
ALTER TABLE [SCX].[tArtikelVerkaufskanalFeldWert]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tArtikelVerkaufskanalFeldWert_kfile] FOREIGN KEY([kfile])
REFERENCES [dbo].[tFile] ([kFile])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tArtikelVerkaufskanalFeldWert] CHECK CONSTRAINT [FK_SCX_tArtikelVerkaufskanalFeldWert_kfile]
GO
ALTER TABLE [SCX].[tArtikelVerkaufskanalFeldWert]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tArtikelVerkaufskanalFeldWert_kShopScx] FOREIGN KEY([kShopScx])
REFERENCES [dbo].[tShopScx] ([kShopScx])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tArtikelVerkaufskanalFeldWert] CHECK CONSTRAINT [FK_SCX_tArtikelVerkaufskanalFeldWert_kShopScx]
GO
