USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tOfferFailure]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tOfferFailure](
	[kOfferFailure] [int] IDENTITY(1,1) NOT NULL,
	[kOffer] [bigint] NOT NULL,
	[cCode] [nvarchar](255) NOT NULL,
	[cMessage] [nvarchar](max) NOT NULL,
	[cLongMessage] [nvarchar](max) NULL,
	[dCreatedAtUtc] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_SCX_tOfferFailure] PRIMARY KEY CLUSTERED 
(
	[kOfferFailure] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tOfferFailure] ADD  CONSTRAINT [DF_SCX_tOfferFailure_dCreatedAtUtc]  DEFAULT (getutcdate()) FOR [dCreatedAtUtc]
GO
ALTER TABLE [SCX].[tOfferFailure]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tOfferFailure_kOffer] FOREIGN KEY([kOffer])
REFERENCES [SCX].[tOffer] ([kOffer])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tOfferFailure] CHECK CONSTRAINT [FK_SCX_tOfferFailure_kOffer]
GO
