USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvBeleguploadRechnungskorrektur]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvBeleguploadRechnungskorrektur]
AS
(
	SELECT tOrder.kOrder, 
	    tShop.kShop,  		
		tShopScx.kShopScx,
		tAuftrag.kAuftrag,
		tShop.cName AS cShopName,
		tChannel.cDisplayName AS cChannelDisplayName,
		tgutschrift.cGutschriftNr, 
		tAuftrag.cAuftragsNr, 
		tAuftrag.cExterneAuftragsnummer, 
		tgutschrift.dErstellt,
		tgutschrift.fPreis AS fGutschriftBetrag,
		Rechnungskorrekturen.dRefundUploadFailedUtc,
		Rechnungskorrekturen.nRefundUploadCount,
		3 - Rechnungskorrekturen.nRefundUploadCount AS nUploadCountUebrig,
		CASE WHEN Rechnungskorrekturen.nRefundUploadCount < 3 THEN 1 --Warte auf Upload
			ELSE 2 --Fehlerhaft
		END nStatus
	FROM 
	(
		SELECT 
			tShop.kShop, 
			tGutschriftPos.tGutschrift_kGutschrift AS kGutschrift, 
			tOrder.kOrder,
			MIN(tOrderItem.dRefundUploadFailedUtc) AS dRefundUploadFailedUtc,
			MIN(tOrderItem.nRefundUploadCount) AS nRefundUploadCount
		FROM dbo.tGutschriftPos
		JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = tGutschriftPos.tGutschrift_kGutschrift
		JOIN SCX.tOrderItem ON tOrderItem.kAuftragPosition = tGutschriftPos.kBestellPos
		JOIN SCX.tOrder ON tOrder.kOrder = tOrderItem.kOrder	
		JOIN dbo.tShopScx ON tShopScx.cSellerId = tOrder.cSellerId
			AND tShopScx.cChannel = tOrder.cChannel
		JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
		WHERE tgutschrift.nStorno = 0 
			AND tgutschrift.nStornoTyp = 0
			AND tShop.nAktiv = 1
			AND tShop.nGesperrt = 0
			AND tOrderItem.nRefundUpload > 0
		GROUP BY tShop.kShop, tGutschriftPos.tGutschrift_kGutschrift, tOrder.kOrder 
	) AS Rechnungskorrekturen
	JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = Rechnungskorrekturen.kGutschrift
	JOIN SCX.tOrder ON tOrder.kOrder = Rechnungskorrekturen.kOrder	
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
	JOIN dbo.tShop ON tShop.kShop = Rechnungskorrekturen.kShop
	JOIN dbo.tShopScx ON tShopScx.kShop = tShop.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
)
GO
