USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferPictureUploadInvalid]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferPictureUploadInvalid]
AS
(
    SELECT
        PictureData.kBild,
        PictureData.cQuelle,
        PictureData.kArtikel,
        PictureData.cArtNr,
        ISNULL(CAST(PictureData.nIstDateigroesseInvalide AS BIT), CAST(1 AS BIT)) AS nIstDateigroesseInvalide,
        ISNULL(CAST(PictureData.nIstDateitypInvalide AS BIT), CAST(1 AS BIT))  AS nIstDateitypInvalide
    FROM
    (
        SELECT DISTINCT
            tBild.kBild,
            tBild.cQuelle,
            tArtikelbildPlattform.kArtikel,
            tArtikel.cArtNr,
            IIF(tBild.nDateigroesse / 1024.0 / 1024.0 > 16, 1, 0) AS nIstDateigroesseInvalide,
            IIF(REVERSE(SUBSTRING(REVERSE(tBild.cHash), 1, CHARINDEX('.', REVERSE(tBild.cHash)))) NOT IN ('.gif', '.jpg', '.jpeg', '.png', '.svg'), 1, 0) AS nIstDateitypInvalide
        FROM dbo.tArtikelbildPlattform
        JOIN dbo.tBild ON tArtikelbildPlattform.kBild = tBild.kBild
        JOIN dbo.tShop ON tArtikelbildPlattform.kShop = tShop.kShop
        JOIN dbo.tArtikelShop ON tArtikelShop.kArtikel = tArtikelbildPlattform.kArtikel
            AND tArtikelShop.kShop = tArtikelbildPlattform.kShop
        JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelShop.kArtikel
        LEFT JOIN SCX.tPictureMapping ON tPictureMapping.kPicture = tArtikelbildPlattform.kBild
        WHERE tShop.nTyp = 6
            AND tShop.nGesperrt = 0
            AND tShop.nAktiv = 1
            AND tArtikelbildPlattform.kPlattform = 8
            AND tPictureMapping.cScxHash IS NULL
    ) AS PictureData
    WHERE PictureData.nIstDateigroesseInvalide = 1
        OR PictureData.nIstDateitypInvalide = 1
)
GO
