USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderShippingItem]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderShippingItem] AS
(
	SELECT
		tLieferschein.kBestellung AS kAuftrag,
        IIF(LEN(ISNULL(tVersand.cIdentCode, '')) > 0, tVersand.cIdentCode, tVersand.cShipmentId) AS cTrackingNumber,
		ISNULL(ShippingRuleMapped.cCarrierId, tversandart.cName) AS cCarrier,
		tVersand.kLieferschein AS kDeliveryNote,
		tVersand.dVersendet AS dShippedAt,
		tVersand.cEnclosedReturnIdentCode AS cReturnTrackingNumber,
		ISNULL(ISNULL(ReturnShippingRuleMapped.cCarrierId, ReturnVersandart.cName), ISNULL(ShippingRuleMapped.cCarrierId, tversandart.cName)) AS cReturnCarrier
	FROM dbo.tVersand
	JOIN dbo.tLieferschein ON tLieferschein.kLieferschein = tVersand.kLieferschein
	JOIN dbo.tversandart ON tversandart.kVersandArt = tVersand.kVersandArt
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tLieferschein.kBestellung
	LEFT JOIN SCX.tShippingRuleMapping ON tShippingRuleMapping.kShop = tAuftrag.kShop
		AND tShippingRuleMapping.kVersandart = tVersand.kVersandArt
	LEFT JOIN SCX.tShippingRule AS ShippingRuleMapped ON ShippingRuleMapped.kShippingRule = tShippingRuleMapping.kShippingRule
	LEFT JOIN dbo.tversandart AS ReturnVersandart ON ReturnVersandart.kVersandArt = tVersand.kReturnVersandart
	LEFT JOIN SCX.tShippingRuleMapping AS ReturnShippingRuleMapping ON ReturnShippingRuleMapping.kShop = tAuftrag.kShop
		AND ReturnShippingRuleMapping.kVersandart = tVersand.kReturnVersandart
	LEFT JOIN SCX.tShippingRule AS ReturnShippingRuleMapped ON ReturnShippingRuleMapped.kShippingRule = ReturnShippingRuleMapping.kShippingRule
)
GO
