USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrder]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrder]
AS
(
	SELECT
		tAuftrag.kAuftrag,
		tAuftrag.cExterneAuftragsnummer AS cOrderId,
		tOrder.cChannel,
		tOrder.cSellerId,
		tAuftrag.kKunde,
        ISNULL(RecalculateTax.nRecalculateTax, 0) AS nRecalculateTaxes
	FROM SCX.tOrder
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
    OUTER APPLY
	(
		SELECT TOP(1)
			tOrderItem.nRecalculateTax
		FROM SCX.tOrderItem
		WHERE tOrderItem.kOrder = tOrder.kOrder
			AND tOrderItem.nRecalculateTax = 1
	) AS RecalculateTax
)
GO
