USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferPriceUploadKeys]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferPriceUploadKeys]
AS
(
	SELECT 
		tOffer.kOffer, 
		tArtikelShop.kShop,
		tArtikelShop.kArtikel
	FROM dbo.tArtikelShop
	JOIN SCX.tOffer ON tOffer.kArtikel = tArtikelShop.kArtikel
		AND tOffer.kShop = tArtikelShop.kShop
		AND tOffer.nIsListed = 1
	JOIN dbo.tShop ON tShop.kShop = tArtikelShop.kShop
		AND tShop.nTyp = 6 --SCX
		AND tShop.nAktiv = 1 
		AND tShop.nGesperrt = 0
    JOIN dbo.tShopScx ON tShopScx.kShop = tShop.kShop
    JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
		AND tChannel.nPriceUpdatesSupported = 1		
	WHERE tArtikelShop.cInet = 'Y'
		AND tArtikelShop.nAktion & 2 > 0
		AND tOffer.nStatus IN (2, 3, 4, 6) --2 = Hochgeladen;  3 = InPruefung; 4 = Eingestellt; 6 = Fehlerhaft;
)
GO
