USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvBeleguploadRechnungPdf]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvBeleguploadRechnungPdf] AS
(
	SELECT	    
		tBelegUploadQueue.kBelegUploadQueue,
        tShop.kShop,  		
		tShopScx.kShopScx,
		tShop.cName AS cShopName,
		tAuftrag.cAuftragsNr,
		tBelegUploadQueue.cExterneAuftragsnummer,		
		tBelegUploadQueue.cBelegnummer AS cRechnungsNr,
		tRechnung.dErstellt AS dRechnungErstellt,
		tRechnungEckdaten.fVkBruttoGesamt AS fVkRechnungBruttoGesamt,
 		tChannel.cDisplayName AS cChannelDisplayName,
		tAuftragEckdaten.fWertBrutto AS fAuftragWertBrutto,
		tBelegUploadQueue.dErstelltUtc,
		tAuftrag.kAuftrag,
		tBelegUploadQueue.nAusgabeVersuche,
		tBelegUploadQueue.nUploadVersuche,
		tBelegUploadQueue.dAusgabeGestartetUtc,
		tBelegUploadQueue.dAusgabeBeendetUtc,
		tBelegUploadQueue.dUploadErfolgtUtc,
		tBelegUploadQueue.cMeldung,		
		ISNULL(CAST(AusgabeVersuche.cValue AS INT), 3) - tBelegUploadQueue.nAusgabeVersuche AS nAusgabeVersucheUebrig,
		CASE WHEN tBelegUploadQueue.nStatus > 2 THEN 3 --PDF erzeugt 
			WHEN tBelegUploadQueue.nAusgabeVersuche < ISNULL(CAST(AusgabeVersuche.cValue AS INT), 3) 
			THEN 1 --Weitere Versuche vorhanden
			ELSE 2 --Keine weiteren Versuche
		END	AS nStatusAusgabe,
		ISNULL(CAST(UploadVersuche.cValue AS INT), 3) - tBelegUploadQueue.nUploadVersuche AS nUploadVersucheUebrig,
		CASE WHEN tBelegUploadQueue.nStatus = 4 THEN 3 --Upload erfolgt
			WHEN tBelegUploadQueue.nUploadVersuche < ISNULL(CAST(UploadVersuche.cValue AS INT), 3) 
			THEN 1 --Weitere Versuche vorhanden
			ELSE 2 --Keine weiteren Versuche
		END	AS nStatusUpload,
		tBelegUploadQueue.nStatus
	FROM SCX.tBelegUploadQueue 
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tBelegUploadQueue.kAuftrag		
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tShopScx ON tShopScx.kShop = tBelegUploadQueue.kShop
	JOIN dbo.tShop ON tShop.kShop = tBelegUploadQueue.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tBelegUploadQueue.kBeleg
	JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
	LEFT JOIN dbo.tOptions AS AusgabeVersuche ON AusgabeVersuche.cKey = 'Scx.BuchungsdatenPdf.MaxAusgabeVersuche'
	LEFT JOIN dbo.tOptions AS UploadVersuche ON UploadVersuche.cKey = 'SCX.BuchungsdatenPdf.MaxUploadVersuche'
	WHERE tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
		AND tBelegUploadQueue.nBelegtyp = 1 --Rechnung		   		
);
GO
