USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferGenerateKeys]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferGenerateKeys]
AS
(	
	SELECT 
		tOffer.kOffer, 
		tArtikelShop.kShop,
		tArtikelShop.kArtikel,
		tArtikel.nIstVater
	FROM dbo.tArtikelShop
	JOIN dbo.tArtikel ON tArtikel.kArtikel = tArtikelShop.kArtikel
	JOIN dbo.tShop ON tShop.kShop = tArtikelShop.kShop
		AND tShop.nTyp = 6 --SCX
		AND tShop.nGesperrt = 0
		AND tShop.nAktiv = 1 
	LEFT JOIN SCX.tOffer ON tOffer.kArtikel = tArtikelShop.kArtikel
			AND tOffer.kShop = tArtikelShop.kShop
			AND tOffer.nStatus <> 5 --Beendet
	WHERE tArtikelShop.cInet = 'Y'
		AND tArtikel.cAktiv <> 'N'
		AND tOffer.kOffer IS NULL
)
GO
