USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tFileMapping]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tFileMapping](
	[kFileMapping] [int] IDENTITY(1,1) NOT NULL,
	[kFile] [int] NOT NULL,
	[cScxHash] [nvarchar](200) NOT NULL,
	[dExpiresAt] [datetime2](7) NULL,
 CONSTRAINT [PK_SCX_tFileMapping] PRIMARY KEY CLUSTERED 
(
	[kFileMapping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [SCX].[tFileMapping]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tFileMapping_kFile] FOREIGN KEY([kFile])
REFERENCES [dbo].[tFile] ([kFile])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tFileMapping] CHECK CONSTRAINT [FK_SCX_tFileMapping_kFile]
GO
