USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferQuantity]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferQuantity] AS
(
	SELECT 
		tArtikel.kArtikel,
		tShopScx.kShop,
		ISNULL(tVerkaufskanalArtikelData.kCategory, 0) AS kCategory,
		CASE WHEN tArtikel.cLagerAktiv = 'Y'
			THEN CASE 					
					WHEN tArtikel.cLagerKleinerNull = 'Y' 
						AND tShopUeberverkaeufeMoeglich.kShopUeberverkaeufeMoeglich IS NOT NULL
					THEN CASE 
						WHEN tVerkaufskanalArtikelData.nMaximalerBestand > 0 THEN tVerkaufskanalArtikelData.nMaximalerBestand
						WHEN (ISNULL(tlagerbestand.fVerfuegbar, 0) - ISNULL(tArtikel.nPuffer, 0)) > 0
							THEN (ISNULL(tlagerbestand.fVerfuegbar, 0) - ISNULL(tArtikel.nPuffer, 0))
						ELSE 10 END
					WHEN (ISNULL(tlagerbestand.fVerfuegbar, 0) - ISNULL(tArtikel.nPuffer, 0)) > 0
					THEN (ISNULL(tlagerbestand.fVerfuegbar, 0) - ISNULL(tArtikel.nPuffer, 0))
					ELSE 0
				END
			ELSE CASE WHEN tVerkaufskanalArtikelData.nMaximalerBestand > 0 THEN tVerkaufskanalArtikelData.nMaximalerBestand ELSE 10 END
		END AS fQuantity,
		ISNULL(tVerkaufskanalArtikelData.nMindestbestand, 0) AS nMindestbestand,
		ISNULL(tVerkaufskanalArtikelData.nMaximalerBestand, 0) AS nMaximalerBestand,		
		tLagerbestandShop.fAnzahl AS fChannelQuantity,
		tLagerbestandShop.dBestandsdatum AS dChannelQuantityUpdatedAt
	FROM SCX.tVerkaufskanalArtikelData
	JOIN dbo.tShopScx ON tShopScx.kShopScx = tVerkaufskanalArtikelData.kShopScx
	JOIN dbo.tArtikel ON tArtikel.kArtikel = tVerkaufskanalArtikelData.kArtikel
	LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tVerkaufskanalArtikelData.kArtikel 
	LEFT JOIN dbo.tShopUeberverkaeufeMoeglich ON tShopUeberverkaeufeMoeglich.kArtikel = tVerkaufskanalArtikelData.kArtikel
		AND tShopUeberverkaeufeMoeglich.kShop = tShopScx.kShop	
	LEFT JOIN SCX.tOffer ON tOffer.kArtikel = tArtikel.kArtikel
		AND tOffer.kShop = tShopScx.kShop
	LEFT JOIN SCX.tExternOffer ON tExternOffer.kOffer = tOffer.kOffer
	LEFT JOIN dbo.tLagerbestandShop ON tOffer.kShop = tLagerbestandShop.kShop
		AND ISNULL(tExternOffer.cSKU, tArtikel.cArtNr) = tLagerbestandShop.cArtNr
	WHERE tOffer.nStatus != 5 --beendet
)
GO
