USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tSellerAttributeListVersion]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tSellerAttributeListVersion](
	[kSellerAttributeListVersion] [int] IDENTITY(1,1) NOT NULL,
	[cAttributeListVersion] [nvarchar](255) NOT NULL,
	[cChannel] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_SCX_tSellerAttributeListVersion] PRIMARY KEY CLUSTERED 
(
	[kSellerAttributeListVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
