USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvAngebotFehler]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvAngebotFehler]
AS
(
	SELECT
		tOfferFailure.kOfferFailure,
		tOfferFailure.kOffer,
		tOfferFailure.cCode,
		tOfferFailure.cMessage,
		tOfferFailure.cLongMessage,
        tOfferFailure.dCreatedAtUtc
	FROM SCX.tOfferFailure
)
GO
