USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvNotificationDetail]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvNotificationDetail]
AS
(
	SELECT
        tNotificationDetail.kNotificationDetail,
        tNotificationDetail.kNotification,
        tNotificationDetail.cCode,
        tNotificationDetail.cMessage
	FROM SCX.tNotificationDetail
)
GO
