USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOfferPriceDetail]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOfferPriceDetail]
AS
(
    SELECT
        tOfferPrice.kOffer,
        ISNULL(CurrentPrice.fPrice, 0.0) AS fCurrentPrice,
        tOfferPrice.fLastPrice,
        tOfferPrice.fQuantity,
        tOffer.dPriceUpdatedUtc,
        tChannelPriceType.cDisplayName,
        tShop.kFirma,
        tArtikel.kSteuerklasse,
        tChannel.cCurrency AS cChannelCurrency
    FROM SCX.tOfferPrice
    JOIN SCX.tChannelPriceType ON tChannelPriceType.kChannelPriceType = tOfferPrice.kChannelPriceType
    JOIN SCX.tChannel ON tChannel.kChannel = tChannelPriceType.kChannel
    JOIN SCX.tOffer ON tOffer.kOffer = tOfferPrice.kOffer
    JOIN dbo.tShop ON tShop.kShop = tOffer.kShop
    JOIN dbo.tArtikel ON tArtikel.kArtikel = tOffer.kArtikel
    OUTER APPLY
    (
        SELECT
            ifGetOfferPrices.fPrice
        FROM SCX.ifGetOfferPrices(tOffer.kArtikel, tOffer.kShop) 
        WHERE ifGetOfferPrices.kCustomerGroup = tChannelPriceType.kKundenGruppe
        AND ifGetOfferPrices.nQuantity = tOfferPrice.fQuantity
    ) AS CurrentPrice
    WHERE CurrentPrice.fPrice IS NOT NULL
)
GO
