USE [eazybusiness]
GO
/****** Object:  Table [SCX].[tChannelAttributeValue]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SCX].[tChannelAttributeValue](
	[kChannelAttributeValue] [int] IDENTITY(1,1) NOT NULL,
	[kChannelAttribute] [int] NOT NULL,
	[cValue] [nvarchar](max) NOT NULL,
	[cDisplayName] [nvarchar](max) NOT NULL,
	[nSort] [int] NOT NULL,
 CONSTRAINT [PK_SCX_tChannelAttributeValue] PRIMARY KEY CLUSTERED 
(
	[kChannelAttributeValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [SCX].[tChannelAttributeValue] ADD  CONSTRAINT [DF_SCX_tChannelAttributeValue_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [SCX].[tChannelAttributeValue]  WITH CHECK ADD  CONSTRAINT [FK_SCX_tChannelAttributeValue_kChannelAttribute] FOREIGN KEY([kChannelAttribute])
REFERENCES [SCX].[tChannelAttribute] ([kChannelAttribute])
ON DELETE CASCADE
GO
ALTER TABLE [SCX].[tChannelAttributeValue] CHECK CONSTRAINT [FK_SCX_tChannelAttributeValue_kChannelAttribute]
GO
