USE [eazybusiness]
GO
/****** Object:  View [SCX].[vInvoiceCorrectionUploadMetaData]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vInvoiceCorrectionUploadMetaData]
AS
(
    SELECT
        tUploadData.kUploadData,
        tOrder.kOrder,
        tUploadData.nType,
        tOrder.cSellerId,
        tAuftrag.cExterneAuftragsnummer,
        tgutschrift.cGutschriftNr,
        tShopScx.cChannel,
        tAuftrag.kAuftrag,
        tgutschrift.kGutschrift
    FROM SCX.tOrder
    JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag
    JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kAuftrag = tAuftrag.kAuftrag
    JOIN dbo.tgutschrift ON tgutschrift.kRechnung = tAuftragRechnung.kRechnung
    JOIN SCX.tUploadData ON tUploadData.kGutschrift = tgutschrift.kGutschrift
    JOIN dbo.tShopScx ON tShopScx.kShop = tAuftrag.kShop
    JOIN dbo.tShop ON tShop.kShop = tAuftrag.kShop
    JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
    WHERE tOrder.nInvoiceCorrectionUpload = 1
        AND tUploadData.nCount < 4
        AND tUploadData.cName IS NOT NULL
        AND tUploadData.bData IS NOT NULL
        AND tChannel.nInvoiceDocumentTransfer = 1
        AND tShop.nAktiv = 1
        AND tShop.nGesperrt = 0
);
GO
