USE [eazybusiness]
GO
/****** Object:  View [SCX].[lvZuAktualisierendeRetouren]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[lvZuAktualisierendeRetouren] AS
(
	SELECT	    
		tOrder.kOrder,
        tShop.kShop,  		
		tShopScx.kShopScx,
		tShop.cName AS cShopName,
		tOrder.nReturnUpload,
		tAuftrag.cAuftragsNr,
		tAuftrag.cExterneAuftragsnummer,		
		tRMRetoure.cRetoureNr,
 		tChannel.cDisplayName AS cChannelDisplayName,
		tAuftragEckdaten.fWertBrutto AS fAuftragWertBrutto,
		tRMRetoure.dErstellt,
		tAuftrag.kAuftrag,
		tOrder.nReturnUploadCount,
		tOrder.dReturnUploadFailedUtc,
		3 - tOrder.nReturnUploadCount AS nUploadCountUebrig,
		CASE WHEN tOrder.nReturnUploadCount < 3 THEN 1 --Warte auf Upload
			ELSE 2 --Fehlerhaft
		END nStatus,
		ISNULL(tgutschrift.fPreis, 0) AS fGutschriftPreis,
		tRMRetoure.kRMRetoure
	FROM SCX.tOrder 
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tOrder.kAuftrag	
	JOIN dbo.tRMRetoure ON tRMRetoure.kBestellung = tOrder.kAuftrag
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tShopScx ON tShopScx.cSellerId = tOrder.cSellerId
		AND tShopScx.cChannel = tOrder.cChannel
	JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
	JOIN SCX.tChannel ON tChannel.kChannel = tShopScx.kChannel
	LEFT JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = tRMRetoure.kGutschrift
	WHERE tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
		AND tOrder.nReturnUpload > 0   		
);
GO
