USE [eazybusiness]
GO
/****** Object:  View [SCX].[vChannel]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vChannel] AS
(
	SELECT
		tChannel.kChannel,
		tChannel.cChannel,
		tChannel.cDisplayName AS cName,
		tChannel.nInvoiceDocumentTransfer
	FROM SCX.tChannel
)
GO
