USE [eazybusiness]
GO
/****** Object:  View [SCX].[vShop]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vShop]
AS
(
	SELECT
		tShopScx.kShopScx,
        tShopScx.kShop,
        tShopScx.kChannel,
        tShopScx.cChannel,
        tShopScx.cSellerId,
        tShopScx.dCreated,
        tShopScx.dUpdated,
        tShopScx.cReason,
		tShopScx.kVersandart,
        tShop.cName,
        tShop.nGesperrt,
		tShop.nAktiv,
        tShop.kFirma,
        tShop.nTyp,
		tChannel.cDisplayName AS cChannelDisplayName,
		tChannel.cCurrency AS cChannelCurrency,
		tChannel.nVariationsSupported,
		tChannel.nRemainingQuantitySupported,
		tChannel.nQuantityPriceSupported,
		tChannel.nInvoiceDocumentTransfer,
		tChannel.dKategorieAktualisierungUtc, 
	    tChannel.dChannelAttributeAktualisierungUtc,
		tShopScx.dSellerAttributeAktualisierungUtc,
        tShopScx.nBelegSpeichern,
		tShopScx.kZahlungsart
	FROM dbo.tShopScx
	JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
	JOIN SCX.tChannel ON tShopScx.kChannel = tChannel.kChannel
	WHERE tShop.nTyp = 6
)
GO
