USE [eazybusiness]
GO
/****** Object:  View [SCX].[vOrderCancellationEvent]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SCX].[vOrderCancellationEvent]
AS
(
	SELECT
		tOrderCancellationEvent.kOrderCancellationEvent,
		tOrderCancellationEvent.cChannel,
		tOrderCancellationEvent.cSellerId,
		tOrderCancellationEvent.cOrderCancellationRequestId,
		tOrderCancellationEvent.cReason,
		tOrderCancellationEvent.nType,
		tOrderCancellationEvent.nCount,
		tOrderCancellationEvent.dCancellationUploadFailedUtc
	FROM SCX.tOrderCancellationEvent
	JOIN dbo.tShopScx ON tShopScx.cChannel = tOrderCancellationEvent.cChannel
		AND tShopScx.cSellerId = tOrderCancellationEvent.cSellerId
	JOIN dbo.tShop ON tShop.kShop = tShopScx.kShop
	WHERE tOrderCancellationEvent.nCount < 3    
		AND tShop.nAktiv = 1
		AND tShop.nGesperrt = 0
		AND (tOrderCancellationEvent.dCancellationUploadFailedUtc IS NULL 
			OR tOrderCancellationEvent.dCancellationUploadFailedUtc < DATEADD(MINUTE, -30, GETUTCDATE()))
)
GO
