USE [eazybusiness]
GO
/****** Object:  View [Shipping].[vTrackAndTraceConfigurations]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Shipping].[vTrackAndTraceConfigurations]
AS
SELECT 
[dbo].[tVersandart].kVersandArt,
[dbo].[tVersandart].cName,
[Shipping].[tTrackAndTraceConfiguration].nTrackAndTraceProviderType,
[Shipping].[tTrackAndTraceConfiguration].nIsEnabled
 FROM tVersandart
LEFT JOIN [Shipping].[tTrackAndTraceConfiguration] ON [Shipping].[tTrackAndTraceConfiguration].kVersandArt = tVersandart.kVersandArt
WHERE tversandart.cAktiv = 'Y'
GO
