USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tShippingDocument]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tShippingDocument](
	[kShippingDocument] [int] IDENTITY(1,1) NOT NULL,
	[kVersand] [int] NOT NULL,
	[nTyp] [tinyint] NOT NULL,
	[bData] [image] NOT NULL,
	[cHash] [nvarchar](255) NOT NULL,
	[dDate] [datetime] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Shipping_tShippingDocument] PRIMARY KEY CLUSTERED 
(
	[kShippingDocument] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
