USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tDHLEKP]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tDHLEKP](
	[kDHLEKP] [int] IDENTITY(1,1) NOT NULL,
	[cEkp] [nvarchar](14) NOT NULL,
	[cAnmerkung] [nvarchar](128) NULL,
	[kShipperAccount] [int] NOT NULL,
	[kParentDHLEKP] [int] NULL,
 CONSTRAINT [PK_Shipping_tDHLEKP] PRIMARY KEY CLUSTERED 
(
	[kDHLEKP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Shipping].[tDHLEKP]  WITH CHECK ADD  CONSTRAINT [FK_tDHLEKP_tShipperAccount] FOREIGN KEY([kShipperAccount])
REFERENCES [dbo].[tShipperAccount] ([kShipperAccount])
ON DELETE CASCADE
GO
ALTER TABLE [Shipping].[tDHLEKP] CHECK CONSTRAINT [FK_tDHLEKP_tShipperAccount]
GO
