USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tTrackingLogs]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tTrackingLogs](
	[kTrackingLog] [int] IDENTITY(1,1) NOT NULL,
	[dDateTime] [datetime] NOT NULL,
	[cMessage] [nvarchar](255) NOT NULL,
	[cStackTrace] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Shipping_tTrackingLogs] PRIMARY KEY CLUSTERED 
(
	[kTrackingLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
