USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tVersandplattformUserConfiguration]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tVersandplattformUserConfiguration](
	[kUserConfigurationId] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nActive] [bit] NULL,
	[uKonfigurationId] [uniqueidentifier] NULL,
	[uExtensionId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Shipping_tVersandplattformUserConfiguration] PRIMARY KEY CLUSTERED 
(
	[kUserConfigurationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
