USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tSubscriptionInformation]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tSubscriptionInformation](
	[nShippingProduct] [int] NOT NULL,
	[nValid] [tinyint] NOT NULL,
	[cSubscription] [nvarchar](255) NOT NULL,
	[dNextUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_Shipping_tSubscriptionInformation] PRIMARY KEY CLUSTERED 
(
	[nShippingProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
