USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tShippingMessage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tShippingMessage](
	[kShippingMessage] [int] IDENTITY(1,1) NOT NULL,
	[kVersand] [int] NOT NULL,
	[dZeitstempel] [datetime] NOT NULL,
	[cMessageContent] [nvarchar](max) NULL,
	[cCode] [nvarchar](64) NULL,
	[nMessageType] [tinyint] NULL,
	[cMessageShort] [nvarchar](256) NULL,
	[nMessageSource] [tinyint] NULL,
	[cRequestId] [nvarchar](36) NULL,
	[nIsTranslated] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Shipping_tShippingMessage] PRIMARY KEY CLUSTERED 
(
	[kShippingMessage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
