USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tVersandplattformSync]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tVersandplattformSync](
	[kVersandplattformSync] [int] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NULL,
	[cAuftragsNummer] [nvarchar](255) NULL,
	[cShipmentId] [nvarchar](255) NULL,
	[nAuftragAdresseRowversion] [bigint] NULL,
 CONSTRAINT [PK_Shipping_tVersandplattformSync] PRIMARY KEY CLUSTERED 
(
	[kVersandplattformSync] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
