USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tShippingServiceProvider]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tShippingServiceProvider](
	[kShippingServiceProvider] [int] IDENTITY(1,1) NOT NULL,
	[nShippingServiceProviderType] [tinyint] NOT NULL,
	[nTrackingServiceProviderType] [tinyint] NOT NULL,
	[nOrderNo] [tinyint] NOT NULL,
	[nBeta] [tinyint] NOT NULL,
	[nVisible] [tinyint] NOT NULL,
	[cName] [nvarchar](64) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Shipping_tShippingServiceProvider] PRIMARY KEY CLUSTERED 
(
	[kShippingServiceProvider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
