USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tVersandplattformGeneralConfigurationSetting]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tVersandplattformGeneralConfigurationSetting](
	[kVersandplattformGeneralConfigurationSetting] [int] IDENTITY(1,1) NOT NULL,
	[cKey] [nvarchar](255) NULL,
	[cValue] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Shipping_tVersandplattformGeneralConfigurationSetting] PRIMARY KEY CLUSTERED 
(
	[kVersandplattformGeneralConfigurationSetting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
