USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tShippingPrinterConfiguration]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tShippingPrinterConfiguration](
	[kShippingDruckDetaileinstellung] [int] IDENTITY(1,1) NOT NULL,
	[nShippingServiceProviderType] [int] NOT NULL,
	[cRechnername] [nvarchar](255) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cDruckerName] [nvarchar](255) NOT NULL,
	[nPageScaling] [int] NOT NULL,
	[nOrientation] [int] NOT NULL,
	[nExemplare] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kPrintDocumentType] [tinyint] NOT NULL,
 CONSTRAINT [PK_Shipping_tShippingPrinterConfiguration] PRIMARY KEY CLUSTERED 
(
	[kShippingDruckDetaileinstellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
