USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tVersandplattformConfiguration]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tVersandplattformConfiguration](
	[kVersandplattformConfiguration] [int] IDENTITY(1,1) NOT NULL,
	[uConfigurationId] [uniqueidentifier] NULL,
	[uExtensionId] [uniqueidentifier] NULL,
	[cVersion] [nvarchar](255) NULL,
	[kVersandArt] [nvarchar](255) NULL,
 CONSTRAINT [PK_Shipping_tVersandplattformConfiguration] PRIMARY KEY CLUSTERED 
(
	[kVersandplattformConfiguration] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
