USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tTrackAndTraceDpdConfiguration]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tTrackAndTraceDpdConfiguration](
	[kVersandart] [int] NOT NULL,
	[cDelisId] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Shipping_tTrackAndTraceDpdConfiguration] PRIMARY KEY CLUSTERED 
(
	[kVersandart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Shipping].[tTrackAndTraceDpdConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_tTrackAndTraceDpdConfiguration_tversandart] FOREIGN KEY([kVersandart])
REFERENCES [dbo].[tversandart] ([kVersandArt])
ON DELETE CASCADE
GO
ALTER TABLE [Shipping].[tTrackAndTraceDpdConfiguration] CHECK CONSTRAINT [FK_Shipping_tTrackAndTraceDpdConfiguration_tversandart]
GO
