USE [eazybusiness]
GO
/****** Object:  View [Shipping].[vExportDocumentsShippingPosition]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Shipping].[vExportDocumentsShippingPosition]
AS
SELECT  Verkauf.tAuftragPosition.cName AS Beschreibung ,
        Verkauf.tAuftragPosition.cNameStandard AS StandardBeschreibung ,
        (Verkauf.tAuftragPosition.fvknetto) * Verkauf.tAuftragPosition.fAnzahl * CASE WHEN Verkauf.tAuftrag.cOutboundId IS NOT NULL AND Verkauf.tAuftrag.cOutboundId != '' THEN 1 ELSE (( 100 - Verkauf.tAuftragPosition.fRabatt ) / 100) END AS Wert,
        Verkauf.tAuftragPosition.nType AS Typ,
		Verkauf.tAuftrag.kAuftrag AS kAuftrag
FROM    Verkauf.tAuftragPosition
JOIN Verkauf.tAuftrag ON Verkauf.tAuftrag.kAuftrag = Verkauf.tAuftragPosition.kAuftrag
WHERE Verkauf.tAuftragPosition.nType = 2
GO
