USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tState]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tState](
	[kState] [int] IDENTITY(1,1) NOT NULL,
	[kPackage] [int] NOT NULL,
	[kStateServer] [int] NULL,
	[nStateType] [tinyint] NOT NULL,
	[dDate] [datetime] NULL,
	[cText] [nvarchar](max) NOT NULL,
	[cProviderState] [nvarchar](512) NULL,
	[cLocation] [nvarchar](100) NOT NULL,
	[cCountry] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Shipping_tState] PRIMARY KEY CLUSTERED 
(
	[kState] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Shipping].[tState]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_tState_kPackage] FOREIGN KEY([kPackage])
REFERENCES [Shipping].[tPackage] ([kPackage])
ON DELETE CASCADE
GO
ALTER TABLE [Shipping].[tState] CHECK CONSTRAINT [FK_Shipping_tState_kPackage]
GO
