USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tPackage]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tPackage](
	[kPackage] [int] IDENTITY(1,1) NOT NULL,
	[kPackageServer] [int] NULL,
	[kVersand] [int] NOT NULL,
	[cTrackingId] [nvarchar](255) NOT NULL,
	[nServiceProvider] [tinyint] NOT NULL,
	[cShipperCountryIso] [nvarchar](3) NOT NULL,
	[cReceiverCountryIso] [nvarchar](3) NOT NULL,
	[cReceiverZipCode] [nvarchar](50) NOT NULL,
	[dNextUpdateDate] [datetime] NULL,
	[dRegisteredAt] [datetime] NULL,
	[nCurrentStateType] [tinyint] NOT NULL,
 CONSTRAINT [PK_Shipping_tPackage] PRIMARY KEY CLUSTERED 
(
	[kPackage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Shipping].[tPackage] ADD  CONSTRAINT [DF_Shipping_tPackage_nCurrentStateType]  DEFAULT ((0)) FOR [nCurrentStateType]
GO
ALTER TABLE [Shipping].[tPackage]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_tPackage_kVersand] FOREIGN KEY([kVersand])
REFERENCES [dbo].[tVersand] ([kVersand])
ON DELETE CASCADE
GO
ALTER TABLE [Shipping].[tPackage] CHECK CONSTRAINT [FK_Shipping_tPackage_kVersand]
GO
