USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tVersandplattformVersandartData]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tVersandplattformVersandartData](
	[kVersandplattformVersandart] [int] IDENTITY(1,1) NOT NULL,
	[uConfigurationId] [uniqueidentifier] NULL,
	[uExtensionId] [uniqueidentifier] NULL,
	[cField] [nvarchar](max) NULL,
	[cValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_Shipping_tVersandplattformVersandartData] PRIMARY KEY CLUSTERED 
(
	[kVersandplattformVersandart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
