USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tTrackAndTraceConfiguration]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tTrackAndTraceConfiguration](
	[kVersandart] [int] NOT NULL,
	[nTrackAndTraceProviderType] [int] NOT NULL,
	[nIsEnabled] [tinyint] NOT NULL,
 CONSTRAINT [PK_Shipping_tTrackAndTraceConfiguration] PRIMARY KEY CLUSTERED 
(
	[kVersandart] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Shipping].[tTrackAndTraceConfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_tTrackAndTraceConfiguration_tversandart] FOREIGN KEY([kVersandart])
REFERENCES [dbo].[tversandart] ([kVersandArt])
ON DELETE CASCADE
GO
ALTER TABLE [Shipping].[tTrackAndTraceConfiguration] CHECK CONSTRAINT [FK_Shipping_tTrackAndTraceConfiguration_tversandart]
GO
