USE [eazybusiness]
GO
/****** Object:  View [Shipping].[vExportDocumentsLieferscheinPositionen]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Shipping].[vExportDocumentsLieferscheinPositionen]
AS
SELECT        CASE WHEN Verkauf.tAuftragPosition.nType = 0 THEN Verkauf.tAuftragPosition.cName ELSE CASE WHEN EnglischeBeschreibung.kArtikel IS NOT NULL 
                         THEN EnglischeBeschreibung.cName ELSE StandardSprache.cName END END AS Beschreibung, 
                         CASE WHEN Verkauf.tAuftragPosition.nType = 0 THEN Verkauf.tAuftragPosition.cNameStandard ELSE StandardSprache.cName END AS StandardBeschreibung, dbo.tArtikel.cHerkunftsland AS Herkunftsland, 
                         SUM(dbo.tLieferscheinPos.fAnzahl) AS Anzahl, MIN(dbo.tArtikel.fArtGewicht) AS Nettogewicht, MIN(dbo.tArtikel.fGewicht) AS Bruttogewicht, MIN(Verkauf.tAuftragPosition.fVkNetto) 
                         * CASE WHEN Verkauf.tAuftrag.cOutboundId IS NOT NULL AND Verkauf.tAuftrag.cOutboundId != '' THEN 1 ELSE MIN((100 - Verkauf.tAuftragPosition.fRabatt) / 100) END AS Wert, dbo.tArtikel.cArtNr AS Artikelnummer, 
                         dbo.tArtikel.cTaric AS TaricNummer, Verkauf.tAuftrag.cWaehrung AS Waehrung, Herkunftsland.cISO AS HerkunftlandIso, Herkunftsland.cISO3 AS HerkunftlandIso3, dbo.tLieferscheinPos.kLieferschein, Verkauf.tAuftrag.kAuftrag, 
                         CASE WHEN HerkuntslandIsoIstValide.cISO IS NOT NULL THEN 1 ELSE 0 END AS HerkunftslandIstIso, Verkauf.tAuftragPosition.nType AS Typ
FROM            dbo.tLieferscheinPos LEFT OUTER JOIN
                         Verkauf.tAuftragPosition ON Verkauf.tAuftragPosition.kAuftragPosition = dbo.tLieferscheinPos.kBestellPos INNER JOIN
                         Verkauf.tAuftrag ON Verkauf.tAuftrag.kAuftrag = Verkauf.tAuftragPosition.kAuftrag LEFT OUTER JOIN
                         dbo.tArtikel ON dbo.tArtikel.kArtikel = Verkauf.tAuftragPosition.kArtikel LEFT OUTER JOIN
                         dbo.tSpracheUsed ON dbo.tSpracheUsed.nStandard = 1 LEFT OUTER JOIN
                         dbo.tland AS Herkunftsland ON Herkunftsland.cName = dbo.tArtikel.cHerkunftsland OR Herkunftsland.cISO3 = dbo.tArtikel.cHerkunftsland OR Herkunftsland.cISO = dbo.tArtikel.cHerkunftsland LEFT OUTER JOIN
                         dbo.tland AS HerkuntslandIsoIstValide ON HerkuntslandIsoIstValide.cISO = dbo.tArtikel.cHerkunftsland LEFT OUTER JOIN
                         dbo.tArtikelBeschreibung AS StandardSprache ON StandardSprache.kArtikel = dbo.tArtikel.kArtikel AND dbo.tSpracheUsed.kSprache = StandardSprache.kSprache AND StandardSprache.kPlattform = 1 AND 
                         StandardSprache.kShop = 0 LEFT OUTER JOIN
                         dbo.tSpracheUsed AS Englisch ON Englisch.cISO = 'eng' LEFT OUTER JOIN
                         dbo.tArtikelBeschreibung AS EnglischeBeschreibung ON EnglischeBeschreibung.kArtikel = dbo.tArtikel.kArtikel AND EnglischeBeschreibung.kSprache = Englisch.kSprache AND EnglischeBeschreibung.kPlattform = 1 AND 
                         EnglischeBeschreibung.kShop = 0
WHERE        (Verkauf.tAuftragPosition.kAuftragStueckliste = 0) OR
                         (Verkauf.tAuftragPosition.kAuftragStueckliste IS NULL) OR
                         (Verkauf.tAuftragPosition.kAuftragStueckliste = Verkauf.tAuftragPosition.kAuftragPosition) AND (Verkauf.tAuftragPosition.nType IN (0, 1))
GROUP BY EnglischeBeschreibung.kArtikel, EnglischeBeschreibung.cName, StandardSprache.cName, Verkauf.tAuftragPosition.cName, dbo.tArtikel.cHerkunftsland, Verkauf.tAuftrag.cWaehrung, Verkauf.tAuftrag.cOutboundId, 
                         dbo.tArtikel.cTaric, Herkunftsland.cISO, Herkunftsland.cISO3, dbo.tArtikel.cArtNr, Verkauf.tAuftragPosition.nType, Verkauf.tAuftrag.kAuftrag, dbo.tLieferscheinPos.kLieferschein, HerkuntslandIsoIstValide.cISO, 
                         Verkauf.tAuftragPosition.cNameStandard
GO
