USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tMessage]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tMessage](
	[kMessage] [int] IDENTITY(1,1) NOT NULL,
	[kPackage] [int] NOT NULL,
	[kMessageServer] [int] NULL,
	[cCode] [nvarchar](255) NOT NULL,
	[nStatus] [tinyint] NOT NULL,
	[dTimestamp] [datetime] NOT NULL,
	[nSource] [tinyint] NOT NULL,
	[cContent] [nvarchar](max) NOT NULL,
	[cContentShort] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Shipping_tMessage] PRIMARY KEY CLUSTERED 
(
	[kMessage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Shipping].[tMessage]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_tMessage_kPackage] FOREIGN KEY([kPackage])
REFERENCES [Shipping].[tPackage] ([kPackage])
ON DELETE CASCADE
GO
ALTER TABLE [Shipping].[tMessage] CHECK CONSTRAINT [FK_Shipping_tMessage_kPackage]
GO
