USE [eazybusiness]
GO
/****** Object:  Table [Shipping].[tPackageDpdProperties]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Shipping].[tPackageDpdProperties](
	[kPackageDpdProperties] [int] IDENTITY(1,1) NOT NULL,
	[kPackage] [int] NOT NULL,
	[cDelisId] [varchar](255) NOT NULL,
 CONSTRAINT [PK_tPackageDpdProperties] PRIMARY KEY CLUSTERED 
(
	[kPackageDpdProperties] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Shipping].[tPackageDpdProperties]  WITH CHECK ADD  CONSTRAINT [FK_Shipping_tPackage_kPackage] FOREIGN KEY([kPackage])
REFERENCES [Shipping].[tPackage] ([kPackage])
ON DELETE CASCADE
GO
ALTER TABLE [Shipping].[tPackageDpdProperties] CHECK CONSTRAINT [FK_Shipping_tPackage_kPackage]
GO
