USE [eazybusiness]
GO
/****** Object:  View [Statistik].[vRechnung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Statistik].[vRechnung]
AS
(
	SELECT
		tAuftragRechnung.kAuftrag AS kAuftrag,
		tRechnung.kRechnung AS kRechnung,
		tRechnung.cRechnungsnr AS cRechnungsnr,
		tRechnung.dErstellt AS dErstellt,
		tRechnung.nIstEntwurf AS nIstEntwurf,
		tRechnung.kKunde AS kKunde,
		tRechnung.kFarbe AS kFarbe,
		tRechnung.kFirmaHistory AS kFirmaHistory,
		tRechnung.kBenutzer AS kBenutzer,
		tRechnung.kZahlungsart AS kZahlungsart,
		tRechnung.kSprache AS kSprache,
		tRechnung.cVersandlandISO AS cVersandlandISO,
		tRechnung.kPlattform AS kPlattform,
		tRechnung.kVersandArt AS kVersandArt,
		tRechnung.fWaehrungsfaktor AS fFaktor,
		tRechnung.nStorno AS nStorno,
		tRechnungEckdaten.nKorrigiert AS nKorrigiert,
		tRechnung.nIstExterneRechnung AS nIstExterneRechnung
	FROM Rechnung.tRechnung
	JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
	LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kRechnung = tRechnung.kRechnung

	UNION

	SELECT
		tAuftrag.kAuftrag AS kAuftrag,
		tAuftrag.kAuftrag * -1 AS kRechnung,
		NULL AS cRechnungsNr,
		tAuftrag.dErstellt AS dErstellt,
		0 AS nIstEntwurf,
		tAuftrag.kKunde AS kKunde,
		tAuftrag.kFarbe AS kFarbe,
		tAuftrag.kFirmaHistory AS kFirmaHistory,
		tAuftrag.kBenutzer AS kBenutzer,
		tAuftrag.kZahlungsart AS kZahlungsart,
		tAuftrag.kSprache AS kSprache,
		tAuftrag.cVersandlandISO AS cVersandlandISO,
		tAuftrag.kPlattform AS kPlattform,
		tAuftrag.kVersandArt AS kVersandArt,
		tAuftrag.fFaktor AS fFaktor,
		tAuftrag.nStorno AS nStorno,
		0 AS nKorrigiert,
		tAuftrag.nIstExterneRechnung AS nIstExterneRechnung
	FROM Verkauf.tAuftrag
	LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tPlattform ON tAuftrag.kPlattform = tPlattform.nPlattform
	WHERE tAuftrag.nIstExterneRechnung = 1 
		AND tAuftragRechnung.kRechnung IS NULL 
			AND tPlattform.nTyp != 6
)
GO
