USE [eazybusiness]
GO
/****** Object:  View [Statistik].[Artikelzustand]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Statistik].[Artikelzustand]
AS
	SELECT 
		dbo.tZustandSprache.kZustand, 
		dbo.tZustandSprache.cName 
	FROM dbo.tZustandSprache
	JOIN dbo.tSpracheUsed ON dbo.tSpracheUsed.kSprache = dbo.tZustandSprache.kSprache
	WHERE dbo.tSpracheUsed.nStandard = 1
GO
