USE [eazybusiness]
GO
/****** Object:  View [Statistik].[vAuftragsfarben]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Statistik].[vAuftragsfarben] AS
(
	SELECT 0 kFarbe, 
			'Farblos' cName 
UNION
	SELECT 16777215 AS kFarbe, 
			'Weiß' AS cName
UNION
	SELECT 8355711 AS kFarbe,
			'Grau' AS cName
UNION
	SELECT 255 AS kFarbe,
			'Rot' AS cName
UNION
	SELECT 32767 AS kFarbe,
			'Orange' AS cName
UNION
	SELECT 65535 AS kFarbe,
	'Gelb' AS cName
UNION
	SELECT 65280 AS kFarbe,
	'Grün' AS cName
UNION
	SELECT 16776960 AS kFarbe,
	'Türkis' AS cName
UNION
	SELECT 16744576 AS kFarbe,
	'Blau' AS cName
UNION
	SELECT 16711935 AS kFarbe,
	'Lila' AS cName
	)
GO
