USE [eazybusiness]
GO
/****** Object:  View [Statistik].[vRechnungPosition]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Statistik].[vRechnungPosition]
AS
(
	SELECT
		tRechnungPosition.kRechnungPosition AS kRechnungPosition,
		tRechnungPosition.kRechnung AS kRechnung,
		tRechnungPosition.kAuftragPosition AS kAuftragPosition,
		tRechnungPosition.kAuftrag AS kAuftrag,
		tRechnungPosition.kArtikel AS kArtikel,
		tRechnungPosition.fMwSt AS fMwst,
		tRechnungPosition.nType AS nType,
		tRechnungPosition.fVkNetto AS fVkNetto,
		tRechnungPosition.fEkNetto AS fEkNetto,
		tRechnungPositionEckdaten.fVKBrutto AS fVkBrutto,
		tRechnungPositionEckdaten.fVKBruttoGesamt AS fVkBruttoGesamt,
		tRechnungPositionEckdaten.fVKNettoGesamt AS fVkNettoGesamt,
		tRechnungPosition.fAnzahl AS fAnzahl,
		tRechnungPosition.fRabatt AS fRabatt
	FROM Rechnung.tRechnungPosition
	JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = tRechnungPosition.kRechnungPosition

	UNION

	SELECT
		tAuftragPosition.kAuftragPosition * -1 AS kRechnungPosition,
		tAuftragPosition.kAuftrag * -1 AS kRechnung,
		tAuftragPosition.kAuftragPosition AS kAuftragPosition,
		tAuftragPosition.kAuftrag AS kAuftrag,
		tAuftragPosition.kArtikel AS kArtikel,
		tAuftragPosition.fMwSt AS fMwst,
		tAuftragPosition.nType AS nType,
		tAuftragPosition.fVkNetto AS fVkNetto,
		tAuftragPosition.fEkNetto AS fEkNetto,
		tAuftragPosition.fVkNetto * (1.0 + tAuftragPosition.fMwSt / 100.0) AS fVkBrutto,
		tAuftragPositionEckdaten.fWertBrutto AS fVkBruttoGesamt,
		tAuftragPositionEckdaten.fWertNetto AS fVkNettoGesamt,
		tAuftragPosition.fAnzahl AS fAnzahl,
		tAuftragPosition.fRabatt AS fRabatt
	FROM Verkauf.tAuftragPosition
	JOIN Verkauf.tAuftragPositionEckdaten ON tAuftragPositionEckdaten.kAuftragPosition = tAuftragPosition.kAuftragPosition
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragPosition.kAuftrag
	LEFT JOIN Verkauf.tAuftragRechnung ON tAuftragRechnung.kAuftrag = tAuftrag.kAuftrag
	WHERE tAuftrag.nIstExterneRechnung = 1 
		AND tAuftragRechnung.kRechnung IS NULL
)
GO
