USE [eazybusiness]
GO
/****** Object:  View [Statistik].[Lieferantenfaktoren]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Statistik].[Lieferantenfaktoren]
AS
SELECT 
	MengeJeLieferant.kArtikel, 
	MengeJeLieferant.kLieferant, 
	MengeJeLieferant.cFirma, 
	CASE 
		WHEN MengeGesamt.Bestellmenge = 0 THEN 0
		ELSE ROUND((MengeJeLieferant.Bestellmenge / MengeGesamt.Bestellmenge), 4)
	END AS FAKTOR 
FROM 
	(
		--
		-- Bestellmenge Artikel je Lieferant
		--
		SELECT 
			dbo.tLieferantenBestellungPos.kArtikel, 
			dbo.tlieferant.kLieferant, 
			dbo.tlieferant.cFirma, 
			SUM(dbo.tLieferantenBestellungPos.fMenge) AS Bestellmenge 
		FROM dbo.tLieferantenBestellungPos 
		JOIN dbo.tLieferantenBestellung ON dbo.tLieferantenBestellungPos.kLieferantenBestellung = dbo.tLieferantenBestellung.kLieferantenBestellung
		JOIN dbo.tlieferant ON dbo.tLieferantenBestellung.kLieferant = dbo.tlieferant.kLieferant
		WHERE dbo.tLieferantenBestellungPos.kArtikel > 0
		GROUP BY 
			dbo.tLieferantenBestellungPos.kArtikel, 
			dbo.tlieferant.kLieferant, 
			dbo.tlieferant.cFirma
	) AS MengeJeLieferant
JOIN
	(
		--
		-- Bestellmenge Artikel Gesamt
		--
		SELECT 
			dbo.tLieferantenBestellungPos.kArtikel, 
			SUM(dbo.tLieferantenBestellungPos.fMenge) AS Bestellmenge 
		FROM 
			dbo.tLieferantenBestellungPos 
		GROUP BY 
			dbo.tLieferantenBestellungPos.kArtikel
	) AS MengeGesamt ON MengeJeLieferant.kArtikel = MengeGesamt.kArtikel
GO
