USE [eazybusiness]
GO
/****** Object:  View [Statistik].[BestellposTypenName]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Statistik].[BestellposTypenName]
AS
		SELECT 0 AS tbestellpos_nType, 'Freiposition'					AS Name UNION
        SELECT 1 AS tbestellpos_nType, 'Artikel' 						AS Name UNION
        SELECT 2 AS tbestellpos_nType, 'Versandposition' 				AS Name UNION
        SELECT 3 AS tbestellpos_nType, 'Coupon' 						AS Name UNION
        SELECT 4 AS tbestellpos_nType, 'Gutschein' 						AS Name UNION
        SELECT 5 AS tbestellpos_nType, 'Zahlungsart' 					AS Name UNION
        SELECT 6 AS tbestellpos_nType, 'Versandzuschlag' 				AS Name UNION
        SELECT 7 AS tbestellpos_nType, 'Neukundencoupon' 				AS Name UNION
        SELECT 8 AS tbestellpos_nType, 'Nachnahmegebühr' 				AS Name UNION
        SELECT 9 AS tbestellpos_nType, 'Versandzuschlag für Artikel' 	AS Name UNION
        SELECT 10 AS tbestellpos_nType, 'Verpackung' 					AS Name UNION
        SELECT 11 AS tbestellpos_nType, 'Gratisgeschenk' 				AS Name UNION
        SELECT 12 AS tbestellpos_nType, 'Trusted-Shops-Gebühr' 			AS Name UNION
        SELECT 13 AS tbestellpos_nType, 'Zinsaufschlag' 				AS Name UNION
        SELECT 14 AS tbestellpos_nType, 'Bearbeitungsgebühr' 			AS Name UNION
		SELECT 15 AS tbestellpos_nType, 'Karton'						AS Name UNION
		SELECT 16 AS tbestellpos_nType, 'Retoure'						AS Name UNION
		SELECT 17 as tbestellpos_nType, 'Mehrzweckgutschein'			AS Name UNION
		SELECT 18 as tbestellpos_nType, 'Mehrzweckgutschein Digital'	AS Name UNION
		SELECT 19 as tbestellpos_nType, 'Einzweckgutschein'				AS Name UNION
		SELECT 20 as tbestellpos_nType, 'Einzweckgutschein Digital'		AS Name UNION
		SELECT 21 as tbestellpos_nType, 'Einzweckgutschein Einlösung'	AS Name
GO
