USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vSteuerdaten]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vSteuerdaten] AS
(
    SELECT 
        Steuerdaten.kSteuerzone AS kSteuerzone,
        Steuerdaten.cVersandlandIso AS cVersandlandIso,
        Steuerdaten.cZiellandIso AS cZiellandIso,
        Steuerdaten.cZielbundesland AS cZielbundesland,
        Steuerdaten.kFirma AS kFirma,
        Steuerdaten.cFirmaName AS cFirmaName,
        Steuerdaten.kSteuerklasse AS kSteuerklasse,
        Steuerdaten.fSteuersatzErmittelt AS fSteuersatzErmittelt,
        Steuerdaten.fSteuersatz AS fSteuersatz,
        Steuerdaten.nSteuertyp AS nSteuertyp,
        Steuerdaten.nIstSpezifisch AS nIstSpezifisch
    FROM 
    (
        SELECT    
            vSteuerdatenIntern.kSteuerzone AS kSteuerzone,
            vSteuerdatenIntern.cVersandlandIso AS cVersandlandIso,
            vSteuerdatenIntern.cZiellandIso AS cZiellandIso,
            vSteuerdatenIntern.cZielbundesland AS cZielbundesland,
            tfirma.kFirma AS kFirma,
            tfirma.cName AS cFirmaName,
            vSteuerdatenIntern.kSteuerklasse AS kSteuerklasse,
            vSteuerdatenIntern.fSteuersatzErmittelt AS fSteuersatzErmittelt,
            vSteuerdatenIntern.fSteuersatz AS fSteuersatz,
            vSteuerdatenIntern.nSteuertyp AS nSteuertyp,
            vSteuerdatenIntern.nIstSpezifisch AS nIstSpezifisch,
            ROW_NUMBER() OVER (PARTITION BY vSteuerdatenIntern.cVersandlandIso, vSteuerdatenIntern.cZiellandIso, vSteuerdatenIntern.cZielbundesland, vSteuerdatenIntern.kSteuerklasse, vSteuerdatenIntern.nSteuertyp, tfirma.kFirma ORDER BY vSteuerdatenIntern.nFirmaPrio ASC) AS nRowNumber
        FROM Steuern.vSteuerdatenIntern
        CROSS JOIN dbo.tfirma
        LEFT JOIN Steuern.vSteuerzonenBlacklistIntern 
            ON vSteuerzonenBlacklistIntern.kSteuerzone = vSteuerdatenIntern.kSteuerzone 
                AND vSteuerzonenBlacklistIntern.kFirma = tfirma.kFirma
        WHERE (vSteuerdatenIntern.kFirma = tfirma.kFirma OR vSteuerdatenIntern.kFirma = 0)
            AND vSteuerzonenBlacklistIntern.kSteuerzone IS NULL
    ) AS Steuerdaten
    WHERE Steuerdaten.nRowNumber = 1
)
GO
