USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vSteuerschluessel]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vSteuerschluessel] AS
(
    SELECT 
        NULL AS kWarengruppe,
        NULL AS nPositionstyp,
        vVersandartSteuerschluessel.kVersandArt,
        vVersandartSteuerschluessel.kSteuersatz,
        vVersandartSteuerschluessel.kSteuerzone,
        vVersandartSteuerschluessel.kSteuerklasse,
        ISNULL(vVersandartSteuerschluessel.kSteuerschluessel, ISNULL(vPositionstypSteuerschluessel.kSteuerschluessel, tSteuersatz.kStSchl)) AS kSteuerschluessel,
        ISNULL(vVersandartSteuerschluessel.kSteuerschluesselIGL, ISNULL(vPositionstypSteuerschluessel.kSteuerschluesselIGL, tSteuersatz.kStSchlIGL)) AS kSteuerschluesselIGL,
        ISNULL(vVersandartSteuerschluessel.kSteuerschluesselUstIGL, ISNULL(vPositionstypSteuerschluessel.kSteuerschluesselUstIGL, tSteuersatz.kStSchlUStIGL)) AS kSteuerschluesselUstIGL,
        ISNULL(vVersandartSteuerschluessel.kSteuerschluesselReverseCharge, ISNULL(vPositionstypSteuerschluessel.kSteuerschluesselReverseCharge, tSteuersatz.kStSchlReverse)) AS kSteuerschluesselReverseCharge
    FROM Steuern.vVersandartSteuerschluessel
    JOIN Steuern.vPositionstypSteuerschluessel 
        ON vPositionstypSteuerschluessel.kSteuersatz = vVersandartSteuerschluessel.kSteuersatz
            AND vPositionstypSteuerschluessel.kSteuerzone = vVersandartSteuerschluessel.kSteuerzone
            AND vPositionstypSteuerschluessel.kSteuerklasse = vVersandartSteuerschluessel.kSteuerklasse
            AND vPositionstypSteuerschluessel.nPositionstyp = 2 --Versandposition
    JOIN dbo.tSteuersatz ON tSteuersatz.kSteuersatz = vVersandartSteuerschluessel.kSteuersatz
    UNION ALL
    SELECT 
        NULL AS kWarengruppe,
        vPositionstypSteuerschluessel.nPositionstyp,
        NULL AS kVersandArt,
        vPositionstypSteuerschluessel.kSteuersatz,
        vPositionstypSteuerschluessel.kSteuerzone,
        vPositionstypSteuerschluessel.kSteuerklasse,
        ISNULL(vPositionstypSteuerschluessel.kSteuerschluessel, tSteuersatz.kStSchl) AS kSteuerschluessel,
        ISNULL(vPositionstypSteuerschluessel.kSteuerschluesselIGL, tSteuersatz.kStSchlIGL) AS kSteuerschluesselIGL,
        ISNULL(vPositionstypSteuerschluessel.kSteuerschluesselUstIGL, tSteuersatz.kStSchlUStIGL) AS kSteuerschluesselUstIGL,
        ISNULL(vPositionstypSteuerschluessel.kSteuerschluesselReverseCharge, tSteuersatz.kStSchlReverse) AS kSteuerschluesselReverseCharge
    FROM Steuern.vPositionstypSteuerschluessel
    JOIN dbo.tSteuersatz ON tSteuersatz.kSteuersatz = vPositionstypSteuerschluessel.kSteuersatz
    UNION ALL
    SELECT 
        vWarengruppenSteuerschluessel.kWarengruppe,
        NULL AS nPositionstyp,
        NULL AS kVersandArt,
        vWarengruppenSteuerschluessel.kSteuersatz,
        vWarengruppenSteuerschluessel.kSteuerzone,
        vWarengruppenSteuerschluessel.kSteuerklasse,
        ISNULL(vWarengruppenSteuerschluessel.kSteuerschluessel, tSteuersatz.kStSchl) AS kSteuerschluessel,
        ISNULL(vWarengruppenSteuerschluessel.kSteuerschluesselIGL, tSteuersatz.kStSchlIGL) AS kSteuerschluesselIGL,
        ISNULL(vWarengruppenSteuerschluessel.kSteuerschluesselUstIGL, tSteuersatz.kStSchlUStIGL) AS kSteuerschluesselUstIGL,
        ISNULL(vWarengruppenSteuerschluessel.kSteuerschluesselReverseCharge, tSteuersatz.kStSchlReverse) AS kSteuerschluesselReverseCharge
    FROM Steuern.vWarengruppenSteuerschluessel
    JOIN dbo.tSteuersatz ON tSteuersatz.kSteuersatz = vWarengruppenSteuerschluessel.kSteuersatz
    UNION ALL
        SELECT 
        vWarengruppenSteuerschluessel.kWarengruppe AS kWarengruppe,
        vPositionstypSteuerschluessel.nPositionstyp,
        NULL AS kVersandArt,
        vPositionstypSteuerschluessel.kSteuersatz,
        vPositionstypSteuerschluessel.kSteuerzone,
        vPositionstypSteuerschluessel.kSteuerklasse,
        ISNULL(vPositionstypSteuerschluessel.kSteuerschluessel, ISNULL(vWarengruppenSteuerschluessel.kSteuerschluessel, tSteuersatz.kStSchl)) AS kSteuerschluessel,
        ISNULL(vPositionstypSteuerschluessel.kSteuerschluesselIGL, ISNULL(vWarengruppenSteuerschluessel.kSteuerschluesselIGL, tSteuersatz.kStSchlIGL)) AS kSteuerschluesselIGL,
        ISNULL(vPositionstypSteuerschluessel.kSteuerschluesselUstIGL, ISNULL(vWarengruppenSteuerschluessel.kSteuerschluesselUstIGL, tSteuersatz.kStSchlUStIGL)) AS kSteuerschluesselUstIGL,
        ISNULL(vPositionstypSteuerschluessel.kSteuerschluesselReverseCharge, ISNULL(vWarengruppenSteuerschluessel.kSteuerschluesselReverseCharge, tSteuersatz.kStSchlReverse)) AS kSteuerschluesselReverseCharge
    FROM Steuern.vPositionstypSteuerschluessel
    JOIN Steuern.vWarengruppenSteuerschluessel 
        ON vWarengruppenSteuerschluessel.kSteuersatz = vPositionstypSteuerschluessel.kSteuersatz
            AND vWarengruppenSteuerschluessel.kSteuerzone = vPositionstypSteuerschluessel.kSteuerzone
            AND vWarengruppenSteuerschluessel.kSteuerklasse = vPositionstypSteuerschluessel.kSteuerklasse
    JOIN dbo.tSteuersatz ON tSteuersatz.kSteuersatz = vPositionstypSteuerschluessel.kSteuersatz
    UNION ALL
    SELECT 
        NULL AS kWarengruppe,
        NULL AS nPositionstyp,
        NULL AS kVersandArt,
        tSteuersatz.kSteuersatz,
        tSteuersatz.kSteuerzone AS kSteuerzone,
        tSteuersatz.kSteuerklasse AS kSteuerklasse,
        tSteuersatz.kStSchl AS kSteuerschluessel,
        tSteuersatz.kStSchlIGL AS kSteuerschluesselIGL,
        tSteuersatz.kStSchlUStIGL AS kSteuerschluesselUstIGL,
        tSteuersatz.kStSchlReverse AS kSteuerschluesselReverseCharge
    FROM dbo.tSteuersatz
)
GO
