USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vSteuertyp]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vSteuertyp] AS
(
	SELECT 0 AS nSteuertyp, 'KeineSteuerbefreiung' AS Name UNION
	SELECT 10 AS nSteuertyp, 'UmsatzsteuerfreiIGL' AS Name UNION
	SELECT 15 AS nSteuertyp, 'UmsatzsteuerfreiReverseChargeVerfahren' AS Name UNION
	SELECT 20 AS nSteuertyp, 'UmsatzsteuerfreiNichtEU' AS Name
)
GO
