USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vUstIdKorrektur]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vUstIdKorrektur]
AS
(
	SELECT
		tAuftrag.kAuftrag AS kAuftrag,
		tAuftrag.cAuftragsNr AS cAuftragsnummer,
		tAuftrag.dErstellt AS dAuftragsdatum,
		Versandland.cName AS cVersandland,
		tAuftrag.cVersandlandISO AS cVersandlandIso,
		vAuftragLieferadresse.cLand AS cLieferland,
		vAuftragLieferadresse.cISO AS cLieferlandIso,
		vAuftragRechnungsadresse.cLand AS cRechnungsland,
		vAuftragRechnungsadresse.cISO AS cRechnungslandIso,
		tAuftrag.cKundeUstId AS cKundeUstId,
		IIF(RechnungDaten.kAuftrag IS NULL, 0, 1) AS nRechnungVorhanden,
		ISNULL(RechnungDaten.nHasRechnungskorrektur, 0) AS nRechnungskorrekturVorhanden,
		tAuftrag.cUstId AS cIstUmsatzsteueridentnummer,
		UstId.cUstId AS cSollUmsatzsteueridentnummer
	FROM Verkauf.tAuftrag
	JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = tAuftrag.kAuftrag
	JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tland AS Versandland ON Versandland.cISO = tAuftrag.cVersandlandISO
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tAuftrag.kFirmaHistory
	LEFT JOIN
	(
		SELECT
			tAuftragRechnung.kAuftrag,
			MAX(IIF(tRechnungEckdaten.nHasRechnungskorrektur = 1, 1, 0)) AS nHasRechnungskorrektur
		FROM Verkauf.tAuftragRechnung
		JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tAuftragRechnung.kRechnung
		JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
		WHERE tRechnung.nStorno = 0
		GROUP BY tAuftragRechnung.kAuftrag
	) AS RechnungDaten ON RechnungDaten.kAuftrag = tAuftrag.kAuftrag
	CROSS APPLY
	(
		SELECT
			ValidateUstId.cUstIdPraefix,
			ValidateUstId.nIsoExist,
			IIF(ValidateUstId.nIsoExist = 1, ValidateUstId.cUstIdPraefix, vAuftragLieferadresse.cISO) AS cZiellandIso,
			IIF(ValidateUstId.nIsoExist = 1, '', vAuftragLieferadresse.cBundesland) AS cZielbundeslandKuerzel
		FROM Steuern.ValidateUstId(tAuftrag.cKundeUstId)
	) AS Parameter
	JOIN Steuern.tSteuerdatenCache AS Steuerdaten
		ON Steuerdaten.kFirma = tFirmaHistory.kFirma
		AND Steuerdaten.cVersandlandIso = tAuftrag.cVersandlandISO
		AND Steuerdaten.cZiellandIso = Parameter.cZiellandIso
		AND Steuerdaten.cZielbundesland = IIF(Parameter.cZiellandIso = 'US', ISNULL(Parameter.cZielbundeslandKuerzel, ''), '')
	CROSS APPLY
	(
		SELECT Steuern.GetUstIdFromZone(Steuerdaten.kFirma, Steuerdaten.kSteuerzone, Parameter.nIsoExist) AS cUstId
	) AS UstId
	WHERE ISNULL(UstId.cUstId, '') <> ISNULL(tAuftrag.cUstId, '')
);
GO
