USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vSteuerzonenBlacklistIntern]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vSteuerzonenBlacklistIntern] AS
(
	SELECT
		tSteuerzone.kSteuerzone,
		SpezifischeZonen.kFirma
	FROM dbo.tSteuerzone
	JOIN (
		SELECT 
			tSteuerzone.kFirma,
		    tSteuerzone.cLandISO
		FROM dbo.tSteuerzone
		WHERE tSteuerzone.kFirma > 0
		GROUP BY tSteuerzone.kFirma, tSteuerzone.cLandISO) AS SpezifischeZonen ON SpezifischeZonen.cLandISO = tSteuerzone.cLandISO AND tSteuerzone.kFirma = 0
)
GO
