USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vPositionstyp]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vPositionstyp] AS
(
    SELECT 0 AS nPositionstyp, 'Freiposition' AS Name UNION
    SELECT 1 AS nPositionstyp, 'Artikel' AS Name UNION
    SELECT 2 AS nPositionstyp, 'Versandposition' AS Name UNION
    SELECT 3 AS nPositionstyp, 'Kupon' AS Name UNION
    SELECT 4 AS nPositionstyp, 'Gutschein' AS Name UNION
    SELECT 5 AS nPositionstyp, 'Zahlungsart' AS Name UNION
    SELECT 6 AS nPositionstyp, 'Versandzuschlag' AS Name UNION
    SELECT 7 AS nPositionstyp, 'Neukundenkupon' AS Name UNION
    SELECT 8 AS nPositionstyp, 'Nachnahmegebuehr' AS Name UNION
    SELECT 9 AS nPositionstyp, 'VersandzuschlagArtikel' AS Name UNION
    SELECT 10 AS nPositionstyp, 'Geschenkverpackung' AS Name UNION
    SELECT 11 AS nPositionstyp, 'Gratisgeschenk' AS Name UNION
    SELECT 12 AS nPositionstyp, 'TrustedShops' AS Name UNION
    SELECT 13 AS nPositionstyp, 'Zinsaufschlag' AS Name UNION
    SELECT 14 AS nPositionstyp, 'Bearbeitungsgebuehr' AS Name UNION
    SELECT 15 AS nPositionstyp, 'Karton' AS Name UNION
    SELECT 16 AS nPositionstyp, 'Retoure' AS Name UNION
    SELECT 17 AS nPositionstyp, 'Mehrzweckgutschein' AS Name UNION
    SELECT 18 AS nPositionstyp, 'MehrzweckgutscheinDigital' AS Name UNION
    SELECT 19 AS nPositionstyp, 'Einzweckgutschein' AS Name UNION
    SELECT 20 AS nPositionstyp, 'EinzweckgutscheinDigital' AS Name UNION
    SELECT 21 AS nPositionstyp, 'EinzweckgutscheinEinloesung' AS Name
)
GO
