USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vSteuerschluesselDaten]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vSteuerschluesselDaten] AS
(
	SELECT
		vSteuerschluessel.kWarengruppe,
		vSteuerschluessel.nPositionstyp,
		vSteuerschluessel.kVersandArt,
		vSteuerschluessel.kSteuersatz,
		vSteuerschluessel.kSteuerzone,
		vSteuerschluessel.kSteuerklasse,
		CASE
			WHEN vSteuertyp.nSteuertyp = 10
				THEN vSteuerschluessel.kSteuerschluesselIGL
			WHEN vSteuertyp.nSteuertyp = 15
				THEN vSteuerschluessel.kSteuerschluesselReverseCharge
			WHEN vSteuertyp.nSteuertyp = 20
				THEN vSteuerschluessel.kSteuerschluesselUstIGL
			ELSE vSteuerschluessel.kSteuerschluessel
		END AS kSteuerschluessel,
		vSteuertyp.nSteuertyp
	FROM Steuern.vSteuerschluessel
	CROSS JOIN Steuern.vSteuertyp
)
GO
