USE [eazybusiness]
GO
/****** Object:  Table [Steuern].[tSteuerdatenCache]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Steuern].[tSteuerdatenCache](
	[kFirma] [int] NOT NULL,
	[cVersandlandIso] [nvarchar](5) NOT NULL,
	[cZiellandIso] [nvarchar](5) NOT NULL,
	[cZielbundesland] [nvarchar](5) NOT NULL,
	[kSteuerzone] [int] NOT NULL,
 CONSTRAINT [PK_Steuern_tSteuerdatenCache] PRIMARY KEY CLUSTERED 
(
	[kFirma] ASC,
	[cVersandlandIso] ASC,
	[cZiellandIso] ASC,
	[cZielbundesland] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
