USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vVersandartSteuerschluessel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vVersandartSteuerschluessel] AS
(
    SELECT 
        tversandart.kVersandArt,
        tSteuersatz.kSteuersatz,
        tSteuersatz.kSteuerzone,
        tSteuersatz.kSteuerklasse,
        IIF(tSteuersatzschluessel.kSteuerschluessel = 0, NULL, tSteuersatzschluessel.kSteuerschluessel) AS kSteuerschluessel,
        IIF(tSteuersatzschluessel.kStSchlIGL = 0, NULL, tSteuersatzschluessel.kStSchlIGL) AS kSteuerschluesselIGL,
        IIF(tSteuersatzschluessel.kStSchlUStIGL = 0, NULL, tSteuersatzschluessel.kStSchlUStIGL) AS kSteuerschluesselUstIGL,
        IIF(tSteuersatzschluessel.kStSchlReverse = 0, NULL, tSteuersatzschluessel.kStSchlReverse) AS kSteuerschluesselReverseCharge
    FROM dbo.tversandart
    CROSS JOIN dbo.tSteuersatz
    LEFT JOIN dbo.tSteuersatzschluessel 
        ON tSteuersatzschluessel.kVersandart = tversandart.kVersandart
            AND tSteuersatzschluessel.kSteuersatz = tSteuersatz.kSteuersatz
)
GO
