USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vSteuerdatenIntern]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vSteuerdatenIntern] AS
(
    SELECT
        tSteuerzone.kSteuerzone AS kSteuerzone,
        tSteuerzone.cLandISO AS cVersandlandIso,
        tSteuerzoneLand.cISO AS cZiellandIso,
        tSteuerzoneLand.cKuerzelBundesland AS cZielbundesland,
        tSteuerzone.kFirma AS kFirma,
        tSteuersatz.kSteuerklasse AS kSteuerklasse,
        CASE
            WHEN vSteuertyp.nSteuertyp IN (10, 15, 20)
                THEN 0
            ELSE tSteuersatz.fSteuersatz
        END AS fSteuersatzErmittelt,
        tSteuersatz.fSteuersatz AS fSteuersatz,
        vSteuertyp.nSteuertyp AS nSteuertyp,
        CASE 
            WHEN tSteuerzone.kFirma > 0
                THEN 1
            ELSE 2
        END AS nFirmaPrio,
        CASE 
            WHEN tSteuerzone.kFirma > 0
                THEN 1
            ELSE 0
        END AS nIstSpezifisch
    FROM dbo.tSteuerzone
    JOIN dbo.tSteuerzoneLand ON tSteuerzoneLand.kSteuerzone = tSteuerzone.kSteuerzone
    JOIN dbo.tSteuersatz ON tSteuersatz.kSteuerzone = tSteuerzone.kSteuerzone
    CROSS JOIN Steuern.vSteuertyp
)
GO
