USE [eazybusiness]
GO
/****** Object:  View [Steuern].[vSteuerschluesselIntern]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Steuern].[vSteuerschluesselIntern] AS
(
    SELECT 
        NULL AS kWarengruppe,
        NULL AS nPositionstyp,
        vVersandartSteuerschluessel.kVersandArt,
        vVersandartSteuerschluessel.kSteuersatz,
        vVersandartSteuerschluessel.kSteuerzone,
        vVersandartSteuerschluessel.kSteuerklasse,
        vVersandartSteuerschluessel.kSteuerschluessel,
        vVersandartSteuerschluessel.kSteuerschluesselIGL,
        vVersandartSteuerschluessel.kSteuerschluesselUstIGL,
        vVersandartSteuerschluessel.kSteuerschluesselReverseCharge,
        1 AS nPrio
    FROM Steuern.vVersandartSteuerschluessel
    UNION ALL
    SELECT 
        NULL AS kWarengruppe,
        vPositionstypSteuerschluessel.nPositionstyp,
        NULL AS kVersandArt,
        vPositionstypSteuerschluessel.kSteuersatz,
        vPositionstypSteuerschluessel.kSteuerzone,
        vPositionstypSteuerschluessel.kSteuerklasse,
        vPositionstypSteuerschluessel.kSteuerschluessel,
        vPositionstypSteuerschluessel.kSteuerschluesselIGL,
        vPositionstypSteuerschluessel.kSteuerschluesselUstIGL,
        vPositionstypSteuerschluessel.kSteuerschluesselReverseCharge,
        2 AS nPrio
    FROM Steuern.vPositionstypSteuerschluessel
    UNION ALL
    SELECT 
        vWarengruppenSteuerschluessel.kWarengruppe,
        NULL AS nPositionstyp,
        NULL AS kVersandArt,
        vWarengruppenSteuerschluessel.kSteuersatz,
        vWarengruppenSteuerschluessel.kSteuerzone,
        vWarengruppenSteuerschluessel.kSteuerklasse,
        vWarengruppenSteuerschluessel.kSteuerschluessel,
        vWarengruppenSteuerschluessel.kSteuerschluesselIGL,
        vWarengruppenSteuerschluessel.kSteuerschluesselUstIGL,
        vWarengruppenSteuerschluessel.kSteuerschluesselReverseCharge,
        3 AS nPrio
    FROM Steuern.vWarengruppenSteuerschluessel
    UNION ALL
    SELECT 
        NULL AS kWarengruppe,
        NULL AS nPositionstyp,
        NULL AS kVersandArt,
        tSteuersatz.kSteuersatz,
        tSteuersatz.kSteuerzone AS kSteuerzone,
        tSteuersatz.kSteuerklasse AS kSteuerklasse,
        tSteuersatz.kStSchl AS kSteuerschluessel,
        tSteuersatz.kStSchlIGL AS kSteuerschluesselIGL,
        tSteuersatz.kStSchlUStIGL AS kSteuerschluesselUstIGL,
        tSteuersatz.kStSchlReverse AS kSteuerschluesselReverseCharge,
        4 AS nPrio 
    FROM dbo.tSteuersatz
)
GO
