USE [eazybusiness]
GO
/****** Object:  Table [subset].[tDimensionSprache]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [subset].[tDimensionSprache](
	[kDimension] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cName] [nvarchar](50) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_subset_tDimensionSprache] PRIMARY KEY CLUSTERED 
(
	[kDimension] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [subset].[tDimensionSprache]  WITH CHECK ADD  CONSTRAINT [FK_subset_tDimensionSprache_kDimension] FOREIGN KEY([kDimension])
REFERENCES [subset].[tDimension] ([kDimension])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [subset].[tDimensionSprache] CHECK CONSTRAINT [FK_subset_tDimensionSprache_kDimension]
GO
