USE [eazybusiness]
GO
/****** Object:  Table [subset].[tDefinition]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [subset].[tDefinition](
	[kDefinition] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](100) NOT NULL,
	[cStockFormula] [nvarchar](4000) NOT NULL,
	[cPriceFormula] [nvarchar](4000) NOT NULL,
	[kBaseDefinition] [int] NULL,
	[kMassEinheit] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_subset_tDefinition] PRIMARY KEY CLUSTERED 
(
	[kDefinition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_subset_tDefinition_cName] UNIQUE NONCLUSTERED 
(
	[cName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [subset].[tDefinition] ADD  CONSTRAINT [DF_subset_tDefinition_cStockFormula]  DEFAULT ('1') FOR [cStockFormula]
GO
ALTER TABLE [subset].[tDefinition] ADD  CONSTRAINT [DF_subset_tDefinition_cPriceFormula]  DEFAULT ('1') FOR [cPriceFormula]
GO
