USE [eazybusiness]
GO
/****** Object:  Table [subset].[tDefinitionSprache]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [subset].[tDefinitionSprache](
	[kDefinition] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cName] [nvarchar](50) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_subset_tDefinitionSprache] PRIMARY KEY CLUSTERED 
(
	[kDefinition] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [subset].[tDefinitionSprache]  WITH CHECK ADD  CONSTRAINT [FK_subset_tDefinitionSprache_kDefinition] FOREIGN KEY([kDefinition])
REFERENCES [subset].[tDefinition] ([kDefinition])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [subset].[tDefinitionSprache] CHECK CONSTRAINT [FK_subset_tDefinitionSprache_kDefinition]
GO
