USE [eazybusiness]
GO
/****** Object:  View [subset].[vDefinitionState]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Nur Dev DB

CREATE VIEW [subset].[vDefinitionState] AS 
SELECT	tDefinition.kDefinition AS kDefinition,
		CONVERT(bit,MAX( CASE WHEN ISNULL(FormulaUsages.Cnt,0) = 0 THEN 0 ELSE 1 END)) as nFormulaReadOnly,
		CONVERT(bit,MAX( CASE WHEN ISNULL(DimensionTab.Cnt,0) = 0 THEN 0 ELSE 1 END)) as nDimensionsReadOnly
FROM subset.tDefinition
-- Prüfen auf Dimensions Bedingung
LEFT JOIN (
-- Artikel auf vorhandene Dimensionen prüfen
	SELECT
		kDefinition,
		SUM(cnt) AS cnt
	FROM (
		SELECT  tDimension.kDefinition,
				count(*) AS Cnt 
		FROM subset.tDimension 
		JOIN Artikel.tArtikelDimension 
			ON tDimension.kDimension = tArtikelDimension.kDimension
		GROUP BY tDimension.kDefinition
		) t1
	GROUP BY t1.kDefinition
) as DimensionTab 
	ON DimensionTab.kDefinition = tDefinition.kDefinition
-- Prüfen auf Formula und Dimensions ReadOnly
LEFT JOIN (
-- Produktionsstücklisten prüfen
	SELECT
		kDefinition,
		SUM(cnt) AS cnt
	FROM (
		SELECT  tDimension.kDefinition,
				count(*) AS Cnt 
		FROM subset.tDimension 
		JOIN pps.tBillOfMaterialComponentsSubsets
			ON tDimension.kDimension = tBillOfMaterialComponentsSubsets.kDimension
		GROUP BY tDimension.kDefinition
		UNION ALL
	-- Auftrag prüfen
		SELECT  tDimension.kDefinition,
				count(*) AS Cnt 
		FROM subset.tDimension 
		JOIN Verkauf.tAuftragPositionTeilmengenKonfiguration
			ON tDimension.kDimension = tAuftragPositionTeilmengenKonfiguration.kDimension
		GROUP BY tDimension.kDefinition
		UNION ALL
	-- Rechnung prüfen
		SELECT  tDimension.kDefinition,
				count(*) AS Cnt 
		FROM subset.tDimension 
		JOIN Rechnung.tRechnungPositionTeilmengenKonfiguration
			ON tDimension.kDimension = tRechnungPositionTeilmengenKonfiguration.kDimension
		GROUP BY tDimension.kDefinition
		UNION ALL
	-- Bestände prüfen
		SELECT  tDimension.kDefinition,
				count(*) AS Cnt 
		FROM subset.tDimension 
		JOIN dbo.tWarenLagerEingangSubsetDetails
			ON tDimension.kDimension = tWarenLagerEingangSubsetDetails.kDimension
		JOIN dbo.tWarenLagerEingangSubsets
			ON tWarenLagerEingangSubsets.kWarenLagerEingangSubset = tWarenLagerEingangSubsetDetails.kWarenLagerEingangSubset
		WHERE tWarenLagerEingangSubsets.fQuantity > 0
		GROUP BY tDimension.kDefinition
		) t1
	GROUP BY t1.kDefinition
) as FormulaUsages 
	ON FormulaUsages.kDefinition = tDefinition.kDefinition

GROUP BY tDefinition.kDefinition
GO
