USE [eazybusiness]
GO
/****** Object:  Table [subset].[tDimension]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [subset].[tDimension](
	[kDimension] [int] IDENTITY(1,1) NOT NULL,
	[kDefinition] [int] NOT NULL,
	[cName] [nvarchar](20) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_subset_tDimension] PRIMARY KEY CLUSTERED 
(
	[kDimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [subset].[tDimension]  WITH CHECK ADD  CONSTRAINT [FK_subset_tDimension_kDimension] FOREIGN KEY([kDefinition])
REFERENCES [subset].[tDefinition] ([kDefinition])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [subset].[tDimension] CHECK CONSTRAINT [FK_subset_tDimension_kDimension]
GO
