USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tSyncType]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tSyncType](
	[kSyncType] [int] NOT NULL,
	[cName] [nvarchar](100) NULL,
	[cBeschreibung] [nvarchar](500) NULL,
 CONSTRAINT [PK_Sync_tSyncType] PRIMARY KEY CLUSTERED 
(
	[kSyncType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
