USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tPosLogeintrag]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tPosLogeintrag](
	[kPosLogeintrag] [int] IDENTITY(1,1) NOT NULL,
	[kSyncLogsitzung] [int] NOT NULL,
	[dZeitpunkt] [datetime] NOT NULL,
	[nSchweregrad] [tinyint] NOT NULL,
	[cJson] [nvarchar](max) NULL,
	[kShop] [int] NULL,
	[kShopSubshop] [int] NULL,
	[cMeldung] [nvarchar](2048) NULL,
	[nLimit] [int] NULL,
	[nCallType] [tinyint] NOT NULL,
 CONSTRAINT [PK_Sync_tPosLogeintrag] PRIMARY KEY CLUSTERED 
(
	[kPosLogeintrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Sync].[tPosLogeintrag]  WITH CHECK ADD  CONSTRAINT [FK_Sync_tPosLogeintrag_kSyncLogsitzung] FOREIGN KEY([kSyncLogsitzung])
REFERENCES [Sync].[tSyncLogsitzung] ([kSyncLogsitzung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Sync].[tPosLogeintrag] CHECK CONSTRAINT [FK_Sync_tPosLogeintrag_kSyncLogsitzung]
GO
