USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tSyncDelete]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tSyncDelete](
	[kPlattform] [int] NULL,
	[kShop] [int] NULL,
	[cTabelle] [nvarchar](255) NULL,
	[kKey] [int] NULL,
	[bRowversion] [binary](8) NULL
) ON [PRIMARY]
GO
