USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tSyncLogsitzung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tSyncLogsitzung](
	[kSyncLogsitzung] [int] IDENTITY(1,1) NOT NULL,
	[nTyp] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cRechnername] [nvarchar](64) NOT NULL,
	[dStart] [datetime] NOT NULL,
	[dEnde] [datetime] NULL,
	[nStatus] [tinyint] NULL,
	[cStatusMeldung] [nvarchar](2048) NULL,
 CONSTRAINT [PK_Sync_tSyncLogsitzung] PRIMARY KEY CLUSTERED 
(
	[kSyncLogsitzung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
