USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tSyncStatus]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tSyncStatus](
	[kPlattform] [int] NULL,
	[kShop] [int] NULL,
	[kSyncType] [int] NULL,
	[bStartRowversion] [binary](8) NULL
) ON [PRIMARY]
GO
