USE [eazybusiness]
GO
/****** Object:  View [Sync].[lvConnectorLogeintrag]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Sync].[lvConnectorLogeintrag] AS
(
	SELECT
		tConnectorLogeintrag.kConnectorLogeintrag,
        tConnectorLogeintrag.kSyncLogsitzung,
        tConnectorLogeintrag.dZeitpunkt,
        tConnectorLogeintrag.nSchweregrad,
        tConnectorLogeintrag.cExtendedMessage,
        tConnectorLogeintrag.kShop,
        tConnectorLogeintrag.cMeldung,
        tConnectorLogeintrag.nCallType
	FROM Sync.tConnectorLogeintrag
);
GO
