USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tStepLimit]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tStepLimit](
	[kStepLimit] [int] IDENTITY(1,1) NOT NULL,
	[kShop] [int] NOT NULL,
	[bStepId] [uniqueidentifier] NOT NULL,
	[cStepName] [varchar](100) NULL,
	[nCurrentLimit] [int] NOT NULL,
	[dErrorTime] [datetime] NOT NULL,
	[nErrorCounter] [int] NOT NULL,
 CONSTRAINT [PK_Sync_tStepLimit] PRIMARY KEY CLUSTERED 
(
	[kStepLimit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Sync_tStepLimit_kShop_bStepId] UNIQUE NONCLUSTERED 
(
	[kShop] ASC,
	[bStepId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Sync].[tStepLimit] ADD  CONSTRAINT [DF_Sync_tStepLimit_dErrorTime]  DEFAULT (getdate()) FOR [dErrorTime]
GO
ALTER TABLE [Sync].[tStepLimit] ADD  CONSTRAINT [DF_Sync_tStepLimit_nErrorCounter]  DEFAULT ((0)) FOR [nErrorCounter]
GO
