USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tScxLogeintrag]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tScxLogeintrag](
	[kScxLogeintrag] [int] IDENTITY(1,1) NOT NULL,
	[kSyncLogsitzung] [int] NOT NULL,
	[dZeitpunkt] [datetime] NOT NULL,
	[nSchweregrad] [tinyint] NOT NULL,
	[kShop] [int] NULL,
	[cMeldung] [nvarchar](2048) NULL,
	[nCallType] [tinyint] NOT NULL,
	[cErweiterteMeldung] [nvarchar](max) NULL,
	[nErweiterterInhalt] [tinyint] NOT NULL,
 CONSTRAINT [PK_Sync_tScxLogeintrag] PRIMARY KEY CLUSTERED 
(
	[kScxLogeintrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Sync].[tScxLogeintrag] ADD  CONSTRAINT [DF_Sync_tScxLogeintrag_nErweiterterInhalt]  DEFAULT ((0)) FOR [nErweiterterInhalt]
GO
ALTER TABLE [Sync].[tScxLogeintrag]  WITH CHECK ADD  CONSTRAINT [FK_Sync_tScxLogeintrag_kSyncLogsitzung] FOREIGN KEY([kSyncLogsitzung])
REFERENCES [Sync].[tSyncLogsitzung] ([kSyncLogsitzung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Sync].[tScxLogeintrag] CHECK CONSTRAINT [FK_Sync_tScxLogeintrag_kSyncLogsitzung]
GO
