USE [eazybusiness]
GO
/****** Object:  View [Sync].[lvPosLogeintrag]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Sync].[lvPosLogeintrag]
AS
(
	SELECT
		tPosLogeintrag.kPosLogeintrag,
        tPosLogeintrag.kSyncLogsitzung,
        tPosLogeintrag.dZeitpunkt,
        tPosLogeintrag.nSchweregrad,
        tPosLogeintrag.cJson,
        tPosLogeintrag.kShop,
        tPosLogeintrag.kShopSubshop,
        tPosLogeintrag.cMeldung,
        tPosLogeintrag.nLimit,
        tPosLogeintrag.nCallType
	FROM Sync.tPosLogeintrag
);
GO
