USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tDbeSLogeintrag]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tDbeSLogeintrag](
	[kDbeSLogeintrag] [int] IDENTITY(1,1) NOT NULL,
	[kSyncLogsitzung] [int] NOT NULL,
	[dZeitpunkt] [datetime] NOT NULL,
	[nSchweregrad] [tinyint] NOT NULL,
	[kShop] [int] NULL,
	[cMeldung] [nvarchar](2048) NULL,
	[nCallType] [tinyint] NOT NULL,
	[cExtendedMessage] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sync_tDbeSLogeintrag] PRIMARY KEY CLUSTERED 
(
	[kDbeSLogeintrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Sync].[tDbeSLogeintrag]  WITH CHECK ADD  CONSTRAINT [FK_Sync_tDbeSLogeintrag_kSyncLogsitzung] FOREIGN KEY([kSyncLogsitzung])
REFERENCES [Sync].[tSyncLogsitzung] ([kSyncLogsitzung])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Sync].[tDbeSLogeintrag] CHECK CONSTRAINT [FK_Sync_tDbeSLogeintrag_kSyncLogsitzung]
GO
