USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tEntityPlatform]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tEntityPlatform](
	[kEntityId] [int] NOT NULL,
	[nEntityType] [tinyint] NOT NULL,
	[kShop] [int] NOT NULL,
	[dActive] [datetime] NULL,
	[dInactive] [datetime] NULL,
	[bLastChanged] [timestamp] NOT NULL,
 CONSTRAINT [PK_Sync_tEntityPlatform] PRIMARY KEY CLUSTERED 
(
	[kEntityId] ASC,
	[nEntityType] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
