USE [eazybusiness]
GO
/****** Object:  View [Sync].[lvLogsitzung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Sync].[lvLogsitzung]
AS
(
	SELECT
		tSyncLogsitzung.kSyncLogsitzung,
        tSyncLogsitzung.nTyp,
        tSyncLogsitzung.kBenutzer,
		tbenutzer.cName AS cBenutzername,
        tSyncLogsitzung.cRechnername,
        tSyncLogsitzung.dStart,
        tSyncLogsitzung.dEnde,
        tSyncLogsitzung.nStatus,
        tSyncLogsitzung.cStatusMeldung
	FROM Sync.tSyncLogsitzung
	LEFT JOIN eazybusiness.dbo.tbenutzer ON tbenutzer.kBenutzer = tSyncLogsitzung.kBenutzer
);
GO
