USE [eazybusiness]
GO
/****** Object:  Table [Sync].[tAuthCode]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Sync].[tAuthCode](
	[kAuthCode] [int] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cAuthToken] [nvarchar](255) NULL,
	[kMandant] [int] NULL,
	[nStatus] [tinyint] NOT NULL,
 CONSTRAINT [PK_Sync_tAuthCode] PRIMARY KEY CLUSTERED 
(
	[kAuthCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Sync].[tAuthCode] ADD  CONSTRAINT [DF_Sync_tAuthCode_nStatus]  DEFAULT ((0)) FOR [nStatus]
GO
