USE [eazybusiness]
GO
/****** Object:  View [Sync].[lvScxLogeintrag]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Sync].[lvScxLogeintrag]
AS
(
	SELECT
		tScxLogeintrag.kScxLogeintrag,
        tScxLogeintrag.kSyncLogsitzung,
        tScxLogeintrag.dZeitpunkt,
        tScxLogeintrag.nSchweregrad,
        tScxLogeintrag.cErweiterteMeldung,
		tScxLogeintrag.nErweiterterInhalt,
        tScxLogeintrag.kShop,        
        tScxLogeintrag.cMeldung,        
        tScxLogeintrag.nCallType
	FROM Sync.tScxLogeintrag
);
GO
