USE [eazybusiness]
GO
/****** Object:  View [Sync].[lvDbeSLogeintrag]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Sync].[lvDbeSLogeintrag] AS
(
	SELECT
		tDbeSLogeintrag.kDbeSLogeintrag,
        tDbeSLogeintrag.kSyncLogsitzung,
        tDbeSLogeintrag.dZeitpunkt,
        tDbeSLogeintrag.nSchweregrad,
        tDbeSLogeintrag.cExtendedMessage,
        tDbeSLogeintrag.kShop,
        tDbeSLogeintrag.cMeldung,
        tDbeSLogeintrag.nCallType
	FROM Sync.tDbeSLogeintrag
);
GO
