USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tTelefonatAnhang]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tTelefonatAnhang](
	[kTelefonatAnhang] [int] IDENTITY(1,1) NOT NULL,
	[kTelefonat] [int] NOT NULL,
	[kAnhang] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tTelefonatAnhang] PRIMARY KEY CLUSTERED 
(
	[kTelefonatAnhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tTelefonatAnhang_kAnhang_kTelefonat] UNIQUE NONCLUSTERED 
(
	[kTelefonat] ASC,
	[kAnhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tTelefonatAnhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTelefonatAnhang_kAnhang] FOREIGN KEY([kAnhang])
REFERENCES [dbo].[tFile] ([kFile])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTelefonatAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tTelefonatAnhang_kAnhang]
GO
ALTER TABLE [Ticketsystem].[tTelefonatAnhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTelefonatAnhang_kTelefonat] FOREIGN KEY([kTelefonat])
REFERENCES [Ticketsystem].[tTelefonat] ([kTelefonat])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTelefonatAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tTelefonatAnhang_kTelefonat]
GO
