USE [eazybusiness]
GO
/****** Object:  View [Ticketsystem].[vTicketliste]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ticketsystem].[vTicketliste]
AS
SELECT     tTicket.kTicket                                 AS TicketKey,
           ISNULL(tTicket.kKunde, 0)                       AS CustomerKey,
           ISNULL(tTicket.kLieferant, 0)                   AS LieferantKey,
           LEFT(ticketEckdaten.cTitelErsteNachricht, 100)  AS Title,
           tTicket.cEindeutigeId                           AS TicketId,
           ticketEckdaten.dEmpfangLetzteNachricht          AS DatumNeuesteNachricht,
           tTicket.dFaelligAm                              AS TargetDate,
           tTicket.dWiedervorlage                          AS ReminderDate,
           (SELECT MIN(tNachricht.dErstellung)
            FROM   Ticketsystem.tNachricht
            WHERE  tNachricht.kTicket = tTicket.kTicket)    AS CreationDate,
           tTicket.nPrioritaet                             AS TicketPriority,
           CAST(tTicket.nIstInPapierkorb AS INT)           AS IsInPaperbinInt,
           tTicket.kStatus                                 AS TicketStatus,
           status.cName                                    AS TicketStatusName,
           tbenutzer.kBenutzer                             AS NachrichtGelesenNutzer,
           Bearbeiter.kBenutzer                            AS AssigneeKey,
           Bearbeiter.cName                                AS AssigneeFullName,
           LEFT(ticketEckdaten.cInhaltErsteNachricht, 128) AS ContentOfInitialMessage,
           (CASE
                WHEN ticketEckdaten.nAnzahlAnhaenge > 0 THEN 1
                ELSE 0
            END)                                           AS HasAttachments,
           ticketEckdaten.nRichtungLetzteNachricht         AS LastMessageDirection,
           ticketEckdaten.nAnzahlNachrichten               AS MessagesCount,
           (SELECT CASE
                       WHEN tTicket.kKunde IS NULL THEN NULL
                       ELSE
                           ISNULL(
                           (SELECT   TOP 1
                                     CASE
                                         WHEN innerQuery.cFirma <> '' THEN
                                             CONCAT(innerQuery.cFirma, ' - ', innerQuery.cVorname, ' ', innerQuery.cName)
                                         ELSE CONCAT(innerQuery.cVorname, ' ', innerQuery.cName)
                                     END
                            FROM     (SELECT tAdresse.cFirma, tAdresse.cVorname, tAdresse.cName, 1 AS Priority
                                      FROM   dbo.tAdresse
                                      WHERE  tAdresse.kKunde = tTicket.kKunde
                                        AND  LEN(tAdresse.cName) > 0
                                        AND  tAdresse.nStandard = 1
                                        AND  tAdresse.nTyp = 1
                                      UNION
                                      SELECT TOP 1
                                             tAdresse.cFirma, tAdresse.cVorname, tAdresse.cName, 2 AS Priority
                                      FROM   dbo.tAdresse
                                      WHERE  tAdresse.kKunde = tTicket.kKunde
                                        AND  (LEN(tAdresse.cFirma) + LEN(tAdresse.cVorname) + LEN(tAdresse.cName)) > 0) innerQuery
                            ORDER BY innerQuery.Priority),
                           (SELECT tAntwortkanal.cAdresse
                            FROM   Ticketsystem.tAntwortkanal
                            JOIN   Ticketsystem.tNachrichtTyp ON tNachrichtTyp.kAntwortkanal = tAntwortkanal.kAntwortkanal
                                                             AND tNachrichtTyp.nAntwortTyp = 4
                            JOIN   Ticketsystem.tNachricht ON tNachricht.kNachricht = tNachrichtTyp.kNachricht
                            WHERE  tNachricht.kNachricht = (SELECT MAX(tNachricht.kNachricht)
                                                            FROM   Ticketsystem.tNachricht
                                                            WHERE  tNachricht.kTicket = tTicket.kTicket)))
                   END)                                    AS CustomerName,
           (SELECT CASE
                       WHEN tTicket.kLieferant IS NULL THEN NULL
                       ELSE
                           ISNULL(
                           (SELECT CASE
                                       WHEN tlieferant.cFirma <> '' THEN
                                           CONCAT(tlieferant.cFirma, ' - ', tlieferant.cVorname, ' ', tlieferant.cNachname)
                                       ELSE CONCAT(tlieferant.cVorname, ' ', tlieferant.cNachname)
                                   END
                            FROM   dbo.tlieferant
                            WHERE  tlieferant.kLieferant = tTicket.kLieferant
                              AND  (LEN(tlieferant.cVorname) + LEN(tlieferant.cNachname)) > 0),
                           (SELECT tAntwortkanal.cAdresse
                            FROM   Ticketsystem.tAntwortkanal
                            JOIN   Ticketsystem.tNachrichtTyp ON tNachrichtTyp.kAntwortkanal = tAntwortkanal.kAntwortkanal
                                                             AND tNachrichtTyp.nAntwortTyp = 4
                            JOIN   Ticketsystem.tNachricht ON tNachricht.kNachricht = tNachrichtTyp.kNachricht
                            WHERE  tNachricht.kNachricht = (SELECT MAX(tNachricht.kNachricht)
                                                            FROM   Ticketsystem.tNachricht
                                                            WHERE  tNachricht.kTicket = tTicket.kTicket)))
                   END)                                    AS LieferantName,
           CASE
               WHEN tAgentAngeseheneTickets.kTicket IS NULL
                 OR ( ISNULL(tAgentAngeseheneTickets.kNachricht, 0) < (SELECT MAX(tNachricht.kNachricht)
                                                                       FROM   Ticketsystem.tNachricht
                                                                       WHERE  tNachricht.kTicket = tTicket.kTicket)
                   OR ISNULL(tAgentAngeseheneTickets.kNotiz, 0) < (SELECT MAX(tNotiz.kNotiz)
                                                                   FROM   Ticketsystem.tNotiz
                                                                   WHERE  tNotiz.kTicket = tTicket.kTicket)
                   OR ISNULL(tAgentAngeseheneTickets.kTelefonat, 0) < (SELECT MAX(tTelefonat.kTelefonat)
                                                                       FROM   Ticketsystem.tTelefonat
                                                                       WHERE  tTelefonat.kTicket = tTicket.kTicket)) THEN 1
               ELSE 0
           END                                             AS HasUnseenChanges,
           (SELECT CASE
                       WHEN tTicket.kKunde IS NULL THEN NULL
                       ELSE (SELECT tkunde.cKundenNr
                             FROM   dbo.tkunde
                             WHERE  tkunde.kKunde = tTicket.kKunde)
                   END)                                    AS Kundennummer,
           (SELECT CASE
                       WHEN tTicket.kLieferant IS NULL THEN NULL
                       ELSE (SELECT tlieferant.cLiefNr
                             FROM   dbo.tlieferant
                             WHERE  tlieferant.kLieferant = tTicket.kLieferant)
                   END)                                    AS Lieferantennummer
FROM       Ticketsystem.tTicket tTicket
CROSS JOIN eazybusiness.dbo.tbenutzer
LEFT JOIN  Ticketsystem.tTicketEckdaten ticketEckdaten ON ticketEckdaten.kTicket = tTicket.kTicket
LEFT JOIN  Ticketsystem.tStatus         status ON tTicket.kStatus = status.kStatus
LEFT JOIN  eazybusiness.dbo.tbenutzer   AS Bearbeiter ON Bearbeiter.kBenutzer = tTicket.kBenutzer_Bearbeiter
LEFT JOIN  Ticketsystem.tAgentAngeseheneTickets ON tAgentAngeseheneTickets.kTicket = tTicket.kTicket
                                               AND tAgentAngeseheneTickets.kBenutzer = tbenutzer.kBenutzer
WHERE      tTicket.nVollstaendigAngelegt = 1
GO
