USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtRechnung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtRechnung](
	[kNachrichtRechnung] [int] IDENTITY(1,1) NOT NULL,
	[kNachricht] [int] NOT NULL,
	[kRechnung] [int] NOT NULL,
	[cMatchingWord] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtRechnung] PRIMARY KEY CLUSTERED 
(
	[kNachrichtRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tNachrichtRechnung_kNachricht_kRechnung] UNIQUE NONCLUSTERED 
(
	[kNachricht] ASC,
	[kRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtRechnung]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtRechnung_tNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtRechnung] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtRechnung_tNachricht]
GO
