USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNotizEntwurf]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNotizEntwurf](
	[kNotizEntwurf] [int] IDENTITY(1,1) NOT NULL,
	[kTicket] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cBetreff] [nvarchar](998) NULL,
	[dErstelldatum] [datetime] NOT NULL,
	[kFile_HtmlInhalt] [int] NULL,
 CONSTRAINT [PK_Ticketsystem_tNotizEntwurf] PRIMARY KEY CLUSTERED 
(
	[kNotizEntwurf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tNotizEntwurf_kTicket_kBenutzer] UNIQUE NONCLUSTERED 
(
	[kTicket] ASC,
	[kBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNotizEntwurf] ADD  CONSTRAINT [DF_Ticketsystem_tNotizEntwurf_dErstelldatum]  DEFAULT (getdate()) FOR [dErstelldatum]
GO
ALTER TABLE [Ticketsystem].[tNotizEntwurf]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNotizEntwurf_kFile_HtmlInhalt] FOREIGN KEY([kFile_HtmlInhalt])
REFERENCES [dbo].[tFile] ([kFile])
GO
ALTER TABLE [Ticketsystem].[tNotizEntwurf] CHECK CONSTRAINT [FK_Ticketsystem_tNotizEntwurf_kFile_HtmlInhalt]
GO
ALTER TABLE [Ticketsystem].[tNotizEntwurf]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNotizEntwurf_kTicket] FOREIGN KEY([kTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNotizEntwurf] CHECK CONSTRAINT [FK_Ticketsystem_tNotizEntwurf_kTicket]
GO
