USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tErlaubterDateityp]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tErlaubterDateityp](
	[kErlaubterDateityp] [int] IDENTITY(1,1) NOT NULL,
	[cDateityp] [nvarchar](20) NULL,
	[kBenutzer_Ersteller] [int] NOT NULL,
	[dErstelldatum] [datetime] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tErlaubterDateityp] PRIMARY KEY CLUSTERED 
(
	[kErlaubterDateityp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tErlaubterDateityp] ADD  CONSTRAINT [DF_Ticketsystem_tErlaubterDateityp_dErstelldatum]  DEFAULT (getdate()) FOR [dErstelldatum]
GO
