USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tEingangskanalEmailOauth]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tEingangskanalEmailOauth](
	[kEingangskanalEmail] [int] NOT NULL,
	[kOauthToken] [int] NOT NULL,
	[nProvider] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmailOauth]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tEingangskanalEmailOauth_kEingangskanalEmail] FOREIGN KEY([kEingangskanalEmail])
REFERENCES [Ticketsystem].[tEingangskanalEmail] ([kEingangskanalEmail])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmailOauth] CHECK CONSTRAINT [FK_Ticketsystem_tEingangskanalEmailOauth_kEingangskanalEmail]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmailOauth]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tEingangskanalEmailOauth_kOauthToken] FOREIGN KEY([kOauthToken])
REFERENCES [dbo].[tOauthToken] ([kOauthToken])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmailOauth] CHECK CONSTRAINT [FK_Ticketsystem_tEingangskanalEmailOauth_kOauthToken]
GO
