USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tTicketRelation]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tTicketRelation](
	[kTicketRelation] [int] IDENTITY(1,1) NOT NULL,
	[kBasisticket] [int] NOT NULL,
	[kVerknuepftesTicket] [int] NOT NULL,
	[dErstelldatum] [datetime] NOT NULL,
	[kBenutzer] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tTicketRelation] PRIMARY KEY CLUSTERED 
(
	[kTicketRelation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tTicketRelation] ADD  CONSTRAINT [DF_Ticketsystem_tTicketRelation_dErstelldatum]  DEFAULT (getdate()) FOR [dErstelldatum]
GO
ALTER TABLE [Ticketsystem].[tTicketRelation]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTicketRelation_kBasisticket] FOREIGN KEY([kBasisticket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTicketRelation] CHECK CONSTRAINT [FK_Ticketsystem_tTicketRelation_kBasisticket]
GO
ALTER TABLE [Ticketsystem].[tTicketRelation]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTicketRelation_kVerknuepftesTicket] FOREIGN KEY([kVerknuepftesTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
GO
ALTER TABLE [Ticketsystem].[tTicketRelation] CHECK CONSTRAINT [FK_Ticketsystem_tTicketRelation_kVerknuepftesTicket]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Der Primärschlüssel dieser Tabelle' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketRelation', @level2type=N'COLUMN',@level2name=N'kTicketRelation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Das Ticket, auf das die Verknüpfung zeigt.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketRelation', @level2type=N'COLUMN',@level2name=N'kBasisticket'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Das Ticket, welches verknüpft wurde.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketRelation', @level2type=N'COLUMN',@level2name=N'kVerknuepftesTicket'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Das Erstelldatum der Verknüpfung' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketRelation', @level2type=N'COLUMN',@level2name=N'dErstelldatum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Der Benutzer, welcher die Verknüpfung angelegt hat.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketRelation', @level2type=N'COLUMN',@level2name=N'kBenutzer'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketRelation'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die die Verknüpfungen zwischen Tickets abbildet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketRelation'
GO
