USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tAusgangskanalEmail]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tAusgangskanalEmail](
	[kAusgangskanalEmail] [int] IDENTITY(1,1) NOT NULL,
	[nProtokoll] [tinyint] NOT NULL,
	[cServeradresse] [nvarchar](255) NULL,
	[cServerport] [nvarchar](255) NULL,
	[cVerschluesselung] [tinyint] NOT NULL,
	[cBenutzername] [nvarchar](255) NULL,
	[cName] [nvarchar](255) NULL,
	[nStandard] [bit] NOT NULL,
	[cEmailAdresse] [nvarchar](255) NULL,
	[cPasswort] [nvarchar](255) NULL,
	[kStatus_AntwortGeschrieben] [int] NULL,
 CONSTRAINT [PK_Ticketsystem_tAusgangskanalEmail] PRIMARY KEY CLUSTERED 
(
	[kAusgangskanalEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmail]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmail_kStatus_AntwortGeschrieben] FOREIGN KEY([kStatus_AntwortGeschrieben])
REFERENCES [Ticketsystem].[tStatus] ([kStatus])
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmail] CHECK CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmail_kStatus_AntwortGeschrieben]
GO
