USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNotiz]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNotiz](
	[kNotiz] [int] IDENTITY(1,1) NOT NULL,
	[cBeschreibung] [nvarchar](998) NULL,
	[dErstellung] [datetime] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kTicket] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kFile_HtmlInhalt] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNotiz] PRIMARY KEY CLUSTERED 
(
	[kNotiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNotiz] ADD  CONSTRAINT [DF_Ticketsystem_tNotiz_dErstellung]  DEFAULT (getdate()) FOR [dErstellung]
GO
ALTER TABLE [Ticketsystem].[tNotiz]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNotiz_kFile_HtmlInhalt] FOREIGN KEY([kFile_HtmlInhalt])
REFERENCES [dbo].[tFile] ([kFile])
GO
ALTER TABLE [Ticketsystem].[tNotiz] CHECK CONSTRAINT [FK_Ticketsystem_tNotiz_kFile_HtmlInhalt]
GO
ALTER TABLE [Ticketsystem].[tNotiz]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNotiz_kTicket] FOREIGN KEY([kTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNotiz] CHECK CONSTRAINT [FK_Ticketsystem_tNotiz_kTicket]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die eindeutige Kennung der Notiz kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotiz', @level2type=N'COLUMN',@level2name=N'kNotiz'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den bezeichner der Notiz kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotiz', @level2type=N'COLUMN',@level2name=N'cBeschreibung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der das erstelldatum der Notiz kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotiz', @level2type=N'COLUMN',@level2name=N'dErstellung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotiz', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der das Ticket zur Notiz kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotiz', @level2type=N'COLUMN',@level2name=N'kTicket'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotiz', @level2type=N'COLUMN',@level2name=N'kBenutzer'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotiz'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die eine Nachricht darstellt, die nur von intern eingesehen werden kann.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotiz'
GO
