USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tTicketEckdaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tTicketEckdaten](
	[kTicket] [int] NOT NULL,
	[nAnzahlNachrichten] [int] NOT NULL,
	[nAnzahlAnhaenge] [int] NOT NULL,
	[cInhaltErsteNachricht] [nvarchar](max) NOT NULL,
	[nRichtungLetzteNachricht] [int] NOT NULL,
	[cTitelErsteNachricht] [nvarchar](998) NULL,
	[cAbsenderErsteNachricht] [nvarchar](255) NULL,
	[dEmpfangLetzteNachricht] [datetime] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tTicketEckdaten] PRIMARY KEY CLUSTERED 
(
	[kTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tTicketEckdaten]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTicketEckdaten_kTicket] FOREIGN KEY([kTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTicketEckdaten] CHECK CONSTRAINT [FK_Ticketsystem_tTicketEckdaten_kTicket]
GO
