USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtBenutzerOptionen]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtBenutzerOptionen](
	[kNachrichtBenutzerOptionen] [int] IDENTITY(1,1) NOT NULL,
	[kNachricht] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[nEingebetteteBilderAnzeigen] [bit] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtBenutzerOptionen] PRIMARY KEY CLUSTERED 
(
	[kNachrichtBenutzerOptionen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtBenutzerOptionen] ADD  CONSTRAINT [DF_Ticketsystem_tNachrichtBenutzerOptionen_nEingebetteteBilderAnzeigen]  DEFAULT ((0)) FOR [nEingebetteteBilderAnzeigen]
GO
ALTER TABLE [Ticketsystem].[tNachrichtBenutzerOptionen]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtBenutzerOptionen_kNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtBenutzerOptionen] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtBenutzerOptionen_kNachricht]
GO
