USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tVordefinierteAntwort]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tVordefinierteAntwort](
	[kVordefinierteAntwort] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](50) NOT NULL,
	[cBeschreibung] [nvarchar](max) NULL,
	[kBenutzer] [int] NOT NULL,
	[nIndex] [tinyint] NOT NULL,
	[kFile_HtmlInhalt] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tVordefinierteAntwort] PRIMARY KEY CLUSTERED 
(
	[kVordefinierteAntwort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tVordefinierteAntwort]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tVordefinierteAntwort_kFile_HtmlInhalt] FOREIGN KEY([kFile_HtmlInhalt])
REFERENCES [dbo].[tFile] ([kFile])
GO
ALTER TABLE [Ticketsystem].[tVordefinierteAntwort] CHECK CONSTRAINT [FK_Ticketsystem_tVordefinierteAntwort_kFile_HtmlInhalt]
GO
