USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tTicketLabel]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tTicketLabel](
	[kTicketLabel] [int] IDENTITY(1,1) NOT NULL,
	[kTicket] [int] NOT NULL,
	[kLabel] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tTicketLabel] PRIMARY KEY CLUSTERED 
(
	[kTicketLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tTicketLabel_kLabel_kTicket] UNIQUE NONCLUSTERED 
(
	[kLabel] ASC,
	[kTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tTicketLabel]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTicketLabel_kLabel] FOREIGN KEY([kLabel])
REFERENCES [dbo].[tLabel] ([kLabel])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTicketLabel] CHECK CONSTRAINT [FK_Ticketsystem_tTicketLabel_kLabel]
GO
ALTER TABLE [Ticketsystem].[tTicketLabel]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTicketLabel_kTicket] FOREIGN KEY([kTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTicketLabel] CHECK CONSTRAINT [FK_Ticketsystem_tTicketLabel_kTicket]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die eindeutige Kennung der Beziehung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketLabel', @level2type=N'COLUMN',@level2name=N'kTicketLabel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der das Ticket der Beziehung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketLabel', @level2type=N'COLUMN',@level2name=N'kTicket'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der das Label der Beziehung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketLabel', @level2type=N'COLUMN',@level2name=N'kLabel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketLabel', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketLabel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die die Beziehung zwischen Ticket und Label definiert.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicketLabel'
GO
