USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tAbgerufeneEmailsPop3]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tAbgerufeneEmailsPop3](
	[kAbgerufeneEmailsPop3] [int] IDENTITY(1,1) NOT NULL,
	[cUniqueId] [nvarchar](255) NOT NULL,
	[kEingangskanalEmail] [int] NOT NULL,
	[kNachricht] [int] NULL,
 CONSTRAINT [PK_Ticketsystem_tAbgerufeneEmailsPop3] PRIMARY KEY CLUSTERED 
(
	[kAbgerufeneEmailsPop3] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tAbgerufeneEmailsPop3_kEingangskanalEmail_cUniqueId] UNIQUE NONCLUSTERED 
(
	[kEingangskanalEmail] ASC,
	[cUniqueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tAbgerufeneEmailsPop3]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAbgerufeneEmailsPop3_kEingangskanalEmail] FOREIGN KEY([kEingangskanalEmail])
REFERENCES [Ticketsystem].[tEingangskanalEmail] ([kEingangskanalEmail])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tAbgerufeneEmailsPop3] CHECK CONSTRAINT [FK_Ticketsystem_tAbgerufeneEmailsPop3_kEingangskanalEmail]
GO
ALTER TABLE [Ticketsystem].[tAbgerufeneEmailsPop3]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAbgerufeneEmailsPop3_kNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
ON DELETE SET NULL
GO
ALTER TABLE [Ticketsystem].[tAbgerufeneEmailsPop3] CHECK CONSTRAINT [FK_Ticketsystem_tAbgerufeneEmailsPop3_kNachricht]
GO
