USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtEingangsrechnung]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtEingangsrechnung](
	[kNachrichtEingangsrechnung] [int] IDENTITY(1,1) NOT NULL,
	[kNachricht] [int] NOT NULL,
	[kEingangsrechnung] [int] NOT NULL,
	[cMatchingWord] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtEingangsrechnung] PRIMARY KEY CLUSTERED 
(
	[kNachrichtEingangsrechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtEingangsrechnung]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtEingangsrechnung_tNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtEingangsrechnung] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtEingangsrechnung_tNachricht]
GO
