USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tAgentAngeseheneTickets]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tAgentAngeseheneTickets](
	[kAgentAngeseheneTickets] [int] IDENTITY(1,1) NOT NULL,
	[kTicket] [int] NOT NULL,
	[kNachricht] [int] NULL,
	[kNotiz] [int] NULL,
	[kBenutzer] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kTelefonat] [int] NULL,
 CONSTRAINT [PK_Ticketsystem_tAgentAngeseheneTickets] PRIMARY KEY CLUSTERED 
(
	[kAgentAngeseheneTickets] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tAgentAngeseheneTickets_kBenutzer_kTicket] UNIQUE NONCLUSTERED 
(
	[kBenutzer] ASC,
	[kTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tAgentAngeseheneTickets]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAgentAngeseheneTickets_kNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
GO
ALTER TABLE [Ticketsystem].[tAgentAngeseheneTickets] CHECK CONSTRAINT [FK_Ticketsystem_tAgentAngeseheneTickets_kNachricht]
GO
ALTER TABLE [Ticketsystem].[tAgentAngeseheneTickets]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAgentAngeseheneTickets_kNotiz] FOREIGN KEY([kNotiz])
REFERENCES [Ticketsystem].[tNotiz] ([kNotiz])
GO
ALTER TABLE [Ticketsystem].[tAgentAngeseheneTickets] CHECK CONSTRAINT [FK_Ticketsystem_tAgentAngeseheneTickets_kNotiz]
GO
ALTER TABLE [Ticketsystem].[tAgentAngeseheneTickets]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAgentAngeseheneTickets_kTelefonat] FOREIGN KEY([kTelefonat])
REFERENCES [Ticketsystem].[tTelefonat] ([kTelefonat])
GO
ALTER TABLE [Ticketsystem].[tAgentAngeseheneTickets] CHECK CONSTRAINT [FK_Ticketsystem_tAgentAngeseheneTickets_kTelefonat]
GO
ALTER TABLE [Ticketsystem].[tAgentAngeseheneTickets]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAgentAngeseheneTickets_kTicket] FOREIGN KEY([kTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tAgentAngeseheneTickets] CHECK CONSTRAINT [FK_Ticketsystem_tAgentAngeseheneTickets_kTicket]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die eindeutige Kennung der besichtigung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAgentAngeseheneTickets', @level2type=N'COLUMN',@level2name=N'kAgentAngeseheneTickets'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der das Ticket der besichtigung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAgentAngeseheneTickets', @level2type=N'COLUMN',@level2name=N'kTicket'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der die Nachricht des Tickets kennzeichnet, welche bereits angesehen wurde.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAgentAngeseheneTickets', @level2type=N'COLUMN',@level2name=N'kNachricht'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der die Notiz des Tickets kennzeichnet, welche bereits angesehen wurde.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAgentAngeseheneTickets', @level2type=N'COLUMN',@level2name=N'kNotiz'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den Agent der besichtigung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAgentAngeseheneTickets', @level2type=N'COLUMN',@level2name=N'kBenutzer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAgentAngeseheneTickets', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAgentAngeseheneTickets'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die die besichtigung eines Agent zu einem Ticket darstellt.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAgentAngeseheneTickets'
GO
