USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tAktiverAbgleich]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tAktiverAbgleich](
	[kAktiverEmailAbgleich] [int] IDENTITY(1,1) NOT NULL,
	[cHostname] [nvarchar](50) NOT NULL,
	[dLock] [datetime] NOT NULL,
	[nProcessId] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tAktiverAbgleich] PRIMARY KEY CLUSTERED 
(
	[kAktiverEmailAbgleich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Der Primärschlüssel dieser Tabelle' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAktiverAbgleich', @level2type=N'COLUMN',@level2name=N'kAktiverEmailAbgleich'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Der Hostname des Computers, von dem zuletzt ein Abgleich ausgeführt wurde.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAktiverAbgleich', @level2type=N'COLUMN',@level2name=N'cHostname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Der Zeitpunkt, zu dem zuletzt ein Sync festgestellt wurde. Wird zusätzlich genutzt, um das gleichzeitige Syncen auf mehreren Clients zu verhindern.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAktiverAbgleich', @level2type=N'COLUMN',@level2name=N'dLock'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAktiverAbgleich'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die festlegt ob aktuell ein Abgleich der EMailkonten stattfindet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAktiverAbgleich'
GO
