USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tStatus]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tStatus](
	[kStatus] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[nIsDefault] [bit] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tStatus] PRIMARY KEY CLUSTERED 
(
	[kStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tStatus_cName] UNIQUE NONCLUSTERED 
(
	[cName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
