USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tAusgangskanalEmailBenutzerSignatur]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tAusgangskanalEmailBenutzerSignatur](
	[kAusgangskanalEmailBenutzerSignatur] [int] IDENTITY(1,1) NOT NULL,
	[kAusgangskanalEmail] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kFile_HtmlInhalt] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tAusgangskanalEmailBenutzerSignatur] PRIMARY KEY CLUSTERED 
(
	[kAusgangskanalEmailBenutzerSignatur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmailBenutzerSignatur]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmailBenutzerSignatur_kAusgangskanalEmail] FOREIGN KEY([kAusgangskanalEmail])
REFERENCES [Ticketsystem].[tAusgangskanalEmail] ([kAusgangskanalEmail])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmailBenutzerSignatur] CHECK CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmailBenutzerSignatur_kAusgangskanalEmail]
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmailBenutzerSignatur]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmailBenutzerSignatur_kFile_HtmlInhalt] FOREIGN KEY([kFile_HtmlInhalt])
REFERENCES [dbo].[tFile] ([kFile])
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmailBenutzerSignatur] CHECK CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmailBenutzerSignatur_kFile_HtmlInhalt]
GO
