USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tAntwortkanal]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tAntwortkanal](
	[kAntwortkanal] [int] IDENTITY(1,1) NOT NULL,
	[cAdresse] [nvarchar](255) NOT NULL,
	[dErstellung] [datetime] NOT NULL,
	[dDeaktivierung] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nTyp] [tinyint] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tAntwortkanal] PRIMARY KEY CLUSTERED 
(
	[kAntwortkanal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tAntwortkanal] ADD  CONSTRAINT [DF_Ticketsystem_tAntwortkanal_dErstellung]  DEFAULT (getdate()) FOR [dErstellung]
GO
ALTER TABLE [Ticketsystem].[tAntwortkanal]  WITH CHECK ADD  CONSTRAINT [CK_Ticketsystem_tAntwortkanal_cAdresse] CHECK  ((binary_checksum(lower(('%'+ltrim(rtrim([cAdresse])))+'%'))=binary_checksum(('%'+[cAdresse])+'%')))
GO
ALTER TABLE [Ticketsystem].[tAntwortkanal] CHECK CONSTRAINT [CK_Ticketsystem_tAntwortkanal_cAdresse]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die eindeutige Kennung des Ausgangskanals kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAntwortkanal', @level2type=N'COLUMN',@level2name=N'kAntwortkanal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der den erstellzeitpunkt eines Ausgangskanals kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAntwortkanal', @level2type=N'COLUMN',@level2name=N'dErstellung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den deaktivierungszeitpunkt eines Ausgangskanals kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAntwortkanal', @level2type=N'COLUMN',@level2name=N'dDeaktivierung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAntwortkanal', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAntwortkanal'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die den Ausgangskanal definiert.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tAntwortkanal'
GO
