USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtTyp]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtTyp](
	[kNachrichtTyp] [int] IDENTITY(1,1) NOT NULL,
	[kNachricht] [int] NOT NULL,
	[kAntwortkanal] [int] NOT NULL,
	[nAntwortTyp] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtTyp] PRIMARY KEY CLUSTERED 
(
	[kNachrichtTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtTyp]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtTyp_kAntwortkanal] FOREIGN KEY([kAntwortkanal])
REFERENCES [Ticketsystem].[tAntwortkanal] ([kAntwortkanal])
GO
ALTER TABLE [Ticketsystem].[tNachrichtTyp] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtTyp_kAntwortkanal]
GO
ALTER TABLE [Ticketsystem].[tNachrichtTyp]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtTyp_kNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtTyp] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtTyp_kNachricht]
GO
