USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtEntwurfAnhang]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtEntwurfAnhang](
	[kNachrichtEntwurfAnhang] [int] IDENTITY(1,1) NOT NULL,
	[kNachrichtEntwurf] [int] NOT NULL,
	[kAnhang] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtEntwurfAnhang] PRIMARY KEY CLUSTERED 
(
	[kNachrichtEntwurfAnhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurfAnhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurfAnhang_kAnhang] FOREIGN KEY([kAnhang])
REFERENCES [dbo].[tFile] ([kFile])
ON UPDATE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurfAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurfAnhang_kAnhang]
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurfAnhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurfAnhang_kNachrichtEntwurf] FOREIGN KEY([kNachrichtEntwurf])
REFERENCES [Ticketsystem].[tNachrichtEntwurf] ([kNachrichtEntwurf])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurfAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurfAnhang_kNachrichtEntwurf]
GO
