USE [eazybusiness]
GO
/****** Object:  View [Ticketsystem].[vTicketLabels]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ticketsystem].[vTicketLabels] AS
SELECT 
	ticketLabel.kTicketLabel as TicketLabelKey, 
	ticketLabel.kTicket as TicketKey, 
	tLabel.kLabel as LabelKey, 
	tLabel.cName as Displayname, 
	tLabel.cColor as ColorCode
FROM ticketsystem.tticketlabel ticketLabel
JOIN dbo.tLabel tLabel ON ticketLabel.kLabel = tLabel.kLabel
GO
