USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tVertrauenswuerdigerAbsender]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tVertrauenswuerdigerAbsender](
	[kVertrauenswuerdigerAbsender] [int] IDENTITY(1,1) NOT NULL,
	[cAbsender] [nvarchar](255) NOT NULL,
	[nAbsenderTyp] [tinyint] NOT NULL,
	[kBenutzer_Ersteller] [int] NOT NULL,
	[dErstelldatum] [datetime] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tVertrauenswuerdigerAbsender] PRIMARY KEY CLUSTERED 
(
	[kVertrauenswuerdigerAbsender] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tVertrauenswuerdigerAbsender] ADD  CONSTRAINT [DF_Ticketsystem_tVertrauenswuerdigerAbsender_dErstelldatum]  DEFAULT (getdate()) FOR [dErstelldatum]
GO
