USE [eazybusiness]
GO
/****** Object:  View [Ticketsystem].[vNachrichtZuEingangskanal]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Ticketsystem.vNachrichtZuEingangskanal
CREATE VIEW [Ticketsystem].[vNachrichtZuEingangskanal] AS
	SELECT tAbgerufeneEmailsImap.kEingangskanalEmail, tAbgerufeneEmailsImap.kNachricht
	FROM Ticketsystem.tAbgerufeneEmailsImap

	UNION

	SELECT tAbgerufeneEmailsPop3.kEingangskanalEmail, tAbgerufeneEmailsPop3.kNachricht
	FROM Ticketsystem.tAbgerufeneEmailsPop3
GO
