USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tAusgangskanalEmailOauth]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tAusgangskanalEmailOauth](
	[kAusgangskanalEmail] [int] NOT NULL,
	[kOauthToken] [int] NOT NULL,
	[nProvider] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmailOauth]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmailOauth_kAusgangskanalEmail] FOREIGN KEY([kAusgangskanalEmail])
REFERENCES [Ticketsystem].[tAusgangskanalEmail] ([kAusgangskanalEmail])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmailOauth] CHECK CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmailOauth_kAusgangskanalEmail]
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmailOauth]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmailOauth_kOauthToken] FOREIGN KEY([kOauthToken])
REFERENCES [dbo].[tOauthToken] ([kOauthToken])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tAusgangskanalEmailOauth] CHECK CONSTRAINT [FK_Ticketsystem_tAusgangskanalEmailOauth_kOauthToken]
GO
