USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtRetoure]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtRetoure](
	[kNachrichtRetoure] [int] IDENTITY(1,1) NOT NULL,
	[kNachricht] [int] NOT NULL,
	[kRMRetoure] [int] NOT NULL,
	[cMatchingWord] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtRetoure] PRIMARY KEY CLUSTERED 
(
	[kNachrichtRetoure] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tNachrichtRetoure_kNachricht_kRMRetoure] UNIQUE NONCLUSTERED 
(
	[kNachricht] ASC,
	[kRMRetoure] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtRetoure]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtRetoure_tNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtRetoure] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtRetoure_tNachricht]
GO
