USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tVaterLabelLabel]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tVaterLabelLabel](
	[kVaterLabelLabel] [int] IDENTITY(1,1) NOT NULL,
	[kVater] [int] NOT NULL,
	[kLabel] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tVaterLabelLabel] PRIMARY KEY CLUSTERED 
(
	[kVaterLabelLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tVaterLabelLabel_kLabel_kVater] UNIQUE NONCLUSTERED 
(
	[kLabel] ASC,
	[kVater] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tVaterLabelLabel]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tVaterLabelLabel_kLabel] FOREIGN KEY([kLabel])
REFERENCES [dbo].[tLabel] ([kLabel])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tVaterLabelLabel] CHECK CONSTRAINT [FK_Ticketsystem_tVaterLabelLabel_kLabel]
GO
ALTER TABLE [Ticketsystem].[tVaterLabelLabel]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tVaterLabelLabel_kVater] FOREIGN KEY([kVater])
REFERENCES [dbo].[tLabel] ([kLabel])
GO
ALTER TABLE [Ticketsystem].[tVaterLabelLabel] CHECK CONSTRAINT [FK_Ticketsystem_tVaterLabelLabel_kVater]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die eindeutige Kennung einer hierarchischen Struktur zwischen Vater und Kind kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tVaterLabelLabel', @level2type=N'COLUMN',@level2name=N'kVaterLabelLabel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der den Vater der hierarchischen Struktur kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tVaterLabelLabel', @level2type=N'COLUMN',@level2name=N'kVater'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der das Kind der hierarchischen Struktur kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tVaterLabelLabel', @level2type=N'COLUMN',@level2name=N'kLabel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte, eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tVaterLabelLabel', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tVaterLabelLabel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die die hierarchische Struktur zwischen Labels darstellt.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tVaterLabelLabel'
GO
