USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tLabelBenutzergruppeRechte]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tLabelBenutzergruppeRechte](
	[kLabelBenutzergruppeRechte] [int] IDENTITY(1,1) NOT NULL,
	[kLabel] [int] NOT NULL,
	[kRechtBenutzerGruppe] [int] NOT NULL,
	[nIstSichtbar] [bit] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tLabelBenutzergruppeRechte] PRIMARY KEY CLUSTERED 
(
	[kLabelBenutzergruppeRechte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tLabelBenutzergruppeRechte]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tLabelBenutzergruppeRechte_kLabel] FOREIGN KEY([kLabel])
REFERENCES [dbo].[tLabel] ([kLabel])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tLabelBenutzergruppeRechte] CHECK CONSTRAINT [FK_Ticketsystem_tLabelBenutzergruppeRechte_kLabel]
GO
