USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNotizAnhang]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNotizAnhang](
	[kNotizAnhang] [int] IDENTITY(1,1) NOT NULL,
	[kNotiz] [int] NOT NULL,
	[kAnhang] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNotizAnhang] PRIMARY KEY CLUSTERED 
(
	[kNotizAnhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tNotizAnhang_kAnhang_kNotiz] UNIQUE NONCLUSTERED 
(
	[kAnhang] ASC,
	[kNotiz] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNotizAnhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNotizAnhang_kAnhang] FOREIGN KEY([kAnhang])
REFERENCES [dbo].[tFile] ([kFile])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNotizAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tNotizAnhang_kAnhang]
GO
ALTER TABLE [Ticketsystem].[tNotizAnhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNotizAnhang_kNotiz] FOREIGN KEY([kNotiz])
REFERENCES [Ticketsystem].[tNotiz] ([kNotiz])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNotizAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tNotizAnhang_kNotiz]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die eindeutige Kennung der Beziehung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotizAnhang', @level2type=N'COLUMN',@level2name=N'kNotizAnhang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der die Notiz der Beziehung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotizAnhang', @level2type=N'COLUMN',@level2name=N'kNotiz'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die Datei der Beziehung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotizAnhang', @level2type=N'COLUMN',@level2name=N'kAnhang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotizAnhang', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotizAnhang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die die Beziehung zwischen einer Dateie und einer Notiz definiert.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNotizAnhang'
GO
