USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tAbgerufeneEmailsImap]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tAbgerufeneEmailsImap](
	[kAbgerufeneEmailsImap] [int] IDENTITY(1,1) NOT NULL,
	[nUniqueId] [bigint] NOT NULL,
	[kEingangskanalEmail] [int] NOT NULL,
	[kNachricht] [int] NULL,
 CONSTRAINT [PK_Ticketsystem_tAbgerufeneEmailsImap] PRIMARY KEY CLUSTERED 
(
	[kAbgerufeneEmailsImap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tAbgerufeneEmailsImap]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAbgerufeneEmailsImap_kEingangskanalEmail] FOREIGN KEY([kEingangskanalEmail])
REFERENCES [Ticketsystem].[tEingangskanalEmail] ([kEingangskanalEmail])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tAbgerufeneEmailsImap] CHECK CONSTRAINT [FK_Ticketsystem_tAbgerufeneEmailsImap_kEingangskanalEmail]
GO
ALTER TABLE [Ticketsystem].[tAbgerufeneEmailsImap]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAbgerufeneEmailsImap_kNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
ON DELETE SET NULL
GO
ALTER TABLE [Ticketsystem].[tAbgerufeneEmailsImap] CHECK CONSTRAINT [FK_Ticketsystem_tAbgerufeneEmailsImap_kNachricht]
GO
