USE [eazybusiness]
GO
/****** Object:  View [Ticketsystem].[vTicketDsgvoDaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Ticketsystem].[vTicketDsgvoDaten] AS (
SELECT tTicket.kTicket,
	tTicket.cEindeutigeId,
	(
		SELECT MIN(tNachricht.dErstellung)
		FROM Ticketsystem.tNachricht
		WHERE tNachricht.kTicket = tTicket.kTicket
	) as dErstellung,
	tTicket.kKunde,
	tTicket.kLieferant,
	tTicketEckdaten.cTitelErsteNachricht
FROM Ticketsystem.tTicket
JOIN Ticketsystem.tTicketEckdaten ON tTicket.kTicket = tTicketEckdaten.kTicket
);
GO
