USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtEntwurfTyp]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtEntwurfTyp](
	[kNachrichtEntwurfTyp] [int] IDENTITY(1,1) NOT NULL,
	[kNachrichtEntwurf] [int] NOT NULL,
	[kAntwortkanal] [int] NOT NULL,
	[nAntwortTyp] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtEntwurfTyp] PRIMARY KEY CLUSTERED 
(
	[kNachrichtEntwurfTyp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurfTyp]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurfTyp_kAntwortkanal] FOREIGN KEY([kAntwortkanal])
REFERENCES [Ticketsystem].[tAntwortkanal] ([kAntwortkanal])
ON UPDATE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurfTyp] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurfTyp_kAntwortkanal]
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurfTyp]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurfTyp_kNachrichtEntwurf] FOREIGN KEY([kNachrichtEntwurf])
REFERENCES [Ticketsystem].[tNachrichtEntwurf] ([kNachrichtEntwurf])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurfTyp] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurfTyp_kNachrichtEntwurf]
GO
