USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tAgentLiestTicket]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tAgentLiestTicket](
	[kAgentLiestTicket] [int] IDENTITY(1,1) NOT NULL,
	[kTicket] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[dZeitpunkt] [datetime] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tAgentLiestTicket] PRIMARY KEY CLUSTERED 
(
	[kAgentLiestTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tAgentLiestTicket] ADD  CONSTRAINT [DF_Ticketsystem_tAgentLiestTicket_dZeitpunkt]  DEFAULT (getdate()) FOR [dZeitpunkt]
GO
ALTER TABLE [Ticketsystem].[tAgentLiestTicket]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tAgentLiestTicket_kTicket] FOREIGN KEY([kTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tAgentLiestTicket] CHECK CONSTRAINT [FK_Ticketsystem_tAgentLiestTicket_kTicket]
GO
