USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtenanhang]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtenanhang](
	[kNachrichtenanhang] [int] IDENTITY(1,1) NOT NULL,
	[kNachricht] [int] NOT NULL,
	[kAnhang] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nFreigabeStatus] [tinyint] NOT NULL,
	[kBenutzer_FreigabeStatus] [int] NULL,
	[nTyp] [tinyint] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtenanhang] PRIMARY KEY CLUSTERED 
(
	[kNachrichtenanhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tNachrichtenanhang_kAnhang_kNachricht] UNIQUE NONCLUSTERED 
(
	[kAnhang] ASC,
	[kNachricht] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtenanhang] ADD  CONSTRAINT [DF_Ticketsystem_tNachrichtenanhang_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
ALTER TABLE [Ticketsystem].[tNachrichtenanhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtenanhang_kAnhang] FOREIGN KEY([kAnhang])
REFERENCES [dbo].[tFile] ([kFile])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtenanhang] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtenanhang_kAnhang]
GO
ALTER TABLE [Ticketsystem].[tNachrichtenanhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtenanhang_kNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtenanhang] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtenanhang_kNachricht]
GO
ALTER TABLE [Ticketsystem].[tNachrichtenanhang]  WITH CHECK ADD  CONSTRAINT [CK_Ticketsystem_tNachrichtenanhang_nTyp] CHECK  (([nTyp]=(0) OR [nTyp]=(1)))
GO
ALTER TABLE [Ticketsystem].[tNachrichtenanhang] CHECK CONSTRAINT [CK_Ticketsystem_tNachrichtenanhang_nTyp]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die eindeutige Kennung der Beziehung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachrichtenanhang', @level2type=N'COLUMN',@level2name=N'kNachrichtenanhang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der die Nachricht der Beziehung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachrichtenanhang', @level2type=N'COLUMN',@level2name=N'kNachricht'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die Datei der Beziehung kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachrichtenanhang', @level2type=N'COLUMN',@level2name=N'kAnhang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachrichtenanhang', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachrichtenanhang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die die Beziehung zwischen einer Dateie und einer Nachricht definiert.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachrichtenanhang'
GO
