USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tEingangskanalEmailLabel]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tEingangskanalEmailLabel](
	[kEingangskanalEmailLabel] [int] IDENTITY(1,1) NOT NULL,
	[kEingangskanalEmail] [int] NOT NULL,
	[kLabel] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tEingangskanalEmailLabel] PRIMARY KEY CLUSTERED 
(
	[kEingangskanalEmailLabel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmailLabel]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tEingangskanalEmailLabel_kEingangskanalEmail] FOREIGN KEY([kEingangskanalEmail])
REFERENCES [Ticketsystem].[tEingangskanalEmail] ([kEingangskanalEmail])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmailLabel] CHECK CONSTRAINT [FK_Ticketsystem_tEingangskanalEmailLabel_kEingangskanalEmail]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmailLabel]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tEingangskanalEmailLabel_kLabel] FOREIGN KEY([kLabel])
REFERENCES [dbo].[tLabel] ([kLabel])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmailLabel] CHECK CONSTRAINT [FK_Ticketsystem_tEingangskanalEmailLabel_kLabel]
GO
