USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tTicket]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tTicket](
	[kTicket] [int] IDENTITY(1,1) NOT NULL,
	[cEindeutigeId] [nvarchar](255) NOT NULL,
	[kStatus] [int] NOT NULL,
	[nPrioritaet] [tinyint] NOT NULL,
	[dLoesung] [datetime] NULL,
	[dAenderung] [datetime] NULL,
	[dWiedervorlage] [datetime] NULL,
	[dFaelligAm] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kBenutzer_Ersteller] [int] NOT NULL,
	[kBenutzer_Bearbeiter] [int] NULL,
	[kKunde] [int] NULL,
	[nIstInPapierkorb] [bit] NOT NULL,
	[kLieferant] [int] NULL,
	[nBenutzererstellt] [bit] NOT NULL,
	[nVollstaendigAngelegt] [bit] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tTicket] PRIMARY KEY CLUSTERED 
(
	[kTicket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tTicket] ADD  CONSTRAINT [DF_Ticketsystem_tTicket_dAenderung]  DEFAULT (getdate()) FOR [dAenderung]
GO
ALTER TABLE [Ticketsystem].[tTicket] ADD  CONSTRAINT [DF_Ticketsystem_tTicket_nVollstaendigAngelegt]  DEFAULT ((0)) FOR [nVollstaendigAngelegt]
GO
ALTER TABLE [Ticketsystem].[tTicket]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTicket_kKunde] FOREIGN KEY([kKunde])
REFERENCES [dbo].[tkunde] ([kKunde])
ON DELETE SET NULL
GO
ALTER TABLE [Ticketsystem].[tTicket] CHECK CONSTRAINT [FK_Ticketsystem_tTicket_kKunde]
GO
ALTER TABLE [Ticketsystem].[tTicket]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTicket_kLieferant] FOREIGN KEY([kLieferant])
REFERENCES [dbo].[tlieferant] ([kLieferant])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTicket] CHECK CONSTRAINT [FK_Ticketsystem_tTicket_kLieferant]
GO
ALTER TABLE [Ticketsystem].[tTicket]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTicket_kStatus] FOREIGN KEY([kStatus])
REFERENCES [Ticketsystem].[tStatus] ([kStatus])
GO
ALTER TABLE [Ticketsystem].[tTicket] CHECK CONSTRAINT [FK_Ticketsystem_tTicket_kStatus]
GO
ALTER TABLE [Ticketsystem].[tTicket]  WITH CHECK ADD  CONSTRAINT [CK_Ticketsystem_tTicket_kLieferant_kTicket] CHECK  (([kKunde] IS NULL AND [kLieferant] IS NOT NULL OR [kKunde] IS NOT NULL AND [kLieferant] IS NULL OR [kKunde] IS NULL AND [kLieferant] IS NULL))
GO
ALTER TABLE [Ticketsystem].[tTicket] CHECK CONSTRAINT [CK_Ticketsystem_tTicket_kLieferant_kTicket]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der eine eindeutige Kennung für ein Ticket kennzeichnet' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'kTicket'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den eindeutigen Identifizierer für externe Systeme kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'cEindeutigeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den Zustand eines Tickets kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'kStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die Priorität eines Tickets kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'nPrioritaet'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den Zeitpunkt der Löung eines Tickets kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'dLoesung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den Zeitpunkt der letzten Änderung eines Tickets kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'dAenderung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den Zeitpunkt der Wiedervorlage eines Tickets kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'dWiedervorlage'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den Zeitpunkt der Fälligkeit eines Tickets kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'dFaelligAm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den Ersteller eines Tickets kennzeichnet und auf dbo.tBenutzer verweist.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'kBenutzer_Ersteller'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den aktuellen Bearbeiter des Tickets kennzeichnet und auf dbo.tBenutzer verweist.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'kBenutzer_Bearbeiter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die Person kennzeichnet, die über das Ticket eine Dienstleistung erwartet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket', @level2type=N'COLUMN',@level2name=N'kKunde'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die die zentralen Metadaten für ein Ticket definiert.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tTicket'
GO
