USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tErreichbarkeit]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tErreichbarkeit](
	[kEreichbarkeit] [int] IDENTITY(1,1) NOT NULL,
	[dAnfang] [datetime] NOT NULL,
	[dEnde] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kAntwortkanal] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tErreichbarkeit] PRIMARY KEY CLUSTERED 
(
	[kEreichbarkeit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tErreichbarkeit]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tErreichbarkeit_kAntwortkanal] FOREIGN KEY([kAntwortkanal])
REFERENCES [Ticketsystem].[tAntwortkanal] ([kAntwortkanal])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tErreichbarkeit] CHECK CONSTRAINT [FK_Ticketsystem_tErreichbarkeit_kAntwortkanal]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die eindeutige Kennung der Ereichbarkeit kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tErreichbarkeit', @level2type=N'COLUMN',@level2name=N'kEreichbarkeit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der den Begin einer Ereichbarkeit kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tErreichbarkeit', @level2type=N'COLUMN',@level2name=N'dAnfang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der das Ende einer Ereichbarkeit kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tErreichbarkeit', @level2type=N'COLUMN',@level2name=N'dEnde'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tErreichbarkeit', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der ende einer Ereichbarkeit kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tErreichbarkeit', @level2type=N'COLUMN',@level2name=N'kAntwortkanal'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tErreichbarkeit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die die Ereichbarkeit eines Ausgangskanals definiert.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tErreichbarkeit'
GO
