USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tEingangskanalEmail]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tEingangskanalEmail](
	[kEingangskanalEmail] [int] IDENTITY(1,1) NOT NULL,
	[nProtokoll] [tinyint] NOT NULL,
	[cServeradresse] [nvarchar](255) NOT NULL,
	[cServerport] [nvarchar](255) NOT NULL,
	[cVerschluesselung] [tinyint] NOT NULL,
	[cBenutzername] [nvarchar](255) NOT NULL,
	[nMaximalesEmailAlter] [int] NULL,
	[nIntervall] [int] NULL,
	[kAusgangskanalEmail] [int] NULL,
	[cName] [nvarchar](255) NULL,
	[cEmailAdresse] [nvarchar](255) NULL,
	[cPasswort] [nvarchar](255) NULL,
	[kStatusNeuesTicket] [int] NOT NULL,
	[kStatusNeueAntwort] [int] NULL,
	[nGeleseneNachrichtenAbholen] [bit] NOT NULL,
	[nMailNachDemAbrufenLoeschen] [tinyint] NOT NULL,
	[nNeuesteUniqueIdImap] [bigint] NULL,
 CONSTRAINT [PK_Ticketsystem_tEingangskanalEmail] PRIMARY KEY CLUSTERED 
(
	[kEingangskanalEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmail] ADD  CONSTRAINT [DF_Ticketsystem_tEingangskanalEmail_cName]  DEFAULT ('kein Name') FOR [cName]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmail] ADD  CONSTRAINT [DF_Ticketsystem_tEingangskanalEmail_nGeleseneNachrichtenAbholen]  DEFAULT ((0)) FOR [nGeleseneNachrichtenAbholen]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmail] ADD  CONSTRAINT [DF_Ticketsystem_tEingangskanalEmail_nMailNachDemAbrufenLoeschen]  DEFAULT ((1)) FOR [nMailNachDemAbrufenLoeschen]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmail]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tEingangskanalEmail_kAusgangskanalEmail] FOREIGN KEY([kAusgangskanalEmail])
REFERENCES [Ticketsystem].[tAusgangskanalEmail] ([kAusgangskanalEmail])
ON DELETE SET NULL
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmail] CHECK CONSTRAINT [FK_Ticketsystem_tEingangskanalEmail_kAusgangskanalEmail]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmail]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tEingangskanalEmail_kStatusNeueAntwort] FOREIGN KEY([kStatusNeueAntwort])
REFERENCES [Ticketsystem].[tStatus] ([kStatus])
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmail] CHECK CONSTRAINT [FK_Ticketsystem_tEingangskanalEmail_kStatusNeueAntwort]
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmail]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tEingangskanalEmail_kStatusNeuesTicket] FOREIGN KEY([kStatusNeuesTicket])
REFERENCES [Ticketsystem].[tStatus] ([kStatus])
GO
ALTER TABLE [Ticketsystem].[tEingangskanalEmail] CHECK CONSTRAINT [FK_Ticketsystem_tEingangskanalEmail_kStatusNeuesTicket]
GO
