USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachricht]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachricht](
	[kNachricht] [int] IDENTITY(1,1) NOT NULL,
	[cInhalt] [nvarchar](max) NULL,
	[dErstellung] [datetime] NOT NULL,
	[cBeschreibung] [nvarchar](998) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kTicket] [int] NOT NULL,
	[kBenutzer_Ersteller] [int] NULL,
	[nRichtung] [tinyint] NOT NULL,
	[dEmpfangen] [datetime] NOT NULL,
	[dGesendet] [datetime] NULL,
	[nVorgangserkennungGelaufen] [bit] NOT NULL,
	[kFile_HtmlInhalt] [int] NOT NULL,
	[nVollstaendigAngelegt] [bit] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachricht] PRIMARY KEY CLUSTERED 
(
	[kNachricht] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachricht] ADD  CONSTRAINT [DF_Ticketsystem_tNachricht_dErstellung]  DEFAULT (getdate()) FOR [dErstellung]
GO
ALTER TABLE [Ticketsystem].[tNachricht] ADD  CONSTRAINT [DF_Ticketsystem_tNachricht_nVollstaendigAngelegt]  DEFAULT ((0)) FOR [nVollstaendigAngelegt]
GO
ALTER TABLE [Ticketsystem].[tNachricht]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachricht_kFile_HtmlInhalt] FOREIGN KEY([kFile_HtmlInhalt])
REFERENCES [dbo].[tFile] ([kFile])
GO
ALTER TABLE [Ticketsystem].[tNachricht] CHECK CONSTRAINT [FK_Ticketsystem_tNachricht_kFile_HtmlInhalt]
GO
ALTER TABLE [Ticketsystem].[tNachricht]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachricht_kTicket] FOREIGN KEY([kTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachricht] CHECK CONSTRAINT [FK_Ticketsystem_tNachricht_kTicket]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die eindeutige Kennung der Nachricht kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht', @level2type=N'COLUMN',@level2name=N'kNachricht'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp der den inhalt der Nachricht kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht', @level2type=N'COLUMN',@level2name=N'cInhalt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der erstellzeitpunkt der Nachricht kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht', @level2type=N'COLUMN',@level2name=N'dErstellung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den bezeichner der Nachricht kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht', @level2type=N'COLUMN',@level2name=N'cBeschreibung'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der automatisch generierte eindeutige, binäre Zahlen in einer Datenbank verfügbar macht.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht', @level2type=N'COLUMN',@level2name=N'bRowversion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der das zugehörige Ticket kennzeichnet.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht', @level2type=N'COLUMN',@level2name=N'kTicket'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der den Ersteller der Nachricht angibt.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht', @level2type=N'COLUMN',@level2name=N'kBenutzer_Ersteller'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ein Datentyp, der die Richtung (eingehend / ausgehend) des Tickets angibt.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht', @level2type=N'COLUMN',@level2name=N'nRichtung'
GO
EXEC sys.sp_addextendedproperty @name=N'classbuilder', @value=N'nomodel nomodellist' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Eine Tabelle, die eine Nachricht darstellt, die Versendet wurde, somit unveränderlich ist.' , @level0type=N'SCHEMA',@level0name=N'Ticketsystem', @level1type=N'TABLE',@level1name=N'tNachricht'
GO
