USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tTelefonatEntwurf]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tTelefonatEntwurf](
	[kTelefonatEntwurf] [int] IDENTITY(1,1) NOT NULL,
	[kTicket] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[nRichtung] [int] NOT NULL,
	[cTelefonnummer] [nvarchar](20) NULL,
	[kFile_HtmlInhalt] [int] NOT NULL,
	[dErstellung] [datetime] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tTelefonatEntwurf] PRIMARY KEY CLUSTERED 
(
	[kTelefonatEntwurf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tTelefonatEntwurf_kTicket_kBenutzer] UNIQUE NONCLUSTERED 
(
	[kTicket] ASC,
	[kBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tTelefonatEntwurf] ADD  CONSTRAINT [DF_Ticketsystem_tTelefonatEntwurf_dErstellung]  DEFAULT (getdate()) FOR [dErstellung]
GO
ALTER TABLE [Ticketsystem].[tTelefonatEntwurf]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTelefonatEntwurf_kFile_HtmlInhalt] FOREIGN KEY([kFile_HtmlInhalt])
REFERENCES [dbo].[tFile] ([kFile])
GO
ALTER TABLE [Ticketsystem].[tTelefonatEntwurf] CHECK CONSTRAINT [FK_Ticketsystem_tTelefonatEntwurf_kFile_HtmlInhalt]
GO
ALTER TABLE [Ticketsystem].[tTelefonatEntwurf]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTelefonatEntwurf_kTicket] FOREIGN KEY([kTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTelefonatEntwurf] CHECK CONSTRAINT [FK_Ticketsystem_tTelefonatEntwurf_kTicket]
GO
