USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNotizEntwurfAnhang]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNotizEntwurfAnhang](
	[kNotizEntwurfAnhang] [int] IDENTITY(1,1) NOT NULL,
	[kNotizEntwurf] [int] NOT NULL,
	[kAnhang] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNotizEntwurfAnhang] PRIMARY KEY CLUSTERED 
(
	[kNotizEntwurfAnhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNotizEntwurfAnhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNotizEntwurfAnhang_kAnhang] FOREIGN KEY([kAnhang])
REFERENCES [dbo].[tFile] ([kFile])
ON UPDATE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNotizEntwurfAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tNotizEntwurfAnhang_kAnhang]
GO
ALTER TABLE [Ticketsystem].[tNotizEntwurfAnhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNotizEntwurfAnhang_kNotizEntwurf] FOREIGN KEY([kNotizEntwurf])
REFERENCES [Ticketsystem].[tNotizEntwurf] ([kNotizEntwurf])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNotizEntwurfAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tNotizEntwurfAnhang_kNotizEntwurf]
GO
