USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtEntwurf]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtEntwurf](
	[kNachrichtEntwurf] [int] IDENTITY(1,1) NOT NULL,
	[kTicket] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cBetreff] [nvarchar](998) NULL,
	[dErstelldatum] [datetime] NOT NULL,
	[kFile_HtmlInhalt] [int] NULL,
	[kAusgangskanalEmail] [int] NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtEntwurf] PRIMARY KEY CLUSTERED 
(
	[kNachrichtEntwurf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tNachrichtentwurf_kTicket_kBenutzer] UNIQUE NONCLUSTERED 
(
	[kTicket] ASC,
	[kBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurf] ADD  CONSTRAINT [DF_Ticketsystem_tNachrichtEntwurf_dErstelldatum]  DEFAULT (getdate()) FOR [dErstelldatum]
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurf]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurf_kAusgangskanalEmail] FOREIGN KEY([kAusgangskanalEmail])
REFERENCES [Ticketsystem].[tAusgangskanalEmail] ([kAusgangskanalEmail])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurf] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurf_kAusgangskanalEmail]
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurf]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurf_kFile_HtmlInhalt] FOREIGN KEY([kFile_HtmlInhalt])
REFERENCES [dbo].[tFile] ([kFile])
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurf] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurf_kFile_HtmlInhalt]
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurf]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurf_kTicket] FOREIGN KEY([kTicket])
REFERENCES [Ticketsystem].[tTicket] ([kTicket])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtEntwurf] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtEntwurf_kTicket]
GO
