USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tTelefonatEntwurfAnhang]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tTelefonatEntwurfAnhang](
	[kTelefonatEntwurfAnhang] [int] IDENTITY(1,1) NOT NULL,
	[kTelefonatEntwurf] [int] NOT NULL,
	[kAnhang] [int] NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tTelefonatEntwurfAnhang] PRIMARY KEY CLUSTERED 
(
	[kTelefonatEntwurfAnhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tTelefonatEntwurfAnhang]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tTelefonatEntwurfAnhang_kAnhang] FOREIGN KEY([kAnhang])
REFERENCES [dbo].[tFile] ([kFile])
ON UPDATE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTelefonatEntwurfAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tTelefonatEntwurfAnhang_kAnhang]
GO
ALTER TABLE [Ticketsystem].[tTelefonatEntwurfAnhang]  WITH NOCHECK ADD  CONSTRAINT [FK_Ticketsystem_tTelefonatEntwurfAnhang_kTelefonatEntwurf] FOREIGN KEY([kTelefonatEntwurf])
REFERENCES [Ticketsystem].[tTelefonatEntwurf] ([kTelefonatEntwurf])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tTelefonatEntwurfAnhang] CHECK CONSTRAINT [FK_Ticketsystem_tTelefonatEntwurfAnhang_kTelefonatEntwurf]
GO
