USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tSetting]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tSetting](
	[kSetting] [int] IDENTITY(1,1) NOT NULL,
	[cKey] [nvarchar](200) NOT NULL,
	[cValue] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tSetting] PRIMARY KEY CLUSTERED 
(
	[kSetting] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ticketsystem_tSetting_cKey_cValue] UNIQUE NONCLUSTERED 
(
	[cKey] ASC,
	[cValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
