USE [eazybusiness]
GO
/****** Object:  Table [Ticketsystem].[tNachrichtArtikel]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Ticketsystem].[tNachrichtArtikel](
	[kNachrichtArtikel] [int] IDENTITY(1,1) NOT NULL,
	[kNachricht] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cMatchingWord] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Ticketsystem_tNachrichtArtikel] PRIMARY KEY CLUSTERED 
(
	[kNachrichtArtikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Ticketsystem].[tNachrichtArtikel]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtArtikel_tArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtArtikel] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtArtikel_tArtikel]
GO
ALTER TABLE [Ticketsystem].[tNachrichtArtikel]  WITH CHECK ADD  CONSTRAINT [FK_Ticketsystem_tNachrichtArtikel_tNachricht] FOREIGN KEY([kNachricht])
REFERENCES [Ticketsystem].[tNachricht] ([kNachricht])
ON DELETE CASCADE
GO
ALTER TABLE [Ticketsystem].[tNachrichtArtikel] CHECK CONSTRAINT [FK_Ticketsystem_tNachrichtArtikel_tNachricht]
GO
