USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragEckdaten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragEckdaten]
AS 
SELECT	tAuftragEckdaten.kAuftrag, 
		tAuftragEckdaten.dLetzterVersand, 
		tAuftragEckdaten.dGedruckt, 
		tAuftragEckdaten.dGemailt, 
		tAuftragEckdaten.dVersandMail, 
		tAuftragEckdaten.dZahlungsMail, 
		tAuftragEckdaten.fWertNetto, 
		tAuftragEckdaten.fWertBrutto, 
		tAuftragEckdaten.fZahlung, 
		tAuftragEckdaten.fGutschrift, 
		tAuftragEckdaten.nIstNachnahme,
		tAuftragEckdaten.dBezahlt, 
		tAuftragEckdaten.nIstKomplettRetourniert, 
		tAuftragEckdaten.nRechnungStatus,
		tAuftragEckdaten.nZahlungStatus,
		tAuftragEckdaten.nAnzahlPakete,
		tAuftragEckdaten.fWertRechnungNetto,
		tAuftragEckdaten.fWertRechnungBrutto,
		tAuftragEckdaten.bRowversion,
		tAuftragEckdaten.nAnzahlVersendetePakete, 
		tAuftragEckdaten.nIstFuerAuslieferungGesperrt, 
		tAuftragEckdaten.cRechnungsnummern,
		tAuftragEckdaten.fOffenerWert,
		tAuftragEckdaten.fOffenerWertOhneStorno
FROM Verkauf.tAuftragEckdaten
GO
