USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvBestellPosGutschriftErstellbar]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvBestellPosGutschriftErstellbar]
AS
(
       SELECT vAuftragPosition.kAuftragPosition AS kBestellPos,
				vAuftragPosition.kArtikel AS tArtikel_kArtikel,
				vAuftragPosition.kAuftrag AS tBestellung_kBestellung,
				CAST(vAuftragPosition.fVkNetto * ((100 + vAuftragPosition.fMwSt) / 100) AS DECIMAL(25,13)) AS fVKPreis,
				vAuftragPosition.fMwSt,
				vAuftragPositionEckdaten.fAnzahlOffen -  SUM(ISNULL(dbo.tPicklistePos.fAnzahl,0)) OVER (PARTITION BY tPicklistePos.kBestellPos ORDER BY tPicklistePos.kBestellPos)  AS nAnzahl,
				vAuftragPosition.fRabatt,
				vAuftragPosition.cName AS cString,
				vAuftragPosition.fVkNetto,
				vAuftragPosition.cArtNr,
				vAuftragPosition.nType,
				vAuftragPosition.cHinweis,
				CAST(vAuftragPosition.nHatUpload AS INT) AS nHatUpload,
				CAST(vAuftragPosition.kKonfigVater AS NVARCHAR(30)) AS cUnique,
				vAuftragPosition.kKonfigItem,
				CAST(NULL AS TINYINT) AS nDropshipping,
				vAuftragPosition.fEkNetto,
				CAST(AmazonBestellung.cOrderItemId AS NVARCHAR(255)) AS cOrderItemId,
				ebay_item.ItemID AS cItemID,
				dbo.ebay_transaction.TransactionID AS cTransactionID,
				AmazonBestellung.kAmazonBestellungPos,
				vAuftragPosition.nSort,
				vAuftragPosition.kAuftragStueckliste AS kBestellStueckliste,
				vAuftragPosition.cNameStandard AS cStringStandard,
				vAuftragPosition.cEinheit
    FROM Verkauf.vAuftragPosition
	JOIN Verkauf.vAuftragPositionEckdaten ON vAuftragPositionEckdaten.kAuftragPosition = vAuftragPosition.kAuftragPosition
    LEFT JOIN dbo.tPicklistePos ON vAuftragPosition.kAuftragPosition = vAuftragPosition.kAuftragPosition AND dbo.tPicklistePos.nStatus < 40
	LEFT JOIN (SELECT	pf_amazon_bestellungpos.kAmazonBestellungPos,
						pf_amazon_bestellungpos.cOrderItemId 
				FROM dbo.pf_amazon_bestellung
				JOIN dbo.pf_amazon_bestellungpos ON pf_amazon_bestellungpos.kAmazonBestellung = pf_amazon_bestellung.kAmazonBestellung
		) AS AmazonBestellung ON AmazonBestellung.kAmazonBestellungPos = vAuftragPosition.kAmazonBestellungPos
	LEFT JOIN dbo.ebay_item ON ebay_item.kArtikel = vAuftragPosition.kArtikel
	LEFT JOIN dbo.ebay_transaction ON vAuftragPosition.kEbayTransaction = ebay_transaction.kTransaction
    WHERE vAuftragPosition.kAuftragStueckliste = 0 
		OR vAuftragPosition.kAuftragStueckliste = vAuftragPosition.kAuftragPosition
);
GO
