USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tVorgangsstatus]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tVorgangsstatus](
	[kVorgangsstatus] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NULL,
	[nAngebot] [tinyint] NULL,
	[nAuftrag] [tinyint] NULL,
	[nRechnung] [tinyint] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nAbonnement] [tinyint] NULL,
 CONSTRAINT [PK_Verkauf_tVorgangsstatus] PRIMARY KEY CLUSTERED 
(
	[kVorgangsstatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
