USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionTeilmengen]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionTeilmengen](
	[kAuftragPosition] [int] NOT NULL,
	[fLagerFactor] [decimal](25, 13) NOT NULL,
	[kDefinition] [int] NOT NULL,
	[fPreisFactor] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionTeilmengen] PRIMARY KEY CLUSTERED 
(
	[kAuftragPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengen] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_fLagerFactor]  DEFAULT ((1.0)) FOR [fLagerFactor]
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengen] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_fPreisFactor]  DEFAULT ((1.0)) FOR [fPreisFactor]
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengen]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionTeilmengen_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengen] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionTeilmengen_kAuftragPosition]
GO
