USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragZahlungsinfo]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragZahlungsinfo](
	[kAuftrag] [int] NOT NULL,
	[cKontoInhaber] [nvarchar](255) NULL,
	[cBankname] [nvarchar](255) NULL,
	[cIBAN] [nvarchar](34) NULL,
	[cBIC] [nvarchar](32) NULL,
	[cPuiZahlungsinfo] [nvarchar](max) NULL,
	[nTyp] [tinyint] NOT NULL,
	[cMandatsReferenz] [nvarchar](100) NULL,
	[cVerwendungszweck] [nvarchar](1000) NULL,
	[dFaelligkeitsdatum] [datetime] NULL,
	[cGlaeubigerID] [nvarchar](35) NULL,
	[cEndToEndID] [nvarchar](35) NULL,
	[cReferenzEmail] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragZahlungsinfo] PRIMARY KEY CLUSTERED 
(
	[kAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragZahlungsinfo]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragZahlungsinfo_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragZahlungsinfo] CHECK CONSTRAINT [FK_Verkauf_tAuftragZahlungsinfo_kAuftrag]
GO
