USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionTeilmengenKonfiguration]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionTeilmengenKonfiguration](
	[kDimension] [int] NOT NULL,
	[kAuftragPosition] [int] NOT NULL,
	[fValue] [decimal](25, 13) NOT NULL,
	[fGroundValue] [decimal](25, 13) NOT NULL,
	[kMassEinheit] [int] NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionTeilmengenKonfiguration] PRIMARY KEY CLUSTERED 
(
	[kAuftragPosition] ASC,
	[kDimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengenKonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionTeilmengenKonfiguration_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengenKonfiguration] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionTeilmengenKonfiguration_kAuftragPosition]
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengenKonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionTeilmengenKonfiguration_kDimension] FOREIGN KEY([kDimension])
REFERENCES [subset].[tDimension] ([kDimension])
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengenKonfiguration] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionTeilmengenKonfiguration_kDimension]
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengenKonfiguration]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionTeilmengenKonfiguration_kMassEinheit] FOREIGN KEY([kMassEinheit])
REFERENCES [dbo].[tMassEinheit] ([kMassEinheit])
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tAuftragPositionTeilmengenKonfiguration] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionTeilmengenKonfiguration_kMassEinheit]
GO
