USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vVorgangsstatus]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vVorgangsstatus] AS SELECT
    tAuftrag.kAuftrag,
    tVorgangsstatus.cName AS cStatus
FROM Verkauf.tAuftrag
         JOIN Verkauf.tVorgangsstatus ON tAuftrag.kVorgangsstatus = tVorgangsstatus.kVorgangsstatus
UNION
SELECT
    tAuftrag.kAuftrag,
    tAuftragText.cVorgangsstatus AS cStatus
FROM Verkauf.tAuftragText
         JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragtext.kAuftrag
WHERE ISNULL(tAuftrag.kVorgangsstatus, 0) = 0
GO
