USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tExterneRechnungZusatzdaten]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tExterneRechnungZusatzdaten](
	[kExterneRechnung] [int] NOT NULL,
	[kFarbe] [int] NULL,
	[cAnmerkung] [nvarchar](max) NULL,
	[bRowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tExterneRechnungZusatzdaten] PRIMARY KEY CLUSTERED 
(
	[kExterneRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tExterneRechnungZusatzdaten]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tExterneRechnungZusatzdaten_kExterneRechnung] FOREIGN KEY([kExterneRechnung])
REFERENCES [Verkauf].[tExterneRechnung] ([kExterneRechnung])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tExterneRechnungZusatzdaten] CHECK CONSTRAINT [FK_Verkauf_tExterneRechnungZusatzdaten_kExterneRechnung]
GO
