USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragEckdaten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragEckdaten](
	[kAuftrag] [int] NOT NULL,
	[dLetzterVersand] [datetime] NULL,
	[dGedruckt] [datetime] NULL,
	[dGemailt] [datetime] NULL,
	[dVersandMail] [datetime] NULL,
	[dZahlungsMail] [datetime] NULL,
	[fWertNetto] [decimal](25, 13) NOT NULL,
	[fWertBrutto] [decimal](25, 13) NOT NULL,
	[fZahlung] [decimal](25, 13) NOT NULL,
	[fGutschrift] [decimal](25, 13) NOT NULL,
	[nIstNachnahme] [bit] NOT NULL,
	[dBezahlt] [datetime] NULL,
	[nIstKomplettRetourniert] [bit] NOT NULL,
	[nRechnungStatus] [tinyint] NOT NULL,
	[nZahlungStatus] [tinyint] NOT NULL,
	[nAnzahlPakete] [int] NOT NULL,
	[nAnzahlVersendetePakete] [int] NOT NULL,
	[fWertRechnungNetto] [decimal](25, 13) NOT NULL,
	[fWertRechnungBrutto] [decimal](25, 13) NOT NULL,
	[nIstFuerAuslieferungGesperrt] [tinyint] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cRechnungsnummern] [nvarchar](200) NULL,
	[fOffenerWert] [decimal](25, 13) NOT NULL,
	[fOffenerWertOhneStorno] [decimal](25, 13) NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragEckdaten] PRIMARY KEY CLUSTERED 
(
	[kAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_fWertNetto]  DEFAULT ((0.0)) FOR [fWertNetto]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_fWertBrutto]  DEFAULT ((0.0)) FOR [fWertBrutto]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_fZahlung]  DEFAULT ((0.0)) FOR [fZahlung]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_fGutschrift]  DEFAULT ((0.0)) FOR [fGutschrift]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_nIstNachnahme]  DEFAULT ((0)) FOR [nIstNachnahme]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_nIstKomplettRetourniert]  DEFAULT ((0)) FOR [nIstKomplettRetourniert]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_nRechnungStatus]  DEFAULT ((0)) FOR [nRechnungStatus]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_nZahlungStatus]  DEFAULT ((0)) FOR [nZahlungStatus]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_nAnzahlPakete]  DEFAULT ((0)) FOR [nAnzahlPakete]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_nAnzahlVersendetePakete]  DEFAULT ((0)) FOR [nAnzahlVersendetePakete]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_fWertRechnungNetto]  DEFAULT ((0.0)) FOR [fWertRechnungNetto]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_fWertRechnungBrutto]  DEFAULT ((0.0)) FOR [fWertRechnungBrutto]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_nIstFuerAuslieferungGesperrt]  DEFAULT ((0)) FOR [nIstFuerAuslieferungGesperrt]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_fOffenerWert]  DEFAULT ((0.0)) FOR [fOffenerWert]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragEckdaten_fOffenerWertOhneStorno]  DEFAULT ((0)) FOR [fOffenerWertOhneStorno]
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragEckdaten_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragEckdaten] CHECK CONSTRAINT [FK_Verkauf_tAuftragEckdaten_kAuftrag]
GO
