USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragkostentypen]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Strukturen
CREATE VIEW [Verkauf].[vAuftragkostentypen]
AS
SELECT
	CAST(0 AS INT) AS [Unbekannt],
	CAST(1 AS INT) AS [Kommission],
	CAST(2 AS INT) AS [Retourenhandling],
	CAST(3 AS INT) AS [Fulfillment],
	CAST(4 AS INT) AS [Verpackung],
	CAST(5 AS INT) AS [VersandEk],
	CAST(6 AS INT) AS [Versandhandling];
GO
