USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvRechnungskorrekturverwaltung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvRechnungskorrekturverwaltung]
AS
(
	   SELECT tgutschrift.kGutschrift AS kGutschrift,
			  tgutschrift.kRechnung AS kRechnung,
			  tgutschrift.cGutschriftNr AS cRechnungskorrekturnummer,
			  tgutschrift.cKurzText AS cKurztext,
			  tgutschrift.cText AS cText,
			  ISNULL(vGutschriftEckdaten.fPreisBrutto, 0) AS fPreisBrutto,
			  ISNULL(vGutschriftEckdaten.fPreisNetto, 0) AS fPreisNetto,
			  tgutschrift.fMwSt AS fMwst,
			  tgutschrift.dErstellt AS dErstellt,
			  tgutschrift.cErloeskonto AS cErloeskonto,
			  tgutschrift.cWaehrung AS cWaehrung,
			  CASE WHEN tgutschrift.fFaktor <= 0.0 THEN 1.0 ELSE tgutschrift.fFaktor END AS fFaktor,
			  tgutschrift.kFirma AS kFirma,
			  tgutschrift.kSprache AS kSprache,
			  tgutschrift.kBenutzer AS kBenutzer,
			  tgutschrift.cStatus AS cStatustext,
			  tgutschrift.kRechnungsAdresse AS kRechnungsadresse,
			  tgutschrift.kPlattform AS kPlattform,
			  ISNULL(tRechnung.cRechnungsNr, '') AS cRechnungsnummer,
			  tRechnungText.cAnmerkung AS cAnmerkung,
			  tRechnungText.cHinweis AS cSonstiges,
			  tRechnung.kShop AS kShop,
			  tShop.cName AS cShopname,
			  tgutschrift.kKunde AS kKunde,
			  trechnungsadresse.cFirma AS cRechnungsadresseFirma,
			  trechnungsadresse.cAnrede AS cRechnungsadresseAnrede,
			  trechnungsadresse.cTitel AS cRechnungsadresseTitel,
			  trechnungsadresse.cVorname AS cRechnungsadresseVorname,
			  trechnungsadresse.cName AS cRechnungsadresseNachname,
			  trechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
			  trechnungsadresse.cAdressZusatz AS cRechnungsadresseAdresszusatz,
			  trechnungsadresse.cPLZ AS cRechnungsadressePlz,
			  trechnungsadresse.cOrt AS cRechnungsadresseOrt,
			  trechnungsadresse.cLand AS cRechnungsadresseLand,
			  trechnungsadresse.cTel AS cRechnungsadresseTelefon,
			  trechnungsadresse.cMobil AS cRechnungsadresseMobilTelefon,
			  trechnungsadresse.cFax AS cRechnungsadresseFax,
			  trechnungsadresse.cMail AS cRechnungsadresseMail,
			  trechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
			  trechnungsadresse.cPostID AS cRechnungsadressePostId,
			  trechnungsadresse.cBundesland AS cRechnungsadresseBundesland,
			  trechnungsadresse.cISO AS cRechnungsadresseLandIso,
			  vRechnungLieferadresse.cFirma AS cLieferadresseFirma,
			  vRechnungLieferadresse.cAnrede AS cLieferadresseAnrede,
			  vRechnungLieferadresse.cTitel AS cLieferadresseTitel,
			  vRechnungLieferadresse.cVorname AS cLieferadresseVorname,
			  vRechnungLieferadresse.cName AS cLieferadresseNachname,
			  vRechnungLieferadresse.cStrasse AS cLieferadresseStrasse,
			  vRechnungLieferadresse.cAdressZusatz AS cLieferadresseAdresszusatz,
			  vRechnungLieferadresse.cPLZ AS cLieferadressePlz,
			  vRechnungLieferadresse.cOrt AS cLieferadresseOrt,
			  vRechnungLieferadresse.cLand AS cLieferadresseLand,
			  vRechnungLieferadresse.cTel AS cLieferadresseTelefon,
			  vRechnungLieferadresse.cMobil AS cLieferadresseMobilTelefon,
			  vRechnungLieferadresse.cFax AS cLieferadresseFax,
			  vRechnungLieferadresse.cMail AS cLieferadresseMail,
			  vRechnungLieferadresse.cZusatz AS cLieferadresseZusatz,
			  vRechnungLieferadresse.cPostID AS cLieferadressePostId,
			  vRechnungLieferadresse.cBundesland AS cLieferadresseBundesland,
			  vRechnungLieferadresse.cISO AS cLieferadresseLandIso,
			  trechnungsadresse.cKundenNr AS cKundeNr,
			  tKundenGruppe.cName AS cKundengruppe,
			  tbenutzer.cName AS cBenutzername,
			  tfirma.cName AS cFirmenname,
			  tgutschrift.dDruckdatum AS dDruckdatum,
			  tgutschrift.dMaildatum AS dMaildatum,
			  tRechnung.cEbayUsername AS ceBayBenutzername,
			  StornoDaten.dStorniert AS dStorniert,
			  StornoDaten.cKommentar AS cStornoKommentar,
			  StornoDaten.cStornogrund AS cStornogrund,
			  StornoDaten.cName AS cStorniertVon,
			  tgutschrift.nStorno AS nStorno,
			  tgutschrift.nStornoTyp AS nStornoTyp
	     FROM dbo.tgutschrift
	LEFT JOIN dbo.trechnungsadresse ON trechnungsadresse.kRechnungsAdresse = tgutschrift.kRechnungsAdresse
	LEFT JOIN dbo.tkunde ON tkunde.kKunde = tgutschrift.kKunde
	LEFT JOIN dbo.tKundenGruppe ON tKundenGruppe.kKundenGruppe = tkunde.kKundenGruppe
	LEFT JOIN Rechnung.tRechnung ON tgutschrift.kRechnung = tRechnung.kRechnung
	LEFT JOIN Rechnung.tRechnungText ON tRechnungText.kRechnung = tRechnung.kRechnung
	LEFT JOIN Rechnung.vRechnungLieferadresse ON vRechnungLieferadresse.kRechnung = tRechnung.kRechnung
	LEFT JOIN eazybusiness.dbo.tbenutzer ON tgutschrift.kBenutzer = tbenutzer.kBenutzer
	LEFT JOIN dbo.tfirma ON tgutschrift.kFirma = tfirma.kFirma
	LEFT JOIN dbo.tShop ON tShop.kShop = tRechnung.kShop
	LEFT JOIN (SELECT 
			tGutschriftStorno.kGutschrift,
			tGutschriftStorno.dStorniert,
			tGutschriftStorno.cKommentar,
			Stornobenutzer.cName,
			tGutschriftStornogrund.cStornogrund
       FROM dbo.tGutschriftStorno
	   JOIN dbo.tGutschriftStornogrund ON tGutschriftStornogrund.kGutschriftStornogrund = tGutschriftStorno.kGutschriftStornogrund
	   JOIN eazybusiness.dbo.tbenutzer AS Stornobenutzer ON tGutschriftStorno.kBenutzer = Stornobenutzer.kBenutzer) AS StornoDaten
	ON StornoDaten.kGutschrift = tgutschrift.kGutschrift
	LEFT JOIN dbo.vGutschriftEckdaten ON vGutschriftEckdaten.kGutschrift = tGutschrift.kGutschrift
);
GO
