USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragScxCustomField]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragScxCustomField](
	[kAuftragScxCustomField] [bigint] IDENTITY(1,1) NOT NULL,
	[kAuftragScxCustomFieldGroup] [bigint] NOT NULL,
	[cKey] [nvarchar](255) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragScxCustomField] PRIMARY KEY CLUSTERED 
(
	[kAuftragScxCustomField] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragScxCustomField]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragScxCustomField_kAuftragScxCustomFieldGroup] FOREIGN KEY([kAuftragScxCustomFieldGroup])
REFERENCES [Verkauf].[tAuftragScxCustomFieldGroup] ([kAuftragScxCustomFieldGroup])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragScxCustomField] CHECK CONSTRAINT [FK_Verkauf_tAuftragScxCustomField_kAuftragScxCustomFieldGroup]
GO
