USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvAbonnementsposition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvAbonnementsposition]
AS
SELECT
    tAuftragPosition.kAuftrag AS kAuftrag,
    tAuftragPosition.kAuftragPosition AS kAuftragPosition,
    tAuftragPosition.kArtikel AS kArtikel,
    tAuftragPosition.cName AS cName,
    tAuftragPosition.cArtNr AS cArtNr,
    tAuftragPosition.cHinweis AS cHinweis,
    tAuftragPosition.fAnzahl AS fAnzahl,
    tAuftragPositionEckdaten.fWertNetto AS fVKNettoGesamt,
    tAuftragPositionEckdaten.fWertBrutto AS fVKBruttoGesamt,
    tAuftragPosition.fVkNetto AS fVkNetto,
    tAuftragPosition.fMwSt AS fMwSt,
    tAuftragPosition.fVkNetto * (1 + (tAuftragPosition.fMwSt / 100)) AS fVKBrutto,
    CASE WHEN tlagerbestand.kArtikel = 0 THEN 0.0 ELSE CAST(tlagerbestand.fVerfuegbar AS DECIMAL(25,4)) END AS fVerfuegbar,
    tlagerbestand.fLagerbestand AS fLagerbestand,
    CAST(tlagerbestand.fVerfuegbarGesperrt AS DECIMAL(25,4)) AS fVerfuegbarGesperrt,
    CAST(tlagerbestand.fAuslieferungGesperrt AS DECIMAL(25,4)) AS fAuslieferungGesperrt,
    tlagerbestand.fZulauf AS fZulauf,
    tLagerbestand.fAufEinkaufsliste AS fAufEinkaufsliste,
    tAuftragPosition.nSort AS nSort,
    tlagerbestand.nLagerAktiv AS nLagerAktiv,
    tAuftragPosition.kAuftragStueckliste AS kStuecklistenVater,
    tAuftragPosition.kKonfigVater AS kKonfigurationsVater,
    tSteuerschluessel.cErloeskonto AS cErloeskonto,
    CASE
        WHEN CONVERT(DATE, tAuftragPositionIntervall.dNextFaelligkeit) <= CONVERT(DATE, DATEADD(DAY, tAuftragPositionIntervall.nVorlaufTage, GETDATE())) THEN 1
        ELSE 0
    END AS nIstFaellig,
    tAuftragPositionIntervall.nTyp AS nTyp,
    tAuftragPositionIntervall.nIntervall AS nIntervall,
    tAuftragPositionIntervall.nIntervallTyp AS nIntervallTyp,
    tAuftragPositionIntervall.dNextFaelligkeit AS dNextFaelligkeit,
    tAuftragPositionIntervall.dStartdatum AS dStartdatum,
    tAuftragPositionIntervall.dEnddatum AS dEnddatum,
    CASE
        WHEN (tAuftragPosition.fAnzahl - CASE WHEN tlagerbestand.kArtikel = 0 THEN 0.0 ELSE CAST(tlagerbestand.fVerfuegbar AS DECIMAL(25,4)) END) > 0
            THEN tAuftragPosition.fAnzahl - CASE WHEN tlagerbestand.kArtikel = 0 THEN 0.0 ELSE CAST(tlagerbestand.fVerfuegbar AS DECIMAL(25,4)) END
        ELSE 0.0
    END AS fFehlbestand,
    tAuftragPosition.cEinheit AS cEinheit,
    STUFF((SELECT ' / ' + tAuftragPositionEigenschaft.cWert
           FROM Verkauf.tAuftragPositionEigenschaft
                    LEFT JOIN dbo.teigenschaft ON teigenschaft.kEigenschaft = tAuftragPositionEigenschaft.kEigenschaft
           WHERE tAuftragPositionEigenschaft.kAuftragPosition = tAuftragPosition.kAuftragPosition
           ORDER BY teigenschaft.nSort
        FOR XML PATH ('')), 1, 2, '') AS cVariationen
FROM Verkauf.tAuftragPosition
JOIN Verkauf.tAuftragPositionEckdaten ON tAuftragPositionEckdaten.kAuftragPosition = tAuftragPosition.kAuftragPosition
LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tAuftragPosition.kArtikel
LEFT JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = tAuftragPosition.kSteuerschluessel
LEFT JOIN Verkauf.tAuftragPositionIntervall ON tAuftragPositionIntervall.kAuftragPosition = tAuftragPosition.kAuftragPosition;
GO
