USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvAuftragsverwaltungCache]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvAuftragsverwaltungCache] AS SELECT vStandardAuftrag.kAuftrag,
       vStandardAuftrag.nAuftragStatus,
       vStandardAuftrag.kBenutzer,
       vStandardAuftrag.kKunde,
       vStandardAuftrag.kVersandart,
       vStandardAuftrag.kInetBestellung,
       vStandardAuftrag.kBestellhinweis,
       ISNULL(tFirmaHistory.kFirma, 0) AS kFirma,
       vStandardAuftrag.kSprache,
       vStandardAuftrag.kShop,
       vStandardAuftrag.kZahlungsart,
       vStandardAuftrag.cAuftragsnummer,
       vStandardAuftrag.kPlattform,
       vAuftragText.cAnmerkung AS cAnmerkung,
       vStandardAuftrag.cWaehrung,
       vStandardAuftrag.fWaehrungsfaktor,
       vStandardAuftrag.dDruckdatum,
       vStandardAuftrag.dMaildatum,
       vStandardAuftrag.dZahlungsmaildatum,
       vStandardAuftrag.nBeschreibung,
       vStandardAuftrag.nSteuereinstellung,
       vVorgangsstatus.cStatus AS cStatustext,
       vStandardAuftrag.dBezahlt AS dBezahldatum,
       vStandardAuftrag.fZusatzGewicht AS fZusatzgewicht,
       vStandardAuftrag.dErstellt,
       vStandardAuftrag.nZahlungszielTage,
       vStandardAuftrag.nKomplettAusgeliefert,
       vStandardAuftrag.dBezahlt AS dZahldatum,
       vStandardAuftrag.kRueckhaltegrund,
       tRueckhalteGrund.cName AS cRueckhalteGrund,
       vStandardAuftrag.dLetzterVersand AS dVersanddatum,
       vStandardAuftrag.dVoraussichtlichesLieferdatum,
       vStandardAuftrag.nLieferprioritaet,
       vStandardAuftrag.cVersandlandISO,
       vStandardAuftrag.cVersandlandWaehrung,
       vStandardAuftrag.fVersandlandWaehrungFaktor,
       vStandardAuftrag.nInet,
       vStandardAuftrag.nRechnungStatus,
       vStandardRechnungsadresse.cRechnungsadresseFirma,
       vStandardRechnungsadresse.cRechnungsadresseAnrede,
       vStandardRechnungsadresse.cRechnungsadresseTitel,
       vStandardRechnungsadresse.cRechnungsadresseVorname,
       vStandardRechnungsadresse.cRechnungsadresseNachname,
       vStandardRechnungsadresse.cRechnungsadresseStrasse,
       vStandardRechnungsadresse.cRechnungsadresseAdresszusatz,
       vStandardRechnungsadresse.cRechnungsadressePlz,
       vStandardRechnungsadresse.cRechnungsadresseOrt,
       vStandardRechnungsadresse.cRechnungsadresseLand,
       vStandardRechnungsadresse.cRechnungsadresseTelefon,
       vStandardRechnungsadresse.cRechnungsadresseMobilTelefon,
       vStandardRechnungsadresse.cRechnungsadresseFax,
       vStandardRechnungsadresse.cRechnungsadresseMail,
       vStandardRechnungsadresse.cRechnungsadresseZusatz,
       vStandardRechnungsadresse.cRechnungsadressePostId,
       vStandardRechnungsadresse.cRechnungsadresseBundesland,
       vStandardRechnungsadresse.cRechnungsadresseLandIso,
       vStandardLieferadresse.cLieferadresseFirma,
       vStandardLieferadresse.cLieferadresseAnrede,
       vStandardLieferadresse.cLieferadresseTitel,
       vStandardLieferadresse.cLieferadresseVorname,
       vStandardLieferadresse.cLieferadresseNachname,
       vStandardLieferadresse.cLieferadresseStrasse,
       vStandardLieferadresse.cLieferadresseAdresszusatz,
       vStandardLieferadresse.cLieferadressePlz,
       vStandardLieferadresse.cLieferadresseOrt,
       vStandardLieferadresse.cLieferadresseLand,
       vStandardLieferadresse.cLieferadresseTelefon,
       vStandardLieferadresse.cLieferadresseMobilTelefon,
       vStandardLieferadresse.cLieferadresseFax,
       vStandardLieferadresse.cLieferadresseMail,
       vStandardLieferadresse.cLieferadresseZusatz,
       vStandardLieferadresse.cLieferadressePostId,
       vStandardLieferadresse.cLieferadresseBundesland,
       vStandardLieferadresse.cLieferadresseLandIso,
       tbenutzer.cName AS cBenutzername,
       tFirmaHistory.cName AS cFirmenname,
       tShop.cName AS cShopname,
       ISNULL(tKundenGruppe.cName, '') AS cKundengruppe,
       tZahlungsart.cName AS cZahlungsartname,
       tversandart.cName AS cVersandartname,
       vStandardAuftrag.cKundenNr AS cKundeNr,
       vStandardAuftrag.nDebitorennr AS nDebitorennr,
       vStandardAuftrag.fAuftragswertBrutto,
       vStandardAuftrag.fAuftragswertVersandland,
       vAuftragText.cHinweis AS cSonstiges,
       vStandardAuftrag.cExterneAuftragsnummer,
       tFarbe.nFarbcode AS nFarbcode,
       tFarbe.cName AS cFarbbedeutung,
       vStandardAuftrag.ceBayBenutzername,
       tAuftragZahlungsinfo.cVerwendungszweck AS ceBayVerwendungszweck,
       vStandardAuftrag.nStorniert,
       vStandardAuftrag.cZahlungsmodulID,
       vStandardAuftrag.fGutgeschriebenerWert,
       vStandardAuftrag.fBereitsgezahltWert,
       vStandardAuftrag.fOffenerWert,
       vStandardAuftrag.fAuftragswertNetto,
       tBestellungWMSFreigabe.nSperre AS nWMSGesperrt,
       tBestellungWMSFreigabe.nTeillieferungErlaubt AS nWMSTeillieferung,
       tBestellungWMSFreigabe.nVorkommissionieren AS nWMSVorkommissionieren,
       vStandardAuftrag.nIstExterneRechnung AS nIstExterneRechnung,
       vStandardAuftrag.nIstReadOnly AS nIstReadOnly,
       vStandardAuftrag.nZahlungStatus AS nZahlungStatus,
       --
       -- 0 = storniert
       -- 1 = ausstehend
       -- 2 = teilgeliefert
       -- 3 = geliefert
       -- 4 = teilversendet
       -- 5 = Verpackt und Versendet
       -- 6 = Gutgeschrieben
       -- 7 = Ohne Versand abgeschlossen
       --
       CASE WHEN vStandardAuftrag.nStorniert = 1
                THEN 0
            ELSE
                CASE WHEN vStandardAuftrag.nKomplettAusgeliefert = 2 AND (vStandardAuftrag.kPlattform < 51 OR vStandardAuftrag.kPlattform > 57)
                         THEN 7
                     ELSE
                         CASE WHEN vStandardAuftrag.nKomplettAusgeliefert > 0 AND vStandardAuftrag.fGutschrift > 0 AND vStandardAuftrag.fGutschrift >= vStandardAuftrag.fAuftragswertBrutto
                                  THEN 6
                              ELSE
                                  CASE WHEN vStandardAuftrag.nKomplettAusgeliefert > 0 AND vStandardAuftrag.nAnzahlVersendetePakete = vStandardAuftrag.nAnzahlPakete
                                           THEN 5
                                       ELSE
                                           CASE WHEN vStandardAuftrag.nAnzahlVersendetePakete > 0
                                                    THEN 4
                                                ELSE
                                                    CASE WHEN vStandardAuftrag.nKomplettAusgeliefert > 0
                                                             THEN 3
                                                         ELSE
                                                             CASE WHEN vStandardAuftrag.nKomplettAusgeliefert = 0 AND EXISTS (
                                                                     SELECT TOP 1 NULL
                                                                     FROM dbo.tLieferschein
                                                                     WHERE tLieferschein.kBestellung = vStandardAuftrag.kAuftrag
                                                                 )
                                                                      THEN 2
                                                                  ELSE 1
                                                             END
                                                    END
                                           END
                                  END
                         END
                END
       END AS nLieferstatus,
       vStandardAuftrag.nPlattformTyp,
       vStandardAuftrag.nInnergemeinschaftlicheLieferung,
       vStandardAuftrag.nUmsatzsteuerfrei,
       vStandardAuftrag.cRechnungsnummern,
       vStandardAuftrag.nPending,
       tAuftragStorno.dStorniert AS dStorniert,
       tAuftragStorno.cKommentar AS cStornoKommentar,
       Stornobenutzer.cName AS cStornoBenutzername,
       tAuftragStornogrund.cStornogrund AS cStornogrund,
       vStandardAuftrag.kAmazonUser
FROM Verkauf.vStandardAuftragCache AS vStandardAuftrag WITH(NOEXPAND)
LEFT JOIN Verkauf.vStandardLieferadresseCache AS vStandardLieferadresse WITH(NOEXPAND) ON vStandardLieferadresse.kAuftrag = vStandardAuftrag.kAuftrag
LEFT JOIN Verkauf.vStandardRechnungsadresseCache AS vStandardRechnungsadresse WITH(NOEXPAND) ON vStandardRechnungsadresse.kAuftrag = vStandardAuftrag.kAuftrag
LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = vStandardAuftrag.kFirmaHistory
LEFT JOIN eazybusiness.dbo.tbenutzer ON vStandardAuftrag.kBenutzer = tbenutzer.kBenutzer
LEFT JOIN Verkauf.vAuftragText ON vAuftragText.kAuftrag = vStandardAuftrag.kAuftrag
LEFT JOIN dbo.tShop ON vStandardAuftrag.kShop = tShop.kShop
LEFT JOIN dbo.tZahlungsart ON vStandardAuftrag.kZahlungsart = tZahlungsart.kZahlungsArt
LEFT JOIN dbo.tversandart ON vStandardAuftrag.kVersandArt = tversandart.kVersandArt
LEFT JOIN dbo.tFarbe ON tFarbe.kFarbe = vStandardAuftrag.kFarbe
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = vStandardAuftrag.kAuftrag
LEFT JOIN dbo.tBestellungWMSFreigabe ON vStandardAuftrag.kAuftrag = tBestellungWMSFreigabe.kBestellung AND tBestellungWMSFreigabe.nAktiv = 1
LEFT JOIN dbo.tRueckhalteGrund ON tRueckhalteGrund.kRueckhalteGrund = vStandardAuftrag.kRueckhaltegrund
LEFT JOIN Verkauf.tAuftragZahlungsinfo ON tAuftragZahlungsinfo.kAuftrag = vStandardAuftrag.kAuftrag
LEFT JOIN dbo.tKundenGruppe ON vStandardAuftrag.kKundengruppe = tKundenGruppe.kKundenGruppe
LEFT JOIN Verkauf.tAuftragStorno ON tAuftragStorno.kAuftrag = vStandardAuftrag.kAuftrag
LEFT JOIN Verkauf.tAuftragStornogrund ON tAuftragStornogrund.kAuftragStornogrund = tAuftragStorno.kAuftragStornogrund
LEFT JOIN eazybusiness.dbo.tbenutzer AS Stornobenutzer ON Stornobenutzer.kBenutzer = tAuftragStorno.kBenutzer
GO
