USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragPositionEckdaten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragPositionEckdaten]
AS 
SELECT	tAuftragPositionEckdaten.kAuftragPosition, 
		tAuftragPositionEckdaten.nArtikelTyp, 
		tAuftragPositionEckdaten.fAnzahlOffen, 
		tAuftragPositionEckdaten.fAnzahlGeliefert, 
		tAuftragPositionEckdaten.fAnzahlGutgeschrieben, 
		tAuftragPositionEckdaten.nIstDropshippingLieferbar, 
		tAuftragPositionEckdaten.fWertNetto AS fWert, 
		tAuftragPositionEckdaten.nIstKomplettRetourniert,
		tAuftragPositionEckdaten.fTeilmengenfaktorLager, 
		tAuftragPositionEckdaten.bRowversion ,
		tAuftragPositionEckdaten.kArtikel,
		tAuftragPositionEckdaten.nIstStuecklistenvater,
		tAuftragPositionEckdaten.nIstUmlagerung,
		tAuftragPositionEckdaten.kAuftrag,
		tAuftragPositionEckdaten.nAuftragStatus
FROM Verkauf.tAuftragPositionEckdaten
GO
