USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragFile]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragFile](
	[kAuftragFile] [int] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kFile] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cFilename] [nvarchar](255) NULL,
	[nDokumentTyp] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragFile] PRIMARY KEY CLUSTERED 
(
	[kAuftragFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragFile] ADD  CONSTRAINT [DF_Verkauf_tAuftragFile_nDokumentTyp]  DEFAULT ((0)) FOR [nDokumentTyp]
GO
ALTER TABLE [Verkauf].[tAuftragFile]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragFile_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragFile] CHECK CONSTRAINT [FK_Verkauf_tAuftragFile_kAuftrag]
GO
ALTER TABLE [Verkauf].[tAuftragFile]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragFile_kFile] FOREIGN KEY([kFile])
REFERENCES [dbo].[tFile] ([kFile])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragFile] CHECK CONSTRAINT [FK_Verkauf_tAuftragFile_kFile]
GO
