USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragScxCustomFieldValue]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragScxCustomFieldValue](
	[kAuftragScxCustomFieldValue] [bigint] IDENTITY(1,1) NOT NULL,
	[kAuftragScxCustomField] [bigint] NOT NULL,
	[cValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragScxCustomFieldValue] PRIMARY KEY CLUSTERED 
(
	[kAuftragScxCustomFieldValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragScxCustomFieldValue]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragScxCustomFieldValue_kAuftragScxCustomField] FOREIGN KEY([kAuftragScxCustomField])
REFERENCES [Verkauf].[tAuftragScxCustomField] ([kAuftragScxCustomField])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragScxCustomFieldValue] CHECK CONSTRAINT [FK_Verkauf_tAuftragScxCustomFieldValue_kAuftragScxCustomField]
GO
