USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionEckdaten]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionEckdaten](
	[kAuftragPosition] [int] NOT NULL,
	[nArtikelTyp] [int] NOT NULL,
	[fAnzahlOffen] [decimal](25, 13) NOT NULL,
	[fAnzahlGeliefert] [decimal](25, 13) NOT NULL,
	[fAnzahlGutgeschrieben] [decimal](25, 13) NOT NULL,
	[nIstDropshippingLieferbar] [bit] NOT NULL,
	[nIstKomplettRetourniert] [bit] NOT NULL,
	[fAnzahlAufRechnung] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fWertNetto] [decimal](25, 13) NULL,
	[fWertBrutto] [decimal](25, 13) NULL,
	[fTeilmengenfaktorLager] [decimal](25, 13) NOT NULL,
	[kArtikel] [int] NULL,
	[nIstStuecklistenvater] [bit] NOT NULL,
	[nIstUmlagerung] [bit] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[nAuftragStatus] [tinyint] NULL,
	[nPrio] [int] NOT NULL,
	[nPrioDatum] [int] NOT NULL,
	[nVersandSperre] [bit] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionEckdaten] PRIMARY KEY CLUSTERED 
(
	[kAuftragPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionEckdaten_nIstDropshippingLieferbar]  DEFAULT ((0)) FOR [nIstDropshippingLieferbar]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionEckdaten_nIstKomplettRetourniert]  DEFAULT ((0)) FOR [nIstKomplettRetourniert]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionEckdaten_fTeilmengenfaktorLager]  DEFAULT ((1.0)) FOR [fTeilmengenfaktorLager]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionEckdaten_nVersandSperre]  DEFAULT ((0)) FOR [nVersandSperre]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionEckdaten_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionEckdaten_kAuftragPosition]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftragPositionEckdaten_fAnzahlAufRechnung] CHECK  (([fAnzahlAufRechnung]>=(0)))
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten] CHECK CONSTRAINT [CK_Verkauf_tAuftragPositionEckdaten_fAnzahlAufRechnung]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftragPositionEckdaten_fAnzahlGeliefert] CHECK  (([fAnzahlGeliefert]>=(0)))
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten] CHECK CONSTRAINT [CK_Verkauf_tAuftragPositionEckdaten_fAnzahlGeliefert]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftragPositionEckdaten_fAnzahlOffen] CHECK  (([fAnzahlOffen]>=(0)))
GO
ALTER TABLE [Verkauf].[tAuftragPositionEckdaten] CHECK CONSTRAINT [CK_Verkauf_tAuftragPositionEckdaten_fAnzahlOffen]
GO
