USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vStandardKunde]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vStandardKunde]
WITH SCHEMABINDING
AS
(
	SELECT tKunde.kKunde,
		   tkunde.cKundenNr,
		   LEFT(tKunde.cEbayName, 64) AS cKundeEbayName,
		   tKundenGruppe.cName AS cKundengruppe,
	       LEFT(tAdresse.cFirma, 64) AS cKundeFirma,
		   LEFT(tAdresse.cAnrede, 20) AS cKundeAnrede,
		   LEFT(tAdresse.cTitel, 20) AS cKundeTitel,
		   LEFT(tAdresse.cVorname, 64) AS cKundeVorname,
		   LEFT(tAdresse.cName, 64) AS cKundeNachname,
		   LEFT(tAdresse.cStrasse, 64) AS cKundeStrasse,
		   LEFT(tAdresse.cAdressZusatz, 30) AS cKundeAdresszusatz,			
		   LEFT(tAdresse.cPLZ, 15) AS cKundePlz,
		   LEFT(tAdresse.cOrt, 64) AS cKundeOrt,			
		   LEFT(tAdresse.cLand, 30) AS cKundeLand,
		   LEFT(tAdresse.cTel, 20) AS cKundeTelefon,
		   LEFT(tAdresse.cMobil, 20) AS cKundeMobil,
		   LEFT(tAdresse.cFax, 20) AS cKundeFax,
		   ISNULL(tkunde.nDebitorennr, 0) AS nKundeDebitorennummer,
		   LEFT(tAdresse.cMail, 50) AS cKundeMail,
		   LEFT(tAdresse.cZusatz, 30) AS cKundeZusatz,
		   LEFT(tAdresse.cPostId, 50) AS cKundePostId,
		   LEFT(tAdresse.cBundesland, 64) AS cKundeBundesland,
		   tAdresse.cISO AS cKundeISO,
		   tAdresse.cUSTID AS cKundeUSTID
	  FROM dbo.tkunde
	  JOIN dbo.tAdresse ON tAdresse.kKunde = tkunde.kKunde 
	  JOIN dbo.tKundenGruppe ON tKundenGruppe.kKundenGruppe = tKunde.kKundenGruppe
	 WHERE tAdresse.nTyp = 1 AND tAdresse.nStandard = 1
);
GO
