USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragAdresse_Log]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragAdresse_Log](
	[kAuftragAdresseLog] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzerLog] [int] NULL,
	[dLog] [datetime] NOT NULL,
	[nActionLog] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kKunde] [int] NULL,
	[cFirma] [nvarchar](128) NULL,
	[cAnrede] [nvarchar](30) NULL,
	[cTitel] [nvarchar](64) NULL,
	[cVorname] [nvarchar](255) NULL,
	[cName] [nvarchar](255) NULL,
	[cStrasse] [nvarchar](255) NULL,
	[cPLZ] [nvarchar](24) NULL,
	[cOrt] [nvarchar](255) NULL,
	[cLand] [nvarchar](255) NULL,
	[cTel] [nvarchar](30) NULL,
	[cZusatz] [nvarchar](60) NULL,
	[cAdressZusatz] [nvarchar](255) NULL,
	[cPostID] [nvarchar](255) NULL,
	[cMobil] [nvarchar](30) NULL,
	[cMail] [nvarchar](255) NULL,
	[cFax] [nvarchar](30) NULL,
	[cBundesland] [nvarchar](255) NULL,
	[cISO] [nvarchar](5) NULL,
	[nTyp] [tinyint] NOT NULL,
	[nZolldokumenteErforderlich] [tinyint] NULL,
	[bRowversion] [binary](8) NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragAdresse_Log] PRIMARY KEY CLUSTERED 
(
	[kAuftragAdresseLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragAdresse_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftragAdresse_Log_dLog]  DEFAULT (getdate()) FOR [dLog]
GO
