USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vExterneRechnung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vExterneRechnung]
AS
(
	SELECT
		tExterneRechnung.kExterneRechnung,
        tkunde.cKundenNr,
        tFirmaHistory.cName,
        tExterneRechnung.cExterneRechnungsnr,
        tExterneRechnung.dBelegzeitpunktUtc,
        tExterneRechnung.cVerkaeuferUstId,
        tExterneRechnung.cVerkaeuferUstLandISO,
        tExterneRechnung.cKaeuferUstId,
        tExterneRechnung.cKaeuferUstLandISO,
        tExterneRechnung.cSdIKontoNr,
        tExterneRechnung.cWaehrungISO,
        tExterneRechnung.fUmgerechneterGesamtUstBetrag,
        tExterneRechnung.cRechnungsadresseFirma,
        tExterneRechnung.cRechnungsadresseAnrede,
        tExterneRechnung.cRechnungsadresseTitel,
        tExterneRechnung.cRechnungsadresseVorname,
        tExterneRechnung.cRechnungsadresseName,
        tExterneRechnung.cRechnungsadresseStrasse,
        tExterneRechnung.cRechnungsadresseOrt,
        tExterneRechnung.cRechnungsadressePLZ,
        tExterneRechnung.cRechnungsadresseLand
	FROM Verkauf.tExterneRechnung
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tExterneRechnung.kFirmaHistory
	JOIN dbo.tkunde ON tkunde.kKunde = tExterneRechnung.kKunde
)
GO
