USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragText]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragText] AS SELECT	tAuftragText.kAuftrag,
        tAuftragText.cAnmerkung,
        tAuftragText.cDrucktext,
        tAuftragText.cHinweis,
        tAuftragText.cVorgangsstatus
FROM Verkauf.tAuftragText
GO
