USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vStandardRechnungsadresse]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [Verkauf].[vStandardRechnungsadresse]
AS
  SELECT vAuftragRechnungsadresse.kAuftrag AS kAuftrag,
         vAuftragRechnungsadresse.kKunde AS kRechnungsadresseKunde,
		 LEFT(vAuftragRechnungsadresse.cFirma, 64) AS cRechnungsadresseFirma,
		 LEFT(vAuftragRechnungsadresse.cAnrede, 20) AS cRechnungsadresseAnrede,
		 LEFT(vAuftragRechnungsadresse.cTitel, 64) AS cRechnungsadresseTitel,
		 LEFT(vAuftragRechnungsadresse.cVorname, 64) AS cRechnungsadresseVorname,
		 LEFT(vAuftragRechnungsadresse.cName, 64) AS cRechnungsadresseNachname,
		 LEFT(vAuftragRechnungsadresse.cStrasse, 64) AS cRechnungsadresseStrasse,
		 LEFT(vAuftragRechnungsadresse.cAdressZusatz, 64) AS cRechnungsadresseAdresszusatz,
		 LEFT(vAuftragRechnungsadresse.cPLZ, 15) AS cRechnungsadressePlz,
		 LEFT(vAuftragRechnungsadresse.cOrt, 64) AS cRechnungsadresseOrt,
		 LEFT(vAuftragRechnungsadresse.cLand, 30) AS cRechnungsadresseLand,
		 LEFT(vAuftragRechnungsadresse.cTel, 20) AS cRechnungsadresseTelefon,
		 LEFT(vAuftragRechnungsadresse.cMobil, 20) AS cRechnungsadresseMobilTelefon,
		 LEFT(vAuftragRechnungsadresse.cFax, 20) AS cRechnungsadresseFax,
		 LEFT(vAuftragRechnungsadresse.cMail, 50)  AS cRechnungsadresseMail,
		 LEFT(vAuftragRechnungsadresse.cZusatz, 64)  AS cRechnungsadresseZusatz,
		 LEFT(vAuftragRechnungsadresse.cPostID, 64)  AS cRechnungsadressePostId,
		 LEFT(vAuftragRechnungsadresse.cBundesland, 64) AS cRechnungsadresseBundesland,
		 vAuftragRechnungsadresse.cISO AS cRechnungsadresseLandIso,
		 tAuftrag.dErstellt AS dErstellt
    FROM Verkauf.tAuftrag
	JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = tAuftrag.kAuftrag 
	WHERE tAuftrag.nType = 1
GO
