USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPosition_Log]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPosition_Log](
	[kAuftragPositionLog] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzerLog] [int] NULL,
	[dLog] [datetime] NOT NULL,
	[nActionLog] [int] NOT NULL,
	[kAuftragPosition] [int] NOT NULL,
	[kArtikel] [int] NULL,
	[kAuftrag] [int] NOT NULL,
	[cArtNr] [nvarchar](100) NULL,
	[nReserviert] [bit] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cHinweis] [nvarchar](2000) NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fEkNetto] [decimal](25, 13) NOT NULL,
	[fVkNetto] [decimal](25, 13) NOT NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[nSort] [int] NOT NULL,
	[cNameStandard] [nvarchar](255) NULL,
	[kSteuerklasse] [int] NULL,
	[nType] [tinyint] NOT NULL,
	[cEinheit] [nvarchar](255) NULL,
	[nHatUpload] [bit] NOT NULL,
	[kKonfigVater] [int] NULL,
	[kKonfigItem] [int] NULL,
	[kAmazonBestellungPos] [int] NULL,
	[kAuftragStueckliste] [int] NULL,
	[kEbayTransaction] [int] NULL,
	[fFaktor] [decimal](25, 13) NOT NULL,
	[kSteuerschluessel] [int] NULL,
	[bRowversion] [binary](8) NOT NULL,
	[fWertNettoGesamtFixiert] [decimal](25, 13) NULL,
	[fWertBruttoGesamtFixiert] [decimal](25, 13) NULL,
	[cFNSKU] [nvarchar](255) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPosition_Log] PRIMARY KEY CLUSTERED 
(
	[kAuftragPositionLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPosition_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_Log_dLog]  DEFAULT (getdate()) FOR [dLog]
GO
