USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvAbonnementsverwaltung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvAbonnementsverwaltung] 
AS
SELECT
    tAuftrag.kAuftrag AS kAuftrag,
    tAuftrag.kBenutzer AS kBenutzer,
    tAuftrag.kKunde AS kKunde,
    tAuftrag.kVersandArt AS kVersandart,
    tFirmaHistory.kFirma AS kFirma,
    tAuftrag.kZahlungsArt AS kZahlungsart,
    tAuftrag.cAuftragsNr AS cAbonnementsnummer,
    tAuftragText.cAnmerkung AS cAnmerkung,
    tAuftrag.cWaehrung AS cWaehrung,
    tAuftrag.fFaktor AS fWaehrungsfaktor,
    vVorgangsstatus.cStatus AS cStatustext,
    tAuftrag.fZusatzGewicht AS fZusatzgewicht,
    tAuftrag.dErstellt AS dErstellt,
    tAuftrag.cVersandlandISO AS cVersandlandISO,
    tAuftrag.cExterneAuftragsnummer AS cExterneAbonnementsnummer,
    tland.cName AS cVersandland,
    0 AS fVersandgewicht,
    tAuftrag.cVersandlandWaehrung AS cVersandlandWaehrung,
    tAuftrag.fVersandlandWaehrungFaktor AS fVersandlandWaehrungFaktor,
    vAuftragRechnungsadresse.cFirma AS cRechnungsadresseFirma,
    vAuftragRechnungsadresse.cVorname AS cRechnungsadresseVorname,
    vAuftragRechnungsadresse.cName AS cRechnungsadresseNachname,
    vAuftragRechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
    vAuftragRechnungsadresse.cAdressZusatz AS cRechnungsadresseAdresszusatz,
    vAuftragRechnungsadresse.cPLZ AS cRechnungsadressePlz,
    vAuftragRechnungsadresse.cOrt AS cRechnungsadresseOrt,
    vAuftragRechnungsadresse.cLand AS cRechnungsadresseLand,
    vAuftragRechnungsadresse.cTel AS cRechnungsadresseTelefon,
    vAuftragRechnungsadresse.cFax AS cRechnungsadresseFax,
    vAuftragRechnungsadresse.cMail AS cRechnungsadresseMail,
    vAuftragRechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
    vAuftragRechnungsadresse.cBundesland AS cRechnungsadresseBundesland,
    vAuftragLieferadresse.cFirma AS cLieferadresseFirma,
    vAuftragLieferadresse.cVorname AS cLieferadresseVorname,
    vAuftragLieferadresse.cName AS cLieferadresseNachname,
    vAuftragLieferadresse.cStrasse AS cLieferadresseStrasse,
    vAuftragLieferadresse.cAdressZusatz AS cLieferadresseAdresszusatz,
    vAuftragLieferadresse.cPLZ AS cLieferadressePlz,
    vAuftragLieferadresse.cOrt AS cLieferadresseOrt,
    vAuftragLieferadresse.cLand AS cLieferadresseLand,
    vAuftragLieferadresse.cTel AS cLieferadresseTelefon,
    vAuftragLieferadresse.cFax AS cLieferadresseFax,
    vAuftragLieferadresse.cMail AS cLieferadresseMail,
    vAuftragLieferadresse.cZusatz AS cLieferadresseZusatz,
    vAuftragLieferadresse.cBundesland AS cLieferadresseBundesland,
    tbenutzer.cName AS cBenutzername,
    Erstellbenutzer.cName AS cErstelltBenutzername,
    tFirmaHistory.cName AS cFirmenname,
    tKundenGruppe.cName AS cKundengruppe,
    tZahlungsart.cName AS cZahlungsartname,
    tversandart.cName AS cVersandartname,
    tAuftrag.cKundenNr AS cKundeNr,
    tAuftragEckdaten.fWertBrutto / tAuftrag.fFaktor AS fAuftragswertBrutto,
    tAuftragEckdaten.fWertBrutto / tAuftrag.fFaktor * tAuftrag.fVersandlandWaehrungFaktor AS fAuftragswertBruttoVersandland,
    tAuftragText.cHinweis AS cSonstiges,
    tAuftragEckdaten.fWertNetto / tAuftrag.fFaktor AS fAuftragswertNetto,
    tAuftragEckdaten.fWertNetto / tAuftrag.fFaktor * tAuftrag.fVersandlandWaehrungFaktor AS fAuftragswertNettoVersandland,
    IntervallDaten.dNextFaelligkeit AS dNextFaelligkeit,
    tFarbe.nFarbcode AS nFarbcode,
    CONVERT(BIT, ISNULL(IntervallDaten.nHasEnddatum, 0)) AS nHasEnddatum
FROM Verkauf.tAuftrag
JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tAuftrag.kFirmaHistory
LEFT JOIN dbo.tKundenGruppe ON tKundenGruppe.kKundenGruppe = tAuftrag.kKundenGruppe
LEFT JOIN eazybusiness.dbo.tbenutzer ON tAuftrag.kBenutzer = tbenutzer.kBenutzer
LEFT JOIN eazybusiness.dbo.tbenutzer AS Erstellbenutzer ON tAuftrag.kBenutzerErstellt = Erstellbenutzer.kBenutzer
LEFT JOIN Verkauf.tAuftragText ON tAuftragText.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN dbo.tZahlungsart ON tAuftrag.kZahlungsart = tZahlungsart.kZahlungsArt
LEFT JOIN dbo.tversandart ON tAuftrag.kVersandArt = tversandart.kVersandArt
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN dbo.tFarbe ON tFarbe.kFarbe = tAuftrag.kFarbe
LEFT JOIN dbo.tland ON tland.cISO = tAuftrag.cVersandlandISO
LEFT JOIN (SELECT
               tAuftragPositionIntervall.kAuftrag,
               MIN(tAuftragPositionIntervall.dNextFaelligkeit) AS dNextFaelligkeit,
			   IIF(MAX(tAuftragPositionIntervall.dEnddatum) IS NULL, 0, 1) AS nHasEnddatum
           FROM Verkauf.tAuftragPositionIntervall
           GROUP BY tAuftragPositionIntervall.kAuftrag) IntervallDaten
    ON IntervallDaten.kAuftrag = tAuftrag.kAuftrag
WHERE tAuftrag.nType = 3
GO
