USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragKampagne]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragKampagne]
AS 
SELECT	tAuftragKampagne.kAuftrag, 
		tAuftragKampagne.cKampagne, 
		tAuftragKampagne.cKampagneName, 
		tAuftragKampagne.cKampagneDetail, 
		tAuftragKampagne.cReferrer, 
		tAuftragKampagne.cUserAgent, 
		tAuftragKampagne.bRowversion 
FROM Verkauf.tAuftragKampagne
GO
