USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragZahlungsinfo_Log]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragZahlungsinfo_Log](
	[kAuftragZahlungsinfoLog] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzerLog] [int] NULL,
	[dLog] [datetime] NOT NULL,
	[nActionLog] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[cKontoInhaber] [nvarchar](255) NULL,
	[cBankname] [nvarchar](255) NULL,
	[cIBAN] [nvarchar](32) NULL,
	[cBIC] [nvarchar](32) NULL,
	[cPuiZahlungsinfo] [nvarchar](max) NULL,
	[nTyp] [tinyint] NOT NULL,
	[cMandatsReferenz] [nvarchar](100) NULL,
	[cVerwendungszweck] [nvarchar](1000) NULL,
	[dFaelligkeitsdatum] [datetime] NULL,
	[cGlaeubigerID] [nvarchar](35) NULL,
	[cEndToEndID] [nvarchar](35) NULL,
	[cReferenzEmail] [nvarchar](255) NULL,
	[bRowversion] [binary](8) NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragZahlungsinfo_Log] PRIMARY KEY CLUSTERED 
(
	[kAuftragZahlungsinfoLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragZahlungsinfo_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftragZahlungsinfo_Log_dLog]  DEFAULT (getdate()) FOR [dLog]
GO
