USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tExterneRechnung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tExterneRechnung](
	[kExterneRechnung] [int] IDENTITY(1,1) NOT NULL,
	[kKunde] [int] NULL,
	[kBenutzer] [int] NULL,
	[kFirmaHistory] [int] NOT NULL,
	[kPlattform] [int] NOT NULL,
	[kAmazonUser] [int] NULL,
	[cExterneRechnungsnr] [nvarchar](50) NOT NULL,
	[dBelegzeitpunktUtc] [datetime2](7) NOT NULL,
	[cVerkaeuferUstId] [nvarchar](50) NOT NULL,
	[cVerkaeuferUstLandISO] [char](3) NOT NULL,
	[cKaeuferUstId] [nvarchar](50) NOT NULL,
	[cKaeuferUstLandISO] [char](3) NOT NULL,
	[nKaeuferUstIdArt] [tinyint] NOT NULL,
	[cSdIKontoNr] [char](7) NULL,
	[nUstIdBerechnungsadresse] [bit] NOT NULL,
	[cSteuerbehoerdeEbene] [nvarchar](50) NOT NULL,
	[cSteuerbehoerde] [nvarchar](200) NOT NULL,
	[cWaehrungISO] [char](3) NULL,
	[fWaehrungsfaktor] [decimal](23, 15) NOT NULL,
	[dWaehrungsfaktorZeitpunktUtc] [datetime2](7) NULL,
	[fUmgerechneterGesamtUstBetrag] [decimal](23, 15) NULL,
	[cRechnungsadresseFirma] [nvarchar](128) NULL,
	[cRechnungsadresseAnrede] [nvarchar](30) NULL,
	[cRechnungsadresseTitel] [nvarchar](64) NULL,
	[cRechnungsadresseVorname] [nvarchar](128) NULL,
	[cRechnungsadresseName] [nvarchar](255) NULL,
	[cRechnungsadresseStrasse] [nvarchar](255) NULL,
	[cRechnungsadresseOrt] [nvarchar](255) NULL,
	[cRechnungsadressePLZ] [nvarchar](24) NULL,
	[cRechnungsadresseLand] [nvarchar](255) NULL,
	[bRowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tExterneRechnung] PRIMARY KEY CLUSTERED 
(
	[kExterneRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tExterneRechnung_kAmazonUser] FOREIGN KEY([kAmazonUser])
REFERENCES [dbo].[pf_user] ([kUser])
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [FK_Verkauf_tExterneRechnung_kAmazonUser]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tExterneRechnung_kFirmaHistory] FOREIGN KEY([kFirmaHistory])
REFERENCES [dbo].[tFirmaHistory] ([kFirmaHistory])
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [FK_Verkauf_tExterneRechnung_kFirmaHistory]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tExterneRechnung_kKunde] FOREIGN KEY([kKunde])
REFERENCES [dbo].[tkunde] ([kKunde])
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [FK_Verkauf_tExterneRechnung_kKunde]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tExterneRechnung_kPlattform] FOREIGN KEY([kPlattform])
REFERENCES [dbo].[tPlattform] ([nPlattform])
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [FK_Verkauf_tExterneRechnung_kPlattform]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnung_cExterneRechnungsnr] CHECK  ((len([cExterneRechnungsnr])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnung_cExterneRechnungsnr]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnung_cSdIKontoNr] CHECK  (([cSdIKontoNr] IS NULL OR [cKaeuferUstLandISO]='IT'))
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnung_cSdIKontoNr]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnung_dWaehrungsfaktorZeitpunktUtc] CHECK  (([dWaehrungsfaktorZeitpunktUtc] IS NULL AND [fUmgerechneterGesamtUstBetrag] IS NULL OR [dWaehrungsfaktorZeitpunktUtc] IS NOT NULL AND [fUmgerechneterGesamtUstBetrag] IS NOT NULL))
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnung_dWaehrungsfaktorZeitpunktUtc]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnung_kAmazonUser] CHECK  (([kAmazonUser] IS NULL OR [kAmazonUser]>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnung_kAmazonUser]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnung_kBenutzer] CHECK  (([kBenutzer] IS NULL OR [kBenutzer]>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnung_kBenutzer]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnung_kFirmaHistory] CHECK  (([kFirmaHistory]>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnung_kFirmaHistory]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnung_kKunde] CHECK  (([kKunde] IS NULL OR [kKunde]>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnung_kKunde]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnung_kPlattform] CHECK  (([kPlattform]>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnung_kPlattform]
GO
ALTER TABLE [Verkauf].[tExterneRechnung]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnung_nKaeuferUstIdArt] CHECK  (([nKaeuferUstIdArt]=(0) AND NOT ([cKaeuferUstLandISO]='ES' OR [cKaeuferUstLandISO]='IT') OR ([nKaeuferUstIdArt]=(2) OR [nKaeuferUstIdArt]=(1))))
GO
ALTER TABLE [Verkauf].[tExterneRechnung] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnung_nKaeuferUstIdArt]
GO
