USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tExterneRechnungDokument]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tExterneRechnungDokument](
	[kExterneRechnungDokument] [int] IDENTITY(1,1) NOT NULL,
	[kExterneRechnung] [int] NOT NULL,
	[cBeschreibung] [nvarchar](100) NOT NULL,
	[cUrl] [nvarchar](2048) NULL,
	[cContentType] [nvarchar](50) NULL,
	[bContent] [varbinary](max) NULL,
	[bRowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tExterneRechnungDokument] PRIMARY KEY CLUSTERED 
(
	[kExterneRechnungDokument] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tExterneRechnungDokument]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tExterneRechnungDokument_kExterneRechnung] FOREIGN KEY([kExterneRechnung])
REFERENCES [Verkauf].[tExterneRechnung] ([kExterneRechnung])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tExterneRechnungDokument] CHECK CONSTRAINT [FK_Verkauf_tExterneRechnungDokument_kExterneRechnung]
GO
ALTER TABLE [Verkauf].[tExterneRechnungDokument]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungDokument_cBeschreibung] CHECK  ((len([cBeschreibung])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungDokument] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungDokument_cBeschreibung]
GO
ALTER TABLE [Verkauf].[tExterneRechnungDokument]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungDokument_cUrl] CHECK  (([cUrl] IS NULL AND [bContent] IS NOT NULL AND datalength([bContent])>(0) AND [cContentType] IS NOT NULL AND len([cContentType])>(0) OR len([cUrl])>(0) AND [bContent] IS NULL AND [cContentType] IS NULL))
GO
ALTER TABLE [Verkauf].[tExterneRechnungDokument] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungDokument_cUrl]
GO
