USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragStornoSperre]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragStornoSperre](
	[kAuftragStornoSperre] [int] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[bGrund] [uniqueidentifier] NOT NULL,
	[cReferenz] [nvarchar](50) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragStornoSperre] PRIMARY KEY CLUSTERED 
(
	[kAuftragStornoSperre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
