USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragAusgabeDateien]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragAusgabeDateien](
	[kAuftrag] [int] NOT NULL,
	[dAusgabeDatum] [datetime] NOT NULL,
	[nAusgabeArt] [int] NOT NULL,
	[cErrorCode] [nvarchar](2000) NULL,
	[kBenutzer] [int] NOT NULL,
	[kVorlage] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kAuftragAusgabeDateien] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragAusgabeDateien_kAuftragAusgabeDateien] PRIMARY KEY CLUSTERED 
(
	[kAuftragAusgabeDateien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragAusgabeDateien]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragAusgabeDateien_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragAusgabeDateien] CHECK CONSTRAINT [FK_Verkauf_tAuftragAusgabeDateien_kAuftrag]
GO
