USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragkosten]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragkosten](
	[kAuftragkosten] [int] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kAuftragPosition] [int] NULL,
	[cSKU] [nvarchar](50) NULL,
	[nKostentyp] [tinyint] NOT NULL,
	[fSumme] [decimal](25, 13) NOT NULL,
	[cBeschreibung] [nvarchar](100) NOT NULL,
	[dBerechnungsdatumUtc] [datetime2](7) NOT NULL,
	[dErstelltUtc] [datetime2](7) NOT NULL,
	[kSettlementPos] [bigint] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kZahlungsabgleichUmsatz] [int] NULL,
 CONSTRAINT [PK_Verkauf_tAuftragkosten] PRIMARY KEY CLUSTERED 
(
	[kAuftragkosten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragkosten]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragkosten_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragkosten] CHECK CONSTRAINT [FK_Verkauf_tAuftragkosten_kAuftragPosition]
GO
ALTER TABLE [Verkauf].[tAuftragkosten]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragkosten_kSettlementPos] FOREIGN KEY([kSettlementPos])
REFERENCES [dbo].[pf_amazon_settlementpos] ([kMessageId])
GO
ALTER TABLE [Verkauf].[tAuftragkosten] CHECK CONSTRAINT [FK_Verkauf_tAuftragkosten_kSettlementPos]
GO
ALTER TABLE [Verkauf].[tAuftragkosten]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragkosten_kZahlungsabgleichUmsatz] FOREIGN KEY([kZahlungsabgleichUmsatz])
REFERENCES [dbo].[tZahlungsabgleichUmsatz] ([kZahlungsabgleichUmsatz])
GO
ALTER TABLE [Verkauf].[tAuftragkosten] CHECK CONSTRAINT [FK_Verkauf_tAuftragkosten_kZahlungsabgleichUmsatz]
GO
ALTER TABLE [Verkauf].[tAuftragkosten]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftragkosten_cBeschreibung] CHECK  ((len([cBeschreibung])>(0)))
GO
ALTER TABLE [Verkauf].[tAuftragkosten] CHECK CONSTRAINT [CK_Verkauf_tAuftragkosten_cBeschreibung]
GO
ALTER TABLE [Verkauf].[tAuftragkosten]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftragkosten_cSKU] CHECK  (([cSKU] IS NULL OR len([cSKU])>(0)))
GO
ALTER TABLE [Verkauf].[tAuftragkosten] CHECK CONSTRAINT [CK_Verkauf_tAuftragkosten_cSKU]
GO
ALTER TABLE [Verkauf].[tAuftragkosten]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftragkosten_kAuftragkosten] CHECK  (([kAuftragkosten]>=(0)))
GO
ALTER TABLE [Verkauf].[tAuftragkosten] CHECK CONSTRAINT [CK_Verkauf_tAuftragkosten_kAuftragkosten]
GO
ALTER TABLE [Verkauf].[tAuftragkosten]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftragkosten_nKostentyp] CHECK  (([nKostentyp]>=(0) AND [nKostentyp]<(9)))
GO
ALTER TABLE [Verkauf].[tAuftragkosten] CHECK CONSTRAINT [CK_Verkauf_tAuftragkosten_nKostentyp]
GO
