USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPosition]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPosition](
	[kAuftragPosition] [int] IDENTITY(1,1) NOT NULL,
	[kArtikel] [int] NULL,
	[kAuftrag] [int] NOT NULL,
	[cArtNr] [nvarchar](100) NULL,
	[nReserviert] [bit] NOT NULL,
	[cName] [nvarchar](255) NULL,
	[cHinweis] [nvarchar](2000) NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[fEkNetto] [decimal](25, 13) NOT NULL,
	[fVkNetto] [decimal](25, 13) NOT NULL,
	[fRabatt] [decimal](25, 13) NOT NULL,
	[fMwSt] [decimal](25, 13) NOT NULL,
	[nSort] [int] NOT NULL,
	[cNameStandard] [nvarchar](255) NULL,
	[kSteuerklasse] [int] NULL,
	[nType] [tinyint] NOT NULL,
	[cEinheit] [nvarchar](255) NULL,
	[nHatUpload] [bit] NOT NULL,
	[kKonfigVater] [int] NULL,
	[kKonfigItem] [int] NULL,
	[kAmazonBestellungPos] [int] NULL,
	[kAuftragStueckliste] [int] NULL,
	[kEbayTransaction] [int] NULL,
	[fFaktor] [decimal](25, 13) NOT NULL,
	[kSteuerschluessel] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[fWertNettoGesamtFixiert] [decimal](25, 13) NULL,
	[fWertBruttoGesamtFixiert] [decimal](25, 13) NULL,
	[cFNSKU] [nvarchar](255) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPosition] PRIMARY KEY CLUSTERED 
(
	[kAuftragPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPosition] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_nReserviert]  DEFAULT ((0)) FOR [nReserviert]
GO
ALTER TABLE [Verkauf].[tAuftragPosition] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_fEkNetto]  DEFAULT ((0.0)) FOR [fEkNetto]
GO
ALTER TABLE [Verkauf].[tAuftragPosition] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_fVKNetto]  DEFAULT ((0.0)) FOR [fVkNetto]
GO
ALTER TABLE [Verkauf].[tAuftragPosition] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_fRabatt]  DEFAULT ((0.0)) FOR [fRabatt]
GO
ALTER TABLE [Verkauf].[tAuftragPosition] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_nSort]  DEFAULT ((0)) FOR [nSort]
GO
ALTER TABLE [Verkauf].[tAuftragPosition] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_nHatUpload]  DEFAULT ((0)) FOR [nHatUpload]
GO
ALTER TABLE [Verkauf].[tAuftragPosition] ADD  CONSTRAINT [DF_Verkauf_tAuftragPosition_fFaktor]  DEFAULT ((1.0)) FOR [fFaktor]
GO
ALTER TABLE [Verkauf].[tAuftragPosition]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPosition_kAmazonBestellungPos] FOREIGN KEY([kAmazonBestellungPos])
REFERENCES [dbo].[pf_amazon_bestellungpos] ([kAmazonBestellungPos])
GO
ALTER TABLE [Verkauf].[tAuftragPosition] CHECK CONSTRAINT [FK_Verkauf_tAuftragPosition_kAmazonBestellungPos]
GO
ALTER TABLE [Verkauf].[tAuftragPosition]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPosition_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPosition] CHECK CONSTRAINT [FK_Verkauf_tAuftragPosition_kAuftrag]
GO
ALTER TABLE [Verkauf].[tAuftragPosition]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPosition_kEbayTransaction] FOREIGN KEY([kEbayTransaction])
REFERENCES [dbo].[ebay_transaction] ([kTransaction])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tAuftragPosition] CHECK CONSTRAINT [FK_Verkauf_tAuftragPosition_kEbayTransaction]
GO
ALTER TABLE [Verkauf].[tAuftragPosition]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPosition_kKonfigItem] FOREIGN KEY([kKonfigItem])
REFERENCES [dbo].[tkonfigitem] ([kKonfigitem])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tAuftragPosition] CHECK CONSTRAINT [FK_Verkauf_tAuftragPosition_kKonfigItem]
GO
ALTER TABLE [Verkauf].[tAuftragPosition]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPosition_kSteuerklasse] FOREIGN KEY([kSteuerklasse])
REFERENCES [dbo].[tSteuerklasse] ([kSteuerklasse])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tAuftragPosition] CHECK CONSTRAINT [FK_Verkauf_tAuftragPosition_kSteuerklasse]
GO
ALTER TABLE [Verkauf].[tAuftragPosition]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPosition_kSteuerschluessel] FOREIGN KEY([kSteuerschluessel])
REFERENCES [dbo].[tSteuerschluessel] ([kSteuerschluessel])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tAuftragPosition] CHECK CONSTRAINT [FK_Verkauf_tAuftragPosition_kSteuerschluessel]
GO
