USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragMerge_Log]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragMerge_Log](
	[kAuftrag] [int] NOT NULL,
	[kAuftragAlt] [int] NOT NULL,
	[dMerge] [datetime] NOT NULL,
	[kBenutzer] [int] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragMerge_Log] PRIMARY KEY CLUSTERED 
(
	[kAuftrag] ASC,
	[kAuftragAlt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
