USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragStornogrund]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragStornogrund](
	[kAuftragStornogrund] [int] IDENTITY(1,1) NOT NULL,
	[cStornogrund] [nvarchar](50) NOT NULL,
	[nAmazonMapping] [int] NOT NULL,
	[cScxMapping] [nvarchar](50) NOT NULL,
	[nIstKommentarErforderlich] [bit] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragStornogrund] PRIMARY KEY CLUSTERED 
(
	[kAuftragStornogrund] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragStornogrund] ADD  CONSTRAINT [DF_Verkauf_tAuftragStornogrund_nIstKommentarErforderlich]  DEFAULT ((0)) FOR [nIstKommentarErforderlich]
GO
