USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tExterneRechnungPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tExterneRechnungPosition](
	[kExterneRechnungPosition] [int] IDENTITY(1,1) NOT NULL,
	[kExterneRechnungPositionVater] [int] NULL,
	[kExterneRechnung] [int] NOT NULL,
	[dAuftragszeitpunktUtc] [datetime2](7) NOT NULL,
	[cAuftragsnr] [nvarchar](50) NOT NULL,
	[cAuftragswaehrungISO] [char](3) NOT NULL,
	[dVersandzeitpunktUtc] [datetime2](7) NULL,
	[nTransaktionstyp] [tinyint] NOT NULL,
	[nPositionstyp] [tinyint] NOT NULL,
	[kArtikel] [int] NULL,
	[cArtNr] [nvarchar](100) NULL,
	[cTransaktionstext] [nvarchar](max) NULL,
	[fAnzahl] [decimal](10, 4) NOT NULL,
	[dSteuerberechnungszeitpunktUtc] [datetime2](7) NOT NULL,
	[fSteuersatz] [decimal](10, 2) NOT NULL,
	[fSummeBrutto] [decimal](10, 2) NOT NULL,
	[fSummeNetto] [decimal](10, 2) NOT NULL,
	[fSummeSteuer] [decimal](10, 2) NOT NULL,
	[fSummeRabattBrutto] [decimal](10, 2) NOT NULL,
	[fSummeRabattNetto] [decimal](10, 2) NOT NULL,
	[fSummeRabattSteuer] [decimal](10, 2) NOT NULL,
	[cVersandadresseOrt] [nvarchar](max) NOT NULL,
	[cVersandadresseRegion] [nvarchar](max) NULL,
	[cVersandadresseLandISO] [char](3) NOT NULL,
	[cVersandadressePLZ] [nvarchar](10) NOT NULL,
	[cVersandadresseSteuercode] [nvarchar](30) NULL,
	[cLieferadresseOrt] [nvarchar](max) NOT NULL,
	[cLieferadresseRegion] [nvarchar](max) NULL,
	[cLieferadresseLandISO] [char](3) NOT NULL,
	[cLieferadressePLZ] [nvarchar](10) NOT NULL,
	[cLieferadresseSteuercode] [nvarchar](30) NULL,
	[kAmazonVCSBestellungPos] [int] NULL,
	[kAuftragPosition] [int] NULL,
	[bRowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tExterneRechnungPosition] PRIMARY KEY CLUSTERED 
(
	[kExterneRechnungPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tExterneRechnungPosition_kExterneRechnung] FOREIGN KEY([kExterneRechnung])
REFERENCES [Verkauf].[tExterneRechnung] ([kExterneRechnung])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [FK_Verkauf_tExterneRechnungPosition_kExterneRechnung]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cArtNr] CHECK  (([cArtNr] IS NULL OR len([cArtNr])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cArtNr]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cAuftragsnr] CHECK  ((len([cAuftragsnr])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cAuftragsnr]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cAuftragswaehrungISO] CHECK  ((len([cAuftragswaehrungISO])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cAuftragswaehrungISO]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cLieferadresseLandISO] CHECK  ((len([cLieferadresseLandISO])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cLieferadresseLandISO]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cLieferadresseOrt] CHECK  ((len([cLieferadresseOrt])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cLieferadresseOrt]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cLieferadresseRegion] CHECK  (([cLieferadresseRegion] IS NULL OR len([cLieferadresseRegion])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cLieferadresseRegion]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cLieferadresseSteuercode] CHECK  (([cLieferadresseSteuercode] IS NULL OR len([cLieferadresseSteuercode])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cLieferadresseSteuercode]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cVersandadresseLandISO] CHECK  ((len([cVersandadresseLandISO])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cVersandadresseLandISO]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cVersandadresseOrt] CHECK  ((len([cVersandadresseOrt])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cVersandadresseOrt]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cVersandadresseRegion] CHECK  (([cVersandadresseRegion] IS NULL OR len([cVersandadresseRegion])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cVersandadresseRegion]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cVersandadresseSteuercode] CHECK  (([cVersandadresseSteuercode] IS NULL OR len([cVersandadresseSteuercode])>(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_cVersandadresseSteuercode]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_dSteuerberechnungszeitpunkt] CHECK  (([dSteuerberechnungszeitpunktUtc]>=[dAuftragszeitpunktUtc]))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_dSteuerberechnungszeitpunkt]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_dVersandzeitpunkt] CHECK  (([dVersandzeitpunktUtc]>=[dAuftragszeitpunktUtc]))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_dVersandzeitpunkt]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_nPositionstyp] CHECK  (([nPositionstyp]=(3) OR [nPositionstyp]=(2) OR [nPositionstyp]=(1) OR [nPositionstyp]=(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_nPositionstyp]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_nTransaktionstyp] CHECK  (([nTransaktionstyp]=(2) OR [nTransaktionstyp]=(1) OR [nTransaktionstyp]=(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungPosition] CHECK CONSTRAINT [CK_Verkauf_tExterneRechnungPosition_nTransaktionstyp]
GO
