USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragFile]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragFile]
AS
SELECT	tAuftragFile.kAuftrag, 
		tAuftragFile.kFile, 
		tAuftragFile.kBenutzer, 
		tAuftragFile.cFilename, 
		tAuftragFile.bRowversion,
		tAuftragFile.nDokumentTyp
FROM Verkauf.tAuftragFile
GO
