USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragFeatures]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragFeatures](
	[kAuftrag] [int] NOT NULL,
	[nBearbeiten] [bit] NOT NULL,
	[nBearbeitenMitWarnung] [bit] NOT NULL,
	[nLoeschen] [bit] NOT NULL,
	[nStornieren] [bit] NOT NULL,
	[nTeilrechnungErstellen] [bit] NOT NULL,
	[nRechnungErstellen] [bit] NOT NULL,
	[nZusammenfassen] [bit] NOT NULL,
	[nSplitten] [bit] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragFeatures] PRIMARY KEY CLUSTERED 
(
	[kAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tAuftragFeatures_nBearbeiten]  DEFAULT ((0)) FOR [nBearbeiten]
GO
ALTER TABLE [Verkauf].[tAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tAuftragFeatures_nBearbeitenMitWarnung]  DEFAULT ((0)) FOR [nBearbeitenMitWarnung]
GO
ALTER TABLE [Verkauf].[tAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tAuftragFeatures_nLoeschen]  DEFAULT ((0)) FOR [nLoeschen]
GO
ALTER TABLE [Verkauf].[tAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tAuftragFeatures_nStornieren]  DEFAULT ((0)) FOR [nStornieren]
GO
ALTER TABLE [Verkauf].[tAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tAuftragFeatures_nTeilrechnungErstellen]  DEFAULT ((0)) FOR [nTeilrechnungErstellen]
GO
ALTER TABLE [Verkauf].[tAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tAuftragFeatures_nRechnungErstellen]  DEFAULT ((0)) FOR [nRechnungErstellen]
GO
ALTER TABLE [Verkauf].[tAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tAuftragFeatures_nZusammenfassen]  DEFAULT ((0)) FOR [nZusammenfassen]
GO
ALTER TABLE [Verkauf].[tAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tAuftragFeatures_nSplitten]  DEFAULT ((0)) FOR [nSplitten]
GO
ALTER TABLE [Verkauf].[tAuftragFeatures]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragFeatures_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragFeatures] CHECK CONSTRAINT [FK_Verkauf_tAuftragFeatures_kAuftrag]
GO
