USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragRechnungsadresse]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragRechnungsadresse]
AS
SELECT	tAuftragAdresse.kAuftrag,
		tAuftragAdresse.kKunde,
		tAuftragAdresse.cFirma,
		tAuftragAdresse.cAnrede,
		tAuftragAdresse.cTitel,
		tAuftragAdresse.cVorname,
		tAuftragAdresse.cName,
		tAuftragAdresse.cStrasse,
		tAuftragAdresse.cPLZ,
		tAuftragAdresse.cOrt,
		tAuftragAdresse.cLand,
		tAuftragAdresse.cTel,
		tAuftragAdresse.cZusatz,
		tAuftragAdresse.cAdressZusatz,
		tAuftragAdresse.cPostID,
		tAuftragAdresse.cMobil,
		tAuftragAdresse.cMail,
		tAuftragAdresse.cFax,
		tAuftragAdresse.cBundesland,
		tAuftragAdresse.cISO,
		tAuftragAdresse.nTyp,
		tAuftragAdresse.nZolldokumenteErforderlich,
		tAuftragAdresse.bRowversion
FROM Verkauf.tAuftragAdresse
WHERE tAuftragAdresse.nTyp = 1
GO
