USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvRechnungsposition]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvRechnungsposition] AS SELECT	vRechnung.kRechnung AS kRechnung,
        vRechnungPosition.kRechnungPosition AS kRechnungPosition,
        vRechnungPosition.kArtikel AS kArtikel,
        vRechnungPosition.cName AS cName,
        vRechnungPosition.cEinheit AS cEinheit,
        vRechnungPosition.cArtNr AS cArtNr,
        vRechnungPositionText.cHinweis AS cHinweis,
        vRechnungPosition.fMwSt AS fMwSt,
        vRechnungPosition.fAnzahl AS fAnzahl,
        vRechnungPosition.nSort AS nSort,
        tRechnungPositionEckdaten.fVKBrutto AS fBruttoPreisEinzeln,
        vRechnungPosition.fVkNetto AS fNettoPreisEinzeln,
        tRechnungPositionEckdaten.fVKBruttoGesamt AS fBruttoPreisGesamt,
        tRechnungPositionEckdaten.fVKNettoGesamt AS fNettoPreisGesamt,
        tRechnungPositionEckdaten.fMwStBetrag AS fMwStBetrag,
        tRechnungPositionEckdaten.fRabattbetrag AS fRabattvertrag,
        vRechnungPosition.fRabatt AS fRabattProzent,
        vRechnungPosition.kStuecklisteRechnungPos AS kRechnungStueckliste,
        vRechnungPosition.kKonfigVaterRechnungPos AS kKonfigVater,
        vRechnungPosition.kAuftrag AS kAuftrag,
        vRechnungPosition.kAuftragPosition AS kAuftragPosition,
        vRechnungPosition.fGewicht AS fGewichtEinzeln,
        tRechnungPositionEckdaten.fGewichtGesamt AS fGewichtGesamt,
        vRechnungPosition.fVersandgewicht AS fVersandgewichtEinzeln,
        tRechnungPositionEckdaten.fVersandgewichtGesamt AS fVersandgewichtGesamt,
        vRechnung.nArchiv AS nArchiv,
        vRechnung.kPlattform AS kPlattform,
        vAuftrag.cAuftragsNr AS cAuftragsnummer,
        vAuftrag.kShopauftrag AS kShopauftrag,
        vAuftrag.dVoraussichtlichesLieferdatum AS dVoraussichtlichesLieferdatum,
        tSteuerschluessel.cErloeskonto AS cErloeskonto,
        vAuftragEckdaten.dZahlungsMail AS dZahlungsmaildatum,
        ISNULL(vAuftrag.nBeschreibung, 0) AS nBeschreibung,
        CASE WHEN vAuftrag.cInet = 'Y' THEN 1 ELSE 0 END AS nInet,
        vRechnung.cExterneAuftragsnummer AS cExterneAuftragsnummer,
        vVorgangsstatus.cStatus AS cStatustext,
        vAuftrag.cVerwendungszweck AS ceBayVerwendungszweck,
        ISNULL(vAuftrag.nStorno, 0) AS nStorniert,
        vAuftrag.cShopZahlungsmodul AS cZahlungsmodulID,
        ISNULL(vAuftrag.fZusatzGewicht, 0) AS fZusatzgewicht,
        ISNULL(vAuftragEckdaten.fGutschrift, 0) AS fGutgeschriebenerWert,
        ISNULL(vAuftragEckdaten.fZahlung, 0) AS fBereitsgezahltWert,
        CASE WHEN vAuftrag.nKomplettAusgeliefert = 0 THEN 0 ELSE 1 END AS nKomplettgeliefert,
        ISNULL(vAuftrag.nIstReadOnly, 0) AS nIstReadOnly
FROM Rechnung.vRechnungPosition
JOIN Rechnung.tRechnungPositionEckdaten ON tRechnungPositionEckdaten.kRechnungPosition = vRechnungPosition.kRechnungPosition
JOIN Rechnung.vRechnung ON vRechnung.kRechnung = vRechnungPosition.kRechnung
LEFT JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = vRechnungPosition.kSteuerschluessel
LEFT JOIN Rechnung.vRechnungPositionText ON vRechnungPositionText.kRechnungPosition = vRechnungPosition.kRechnungPosition
LEFT JOIN Verkauf.vAuftrag ON vAuftrag.kAuftrag = vRechnungPosition.kAuftrag
LEFT JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = vAuftrag.kAuftrag
GO
