USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvAuftragsposition]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvAuftragsposition]
AS
SELECT
	tAuftragPosition.kAuftrag AS kAuftrag,
	tAuftrag.nAuftragStatus AS nAuftragStatus,
	tAuftragPosition.kAuftragPosition AS kAuftragPosition,
	Retoure.Anzahl AS fAnzRetoure,
	tAuftragPosition.kArtikel AS kArtikel,
	tAuftragPosition.cName AS cName,
	tAuftragPosition.cArtNr AS cArtNr,
	tAuftragPosition.cHinweis AS cHinweis,
	tAuftragPosition.fAnzahl AS fAnzahl,
	CAST(tAuftragPositionEckdaten.fWertNetto AS DECIMAL(25,4)) AS fVKNettoGesamt,
	CAST(tAuftragPositionEckdaten.fAnzahlGeliefert AS DECIMAL(25,4)) AS fGeliefert,
	CAST(tAuftragPositionEckdaten.fAnzahlGutgeschrieben AS DECIMAL(25,4)) AS fGutgeschrieben,
	tAuftragPosition.fVkNetto AS fVkNetto,
	tAuftragPosition.fMwSt AS fMwSt,
	tAuftragPosition.fVkNetto * (1 + (tAuftragPosition.fMwSt / 100)) AS fVKBrutto,
	CASE WHEN tlagerbestand.kArtikel = 0 THEN 0.0 ELSE CAST(tlagerbestand.fVerfuegbar AS DECIMAL(25,4)) END AS fVerfuegbar,
	tlagerbestand.fLagerbestand AS fLagerbestand,
	CAST(tlagerbestand.fVerfuegbarGesperrt AS DECIMAL(25,4)) AS fVerfuegbarGesperrt,
	CAST(tlagerbestand.fAuslieferungGesperrt AS DECIMAL(25,4)) AS fAuslieferungGesperrt,
	tlagerbestand.fZulauf AS fZulauf,
	tLagerbestand.fAufEinkaufsliste AS fAufEinkaufsliste,
	tAuftragPosition.nSort AS nSort,
	tlagerbestand.nLagerAktiv AS nLagerAktiv,
	tAuftragPosition.kAuftragStueckliste AS kStuecklistenVater,
	tAuftragPosition.kKonfigVater AS kKonfigurationsVater,
	tSteuerschluessel.cErloeskonto AS cErloeskonto,
	CASE
		WHEN ISNULL(dbo.tlagerbestand.nLagerAktiv, 0) = 0
			THEN 0
		WHEN vBestellPosLieferInfo.fAnzahlOffen - dbo.tlagerbestand.fLagerbestandEigen > 0
			THEN vBestellPosLieferInfo.fAnzahlOffen - dbo.tlagerbestand.fLagerbestandEigen
		ELSE 0.0
	END AS nAnzahlFehlbestandEigen,
	CASE
		WHEN ISNULL(vBestellposLieferInfo.fAnzahlOffen, 0) = 0 THEN 0 -- (Bereits Ausgeliefert)
		WHEN ISNULL(vBestellposLieferInfo.fAnzahlFehlbestand, 0) = 0 THEN 10 -- (Vollständig Lieferbar)
		WHEN vBestellposLieferInfo.fAnzahlFehlbestand >= vBestellposLieferInfo.fAnzahlOffen THEN 20 -- (Nicht Lieferbar)
		ELSE 30 -- (Teilweise Lieferbar)
	END AS nLieferbarStatus,
	CASE
		WHEN ISNULL(vBestellposLieferInfo.fAnzahlOffen, 0) = 0 THEN 0 -- (Bereits Ausgeliefert)
		WHEN ISNULL(vBestellposLieferInfo.fAnzahlFehlbestandEigen, 0) = 0 THEN 10 -- (Vollständig Lieferbar)
		WHEN vBestellposLieferInfo.fAnzahlFehlbestandEigen >= vBestellposLieferInfo.fAnzahlOffen THEN 20 -- (Nicht Lieferbar)
		ELSE 30 -- (Teilweise Lieferbar)
	END AS nLieferbarStatusEigen,
	tAuftragPositionEckdaten.fAnzahlAufRechnung AS fAufRechnung,
	ISNULL(tlagerbestand.fLagerbestandEigen, 0.0) AS fLagerbestandEigen,
	ISNULL(vBestellposLieferInfo.fAnzahlOffen, 0.0) AS fOffeneAuftragsmenge,
	ISNULL(vBestellposLieferInfo.fAnzahlFehlbestand, 0.0) AS fFehlbestand,
	ISNULL(vBestellposLieferInfo.fAnzahlFehlbestandEigen, 0.0) AS fFehlbestandEigen
FROM Verkauf.tAuftragPosition
JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragPosition.kAuftrag
JOIN Verkauf.tAuftragPositionEckdaten ON tAuftragPositionEckdaten.kAuftragPosition = tAuftragPosition.kAuftragPosition
LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tAuftragPosition.kArtikel
LEFT JOIN
(
	SELECT tLieferscheinPos.kBestellPos, SUM(tRMRetourePos.fAnzahl) AS Anzahl
	FROM dbo.tRMRetourePos
	JOIN dbo.tLieferscheinPos ON dbo.tRMRetourePos.kLieferscheinPos = dbo.tLieferscheinPos.kLieferscheinPos
	GROUP BY dbo.tLieferscheinPos.kBestellPos
) AS Retoure ON Retoure.kBestellpos = tAuftragPosition.kAuftragPosition
LEFT JOIN Versand.vBestellposLieferInfoProLager AS vBestellposLieferInfo
	ON vBestellposLieferInfo.kBestellung = tAuftragPosition.kAuftrag
	AND vBestellposLieferInfo.kBestellPos = tAuftragPosition.kAuftragPosition
	AND vBestellposLieferinfo.kWarenLager = 0
LEFT JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = tAuftragPosition.kSteuerschluessel
GO
