USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragStorno]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragStorno](
	[kAuftrag] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kAuftragStornogrund] [int] NOT NULL,
	[dStorniert] [datetime] NOT NULL,
	[cKommentar] [nvarchar](100) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragStorno] PRIMARY KEY CLUSTERED 
(
	[kAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragStorno]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragStorno_kAuftragStornogrund] FOREIGN KEY([kAuftragStornogrund])
REFERENCES [Verkauf].[tAuftragStornogrund] ([kAuftragStornogrund])
GO
ALTER TABLE [Verkauf].[tAuftragStorno] CHECK CONSTRAINT [FK_Verkauf_tAuftragStorno_kAuftragStornogrund]
GO
