USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vExterneRechnungEckdaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- View die die Eckdaten ermittelt
CREATE VIEW [Verkauf].[vExterneRechnungEckdaten]
AS
	SELECT
		tExterneRechnungEckdaten.kExterneRechnung,
		tExterneRechnungEckdaten.fSummeBrutto,
		tExterneRechnungEckdaten.fSummeNetto,
		CASE
			WHEN tExterneRechnung.bRowVersion > tExterneRechnungEckdaten.bRowVersionExterneRechnung THEN 1 -- Kopfdaten wurden geändert
			WHEN PosVersion.bRowVersion > tExterneRechnungEckdaten.bRowVersionExterneRechnung THEN 2 -- Positionen wurden geändert
			WHEN tExterneRechnungEckdaten.nAnzahlPositionen <> PosVersion.nAnzahl THEN 3 -- Positionsanzahl wurde geändert
			ELSE 0 -- keine Änderung, alles valide
		END AS nStatus
	FROM Verkauf.tExterneRechnungEckdaten
	JOIN Verkauf.tExterneRechnung ON tExterneRechnung.kExterneRechnung = tExterneRechnungEckdaten.kExterneRechnung
	CROSS APPLY (SELECT MAX(bRowVersion) AS bRowVersion, COUNT(*) AS nAnzahl FROM Verkauf.tExterneRechnungPosition WHERE tExterneRechnungPosition.kExterneRechnung = tExterneRechnungEckdaten.kExterneRechnung) AS PosVersion(bRowVersion, nAnzahl)
GO
