USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvAuftragsverwaltungDetail]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvAuftragsverwaltungDetail]
AS
(
	SELECT  vAuftrag.kAuftrag AS kAuftrag,
			vAuftragText.cAnmerkung AS cAnmerkung,
			vAuftragText.cHinweis AS cSonstiges,
			ISNULL(CAST(dbo.pf_amazon_bestellung_storno.nCancelReason AS INT), -1) AS nStornogrund,
			ISNULL(Stornobenutzer.cName, '') AS cStornobenutzer,
			dbo.pf_amazon_bestellung_storno.dErstellt AS dStornozeitpunkt
	FROM Verkauf.vAuftrag
	LEFT JOIN Verkauf.vAuftragText ON vAuftragText.kAuftrag = vAuftrag.kAuftrag
	LEFT JOIN dbo.pf_amazon_bestellung_storno ON pf_amazon_bestellung_storno.cOrderId = vAuftrag.cExterneAuftragsnummer
	LEFT JOIN eazybusiness.dbo.tbenutzer Stornobenutzer ON Stornobenutzer.kBenutzer = dbo.pf_amazon_bestellung_storno.kBenutzer
	WHERE vAuftrag.nType = 1
);
GO
