USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionEigenschaft]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionEigenschaft](
	[kAuftragPositionEigenschaft] [int] IDENTITY(1,1) NOT NULL,
	[kEigenschaftWert] [int] NULL,
	[kAuftragPosition] [int] NOT NULL,
	[kEigenschaft] [int] NULL,
	[fAufpreisNetto] [decimal](25, 13) NOT NULL,
	[fZusatzgewicht] [decimal](25, 13) NOT NULL,
	[cWert] [nvarchar](255) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionEigenschaft] PRIMARY KEY CLUSTERED 
(
	[kAuftragPositionEigenschaft] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEigenschaft] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionEigenschaft_fAufpreisNetto]  DEFAULT ((0.0)) FOR [fAufpreisNetto]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEigenschaft] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionEigenschaft_fZusatzgewicht]  DEFAULT ((0.0)) FOR [fZusatzgewicht]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEigenschaft]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionEigenschaft_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionEigenschaft] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionEigenschaft_kAuftragPosition]
GO
