USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftrag]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftrag](
	[kAuftrag] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kKunde] [int] NULL,
	[cAuftragsNr] [nvarchar](50) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[kShopauftrag] [int] NULL,
	[nBeschreibung] [tinyint] NOT NULL,
	[cInet] [char](1) NULL,
	[cWaehrung] [char](3) NULL,
	[fFaktor] [decimal](25, 13) NOT NULL,
	[kShop] [int] NULL,
	[kFirmaHistory] [int] NOT NULL,
	[kPlattform] [int] NULL,
	[kSprache] [int] NOT NULL,
	[cExterneAuftragsnummer] [nvarchar](50) NULL,
	[nSteuereinstellung] [int] NULL,
	[cEbayUsername] [nvarchar](255) NULL,
	[cShopZahlungsmodul] [nvarchar](255) NULL,
	[nHatUpload] [bit] NOT NULL,
	[fZusatzGewicht] [decimal](25, 13) NOT NULL,
	[cVersandlandISO] [nvarchar](5) NULL,
	[cVersandlandBundeslandKuerzel] [nvarchar](5) NULL,
	[cVersandlandWaehrung] [char](3) NOT NULL,
	[fVersandlandWaehrungFaktor] [decimal](25, 13) NOT NULL,
	[kVersandArt] [int] NULL,
	[nZahlungszielTage] [int] NULL,
	[dVoraussichtlichesLieferdatum] [datetime] NULL,
	[dAuslieferdatum] [datetime] NULL,
	[fSkonto] [decimal](25, 13) NULL,
	[nSkontoTage] [int] NULL,
	[kVorgangsstatus] [int] NULL,
	[nStorno] [bit] NOT NULL,
	[nKomplettAusgeliefert] [int] NOT NULL,
	[nLieferPrioritaet] [int] NOT NULL,
	[nPremiumVersand] [bit] NOT NULL,
	[kRueckhaltegrund] [int] NULL,
	[kZahlungsart] [int] NULL,
	[kWarenlager] [int] NULL,
	[nIstExterneRechnung] [tinyint] NOT NULL,
	[nIstReadOnly] [tinyint] NOT NULL,
	[nMaxLiefertage] [int] NULL,
	[cOutboundId] [nvarchar](255) NULL,
	[kFulfillmentLieferant] [int] NULL,
	[cUstId] [nvarchar](25) NULL,
	[nArchiv] [bit] NOT NULL,
	[nReserviert] [bit] NOT NULL,
	[nDebitorennr] [int] NULL,
	[nAuftragStatus] [tinyint] NOT NULL,
	[cKundenAuftragsnummer] [nvarchar](250) NULL,
	[cAmazonServiceLevel] [nvarchar](100) NULL,
	[dExternesErstelldatum] [datetime] NULL,
	[kFarbe] [int] NULL,
	[fFinanzierungskosten] [decimal](25, 13) NOT NULL,
	[kAuftragQuelle] [int] NULL,
	[nAuftragQuelleAktion] [int] NULL,
	[kArtikelKarton] [int] NULL,
	[kAmazonUser] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cKundenNr] [nvarchar](30) NULL,
	[kKundengruppe] [int] NULL,
	[dErstelltWawi] [datetime] NULL,
	[dAuslieferungAb] [datetime] NULL,
	[cKundeUstId] [nvarchar](20) NULL,
	[nPending] [bit] NOT NULL,
	[kBenutzerErstellt] [int] NOT NULL,
	[nSteuersonderbehandlung] [tinyint] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftrag] PRIMARY KEY CLUSTERED 
(
	[kAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Verkauf_tAuftrag_cAuftragsNr_nType] UNIQUE NONCLUSTERED 
(
	[cAuftragsNr] ASC,
	[nType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_dErstellt]  DEFAULT (getdate()) FOR [dErstellt]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nBeschreibung]  DEFAULT ((0)) FOR [nBeschreibung]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nSteuereinstellung]  DEFAULT ((0)) FOR [nSteuereinstellung]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nHatUpload]  DEFAULT ((0)) FOR [nHatUpload]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_fZusatzGewicht]  DEFAULT ((0.0)) FOR [fZusatzGewicht]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nStorno]  DEFAULT ((0)) FOR [nStorno]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nKomplettAusgeliefert]  DEFAULT ((0)) FOR [nKomplettAusgeliefert]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nLieferPrioritaet]  DEFAULT ((0)) FOR [nLieferPrioritaet]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nPremiumVersand]  DEFAULT ((0)) FOR [nPremiumVersand]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nIstExterneRechnung]  DEFAULT ((0)) FOR [nIstExterneRechnung]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nIstReadOnly]  DEFAULT ((0)) FOR [nIstReadOnly]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nArchiv]  DEFAULT ((0)) FOR [nArchiv]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nReserviert]  DEFAULT ((0)) FOR [nReserviert]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nAuftragStatus]  DEFAULT ((0)) FOR [nAuftragStatus]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_dErstelltWawi]  DEFAULT (getdate()) FOR [dErstelltWawi]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nPending]  DEFAULT ((0)) FOR [nPending]
GO
ALTER TABLE [Verkauf].[tAuftrag] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_nSteuersonderbehandlung]  DEFAULT ((0)) FOR [nSteuersonderbehandlung]
GO
ALTER TABLE [Verkauf].[tAuftrag]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftrag_kAmazonUser] FOREIGN KEY([kAmazonUser])
REFERENCES [dbo].[pf_user] ([kUser])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tAuftrag] CHECK CONSTRAINT [FK_Verkauf_tAuftrag_kAmazonUser]
GO
ALTER TABLE [Verkauf].[tAuftrag]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftrag_kFarbe] FOREIGN KEY([kFarbe])
REFERENCES [dbo].[tFarbe] ([kFarbe])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tAuftrag] CHECK CONSTRAINT [FK_Verkauf_tAuftrag_kFarbe]
GO
ALTER TABLE [Verkauf].[tAuftrag]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftrag_kFirmaHistory] FOREIGN KEY([kFirmaHistory])
REFERENCES [dbo].[tFirmaHistory] ([kFirmaHistory])
GO
ALTER TABLE [Verkauf].[tAuftrag] CHECK CONSTRAINT [FK_Verkauf_tAuftrag_kFirmaHistory]
GO
ALTER TABLE [Verkauf].[tAuftrag]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftrag_kKunde] FOREIGN KEY([kKunde])
REFERENCES [dbo].[tkunde] ([kKunde])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tAuftrag] CHECK CONSTRAINT [FK_Verkauf_tAuftrag_kKunde]
GO
ALTER TABLE [Verkauf].[tAuftrag]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftrag_kPlattform] FOREIGN KEY([kPlattform])
REFERENCES [dbo].[tPlattform] ([nPlattform])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [Verkauf].[tAuftrag] CHECK CONSTRAINT [FK_Verkauf_tAuftrag_kPlattform]
GO
ALTER TABLE [Verkauf].[tAuftrag]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftrag_kSprache] FOREIGN KEY([kSprache])
REFERENCES [dbo].[tSpracheUsed] ([kSprache])
GO
ALTER TABLE [Verkauf].[tAuftrag] CHECK CONSTRAINT [FK_Verkauf_tAuftrag_kSprache]
GO
ALTER TABLE [Verkauf].[tAuftrag]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftrag_fVersandlandWaehrungFaktor] CHECK  (([fVersandlandWaehrungFaktor]>(0.0)))
GO
ALTER TABLE [Verkauf].[tAuftrag] CHECK CONSTRAINT [CK_Verkauf_tAuftrag_fVersandlandWaehrungFaktor]
GO
ALTER TABLE [Verkauf].[tAuftrag]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftrag_nBeschreibung] CHECK  (([nBeschreibung]=(2) OR [nBeschreibung]=(1) OR [nBeschreibung]=(0)))
GO
ALTER TABLE [Verkauf].[tAuftrag] CHECK CONSTRAINT [CK_Verkauf_tAuftrag_nBeschreibung]
GO
ALTER TABLE [Verkauf].[tAuftrag]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_tAuftrag_nType] CHECK  (([nType]=(6) OR [nType]=(7) OR [nType]=(3) OR [nType]=(2) OR [nType]=(1) OR [nType]=(0)))
GO
ALTER TABLE [Verkauf].[tAuftrag] CHECK CONSTRAINT [CK_Verkauf_tAuftrag_nType]
GO
