USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vStandardLieferadresseCache]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [Verkauf].[vStandardLieferadresseCache]
WITH SCHEMABINDING
AS
  SELECT tAuftragAdresse.kAuftrag AS kAuftrag,
         tAuftragAdresse.kKunde AS kLieferadresseKunde,
		 LEFT(tAuftragAdresse.cFirma, 64) AS cLieferadresseFirma,
		 LEFT(tAuftragAdresse.cAnrede, 20) AS cLieferadresseAnrede,
		 LEFT(tAuftragAdresse.cTitel, 64) AS cLieferadresseTitel,
		 LEFT(tAuftragAdresse.cVorname, 64) AS cLieferadresseVorname,
		 LEFT(tAuftragAdresse.cName, 64) AS cLieferadresseNachname,
		 LEFT(tAuftragAdresse.cStrasse, 64) AS cLieferadresseStrasse,
		 LEFT(tAuftragAdresse.cAdressZusatz, 64) AS cLieferadresseAdresszusatz,
		 LEFT(tAuftragAdresse.cPLZ, 15) AS cLieferadressePlz,
		 LEFT(tAuftragAdresse.cOrt, 64) AS cLieferadresseOrt,
		 LEFT(tAuftragAdresse.cLand, 30) AS cLieferadresseLand,
		 LEFT(tAuftragAdresse.cTel, 20) AS cLieferadresseTelefon,
		 LEFT(tAuftragAdresse.cMobil, 20) AS cLieferadresseMobilTelefon,
		 LEFT(tAuftragAdresse.cFax, 20) AS cLieferadresseFax,
		 LEFT(tAuftragAdresse.cMail, 50)  AS cLieferadresseMail,
		 LEFT(tAuftragAdresse.cZusatz, 64)  AS cLieferadresseZusatz,
		 LEFT(tAuftragAdresse.cPostID, 64)  AS cLieferadressePostId,
		 LEFT(tAuftragAdresse.cBundesland, 64) AS cLieferadresseBundesland,
		 tAuftragAdresse.cISO AS cLieferadresseLandIso,
		 tAuftrag.dErstellt AS dErstellt
    FROM Verkauf.tAuftrag
	JOIN Verkauf.tAuftragAdresse ON tAuftragAdresse.kAuftrag = tAuftrag.kAuftrag
   WHERE tAuftragAdresse.nTyp = 0 AND tAuftrag.nType = 1
	 AND tAuftrag.dErstellt >= CONVERT(DATETIME, '2025-01-26', 120);
GO
