USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vExterneRechnungTransaktionstyp]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vExterneRechnungTransaktionstyp]
AS
SELECT
	CAST(0 AS INT) AS [Verkauf],
	CAST(1 AS INT) AS [Ruecksendung],
	CAST(2 AS INT) AS [Erstattung];
GO
