USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionScxCustomFieldGroup]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionScxCustomFieldGroup](
	[kAuftragPositionScxCustomFieldGroup] [bigint] IDENTITY(1,1) NOT NULL,
	[kAuftragPosition] [int] NOT NULL,
	[cName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionScxCustomFieldGroup] PRIMARY KEY CLUSTERED 
(
	[kAuftragPositionScxCustomFieldGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionScxCustomFieldGroup]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionScxCustomFieldGroup_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionScxCustomFieldGroup] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionScxCustomFieldGroup_kAuftragPosition]
GO
