USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionIntervall]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionIntervall](
	[kAuftragPosition] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[nTyp] [int] NOT NULL,
	[nIntervall] [int] NULL,
	[nIntervallTyp] [int] NULL,
	[dStartdatum] [datetime] NULL,
	[dEnddatum] [datetime] NULL,
	[dNextFaelligkeit] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nVorlaufTage] [int] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionIntervall] PRIMARY KEY CLUSTERED 
(
	[kAuftragPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionIntervall] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionIntervall_nVorlaufTage]  DEFAULT ((1)) FOR [nVorlaufTage]
GO
ALTER TABLE [Verkauf].[tAuftragPositionIntervall]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionIntervall_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionIntervall] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionIntervall_kAuftragPosition]
GO
