USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragScxCustomFieldGroup]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragScxCustomFieldGroup](
	[kAuftragScxCustomFieldGroup] [bigint] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[cName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragScxCustomFieldGroup] PRIMARY KEY CLUSTERED 
(
	[kAuftragScxCustomFieldGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragScxCustomFieldGroup]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragScxCustomFieldGroup_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragScxCustomFieldGroup] CHECK CONSTRAINT [FK_Verkauf_tAuftragScxCustomFieldGroup_kAuftrag]
GO
