USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvAngebotsposition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvAngebotsposition]
AS
SELECT
    tAuftragPosition.kAuftrag AS kAuftrag,
    tAuftragPosition.kAuftragPosition AS kAuftragPosition,
    tAuftragPosition.kArtikel AS kArtikel,
    tAuftragPosition.cName AS cName,
    tAuftragPosition.cArtNr AS cArtNr,
    tAuftragPosition.cHinweis AS cHinweis,
    tAuftragPosition.fAnzahl AS fAnzahl,
    tAuftragPosition.fVkNetto AS fVkNetto,
    tAuftragPosition.fMwSt AS fMwSt,
    tAuftragPosition.fVkNetto * (1 + (tAuftragPosition.fMwSt / 100)) AS fVKBrutto,
    CASE WHEN tlagerbestand.kArtikel = 0 THEN 0.0 ELSE CAST(tlagerbestand.fVerfuegbar AS DECIMAL(25,4)) END AS fVerfuegbar,
    tlagerbestand.fLagerbestand AS fLagerbestand,
    tlagerbestand.fZulauf AS fZulauf,
    tLagerbestand.fAufEinkaufsliste AS fAufEinkaufsliste,
    tAuftragPosition.nSort AS nSort,
    tlagerbestand.nLagerAktiv AS nLagerAktiv,
    tAuftragPosition.kAuftragStueckliste AS kStuecklistenVater,
    tAuftragPosition.kKonfigVater AS kKonfigurationsVater,
    tSteuerschluessel.cErloeskonto AS cErloeskonto,
    CAST(tlagerbestand.fVerfuegbarGesperrt AS DECIMAL(25,4)) AS fVerfuegbarGesperrt,
    CAST(tlagerbestand.fAuslieferungGesperrt AS DECIMAL(25,4)) AS fAuslieferungGesperrt,
    STUFF((SELECT ' / ' + tAuftragPositionEigenschaft.cWert
           FROM Verkauf.tAuftragPositionEigenschaft
                    LEFT JOIN dbo.teigenschaft ON teigenschaft.kEigenschaft = tAuftragPositionEigenschaft.kEigenschaft
           WHERE tAuftragPositionEigenschaft.kAuftragPosition = tAuftragPosition.kAuftragPosition
           ORDER BY teigenschaft.nSort
        FOR XML PATH ('')), 1, 2, '') AS cVariationen,
    tAuftragPosition.cEinheit AS cEinheit,
    CASE
        WHEN (tAuftragPosition.fAnzahl - CASE WHEN tlagerbestand.kArtikel = 0 THEN 0.0 ELSE CAST(tlagerbestand.fVerfuegbar AS DECIMAL(25,4)) END) > 0
            THEN tAuftragPosition.fAnzahl - CASE WHEN tlagerbestand.kArtikel = 0 THEN 0.0 ELSE CAST(tlagerbestand.fVerfuegbar AS DECIMAL(25,4)) END
        ELSE 0.0
    END AS fFehlbestand,
    tAuftragPositionEckdaten.fWertBrutto AS fBruttoGesamt,
    tAuftragPositionEckdaten.fWertNetto AS fNettoGesamt
FROM Verkauf.tAuftragPosition
JOIN Verkauf.tAuftragPositionEckdaten ON tAuftragPositionEckdaten.kAuftragPosition = tAuftragPosition.kAuftragPosition
LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tAuftragPosition.kArtikel
LEFT JOIN dbo.tSteuerschluessel ON tSteuerschluessel.kSteuerschluessel = tAuftragPosition.kSteuerschluessel
GO
