USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvEinkaufskosten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvEinkaufskosten]
AS
SELECT        Verkauf.tAuftrag.kAuftrag, SUM(ISNULL(dbo.tLieferscheinPos.fAnzahl, Verkauf.tAuftragPosition.fAnzahl) * Verkauf.tAuftragPosition.fEkNetto) AS fKalkKosten, SUM(ISNULL(dbo.tWarenLagerAusgang.fAnzahl, 
                         ISNULL(dbo.tLieferscheinPos.fAnzahl, Verkauf.tAuftragPosition.fAnzahl)) * ISNULL(dbo.tWarenLagerEingang.fEKEinzel, Verkauf.tAuftragPosition.fEkNetto)) AS fKosten
FROM            Verkauf.tAuftrag INNER JOIN
                         Verkauf.tAuftragPosition ON Verkauf.tAuftrag.kAuftrag = Verkauf.tAuftragPosition.kAuftrag LEFT OUTER JOIN
                         dbo.tLieferscheinPos ON Verkauf.tAuftragPosition.kAuftragPosition = dbo.tLieferscheinPos.kBestellPos LEFT OUTER JOIN
                         dbo.tWarenLagerAusgang ON dbo.tLieferscheinPos.kLieferscheinPos = dbo.tWarenLagerAusgang.kLieferscheinPos LEFT OUTER JOIN
                         dbo.tWarenLagerEingang ON dbo.tWarenLagerAusgang.kWarenLagerEingang = dbo.tWarenLagerEingang.kWarenLagerEingang
GROUP BY Verkauf.tAuftrag.kAuftrag
GO
