USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragAttribut]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragAttribut](
	[kAuftragAttribut] [int] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kAttribut] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragAttribut] PRIMARY KEY CLUSTERED 
(
	[kAuftragAttribut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Verkauf_tAuftragAttribut_kAuftrag_kAttribut] UNIQUE NONCLUSTERED 
(
	[kAuftrag] ASC,
	[kAttribut] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragAttribut]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragAttribut_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragAttribut] CHECK CONSTRAINT [FK_Verkauf_tAuftragAttribut_kAuftrag]
GO
