USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragAttributSprache]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragAttributSprache](
	[kAuftragAttribut] [int] NOT NULL,
	[kSprache] [int] NOT NULL,
	[cWertVarchar] [nvarchar](max) NULL,
	[nWertInt] [int] NULL,
	[fWertDecimal] [decimal](25, 13) NULL,
	[dWertDateTime] [datetime] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragAttributSprache] PRIMARY KEY CLUSTERED 
(
	[kAuftragAttribut] ASC,
	[kSprache] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragAttributSprache]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragAttributSprache_kAuftragAttribut] FOREIGN KEY([kAuftragAttribut])
REFERENCES [Verkauf].[tAuftragAttribut] ([kAuftragAttribut])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragAttributSprache] CHECK CONSTRAINT [FK_Verkauf_tAuftragAttributSprache_kAuftragAttribut]
GO
