USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vExterneRechnungPositionstyp]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vExterneRechnungPositionstyp]
AS
SELECT
	CAST(0 AS INT) AS [Freiposition],
	CAST(1 AS INT) AS [Artikel],
	CAST(2 AS INT) AS [Versandkosten],
	CAST(3 AS INT) AS [Geschenkverpackung];
GO
