USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tPlattformAuftragFeatures]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tPlattformAuftragFeatures](
	[kPlattformAuftragFeatures] [int] IDENTITY(1,1) NOT NULL,
	[nTyp] [int] NOT NULL,
	[kShop] [int] NULL,
	[nBearbeiten] [bit] NOT NULL,
	[nBearbeitenMitWarnung] [bit] NOT NULL,
	[nLoeschen] [bit] NOT NULL,
	[nStornieren] [bit] NOT NULL,
	[nTeilrechnungErstellen] [bit] NOT NULL,
	[nRechnungErstellen] [bit] NOT NULL,
	[nZusammenfassen] [bit] NOT NULL,
	[nSplitten] [bit] NOT NULL,
 CONSTRAINT [PK_Verkauf_tPlattformAuftragFeatures] PRIMARY KEY CLUSTERED 
(
	[kPlattformAuftragFeatures] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Verkauf_tPlattformAuftragFeatures_nTyp_kShop] UNIQUE NONCLUSTERED 
(
	[nTyp] ASC,
	[kShop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tPlattformAuftragFeatures_kShop]  DEFAULT (NULL) FOR [kShop]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tPlattformAuftragFeatures_nBearbeiten]  DEFAULT ((0)) FOR [nBearbeiten]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tPlattformAuftragFeatures_nBearbeitenMitWarnung]  DEFAULT ((0)) FOR [nBearbeitenMitWarnung]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tPlattformAuftragFeatures_nLoeschen]  DEFAULT ((0)) FOR [nLoeschen]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tPlattformAuftragFeatures_nStornieren]  DEFAULT ((0)) FOR [nStornieren]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tPlattformAuftragFeatures_nTeilrechnungErstellen]  DEFAULT ((0)) FOR [nTeilrechnungErstellen]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tPlattformAuftragFeatures_nRechnungErstellen]  DEFAULT ((0)) FOR [nRechnungErstellen]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tPlattformAuftragFeatures_nZusammenfassen]  DEFAULT ((0)) FOR [nZusammenfassen]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] ADD  CONSTRAINT [DF_Verkauf_tPlattformAuftragFeatures_nSplitten]  DEFAULT ((0)) FOR [nSplitten]
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tPlattformAuftragFeatures_kShop] FOREIGN KEY([kShop])
REFERENCES [dbo].[tShop] ([kShop])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tPlattformAuftragFeatures] CHECK CONSTRAINT [FK_Verkauf_tPlattformAuftragFeatures_kShop]
GO
