USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragZahlungsinfo]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragZahlungsinfo]
AS
SELECT tAuftragZahlungsinfo.kAuftrag,
		tAuftragZahlungsinfo.cKontoInhaber,
		tAuftragZahlungsinfo.cBankname,
		tAuftragZahlungsinfo.cIBAN,
		tAuftragZahlungsinfo.cBIC,
		tAuftragZahlungsinfo.bRowversion,
		tAuftragZahlungsinfo.cPuiZahlungsinfo,
		tAuftragZahlungsinfo.nTyp,
		tAuftragZahlungsinfo.dFaelligkeitsdatum,
		tAuftragZahlungsinfo.cVerwendungszweck,
		tAuftragZahlungsinfo.cReferenzEmail,
		tAuftragZahlungsinfo.cMandatsReferenz,
		tAuftragZahlungsinfo.cEndToEndID,
		tAuftragZahlungsinfo.cGlaeubigerID
FROM Verkauf.tAuftragZahlungsinfo
GO
