USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragRechnung]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragRechnung](
	[kAuftrag] [int] NOT NULL,
	[kRechnung] [int] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragRechnung] PRIMARY KEY CLUSTERED 
(
	[kAuftrag] ASC,
	[kRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragRechnung]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragRechnung_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragRechnung] CHECK CONSTRAINT [FK_Verkauf_tAuftragRechnung_kAuftrag]
GO
ALTER TABLE [Verkauf].[tAuftragRechnung]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragRechnung_kRechnung] FOREIGN KEY([kRechnung])
REFERENCES [Rechnung].[tRechnung] ([kRechnung])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragRechnung] CHECK CONSTRAINT [FK_Verkauf_tAuftragRechnung_kRechnung]
GO
