USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tExterneRechnungEckdaten]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tExterneRechnungEckdaten](
	[kExterneRechnung] [int] NOT NULL,
	[fSummeBrutto] [decimal](23, 15) NOT NULL,
	[fSummeNetto] [decimal](23, 15) NOT NULL,
	[bRowVersionExterneRechnung] [binary](8) NOT NULL,
	[nAnzahlPositionen] [int] NOT NULL,
	[bRowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tExterneRechnungEckdaten] PRIMARY KEY CLUSTERED 
(
	[kExterneRechnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tExterneRechnungEckdaten]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_PK_Verkauf_tExterneRechnungEckdaten_kExterneRechnung] FOREIGN KEY([kExterneRechnung])
REFERENCES [Verkauf].[tExterneRechnung] ([kExterneRechnung])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tExterneRechnungEckdaten] CHECK CONSTRAINT [FK_Verkauf_PK_Verkauf_tExterneRechnungEckdaten_kExterneRechnung]
GO
ALTER TABLE [Verkauf].[tExterneRechnungEckdaten]  WITH CHECK ADD  CONSTRAINT [CK_Verkauf_PK_Verkauf_tExterneRechnungEckdaten_nAnzahlPositionen] CHECK  (([nAnzahlPositionen]>=(0)))
GO
ALTER TABLE [Verkauf].[tExterneRechnungEckdaten] CHECK CONSTRAINT [CK_Verkauf_PK_Verkauf_tExterneRechnungEckdaten_nAnzahlPositionen]
GO
