USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvRechnungsverwaltung]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvRechnungsverwaltung] AS
(
	SELECT
		tRechnung.kRechnung AS kRechnung,
		tRechnung.kBenutzer AS kBenutzer,
		tRechnung.kKunde AS kKunde,
		tRechnung.cWaehrung AS cWaehrung,
		tFirmaHistory.kFirma AS kFirma,
		tFirmaHistory.cName AS cFirmenname,
		tRechnung.cUstId AS cUmsatzsteuerID,
		tRechnung.kZahlungsart AS kZahlungsart,
		tRechnung.cZahlungsart AS cZahlungsartname,
		tRechnung.nMahnstop AS nMahnstopp,
		tRechnung.dErstellt AS dErstellt,
		tRechnung.dValutadatum AS dValutadatum,
		tRechnung.cRechnungsNr AS cRechnungsnummer,
		tRechnung.fWaehrungsfaktor AS fWaehrungsfaktor,
		tRechnung.kVersandArt AS kVersandart,
		tRechnung.cVersandart AS cVersandart,
		tRechnung.nIstEntwurf AS nIstEntwurf,
		tRechnung.kShop AS kShop,
		tRechnung.kPlattform AS kPlattform,
		tRechnung.kSprache AS kSprache,
		tRechnung.nSteuereinstellung AS nSteuereinstellung,
		CASE WHEN tRechnung.nSteuereinstellung = 10 THEN 1 ELSE 0 END AS nInnergemeinschaftlicheLieferung,
		CASE WHEN tRechnung.nSteuereinstellung = 20 THEN 1 ELSE 0 END AS nUmsatzsteuerfrei,
		tRechnung.cEbayUsername AS ceBayBenutzername,
		ISNULL(tShop.cName, '') AS cShopname,
		CAST(CASE
			WHEN tRechnung.nIstExterneRechnung > 0
				THEN 1
			ELSE 0
		END AS BIT) AS nIstExterneRechnung,
		tRechnung.nExistierendeRechnungDrucken AS nExistierendeRechnungDrucken,
		tRechnungEckdaten.dBezahlt AS dBezahldatum,
		tRechnungEckdaten.dDruckdatum AS dDruckdatum,
		tRechnungEckdaten.dMaildatum AS dMaildatum,
		tRechnungEckdaten.nIstAngemahnt AS nIstAngemahnt,
		tRechnungEckdaten.fOffenerWert AS fOffenerWert,
		tRechnungEckdaten.fZahlung AS fBereitsgezahltWert,
		CAST(CASE WHEN tRechnungEckdaten.nZahlungStatus = 2 THEN 1 ELSE 0 END AS BIT) AS nIstKomplettBezahlt,
		tRechnungText.cAnmerkung AS cAnmerkung,
		tRechnungText.cHinweis AS cSonstiges,
		tRechnungEckdaten.fGutschrift AS fGutgeschriebenerWert,
		tRechnungEckdaten.nHasRechnungskorrektur AS nRechnungskorrekturErstellt,
		tRechnungEckdaten.nZahlungStatus AS nZahlungStatus,
		Lieferadresse.cFirma AS cLieferadresseFirma,
		Lieferadresse.cAnrede AS cLieferadresseAnrede,
		Lieferadresse.cTitel AS cLieferadresseTitel,
		Lieferadresse.cVorname AS cLieferadresseVorname,
		Lieferadresse.cName AS cLieferadresseNachname,
		Lieferadresse.cStrasse AS cLieferadresseStrasse,
		Lieferadresse.cAdressZusatz AS cLieferadresseAdresszusatz,
		Lieferadresse.cPLZ AS cLieferadressePlz,
		Lieferadresse.cOrt AS cLieferadresseOrt,
		Lieferadresse.cLand AS cLieferadresseLand,
		Lieferadresse.cTel AS cLieferadresseTelefon,
		Lieferadresse.cMobil AS cLieferadresseMobilTelefon,
		Lieferadresse.cFax AS cLieferadresseFax,
		Lieferadresse.cMail AS cLieferadresseMail,
		Lieferadresse.cZusatz AS cLieferadresseZusatz,
		Lieferadresse.cPostID AS cLieferadressePostId,
		Lieferadresse.cBundesland AS cLieferadresseBundesland,
		Lieferadresse.cISO AS cLieferadresseLandIso,
		Rechnungsadresse.cFirma AS cRechnungsadresseFirma,
		Rechnungsadresse.cAnrede AS cRechnungsadresseAnrede,
		Rechnungsadresse.cTitel AS cRechnungsadresseTitel,
		Rechnungsadresse.cVorname AS cRechnungsadresseVorname,
		Rechnungsadresse.cName AS cRechnungsadresseNachname,
		Rechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
		Rechnungsadresse.cAdressZusatz AS cRechnungsadresseAdresszusatz,
		Rechnungsadresse.cPLZ AS cRechnungsadressePlz,
		Rechnungsadresse.cOrt AS cRechnungsadresseOrt,
		Rechnungsadresse.cLand AS cRechnungsadresseLand,
		Rechnungsadresse.cTel AS cRechnungsadresseTelefon,
		Rechnungsadresse.cMobil AS cRechnungsadresseMobilTelefon,
		Rechnungsadresse.cFax AS cRechnungsadresseFax,
		Rechnungsadresse.cMail AS cRechnungsadresseMail,
		Rechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
		Rechnungsadresse.cPostID AS cRechnungsadressePostId,
		Rechnungsadresse.cBundesland AS cRechnungsadresseBundesland,
		Rechnungsadresse.cISO AS cRechnungsadresseLandIso,
		tRechnungEckdaten.fVkBruttoGesamt AS fGesamtBruttopreis,
        (tRechnungEckdaten.fVkBruttoGesamt / ISNULL(NULLIF(tRechnung.fWaehrungsfaktor, 0), 1)) * tRechnung.fVersandlandWaehrungsfaktor AS fRechnungswertVersandlandBrutto,
        tRechnungEckdaten.fVkNettoGesamt AS fGesamtNettopreis,
        (tRechnungEckdaten.fVkNettoGesamt / ISNULL(NULLIF(tRechnung.fWaehrungsfaktor, 0), 1)) * tRechnung.fVersandlandWaehrungsfaktor AS fRechnungswertVersandlandNetto,
		eazybusiness.dbo.tbenutzer.cName AS cBenutzername,
		tRechnung.cZahlungsart AS cZahlungsart,
		tRechnung.cKundenNr AS cKundeNr,
		tRechnung.nDebitorennr AS nDebitorennr,
		tRechnung.cKundengruppe AS cKundengruppe,
		tRechnung.nZahlungszielTage AS nZahlungszielInTagen,
		tRechnungEckdaten.dZahlungsziel AS dZahlungsziel,
		tRechnungEckdaten.nMahnstufe AS nMahnstufe,
		tRechnungEckdaten.dMahndatum AS dMahndatum,
		tRechnung.nArchiv AS nArchiv,
		AuftragDaten.nFarbcode AS nFarbcode,
		AuftragDaten.cName AS cFarbbedeutung,
		tPlattform.nTyp AS nPlattformTyp,
		tRechnungEckdaten.cAuftragsnummern AS cAuftragsNr,
		tRechnungEckdaten.nKorrigiert AS nKorrigiert,
		tRechnung.nStorno AS nStorno,
		StornoDaten.dStorniert AS dStorniert,
		StornoDaten.cKommentar AS cStornoKommentar,
		StornoDaten.cName AS cStornoBenutzername,
		StornoDaten.cStornogrund AS cStornogrund,
		AuftragDaten.kAuftrag AS kAuftrag,
		ISNULL(NULLIF(tRechnung.cExterneAuftragsnummer, ''), AuftragDaten.cExterneAuftragsnummer) AS cExterneAuftragsnummer,
		AuftragDaten.dLetzterVersand AS dLetzterVersand
	FROM Rechnung.tRechnung
	JOIN Rechnung.vRechnungRechnungsadresse AS Rechnungsadresse ON Rechnungsadresse.kRechnung = tRechnung.kRechnung
	JOIN Rechnung.vRechnungLieferadresse AS Lieferadresse ON Lieferadresse.kRechnung = tRechnung.kRechnung
	LEFT JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
	LEFT JOIN Rechnung.tRechnungText ON tRechnungText.kRechnung = tRechnung.kRechnung
	LEFT JOIN dbo.tFirmaHistory ON tRechnung.kFirmaHistory = dbo.tFirmaHistory.kFirmaHistory
	LEFT JOIN eazybusiness.dbo.tbenutzer ON tRechnung.kBenutzer = tbenutzer.kBenutzer
	LEFT JOIN dbo.tShop ON tShop.kShop = tRechnung.kShop
	LEFT JOIN dbo.tPlattform ON tRechnung.kPlattform = tPlattform.nPlattform
	LEFT JOIN
	(
		SELECT
			tRechnungStorno.kRechnung,
			tRechnungStorno.dStorniert,
			tRechnungStorno.cKommentar,
			Stornobenutzer.cName,
			tRechnungStornogrund.cStornogrund
		FROM Rechnung.tRechnungStorno
		JOIN Rechnung.tRechnungStornogrund ON tRechnungStornogrund.kRechnungStornogrund = tRechnungStorno.kRechnungStornogrund
		JOIN eazybusiness.dbo.tbenutzer AS Stornobenutzer ON tRechnungStorno.kBenutzer = Stornobenutzer.kBenutzer
	) AS StornoDaten ON StornoDaten.kRechnung = tRechnung.kRechnung AND tRechnung.nStorno = 1
	OUTER APPLY
	(
		SELECT TOP (1)
			tAuftrag.kAuftrag,
			tAuftragRechnung.kRechnung,
			tAuftrag.cExterneAuftragsnummer,
			tAuftragEckdaten.dLetzterVersand,
			tFarbe.nFarbcode,
			tFarbe.cName
		FROM Verkauf.tAuftragRechnung
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
		JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
		LEFT JOIN dbo.tFarbe ON tFarbe.kFarbe = tAuftrag.kFarbe
		WHERE tAuftragRechnung.kRechnung = tRechnung.kRechnung
	) AS AuftragDaten
);
GO
