USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vStandardAuftragCache]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vStandardAuftragCache] WITH SCHEMABINDING AS
  SELECT tAuftrag.kAuftrag AS kAuftrag,
		 tAuftrag.nAuftragStatus AS nAuftragStatus,
		 tAuftrag.kBenutzer AS kBenutzer,
		 tAuftrag.kKunde AS kKunde,
		 tAuftrag.kKundengruppe AS kKundengruppe,
		 tAuftrag.kShopAuftrag AS kInetBestellung,
		 tAuftrag.kAuftrag AS kBestellhinweis,
		 tAuftrag.kPlattform AS kPlattform,
		 tAuftrag.kFirmaHistory AS kFirmaHistory,
		 tAuftrag.kRueckhalteGrund AS kRueckhalteGrund,
		 tAuftrag.kSprache AS kSprache,
		 tAuftrag.kShop AS kShop,
		 tAuftrag.kVersandArt AS kVersandart,
		 tAuftrag.kZahlungsArt AS kZahlungsart,
		 tAuftrag.kFarbe AS kFarbe,
		 tAuftrag.kVorgangsstatus AS kVorgangsstatus,
		 tAuftrag.cAuftragsNr AS cAuftragsnummer,
		 tAuftrag.cExterneAuftragsnummer AS cExterneAuftragsnummer,
		 tAuftrag.cWaehrung AS cWaehrung,
		 CASE WHEN tAuftrag.fFaktor = 0 THEN -1 ELSE tAuftrag.fFaktor END AS fWaehrungsfaktor,
		 tAuftrag.nSteuereinstellung AS nSteuereinstellung,
		 tAuftrag.fZusatzGewicht AS fZusatzgewicht,
		 tAuftrag.dErstellt AS dErstellt,
		 tAuftrag.nZahlungszielTage AS nZahlungszielTage,
		 tAuftrag.nKomplettAusgeliefert AS nKomplettAusgeliefert,
		 tAuftrag.dVoraussichtlichesLieferdatum AS dVoraussichtlichesLieferdatum,
		 tAuftrag.nLieferprioritaet AS nLieferprioritaet,
		 tAuftrag.nBeschreibung,
		 tAuftrag.cVersandlandISO AS cVersandlandISO,
		 tAuftrag.cVersandlandWaehrung AS cVersandlandWaehrung,
		 tAuftrag.fVersandlandWaehrungFaktor AS fVersandlandWaehrungFaktor,
		 CASE WHEN tAuftrag.cInet = 'Y' THEN 1 ELSE 0 END AS nInet,
		 tAuftrag.nIstReadOnly AS nIstReadOnly,
		 tAuftrag.nIstExterneRechnung AS nIstExterneRechnung,
		 LEFT(tAuftrag.cShopZahlungsmodul, 64) AS cZahlungsmodulID,
		 LEFT(tAuftrag.cEbayUsername, 64) AS ceBayBenutzername,
		 CAST(tAuftrag.nStorno AS TINYINT) AS nStorniert,
		 CASE WHEN tAuftrag.nSteuereinstellung = 10 THEN 1 ELSE 0 END AS nInnergemeinschaftlicheLieferung,
		 CASE WHEN tAuftrag.nSteuereinstellung = 20 THEN 1 ELSE 0 END AS nUmsatzsteuerfrei,
		 tPlattform.nTyp AS nPlattformTyp,
		 tAuftragEckdaten.fGutschrift AS fGutgeschriebenerWert,
		 tAuftragEckdaten.fZahlung AS fBereitsgezahltWert,
		 tAuftragEckdaten.dGedruckt AS dDruckdatum,
		 tAuftragEckdaten.dGemailt AS dMaildatum,
		 tAuftragEckdaten.dZahlungsMail AS dZahlungsmaildatum,
		 tAuftragEckdaten.dBezahlt AS dBezahlt,
		 tAuftragEckdaten.dLetzterVersand AS dLetzterVersand,
		 tAuftragEckdaten.nRechnungStatus AS nRechnungStatus,
		 tAuftragEckdaten.nZahlungStatus AS nZahlungStatus,
		 tAuftragEckdaten.nAnzahlPakete AS nAnzahlPakete,
		 tAuftragEckdaten.nAnzahlVersendetePakete AS nAnzahlVersendetePakete,
		 tAuftragEckdaten.fGutschrift AS fGutschrift,
		 tAuftragEckdaten.fWertBrutto AS fAuftragswertBrutto,
		 tAuftragEckdaten.fWertNetto AS fAuftragswertNetto,
		 tAuftragEckdaten.fOffenerWert AS fOffenerWert,
		 tAuftragEckdaten.fWertBrutto / tAuftrag.fFaktor * tAuftrag.fVersandlandWaehrungFaktor AS fAuftragswertVersandland,
		 tAuftrag.cKundenNr AS cKundenNr,
		 tAuftrag.nDebitorennr,
		 tAuftragEckdaten.cRechnungsnummern,
		 tAuftrag.nPending,
         tAuftrag.kAmazonUser
	FROM Verkauf.tAuftrag
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tPlattform ON tPlattform.nPlattform = tAuftrag.kPlattform
   WHERE tAuftrag.nType = 1
	 AND tAuftrag.dErstellt >= CONVERT(DATETIME, '2025-01-26', 120);
GO
