USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragPositionEigenschaft]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragPositionEigenschaft]
AS
SELECT 
	tAuftragPositionEigenschaft.kAuftragPositionEigenschaft,
	tAuftragPositionEigenschaft.kEigenschaftWert,
	tAuftragPositionEigenschaft.kAuftragPosition,
	tAuftragPositionEigenschaft.fAufpreisNetto,
	tAuftragPositionEigenschaft.fZusatzgewicht,
	tAuftragPositionEigenschaft.cWert,
	tAuftragPositionEigenschaft.cName,
	tAuftragPositionEigenschaft.bRowversion
FROM Verkauf.tAuftragPositionEigenschaft
GO
