USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftrag_Log]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftrag_Log](
	[kAuftragLog] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzerLog] [int] NULL,
	[dLog] [datetime] NOT NULL,
	[nActionLog] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[kKunde] [int] NULL,
	[cAuftragsNr] [nvarchar](50) NOT NULL,
	[nType] [tinyint] NOT NULL,
	[dErstellt] [datetime] NOT NULL,
	[kShopauftrag] [int] NULL,
	[nBeschreibung] [tinyint] NOT NULL,
	[cInet] [char](1) NULL,
	[cWaehrung] [char](3) NULL,
	[fFaktor] [decimal](25, 13) NOT NULL,
	[kShop] [int] NULL,
	[kFirmaHistory] [int] NOT NULL,
	[kPlattform] [int] NULL,
	[kSprache] [int] NOT NULL,
	[cExterneAuftragsnummer] [nvarchar](50) NULL,
	[nSteuereinstellung] [int] NULL,
	[cEbayUsername] [nvarchar](255) NULL,
	[cShopZahlungsmodul] [nvarchar](255) NULL,
	[nHatUpload] [bit] NOT NULL,
	[fZusatzGewicht] [decimal](25, 13) NOT NULL,
	[cVersandlandISO] [nvarchar](5) NULL,
	[cVersandlandBundeslandKuerzel] [nvarchar](5) NULL,
	[cVersandlandWaehrung] [char](3) NOT NULL,
	[fVersandlandWaehrungFaktor] [decimal](25, 13) NOT NULL,
	[kVersandArt] [int] NULL,
	[nZahlungszielTage] [int] NULL,
	[dVoraussichtlichesLieferdatum] [datetime] NULL,
	[dAuslieferdatum] [datetime] NULL,
	[fSkonto] [decimal](25, 13) NULL,
	[nSkontoTage] [int] NULL,
	[kVorgangsstatus] [int] NULL,
	[nStorno] [bit] NOT NULL,
	[nKomplettAusgeliefert] [int] NOT NULL,
	[nLieferPrioritaet] [int] NOT NULL,
	[nPremiumVersand] [bit] NOT NULL,
	[kRueckhaltegrund] [int] NULL,
	[kZahlungsart] [int] NULL,
	[kWarenlager] [int] NULL,
	[nIstExterneRechnung] [tinyint] NOT NULL,
	[nIstReadOnly] [tinyint] NOT NULL,
	[nMaxLiefertage] [int] NULL,
	[cOutboundId] [nvarchar](255) NULL,
	[kFulfillmentLieferant] [int] NULL,
	[cUstId] [nvarchar](25) NULL,
	[nArchiv] [bit] NOT NULL,
	[nReserviert] [bit] NOT NULL,
	[nDebitorennr] [int] NULL,
	[nAuftragStatus] [tinyint] NOT NULL,
	[cKundenAuftragsnummer] [nvarchar](250) NULL,
	[cAmazonServiceLevel] [nvarchar](100) NULL,
	[dExternesErstelldatum] [datetime] NULL,
	[kFarbe] [int] NULL,
	[fFinanzierungskosten] [decimal](25, 13) NOT NULL,
	[kAuftragQuelle] [int] NULL,
	[nAuftragQuelleAktion] [int] NULL,
	[kArtikelKarton] [int] NULL,
	[kAmazonUser] [int] NULL,
	[bRowversion] [binary](8) NOT NULL,
	[cKundenNr] [nvarchar](30) NULL,
	[kKundengruppe] [int] NULL,
	[dAuslieferungAb] [datetime] NULL,
	[cKundeUstId] [nvarchar](20) NULL,
	[nPending] [bit] NOT NULL,
	[kBenutzerErstellt] [int] NOT NULL,
	[nSteuersonderbehandlung] [tinyint] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftrag_Log] PRIMARY KEY CLUSTERED 
(
	[kAuftragLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftrag_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_Log_dLog]  DEFAULT (getdate()) FOR [dLog]
GO
ALTER TABLE [Verkauf].[tAuftrag_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_Log_nSteuereinstellung]  DEFAULT ((0)) FOR [nSteuereinstellung]
GO
ALTER TABLE [Verkauf].[tAuftrag_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_Log_nPending]  DEFAULT ((0)) FOR [nPending]
GO
ALTER TABLE [Verkauf].[tAuftrag_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftrag_Log_nSteuersonderbehandlung]  DEFAULT ((0)) FOR [nSteuersonderbehandlung]
GO
