USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tExterneRechnungPositionZusatzdaten]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tExterneRechnungPositionZusatzdaten](
	[kExterneRechnungPosition] [int] NOT NULL,
	[cAnmerkung] [nvarchar](max) NULL,
	[bRowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tExterneRechnungPositionZusatzdaten] PRIMARY KEY CLUSTERED 
(
	[kExterneRechnungPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tExterneRechnungPositionZusatzdaten]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tExterneRechnungPositionZusatzdaten_kExterneRechnungPosition] FOREIGN KEY([kExterneRechnungPosition])
REFERENCES [Verkauf].[tExterneRechnungPosition] ([kExterneRechnungPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tExterneRechnungPositionZusatzdaten] CHECK CONSTRAINT [FK_Verkauf_tExterneRechnungPositionZusatzdaten_kExterneRechnungPosition]
GO
