USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragAusgabeDateien]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragAusgabeDateien]
AS 
SELECT	tAuftragAusgabeDateien.kAuftrag, 
		tAuftragAusgabeDateien.dAusgabeDatum, 
		tAuftragAusgabeDateien.nAusgabeArt, 
		tAuftragAusgabeDateien.cErrorCode, 
		tAuftragAusgabeDateien.kBenutzer, 
		tAuftragAusgabeDateien.kVorlage
FROM Verkauf.tAuftragAusgabeDateien
GO
