USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragPosition]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragPosition]
AS 
SELECT	tAuftragPosition.kAuftragPosition, 
		tAuftragPosition.kArtikel, 
		tAuftragPosition.kAuftrag, 
		tAuftragPosition.cArtNr, 
		tAuftragPosition.nReserviert, 
		tAuftragPosition.cName, 
		tAuftragPosition.cHinweis, 
		tAuftragPosition.fAnzahl, 
		tAuftragPosition.fEkNetto, 
		tAuftragPosition.fVkNetto, 
		tAuftragPosition.fRabatt, 
		tAuftragPosition.fMwSt, 
		tAuftragPosition.nSort, 
		tAuftragPosition.cNameStandard, 
		tAuftragPosition.kSteuerklasse, 
		tAuftragPosition.nType, 
		tAuftragPosition.cEinheit, 
		tAuftragPosition.nHatUpload, 
		tAuftragPosition.kKonfigVater, 
		tAuftragPosition.kKonfigItem, 
		tAuftragPosition.kAmazonBestellungPos, 
		tAuftragPosition.kAuftragStueckliste, 
		tAuftragPosition.kEbayTransaction, 
		tAuftragPosition.fFaktor, 
		tAuftragPosition.bRowversion,
		tAuftragPosition.kSteuerschluessel,
		tAuftragPosition.fWertBruttoGesamtFixiert,
		tAuftragPosition.fWertNettoGesamtFixiert
FROM Verkauf.tAuftragPosition
GO
