USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionScxCustomField]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionScxCustomField](
	[kAuftragPositionScxCustomField] [bigint] IDENTITY(1,1) NOT NULL,
	[kAuftragPositionScxCustomFieldGroup] [bigint] NOT NULL,
	[cKey] [nvarchar](255) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionScxCustomField] PRIMARY KEY CLUSTERED 
(
	[kAuftragPositionScxCustomField] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionScxCustomField]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionScxCustomField_kAuftragPositionScxCustomFieldGroup] FOREIGN KEY([kAuftragPositionScxCustomFieldGroup])
REFERENCES [Verkauf].[tAuftragPositionScxCustomFieldGroup] ([kAuftragPositionScxCustomFieldGroup])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionScxCustomField] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionScxCustomField_kAuftragPositionScxCustomFieldGroup]
GO
