USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftragPositionFile]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftragPositionFile]
AS
SELECT	tAuftragPositionFile.kAuftragPosition, 
		tAuftragPositionFile.kAuftrag, 
		tAuftragPositionFile.kFile, 
		tAuftragPositionFile.kBenutzer, 
		tAuftragPositionFile.cFilename, 
		tAuftragPositionFile.bRowversion
FROM Verkauf.tAuftragPositionFile
GO
