USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionEigenschaft_Log]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionEigenschaft_Log](
	[kAuftragPositionEigenschaftLog] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzerLog] [int] NULL,
	[dLog] [datetime] NOT NULL,
	[nActionLog] [int] NOT NULL,
	[kAuftragPositionEigenschaft] [int] NOT NULL,
	[kEigenschaftWert] [int] NULL,
	[kAuftragPosition] [int] NOT NULL,
	[kEigenschaft] [int] NULL,
	[fAufpreisNetto] [decimal](25, 13) NOT NULL,
	[fZusatzgewicht] [decimal](25, 13) NOT NULL,
	[cWert] [nvarchar](255) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[bRowversion] [binary](8) NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionEigenschaft_Log] PRIMARY KEY CLUSTERED 
(
	[kAuftragPositionEigenschaftLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionEigenschaft_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionEigenschaft_Log_dLog]  DEFAULT (getdate()) FOR [dLog]
GO
