USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragText]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragText](
	[kAuftrag] [int] NOT NULL,
	[cAnmerkung] [nvarchar](max) NULL,
	[cDrucktext] [nvarchar](max) NULL,
	[cHinweis] [nvarchar](max) NULL,
	[bRowversion] [timestamp] NOT NULL,
	[cVorgangsstatus] [nvarchar](255) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragText] PRIMARY KEY CLUSTERED 
(
	[kAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragText]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragText_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragText] CHECK CONSTRAINT [FK_Verkauf_tAuftragText_kAuftrag]
GO
