USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvStornobelegposition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [Verkauf].[lvStornobelegposition]
AS
SELECT
	tGutschriftPos.tGutschrift_kGutschrift AS kStornobeleg,
	tGutschriftPos.kGutschriftPos AS kStornobelegPos,
	tGutschriftPos.kBestellpos AS kAuftragPosition,
	tGutschriftPos.tArtikel_kArtikel AS kArtikel,
	tGutschriftPos.cString AS cName,
	tGutschriftPos.cArtNr,
	CAST(tGutschriftPos.nAnzahl AS DECIMAL(25,4)) AS fAnzahl,
	CAST(tGutschriftPos.fVKNetto AS DECIMAL(25,4)) AS fVKNetto,
	CAST(tGutschriftPos.fMwSt AS DECIMAL(25,4)) AS fMwSt,
	CAST(tGutschriftPos.fVKPreis AS DECIMAL(25,4)) AS fVKBrutto,
	tGutschriftPos.kGutschriftStueckliste AS kStuecklistenVater,
	CASE
		WHEN tRechnungPosition.kKonfigVaterRechnungPos IS NOT NULL
			THEN
				CASE
					WHEN tRechnungPosition.kRechnungPosition = tRechnungPosition.kKonfigVaterRechnungPos
						THEN tGutschriftPos.kGutschriftPos
					ELSE KonfiVater.kGutschriftPos
				END
		ELSE 0
	END AS kKonfigurationsVater,
	tRechnungPosition.kAuftrag AS kAuftrag,
	tRechnung.kShop AS kShop,
	tShop.cName AS cShopname,
	tRechnung.cExterneAuftragsnummer AS cExterneAuftragsnummer,
	tRechnung.cEbayUsername AS ceBayBenutzername,
	tGutschriftPos.nSort AS nSort,
	tGutschriftPos.kRechnungPosition AS kRechnungPosition
FROM dbo.tGutschriftPos
LEFT JOIN Rechnung.tRechnungPosition ON tRechnungPosition.kRechnungPosition = tGutschriftPos.kRechnungPosition
LEFT JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tRechnungPosition.kRechnung
LEFT JOIN dbo.tGutschriftPos AS KonfiVater ON KonfiVater.tGutschrift_kGutschrift = tGutschriftPos.tGutschrift_kGutschrift
	AND KonfiVater.kRechnungPosition = tRechnungPosition.kKonfigVaterRechnungPos
LEFT JOIN dbo.tShop ON tShop.kShop = tRechnung.kShop
GO
