USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionIntervall_Log]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionIntervall_Log](
	[kAuftragPositionIntervallLog] [int] IDENTITY(1,1) NOT NULL,
	[kBenutzerLog] [int] NULL,
	[dLog] [datetime] NOT NULL,
	[nActionLog] [int] NOT NULL,
	[kAuftragPosition] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[nTyp] [int] NOT NULL,
	[nIntervall] [int] NULL,
	[nIntervallTyp] [int] NULL,
	[dStartdatum] [datetime] NULL,
	[dEnddatum] [datetime] NULL,
	[dNextFaelligkeit] [datetime] NULL,
	[bRowversion] [binary](8) NOT NULL,
	[nVorlaufTage] [int] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionIntervall_Log] PRIMARY KEY CLUSTERED 
(
	[kAuftragPositionIntervallLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionIntervall_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionIntervall_Log_dLog]  DEFAULT (getdate()) FOR [dLog]
GO
ALTER TABLE [Verkauf].[tAuftragPositionIntervall_Log] ADD  CONSTRAINT [DF_Verkauf_tAuftragPositionIntervall_Log_nVorlaufTage]  DEFAULT ((1)) FOR [nVorlaufTage]
GO
