USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragKampagne]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragKampagne](
	[kAuftrag] [int] NOT NULL,
	[cKampagne] [nvarchar](255) NULL,
	[cKampagneName] [nvarchar](255) NULL,
	[cKampagneDetail] [nvarchar](255) NULL,
	[cReferrer] [nvarchar](255) NULL,
	[cUserAgent] [nvarchar](512) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragKampagne] PRIMARY KEY CLUSTERED 
(
	[kAuftrag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragKampagne]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragKampagne_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragKampagne] CHECK CONSTRAINT [FK_Verkauf_tAuftragKampagne_kAuftrag]
GO
