USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionScxCustomFieldValue]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionScxCustomFieldValue](
	[kAuftragPositionScxCustomFieldValue] [bigint] IDENTITY(1,1) NOT NULL,
	[kAuftragPositionScxCustomField] [bigint] NOT NULL,
	[cValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionScxCustomFieldValue] PRIMARY KEY CLUSTERED 
(
	[kAuftragPositionScxCustomFieldValue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionScxCustomFieldValue]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionScxCustomFieldValue_kAuftragPositionScxCustomField] FOREIGN KEY([kAuftragPositionScxCustomField])
REFERENCES [Verkauf].[tAuftragPositionScxCustomField] ([kAuftragPositionScxCustomField])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionScxCustomFieldValue] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionScxCustomFieldValue_kAuftragPositionScxCustomField]
GO
