USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvExterneRechnungsposition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvExterneRechnungsposition]
AS
SELECT
	tExterneRechnungPosition.kExterneRechnungPosition,
	tExterneRechnungPosition.kExterneRechnungPositionVater,
	tExterneRechnungPosition.kExterneRechnung,
	tExterneRechnungPosition.kAuftragPosition,
	tExterneRechnungPosition.kArtikel,
	tExterneRechnungPosition.cArtNr,
	tExterneRechnungPosition.fAnzahl,
	tExterneRechnungPosition.fSummeBrutto,
	tExterneRechnungPosition.fSummeRabattBrutto,
	tExterneRechnungPosition.cAuftragsnr,
	tExterneRechnungPosition.cAuftragswaehrungISO,
	tExterneRechnungPosition.dAuftragszeitpunktUtc
FROM Verkauf.tExterneRechnungPosition
GO
