USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vExterneRechnungPosition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vExterneRechnungPosition]
AS
(
	SELECT
		tExterneRechnungPosition.kExterneRechnungPosition,
        tExterneRechnungPosition.kExterneRechnungPositionVater,
        tExterneRechnungPosition.kExterneRechnung,
        tExterneRechnungPosition.dAuftragszeitpunktUtc,
        tExterneRechnungPosition.cAuftragsnr,
        tExterneRechnungPosition.cAuftragswaehrungISO,
        tExterneRechnungPosition.dVersandzeitpunktUtc,
        tExterneRechnungPosition.nTransaktionstyp,
        tExterneRechnungPosition.nPositionstyp,
        tExterneRechnungPosition.kArtikel,
        tExterneRechnungPosition.cArtNr,
        tExterneRechnungPosition.cTransaktionstext,
        tExterneRechnungPosition.fAnzahl,
        tExterneRechnungPosition.dSteuerberechnungszeitpunktUtc,
        tExterneRechnungPosition.fSteuersatz,
        tExterneRechnungPosition.fSummeBrutto,
        tExterneRechnungPosition.fSummeNetto,
        tExterneRechnungPosition.fSummeSteuer,
        tExterneRechnungPosition.fSummeRabattBrutto,
        tExterneRechnungPosition.fSummeRabattNetto,
        tExterneRechnungPosition.fSummeRabattSteuer,
        tExterneRechnungPosition.cVersandadresseOrt,
        tExterneRechnungPosition.cVersandadresseRegion,
        tExterneRechnungPosition.cVersandadresseLandISO,
        tExterneRechnungPosition.cVersandadressePLZ,
        tExterneRechnungPosition.cVersandadresseSteuercode,
        tExterneRechnungPosition.cLieferadresseOrt,
        tExterneRechnungPosition.cLieferadresseRegion,
        tExterneRechnungPosition.cLieferadresseLandISO,
        tExterneRechnungPosition.cLieferadressePLZ,
        tExterneRechnungPosition.cLieferadresseSteuercode,
        tExterneRechnungPosition.kAmazonVCSBestellungPos,
        tExterneRechnungPosition.kAuftragPosition,
		tAuftragPosition.kAuftrag
	FROM Verkauf.tExterneRechnungPosition
	LEFT JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tExterneRechnungPosition.kAuftragPosition
)
GO
