USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[lvExterneRechnung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[lvExterneRechnung]
AS
SELECT
	tExterneRechnung.kExterneRechnung,
	tExterneRechnung.kPlattform,
	tExterneRechnung.cExterneRechnungsnr,
	tExterneRechnung.dBelegzeitpunktUtc,
	tExterneRechnung.cWaehrungISO,
	tExterneRechnungEckdaten.fSummeBrutto,
	tExterneRechnungEckdaten.fSummeNetto,
	--tExterneRechnungZusatzdaten.kFarbe,
	--tExterneRechnungZusatzdaten.cAnmerkung,
	tFirmaHistory.kFirma
FROM Verkauf.tExterneRechnung
JOIN Verkauf.tExterneRechnungEckdaten ON tExterneRechnungEckdaten.kExterneRechnung = tExterneRechnung.kExterneRechnung
--JOIN Verkauf.tExterneRechnungZusatzdaten ON tExterneRechnungZusatzdaten.kExterneRechnung = tExterneRechnung.kExterneRechnung
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tExterneRechnung.kFirmaHistory
GO
