USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vStandardLieferadresse]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [Verkauf].[vStandardLieferadresse]
AS
  SELECT vAuftragLieferadresse.kAuftrag AS kAuftrag,
         vAuftragLieferadresse.kKunde AS kLieferadresseKunde,
		 LEFT(vAuftragLieferadresse.cFirma, 64) AS cLieferadresseFirma,
		 LEFT(vAuftragLieferadresse.cAnrede, 20) AS cLieferadresseAnrede,
		 LEFT(vAuftragLieferadresse.cTitel, 64) AS cLieferadresseTitel,
		 LEFT(vAuftragLieferadresse.cVorname, 64) AS cLieferadresseVorname,
		 LEFT(vAuftragLieferadresse.cName, 64) AS cLieferadresseNachname,
		 LEFT(vAuftragLieferadresse.cStrasse, 64) AS cLieferadresseStrasse,
		 LEFT(vAuftragLieferadresse.cAdressZusatz, 64) AS cLieferadresseAdresszusatz,
		 LEFT(vAuftragLieferadresse.cPLZ, 15) AS cLieferadressePlz,
		 LEFT(vAuftragLieferadresse.cOrt, 64) AS cLieferadresseOrt,
		 LEFT(vAuftragLieferadresse.cLand, 30) AS cLieferadresseLand,
		 LEFT(vAuftragLieferadresse.cTel, 20) AS cLieferadresseTelefon,
		 LEFT(vAuftragLieferadresse.cMobil, 20) AS cLieferadresseMobilTelefon,
		 LEFT(vAuftragLieferadresse.cFax, 20) AS cLieferadresseFax,
		 LEFT(vAuftragLieferadresse.cMail, 50)  AS cLieferadresseMail,
		 LEFT(vAuftragLieferadresse.cZusatz, 64)  AS cLieferadresseZusatz,
		 LEFT(vAuftragLieferadresse.cPostID, 64)  AS cLieferadressePostId,
		 LEFT(vAuftragLieferadresse.cBundesland, 64) AS cLieferadresseBundesland,
		 vAuftragLieferadresse.cISO AS cLieferadresseLandIso,
		 tAuftrag.dErstellt AS dErstellt
     FROM Verkauf.tAuftrag
	JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = tAuftrag.kAuftrag
	WHERE tAuftrag.nType = 1
GO
