USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragAmazon]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragAmazon](
	[kAuftragAmazon] [int] IDENTITY(1,1) NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[dVersandVon] [datetime2](7) NULL,
	[dVersandBis] [datetime2](7) NULL,
	[dLieferungVon] [datetime2](7) NULL,
	[dLieferungBis] [datetime2](7) NULL,
	[cSSACarrier] [nvarchar](100) NULL,
	[cSSAShipServiceMethod] [nvarchar](255) NULL,
 CONSTRAINT [PK_Verkauf_tAuftragAmazon] PRIMARY KEY CLUSTERED 
(
	[kAuftragAmazon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragAmazon]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragAmazon_kAuftrag] FOREIGN KEY([kAuftrag])
REFERENCES [Verkauf].[tAuftrag] ([kAuftrag])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragAmazon] CHECK CONSTRAINT [FK_Verkauf_tAuftragAmazon_kAuftrag]
GO
