USE [eazybusiness]
GO
/****** Object:  View [Verkauf].[vAuftrag]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Verkauf].[vAuftrag]
AS 
(
    SELECT  tAuftrag.kAuftrag,
			tAuftrag.kBenutzer,
            tAuftrag.kKunde,
            tAuftrag.cAuftragsNr,
            tAuftrag.nType,
            tAuftrag.dErstellt,
            tAuftrag.kShopauftrag,
            tAuftrag.nBeschreibung,
            tAuftrag.cInet,
            tAuftrag.cWaehrung,
            tAuftrag.fFaktor,
            tAuftrag.kShop,
            tAuftrag.kFirmaHistory,
            tAuftrag.kPlattform,
            tAuftrag.kSprache,
            tAuftrag.cExterneAuftragsnummer,
            tAuftrag.nSteuereinstellung,
            tAuftrag.cEbayUsername,
            ISNULL(tAuftragZahlungsinfo.cVerwendungszweck, '') AS cVerwendungszweck,
            tAuftrag.cShopZahlungsmodul,
            tAuftrag.nHatUpload,
            tAuftrag.fZusatzGewicht,
            tAuftrag.cVersandlandISO,
            tAuftrag.cVersandlandBundeslandKuerzel,
            tAuftrag.cVersandlandWaehrung,
            tAuftrag.fVersandlandWaehrungFaktor,
            tAuftrag.kVersandArt,
            tAuftrag.nZahlungszielTage,
            tAuftrag.dVoraussichtlichesLieferdatum,
            tAuftrag.dAuslieferdatum,
            tAuftrag.fSkonto,
            tAuftrag.nSkontoTage,
            tAuftrag.kVorgangsstatus,
            tAuftrag.nStorno,
            tAuftrag.nKomplettAusgeliefert,
            tAuftrag.nLieferPrioritaet,
            tAuftrag.nPremiumVersand,
            tAuftrag.kRueckhaltegrund,
            tAuftrag.kZahlungsart,
            tAuftrag.kWarenlager,
            tAuftrag.nIstExterneRechnung,
            tAuftrag.nIstReadOnly,
            tAuftrag.nMaxLiefertage,
            tAuftrag.cOutboundId,
            tAuftrag.kFulfillmentLieferant,
            tAuftrag.cUstId,
            tAuftrag.nArchiv,
            tAuftrag.nReserviert,
            tAuftrag.nDebitorennr,
			tAuftrag.nAuftragStatus,
			tAuftrag.cKundenAuftragsnummer,
			tAuftrag.cAmazonServiceLevel,
			tAuftrag.bRowversion,
			tAuftrag.dExternesErstelldatum,
			tAuftrag.kFarbe,
			tAuftrag.fFinanzierungskosten,
			tAuftrag.kAuftragQuelle,
			tAuftrag.nAuftragQuelleAktion,
			tAuftrag.kArtikelKarton,
			tAuftrag.cKundenNr,
			tAuftrag.kKundengruppe,
			tAuftrag.dErstelltWawi,
			tAuftrag.kAmazonUser,
			tAuftrag.cKundeUstId,
			tAuftrag.nPending
	FROM Verkauf.tAuftrag 
	LEFT JOIN Verkauf.tAuftragZahlungsinfo ON tAuftragZahlungsinfo.kAuftrag = tAuftrag.kAuftrag
);
GO
