USE [eazybusiness]
GO
/****** Object:  Table [Verkauf].[tAuftragPositionFile]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Verkauf].[tAuftragPositionFile](
	[kAuftragPositionFile] [int] IDENTITY(1,1) NOT NULL,
	[kAuftragPosition] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[kFile] [int] NOT NULL,
	[kBenutzer] [int] NOT NULL,
	[cFilename] [nvarchar](255) NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Verkauf_tAuftragPositionFile] PRIMARY KEY CLUSTERED 
(
	[kAuftragPositionFile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Verkauf].[tAuftragPositionFile]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionFile_kAuftragPosition] FOREIGN KEY([kAuftragPosition])
REFERENCES [Verkauf].[tAuftragPosition] ([kAuftragPosition])
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionFile] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionFile_kAuftragPosition]
GO
ALTER TABLE [Verkauf].[tAuftragPositionFile]  WITH CHECK ADD  CONSTRAINT [FK_Verkauf_tAuftragPositionFile_kFile] FOREIGN KEY([kFile])
REFERENCES [dbo].[tFile] ([kFile])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [Verkauf].[tAuftragPositionFile] CHECK CONSTRAINT [FK_Verkauf_tAuftragPositionFile_kFile]
GO
