USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvAuftrag]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvAuftrag] AS 
SELECT
	vAuftrag.kAuftrag AS kBestellung,
	tFirmaHistory.kFirma,
	ISNULL(vAuftrag.kKunde, 0) AS kKunde,
	vAuftrag.kShopauftrag AS kInetBestellung,
	vAuftrag.dErstellt AS dErstellt,
	vAuftrag.cAuftragsNr AS cBestellnr,
	tAuftragText.cAnmerkung AS cAnmerkung,
	vAuftragEckdaten.dGedruckt,
	vAuftragEckdaten.dVersandMail AS dMailVersandt,
	vAuftrag.fZusatzGewicht AS fZusatzgewicht,
	vAuftrag.dVoraussichtlichesLieferdatum AS dVoraussichtlicheLieferung,
	vAuftrag.cExterneAuftragsnummer AS cInetBestellnr,
	vVorgangsstatus.cStatus AS cStatus,
	ISNULL(vAuftrag.kPlattform ,0) AS nPlattform,
	tFarbe.nFarbcode AS kColor,
	vAuftrag.kZahlungsArt AS kZahlungsart,
	vAuftrag.cWaehrung AS cWaehrungISO,
	vAuftrag.cAmazonServiceLevel AS cAmazonServiceLevel,
	BestellungLieferInfo.nLieferbar AS nVersandstatus,
	BestellungLieferInfo.nLieferbarEigen AS nVersandstatusEigen,
	CASE
		WHEN vBestellungDropshippingLieferbar.kBestellung IS NULL
			THEN 0
		ELSE 1
	END AS nIstDropshipping,
	IIF(vAuftragEckdaten.nIstFuerAuslieferungGesperrt & 1 = 0, 1, 0) AS nIstBezahlt, -- inline VersandIntern.vBestellungBezahlt
	BestellungLieferInfo.kWarenlager,
	tFirmaHistory.cName AS cFirmaName,
	tSpracheUsed.cNameDeu AS cSpracheName,
	vAuftragLieferadresse.cTitel AS cLieferadresseTitel,
	vAuftragLieferadresse.cFirma AS cLieferadresseFirma,
	vAuftragLieferadresse.cVorname AS cLieferadresseVorname,
	vAuftragLieferadresse.cName AS cLieferadresseNachname,
	vAuftragLieferadresse.cZusatz AS cLieferadresseZusatz,
	vAuftragLieferadresse.cStrasse AS cLieferadresseStrasse,
	vAuftragLieferadresse.cPLZ AS cLieferadressePlz,
	vAuftragLieferadresse.cOrt AS cLieferadresseOrt,
	vAuftragLieferadresse.cLand AS cLieferadresseLand,
	vAuftragLieferadresse.cBundesland AS cLieferadresseBundesland,
	vAuftragLieferadresse.cMail AS cLieferadresseMail,
	vAuftragLieferadresse.cTel AS cLieferadresseTelefon,
	vAuftragLieferadresse.cFax AS cLieferadresseFax,
	vAuftragLieferadresse.cAnrede AS cLieferadresseAnrede,
	vAuftragLieferadresse.cAdressZusatz AS cLieferadresseAdressZusatz,
	vAuftragRechnungsadresse.cTitel AS cRechnungsadresseTitel,
	vAuftragRechnungsadresse.cFirma AS cRechnungsadresseFirma,
	vAuftragRechnungsadresse.cVorname AS cRechnungsadresseVorname,
	vAuftragRechnungsadresse.cName AS cRechnungsadresseNachname,
	vAuftragRechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
	vAuftragRechnungsadresse.cAdressZusatz AS cRechnungsadresseAdressZusatz,
	vAuftragRechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
	vAuftragRechnungsadresse.cPLZ AS cRechnungsadressePlz,
	vAuftragRechnungsadresse.cOrt AS cRechnungsadresseOrt,
	vAuftragRechnungsadresse.cLand AS cRechnungsadresseLand,
	vAuftragRechnungsadresse.cMail AS cRechnungsadresseMail,
	vAuftragRechnungsadresse.cTel AS cRechnungsadresseTelefon,
	vAuftragRechnungsadresse.cFax AS cRechnungsadresseFax,
	vAuftrag.cKundenNr AS cKundeNr,
	ISNULL(eazybusiness.dbo.tbenutzer.cName, '') AS cBenutzername,
	vAuftragEckdaten.fWertBrutto AS fWert,
	vAuftragEckdaten.fZahlung,
	vAuftragEckdaten.fGutschrift AS fGutschriftWert,
	Versandart.cName AS cVersandartName,
	tShop.cName AS cShopName,
	tAuftragText.cHinweis AS cBestellhinweis,
	tPlattform.cName AS cPlattformName,
	ISNULL(PickStatus.nStatus, 0) AS nPickstatus,
	ISNULL(tBestellungWMSFreigabe.nTeillieferungErlaubt, 0) AS nIstWMSTeillieferungErlaubt,
	ISNULL(tBestellungWMSFreigabe.nVorkommissionieren, 0) AS nWMSVorkommissionieren,
	ISNULL(tBestellungWMSFreigabe.nSperre, 0) AS nIstWMSGesperrt,
	vAuftragEckdaten.nZahlungStatus AS nZahlungsstatus,
	SubAuftragsgewichte.Artikelgewicht AS fArtikelgewicht,
	SubAuftragsgewichte.Artikelversandgewicht AS fArtikelversandgewicht,
	vAuftrag.nLieferPrioritaet AS nAuftragsprioritaet,
	ISNULL(PickStatus.fAnzahlGepickt, 0.0) AS fAnzahlGepickt,
	tZahlungsart.cName AS cZahlungsart,
	vAuftrag.kVersandart AS kVersandart,
	ISNULL(vAuftrag.kRueckhalteGrund, 0) AS kRueckhalteGrund,
	tRueckhalteGrund.cName AS cRueckhalteGrund,
	CASE
		WHEN ISNULL(PickStatus.fAnzahlGepickt, 0) = 0
			THEN 0
		WHEN ISNULL(PickStatus.fAnzahlGepicktOhneStuecklistenVater, 0) >= ISNULL(SubAuftragsgewichte.fAnzahlOhneStuecklistenVater, 0)
			THEN 2
		ELSE 1
	END AS nPickZustand,
	vAuftrag.nAuftragStatus AS nAuftragStatus,
	vAuftragEckdaten.cRechnungsnummern
FROM Verkauf.vAuftrag
JOIN Versand.vBestellungLieferInfoProLager AS BestellungLieferInfo ON BestellungLieferInfo.kBestellung = vAuftrag.kAuftrag
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = vAuftrag.kFirmaHistory
JOIN dbo.tPlattform ON vAuftrag.kPlattform = tPlattform.nPlattform
JOIN dbo.tSpracheUsed ON vAuftrag.kSprache = tSpracheUsed.kSprache
JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = vAuftrag.kAuftrag
JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = vAuftrag.kAuftrag
JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN VersandIntern.vBestellungDropshippingLieferbar ON vBestellungDropshippingLieferbar.kBestellung = vAuftrag.kAuftrag
LEFT JOIN eazybusiness.dbo.tbenutzer ON vAuftrag.kBenutzer = eazybusiness.dbo.tbenutzer.kBenutzer
LEFT JOIN dbo.tRueckhalteGrund ON vAuftrag.kRueckhalteGrund = tRueckhalteGrund.kRueckhalteGrund
LEFT JOIN Verkauf.tAuftragText ON tAuftragText.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN dbo.tZahlungsart ON tZahlungsart.kZahlungsArt = vAuftrag.kZahlungsart
LEFT JOIN dbo.tversandart AS Versandart ON vAuftrag.kVersandArt = Versandart.kVersandArt
LEFT JOIN dbo.tShop ON tShop.kShop = vAuftrag.kShop
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = vAuftrag.kAuftrag
LEFT JOIN dbo.tFarbe ON tFarbe.kFarbe = vAuftrag.kFarbe
LEFT JOIN dbo.tBestellungWMSFreigabe ON vAuftrag.kAuftrag = tBestellungWMSFreigabe.kBestellung AND tBestellungWMSFreigabe.nAktiv = 1
LEFT JOIN
(
	SELECT
		MAX(tPicklistePos.nStatus) AS nStatus,
		SUM(tPicklistePos.fAnzahl) AS fAnzahlGepickt,
		SUM(CASE WHEN vAuftragPosition.kAuftragPosition = vAuftragPosition.kAuftragStueckliste THEN 0 ELSE tPicklistePos.fAnzahl END) AS fAnzahlGepicktOhneStuecklistenVater,
		tPicklistePos.kBestellung
	FROM dbo.tPicklistePos
	JOIN dbo.tPickliste ON tPickliste.kPickliste = tPicklistePos.kPickliste
	JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = tPicklistePos.kBestellPos
	WHERE tPicklistePos.nStatus < 40 -- 40 = Abgeschlossen
		AND tPickliste.nType <> 3 -- 3 = Reserviert
	GROUP BY tPicklistePos.kBestellung
) AS PickStatus ON vAuftrag.kAuftrag = PickStatus.kBestellung
LEFT JOIN
(
	SELECT
		vAuftrag.kAuftrag AS kBestellungGewichte,
		SUM(ISNULL(CASE WHEN vAuftragPosition.kAuftragStueckliste > 0 AND vAuftragPosition.kAuftragStueckliste <> vAuftragPosition.kAuftragPosition THEN 0.0 ELSE fArtGewicht END, 0.0) * vAuftragPositionEckdaten.fAnzahlOffen) AS Artikelgewicht,
		SUM(ISNULL(CASE WHEN vAuftragPosition.kAuftragStueckliste > 0 AND vAuftragPosition.kAuftragStueckliste <> vAuftragPosition.kAuftragPosition THEN 0.0 ELSE dbo.tArtikel.fGewicht END, 0.0) * vAuftragPositionEckdaten.fAnzahlOffen) AS Artikelversandgewicht,
		SUM(CASE WHEN vAuftragPosition.kAuftragPosition = vAuftragPosition.kAuftragStueckliste THEN 0 ELSE vAuftragPositionEckdaten.fAnzahlOffen END) AS fAnzahlOhneStuecklistenVater
	FROM Verkauf.vAuftrag
	JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftrag = vAuftrag.kAuftrag
	JOIN Verkauf.vAuftragPositionEckdaten ON vAuftragPositionEckdaten.kAuftragPosition = vAuftragPosition.kAuftragPosition
	LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = vAuftragPosition.kArtikel
	GROUP BY vAuftrag.kAuftrag
) AS SubAuftragsgewichte ON vAuftrag.kAuftrag = SubAuftragsgewichte.kBestellungGewichte
WHERE vAuftrag.nKomplettAusgeliefert = 0 AND vAuftrag.nType = 1 AND vAuftrag.nPending = 0;
GO
