USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvPickliste]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvPickliste]
AS
	SELECT  
		tPickliste.kPickliste,
	    tPickliste.cPicklisteNr,
		tPickliste.kWarenLager,
		tWarenLager.cName AS cWarenlagerName,
		tPickliste.nStatus,
		ISNULL(tWarenLager.nLagerplatzVerwaltung, 0) AS nLagerplatzVerwaltung,
		ISNULL(Anlagebenutzer.cName,'') AS cAnlagebenutzer,
		tPicklisteStatus.dZeitstempel,
		tPickliste.dGedruckt,
		ISNULL(LetzteBearbeitung.cName,'') AS cLetzterBenutzer,
		aktuellerStatus.dZeitstempel AS dLetzteBearbeitung,
		tPicklisteVorlage.cName AS cVorlage,
		tPickliste.nType AS nType
    FROM dbo.tPickliste
	JOIN dbo.tWarenLager ON tPickliste.kWarenLager = tWarenLager.kWarenLager
	JOIN dbo.tPicklisteStatus ON tPickliste.kPicklisteStatusAngelegt = tPicklisteStatus.kPicklisteStatus		
	LEFT JOIN eazybusiness.dbo.tbenutzer AS Anlagebenutzer ON tPicklisteStatus.kBenutzer = Anlagebenutzer.kBenutzer
	JOIN dbo.tPicklisteStatus AS aktuellerStatus ON tPickliste.kPicklisteStatus = aktuellerStatus.kPicklisteStatus
	LEFT JOIN eazybusiness.dbo.tbenutzer AS LetzteBearbeitung ON aktuellerStatus.kBenutzer = LetzteBearbeitung.kBenutzer
	LEFT JOIN dbo.tPicklisteVorlage ON tPickliste.kPicklistenVorlage = tPicklisteVorlage.kPicklisteVorlage
	LEFT JOIN dbo.tlieferant ON tPickliste.kLieferant = tlieferant.kLieferant
	WHERE	tPickliste.kWarenLager > 0 
			AND (tPickliste.kLieferant = 0 OR tPickliste.kLieferant IS NULL)
			AND (tPickliste.kAnsprechpartner = 0 OR tPickliste.kAnsprechpartner IS NULL)
GO
