USE [eazybusiness]
GO
/****** Object:  View [VersandIntern].[vBestellungBezahlt]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--
-- Berechnung des Bezahlt-Status
--
CREATE VIEW [VersandIntern].[vBestellungBezahlt]
AS
SELECT tAuftrag.kAuftrag AS kBestellung
FROM Verkauf.tAuftragEckdaten
JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragEckdaten.kAuftrag
WHERE tAuftragEckdaten.nIstFuerAuslieferungGesperrt & 1 = 0
GO
