USE [eazybusiness]
GO
/****** Object:  View [VersandIntern].[vBestellPosOffenFIFO2012]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VersandIntern].[vBestellPosOffenFIFO2012]
AS
/*************************************************************************************************************
Beschreibung:	Diese View berechnet (FIFO-Variante - wird zur Laufzeit durch Versand.spSetupFifo geswitched):
				nArtikelTyp	...					Der Artikeltyp entscheidet über die Lieferbarkeit des jeweiligen Artikels
				fAnzahlOffen ...				Noch zu liefernde Menge
				fAnzahlZuPicken ...				Noch zu pickende Menge
				fAnzahlNotwendigerBestand ...	Nötiger Bestand, um Auftragsposition komplett zu erfüllen: bei FIFO mit fortlaufender Summe müssen auch alle "vorhergehenden" Positionen bedient werden können
				fAnzahlVersandSperre ...		(nur bei Versandsperre-Flag) Anzahl offen abzüglich der bereits auf Reservierungs-Picklisten (Typ 3) befindlichen Menge
				IsUmlagerung ...				Umlagerung (= 0 | 1) (spielt eine Rolle für den Lagerbestand)
				Details siehe https://confluence.jtl-software.de/pages/viewpage.action?pageId=100865138 (unten)
*************************************************************************************************************/
SELECT		VAPE.kAuftrag AS kBestellung,
			VAPE.kAuftragPosition AS kBestellPos,
			ISNULL(VAPE.kArtikel, 0) AS kArtikel,
			CASE
				WHEN Art.kArtikel IS NULL THEN 0  -- Freiposition
				WHEN Art.cLagerVariation <> 'N' THEN 1 -- Einfacher Variationsartikel
				WHEN Art.cLagerAktiv = 'N' THEN 2 -- Artikel ohne Lagerbestand
				WHEN Art.nIstTeilmengenArtikel = 1 THEN 4 -- Teilmengen Artikel
			ELSE 3 -- Artikel mit Lagerbestand
			END AS nArtikelTyp,
			VAPE.fAnzahlOffen * VAPE.fTeilmengenfaktorLager AS fAnzahlOffen, -- Noch zu liefernde Menge
			NN.fAnzahlAufPickliste, -- Anzahl bereits auf Picklisten (außer Typ 3) befindlicher Artikel
			NN.fAnzahlVersandSperre, -- (bei Versandsperre-Flag): Anzahl offen abzüglich der bereits auf Reservierungs-Picklisten (Typ 3) befindlichen Menge
			VAPE.fAnzahlOffen * VAPE.fTeilmengenfaktorLager - NN.fAnzahlAufPickliste - NN.fAnzahlVersandSperre AS fAnzahlZuPicken, -- Noch zu pickende Menge
			SUM(VAPE.fAnzahlOffen * VAPE.fTeilmengenfaktorLager
				- NN.fAnzahlAufPickliste
				) OVER (PARTITION BY VAPE.kArtikel
						ORDER BY VAPE.nPrio DESC, VAPE.nPrioDatum, VAPE.kAuftragPosition
						ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
						)
				 - NN.fAnzahlVersandSperre AS fAnzahlNotwendigerBestand, -- Nötiger Bestand, um Auftragsposition komplett zu erfüllen: bei FIFO mit fortlaufender Summe müssen auch alle "vorhergehenden" Positionen bedient werden können
			VAPE.nIstUmlagerung AS IsUmlagerung
FROM		Verkauf.tAuftragPositionEckdaten AS VAPE
LEFT JOIN	dbo.tArtikel AS Art ON Art.kArtikel = VAPE.kArtikel AND Art.nIstVater = 0
LEFT JOIN	Artikel.tArtikelTeilmengen AS ATM ON Art.kArtikel = ATM.kArtikel
LEFT JOIN	(
				SELECT	PLP.kBestellPos,
						CONVERT(DECIMAL(25, 13), SUM(CASE WHEN PL.nType = 3 THEN 0 ELSE PLP.fAnzahl END)) AS fAnzahlAufPL, -- "Normale" Picklisten
						CONVERT(DECIMAL(25, 13), SUM(CASE WHEN PL.nType = 3 THEN PLP.fAnzahl ELSE 0 END)) AS fAnzahlAufPL3 -- Reservierungs-Picklisten
				FROM	dbo.tPicklistePos AS PLP
				JOIN	dbo.tPickliste AS PL ON PL.kPickliste = PLP.kPickliste
				WHERE	PLP.nStatus < 40 -- 40 = Abgeschlossen
				GROUP BY PLP.kBestellPos
			) AS AufPL ON AufPL.kBestellPos = VAPE.kAuftragPosition
CROSS APPLY	(
				SELECT	CASE
							WHEN VAPE.nVersandSperre = 1 THEN VAPE.fAnzahlOffen * VAPE.fTeilmengenfaktorLager - ISNULL(AufPL.fAnzahlAufPL3, 0)
							ELSE 0
						END AS fAnzahlVersandSperre, -- (nur bei Versandsperre-Flag): Anzahl offen abzüglich der bereits auf Reservierungs-Picklisten (Typ 3) befindlichen Menge
						ISNULL(AufPL.fAnzahlAufPL * IIF(ISNULL(ATM.nReservierungsModus, 1) = 1, 1, VAPE.fTeilmengenfaktorLager), 0) AS fAnzahlAufPickliste
			) AS NN -- Nice Names (Hilfs-Konstrukt, um mehrfach im SQL genutzte Werte wiederzuverwenden)
WHERE	VAPE.nIstStuecklistenvater = 0
		AND VAPE.fAnzahlOffen > 0.0;
GO
