USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvPicklistenposition]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvPicklistenposition] AS
SELECT	
	tPicklistePos.kPicklistePos,
	tPicklistePos.kPickliste,
	tPickliste.cPicklisteNr,
	tPicklistePos.fAnzahl,
	vAuftrag.cAuftragsNr AS cBestellNr,
	tLieferschein.cLieferscheinNr,
	vAuftragPosition.cArtNr AS cAuftragArtNr,
	vAuftragPosition.cName AS cString,
	vAuftragPosition.cNameStandard AS cStringStandard,
	tPicklistePosStatus.nStatus,
	CASE WHEN vAuftragPosition.kAuftragStueckliste > 0 AND vAuftragPosition.kAuftragPosition <> vAuftragPosition.kAuftragStueckliste 
			THEN 1 
			ELSE 0
	END AS nIstStueckliste,
	ISNULL(tbenutzer.cName,'') AS LetzterStatusBenutzername,
	ISNULL(vAuftragPosition.kArtikel,0) AS kArtikel
FROM dbo.tPicklistePos
JOIN dbo.tPicklistePosStatus ON tPicklistePos.kPicklistePosStatus = tPicklistePosStatus.kPicklistePosStatus
JOIN Verkauf.vAuftrag ON tPicklistePos.kBestellung = vAuftrag.kAuftrag
JOIN Verkauf.vAuftragPosition ON tPicklistePos.kBestellPos = vAuftragPosition.kAuftragPosition
JOIN dbo.tPickliste ON tPicklistePos.kPickliste = tPickliste.kPickliste
LEFT JOIN dbo.tLieferscheinPos ON tPicklistePos.kLieferscheinPos = tLieferscheinPos.kLieferscheinPos
LEFT JOIN dbo.tLieferschein ON tLieferscheinPos.kLieferschein = tLieferschein.kLieferschein
LEFT JOIN eazybusiness.dbo.tbenutzer ON tPicklistePosStatus.kBenutzer = tbenutzer.kBenutzer
GO
