USE [eazybusiness]
GO
/****** Object:  View [VersandIntern].[vBestellungDropshippingLieferbar]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VersandIntern].[vBestellungDropshippingLieferbar]
-- View zur Ermittlung der Dropshipping-Lieferbarkeit
-- Diese View ist nicht exakt, sondern auf Performance ausgelegt
-- Ignoriert werden die erlaubten Lieferländer, die Nachnahme-Problematik sowie
-- die Lieferbarkeit von Freipositionen mit Dropshipping
AS
SELECT DISTINCT tAuftragPosition.kAuftrag AS kBestellung
FROM Verkauf.tAuftragPositionEckdaten
JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tAuftragPositionEckdaten.kAuftragPosition
JOIN dbo.tliefartikel ON tliefartikel.tArtikel_kArtikel = tAuftragPosition.kArtikel
WHERE tliefartikel.nDropShipping > 0
GO
