USE [eazybusiness]
GO
/****** Object:  View [Versand].[vBestellungLieferInfo]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[vBestellungLieferInfo] 
AS 
SELECT 
		vBestellungLieferInfoProLager.kBestellung,
		vBestellungLieferInfoProLager.nLieferbarEigen, -- Bestand ohne Lieferantenbestand (0  = nicht lieferbar, 1 = teilweise lieferbar, 2 = vollständig lieferbar)
		vBestellungLieferInfoProLager.nLieferbar, -- Bestand mit Lieferantenbestand (0  = nicht lieferbar, 1 = teilweise lieferbar, 2 = vollständig lieferbar)
		vBestellungLieferInfoProLager.nHatTeilmengen -- (0 = Keine Teilmengen, 1 = Teilmengen) 
FROM	VersandIntern.vBestellungLieferInfoProLager
WHERE	vBestellungLieferInfoProLager.kWarenLager = 0
GO
