USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvJtlTrackingPakete]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvJtlTrackingPakete] AS 
SELECT 
	tversand.kVersand AS kVersand,
	tPackage.cTrackingId AS cTrackingID,
	tversand.dErstellt AS dErstellt,
	tversand.nStatus AS nVersandStatus,
	tPackage.dRegisteredAt As dregisteredAt,
	tLieferschein.cLieferscheinNr AS cLieferscheinnummer,
	tLieferschein.kLieferschein AS kLieferschein,
	tAuftrag.cAuftragsNr AS cAuftragsnummer,
	tAuftrag.kAuftrag AS kBestellung,
	ISNULL(tAuftrag.kKunde, 0) AS kKunde,
	tAuftrag.kZahlungsArt AS kZahlungsart,
	tAuftrag.cExterneAuftragsnummer as cExterneBestellnummer,
	tFirmaHistory.kFirma AS kFirma,
	tAuftragEckdaten.cRechnungsnummern as cRechnungsnummer,
	vAuftragRechnungsadresse.cTitel AS cRechnungsadresseTitel,
	vAuftragRechnungsadresse.cFirma AS cRechnungsadresseFirma, 
	vAuftragRechnungsadresse.cVorname AS cRechnungsadresseVorname, 
	vAuftragRechnungsadresse.cName AS cRechnungsadresseNachname, 
	vAuftragRechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
	vAuftragRechnungsadresse.cAdressZusatz AS cRechnungsadresseAdressZusatz,
	vAuftragRechnungsadresse.cStrasse AS cRechnungsadresseStrasse,    
	vAuftragRechnungsadresse.cPLZ AS cRechnungsadressePlz, 
	vAuftragRechnungsadresse.cOrt AS cRechnungsadresseOrt, 
	vAuftragRechnungsadresse.cLand AS cRechnungsadresseLand, 
	vAuftragRechnungsadresse.cMail AS cRechnungsadresseMail, 
	vAuftragRechnungsadresse.cTel AS cRechnungsadresseTelefon, 
	vAuftragRechnungsadresse.cFax AS cRechnungsadresseFax, 
	vAuftragLieferadresse.cTitel AS cLieferadresseTitel,
	vAuftragLieferadresse.cFirma AS cLieferadresseFirma, 
	vAuftragLieferadresse.cVorname AS cLieferadresseVorname, 
	vAuftragLieferadresse.cName AS cLieferadresseNachname, 
	vAuftragLieferadresse.cZusatz AS cLieferadresseZusatz,
	vAuftragLieferadresse.cStrasse AS cLieferadresseStrasse,    
	vAuftragLieferadresse.cPLZ AS cLieferadressePlz,
	vAuftragLieferadresse.cOrt AS cLieferadresseOrt, 
	vAuftragLieferadresse.cLand AS cLieferadresseLand, 
	vAuftragLieferadresse.cBundesland AS cLieferadresseBundesland,
	vAuftragLieferadresse.cMail AS cLieferadresseMail, 
	vAuftragLieferadresse.cTel AS cLieferadresseTelefon, 
	vAuftragLieferadresse.cFax AS cLieferadresseFax, 	
	vAuftragLieferadresse.cAdressZusatz AS cLieferadresseAdressZusatz,
	vAuftragLieferadresse.cAnrede AS cLieferadresseAnrede,
	tAuftrag.cKundenNr AS cKundeNr,
	tPackage.nServiceProvider AS nTrackingServiceProvider,
	tVersandart.cName AS cVersandart,
	tVersandart.kVersandart AS kVersandart,
	tPackage.nCurrentStateType AS nTrackingStatus,
	tFirmaHistory.cName AS cFirma,
	tPackage.dNextUpdateDate AS dnextUpdateAttempt
	FROM dbo.tversand
	JOIN Shipping.tPackage ON tversand.kVersand = tPackage.kVersand
	JOIN dbo.tLieferschein ON tversand.kLieferschein = tLieferschein.kLieferschein
	JOIN Verkauf.tAuftrag ON tLieferschein.kBestellung = tAuftrag.kAuftrag
	JOIN Verkauf.vAuftragRechnungsadresse ON tAuftrag.kAuftrag = vAuftragRechnungsadresse.kAuftrag
	JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tAuftrag.kFirmaHistory
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	LEFT JOIN dbo.tVersandart ON tversand.kVersandart = tVersandart.kVersandart
GO
