USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvLieferscheinWarenlagerausgang]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvLieferscheinWarenlagerausgang]
AS
SELECT
	tLieferscheinPos.kLieferschein,
	tWarenLagerAusgang.kLieferscheinPos, 
	MAX(tWarenLagerAusgang.kWarenLagerAusgang) AS kWarenLagerAusgang, 
	SUM(tWarenLagerAusgang.fAnzahl) AS fAnzahl, 
	dbo.tWarenLagerEingang.dMHD, 
	dbo.tWarenLagerEingang.cChargenNr, 
	Lager.cWarenlagerName, 
	Lager.nIstWMSLager, 
	Lager.cLagerplatz 
FROM dbo.tWarenLagerAusgang 
JOIN dbo.tLieferscheinPos ON tLieferscheinPos.kLieferscheinPos = tWarenLagerAusgang.kLieferscheinPos 
JOIN ( 
	SELECT	 
		tWarenLagerPlatz.kWarenLagerPlatz, 
		tWarenLager.cName AS cWarenlagerName, 
		tWarenLager.nLagerplatzVerwaltung AS nIstWMSLager, 
		tWarenLagerPlatzArtikel.kArtikel AS kArtikel, 
		CASE WHEN tWarenLager.nLagerplatzVerwaltung = 0 
			THEN RTRIM(ISNULL(tWarenLagerPlatzArtikel.cKommentar_1,'') + ' ' + ISNULL(tWarenLagerPlatzArtikel.cKommentar_2,'')) 
			ELSE tWarenLagerPlatz.cName 
		END AS cLagerplatz 
	FROM tWarenLagerPlatz 
	JOIN tWarenLager ON dbo.tWarenLager.kWarenLager = dbo.tWarenLagerPlatz.kWarenLager 
	JOIN tWarenLagerPlatzArtikel ON dbo.tWarenLagerPlatzArtikel.kWarenLagerPlatz = dbo.tWarenLagerPlatz.kWarenLagerPlatz 
) AS Lager ON Lager.kWarenLagerPlatz = tWarenLagerAusgang.kWarenLagerPlatz AND Lager.kArtikel = tWarenLagerAusgang.kArtikel 
JOIN dbo.tWarenLagerEingang ON tWarenLagerEingang.kWarenLagerEingang = tWarenLagerAusgang.kWarenLagerEingang
GROUP BY tLieferscheinPos.kLieferschein, tWarenLagerAusgang.kLieferscheinPos, tWarenLagerEingang.dMHD, tWarenLagerEingang.cChargenNr, Lager.cWarenlagerName, Lager.nIstWMSLager, Lager.cLagerplatz
GO
