USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvLieferscheinposition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvLieferscheinposition] 
AS
SELECT
	tLieferscheinPos.kLieferschein AS kLieferschein,
    tLieferscheinPos.kLieferscheinPos AS kLieferscheinPos,
    tAuftragPosition.kAuftragPosition AS kBestellPos,
    tAuftragPosition.cArtNr AS cArtNr,
    tAuftragPosition.cName AS cName,
    tLieferscheinPos.fAnzahl AS fMenge,
    tLieferscheinPos.cHinweis AS cHinweis,
    ISNULL(tAuftragPosition.kAuftragStueckliste,0) AS kStuecklistenVater,
    tAuftragPosition.kKonfigVater AS kKonfigurationsVater,
	ISNULL(tAuftragPosition.kArtikel,0) AS kArtikel,
	tlagerbestand.fVerfuegbarGesperrt AS fVerfuegbarGesperrt,
	ISNULL(MengeRechnung.fAnzahlAufRechnung, 0) AS fMengeRechnung
FROM dbo.tLieferscheinPos
JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftragPosition = tLieferscheinPos.kBestellPos
LEFT JOIN dbo.tlagerbestand ON tlagerbestand.kArtikel = tAuftragPosition.kArtikel
LEFT JOIN (SELECT 
				tRechnungLieferscheinPosition.kLieferscheinPosition, 
				SUM(tRechnungLieferscheinPosition.fAnzahlAufRechnung) AS fAnzahlAufRechnung
			FROM Rechnung.tRechnungLieferscheinPosition
			GROUP BY tRechnungLieferscheinPosition.kLieferscheinPosition) MengeRechnung ON MengeRechnung.kLieferscheinPosition = tLieferscheinPos.kLieferscheinPos
GO
