USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvAuftragspositionsvariation]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW  [Versand].[lvAuftragspositionsvariation]
AS
SELECT
	vAuftragPosition.kAuftrag AS kBestellung,
	tAuftragpositionEigenschaft.kAuftragPosition AS kBestellPos, 
	tAuftragpositionEigenschaft.cWert,
	teigenschaft.nSort AS nEigenschaftSort
FROM Verkauf.tAuftragpositionEigenschaft
JOIN Verkauf.vAuftragPosition ON vAuftragPosition.kAuftragPosition = tAuftragpositionEigenschaft.kAuftragPosition
LEFT JOIN dbo.teigenschaft ON teigenschaft.kEigenschaft = tAuftragPositionEigenschaft.kEigenschaft
GO
