USE [eazybusiness]
GO
/****** Object:  View [VersandIntern].[vVersandlager]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VersandIntern].[vVersandlager]
AS
SELECT
	0 AS kWarenlager,
	CAST(0 AS TINYINT) AS nTyp -- Dummy-Lager / Alle Lager
UNION ALL
SELECT
	tWarenLager.kWarenLager AS kWarenlager,
	CASE 
		WHEN tWarenLager.nLagerplatzVerwaltung = 0 AND tWarenLager.nFulfillment = 0 THEN CAST(1 AS TINYINT)-- Standardlager
		WHEN tWarenLager.nLagerplatzVerwaltung > 0 THEN CAST(2 AS TINYINT) -- WMS Lager
		WHEN tWarenLager.nFulfillment = 1 THEN CAST(3 AS TINYINT) -- Fulfillment Lager
		WHEN tWarenLager.nFulfillment = 2 THEN CAST(4 AS TINYINT) -- FBA Lager
		WHEN tWarenLager.nFulfillment = 3 THEN CAST(5 AS TINYINT) -- JTLFulfillment Lager
		ELSE CAST(0xFF  AS TINYINT)
	END AS nTyp 
FROM
	dbo.tWarenLager
WHERE	
	tWarenLager.nAktiv > 0 AND 
	ISNULL(tWarenLager.kQuellLager, 0) = 0 AND
	ISNULL(tWarenLager.kZielLager, 0) = 0
GO
