USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvFulfillmentauftragsposition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvFulfillmentauftragsposition]
AS
SELECT          
    tFulfillmentAuftragPos.kFulfillmentAuftragPos,
    tFulfillmentAuftragPos.kFulfillmentAuftrag,
    tFulfillmentAuftragPos.kArtikel, -- dbo.tbestellpos.kArtikel
    tFulfillmentAuftragPos.cArtNr, -- dbo.tbestellpos.cArtNr
    tFulfillmentAuftragPos.cName, -- dbo.tbestellpos.cString
    CASE
        WHEN dbo.pf_amazon_bestellungpos.kFulfillmentAuftragPos IS NOT NULL
            THEN dbo.pf_amazon_bestellungpos.nQuantityPurchased
        ELSE tFulfillmentAuftragPos.fAnzahl-- dbo.tlieferscheinpof.fAnzahl
    END as fAnzahl,
    tFulfillmentAuftragPos.nStatus, -- 1:offen, 30:in bearbeitung, 40: fehler, 50: abgeschlossen
    ISNULL(pf_amazon_bestellungpos.cCarrier, tFulfillmentAuftragPos.cCarrier) AS cCarrier, 
    ISNULL(pf_amazon_bestellungpos.cGrusstext, tFulfillmentAuftragPos.cArtikelGeschenkText) AS cArtikelGeschenkText,
    tFulfillmentAuftragPos.cArtikelHinweis, -- tbestellpos.cHinweis
    ISNULL(pf_amazon_bestellungpos.cTrackingNumber, '') AS cIdentCode,
    tFulfillmentAuftragPos.cErrorType,
    ISNULL(pf_amazon_bestellungpos.nErrorCode, tFulfillmentAuftragPos.nErrorCode) AS nErrorCode,
    ISNULL(pf_amazon_bestellungpos.cErrorMessage, tFulfillmentAuftragPos.cErrorMessage) AS cErrorMessage,
    tFulfillmentAuftragPos.cAbhilfe    
FROM dbo.tFulfillmentAuftragPos
LEFT JOIN dbo.pf_amazon_bestellungpos ON pf_amazon_bestellungpos.kFulfillmentAuftragPos = tFulfillmentAuftragPos.kFulfillmentAuftragPos
GO
