USE [eazybusiness]
GO
/****** Object:  View [Versand].[vBestellungLieferInfoProLager]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[vBestellungLieferInfoProLager] 
AS 
SELECT 
	vBestellungLieferInfoProLager.kBestellung,
	vBestellungLieferInfoProLager.kWarenlager,
	vBestellungLieferInfoProLager.nLieferbarEigen,
	vBestellungLieferInfoProLager.nLieferbar,
	vBestellungLieferInfoProLager.nHatTeilmengen
FROM 
	VersandIntern.vBestellungLieferInfoProLager
GO
