USE [eazybusiness]
GO
/****** Object:  View [VersandIntern].[vBestellPosLieferInfoProLager]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VersandIntern].[vBestellPosLieferInfoProLager]
AS
/*************************************************************************************************************
Beschreibung:	Die View gibt Informationen zur Lieferbarkeit von Auftragspositionen zurück
				(und wird von verschiedenen lv-Views zur Feststellung des Lieferbar-Status ("grün" oder "rot") der Auftragsposition verwendet)
				fAnzahlReserviert ...		Menge (mit Lieferantenbestand)
				fAnzahlReserviertEigen ...	Menge (ohne Lieferantenbestand)
				fAnzahlFehlbestand ...		Zur Erfüllung der Auftragsposition fehlende Menge (mit Lieferantenbestand)
				fAnzahlFehlbestandEigen ...	Zur Erfüllung der Auftragsposition fehlende Menge (ohne Lieferantenbestand)
*************************************************************************************************************/
SELECT
			BPO.kBestellPos,
			VL.kWarenlager,
			VL.nTyp,
			BPO.kBestellung,
			BPO.nArtikelTyp,
			BPO.kArtikel,
			BPO.fAnzahlOffen,
			BPO.fAnzahlZuPicken,

			CASE
				WHEN BPO.nArtikelTyp < 3 THEN BPO.fAnzahlZuPicken -- Artikel ohne Lagerbestand: = Rest des Auftrags
				WHEN NN.fBestandVerfügbar + ISNULL(LiefBest.fBestand, 0) - (BPO.fAnzahlNotwendigerBestand - BPO.fAnzahlZuPicken) <= 0 THEN 0 -- negative Reservierungen gibt es nicht
				WHEN NN.fBestandVerfügbar + ISNULL(LiefBest.fBestand, 0) > BPO.fAnzahlNotwendigerBestand THEN BPO.fAnzahlZuPicken -- nicht mehr reservieren als offen ist
				ELSE NN.fBestandVerfügbar + ISNULL(LiefBest.fBestand, 0) - (BPO.fAnzahlNotwendigerBestand - BPO.fAnzahlZuPicken) -- Differenz reservieren
			END AS fAnzahlReserviert, -- Reserviert-Menge (mit Lieferanten-Bestand)

			CASE
				WHEN BPO.nArtikelTyp < 3 THEN BPO.fAnzahlZuPicken -- Artikel ohne Lagerbestand: = Rest des Auftrags
				WHEN NN.fBestandVerfügbar - (BPO.fAnzahlNotwendigerBestand - BPO.fAnzahlZuPicken) <= 0 THEN 0 -- negative Reservierungen gibt es nicht
				WHEN NN.fBestandVerfügbar > BPO.fAnzahlNotwendigerBestand THEN BPO.fAnzahlZuPicken -- nicht mehr reservieren als offen ist
				ELSE NN.fBestandVerfügbar - (BPO.fAnzahlNotwendigerBestand - BPO.fAnzahlZuPicken) -- Differenz reservieren
			END AS fAnzahlReserviertEigen, -- Reserviert-Menge (ohne Lieferanten-Bestand)

			(SELECT MAX(AlleWerte.Wert) FROM (VALUES (BPO.fAnzahlVersandSperre), (NN2.fAnzahlFehlmenge)) AS AlleWerte(Wert)) AS fAnzahlFehlbestand, -- Zur Erfüllung fehlende Menge (der größere Wert aus fVersandsperre / fAnzahlFehlmenge) (mit Lieferantenbestand)
			(SELECT MAX(AlleWerte.Wert) FROM (VALUES (BPO.fAnzahlVersandSperre), (NN2.fAnzahlFehlmengeEigen)) AS AlleWerte(Wert)) AS fAnzahlFehlbestandEigen -- Zur Erfüllung fehlende Menge (der größere Wert aus fVersandsperre / fAnzahlFehlmenge) (ohne Lieferantenbestand)

FROM		VersandIntern.vBestellPosOffen AS BPO
JOIN		Verkauf.tAuftrag AS VA ON VA.kAuftrag = BPO.kBestellung AND VA.nAuftragStatus = 0
CROSS JOIN	Versand.tVersandlager AS VL
LEFT JOIN	Versand.vLagerbestand AS LagBest ON LagBest.kArtikel = BPO.kArtikel AND LagBest.kWarenlager = VL.kWarenlager -- Hinweis: in Versand.vLagerbestand wird auf Picklisten befindlicher Bestand subtrahiert
LEFT JOIN	Versand.vLieferantenbestand AS LiefBest ON LiefBest.kArtikel = BPO.kArtikel
CROSS APPLY	(SELECT ISNULL(	CASE
								WHEN BPO.IsUmlagerung = 1 THEN LagBest.fBestand
								ELSE LagBest.fBestand - LagBest.fBestandAuslieferungGesperrt
							END, 0) AS fBestandVerfügbar -- Lagerbestand abzüglich gesperrtem oder auf Picklisten befindlichen Bestand
			) AS NN -- Nice Names (Hilfs-Konstrukt, um mehrfach im SQL genutzte Werte wiederzuverwenden)
CROSS APPLY	(SELECT
					CASE
						WHEN BPO.nArtikelTyp < 3 THEN 0	-- Artikel ohne Lagerbestand: Keine Fehlmenge
						WHEN BPO.fAnzahlZuPicken = 0 THEN 0 -- Position bereits ausgeliefert oder auf Pickliste: Keine Fehlmenge
						ELSE BPO.fAnzahlNotwendigerBestand - (NN.fBestandVerfügbar + ISNULL(LiefBest.fBestand, 0)) -- Andere Fälle: Fehlbestand ist Differenz zwischen Lagerbestand und notwendiger Menge
					END AS fAnzahlFehlmenge, -- Zur Erfüllung der Auftragsposition fehlende Menge (mit Lieferantenbestand)
					CASE
						WHEN BPO.nArtikelTyp < 3 THEN 0	-- Artikel ohne Lagerbestand: Keine Fehlmenge
						WHEN BPO.fAnzahlZuPicken = 0 THEN 0 -- Position bereits ausgeliefert oder auf Pickliste: Keine Fehlmenge
						ELSE BPO.fAnzahlNotwendigerBestand - NN.fBestandVerfügbar -- Andere Fälle: Fehlbestand ist Differenz zwischen Lagerbestand und notwendiger Menge
					END AS fAnzahlFehlmengeEigen -- Zur Erfüllung der Auftragsposition fehlende Menge (ohne Lieferantenbestand)
			) AS NN2 -- Nice Names 2 (Hilfs-Konstrukt, um mehrfach im SQL genutzte Werte wiederzuverwenden)
GO
