USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvLieferscheinpaket]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvLieferscheinpaket]
AS
SELECT
	tVersand.kLieferschein AS kLieferschein,
	tVersand.kVersand AS kInternePaketnummer, 
	tVersand.cIdentCode AS cTrackingId, 
	tVersand.cShipmentId AS cSendungsreferenz,
	tVersand.dErstellt AS dVerpackt, 
	tVersand.dVersendet AS dVersendet, 
	tVersand.cHinweis AS cHinweis, 
	tVersand.cFulfillmentCenter AS cFulfillmentCenter, 
	tVersand.dAnkunftszeit AS dVoraussichtlichesLieferdatum,
	ISNULL(dbo.tVersandart.cName, '') AS cVersandartName,
	tVersand.fGewicht AS fGewicht,
	tVersand.nStatus AS nStatus,
	tVersand.cEnclosedReturnIdentCode AS cEnclosedReturnIdentCode
FROM dbo.tVersand 
LEFT JOIN dbo.tVersandart ON dbo.tVersandart.kVersandArt = dbo.tVersand.kVersandArt
GO
