USE [eazybusiness]
GO
/****** Object:  View [VersandIntern].[vBestellungLieferInfoProLager]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [VersandIntern].[vBestellungLieferInfoProLager]
AS
/*************************************************************************************************************
Beschreibung:	Die View ermittelt die Lieferbarkeit eines Auftrags. (FIFO-Variante - wird zur Laufzeit durch Versand.spSetupFifo geswitched)
				Bei normalen Bestellungen wird vom Lagerbestand noch der für die Auslieferung gesperrte Bestand abgezogen, bei Umlagerungen dagegen nicht.
				Artikeltypen, die den Lagerbestand ignorieren (Freipositionen, einfache Variationen, Artikel ohne Lagerbestand) werden als vollständig lieferbar ausgegeben.
				Bei den Lagerartikeln wird fAnzahlNotwendigerBestand mit dem Lagerbestand verglichen und dann anteilig die auslieferbare Menge ermittelt.

				Rückgabewert von nLieferbarEigen (Bestand ohne Lieferantenbestand) / nLieferbar (Bestand mit Lieferantenbestand):
				0 = nicht lieferbar | 1 = teilweise lieferbar | 2 = vollständig lieferbar

				Siehe https://confluence.jtl-software.de/pages/viewpage.action?pageId=100865138 (unten)
*************************************************************************************************************/
SELECT		AD.kBestellung,
			AD.kWarenLager,
			CASE
				WHEN MIN(AD.nLieferbarEigen) = MAX(AD.nLieferbarEigen) THEN MIN(AD.nLieferbarEigen)
				ELSE 1
			END AS nLieferbarEigen, -- Bestand ohne Lieferantenbestand (0 = nicht lieferbar | 1 = teilweise lieferbar | 2 = vollständig lieferbar)
			CASE
				WHEN MIN(AD.nLieferbar) = MAX(AD.nLieferbar) THEN MIN(AD.nLieferbar)
				ELSE 1
			END AS nLieferbar, -- Bestand mit Lieferantenbestand (0 = nicht lieferbar | 1 = teilweise lieferbar | 2 = vollständig lieferbar)
			CASE
				WHEN MIN(AD.nHatTeilmengen) = MAX(AD.nHatTeilmengen) THEN MIN(AD.nHatTeilmengen)
				ELSE 1
			END AS nHatTeilmengen -- (0 = Keine Teilmengen | 1 = Teilmengen)

FROM
	(
		SELECT
			BPSum.kBestellung,
			VL.kWarenlager,
			CASE
				WHEN BPSum.nArtikelTyp = 2 AND VL.nTyp IN (4, 5) THEN 0 -- nicht lieferbar, da keine Lagerführung und FBA/JTL-Fulfillmentlager
				WHEN BPSum.fAnzahlNotwendigerBestand = 0 THEN 2 -- komplett lieferbar, da keine Menge mehr zu liefern ist
				WHEN BPSum.nArtikelTyp < 3 THEN 2 -- komplett lieferbar
				WHEN BPSum.fAnzahlVersandSperre = 0 AND ISNULL(LagBest.fBestand - LagBest.fBestandAuslieferungGesperrt, 0) >= BPSum.fAnzahlNotwendigerBestand THEN 2 -- komplett lieferbar
				WHEN ISNULL(LagBest.fBestand - LagBest.fBestandAuslieferungGesperrt, 0) > 0 THEN 1 -- teilweise lieferbar
				ELSE 0 -- nicht lieferbar
			END AS nLieferbarEigen, -- Bestand ohne Lieferantenbestand
			CASE
				WHEN BPSum.nArtikelTyp = 2 AND VL.nTyp IN (4, 5) THEN 0 -- nicht lieferbar, da keine Lagerführung und FBA/JTL-Fulfillmentlager
				WHEN BPSum.fAnzahlNotwendigerBestand = 0 THEN 0 -- nicht lieferbar, da keine Menge mehr zu liefern ist
				WHEN BPSum.nArtikelTyp < 3 THEN 2 -- komplett lieferbar
				WHEN BPSum.fAnzahlVersandSperre = 0 AND ISNULL(LagBest.fBestand - LagBest.fBestandAuslieferungGesperrt, 0) + ISNULL(LiefBest.fBestand, 0) >= BPSum.fAnzahlNotwendigerBestand THEN 2 -- komplett lieferbar
				WHEN ISNULL(LagBest.fBestand - LagBest.fBestandAuslieferungGesperrt, 0) + ISNULL(LiefBest.fBestand, 0) > 0 THEN 1 -- teilweise lieferbar
				ELSE 0 -- nicht lieferbar
			END AS nLieferbar, -- Bestand mit Lieferantenbestand
			CASE WHEN BPSum.nArtikelTyp = 4 THEN 1 ELSE 0 END AS nHatTeilmengen
		FROM (
				SELECT
						BPO.kBestellung AS kBestellung,
						BPO.kArtikel AS kArtikel,
						BPO.nArtikelTyp AS nArtikelTyp,
						MAX(BPO.fAnzahlNotwendigerBestand) AS fAnzahlNotwendigerBestand,
						SUM(BPO.fAnzahlVersandSperre) AS fAnzahlVersandSperre,
						SUM(BPO.fAnzahlOffen) AS fAnzahlOffen
				FROM	VersandIntern.vBestellPosOffen AS BPO
				JOIN	Verkauf.tAuftrag AS VA ON VA.kAuftrag = BPO.kBestellung AND VA.nAuftragStatus = 0
				GROUP BY BPO.kBestellung, BPO.kArtikel, BPO.nArtikelTyp
			) AS BPSum -- Bestellpos-Summe
		CROSS JOIN	Versand.tVersandlager AS VL
		LEFT JOIN	Versand.vLagerbestand AS LagBest ON LagBest.kArtikel = BPSum.kArtikel AND LagBest.kWarenlager = VL.kWarenlager
		LEFT JOIN	Versand.vLieferantenbestand AS LiefBest ON LiefBest.kArtikel = BPSum.kArtikel
	) AS AD -- AuftragDetails
GROUP BY AD.kBestellung, AD.kWarenLager
GO
