USE [eazybusiness]
GO
/****** Object:  View [Versand].[vBestellPosLieferInfoProLager]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[vBestellPosLieferInfoProLager] 
AS 
SELECT 
	vBestellPosLieferInfoProLager.kBestellPos,
	vBestellPosLieferInfoProLager.kWarenlager,
	vBestellPosLieferInfoProLager.kBestellung,
	vBestellPosLieferInfoProLager.kArtikel,
	vBestellPosLieferInfoProLager.fAnzahlOffen,
	vBestellPosLieferInfoProLager.fAnzahlZuPicken,
	vBestellPosLieferInfoProLager.fAnzahlReserviert,
	vBestellPosLieferInfoProLager.fAnzahlReserviertEigen,
	vBestellPosLieferInfoProLager.fAnzahlFehlbestand,
	vBestellPosLieferInfoProLager.fAnzahlFehlbestandEigen
FROM 
	VersandIntern.vBestellPosLieferInfoProLager
GO
