USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvLieferschein]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvLieferschein] AS SELECT
    tLieferscheinEckdaten.kLieferschein AS kLieferschein,
    tLieferschein.cLieferscheinNr AS cLieferscheinNr,
    tLieferscheinEckdaten.dErstellt AS dErstellt,
    tLieferschein.dGedruckt AS dGedruckt,
    tLieferschein.dMailVersand AS dMailVersand,
    tLieferschein.cHinweis AS cHinweis,
    tLieferschein.kLieferantenBestellung AS kLieferantenBestellung,
    tLieferschein.nFulfillment AS nIstFulfillment,
    vAuftragRechnungsadresse.cTitel AS cRechnungsadresseTitel,
    vAuftragRechnungsadresse.cFirma AS cRechnungsadresseFirma,
    vAuftragRechnungsadresse.cVorname AS cRechnungsadresseVorname,
    vAuftragRechnungsadresse.cName AS cRechnungsadresseNachname,
    vAuftragRechnungsadresse.cZusatz AS cRechnungsadresseZusatz,
    vAuftragRechnungsadresse.cAdressZusatz AS cRechnungsadresseAdressZusatz,
    vAuftragRechnungsadresse.cStrasse AS cRechnungsadresseStrasse,
    vAuftragRechnungsadresse.cPLZ AS cRechnungsadressePlz,
    vAuftragRechnungsadresse.cOrt AS cRechnungsadresseOrt,
    vAuftragRechnungsadresse.cLand AS cRechnungsadresseLand,
    vAuftragRechnungsadresse.cMail AS cRechnungsadresseMail,
    vAuftragRechnungsadresse.cTel AS cRechnungsadresseTelefon,
    vAuftragRechnungsadresse.cFax AS cRechnungsadresseFax,
    vAuftragLieferadresse.cTitel AS cLieferadresseTitel,
    vAuftragLieferadresse.cFirma AS cLieferadresseFirma,
    vAuftragLieferadresse.cVorname AS cLieferadresseVorname,
    vAuftragLieferadresse.cName AS cLieferadresseNachname,
    vAuftragLieferadresse.cZusatz AS cLieferadresseZusatz,
    vAuftragLieferadresse.cStrasse AS cLieferadresseStrasse,
    vAuftragLieferadresse.cPLZ AS cLieferadressePlz,
    vAuftragLieferadresse.cOrt AS cLieferadresseOrt,
    vAuftragLieferadresse.cLand AS cLieferadresseLand,
    vAuftragLieferadresse.cBundesland AS cLieferadresseBundesland,
    vAuftragLieferadresse.cMail AS cLieferadresseMail,
    vAuftragLieferadresse.cTel AS cLieferadresseTelefon,
    vAuftragLieferadresse.cFax AS cLieferadresseFax,
    vAuftragLieferadresse.cAdressZusatz AS cLieferadresseAdressZusatz,
    vAuftragLieferadresse.cAnrede AS cLieferadresseAnrede,
    vVorgangsstatus.cStatus AS cBestellungStatus,
    tAuftrag.cExterneAuftragsnummer AS cBestellungInetBestellNr,
    ISNULL(tAuftrag.kKunde,0) AS kKunde,
    ISNULL(tAuftrag.kPlattform, 0) AS nPlattform,
    tFirmaHistory.kFirma AS kFirma,
    tAuftrag.cAuftragsNr AS cBestellNr,
    CASE
        WHEN tLieferscheinEckdaten.kVersandart > 0
            THEN tLieferscheinEckdaten.kVersandart
        ELSE tAuftrag.kVersandArt
        END AS kVersandart,
    tAuftrag.cKundenNr AS cKundeNr,
    tFirmaHistory.cName AS cFirmaName,
    LieferantenBestellung.cFirma AS cLieferantFirma,
    tWarenLager.cName AS cFulfillmentLager,
    eazybusiness.dbo.tbenutzer.cName AS cBenutzerName,
    CASE
        WHEN LieferantenBestellung.kLieferantenBestellung IS NOT NULL
            THEN 1
        ELSE 0
        END AS nIstDropshipping,
    tLieferscheinEckdaten.dVersendet AS dVersendet,
    tLieferscheinEckdaten.nAnzahlPakete AS nAnzahlPakete,
    tLieferscheinEckdaten.nAnzahlVersendetePakete AS nAnzahlVersendetePakete,
    tLieferscheinEckdaten.nVersandStatus AS nShippingStatus,
    tLieferscheinEckdaten.fArtikelgewicht AS fArtikelgewicht,
    tLieferscheinEckdaten.fVersandgewicht AS fVersandgewicht,
    tPlattform.nTyp AS nPlattformTyp,
    tLieferscheinEckdaten.nRechnungStatus AS nRechnungStatus,
    tAuftrag.nIstExterneRechnung AS nIstExterneRechnung,
    tAuftragText.cAnmerkung AS cAnmerkung
FROM dbo.tLieferscheinEckdaten
JOIN dbo.tLieferschein ON tLieferschein.kLieferschein = tLieferscheinEckdaten.kLieferschein
JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tLieferschein.kBestellung
JOIN Verkauf.vAuftragLieferadresse ON vAuftragLieferadresse.kAuftrag = tAuftrag.kAuftrag
JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = tAuftrag.kAuftrag
JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tAuftrag.kFirmaHistory
LEFT JOIN eazybusiness.dbo.tbenutzer ON eazybusiness.dbo.tbenutzer.kBenutzer = tLieferschein.kBenutzer
LEFT JOIN dbo.tPlattform ON tAuftrag.kPlattform = tPlattform.nPlattform
LEFT JOIN Verkauf.vVorgangsstatus ON vVorgangsstatus.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN
(
    SELECT
         tLieferantenBestellung.kLieferantenBestellung,
         tLieferant.cFirma
    FROM dbo.tLieferantenBestellung
    JOIN dbo.tLieferant ON tLieferant.kLieferant = tLieferantenBestellung.kLieferant
) AS LieferantenBestellung ON LieferantenBestellung.kLieferantenBestellung = tLieferschein.kLieferantenBestellung
LEFT JOIN dbo.tFulfillmentAuftrag ON tLieferscheinEckdaten.kLieferschein = tFulfillmentAuftrag.kLieferschein
LEFT JOIN dbo.tWarenLager ON tFulfillmentAuftrag.kWarenlager = tWarenLager.kWarenLager
LEFT JOIN Verkauf.tAuftragText ON tAuftragText.kAuftrag = tAuftrag.kAuftrag
GO
