USE [eazybusiness]
GO
/****** Object:  View [Versand].[vBestellPosOffen]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[vBestellPosOffen] 
AS 
SELECT 
	vBestellPosOffen.kBestellung,
	vBestellPosOffen.kBestellPos,
	vBestellPosOffen.kArtikel,
	vBestellPosOffen.nArtikelTyp,
	vBestellPosOffen.fAnzahlOffen,
	vBestellPosOffen.fAnzahlZuPicken,
	vBestellPosOffen.fAnzahlNotwendigerBestand 
FROM 
	VersandIntern.vBestellPosOffen
GO
