USE [eazybusiness]
GO
/****** Object:  View [Versand].[vBestellPosLieferInfo]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[vBestellPosLieferInfo] 
AS 
SELECT 
	vBestellPosLieferInfoProLager.kBestellPos,
	vBestellPosLieferInfoProLager.kBestellung,
	vBestellPosLieferInfoProLager.kArtikel,
	vBestellPosLieferInfoProLager.fAnzahlOffen,
	vBestellPosLieferInfoProLager.fAnzahlZuPicken,
	vBestellPosLieferInfoProLager.fAnzahlReserviertEigen,
	vBestellPosLieferInfoProLager.fAnzahlReserviert,
	vBestellPosLieferInfoProLager.fAnzahlFehlbestandEigen,
	vBestellPosLieferInfoProLager.fAnzahlFehlbestand
FROM 
	VersandIntern.vBestellPosLieferInfoProLager
WHERE 
	vBestellPosLieferInfoProLager.kWarenlager = 0
GO
