USE [eazybusiness]
GO
/****** Object:  View [Versand].[vLieferantenbestand]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[vLieferantenbestand]
AS
	SELECT	
		tlagerbestand.kArtikel,
		tlagerbestand.fLagerbestand - tlagerbestand.fLagerbestandEigen AS fBestand
	FROM
		dbo.tlagerbestand
GO
