USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvAuftragsposition]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvAuftragsposition] AS SELECT
	AuftragPosition.kAuftrag AS kBestellung,
	AuftragPosition.kAuftragPosition AS kBestellPos,
	AuftragPosition.kArtikel AS kArtikel,
	AuftragPosition.cArtNr AS cArtNr,
	AuftragPosition.cName AS cArtikelbezeichnung,
	ISNULL(BestellposLieferInfoProLager.kWarenlager, 0) AS kWarenlager,
	AuftragPosition.fAnzahl AS fAuftragsmenge,
	AuftragPosition.nSort AS nSort,
	ISNULL(Geliefert.fAnzahl, 0) AS fBereitsGeliefert,
	ISNULL(BestellposLieferInfoProLager.fAnzahloffen, 0) AS fOffeneAuftragsmenge,
	tLagerbestand.fLagerbestand AS fGesamtbestand,
	ISNULL(BestellposLieferInfoProLager.fAnzahlFehlbestand, 0) AS fFehlbestand,
	ISNULL(BestellposLieferInfoProLager.fAnzahlFehlbestandEigen, 0) AS fFehlbestandEigen,
	AuftragPosition.cHinweis AS cHinweis,
	CASE
		WHEN ISNULL(BestellposLieferInfoProLager.fAnzahlOffen, 0) = 0
			THEN 0 -- (Bereits ausgeliefert)
		WHEN ISNULL(BestellposLieferInfoProLager.fAnzahlFehlbestand, 0) = 0
			THEN 10 -- (Vollständig Lieferbar)
		WHEN ISNULL(BestellposLieferInfoProLager.fAnzahlFehlbestand, 0) >= ISNULL(BestellposLieferInfoProLager.fAnzahlOffen, 0)
			THEN 20 -- (Nicht Lieferbar)
		ELSE 30 -- (Teilweise Lieferbar)
	END AS nLieferbarStatus,
	CASE
		WHEN ISNULL(BestellposLieferInfoProLager.fAnzahlOffen, 0) = 0
			THEN 0 -- (Bereits ausgeliefert)
		WHEN ISNULL(BestellposLieferInfoProLager.fAnzahlFehlbestandEigen, 0) = 0
			THEN 10 -- (Vollständig Lieferbar)
		WHEN ISNULL(BestellposLieferInfoProLager.fAnzahlFehlbestandEigen, 0) >= ISNULL(BestellposLieferInfoProLager.fAnzahlOffen, 0)
			THEN 20 -- (Nicht Lieferbar)
		ELSE 30 -- (Teilweise Lieferbar)
	END AS nLieferbarStatusEigen,
	CASE WHEN AuftragPosition.kArtikel IS NULL
			THEN 1
		ELSE 0
	END AS nIstFreiposition,
	CASE WHEN tartikel.cLagerAktiv = 'Y'
		THEN 1
		ELSE 0
	END AS nIstLagerartikel,
	CASE WHEN tartikel.cLagerVariation = 'Y'
		THEN 1
		ELSE 0
	END AS nHatLagerbestandInVariationen,
	ISNULL(AuftragPosition.kAuftragStueckliste,0) AS kStuecklistenVater,
	AuftragPosition.kKonfigVater AS kKonfigurationsVater,
	tLagerbestand.fZulauf AS fZulauf,
	ISNULL(Gepickt.fAnzahl, 0) AS fAnzahlAufPicklisten,
	ISNULL(BestandWMS.fBestand, 0) AS fBestandWMS,
	ISNULL(BestellposLieferInfoProLager.fAnzahlReserviert, 0) AS fReserviert,
	ISNULL(BestellposLieferInfoProLager.fAnzahlReserviertEigen, 0) AS fReserviertEigen,
	tlagerbestand.fVerfuegbarGesperrt AS fVerfuegbarGesperrt,
	tlagerbestand.fAuslieferungGesperrt AS fAuslieferungGesperrt
FROM Verkauf.tAuftragPosition AS AuftragPosition
LEFT JOIN dbo.tArtikel ON tArtikel.kArtikel = AuftragPosition.kArtikel
LEFT JOIN dbo.tLagerbestand ON tlagerbestand.kArtikel = tArtikel.kArtikel
LEFT JOIN
(
	SELECT
		tLieferscheinPos.kBestellPos,
		SUM(tLieferscheinPos.fAnzahl) AS fAnzahl
	FROM dbo.tLieferscheinPos
	GROUP BY tLieferscheinPos.kBestellPos
) AS Geliefert ON AuftragPosition.kAuftragPosition = Geliefert.kBestellPos
LEFT JOIN
(
	SELECT
		tPicklistePos.kBestellPos,
		SUM(tPicklistePos.fAnzahl) AS fAnzahl
	FROM	dbo.tPicklistePos
	JOIN	dbo.tPickliste ON tPickliste.kPickliste = tPicklistePos.kPickliste
	WHERE	tPickliste.nType <> 3 -- 3 = Reservierungs-Pickliste
	GROUP BY tPicklistePos.kBestellPos
) AS Gepickt ON AuftragPosition.kAuftragPosition = Gepickt.kBestellPos
LEFT JOIN
(
	SELECT
		tLagerbestandProLagerLagerartikel.kArtikel,
		SUM(tLagerbestandProLagerLagerartikel.fBestand) AS fBestand
	FROM dbo.tWarenLager
	JOIN dbo.tLagerbestandProLagerLagerartikel ON tWarenLager.kWarenLager = tLagerbestandProLagerLagerartikel.kWarenlager
	WHERE tWarenLager.nLagerplatzVerwaltung = 1
	GROUP BY tLagerbestandProLagerLagerartikel.kArtikel
) AS BestandWMS ON BestandWMS.kArtikel = tlagerbestand.kArtikel
LEFT JOIN Versand.vBestellposLieferInfoProLager AS BestellposLieferInfoProLager
	ON BestellposLieferInfoProLager.kBestellung = AuftragPosition.kAuftrag
	AND BestellposLieferInfoProLager.kBestellPos = AuftragPosition.kAuftragPosition
WHERE AuftragPosition.nType IN (0,1,10,11,17,18,19,20)
GO
