USE [eazybusiness]
GO
/****** Object:  View [Versand].[lvFulfillmentauftrag]    Script Date: 11.08.2025 17:23:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[lvFulfillmentauftrag] AS
	SELECT
		dbo.tFulfillmentAuftrag.kFulfillmentAuftrag AS Id
	,	dbo.tFulfillmentAuftrag.dErstellt AS dErstelltAm
	,	dbo.tFulfillmentAuftrag.nStatus AS nStatus
	,	dbo.tFulfillmentAuftrag.dInBearbeitung AS dInBearbeitungSeit
	,	dbo.tFulfillmentAuftrag.cKommentar AS cKommentar
	,	dbo.tFulfillmentAuftrag.cLieferPrioritaet AS cLieferprioritaet
	,	dbo.tFulfillmentAuftrag.cBestellnummer AS cBezugsauftragsnummer
	,	dbo.tFulfillmentAuftrag.cLieferscheinnummer AS cBezugslieferscheinnummer
	,	CASE 	WHEN dbo.tFulfillmentAuftrag.nFulfillmentDienstleister = 1 	THEN 'Amazon'
				WHEN dbo.tFulfillmentAuftrag.nFulfillmentDienstleister = 2 	THEN 'JTL-Fulfillment Network'
																			ELSE ISNULL(dbo.tWarenLager.cEmpfaengerFirma, 'Unbekannt') END AS cDienstleister
	,	dbo.tFulfillmentAuftrag.kUser AS nAmazonUser
	,	dbo.tFulfillmentAuftrag.cFehlermeldung AS cFehlermeldung
	,	dbo.tFulfillmentAuftrag.cLieferAdresseKundennummer AS cKundenNummer
	,	dbo.tFulfillmentAuftrag.cLieferAdresseFirma AS cLieferadresseFirma
	,	dbo.tFulfillmentAuftrag.cLieferAdresseVorname AS cLieferadresseVorname
	,	dbo.tFulfillmentAuftrag.cLieferAdresseName AS cLieferadresseNachname
	,	dbo.tFulfillmentAuftrag.cLieferAdresseStrasse AS cLieferadresseStrasse
	,	dbo.tFulfillmentAuftrag.cLieferAdressePLZ AS cLieferadressePlz
	,	dbo.tFulfillmentAuftrag.cLieferAdresseOrt AS cLieferadresseOrt
	,	dbo.tFulfillmentAuftrag.cLieferadresseBundesland AS cLieferadresseBundesland
	,	dbo.tFulfillmentAuftrag.cLieferAdresseLand AS cLieferadresseLand
	,	dbo.tFulfillmentAuftrag.cLieferAdresseEmail AS cLieferadresseMail
	,	dbo.tFulfillmentAuftrag.cLieferAdresseTel AS cLieferadresseTelefon
	,	dbo.tFulfillmentAuftrag.cLieferAdresseFax AS cLieferadresseFax
	,	dbo.tFulfillmentAuftrag.cLieferAdressZusatz AS cLieferadresseAdressZusatz
	,	dbo.tFulfillmentAuftrag.cLieferZusatz AS cLieferadresseZusatz
	,	dbo.tFulfillmentAuftrag.cLieferAdresseAnrede AS cLieferadresseAnrede
	,	dbo.tFulfillmentAuftrag.nFulfillmentDienstleister
	,	dbo.tFulfillmentAuftrag.cStornoCode
	,	dbo.tFulfillmentAuftrag.cStornoGrund
	,	dbo.tFulfillmentAuftrag.kKunde
	,	tFirmaHistory.kFirma
	,	tAuftrag.cKundenNr AS cKundeNr
	,	vAuftragRechnungsadresse.cTitel AS cRechnungsadresseTitel
	,	vAuftragRechnungsadresse.cFirma AS cRechnungsadresseFirma
	,	vAuftragRechnungsadresse.cVorname AS cRechnungsadresseVorname
	,	vAuftragRechnungsadresse.cName AS cRechnungsadresseNachname
	,	vAuftragRechnungsadresse.cZusatz AS cRechnungsadresseZusatz
	,	vAuftragRechnungsadresse.cAdressZusatz AS cRechnungsadresseAdressZusatz
	,	vAuftragRechnungsadresse.cStrasse AS cRechnungsadresseStrasse
	,	vAuftragRechnungsadresse.cPLZ AS cRechnungsadressePlz
	,	vAuftragRechnungsadresse.cOrt AS cRechnungsadresseOrt
	,	vAuftragRechnungsadresse.cLand AS cRechnungsadresseLand
	,	vAuftragRechnungsadresse.cMail AS cRechnungsadresseMail
	,	vAuftragRechnungsadresse.cTel AS cRechnungsadresseTelefon
	,	vAuftragRechnungsadresse.cFax AS cRechnungsadresseFax
	,	CASE WHEN dbo.tFulfillmentAuftrag.nFulfillmentDienstleister = 2
		THEN FulfillmentNetwork.tOutboundRef.cOutboundId
		ELSE tAuftrag.cExterneAuftragsnummer END AS cTransaktionsnummer
	FROM dbo.tFulfillmentAuftrag
	JOIN dbo.tLieferschein ON tLieferschein.kLieferschein = tFulfillmentAuftrag.kLieferschein
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = dbo.tLieferschein.kBestellung
	JOIN dbo.tFirmaHistory ON tFirmaHistory.kFirmaHistory = tAuftrag.kFirmaHistory
	JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = tAuftrag.kAuftrag
	JOIN dbo.tWarenLager ON dbo.tFulfillmentAuftrag.kWarenlager = dbo.tWarenLager.kWarenLager
	LEFT JOIN FulfillmentNetwork.tOutboundRef on dbo.tFulfillmentAuftrag.kFulfillmentAuftrag = FulfillmentNetwork.tOutboundRef.kFulfillmentAuftrag

    UNION  ALL
	--
	-- Wenn es beim Abgleich mit dem JTL-Fulfillment Network einen Fehler gab, wird der zugehörige Lieferschein gelöscht und die Bestände zurück gebucht, damit der Auftrag wieder ausgeliefert werden kann.
	-- Der fehlerhafte Auftrag soll aber mit der Fehlermeldung noch in der Versandverwaltung zu sehen sein. Dazu dieses UNION 
	--
    SELECT
		FulfillmentAuftrag.kFulfillmentAuftrag AS Id
	,	FulfillmentAuftrag.dErstellt AS dErstelltAm
	,	FulfillmentAuftrag.nStatus AS nStatus
	,	FulfillmentAuftrag.dInBearbeitung AS dInBearbeitungSeit
	,	FulfillmentAuftrag.cKommentar AS cKommentar
	,	FulfillmentAuftrag.cLieferPrioritaet AS cLieferprioritaet
	,	FulfillmentAuftrag.cBestellnummer AS cBezugsauftragsnummer
	,	FulfillmentAuftrag.cLieferscheinnummer AS cBezugslieferscheinnummer
	,	'JTL-Fulfillment Network' AS cDienstleister
	,	FulfillmentAuftrag.kUser AS nAmazonUser
	,	FulfillmentAuftrag.cFehlermeldung AS cFehlermeldung
	,	FulfillmentAuftrag.cLieferAdresseKundennummer AS cKundenNummer
	,	FulfillmentAuftrag.cLieferAdresseFirma AS cLieferadresseFirma
	,	FulfillmentAuftrag.cLieferAdresseVorname AS cLieferadresseVorname
	,	FulfillmentAuftrag.cLieferAdresseName AS cLieferadresseNachname
	,	FulfillmentAuftrag.cLieferAdresseStrasse AS cLieferadresseStrasse
	,	FulfillmentAuftrag.cLieferAdressePLZ AS cLieferadressePlz
	,	FulfillmentAuftrag.cLieferAdresseOrt AS cLieferadresseOrt
	,	FulfillmentAuftrag.cLieferadresseBundesland AS cLieferadresseBundesland
	,	FulfillmentAuftrag.cLieferAdresseLand AS cLieferadresseLand
	,	FulfillmentAuftrag.cLieferAdresseEmail AS cLieferadresseMail
	,	FulfillmentAuftrag.cLieferAdresseTel AS cLieferadresseTelefon
	,	FulfillmentAuftrag.cLieferAdresseFax AS cLieferadresseFax
	,	FulfillmentAuftrag.cLieferAdressZusatz AS cLieferadresseAdressZusatz
	,	FulfillmentAuftrag.cLieferZusatz AS cLieferadresseZusatz
	,	FulfillmentAuftrag.cLieferAdresseAnrede AS cLieferadresseAnrede
	,	FulfillmentAuftrag.nFulfillmentDienstleister
	,	FulfillmentAuftrag.cStornoCode
	,	FulfillmentAuftrag.cStornoGrund
	,	FulfillmentAuftrag.kKunde
	,	0 AS kFirma
	,	'' AS cKundeNr
	,	'Gelöscht' AS cRechnungsadresseTitel
	,	'Gelöscht' AS cRechnungsadresseFirma
	,	'Gelöscht' AS cRechnungsadresseVorname
	,	'Gelöscht' AS cRechnungsadresseNachname
	,	'Gelöscht' AS cRechnungsadresseZusatz
	,	'Gelöscht' AS cRechnungsadresseAdressZusatz
	,	'Gelöscht' AS cRechnungsadresseStrasse
	,	'Gelöscht' AS cRechnungsadressePlz
	,	'Gelöscht' AS cRechnungsadresseOrt
	,	'Gelöscht' AS cRechnungsadresseLand
	,	'Gelöscht' AS cRechnungsadresseMail
	,	'Gelöscht' AS cRechnungsadresseTelefon
	,	'Gelöscht' AS cRechnungsadresseFax
	,	'' AS cTransaktionsnummer
	FROM dbo.tFulfillmentAuftrag AS FulfillmentAuftrag
	WHERE FulfillmentAuftrag.nFulfillmentDienstleister = 2 AND FulfillmentAuftrag.kLieferschein = 0
GO
