USE [eazybusiness]
GO
/****** Object:  View [Versand].[vLagerbestand]    Script Date: 11.08.2025 17:23:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Versand].[vLagerbestand]
AS
/*************************************************************************************************************
Beschreibung:	Diese View berechnet den für den Versand verfügbaren Lagerbestand.
				(d.h. aktuell auf Picklisten befindliche Artikel werden abgezogen)
				kWarenlager = 0 wird für "alle" Warenlager gebraucht.
*************************************************************************************************************/
	SELECT		LB.kArtikel,
				0 AS kWarenlager,
				LB.fLagerbestandEigen - ISNULL(AufPL.fAnzahl, 0.0) AS fBestand,
				LB.fAuslieferungGesperrt AS fBestandAuslieferungGesperrt
	FROM		dbo.tlagerbestand AS LB
	LEFT JOIN	(
					SELECT	PLP.kArtikel AS kArtikel,
							SUM(PLP.fAnzahl) AS fAnzahl
					FROM	dbo.tPicklistePos AS PLP
					JOIN	dbo.tPickliste AS PL ON PL.kPickliste = PLP.kPickliste
					WHERE	PLP.nStatus < 40 -- 40 = Abgeschlossen
							AND PL.nType <> 3 -- 3 = Reservierungspicklisten; diese zählen hier nicht als "normale" Picklisten
					GROUP BY PLP.kArtikel
				) AS AufPL ON AufPL.kArtikel = LB.kArtikel

	UNION ALL

	SELECT		LBPL.kArtikel,
				LBPL.kWarenLager,
				ISNULL(LBPL.fBestand, 0.0) - ISNULL(AufPL.fAnzahl, 0.0) AS fBestand,
				LBPL.fAuslieferungGesperrt AS fBestandAuslieferungGesperrt	
	FROM		dbo.tLagerbestandProLagerLagerartikel AS LBPL
	LEFT JOIN	(
					SELECT	PLP.kArtikel AS kArtikel,
							PLP.kWarenlager AS kWarenlager,
							SUM(PLP.fAnzahl) AS fAnzahl
					FROM	dbo.tPicklistePos AS PLP
					JOIN	dbo.tPickliste AS PL ON PL.kPickliste = PLP.kPickliste
					WHERE	PLP.nStatus < 40 -- 40 = Abgeschlossen
							AND PL.nType <> 3 -- 3 = Reservierungspicklisten; diese zählen hier nicht als "normale" Picklisten
					GROUP BY PLP.kArtikel, PLP.kWarenlager
				) AS AufPL ON AufPL.kArtikel = LBPL.kArtikel AND AufPL.kWarenlager = LBPL.kWarenlager
GO
