USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tWMSErrorLog]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tWMSErrorLog](
	[cName] [nvarchar](255) NOT NULL,
	[nProzess] [int] NOT NULL,
	[cQuelle] [nvarchar](255) NOT NULL,
	[nTyp] [int] NOT NULL,
	[nLevel] [int] NOT NULL,
	[dTimeStamp] [datetime] NOT NULL,
	[kBenutzer] [int] NULL,
	[cArbeitsPlatz] [nvarchar](4000) NULL,
	[cValue] [nvarchar](4000) NULL,
	[cValueBig] [nvarchar](max) NULL,
	[cValueXML] [xml] NULL,
	[kKey1] [int] NULL,
	[kKey2] [int] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
