USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tPermanentInventurWarenLagerPlatzType]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tPermanentInventurWarenLagerPlatzType](
	[kWarenLager] [int] NOT NULL,
	[nWarenLagerPlatzType] [int] NOT NULL,
 CONSTRAINT [PK_WMS_tPermanentInventurWarenLagerPlatzType] PRIMARY KEY CLUSTERED 
(
	[kWarenLager] ASC,
	[nWarenLagerPlatzType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
