USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tPicklistenReservierungVorlagenLock]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tPicklistenReservierungVorlagenLock](
	[kPicklistenVorlage] [int] NOT NULL,
	[dZeitstempel] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
