USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tPicklisteVorlageSortierungsKriterium]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tPicklisteVorlageSortierungsKriterium](
	[kPicklisteVorlage] [int] NOT NULL,
	[nAktiv] [bit] NOT NULL,
	[nSort] [tinyint] NOT NULL,
	[nID] [tinyint] NOT NULL,
	[Aufsteigend] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_WMS_tPicklisteVorlageSortierungsKriterium] PRIMARY KEY CLUSTERED 
(
	[kPicklisteVorlage] ASC,
	[nSort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
