USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tVerpackenSubset]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tVerpackenSubset](
	[kVerpackenSubset] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLagerEingangSubset] [int] NOT NULL,
	[cSubsetNumber] [nvarchar](100) NOT NULL,
	[fFactor] [decimal](25, 13) NOT NULL,
	[kAuftragsPos] [int] NOT NULL,
	[kPickliste] [int] NOT NULL,
	[kAuftrag] [int] NOT NULL,
	[nTyp] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_WMS_tVerpackenSubset] PRIMARY KEY CLUSTERED 
(
	[kVerpackenSubset] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
