USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tWarehouseBinDevice]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tWarehouseBinDevice](
	[kWarehouseBinDevice] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLagerPlatz] [int] NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cValue] [ntext] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_WMS_tWarehouseBinDevice] PRIMARY KEY CLUSTERED 
(
	[kWarehouseBinDevice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [WMS].[tWarehouseBinDevice]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tWarehouseBinDevice_kWarenLagerPlatz] FOREIGN KEY([kWarenLagerPlatz])
REFERENCES [dbo].[tWarenLagerPlatz] ([kWarenLagerPlatz])
ON DELETE CASCADE
GO
ALTER TABLE [WMS].[tWarehouseBinDevice] CHECK CONSTRAINT [FK_WMS_tWarehouseBinDevice_kWarenLagerPlatz]
GO
