USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tStatistikPicklisten]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tStatistikPicklisten](
	[dTimeStamp] [datetime] NULL,
	[cName] [nvarchar](255) NULL,
	[kPicklisteVorlage] [int] NULL,
	[dStartZeit] [datetime] NULL,
	[dEndZeit] [datetime] NULL,
	[nAnzahlAuftraege] [int] NULL,
	[dSekunden] [int] NULL,
	[dMilliSec] [int] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
