USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tSerialNumber]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tSerialNumber](
	[kSerialNumber] [int] IDENTITY(1,1) NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[kArtikel] [int] NOT NULL,
	[cSerialNumber] [nvarchar](128) NOT NULL,
	[kWarenlagerEingang] [int] NULL,
	[kAuftragPos] [int] NULL,
	[kLieferscheinPos] [int] NULL,
	[kLieferantenBestellungPos] [int] NULL,
	[kRMRetourePos] [int] NULL,
	[kPicklistePos] [int] NULL,
	[kBenutzerCreated] [int] NOT NULL,
	[nIsActive] [bit] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_WMS_tSerialNumber] PRIMARY KEY CLUSTERED 
(
	[kSerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [WMS].[tSerialNumber]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tSerialNumber_kArtikel] FOREIGN KEY([kArtikel])
REFERENCES [dbo].[tArtikel] ([kArtikel])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [WMS].[tSerialNumber] CHECK CONSTRAINT [FK_WMS_tSerialNumber_kArtikel]
GO
ALTER TABLE [WMS].[tSerialNumber]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tSerialNumber_kPicklistePos] FOREIGN KEY([kPicklistePos])
REFERENCES [dbo].[tPicklistePos] ([kPicklistePos])
ON UPDATE SET NULL
ON DELETE SET NULL
GO
ALTER TABLE [WMS].[tSerialNumber] CHECK CONSTRAINT [FK_WMS_tSerialNumber_kPicklistePos]
GO
ALTER TABLE [WMS].[tSerialNumber]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tSerialNumber_kWarenlager] FOREIGN KEY([kWarenlager])
REFERENCES [dbo].[tWarenLager] ([kWarenLager])
GO
ALTER TABLE [WMS].[tSerialNumber] CHECK CONSTRAINT [FK_WMS_tSerialNumber_kWarenlager]
GO
ALTER TABLE [WMS].[tSerialNumber]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tSerialNumber_kWarenlagerEingang] FOREIGN KEY([kWarenlagerEingang])
REFERENCES [dbo].[tWarenLagerEingang] ([kWarenLagerEingang])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [WMS].[tSerialNumber] CHECK CONSTRAINT [FK_WMS_tSerialNumber_kWarenlagerEingang]
GO
