USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tPicklistenVorschauSyncro]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tPicklistenVorschauSyncro](
	[kPicklistenVorschauSyncro] [int] IDENTITY(1,1) NOT NULL,
	[kPicklistenVorlage] [int] NOT NULL,
	[nAnzahl] [int] NULL,
	[bInBerechnung] [bit] NOT NULL,
	[dZeitstempel] [datetime2](7) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_WMS_tPicklistenVorschauSyncro] PRIMARY KEY CLUSTERED 
(
	[kPicklistenVorschauSyncro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
