USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tMobileAuth]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tMobileAuth](
	[kAuthCode] [int] NOT NULL,
	[kMandant] [int] NULL,
 CONSTRAINT [PK_wms_tMobileAuth] PRIMARY KEY CLUSTERED 
(
	[kAuthCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
