USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tVerpackenSubsetDetails]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tVerpackenSubsetDetails](
	[kVerpackenSubset] [int] NOT NULL,
	[kDimension] [int] NOT NULL,
	[fValue] [decimal](25, 13) NOT NULL,
	[fGroundValue] [decimal](25, 13) NOT NULL,
	[kMassEinheit] [int] NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_WMS_tVerpackenSubsetDetails] PRIMARY KEY CLUSTERED 
(
	[kVerpackenSubset] ASC,
	[kDimension] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
