USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tStatistikEazyShipping]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tStatistikEazyShipping](
	[dTimeStamp] [datetime] NULL,
	[kBestellung] [int] NULL,
	[dStartZeit] [datetime] NULL,
	[dEndZeit] [datetime] NULL,
	[nAnzahlWMSPackItem] [int] NULL,
	[nAnzahlWMSPackItemData] [int] NULL,
	[nAnzahlWarenlagerAusgaenge] [int] NULL,
	[dSekunden] [int] NULL,
	[dMilliSec] [int] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
