USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tWMSErrorLogController]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tWMSErrorLogController](
	[nProzess] [int] NOT NULL,
	[cQuelle] [nvarchar](255) NOT NULL,
	[nAktiv] [tinyint] NOT NULL,
	[nLevel] [int] NOT NULL,
	[cArbeitsPlatz] [nvarchar](4000) NULL,
	[kBenutzer] [int] NULL,
	[nSaveMethod] [int] NOT NULL,
	[dStartZeit] [datetime] NOT NULL,
	[dEndZeit] [datetime] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
