USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tVersandKartonage]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tVersandKartonage](
	[kVersand] [int] NOT NULL,
	[kAuftragPosition] [int] NOT NULL,
	[fAnzahl] [decimal](25, 13) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_WMS_tVersandKartonage] PRIMARY KEY CLUSTERED 
(
	[kVersand] ASC,
	[kAuftragPosition] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
