USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tTexteMitValues]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tTexteMitValues](
	[kSessionID] [int] NULL,
	[kBenutzer] [int] NULL,
	[nTextID] [int] NULL,
	[dZeitstempel] [datetime] NULL,
	[cValue1] [nvarchar](255) NULL,
	[cValue2] [nvarchar](255) NULL,
	[cValue3] [nvarchar](255) NULL,
	[cValue4] [nvarchar](255) NULL,
	[cValue5] [nvarchar](255) NULL,
	[nValue1] [int] NULL,
	[nValue2] [int] NULL,
	[bRowversion] [timestamp] NOT NULL
) ON [PRIMARY]
GO
