USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tPicklisteVorlageSichtbarkeitVersandBox]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tPicklisteVorlageSichtbarkeitVersandBox](
	[kPicklisteVorlage] [int] NOT NULL,
	[kVersandBox] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_tPicklisteVorlageSichtbarkeitVersandBox] PRIMARY KEY CLUSTERED 
(
	[kPicklisteVorlage] ASC,
	[kVersandBox] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
