USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tPermanentInventurOptionen]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tPermanentInventurOptionen](
	[kWarenLager] [int] NOT NULL,
	[nPermanentInventur] [bit] NOT NULL,
	[nPermanentInventurProzessSaKo] [bit] NOT NULL,
	[nPermanentInventurProzessRoKo] [bit] NOT NULL,
	[nPermanentInventurProzessUmlagerung] [bit] NOT NULL,
	[nPermanentInventurProzessMinusbuchung] [bit] NOT NULL,
	[nPermanentInventurDayMo] [bit] NOT NULL,
	[nPermanentInventurDayDi] [bit] NOT NULL,
	[nPermanentInventurDayMi] [bit] NOT NULL,
	[nPermanentInventurDayDo] [bit] NOT NULL,
	[nPermanentInventurDayFr] [bit] NOT NULL,
	[nPermanentInventurDaySa] [bit] NOT NULL,
	[nPermanentInventurDaySo] [bit] NOT NULL,
	[nPermanentInventurProcedure] [int] NOT NULL,
	[nPermanentInventurProcedureSkip] [bit] NOT NULL,
	[nPermanentInventurWithStock] [bit] NOT NULL,
	[nPermanentInventurMaxQuantity] [decimal](28, 14) NOT NULL,
	[nPermanentInventurMaxItems] [int] NOT NULL,
	[nPermanentInventurMinMonth] [int] NOT NULL,
	[nPermanentInventurCheckList] [bit] NOT NULL,
 CONSTRAINT [PK_WMS_tPermanentInventurOptionen] PRIMARY KEY CLUSTERED 
(
	[kWarenLager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
