USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tMobileBenutzer]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tMobileBenutzer](
	[kMobileBenutzer] [int] IDENTITY(1,1) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[cUniqueId] [nvarchar](255) NOT NULL,
	[dLetzteAktion] [datetime] NOT NULL,
	[cIpAddress] [nvarchar](15) NULL,
	[kBenutzer] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
 CONSTRAINT [PK_WMS_tMobileBenutzer] PRIMARY KEY CLUSTERED 
(
	[kMobileBenutzer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
