USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tReplenishmentDestination]    Script Date: 11.08.2025 17:23:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tReplenishmentDestination](
	[kAuftragPos] [int] NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[kWarenlagerBereich] [int] NULL,
	[kWarenlagerPlatz] [int] NULL,
	[kResource] [int] NULL,
 CONSTRAINT [PK_WMS_tReplenishmentDestination] PRIMARY KEY CLUSTERED 
(
	[kAuftragPos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
