USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tInventurSerialNumber]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tInventurSerialNumber](
	[kInventurSerialNumber] [int] IDENTITY(1,1) NOT NULL,
	[cSerialNumber] [nvarchar](128) NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kWmsInventurLog] [int] NOT NULL,
 CONSTRAINT [PK_WMS_tInventurSerialNumber] PRIMARY KEY CLUSTERED 
(
	[kInventurSerialNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [WMS].[tInventurSerialNumber]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tInventurSerialNumber_kWmsInventurLog] FOREIGN KEY([kWmsInventurLog])
REFERENCES [dbo].[tWmsInventurlog] ([kWmsInventurlog])
ON DELETE CASCADE
GO
ALTER TABLE [WMS].[tInventurSerialNumber] CHECK CONSTRAINT [FK_WMS_tInventurSerialNumber_kWmsInventurLog]
GO
