USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tWarenLagerEingangHistorieSerialnumber]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tWarenLagerEingangHistorieSerialnumber](
	[kWarenLagerEingangHistorieSerialnumber] [int] IDENTITY(1,1) NOT NULL,
	[kWarenLagerEingangHistorie] [int] NULL,
	[kSerialNumber] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[kArtikelHistory] [int] NULL,
	[dTimestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_WMS_tWarenLagerEingangHistorieSerialnumber] PRIMARY KEY CLUSTERED 
(
	[kWarenLagerEingangHistorieSerialnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [WMS].[tWarenLagerEingangHistorieSerialnumber]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tWarenLagerEingangHistorieSerialnumber_kArtikelHistory] FOREIGN KEY([kArtikelHistory])
REFERENCES [dbo].[tArtikelHistory] ([kArtikelHistory])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [WMS].[tWarenLagerEingangHistorieSerialnumber] CHECK CONSTRAINT [FK_WMS_tWarenLagerEingangHistorieSerialnumber_kArtikelHistory]
GO
ALTER TABLE [WMS].[tWarenLagerEingangHistorieSerialnumber]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tWarenLagerEingangHistorieSerialnumber_kSerialNumber] FOREIGN KEY([kSerialNumber])
REFERENCES [WMS].[tSerialNumber] ([kSerialNumber])
ON DELETE CASCADE
GO
ALTER TABLE [WMS].[tWarenLagerEingangHistorieSerialnumber] CHECK CONSTRAINT [FK_WMS_tWarenLagerEingangHistorieSerialnumber_kSerialNumber]
GO
ALTER TABLE [WMS].[tWarenLagerEingangHistorieSerialnumber]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tWarenLagerEingangHistorieSerialnumber_kWarenLagerEingangHistorie] FOREIGN KEY([kWarenLagerEingangHistorie])
REFERENCES [dbo].[tWarenLagerEingangHistorie] ([kWarenLagerEingangHistorie])
ON DELETE CASCADE
GO
ALTER TABLE [WMS].[tWarenLagerEingangHistorieSerialnumber] CHECK CONSTRAINT [FK_WMS_tWarenLagerEingangHistorieSerialnumber_kWarenLagerEingangHistorie]
GO
