USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tInventurArtikel]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tInventurArtikel](
	[kArtikel] [int] NOT NULL,
	[kWmsInventur] [int] NOT NULL,
	[nBearbeitet] [tinyint] NOT NULL,
	[dInventurDatum] [datetime] NULL,
 CONSTRAINT [PK_WMS_tInventurArtikel] PRIMARY KEY CLUSTERED 
(
	[kArtikel] ASC,
	[kWmsInventur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [WMS].[tInventurArtikel]  WITH CHECK ADD  CONSTRAINT [FK_WMS_tInventurArtikel_kWmsInventur] FOREIGN KEY([kWmsInventur])
REFERENCES [dbo].[tWmsInventur] ([kWmsInventur])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [WMS].[tInventurArtikel] CHECK CONSTRAINT [FK_WMS_tInventurArtikel_kWmsInventur]
GO
