USE [eazybusiness]
GO
/****** Object:  Table [WMS].[tAutomatikLagerConfig]    Script Date: 11.08.2025 17:23:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [WMS].[tAutomatikLagerConfig](
	[kAutomatikLagerConfig] [int] IDENTITY(1,1) NOT NULL,
	[kWarenlager] [int] NOT NULL,
	[cUrl] [nvarchar](255) NOT NULL,
	[cName] [nvarchar](255) NOT NULL,
	[nTyp] [int] NOT NULL,
	[bRowversion] [timestamp] NOT NULL,
	[nAutostoreContentValuation] [tinyint] NOT NULL,
 CONSTRAINT [PK_wms_tAutomatikLagerConfig] PRIMARY KEY CLUSTERED 
(
	[kAutomatikLagerConfig] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [WMS].[tAutomatikLagerConfig] ADD  CONSTRAINT [DF_tAutomatikLagerConfig_nTyp]  DEFAULT ((0)) FOR [nTyp]
GO
ALTER TABLE [WMS].[tAutomatikLagerConfig] ADD  CONSTRAINT [DF_WMS_tAutomatikLagerConfig_nAutostoreSimpleContentValuation]  DEFAULT ((0)) FOR [nAutostoreContentValuation]
GO
