USE [eazybusiness]
GO
/****** Object:  Table [Worker].[tStatus]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Worker].[tStatus](
	[kMandant] [int] NOT NULL,
	[nAbgleichstyp] [tinyint] NOT NULL,
	[kZiel] [int] NOT NULL,
	[dZeitstempelUtc] [datetime] NOT NULL,
	[nStatus] [int] NOT NULL,
	[cProgressText] [nvarchar](256) NULL,
 CONSTRAINT [PK_Worker_tStatus] PRIMARY KEY CLUSTERED 
(
	[kMandant] ASC,
	[nAbgleichstyp] ASC,
	[kZiel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
