USE [eazybusiness]
GO
/****** Object:  Table [Worker].[tSchedule]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Worker].[tSchedule](
	[nWochentag] [int] NOT NULL,
	[nMinute] [int] NOT NULL,
 CONSTRAINT [PK_Worker_tSchedule] PRIMARY KEY CLUSTERED 
(
	[nWochentag] ASC,
	[nMinute] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
