USE [eazybusiness]
GO
/****** Object:  Table [Worker].[tConfig]    Script Date: 11.08.2025 17:23:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Worker].[tConfig](
	[nRequestStatus] [int] NULL,
	[nRequestSource] [int] NULL,
	[cEmailSchedule] [nvarchar](100) NULL
) ON [PRIMARY]
GO
