USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[lvZahlungsabgleichLogeintrag]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[lvZahlungsabgleichLogeintrag]
AS
SELECT tZahlungsabgleichLogeintrag.kZahlungsabgleichLogeintrag,
	   tZahlungsabgleichLogeintrag.kZahlungsabgleichLogsitzung,
	   tZahlungsabgleichLogeintrag.dZeitpunkt,
	   tZahlungsabgleichLogeintrag.nSchweregrad,
	   tZahlungsabgleichLogeintrag.cMeldung,
	   tZahlungsabgleichLogeintrag.kZahlungsabgleichModul,
	   tZahlungsabgleichLogeintrag.cKontoIdentifikation
FROM dbo.tZahlungsabgleichLogeintrag;
GO
