USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[vOffenerPostenEingangsrechnungZahlung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[vOffenerPostenEingangsrechnungZahlung]
AS
SELECT
	tZahlung.kZahlung,
	tZahlung.fBetrag,
	tZahlung.dDatum,
	tZahlung.cExternalTransactionId AS cTransactionId,
	tEingangsrechnung.kEingangsrechnung,
	tEingangsrechnung.cFremdbelegnummer,
	tEingangsrechnung.kLieferant,
	tWaehrung.cEAMapping AS cStandardWaehrungISO
FROM 
	dbo.tzahlung
JOIN 
	dbo.tEingangsrechnung ON tEingangsrechnung.kEingangsrechnung = tZahlung.kEingangsrechnung
JOIN 
	dbo.tWaehrung ON tWaehrung.nStandard = 1
WHERE 
	ISNULL(tZahlung.kZahlungsabgleichUmsatz, 0) = 0
GO
