USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[vOffenerPostenEingangsrechnung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[vOffenerPostenEingangsrechnung]
AS
SELECT
	tEingangsrechnung.kEingangsrechnung,
	tEingangsrechnung.cFremdbelegnummer,
	tEingangsrechnung.dErstellt,
	tEingangsrechnung.nDeleted,
	tEingangsrechnung.nStatus,
	tEingangsrechnung.dBelegdatum,
	-EingangsrechnungBruttoGesamt.fWert AS fWert,
	EingangsrechnungAusgangszahlungen.fZahlung AS fZahlung,
	-EingangsrechnungBruttoGesamt.fWert - EingangsrechnungAusgangszahlungen.fZahlung AS fWertOffen,
	tWaehrung.cEAMapping AS cStandardWaehrungISO
FROM 
	dbo.tEingangsrechnung
JOIN 
	dbo.tWaehrung 
	ON tWaehrung.nStandard = 1
JOIN
	(
		SELECT 
			tEingangsrechnung.kEingangsrechnung,
			SUM(ISNULL(dbo.tEingangsrechnungPos.fMenge, 0.0) 
				* ISNULL(tEingangsrechnungPos.fEKNetto, 0.0) 
				* (1.0 + (ISNULL(tEingangsrechnungPos.fMwSt, 0.0) / 100)) 
				+ ISNULL(tEingangsrechnungPosZusatzkosten.dWert, 0.0)) AS fWert
		FROM dbo.tEingangsrechnung 
		JOIN dbo.tEingangsrechnungPos 
			ON tEingangsrechnungPos.kEingangsrechnung = tEingangsrechnung.kEingangsrechnung  
		LEFT JOIN   
		(  
			SELECT 
				tEingangsrechnungPosZusatzkosten.kEingangsrechnungPos, 
				SUM(ISNULL(tEingangsrechnungPosZusatzkosten.dWert, 0.0) 
					* (1.0 + (ISNULL(tEingangsrechnungPosZusatzkosten.fMwst, 0.0) / 100))) AS dWert  
			FROM 
				dbo.tEingangsrechnungPosZusatzkosten 
			JOIN 
				dbo.tEingangsrechnungzusatzkosten 
				ON tEingangsrechnungPosZusatzkosten.kZusatzkosten = tEingangsrechnungzusatzkosten.kZusatzkosten  
			WHERE 
				tEingangsrechnungzusatzkosten.nPreis = 1  
			GROUP BY 
				tEingangsrechnungPosZusatzkosten.kEingangsrechnungPos  
		) AS tEingangsrechnungPosZusatzkosten 
			ON tEingangsrechnungPosZusatzkosten.kEingangsrechnungPos = tEingangsrechnungPos.kEingangsrechnungPos
		GROUP BY 
			tEingangsrechnung.kEingangsrechnung, tEingangsrechnung.cFremdbelegnummer
	) AS EingangsrechnungBruttoGesamt
	ON EingangsrechnungBruttoGesamt.kEingangsrechnung = tEingangsrechnung.kEingangsrechnung
JOIN
	(
		SELECT
			tEingangsrechnung.kEingangsrechnung,
			SUM(ISNULL(tZahlung.fBetrag, 0.0)) AS fZahlung
		FROM
			dbo.tEingangsrechnung
		LEFT JOIN 
			dbo.tZahlung
			ON tZahlung.kEingangsrechnung = tEingangsrechnung.kEingangsrechnung
		GROUP BY 
			tEingangsrechnung.kEingangsrechnung
	)
	AS EingangsrechnungAusgangszahlungen
	ON EingangsrechnungAusgangszahlungen.kEingangsrechnung = tEingangsrechnung.kEingangsrechnung
WHERE 
	tEingangsrechnung.dBezahlt IS NULL 
	AND ISNULL(tEingangsrechnung.nDeleted, 0) = 0
GO
