USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[lvZahlungsausganguebersicht]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[lvZahlungsausganguebersicht]
AS
SELECT
    tZahlungsabgleichAusgang.kZahlungsabgleichAusgang,
    NULLIF(tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang, 0) AS kZahlungsabgleichUmsatzEingang,
    NULLIF(tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzAusgang, 0) AS kZahlungsabgleichUmsatzAusgang,
    tZahlungsabgleichAusgang.kZahlungAusgang,
    tZahlungsabgleichAusgang.kZahlungEingang,
    tZahlungsabgleichAusgang.kZahlungsabgleichModul,
    tZahlungsabgleichAusgang.cKontoIdentifikation,
    NULLIF(tZahlungsabgleichAusgang.kGutschrift, 0) AS kGutschrift,
    tAuftrag.kAuftrag AS kAuftrag,
    tgutschrift.kRechnung AS kRechnung,
    NULLIF(tZahlungsabgleichAusgang.kEingangsrechnung, 0) AS kEingangsrechnung,
    NULLIF(tZahlungsabgleichAusgang.kKunde, 0) AS kKunde,
    NULLIF(tZahlungsabgleichAusgang.kLieferant, 0) AS kLieferant,
    tZahlungsabgleichAusgang.cKonto,
    tZahlungsabgleichAusgang.cKontozusatz,
    tZahlungsabgleichAusgang.cName,
    tZahlungsabgleichAusgang.fBetrag,
    tZahlungsabgleichAusgang.cWaehrungISO,
    tZahlungsabgleichAusgang.cInternerKommentar,
    tZahlungsabgleichAusgang.cVerwendungszweck,
    tZahlungsabgleichAusgang.cTransaktionID,
    tZahlungsabgleichAusgang.dAnlagedatum,
    tZahlungsabgleichAusgang.kAnlagebenutzer,
    tZahlungsabgleichAusgang.dBuchungsdatum,
    tZahlungsabgleichAusgang.kBuchungsbenutzer,
    CASE
        WHEN tgutschrift.kGutschrift IS NOT NULL
            THEN tgutschrift.cGutschriftNr
        WHEN tEingangsrechnung.kEingangsrechnung IS NOT NULL
            THEN tEingangsrechnung.cEigeneRechnungsnummer
        WHEN tAuftrag.kAuftrag IS NOT NULL
            THEN tAuftrag.cAuftragsNr
        ELSE NULL
    END AS cBelegNr,
	CASE
        WHEN tgutschrift.kGutschrift IS NOT NULL
            THEN tgutschrift.fPreis
        WHEN tEingangsrechnung.kEingangsrechnung IS NOT NULL
            THEN lvEingangsrechnung.fBrutto
        WHEN tAuftrag.kAuftrag IS NOT NULL
            THEN tAuftragEckdaten.fWertBrutto
        ELSE NULL
    END AS fBezugsvorgangBetrag,
	CASE
        WHEN tgutschrift.kGutschrift IS NOT NULL
            THEN tgutschrift.cWaehrung
        WHEN tEingangsrechnung.kEingangsrechnung IS NOT NULL
            THEN StandardWaehrung.cEAMapping
        WHEN tAuftrag.kAuftrag IS NOT NULL
            THEN tAuftrag.cWaehrung
        ELSE NULL
    END AS fBezugsvorgangWaehrungISO,
    ReferenzUmsatz.fBetrag AS fReferenzBetrag,
    ReferenzUmsatz.cWaehrungISO AS cReferenzWaehrungISO,
    ReferenzUmsatz.cTransaktionID AS cReferenzTransaktionID,
    Restbetrag.fBetrag AS fReferenzBetragOffen,
    tZahlungsabgleichAusgang.dFehlerdatum,
    tZahlungsabgleichAusgang.cFehler
FROM dbo.tZahlungsabgleichAusgang AS tZahlungsabgleichAusgang
LEFT JOIN dbo.tZahlungsabgleichUmsatz AS ReferenzUmsatz ON ReferenzUmsatz.kZahlungsabgleichUmsatz = tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang
LEFT JOIN dbo.tEingangsrechnung ON tEingangsrechnung.kEingangsrechnung = tZahlungsabgleichAusgang.kEingangsrechnung
LEFT JOIN Beschaffung.lvEingangsrechnung ON lvEingangsrechnung.kEingangsrechnung = tEingangsrechnung.kEingangsrechnung
LEFT JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = tZahlungsabgleichAusgang.kGutschrift
LEFT JOIN dbo.tZahlung AS ReferenzZahlung ON ReferenzZahlung.kZahlung = tZahlungsabgleichAusgang.kZahlungEingang
LEFT JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = ReferenzZahlung.kBestellung
LEFT JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN (SELECT TOP(1) * FROM dbo.tWaehrung WHERE nStandard = 1 ORDER BY kWaehrung) AS StandardWaehrung ON 1=1
OUTER APPLY
(
    SELECT SUM(AlleAusgaenge.fBetrag) - tZahlungsabgleichAusgang.fBetrag
    FROM dbo.tZahlungsabgleichAusgang AS AlleAusgaenge
    WHERE AlleAusgaenge.kZahlungsabgleichUmsatzEingang = tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang
) AS Restbetrag(fBetrag);
GO
