USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[lvRechnungZahlungszuordnung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[lvRechnungZahlungszuordnung] AS
	SELECT
		tRechnung.kRechnung AS kRechnung,
		tRechnung.cRechnungsnr AS cRechnungsnummer,
		tRechnungEckdaten.fVkBruttoGesamt AS fRechnungswert,
		tRechnung.dErstellt AS dBelegdatum,
		tkunde.cKundenNr AS cKundennummer,
		tRechnungEckdaten.fVkBruttoGesamt AS fBetrag,
		tRechnungEckdaten.fMahngebuehr AS fMahngebuehr,
		tRechnung.kZahlungsart AS kZahlungsart,
		tRechnung.fSkonto AS fSkontowertInProzent,
		tRechnung.cZahlungsart AS cZahlungsartbezeichnung,
		Rechungsadresse.cFirma AS cFirma,
		Rechungsadresse.cVorname AS cVorname,
		Rechungsadresse.cName AS cName,
		tRechnungEckdaten.fOffenerWert AS fOffenerWert,
		tRechnungEckdaten.nZahlungStatus AS nZahlungStatus,
		Auftragsdaten.cBestellnummer AS cBestellnummer,
		Auftragsdaten.fAuftragswert AS fAuftragswert,
		Auftragsdaten.dBestelldatum AS dBestelldatum,
		Auftragsdaten.cLieferscheinnummer AS cLieferscheinnummer,
		ISNULL(NULLIF(tRechnung.cExterneAuftragsnummer, ''), Auftragsdaten.cExterneBestellNr) AS cExterneBestellNr,
		Auftragsdaten.cVerwendungszweck AS cVerwendungszweck,
		Auftragsdaten.cUsername AS cUsername,
		tRechnung.nStorno
	FROM Rechnung.tRechnung
	JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
	JOIN Rechnung.vRechnungRechnungsadresse AS Rechungsadresse ON Rechungsadresse.kRechnung = tRechnung.kRechnung
	LEFT JOIN dbo.tkunde ON tkunde.kKunde = tRechnung.kKunde
	LEFT JOIN
	(
		SELECT
			tAuftragRechnung.kRechnung AS kRechnung,
			tAuftrag.cAuftragsNr AS cBestellnummer,
			tAuftragEckdaten.fWertBrutto AS fAuftragswert,
			tAuftrag.dErstellt AS dBestelldatum,
			tLieferschein.cLieferscheinNr AS cLieferscheinnummer,
			tAuftrag.cExterneAuftragsnummer AS cExterneBestellNr,
			tAuftragZahlungsinfo.cVerwendungszweck AS cVerwendungszweck,
			tAuftrag.cEbayUsername AS cUsername
		FROM Verkauf.tAuftragRechnung
		JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
		JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
		LEFT JOIN Verkauf.tAuftragZahlungsinfo ON tAuftragZahlungsinfo.kAuftrag = tAuftrag.kAuftrag
		LEFT JOIN dbo.tLieferschein ON tLieferschein.kBestellung = tAuftrag.kAuftrag
	) AS Auftragsdaten ON Auftragsdaten.kRechnung = tRechnung.kRechnung AND tRechnungEckdaten.nRechnungTyp = 0
	WHERE tRechnung.cRechnungsnr != ''
GO
