USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[lvZahlung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[lvZahlung]
AS
   SELECT tZahlung.kZahlung,
	      tZahlung.cName,
	      tZahlung.dDatum,
	      tZahlung.fBetrag,
	      tAuftrag.kAuftrag AS kBestellung,
	      tAuftrag.cAuftragsNr AS cBestellNr,
	      tRechnung.cRechnungsnr AS cRechnungsNr,
	      tRechnung.kRechnung AS kRechnung,
	      ISNULL(tZahlung.kBenutzer, 0) AS kBenutzer,
	      tbenutzer.cName AS cBenutzerName,
	      ISNULL(tZahlung.nAnzahlung, 0) AS nIstAnzahlung,
	      tZahlung.cHinweis,
	      ISNULL(tZahlung.kZahlungsart, 0) AS kZahlungsart,
	      tZahlungsart.cName AS cZahlungsartName,
	      ISNULL(tZahlung.nKeinExport, 0) AS nIstKeinExport,
	      tZahlung.cSKRManuell,
	      tZahlung.cExternalTransactionId AS cExterneTransaktionsid,
	      tZahlung.kZahlungsabgleichUmsatz,
	      ISNULL(tZahlung.nZuweisungstyp, 0) AS nZuweisungstyp,
	      tZahlung.nZahlungstyp,
	      tZahlung.cZuweisungsinfo,
	      tZahlung.nZuweisungswertung,
	      tZahlungsabgleichUmsatz.cVerwendungszweck AS cUmsatzVerwendungszweck,
	      tZahlungsabgleichUmsatz.cTransaktionID AS cUmsatzTransaktionsid,
	      ISNULL(KundeRechnung.cKundenNr, KundeAuftrag.cKundenNr) AS cKundenNr,
	      ISNULL(vRechnungRechnungsadresse.cName, vAuftragRechnungsadresse.cName) AS cRechnungsName,
	      ISNULL(vRechnungRechnungsadresse.cVorname, vAuftragRechnungsadresse.cVorname) AS cRechnungsVorname,
	      ISNULL(vRechnungRechnungsadresse.cFirma, vAuftragRechnungsadresse.cFirma) AS cRechnungsFirma,
	      ISNULL(vRechnungRechnungsadresse.cStrasse, vAuftragRechnungsadresse.cStrasse) AS cRechnungsStrasse,
	      ISNULL(vRechnungRechnungsadresse.cPLZ, vAuftragRechnungsadresse.cPLZ) AS cRechnungsPLZ,
	      ISNULL(vRechnungRechnungsadresse.cOrt, vAuftragRechnungsadresse.cOrt) AS cRechnungsOrt
     FROM dbo.tZahlung
LEFT JOIN eazybusiness.dbo.tbenutzer ON tbenutzer.kBenutzer = tZahlung.kBenutzer
LEFT JOIN dbo.tZahlungsart ON tZahlungsart.kZahlungsart = tZahlung.kZahlungsart
LEFT JOIN dbo.tZahlungsabgleichUmsatz ON tZahlungsabgleichUmsatz.kZahlungsabgleichUmsatz = tZahlung.kZahlungsabgleichUmsatz
LEFT JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tZahlung.kBestellung AND (tZahlung.kRechnung IS NULL OR tZahlung.kRechnung = 0) AND (tZahlung.kGutschrift IS NULL OR tZahlung.kGutschrift = 0)
LEFT JOIN Verkauf.vAuftragRechnungsadresse ON vAuftragRechnungsadresse.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN dbo.tkunde AS KundeAuftrag ON KundeAuftrag.kKunde = tAuftrag.kKunde
LEFT JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tZahlung.kRechnung AND (tZahlung.kGutschrift IS NULL OR tZahlung.kGutschrift = 0)
LEFT JOIN Rechnung.vRechnungRechnungsadresse ON vRechnungRechnungsadresse.kRechnung = tRechnung.kRechnung
LEFT JOIN dbo.tkunde AS KundeRechnung ON KundeRechnung.kKunde = tRechnung.kKunde
WHERE tAuftrag.kAuftrag IS NOT NULL OR tRechnung.kRechnung IS NOT NULL
GO
