USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[lvZahlungsausgangLogeintrag]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[lvZahlungsausgangLogeintrag]
AS
SELECT tZahlungsausgangLogeintrag.kZahlungsausgangLogeintrag,
	   tZahlungsausgangLogeintrag.kZahlungsabgleichLogsitzung,
	   tZahlungsausgangLogeintrag.dZeitpunkt,
	   tZahlungsausgangLogeintrag.nSchweregrad,
	   tZahlungsausgangLogeintrag.cMeldung,
	   tZahlungsausgangLogeintrag.kZahlungsabgleichModul,
	   tZahlungsausgangLogeintrag.cKontoIdentifikation,
	   tZahlungsausgangLogeintrag.kKunde,
	   tkunde.cKundenNr,
	   tZahlungsausgangLogeintrag.kGutschrift,
	   tgutschrift.cGutschriftNr,
	   tZahlungsausgangLogeintrag.fBetrag,
	   tZahlungsausgangLogeintrag.cVerwendungszweck,
	   tZahlungsausgangLogeintrag.dAnlagedatum,
	   tZahlungsausgangLogeintrag.kAnlagebenutzer,
	   Anlagebenutzer.cName AS cAnlagebenutzerName,
	   tZahlungsausgangLogeintrag.dBuchungsdatum,
	   tZahlungsausgangLogeintrag.kBuchungsbenutzer,
	   Buchungsbenutzer.cName AS cBuchungsbenutzerName
FROM dbo.tZahlungsausgangLogeintrag
LEFT JOIN dbo.tgutschrift ON tgutschrift.kGutschrift = tZahlungsausgangLogeintrag.kGutschrift
LEFT JOIN eazybusiness.dbo.tbenutzer AS Anlagebenutzer ON Anlagebenutzer.kBenutzer = tZahlungsausgangLogeintrag.kAnlagebenutzer
LEFT JOIN eazybusiness.dbo.tbenutzer AS Buchungsbenutzer ON Buchungsbenutzer.kBenutzer = tZahlungsausgangLogeintrag.kBuchungsbenutzer
LEFT JOIN dbo.tKunde ON tkunde.kKunde = tgutschrift.kKunde;
GO
