USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[vOffenerPostenAuftrag]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[vOffenerPostenAuftrag]
AS
SELECT
	tAuftrag.kAuftrag AS kBestellung,
	tAuftrag.cAuftragsNr AS cBestellNr,
	tAuftrag.cExterneAuftragsnummer AS cExterneBestellNr,
	tAuftragEckdaten.fWertBrutto AS fWert,
	tAuftragEckdaten.fZahlung AS fZahlung,
	tAuftragEckdaten.fOffenerWertOhneStorno AS fWertOffen,
	Kunde.cKundenNr AS cKundenNr,
	Rechnungsadresse.cFirma AS cRechnungsadresseFirma,
	Rechnungsadresse.cName AS cRechnungsadresseName,
	Rechnungsadresse.cVorname AS cRechnungsadresseVorname,
	Lieferadresse.cFirma AS cLieferadresseFirma,
	Lieferadresse.cName AS cLieferadresseName,
	Lieferadresse.cVorname AS cLieferadresseVorname,
	tAuftragEckdaten.fWertBrutto * ISNULL(tAuftrag.fSkonto, 0.0) / 100.0 AS fSkontoBetrag,
	ISNULL(Mahngebuehren.fMahngebuehr, 0.0) AS fMahngebuehr,
	ebay_transaction.ItemID AS cItemID,
	ebay_transaction.TransactionID AS cTransactionID,
	tAuftrag.cEbayUsername AS cEbayBuyerUserId,
	tlieferschein.cLieferscheinNr AS cLieferscheinNr,
	tVersand.kVersand AS nPaketnummer,
	tVersand.cIdentCode AS cTrackingID,
	tAuftragZahlungsinfo.cVerwendungszweck AS cEbayCheckoutVerwendungszweck,
	tAuftrag.dErstellt AS dErstellt,
	tAuftrag.cWaehrung AS cWaehrungIso,
	tAuftrag.nStorno AS nStorno,
	AmaPayReferenz.cWertVarchar AS cPaymentBestellNr
FROM Verkauf.tAuftrag
JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
JOIN Verkauf.vAuftragRechnungsadresse AS Rechnungsadresse ON Rechnungsadresse.kAuftrag = tAuftrag.kAuftrag
JOIN Verkauf.vAuftragLieferadresse AS Lieferadresse ON Lieferadresse.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN Verkauf.tAuftragZahlungsinfo ON tAuftragZahlungsinfo.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN dbo.tkunde AS Kunde ON Kunde.kKunde = tAuftrag.kKunde
LEFT JOIN dbo.tLieferschein ON tLieferschein.kBestellung = tAuftrag.kAuftrag
LEFT JOIN dbo.tVersand ON tVersand.kLieferschein = tLieferschein.kLieferschein
LEFT JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftrag = tAuftrag.kAuftrag AND tAuftragPosition.kEbayTransaction IS NOT NULL
LEFT JOIN dbo.ebay_transaction ON tAuftragPosition.kEbayTransaction = ebay_transaction.kTransaction
LEFT JOIN (
	SELECT
		tAuftragAttribut.kAuftrag,
		tAttributSprache.cName,
		tAuftragAttributSprache.cWertVarchar
	FROM Verkauf.tAuftragAttribut
	JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAuftragAttribut.kAttribut
	JOIN Verkauf.tAuftragAttributSprache ON tAuftragAttributSprache.kAuftragAttribut = tAuftragAttribut.kAuftragAttribut
	WHERE tAttributSprache.cName = 'AmazonPay-Referenz'
) AS AmaPayReferenz	ON AmaPayReferenz.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN (
	SELECT tRechnungPosition.kAuftrag, MAX(tRechnungEckdaten.nRechnungTyp) AS nRechnungTyp
	FROM Rechnung.tRechnungPosition
	JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tRechnungPosition.kRechnung
	JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnungPosition.kRechnung
	WHERE tRechnung.nIstEntwurf = 0
	GROUP BY tRechnungPosition.kAuftrag
) AS RechnungStatus ON RechnungStatus.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN (
	SELECT tAuftragRechnung.kAuftrag, SUM(tRechnungEckdaten.fOffeneMahngebuehr) AS fMahngebuehr
	FROM Verkauf.tAuftragRechnung
	JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tAuftragRechnung.kRechnung
	GROUP BY tAuftragRechnung.kAuftrag
) AS Mahngebuehren ON Mahngebuehren.kAuftrag = tAuftrag.kAuftrag
WHERE
	(tAuftragEckdaten.nZahlungStatus <> 2 OR tAuftrag.nStorno = 1)
	AND tAuftrag.nType = 1
	AND (RechnungStatus.kAuftrag IS NULL OR RechnungStatus.nRechnungTyp > 0)
GO
