USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[vOffenerPostenRechnung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[vOffenerPostenRechnung]
AS
SELECT
	tRechnung.kRechnung AS kRechnung,
	tRechnung.cRechnungsnr AS cRechnungsnr,
	ISNULL(tRechnungEckdaten.fVkBruttoGesamt, 0.0) AS fWert,
	ISNULL(tRechnungEckdaten.fZahlung, 0.0) AS fZahlung,
	tRechnungEckdaten.fOffenerWert AS fWertOffen,
	Kunde.cKundenNr AS cKundenNr,
	Rechnungsadresse.cFirma AS cRechnungsadresseFirma,
	Rechnungsadresse.cName AS cRechnungsadresseName,
	Rechnungsadresse.cVorname AS cRechnungsadresseVorname,
	Lieferadresse.cFirma AS cLieferadresseFirma,
	Lieferadresse.cName AS cLieferadresseName,
	Lieferadresse.cVorname AS cLieferadresseVorname,
	tRechnungEckdaten.fVkBruttoGesamt * ISNULL(tRechnung.fSkonto, 0.0) / 100.0 AS fSkontoBetrag,
	tRechnungEckdaten.fMahngebuehr AS fMahngebuehr,
	tgutschrift.cGutschriftNr AS cGutschriftNr,
	tRechnung.dErstellt AS dErstellt,
	tRechnung.cWaehrung AS cWaehrungIso,
	0 AS nStorno,
	tRechnungZahlungsinfo.cVerwendungszweck AS cEbayCheckoutVerwendungszweck,
	Auftragsdaten.kAuftrag AS kAuftrag,
	Auftragsdaten.cBestellnummer AS cBestellNr,
	ISNULL(NULLIF(tRechnung.cExterneAuftragsnummer, ''), Auftragsdaten.cExterneBestellNr) AS cExterneBestellNr,
	Auftragsdaten.cEbayBuyerUserId AS cEbayBuyerUserId,
	Auftragsdaten.cEbayItemID AS cEbayItemID,
	Auftragsdaten.cLieferscheinnummer AS cLieferscheinnummer,
	Auftragsdaten.cTrackingID AS cTrackingID,
	Auftragsdaten.cPaymentBestellNr AS cPaymentBestellNr
FROM Rechnung.tRechnung
JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
JOIN Rechnung.vRechnungRechnungsadresse AS Rechnungsadresse ON Rechnungsadresse.kRechnung = tRechnung.kRechnung
JOIN Rechnung.vRechnungLieferadresse AS Lieferadresse ON Lieferadresse.kRechnung = tRechnung.kRechnung
LEFT JOIN Rechnung.tRechnungZahlungsinfo ON tRechnungZahlungsinfo.kRechnung = tRechnung.kRechnung
LEFT JOIN dbo.tkunde AS Kunde ON Kunde.kKunde = tRechnung.kKunde
LEFT JOIN dbo.tgutschrift AS tgutschrift ON tgutschrift.kRechnung = tRechnung.kRechnung
LEFT JOIN
(
	SELECT DISTINCT
		tAuftragRechnung.kRechnung AS kRechnung,
		tAuftrag.kAuftrag AS kAuftrag,
		tAuftrag.cAuftragsNr AS cBestellnummer,
		tLieferschein.cLieferscheinNr AS cLieferscheinnummer,
		tAuftrag.cExterneAuftragsnummer AS cExterneBestellNr,
		tAuftrag.cEbayUsername AS cEbayBuyerUserId,
		tVersand.cIdentCode AS cTrackingID,
		ebay_transaction.ItemID AS cEbayItemID,
		AmaPayReferenz.cWertVarchar AS cPaymentBestellNr
	FROM Verkauf.tAuftragRechnung
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	LEFT JOIN dbo.tLieferschein ON tLieferschein.kBestellung = tAuftrag.kAuftrag
	LEFT JOIN dbo.tVersand ON tVersand.kLieferschein = tLieferschein.kLieferschein
	LEFT JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftrag = tAuftrag.kAuftrag AND tAuftragPosition.kEbayTransaction IS NOT NULL
	LEFT JOIN dbo.ebay_transaction ON tAuftragPosition.kEbayTransaction = ebay_transaction.kTransaction
	LEFT JOIN
	(
		SELECT
			tAuftragAttribut.kAuftrag,
			tAttributSprache.cName,
			tAuftragAttributSprache.cWertVarchar
		FROM Verkauf.tAuftragAttribut
		JOIN dbo.tAttributSprache ON tAttributSprache.kAttribut = tAuftragAttribut.kAttribut
		JOIN Verkauf.tAuftragAttributSprache ON tAuftragAttributSprache.kAuftragAttribut = tAuftragAttribut.kAuftragAttribut
		WHERE tAttributSprache.cName = 'AmazonPay-Referenz'
	) AS AmaPayReferenz	ON AmaPayReferenz.kAuftrag = tAuftrag.kAuftrag
) AS Auftragsdaten
	ON Auftragsdaten.kRechnung = tRechnung.kRechnung
	AND tRechnungEckdaten.nRechnungTyp = 0
WHERE tRechnungEckdaten.nZahlungStatus <> 2 AND tRechnung.cRechnungsnr != ''
GO
