USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[vOffenerUmsatz]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[vOffenerUmsatz] AS
SELECT
	tZahlungsabgleichUmsatz.kZahlungsabgleichUmsatz AS kZahlungsabgleichUmsatz,
	tZahlungsabgleichUmsatz.kZahlungsabgleichModul AS kZahlungsabgleichModul,
	tZahlungsabgleichUmsatz.cKontoIdentifikation AS cKontoIdentifikation,
	tZahlungsabgleichUmsatz.cTransaktionID AS cTransaktionID,
	tZahlungsabgleichUmsatz.dBuchungsdatum AS dBuchungsdatum,
	tZahlungsabgleichUmsatz.fBetrag AS fBetrag,
	CASE WHEN tZahlungsabgleichUmsatz.nBuchungstyp = 50 THEN ISNULL(tZahlungsabgleichUmsatz.fBetrag - ISNULL(Kosten.fBetrag, 0.0), 0.0) ELSE ISNULL(tZahlungsabgleichUmsatz.fBetrag - ISNULL(Zahlung.fBetrag, 0.0) - ISNULL(RueckzahlungenOhneVorgangsbezug.fBetragSumme, 0.0), 0.0) END AS fBetragOffen,
	tZahlungsabgleichUmsatz.cWaehrungISO AS cWaehrungISO,
	tZahlungsabgleichUmsatz.cName AS cName,
	tZahlungsabgleichUmsatz.cKonto AS cKonto,
	tZahlungsabgleichUmsatz.cKontozusatz AS cKontozusatz,
	tZahlungsabgleichUmsatz.cVerwendungszweck AS cVerwendungszweck,
	tZahlungsabgleichUmsatz.cInternerKommentar AS cInternerKommentar,
	tZahlungsabgleichUmsatz.dAbgleichszeitpunkt AS dAbgleichszeitpunkt,
	tZahlungsabgleichUmsatz.kBenutzer AS kBenutzer,
	tZahlungsabgleichUmsatz.nSichtbar AS nSichtbar,
	tZahlungsabgleichUmsatz.nBuchungstyp AS nBuchungstyp,
	tZahlungsabgleichUmsatz.cReferenzTransaktionID AS cReferenzTransaktionID,
	tZahlungsabgleichUmsatz.nStatus AS nStatus
FROM dbo.tZahlungsabgleichUmsatz
LEFT JOIN (
	SELECT 
		kZahlungsabgleichUmsatz, 
		SUM(fBetrag) AS fBetrag
    FROM dbo.tZahlung
    WHERE (kZahlungsabgleichUmsatz <> 0) AND (nZahlungstyp <> 2)
    GROUP BY kZahlungsabgleichUmsatz
) AS Zahlung ON Zahlung.kZahlungsabgleichUmsatz = tZahlungsabgleichUmsatz.kZahlungsabgleichUmsatz 
LEFT JOIN (
	SELECT 
		kZahlungsabgleichUmsatz, 
		SUM(fSumme) AS fBetrag
    FROM Verkauf.tAuftragkosten
    WHERE (kZahlungsabgleichUmsatz <> 0) AND (nKostentyp = 8)
    GROUP BY kZahlungsabgleichUmsatz
) AS Kosten ON Kosten.kZahlungsabgleichUmsatz = tZahlungsabgleichUmsatz.kZahlungsabgleichUmsatz
LEFT JOIN (
	SELECT
		tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang,
		SUM(fBetrag) AS fBetragSumme
	FROM dbo.tZahlungsabgleichAusgang
	WHERE tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang > 0
		AND	(tZahlungsabgleichAusgang.kZahlungEingang IS NULL OR tZahlungsabgleichAusgang.kZahlungEingang = 0)
		AND	(tZahlungsabgleichAusgang.kZahlungAusgang IS NULL OR tZahlungsabgleichAusgang.kZahlungAusgang = 0)
	GROUP BY tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang
) AS RueckzahlungenOhneVorgangsbezug ON RueckzahlungenOhneVorgangsbezug.kZahlungsabgleichUmsatzEingang = tZahlungsabgleichUmsatz.kZahlungsabgleichUmsatz
WHERE (ABS(CASE WHEN tZahlungsabgleichUmsatz.nBuchungstyp = 50 THEN ISNULL(tZahlungsabgleichUmsatz.fBetrag - ISNULL(Kosten.fBetrag, 0.0), 0.0) ELSE ISNULL(tZahlungsabgleichUmsatz.fBetrag - ISNULL(Zahlung.fBetrag, 0.0) - ISNULL(RueckzahlungenOhneVorgangsbezug.fBetragSumme, 0.0), 0.0) END) > 0)
GO
