USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[lvLogsitzung]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[lvLogsitzung]
AS
SELECT tZahlungsabgleichLogsitzung.kZahlungsabgleichLogsitzung,
	   tZahlungsabgleichLogsitzung.nTyp,
	   tZahlungsabgleichLogsitzung.kBenutzer,
	   tbenutzer.cName AS cBenutzername,
	   tZahlungsabgleichLogsitzung.cRechnername,
	   tZahlungsabgleichLogsitzung.dStart,
	   tZahlungsabgleichLogsitzung.dEnde,
	   tZahlungsabgleichLogsitzung.nStatus,
	   tZahlungsabgleichLogsitzung.cStatusmeldung
FROM dbo.tZahlungsabgleichLogsitzung
LEFT JOIN eazybusiness.dbo.tbenutzer ON tbenutzer.kBenutzer = tZahlungsabgleichLogsitzung.kBenutzer;
GO
