USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[lvAuftragZahlungszuordnung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[lvAuftragZahlungszuordnung] AS
	SELECT 
		vAuftrag.kAuftrag AS kBestellung,
		vAuftrag.cAuftragsNr AS cBestellnummer,
		vAuftragEckdaten.fWertBrutto AS fAuftragswert,
		vAuftrag.dErstellt AS dBelegdatum,
		vAuftrag.cEbayUsername AS cEbayBuyerUserId,
		tkunde.cKundenNr AS cKundennummer,
		tLieferschein.cLieferscheinNr AS cLieferscheinnummer,
		vAuftragEckdaten.fWertBrutto AS fBetrag,
		vAuftrag.kZahlungsart AS kZahlungsart,
		vAuftrag.fSkonto AS fSkontowertInProzent,
		tZahlungsart.cName AS cZahlungsartbezeichnung,
		vAuftrag.cExterneAuftragsnummer AS cExterneBestellNr,
		vAuftragZahlungsinfo.cVerwendungszweck AS cVerwendungszweck,
		Rechungsadresse.cFirma AS cFirma,
		Rechungsadresse.cVorname AS cVorname,
		Rechungsadresse.cName AS cName,		
		vAuftragEckdaten.fOffenerWertOhneStorno AS fOffenerWert,
		vAuftragEckdaten.nRechnungStatus AS nRechnungStatus,
		vAuftragEckdaten.nZahlungStatus AS nZahlungStatus,
		vAuftrag.nStorno
	FROM Verkauf.vAuftrag
	JOIN Verkauf.vAuftragEckdaten ON vAuftragEckdaten.kAuftrag = vAuftrag.kAuftrag
	JOIN Verkauf.vAuftragRechnungsadresse AS Rechungsadresse ON Rechungsadresse.kAuftrag = vAuftrag.kAuftrag
	LEFT JOIN Verkauf.vAuftragZahlungsinfo ON vAuftragZahlungsinfo.kAuftrag = vAuftrag.kAuftrag
	LEFT JOIN dbo.tZahlungsart ON tZahlungsart.kZahlungsart = vAuftrag.kZahlungsArt
	LEFT JOIN dbo.tkunde ON tkunde.kKunde = vAuftrag.kKunde
	LEFT JOIN dbo.tLieferschein ON tLieferschein.kBestellung = vAuftrag.kAuftrag
	LEFT JOIN (SELECT tRechnungPosition.kAuftrag, MAX(tRechnungEckdaten.nRechnungTyp) AS nRechnungTyp
			FROM Rechnung.tRechnungPosition
			JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tRechnungPosition.kRechnung
			JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnungPosition.kRechnung
			WHERE tRechnung.nIstEntwurf = 0
			GROUP BY tRechnungPosition.kAuftrag) AS RechnungStatus ON RechnungStatus.kAuftrag = vAuftrag.kAuftrag
	WHERE vAuftrag.nType = 1 AND (RechnungStatus.kAuftrag IS NULL OR RechnungStatus.nRechnungTyp > 0)
GO
