USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[vOffenerPostenEbay]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW
	[Zahlungsabgleich].[vOffenerPostenEbay]
AS

SELECT
	ebay_transaction.ItemID AS cItemId,
	ebay_transaction.kTransaction AS kEbayTransaction,
	ebay_buyer.UserID AS cEbayBuyerUserId,
	ebay_buyer.Name AS cEbayBuyerName,
	ebay_buyer.SA_Name AS cEbayShippingAddressName,
	ebay_checkout.kEbayCheckout AS kEbayCheckout,
	ebay_checkout.cVerwendungszweck AS cEbayCheckoutVerwendungszweck,
	ISNULL(ebay_checkout.fSumme, ebay_transaction.AmountPaid) AS fWert,
	ISNULL(ebay_checkout.dErstelltAm, ebay_transaction.CreateDate) AS dErstellt,
	ISNULL(ebay_item.Currency, ebay_alienitem.CurrencyID) AS cWaehrungIso
FROM
	dbo.ebay_transaction
JOIN
	dbo.ebay_buyer AS ebay_buyer ON ebay_buyer.kBuyer = ebay_transaction.kBuyer
LEFT JOIN
	dbo.ebay_checkoutpos AS ebay_checkoutpos ON ebay_checkoutpos.ItemID = ebay_transaction.ItemID AND ebay_checkoutpos.TransactionID = ebay_transaction.TransactionID
LEFT JOIN
	dbo.ebay_checkout AS ebay_checkout ON ebay_checkout.kEbayCheckout = ebay_checkoutpos.kEbayCheckout
LEFT JOIN 
	dbo.ebay_item AS ebay_item ON ebay_item.ItemID = ebay_checkoutpos.ItemID
LEFT JOIN
	dbo.ebay_alienitem AS ebay_alienitem ON ebay_alienitem.ItemID = ebay_checkoutpos.ItemID
WHERE
	(ebay_transaction.kBestellung IS NULL OR ebay_transaction.kBestellung = 0) AND (ebay_checkout.cPayPalTransactionID IS NULL OR ebay_checkout.cPayPalTransactionID = 'SIS') AND ebay_transaction.ConvertedAmountPaid = 0
GO
