USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[vOffenerPostenAuftragZahlung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[vOffenerPostenAuftragZahlung]
AS
SELECT
	tZahlung.kZahlung,
	tZahlung.fBetrag,
	tZahlung.dDatum,
	tZahlung.cExternalTransactionId AS cTransactionId,
	tAuftrag.kAuftrag AS kBestellung,
	tAuftrag.cAuftragsNr AS cBestellNr,
	tAuftrag.cExterneAuftragsnummer AS cExterneBestellNr,
	tkunde.cKundenNr AS cKundenNr,
	ebay_transaction.ItemID AS cEbayItemID,
	tAuftrag.cEbayUsername AS cEbayUserId,
	tAuftragEckdaten.fOffenerWertOhneStorno AS fBetragOffen,
	tAuftragEckdaten.fWertBrutto * ISNULL(tAuftrag.fSkonto, 0.0) / 100.0 AS fBetragSkonto,
	Rechnungsadresse.cFirma AS cRechnungsadresseFirma,
	Rechnungsadresse.cName AS cRechnungsadresseName,
	Rechnungsadresse.cVorname AS cRechnungsadresseVorname,
	Lieferadresse.cFirma AS cLieferadresseFirma,
	Lieferadresse.cName AS cLieferadresseName,
	Lieferadresse.cVorname AS cLieferadresseVorname,
	tlieferschein.cLieferscheinNr AS cLieferscheinNr,
	tVersand.cIdentCode AS cTrackingID,
	tVersand.kVersand AS nPaketnummer,
	tAuftragZahlungsinfo.cVerwendungszweck AS cEbayCheckoutVerwendungszweck,
	tAuftrag.cWaehrung AS cWaehrungIso
FROM dbo.tzahlung
JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tZahlung.kBestellung
JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
JOIN Verkauf.vAuftragRechnungsadresse AS Rechnungsadresse ON Rechnungsadresse.kAuftrag = tAuftrag.kAuftrag
JOIN Verkauf.vAuftragLieferadresse AS Lieferadresse ON Lieferadresse.kAuftrag = tAuftrag.kAuftrag
LEFT JOIN dbo.tkunde ON tkunde.kKunde = tAuftrag.kKunde
LEFT JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftrag = tAuftrag.kAuftrag AND tAuftragPosition.kEbayTransaction IS NOT NULL
LEFT JOIN dbo.ebay_transaction ON tAuftragPosition.kEbayTransaction = ebay_transaction.kTransaction
LEFT JOIN dbo.tLieferschein ON tLieferschein.kBestellung = tAuftrag.kAuftrag
LEFT JOIN dbo.tVersand ON tVersand.kLieferschein = tLieferschein.kLieferschein
LEFT JOIN Verkauf.tAuftragZahlungsinfo ON tAuftragZahlungsinfo.kAuftrag = tAuftrag.kAuftrag
WHERE
	tAuftrag.nType = 1 AND ((tZahlung.kZahlungsabgleichUmsatz IS NULL) OR (tZahlung.kZahlungsabgleichUmsatz = 0))
	AND (tAuftragZahlungsinfo.cPuiZahlungsinfo IS NULL OR tAuftragZahlungsinfo.cPuiZahlungsinfo = '')
	AND (tZahlung.kRechnung IS NULL OR tZahlung.kRechnung = 0)
	AND (tZahlung.kGutschrift IS NULL OR tZahlung.kGutschrift = 0)
GO
