USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[lvUmsatzuebersicht]    Script Date: 11.08.2025 17:23:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[lvUmsatzuebersicht] AS
	SELECT
		tZahlungsabgleichUmsatz.kZahlungsabgleichUmsatz AS kZahlungsabgleichUmsatz,
		tZahlungsabgleichUmsatz.cTransaktionID AS cTransaktionID,
		tZahlungsabgleichUmsatz.dAbgleichszeitpunkt AS dAbgleichszeitpunkt,
		tZahlungsabgleichUmsatz.kBenutzer AS kAbgleichsbenutzer,
		eazybusiness.dbo.tbenutzer.cName AS cAbgleichsbenutzername,
		tZahlungsabgleichUmsatz.dBuchungsdatum AS dBuchungsdatum,
		tZahlungsabgleichUmsatz.fBetrag AS fBetrag,
		tZahlungsabgleichUmsatz.cWaehrungISO AS cWaehrungISO,
		tZahlungsabgleichUmsatz.cName AS cName,
		tZahlungsabgleichUmsatz.cKonto AS cKonto,
		tZahlungsabgleichUmsatz.cKontozusatz AS cKontozusatz,
		tZahlungsabgleichUmsatz.cVerwendungszweck AS cVerwendungszweck,
		tZahlungsabgleichUmsatz.cInternerKommentar AS cInternerKommentar,
		tZahlungsabgleichUmsatz.kZahlungsabgleichModul AS kZahlungsabgleichModul,
		tZahlungsabgleichUmsatz.cKontoIdentifikation AS cKontoIdentifikation,
		CASE WHEN tZahlungsabgleichUmsatz.nBuchungstyp = 50 THEN ISNULL(Kosten.Anzahl, 0) ELSE ISNULL(ISNULL(Zahlungen.Anzahl, 0) + ISNULL(RueckzahlungenOhneVorgangsbezug.Anzahl, 0), 0) END AS nAnzahlZahlungszuweisungen, 
		CASE WHEN tZahlungsabgleichUmsatz.nBuchungstyp = 50 THEN ISNULL(Kosten.fBetrag, 0.0) ELSE ISNULL(ISNULL(Zahlungen.fBetragSumme, 0) + ISNULL(RueckzahlungenOhneVorgangsbezug.fBetragSumme, 0), 0) END AS fSummeZahlungszuweisungen, 
		tZahlungsabgleichUmsatz.nSichtbar AS nSichtbar,
		tZahlungsabgleichUmsatz.nBuchungstyp AS nBuchungstyp,
		tZahlungsabgleichUmsatz.cReferenzTransaktionID AS cReferenzTransaktionID,
		tZahlungsabgleichUmsatz.nStatus AS nStatus,
		tZahlungsabgleichUmsatz.cStatusText AS cStatusText,
		tZahlungsabgleichUmsatz.cReferenz AS cReferenz,
		tZahlungsabgleichUmsatz.cZusatzinformationen AS cZusatzinformationen
	FROM dbo.tZahlungsabgleichUmsatz
	JOIN eazybusiness.dbo.tbenutzer ON eazybusiness.dbo.tbenutzer.kBenutzer = dbo.tZahlungsabgleichUmsatz.kBenutzer
	LEFT JOIN (
		SELECT
			tZahlung.kZahlungsabgleichUmsatz,
			COUNT(tZahlung.kZahlungsabgleichUmsatz) AS Anzahl,
			SUM(fBetrag) AS fBetragSumme
		FROM dbo.tZahlung
		WHERE tZahlung.nZahlungstyp <> 2 AND tZahlung.kZahlungsabgleichUmsatz > 0
		GROUP BY tZahlung.kZahlungsabgleichUmsatz
	) AS Zahlungen ON Zahlungen.kZahlungsabgleichUmsatz = tZahlungsabgleichUmsatz.kZahlungsabgleichUmsatz
	LEFT JOIN
          (
		SELECT 
			kZahlungsabgleichUmsatz, 
			COUNT(kZahlungsabgleichUmsatz) AS Anzahl, 
			SUM(fSumme) AS fBetrag
		FROM Verkauf.tAuftragkosten
        WHERE (kZahlungsabgleichUmsatz <> 0) AND (nKostentyp = 8)
        GROUP BY kZahlungsabgleichUmsatz
	) AS Kosten ON Kosten.kZahlungsabgleichUmsatz = tZahlungsabgleichUmsatz.kZahlungsabgleichUmsatz 
	LEFT JOIN (
		SELECT
			tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang,
			COUNT(tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang) AS Anzahl,
			SUM(fBetrag) AS fBetragSumme
		FROM dbo.tZahlungsabgleichAusgang
		WHERE tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang > 0
			AND	(tZahlungsabgleichAusgang.kZahlungEingang IS NULL OR tZahlungsabgleichAusgang.kZahlungEingang = 0)
			AND	(tZahlungsabgleichAusgang.kZahlungAusgang IS NULL OR tZahlungsabgleichAusgang.kZahlungAusgang = 0)
		GROUP BY tZahlungsabgleichAusgang.kZahlungsabgleichUmsatzEingang
	) AS RueckzahlungenOhneVorgangsbezug ON RueckzahlungenOhneVorgangsbezug.kZahlungsabgleichUmsatzEingang = tZahlungsabgleichUmsatz.kZahlungsabgleichUmsatz
GO
