USE [eazybusiness]
GO
/****** Object:  View [Zahlungsabgleich].[vOffenerPostenRechnungZahlung]    Script Date: 11.08.2025 17:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Zahlungsabgleich].[vOffenerPostenRechnungZahlung]
AS
SELECT
	tZahlung.kZahlung,
	tZahlung.fBetrag,
	tZahlung.dDatum,
	tZahlung.cExternalTransactionId AS cTransactionId,
	tRechnung.kRechnung AS kRechnung,
	tRechnung.cRechnungsnr AS cRechnungsNr,
	tkunde.cKundenNr AS cKundenNr,
	tgutschrift.cGutschriftNr AS cGutschriftNr,
	tRechnungEckdaten.fOffenerWert AS fBetragOffen,
	tRechnungEckdaten.fVkBruttoGesamt * ISNULL(tRechnung.fSkonto, 0.0) / 100.0 AS fBetragSkonto,
	ISNULL(tZahlungsart.nMatchingOptionen, 0) AS nMatchingOptionen,
	tRechnungEckdaten.fMahngebuehr AS fMahngebuehr,
	Rechnungsadresse.cFirma AS cRechnungsadresseFirma,
	Rechnungsadresse.cName AS cRechnungsadresseName,
	Rechnungsadresse.cVorname AS cRechnungsadresseVorname,
	Lieferadresse.cFirma AS cLieferadresseFirma,
	Lieferadresse.cName AS cLieferadresseName,
	Lieferadresse.cVorname AS cLieferadresseVorname,
	tRechnungZahlungsinfo.cVerwendungszweck AS cEbayCheckoutVerwendungszweck,
	tRechnung.cWaehrung AS cWaehrungIso,
	Auftragsdaten.kAuftrag AS kAuftrag,
	Auftragsdaten.cBestellnummer AS cBestellNr,
	ISNULL(NULLIF(tRechnung.cExterneAuftragsnummer, ''), Auftragsdaten.cExterneBestellNr) AS cExterneBestellNr,
	Auftragsdaten.cEbayBuyerUserId AS cEbayBuyerUserId,
	Auftragsdaten.cEbayItemID AS cEbayItemID,
	Auftragsdaten.cLieferscheinnummer AS cLieferscheinnummer,
	Auftragsdaten.cTrackingID AS cTrackingID
FROM dbo.tzahlung
JOIN Rechnung.tRechnung ON tRechnung.kRechnung = tZahlung.kRechnung
JOIN Rechnung.tRechnungEckdaten ON tRechnungEckdaten.kRechnung = tRechnung.kRechnung
JOIN Rechnung.vRechnungRechnungsadresse AS Rechnungsadresse ON Rechnungsadresse.kRechnung = tRechnung.kRechnung
JOIN Rechnung.vRechnungLieferadresse AS Lieferadresse ON Lieferadresse.kRechnung = tRechnung.kRechnung
LEFT JOIN Rechnung.tRechnungZahlungsinfo ON tRechnungZahlungsinfo.kRechnung = tRechnung.kRechnung
LEFT JOIN dbo.tkunde AS tkunde ON tkunde.kKunde = tRechnung.kKunde
LEFT JOIN dbo.tZahlungsart AS tZahlungsart ON tZahlungsart.kZahlungsart = tRechnung.kZahlungsArt
LEFT JOIN dbo.tgutschrift ON tgutschrift.kRechnung = tRechnung.kRechnung
LEFT JOIN
(
	SELECT DISTINCT
		tAuftragRechnung.kRechnung AS kRechnung,
		tAuftrag.kAuftrag AS kAuftrag,
		tAuftrag.cAuftragsNr AS cBestellnummer,
		tLieferschein.cLieferscheinNr AS cLieferscheinnummer,
		tAuftrag.cExterneAuftragsnummer AS cExterneBestellNr,
		tAuftrag.cEbayUsername AS cEbayBuyerUserId,
		tVersand.cIdentCode AS cTrackingID,
		ebay_transaction.ItemID AS cEbayItemID
	FROM Verkauf.tAuftragRechnung
	JOIN Verkauf.tAuftrag ON tAuftrag.kAuftrag = tAuftragRechnung.kAuftrag
	JOIN Verkauf.tAuftragEckdaten ON tAuftragEckdaten.kAuftrag = tAuftrag.kAuftrag
	LEFT JOIN dbo.tLieferschein ON tLieferschein.kBestellung = tAuftrag.kAuftrag
	LEFT JOIN dbo.tVersand ON tVersand.kLieferschein = tLieferschein.kLieferschein
	LEFT JOIN Verkauf.tAuftragPosition ON tAuftragPosition.kAuftrag = tAuftrag.kAuftrag AND tAuftragPosition.kEbayTransaction IS NOT NULL
	LEFT JOIN dbo.ebay_transaction ON tAuftragPosition.kEbayTransaction = ebay_transaction.kTransaction
) AS Auftragsdaten ON Auftragsdaten.kRechnung = tRechnung.kRechnung AND tRechnungEckdaten.nRechnungTyp = 0
WHERE
	(tZahlung.kZahlungsabgleichUmsatz IS NULL OR tZahlung.kZahlungsabgleichUmsatz = 0)
	AND (tRechnungZahlungsinfo.cPuiZahlungsinfo IS NULL OR tRechnungZahlungsinfo.cPuiZahlungsinfo = '')
	AND tRechnung.cRechnungsnr != ''
GO
